<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_10352_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{102,218},{70,97}}</string>
        <key>offset</key>
        <string>{-35,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,97}}</string>
        <key>sourceSize</key>
        <string>{70,97}</string>
      </dict>
      <key>sfx_10352_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,139},{71,100}}</string>
        <key>offset</key>
        <string>{-35,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,100}}</string>
        <key>sourceSize</key>
        <string>{71,100}</string>
      </dict>
      <key>sfx_10352_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{102,144},{72,100}}</string>
        <key>offset</key>
        <string>{-36,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,100}}</string>
        <key>sourceSize</key>
        <string>{72,100}</string>
      </dict>
      <key>sfx_10352_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,356},{72,96}}</string>
        <key>offset</key>
        <string>{-35,64}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,96}}</string>
        <key>sourceSize</key>
        <string>{72,96}</string>
      </dict>
      <key>sfx_10352_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{112,69},{73,101}}</string>
        <key>offset</key>
        <string>{-35,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,101}}</string>
        <key>sourceSize</key>
        <string>{73,101}</string>
      </dict>
      <key>sfx_10352_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,212},{72,100}}</string>
        <key>offset</key>
        <string>{-35,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,100}}</string>
        <key>sourceSize</key>
        <string>{72,100}</string>
      </dict>
      <key>sfx_10352_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,69},{68,101}}</string>
        <key>offset</key>
        <string>{-34,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,101}}</string>
        <key>sourceSize</key>
        <string>{68,101}</string>
      </dict>
      <key>sfx_10352_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{112,0},{67,102}}</string>
        <key>offset</key>
        <string>{-34,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,102}}</string>
        <key>sourceSize</key>
        <string>{67,102}</string>
      </dict>
      <key>sfx_10352_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{67,110}}</string>
        <key>offset</key>
        <string>{-34,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,110}}</string>
        <key>sourceSize</key>
        <string>{67,110}</string>
      </dict>
      <key>sfx_10352_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,286},{68,97}}</string>
        <key>offset</key>
        <string>{-34,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,97}}</string>
        <key>sourceSize</key>
        <string>{68,97}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_10352_0.png</string>
      <key>size</key>
      <string>{256,512}</string>
      <key>textureFileName</key>
      <string>sfx_10352_0.png</string>
    </dict>
  </dict>
</plist>