<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_33005_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1636},{279,268}}</string>
        <key>offset</key>
        <string>{-104,108}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{279,268}}</string>
        <key>sourceSize</key>
        <string>{279,268}</string>
      </dict>
      <key>sfx_33005_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1366},{310,268}}</string>
        <key>offset</key>
        <string>{-139,108}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{310,268}}</string>
        <key>sourceSize</key>
        <string>{310,268}</string>
      </dict>
      <key>sfx_33005_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{333,1278},{311,267}}</string>
        <key>offset</key>
        <string>{-141,107}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{311,267}}</string>
        <key>sourceSize</key>
        <string>{311,267}</string>
      </dict>
      <key>sfx_33005_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{780,498},{239,370}}</string>
        <key>offset</key>
        <string>{-62,209}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{239,370}}</string>
        <key>sourceSize</key>
        <string>{239,370}</string>
      </dict>
      <key>sfx_33005_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{345,1042},{234,332}}</string>
        <key>offset</key>
        <string>{-47,171}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{234,332}}</string>
        <key>sourceSize</key>
        <string>{234,332}</string>
      </dict>
      <key>sfx_33005_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1113},{331,251}}</string>
        <key>offset</key>
        <string>{-23,90}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{331,251}}</string>
        <key>sourceSize</key>
        <string>{331,251}</string>
      </dict>
      <key>sfx_33005_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,661},{378,254}}</string>
        <key>offset</key>
        <string>{-36,93}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{378,254}}</string>
        <key>sourceSize</key>
        <string>{378,254}</string>
      </dict>
      <key>sfx_33005_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{380,718},{322,344}}</string>
        <key>offset</key>
        <string>{-26,183}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{322,344}}</string>
        <key>sourceSize</key>
        <string>{322,344}</string>
      </dict>
      <key>sfx_33005_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{218,460}}</string>
        <key>offset</key>
        <string>{-17,299}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{218,460}}</string>
        <key>sourceSize</key>
        <string>{218,460}</string>
      </dict>
      <key>sfx_33005_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,220},{196,414}}</string>
        <key>offset</key>
        <string>{-5,253}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,414}}</string>
        <key>sourceSize</key>
        <string>{196,414}</string>
      </dict>
      <key>sfx_33005_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,917},{194,343}}</string>
        <key>offset</key>
        <string>{-4,183}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{194,343}}</string>
        <key>sourceSize</key>
        <string>{194,343}</string>
      </dict>
      <key>sfx_33005_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{823,239},{191,255}}</string>
        <key>offset</key>
        <string>{-1,95}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{191,255}}</string>
        <key>sourceSize</key>
        <string>{191,255}</string>
      </dict>
      <key>sfx_33005_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{679,1208},{328,230}}</string>
        <key>offset</key>
        <string>{-158,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{328,230}}</string>
        <key>sourceSize</key>
        <string>{328,230}</string>
      </dict>
      <key>sfx_33005_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{646,1440},{287,224}}</string>
        <key>offset</key>
        <string>{-92,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{287,224}}</string>
        <key>sourceSize</key>
        <string>{287,224}</string>
      </dict>
      <key>sfx_33005_0_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{726,870},{336,242}}</string>
        <key>offset</key>
        <string>{-110,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{336,242}}</string>
        <key>sourceSize</key>
        <string>{336,242}</string>
      </dict>
      <key>sfx_33005_0_0015.png</key>
      <dict>
        <key>frame</key>
        <string>{{416,239},{405,257}}</string>
        <key>offset</key>
        <string>{-158,96}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{405,257}}</string>
        <key>sourceSize</key>
        <string>{405,257}</string>
      </dict>
      <key>sfx_33005_0_0016.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,0},{439,237}}</string>
        <key>offset</key>
        <string>{-200,76}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{439,237}}</string>
        <key>sourceSize</key>
        <string>{439,237}</string>
      </dict>
      <key>sfx_33005_0_0017.png</key>
      <dict>
        <key>frame</key>
        <string>{{312,1547},{272,284}}</string>
        <key>offset</key>
        <string>{-38,123}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{272,284}}</string>
        <key>sourceSize</key>
        <string>{272,284}</string>
      </dict>
      <key>sfx_33005_0_0018.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,418},{241,393}}</string>
        <key>offset</key>
        <string>{-13,232}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{241,393}}</string>
        <key>sourceSize</key>
        <string>{241,393}</string>
      </dict>
      <key>sfx_33005_0_0019.png</key>
      <dict>
        <key>frame</key>
        <string>{{395,498},{218,383}}</string>
        <key>offset</key>
        <string>{-6,222}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{218,383}}</string>
        <key>sourceSize</key>
        <string>{218,383}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_33005_0.png</string>
      <key>size</key>
      <string>{1024,2048}</string>
      <key>textureFileName</key>
      <string>sfx_33005_0.png</string>
    </dict>
  </dict>
</plist>