<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_10202_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{356,0},{176,260}}</string>
        <key>offset</key>
        <string>{-81,167}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,260}}</string>
        <key>sourceSize</key>
        <string>{176,260}</string>
      </dict>
      <key>sfx_10202_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,264},{205,261}}</string>
        <key>offset</key>
        <string>{-81,168}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{205,261}}</string>
        <key>sourceSize</key>
        <string>{205,261}</string>
      </dict>
      <key>sfx_10202_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{263,790},{176,260}}</string>
        <key>offset</key>
        <string>{-81,168}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,260}}</string>
        <key>sourceSize</key>
        <string>{176,260}</string>
      </dict>
      <key>sfx_10202_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{348,526},{210,260}}</string>
        <key>offset</key>
        <string>{-81,168}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{210,260}}</string>
        <key>sourceSize</key>
        <string>{210,260}</string>
      </dict>
      <key>sfx_10202_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{386,262},{174,260}}</string>
        <key>offset</key>
        <string>{-80,168}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{174,260}}</string>
        <key>sourceSize</key>
        <string>{174,260}</string>
      </dict>
      <key>sfx_10202_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{534,0},{175,260}}</string>
        <key>offset</key>
        <string>{-80,168}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{175,260}}</string>
        <key>sourceSize</key>
        <string>{175,260}</string>
      </dict>
      <key>sfx_10202_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{711,0},{172,260}}</string>
        <key>offset</key>
        <string>{-79,168}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{172,260}}</string>
        <key>sourceSize</key>
        <string>{172,260}</string>
      </dict>
      <key>sfx_10202_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,0},{180,261}}</string>
        <key>offset</key>
        <string>{-77,169}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,261}}</string>
        <key>sourceSize</key>
        <string>{180,261}</string>
      </dict>
      <key>sfx_10202_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{172,262}}</string>
        <key>offset</key>
        <string>{-77,169}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{172,262}}</string>
        <key>sourceSize</key>
        <string>{172,262}</string>
      </dict>
      <key>sfx_10202_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,527},{171,261}}</string>
        <key>offset</key>
        <string>{-76,169}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{171,261}}</string>
        <key>sourceSize</key>
        <string>{171,261}</string>
      </dict>
      <key>sfx_10202_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,790},{171,261}}</string>
        <key>offset</key>
        <string>{-76,169}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{171,261}}</string>
        <key>sourceSize</key>
        <string>{171,261}</string>
      </dict>
      <key>sfx_10202_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{173,527},{173,261}}</string>
        <key>offset</key>
        <string>{-76,169}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{173,261}}</string>
        <key>sourceSize</key>
        <string>{173,261}</string>
      </dict>
      <key>sfx_10202_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{207,263},{177,261}}</string>
        <key>offset</key>
        <string>{-77,169}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{177,261}}</string>
        <key>sourceSize</key>
        <string>{177,261}</string>
      </dict>
      <key>sfx_10202_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{711,174},{180,260}}</string>
        <key>offset</key>
        <string>{-77,168}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,260}}</string>
        <key>sourceSize</key>
        <string>{180,260}</string>
      </dict>
      <key>sfx_10202_0_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{525,788},{182,260}}</string>
        <key>offset</key>
        <string>{-77,168}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{182,260}}</string>
        <key>sourceSize</key>
        <string>{182,260}</string>
      </dict>
      <key>sfx_10202_0_0015.png</key>
      <dict>
        <key>frame</key>
        <string>{{560,524},{185,260}}</string>
        <key>offset</key>
        <string>{-77,168}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{185,260}}</string>
        <key>sourceSize</key>
        <string>{185,260}</string>
      </dict>
      <key>sfx_10202_0_0016.png</key>
      <dict>
        <key>frame</key>
        <string>{{747,356},{187,260}}</string>
        <key>offset</key>
        <string>{-77,168}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{187,260}}</string>
        <key>sourceSize</key>
        <string>{187,260}</string>
      </dict>
      <key>sfx_10202_0_0017.png</key>
      <dict>
        <key>frame</key>
        <string>{{787,807},{193,259}}</string>
        <key>offset</key>
        <string>{-80,167}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{193,259}}</string>
        <key>sourceSize</key>
        <string>{193,259}</string>
      </dict>
      <key>sfx_10202_0_0018.png</key>
      <dict>
        <key>frame</key>
        <string>{{988,545},{175,259}}</string>
        <key>offset</key>
        <string>{-80,167}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{175,259}}</string>
        <key>sourceSize</key>
        <string>{175,259}</string>
      </dict>
      <key>sfx_10202_0_0019.png</key>
      <dict>
        <key>frame</key>
        <string>{{787,545},{199,260}}</string>
        <key>offset</key>
        <string>{-81,167}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{199,260}}</string>
        <key>sourceSize</key>
        <string>{199,260}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_10202_0.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>sfx_10202_0.png</string>
    </dict>
  </dict>
</plist>