<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_35125_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{221,0},{216,697}}</string>
        <key>offset</key>
        <string>{-91,603}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{216,697}}</string>
        <key>sourceSize</key>
        <string>{216,697}</string>
      </dict>
      <key>sfx_35125_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{219,703}}</string>
        <key>offset</key>
        <string>{-94,605}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{219,703}}</string>
        <key>sourceSize</key>
        <string>{219,703}</string>
      </dict>
      <key>sfx_35125_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{228,699},{225,696}}</string>
        <key>offset</key>
        <string>{-98,604}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{225,696}}</string>
        <key>sourceSize</key>
        <string>{225,696}</string>
      </dict>
      <key>sfx_35125_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,705},{226,698}}</string>
        <key>offset</key>
        <string>{-101,604}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{226,698}}</string>
        <key>sourceSize</key>
        <string>{226,698}</string>
      </dict>
      <key>sfx_35125_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{439,0},{230,696}}</string>
        <key>offset</key>
        <string>{-104,603}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{230,696}}</string>
        <key>sourceSize</key>
        <string>{230,696}</string>
      </dict>
      <key>sfx_35125_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{455,698},{234,696}}</string>
        <key>offset</key>
        <string>{-108,602}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{234,696}}</string>
        <key>sourceSize</key>
        <string>{234,696}</string>
      </dict>
      <key>sfx_35125_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{671,0},{223,653}}</string>
        <key>offset</key>
        <string>{-96,555}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{223,653}}</string>
        <key>sourceSize</key>
        <string>{223,653}</string>
      </dict>
      <key>sfx_35125_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{896,0},{209,631}}</string>
        <key>offset</key>
        <string>{-85,531}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{209,631}}</string>
        <key>sourceSize</key>
        <string>{209,631}</string>
      </dict>
      <key>sfx_35125_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{896,211},{210,538}}</string>
        <key>offset</key>
        <string>{-88,448}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{210,538}}</string>
        <key>sourceSize</key>
        <string>{210,538}</string>
      </dict>
      <key>sfx_35125_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{896,423},{213,519}}</string>
        <key>offset</key>
        <string>{-90,425}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{213,519}}</string>
        <key>sourceSize</key>
        <string>{213,519}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_35125_0.png</string>
      <key>size</key>
      <string>{1536,1536}</string>
      <key>textureFileName</key>
      <string>sfx_35125_0.png</string>
    </dict>
  </dict>
</plist>