<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_25103_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{138,162}}</string>
        <key>offset</key>
        <string>{-67,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,162}}</string>
        <key>sourceSize</key>
        <string>{138,162}</string>
      </dict>
      <key>sfx_25103_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,0},{135,160}}</string>
        <key>offset</key>
        <string>{-67,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,160}}</string>
        <key>sourceSize</key>
        <string>{135,160}</string>
      </dict>
      <key>sfx_25103_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{326,134},{131,152}}</string>
        <key>offset</key>
        <string>{-65,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,152}}</string>
        <key>sourceSize</key>
        <string>{131,152}</string>
      </dict>
      <key>sfx_25103_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,137},{129,144}}</string>
        <key>offset</key>
        <string>{-64,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,144}}</string>
        <key>sourceSize</key>
        <string>{129,144}</string>
      </dict>
      <key>sfx_25103_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{310,267},{127,139}}</string>
        <key>offset</key>
        <string>{-62,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,139}}</string>
        <key>sourceSize</key>
        <string>{127,139}</string>
      </dict>
      <key>sfx_25103_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,271},{128,134}}</string>
        <key>offset</key>
        <string>{-63,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,134}}</string>
        <key>sourceSize</key>
        <string>{128,134}</string>
      </dict>
      <key>sfx_25103_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{136,398},{128,127}}</string>
        <key>offset</key>
        <string>{-62,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,127}}</string>
        <key>sourceSize</key>
        <string>{128,127}</string>
      </dict>
      <key>sfx_25103_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,401},{128,121}}</string>
        <key>offset</key>
        <string>{-61,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,121}}</string>
        <key>sourceSize</key>
        <string>{128,121}</string>
      </dict>
      <key>sfx_25103_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,524},{128,115}}</string>
        <key>offset</key>
        <string>{-60,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,115}}</string>
        <key>sourceSize</key>
        <string>{128,115}</string>
      </dict>
      <key>sfx_25103_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{266,524},{126,116}}</string>
        <key>offset</key>
        <string>{-59,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,116}}</string>
        <key>sourceSize</key>
        <string>{126,116}</string>
      </dict>
      <key>sfx_25103_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,527},{126,118}}</string>
        <key>offset</key>
        <string>{-59,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,118}}</string>
        <key>sourceSize</key>
        <string>{126,118}</string>
      </dict>
      <key>sfx_25103_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,641},{125,122}}</string>
        <key>offset</key>
        <string>{-60,55}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,122}}</string>
        <key>sourceSize</key>
        <string>{125,122}</string>
      </dict>
      <key>sfx_25103_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{283,396},{126,129}}</string>
        <key>offset</key>
        <string>{-60,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,129}}</string>
        <key>sourceSize</key>
        <string>{126,129}</string>
      </dict>
      <key>sfx_25103_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{145,268},{128,136}}</string>
        <key>offset</key>
        <string>{-60,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,136}}</string>
        <key>sourceSize</key>
        <string>{128,136}</string>
      </dict>
      <key>sfx_25103_0_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,140},{129,143}}</string>
        <key>offset</key>
        <string>{-61,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,143}}</string>
        <key>sourceSize</key>
        <string>{129,143}</string>
      </dict>
      <key>sfx_25103_0_0015.png</key>
      <dict>
        <key>frame</key>
        <string>{{326,0},{132,153}}</string>
        <key>offset</key>
        <string>{-63,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,153}}</string>
        <key>sourceSize</key>
        <string>{132,153}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_25103_0.png</string>
      <key>size</key>
      <string>{512,1024}</string>
      <key>textureFileName</key>
      <string>sfx_25103_0.png</string>
    </dict>
  </dict>
</plist>