<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_30003_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{112,165},{159,89}}</string>
        <key>offset</key>
        <string>{22,-57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,89}}</string>
        <key>sourceSize</key>
        <string>{159,89}</string>
      </dict>
      <key>sfx_30003_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{90,0},{163,88}}</string>
        <key>offset</key>
        <string>{19,-57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,88}}</string>
        <key>sourceSize</key>
        <string>{163,88}</string>
      </dict>
      <key>sfx_30003_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{164,88}}</string>
        <key>offset</key>
        <string>{18,-57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{164,88}}</string>
        <key>sourceSize</key>
        <string>{164,88}</string>
      </dict>
      <key>sfx_30003_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{113,326},{154,84}}</string>
        <key>offset</key>
        <string>{23,-56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,84}}</string>
        <key>sourceSize</key>
        <string>{154,84}</string>
      </dict>
      <key>sfx_30003_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{203,161},{152,82}}</string>
        <key>offset</key>
        <string>{22,-59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,82}}</string>
        <key>sourceSize</key>
        <string>{152,82}</string>
      </dict>
      <key>sfx_30003_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{297,0},{150,82}}</string>
        <key>offset</key>
        <string>{22,-60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,82}}</string>
        <key>sourceSize</key>
        <string>{150,82}</string>
      </dict>
      <key>sfx_30003_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{399,152},{149,86}}</string>
        <key>offset</key>
        <string>{28,-59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{149,86}}</string>
        <key>sourceSize</key>
        <string>{149,86}</string>
      </dict>
      <key>sfx_30003_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{180,0},{159,115}}</string>
        <key>offset</key>
        <string>{22,-31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,115}}</string>
        <key>sourceSize</key>
        <string>{159,115}</string>
      </dict>
      <key>sfx_30003_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,332},{163,111}}</string>
        <key>offset</key>
        <string>{19,-34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,111}}</string>
        <key>sourceSize</key>
        <string>{163,111}</string>
      </dict>
      <key>sfx_30003_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,166},{164,110}}</string>
        <key>offset</key>
        <string>{18,-35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{164,110}}</string>
        <key>sourceSize</key>
        <string>{164,110}</string>
      </dict>
      <key>sfx_30003_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{199,326},{154,108}}</string>
        <key>offset</key>
        <string>{23,-32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,108}}</string>
        <key>sourceSize</key>
        <string>{154,108}</string>
      </dict>
      <key>sfx_30003_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{287,161},{152,110}}</string>
        <key>offset</key>
        <string>{22,-31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,110}}</string>
        <key>sourceSize</key>
        <string>{152,110}</string>
      </dict>
      <key>sfx_30003_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{399,0},{150,109}}</string>
        <key>offset</key>
        <string>{22,-33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,109}}</string>
        <key>sourceSize</key>
        <string>{150,109}</string>
      </dict>
      <key>sfx_30003_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{309,315},{149,118}}</string>
        <key>offset</key>
        <string>{28,-27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{149,118}}</string>
        <key>sourceSize</key>
        <string>{149,118}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_30003_0.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>sfx_30003_0.png</string>
    </dict>
  </dict>
</plist>