<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_32036_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{248,334},{93,65}}</string>
        <key>offset</key>
        <string>{-45,36}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,65}}</string>
        <key>sourceSize</key>
        <string>{93,65}</string>
      </dict>
      <key>sfx_32036_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{383,81},{103,71}}</string>
        <key>offset</key>
        <string>{-51,40}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,71}}</string>
        <key>sourceSize</key>
        <string>{103,71}</string>
      </dict>
      <key>sfx_32036_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{339,0},{115,79}}</string>
        <key>offset</key>
        <string>{-58,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,79}}</string>
        <key>sourceSize</key>
        <string>{115,79}</string>
      </dict>
      <key>sfx_32036_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{157,202},{130,89}}</string>
        <key>offset</key>
        <string>{-65,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,89}}</string>
        <key>sourceSize</key>
        <string>{130,89}</string>
      </dict>
      <key>sfx_32036_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,404},{148,105}}</string>
        <key>offset</key>
        <string>{-74,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,105}}</string>
        <key>sourceSize</key>
        <string>{148,105}</string>
      </dict>
      <key>sfx_32036_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{200,149}}</string>
        <key>offset</key>
        <string>{-100,101}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{200,149}}</string>
        <key>sourceSize</key>
        <string>{200,149}</string>
      </dict>
      <key>sfx_32036_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,202},{200,155}}</string>
        <key>offset</key>
        <string>{-100,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{200,155}}</string>
        <key>sourceSize</key>
        <string>{200,155}</string>
      </dict>
      <key>sfx_32036_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{151,0},{200,149}}</string>
        <key>offset</key>
        <string>{-100,101}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{200,149}}</string>
        <key>sourceSize</key>
        <string>{200,149}</string>
      </dict>
      <key>sfx_32036_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,404},{148,105}}</string>
        <key>offset</key>
        <string>{-74,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,105}}</string>
        <key>sourceSize</key>
        <string>{148,105}</string>
      </dict>
      <key>sfx_32036_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{248,202},{130,89}}</string>
        <key>offset</key>
        <string>{-65,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,89}}</string>
        <key>sourceSize</key>
        <string>{130,89}</string>
      </dict>
      <key>sfx_32036_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{302,81},{115,79}}</string>
        <key>offset</key>
        <string>{-58,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,79}}</string>
        <key>sourceSize</key>
        <string>{115,79}</string>
      </dict>
      <key>sfx_32036_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{383,154},{103,71}}</string>
        <key>offset</key>
        <string>{-51,40}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,71}}</string>
        <key>sourceSize</key>
        <string>{103,71}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_32036_0.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>sfx_32036_0.png</string>
    </dict>
  </dict>
</plist>