<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_33012_0_0051.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1640},{525,315}}</string>
        <key>offset</key>
        <string>{198,-303}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{525,315}}</string>
        <key>sourceSize</key>
        <string>{525,315}</string>
      </dict>
      <key>sfx_33012_0_0060.png</key>
      <dict>
        <key>frame</key>
        <string>{{1303,1347},{697,687}}</string>
        <key>offset</key>
        <string>{95,-63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{697,687}}</string>
        <key>sourceSize</key>
        <string>{697,687}</string>
      </dict>
      <key>sfx_33012_0_0061.png</key>
      <dict>
        <key>frame</key>
        <string>{{588,821},{792,713}}</string>
        <key>offset</key>
        <string>{53,-37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{792,713}}</string>
        <key>sourceSize</key>
        <string>{792,713}</string>
      </dict>
      <key>sfx_33012_0_0062.png</key>
      <dict>
        <key>frame</key>
        <string>{{596,0},{790,712}}</string>
        <key>offset</key>
        <string>{55,-38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{790,712}}</string>
        <key>sourceSize</key>
        <string>{790,712}</string>
      </dict>
      <key>sfx_33012_0_0064.png</key>
      <dict>
        <key>frame</key>
        <string>{{1310,0},{727,635}}</string>
        <key>offset</key>
        <string>{104,-109}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{727,635}}</string>
        <key>sourceSize</key>
        <string>{727,635}</string>
      </dict>
      <key>sfx_33012_0_0065.png</key>
      <dict>
        <key>frame</key>
        <string>{{588,1615},{603,427}}</string>
        <key>offset</key>
        <string>{99,-303}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{603,427}}</string>
        <key>sourceSize</key>
        <string>{603,427}</string>
      </dict>
      <key>sfx_33012_0_0091.png</key>
      <dict>
        <key>frame</key>
        <string>{{1303,792},{739,553}}</string>
        <key>offset</key>
        <string>{169,-197}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{739,553}}</string>
        <key>sourceSize</key>
        <string>{739,553}</string>
      </dict>
      <key>sfx_33012_0_0093.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,821},{817,586}}</string>
        <key>offset</key>
        <string>{128,-164}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{817,586}}</string>
        <key>sourceSize</key>
        <string>{817,586}</string>
      </dict>
      <key>sfx_33012_0_0095.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{819,594}}</string>
        <key>offset</key>
        <string>{131,-156}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{819,594}}</string>
        <key>sourceSize</key>
        <string>{819,594}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_33012_0_0.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>sfx_33012_0_0.png</string>
    </dict>
  </dict>
</plist>