<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_82588_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{595,635},{304,304}}</string>
        <key>offset</key>
        <string>{-86,155}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{304,304}}</string>
        <key>sourceSize</key>
        <string>{304,304}</string>
      </dict>
      <key>sfx_82588_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{307,0},{302,305}}</string>
        <key>offset</key>
        <string>{-84,156}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{302,305}}</string>
        <key>sourceSize</key>
        <string>{302,305}</string>
      </dict>
      <key>sfx_82588_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{611,0},{305,305}}</string>
        <key>offset</key>
        <string>{-87,156}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{305,305}}</string>
        <key>sourceSize</key>
        <string>{305,305}</string>
      </dict>
      <key>sfx_82588_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{306,326},{307,306}}</string>
        <key>offset</key>
        <string>{-89,157}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{307,306}}</string>
        <key>sourceSize</key>
        <string>{307,306}</string>
      </dict>
      <key>sfx_82588_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{305,324}}</string>
        <key>offset</key>
        <string>{-87,157}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{305,324}}</string>
        <key>sourceSize</key>
        <string>{305,324}</string>
      </dict>
      <key>sfx_82588_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,326},{304,322}}</string>
        <key>offset</key>
        <string>{-86,157}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{304,322}}</string>
        <key>sourceSize</key>
        <string>{304,322}</string>
      </dict>
      <key>sfx_82588_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,650},{296,315}}</string>
        <key>offset</key>
        <string>{-86,156}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{296,315}}</string>
        <key>sourceSize</key>
        <string>{296,315}</string>
      </dict>
      <key>sfx_82588_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{298,650},{295,310}}</string>
        <key>offset</key>
        <string>{-86,156}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{295,310}}</string>
        <key>sourceSize</key>
        <string>{295,310}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_82588_0.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>sfx_82588_0.png</string>
    </dict>
  </dict>
</plist>