<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_82262_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,596},{205,111}}</string>
        <key>offset</key>
        <string>{-77,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{205,111}}</string>
        <key>sourceSize</key>
        <string>{205,111}</string>
      </dict>
      <key>sfx_82262_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{335,234},{231,111}}</string>
        <key>offset</key>
        <string>{-90,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{231,111}}</string>
        <key>sourceSize</key>
        <string>{231,111}</string>
      </dict>
      <key>sfx_82262_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{112,0},{239,110}}</string>
        <key>offset</key>
        <string>{-94,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{239,110}}</string>
        <key>sourceSize</key>
        <string>{239,110}</string>
      </dict>
      <key>sfx_82262_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{227,476},{221,111}}</string>
        <key>offset</key>
        <string>{-85,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{221,111}}</string>
        <key>sourceSize</key>
        <string>{221,111}</string>
      </dict>
      <key>sfx_82262_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,484},{225,110}}</string>
        <key>offset</key>
        <string>{-87,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{225,110}}</string>
        <key>sourceSize</key>
        <string>{225,110}</string>
      </dict>
      <key>sfx_82262_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{332,0},{232,108}}</string>
        <key>offset</key>
        <string>{-91,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{232,108}}</string>
        <key>sourceSize</key>
        <string>{232,108}</string>
      </dict>
      <key>sfx_82262_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,0},{239,106}}</string>
        <key>offset</key>
        <string>{-94,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{239,106}}</string>
        <key>sourceSize</key>
        <string>{239,106}</string>
      </dict>
      <key>sfx_82262_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{225,241},{233,108}}</string>
        <key>offset</key>
        <string>{-91,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{233,108}}</string>
        <key>sourceSize</key>
        <string>{233,108}</string>
      </dict>
      <key>sfx_82262_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{240,110}}</string>
        <key>offset</key>
        <string>{-95,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{240,110}}</string>
        <key>sourceSize</key>
        <string>{240,110}</string>
      </dict>
      <key>sfx_82262_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,242},{240,110}}</string>
        <key>offset</key>
        <string>{-95,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{240,110}}</string>
        <key>sourceSize</key>
        <string>{240,110}</string>
      </dict>
      <key>sfx_82262_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{112,242},{240,111}}</string>
        <key>offset</key>
        <string>{-95,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{240,111}}</string>
        <key>sourceSize</key>
        <string>{240,111}</string>
      </dict>
      <key>sfx_82262_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{207,596},{201,111}}</string>
        <key>offset</key>
        <string>{-75,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{201,111}}</string>
        <key>sourceSize</key>
        <string>{201,111}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_82262_0.png</string>
      <key>size</key>
      <string>{644,732}</string>
      <key>textureFileName</key>
      <string>sfx_82262_0.png</string>
    </dict>
  </dict>
</plist>