<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_35084_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{617,207},{204,101}}</string>
        <key>offset</key>
        <string>{-83,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{204,101}}</string>
        <key>sourceSize</key>
        <string>{204,101}</string>
      </dict>
      <key>sfx_35084_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{515,208},{205,100}}</string>
        <key>offset</key>
        <string>{-83,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{205,100}}</string>
        <key>sourceSize</key>
        <string>{205,100}</string>
      </dict>
      <key>sfx_35084_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{519,0},{205,100}}</string>
        <key>offset</key>
        <string>{-83,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{205,100}}</string>
        <key>sourceSize</key>
        <string>{205,100}</string>
      </dict>
      <key>sfx_35084_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{417,0},{206,100}}</string>
        <key>offset</key>
        <string>{-83,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{206,100}}</string>
        <key>sourceSize</key>
        <string>{206,100}</string>
      </dict>
      <key>sfx_35084_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{312,213},{210,98}}</string>
        <key>offset</key>
        <string>{-86,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{210,98}}</string>
        <key>sourceSize</key>
        <string>{210,98}</string>
      </dict>
      <key>sfx_35084_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{105,214},{211,100}}</string>
        <key>offset</key>
        <string>{-86,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{211,100}}</string>
        <key>sourceSize</key>
        <string>{211,100}</string>
      </dict>
      <key>sfx_35084_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{212,105}}</string>
        <key>offset</key>
        <string>{-87,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{212,105}}</string>
        <key>sourceSize</key>
        <string>{212,105}</string>
      </dict>
      <key>sfx_35084_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{107,0},{211,102}}</string>
        <key>offset</key>
        <string>{-86,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{211,102}}</string>
        <key>sourceSize</key>
        <string>{211,102}</string>
      </dict>
      <key>sfx_35084_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,214},{212,103}}</string>
        <key>offset</key>
        <string>{-86,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{212,103}}</string>
        <key>sourceSize</key>
        <string>{212,103}</string>
      </dict>
      <key>sfx_35084_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{207,213},{211,103}}</string>
        <key>offset</key>
        <string>{-85,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{211,103}}</string>
        <key>sourceSize</key>
        <string>{211,103}</string>
      </dict>
      <key>sfx_35084_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{211,0},{211,101}}</string>
        <key>offset</key>
        <string>{-85,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{211,101}}</string>
        <key>sourceSize</key>
        <string>{211,101}</string>
      </dict>
      <key>sfx_35084_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{314,0},{209,101}}</string>
        <key>offset</key>
        <string>{-84,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{209,101}}</string>
        <key>sourceSize</key>
        <string>{209,101}</string>
      </dict>
      <key>sfx_35084_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{412,211},{207,101}}</string>
        <key>offset</key>
        <string>{-82,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{207,101}}</string>
        <key>sourceSize</key>
        <string>{207,101}</string>
      </dict>
      <key>sfx_35084_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{725,0},{203,100}}</string>
        <key>offset</key>
        <string>{-80,33}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{203,100}}</string>
        <key>sourceSize</key>
        <string>{203,100}</string>
      </dict>
      <key>sfx_35084_0_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{720,313},{200,100}}</string>
        <key>offset</key>
        <string>{-79,33}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{200,100}}</string>
        <key>sourceSize</key>
        <string>{200,100}</string>
      </dict>
      <key>sfx_35084_0_0015.png</key>
      <dict>
        <key>frame</key>
        <string>{{515,415},{200,102}}</string>
        <key>offset</key>
        <string>{-79,34}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{200,102}}</string>
        <key>sourceSize</key>
        <string>{200,102}</string>
      </dict>
      <key>sfx_35084_0_0016.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,428},{198,102}}</string>
        <key>offset</key>
        <string>{-79,34}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{198,102}}</string>
        <key>sourceSize</key>
        <string>{198,102}</string>
      </dict>
      <key>sfx_35084_0_0017.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,532},{198,102}}</string>
        <key>offset</key>
        <string>{-80,34}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{198,102}}</string>
        <key>sourceSize</key>
        <string>{198,102}</string>
      </dict>
      <key>sfx_35084_0_0018.png</key>
      <dict>
        <key>frame</key>
        <string>{{207,426},{199,102}}</string>
        <key>offset</key>
        <string>{-80,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{199,102}}</string>
        <key>sourceSize</key>
        <string>{199,102}</string>
      </dict>
      <key>sfx_35084_0_0019.png</key>
      <dict>
        <key>frame</key>
        <string>{{717,415},{196,102}}</string>
        <key>offset</key>
        <string>{-79,34}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,102}}</string>
        <key>sourceSize</key>
        <string>{196,102}</string>
      </dict>
      <key>sfx_35084_0_0020.png</key>
      <dict>
        <key>frame</key>
        <string>{{312,425},{200,103}}</string>
        <key>offset</key>
        <string>{-81,34}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{200,103}}</string>
        <key>sourceSize</key>
        <string>{200,103}</string>
      </dict>
      <key>sfx_35084_0_0021.png</key>
      <dict>
        <key>frame</key>
        <string>{{720,207},{201,104}}</string>
        <key>offset</key>
        <string>{-82,35}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{201,104}}</string>
        <key>sourceSize</key>
        <string>{201,104}</string>
      </dict>
      <key>sfx_35084_0_0022.png</key>
      <dict>
        <key>frame</key>
        <string>{{725,102},{202,103}}</string>
        <key>offset</key>
        <string>{-82,34}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{202,103}}</string>
        <key>sourceSize</key>
        <string>{202,103}</string>
      </dict>
      <key>sfx_35084_0_0023.png</key>
      <dict>
        <key>frame</key>
        <string>{{621,0},{204,102}}</string>
        <key>offset</key>
        <string>{-83,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{204,102}}</string>
        <key>sourceSize</key>
        <string>{204,102}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_35084_0.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>sfx_35084_0.png</string>
    </dict>
  </dict>
</plist>