<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_33516_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{330,240}}</string>
        <key>offset</key>
        <string>{-77,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{330,240}}</string>
        <key>sourceSize</key>
        <string>{330,240}</string>
      </dict>
      <key>sfx_33516_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,332},{330,237}}</string>
        <key>offset</key>
        <string>{-77,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{330,237}}</string>
        <key>sourceSize</key>
        <string>{330,237}</string>
      </dict>
      <key>sfx_33516_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,664},{330,237}}</string>
        <key>offset</key>
        <string>{-77,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{330,237}}</string>
        <key>sourceSize</key>
        <string>{330,237}</string>
      </dict>
      <key>sfx_33516_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{239,664},{330,235}}</string>
        <key>offset</key>
        <string>{-77,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{330,235}}</string>
        <key>sourceSize</key>
        <string>{330,235}</string>
      </dict>
      <key>sfx_33516_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{239,332},{330,238}}</string>
        <key>offset</key>
        <string>{-77,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{330,238}}</string>
        <key>sourceSize</key>
        <string>{330,238}</string>
      </dict>
      <key>sfx_33516_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{242,0},{324,233}}</string>
        <key>offset</key>
        <string>{-74,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{324,233}}</string>
        <key>sourceSize</key>
        <string>{324,233}</string>
      </dict>
      <key>sfx_33516_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{477,0},{324,245}}</string>
        <key>offset</key>
        <string>{-74,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{324,245}}</string>
        <key>sourceSize</key>
        <string>{324,245}</string>
      </dict>
      <key>sfx_33516_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{476,664},{324,249}}</string>
        <key>offset</key>
        <string>{-74,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{324,249}}</string>
        <key>sourceSize</key>
        <string>{324,249}</string>
      </dict>
      <key>sfx_33516_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{479,326},{324,246}}</string>
        <key>offset</key>
        <string>{-74,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{324,246}}</string>
        <key>sourceSize</key>
        <string>{324,246}</string>
      </dict>
      <key>sfx_33516_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{724,0},{324,244}}</string>
        <key>offset</key>
        <string>{-74,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{324,244}}</string>
        <key>sourceSize</key>
        <string>{324,244}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_33516_0.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>sfx_33516_0.png</string>
    </dict>
  </dict>
</plist>