<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_33000_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{832,0},{319,371}}</string>
        <key>offset</key>
        <string>{-100,221}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{319,371}}</string>
        <key>sourceSize</key>
        <string>{319,371}</string>
      </dict>
      <key>sfx_33000_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1301},{307,420}}</string>
        <key>offset</key>
        <string>{-91,264}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{307,420}}</string>
        <key>sourceSize</key>
        <string>{307,420}</string>
      </dict>
      <key>sfx_33000_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{754,819},{229,395}}</string>
        <key>offset</key>
        <string>{-14,243}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{229,395}}</string>
        <key>sourceSize</key>
        <string>{229,395}</string>
      </dict>
      <key>sfx_33000_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,439},{275,435}}</string>
        <key>offset</key>
        <string>{-39,283}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{275,435}}</string>
        <key>sourceSize</key>
        <string>{275,435}</string>
      </dict>
      <key>sfx_33000_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{318,437}}</string>
        <key>offset</key>
        <string>{-76,286}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{318,437}}</string>
        <key>sourceSize</key>
        <string>{318,437}</string>
      </dict>
      <key>sfx_33000_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{531,1262},{279,397}}</string>
        <key>offset</key>
        <string>{-56,246}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{279,397}}</string>
        <key>sourceSize</key>
        <string>{279,397}</string>
      </dict>
      <key>sfx_33000_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,876},{238,423}}</string>
        <key>offset</key>
        <string>{14,267}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{238,423}}</string>
        <key>sourceSize</key>
        <string>{238,423}</string>
      </dict>
      <key>sfx_33000_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{985,778},{320,361}}</string>
        <key>offset</key>
        <string>{-43,209}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{320,361}}</string>
        <key>sourceSize</key>
        <string>{320,361}</string>
      </dict>
      <key>sfx_33000_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{542,0},{288,400}}</string>
        <key>offset</key>
        <string>{-17,249}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{288,400}}</string>
        <key>sourceSize</key>
        <string>{288,400}</string>
      </dict>
      <key>sfx_33000_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,876},{284,414}}</string>
        <key>offset</key>
        <string>{-19,263}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{284,414}}</string>
        <key>sourceSize</key>
        <string>{284,414}</string>
      </dict>
      <key>sfx_33000_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1723},{275,407}}</string>
        <key>offset</key>
        <string>{-35,256}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{275,407}}</string>
        <key>sourceSize</key>
        <string>{275,407}</string>
      </dict>
      <key>sfx_33000_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{277,439},{251,414}}</string>
        <key>offset</key>
        <string>{-18,254}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{251,414}}</string>
        <key>sourceSize</key>
        <string>{251,414}</string>
      </dict>
      <key>sfx_33000_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{526,855},{226,405}}</string>
        <key>offset</key>
        <string>{-21,245}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{226,405}}</string>
        <key>sourceSize</key>
        <string>{226,405}</string>
      </dict>
      <key>sfx_33000_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{320,0},{220,413}}</string>
        <key>offset</key>
        <string>{-22,251}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{220,413}}</string>
        <key>sourceSize</key>
        <string>{220,413}</string>
      </dict>
      <key>sfx_33000_0_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{409,1701},{219,398}}</string>
        <key>offset</key>
        <string>{-21,234}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{219,398}}</string>
        <key>sourceSize</key>
        <string>{219,398}</string>
      </dict>
      <key>sfx_33000_0_0015.png</key>
      <dict>
        <key>frame</key>
        <string>{{309,1292},{220,407}}</string>
        <key>offset</key>
        <string>{-20,241}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{220,407}}</string>
        <key>sourceSize</key>
        <string>{220,407}</string>
      </dict>
      <key>sfx_33000_0_0016.png</key>
      <dict>
        <key>frame</key>
        <string>{{530,415},{278,402}}</string>
        <key>offset</key>
        <string>{-79,250}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{278,402}}</string>
        <key>sourceSize</key>
        <string>{278,402}</string>
      </dict>
      <key>sfx_33000_0_0017.png</key>
      <dict>
        <key>frame</key>
        <string>{{809,1661},{312,382}}</string>
        <key>offset</key>
        <string>{-107,232}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{312,382}}</string>
        <key>sourceSize</key>
        <string>{312,382}</string>
      </dict>
      <key>sfx_33000_0_0018.png</key>
      <dict>
        <key>frame</key>
        <string>{{810,402},{331,374}}</string>
        <key>offset</key>
        <string>{-115,224}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{331,374}}</string>
        <key>sourceSize</key>
        <string>{331,374}</string>
      </dict>
      <key>sfx_33000_0_0019.png</key>
      <dict>
        <key>frame</key>
        <string>{{812,1216},{334,362}}</string>
        <key>offset</key>
        <string>{-117,212}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{334,362}}</string>
        <key>sourceSize</key>
        <string>{334,362}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_33000_0.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>sfx_33000_0.png</string>
    </dict>
  </dict>
</plist>