<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_25087_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{80,106}}</string>
        <key>offset</key>
        <string>{-36,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,106}}</string>
        <key>sourceSize</key>
        <string>{80,106}</string>
      </dict>
      <key>sfx_25087_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{108,0},{78,102}}</string>
        <key>offset</key>
        <string>{-35,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,102}}</string>
        <key>sourceSize</key>
        <string>{78,102}</string>
      </dict>
      <key>sfx_25087_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,162},{78,96}}</string>
        <key>offset</key>
        <string>{-36,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,96}}</string>
        <key>sourceSize</key>
        <string>{78,96}</string>
      </dict>
      <key>sfx_25087_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,320},{78,90}}</string>
        <key>offset</key>
        <string>{-36,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,90}}</string>
        <key>sourceSize</key>
        <string>{78,90}</string>
      </dict>
      <key>sfx_25087_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,400},{75,90}}</string>
        <key>offset</key>
        <string>{-34,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,90}}</string>
        <key>sourceSize</key>
        <string>{75,90}</string>
      </dict>
      <key>sfx_25087_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,244},{74,91}}</string>
        <key>offset</key>
        <string>{-34,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,91}}</string>
        <key>sourceSize</key>
        <string>{74,91}</string>
      </dict>
      <key>sfx_25087_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{97,242},{76,93}}</string>
        <key>offset</key>
        <string>{-35,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,93}}</string>
        <key>sourceSize</key>
        <string>{76,93}</string>
      </dict>
      <key>sfx_25087_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,164},{78,95}}</string>
        <key>offset</key>
        <string>{-35,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,95}}</string>
        <key>sourceSize</key>
        <string>{78,95}</string>
      </dict>
      <key>sfx_25087_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,82},{80,98}}</string>
        <key>offset</key>
        <string>{-36,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,98}}</string>
        <key>sourceSize</key>
        <string>{80,98}</string>
      </dict>
      <key>sfx_25087_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{108,80},{80,102}}</string>
        <key>offset</key>
        <string>{-36,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,102}}</string>
        <key>sourceSize</key>
        <string>{80,102}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_25087_0.png</string>
      <key>size</key>
      <string>{256,512}</string>
      <key>textureFileName</key>
      <string>sfx_25087_0.png</string>
    </dict>
  </dict>
</plist>