<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_32015_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{48,203},{48,49}}</string>
        <key>offset</key>
        <string>{-28,25}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,49}}</string>
        <key>sourceSize</key>
        <string>{48,49}</string>
      </dict>
      <key>sfx_32015_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,203},{48,49}}</string>
        <key>offset</key>
        <string>{-28,25}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,49}}</string>
        <key>sourceSize</key>
        <string>{48,49}</string>
      </dict>
      <key>sfx_32015_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,203},{46,50}}</string>
        <key>offset</key>
        <string>{-26,26}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,50}}</string>
        <key>sourceSize</key>
        <string>{46,50}</string>
      </dict>
      <key>sfx_32015_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{58,155},{46,53}}</string>
        <key>offset</key>
        <string>{-25,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,53}}</string>
        <key>sourceSize</key>
        <string>{46,53}</string>
      </dict>
      <key>sfx_32015_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{60,108},{45,56}}</string>
        <key>offset</key>
        <string>{-25,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{45,56}}</string>
        <key>sourceSize</key>
        <string>{45,56}</string>
      </dict>
      <key>sfx_32015_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,109},{45,56}}</string>
        <key>offset</key>
        <string>{-25,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{45,56}}</string>
        <key>sourceSize</key>
        <string>{45,56}</string>
      </dict>
      <key>sfx_32015_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{63,0},{51,60}}</string>
        <key>offset</key>
        <string>{-26,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{51,60}}</string>
        <key>sourceSize</key>
        <string>{51,60}</string>
      </dict>
      <key>sfx_32015_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{51,61}}</string>
        <key>offset</key>
        <string>{-23,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{51,61}}</string>
        <key>sourceSize</key>
        <string>{51,61}</string>
      </dict>
      <key>sfx_32015_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{63,53},{53,58}}</string>
        <key>offset</key>
        <string>{-24,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,58}}</string>
        <key>sourceSize</key>
        <string>{53,58}</string>
      </dict>
      <key>sfx_32015_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,53},{54,58}}</string>
        <key>offset</key>
        <string>{-24,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,58}}</string>
        <key>sourceSize</key>
        <string>{54,58}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_32015_0.png</string>
      <key>size</key>
      <string>{256,256}</string>
      <key>textureFileName</key>
      <string>sfx_32015_0.png</string>
    </dict>
  </dict>
</plist>