<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_20002_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{262,186}}</string>
        <key>offset</key>
        <string>{-38,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{262,186}}</string>
        <key>sourceSize</key>
        <string>{262,186}</string>
      </dict>
      <key>sfx_20002_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,528},{259,187}}</string>
        <key>offset</key>
        <string>{-36,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{259,187}}</string>
        <key>sourceSize</key>
        <string>{259,187}</string>
      </dict>
      <key>sfx_20002_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,789},{257,187}}</string>
        <key>offset</key>
        <string>{-35,32}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{257,187}}</string>
        <key>sourceSize</key>
        <string>{257,187}</string>
      </dict>
      <key>sfx_20002_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{362,260},{253,180}}</string>
        <key>offset</key>
        <string>{-34,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{253,180}}</string>
        <key>sourceSize</key>
        <string>{253,180}</string>
      </dict>
      <key>sfx_20002_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{556,0},{238,180}}</string>
        <key>offset</key>
        <string>{-26,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{238,180}}</string>
        <key>sourceSize</key>
        <string>{238,180}</string>
      </dict>
      <key>sfx_20002_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{512,768},{243,179}}</string>
        <key>offset</key>
        <string>{-28,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{243,179}}</string>
        <key>sourceSize</key>
        <string>{243,179}</string>
      </dict>
      <key>sfx_20002_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{259,784},{251,179}}</string>
        <key>offset</key>
        <string>{-33,32}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{251,179}}</string>
        <key>sourceSize</key>
        <string>{251,179}</string>
      </dict>
      <key>sfx_20002_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{188,0},{258,179}}</string>
        <key>offset</key>
        <string>{-36,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{258,179}}</string>
        <key>sourceSize</key>
        <string>{258,179}</string>
      </dict>
      <key>sfx_20002_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,264},{262,179}}</string>
        <key>offset</key>
        <string>{-38,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{262,179}}</string>
        <key>sourceSize</key>
        <string>{262,179}</string>
      </dict>
      <key>sfx_20002_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{181,264},{259,179}}</string>
        <key>offset</key>
        <string>{-36,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{259,179}}</string>
        <key>sourceSize</key>
        <string>{259,179}</string>
      </dict>
      <key>sfx_20002_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{189,525},{257,183}}</string>
        <key>offset</key>
        <string>{-35,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{257,183}}</string>
        <key>sourceSize</key>
        <string>{257,183}</string>
      </dict>
      <key>sfx_20002_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{369,0},{253,185}}</string>
        <key>offset</key>
        <string>{-34,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{253,185}}</string>
        <key>sourceSize</key>
        <string>{253,185}</string>
      </dict>
      <key>sfx_20002_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{563,500},{238,186}}</string>
        <key>offset</key>
        <string>{-26,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{238,186}}</string>
        <key>sourceSize</key>
        <string>{238,186}</string>
      </dict>
      <key>sfx_20002_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{544,255},{243,187}}</string>
        <key>offset</key>
        <string>{-28,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{243,187}}</string>
        <key>sourceSize</key>
        <string>{243,187}</string>
      </dict>
      <key>sfx_20002_0_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{374,515},{251,187}}</string>
        <key>offset</key>
        <string>{-33,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{251,187}}</string>
        <key>sourceSize</key>
        <string>{251,187}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_20002_0.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>sfx_20002_0.png</string>
    </dict>
  </dict>
</plist>