<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_10218_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{178,0},{175,287}}</string>
        <key>offset</key>
        <string>{-86,186}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{175,287}}</string>
        <key>sourceSize</key>
        <string>{175,287}</string>
      </dict>
      <key>sfx_10218_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{178,593},{174,290}}</string>
        <key>offset</key>
        <string>{-86,187}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{174,290}}</string>
        <key>sourceSize</key>
        <string>{174,290}</string>
      </dict>
      <key>sfx_10218_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,593},{176,292}}</string>
        <key>offset</key>
        <string>{-86,190}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,292}}</string>
        <key>sourceSize</key>
        <string>{176,292}</string>
      </dict>
      <key>sfx_10218_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,297},{176,294}}</string>
        <key>offset</key>
        <string>{-86,192}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,294}}</string>
        <key>sourceSize</key>
        <string>{176,294}</string>
      </dict>
      <key>sfx_10218_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{176,295}}</string>
        <key>offset</key>
        <string>{-86,194}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,295}}</string>
        <key>sourceSize</key>
        <string>{176,295}</string>
      </dict>
      <key>sfx_10218_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{178,289},{177,287}}</string>
        <key>offset</key>
        <string>{-86,184}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{177,287}}</string>
        <key>sourceSize</key>
        <string>{177,287}</string>
      </dict>
      <key>sfx_10218_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{354,578},{179,284}}</string>
        <key>offset</key>
        <string>{-88,182}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{179,284}}</string>
        <key>sourceSize</key>
        <string>{179,284}</string>
      </dict>
      <key>sfx_10218_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{535,534},{179,282}}</string>
        <key>offset</key>
        <string>{-88,181}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{179,282}}</string>
        <key>sourceSize</key>
        <string>{179,282}</string>
      </dict>
      <key>sfx_10218_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{819,641},{178,282}}</string>
        <key>offset</key>
        <string>{-88,181}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{178,282}}</string>
        <key>sourceSize</key>
        <string>{178,282}</string>
      </dict>
      <key>sfx_10218_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{533,0},{177,283}}</string>
        <key>offset</key>
        <string>{-87,182}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{177,283}}</string>
        <key>sourceSize</key>
        <string>{177,283}</string>
      </dict>
      <key>sfx_10218_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{535,715},{177,282}}</string>
        <key>offset</key>
        <string>{-86,182}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{177,282}}</string>
        <key>sourceSize</key>
        <string>{177,282}</string>
      </dict>
      <key>sfx_10218_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{712,0},{176,283}}</string>
        <key>offset</key>
        <string>{-85,181}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,283}}</string>
        <key>sourceSize</key>
        <string>{176,283}</string>
      </dict>
      <key>sfx_10218_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{712,178},{176,283}}</string>
        <key>offset</key>
        <string>{-85,181}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,283}}</string>
        <key>sourceSize</key>
        <string>{176,283}</string>
      </dict>
      <key>sfx_10218_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{535,356},{176,283}}</string>
        <key>offset</key>
        <string>{-85,181}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,283}}</string>
        <key>sourceSize</key>
        <string>{176,283}</string>
      </dict>
      <key>sfx_10218_0_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{997,0},{176,282}}</string>
        <key>offset</key>
        <string>{-85,181}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,282}}</string>
        <key>sourceSize</key>
        <string>{176,282}</string>
      </dict>
      <key>sfx_10218_0_0015.png</key>
      <dict>
        <key>frame</key>
        <string>{{357,287},{176,284}}</string>
        <key>offset</key>
        <string>{-85,181}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,284}}</string>
        <key>sourceSize</key>
        <string>{176,284}</string>
      </dict>
      <key>sfx_10218_0_0016.png</key>
      <dict>
        <key>frame</key>
        <string>{{820,356},{179,283}}</string>
        <key>offset</key>
        <string>{-88,181}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{179,283}}</string>
        <key>sourceSize</key>
        <string>{179,283}</string>
      </dict>
      <key>sfx_10218_0_0017.png</key>
      <dict>
        <key>frame</key>
        <string>{{999,641},{178,282}}</string>
        <key>offset</key>
        <string>{-87,181}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{178,282}}</string>
        <key>sourceSize</key>
        <string>{178,282}</string>
      </dict>
      <key>sfx_10218_0_0018.png</key>
      <dict>
        <key>frame</key>
        <string>{{1001,284},{176,282}}</string>
        <key>offset</key>
        <string>{-86,181}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,282}}</string>
        <key>sourceSize</key>
        <string>{176,282}</string>
      </dict>
      <key>sfx_10218_0_0019.png</key>
      <dict>
        <key>frame</key>
        <string>{{355,0},{176,285}}</string>
        <key>offset</key>
        <string>{-86,184}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,285}}</string>
        <key>sourceSize</key>
        <string>{176,285}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_10218_0.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>sfx_10218_0.png</string>
    </dict>
  </dict>
</plist>