<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_12128_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{873,1223},{380,261}}</string>
        <key>offset</key>
        <string>{-100,97}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{380,261}}</string>
        <key>sourceSize</key>
        <string>{380,261}</string>
      </dict>
      <key>sfx_12128_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1136,1223},{363,317}}</string>
        <key>offset</key>
        <string>{-83,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{363,317}}</string>
        <key>sourceSize</key>
        <string>{363,317}</string>
      </dict>
      <key>sfx_12128_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{934,0},{396,268}}</string>
        <key>offset</key>
        <string>{-113,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{396,268}}</string>
        <key>sourceSize</key>
        <string>{396,268}</string>
      </dict>
      <key>sfx_12128_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{661,0},{428,271}}</string>
        <key>offset</key>
        <string>{-22,97}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{428,271}}</string>
        <key>sourceSize</key>
        <string>{428,271}</string>
      </dict>
      <key>sfx_12128_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{254,951},{444,317}}</string>
        <key>offset</key>
        <string>{-29,141}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{444,317}}</string>
        <key>sourceSize</key>
        <string>{444,317}</string>
      </dict>
      <key>sfx_12128_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{314,0},{453,345}}</string>
        <key>offset</key>
        <string>{-38,169}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{453,345}}</string>
        <key>sourceSize</key>
        <string>{453,345}</string>
      </dict>
      <key>sfx_12128_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{545,1397},{408,326}}</string>
        <key>offset</key>
        <string>{-62,150}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{408,326}}</string>
        <key>sourceSize</key>
        <string>{408,326}</string>
      </dict>
      <key>sfx_12128_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{841,430},{401,314}}</string>
        <key>offset</key>
        <string>{-61,140}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{401,314}}</string>
        <key>sourceSize</key>
        <string>{401,314}</string>
      </dict>
      <key>sfx_12128_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{844,833},{388,308}}</string>
        <key>offset</key>
        <string>{-53,134}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{388,308}}</string>
        <key>sourceSize</key>
        <string>{388,308}</string>
      </dict>
      <key>sfx_12128_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1141,1588},{318,306}}</string>
        <key>offset</key>
        <string>{-37,134}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{318,306}}</string>
        <key>sourceSize</key>
        <string>{318,306}</string>
      </dict>
      <key>sfx_12128_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{1157,398},{336,272}}</string>
        <key>offset</key>
        <string>{-59,100}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{336,272}}</string>
        <key>sourceSize</key>
        <string>{336,272}</string>
      </dict>
      <key>sfx_12128_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{873,1605},{380,266}}</string>
        <key>offset</key>
        <string>{-112,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{380,266}}</string>
        <key>sourceSize</key>
        <string>{380,266}</string>
      </dict>
      <key>sfx_12128_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1436},{446,267}}</string>
        <key>offset</key>
        <string>{-167,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{446,267}}</string>
        <key>sourceSize</key>
        <string>{446,267}</string>
      </dict>
      <key>sfx_12128_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{490,312}}</string>
        <key>offset</key>
        <string>{-211,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{490,312}}</string>
        <key>sourceSize</key>
        <string>{490,312}</string>
      </dict>
      <key>sfx_12128_0_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{269,1397},{410,274}}</string>
        <key>offset</key>
        <string>{-134,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{410,274}}</string>
        <key>sourceSize</key>
        <string>{410,274}</string>
      </dict>
      <key>sfx_12128_0_0015.png</key>
      <dict>
        <key>frame</key>
        <string>{{573,899},{402,269}}</string>
        <key>offset</key>
        <string>{-135,97}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{402,269}}</string>
        <key>sourceSize</key>
        <string>{402,269}</string>
      </dict>
      <key>sfx_12128_0_0016.png</key>
      <dict>
        <key>frame</key>
        <string>{{511,455},{442,328}}</string>
        <key>offset</key>
        <string>{-80,162}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{442,328}}</string>
        <key>sourceSize</key>
        <string>{442,328}</string>
      </dict>
      <key>sfx_12128_0_0017.png</key>
      <dict>
        <key>frame</key>
        <string>{{1154,833},{350,329}}</string>
        <key>offset</key>
        <string>{-13,176}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{350,329}}</string>
        <key>sourceSize</key>
        <string>{350,329}</string>
      </dict>
      <key>sfx_12128_0_0018.png</key>
      <dict>
        <key>frame</key>
        <string>{{1204,0},{285,319}}</string>
        <key>offset</key>
        <string>{-12,176}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{285,319}}</string>
        <key>sourceSize</key>
        <string>{285,319}</string>
      </dict>
      <key>sfx_12128_0_0019.png</key>
      <dict>
        <key>frame</key>
        <string>{{1449,1588},{245,314}}</string>
        <key>offset</key>
        <string>{-10,176}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{245,314}}</string>
        <key>sourceSize</key>
        <string>{245,314}</string>
      </dict>
      <key>sfx_12128_0_0020.png</key>
      <dict>
        <key>frame</key>
        <string>{{1696,0},{302,251}}</string>
        <key>offset</key>
        <string>{-19,103}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{302,251}}</string>
        <key>sourceSize</key>
        <string>{302,251}</string>
      </dict>
      <key>sfx_12128_0_0021.png</key>
      <dict>
        <key>frame</key>
        <string>{{1696,253},{241,251}}</string>
        <key>offset</key>
        <string>{-23,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{241,251}}</string>
        <key>sourceSize</key>
        <string>{241,251}</string>
      </dict>
      <key>sfx_12128_0_0022.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,965},{469,252}}</string>
        <key>offset</key>
        <string>{-221,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{469,252}}</string>
        <key>sourceSize</key>
        <string>{469,252}</string>
      </dict>
      <key>sfx_12128_0_0023.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,492},{471,251}}</string>
        <key>offset</key>
        <string>{-209,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{471,251}}</string>
        <key>sourceSize</key>
        <string>{471,251}</string>
      </dict>
      <key>sfx_12128_0_0024.png</key>
      <dict>
        <key>frame</key>
        <string>{{253,492},{457,256}}</string>
        <key>offset</key>
        <string>{-193,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{457,256}}</string>
        <key>sourceSize</key>
        <string>{457,256}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_12128_0.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>sfx_12128_0.png</string>
    </dict>
  </dict>
</plist>