<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_10014_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{150,251}}</string>
        <key>offset</key>
        <string>{-66,143}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,251}}</string>
        <key>sourceSize</key>
        <string>{150,251}</string>
      </dict>
      <key>sfx_10014_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,253},{151,250}}</string>
        <key>offset</key>
        <string>{-67,142}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,250}}</string>
        <key>sourceSize</key>
        <string>{151,250}</string>
      </dict>
      <key>sfx_10014_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,757},{150,249}}</string>
        <key>offset</key>
        <string>{-67,141}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,249}}</string>
        <key>sourceSize</key>
        <string>{150,249}</string>
      </dict>
      <key>sfx_10014_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{152,757},{149,249}}</string>
        <key>offset</key>
        <string>{-67,141}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{149,249}}</string>
        <key>sourceSize</key>
        <string>{149,249}</string>
      </dict>
      <key>sfx_10014_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{152,0},{148,250}}</string>
        <key>offset</key>
        <string>{-67,141}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,250}}</string>
        <key>sourceSize</key>
        <string>{148,250}</string>
      </dict>
      <key>sfx_10014_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{303,755},{148,246}}</string>
        <key>offset</key>
        <string>{-67,141}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,246}}</string>
        <key>sourceSize</key>
        <string>{148,246}</string>
      </dict>
      <key>sfx_10014_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{310,502},{148,245}}</string>
        <key>offset</key>
        <string>{-67,141}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,245}}</string>
        <key>sourceSize</key>
        <string>{148,245}</string>
      </dict>
      <key>sfx_10014_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{453,0},{149,244}}</string>
        <key>offset</key>
        <string>{-67,141}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{149,244}}</string>
        <key>sourceSize</key>
        <string>{149,244}</string>
      </dict>
      <key>sfx_10014_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{312,250},{147,245}}</string>
        <key>offset</key>
        <string>{-66,142}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,245}}</string>
        <key>sourceSize</key>
        <string>{147,245}</string>
      </dict>
      <key>sfx_10014_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{453,749},{147,244}}</string>
        <key>offset</key>
        <string>{-66,143}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,244}}</string>
        <key>sourceSize</key>
        <string>{147,244}</string>
      </dict>
      <key>sfx_10014_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{460,497},{148,244}}</string>
        <key>offset</key>
        <string>{-67,143}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,244}}</string>
        <key>sourceSize</key>
        <string>{148,244}</string>
      </dict>
      <key>sfx_10014_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{152,505},{156,248}}</string>
        <key>offset</key>
        <string>{-67,143}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,248}}</string>
        <key>sourceSize</key>
        <string>{156,248}</string>
      </dict>
      <key>sfx_10014_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{153,252},{157,248}}</string>
        <key>offset</key>
        <string>{-67,145}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{157,248}}</string>
        <key>sourceSize</key>
        <string>{157,248}</string>
      </dict>
      <key>sfx_10014_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{302,0},{149,248}}</string>
        <key>offset</key>
        <string>{-66,143}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{149,248}}</string>
        <key>sourceSize</key>
        <string>{149,248}</string>
      </dict>
      <key>sfx_10014_0_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,505},{150,250}}</string>
        <key>offset</key>
        <string>{-65,143}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,250}}</string>
        <key>sourceSize</key>
        <string>{150,250}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_10014_0.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>sfx_10014_0.png</string>
    </dict>
  </dict>
</plist>