<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_82132_0_0018.png</key>
      <dict>
        <key>frame</key>
        <string>{{743,567},{564,375}}</string>
        <key>offset</key>
        <string>{-199,191}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{564,375}}</string>
        <key>sourceSize</key>
        <string>{564,375}</string>
      </dict>
      <key>sfx_82132_0_0019.png</key>
      <dict>
        <key>frame</key>
        <string>{{380,0},{565,374}}</string>
        <key>offset</key>
        <string>{-201,189}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{565,374}}</string>
        <key>sourceSize</key>
        <string>{565,374}</string>
      </dict>
      <key>sfx_82132_0_0020.png</key>
      <dict>
        <key>frame</key>
        <string>{{374,586},{569,367}}</string>
        <key>offset</key>
        <string>{-204,180}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{569,367}}</string>
        <key>sourceSize</key>
        <string>{569,367}</string>
      </dict>
      <key>sfx_82132_0_0021.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,586},{578,372}}</string>
        <key>offset</key>
        <string>{-208,183}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{578,372}}</string>
        <key>sourceSize</key>
        <string>{578,372}</string>
      </dict>
      <key>sfx_82132_0_0022.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{584,378}}</string>
        <key>offset</key>
        <string>{-213,187}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{584,378}}</string>
        <key>sourceSize</key>
        <string>{584,378}</string>
      </dict>
      <key>sfx_82132_0_0023.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1166},{578,362}}</string>
        <key>offset</key>
        <string>{-216,167}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{578,362}}</string>
        <key>sourceSize</key>
        <string>{578,362}</string>
      </dict>
      <key>sfx_82132_0_0024.png</key>
      <dict>
        <key>frame</key>
        <string>{{364,1166},{573,387}}</string>
        <key>offset</key>
        <string>{-221,180}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{573,387}}</string>
        <key>sourceSize</key>
        <string>{573,387}</string>
      </dict>
      <key>sfx_82132_0_0025.png</key>
      <dict>
        <key>frame</key>
        <string>{{753,1133},{559,421}}</string>
        <key>offset</key>
        <string>{-226,200}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{559,421}}</string>
        <key>sourceSize</key>
        <string>{559,421}</string>
      </dict>
      <key>sfx_82132_0_0026.png</key>
      <dict>
        <key>frame</key>
        <string>{{756,0},{561,400}}</string>
        <key>offset</key>
        <string>{-227,184}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{561,400}}</string>
        <key>sourceSize</key>
        <string>{561,400}</string>
      </dict>
      <key>sfx_82132_0_0027.png</key>
      <dict>
        <key>frame</key>
        <string>{{1158,0},{556,380}}</string>
        <key>offset</key>
        <string>{-227,172}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{556,380}}</string>
        <key>sourceSize</key>
        <string>{556,380}</string>
      </dict>
      <key>sfx_82132_0_0028.png</key>
      <dict>
        <key>frame</key>
        <string>{{1120,563},{557,372}}</string>
        <key>offset</key>
        <string>{-231,161}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{557,372}}</string>
        <key>sourceSize</key>
        <string>{557,372}</string>
      </dict>
      <key>sfx_82132_0_0029.png</key>
      <dict>
        <key>frame</key>
        <string>{{1176,1677},{548,363}}</string>
        <key>offset</key>
        <string>{-224,154}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{548,363}}</string>
        <key>sourceSize</key>
        <string>{548,363}</string>
      </dict>
      <key>sfx_82132_0_0030.png</key>
      <dict>
        <key>frame</key>
        <string>{{1540,0},{541,354}}</string>
        <key>offset</key>
        <string>{-208,143}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{541,354}}</string>
        <key>sourceSize</key>
        <string>{541,354}</string>
      </dict>
      <key>sfx_82132_0_0031.png</key>
      <dict>
        <key>frame</key>
        <string>{{1176,1122},{553,353}}</string>
        <key>offset</key>
        <string>{-212,142}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{553,353}}</string>
        <key>sourceSize</key>
        <string>{553,353}</string>
      </dict>
      <key>sfx_82132_0_0032.png</key>
      <dict>
        <key>frame</key>
        <string>{{1494,558},{545,337}}</string>
        <key>offset</key>
        <string>{-217,108}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{545,337}}</string>
        <key>sourceSize</key>
        <string>{545,337}</string>
      </dict>
      <key>sfx_82132_0_0033.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1746},{525,279}}</string>
        <key>offset</key>
        <string>{-212,71}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{525,279}}</string>
        <key>sourceSize</key>
        <string>{525,279}</string>
      </dict>
      <key>sfx_82132_0_0034.png</key>
      <dict>
        <key>frame</key>
        <string>{{527,1741},{428,252}}</string>
        <key>offset</key>
        <string>{-159,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{428,252}}</string>
        <key>sourceSize</key>
        <string>{428,252}</string>
      </dict>
      <key>sfx_82132_0_0035.png</key>
      <dict>
        <key>frame</key>
        <string>{{957,1694},{199,232}}</string>
        <key>offset</key>
        <string>{-3,71}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{199,232}}</string>
        <key>sourceSize</key>
        <string>{199,232}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_82132_0_1.png</string>
      <key>size</key>
      <string>{4096,2048}</string>
      <key>textureFileName</key>
      <string>sfx_82132_0_1.png</string>
    </dict>
  </dict>
</plist>