<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_36006_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{456,218},{286,214}}</string>
        <key>offset</key>
        <string>{-49,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{286,214}}</string>
        <key>sourceSize</key>
        <string>{286,214}</string>
      </dict>
      <key>sfx_36006_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{744,289},{286,217}}</string>
        <key>offset</key>
        <string>{-49,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{286,217}}</string>
        <key>sourceSize</key>
        <string>{286,217}</string>
      </dict>
      <key>sfx_36006_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{456,434},{286,219}}</string>
        <key>offset</key>
        <string>{-49,52}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{286,219}}</string>
        <key>sourceSize</key>
        <string>{286,219}</string>
      </dict>
      <key>sfx_36006_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{229,0},{287,222}}</string>
        <key>offset</key>
        <string>{-50,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{287,222}}</string>
        <key>sourceSize</key>
        <string>{287,222}</string>
      </dict>
      <key>sfx_36006_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{229,289},{287,224}}</string>
        <key>offset</key>
        <string>{-50,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{287,224}}</string>
        <key>sourceSize</key>
        <string>{287,224}</string>
      </dict>
      <key>sfx_36006_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,593},{290,226}}</string>
        <key>offset</key>
        <string>{-51,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{290,226}}</string>
        <key>sourceSize</key>
        <string>{290,226}</string>
      </dict>
      <key>sfx_36006_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{298,227}}</string>
        <key>offset</key>
        <string>{-54,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{298,227}}</string>
        <key>sourceSize</key>
        <string>{298,227}</string>
      </dict>
      <key>sfx_36006_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,300},{291,227}}</string>
        <key>offset</key>
        <string>{-51,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{291,227}}</string>
        <key>sourceSize</key>
        <string>{291,227}</string>
      </dict>
      <key>sfx_36006_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{228,593},{289,226}}</string>
        <key>offset</key>
        <string>{-50,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{289,226}}</string>
        <key>sourceSize</key>
        <string>{289,226}</string>
      </dict>
      <key>sfx_36006_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{747,0},{287,224}}</string>
        <key>offset</key>
        <string>{-50,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{287,224}}</string>
        <key>sourceSize</key>
        <string>{287,224}</string>
      </dict>
      <key>sfx_36006_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{744,577},{286,222}}</string>
        <key>offset</key>
        <string>{-49,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{286,222}}</string>
        <key>sourceSize</key>
        <string>{286,222}</string>
      </dict>
      <key>sfx_36006_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{456,0},{289,216}}</string>
        <key>offset</key>
        <string>{-49,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{289,216}}</string>
        <key>sourceSize</key>
        <string>{289,216}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_36006_0.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>sfx_36006_0.png</string>
    </dict>
  </dict>
</plist>