<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_25011_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{58,0},{70,54}}</string>
        <key>offset</key>
        <string>{-35,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,54}}</string>
        <key>sourceSize</key>
        <string>{70,54}</string>
      </dict>
      <key>sfx_25011_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{57,77},{72,55}}</string>
        <key>offset</key>
        <string>{-36,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,55}}</string>
        <key>sourceSize</key>
        <string>{72,55}</string>
      </dict>
      <key>sfx_25011_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,154},{74,56}}</string>
        <key>offset</key>
        <string>{-37,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,56}}</string>
        <key>sourceSize</key>
        <string>{74,56}</string>
      </dict>
      <key>sfx_25011_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{75,56}}</string>
        <key>offset</key>
        <string>{-37,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,56}}</string>
        <key>sourceSize</key>
        <string>{75,56}</string>
      </dict>
      <key>sfx_25011_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,77},{75,55}}</string>
        <key>offset</key>
        <string>{-37,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,55}}</string>
        <key>sourceSize</key>
        <string>{75,55}</string>
      </dict>
      <key>sfx_25011_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{114,0},{68,55}}</string>
        <key>offset</key>
        <string>{-33,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,55}}</string>
        <key>sourceSize</key>
        <string>{68,55}</string>
      </dict>
      <key>sfx_25011_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{114,70},{64,55}}</string>
        <key>offset</key>
        <string>{-33,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,55}}</string>
        <key>sourceSize</key>
        <string>{64,55}</string>
      </dict>
      <key>sfx_25011_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,176},{63,57}}</string>
        <key>offset</key>
        <string>{-31,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,57}}</string>
        <key>sourceSize</key>
        <string>{63,57}</string>
      </dict>
      <key>sfx_25011_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{171,116},{64,58}}</string>
        <key>offset</key>
        <string>{-32,30}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,58}}</string>
        <key>sourceSize</key>
        <string>{64,58}</string>
      </dict>
      <key>sfx_25011_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{58,151},{66,57}}</string>
        <key>offset</key>
        <string>{-33,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,57}}</string>
        <key>sourceSize</key>
        <string>{66,57}</string>
      </dict>
      <key>sfx_25011_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{171,0},{68,58}}</string>
        <key>offset</key>
        <string>{-34,30}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,58}}</string>
        <key>sourceSize</key>
        <string>{68,58}</string>
      </dict>
      <key>sfx_25011_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{171,60},{68,54}}</string>
        <key>offset</key>
        <string>{-34,29}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,54}}</string>
        <key>sourceSize</key>
        <string>{68,54}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_25011_0.png</string>
      <key>size</key>
      <string>{256,256}</string>
      <key>textureFileName</key>
      <string>sfx_25011_0.png</string>
    </dict>
  </dict>
</plist>