<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_35018_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{672,800}}</string>
        <key>offset</key>
        <string>{-323,606}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{672,800}}</string>
        <key>sourceSize</key>
        <string>{672,800}</string>
      </dict>
      <key>sfx_35018_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{802,0},{684,790}}</string>
        <key>offset</key>
        <string>{-329,606}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{684,790}}</string>
        <key>sourceSize</key>
        <string>{684,790}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_35018_0_5.png</string>
      <key>size</key>
      <string>{1580,1280}</string>
      <key>textureFileName</key>
      <string>sfx_35018_0_5.png</string>
    </dict>
  </dict>
</plist>