<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_35123_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{601,1283},{599,548}}</string>
        <key>offset</key>
        <string>{-281,376}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{599,548}}</string>
        <key>sourceSize</key>
        <string>{599,548}</string>
      </dict>
      <key>sfx_35123_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{596,0},{600,571}}</string>
        <key>offset</key>
        <string>{-281,390}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{600,571}}</string>
        <key>sourceSize</key>
        <string>{600,571}</string>
      </dict>
      <key>sfx_35123_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1749,0},{571,579}}</string>
        <key>offset</key>
        <string>{-252,389}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{571,579}}</string>
        <key>sourceSize</key>
        <string>{571,579}</string>
      </dict>
      <key>sfx_35123_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1178,601},{592,595}}</string>
        <key>offset</key>
        <string>{-273,396}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{592,595}}</string>
        <key>sourceSize</key>
        <string>{592,595}</string>
      </dict>
      <key>sfx_35123_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{672,594}}</string>
        <key>offset</key>
        <string>{-381,388}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{672,594}}</string>
        <key>sourceSize</key>
        <string>{672,594}</string>
      </dict>
      <key>sfx_35123_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1151,1203},{571,596}}</string>
        <key>offset</key>
        <string>{-279,377}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{571,596}}</string>
        <key>sourceSize</key>
        <string>{571,596}</string>
      </dict>
      <key>sfx_35123_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,674},{607,601}}</string>
        <key>offset</key>
        <string>{-314,372}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{607,601}}</string>
        <key>sourceSize</key>
        <string>{607,601}</string>
      </dict>
      <key>sfx_35123_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{603,602},{573,599}}</string>
        <key>offset</key>
        <string>{-281,370}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{573,599}}</string>
        <key>sourceSize</key>
        <string>{573,599}</string>
      </dict>
      <key>sfx_35123_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1169,0},{578,599}}</string>
        <key>offset</key>
        <string>{-279,370}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{578,599}}</string>
        <key>sourceSize</key>
        <string>{578,599}</string>
      </dict>
      <key>sfx_35123_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1283},{599,600}}</string>
        <key>offset</key>
        <string>{-281,371}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{599,600}}</string>
        <key>sourceSize</key>
        <string>{599,600}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_35123_0_0.png</string>
      <key>size</key>
      <string>{4096,2048}</string>
      <key>textureFileName</key>
      <string>sfx_35123_0_0.png</string>
    </dict>
  </dict>
</plist>