<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_25076_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1182,559},{548,394}}</string>
        <key>offset</key>
        <string>{-183,174}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{548,394}}</string>
        <key>sourceSize</key>
        <string>{548,394}</string>
      </dict>
      <key>sfx_25076_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{798,1132},{560,396}}</string>
        <key>offset</key>
        <string>{-177,159}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{560,396}}</string>
        <key>sourceSize</key>
        <string>{560,396}</string>
      </dict>
      <key>sfx_25076_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{407,0},{564,394}}</string>
        <key>offset</key>
        <string>{-178,174}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{564,394}}</string>
        <key>sourceSize</key>
        <string>{564,394}</string>
      </dict>
      <key>sfx_25076_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{572,405}}</string>
        <key>offset</key>
        <string>{-197,188}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{572,405}}</string>
        <key>sourceSize</key>
        <string>{572,405}</string>
      </dict>
      <key>sfx_25076_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1148},{566,397}}</string>
        <key>offset</key>
        <string>{-200,178}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{566,397}}</string>
        <key>sourceSize</key>
        <string>{566,397}</string>
      </dict>
      <key>sfx_25076_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{803,0},{557,377}}</string>
        <key>offset</key>
        <string>{-189,154}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{557,377}}</string>
        <key>sourceSize</key>
        <string>{557,377}</string>
      </dict>
      <key>sfx_25076_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1578,398},{548,379}}</string>
        <key>offset</key>
        <string>{-180,161}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{548,379}}</string>
        <key>sourceSize</key>
        <string>{548,379}</string>
      </dict>
      <key>sfx_25076_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1578,948},{548,394}}</string>
        <key>offset</key>
        <string>{-183,174}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{548,394}}</string>
        <key>sourceSize</key>
        <string>{548,394}</string>
      </dict>
      <key>sfx_25076_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{1196,0},{560,396}}</string>
        <key>offset</key>
        <string>{-177,159}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{560,396}}</string>
        <key>sourceSize</key>
        <string>{560,396}</string>
      </dict>
      <key>sfx_25076_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{407,566},{564,394}}</string>
        <key>offset</key>
        <string>{-178,174}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{564,394}}</string>
        <key>sourceSize</key>
        <string>{564,394}</string>
      </dict>
      <key>sfx_25076_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,574},{572,405}}</string>
        <key>offset</key>
        <string>{-197,188}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{572,405}}</string>
        <key>sourceSize</key>
        <string>{572,405}</string>
      </dict>
      <key>sfx_25076_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{399,1148},{566,397}}</string>
        <key>offset</key>
        <string>{-200,178}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{566,397}}</string>
        <key>sourceSize</key>
        <string>{566,397}</string>
      </dict>
      <key>sfx_25076_0_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{803,559},{557,377}}</string>
        <key>offset</key>
        <string>{-189,154}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{557,377}}</string>
        <key>sourceSize</key>
        <string>{557,377}</string>
      </dict>
      <key>sfx_25076_0_0015.png</key>
      <dict>
        <key>frame</key>
        <string>{{1196,1498},{548,379}}</string>
        <key>offset</key>
        <string>{-180,161}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{548,379}}</string>
        <key>sourceSize</key>
        <string>{548,379}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_25076_0_0.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>sfx_25076_0_0.png</string>
    </dict>
  </dict>
</plist>