<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_32002_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1097},{194,240}}</string>
        <key>offset</key>
        <string>{-112,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{194,240}}</string>
        <key>sourceSize</key>
        <string>{194,240}</string>
      </dict>
      <key>sfx_32002_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{575,445},{189,280}}</string>
        <key>offset</key>
        <string>{-111,170}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{189,280}}</string>
        <key>sourceSize</key>
        <string>{189,280}</string>
      </dict>
      <key>sfx_32002_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,226},{187,287}}</string>
        <key>offset</key>
        <string>{-106,172}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{187,287}}</string>
        <key>sourceSize</key>
        <string>{187,287}</string>
      </dict>
      <key>sfx_32002_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,415},{219,287}}</string>
        <key>offset</key>
        <string>{-109,174}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{219,287}}</string>
        <key>sourceSize</key>
        <string>{219,287}</string>
      </dict>
      <key>sfx_32002_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{289,444},{240,284}}</string>
        <key>offset</key>
        <string>{-106,175}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{240,284}}</string>
        <key>sourceSize</key>
        <string>{240,284}</string>
      </dict>
      <key>sfx_32002_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{563,867},{232,248}}</string>
        <key>offset</key>
        <string>{-98,161}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{232,248}}</string>
        <key>sourceSize</key>
        <string>{232,248}</string>
      </dict>
      <key>sfx_32002_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,636},{230,281}}</string>
        <key>offset</key>
        <string>{-96,164}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{230,281}}</string>
        <key>sourceSize</key>
        <string>{230,281}</string>
      </dict>
      <key>sfx_32002_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{224,304}}</string>
        <key>offset</key>
        <string>{-90,160}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{224,304}}</string>
        <key>sourceSize</key>
        <string>{224,304}</string>
      </dict>
      <key>sfx_32002_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{306,0},{214,295}}</string>
        <key>offset</key>
        <string>{-80,151}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{214,295}}</string>
        <key>sourceSize</key>
        <string>{214,295}</string>
      </dict>
      <key>sfx_32002_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{596,234},{209,286}}</string>
        <key>offset</key>
        <string>{-82,142}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{209,286}}</string>
        <key>sourceSize</key>
        <string>{209,286}</string>
      </dict>
      <key>sfx_32002_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{306,216},{226,288}}</string>
        <key>offset</key>
        <string>{-101,144}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{226,288}}</string>
        <key>sourceSize</key>
        <string>{226,288}</string>
      </dict>
      <key>sfx_32002_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{603,0},{232,289}}</string>
        <key>offset</key>
        <string>{-110,145}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{232,289}}</string>
        <key>sourceSize</key>
        <string>{232,289}</string>
      </dict>
      <key>sfx_32002_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{575,636},{229,280}}</string>
        <key>offset</key>
        <string>{-112,136}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{229,280}}</string>
        <key>sourceSize</key>
        <string>{229,280}</string>
      </dict>
      <key>sfx_32002_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{283,686},{231,278}}</string>
        <key>offset</key>
        <string>{-112,134}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{231,278}}</string>
        <key>sourceSize</key>
        <string>{231,278}</string>
      </dict>
      <key>sfx_32002_0_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,868},{227,252}}</string>
        <key>offset</key>
        <string>{-112,119}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{227,252}}</string>
        <key>sourceSize</key>
        <string>{227,252}</string>
      </dict>
      <key>sfx_32002_0_0015.png</key>
      <dict>
        <key>frame</key>
        <string>{{254,919},{223,246}}</string>
        <key>offset</key>
        <string>{-112,121}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{223,246}}</string>
        <key>sourceSize</key>
        <string>{223,246}</string>
      </dict>
      <key>sfx_32002_0_0016.png</key>
      <dict>
        <key>frame</key>
        <string>{{502,1101},{229,240}}</string>
        <key>offset</key>
        <string>{-112,114}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{229,240}}</string>
        <key>sourceSize</key>
        <string>{229,240}</string>
      </dict>
      <key>sfx_32002_0_0017.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1293},{225,224}}</string>
        <key>offset</key>
        <string>{-112,107}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{225,224}}</string>
        <key>sourceSize</key>
        <string>{225,224}</string>
      </dict>
      <key>sfx_32002_0_0018.png</key>
      <dict>
        <key>frame</key>
        <string>{{242,1144},{225,229}}</string>
        <key>offset</key>
        <string>{-112,115}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{225,229}}</string>
        <key>sourceSize</key>
        <string>{225,229}</string>
      </dict>
      <key>sfx_32002_0_0019.png</key>
      <dict>
        <key>frame</key>
        <string>{{813,867},{207,217}}</string>
        <key>offset</key>
        <string>{-112,104}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{207,217}}</string>
        <key>sourceSize</key>
        <string>{207,217}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_32002_0.png</string>
      <key>size</key>
      <string>{1024,2048}</string>
      <key>textureFileName</key>
      <string>sfx_32002_0.png</string>
    </dict>
  </dict>
</plist>