<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_11034_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,365},{117,287}}</string>
        <key>offset</key>
        <string>{-36,192}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,287}}</string>
        <key>sourceSize</key>
        <string>{117,287}</string>
      </dict>
      <key>sfx_11034_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{408,476},{129,269}}</string>
        <key>offset</key>
        <string>{-35,174}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,269}}</string>
        <key>sourceSize</key>
        <string>{129,269}</string>
      </dict>
      <key>sfx_11034_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,484},{126,279}}</string>
        <key>offset</key>
        <string>{-33,184}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,279}}</string>
        <key>sourceSize</key>
        <string>{126,279}</string>
      </dict>
      <key>sfx_11034_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,243},{120,288}}</string>
        <key>offset</key>
        <string>{-28,193}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,288}}</string>
        <key>sourceSize</key>
        <string>{120,288}</string>
      </dict>
      <key>sfx_11034_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{292,241},{115,289}}</string>
        <key>offset</key>
        <string>{-28,194}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,289}}</string>
        <key>sourceSize</key>
        <string>{115,289}</string>
      </dict>
      <key>sfx_11034_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{302,123},{116,292}}</string>
        <key>offset</key>
        <string>{-28,197}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,292}}</string>
        <key>sourceSize</key>
        <string>{116,292}</string>
      </dict>
      <key>sfx_11034_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,127},{114,290}}</string>
        <key>offset</key>
        <string>{-30,195}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,290}}</string>
        <key>sourceSize</key>
        <string>{114,290}</string>
      </dict>
      <key>sfx_11034_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{289,476},{117,283}}</string>
        <key>offset</key>
        <string>{-32,188}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,283}}</string>
        <key>sourceSize</key>
        <string>{117,283}</string>
      </dict>
      <key>sfx_11034_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{290,358},{116,288}}</string>
        <key>offset</key>
        <string>{-34,193}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,288}}</string>
        <key>sourceSize</key>
        <string>{116,288}</string>
      </dict>
      <key>sfx_11034_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{125,300}}</string>
        <key>offset</key>
        <string>{-39,205}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,300}}</string>
        <key>sourceSize</key>
        <string>{125,300}</string>
      </dict>
      <key>sfx_11034_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{302,0},{121,297}}</string>
        <key>offset</key>
        <string>{-37,202}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,297}}</string>
        <key>sourceSize</key>
        <string>{121,297}</string>
      </dict>
      <key>sfx_11034_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,484},{115,279}}</string>
        <key>offset</key>
        <string>{-36,184}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,279}}</string>
        <key>sourceSize</key>
        <string>{115,279}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_11034_0.png</string>
      <key>size</key>
      <string>{640,768}</string>
      <key>textureFileName</key>
      <string>sfx_11034_0.png</string>
    </dict>
  </dict>
</plist>