<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_33016_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{155,557},{153,270}}</string>
        <key>offset</key>
        <string>{22,105}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,270}}</string>
        <key>sourceSize</key>
        <string>{153,270}</string>
      </dict>
      <key>sfx_33016_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,557},{153,273}}</string>
        <key>offset</key>
        <string>{21,105}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,273}}</string>
        <key>sourceSize</key>
        <string>{153,273}</string>
      </dict>
      <key>sfx_33016_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,832},{153,271}}</string>
        <key>offset</key>
        <string>{18,105}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,271}}</string>
        <key>sourceSize</key>
        <string>{153,271}</string>
      </dict>
      <key>sfx_33016_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{273,829},{148,270}}</string>
        <key>offset</key>
        <string>{17,105}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,270}}</string>
        <key>sourceSize</key>
        <string>{148,270}</string>
      </dict>
      <key>sfx_33016_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{545,0},{159,270}}</string>
        <key>offset</key>
        <string>{2,105}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,270}}</string>
        <key>sourceSize</key>
        <string>{159,270}</string>
      </dict>
      <key>sfx_33016_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{817,0},{161,270}}</string>
        <key>offset</key>
        <string>{0,105}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,270}}</string>
        <key>sourceSize</key>
        <string>{161,270}</string>
      </dict>
      <key>sfx_33016_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{545,161},{158,270}}</string>
        <key>offset</key>
        <string>{0,105}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{158,270}}</string>
        <key>sourceSize</key>
        <string>{158,270}</string>
      </dict>
      <key>sfx_33016_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{817,272},{150,270}}</string>
        <key>offset</key>
        <string>{8,105}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,270}}</string>
        <key>sourceSize</key>
        <string>{150,270}</string>
      </dict>
      <key>sfx_33016_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{545,321},{165,270}}</string>
        <key>offset</key>
        <string>{-2,105}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{165,270}}</string>
        <key>sourceSize</key>
        <string>{165,270}</string>
      </dict>
      <key>sfx_33016_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{545,488},{163,270}}</string>
        <key>offset</key>
        <string>{-1,105}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,270}}</string>
        <key>sourceSize</key>
        <string>{163,270}</string>
      </dict>
      <key>sfx_33016_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{161,279}}</string>
        <key>offset</key>
        <string>{-4,105}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,279}}</string>
        <key>sourceSize</key>
        <string>{161,279}</string>
      </dict>
      <key>sfx_33016_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,281},{161,274}}</string>
        <key>offset</key>
        <string>{2,105}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,274}}</string>
        <key>sourceSize</key>
        <string>{161,274}</string>
      </dict>
      <key>sfx_33016_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{310,653},{169,270}}</string>
        <key>offset</key>
        <string>{-1,105}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{169,270}}</string>
        <key>sourceSize</key>
        <string>{169,270}</string>
      </dict>
      <key>sfx_33016_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{545,824},{153,270}}</string>
        <key>offset</key>
        <string>{20,105}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,270}}</string>
        <key>sourceSize</key>
        <string>{153,270}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_33016_0.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>sfx_33016_0.png</string>
    </dict>
  </dict>
</plist>