<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_10305_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{115,0},{83,110}}</string>
        <key>offset</key>
        <string>{-40,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,110}}</string>
        <key>sourceSize</key>
        <string>{83,110}</string>
      </dict>
      <key>sfx_10305_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{85,113}}</string>
        <key>offset</key>
        <string>{-40,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,113}}</string>
        <key>sourceSize</key>
        <string>{85,113}</string>
      </dict>
      <key>sfx_10305_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,164},{83,107}}</string>
        <key>offset</key>
        <string>{-37,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,107}}</string>
        <key>sourceSize</key>
        <string>{83,107}</string>
      </dict>
      <key>sfx_10305_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{109,248},{83,106}}</string>
        <key>offset</key>
        <string>{-38,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,106}}</string>
        <key>sourceSize</key>
        <string>{83,106}</string>
      </dict>
      <key>sfx_10305_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{111,162},{84,108}}</string>
        <key>offset</key>
        <string>{-40,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,108}}</string>
        <key>sourceSize</key>
        <string>{84,108}</string>
      </dict>
      <key>sfx_10305_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,407},{79,103}}</string>
        <key>offset</key>
        <string>{-38,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,103}}</string>
        <key>sourceSize</key>
        <string>{79,103}</string>
      </dict>
      <key>sfx_10305_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{115,85},{75,110}}</string>
        <key>offset</key>
        <string>{-35,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,110}}</string>
        <key>sourceSize</key>
        <string>{75,110}</string>
      </dict>
      <key>sfx_10305_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,249},{76,105}}</string>
        <key>offset</key>
        <string>{-35,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,105}}</string>
        <key>sourceSize</key>
        <string>{76,105}</string>
      </dict>
      <key>sfx_10305_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,87},{75,109}}</string>
        <key>offset</key>
        <string>{-34,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,109}}</string>
        <key>sourceSize</key>
        <string>{75,109}</string>
      </dict>
      <key>sfx_10305_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,327},{78,105}}</string>
        <key>offset</key>
        <string>{-36,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,105}}</string>
        <key>sourceSize</key>
        <string>{78,105}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_10305_0.png</string>
      <key>size</key>
      <string>{256,512}</string>
      <key>textureFileName</key>
      <string>sfx_10305_0.png</string>
    </dict>
  </dict>
</plist>