<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_82548_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{282,0},{282,393}}</string>
        <key>offset</key>
        <string>{-30,176}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{282,393}}</string>
        <key>sourceSize</key>
        <string>{282,393}</string>
      </dict>
      <key>sfx_82548_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{282,395},{285,393}}</string>
        <key>offset</key>
        <string>{-32,176}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{285,393}}</string>
        <key>sourceSize</key>
        <string>{285,393}</string>
      </dict>
      <key>sfx_82548_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{280,399}}</string>
        <key>offset</key>
        <string>{-33,182}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{280,399}}</string>
        <key>sourceSize</key>
        <string>{280,399}</string>
      </dict>
      <key>sfx_82548_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1593},{281,390}}</string>
        <key>offset</key>
        <string>{-34,173}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{281,390}}</string>
        <key>sourceSize</key>
        <string>{281,390}</string>
      </dict>
      <key>sfx_82548_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1425,374},{275,367}}</string>
        <key>offset</key>
        <string>{-27,150}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{275,367}}</string>
        <key>sourceSize</key>
        <string>{275,367}</string>
      </dict>
      <key>sfx_82548_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1702,0},{274,371}}</string>
        <key>offset</key>
        <string>{-29,154}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{274,371}}</string>
        <key>sourceSize</key>
        <string>{274,371}</string>
      </dict>
      <key>sfx_82548_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{862,1164},{274,372}}</string>
        <key>offset</key>
        <string>{-30,155}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{274,372}}</string>
        <key>sourceSize</key>
        <string>{274,372}</string>
      </dict>
      <key>sfx_82548_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{867,763},{281,372}}</string>
        <key>offset</key>
        <string>{-32,155}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{281,372}}</string>
        <key>sourceSize</key>
        <string>{281,372}</string>
      </dict>
      <key>sfx_82548_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1134,1538},{285,370}}</string>
        <key>offset</key>
        <string>{-33,153}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{285,370}}</string>
        <key>sourceSize</key>
        <string>{285,370}</string>
      </dict>
      <key>sfx_82548_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{576,785},{289,377}}</string>
        <key>offset</key>
        <string>{-34,160}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{289,377}}</string>
        <key>sourceSize</key>
        <string>{289,377}</string>
      </dict>
      <key>sfx_82548_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{1138,0},{279,376}}</string>
        <key>offset</key>
        <string>{-27,159}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{279,376}}</string>
        <key>sourceSize</key>
        <string>{279,376}</string>
      </dict>
      <key>sfx_82548_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{566,1564},{285,379}}</string>
        <key>offset</key>
        <string>{-30,162}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{285,379}}</string>
        <key>sourceSize</key>
        <string>{285,379}</string>
      </dict>
      <key>sfx_82548_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,0},{286,382}}</string>
        <key>offset</key>
        <string>{-32,165}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{286,382}}</string>
        <key>sourceSize</key>
        <string>{286,382}</string>
      </dict>
      <key>sfx_82548_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{287,790},{287,388}}</string>
        <key>offset</key>
        <string>{-33,171}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{287,388}}</string>
        <key>sourceSize</key>
        <string>{287,388}</string>
      </dict>
      <key>sfx_82548_0_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,802},{285,394}}</string>
        <key>offset</key>
        <string>{-34,177}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{285,394}}</string>
        <key>sourceSize</key>
        <string>{285,394}</string>
      </dict>
      <key>sfx_82548_0_0015.png</key>
      <dict>
        <key>frame</key>
        <string>{{566,0},{282,393}}</string>
        <key>offset</key>
        <string>{-30,176}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{282,393}}</string>
        <key>sourceSize</key>
        <string>{282,393}</string>
      </dict>
      <key>sfx_82548_0_0016.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1198},{285,393}}</string>
        <key>offset</key>
        <string>{-32,176}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{285,393}}</string>
        <key>sourceSize</key>
        <string>{285,393}</string>
      </dict>
      <key>sfx_82548_0_0017.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,401},{280,399}}</string>
        <key>offset</key>
        <string>{-33,182}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{280,399}}</string>
        <key>sourceSize</key>
        <string>{280,399}</string>
      </dict>
      <key>sfx_82548_0_0018.png</key>
      <dict>
        <key>frame</key>
        <string>{{283,1593},{281,390}}</string>
        <key>offset</key>
        <string>{-34,173}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{281,390}}</string>
        <key>sourceSize</key>
        <string>{281,390}</string>
      </dict>
      <key>sfx_82548_0_0019.png</key>
      <dict>
        <key>frame</key>
        <string>{{1425,743},{275,367}}</string>
        <key>offset</key>
        <string>{-27,150}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{275,367}}</string>
        <key>sourceSize</key>
        <string>{275,367}</string>
      </dict>
      <key>sfx_82548_0_0020.png</key>
      <dict>
        <key>frame</key>
        <string>{{1702,373},{274,371}}</string>
        <key>offset</key>
        <string>{-29,154}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{274,371}}</string>
        <key>sourceSize</key>
        <string>{274,371}</string>
      </dict>
      <key>sfx_82548_0_0021.png</key>
      <dict>
        <key>frame</key>
        <string>{{1149,378},{274,372}}</string>
        <key>offset</key>
        <string>{-30,155}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{274,372}}</string>
        <key>sourceSize</key>
        <string>{274,372}</string>
      </dict>
      <key>sfx_82548_0_0022.png</key>
      <dict>
        <key>frame</key>
        <string>{{1419,0},{281,372}}</string>
        <key>offset</key>
        <string>{-32,155}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{281,372}}</string>
        <key>sourceSize</key>
        <string>{281,372}</string>
      </dict>
      <key>sfx_82548_0_0023.png</key>
      <dict>
        <key>frame</key>
        <string>{{1138,1137},{285,370}}</string>
        <key>offset</key>
        <string>{-33,153}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{285,370}}</string>
        <key>sourceSize</key>
        <string>{285,370}</string>
      </dict>
      <key>sfx_82548_0_0024.png</key>
      <dict>
        <key>frame</key>
        <string>{{858,384},{289,377}}</string>
        <key>offset</key>
        <string>{-34,160}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{289,377}}</string>
        <key>sourceSize</key>
        <string>{289,377}</string>
      </dict>
      <key>sfx_82548_0_0025.png</key>
      <dict>
        <key>frame</key>
        <string>{{853,1561},{279,376}}</string>
        <key>offset</key>
        <string>{-27,159}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{279,376}}</string>
        <key>sourceSize</key>
        <string>{279,376}</string>
      </dict>
      <key>sfx_82548_0_0026.png</key>
      <dict>
        <key>frame</key>
        <string>{{575,1180},{285,379}}</string>
        <key>offset</key>
        <string>{-30,162}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{285,379}}</string>
        <key>sourceSize</key>
        <string>{285,379}</string>
      </dict>
      <key>sfx_82548_0_0027.png</key>
      <dict>
        <key>frame</key>
        <string>{{287,1180},{286,382}}</string>
        <key>offset</key>
        <string>{-32,165}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{286,382}}</string>
        <key>sourceSize</key>
        <string>{286,382}</string>
      </dict>
      <key>sfx_82548_0_0028.png</key>
      <dict>
        <key>frame</key>
        <string>{{569,395},{287,388}}</string>
        <key>offset</key>
        <string>{-33,171}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{287,388}}</string>
        <key>sourceSize</key>
        <string>{287,388}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_82548_0.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>sfx_82548_0.png</string>
    </dict>
  </dict>
</plist>