<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_82577_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{125,178},{59,57}}</string>
        <key>offset</key>
        <string>{-33,29}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,57}}</string>
        <key>sourceSize</key>
        <string>{59,57}</string>
      </dict>
      <key>sfx_82577_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{62,235},{59,57}}</string>
        <key>offset</key>
        <string>{-33,29}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,57}}</string>
        <key>sourceSize</key>
        <string>{59,57}</string>
      </dict>
      <key>sfx_82577_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{80,117},{61,57}}</string>
        <key>offset</key>
        <string>{-35,29}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,57}}</string>
        <key>sourceSize</key>
        <string>{61,57}</string>
      </dict>
      <key>sfx_82577_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{63,176},{60,57}}</string>
        <key>offset</key>
        <string>{-34,29}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,57}}</string>
        <key>sourceSize</key>
        <string>{60,57}</string>
      </dict>
      <key>sfx_82577_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,236},{59,56}}</string>
        <key>offset</key>
        <string>{-33,28}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,56}}</string>
        <key>sourceSize</key>
        <string>{59,56}</string>
      </dict>
      <key>sfx_82577_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,178},{60,56}}</string>
        <key>offset</key>
        <string>{-35,28}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,56}}</string>
        <key>sourceSize</key>
        <string>{60,56}</string>
      </dict>
      <key>sfx_82577_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,294},{59,56}}</string>
        <key>offset</key>
        <string>{-36,29}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,56}}</string>
        <key>sourceSize</key>
        <string>{59,56}</string>
      </dict>
      <key>sfx_82577_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{186,178},{58,56}}</string>
        <key>offset</key>
        <string>{-35,29}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,56}}</string>
        <key>sourceSize</key>
        <string>{58,56}</string>
      </dict>
      <key>sfx_82577_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,121},{61,55}}</string>
        <key>offset</key>
        <string>{-38,29}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,55}}</string>
        <key>sourceSize</key>
        <string>{61,55}</string>
      </dict>
      <key>sfx_82577_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{61,294},{55,55}}</string>
        <key>offset</key>
        <string>{-32,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,55}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>sfx_82577_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{182,291},{56,55}}</string>
        <key>offset</key>
        <string>{-33,29}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,55}}</string>
        <key>sourceSize</key>
        <string>{56,55}</string>
      </dict>
      <key>sfx_82577_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{143,120},{56,61}}</string>
        <key>offset</key>
        <string>{-33,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,61}}</string>
        <key>sourceSize</key>
        <string>{56,61}</string>
      </dict>
      <key>sfx_82577_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{186,236},{57,53}}</string>
        <key>offset</key>
        <string>{-34,27}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,53}}</string>
        <key>sourceSize</key>
        <string>{57,53}</string>
      </dict>
      <key>sfx_82577_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{159,61},{57,76}}</string>
        <key>offset</key>
        <string>{-34,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,76}}</string>
        <key>sourceSize</key>
        <string>{57,76}</string>
      </dict>
      <key>sfx_82577_0_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{80,59},{56,77}}</string>
        <key>offset</key>
        <string>{-33,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,77}}</string>
        <key>sourceSize</key>
        <string>{56,77}</string>
      </dict>
      <key>sfx_82577_0_0015.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{57,79}}</string>
        <key>offset</key>
        <string>{-32,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,79}}</string>
        <key>sourceSize</key>
        <string>{57,79}</string>
      </dict>
      <key>sfx_82577_0_0016.png</key>
      <dict>
        <key>frame</key>
        <string>{{81,0},{57,79}}</string>
        <key>offset</key>
        <string>{-32,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,79}}</string>
        <key>sourceSize</key>
        <string>{57,79}</string>
      </dict>
      <key>sfx_82577_0_0017.png</key>
      <dict>
        <key>frame</key>
        <string>{{123,237},{57,55}}</string>
        <key>offset</key>
        <string>{-32,29}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,55}}</string>
        <key>sourceSize</key>
        <string>{57,55}</string>
      </dict>
      <key>sfx_82577_0_0018.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,59},{60,78}}</string>
        <key>offset</key>
        <string>{-34,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,78}}</string>
        <key>sourceSize</key>
        <string>{60,78}</string>
      </dict>
      <key>sfx_82577_0_0019.png</key>
      <dict>
        <key>frame</key>
        <string>{{162,0},{59,79}}</string>
        <key>offset</key>
        <string>{-33,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,79}}</string>
        <key>sourceSize</key>
        <string>{59,79}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_82577_0.png</string>
      <key>size</key>
      <string>{256,512}</string>
      <key>textureFileName</key>
      <string>sfx_82577_0.png</string>
    </dict>
  </dict>
</plist>