<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_25096_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{205,186},{87,92}}</string>
        <key>offset</key>
        <string>{-48,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,92}}</string>
        <key>sourceSize</key>
        <string>{87,92}</string>
      </dict>
      <key>sfx_25096_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{101,276},{85,95}}</string>
        <key>offset</key>
        <string>{-47,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,95}}</string>
        <key>sourceSize</key>
        <string>{85,95}</string>
      </dict>
      <key>sfx_25096_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{89,367},{85,96}}</string>
        <key>offset</key>
        <string>{-45,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,96}}</string>
        <key>sourceSize</key>
        <string>{85,96}</string>
      </dict>
      <key>sfx_25096_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{103,186},{88,100}}</string>
        <key>offset</key>
        <string>{-47,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,100}}</string>
        <key>sourceSize</key>
        <string>{88,100}</string>
      </dict>
      <key>sfx_25096_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{88,105}}</string>
        <key>offset</key>
        <string>{-48,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,105}}</string>
        <key>sourceSize</key>
        <string>{88,105}</string>
      </dict>
      <key>sfx_25096_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{104,95},{89,101}}</string>
        <key>offset</key>
        <string>{-48,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,101}}</string>
        <key>sourceSize</key>
        <string>{89,101}</string>
      </dict>
      <key>sfx_25096_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,183},{90,101}}</string>
        <key>offset</key>
        <string>{-48,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,101}}</string>
        <key>sourceSize</key>
        <string>{90,101}</string>
      </dict>
      <key>sfx_25096_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{107,0},{93,103}}</string>
        <key>offset</key>
        <string>{-50,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,103}}</string>
        <key>sourceSize</key>
        <string>{93,103}</string>
      </dict>
      <key>sfx_25096_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,275},{90,99}}</string>
        <key>offset</key>
        <string>{-47,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,99}}</string>
        <key>sourceSize</key>
        <string>{90,99}</string>
      </dict>
      <key>sfx_25096_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,90},{91,102}}</string>
        <key>offset</key>
        <string>{-47,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,102}}</string>
        <key>sourceSize</key>
        <string>{91,102}</string>
      </dict>
      <key>sfx_25096_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,367},{87,99}}</string>
        <key>offset</key>
        <string>{-44,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,99}}</string>
        <key>sourceSize</key>
        <string>{87,99}</string>
      </dict>
      <key>sfx_25096_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{176,363},{87,94}}</string>
        <key>offset</key>
        <string>{-46,59}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,94}}</string>
        <key>sourceSize</key>
        <string>{87,94}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_25096_0.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>sfx_25096_0.png</string>
    </dict>
  </dict>
</plist>