<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_12126_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1169,331},{291,293}}</string>
        <key>offset</key>
        <string>{-110,117}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{291,293}}</string>
        <key>sourceSize</key>
        <string>{291,293}</string>
      </dict>
      <key>sfx_12126_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{338,877},{263,351}}</string>
        <key>offset</key>
        <string>{-82,114}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{263,351}}</string>
        <key>sourceSize</key>
        <string>{263,351}</string>
      </dict>
      <key>sfx_12126_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{567,402},{347,281}}</string>
        <key>offset</key>
        <string>{-130,105}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{347,281}}</string>
        <key>sourceSize</key>
        <string>{347,281}</string>
      </dict>
      <key>sfx_12126_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,470},{435,284}}</string>
        <key>offset</key>
        <string>{-22,106}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{435,284}}</string>
        <key>sourceSize</key>
        <string>{435,284}</string>
      </dict>
      <key>sfx_12126_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1321},{399,322}}</string>
        <key>offset</key>
        <string>{14,142}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{399,322}}</string>
        <key>sourceSize</key>
        <string>{399,322}</string>
      </dict>
      <key>sfx_12126_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{338,0},{400,352}}</string>
        <key>offset</key>
        <string>{13,173}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{400,352}}</string>
        <key>sourceSize</key>
        <string>{400,352}</string>
      </dict>
      <key>sfx_12126_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{976,0},{329,304}}</string>
        <key>offset</key>
        <string>{0,125}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{329,304}}</string>
        <key>sourceSize</key>
        <string>{329,304}</string>
      </dict>
      <key>sfx_12126_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{603,751},{334,302}}</string>
        <key>offset</key>
        <string>{-1,124}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{334,302}}</string>
        <key>sourceSize</key>
        <string>{334,302}</string>
      </dict>
      <key>sfx_12126_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{898,1087},{317,310}}</string>
        <key>offset</key>
        <string>{13,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{317,310}}</string>
        <key>sourceSize</key>
        <string>{317,310}</string>
      </dict>
      <key>sfx_12126_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{926,1406},{260,301}}</string>
        <key>offset</key>
        <string>{26,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{260,301}}</string>
        <key>sourceSize</key>
        <string>{260,301}</string>
      </dict>
      <key>sfx_12126_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{1282,0},{273,281}}</string>
        <key>offset</key>
        <string>{-48,106}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{273,281}}</string>
        <key>sourceSize</key>
        <string>{273,281}</string>
      </dict>
      <key>sfx_12126_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{907,679},{305,280}}</string>
        <key>offset</key>
        <string>{-121,106}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{305,280}}</string>
        <key>sourceSize</key>
        <string>{305,280}</string>
      </dict>
      <key>sfx_12126_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{391,1699},{363,289}}</string>
        <key>offset</key>
        <string>{-177,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{363,289}}</string>
        <key>sourceSize</key>
        <string>{363,289}</string>
      </dict>
      <key>sfx_12126_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,907},{412,336}}</string>
        <key>offset</key>
        <string>{-224,113}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{412,336}}</string>
        <key>sourceSize</key>
        <string>{412,336}</string>
      </dict>
      <key>sfx_12126_0_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{604,1087},{329,292}}</string>
        <key>offset</key>
        <string>{-142,106}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{329,292}}</string>
        <key>sourceSize</key>
        <string>{329,292}</string>
      </dict>
      <key>sfx_12126_0_0015.png</key>
      <dict>
        <key>frame</key>
        <string>{{692,0},{344,282}}</string>
        <key>offset</key>
        <string>{-160,108}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{344,282}}</string>
        <key>sourceSize</key>
        <string>{344,282}</string>
      </dict>
      <key>sfx_12126_0_0016.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{468,336}}</string>
        <key>offset</key>
        <string>{-96,142}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{468,336}}</string>
        <key>sourceSize</key>
        <string>{468,336}</string>
      </dict>
      <key>sfx_12126_0_0017.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,346},{317,331}}</string>
        <key>offset</key>
        <string>{12,174}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{317,331}}</string>
        <key>sourceSize</key>
        <string>{317,331}</string>
      </dict>
      <key>sfx_12126_0_0018.png</key>
      <dict>
        <key>frame</key>
        <string>{{604,1418},{264,320}}</string>
        <key>offset</key>
        <string>{5,174}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{264,320}}</string>
        <key>sourceSize</key>
        <string>{264,320}</string>
      </dict>
      <key>sfx_12126_0_0019.png</key>
      <dict>
        <key>frame</key>
        <string>{{756,1684},{190,316}}</string>
        <key>offset</key>
        <string>{7,174}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{190,316}}</string>
        <key>sourceSize</key>
        <string>{190,316}</string>
      </dict>
      <key>sfx_12126_0_0020.png</key>
      <dict>
        <key>frame</key>
        <string>{{1168,1668},{270,266}}</string>
        <key>offset</key>
        <string>{11,116}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{270,266}}</string>
        <key>sourceSize</key>
        <string>{270,266}</string>
      </dict>
      <key>sfx_12126_0_0021.png</key>
      <dict>
        <key>frame</key>
        <string>{{948,1668},{218,276}}</string>
        <key>offset</key>
        <string>{-28,116}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{218,276}}</string>
        <key>sourceSize</key>
        <string>{218,276}</string>
      </dict>
      <key>sfx_12126_0_0022.png</key>
      <dict>
        <key>frame</key>
        <string>{{286,470},{405,279}}</string>
        <key>offset</key>
        <string>{-227,111}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{405,279}}</string>
        <key>sourceSize</key>
        <string>{405,279}</string>
      </dict>
      <key>sfx_12126_0_0023.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1722},{389,274}}</string>
        <key>offset</key>
        <string>{-216,106}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{389,274}}</string>
        <key>sourceSize</key>
        <string>{389,274}</string>
      </dict>
      <key>sfx_12126_0_0024.png</key>
      <dict>
        <key>frame</key>
        <string>{{324,1321},{376,278}}</string>
        <key>offset</key>
        <string>{-200,110}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{376,278}}</string>
        <key>sourceSize</key>
        <string>{376,278}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_12126_0.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>sfx_12126_0.png</string>
    </dict>
  </dict>
</plist>