<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_33513_0_0051.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,822},{811,410}}</string>
        <key>offset</key>
        <string>{-298,193}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{811,410}}</string>
        <key>sourceSize</key>
        <string>{811,410}</string>
      </dict>
      <key>sfx_33513_0_0052.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{820,414}}</string>
        <key>offset</key>
        <string>{-296,199}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{820,414}}</string>
        <key>sourceSize</key>
        <string>{820,414}</string>
      </dict>
      <key>sfx_33513_0_0056.png</key>
      <dict>
        <key>frame</key>
        <string>{{412,822},{807,555}}</string>
        <key>offset</key>
        <string>{-267,354}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{807,555}}</string>
        <key>sourceSize</key>
        <string>{807,555}</string>
      </dict>
      <key>sfx_33513_0_0057.png</key>
      <dict>
        <key>frame</key>
        <string>{{416,0},{807,590}}</string>
        <key>offset</key>
        <string>{-267,389}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{807,590}}</string>
        <key>sourceSize</key>
        <string>{807,590}</string>
      </dict>
      <key>sfx_33513_0_0058.png</key>
      <dict>
        <key>frame</key>
        <string>{{1008,0},{806,573}}</string>
        <key>offset</key>
        <string>{-267,372}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{806,573}}</string>
        <key>sourceSize</key>
        <string>{806,573}</string>
      </dict>
      <key>sfx_33513_0_0063.png</key>
      <dict>
        <key>frame</key>
        <string>{{1364,575},{680,452}}</string>
        <key>offset</key>
        <string>{-158,239}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{680,452}}</string>
        <key>sourceSize</key>
        <string>{680,452}</string>
      </dict>
      <key>sfx_33513_0_0068.png</key>
      <dict>
        <key>frame</key>
        <string>{{969,809},{785,393}}</string>
        <key>offset</key>
        <string>{-270,170}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{785,393}}</string>
        <key>sourceSize</key>
        <string>{785,393}</string>
      </dict>
      <key>sfx_33513_0_0070.png</key>
      <dict>
        <key>frame</key>
        <string>{{790,1631},{787,395}}</string>
        <key>offset</key>
        <string>{-273,176}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{787,395}}</string>
        <key>sourceSize</key>
        <string>{787,395}</string>
      </dict>
      <key>sfx_33513_0_0072.png</key>
      <dict>
        <key>frame</key>
        <string>{{1579,1029},{673,391}}</string>
        <key>offset</key>
        <string>{-267,172}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{673,391}}</string>
        <key>sourceSize</key>
        <string>{673,391}</string>
      </dict>
      <key>sfx_33513_0_0099.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1635},{788,408}}</string>
        <key>offset</key>
        <string>{-285,169}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{788,408}}</string>
        <key>sourceSize</key>
        <string>{788,408}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_33513_0_2.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>sfx_33513_0_2.png</string>
    </dict>
  </dict>
</plist>