<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_10319_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{94,107}}</string>
        <key>offset</key>
        <string>{-49,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,107}}</string>
        <key>sourceSize</key>
        <string>{94,107}</string>
      </dict>
      <key>sfx_10319_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{109,0},{90,100}}</string>
        <key>offset</key>
        <string>{-46,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,100}}</string>
        <key>sourceSize</key>
        <string>{90,100}</string>
      </dict>
      <key>sfx_10319_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,183},{87,94}}</string>
        <key>offset</key>
        <string>{-45,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,94}}</string>
        <key>sourceSize</key>
        <string>{87,94}</string>
      </dict>
      <key>sfx_10319_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,269},{82,89}}</string>
        <key>offset</key>
        <string>{-42,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,89}}</string>
        <key>sourceSize</key>
        <string>{82,89}</string>
      </dict>
      <key>sfx_10319_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,353},{81,89}}</string>
        <key>offset</key>
        <string>{-41,42}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,89}}</string>
        <key>sourceSize</key>
        <string>{81,89}</string>
      </dict>
      <key>sfx_10319_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{83,353},{79,89}}</string>
        <key>offset</key>
        <string>{-39,43}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,89}}</string>
        <key>sourceSize</key>
        <string>{79,89}</string>
      </dict>
      <key>sfx_10319_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,272},{81,88}}</string>
        <key>offset</key>
        <string>{-41,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,88}}</string>
        <key>sourceSize</key>
        <string>{81,88}</string>
      </dict>
      <key>sfx_10319_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,184},{83,91}}</string>
        <key>offset</key>
        <string>{-42,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,91}}</string>
        <key>sourceSize</key>
        <string>{83,91}</string>
      </dict>
      <key>sfx_10319_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,96},{86,96}}</string>
        <key>offset</key>
        <string>{-44,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,96}}</string>
        <key>sourceSize</key>
        <string>{86,96}</string>
      </dict>
      <key>sfx_10319_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{109,92},{89,100}}</string>
        <key>offset</key>
        <string>{-46,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,100}}</string>
        <key>sourceSize</key>
        <string>{89,100}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_10319_0.png</string>
      <key>size</key>
      <string>{256,512}</string>
      <key>textureFileName</key>
      <string>sfx_10319_0.png</string>
    </dict>
  </dict>
</plist>