<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_25107_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1495,574},{279,224}}</string>
        <key>offset</key>
        <string>{-111,138}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{279,224}}</string>
        <key>sourceSize</key>
        <string>{279,224}</string>
      </dict>
      <key>sfx_25107_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1013,580},{286,231}}</string>
        <key>offset</key>
        <string>{-117,144}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{286,231}}</string>
        <key>sourceSize</key>
        <string>{286,231}</string>
      </dict>
      <key>sfx_25107_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1046,291},{286,236}}</string>
        <key>offset</key>
        <string>{-118,149}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{286,236}}</string>
        <key>sourceSize</key>
        <string>{286,236}</string>
      </dict>
      <key>sfx_25107_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{770,599},{287,241}}</string>
        <key>offset</key>
        <string>{-119,154}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{287,241}}</string>
        <key>sourceSize</key>
        <string>{287,241}</string>
      </dict>
      <key>sfx_25107_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{526,599},{288,242}}</string>
        <key>offset</key>
        <string>{-121,155}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{288,242}}</string>
        <key>sourceSize</key>
        <string>{288,242}</string>
      </dict>
      <key>sfx_25107_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1054,0},{285,244}}</string>
        <key>offset</key>
        <string>{-118,157}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{285,244}}</string>
        <key>sourceSize</key>
        <string>{285,244}</string>
      </dict>
      <key>sfx_25107_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1246,579},{285,247}}</string>
        <key>offset</key>
        <string>{-118,160}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{285,247}}</string>
        <key>sourceSize</key>
        <string>{285,247}</string>
      </dict>
      <key>sfx_25107_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1300,0},{284,253}}</string>
        <key>offset</key>
        <string>{-118,167}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{284,253}}</string>
        <key>sourceSize</key>
        <string>{284,253}</string>
      </dict>
      <key>sfx_25107_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{524,0},{291,255}}</string>
        <key>offset</key>
        <string>{-125,168}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{291,255}}</string>
        <key>sourceSize</key>
        <string>{291,255}</string>
      </dict>
      <key>sfx_25107_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{788,291},{287,256}}</string>
        <key>offset</key>
        <string>{-118,169}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{287,256}}</string>
        <key>sourceSize</key>
        <string>{287,256}</string>
      </dict>
      <key>sfx_25107_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{259,0},{300,263}}</string>
        <key>offset</key>
        <string>{-129,176}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{300,263}}</string>
        <key>sourceSize</key>
        <string>{300,263}</string>
      </dict>
      <key>sfx_25107_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,607},{300,266}}</string>
        <key>offset</key>
        <string>{-129,179}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{300,266}}</string>
        <key>sourceSize</key>
        <string>{300,266}</string>
      </dict>
      <key>sfx_25107_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{268,603},{298,256}}</string>
        <key>offset</key>
        <string>{-129,170}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{298,256}}</string>
        <key>sourceSize</key>
        <string>{298,256}</string>
      </dict>
      <key>sfx_25107_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{263,302},{299,255}}</string>
        <key>offset</key>
        <string>{-128,168}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{299,255}}</string>
        <key>sourceSize</key>
        <string>{299,255}</string>
      </dict>
      <key>sfx_25107_0_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{302,257}}</string>
        <key>offset</key>
        <string>{-129,170}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{302,257}}</string>
        <key>sourceSize</key>
        <string>{302,257}</string>
      </dict>
      <key>sfx_25107_0_0015.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,304},{301,261}}</string>
        <key>offset</key>
        <string>{-130,175}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{301,261}}</string>
        <key>sourceSize</key>
        <string>{301,261}</string>
      </dict>
      <key>sfx_25107_0_0016.png</key>
      <dict>
        <key>frame</key>
        <string>{{520,302},{295,266}}</string>
        <key>offset</key>
        <string>{-125,180}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{295,266}}</string>
        <key>sourceSize</key>
        <string>{295,266}</string>
      </dict>
      <key>sfx_25107_0_0017.png</key>
      <dict>
        <key>frame</key>
        <string>{{781,0},{289,271}}</string>
        <key>offset</key>
        <string>{-117,185}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{289,271}}</string>
        <key>sourceSize</key>
        <string>{289,271}</string>
      </dict>
      <key>sfx_25107_0_0018.png</key>
      <dict>
        <key>frame</key>
        <string>{{1284,287},{285,243}}</string>
        <key>offset</key>
        <string>{-117,157}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{285,243}}</string>
        <key>sourceSize</key>
        <string>{285,243}</string>
      </dict>
      <key>sfx_25107_0_0019.png</key>
      <dict>
        <key>frame</key>
        <string>{{1529,286},{274,239}}</string>
        <key>offset</key>
        <string>{-106,153}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{274,239}}</string>
        <key>sourceSize</key>
        <string>{274,239}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_25107_0.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>sfx_25107_0.png</string>
    </dict>
  </dict>
</plist>