<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_21010_0_0061.png</key>
      <dict>
        <key>frame</key>
        <string>{{588,821},{792,713}}</string>
        <key>offset</key>
        <string>{-336,379}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{792,713}}</string>
        <key>sourceSize</key>
        <string>{792,713}</string>
      </dict>
      <key>sfx_21010_0_0062.png</key>
      <dict>
        <key>frame</key>
        <string>{{596,0},{790,712}}</string>
        <key>offset</key>
        <string>{-334,378}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{790,712}}</string>
        <key>sourceSize</key>
        <string>{790,712}</string>
      </dict>
      <key>sfx_21010_0_0064.png</key>
      <dict>
        <key>frame</key>
        <string>{{1310,0},{727,635}}</string>
        <key>offset</key>
        <string>{-285,307}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{727,635}}</string>
        <key>sourceSize</key>
        <string>{727,635}</string>
      </dict>
      <key>sfx_21010_0_0065.png</key>
      <dict>
        <key>frame</key>
        <string>{{588,1615},{603,427}}</string>
        <key>offset</key>
        <string>{-290,113}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{603,427}}</string>
        <key>sourceSize</key>
        <string>{603,427}</string>
      </dict>
      <key>sfx_21010_0_0077.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1640},{510,325}}</string>
        <key>offset</key>
        <string>{-157,102}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{510,325}}</string>
        <key>sourceSize</key>
        <string>{510,325}</string>
      </dict>
      <key>sfx_21010_0_0091.png</key>
      <dict>
        <key>frame</key>
        <string>{{1303,792},{739,553}}</string>
        <key>offset</key>
        <string>{-220,219}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{739,553}}</string>
        <key>sourceSize</key>
        <string>{739,553}</string>
      </dict>
      <key>sfx_21010_0_0093.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,821},{817,586}}</string>
        <key>offset</key>
        <string>{-261,252}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{817,586}}</string>
        <key>sourceSize</key>
        <string>{817,586}</string>
      </dict>
      <key>sfx_21010_0_0095.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{819,594}}</string>
        <key>offset</key>
        <string>{-258,260}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{819,594}}</string>
        <key>sourceSize</key>
        <string>{819,594}</string>
      </dict>
      <key>sfx_21010_0_0101.png</key>
      <dict>
        <key>frame</key>
        <string>{{1303,1347},{716,598}}</string>
        <key>offset</key>
        <string>{-147,264}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{716,598}}</string>
        <key>sourceSize</key>
        <string>{716,598}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_21010_0_0.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>sfx_21010_0_0.png</string>
    </dict>
  </dict>
</plist>