<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_20015_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,220},{213,205}}</string>
        <key>offset</key>
        <string>{-11,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{213,205}}</string>
        <key>sourceSize</key>
        <string>{213,205}</string>
      </dict>
      <key>sfx_20015_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{413,211},{208,206}}</string>
        <key>offset</key>
        <string>{-10,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{208,206}}</string>
        <key>sourceSize</key>
        <string>{208,206}</string>
      </dict>
      <key>sfx_20015_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{421,0},{208,205}}</string>
        <key>offset</key>
        <string>{-10,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{208,205}}</string>
        <key>sourceSize</key>
        <string>{208,205}</string>
      </dict>
      <key>sfx_20015_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{621,210},{208,206}}</string>
        <key>offset</key>
        <string>{-10,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{208,206}}</string>
        <key>sourceSize</key>
        <string>{208,206}</string>
      </dict>
      <key>sfx_20015_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{413,421},{205,203}}</string>
        <key>offset</key>
        <string>{-10,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{205,203}}</string>
        <key>sourceSize</key>
        <string>{205,203}</string>
      </dict>
      <key>sfx_20015_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,435},{201,203}}</string>
        <key>offset</key>
        <string>{-7,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{201,203}}</string>
        <key>sourceSize</key>
        <string>{201,203}</string>
      </dict>
      <key>sfx_20015_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{207,433},{201,205}}</string>
        <key>offset</key>
        <string>{-7,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{201,205}}</string>
        <key>sourceSize</key>
        <string>{201,205}</string>
      </dict>
      <key>sfx_20015_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{628,0},{202,208}}</string>
        <key>offset</key>
        <string>{-7,52}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{202,208}}</string>
        <key>sourceSize</key>
        <string>{202,208}</string>
      </dict>
      <key>sfx_20015_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{207,220},{204,211}}</string>
        <key>offset</key>
        <string>{-8,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{204,211}}</string>
        <key>sourceSize</key>
        <string>{204,211}</string>
      </dict>
      <key>sfx_20015_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{621,420},{208,208}}</string>
        <key>offset</key>
        <string>{-10,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{208,208}}</string>
        <key>sourceSize</key>
        <string>{208,208}</string>
      </dict>
      <key>sfx_20015_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{210,0},{209,209}}</string>
        <key>offset</key>
        <string>{-11,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{209,209}}</string>
        <key>sourceSize</key>
        <string>{209,209}</string>
      </dict>
      <key>sfx_20015_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{218,208}}</string>
        <key>offset</key>
        <string>{-15,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{218,208}}</string>
        <key>sourceSize</key>
        <string>{218,208}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_20015_0.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>sfx_20015_0.png</string>
    </dict>
  </dict>
</plist>