<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_33006_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{351,702},{346,318}}</string>
        <key>offset</key>
        <string>{-120,153}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{346,318}}</string>
        <key>sourceSize</key>
        <string>{346,318}</string>
      </dict>
      <key>sfx_33006_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{619,347},{343,306}}</string>
        <key>offset</key>
        <string>{-117,153}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{343,306}}</string>
        <key>sourceSize</key>
        <string>{343,306}</string>
      </dict>
      <key>sfx_33006_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{624,0},{343,307}}</string>
        <key>offset</key>
        <string>{-117,153}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{343,307}}</string>
        <key>sourceSize</key>
        <string>{343,307}</string>
      </dict>
      <key>sfx_33006_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{927,345},{341,309}}</string>
        <key>offset</key>
        <string>{-117,153}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{341,309}}</string>
        <key>sourceSize</key>
        <string>{341,309}</string>
      </dict>
      <key>sfx_33006_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{699,692},{342,310}}</string>
        <key>offset</key>
        <string>{-119,153}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{342,310}}</string>
        <key>sourceSize</key>
        <string>{342,310}</string>
      </dict>
      <key>sfx_33006_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{313,0},{345,309}}</string>
        <key>offset</key>
        <string>{-121,153}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{345,309}}</string>
        <key>sourceSize</key>
        <string>{345,309}</string>
      </dict>
      <key>sfx_33006_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{349,311}}</string>
        <key>offset</key>
        <string>{-123,153}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{349,311}}</string>
        <key>sourceSize</key>
        <string>{349,311}</string>
      </dict>
      <key>sfx_33006_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,351},{349,307}}</string>
        <key>offset</key>
        <string>{-123,153}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{349,307}}</string>
        <key>sourceSize</key>
        <string>{349,307}</string>
      </dict>
      <key>sfx_33006_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,702},{349,307}}</string>
        <key>offset</key>
        <string>{-123,153}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{349,307}}</string>
        <key>sourceSize</key>
        <string>{349,307}</string>
      </dict>
      <key>sfx_33006_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{309,351},{349,308}}</string>
        <key>offset</key>
        <string>{-123,153}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{349,308}}</string>
        <key>sourceSize</key>
        <string>{349,308}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_33006_0.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>sfx_33006_0.png</string>
    </dict>
  </dict>
</plist>