<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_82582_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{332,0},{368,329}}</string>
        <key>offset</key>
        <string>{-87,182}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{368,329}}</string>
        <key>sourceSize</key>
        <string>{368,329}</string>
      </dict>
      <key>sfx_82582_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,382},{372,329}}</string>
        <key>offset</key>
        <string>{-91,182}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{372,329}}</string>
        <key>sourceSize</key>
        <string>{372,329}</string>
      </dict>
      <key>sfx_82582_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{663,0},{368,344}}</string>
        <key>offset</key>
        <string>{-97,180}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{368,344}}</string>
        <key>sourceSize</key>
        <string>{368,344}</string>
      </dict>
      <key>sfx_82582_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{696,370},{367,349}}</string>
        <key>offset</key>
        <string>{-97,182}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{367,349}}</string>
        <key>sourceSize</key>
        <string>{367,349}</string>
      </dict>
      <key>sfx_82582_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{331,382},{371,363}}</string>
        <key>offset</key>
        <string>{-95,192}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{371,363}}</string>
        <key>sourceSize</key>
        <string>{371,363}</string>
      </dict>
      <key>sfx_82582_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1047,365},{360,327}}</string>
        <key>offset</key>
        <string>{-93,180}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{360,327}}</string>
        <key>sourceSize</key>
        <string>{360,327}</string>
      </dict>
      <key>sfx_82582_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1343,0},{356,334}}</string>
        <key>offset</key>
        <string>{-87,187}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{356,334}}</string>
        <key>sourceSize</key>
        <string>{356,334}</string>
      </dict>
      <key>sfx_82582_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1679,332},{351,325}}</string>
        <key>offset</key>
        <string>{-83,178}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{351,325}}</string>
        <key>sourceSize</key>
        <string>{351,325}</string>
      </dict>
      <key>sfx_82582_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1710,659},{350,335}}</string>
        <key>offset</key>
        <string>{-82,185}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{350,335}}</string>
        <key>sourceSize</key>
        <string>{350,335}</string>
      </dict>
      <key>sfx_82582_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1048,727},{349,324}}</string>
        <key>offset</key>
        <string>{-81,171}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{349,324}}</string>
        <key>sourceSize</key>
        <string>{349,324}</string>
      </dict>
      <key>sfx_82582_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{696,739},{350,338}}</string>
        <key>offset</key>
        <string>{-82,182}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{350,338}}</string>
        <key>sourceSize</key>
        <string>{350,338}</string>
      </dict>
      <key>sfx_82582_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{1679,0},{352,330}}</string>
        <key>offset</key>
        <string>{-83,183}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{352,330}}</string>
        <key>sourceSize</key>
        <string>{352,330}</string>
      </dict>
      <key>sfx_82582_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{1376,659},{351,332}}</string>
        <key>offset</key>
        <string>{-81,185}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{351,332}}</string>
        <key>sourceSize</key>
        <string>{351,332}</string>
      </dict>
      <key>sfx_82582_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{1009,0},{363,332}}</string>
        <key>offset</key>
        <string>{-94,185}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{363,332}}</string>
        <key>sourceSize</key>
        <string>{363,332}</string>
      </dict>
      <key>sfx_82582_0_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{380,330}}</string>
        <key>offset</key>
        <string>{-95,183}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{380,330}}</string>
        <key>sourceSize</key>
        <string>{380,330}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_82582_0.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>sfx_82582_0.png</string>
    </dict>
  </dict>
</plist>