<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_10035_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{359,112},{109,96}}</string>
        <key>offset</key>
        <string>{-55,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,96}}</string>
        <key>sourceSize</key>
        <string>{109,96}</string>
      </dict>
      <key>sfx_10035_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{368,0},{108,93}}</string>
        <key>offset</key>
        <string>{-54,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,93}}</string>
        <key>sourceSize</key>
        <string>{108,93}</string>
      </dict>
      <key>sfx_10035_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,0},{113,94}}</string>
        <key>offset</key>
        <string>{-58,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,94}}</string>
        <key>sourceSize</key>
        <string>{113,94}</string>
      </dict>
      <key>sfx_10035_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{121,96}}</string>
        <key>offset</key>
        <string>{-63,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,96}}</string>
        <key>sourceSize</key>
        <string>{121,96}</string>
      </dict>
      <key>sfx_10035_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{194,0},{111,87}}</string>
        <key>offset</key>
        <string>{-57,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,87}}</string>
        <key>sourceSize</key>
        <string>{111,87}</string>
      </dict>
      <key>sfx_10035_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{281,113},{111,76}}</string>
        <key>offset</key>
        <string>{-57,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,76}}</string>
        <key>sourceSize</key>
        <string>{111,76}</string>
      </dict>
      <key>sfx_10035_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{283,0},{110,83}}</string>
        <key>offset</key>
        <string>{-57,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,83}}</string>
        <key>sourceSize</key>
        <string>{110,83}</string>
      </dict>
      <key>sfx_10035_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,123},{120,89}}</string>
        <key>offset</key>
        <string>{-62,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,89}}</string>
        <key>sourceSize</key>
        <string>{120,89}</string>
      </dict>
      <key>sfx_10035_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{91,123},{116,94}}</string>
        <key>offset</key>
        <string>{-59,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,94}}</string>
        <key>sourceSize</key>
        <string>{116,94}</string>
      </dict>
      <key>sfx_10035_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{187,115},{112,92}}</string>
        <key>offset</key>
        <string>{-57,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,92}}</string>
        <key>sourceSize</key>
        <string>{112,92}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_10035_0.png</string>
      <key>size</key>
      <string>{512,256}</string>
      <key>textureFileName</key>
      <string>sfx_10035_0.png</string>
    </dict>
  </dict>
</plist>