<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_10356_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,255},{81,95}}</string>
        <key>offset</key>
        <string>{-41,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,95}}</string>
        <key>sourceSize</key>
        <string>{81,95}</string>
      </dict>
      <key>sfx_10356_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,88},{82,96}}</string>
        <key>offset</key>
        <string>{-41,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,96}}</string>
        <key>sourceSize</key>
        <string>{82,96}</string>
      </dict>
      <key>sfx_10356_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,347},{80,91}}</string>
        <key>offset</key>
        <string>{-40,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,91}}</string>
        <key>sourceSize</key>
        <string>{80,91}</string>
      </dict>
      <key>sfx_10356_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,262},{83,92}}</string>
        <key>offset</key>
        <string>{-42,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,92}}</string>
        <key>sourceSize</key>
        <string>{83,92}</string>
      </dict>
      <key>sfx_10356_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,167},{86,96}}</string>
        <key>offset</key>
        <string>{-44,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,96}}</string>
        <key>sourceSize</key>
        <string>{86,96}</string>
      </dict>
      <key>sfx_10356_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,172},{88,96}}</string>
        <key>offset</key>
        <string>{-45,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,96}}</string>
        <key>sourceSize</key>
        <string>{88,96}</string>
      </dict>
      <key>sfx_10356_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{86,101}}</string>
        <key>offset</key>
        <string>{-43,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,101}}</string>
        <key>sourceSize</key>
        <string>{86,101}</string>
      </dict>
      <key>sfx_10356_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{103,0},{82,98}}</string>
        <key>offset</key>
        <string>{-40,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,98}}</string>
        <key>sourceSize</key>
        <string>{82,98}</string>
      </dict>
      <key>sfx_10356_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{103,84},{81,98}}</string>
        <key>offset</key>
        <string>{-40,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,98}}</string>
        <key>sourceSize</key>
        <string>{81,98}</string>
      </dict>
      <key>sfx_10356_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{94,338},{81,92}}</string>
        <key>offset</key>
        <string>{-41,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,92}}</string>
        <key>sourceSize</key>
        <string>{81,92}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_10356_0.png</string>
      <key>size</key>
      <string>{256,512}</string>
      <key>textureFileName</key>
      <string>sfx_10356_0.png</string>
    </dict>
  </dict>
</plist>