<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_82583_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{888,0},{491,434}}</string>
        <key>offset</key>
        <string>{-252,193}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{491,434}}</string>
        <key>sourceSize</key>
        <string>{491,434}</string>
      </dict>
      <key>sfx_82583_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1324,0},{490,434}}</string>
        <key>offset</key>
        <string>{-251,193}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{490,434}}</string>
        <key>sourceSize</key>
        <string>{490,434}</string>
      </dict>
      <key>sfx_82583_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{899,493},{491,435}}</string>
        <key>offset</key>
        <string>{-252,193}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{491,435}}</string>
        <key>sourceSize</key>
        <string>{491,435}</string>
      </dict>
      <key>sfx_82583_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1336,492},{490,435}}</string>
        <key>offset</key>
        <string>{-251,193}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{490,435}}</string>
        <key>sourceSize</key>
        <string>{490,435}</string>
      </dict>
      <key>sfx_82583_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{498,445}}</string>
        <key>offset</key>
        <string>{-259,193}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{498,445}}</string>
        <key>sourceSize</key>
        <string>{498,445}</string>
      </dict>
      <key>sfx_82583_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{451,500},{494,446}}</string>
        <key>offset</key>
        <string>{-255,193}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{494,446}}</string>
        <key>sourceSize</key>
        <string>{494,446}</string>
      </dict>
      <key>sfx_82583_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,500},{498,449}}</string>
        <key>offset</key>
        <string>{-259,193}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{498,449}}</string>
        <key>sourceSize</key>
        <string>{498,449}</string>
      </dict>
      <key>sfx_82583_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{447,0},{498,439}}</string>
        <key>offset</key>
        <string>{-259,193}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{498,439}}</string>
        <key>sourceSize</key>
        <string>{498,439}</string>
      </dict>
      <key>sfx_82583_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{888,493},{1,1}}</string>
        <key>offset</key>
        <string>{0,-46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>sfx_82583_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{888,496},{1,1}}</string>
        <key>offset</key>
        <string>{0,-46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_82583_0.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>sfx_82583_0.png</string>
    </dict>
  </dict>
</plist>