<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_25072_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,203},{102,99}}</string>
        <key>offset</key>
        <string>{-43,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,99}}</string>
        <key>sourceSize</key>
        <string>{102,99}</string>
      </dict>
      <key>sfx_25072_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,304},{97,94}}</string>
        <key>offset</key>
        <string>{-38,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,94}}</string>
        <key>sourceSize</key>
        <string>{97,94}</string>
      </dict>
      <key>sfx_25072_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{104,299},{88,101}}</string>
        <key>offset</key>
        <string>{-29,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,101}}</string>
        <key>sourceSize</key>
        <string>{88,101}</string>
      </dict>
      <key>sfx_25072_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{109,108},{87,106}}</string>
        <key>offset</key>
        <string>{-28,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,106}}</string>
        <key>sourceSize</key>
        <string>{87,106}</string>
      </dict>
      <key>sfx_25072_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{94,111}}</string>
        <key>offset</key>
        <string>{-36,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,111}}</string>
        <key>sourceSize</key>
        <string>{94,111}</string>
      </dict>
      <key>sfx_25072_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{113,0},{106,107}}</string>
        <key>offset</key>
        <string>{-49,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,107}}</string>
        <key>sourceSize</key>
        <string>{106,107}</string>
      </dict>
      <key>sfx_25072_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,96},{107,105}}</string>
        <key>offset</key>
        <string>{-49,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,105}}</string>
        <key>sourceSize</key>
        <string>{107,105}</string>
      </dict>
      <key>sfx_25072_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{109,197},{103,100}}</string>
        <key>offset</key>
        <string>{-44,64}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,100}}</string>
        <key>sourceSize</key>
        <string>{103,100}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_25072_0.png</string>
      <key>size</key>
      <string>{256,512}</string>
      <key>textureFileName</key>
      <string>sfx_25072_0.png</string>
    </dict>
  </dict>
</plist>