<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_32014_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,63},{58,60}}</string>
        <key>offset</key>
        <string>{-29,35}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,60}}</string>
        <key>sourceSize</key>
        <string>{58,60}</string>
      </dict>
      <key>sfx_32014_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{181,0},{58,57}}</string>
        <key>offset</key>
        <string>{-29,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,57}}</string>
        <key>sourceSize</key>
        <string>{58,57}</string>
      </dict>
      <key>sfx_32014_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{116,62},{58,59}}</string>
        <key>offset</key>
        <string>{-29,34}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,59}}</string>
        <key>sourceSize</key>
        <string>{58,59}</string>
      </dict>
      <key>sfx_32014_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{121,0},{58,59}}</string>
        <key>offset</key>
        <string>{-29,32}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,59}}</string>
        <key>sourceSize</key>
        <string>{58,59}</string>
      </dict>
      <key>sfx_32014_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{112,187},{59,59}}</string>
        <key>offset</key>
        <string>{-29,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,59}}</string>
        <key>sourceSize</key>
        <string>{59,59}</string>
      </dict>
      <key>sfx_32014_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,123},{59,59}}</string>
        <key>offset</key>
        <string>{-29,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,59}}</string>
        <key>sourceSize</key>
        <string>{59,59}</string>
      </dict>
      <key>sfx_32014_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{60,61}}</string>
        <key>offset</key>
        <string>{-29,35}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,61}}</string>
        <key>sourceSize</key>
        <string>{60,61}</string>
      </dict>
      <key>sfx_32014_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,125},{60,60}}</string>
        <key>offset</key>
        <string>{-29,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,60}}</string>
        <key>sourceSize</key>
        <string>{60,60}</string>
      </dict>
      <key>sfx_32014_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{176,61},{59,58}}</string>
        <key>offset</key>
        <string>{-29,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,58}}</string>
        <key>sourceSize</key>
        <string>{59,58}</string>
      </dict>
      <key>sfx_32014_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{60,63},{60,54}}</string>
        <key>offset</key>
        <string>{-30,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,54}}</string>
        <key>sourceSize</key>
        <string>{60,54}</string>
      </dict>
      <key>sfx_32014_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{62,0},{60,57}}</string>
        <key>offset</key>
        <string>{-30,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,57}}</string>
        <key>sourceSize</key>
        <string>{60,57}</string>
      </dict>
      <key>sfx_32014_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,187},{60,53}}</string>
        <key>offset</key>
        <string>{-30,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,53}}</string>
        <key>sourceSize</key>
        <string>{60,53}</string>
      </dict>
      <key>sfx_32014_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{55,187},{60,55}}</string>
        <key>offset</key>
        <string>{-30,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,55}}</string>
        <key>sourceSize</key>
        <string>{60,55}</string>
      </dict>
      <key>sfx_32014_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{173,184},{58,54}}</string>
        <key>offset</key>
        <string>{-29,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,54}}</string>
        <key>sourceSize</key>
        <string>{58,54}</string>
      </dict>
      <key>sfx_32014_0_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{62,125},{58,60}}</string>
        <key>offset</key>
        <string>{-29,35}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,60}}</string>
        <key>sourceSize</key>
        <string>{58,60}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_32014_0.png</string>
      <key>size</key>
      <string>{256,256}</string>
      <key>textureFileName</key>
      <string>sfx_32014_0.png</string>
    </dict>
  </dict>
</plist>