<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_82587_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1333,361},{329,354}}</string>
        <key>offset</key>
        <string>{-163,222}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{329,354}}</string>
        <key>sourceSize</key>
        <string>{329,354}</string>
      </dict>
      <key>sfx_82587_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{2674,0},{332,307}}</string>
        <key>offset</key>
        <string>{-166,174}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{332,307}}</string>
        <key>sourceSize</key>
        <string>{332,307}</string>
      </dict>
      <key>sfx_82587_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{3256,981},{305,306}}</string>
        <key>offset</key>
        <string>{-140,172}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{305,306}}</string>
        <key>sourceSize</key>
        <string>{305,306}</string>
      </dict>
      <key>sfx_82587_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{3303,0},{308,311}}</string>
        <key>offset</key>
        <string>{-143,178}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{308,311}}</string>
        <key>sourceSize</key>
        <string>{308,311}</string>
      </dict>
      <key>sfx_82587_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{2976,662},{305,317}}</string>
        <key>offset</key>
        <string>{-140,184}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{305,317}}</string>
        <key>sourceSize</key>
        <string>{305,317}</string>
      </dict>
      <key>sfx_82587_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{2546,1701},{313,323}}</string>
        <key>offset</key>
        <string>{-146,190}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{313,323}}</string>
        <key>sourceSize</key>
        <string>{313,323}</string>
      </dict>
      <key>sfx_82587_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{2327,1368},{309,331}}</string>
        <key>offset</key>
        <string>{-142,198}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{309,331}}</string>
        <key>sourceSize</key>
        <string>{309,331}</string>
      </dict>
      <key>sfx_82587_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1998,1391},{327,333}}</string>
        <key>offset</key>
        <string>{-160,200}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{327,333}}</string>
        <key>sourceSize</key>
        <string>{327,333}</string>
      </dict>
      <key>sfx_82587_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{2638,1360},{315,321}}</string>
        <key>offset</key>
        <string>{-147,188}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{315,321}}</string>
        <key>sourceSize</key>
        <string>{315,321}</string>
      </dict>
      <key>sfx_82587_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{2299,1033},{333,327}}</string>
        <key>offset</key>
        <string>{-165,195}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{333,327}}</string>
        <key>sourceSize</key>
        <string>{333,327}</string>
      </dict>
      <key>sfx_82587_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{2964,334},{311,326}}</string>
        <key>offset</key>
        <string>{-144,192}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{311,326}}</string>
        <key>sourceSize</key>
        <string>{311,326}</string>
      </dict>
      <key>sfx_82587_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{2628,1027},{331,327}}</string>
        <key>offset</key>
        <string>{-163,195}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{331,327}}</string>
        <key>sourceSize</key>
        <string>{331,327}</string>
      </dict>
      <key>sfx_82587_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{2337,0},{335,336}}</string>
        <key>offset</key>
        <string>{-166,203}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{335,336}}</string>
        <key>sourceSize</key>
        <string>{335,336}</string>
      </dict>
      <key>sfx_82587_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{1611,2015},{312,344}}</string>
        <key>offset</key>
        <string>{-144,210}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{312,344}}</string>
        <key>sourceSize</key>
        <string>{312,344}</string>
      </dict>
      <key>sfx_82587_0_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{1370,3322},{313,349}}</string>
        <key>offset</key>
        <string>{-145,216}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{313,349}}</string>
        <key>sourceSize</key>
        <string>{313,349}</string>
      </dict>
      <key>sfx_82587_0_0015.png</key>
      <dict>
        <key>frame</key>
        <string>{{1294,2049},{315,355}}</string>
        <key>offset</key>
        <string>{-146,222}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{315,355}}</string>
        <key>sourceSize</key>
        <string>{315,355}</string>
      </dict>
      <key>sfx_82587_0_0016.png</key>
      <dict>
        <key>frame</key>
        <string>{{722,3505},{316,350}}</string>
        <key>offset</key>
        <string>{-146,217}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{316,350}}</string>
        <key>sourceSize</key>
        <string>{316,350}</string>
      </dict>
      <key>sfx_82587_0_0017.png</key>
      <dict>
        <key>frame</key>
        <string>{{1347,1658},{312,355}}</string>
        <key>offset</key>
        <string>{-141,222}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{312,355}}</string>
        <key>sourceSize</key>
        <string>{312,355}</string>
      </dict>
      <key>sfx_82587_0_0018.png</key>
      <dict>
        <key>frame</key>
        <string>{{2336,692},{333,328}}</string>
        <key>offset</key>
        <string>{-160,195}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{333,328}}</string>
        <key>sourceSize</key>
        <string>{333,328}</string>
      </dict>
      <key>sfx_82587_0_0019.png</key>
      <dict>
        <key>frame</key>
        <string>{{2220,1726},{324,332}}</string>
        <key>offset</key>
        <string>{-147,199}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{324,332}}</string>
        <key>sourceSize</key>
        <string>{324,332}</string>
      </dict>
      <key>sfx_82587_0_0020.png</key>
      <dict>
        <key>frame</key>
        <string>{{1661,1658},{343,335}}</string>
        <key>offset</key>
        <string>{-165,202}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{343,335}}</string>
        <key>sourceSize</key>
        <string>{343,335}</string>
      </dict>
      <key>sfx_82587_0_0021.png</key>
      <dict>
        <key>frame</key>
        <string>{{1671,1071},{315,339}}</string>
        <key>offset</key>
        <string>{-137,205}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{315,339}}</string>
        <key>sourceSize</key>
        <string>{315,339}</string>
      </dict>
      <key>sfx_82587_0_0022.png</key>
      <dict>
        <key>frame</key>
        <string>{{1712,2753},{341,343}}</string>
        <key>offset</key>
        <string>{-163,210}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{341,343}}</string>
        <key>sourceSize</key>
        <string>{341,343}</string>
      </dict>
      <key>sfx_82587_0_0023.png</key>
      <dict>
        <key>frame</key>
        <string>{{1685,3321},{343,347}}</string>
        <key>offset</key>
        <string>{-166,213}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{343,347}}</string>
        <key>sourceSize</key>
        <string>{343,347}</string>
      </dict>
      <key>sfx_82587_0_0024.png</key>
      <dict>
        <key>frame</key>
        <string>{{1730,2361},{324,343}}</string>
        <key>offset</key>
        <string>{-146,209}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{324,343}}</string>
        <key>sourceSize</key>
        <string>{324,343}</string>
      </dict>
      <key>sfx_82587_0_0025.png</key>
      <dict>
        <key>frame</key>
        <string>{{1382,2970},{328,349}}</string>
        <key>offset</key>
        <string>{-148,216}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{328,349}}</string>
        <key>sourceSize</key>
        <string>{328,349}</string>
      </dict>
      <key>sfx_82587_0_0026.png</key>
      <dict>
        <key>frame</key>
        <string>{{1355,717},{332,352}}</string>
        <key>offset</key>
        <string>{-149,219}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{332,352}}</string>
        <key>sourceSize</key>
        <string>{332,352}</string>
      </dict>
      <key>sfx_82587_0_0027.png</key>
      <dict>
        <key>frame</key>
        <string>{{1689,710},{338,339}}</string>
        <key>offset</key>
        <string>{-153,206}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{338,339}}</string>
        <key>sourceSize</key>
        <string>{338,339}</string>
      </dict>
      <key>sfx_82587_0_0028.png</key>
      <dict>
        <key>frame</key>
        <string>{{2055,2706},{338,342}}</string>
        <key>offset</key>
        <string>{-169,208}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{338,342}}</string>
        <key>sourceSize</key>
        <string>{338,342}</string>
      </dict>
      <key>sfx_82587_0_0029.png</key>
      <dict>
        <key>frame</key>
        <string>{{1399,2406},{329,345}}</string>
        <key>offset</key>
        <string>{-163,211}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{329,345}}</string>
        <key>sourceSize</key>
        <string>{329,345}</string>
      </dict>
      <key>sfx_82587_0_0030.png</key>
      <dict>
        <key>frame</key>
        <string>{{1706,3670},{315,346}}</string>
        <key>offset</key>
        <string>{-161,213}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{315,346}}</string>
        <key>sourceSize</key>
        <string>{315,346}</string>
      </dict>
      <key>sfx_82587_0_0031.png</key>
      <dict>
        <key>frame</key>
        <string>{{1040,3505},{328,350}}</string>
        <key>offset</key>
        <string>{-174,218}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{328,350}}</string>
        <key>sourceSize</key>
        <string>{328,350}</string>
      </dict>
      <key>sfx_82587_0_0032.png</key>
      <dict>
        <key>frame</key>
        <string>{{1018,1689},{327,358}}</string>
        <key>offset</key>
        <string>{-171,224}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{327,358}}</string>
        <key>sourceSize</key>
        <string>{327,358}</string>
      </dict>
      <key>sfx_82587_0_0033.png</key>
      <dict>
        <key>frame</key>
        <string>{{1006,934},{347,363}}</string>
        <key>offset</key>
        <string>{-188,227}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{347,363}}</string>
        <key>sourceSize</key>
        <string>{347,363}</string>
      </dict>
      <key>sfx_82587_0_0034.png</key>
      <dict>
        <key>frame</key>
        <string>{{991,1323},{346,364}}</string>
        <key>offset</key>
        <string>{-191,228}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{346,364}}</string>
        <key>sourceSize</key>
        <string>{346,364}</string>
      </dict>
      <key>sfx_82587_0_0035.png</key>
      <dict>
        <key>frame</key>
        <string>{{713,3136},{342,367}}</string>
        <key>offset</key>
        <string>{-185,227}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{342,367}}</string>
        <key>sourceSize</key>
        <string>{342,367}</string>
      </dict>
      <key>sfx_82587_0_0036.png</key>
      <dict>
        <key>frame</key>
        <string>{{1989,0},{346,351}}</string>
        <key>offset</key>
        <string>{-187,206}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{346,351}}</string>
        <key>sourceSize</key>
        <string>{346,351}</string>
      </dict>
      <key>sfx_82587_0_0037.png</key>
      <dict>
        <key>frame</key>
        <string>{{1664,356},{352,344}}</string>
        <key>offset</key>
        <string>{-188,199}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{352,344}}</string>
        <key>sourceSize</key>
        <string>{352,344}</string>
      </dict>
      <key>sfx_82587_0_0038.png</key>
      <dict>
        <key>frame</key>
        <string>{{664,1866},{367,352}}</string>
        <key>offset</key>
        <string>{-198,205}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{367,352}}</string>
        <key>sourceSize</key>
        <string>{367,352}</string>
      </dict>
      <key>sfx_82587_0_0039.png</key>
      <dict>
        <key>frame</key>
        <string>{{658,476},{456,356}}</string>
        <key>offset</key>
        <string>{-196,209}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{456,356}}</string>
        <key>sourceSize</key>
        <string>{456,356}</string>
      </dict>
      <key>sfx_82587_0_0040.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1974},{433,331}}</string>
        <key>offset</key>
        <string>{-182,184}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{433,331}}</string>
        <key>sourceSize</key>
        <string>{433,331}</string>
      </dict>
      <key>sfx_82587_0_0041.png</key>
      <dict>
        <key>frame</key>
        <string>{{339,499},{475,317}}</string>
        <key>offset</key>
        <string>{-192,170}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{475,317}}</string>
        <key>sourceSize</key>
        <string>{475,317}</string>
      </dict>
      <key>sfx_82587_0_0042.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,499},{491,337}}</string>
        <key>offset</key>
        <string>{-205,172}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{491,337}}</string>
        <key>sourceSize</key>
        <string>{491,337}</string>
      </dict>
      <key>sfx_82587_0_0043.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{497,351}}</string>
        <key>offset</key>
        <string>{-217,177}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{497,351}}</string>
        <key>sourceSize</key>
        <string>{497,351}</string>
      </dict>
      <key>sfx_82587_0_0044.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1484},{488,350}}</string>
        <key>offset</key>
        <string>{-213,180}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{488,350}}</string>
        <key>sourceSize</key>
        <string>{488,350}</string>
      </dict>
      <key>sfx_82587_0_0045.png</key>
      <dict>
        <key>frame</key>
        <string>{{335,992},{481,344}}</string>
        <key>offset</key>
        <string>{-207,181}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{481,344}}</string>
        <key>sourceSize</key>
        <string>{481,344}</string>
      </dict>
      <key>sfx_82587_0_0046.png</key>
      <dict>
        <key>frame</key>
        <string>{{353,0},{474,335}}</string>
        <key>offset</key>
        <string>{-208,184}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{474,335}}</string>
        <key>sourceSize</key>
        <string>{474,335}</string>
      </dict>
      <key>sfx_82587_0_0047.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,992},{490,333}}</string>
        <key>offset</key>
        <string>{-220,186}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{490,333}}</string>
        <key>sourceSize</key>
        <string>{490,333}</string>
      </dict>
      <key>sfx_82587_0_0048.png</key>
      <dict>
        <key>frame</key>
        <string>{{690,0},{442,334}}</string>
        <key>offset</key>
        <string>{-190,187}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{442,334}}</string>
        <key>sourceSize</key>
        <string>{442,334}</string>
      </dict>
      <key>sfx_82587_0_0049.png</key>
      <dict>
        <key>frame</key>
        <string>{{376,3205},{372,335}}</string>
        <key>offset</key>
        <string>{-136,188}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{372,335}}</string>
        <key>sourceSize</key>
        <string>{372,335}</string>
      </dict>
      <key>sfx_82587_0_0050.png</key>
      <dict>
        <key>frame</key>
        <string>{{2029,694},{305,337}}</string>
        <key>offset</key>
        <string>{-137,190}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{305,337}}</string>
        <key>sourceSize</key>
        <string>{305,337}</string>
      </dict>
      <key>sfx_82587_0_0051.png</key>
      <dict>
        <key>frame</key>
        <string>{{2010,353},{306,339}}</string>
        <key>offset</key>
        <string>{-141,192}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{306,339}}</string>
        <key>sourceSize</key>
        <string>{306,339}</string>
      </dict>
      <key>sfx_82587_0_0052.png</key>
      <dict>
        <key>frame</key>
        <string>{{2056,2348},{298,340}}</string>
        <key>offset</key>
        <string>{-137,193}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{298,340}}</string>
        <key>sourceSize</key>
        <string>{298,340}</string>
      </dict>
      <key>sfx_82587_0_0053.png</key>
      <dict>
        <key>frame</key>
        <string>{{1925,2003},{293,343}}</string>
        <key>offset</key>
        <string>{-137,194}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{293,343}}</string>
        <key>sourceSize</key>
        <string>{293,343}</string>
      </dict>
      <key>sfx_82587_0_0054.png</key>
      <dict>
        <key>frame</key>
        <string>{{333,1974},{329,405}}</string>
        <key>offset</key>
        <string>{-163,258}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{329,405}}</string>
        <key>sourceSize</key>
        <string>{329,405}</string>
      </dict>
      <key>sfx_82587_0_0055.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,2409},{322,409}}</string>
        <key>offset</key>
        <string>{-166,262}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{322,409}}</string>
        <key>sourceSize</key>
        <string>{322,409}</string>
      </dict>
      <key>sfx_82587_0_0056.png</key>
      <dict>
        <key>frame</key>
        <string>{{352,1475},{293,399}}</string>
        <key>offset</key>
        <string>{-137,252}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{293,399}}</string>
        <key>sourceSize</key>
        <string>{293,399}</string>
      </dict>
      <key>sfx_82587_0_0057.png</key>
      <dict>
        <key>frame</key>
        <string>{{679,2762},{352,372}}</string>
        <key>offset</key>
        <string>{-143,225}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{352,372}}</string>
        <key>sourceSize</key>
        <string>{352,372}</string>
      </dict>
      <key>sfx_82587_0_0058.png</key>
      <dict>
        <key>frame</key>
        <string>{{2318,353},{332,337}}</string>
        <key>offset</key>
        <string>{-136,190}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{332,337}}</string>
        <key>sourceSize</key>
        <string>{332,337}</string>
      </dict>
      <key>sfx_82587_0_0059.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,2820},{326,409}}</string>
        <key>offset</key>
        <string>{-146,262}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{326,409}}</string>
        <key>sourceSize</key>
        <string>{326,409}</string>
      </dict>
      <key>sfx_82587_0_0060.png</key>
      <dict>
        <key>frame</key>
        <string>{{324,2409},{299,409}}</string>
        <key>offset</key>
        <string>{-141,262}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{299,409}}</string>
        <key>sourceSize</key>
        <string>{299,409}</string>
      </dict>
      <key>sfx_82587_0_0061.png</key>
      <dict>
        <key>frame</key>
        <string>{{681,934},{323,387}}</string>
        <key>offset</key>
        <string>{-160,240}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{323,387}}</string>
        <key>sourceSize</key>
        <string>{323,387}</string>
      </dict>
      <key>sfx_82587_0_0062.png</key>
      <dict>
        <key>frame</key>
        <string>{{1016,444},{315,361}}</string>
        <key>offset</key>
        <string>{-147,214}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{315,361}}</string>
        <key>sourceSize</key>
        <string>{315,361}</string>
      </dict>
      <key>sfx_82587_0_0063.png</key>
      <dict>
        <key>frame</key>
        <string>{{1033,2603},{365,364}}</string>
        <key>offset</key>
        <string>{-192,217}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{365,364}}</string>
        <key>sourceSize</key>
        <string>{365,364}</string>
      </dict>
      <key>sfx_82587_0_0064.png</key>
      <dict>
        <key>frame</key>
        <string>{{973,2235},{319,366}}</string>
        <key>offset</key>
        <string>{-143,219}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{319,366}}</string>
        <key>sourceSize</key>
        <string>{319,366}</string>
      </dict>
      <key>sfx_82587_0_0065.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,3616},{378,370}}</string>
        <key>offset</key>
        <string>{-203,223}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{378,370}}</string>
        <key>sourceSize</key>
        <string>{378,370}</string>
      </dict>
      <key>sfx_82587_0_0066.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,3231},{383,374}}</string>
        <key>offset</key>
        <string>{-211,227}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{383,374}}</string>
        <key>sourceSize</key>
        <string>{383,374}</string>
      </dict>
      <key>sfx_82587_0_0067.png</key>
      <dict>
        <key>frame</key>
        <string>{{647,1475},{389,342}}</string>
        <key>offset</key>
        <string>{-220,195}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{389,342}}</string>
        <key>sourceSize</key>
        <string>{389,342}</string>
      </dict>
      <key>sfx_82587_0_0068.png</key>
      <dict>
        <key>frame</key>
        <string>{{625,2381},{379,346}}</string>
        <key>offset</key>
        <string>{-214,199}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{379,346}}</string>
        <key>sourceSize</key>
        <string>{379,346}</string>
      </dict>
      <key>sfx_82587_0_0069.png</key>
      <dict>
        <key>frame</key>
        <string>{{372,3616},{374,348}}</string>
        <key>offset</key>
        <string>{-212,201}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{374,348}}</string>
        <key>sourceSize</key>
        <string>{374,348}</string>
      </dict>
      <key>sfx_82587_0_0070.png</key>
      <dict>
        <key>frame</key>
        <string>{{328,2820},{383,349}}</string>
        <key>offset</key>
        <string>{-212,202}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{383,349}}</string>
        <key>sourceSize</key>
        <string>{383,349}</string>
      </dict>
      <key>sfx_82587_0_0071.png</key>
      <dict>
        <key>frame</key>
        <string>{{1057,2970},{323,350}}</string>
        <key>offset</key>
        <string>{-163,203}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{323,350}}</string>
        <key>sourceSize</key>
        <string>{323,350}</string>
      </dict>
      <key>sfx_82587_0_0072.png</key>
      <dict>
        <key>frame</key>
        <string>{{2356,2060},{318,325}}</string>
        <key>offset</key>
        <string>{-168,178}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{318,325}}</string>
        <key>sourceSize</key>
        <string>{318,325}</string>
      </dict>
      <key>sfx_82587_0_0073.png</key>
      <dict>
        <key>frame</key>
        <string>{{2983,0},{318,326}}</string>
        <key>offset</key>
        <string>{-169,179}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{318,326}}</string>
        <key>sourceSize</key>
        <string>{318,326}</string>
      </dict>
      <key>sfx_82587_0_0074.png</key>
      <dict>
        <key>frame</key>
        <string>{{2955,1360},{319,319}}</string>
        <key>offset</key>
        <string>{-165,172}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{319,319}}</string>
        <key>sourceSize</key>
        <string>{319,319}</string>
      </dict>
      <key>sfx_82587_0_0075.png</key>
      <dict>
        <key>frame</key>
        <string>{{2957,1002},{297,318}}</string>
        <key>offset</key>
        <string>{-146,171}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{297,318}}</string>
        <key>sourceSize</key>
        <string>{297,318}</string>
      </dict>
      <key>sfx_82587_0_0076.png</key>
      <dict>
        <key>frame</key>
        <string>{{2861,1683},{311,320}}</string>
        <key>offset</key>
        <string>{-163,173}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{311,320}}</string>
        <key>sourceSize</key>
        <string>{311,320}</string>
      </dict>
      <key>sfx_82587_0_0077.png</key>
      <dict>
        <key>frame</key>
        <string>{{2356,2387},{312,325}}</string>
        <key>offset</key>
        <string>{-166,178}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{312,325}}</string>
        <key>sourceSize</key>
        <string>{312,325}</string>
      </dict>
      <key>sfx_82587_0_0078.png</key>
      <dict>
        <key>frame</key>
        <string>{{3277,328},{299,316}}</string>
        <key>offset</key>
        <string>{-148,169}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{299,316}}</string>
        <key>sourceSize</key>
        <string>{299,316}</string>
      </dict>
      <key>sfx_82587_0_0079.png</key>
      <dict>
        <key>frame</key>
        <string>{{2676,2026},{304,321}}</string>
        <key>offset</key>
        <string>{-151,174}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{304,321}}</string>
        <key>sourceSize</key>
        <string>{304,321}</string>
      </dict>
      <key>sfx_82587_0_0080.png</key>
      <dict>
        <key>frame</key>
        <string>{{2666,673},{308,327}}</string>
        <key>offset</key>
        <string>{-153,180}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{308,327}}</string>
        <key>sourceSize</key>
        <string>{308,327}</string>
      </dict>
      <key>sfx_82587_0_0081.png</key>
      <dict>
        <key>frame</key>
        <string>{{2652,338},{310,333}}</string>
        <key>offset</key>
        <string>{-154,186}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{310,333}}</string>
        <key>sourceSize</key>
        <string>{310,333}</string>
      </dict>
      <key>sfx_82587_0_0082.png</key>
      <dict>
        <key>frame</key>
        <string>{{1988,1051},{309,338}}</string>
        <key>offset</key>
        <string>{-149,191}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{309,338}}</string>
        <key>sourceSize</key>
        <string>{309,338}</string>
      </dict>
      <key>sfx_82587_0_0083.png</key>
      <dict>
        <key>frame</key>
        <string>{{2030,3098},{324,343}}</string>
        <key>offset</key>
        <string>{-160,196}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{324,343}}</string>
        <key>sourceSize</key>
        <string>{324,343}</string>
      </dict>
      <key>sfx_82587_0_0084.png</key>
      <dict>
        <key>frame</key>
        <string>{{2023,3670},{314,346}}</string>
        <key>offset</key>
        <string>{-147,199}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{314,346}}</string>
        <key>sourceSize</key>
        <string>{314,346}</string>
      </dict>
      <key>sfx_82587_0_0085.png</key>
      <dict>
        <key>frame</key>
        <string>{{1370,3673},{334,349}}</string>
        <key>offset</key>
        <string>{-165,202}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{334,349}}</string>
        <key>sourceSize</key>
        <string>{334,349}</string>
      </dict>
      <key>sfx_82587_0_0086.png</key>
      <dict>
        <key>frame</key>
        <string>{{1652,0},{335,354}}</string>
        <key>offset</key>
        <string>{-165,207}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{335,354}}</string>
        <key>sourceSize</key>
        <string>{335,354}</string>
      </dict>
      <key>sfx_82587_0_0087.png</key>
      <dict>
        <key>frame</key>
        <string>{{1339,1299},{330,357}}</string>
        <key>offset</key>
        <string>{-163,210}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{330,357}}</string>
        <key>sourceSize</key>
        <string>{330,357}</string>
      </dict>
      <key>sfx_82587_0_0088.png</key>
      <dict>
        <key>frame</key>
        <string>{{1322,0},{328,359}}</string>
        <key>offset</key>
        <string>{-166,212}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{328,359}}</string>
        <key>sourceSize</key>
        <string>{328,359}</string>
      </dict>
      <key>sfx_82587_0_0089.png</key>
      <dict>
        <key>frame</key>
        <string>{{1026,0},{294,361}}</string>
        <key>offset</key>
        <string>{-138,214}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{294,361}}</string>
        <key>sourceSize</key>
        <string>{294,361}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_82587_0.png</string>
      <key>size</key>
      <string>{4096,4096}</string>
      <key>textureFileName</key>
      <string>sfx_82587_0.png</string>
    </dict>
  </dict>
</plist>