<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_35430_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{309,827},{337,296}}</string>
        <key>offset</key>
        <string>{-55,133}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{337,296}}</string>
        <key>sourceSize</key>
        <string>{337,296}</string>
      </dict>
      <key>sfx_35430_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,827},{338,307}}</string>
        <key>offset</key>
        <string>{-54,141}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{338,307}}</string>
        <key>sourceSize</key>
        <string>{338,307}</string>
      </dict>
      <key>sfx_35430_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{498,251},{352,299}}</string>
        <key>offset</key>
        <string>{-66,130}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{352,299}}</string>
        <key>sourceSize</key>
        <string>{352,299}</string>
      </dict>
      <key>sfx_35430_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,374},{371,278}}</string>
        <key>offset</key>
        <string>{-83,105}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{371,278}}</string>
        <key>sourceSize</key>
        <string>{371,278}</string>
      </dict>
      <key>sfx_35430_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{372,254}}</string>
        <key>offset</key>
        <string>{-94,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{372,254}}</string>
        <key>sourceSize</key>
        <string>{372,254}</string>
      </dict>
      <key>sfx_35430_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{256,0},{361,240}}</string>
        <key>offset</key>
        <string>{-94,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{361,240}}</string>
        <key>sourceSize</key>
        <string>{361,240}</string>
      </dict>
      <key>sfx_35430_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{498,0},{353,249}}</string>
        <key>offset</key>
        <string>{-85,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{353,249}}</string>
        <key>sourceSize</key>
        <string>{353,249}</string>
      </dict>
      <key>sfx_35430_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{280,552},{348,273}}</string>
        <key>offset</key>
        <string>{-71,106}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{348,273}}</string>
        <key>sourceSize</key>
        <string>{348,273}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_35430_0.png</string>
      <key>size</key>
      <string>{898,1202}</string>
      <key>textureFileName</key>
      <string>sfx_35430_0.png</string>
    </dict>
  </dict>
</plist>