<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_33513_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{539,0},{536,389}}</string>
        <key>offset</key>
        <string>{-128,175}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{536,389}}</string>
        <key>sourceSize</key>
        <string>{536,389}</string>
      </dict>
      <key>sfx_33513_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1515},{528,413}}</string>
        <key>offset</key>
        <string>{-128,167}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{528,413}}</string>
        <key>sourceSize</key>
        <string>{528,413}</string>
      </dict>
      <key>sfx_33513_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{537,387}}</string>
        <key>offset</key>
        <string>{-128,176}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{537,387}}</string>
        <key>sourceSize</key>
        <string>{537,387}</string>
      </dict>
      <key>sfx_33513_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,389},{536,371}}</string>
        <key>offset</key>
        <string>{-128,167}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{536,371}}</string>
        <key>sourceSize</key>
        <string>{536,371}</string>
      </dict>
      <key>sfx_33513_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{534,888},{531,365}}</string>
        <key>offset</key>
        <string>{-119,170}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{531,365}}</string>
        <key>sourceSize</key>
        <string>{531,365}</string>
      </dict>
      <key>sfx_33513_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,762},{532,371}}</string>
        <key>offset</key>
        <string>{-115,176}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{532,371}}</string>
        <key>sourceSize</key>
        <string>{532,371}</string>
      </dict>
      <key>sfx_33513_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1135},{529,378}}</string>
        <key>offset</key>
        <string>{-111,180}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{529,378}}</string>
        <key>sourceSize</key>
        <string>{529,378}</string>
      </dict>
      <key>sfx_33513_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{1677,0},{532,364}}</string>
        <key>offset</key>
        <string>{-110,166}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{532,364}}</string>
        <key>sourceSize</key>
        <string>{532,364}</string>
      </dict>
      <key>sfx_33513_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{1076,538},{533,367}}</string>
        <key>offset</key>
        <string>{-108,171}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{533,367}}</string>
        <key>sourceSize</key>
        <string>{533,367}</string>
      </dict>
      <key>sfx_33513_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{538,538},{536,348}}</string>
        <key>offset</key>
        <string>{-108,152}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{536,348}}</string>
        <key>sourceSize</key>
        <string>{536,348}</string>
      </dict>
      <key>sfx_33513_0_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{1594,1068},{524,349}}</string>
        <key>offset</key>
        <string>{-91,152}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{524,349}}</string>
        <key>sourceSize</key>
        <string>{524,349}</string>
      </dict>
      <key>sfx_33513_0_0021.png</key>
      <dict>
        <key>frame</key>
        <string>{{930,0},{536,374}}</string>
        <key>offset</key>
        <string>{-123,177}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{536,374}}</string>
        <key>sourceSize</key>
        <string>{536,374}</string>
      </dict>
      <key>sfx_33513_0_0026.png</key>
      <dict>
        <key>frame</key>
        <string>{{415,1515},{525,364}}</string>
        <key>offset</key>
        <string>{-108,167}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{525,364}}</string>
        <key>sourceSize</key>
        <string>{525,364}</string>
      </dict>
      <key>sfx_33513_0_0028.png</key>
      <dict>
        <key>frame</key>
        <string>{{1306,0},{533,369}}</string>
        <key>offset</key>
        <string>{-128,172}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{533,369}}</string>
        <key>sourceSize</key>
        <string>{533,369}</string>
      </dict>
      <key>sfx_33513_0_0032.png</key>
      <dict>
        <key>frame</key>
        <string>{{1067,907},{525,372}}</string>
        <key>offset</key>
        <string>{-96,176}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{525,372}}</string>
        <key>sourceSize</key>
        <string>{525,372}</string>
      </dict>
      <key>sfx_33513_0_0035.png</key>
      <dict>
        <key>frame</key>
        <string>{{1677,534},{532,366}}</string>
        <key>offset</key>
        <string>{-122,169}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{532,366}}</string>
        <key>sourceSize</key>
        <string>{532,366}</string>
      </dict>
      <key>sfx_33513_0_0037.png</key>
      <dict>
        <key>frame</key>
        <string>{{781,1594},{519,380}}</string>
        <key>offset</key>
        <string>{-128,168}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{519,380}}</string>
        <key>sourceSize</key>
        <string>{519,380}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_33513_0_7.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>sfx_33513_0_7.png</string>
    </dict>
  </dict>
</plist>