<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_82524_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{701,1057},{335,338}}</string>
        <key>offset</key>
        <string>{-63,141}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{335,338}}</string>
        <key>sourceSize</key>
        <string>{335,338}</string>
      </dict>
      <key>sfx_82524_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{710,708},{337,338}}</string>
        <key>offset</key>
        <string>{-63,142}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{337,338}}</string>
        <key>sourceSize</key>
        <string>{337,338}</string>
      </dict>
      <key>sfx_82524_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1402},{341,340}}</string>
        <key>offset</key>
        <string>{-65,144}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{341,340}}</string>
        <key>sourceSize</key>
        <string>{341,340}</string>
      </dict>
      <key>sfx_82524_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{355,1057},{344,343}}</string>
        <key>offset</key>
        <string>{-67,147}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{344,343}}</string>
        <key>sourceSize</key>
        <string>{344,343}</string>
      </dict>
      <key>sfx_82524_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,708},{347,353}}</string>
        <key>offset</key>
        <string>{-68,157}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{347,353}}</string>
        <key>sourceSize</key>
        <string>{347,353}</string>
      </dict>
      <key>sfx_82524_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{366,355},{351,357}}</string>
        <key>offset</key>
        <string>{-70,161}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{351,357}}</string>
        <key>sourceSize</key>
        <string>{351,357}</string>
      </dict>
      <key>sfx_82524_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{366,0},{353,362}}</string>
        <key>offset</key>
        <string>{-71,167}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{353,362}}</string>
        <key>sourceSize</key>
        <string>{353,362}</string>
      </dict>
      <key>sfx_82524_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{725,355},{335,337}}</string>
        <key>offset</key>
        <string>{-63,141}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{335,337}}</string>
        <key>sourceSize</key>
        <string>{335,337}</string>
      </dict>
      <key>sfx_82524_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{686,1402},{337,339}}</string>
        <key>offset</key>
        <string>{-63,142}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{337,339}}</string>
        <key>sourceSize</key>
        <string>{337,339}</string>
      </dict>
      <key>sfx_82524_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{343,1402},{341,341}}</string>
        <key>offset</key>
        <string>{-65,144}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{341,341}}</string>
        <key>sourceSize</key>
        <string>{341,341}</string>
      </dict>
      <key>sfx_82524_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1057},{344,343}}</string>
        <key>offset</key>
        <string>{-67,147}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{344,343}}</string>
        <key>sourceSize</key>
        <string>{344,343}</string>
      </dict>
      <key>sfx_82524_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{355,708},{347,353}}</string>
        <key>offset</key>
        <string>{-68,157}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{347,353}}</string>
        <key>sourceSize</key>
        <string>{347,353}</string>
      </dict>
      <key>sfx_82524_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,355},{351,357}}</string>
        <key>offset</key>
        <string>{-70,161}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{351,357}}</string>
        <key>sourceSize</key>
        <string>{351,357}</string>
      </dict>
      <key>sfx_82524_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{353,364}}</string>
        <key>offset</key>
        <string>{-71,167}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{353,364}}</string>
        <key>sourceSize</key>
        <string>{353,364}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_82524_0.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>sfx_82524_0.png</string>
    </dict>
  </dict>
</plist>