<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_30032_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{191,44},{44,42}}</string>
        <key>offset</key>
        <string>{-19,19}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{44,42}}</string>
        <key>sourceSize</key>
        <string>{44,42}</string>
      </dict>
      <key>sfx_30032_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{191,0},{42,45}}</string>
        <key>offset</key>
        <string>{-17,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{42,45}}</string>
        <key>sourceSize</key>
        <string>{42,45}</string>
      </dict>
      <key>sfx_30032_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{47,60},{41,51}}</string>
        <key>offset</key>
        <string>{-15,27}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{41,51}}</string>
        <key>sourceSize</key>
        <string>{41,51}</string>
      </dict>
      <key>sfx_30032_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{90,53},{41,50}}</string>
        <key>offset</key>
        <string>{-15,25}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{41,50}}</string>
        <key>sourceSize</key>
        <string>{41,50}</string>
      </dict>
      <key>sfx_30032_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{97,0},{44,48}}</string>
        <key>offset</key>
        <string>{-15,23}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{44,48}}</string>
        <key>sourceSize</key>
        <string>{44,48}</string>
      </dict>
      <key>sfx_30032_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{133,50},{45,48}}</string>
        <key>offset</key>
        <string>{-16,22}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{45,48}}</string>
        <key>sourceSize</key>
        <string>{45,48}</string>
      </dict>
      <key>sfx_30032_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,60},{54,45}}</string>
        <key>offset</key>
        <string>{-22,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,45}}</string>
        <key>sourceSize</key>
        <string>{54,45}</string>
      </dict>
      <key>sfx_30032_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{58,47}}</string>
        <key>offset</key>
        <string>{-26,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,47}}</string>
        <key>sourceSize</key>
        <string>{58,47}</string>
      </dict>
      <key>sfx_30032_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{143,0},{46,48}}</string>
        <key>offset</key>
        <string>{-26,23}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,48}}</string>
        <key>sourceSize</key>
        <string>{46,48}</string>
      </dict>
      <key>sfx_30032_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{49,0},{46,51}}</string>
        <key>offset</key>
        <string>{-26,21}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,51}}</string>
        <key>sourceSize</key>
        <string>{46,51}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_30032_0.png</string>
      <key>size</key>
      <string>{256,128}</string>
      <key>textureFileName</key>
      <string>sfx_30032_0.png</string>
    </dict>
  </dict>
</plist>