<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_10205_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,772},{165,187}}</string>
        <key>offset</key>
        <string>{11,42}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{165,187}}</string>
        <key>sourceSize</key>
        <string>{165,187}</string>
      </dict>
      <key>sfx_10205_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,388},{165,189}}</string>
        <key>offset</key>
        <string>{11,41}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{165,189}}</string>
        <key>sourceSize</key>
        <string>{165,189}</string>
      </dict>
      <key>sfx_10205_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{175,193},{166,188}}</string>
        <key>offset</key>
        <string>{11,38}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{166,188}}</string>
        <key>sourceSize</key>
        <string>{166,188}</string>
      </dict>
      <key>sfx_10205_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{167,772},{166,187}}</string>
        <key>offset</key>
        <string>{10,37}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{166,187}}</string>
        <key>sourceSize</key>
        <string>{166,187}</string>
      </dict>
      <key>sfx_10205_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{180,579},{166,187}}</string>
        <key>offset</key>
        <string>{10,38}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{166,187}}</string>
        <key>sourceSize</key>
        <string>{166,187}</string>
      </dict>
      <key>sfx_10205_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{167,193}}</string>
        <key>offset</key>
        <string>{10,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,193}}</string>
        <key>sourceSize</key>
        <string>{167,193}</string>
      </dict>
      <key>sfx_10205_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,388},{170,190}}</string>
        <key>offset</key>
        <string>{9,41}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,190}}</string>
        <key>sourceSize</key>
        <string>{170,190}</string>
      </dict>
      <key>sfx_10205_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,195},{173,191}}</string>
        <key>offset</key>
        <string>{7,42}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{173,191}}</string>
        <key>sourceSize</key>
        <string>{173,191}</string>
      </dict>
      <key>sfx_10205_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{169,0},{175,191}}</string>
        <key>offset</key>
        <string>{6,43}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{175,191}}</string>
        <key>sourceSize</key>
        <string>{175,191}</string>
      </dict>
      <key>sfx_10205_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,580},{178,190}}</string>
        <key>offset</key>
        <string>{5,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{178,190}}</string>
        <key>sourceSize</key>
        <string>{178,190}</string>
      </dict>
      <key>sfx_10205_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{335,768},{180,186}}</string>
        <key>offset</key>
        <string>{4,41}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,186}}</string>
        <key>sourceSize</key>
        <string>{180,186}</string>
      </dict>
      <key>sfx_10205_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{348,572},{173,186}}</string>
        <key>offset</key>
        <string>{7,43}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{173,186}}</string>
        <key>sourceSize</key>
        <string>{173,186}</string>
      </dict>
      <key>sfx_10205_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{339,383},{172,187}}</string>
        <key>offset</key>
        <string>{8,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{172,187}}</string>
        <key>sourceSize</key>
        <string>{172,187}</string>
      </dict>
      <key>sfx_10205_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{343,193},{174,187}}</string>
        <key>offset</key>
        <string>{7,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{174,187}}</string>
        <key>sourceSize</key>
        <string>{174,187}</string>
      </dict>
      <key>sfx_10205_0_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{346,0},{176,187}}</string>
        <key>offset</key>
        <string>{6,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,187}}</string>
        <key>sourceSize</key>
        <string>{176,187}</string>
      </dict>
      <key>sfx_10205_0_0015.png</key>
      <dict>
        <key>frame</key>
        <string>{{513,382},{178,186}}</string>
        <key>offset</key>
        <string>{5,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{178,186}}</string>
        <key>sourceSize</key>
        <string>{178,186}</string>
      </dict>
      <key>sfx_10205_0_0016.png</key>
      <dict>
        <key>frame</key>
        <string>{{519,189},{180,186}}</string>
        <key>offset</key>
        <string>{4,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,186}}</string>
        <key>sourceSize</key>
        <string>{180,186}</string>
      </dict>
      <key>sfx_10205_0_0017.png</key>
      <dict>
        <key>frame</key>
        <string>{{524,0},{182,186}}</string>
        <key>offset</key>
        <string>{3,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{182,186}}</string>
        <key>sourceSize</key>
        <string>{182,186}</string>
      </dict>
      <key>sfx_10205_0_0018.png</key>
      <dict>
        <key>frame</key>
        <string>{{523,570},{185,184}}</string>
        <key>offset</key>
        <string>{1,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{185,184}}</string>
        <key>sourceSize</key>
        <string>{185,184}</string>
      </dict>
      <key>sfx_10205_0_0019.png</key>
      <dict>
        <key>frame</key>
        <string>{{517,760},{175,186}}</string>
        <key>offset</key>
        <string>{6,42}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{175,186}}</string>
        <key>sourceSize</key>
        <string>{175,186}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_10205_0.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>sfx_10205_0.png</string>
    </dict>
  </dict>
</plist>