<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_21013_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,0},{294,249}}</string>
        <key>offset</key>
        <string>{-55,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{294,249}}</string>
        <key>sourceSize</key>
        <string>{294,249}</string>
      </dict>
      <key>sfx_21013_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{251,303},{296,249}}</string>
        <key>offset</key>
        <string>{-56,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{296,249}}</string>
        <key>sourceSize</key>
        <string>{296,249}</string>
      </dict>
      <key>sfx_21013_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,308},{302,249}}</string>
        <key>offset</key>
        <string>{-59,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{302,249}}</string>
        <key>sourceSize</key>
        <string>{302,249}</string>
      </dict>
      <key>sfx_21013_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{499,0},{296,249}}</string>
        <key>offset</key>
        <string>{-56,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{296,249}}</string>
        <key>sourceSize</key>
        <string>{296,249}</string>
      </dict>
      <key>sfx_21013_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,612},{299,247}}</string>
        <key>offset</key>
        <string>{-57,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{299,247}}</string>
        <key>sourceSize</key>
        <string>{299,247}</string>
      </dict>
      <key>sfx_21013_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{249,0},{301,248}}</string>
        <key>offset</key>
        <string>{-58,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{301,248}}</string>
        <key>sourceSize</key>
        <string>{301,248}</string>
      </dict>
      <key>sfx_21013_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{306,247}}</string>
        <key>offset</key>
        <string>{-61,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{306,247}}</string>
        <key>sourceSize</key>
        <string>{306,247}</string>
      </dict>
      <key>sfx_21013_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,612},{300,248}}</string>
        <key>offset</key>
        <string>{-58,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{300,248}}</string>
        <key>sourceSize</key>
        <string>{300,248}</string>
      </dict>
      <key>sfx_21013_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,296},{294,249}}</string>
        <key>offset</key>
        <string>{-55,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{294,249}}</string>
        <key>sourceSize</key>
        <string>{294,249}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_21013_0.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>sfx_21013_0.png</string>
    </dict>
  </dict>
</plist>