<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_82540_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1332,0},{339,265}}</string>
        <key>offset</key>
        <string>{-77,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{339,265}}</string>
        <key>sourceSize</key>
        <string>{339,265}</string>
      </dict>
      <key>sfx_82540_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{715,712},{349,267}}</string>
        <key>offset</key>
        <string>{-82,91}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{349,267}}</string>
        <key>sourceSize</key>
        <string>{349,267}</string>
      </dict>
      <key>sfx_82540_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{262,359},{355,263}}</string>
        <key>offset</key>
        <string>{-85,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{355,263}}</string>
        <key>sourceSize</key>
        <string>{355,263}</string>
      </dict>
      <key>sfx_82540_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,360},{357,260}}</string>
        <key>offset</key>
        <string>{-86,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{357,260}}</string>
        <key>sourceSize</key>
        <string>{357,260}</string>
      </dict>
      <key>sfx_82540_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{358,257}}</string>
        <key>offset</key>
        <string>{-87,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{358,257}}</string>
        <key>sourceSize</key>
        <string>{358,257}</string>
      </dict>
      <key>sfx_82540_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{259,0},{357,260}}</string>
        <key>offset</key>
        <string>{-87,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{357,260}}</string>
        <key>sourceSize</key>
        <string>{357,260}</string>
      </dict>
      <key>sfx_82540_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,719},{357,260}}</string>
        <key>offset</key>
        <string>{-86,86}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{357,260}}</string>
        <key>sourceSize</key>
        <string>{357,260}</string>
      </dict>
      <key>sfx_82540_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{521,0},{355,261}}</string>
        <key>offset</key>
        <string>{-85,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{355,261}}</string>
        <key>sourceSize</key>
        <string>{355,261}</string>
      </dict>
      <key>sfx_82540_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{359,716},{354,263}}</string>
        <key>offset</key>
        <string>{-84,93}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{354,263}}</string>
        <key>sourceSize</key>
        <string>{354,263}</string>
      </dict>
      <key>sfx_82540_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{527,357},{353,265}}</string>
        <key>offset</key>
        <string>{-83,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{353,265}}</string>
        <key>sourceSize</key>
        <string>{353,265}</string>
      </dict>
      <key>sfx_82540_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{784,0},{353,269}}</string>
        <key>offset</key>
        <string>{-83,100}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{353,269}}</string>
        <key>sourceSize</key>
        <string>{353,269}</string>
      </dict>
      <key>sfx_82540_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{794,355},{349,270}}</string>
        <key>offset</key>
        <string>{-81,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{349,270}}</string>
        <key>sourceSize</key>
        <string>{349,270}</string>
      </dict>
      <key>sfx_82540_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{1055,0},{347,275}}</string>
        <key>offset</key>
        <string>{-80,103}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{347,275}}</string>
        <key>sourceSize</key>
        <string>{347,275}</string>
      </dict>
      <key>sfx_82540_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{1066,349},{341,273}}</string>
        <key>offset</key>
        <string>{-77,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{341,273}}</string>
        <key>sourceSize</key>
        <string>{341,273}</string>
      </dict>
      <key>sfx_82540_0_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{1066,692},{333,270}}</string>
        <key>offset</key>
        <string>{-74,99}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{333,270}}</string>
        <key>sourceSize</key>
        <string>{333,270}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_82540_0.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>sfx_82540_0.png</string>
    </dict>
  </dict>
</plist>