<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_82560_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{51,82}}</string>
        <key>offset</key>
        <string>{-26,38}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{51,82}}</string>
        <key>sourceSize</key>
        <string>{51,82}</string>
      </dict>
      <key>sfx_82560_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,168},{52,81}}</string>
        <key>offset</key>
        <string>{-27,38}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{52,81}}</string>
        <key>sourceSize</key>
        <string>{52,81}</string>
      </dict>
      <key>sfx_82560_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{114,167},{53,80}}</string>
        <key>offset</key>
        <string>{-27,37}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,80}}</string>
        <key>sourceSize</key>
        <string>{53,80}</string>
      </dict>
      <key>sfx_82560_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,83},{53,80}}</string>
        <key>offset</key>
        <string>{-27,37}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,80}}</string>
        <key>sourceSize</key>
        <string>{53,80}</string>
      </dict>
      <key>sfx_82560_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{253,142},{56,78}}</string>
        <key>offset</key>
        <string>{-28,37}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,78}}</string>
        <key>sourceSize</key>
        <string>{56,78}</string>
      </dict>
      <key>sfx_82560_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{165,0},{56,80}}</string>
        <key>offset</key>
        <string>{-29,37}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,80}}</string>
        <key>sourceSize</key>
        <string>{56,80}</string>
      </dict>
      <key>sfx_82560_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{54,168},{58,81}}</string>
        <key>offset</key>
        <string>{-29,37}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,81}}</string>
        <key>sourceSize</key>
        <string>{58,81}</string>
      </dict>
      <key>sfx_82560_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,142},{57,79}}</string>
        <key>offset</key>
        <string>{-29,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,79}}</string>
        <key>sourceSize</key>
        <string>{57,79}</string>
      </dict>
      <key>sfx_82560_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,82},{58,80}}</string>
        <key>offset</key>
        <string>{-29,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,80}}</string>
        <key>sourceSize</key>
        <string>{58,80}</string>
      </dict>
      <key>sfx_82560_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{55,84},{60,81}}</string>
        <key>offset</key>
        <string>{-32,37}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,81}}</string>
        <key>sourceSize</key>
        <string>{60,81}</string>
      </dict>
      <key>sfx_82560_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{105,0},{58,81}}</string>
        <key>offset</key>
        <string>{-31,37}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,81}}</string>
        <key>sourceSize</key>
        <string>{58,81}</string>
      </dict>
      <key>sfx_82560_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,84},{53,82}}</string>
        <key>offset</key>
        <string>{-28,37}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,82}}</string>
        <key>sourceSize</key>
        <string>{53,82}</string>
      </dict>
      <key>sfx_82560_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{53,0},{50,82}}</string>
        <key>offset</key>
        <string>{-25,38}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{50,82}}</string>
        <key>sourceSize</key>
        <string>{50,82}</string>
      </dict>
      <key>sfx_82560_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{223,0},{51,79}}</string>
        <key>offset</key>
        <string>{-27,38}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{51,79}}</string>
        <key>sourceSize</key>
        <string>{51,79}</string>
      </dict>
      <key>sfx_82560_0_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{169,201},{50,77}}</string>
        <key>offset</key>
        <string>{-26,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{50,77}}</string>
        <key>sourceSize</key>
        <string>{50,77}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_82560_0.png</string>
      <key>size</key>
      <string>{512,256}</string>
      <key>textureFileName</key>
      <string>sfx_82560_0.png</string>
    </dict>
  </dict>
</plist>