<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_21010_0_0039.png</key>
      <dict>
        <key>frame</key>
        <string>{{281,597},{312,323}}</string>
        <key>offset</key>
        <string>{-64,114}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{312,323}}</string>
        <key>sourceSize</key>
        <string>{312,323}</string>
      </dict>
      <key>sfx_21010_0_0043.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{277,325}}</string>
        <key>offset</key>
        <string>{-27,115}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{277,325}}</string>
        <key>sourceSize</key>
        <string>{277,325}</string>
      </dict>
      <key>sfx_21010_0_0044.png</key>
      <dict>
        <key>frame</key>
        <string>{{279,0},{278,325}}</string>
        <key>offset</key>
        <string>{-27,115}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{278,325}}</string>
        <key>sourceSize</key>
        <string>{278,325}</string>
      </dict>
      <key>sfx_21010_0_0045.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,597},{279,324}}</string>
        <key>offset</key>
        <string>{-26,115}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{279,324}}</string>
        <key>sourceSize</key>
        <string>{279,324}</string>
      </dict>
      <key>sfx_21010_0_0046.png</key>
      <dict>
        <key>frame</key>
        <string>{{595,597},{280,323}}</string>
        <key>offset</key>
        <string>{-25,114}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{280,323}}</string>
        <key>sourceSize</key>
        <string>{280,323}</string>
      </dict>
      <key>sfx_21010_0_0086.png</key>
      <dict>
        <key>frame</key>
        <string>{{559,0},{295,325}}</string>
        <key>offset</key>
        <string>{-23,128}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{295,325}}</string>
        <key>sourceSize</key>
        <string>{295,325}</string>
      </dict>
      <key>sfx_21010_0_0087.png</key>
      <dict>
        <key>frame</key>
        <string>{{559,297},{298,325}}</string>
        <key>offset</key>
        <string>{-23,128}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{298,325}}</string>
        <key>sourceSize</key>
        <string>{298,325}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_21010_0_7.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>sfx_21010_0_7.png</string>
    </dict>
  </dict>
</plist>