<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_35101_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{147,466}}</string>
        <key>offset</key>
        <string>{-46,413}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,466}}</string>
        <key>sourceSize</key>
        <string>{147,466}</string>
      </dict>
      <key>sfx_35101_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,468},{144,458}}</string>
        <key>offset</key>
        <string>{-46,405}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,458}}</string>
        <key>sourceSize</key>
        <string>{144,458}</string>
      </dict>
      <key>sfx_35101_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{574,444},{148,437}}</string>
        <key>offset</key>
        <string>{-46,384}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,437}}</string>
        <key>sourceSize</key>
        <string>{148,437}</string>
      </dict>
      <key>sfx_35101_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1079},{145,439}}</string>
        <key>offset</key>
        <string>{-46,385}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,439}}</string>
        <key>sourceSize</key>
        <string>{145,439}</string>
      </dict>
      <key>sfx_35101_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{146,468},{143,443}}</string>
        <key>offset</key>
        <string>{-46,389}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,443}}</string>
        <key>sourceSize</key>
        <string>{143,443}</string>
      </dict>
      <key>sfx_35101_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{149,0},{142,443}}</string>
        <key>offset</key>
        <string>{-47,389}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,443}}</string>
        <key>sourceSize</key>
        <string>{142,443}</string>
      </dict>
      <key>sfx_35101_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{291,445},{136,443}}</string>
        <key>offset</key>
        <string>{-46,389}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,443}}</string>
        <key>sourceSize</key>
        <string>{136,443}</string>
      </dict>
      <key>sfx_35101_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{441,1079},{135,438}}</string>
        <key>offset</key>
        <string>{-46,384}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,438}}</string>
        <key>sourceSize</key>
        <string>{135,438}</string>
      </dict>
      <key>sfx_35101_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{582,0},{135,436}}</string>
        <key>offset</key>
        <string>{-46,383}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,436}}</string>
        <key>sourceSize</key>
        <string>{135,436}</string>
      </dict>
      <key>sfx_35101_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{719,0},{143,435}}</string>
        <key>offset</key>
        <string>{-46,383}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,435}}</string>
        <key>sourceSize</key>
        <string>{143,435}</string>
      </dict>
      <key>sfx_35101_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{453,889},{144,438}}</string>
        <key>offset</key>
        <string>{-46,386}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,438}}</string>
        <key>sourceSize</key>
        <string>{144,438}</string>
      </dict>
      <key>sfx_35101_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{429,445},{143,442}}</string>
        <key>offset</key>
        <string>{-46,389}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,442}}</string>
        <key>sourceSize</key>
        <string>{143,442}</string>
      </dict>
      <key>sfx_35101_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{443,0},{137,442}}</string>
        <key>offset</key>
        <string>{-46,389}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,442}}</string>
        <key>sourceSize</key>
        <string>{137,442}</string>
      </dict>
      <key>sfx_35101_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,928},{149,451}}</string>
        <key>offset</key>
        <string>{-46,397}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{149,451}}</string>
        <key>sourceSize</key>
        <string>{149,451}</string>
      </dict>
      <key>sfx_35101_0_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{293,0},{148,443}}</string>
        <key>offset</key>
        <string>{-46,389}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,443}}</string>
        <key>sourceSize</key>
        <string>{148,443}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_35101_0.png</string>
      <key>size</key>
      <string>{1280,1280}</string>
      <key>textureFileName</key>
      <string>sfx_35101_0.png</string>
    </dict>
  </dict>
</plist>