<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_35008_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{589,207},{192,137}}</string>
        <key>offset</key>
        <string>{-75,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{192,137}}</string>
        <key>sourceSize</key>
        <string>{192,137}</string>
      </dict>
      <key>sfx_35008_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{728,138},{196,140}}</string>
        <key>offset</key>
        <string>{-76,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,140}}</string>
        <key>sourceSize</key>
        <string>{196,140}</string>
      </dict>
      <key>sfx_35008_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{587,0},{205,139}}</string>
        <key>offset</key>
        <string>{-79,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{205,139}}</string>
        <key>sourceSize</key>
        <string>{205,139}</string>
      </dict>
      <key>sfx_35008_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{444,0},{218,141}}</string>
        <key>offset</key>
        <string>{-84,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{218,141}}</string>
        <key>sourceSize</key>
        <string>{218,141}</string>
      </dict>
      <key>sfx_35008_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{296,0},{220,146}}</string>
        <key>offset</key>
        <string>{-86,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{220,146}}</string>
        <key>sourceSize</key>
        <string>{220,146}</string>
      </dict>
      <key>sfx_35008_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{297,222},{220,149}}</string>
        <key>offset</key>
        <string>{-85,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{220,149}}</string>
        <key>sourceSize</key>
        <string>{220,149}</string>
      </dict>
      <key>sfx_35008_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{226,149}}</string>
        <key>offset</key>
        <string>{-88,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{226,149}}</string>
        <key>sourceSize</key>
        <string>{226,149}</string>
      </dict>
      <key>sfx_35008_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,228},{226,148}}</string>
        <key>offset</key>
        <string>{-88,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{226,148}}</string>
        <key>sourceSize</key>
        <string>{226,148}</string>
      </dict>
      <key>sfx_35008_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,228},{226,145}}</string>
        <key>offset</key>
        <string>{-88,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{226,145}}</string>
        <key>sourceSize</key>
        <string>{226,145}</string>
      </dict>
      <key>sfx_35008_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{151,0},{224,143}}</string>
        <key>offset</key>
        <string>{-87,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{224,143}}</string>
        <key>sourceSize</key>
        <string>{224,143}</string>
      </dict>
      <key>sfx_35008_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{448,220},{215,139}}</string>
        <key>offset</key>
        <string>{-83,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{215,139}}</string>
        <key>sourceSize</key>
        <string>{215,139}</string>
      </dict>
      <key>sfx_35008_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{728,0},{200,136}}</string>
        <key>offset</key>
        <string>{-77,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{200,136}}</string>
        <key>sourceSize</key>
        <string>{200,136}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_35008_0.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>sfx_35008_0.png</string>
    </dict>
  </dict>
</plist>