<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_25083_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{498,1288},{257,385}}</string>
        <key>offset</key>
        <string>{-164,282}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{257,385}}</string>
        <key>sourceSize</key>
        <string>{257,385}</string>
      </dict>
      <key>sfx_25083_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{394,1030},{256,391}}</string>
        <key>offset</key>
        <string>{-164,286}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{256,391}}</string>
        <key>sourceSize</key>
        <string>{256,391}</string>
      </dict>
      <key>sfx_25083_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,771},{252,396}}</string>
        <key>offset</key>
        <string>{-163,290}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{252,396}}</string>
        <key>sourceSize</key>
        <string>{252,396}</string>
      </dict>
      <key>sfx_25083_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1272},{248,391}}</string>
        <key>offset</key>
        <string>{-160,289}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{248,391}}</string>
        <key>sourceSize</key>
        <string>{248,391}</string>
      </dict>
      <key>sfx_25083_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{398,779},{249,394}}</string>
        <key>offset</key>
        <string>{-161,292}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{249,394}}</string>
        <key>sourceSize</key>
        <string>{249,394}</string>
      </dict>
      <key>sfx_25083_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{402,527},{250,398}}</string>
        <key>offset</key>
        <string>{-161,295}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{250,398}}</string>
        <key>sourceSize</key>
        <string>{250,398}</string>
      </dict>
      <key>sfx_25083_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,517},{252,400}}</string>
        <key>offset</key>
        <string>{-162,295}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{252,400}}</string>
        <key>sourceSize</key>
        <string>{252,400}</string>
      </dict>
      <key>sfx_25083_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{257,404}}</string>
        <key>offset</key>
        <string>{-162,297}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{257,404}}</string>
        <key>sourceSize</key>
        <string>{257,404}</string>
      </dict>
      <key>sfx_25083_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,259},{256,401}}</string>
        <key>offset</key>
        <string>{-163,295}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{256,401}}</string>
        <key>sourceSize</key>
        <string>{256,401}</string>
      </dict>
      <key>sfx_25083_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1025},{245,392}}</string>
        <key>offset</key>
        <string>{-162,288}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{245,392}}</string>
        <key>sourceSize</key>
        <string>{245,392}</string>
      </dict>
      <key>sfx_25083_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1522},{246,389}}</string>
        <key>offset</key>
        <string>{-162,285}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{246,389}}</string>
        <key>sourceSize</key>
        <string>{246,389}</string>
      </dict>
      <key>sfx_25083_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{248,1522},{248,388}}</string>
        <key>offset</key>
        <string>{-162,283}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{248,388}}</string>
        <key>sourceSize</key>
        <string>{248,388}</string>
      </dict>
      <key>sfx_25083_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{406,0},{254,403}}</string>
        <key>offset</key>
        <string>{-169,294}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{254,403}}</string>
        <key>sourceSize</key>
        <string>{254,403}</string>
      </dict>
      <key>sfx_25083_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{406,256},{269,403}}</string>
        <key>offset</key>
        <string>{-177,297}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{269,403}}</string>
        <key>sourceSize</key>
        <string>{269,403}</string>
      </dict>
      <key>sfx_25083_0_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{498,1547},{252,385}}</string>
        <key>offset</key>
        <string>{-165,281}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{252,385}}</string>
        <key>sourceSize</key>
        <string>{252,385}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_25083_0.png</string>
      <key>size</key>
      <string>{1024,2048}</string>
      <key>textureFileName</key>
      <string>sfx_25083_0.png</string>
    </dict>
  </dict>
</plist>