<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_35116_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{104,414}}</string>
        <key>offset</key>
        <string>{-30,362}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,414}}</string>
        <key>sourceSize</key>
        <string>{104,414}</string>
      </dict>
      <key>sfx_35116_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{416,0},{106,414}}</string>
        <key>offset</key>
        <string>{-31,362}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,414}}</string>
        <key>sourceSize</key>
        <string>{106,414}</string>
      </dict>
      <key>sfx_35116_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,106},{104,414}}</string>
        <key>offset</key>
        <string>{-30,362}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,414}}</string>
        <key>sourceSize</key>
        <string>{104,414}</string>
      </dict>
      <key>sfx_35116_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,212},{106,414}}</string>
        <key>offset</key>
        <string>{-31,362}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,414}}</string>
        <key>sourceSize</key>
        <string>{106,414}</string>
      </dict>
      <key>sfx_35116_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,320},{106,414}}</string>
        <key>offset</key>
        <string>{-31,362}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,414}}</string>
        <key>sourceSize</key>
        <string>{106,414}</string>
      </dict>
      <key>sfx_35116_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,428},{104,414}}</string>
        <key>offset</key>
        <string>{-30,362}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,414}}</string>
        <key>sourceSize</key>
        <string>{104,414}</string>
      </dict>
      <key>sfx_35116_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{106,428},{106,414}}</string>
        <key>offset</key>
        <string>{-31,362}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,414}}</string>
        <key>sourceSize</key>
        <string>{106,414}</string>
      </dict>
      <key>sfx_35116_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{214,428},{106,414}}</string>
        <key>offset</key>
        <string>{-31,362}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,414}}</string>
        <key>sourceSize</key>
        <string>{106,414}</string>
      </dict>
      <key>sfx_35116_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{322,428},{104,414}}</string>
        <key>offset</key>
        <string>{-30,362}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,414}}</string>
        <key>sourceSize</key>
        <string>{104,414}</string>
      </dict>
      <key>sfx_35116_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{524,0},{106,414}}</string>
        <key>offset</key>
        <string>{-31,362}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,414}}</string>
        <key>sourceSize</key>
        <string>{106,414}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_35116_0.png</string>
      <key>size</key>
      <string>{768,896}</string>
      <key>textureFileName</key>
      <string>sfx_35116_0.png</string>
    </dict>
  </dict>
</plist>