<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_31112_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{784,288},{395,263}}</string>
        <key>offset</key>
        <string>{-218,148}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{395,263}}</string>
        <key>sourceSize</key>
        <string>{395,263}</string>
      </dict>
      <key>sfx_31112_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{958,0},{520,286}}</string>
        <key>offset</key>
        <string>{-210,137}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{520,286}}</string>
        <key>sourceSize</key>
        <string>{520,286}</string>
      </dict>
      <key>sfx_31112_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,655},{608,400}}</string>
        <key>offset</key>
        <string>{-309,183}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{608,400}}</string>
        <key>sourceSize</key>
        <string>{608,400}</string>
      </dict>
      <key>sfx_31112_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{653,424}}</string>
        <key>offset</key>
        <string>{-306,194}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{653,424}}</string>
        <key>sourceSize</key>
        <string>{653,424}</string>
      </dict>
      <key>sfx_31112_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{426,0},{589,356}}</string>
        <key>offset</key>
        <string>{-240,191}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{589,356}}</string>
        <key>sourceSize</key>
        <string>{589,356}</string>
      </dict>
      <key>sfx_31112_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{402,655},{595,282}}</string>
        <key>offset</key>
        <string>{-243,190}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{595,282}}</string>
        <key>sourceSize</key>
        <string>{595,282}</string>
      </dict>
      <key>sfx_31112_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{686,591},{576,270}}</string>
        <key>offset</key>
        <string>{-228,190}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{576,270}}</string>
        <key>sourceSize</key>
        <string>{576,270}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_31112_0.png</string>
      <key>size</key>
      <string>{1536,1280}</string>
      <key>textureFileName</key>
      <string>sfx_31112_0.png</string>
    </dict>
  </dict>
</plist>