<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_20004_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{401,238},{203,233}}</string>
        <key>offset</key>
        <string>{-2,77}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{203,233}}</string>
        <key>sourceSize</key>
        <string>{203,233}</string>
      </dict>
      <key>sfx_20004_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{601,707},{224,224}}</string>
        <key>offset</key>
        <string>{-16,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{224,224}}</string>
        <key>sourceSize</key>
        <string>{224,224}</string>
      </dict>
      <key>sfx_20004_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{606,235},{231,222}}</string>
        <key>offset</key>
        <string>{-16,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{231,222}}</string>
        <key>sourceSize</key>
        <string>{231,222}</string>
      </dict>
      <key>sfx_20004_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{210,485},{238,225}}</string>
        <key>offset</key>
        <string>{-16,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{238,225}}</string>
        <key>sourceSize</key>
        <string>{238,225}</string>
      </dict>
      <key>sfx_20004_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{425,0},{210,233}}</string>
        <key>offset</key>
        <string>{-15,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{210,233}}</string>
        <key>sourceSize</key>
        <string>{210,233}</string>
      </dict>
      <key>sfx_20004_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,243},{210,240}}</string>
        <key>offset</key>
        <string>{-14,86}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{210,240}}</string>
        <key>sourceSize</key>
        <string>{210,240}</string>
      </dict>
      <key>sfx_20004_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,485},{208,240}}</string>
        <key>offset</key>
        <string>{-9,88}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{208,240}}</string>
        <key>sourceSize</key>
        <string>{208,240}</string>
      </dict>
      <key>sfx_20004_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{201,727},{213,239}}</string>
        <key>offset</key>
        <string>{-11,88}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{213,239}}</string>
        <key>sourceSize</key>
        <string>{213,239}</string>
      </dict>
      <key>sfx_20004_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{224,241}}</string>
        <key>offset</key>
        <string>{-8,90}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{224,241}}</string>
        <key>sourceSize</key>
        <string>{224,241}</string>
      </dict>
      <key>sfx_20004_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,727},{199,240}}</string>
        <key>offset</key>
        <string>{-6,89}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{199,240}}</string>
        <key>sourceSize</key>
        <string>{199,240}</string>
      </dict>
      <key>sfx_20004_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{226,0},{197,236}}</string>
        <key>offset</key>
        <string>{-1,85}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{197,236}}</string>
        <key>sourceSize</key>
        <string>{197,236}</string>
      </dict>
      <key>sfx_20004_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{212,243},{187,237}}</string>
        <key>offset</key>
        <string>{1,82}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{187,237}}</string>
        <key>sourceSize</key>
        <string>{187,237}</string>
      </dict>
      <key>sfx_20004_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{416,725},{183,232}}</string>
        <key>offset</key>
        <string>{5,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{183,232}}</string>
        <key>sourceSize</key>
        <string>{183,232}</string>
      </dict>
      <key>sfx_20004_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{637,0},{184,231}}</string>
        <key>offset</key>
        <string>{5,77}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{184,231}}</string>
        <key>sourceSize</key>
        <string>{184,231}</string>
      </dict>
      <key>sfx_20004_0_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{437,473},{191,232}}</string>
        <key>offset</key>
        <string>{5,76}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{191,232}}</string>
        <key>sourceSize</key>
        <string>{191,232}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_20004_0.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>sfx_20004_0.png</string>
    </dict>
  </dict>
</plist>