<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_82535_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,106},{51,58}}</string>
        <key>offset</key>
        <string>{-25,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{51,58}}</string>
        <key>sourceSize</key>
        <string>{51,58}</string>
      </dict>
      <key>sfx_82535_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{186,52},{47,61}}</string>
        <key>offset</key>
        <string>{-22,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{47,61}}</string>
        <key>sourceSize</key>
        <string>{47,61}</string>
      </dict>
      <key>sfx_82535_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{180,101},{48,59}}</string>
        <key>offset</key>
        <string>{-21,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,59}}</string>
        <key>sourceSize</key>
        <string>{48,59}</string>
      </dict>
      <key>sfx_82535_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,55},{49,61}}</string>
        <key>offset</key>
        <string>{-21,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{49,61}}</string>
        <key>sourceSize</key>
        <string>{49,61}</string>
      </dict>
      <key>sfx_82535_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{186,0},{50,64}}</string>
        <key>offset</key>
        <string>{-22,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{50,64}}</string>
        <key>sourceSize</key>
        <string>{50,64}</string>
      </dict>
      <key>sfx_82535_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{58,0},{56,64}}</string>
        <key>offset</key>
        <string>{-26,31}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,64}}</string>
        <key>sourceSize</key>
        <string>{56,64}</string>
      </dict>
      <key>sfx_82535_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{58,144},{57,67}}</string>
        <key>offset</key>
        <string>{-27,31}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,67}}</string>
        <key>sourceSize</key>
        <string>{57,67}</string>
      </dict>
      <key>sfx_82535_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,73},{56,69}}</string>
        <key>offset</key>
        <string>{-26,33}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,69}}</string>
        <key>sourceSize</key>
        <string>{56,69}</string>
      </dict>
      <key>sfx_82535_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,144},{56,68}}</string>
        <key>offset</key>
        <string>{-27,32}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,68}}</string>
        <key>sourceSize</key>
        <string>{56,68}</string>
      </dict>
      <key>sfx_82535_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{56,71}}</string>
        <key>offset</key>
        <string>{-27,33}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,71}}</string>
        <key>sourceSize</key>
        <string>{56,71}</string>
      </dict>
      <key>sfx_82535_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,0},{53,67}}</string>
        <key>offset</key>
        <string>{-24,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,67}}</string>
        <key>sourceSize</key>
        <string>{53,67}</string>
      </dict>
      <key>sfx_82535_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{58,66},{52,60}}</string>
        <key>offset</key>
        <string>{-24,30}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{52,60}}</string>
        <key>sourceSize</key>
        <string>{52,60}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_82535_0.png</string>
      <key>size</key>
      <string>{256,256}</string>
      <key>textureFileName</key>
      <string>sfx_82535_0.png</string>
    </dict>
  </dict>
</plist>