<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_12129_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{928,0},{398,261}}</string>
        <key>offset</key>
        <string>{-107,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{398,261}}</string>
        <key>sourceSize</key>
        <string>{398,261}</string>
      </dict>
      <key>sfx_12129_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1122,867},{377,319}}</string>
        <key>offset</key>
        <string>{-99,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{377,319}}</string>
        <key>sourceSize</key>
        <string>{377,319}</string>
      </dict>
      <key>sfx_12129_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{837,1368},{424,271}}</string>
        <key>offset</key>
        <string>{-167,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{424,271}}</string>
        <key>sourceSize</key>
        <string>{424,271}</string>
      </dict>
      <key>sfx_12129_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1479},{476,275}}</string>
        <key>offset</key>
        <string>{-63,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{476,275}}</string>
        <key>sourceSize</key>
        <string>{476,275}</string>
      </dict>
      <key>sfx_12129_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,997},{480,307}}</string>
        <key>offset</key>
        <string>{-67,131}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{480,307}}</string>
        <key>sourceSize</key>
        <string>{480,307}</string>
      </dict>
      <key>sfx_12129_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,505},{490,342}}</string>
        <key>offset</key>
        <string>{-77,167}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{490,342}}</string>
        <key>sourceSize</key>
        <string>{490,342}</string>
      </dict>
      <key>sfx_12129_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{517,1470},{438,318}}</string>
        <key>offset</key>
        <string>{-89,142}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{438,318}}</string>
        <key>sourceSize</key>
        <string>{438,318}</string>
      </dict>
      <key>sfx_12129_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{363,0},{467,319}}</string>
        <key>offset</key>
        <string>{-106,145}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{467,319}}</string>
        <key>sourceSize</key>
        <string>{467,319}</string>
      </dict>
      <key>sfx_12129_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{590,469},{462,302}}</string>
        <key>offset</key>
        <string>{-103,128}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{462,302}}</string>
        <key>sourceSize</key>
        <string>{462,302}</string>
      </dict>
      <key>sfx_12129_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1191,0},{396,300}}</string>
        <key>offset</key>
        <string>{-87,130}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{396,300}}</string>
        <key>sourceSize</key>
        <string>{396,300}</string>
      </dict>
      <key>sfx_12129_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{1226,1738},{336,272}}</string>
        <key>offset</key>
        <string>{-87,100}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{336,272}}</string>
        <key>sourceSize</key>
        <string>{336,272}</string>
      </dict>
      <key>sfx_12129_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{1110,1352},{384,240}}</string>
        <key>offset</key>
        <string>{-127,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{384,240}}</string>
        <key>sourceSize</key>
        <string>{384,240}</string>
      </dict>
      <key>sfx_12129_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{605,933},{433,247}}</string>
        <key>offset</key>
        <string>{-179,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{433,247}}</string>
        <key>sourceSize</key>
        <string>{433,247}</string>
      </dict>
      <key>sfx_12129_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{309,997},{471,294}}</string>
        <key>offset</key>
        <string>{-224,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{471,294}}</string>
        <key>sourceSize</key>
        <string>{471,294}</string>
      </dict>
      <key>sfx_12129_0_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{837,1794},{387,250}}</string>
        <key>offset</key>
        <string>{-145,72}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{387,250}}</string>
        <key>sourceSize</key>
        <string>{387,250}</string>
      </dict>
      <key>sfx_12129_0_0015.png</key>
      <dict>
        <key>frame</key>
        <string>{{854,933},{417,266}}</string>
        <key>offset</key>
        <string>{-167,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{417,266}}</string>
        <key>sourceSize</key>
        <string>{417,266}</string>
      </dict>
      <key>sfx_12129_0_0016.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{503,361}}</string>
        <key>offset</key>
        <string>{-122,146}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{503,361}}</string>
        <key>sourceSize</key>
        <string>{503,361}</string>
      </dict>
      <key>sfx_12129_0_0017.png</key>
      <dict>
        <key>frame</key>
        <string>{{894,462},{403,327}}</string>
        <key>offset</key>
        <string>{-59,174}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{403,327}}</string>
        <key>sourceSize</key>
        <string>{403,327}</string>
      </dict>
      <key>sfx_12129_0_0018.png</key>
      <dict>
        <key>frame</key>
        <string>{{1223,398},{313,318}}</string>
        <key>offset</key>
        <string>{-36,174}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{313,318}}</string>
        <key>sourceSize</key>
        <string>{313,318}</string>
      </dict>
      <key>sfx_12129_0_0019.png</key>
      <dict>
        <key>frame</key>
        <string>{{1493,0},{264,315}}</string>
        <key>offset</key>
        <string>{-32,174}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{264,315}}</string>
        <key>sourceSize</key>
        <string>{264,315}</string>
      </dict>
      <key>sfx_12129_0_0020.png</key>
      <dict>
        <key>frame</key>
        <string>{{1759,0},{313,236}}</string>
        <key>offset</key>
        <string>{-24,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{313,236}}</string>
        <key>sourceSize</key>
        <string>{313,236}</string>
      </dict>
      <key>sfx_12129_0_0021.png</key>
      <dict>
        <key>frame</key>
        <string>{{1759,315},{259,266}}</string>
        <key>offset</key>
        <string>{-29,101}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{259,266}}</string>
        <key>sourceSize</key>
        <string>{259,266}</string>
      </dict>
      <key>sfx_12129_0_0022.png</key>
      <dict>
        <key>frame</key>
        <string>{{684,0},{460,242}}</string>
        <key>offset</key>
        <string>{-227,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{460,242}}</string>
        <key>sourceSize</key>
        <string>{460,242}</string>
      </dict>
      <key>sfx_12129_0_0023.png</key>
      <dict>
        <key>frame</key>
        <string>{{277,1479},{474,238}}</string>
        <key>offset</key>
        <string>{-226,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{474,238}}</string>
        <key>sourceSize</key>
        <string>{474,238}</string>
      </dict>
      <key>sfx_12129_0_0024.png</key>
      <dict>
        <key>frame</key>
        <string>{{344,505},{470,244}}</string>
        <key>offset</key>
        <string>{-208,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{470,244}}</string>
        <key>sourceSize</key>
        <string>{470,244}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_12129_0.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>sfx_12129_0.png</string>
    </dict>
  </dict>
</plist>