<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_82160_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,688},{338,295}}</string>
        <key>offset</key>
        <string>{-76,115}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{338,295}}</string>
        <key>sourceSize</key>
        <string>{338,295}</string>
      </dict>
      <key>sfx_82160_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{872,291},{334,292}}</string>
        <key>offset</key>
        <string>{-74,112}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{334,292}}</string>
        <key>sourceSize</key>
        <string>{334,292}</string>
      </dict>
      <key>sfx_82160_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{297,681},{330,292}}</string>
        <key>offset</key>
        <string>{-72,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{330,292}}</string>
        <key>sourceSize</key>
        <string>{330,292}</string>
      </dict>
      <key>sfx_82160_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{591,585},{330,292}}</string>
        <key>offset</key>
        <string>{-73,111}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{330,292}}</string>
        <key>sourceSize</key>
        <string>{330,292}</string>
      </dict>
      <key>sfx_82160_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{872,0},{335,289}}</string>
        <key>offset</key>
        <string>{-75,109}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{335,289}}</string>
        <key>sourceSize</key>
        <string>{335,289}</string>
      </dict>
      <key>sfx_82160_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{289,0},{339,287}}</string>
        <key>offset</key>
        <string>{-77,108}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{339,287}}</string>
        <key>sourceSize</key>
        <string>{339,287}</string>
      </dict>
      <key>sfx_82160_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{342,287}}</string>
        <key>offset</key>
        <string>{-79,108}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{342,287}}</string>
        <key>sourceSize</key>
        <string>{342,287}</string>
      </dict>
      <key>sfx_82160_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,344},{342,289}}</string>
        <key>offset</key>
        <string>{-78,108}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{342,289}}</string>
        <key>sourceSize</key>
        <string>{342,289}</string>
      </dict>
      <key>sfx_82160_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{291,341},{338,291}}</string>
        <key>offset</key>
        <string>{-75,109}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{338,291}}</string>
        <key>sourceSize</key>
        <string>{338,291}</string>
      </dict>
      <key>sfx_82160_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{578,0},{336,292}}</string>
        <key>offset</key>
        <string>{-75,111}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{336,292}}</string>
        <key>sourceSize</key>
        <string>{336,292}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_82160_0.png</string>
      <key>size</key>
      <string>{1280,1280}</string>
      <key>textureFileName</key>
      <string>sfx_82160_0.png</string>
    </dict>
  </dict>
</plist>