<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_82584_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{2483,1793},{516,386}}</string>
        <key>offset</key>
        <string>{-275,197}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{516,386}}</string>
        <key>sourceSize</key>
        <string>{516,386}</string>
      </dict>
      <key>sfx_82584_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1468,1870},{516,389}}</string>
        <key>offset</key>
        <string>{-275,200}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{516,389}}</string>
        <key>sourceSize</key>
        <string>{516,389}</string>
      </dict>
      <key>sfx_82584_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{979,1877},{515,383}}</string>
        <key>offset</key>
        <string>{-274,197}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{515,383}}</string>
        <key>sourceSize</key>
        <string>{515,383}</string>
      </dict>
      <key>sfx_82584_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{3276,372},{530,363}}</string>
        <key>offset</key>
        <string>{-287,184}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{530,363}}</string>
        <key>sourceSize</key>
        <string>{530,363}</string>
      </dict>
      <key>sfx_82584_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{3266,737},{530,363}}</string>
        <key>offset</key>
        <string>{-287,184}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{530,363}}</string>
        <key>sourceSize</key>
        <string>{530,363}</string>
      </dict>
      <key>sfx_82584_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{3266,1102},{528,363}}</string>
        <key>offset</key>
        <string>{-287,184}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{528,363}}</string>
        <key>sourceSize</key>
        <string>{528,363}</string>
      </dict>
      <key>sfx_82584_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{2908,0},{554,366}}</string>
        <key>offset</key>
        <string>{-313,187}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{554,366}}</string>
        <key>sourceSize</key>
        <string>{554,366}</string>
      </dict>
      <key>sfx_82584_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{2896,588},{555,368}}</string>
        <key>offset</key>
        <string>{-314,189}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{555,368}}</string>
        <key>sourceSize</key>
        <string>{555,368}</string>
      </dict>
      <key>sfx_82584_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{3276,0},{549,370}}</string>
        <key>offset</key>
        <string>{-311,191}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{549,370}}</string>
        <key>sourceSize</key>
        <string>{549,370}</string>
      </dict>
      <key>sfx_82584_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{2909,1467},{504,525}}</string>
        <key>offset</key>
        <string>{-266,346}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{504,525}}</string>
        <key>sourceSize</key>
        <string>{504,525}</string>
      </dict>
      <key>sfx_82584_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{1957,1804},{499,524}}</string>
        <key>offset</key>
        <string>{-266,346}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{499,524}}</string>
        <key>sourceSize</key>
        <string>{499,524}</string>
      </dict>
      <key>sfx_82584_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{3415,1467},{525,366}}</string>
        <key>offset</key>
        <string>{-268,188}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{525,366}}</string>
        <key>sourceSize</key>
        <string>{525,366}</string>
      </dict>
      <key>sfx_82584_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{634,477}}</string>
        <key>offset</key>
        <string>{-268,188}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{634,477}}</string>
        <key>sourceSize</key>
        <string>{634,477}</string>
      </dict>
      <key>sfx_82584_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,636},{634,477}}</string>
        <key>offset</key>
        <string>{-268,188}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{634,477}}</string>
        <key>sourceSize</key>
        <string>{634,477}</string>
      </dict>
      <key>sfx_82584_0_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1272},{628,488}}</string>
        <key>offset</key>
        <string>{-269,199}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{628,488}}</string>
        <key>sourceSize</key>
        <string>{628,488}</string>
      </dict>
      <key>sfx_82584_0_0015.png</key>
      <dict>
        <key>frame</key>
        <string>{{479,0},{626,488}}</string>
        <key>offset</key>
        <string>{-269,199}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{626,488}}</string>
        <key>sourceSize</key>
        <string>{626,488}</string>
      </dict>
      <key>sfx_82584_0_0016.png</key>
      <dict>
        <key>frame</key>
        <string>{{479,628},{626,488}}</string>
        <key>offset</key>
        <string>{-269,199}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{626,488}}</string>
        <key>sourceSize</key>
        <string>{626,488}</string>
      </dict>
      <key>sfx_82584_0_0017.png</key>
      <dict>
        <key>frame</key>
        <string>{{490,1256},{624,487}}</string>
        <key>offset</key>
        <string>{-269,198}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{624,487}}</string>
        <key>sourceSize</key>
        <string>{624,487}</string>
      </dict>
      <key>sfx_82584_0_0018.png</key>
      <dict>
        <key>frame</key>
        <string>{{969,0},{624,487}}</string>
        <key>offset</key>
        <string>{-269,198}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{624,487}}</string>
        <key>sourceSize</key>
        <string>{624,487}</string>
      </dict>
      <key>sfx_82584_0_0019.png</key>
      <dict>
        <key>frame</key>
        <string>{{979,1252},{623,487}}</string>
        <key>offset</key>
        <string>{-269,198}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{623,487}}</string>
        <key>sourceSize</key>
        <string>{623,487}</string>
      </dict>
      <key>sfx_82584_0_0020.png</key>
      <dict>
        <key>frame</key>
        <string>{{1459,626},{623,488}}</string>
        <key>offset</key>
        <string>{-269,199}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{623,488}}</string>
        <key>sourceSize</key>
        <string>{623,488}</string>
      </dict>
      <key>sfx_82584_0_0021.png</key>
      <dict>
        <key>frame</key>
        <string>{{969,626},{624,488}}</string>
        <key>offset</key>
        <string>{-270,199}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{624,488}}</string>
        <key>sourceSize</key>
        <string>{624,488}</string>
      </dict>
      <key>sfx_82584_0_0022.png</key>
      <dict>
        <key>frame</key>
        <string>{{1947,0},{622,487}}</string>
        <key>offset</key>
        <string>{-270,198}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{622,487}}</string>
        <key>sourceSize</key>
        <string>{622,487}</string>
      </dict>
      <key>sfx_82584_0_0023.png</key>
      <dict>
        <key>frame</key>
        <string>{{1458,0},{624,487}}</string>
        <key>offset</key>
        <string>{-272,198}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{624,487}}</string>
        <key>sourceSize</key>
        <string>{624,487}</string>
      </dict>
      <key>sfx_82584_0_0024.png</key>
      <dict>
        <key>frame</key>
        <string>{{1468,1251},{617,487}}</string>
        <key>offset</key>
        <string>{-273,198}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{617,487}}</string>
        <key>sourceSize</key>
        <string>{617,487}</string>
      </dict>
      <key>sfx_82584_0_0025.png</key>
      <dict>
        <key>frame</key>
        <string>{{2436,0},{586,470}}</string>
        <key>offset</key>
        <string>{-273,198}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{586,470}}</string>
        <key>sourceSize</key>
        <string>{586,470}</string>
      </dict>
      <key>sfx_82584_0_0026.png</key>
      <dict>
        <key>frame</key>
        <string>{{2424,624},{587,470}}</string>
        <key>offset</key>
        <string>{-274,198}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{587,470}}</string>
        <key>sourceSize</key>
        <string>{587,470}</string>
      </dict>
      <key>sfx_82584_0_0027.png</key>
      <dict>
        <key>frame</key>
        <string>{{1949,624},{588,473}}</string>
        <key>offset</key>
        <string>{-275,198}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{588,473}}</string>
        <key>sourceSize</key>
        <string>{588,473}</string>
      </dict>
      <key>sfx_82584_0_0028.png</key>
      <dict>
        <key>frame</key>
        <string>{{1957,1214},{588,472}}</string>
        <key>offset</key>
        <string>{-275,197}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{588,472}}</string>
        <key>sourceSize</key>
        <string>{588,472}</string>
      </dict>
      <key>sfx_82584_0_0029.png</key>
      <dict>
        <key>frame</key>
        <string>{{2431,1213},{578,476}}</string>
        <key>offset</key>
        <string>{-275,197}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{578,476}}</string>
        <key>sourceSize</key>
        <string>{578,476}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_82584_0.png</string>
      <key>size</key>
      <string>{4096,4096}</string>
      <key>textureFileName</key>
      <string>sfx_82584_0.png</string>
    </dict>
  </dict>
</plist>