<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_33012_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{992,629},{279,328}}</string>
        <key>offset</key>
        <string>{348,-292}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{279,328}}</string>
        <key>sourceSize</key>
        <string>{279,328}</string>
      </dict>
      <key>sfx_33012_0_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{993,0},{280,328}}</string>
        <key>offset</key>
        <string>{347,-292}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{280,328}}</string>
        <key>sourceSize</key>
        <string>{280,328}</string>
      </dict>
      <key>sfx_33012_0_0016.png</key>
      <dict>
        <key>frame</key>
        <string>{{993,330},{280,328}}</string>
        <key>offset</key>
        <string>{347,-293}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{280,328}}</string>
        <key>sourceSize</key>
        <string>{280,328}</string>
      </dict>
      <key>sfx_33012_0_0018.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,832},{279,327}}</string>
        <key>offset</key>
        <string>{347,-293}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{279,327}}</string>
        <key>sourceSize</key>
        <string>{279,327}</string>
      </dict>
      <key>sfx_33012_0_0019.png</key>
      <dict>
        <key>frame</key>
        <string>{{329,944},{278,327}}</string>
        <key>offset</key>
        <string>{348,-293}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{278,327}}</string>
        <key>sourceSize</key>
        <string>{278,327}</string>
      </dict>
      <key>sfx_33012_0_0020.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1113},{278,327}}</string>
        <key>offset</key>
        <string>{348,-293}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{278,327}}</string>
        <key>sourceSize</key>
        <string>{278,327}</string>
      </dict>
      <key>sfx_33012_0_0021.png</key>
      <dict>
        <key>frame</key>
        <string>{{658,944},{277,327}}</string>
        <key>offset</key>
        <string>{349,-293}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{277,327}}</string>
        <key>sourceSize</key>
        <string>{277,327}</string>
      </dict>
      <key>sfx_33012_0_0022.png</key>
      <dict>
        <key>frame</key>
        <string>{{1275,0},{277,328}}</string>
        <key>offset</key>
        <string>{349,-292}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{277,328}}</string>
        <key>sourceSize</key>
        <string>{277,328}</string>
      </dict>
      <key>sfx_33012_0_0023.png</key>
      <dict>
        <key>frame</key>
        <string>{{1273,612},{276,328}}</string>
        <key>offset</key>
        <string>{350,-292}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{276,328}}</string>
        <key>sourceSize</key>
        <string>{276,328}</string>
      </dict>
      <key>sfx_33012_0_0024.png</key>
      <dict>
        <key>frame</key>
        <string>{{1323,330},{275,328}}</string>
        <key>offset</key>
        <string>{351,-292}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{275,328}}</string>
        <key>sourceSize</key>
        <string>{275,328}</string>
      </dict>
      <key>sfx_33012_0_0025.png</key>
      <dict>
        <key>frame</key>
        <string>{{1554,0},{275,328}}</string>
        <key>offset</key>
        <string>{351,-292}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{275,328}}</string>
        <key>sourceSize</key>
        <string>{275,328}</string>
      </dict>
      <key>sfx_33012_0_0026.png</key>
      <dict>
        <key>frame</key>
        <string>{{1653,330},{274,328}}</string>
        <key>offset</key>
        <string>{352,-292}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{274,328}}</string>
        <key>sourceSize</key>
        <string>{274,328}</string>
      </dict>
      <key>sfx_33012_0_0027.png</key>
      <dict>
        <key>frame</key>
        <string>{{1653,606},{273,328}}</string>
        <key>offset</key>
        <string>{353,-292}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{273,328}}</string>
        <key>sourceSize</key>
        <string>{273,328}</string>
      </dict>
      <key>sfx_33012_0_0028.png</key>
      <dict>
        <key>frame</key>
        <string>{{1551,881},{272,328}}</string>
        <key>offset</key>
        <string>{354,-292}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{272,328}}</string>
        <key>sourceSize</key>
        <string>{272,328}</string>
      </dict>
      <key>sfx_33012_0_0031.png</key>
      <dict>
        <key>frame</key>
        <string>{{1273,942},{272,327}}</string>
        <key>offset</key>
        <string>{355,-293}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{272,327}}</string>
        <key>sourceSize</key>
        <string>{272,327}</string>
      </dict>
      <key>sfx_33012_0_0039.png</key>
      <dict>
        <key>frame</key>
        <string>{{859,1501},{312,323}}</string>
        <key>offset</key>
        <string>{325,-302}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{312,323}}</string>
        <key>sourceSize</key>
        <string>{312,323}</string>
      </dict>
      <key>sfx_33012_0_0040.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1393},{275,325}}</string>
        <key>offset</key>
        <string>{362,-301}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{275,325}}</string>
        <key>sourceSize</key>
        <string>{275,325}</string>
      </dict>
      <key>sfx_33012_0_0041.png</key>
      <dict>
        <key>frame</key>
        <string>{{987,959},{276,326}}</string>
        <key>offset</key>
        <string>{362,-300}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{276,326}}</string>
        <key>sourceSize</key>
        <string>{276,326}</string>
      </dict>
      <key>sfx_33012_0_0042.png</key>
      <dict>
        <key>frame</key>
        <string>{{658,1223},{276,326}}</string>
        <key>offset</key>
        <string>{362,-300}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{276,326}}</string>
        <key>sourceSize</key>
        <string>{276,326}</string>
      </dict>
      <key>sfx_33012_0_0043.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1670},{277,325}}</string>
        <key>offset</key>
        <string>{362,-301}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{277,325}}</string>
        <key>sourceSize</key>
        <string>{277,325}</string>
      </dict>
      <key>sfx_33012_0_0044.png</key>
      <dict>
        <key>frame</key>
        <string>{{279,1670},{278,325}}</string>
        <key>offset</key>
        <string>{362,-301}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{278,325}}</string>
        <key>sourceSize</key>
        <string>{278,325}</string>
      </dict>
      <key>sfx_33012_0_0045.png</key>
      <dict>
        <key>frame</key>
        <string>{{1265,1271},{279,324}}</string>
        <key>offset</key>
        <string>{363,-301}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{279,324}}</string>
        <key>sourceSize</key>
        <string>{279,324}</string>
      </dict>
      <key>sfx_33012_0_0046.png</key>
      <dict>
        <key>frame</key>
        <string>{{1184,1597},{280,323}}</string>
        <key>offset</key>
        <string>{364,-302}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{280,323}}</string>
        <key>sourceSize</key>
        <string>{280,323}</string>
      </dict>
      <key>sfx_33012_0_0067.png</key>
      <dict>
        <key>frame</key>
        <string>{{589,629},{401,313}}</string>
        <key>offset</key>
        <string>{222,-307}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{401,313}}</string>
        <key>sourceSize</key>
        <string>{401,313}</string>
      </dict>
      <key>sfx_33012_0_0068.png</key>
      <dict>
        <key>frame</key>
        <string>{{589,0},{402,313}}</string>
        <key>offset</key>
        <string>{221,-307}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{402,313}}</string>
        <key>sourceSize</key>
        <string>{402,313}</string>
      </dict>
      <key>sfx_33012_0_0069.png</key>
      <dict>
        <key>frame</key>
        <string>{{589,315},{402,312}}</string>
        <key>offset</key>
        <string>{221,-307}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{402,312}}</string>
        <key>sourceSize</key>
        <string>{402,312}</string>
      </dict>
      <key>sfx_33012_0_0086.png</key>
      <dict>
        <key>frame</key>
        <string>{{1547,1155},{295,325}}</string>
        <key>offset</key>
        <string>{366,-288}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{295,325}}</string>
        <key>sourceSize</key>
        <string>{295,325}</string>
      </dict>
      <key>sfx_33012_0_0087.png</key>
      <dict>
        <key>frame</key>
        <string>{{559,1520},{298,325}}</string>
        <key>offset</key>
        <string>{366,-288}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{298,325}}</string>
        <key>sourceSize</key>
        <string>{298,325}</string>
      </dict>
      <key>sfx_33012_0_0088.png</key>
      <dict>
        <key>frame</key>
        <string>{{329,1224},{294,326}}</string>
        <key>offset</key>
        <string>{360,-288}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{294,326}}</string>
        <key>sourceSize</key>
        <string>{294,326}</string>
      </dict>
      <key>sfx_33012_0_0094.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{830,587}}</string>
        <key>offset</key>
        <string>{128,-163}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{830,587}}</string>
        <key>sourceSize</key>
        <string>{830,587}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_33012_0_4.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>sfx_33012_0_4.png</string>
    </dict>
  </dict>
</plist>