<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_17111_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{182,0},{224,58}}</string>
        <key>offset</key>
        <string>{-89,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{224,58}}</string>
        <key>sourceSize</key>
        <string>{224,58}</string>
      </dict>
      <key>sfx_17111_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{242,0},{224,59}}</string>
        <key>offset</key>
        <string>{-89,42}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{224,59}}</string>
        <key>sourceSize</key>
        <string>{224,59}</string>
      </dict>
      <key>sfx_17111_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{120,230},{227,59}}</string>
        <key>offset</key>
        <string>{-90,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{227,59}}</string>
        <key>sourceSize</key>
        <string>{227,59}</string>
      </dict>
      <key>sfx_17111_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{242,61},{224,59}}</string>
        <key>offset</key>
        <string>{-89,42}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{224,59}}</string>
        <key>sourceSize</key>
        <string>{224,59}</string>
      </dict>
      <key>sfx_17111_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,0},{227,56}}</string>
        <key>offset</key>
        <string>{-90,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{227,56}}</string>
        <key>sourceSize</key>
        <string>{227,56}</string>
      </dict>
      <key>sfx_17111_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{181,229},{227,57}}</string>
        <key>offset</key>
        <string>{-90,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{227,57}}</string>
        <key>sourceSize</key>
        <string>{227,57}</string>
      </dict>
      <key>sfx_17111_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{61,235},{230,57}}</string>
        <key>offset</key>
        <string>{-92,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{230,57}}</string>
        <key>sourceSize</key>
        <string>{230,57}</string>
      </dict>
      <key>sfx_17111_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{62,0},{228,60}}</string>
        <key>offset</key>
        <string>{-90,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{228,60}}</string>
        <key>sourceSize</key>
        <string>{228,60}</string>
      </dict>
      <key>sfx_17111_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{233,60}}</string>
        <key>offset</key>
        <string>{-93,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{233,60}}</string>
        <key>sourceSize</key>
        <string>{233,60}</string>
      </dict>
      <key>sfx_17111_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,235},{233,59}}</string>
        <key>offset</key>
        <string>{-93,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{233,59}}</string>
        <key>sourceSize</key>
        <string>{233,59}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_17111_0.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>sfx_17111_0.png</string>
    </dict>
  </dict>
</plist>