<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sfx_17102_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,242},{239,107}}</string>
        <key>offset</key>
        <string>{-95,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{239,107}}</string>
        <key>sourceSize</key>
        <string>{239,107}</string>
      </dict>
      <key>sfx_17102_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{107,0},{239,106}}</string>
        <key>offset</key>
        <string>{-95,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{239,106}}</string>
        <key>sourceSize</key>
        <string>{239,106}</string>
      </dict>
      <key>sfx_17102_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{240,105}}</string>
        <key>offset</key>
        <string>{-96,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{240,105}}</string>
        <key>sourceSize</key>
        <string>{240,105}</string>
      </dict>
      <key>sfx_17102_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{109,483},{237,104}}</string>
        <key>offset</key>
        <string>{-95,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{237,104}}</string>
        <key>sourceSize</key>
        <string>{237,104}</string>
      </dict>
      <key>sfx_17102_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{215,478},{230,98}}</string>
        <key>offset</key>
        <string>{-91,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{230,98}}</string>
        <key>sourceSize</key>
        <string>{230,98}</string>
      </dict>
      <key>sfx_17102_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{323,0},{228,95}}</string>
        <key>offset</key>
        <string>{-90,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{228,95}}</string>
        <key>sourceSize</key>
        <string>{228,95}</string>
      </dict>
      <key>sfx_17102_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{324,230},{227,89}}</string>
        <key>offset</key>
        <string>{-89,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{227,89}}</string>
        <key>sourceSize</key>
        <string>{227,89}</string>
      </dict>
      <key>sfx_17102_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{315,464},{228,90}}</string>
        <key>offset</key>
        <string>{-90,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{228,90}}</string>
        <key>sourceSize</key>
        <string>{228,90}</string>
      </dict>
      <key>sfx_17102_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{407,459},{226,97}}</string>
        <key>offset</key>
        <string>{-89,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{226,97}}</string>
        <key>sourceSize</key>
        <string>{226,97}</string>
      </dict>
      <key>sfx_17102_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{415,230},{226,99}}</string>
        <key>offset</key>
        <string>{-89,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{226,99}}</string>
        <key>sourceSize</key>
        <string>{226,99}</string>
      </dict>
      <key>sfx_17102_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,233},{229,104}}</string>
        <key>offset</key>
        <string>{-90,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{229,104}}</string>
        <key>sourceSize</key>
        <string>{229,104}</string>
      </dict>
      <key>sfx_17102_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{215,0},{231,106}}</string>
        <key>offset</key>
        <string>{-91,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{231,106}}</string>
        <key>sourceSize</key>
        <string>{231,106}</string>
      </dict>
      <key>sfx_17102_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{109,241},{235,107}}</string>
        <key>offset</key>
        <string>{-93,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{235,107}}</string>
        <key>sourceSize</key>
        <string>{235,107}</string>
      </dict>
      <key>sfx_17102_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,483},{238,107}}</string>
        <key>offset</key>
        <string>{-95,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{238,107}}</string>
        <key>sourceSize</key>
        <string>{238,107}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sfx_17102_0.png</string>
      <key>size</key>
      <string>{768,768}</string>
      <key>textureFileName</key>
      <string>sfx_17102_0.png</string>
    </dict>
  </dict>
</plist>