<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_10052_0_10_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{618,267},{259,221}}</string>
        <key>offset</key>
        <string>{-119,152}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{259,221}}</string>
        <key>sourceSize</key>
        <string>{259,221}</string>
      </dict>
      <key>player_10052_0_10_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{647,1377},{184,245}}</string>
        <key>offset</key>
        <string>{-103,151}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{184,245}}</string>
        <key>sourceSize</key>
        <string>{184,245}</string>
      </dict>
      <key>player_10052_0_10_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{163,1187},{277,206}}</string>
        <key>offset</key>
        <string>{-121,146}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{277,206}}</string>
        <key>sourceSize</key>
        <string>{277,206}</string>
      </dict>
      <key>player_10052_0_10_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{365,587},{266,216}}</string>
        <key>offset</key>
        <string>{-99,154}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{266,216}}</string>
        <key>sourceSize</key>
        <string>{266,216}</string>
      </dict>
      <key>player_10052_0_10_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{753,0},{259,230}}</string>
        <key>offset</key>
        <string>{-99,160}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{259,230}}</string>
        <key>sourceSize</key>
        <string>{259,230}</string>
      </dict>
      <key>player_10052_0_10_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{158,597},{291,205}}</string>
        <key>offset</key>
        <string>{-110,136}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{291,205}}</string>
        <key>sourceSize</key>
        <string>{291,205}</string>
      </dict>
      <key>player_10052_0_10_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{614,1694},{144,247}}</string>
        <key>offset</key>
        <string>{-75,174}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,247}}</string>
        <key>sourceSize</key>
        <string>{144,247}</string>
      </dict>
      <key>player_10052_0_10_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{841,261},{249,247}}</string>
        <key>offset</key>
        <string>{-130,171}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{249,247}}</string>
        <key>sourceSize</key>
        <string>{249,247}</string>
      </dict>
      <key>player_10052_0_10_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1090,251},{203,241}}</string>
        <key>offset</key>
        <string>{-89,170}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{203,241}}</string>
        <key>sourceSize</key>
        <string>{203,241}</string>
      </dict>
      <key>player_10052_0_10_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,893},{292,246}}</string>
        <key>offset</key>
        <string>{-81,170}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{292,246}}</string>
        <key>sourceSize</key>
        <string>{292,246}</string>
      </dict>
      <key>player_10052_0_10_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,301},{294,231}}</string>
        <key>offset</key>
        <string>{-96,160}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{294,231}}</string>
        <key>sourceSize</key>
        <string>{294,231}</string>
      </dict>
      <key>player_10052_0_10_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1761},{279,234}}</string>
        <key>offset</key>
        <string>{-107,158}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{279,234}}</string>
        <key>sourceSize</key>
        <string>{279,234}</string>
      </dict>
      <key>player_10052_0_10_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,1079},{217,244}}</string>
        <key>offset</key>
        <string>{-97,175}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{217,244}}</string>
        <key>sourceSize</key>
        <string>{217,244}</string>
      </dict>
      <key>player_10052_0_10_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{176,0},{294,222}}</string>
        <key>offset</key>
        <string>{-125,155}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{294,222}}</string>
        <key>sourceSize</key>
        <string>{294,222}</string>
      </dict>
      <key>player_10052_0_10_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1321,0},{164,228}}</string>
        <key>offset</key>
        <string>{-58,169}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{164,228}}</string>
        <key>sourceSize</key>
        <string>{164,228}</string>
      </dict>
      <key>player_10052_0_10_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{583,559},{220,260}}</string>
        <key>offset</key>
        <string>{-55,164}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{220,260}}</string>
        <key>sourceSize</key>
        <string>{220,260}</string>
      </dict>
      <key>player_10052_0_10_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{398,1434},{247,258}}</string>
        <key>offset</key>
        <string>{-81,173}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{247,258}}</string>
        <key>sourceSize</key>
        <string>{247,258}</string>
      </dict>
      <key>player_10052_0_10_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{578,1118},{170,257}}</string>
        <key>offset</key>
        <string>{-72,174}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,257}}</string>
        <key>sourceSize</key>
        <string>{170,257}</string>
      </dict>
      <key>player_10052_0_10_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{233,296},{289,210}}</string>
        <key>offset</key>
        <string>{-124,153}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{289,210}}</string>
        <key>sourceSize</key>
        <string>{289,210}</string>
      </dict>
      <key>player_10052_0_10_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{833,1325},{239,234}}</string>
        <key>offset</key>
        <string>{-61,152}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{239,234}}</string>
        <key>sourceSize</key>
        <string>{239,234}</string>
      </dict>
      <key>player_10052_0_10_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{565,0},{265,186}}</string>
        <key>offset</key>
        <string>{-100,143}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{265,186}}</string>
        <key>sourceSize</key>
        <string>{265,186}</string>
      </dict>
      <key>player_10052_0_10_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{482,855},{181,261}}</string>
        <key>offset</key>
        <string>{-55,150}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{181,261}}</string>
        <key>sourceSize</key>
        <string>{181,261}</string>
      </dict>
      <key>player_10052_0_10_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{985,0},{147,249}}</string>
        <key>offset</key>
        <string>{-55,161}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,249}}</string>
        <key>sourceSize</key>
        <string>{147,249}</string>
      </dict>
      <key>player_10052_0_10_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1223,494},{198,232}}</string>
        <key>offset</key>
        <string>{-85,164}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{198,232}}</string>
        <key>sourceSize</key>
        <string>{198,232}</string>
      </dict>
      <key>player_10052_0_10_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{665,821},{256,226}}</string>
        <key>offset</key>
        <string>{-85,155}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{256,226}}</string>
        <key>sourceSize</key>
        <string>{256,226}</string>
      </dict>
      <key>player_10052_0_10_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1063,757},{189,233}}</string>
        <key>offset</key>
        <string>{-33,142}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{189,233}}</string>
        <key>sourceSize</key>
        <string>{189,233}</string>
      </dict>
      <key>player_10052_0_10_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{194,1466},{276,202}}</string>
        <key>offset</key>
        <string>{-103,141}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{276,202}}</string>
        <key>sourceSize</key>
        <string>{276,202}</string>
      </dict>
      <key>player_10052_0_10_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{236,1744},{263,199}}</string>
        <key>offset</key>
        <string>{-116,134}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{263,199}}</string>
        <key>sourceSize</key>
        <string>{263,199}</string>
      </dict>
      <key>player_10052_0_10_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{805,528},{250,198}}</string>
        <key>offset</key>
        <string>{-107,145}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{250,198}}</string>
        <key>sourceSize</key>
        <string>{250,198}</string>
      </dict>
      <key>player_10052_0_10_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1475},{284,192}}</string>
        <key>offset</key>
        <string>{-129,143}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{284,192}}</string>
        <key>sourceSize</key>
        <string>{284,192}</string>
      </dict>
      <key>player_10052_0_10_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{760,1624},{146,240}}</string>
        <key>offset</key>
        <string>{-19,165}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,240}}</string>
        <key>sourceSize</key>
        <string>{146,240}</string>
      </dict>
      <key>player_10052_0_10_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{893,780},{244,168}}</string>
        <key>offset</key>
        <string>{-67,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{244,168}}</string>
        <key>sourceSize</key>
        <string>{244,168}</string>
      </dict>
      <key>player_10052_0_10_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{437,1694},{175,248}}</string>
        <key>offset</key>
        <string>{-38,172}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{175,248}}</string>
        <key>sourceSize</key>
        <string>{175,248}</string>
      </dict>
      <key>player_10052_0_10_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1187},{286,161}}</string>
        <key>offset</key>
        <string>{-155,113}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{286,161}}</string>
        <key>sourceSize</key>
        <string>{286,161}</string>
      </dict>
      <key>player_10052_0_10_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,0},{289,163}}</string>
        <key>offset</key>
        <string>{-143,123}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{289,163}}</string>
        <key>sourceSize</key>
        <string>{289,163}</string>
      </dict>
      <key>player_10052_0_10_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{371,1163},{269,205}}</string>
        <key>offset</key>
        <string>{-112,141}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{269,205}}</string>
        <key>sourceSize</key>
        <string>{269,205}</string>
      </dict>
      <key>player_10052_0_10_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1295,243},{229,229}}</string>
        <key>offset</key>
        <string>{-79,150}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{229,229}}</string>
        <key>sourceSize</key>
        <string>{229,229}</string>
      </dict>
      <key>player_10052_0_10_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{299,174}}</string>
        <key>offset</key>
        <string>{-123,101}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{299,174}}</string>
        <key>sourceSize</key>
        <string>{299,174}</string>
      </dict>
      <key>player_10052_0_10_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{445,291},{171,266}}</string>
        <key>offset</key>
        <string>{-63,180}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{171,266}}</string>
        <key>sourceSize</key>
        <string>{171,266}</string>
      </dict>
      <key>player_10052_0_10_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1001,1794},{220,173}}</string>
        <key>offset</key>
        <string>{-114,123}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{220,173}}</string>
        <key>sourceSize</key>
        <string>{220,173}</string>
      </dict>
      <key>player_10052_0_10_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1134,0},{241,185}}</string>
        <key>offset</key>
        <string>{-113,141}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{241,185}}</string>
        <key>sourceSize</key>
        <string>{241,185}</string>
      </dict>
      <key>player_10052_0_10_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{969,1026},{148,238}}</string>
        <key>offset</key>
        <string>{-27,168}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,238}}</string>
        <key>sourceSize</key>
        <string>{148,238}</string>
      </dict>
      <key>player_10052_0_10_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,597},{294,156}}</string>
        <key>offset</key>
        <string>{-120,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{294,156}}</string>
        <key>sourceSize</key>
        <string>{294,156}</string>
      </dict>
      <key>player_10052_0_10_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{908,1566},{226,181}}</string>
        <key>offset</key>
        <string>{-129,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{226,181}}</string>
        <key>sourceSize</key>
        <string>{226,181}</string>
      </dict>
      <key>player_10052_0_10_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{248,890},{271,232}}</string>
        <key>offset</key>
        <string>{-118,157}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{271,232}}</string>
        <key>sourceSize</key>
        <string>{271,232}</string>
      </dict>
      <key>player_10052_0_10_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1487,0},{183,228}}</string>
        <key>offset</key>
        <string>{-81,162}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{183,228}}</string>
        <key>sourceSize</key>
        <string>{183,228}</string>
      </dict>
      <key>player_10052_0_10_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{760,1866},{166,239}}</string>
        <key>offset</key>
        <string>{-64,170}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{166,239}}</string>
        <key>sourceSize</key>
        <string>{166,239}</string>
      </dict>
      <key>player_10052_0_10_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1005,512},{216,243}}</string>
        <key>offset</key>
        <string>{-77,161}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{216,243}}</string>
        <key>sourceSize</key>
        <string>{216,243}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_10052_0_10.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>player_10052_0_10.png</string>
    </dict>
  </dict>
</plist>