<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_82507_0_10_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{794,0},{232,193}}</string>
        <key>offset</key>
        <string>{-93,120}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{232,193}}</string>
        <key>sourceSize</key>
        <string>{232,193}</string>
      </dict>
      <key>player_82507_0_10_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1825,0},{142,205}}</string>
        <key>offset</key>
        <string>{-68,130}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,205}}</string>
        <key>sourceSize</key>
        <string>{142,205}</string>
      </dict>
      <key>player_82507_0_10_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1460,0},{215,168}}</string>
        <key>offset</key>
        <string>{-86,121}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{215,168}}</string>
        <key>sourceSize</key>
        <string>{215,168}</string>
      </dict>
      <key>player_82507_0_10_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1117,231},{223,220}}</string>
        <key>offset</key>
        <string>{-80,156}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{223,220}}</string>
        <key>sourceSize</key>
        <string>{223,220}</string>
      </dict>
      <key>player_82507_0_10_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1339,222},{183,216}}</string>
        <key>offset</key>
        <string>{-53,143}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{183,216}}</string>
        <key>sourceSize</key>
        <string>{183,216}</string>
      </dict>
      <key>player_82507_0_10_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{176,533},{257,157}}</string>
        <key>offset</key>
        <string>{-89,111}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{257,157}}</string>
        <key>sourceSize</key>
        <string>{257,157}</string>
      </dict>
      <key>player_82507_0_10_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{676,750},{118,238}}</string>
        <key>offset</key>
        <string>{-42,155}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,238}}</string>
        <key>sourceSize</key>
        <string>{118,238}</string>
      </dict>
      <key>player_82507_0_10_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{447,0},{253,180}}</string>
        <key>offset</key>
        <string>{-108,141}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{253,180}}</string>
        <key>sourceSize</key>
        <string>{253,180}</string>
      </dict>
      <key>player_82507_0_10_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1509,440},{139,211}}</string>
        <key>offset</key>
        <string>{-48,143}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,211}}</string>
        <key>sourceSize</key>
        <string>{139,211}</string>
      </dict>
      <key>player_82507_0_10_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,536},{264,174}}</string>
        <key>offset</key>
        <string>{-81,124}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{264,174}}</string>
        <key>sourceSize</key>
        <string>{264,174}</string>
      </dict>
      <key>player_82507_0_10_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{129,268},{263,168}}</string>
        <key>offset</key>
        <string>{-86,121}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{263,168}}</string>
        <key>sourceSize</key>
        <string>{263,168}</string>
      </dict>
      <key>player_82507_0_10_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{945,468},{225,199}}</string>
        <key>offset</key>
        <string>{-84,125}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{225,199}}</string>
        <key>sourceSize</key>
        <string>{225,199}</string>
      </dict>
      <key>player_82507_0_10_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1146,456},{177,218}}</string>
        <key>offset</key>
        <string>{-77,168}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{177,218}}</string>
        <key>sourceSize</key>
        <string>{177,218}</string>
      </dict>
      <key>player_82507_0_10_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{299,265},{257,159}}</string>
        <key>offset</key>
        <string>{-81,123}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{257,159}}</string>
        <key>sourceSize</key>
        <string>{257,159}</string>
      </dict>
      <key>player_82507_0_10_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1853,545},{188,195}}</string>
        <key>offset</key>
        <string>{-46,135}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{188,195}}</string>
        <key>sourceSize</key>
        <string>{188,195}</string>
      </dict>
      <key>player_82507_0_10_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{904,234},{232,211}}</string>
        <key>offset</key>
        <string>{-66,138}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{232,211}}</string>
        <key>sourceSize</key>
        <string>{232,211}</string>
      </dict>
      <key>player_82507_0_10_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{260,792},{250,217}}</string>
        <key>offset</key>
        <string>{-80,146}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{250,217}}</string>
        <key>sourceSize</key>
        <string>{250,217}</string>
      </dict>
      <key>player_82507_0_10_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{989,0},{113,229}}</string>
        <key>offset</key>
        <string>{-30,155}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,229}}</string>
        <key>sourceSize</key>
        <string>{113,229}</string>
      </dict>
      <key>player_82507_0_10_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{135,0},{263,179}}</string>
        <key>offset</key>
        <string>{-96,148}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{263,179}}</string>
        <key>sourceSize</key>
        <string>{263,179}</string>
      </dict>
      <key>player_82507_0_10_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1853,343},{176,200}}</string>
        <key>offset</key>
        <string>{-11,126}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,200}}</string>
        <key>sourceSize</key>
        <string>{176,200}</string>
      </dict>
      <key>player_82507_0_10_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{512,752},{245,162}}</string>
        <key>offset</key>
        <string>{-72,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{245,162}}</string>
        <key>sourceSize</key>
        <string>{245,162}</string>
      </dict>
      <key>player_82507_0_10_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1524,217},{178,210}}</string>
        <key>offset</key>
        <string>{-36,125}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{178,210}}</string>
        <key>sourceSize</key>
        <string>{178,210}</string>
      </dict>
      <key>player_82507_0_10_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{620,504},{139,244}}</string>
        <key>offset</key>
        <string>{-28,159}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,244}}</string>
        <key>sourceSize</key>
        <string>{139,244}</string>
      </dict>
      <key>player_82507_0_10_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1825,144},{197,205}}</string>
        <key>offset</key>
        <string>{-76,158}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{197,205}}</string>
        <key>sourceSize</key>
        <string>{197,205}</string>
      </dict>
      <key>player_82507_0_10_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{761,498},{236,182}}</string>
        <key>offset</key>
        <string>{-52,140}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{236,182}}</string>
        <key>sourceSize</key>
        <string>{236,182}</string>
      </dict>
      <key>player_82507_0_10_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1672,636},{155,195}}</string>
        <key>offset</key>
        <string>{-13,108}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,195}}</string>
        <key>sourceSize</key>
        <string>{155,195}</string>
      </dict>
      <key>player_82507_0_10_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1650,429},{201,205}}</string>
        <key>offset</key>
        <string>{-59,146}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{201,205}}</string>
        <key>sourceSize</key>
        <string>{201,205}</string>
      </dict>
      <key>player_82507_0_10_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{629,0},{240,163}}</string>
        <key>offset</key>
        <string>{-76,101}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{240,163}}</string>
        <key>sourceSize</key>
        <string>{240,163}</string>
      </dict>
      <key>player_82507_0_10_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1268,676},{217,218}}</string>
        <key>offset</key>
        <string>{-66,145}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{217,218}}</string>
        <key>sourceSize</key>
        <string>{217,218}</string>
      </dict>
      <key>player_82507_0_10_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{335,524},{250,160}}</string>
        <key>offset</key>
        <string>{-82,121}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{250,160}}</string>
        <key>sourceSize</key>
        <string>{250,160}</string>
      </dict>
      <key>player_82507_0_10_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1104,0},{146,229}}</string>
        <key>offset</key>
        <string>{-9,152}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,229}}</string>
        <key>sourceSize</key>
        <string>{146,229}</string>
      </dict>
      <key>player_82507_0_10_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{316,0},{257,129}}</string>
        <key>offset</key>
        <string>{-77,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{257,129}}</string>
        <key>sourceSize</key>
        <string>{257,129}</string>
      </dict>
      <key>player_82507_0_10_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{781,242},{121,233}}</string>
        <key>offset</key>
        <string>{-15,148}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,233}}</string>
        <key>sourceSize</key>
        <string>{121,233}</string>
      </dict>
      <key>player_82507_0_10_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,802},{258,127}}</string>
        <key>offset</key>
        <string>{-98,76}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{258,127}}</string>
        <key>sourceSize</key>
        <string>{258,127}</string>
      </dict>
      <key>player_82507_0_10_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{266,133}}</string>
        <key>offset</key>
        <string>{-95,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{266,133}}</string>
        <key>sourceSize</key>
        <string>{266,133}</string>
      </dict>
      <key>player_82507_0_10_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1325,456},{218,182}}</string>
        <key>offset</key>
        <string>{-47,133}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{218,182}}</string>
        <key>sourceSize</key>
        <string>{218,182}</string>
      </dict>
      <key>player_82507_0_10_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1487,676},{183,213}}</string>
        <key>offset</key>
        <string>{-25,133}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{183,213}}</string>
        <key>sourceSize</key>
        <string>{183,213}</string>
      </dict>
      <key>player_82507_0_10_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{497,504},{246,121}}</string>
        <key>offset</key>
        <string>{-99,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{246,121}}</string>
        <key>sourceSize</key>
        <string>{246,121}</string>
      </dict>
      <key>player_82507_0_10_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1252,0},{206,220}}</string>
        <key>offset</key>
        <string>{-63,138}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{206,220}}</string>
        <key>sourceSize</key>
        <string>{206,220}</string>
      </dict>
      <key>player_82507_0_10_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1630,0},{210,193}}</string>
        <key>offset</key>
        <string>{-74,124}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{210,193}}</string>
        <key>sourceSize</key>
        <string>{210,193}</string>
      </dict>
      <key>player_82507_0_10_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{628,255},{241,151}}</string>
        <key>offset</key>
        <string>{-84,105}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{241,151}}</string>
        <key>sourceSize</key>
        <string>{241,151}</string>
      </dict>
      <key>player_82507_0_10_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{945,736},{126,226}}</string>
        <key>offset</key>
        <string>{-11,148}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,226}}</string>
        <key>sourceSize</key>
        <string>{126,226}</string>
      </dict>
      <key>player_82507_0_10_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,268},{266,127}}</string>
        <key>offset</key>
        <string>{-84,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{266,127}}</string>
        <key>sourceSize</key>
        <string>{266,127}</string>
      </dict>
      <key>player_82507_0_10_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1672,833},{156,187}}</string>
        <key>offset</key>
        <string>{-81,97}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,187}}</string>
        <key>sourceSize</key>
        <string>{156,187}</string>
      </dict>
      <key>player_82507_0_10_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{460,255},{247,166}}</string>
        <key>offset</key>
        <string>{-95,109}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{247,166}}</string>
        <key>sourceSize</key>
        <string>{247,166}</string>
      </dict>
      <key>player_82507_0_10_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{796,736},{147,228}}</string>
        <key>offset</key>
        <string>{-58,156}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,228}}</string>
        <key>sourceSize</key>
        <string>{147,228}</string>
      </dict>
      <key>player_82507_0_10_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1268,896},{110,212}}</string>
        <key>offset</key>
        <string>{-20,139}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,212}}</string>
        <key>sourceSize</key>
        <string>{110,212}</string>
      </dict>
      <key>player_82507_0_10_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1073,695},{193,220}}</string>
        <key>offset</key>
        <string>{-43,144}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{193,220}}</string>
        <key>sourceSize</key>
        <string>{193,220}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_82507_0_10.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>player_82507_0_10.png</string>
    </dict>
  </dict>
</plist>