<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_10046_0_11_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,372},{161,185}}</string>
        <key>offset</key>
        <string>{-6,139}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,185}}</string>
        <key>sourceSize</key>
        <string>{161,185}</string>
      </dict>
      <key>player_10046_0_11_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,535},{147,143}}</string>
        <key>offset</key>
        <string>{-24,95}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,143}}</string>
        <key>sourceSize</key>
        <string>{147,143}</string>
      </dict>
      <key>player_10046_0_11_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{368,465},{129,121}}</string>
        <key>offset</key>
        <string>{-35,77}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,121}}</string>
        <key>sourceSize</key>
        <string>{129,121}</string>
      </dict>
      <key>player_10046_0_11_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{187,465},{179,144}}</string>
        <key>offset</key>
        <string>{-86,104}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{179,144}}</string>
        <key>sourceSize</key>
        <string>{179,144}</string>
      </dict>
      <key>player_10046_0_11_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{238,256},{228,207}}</string>
        <key>offset</key>
        <string>{-116,161}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{228,207}}</string>
        <key>sourceSize</key>
        <string>{228,207}</string>
      </dict>
      <key>player_10046_0_11_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{219,256}}</string>
        <key>offset</key>
        <string>{-80,210}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{219,256}}</string>
        <key>sourceSize</key>
        <string>{219,256}</string>
      </dict>
      <key>player_10046_0_11_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{258,0},{153,254}}</string>
        <key>offset</key>
        <string>{-17,213}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,254}}</string>
        <key>sourceSize</key>
        <string>{153,254}</string>
      </dict>
      <key>player_10046_0_11_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,221},{149,236}}</string>
        <key>offset</key>
        <string>{-13,196}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{149,236}}</string>
        <key>sourceSize</key>
        <string>{149,236}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_10046_0_11.png</string>
      <key>size</key>
      <string>{512,1024}</string>
      <key>textureFileName</key>
      <string>player_10046_0_11.png</string>
    </dict>
  </dict>
</plist>