<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_82032_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{622,0},{233,141}}</string>
        <key>offset</key>
        <string>{-12,101}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{233,141}}</string>
        <key>sourceSize</key>
        <string>{233,141}</string>
      </dict>
      <key>player_82032_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{206,0},{240,176}}</string>
        <key>offset</key>
        <string>{-9,136}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{240,176}}</string>
        <key>sourceSize</key>
        <string>{240,176}</string>
      </dict>
      <key>player_82032_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{443,364},{195,170}}</string>
        <key>offset</key>
        <string>{-7,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{195,170}}</string>
        <key>sourceSize</key>
        <string>{195,170}</string>
      </dict>
      <key>player_82032_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{384,136},{226,94}}</string>
        <key>offset</key>
        <string>{-23,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{226,94}}</string>
        <key>sourceSize</key>
        <string>{226,94}</string>
      </dict>
      <key>player_82032_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{384,232},{225,130}}</string>
        <key>offset</key>
        <string>{-23,85}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{225,130}}</string>
        <key>sourceSize</key>
        <string>{225,130}</string>
      </dict>
      <key>player_82032_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,510},{227,126}}</string>
        <key>offset</key>
        <string>{-20,84}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{227,126}}</string>
        <key>sourceSize</key>
        <string>{227,126}</string>
      </dict>
      <key>player_82032_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{384,0},{236,134}}</string>
        <key>offset</key>
        <string>{-29,52}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{236,134}}</string>
        <key>sourceSize</key>
        <string>{236,134}</string>
      </dict>
      <key>player_82032_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{216,364},{225,139}}</string>
        <key>offset</key>
        <string>{-23,55}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{225,139}}</string>
        <key>sourceSize</key>
        <string>{225,139}</string>
      </dict>
      <key>player_82032_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{229,505},{208,125}}</string>
        <key>offset</key>
        <string>{-19,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{208,125}}</string>
        <key>sourceSize</key>
        <string>{208,125}</string>
      </dict>
      <key>player_82032_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{255,204}}</string>
        <key>offset</key>
        <string>{-108,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{255,204}}</string>
        <key>sourceSize</key>
        <string>{255,204}</string>
      </dict>
      <key>player_82032_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,257},{251,214}}</string>
        <key>offset</key>
        <string>{-108,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{251,214}}</string>
        <key>sourceSize</key>
        <string>{251,214}</string>
      </dict>
      <key>player_82032_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{229,632},{178,161}}</string>
        <key>offset</key>
        <string>{-100,66}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{178,161}}</string>
        <key>sourceSize</key>
        <string>{178,161}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_82032_0_7_0.png</string>
      <key>size</key>
      <string>{770,800}</string>
      <key>textureFileName</key>
      <string>player_82032_0_7_0.png</string>
    </dict>
  </dict>
</plist>