<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_10012_1_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{191,432},{58,58}}</string>
        <key>offset</key>
        <string>{4,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,58}}</string>
        <key>sourceSize</key>
        <string>{58,58}</string>
      </dict>
      <key>player_10012_1_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{70,438},{61,67}}</string>
        <key>offset</key>
        <string>{5,37}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,67}}</string>
        <key>sourceSize</key>
        <string>{61,67}</string>
      </dict>
      <key>player_10012_1_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,196},{63,73}}</string>
        <key>offset</key>
        <string>{6,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,73}}</string>
        <key>sourceSize</key>
        <string>{63,73}</string>
      </dict>
      <key>player_10012_1_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{191,385},{45,62}}</string>
        <key>offset</key>
        <string>{4,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{45,62}}</string>
        <key>sourceSize</key>
        <string>{45,62}</string>
      </dict>
      <key>player_10012_1_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{74,273},{47,70}}</string>
        <key>offset</key>
        <string>{10,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{47,70}}</string>
        <key>sourceSize</key>
        <string>{47,70}</string>
      </dict>
      <key>player_10012_1_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,128},{55,77}}</string>
        <key>offset</key>
        <string>{10,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,77}}</string>
        <key>sourceSize</key>
        <string>{55,77}</string>
      </dict>
      <key>player_10012_1_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{133,438},{56,67}}</string>
        <key>offset</key>
        <string>{0,39}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,67}}</string>
        <key>sourceSize</key>
        <string>{56,67}</string>
      </dict>
      <key>player_10012_1_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,326},{57,69}}</string>
        <key>offset</key>
        <string>{9,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,69}}</string>
        <key>sourceSize</key>
        <string>{57,69}</string>
      </dict>
      <key>player_10012_1_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{79,134},{68,75}}</string>
        <key>offset</key>
        <string>{8,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,75}}</string>
        <key>sourceSize</key>
        <string>{68,75}</string>
      </dict>
      <key>player_10012_1_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,261},{63,71}}</string>
        <key>offset</key>
        <string>{0,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,71}}</string>
        <key>sourceSize</key>
        <string>{63,71}</string>
      </dict>
      <key>player_10012_1_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{76,204},{67,72}}</string>
        <key>offset</key>
        <string>{4,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,72}}</string>
        <key>sourceSize</key>
        <string>{67,72}</string>
      </dict>
      <key>player_10012_1_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,248},{72,70}}</string>
        <key>offset</key>
        <string>{7,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,70}}</string>
        <key>sourceSize</key>
        <string>{72,70}</string>
      </dict>
      <key>player_10012_1_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{65,82}}</string>
        <key>offset</key>
        <string>{5,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,82}}</string>
        <key>sourceSize</key>
        <string>{65,82}</string>
      </dict>
      <key>player_10012_1_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{84,0},{66,81}}</string>
        <key>offset</key>
        <string>{5,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,81}}</string>
        <key>sourceSize</key>
        <string>{66,81}</string>
      </dict>
      <key>player_10012_1_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{167,61},{68,78}}</string>
        <key>offset</key>
        <string>{4,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,78}}</string>
        <key>sourceSize</key>
        <string>{68,78}</string>
      </dict>
      <key>player_10012_1_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{83,68},{64,78}}</string>
        <key>offset</key>
        <string>{15,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,78}}</string>
        <key>sourceSize</key>
        <string>{64,78}</string>
      </dict>
      <key>player_10012_1_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,67},{59,81}}</string>
        <key>offset</key>
        <string>{12,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,81}}</string>
        <key>sourceSize</key>
        <string>{59,81}</string>
      </dict>
      <key>player_10012_1_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{167,0},{59,79}}</string>
        <key>offset</key>
        <string>{6,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,79}}</string>
        <key>sourceSize</key>
        <string>{59,79}</string>
      </dict>
      <key>player_10012_1_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{163,131},{77,63}}</string>
        <key>offset</key>
        <string>{6,35}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,63}}</string>
        <key>sourceSize</key>
        <string>{77,63}</string>
      </dict>
      <key>player_10012_1_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,320},{70,69}}</string>
        <key>offset</key>
        <string>{5,41}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,69}}</string>
        <key>sourceSize</key>
        <string>{70,69}</string>
      </dict>
      <key>player_10012_1_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,185},{61,74}}</string>
        <key>offset</key>
        <string>{4,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,74}}</string>
        <key>sourceSize</key>
        <string>{61,74}</string>
      </dict>
      <key>player_10012_1_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{72,322},{70,52}}</string>
        <key>offset</key>
        <string>{4,27}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,52}}</string>
        <key>sourceSize</key>
        <string>{70,52}</string>
      </dict>
      <key>player_10012_1_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{72,376},{69,60}}</string>
        <key>offset</key>
        <string>{3,36}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,60}}</string>
        <key>sourceSize</key>
        <string>{69,60}</string>
      </dict>
      <key>player_10012_1_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,391},{64,68}}</string>
        <key>offset</key>
        <string>{2,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,68}}</string>
        <key>sourceSize</key>
        <string>{64,68}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_10012_1_7.png</string>
      <key>size</key>
      <string>{256,512}</string>
      <key>textureFileName</key>
      <string>player_10012_1_7.png</string>
    </dict>
  </dict>
</plist>