<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_3009_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{364,0},{104,80}}</string>
        <key>offset</key>
        <string>{2,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,80}}</string>
        <key>sourceSize</key>
        <string>{104,80}</string>
      </dict>
      <key>player_3009_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{364,82},{102,87}}</string>
        <key>offset</key>
        <string>{4,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,87}}</string>
        <key>sourceSize</key>
        <string>{102,87}</string>
      </dict>
      <key>player_3009_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{354,171},{99,89}}</string>
        <key>offset</key>
        <string>{5,55}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,89}}</string>
        <key>sourceSize</key>
        <string>{99,89}</string>
      </dict>
      <key>player_3009_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,122},{110,74}}</string>
        <key>offset</key>
        <string>{-2,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,74}}</string>
        <key>sourceSize</key>
        <string>{110,74}</string>
      </dict>
      <key>player_3009_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{95,384},{113,83}}</string>
        <key>offset</key>
        <string>{1,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,83}}</string>
        <key>sourceSize</key>
        <string>{113,83}</string>
      </dict>
      <key>player_3009_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{180,384},{112,90}}</string>
        <key>offset</key>
        <string>{4,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,90}}</string>
        <key>sourceSize</key>
        <string>{112,90}</string>
      </dict>
      <key>player_3009_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{272,335},{96,88}}</string>
        <key>offset</key>
        <string>{-16,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,88}}</string>
        <key>sourceSize</key>
        <string>{96,88}</string>
      </dict>
      <key>player_3009_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{362,335},{96,89}}</string>
        <key>offset</key>
        <string>{-12,52}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,89}}</string>
        <key>sourceSize</key>
        <string>{96,89}</string>
      </dict>
      <key>player_3009_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{262,219},{101,90}}</string>
        <key>offset</key>
        <string>{-6,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,90}}</string>
        <key>sourceSize</key>
        <string>{101,90}</string>
      </dict>
      <key>player_3009_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{470,0},{70,94}}</string>
        <key>offset</key>
        <string>{-10,52}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,94}}</string>
        <key>sourceSize</key>
        <string>{70,94}</string>
      </dict>
      <key>player_3009_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{354,262},{71,99}}</string>
        <key>offset</key>
        <string>{-7,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,99}}</string>
        <key>sourceSize</key>
        <string>{71,99}</string>
      </dict>
      <key>player_3009_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{187,234},{73,106}}</string>
        <key>offset</key>
        <string>{-6,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,106}}</string>
        <key>sourceSize</key>
        <string>{73,106}</string>
      </dict>
      <key>player_3009_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{184,0},{110,85}}</string>
        <key>offset</key>
        <string>{-45,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,85}}</string>
        <key>sourceSize</key>
        <string>{110,85}</string>
      </dict>
      <key>player_3009_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,112},{105,90}}</string>
        <key>offset</key>
        <string>{-41,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,90}}</string>
        <key>sourceSize</key>
        <string>{105,90}</string>
      </dict>
      <key>player_3009_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{271,0},{105,91}}</string>
        <key>offset</key>
        <string>{-42,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,91}}</string>
        <key>sourceSize</key>
        <string>{105,91}</string>
      </dict>
      <key>player_3009_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,144},{141,83}}</string>
        <key>offset</key>
        <string>{-65,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,83}}</string>
        <key>sourceSize</key>
        <string>{141,83}</string>
      </dict>
      <key>player_3009_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{142,90}}</string>
        <key>offset</key>
        <string>{-68,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,90}}</string>
        <key>sourceSize</key>
        <string>{142,90}</string>
      </dict>
      <key>player_3009_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,287},{139,93}}</string>
        <key>offset</key>
        <string>{-71,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,93}}</string>
        <key>sourceSize</key>
        <string>{139,93}</string>
      </dict>
      <key>player_3009_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{95,267},{115,90}}</string>
        <key>offset</key>
        <string>{-36,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,90}}</string>
        <key>sourceSize</key>
        <string>{115,90}</string>
      </dict>
      <key>player_3009_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{85,144},{121,87}}</string>
        <key>offset</key>
        <string>{-45,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,87}}</string>
        <key>sourceSize</key>
        <string>{121,87}</string>
      </dict>
      <key>player_3009_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{92,0},{120,90}}</string>
        <key>offset</key>
        <string>{-51,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,90}}</string>
        <key>sourceSize</key>
        <string>{120,90}</string>
      </dict>
      <key>player_3009_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{455,189},{64,90}}</string>
        <key>offset</key>
        <string>{4,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,90}}</string>
        <key>sourceSize</key>
        <string>{64,90}</string>
      </dict>
      <key>player_3009_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{468,96},{66,91}}</string>
        <key>offset</key>
        <string>{2,64}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,91}}</string>
        <key>sourceSize</key>
        <string>{66,91}</string>
      </dict>
      <key>player_3009_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{455,255},{67,90}}</string>
        <key>offset</key>
        <string>{-1,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,90}}</string>
        <key>sourceSize</key>
        <string>{67,90}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_3009_0_7.png</string>
      <key>size</key>
      <string>{547,513}</string>
      <key>textureFileName</key>
      <string>player_3009_0_7.png</string>
    </dict>
  </dict>
</plist>