<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_10033_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{360,798},{110,113}}</string>
        <key>offset</key>
        <string>{-31,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,113}}</string>
        <key>sourceSize</key>
        <string>{110,113}</string>
      </dict>
      <key>player_10033_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{347,910},{110,108}}</string>
        <key>offset</key>
        <string>{-31,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,108}}</string>
        <key>sourceSize</key>
        <string>{110,108}</string>
      </dict>
      <key>player_10033_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{486,694},{106,102}}</string>
        <key>offset</key>
        <string>{-30,72}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,102}}</string>
        <key>sourceSize</key>
        <string>{106,102}</string>
      </dict>
      <key>player_10033_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{497,585},{102,105}}</string>
        <key>offset</key>
        <string>{-28,71}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,105}}</string>
        <key>sourceSize</key>
        <string>{102,105}</string>
      </dict>
      <key>player_10033_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{505,472},{99,101}}</string>
        <key>offset</key>
        <string>{-25,70}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,101}}</string>
        <key>sourceSize</key>
        <string>{99,101}</string>
      </dict>
      <key>player_10033_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{568,909},{96,101}}</string>
        <key>offset</key>
        <string>{-23,71}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,101}}</string>
        <key>sourceSize</key>
        <string>{96,101}</string>
      </dict>
      <key>player_10033_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{367,694},{102,117}}</string>
        <key>offset</key>
        <string>{-31,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,117}}</string>
        <key>sourceSize</key>
        <string>{102,117}</string>
      </dict>
      <key>player_10033_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,816},{104,115}}</string>
        <key>offset</key>
        <string>{-32,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,115}}</string>
        <key>sourceSize</key>
        <string>{104,115}</string>
      </dict>
      <key>player_10033_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,628},{105,119}}</string>
        <key>offset</key>
        <string>{-33,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,119}}</string>
        <key>sourceSize</key>
        <string>{105,119}</string>
      </dict>
      <key>player_10033_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{376,585},{107,119}}</string>
        <key>offset</key>
        <string>{-34,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,119}}</string>
        <key>sourceSize</key>
        <string>{107,119}</string>
      </dict>
      <key>player_10033_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,910},{112,113}}</string>
        <key>offset</key>
        <string>{-39,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,113}}</string>
        <key>sourceSize</key>
        <string>{112,113}</string>
      </dict>
      <key>player_10033_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{232,910},{113,110}}</string>
        <key>offset</key>
        <string>{-39,83}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,110}}</string>
        <key>sourceSize</key>
        <string>{113,110}</string>
      </dict>
      <key>player_10033_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{71,136}}</string>
        <key>offset</key>
        <string>{-9,105}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,136}}</string>
        <key>sourceSize</key>
        <string>{71,136}</string>
      </dict>
      <key>player_10033_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,132},{72,128}}</string>
        <key>offset</key>
        <string>{-10,97}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,128}}</string>
        <key>sourceSize</key>
        <string>{72,128}</string>
      </dict>
      <key>player_10033_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{134,102},{82,129}}</string>
        <key>offset</key>
        <string>{-19,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,129}}</string>
        <key>sourceSize</key>
        <string>{82,129}</string>
      </dict>
      <key>player_10033_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{392,262},{77,127}}</string>
        <key>offset</key>
        <string>{-15,97}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,127}}</string>
        <key>sourceSize</key>
        <string>{77,127}</string>
      </dict>
      <key>player_10033_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{258,345},{82,125}}</string>
        <key>offset</key>
        <string>{-20,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,125}}</string>
        <key>sourceSize</key>
        <string>{82,125}</string>
      </dict>
      <key>player_10033_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{262,203},{79,128}}</string>
        <key>offset</key>
        <string>{-17,97}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,128}}</string>
        <key>sourceSize</key>
        <string>{79,128}</string>
      </dict>
      <key>player_10033_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{138,0},{100,132}}</string>
        <key>offset</key>
        <string>{-34,100}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,132}}</string>
        <key>sourceSize</key>
        <string>{100,132}</string>
      </dict>
      <key>player_10033_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,153},{104,129}}</string>
        <key>offset</key>
        <string>{-39,100}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,129}}</string>
        <key>sourceSize</key>
        <string>{104,129}</string>
      </dict>
      <key>player_10033_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,526},{100,123}}</string>
        <key>offset</key>
        <string>{-35,97}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,123}}</string>
        <key>sourceSize</key>
        <string>{100,123}</string>
      </dict>
      <key>player_10033_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{255,429},{99,124}}</string>
        <key>offset</key>
        <string>{-35,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,124}}</string>
        <key>sourceSize</key>
        <string>{99,124}</string>
      </dict>
      <key>player_10033_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{265,102},{99,129}}</string>
        <key>offset</key>
        <string>{-35,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,129}}</string>
        <key>sourceSize</key>
        <string>{99,129}</string>
      </dict>
      <key>player_10033_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{272,0},{100,131}}</string>
        <key>offset</key>
        <string>{-35,101}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,131}}</string>
        <key>sourceSize</key>
        <string>{100,131}</string>
      </dict>
      <key>player_10033_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{381,472},{111,122}}</string>
        <key>offset</key>
        <string>{-31,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,122}}</string>
        <key>sourceSize</key>
        <string>{111,122}</string>
      </dict>
      <key>player_10033_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{457,910},{110,109}}</string>
        <key>offset</key>
        <string>{-30,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,109}}</string>
        <key>sourceSize</key>
        <string>{110,109}</string>
      </dict>
      <key>player_10033_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{475,798},{107,109}}</string>
        <key>offset</key>
        <string>{-28,81}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,109}}</string>
        <key>sourceSize</key>
        <string>{107,109}</string>
      </dict>
      <key>player_10033_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{127,461},{109,124}}</string>
        <key>offset</key>
        <string>{-33,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,124}}</string>
        <key>sourceSize</key>
        <string>{109,124}</string>
      </dict>
      <key>player_10033_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{253,530},{97,121}}</string>
        <key>offset</key>
        <string>{-24,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,121}}</string>
        <key>sourceSize</key>
        <string>{97,121}</string>
      </dict>
      <key>player_10033_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{247,629},{98,118}}</string>
        <key>offset</key>
        <string>{-26,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,118}}</string>
        <key>sourceSize</key>
        <string>{98,118}</string>
      </dict>
      <key>player_10033_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{385,391},{79,125}}</string>
        <key>offset</key>
        <string>{1,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,125}}</string>
        <key>sourceSize</key>
        <string>{79,125}</string>
      </dict>
      <key>player_10033_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,325},{78,126}}</string>
        <key>offset</key>
        <string>{2,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,126}}</string>
        <key>sourceSize</key>
        <string>{78,126}</string>
      </dict>
      <key>player_10033_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{405,0},{78,130}}</string>
        <key>offset</key>
        <string>{3,100}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,130}}</string>
        <key>sourceSize</key>
        <string>{78,130}</string>
      </dict>
      <key>player_10033_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,73},{78,132}}</string>
        <key>offset</key>
        <string>{4,100}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,132}}</string>
        <key>sourceSize</key>
        <string>{78,132}</string>
      </dict>
      <key>player_10033_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{131,243},{80,128}}</string>
        <key>offset</key>
        <string>{4,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,128}}</string>
        <key>sourceSize</key>
        <string>{80,128}</string>
      </dict>
      <key>player_10033_0_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,259},{77,128}}</string>
        <key>offset</key>
        <string>{6,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,128}}</string>
        <key>sourceSize</key>
        <string>{77,128}</string>
      </dict>
      <key>player_10033_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,405},{54,125}}</string>
        <key>offset</key>
        <string>{4,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,125}}</string>
        <key>sourceSize</key>
        <string>{54,125}</string>
      </dict>
      <key>player_10033_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,338},{46,126}}</string>
        <key>offset</key>
        <string>{13,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,126}}</string>
        <key>sourceSize</key>
        <string>{46,126}</string>
      </dict>
      <key>player_10033_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{131,186},{55,129}}</string>
        <key>offset</key>
        <string>{7,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,129}}</string>
        <key>sourceSize</key>
        <string>{55,129}</string>
      </dict>
      <key>player_10033_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,386},{68,126}}</string>
        <key>offset</key>
        <string>{4,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,126}}</string>
        <key>sourceSize</key>
        <string>{68,126}</string>
      </dict>
      <key>player_10033_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{261,284},{59,127}}</string>
        <key>offset</key>
        <string>{13,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,127}}</string>
        <key>sourceSize</key>
        <string>{59,127}</string>
      </dict>
      <key>player_10033_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,456},{68,125}}</string>
        <key>offset</key>
        <string>{5,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,125}}</string>
        <key>sourceSize</key>
        <string>{68,125}</string>
      </dict>
      <key>player_10033_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{125,572},{85,120}}</string>
        <key>offset</key>
        <string>{-2,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,120}}</string>
        <key>sourceSize</key>
        <string>{85,120}</string>
      </dict>
      <key>player_10033_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{121,659},{86,118}}</string>
        <key>offset</key>
        <string>{-2,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,118}}</string>
        <key>sourceSize</key>
        <string>{86,118}</string>
      </dict>
      <key>player_10033_0_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{120,747},{89,116}}</string>
        <key>offset</key>
        <string>{-4,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,116}}</string>
        <key>sourceSize</key>
        <string>{89,116}</string>
      </dict>
      <key>player_10033_0_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,922},{85,114}}</string>
        <key>offset</key>
        <string>{2,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,114}}</string>
        <key>sourceSize</key>
        <string>{85,114}</string>
      </dict>
      <key>player_10033_0_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{241,729},{86,117}}</string>
        <key>offset</key>
        <string>{1,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,117}}</string>
        <key>sourceSize</key>
        <string>{86,117}</string>
      </dict>
      <key>player_10033_0_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,735},{79,118}}</string>
        <key>offset</key>
        <string>{9,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,118}}</string>
        <key>sourceSize</key>
        <string>{79,118}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_10033_0_1.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>player_10033_0_1.png</string>
    </dict>
  </dict>
</plist>