<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_10026_1_8_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,126},{97,120}}</string>
        <key>offset</key>
        <string>{-3,86}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,120}}</string>
        <key>sourceSize</key>
        <string>{97,120}</string>
      </dict>
      <key>player_10026_1_8_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,363},{89,110}}</string>
        <key>offset</key>
        <string>{2,77}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,110}}</string>
        <key>sourceSize</key>
        <string>{89,110}</string>
      </dict>
      <key>player_10026_1_8_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{166,227},{89,103}}</string>
        <key>offset</key>
        <string>{4,73}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,103}}</string>
        <key>sourceSize</key>
        <string>{89,103}</string>
      </dict>
      <key>player_10026_1_8_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{91,363},{97,110}}</string>
        <key>offset</key>
        <string>{-1,80}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,110}}</string>
        <key>sourceSize</key>
        <string>{97,110}</string>
      </dict>
      <key>player_10026_1_8_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{91,248},{73,109}}</string>
        <key>offset</key>
        <string>{1,82}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,109}}</string>
        <key>sourceSize</key>
        <string>{73,109}</string>
      </dict>
      <key>player_10026_1_8_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,248},{89,113}}</string>
        <key>offset</key>
        <string>{0,78}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,113}}</string>
        <key>sourceSize</key>
        <string>{89,113}</string>
      </dict>
      <key>player_10026_1_8_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{99,118},{85,107}}</string>
        <key>offset</key>
        <string>{1,80}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,107}}</string>
        <key>sourceSize</key>
        <string>{85,107}</string>
      </dict>
      <key>player_10026_1_8_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{257,211},{86,83}}</string>
        <key>offset</key>
        <string>{3,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,83}}</string>
        <key>sourceSize</key>
        <string>{86,83}</string>
      </dict>
      <key>player_10026_1_8_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{186,108},{101,83}}</string>
        <key>offset</key>
        <string>{-15,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,83}}</string>
        <key>sourceSize</key>
        <string>{101,83}</string>
      </dict>
      <key>player_10026_1_8_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{217,0},{101,85}}</string>
        <key>offset</key>
        <string>{-21,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,85}}</string>
        <key>sourceSize</key>
        <string>{101,85}</string>
      </dict>
      <key>player_10026_1_8_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,332},{89,86}}</string>
        <key>offset</key>
        <string>{-14,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,86}}</string>
        <key>sourceSize</key>
        <string>{89,86}</string>
      </dict>
      <key>player_10026_1_8_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,423},{84,88}}</string>
        <key>offset</key>
        <string>{-25,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,88}}</string>
        <key>sourceSize</key>
        <string>{84,88}</string>
      </dict>
      <key>player_10026_1_8_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,0},{59,106}}</string>
        <key>offset</key>
        <string>{1,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,106}}</string>
        <key>sourceSize</key>
        <string>{59,106}</string>
      </dict>
      <key>player_10026_1_8_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{271,103},{61,86}}</string>
        <key>offset</key>
        <string>{-8,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,86}}</string>
        <key>sourceSize</key>
        <string>{61,86}</string>
      </dict>
      <key>player_10026_1_8_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{75,124}}</string>
        <key>offset</key>
        <string>{-2,94}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,124}}</string>
        <key>sourceSize</key>
        <string>{75,124}</string>
      </dict>
      <key>player_10026_1_8_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{77,0},{77,116}}</string>
        <key>offset</key>
        <string>{-8,87}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,116}}</string>
        <key>sourceSize</key>
        <string>{77,116}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_10026_1_8.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>player_10026_1_8.png</string>
    </dict>
  </dict>
</plist>