<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_10062_0_5_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,328},{159,119}}</string>
        <key>offset</key>
        <string>{-52,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,119}}</string>
        <key>sourceSize</key>
        <string>{159,119}</string>
      </dict>
      <key>player_10062_0_5_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,489},{153,116}}</string>
        <key>offset</key>
        <string>{-48,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,116}}</string>
        <key>sourceSize</key>
        <string>{153,116}</string>
      </dict>
      <key>player_10062_0_5_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{118,489},{148,114}}</string>
        <key>offset</key>
        <string>{-42,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,114}}</string>
        <key>sourceSize</key>
        <string>{148,114}</string>
      </dict>
      <key>player_10062_0_5_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{113,0},{157,121}}</string>
        <key>offset</key>
        <string>{-51,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{157,121}}</string>
        <key>sourceSize</key>
        <string>{157,121}</string>
      </dict>
      <key>player_10062_0_5_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{163,111}}</string>
        <key>offset</key>
        <string>{-58,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,111}}</string>
        <key>sourceSize</key>
        <string>{163,111}</string>
      </dict>
      <key>player_10062_0_5_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,165},{161,111}}</string>
        <key>offset</key>
        <string>{-54,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,111}}</string>
        <key>sourceSize</key>
        <string>{161,111}</string>
      </dict>
      <key>player_10062_0_5_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{121,317},{145,127}}</string>
        <key>offset</key>
        <string>{-58,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,127}}</string>
        <key>sourceSize</key>
        <string>{145,127}</string>
      </dict>
      <key>player_10062_0_5_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{236,0},{139,126}}</string>
        <key>offset</key>
        <string>{-55,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,126}}</string>
        <key>sourceSize</key>
        <string>{139,126}</string>
      </dict>
      <key>player_10062_0_5_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{361,740},{132,129}}</string>
        <key>offset</key>
        <string>{-49,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,129}}</string>
        <key>sourceSize</key>
        <string>{132,129}</string>
      </dict>
      <key>player_10062_0_5_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{360,441},{128,132}}</string>
        <key>offset</key>
        <string>{-47,98}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,132}}</string>
        <key>sourceSize</key>
        <string>{128,132}</string>
      </dict>
      <key>player_10062_0_5_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{605,0},{124,129}}</string>
        <key>offset</key>
        <string>{-41,95}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,129}}</string>
        <key>sourceSize</key>
        <string>{124,129}</string>
      </dict>
      <key>player_10062_0_5_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{887,0},{117,122}}</string>
        <key>offset</key>
        <string>{-30,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,122}}</string>
        <key>sourceSize</key>
        <string>{117,122}</string>
      </dict>
      <key>player_10062_0_5_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{355,605},{97,133}}</string>
        <key>offset</key>
        <string>{-21,99}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,133}}</string>
        <key>sourceSize</key>
        <string>{97,133}</string>
      </dict>
      <key>player_10062_0_5_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,799},{92,134}}</string>
        <key>offset</key>
        <string>{-24,100}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,134}}</string>
        <key>sourceSize</key>
        <string>{92,134}</string>
      </dict>
      <key>player_10062_0_5_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{374,280},{100,132}}</string>
        <key>offset</key>
        <string>{-27,100}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,132}}</string>
        <key>sourceSize</key>
        <string>{100,132}</string>
      </dict>
      <key>player_10062_0_5_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{574,404},{99,128}}</string>
        <key>offset</key>
        <string>{-23,99}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,128}}</string>
        <key>sourceSize</key>
        <string>{99,128}</string>
      </dict>
      <key>player_10062_0_5_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{731,0},{99,129}}</string>
        <key>offset</key>
        <string>{-32,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,129}}</string>
        <key>sourceSize</key>
        <string>{99,129}</string>
      </dict>
      <key>player_10062_0_5_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{473,137},{104,132}}</string>
        <key>offset</key>
        <string>{-31,98}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,132}}</string>
        <key>sourceSize</key>
        <string>{104,132}</string>
      </dict>
      <key>player_10062_0_5_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{586,266},{121,128}}</string>
        <key>offset</key>
        <string>{-40,95}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,128}}</string>
        <key>sourceSize</key>
        <string>{121,128}</string>
      </dict>
      <key>player_10062_0_5_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{364,0},{126,135}}</string>
        <key>offset</key>
        <string>{-42,102}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,135}}</string>
        <key>sourceSize</key>
        <string>{126,135}</string>
      </dict>
      <key>player_10062_0_5_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{792,714},{121,125}}</string>
        <key>offset</key>
        <string>{-32,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,125}}</string>
        <key>sourceSize</key>
        <string>{121,125}</string>
      </dict>
      <key>player_10062_0_5_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{709,209},{127,119}}</string>
        <key>offset</key>
        <string>{-39,89}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,119}}</string>
        <key>sourceSize</key>
        <string>{127,119}</string>
      </dict>
      <key>player_10062_0_5_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{579,134},{130,123}}</string>
        <key>offset</key>
        <string>{-44,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,123}}</string>
        <key>sourceSize</key>
        <string>{130,123}</string>
      </dict>
      <key>player_10062_0_5_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{709,330},{127,126}}</string>
        <key>offset</key>
        <string>{-39,92}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,126}}</string>
        <key>sourceSize</key>
        <string>{127,126}</string>
      </dict>
      <key>player_10062_0_5_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{233,159},{141,115}}</string>
        <key>offset</key>
        <string>{-36,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,115}}</string>
        <key>sourceSize</key>
        <string>{141,115}</string>
      </dict>
      <key>player_10062_0_5_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,644},{153,111}}</string>
        <key>offset</key>
        <string>{-47,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,111}}</string>
        <key>sourceSize</key>
        <string>{153,111}</string>
      </dict>
      <key>player_10062_0_5_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{113,159},{156,118}}</string>
        <key>offset</key>
        <string>{-47,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,118}}</string>
        <key>sourceSize</key>
        <string>{156,118}</string>
      </dict>
      <key>player_10062_0_5_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{113,644},{151,125}}</string>
        <key>offset</key>
        <string>{-43,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,125}}</string>
        <key>sourceSize</key>
        <string>{151,125}</string>
      </dict>
      <key>player_10062_0_5_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,302},{137,122}}</string>
        <key>offset</key>
        <string>{-31,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,122}}</string>
        <key>sourceSize</key>
        <string>{137,122}</string>
      </dict>
      <key>player_10062_0_5_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,605},{134,113}}</string>
        <key>offset</key>
        <string>{-27,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,113}}</string>
        <key>sourceSize</key>
        <string>{134,113}</string>
      </dict>
      <key>player_10062_0_5_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{675,458},{125,126}}</string>
        <key>offset</key>
        <string>{-18,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,126}}</string>
        <key>sourceSize</key>
        <string>{125,126}</string>
      </dict>
      <key>player_10062_0_5_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{878,586},{123,123}}</string>
        <key>offset</key>
        <string>{-19,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,123}}</string>
        <key>sourceSize</key>
        <string>{123,123}</string>
      </dict>
      <key>player_10062_0_5_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{454,575},{126,131}}</string>
        <key>offset</key>
        <string>{-22,97}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,131}}</string>
        <key>sourceSize</key>
        <string>{126,131}</string>
      </dict>
      <key>player_10062_0_5_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{492,0},{111,132}}</string>
        <key>offset</key>
        <string>{-9,98}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,132}}</string>
        <key>sourceSize</key>
        <string>{111,132}</string>
      </dict>
      <key>player_10062_0_5_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{731,101},{106,129}}</string>
        <key>offset</key>
        <string>{-3,97}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,129}}</string>
        <key>sourceSize</key>
        <string>{106,129}</string>
      </dict>
      <key>player_10062_0_5_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{665,585},{118,126}}</string>
        <key>offset</key>
        <string>{-11,97}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,126}}</string>
        <key>sourceSize</key>
        <string>{118,126}</string>
      </dict>
      <key>player_10062_0_5_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{803,458},{82,126}}</string>
        <key>offset</key>
        <string>{1,95}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,126}}</string>
        <key>sourceSize</key>
        <string>{82,126}</string>
      </dict>
      <key>player_10062_0_5_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{490,404},{82,129}}</string>
        <key>offset</key>
        <string>{-3,95}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,129}}</string>
        <key>sourceSize</key>
        <string>{82,129}</string>
      </dict>
      <key>player_10062_0_5_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{492,708},{84,127}}</string>
        <key>offset</key>
        <string>{-3,94}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,127}}</string>
        <key>sourceSize</key>
        <string>{84,127}</string>
      </dict>
      <key>player_10062_0_5_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{578,708},{84,127}}</string>
        <key>offset</key>
        <string>{-1,94}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,127}}</string>
        <key>sourceSize</key>
        <string>{84,127}</string>
      </dict>
      <key>player_10062_0_5_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{582,534},{81,127}}</string>
        <key>offset</key>
        <string>{-1,95}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,127}}</string>
        <key>sourceSize</key>
        <string>{81,127}</string>
      </dict>
      <key>player_10062_0_5_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{793,586},{83,126}}</string>
        <key>offset</key>
        <string>{0,94}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,126}}</string>
        <key>sourceSize</key>
        <string>{83,126}</string>
      </dict>
      <key>player_10062_0_5_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{664,705},{125,126}}</string>
        <key>offset</key>
        <string>{-23,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,126}}</string>
        <key>sourceSize</key>
        <string>{125,126}</string>
      </dict>
      <key>player_10062_0_5_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{476,271},{108,131}}</string>
        <key>offset</key>
        <string>{-6,89}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,131}}</string>
        <key>sourceSize</key>
        <string>{108,131}</string>
      </dict>
      <key>player_10062_0_5_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{887,119},{121,121}}</string>
        <key>offset</key>
        <string>{-16,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,121}}</string>
        <key>sourceSize</key>
        <string>{121,121}</string>
      </dict>
      <key>player_10062_0_5_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,741},{134,119}}</string>
        <key>offset</key>
        <string>{-28,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,119}}</string>
        <key>sourceSize</key>
        <string>{134,119}</string>
      </dict>
      <key>player_10062_0_5_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,141},{137,121}}</string>
        <key>offset</key>
        <string>{-33,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,121}}</string>
        <key>sourceSize</key>
        <string>{137,121}</string>
      </dict>
      <key>player_10062_0_5_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{234,464},{139,124}}</string>
        <key>offset</key>
        <string>{-36,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,124}}</string>
        <key>sourceSize</key>
        <string>{139,124}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_10062_0_5.png</string>
      <key>size</key>
      <string>{1017,898}</string>
      <key>textureFileName</key>
      <string>player_10062_0_5.png</string>
    </dict>
  </dict>
</plist>