<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_82060_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{141,847},{164,127}}</string>
        <key>offset</key>
        <string>{-61,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{164,127}}</string>
        <key>sourceSize</key>
        <string>{164,127}</string>
      </dict>
      <key>player_82060_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,580},{168,121}}</string>
        <key>offset</key>
        <string>{-72,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{168,121}}</string>
        <key>sourceSize</key>
        <string>{168,121}</string>
      </dict>
      <key>player_82060_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{170,656},{167,128}}</string>
        <key>offset</key>
        <string>{-66,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,128}}</string>
        <key>sourceSize</key>
        <string>{167,128}</string>
      </dict>
      <key>player_82060_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,310},{173,134}}</string>
        <key>offset</key>
        <string>{-88,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{173,134}}</string>
        <key>sourceSize</key>
        <string>{173,134}</string>
      </dict>
      <key>player_82060_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{270,833},{160,128}}</string>
        <key>offset</key>
        <string>{-75,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,128}}</string>
        <key>sourceSize</key>
        <string>{160,128}</string>
      </dict>
      <key>player_82060_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,847},{165,139}}</string>
        <key>offset</key>
        <string>{-80,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{165,139}}</string>
        <key>sourceSize</key>
        <string>{165,139}</string>
      </dict>
      <key>player_82060_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{341,0},{140,333}}</string>
        <key>offset</key>
        <string>{-55,261}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,333}}</string>
        <key>sourceSize</key>
        <string>{140,333}</string>
      </dict>
      <key>player_82060_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{676,0},{135,327}}</string>
        <key>offset</key>
        <string>{-50,261}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,327}}</string>
        <key>sourceSize</key>
        <string>{135,327}</string>
      </dict>
      <key>player_82060_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{317,289},{135,312}}</string>
        <key>offset</key>
        <string>{-50,261}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,312}}</string>
        <key>sourceSize</key>
        <string>{135,312}</string>
      </dict>
      <key>player_82060_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,703},{166,142}}</string>
        <key>offset</key>
        <string>{-81,83}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{166,142}}</string>
        <key>sourceSize</key>
        <string>{166,142}</string>
      </dict>
      <key>player_82060_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,833},{160,141}}</string>
        <key>offset</key>
        <string>{-76,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,141}}</string>
        <key>sourceSize</key>
        <string>{160,141}</string>
      </dict>
      <key>player_82060_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{308,555},{168,149}}</string>
        <key>offset</key>
        <string>{-83,100}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{168,149}}</string>
        <key>sourceSize</key>
        <string>{168,149}</string>
      </dict>
      <key>player_82060_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{173,485},{169,133}}</string>
        <key>offset</key>
        <string>{-52,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{169,133}}</string>
        <key>sourceSize</key>
        <string>{169,133}</string>
      </dict>
      <key>player_82060_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{314,426},{170,127}}</string>
        <key>offset</key>
        <string>{-48,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,127}}</string>
        <key>sourceSize</key>
        <string>{170,127}</string>
      </dict>
      <key>player_82060_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{631,329},{183,143}}</string>
        <key>offset</key>
        <string>{-52,96}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{183,143}}</string>
        <key>sourceSize</key>
        <string>{183,143}</string>
      </dict>
      <key>player_82060_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{175,310},{173,137}}</string>
        <key>offset</key>
        <string>{-37,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{173,137}}</string>
        <key>sourceSize</key>
        <string>{173,137}</string>
      </dict>
      <key>player_82060_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{478,597},{163,140}}</string>
        <key>offset</key>
        <string>{-37,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,140}}</string>
        <key>sourceSize</key>
        <string>{163,140}</string>
      </dict>
      <key>player_82060_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{630,474},{168,149}}</string>
        <key>offset</key>
        <string>{-36,100}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{168,149}}</string>
        <key>sourceSize</key>
        <string>{168,149}</string>
      </dict>
      <key>player_82060_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,158},{150,315}}</string>
        <key>offset</key>
        <string>{-37,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,315}}</string>
        <key>sourceSize</key>
        <string>{150,315}</string>
      </dict>
      <key>player_82060_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{341,142},{145,316}}</string>
        <key>offset</key>
        <string>{-37,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,316}}</string>
        <key>sourceSize</key>
        <string>{145,316}</string>
      </dict>
      <key>player_82060_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{156,339}}</string>
        <key>offset</key>
        <string>{-36,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,339}}</string>
        <key>sourceSize</key>
        <string>{156,339}</string>
      </dict>
      <key>player_82060_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,446},{171,132}}</string>
        <key>offset</key>
        <string>{-37,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{171,132}}</string>
        <key>sourceSize</key>
        <string>{171,132}</string>
      </dict>
      <key>player_82060_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,706},{163,125}}</string>
        <key>offset</key>
        <string>{-37,64}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,125}}</string>
        <key>sourceSize</key>
        <string>{163,125}</string>
      </dict>
      <key>player_82060_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{486,426},{169,142}}</string>
        <key>offset</key>
        <string>{-36,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{169,142}}</string>
        <key>sourceSize</key>
        <string>{169,142}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_82060_0_7.png</string>
      <key>size</key>
      <string>{896,1024}</string>
      <key>textureFileName</key>
      <string>player_82060_0_7.png</string>
    </dict>
  </dict>
</plist>