<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_10054_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{375,198},{95,95}}</string>
        <key>offset</key>
        <string>{-19,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,95}}</string>
        <key>sourceSize</key>
        <string>{95,95}</string>
      </dict>
      <key>player_10054_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{380,398},{95,95}}</string>
        <key>offset</key>
        <string>{-19,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,95}}</string>
        <key>sourceSize</key>
        <string>{95,95}</string>
      </dict>
      <key>player_10054_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{466,100},{95,95}}</string>
        <key>offset</key>
        <string>{-19,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,95}}</string>
        <key>sourceSize</key>
        <string>{95,95}</string>
      </dict>
      <key>player_10054_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{283,202},{90,96}}</string>
        <key>offset</key>
        <string>{-15,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,96}}</string>
        <key>sourceSize</key>
        <string>{90,96}</string>
      </dict>
      <key>player_10054_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{374,100},{90,96}}</string>
        <key>offset</key>
        <string>{-15,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,96}}</string>
        <key>sourceSize</key>
        <string>{90,96}</string>
      </dict>
      <key>player_10054_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{368,300},{90,96}}</string>
        <key>offset</key>
        <string>{-15,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,96}}</string>
        <key>sourceSize</key>
        <string>{90,96}</string>
      </dict>
      <key>player_10054_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{87,107}}</string>
        <key>offset</key>
        <string>{-11,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,107}}</string>
        <key>sourceSize</key>
        <string>{87,107}</string>
      </dict>
      <key>player_10054_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,109},{87,107}}</string>
        <key>offset</key>
        <string>{-11,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,107}}</string>
        <key>sourceSize</key>
        <string>{87,107}</string>
      </dict>
      <key>player_10054_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,218},{87,107}}</string>
        <key>offset</key>
        <string>{-11,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,107}}</string>
        <key>sourceSize</key>
        <string>{87,107}</string>
      </dict>
      <key>player_10054_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,327},{87,103}}</string>
        <key>offset</key>
        <string>{-12,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,103}}</string>
        <key>sourceSize</key>
        <string>{87,103}</string>
      </dict>
      <key>player_10054_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{89,327},{87,103}}</string>
        <key>offset</key>
        <string>{-12,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,103}}</string>
        <key>sourceSize</key>
        <string>{87,103}</string>
      </dict>
      <key>player_10054_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{89,0},{87,103}}</string>
        <key>offset</key>
        <string>{-12,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,103}}</string>
        <key>sourceSize</key>
        <string>{87,103}</string>
      </dict>
      <key>player_10054_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{178,315},{89,101}}</string>
        <key>offset</key>
        <string>{-15,55}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,101}}</string>
        <key>sourceSize</key>
        <string>{89,101}</string>
      </dict>
      <key>player_10054_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{178,418},{89,101}}</string>
        <key>offset</key>
        <string>{-15,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,101}}</string>
        <key>sourceSize</key>
        <string>{89,101}</string>
      </dict>
      <key>player_10054_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{185,105},{89,101}}</string>
        <key>offset</key>
        <string>{-15,55}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,101}}</string>
        <key>sourceSize</key>
        <string>{89,101}</string>
      </dict>
      <key>player_10054_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{89,105},{94,103}}</string>
        <key>offset</key>
        <string>{-19,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,103}}</string>
        <key>sourceSize</key>
        <string>{94,103}</string>
      </dict>
      <key>player_10054_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{178,0},{94,103}}</string>
        <key>offset</key>
        <string>{-19,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,103}}</string>
        <key>sourceSize</key>
        <string>{94,103}</string>
      </dict>
      <key>player_10054_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{89,210},{94,103}}</string>
        <key>offset</key>
        <string>{-19,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,103}}</string>
        <key>sourceSize</key>
        <string>{94,103}</string>
      </dict>
      <key>player_10054_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{274,0},{96,99}}</string>
        <key>offset</key>
        <string>{-22,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,99}}</string>
        <key>sourceSize</key>
        <string>{96,99}</string>
      </dict>
      <key>player_10054_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{185,208},{96,99}}</string>
        <key>offset</key>
        <string>{-22,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,99}}</string>
        <key>sourceSize</key>
        <string>{96,99}</string>
      </dict>
      <key>player_10054_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{276,101},{96,99}}</string>
        <key>offset</key>
        <string>{-22,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,99}}</string>
        <key>sourceSize</key>
        <string>{96,99}</string>
      </dict>
      <key>player_10054_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{372,0},{98,97}}</string>
        <key>offset</key>
        <string>{-24,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,97}}</string>
        <key>sourceSize</key>
        <string>{98,97}</string>
      </dict>
      <key>player_10054_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{269,309},{98,97}}</string>
        <key>offset</key>
        <string>{-24,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,97}}</string>
        <key>sourceSize</key>
        <string>{98,97}</string>
      </dict>
      <key>player_10054_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{281,409},{98,97}}</string>
        <key>offset</key>
        <string>{-24,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,97}}</string>
        <key>sourceSize</key>
        <string>{98,97}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_10054_0_7.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>player_10054_0_7.png</string>
    </dict>
  </dict>
</plist>