<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_10203_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{647,433},{125,99}}</string>
        <key>offset</key>
        <string>{-38,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,99}}</string>
        <key>sourceSize</key>
        <string>{125,99}</string>
      </dict>
      <key>player_10203_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{912,356},{126,107}}</string>
        <key>offset</key>
        <string>{-44,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,107}}</string>
        <key>sourceSize</key>
        <string>{126,107}</string>
      </dict>
      <key>player_10203_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{823,232},{133,122}}</string>
        <key>offset</key>
        <string>{-42,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,122}}</string>
        <key>sourceSize</key>
        <string>{133,122}</string>
      </dict>
      <key>player_10203_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{826,114},{137,116}}</string>
        <key>offset</key>
        <string>{-53,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,116}}</string>
        <key>sourceSize</key>
        <string>{137,116}</string>
      </dict>
      <key>player_10203_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{783,356},{128,127}}</string>
        <key>offset</key>
        <string>{-46,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,127}}</string>
        <key>sourceSize</key>
        <string>{128,127}</string>
      </dict>
      <key>player_10203_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{566,146},{117,143}}</string>
        <key>offset</key>
        <string>{-35,89}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,143}}</string>
        <key>sourceSize</key>
        <string>{117,143}</string>
      </dict>
      <key>player_10203_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{561,0},{124,144}}</string>
        <key>offset</key>
        <string>{-41,86}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,144}}</string>
        <key>sourceSize</key>
        <string>{124,144}</string>
      </dict>
      <key>player_10203_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{406,306},{127,147}}</string>
        <key>offset</key>
        <string>{-42,91}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,147}}</string>
        <key>sourceSize</key>
        <string>{127,147}</string>
      </dict>
      <key>player_10203_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,322},{126,157}}</string>
        <key>offset</key>
        <string>{-43,102}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,157}}</string>
        <key>sourceSize</key>
        <string>{126,157}</string>
      </dict>
      <key>player_10203_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{144,159}}</string>
        <key>offset</key>
        <string>{-63,98}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,159}}</string>
        <key>sourceSize</key>
        <string>{144,159}</string>
      </dict>
      <key>player_10203_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{277,0},{136,152}}</string>
        <key>offset</key>
        <string>{-50,91}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,152}}</string>
        <key>sourceSize</key>
        <string>{136,152}</string>
      </dict>
      <key>player_10203_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{149,160},{127,153}}</string>
        <key>offset</key>
        <string>{-39,96}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,153}}</string>
        <key>sourceSize</key>
        <string>{127,153}</string>
      </dict>
      <key>player_10203_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{421,150},{146,143}}</string>
        <key>offset</key>
        <string>{-44,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,143}}</string>
        <key>sourceSize</key>
        <string>{146,143}</string>
      </dict>
      <key>player_10203_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{278,154},{150,141}}</string>
        <key>offset</key>
        <string>{-46,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,141}}</string>
        <key>sourceSize</key>
        <string>{150,141}</string>
      </dict>
      <key>player_10203_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,161},{159,147}}</string>
        <key>offset</key>
        <string>{-53,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,147}}</string>
        <key>sourceSize</key>
        <string>{159,147}</string>
      </dict>
      <key>player_10203_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{258,315},{151,146}}</string>
        <key>offset</key>
        <string>{-41,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,146}}</string>
        <key>sourceSize</key>
        <string>{151,146}</string>
      </dict>
      <key>player_10203_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{415,0},{144,148}}</string>
        <key>offset</key>
        <string>{-43,89}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,148}}</string>
        <key>sourceSize</key>
        <string>{144,148}</string>
      </dict>
      <key>player_10203_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{146,0},{129,158}}</string>
        <key>offset</key>
        <string>{-36,99}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,158}}</string>
        <key>sourceSize</key>
        <string>{129,158}</string>
      </dict>
      <key>player_10203_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{687,0},{138,137}}</string>
        <key>offset</key>
        <string>{-37,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,137}}</string>
        <key>sourceSize</key>
        <string>{138,137}</string>
      </dict>
      <key>player_10203_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{647,291},{134,140}}</string>
        <key>offset</key>
        <string>{-37,85}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,140}}</string>
        <key>sourceSize</key>
        <string>{134,140}</string>
      </dict>
      <key>player_10203_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,322},{128,155}}</string>
        <key>offset</key>
        <string>{-36,101}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,155}}</string>
        <key>sourceSize</key>
        <string>{128,155}</string>
      </dict>
      <key>player_10203_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{535,298},{144,110}}</string>
        <key>offset</key>
        <string>{-36,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,110}}</string>
        <key>sourceSize</key>
        <string>{144,110}</string>
      </dict>
      <key>player_10203_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{826,0},{138,112}}</string>
        <key>offset</key>
        <string>{-36,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,112}}</string>
        <key>sourceSize</key>
        <string>{138,112}</string>
      </dict>
      <key>player_10203_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{685,146},{139,136}}</string>
        <key>offset</key>
        <string>{-36,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,136}}</string>
        <key>sourceSize</key>
        <string>{139,136}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_10203_0_7.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>player_10203_0_7.png</string>
    </dict>
  </dict>
</plist>