<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_10047_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{737,0},{200,144}}</string>
        <key>offset</key>
        <string>{-13,92}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{200,144}}</string>
        <key>sourceSize</key>
        <string>{200,144}</string>
      </dict>
      <key>player_10047_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{537,0},{198,203}}</string>
        <key>offset</key>
        <string>{-14,146}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{198,203}}</string>
        <key>sourceSize</key>
        <string>{198,203}</string>
      </dict>
      <key>player_10047_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{238,0},{112,229}}</string>
        <key>offset</key>
        <string>{-15,175}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,229}}</string>
        <key>sourceSize</key>
        <string>{112,229}</string>
      </dict>
      <key>player_10047_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{241,924},{147,94}}</string>
        <key>offset</key>
        <string>{-18,43}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,94}}</string>
        <key>sourceSize</key>
        <string>{147,94}</string>
      </dict>
      <key>player_10047_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{412,668},{195,129}}</string>
        <key>offset</key>
        <string>{-16,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{195,129}}</string>
        <key>sourceSize</key>
        <string>{195,129}</string>
      </dict>
      <key>player_10047_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{459,221},{210,189}}</string>
        <key>offset</key>
        <string>{-17,138}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{210,189}}</string>
        <key>sourceSize</key>
        <string>{210,189}</string>
      </dict>
      <key>player_10047_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{607,433},{98,96}}</string>
        <key>offset</key>
        <string>{-23,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,96}}</string>
        <key>sourceSize</key>
        <string>{98,96}</string>
      </dict>
      <key>player_10047_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{501,561},{114,98}}</string>
        <key>offset</key>
        <string>{-22,52}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,98}}</string>
        <key>sourceSize</key>
        <string>{114,98}</string>
      </dict>
      <key>player_10047_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,736},{225,107}}</string>
        <key>offset</key>
        <string>{-35,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{225,107}}</string>
        <key>sourceSize</key>
        <string>{225,107}</string>
      </dict>
      <key>player_10047_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{737,146},{197,110}}</string>
        <key>offset</key>
        <string>{-125,66}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{197,110}}</string>
        <key>sourceSize</key>
        <string>{197,110}</string>
      </dict>
      <key>player_10047_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{501,433},{126,104}}</string>
        <key>offset</key>
        <string>{-56,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,104}}</string>
        <key>sourceSize</key>
        <string>{126,104}</string>
      </dict>
      <key>player_10047_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{412,865},{136,110}}</string>
        <key>offset</key>
        <string>{-24,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,110}}</string>
        <key>sourceSize</key>
        <string>{136,110}</string>
      </dict>
      <key>player_10047_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{146,243},{237,179}}</string>
        <key>offset</key>
        <string>{-148,131}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{237,179}}</string>
        <key>sourceSize</key>
        <string>{237,179}</string>
      </dict>
      <key>player_10047_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{327,231},{219,130}}</string>
        <key>offset</key>
        <string>{-131,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{219,130}}</string>
        <key>sourceSize</key>
        <string>{219,130}</string>
      </dict>
      <key>player_10047_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{524,865},{129,105}}</string>
        <key>offset</key>
        <string>{-43,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,105}}</string>
        <key>sourceSize</key>
        <string>{129,105}</string>
      </dict>
      <key>player_10047_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,494},{189,240}}</string>
        <key>offset</key>
        <string>{-86,189}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{189,240}}</string>
        <key>sourceSize</key>
        <string>{189,240}</string>
      </dict>
      <key>player_10047_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{191,482},{222,198}}</string>
        <key>offset</key>
        <string>{-127,148}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{222,198}}</string>
        <key>sourceSize</key>
        <string>{222,198}</string>
      </dict>
      <key>player_10047_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{391,452},{214,108}}</string>
        <key>offset</key>
        <string>{-132,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{214,108}}</string>
        <key>sourceSize</key>
        <string>{214,108}</string>
      </dict>
      <key>player_10047_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{121,249}}</string>
        <key>offset</key>
        <string>{-18,201}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,249}}</string>
        <key>sourceSize</key>
        <string>{121,249}</string>
      </dict>
      <key>player_10047_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,251},{144,241}}</string>
        <key>offset</key>
        <string>{-47,193}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,241}}</string>
        <key>sourceSize</key>
        <string>{144,241}</string>
      </dict>
      <key>player_10047_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{241,706},{216,169}}</string>
        <key>offset</key>
        <string>{-134,120}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{216,169}}</string>
        <key>sourceSize</key>
        <string>{216,169}</string>
      </dict>
      <key>player_10047_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{352,0},{183,219}}</string>
        <key>offset</key>
        <string>{-14,169}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{183,219}}</string>
        <key>sourceSize</key>
        <string>{183,219}</string>
      </dict>
      <key>player_10047_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{123,0},{113,241}}</string>
        <key>offset</key>
        <string>{-16,189}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,241}}</string>
        <key>sourceSize</key>
        <string>{113,241}</string>
      </dict>
      <key>player_10047_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,736},{130,226}}</string>
        <key>offset</key>
        <string>{-49,172}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,226}}</string>
        <key>sourceSize</key>
        <string>{130,226}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_10047_0_7.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>player_10047_0_7.png</string>
    </dict>
  </dict>
</plist>