<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_82032_0_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{988,198},{128,221}}</string>
        <key>offset</key>
        <string>{-33,184}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,221}}</string>
        <key>sourceSize</key>
        <string>{128,221}</string>
      </dict>
      <key>player_82032_0_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{513,788},{214,229}}</string>
        <key>offset</key>
        <string>{-83,184}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{214,229}}</string>
        <key>sourceSize</key>
        <string>{214,229}</string>
      </dict>
      <key>player_82032_0_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{495,293},{287,273}}</string>
        <key>offset</key>
        <string>{-132,186}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{287,273}}</string>
        <key>sourceSize</key>
        <string>{287,273}</string>
      </dict>
      <key>player_82032_0_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{241,647},{270,308}}</string>
        <key>offset</key>
        <string>{-133,186}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{270,308}}</string>
        <key>sourceSize</key>
        <string>{270,308}</string>
      </dict>
      <key>player_82032_0_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{988,0},{196,227}}</string>
        <key>offset</key>
        <string>{-17,187}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,227}}</string>
        <key>sourceSize</key>
        <string>{196,227}</string>
      </dict>
      <key>player_82032_0_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{258,332},{302,235}}</string>
        <key>offset</key>
        <string>{-130,190}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{302,235}}</string>
        <key>sourceSize</key>
        <string>{302,235}</string>
      </dict>
      <key>player_82032_0_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,332},{313,256}}</string>
        <key>offset</key>
        <string>{-138,192}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{313,256}}</string>
        <key>sourceSize</key>
        <string>{313,256}</string>
      </dict>
      <key>player_82032_0_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{330,286}}</string>
        <key>offset</key>
        <string>{-156,194}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{330,286}}</string>
        <key>sourceSize</key>
        <string>{330,286}</string>
      </dict>
      <key>player_82032_0_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{513,582},{234,204}}</string>
        <key>offset</key>
        <string>{-9,164}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{234,204}}</string>
        <key>sourceSize</key>
        <string>{234,204}</string>
      </dict>
      <key>player_82032_0_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{770,289},{275,212}}</string>
        <key>offset</key>
        <string>{-95,169}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{275,212}}</string>
        <key>sourceSize</key>
        <string>{275,212}</string>
      </dict>
      <key>player_82032_0_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{501,0},{287,236}}</string>
        <key>offset</key>
        <string>{-99,171}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{287,236}}</string>
        <key>sourceSize</key>
        <string>{287,236}</string>
      </dict>
      <key>player_82032_0_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,647},{310,239}}</string>
        <key>offset</key>
        <string>{-124,172}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{310,239}}</string>
        <key>sourceSize</key>
        <string>{310,239}</string>
      </dict>
      <key>player_82032_0_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{984,328},{219,158}}</string>
        <key>offset</key>
        <string>{-13,122}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{219,158}}</string>
        <key>sourceSize</key>
        <string>{219,158}</string>
      </dict>
      <key>player_82032_0_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{770,566},{200,271}}</string>
        <key>offset</key>
        <string>{-48,179}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{200,271}}</string>
        <key>sourceSize</key>
        <string>{200,271}</string>
      </dict>
      <key>player_82032_0_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{288,0},{211,291}}</string>
        <key>offset</key>
        <string>{-56,181}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{211,291}}</string>
        <key>sourceSize</key>
        <string>{211,291}</string>
      </dict>
      <key>player_82032_0_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{770,0},{216,287}}</string>
        <key>offset</key>
        <string>{-63,183}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{216,287}}</string>
        <key>sourceSize</key>
        <string>{216,287}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_82032_0_4_0.png</string>
      <key>size</key>
      <string>{1220,1026}</string>
      <key>textureFileName</key>
      <string>player_82032_0_4_0.png</string>
    </dict>
  </dict>
</plist>