<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_22010_0_11_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{149,100}}</string>
        <key>offset</key>
        <string>{-35,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{149,100}}</string>
        <key>sourceSize</key>
        <string>{149,100}</string>
      </dict>
      <key>player_22010_0_11_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{183,179},{141,117}}</string>
        <key>offset</key>
        <string>{-24,62}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,117}}</string>
        <key>sourceSize</key>
        <string>{141,117}</string>
      </dict>
      <key>player_22010_0_11_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{229,0},{88,145}}</string>
        <key>offset</key>
        <string>{-18,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,145}}</string>
        <key>sourceSize</key>
        <string>{88,145}</string>
      </dict>
      <key>player_22010_0_11_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,151},{89,148}}</string>
        <key>offset</key>
        <string>{-25,66}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,148}}</string>
        <key>sourceSize</key>
        <string>{89,148}</string>
      </dict>
      <key>player_22010_0_11_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{102,0},{147,125}}</string>
        <key>offset</key>
        <string>{-68,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,125}}</string>
        <key>sourceSize</key>
        <string>{147,125}</string>
      </dict>
      <key>player_22010_0_11_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{91,151},{90,148}}</string>
        <key>offset</key>
        <string>{-18,66}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,148}}</string>
        <key>sourceSize</key>
        <string>{90,148}</string>
      </dict>
      <key>player_22010_0_11_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{229,90},{87,145}}</string>
        <key>offset</key>
        <string>{-23,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,145}}</string>
        <key>sourceSize</key>
        <string>{87,145}</string>
      </dict>
      <key>player_22010_0_11_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{183,298},{141,117}}</string>
        <key>offset</key>
        <string>{-70,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,117}}</string>
        <key>sourceSize</key>
        <string>{141,117}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_22010_0_11.png</string>
      <key>size</key>
      <string>{385,442}</string>
      <key>textureFileName</key>
      <string>player_22010_0_11.png</string>
    </dict>
  </dict>
</plist>