<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_10030_1_8_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{181,0},{116,112}}</string>
        <key>offset</key>
        <string>{-17,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,112}}</string>
        <key>sourceSize</key>
        <string>{116,112}</string>
      </dict>
      <key>player_10030_1_8_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,249},{107,120}}</string>
        <key>offset</key>
        <string>{-16,67}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,120}}</string>
        <key>sourceSize</key>
        <string>{107,120}</string>
      </dict>
      <key>player_10030_1_8_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{107,126},{120,116}}</string>
        <key>offset</key>
        <string>{-24,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,116}}</string>
        <key>sourceSize</key>
        <string>{120,116}</string>
      </dict>
      <key>player_10030_1_8_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{124,106}}</string>
        <key>offset</key>
        <string>{-25,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,106}}</string>
        <key>sourceSize</key>
        <string>{124,106}</string>
      </dict>
      <key>player_10030_1_8_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,371},{116,111}}</string>
        <key>offset</key>
        <string>{-21,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,111}}</string>
        <key>sourceSize</key>
        <string>{116,111}</string>
      </dict>
      <key>player_10030_1_8_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,126},{121,105}}</string>
        <key>offset</key>
        <string>{-21,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,105}}</string>
        <key>sourceSize</key>
        <string>{121,105}</string>
      </dict>
      <key>player_10030_1_8_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{193,248},{111,95}}</string>
        <key>offset</key>
        <string>{-20,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,95}}</string>
        <key>sourceSize</key>
        <string>{111,95}</string>
      </dict>
      <key>player_10030_1_8_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{369,0},{98,105}}</string>
        <key>offset</key>
        <string>{-12,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,105}}</string>
        <key>sourceSize</key>
        <string>{98,105}</string>
      </dict>
      <key>player_10030_1_8_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{109,248},{115,82}}</string>
        <key>offset</key>
        <string>{-21,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,82}}</string>
        <key>sourceSize</key>
        <string>{115,82}</string>
      </dict>
      <key>player_10030_1_8_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{369,100},{104,85}}</string>
        <key>offset</key>
        <string>{-24,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,85}}</string>
        <key>sourceSize</key>
        <string>{104,85}</string>
      </dict>
      <key>player_10030_1_8_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,361},{98,92}}</string>
        <key>offset</key>
        <string>{-15,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,92}}</string>
        <key>sourceSize</key>
        <string>{98,92}</string>
      </dict>
      <key>player_10030_1_8_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{108,0},{117,71}}</string>
        <key>offset</key>
        <string>{-29,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,71}}</string>
        <key>sourceSize</key>
        <string>{117,71}</string>
      </dict>
      <key>player_10030_1_8_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{225,118},{82,111}}</string>
        <key>offset</key>
        <string>{-11,71}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,111}}</string>
        <key>sourceSize</key>
        <string>{82,111}</string>
      </dict>
      <key>player_10030_1_8_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{290,231},{98,96}}</string>
        <key>offset</key>
        <string>{-22,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,96}}</string>
        <key>sourceSize</key>
        <string>{98,96}</string>
      </dict>
      <key>player_10030_1_8_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{113,365},{93,113}}</string>
        <key>offset</key>
        <string>{-9,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,113}}</string>
        <key>sourceSize</key>
        <string>{93,113}</string>
      </dict>
      <key>player_10030_1_8_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{295,0},{72,106}}</string>
        <key>offset</key>
        <string>{-6,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,106}}</string>
        <key>sourceSize</key>
        <string>{72,106}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_10030_1_8.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>player_10030_1_8.png</string>
    </dict>
  </dict>
</plist>