<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_3009_0_11_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{136,91},{132,115}}</string>
        <key>offset</key>
        <string>{7,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,115}}</string>
        <key>sourceSize</key>
        <string>{132,115}</string>
      </dict>
      <key>player_3009_0_11_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,335},{98,88}}</string>
        <key>offset</key>
        <string>{16,52}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,88}}</string>
        <key>sourceSize</key>
        <string>{98,88}</string>
      </dict>
      <key>player_3009_0_11_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,352},{72,85}}</string>
        <key>offset</key>
        <string>{4,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,85}}</string>
        <key>sourceSize</key>
        <string>{72,85}</string>
      </dict>
      <key>player_3009_0_11_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,0},{99,85}}</string>
        <key>offset</key>
        <string>{-32,52}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,85}}</string>
        <key>sourceSize</key>
        <string>{99,85}</string>
      </dict>
      <key>player_3009_0_11_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{134,225},{125,111}}</string>
        <key>offset</key>
        <string>{-68,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,111}}</string>
        <key>sourceSize</key>
        <string>{125,111}</string>
      </dict>
      <key>player_3009_0_11_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,91},{111,134}}</string>
        <key>offset</key>
        <string>{-52,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,134}}</string>
        <key>sourceSize</key>
        <string>{111,134}</string>
      </dict>
      <key>player_3009_0_11_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{89,142}}</string>
        <key>offset</key>
        <string>{-11,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,142}}</string>
        <key>sourceSize</key>
        <string>{89,142}</string>
      </dict>
      <key>player_3009_0_11_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,204},{132,129}}</string>
        <key>offset</key>
        <string>{-8,102}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,129}}</string>
        <key>sourceSize</key>
        <string>{132,129}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_3009_0_11.png</string>
      <key>size</key>
      <string>{258,494}</string>
      <key>textureFileName</key>
      <string>player_3009_0_11.png</string>
    </dict>
  </dict>
</plist>