<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_10006_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{503,138},{107,130}}</string>
        <key>offset</key>
        <string>{4,89}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,130}}</string>
        <key>sourceSize</key>
        <string>{107,130}</string>
      </dict>
      <key>player_10006_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{594,400},{99,123}}</string>
        <key>offset</key>
        <string>{5,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,123}}</string>
        <key>sourceSize</key>
        <string>{99,123}</string>
      </dict>
      <key>player_10006_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,415},{94,130}}</string>
        <key>offset</key>
        <string>{6,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,130}}</string>
        <key>sourceSize</key>
        <string>{94,130}</string>
      </dict>
      <key>player_10006_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{216,166},{154,83}}</string>
        <key>offset</key>
        <string>{-3,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,83}}</string>
        <key>sourceSize</key>
        <string>{154,83}</string>
      </dict>
      <key>player_10006_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{222,0},{147,94}}</string>
        <key>offset</key>
        <string>{5,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,94}}</string>
        <key>sourceSize</key>
        <string>{147,94}</string>
      </dict>
      <key>player_10006_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{318,0},{140,103}}</string>
        <key>offset</key>
        <string>{12,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,103}}</string>
        <key>sourceSize</key>
        <string>{140,103}</string>
      </dict>
      <key>player_10006_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{619,0},{124,90}}</string>
        <key>offset</key>
        <string>{-7,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,90}}</string>
        <key>sourceSize</key>
        <string>{124,90}</string>
      </dict>
      <key>player_10006_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{612,132},{127,96}}</string>
        <key>offset</key>
        <string>{-1,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,96}}</string>
        <key>sourceSize</key>
        <string>{127,96}</string>
      </dict>
      <key>player_10006_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{516,0},{130,101}}</string>
        <key>offset</key>
        <string>{4,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,101}}</string>
        <key>sourceSize</key>
        <string>{130,101}</string>
      </dict>
      <key>player_10006_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{711,0},{87,105}}</string>
        <key>offset</key>
        <string>{-10,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,105}}</string>
        <key>sourceSize</key>
        <string>{87,105}</string>
      </dict>
      <key>player_10006_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{649,261},{89,109}}</string>
        <key>offset</key>
        <string>{-6,62}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,109}}</string>
        <key>sourceSize</key>
        <string>{89,109}</string>
      </dict>
      <key>player_10006_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{710,126},{94,106}}</string>
        <key>offset</key>
        <string>{-4,62}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,106}}</string>
        <key>sourceSize</key>
        <string>{94,106}</string>
      </dict>
      <key>player_10006_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{301,149},{143,98}}</string>
        <key>offset</key>
        <string>{-61,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,98}}</string>
        <key>sourceSize</key>
        <string>{143,98}</string>
      </dict>
      <key>player_10006_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{360,294},{139,100}}</string>
        <key>offset</key>
        <string>{-55,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,100}}</string>
        <key>sourceSize</key>
        <string>{139,100}</string>
      </dict>
      <key>player_10006_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{401,142},{137,100}}</string>
        <key>offset</key>
        <string>{-51,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,100}}</string>
        <key>sourceSize</key>
        <string>{137,100}</string>
      </dict>
      <key>player_10006_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,198},{194,96}}</string>
        <key>offset</key>
        <string>{-98,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{194,96}}</string>
        <key>sourceSize</key>
        <string>{194,96}</string>
      </dict>
      <key>player_10006_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{196,102}}</string>
        <key>offset</key>
        <string>{-101,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,102}}</string>
        <key>sourceSize</key>
        <string>{196,102}</string>
      </dict>
      <key>player_10006_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,394},{191,104}}</string>
        <key>offset</key>
        <string>{-105,62}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{191,104}}</string>
        <key>sourceSize</key>
        <string>{191,104}</string>
      </dict>
      <key>player_10006_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{104,0},{164,116}}</string>
        <key>offset</key>
        <string>{-64,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{164,116}}</string>
        <key>sourceSize</key>
        <string>{164,116}</string>
      </dict>
      <key>player_10006_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,198},{170,116}}</string>
        <key>offset</key>
        <string>{-74,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,116}}</string>
        <key>sourceSize</key>
        <string>{170,116}</string>
      </dict>
      <key>player_10006_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{193,370},{165,115}}</string>
        <key>offset</key>
        <string>{-78,76}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{165,115}}</string>
        <key>sourceSize</key>
        <string>{165,115}</string>
      </dict>
      <key>player_10006_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{556,270},{91,128}}</string>
        <key>offset</key>
        <string>{-1,94}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,128}}</string>
        <key>sourceSize</key>
        <string>{91,128}</string>
      </dict>
      <key>player_10006_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,281},{92,132}}</string>
        <key>offset</key>
        <string>{-1,98}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,132}}</string>
        <key>sourceSize</key>
        <string>{92,132}</string>
      </dict>
      <key>player_10006_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{423,0},{91,136}}</string>
        <key>offset</key>
        <string>{-4,102}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,136}}</string>
        <key>sourceSize</key>
        <string>{91,136}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_10006_0_7.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>player_10006_0_7.png</string>
    </dict>
  </dict>
</plist>