<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_10056_0_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{317,0},{118,132}}</string>
        <key>offset</key>
        <string>{-33,70}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,132}}</string>
        <key>sourceSize</key>
        <string>{118,132}</string>
      </dict>
      <key>player_10056_0_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{652,257},{113,124}}</string>
        <key>offset</key>
        <string>{-30,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,124}}</string>
        <key>sourceSize</key>
        <string>{113,124}</string>
      </dict>
      <key>player_10056_0_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{870,125},{104,120}}</string>
        <key>offset</key>
        <string>{-23,38}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,120}}</string>
        <key>sourceSize</key>
        <string>{104,120}</string>
      </dict>
      <key>player_10056_0_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{758,128},{110,123}}</string>
        <key>offset</key>
        <string>{-28,39}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,123}}</string>
        <key>sourceSize</key>
        <string>{110,123}</string>
      </dict>
      <key>player_10056_0_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,141},{105,136}}</string>
        <key>offset</key>
        <string>{-25,75}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,136}}</string>
        <key>sourceSize</key>
        <string>{105,136}</string>
      </dict>
      <key>player_10056_0_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{542,129},{109,126}}</string>
        <key>offset</key>
        <string>{-37,66}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,126}}</string>
        <key>sourceSize</key>
        <string>{109,126}</string>
      </dict>
      <key>player_10056_0_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{762,0},{123,109}}</string>
        <key>offset</key>
        <string>{-50,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,109}}</string>
        <key>sourceSize</key>
        <string>{123,109}</string>
      </dict>
      <key>player_10056_0_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,150},{143,116}}</string>
        <key>offset</key>
        <string>{-61,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,116}}</string>
        <key>sourceSize</key>
        <string>{143,116}</string>
      </dict>
      <key>player_10056_0_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{437,0},{98,131}}</string>
        <key>offset</key>
        <string>{-30,74}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,131}}</string>
        <key>sourceSize</key>
        <string>{98,131}</string>
      </dict>
      <key>player_10056_0_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{335,268},{101,131}}</string>
        <key>offset</key>
        <string>{-39,76}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,131}}</string>
        <key>sourceSize</key>
        <string>{101,131}</string>
      </dict>
      <key>player_10056_0_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{446,133},{130,94}}</string>
        <key>offset</key>
        <string>{-63,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,94}}</string>
        <key>sourceSize</key>
        <string>{130,94}</string>
      </dict>
      <key>player_10056_0_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{148,99}}</string>
        <key>offset</key>
        <string>{-65,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,99}}</string>
        <key>sourceSize</key>
        <string>{148,99}</string>
      </dict>
      <key>player_10056_0_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{767,253},{110,122}}</string>
        <key>offset</key>
        <string>{-35,72}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,122}}</string>
        <key>sourceSize</key>
        <string>{110,122}</string>
      </dict>
      <key>player_10056_0_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{219,0},{96,133}}</string>
        <key>offset</key>
        <string>{-33,87}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,133}}</string>
        <key>sourceSize</key>
        <string>{96,133}</string>
      </dict>
      <key>player_10056_0_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{703,383},{123,99}}</string>
        <key>offset</key>
        <string>{-56,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,99}}</string>
        <key>sourceSize</key>
        <string>{123,99}</string>
      </dict>
      <key>player_10056_0_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{101,0},{139,116}}</string>
        <key>offset</key>
        <string>{-58,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,116}}</string>
        <key>sourceSize</key>
        <string>{139,116}</string>
      </dict>
      <key>player_10056_0_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{804,377},{112,117}}</string>
        <key>offset</key>
        <string>{-33,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,117}}</string>
        <key>sourceSize</key>
        <string>{112,117}</string>
      </dict>
      <key>player_10056_0_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{335,401},{107,131}}</string>
        <key>offset</key>
        <string>{-27,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,131}}</string>
        <key>sourceSize</key>
        <string>{107,131}</string>
      </dict>
      <key>player_10056_0_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{918,247},{106,103}}</string>
        <key>offset</key>
        <string>{-28,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,103}}</string>
        <key>sourceSize</key>
        <string>{106,103}</string>
      </dict>
      <key>player_10056_0_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{873,0},{112,119}}</string>
        <key>offset</key>
        <string>{-33,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,119}}</string>
        <key>sourceSize</key>
        <string>{112,119}</string>
      </dict>
      <key>player_10056_0_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{653,128},{103,124}}</string>
        <key>offset</key>
        <string>{-24,71}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,124}}</string>
        <key>sourceSize</key>
        <string>{103,124}</string>
      </dict>
      <key>player_10056_0_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{438,268},{108,131}}</string>
        <key>offset</key>
        <string>{-16,86}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,131}}</string>
        <key>sourceSize</key>
        <string>{108,131}</string>
      </dict>
      <key>player_10056_0_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{548,257},{125,102}}</string>
        <key>offset</key>
        <string>{-21,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,102}}</string>
        <key>sourceSize</key>
        <string>{125,102}</string>
      </dict>
      <key>player_10056_0_4_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,298},{145,109}}</string>
        <key>offset</key>
        <string>{-32,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,109}}</string>
        <key>sourceSize</key>
        <string>{145,109}</string>
      </dict>
      <key>player_10056_0_4_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{468,401},{106,127}}</string>
        <key>offset</key>
        <string>{-20,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,127}}</string>
        <key>sourceSize</key>
        <string>{106,127}</string>
      </dict>
      <key>player_10056_0_4_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{537,0},{105,127}}</string>
        <key>offset</key>
        <string>{-12,77}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,127}}</string>
        <key>sourceSize</key>
        <string>{105,127}</string>
      </dict>
      <key>player_10056_0_4_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{232,279},{132,101}}</string>
        <key>offset</key>
        <string>{-17,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,101}}</string>
        <key>sourceSize</key>
        <string>{132,101}</string>
      </dict>
      <key>player_10056_0_4_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,150},{146,98}}</string>
        <key>offset</key>
        <string>{-30,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,98}}</string>
        <key>sourceSize</key>
        <string>{146,98}</string>
      </dict>
      <key>player_10056_0_4_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{325,134},{119,132}}</string>
        <key>offset</key>
        <string>{-30,72}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,132}}</string>
        <key>sourceSize</key>
        <string>{119,132}</string>
      </dict>
      <key>player_10056_0_4_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{597,384},{104,125}}</string>
        <key>offset</key>
        <string>{-16,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,125}}</string>
        <key>sourceSize</key>
        <string>{104,125}</string>
      </dict>
      <key>player_10056_0_4_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{644,0},{126,116}}</string>
        <key>offset</key>
        <string>{-18,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,116}}</string>
        <key>sourceSize</key>
        <string>{126,116}</string>
      </dict>
      <key>player_10056_0_4_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{111,295},{137,119}}</string>
        <key>offset</key>
        <string>{-29,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,119}}</string>
        <key>sourceSize</key>
        <string>{137,119}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_10056_0_4.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>player_10056_0_4.png</string>
    </dict>
  </dict>
</plist>