<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_3010_1_8_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{409,0},{42,116}}</string>
        <key>offset</key>
        <string>{2,88}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{42,116}}</string>
        <key>sourceSize</key>
        <string>{42,116}</string>
      </dict>
      <key>player_3010_1_8_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,0},{107,130}}</string>
        <key>offset</key>
        <string>{6,102}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,130}}</string>
        <key>sourceSize</key>
        <string>{107,130}</string>
      </dict>
      <key>player_3010_1_8_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{329,234},{113,103}}</string>
        <key>offset</key>
        <string>{16,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,103}}</string>
        <key>sourceSize</key>
        <string>{113,103}</string>
      </dict>
      <key>player_3010_1_8_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{63,0},{148,86}}</string>
        <key>offset</key>
        <string>{18,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,86}}</string>
        <key>sourceSize</key>
        <string>{148,86}</string>
      </dict>
      <key>player_3010_1_8_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{174,61}}</string>
        <key>offset</key>
        <string>{5,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{174,61}}</string>
        <key>sourceSize</key>
        <string>{174,61}</string>
      </dict>
      <key>player_3010_1_8_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,297},{132,70}}</string>
        <key>offset</key>
        <string>{7,34}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,70}}</string>
        <key>sourceSize</key>
        <string>{132,70}</string>
      </dict>
      <key>player_3010_1_8_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{151,0},{144,94}}</string>
        <key>offset</key>
        <string>{1,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,94}}</string>
        <key>sourceSize</key>
        <string>{144,94}</string>
      </dict>
      <key>player_3010_1_8_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{434,343},{49,78}}</string>
        <key>offset</key>
        <string>{3,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{49,78}}</string>
        <key>sourceSize</key>
        <string>{49,78}</string>
      </dict>
      <key>player_3010_1_8_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,349},{40,105}}</string>
        <key>offset</key>
        <string>{5,22}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{40,105}}</string>
        <key>sourceSize</key>
        <string>{40,105}</string>
      </dict>
      <key>player_3010_1_8_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{434,234},{107,72}}</string>
        <key>offset</key>
        <string>{-66,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,72}}</string>
        <key>sourceSize</key>
        <string>{107,72}</string>
      </dict>
      <key>player_3010_1_8_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{409,118},{114,97}}</string>
        <key>offset</key>
        <string>{-82,19}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,97}}</string>
        <key>sourceSize</key>
        <string>{114,97}</string>
      </dict>
      <key>player_3010_1_8_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{58,176},{150,70}}</string>
        <key>offset</key>
        <string>{-120,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,70}}</string>
        <key>sourceSize</key>
        <string>{150,70}</string>
      </dict>
      <key>player_3010_1_8_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,176},{172,56}}</string>
        <key>offset</key>
        <string>{-130,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{172,56}}</string>
        <key>sourceSize</key>
        <string>{172,56}</string>
      </dict>
      <key>player_3010_1_8_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{221,146},{132,106}}</string>
        <key>offset</key>
        <string>{-91,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,106}}</string>
        <key>sourceSize</key>
        <string>{132,106}</string>
      </dict>
      <key>player_3010_1_8_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,150},{145,89}}</string>
        <key>offset</key>
        <string>{-98,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,89}}</string>
        <key>sourceSize</key>
        <string>{145,89}</string>
      </dict>
      <key>player_3010_1_8_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{247,0},{51,131}}</string>
        <key>offset</key>
        <string>{-6,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{51,131}}</string>
        <key>sourceSize</key>
        <string>{51,131}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_3010_1_8.png</string>
      <key>size</key>
      <string>{514,456}</string>
      <key>textureFileName</key>
      <string>player_3010_1_8.png</string>
    </dict>
  </dict>
</plist>