<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_82501_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,368},{179,111}}</string>
        <key>offset</key>
        <string>{-55,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{179,111}}</string>
        <key>sourceSize</key>
        <string>{179,111}</string>
      </dict>
      <key>player_82501_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,549},{179,114}}</string>
        <key>offset</key>
        <string>{-53,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{179,114}}</string>
        <key>sourceSize</key>
        <string>{179,114}</string>
      </dict>
      <key>player_82501_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{113,368},{179,114}}</string>
        <key>offset</key>
        <string>{-50,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{179,114}}</string>
        <key>sourceSize</key>
        <string>{179,114}</string>
      </dict>
      <key>player_82501_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,730},{176,115}}</string>
        <key>offset</key>
        <string>{-44,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,115}}</string>
        <key>sourceSize</key>
        <string>{176,115}</string>
      </dict>
      <key>player_82501_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{294,181},{172,118}}</string>
        <key>offset</key>
        <string>{-47,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{172,118}}</string>
        <key>sourceSize</key>
        <string>{172,118}</string>
      </dict>
      <key>player_82501_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{229,366},{174,115}}</string>
        <key>offset</key>
        <string>{-52,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{174,115}}</string>
        <key>sourceSize</key>
        <string>{174,115}</string>
      </dict>
      <key>player_82501_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{633,158},{152,141}}</string>
        <key>offset</key>
        <string>{-67,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,141}}</string>
        <key>sourceSize</key>
        <string>{152,141}</string>
      </dict>
      <key>player_82501_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{322,866},{156,140}}</string>
        <key>offset</key>
        <string>{-68,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,140}}</string>
        <key>sourceSize</key>
        <string>{156,140}</string>
      </dict>
      <key>player_82501_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{266,542},{163,137}}</string>
        <key>offset</key>
        <string>{-69,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,137}}</string>
        <key>sourceSize</key>
        <string>{163,137}</string>
      </dict>
      <key>player_82501_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{298,0},{170,127}}</string>
        <key>offset</key>
        <string>{-69,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,127}}</string>
        <key>sourceSize</key>
        <string>{170,127}</string>
      </dict>
      <key>player_82501_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{271,707},{157,137}}</string>
        <key>offset</key>
        <string>{-69,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{157,137}}</string>
        <key>sourceSize</key>
        <string>{157,137}</string>
      </dict>
      <key>player_82501_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{870,697},{146,135}}</string>
        <key>offset</key>
        <string>{-68,84}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,135}}</string>
        <key>sourceSize</key>
        <string>{146,135}</string>
      </dict>
      <key>player_82501_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{405,515},{100,157}}</string>
        <key>offset</key>
        <string>{-28,111}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,157}}</string>
        <key>sourceSize</key>
        <string>{100,157}</string>
      </dict>
      <key>player_82501_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{346,355},{101,158}}</string>
        <key>offset</key>
        <string>{-29,111}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,158}}</string>
        <key>sourceSize</key>
        <string>{101,158}</string>
      </dict>
      <key>player_82501_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{527,160},{104,156}}</string>
        <key>offset</key>
        <string>{-32,109}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,156}}</string>
        <key>sourceSize</key>
        <string>{104,156}</string>
      </dict>
      <key>player_82501_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{577,318},{109,153}}</string>
        <key>offset</key>
        <string>{-37,104}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,153}}</string>
        <key>sourceSize</key>
        <string>{109,153}</string>
      </dict>
      <key>player_82501_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,908},{109,159}}</string>
        <key>offset</key>
        <string>{-37,110}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,159}}</string>
        <key>sourceSize</key>
        <string>{109,159}</string>
      </dict>
      <key>player_82501_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{161,897},{103,159}}</string>
        <key>offset</key>
        <string>{-32,111}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,159}}</string>
        <key>sourceSize</key>
        <string>{103,159}</string>
      </dict>
      <key>player_82501_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{410,674},{148,155}}</string>
        <key>offset</key>
        <string>{-65,121}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,155}}</string>
        <key>sourceSize</key>
        <string>{148,155}</string>
      </dict>
      <key>player_82501_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{579,800},{140,147}}</string>
        <key>offset</key>
        <string>{-60,118}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,147}}</string>
        <key>sourceSize</key>
        <string>{140,147}</string>
      </dict>
      <key>player_82501_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{560,648},{130,150}}</string>
        <key>offset</key>
        <string>{-55,119}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,150}}</string>
        <key>sourceSize</key>
        <string>{130,150}</string>
      </dict>
      <key>player_82501_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{806,574},{121,148}}</string>
        <key>offset</key>
        <string>{-49,119}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,148}}</string>
        <key>sourceSize</key>
        <string>{121,148}</string>
      </dict>
      <key>player_82501_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{870,834},{139,146}}</string>
        <key>offset</key>
        <string>{-60,119}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,146}}</string>
        <key>sourceSize</key>
        <string>{139,146}</string>
      </dict>
      <key>player_82501_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{507,491},{148,155}}</string>
        <key>offset</key>
        <string>{-65,121}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,155}}</string>
        <key>sourceSize</key>
        <string>{148,155}</string>
      </dict>
      <key>player_82501_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{143,185},{179,149}}</string>
        <key>offset</key>
        <string>{-59,109}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{179,149}}</string>
        <key>sourceSize</key>
        <string>{179,149}</string>
      </dict>
      <key>player_82501_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{151,0},{179,145}}</string>
        <key>offset</key>
        <string>{-60,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{179,145}}</string>
        <key>sourceSize</key>
        <string>{179,145}</string>
      </dict>
      <key>player_82501_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{116,549},{176,148}}</string>
        <key>offset</key>
        <string>{-60,113}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,148}}</string>
        <key>sourceSize</key>
        <string>{176,148}</string>
      </dict>
      <key>player_82501_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,727},{168,152}}</string>
        <key>offset</key>
        <string>{-60,116}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{168,152}}</string>
        <key>sourceSize</key>
        <string>{168,152}</string>
      </dict>
      <key>player_82501_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,185},{181,141}}</string>
        <key>offset</key>
        <string>{-62,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{181,141}}</string>
        <key>sourceSize</key>
        <string>{181,141}</string>
      </dict>
      <key>player_82501_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{183,149}}</string>
        <key>offset</key>
        <string>{-60,111}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{183,149}}</string>
        <key>sourceSize</key>
        <string>{183,149}</string>
      </dict>
      <key>player_82501_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{818,435},{137,149}}</string>
        <key>offset</key>
        <string>{-2,118}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,149}}</string>
        <key>sourceSize</key>
        <string>{137,149}</string>
      </dict>
      <key>player_82501_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{721,697},{139,147}}</string>
        <key>offset</key>
        <string>{-4,119}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,147}}</string>
        <key>sourceSize</key>
        <string>{139,147}</string>
      </dict>
      <key>player_82501_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{688,0},{144,152}}</string>
        <key>offset</key>
        <string>{-9,119}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,152}}</string>
        <key>sourceSize</key>
        <string>{144,152}</string>
      </dict>
      <key>player_82501_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{834,0},{151,152}}</string>
        <key>offset</key>
        <string>{-17,119}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,152}}</string>
        <key>sourceSize</key>
        <string>{151,152}</string>
      </dict>
      <key>player_82501_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{657,473},{150,147}}</string>
        <key>offset</key>
        <string>{-13,119}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,147}}</string>
        <key>sourceSize</key>
        <string>{150,147}</string>
      </dict>
      <key>player_82501_0_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{834,153},{140,151}}</string>
        <key>offset</key>
        <string>{-5,121}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,151}}</string>
        <key>sourceSize</key>
        <string>{140,151}</string>
      </dict>
      <key>player_82501_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{564,0},{122,156}}</string>
        <key>offset</key>
        <string>{-5,113}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{122,156}}</string>
        <key>sourceSize</key>
        <string>{122,156}</string>
      </dict>
      <key>player_82501_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{414,172},{111,158}}</string>
        <key>offset</key>
        <string>{7,115}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,158}}</string>
        <key>sourceSize</key>
        <string>{111,158}</string>
      </dict>
      <key>player_82501_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{449,332},{126,157}}</string>
        <key>offset</key>
        <string>{-4,116}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,157}}</string>
        <key>sourceSize</key>
        <string>{126,157}</string>
      </dict>
      <key>player_82501_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{427,0},{135,158}}</string>
        <key>offset</key>
        <string>{-6,118}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,158}}</string>
        <key>sourceSize</key>
        <string>{135,158}</string>
      </dict>
      <key>player_82501_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{464,831},{113,151}}</string>
        <key>offset</key>
        <string>{7,112}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,151}}</string>
        <key>sourceSize</key>
        <string>{113,151}</string>
      </dict>
      <key>player_82501_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{688,312},{128,150}}</string>
        <key>offset</key>
        <string>{-6,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,150}}</string>
        <key>sourceSize</key>
        <string>{128,150}</string>
      </dict>
      <key>player_82501_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{987,295},{139,137}}</string>
        <key>offset</key>
        <string>{-2,85}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,137}}</string>
        <key>sourceSize</key>
        <string>{139,137}</string>
      </dict>
      <key>player_82501_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{721,838},{131,145}}</string>
        <key>offset</key>
        <string>{6,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,145}}</string>
        <key>sourceSize</key>
        <string>{131,145}</string>
      </dict>
      <key>player_82501_0_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{987,153},{140,140}}</string>
        <key>offset</key>
        <string>{-2,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,140}}</string>
        <key>sourceSize</key>
        <string>{140,140}</string>
      </dict>
      <key>player_82501_0_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{818,295},{138,150}}</string>
        <key>offset</key>
        <string>{-3,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,150}}</string>
        <key>sourceSize</key>
        <string>{138,150}</string>
      </dict>
      <key>player_82501_0_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{969,435},{132,144}}</string>
        <key>offset</key>
        <string>{6,92}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,144}}</string>
        <key>sourceSize</key>
        <string>{132,144}</string>
      </dict>
      <key>player_82501_0_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{988,0},{137,132}}</string>
        <key>offset</key>
        <string>{3,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,132}}</string>
        <key>sourceSize</key>
        <string>{137,132}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_82501_0_1.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>player_82501_0_1.png</string>
    </dict>
  </dict>
</plist>