<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_10058_1_8_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{209,252},{182,132}}</string>
        <key>offset</key>
        <string>{-78,86}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{182,132}}</string>
        <key>sourceSize</key>
        <string>{182,132}</string>
      </dict>
      <key>player_10058_1_8_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{588,183},{124,160}}</string>
        <key>offset</key>
        <string>{-21,100}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,160}}</string>
        <key>sourceSize</key>
        <string>{124,160}</string>
      </dict>
      <key>player_10058_1_8_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{180,386},{167,172}}</string>
        <key>offset</key>
        <string>{-82,124}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,172}}</string>
        <key>sourceSize</key>
        <string>{167,172}</string>
      </dict>
      <key>player_10058_1_8_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,555},{111,170}}</string>
        <key>offset</key>
        <string>{-32,116}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,170}}</string>
        <key>sourceSize</key>
        <string>{111,170}</string>
      </dict>
      <key>player_10058_1_8_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{112,211}}</string>
        <key>offset</key>
        <string>{-67,147}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,211}}</string>
        <key>sourceSize</key>
        <string>{112,211}</string>
      </dict>
      <key>player_10058_1_8_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{287,555},{160,170}}</string>
        <key>offset</key>
        <string>{-29,125}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,170}}</string>
        <key>sourceSize</key>
        <string>{160,170}</string>
      </dict>
      <key>player_10058_1_8_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{426,0},{181,207}}</string>
        <key>offset</key>
        <string>{-95,147}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{181,207}}</string>
        <key>sourceSize</key>
        <string>{181,207}</string>
      </dict>
      <key>player_10058_1_8_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,276},{163,178}}</string>
        <key>offset</key>
        <string>{-41,121}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,178}}</string>
        <key>sourceSize</key>
        <string>{163,178}</string>
      </dict>
      <key>player_10058_1_8_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{402,183},{184,174}}</string>
        <key>offset</key>
        <string>{-54,127}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{184,174}}</string>
        <key>sourceSize</key>
        <string>{184,174}</string>
      </dict>
      <key>player_10058_1_8_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{209,114},{136,191}}</string>
        <key>offset</key>
        <string>{-54,108}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,191}}</string>
        <key>sourceSize</key>
        <string>{136,191}</string>
      </dict>
      <key>player_10058_1_8_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,114},{160,207}}</string>
        <key>offset</key>
        <string>{-17,147}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,207}}</string>
        <key>sourceSize</key>
        <string>{160,207}</string>
      </dict>
      <key>player_10058_1_8_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{393,359},{169,178}}</string>
        <key>offset</key>
        <string>{-74,121}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{169,178}}</string>
        <key>sourceSize</key>
        <string>{169,178}</string>
      </dict>
      <key>player_10058_1_8_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{213,0},{112,211}}</string>
        <key>offset</key>
        <string>{3,147}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,211}}</string>
        <key>sourceSize</key>
        <string>{112,211}</string>
      </dict>
      <key>player_10058_1_8_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{449,530},{160,170}}</string>
        <key>offset</key>
        <string>{-83,125}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,170}}</string>
        <key>sourceSize</key>
        <string>{160,170}</string>
      </dict>
      <key>player_10058_1_8_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,441},{169,172}}</string>
        <key>offset</key>
        <string>{-37,124}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{169,172}}</string>
        <key>sourceSize</key>
        <string>{169,172}</string>
      </dict>
      <key>player_10058_1_8_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{635,0},{115,170}}</string>
        <key>offset</key>
        <string>{-31,116}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,170}}</string>
        <key>sourceSize</key>
        <string>{115,170}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_10058_1_8.png</string>
      <key>size</key>
      <string>{754,770}</string>
      <key>textureFileName</key>
      <string>player_10058_1_8.png</string>
    </dict>
  </dict>
</plist>