<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_10204_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{292,706},{141,122}}</string>
        <key>offset</key>
        <string>{-46,71}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,122}}</string>
        <key>sourceSize</key>
        <string>{141,122}</string>
      </dict>
      <key>player_10204_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{148,621},{142,114}}</string>
        <key>offset</key>
        <string>{-53,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,114}}</string>
        <key>sourceSize</key>
        <string>{142,114}</string>
      </dict>
      <key>player_10204_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{309,433},{148,129}}</string>
        <key>offset</key>
        <string>{-51,84}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,129}}</string>
        <key>sourceSize</key>
        <string>{148,129}</string>
      </dict>
      <key>player_10204_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{380,830},{130,126}}</string>
        <key>offset</key>
        <string>{-59,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,126}}</string>
        <key>sourceSize</key>
        <string>{130,126}</string>
      </dict>
      <key>player_10204_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,864},{118,135}}</string>
        <key>offset</key>
        <string>{-52,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,135}}</string>
        <key>sourceSize</key>
        <string>{118,135}</string>
      </dict>
      <key>player_10204_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,383},{102,150}}</string>
        <key>offset</key>
        <string>{-34,103}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,150}}</string>
        <key>sourceSize</key>
        <string>{102,150}</string>
      </dict>
      <key>player_10204_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,487},{109,149}}</string>
        <key>offset</key>
        <string>{-41,105}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,149}}</string>
        <key>sourceSize</key>
        <string>{109,149}</string>
      </dict>
      <key>player_10204_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{163,98},{113,157}}</string>
        <key>offset</key>
        <string>{-39,111}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,157}}</string>
        <key>sourceSize</key>
        <string>{113,157}</string>
      </dict>
      <key>player_10204_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{163,0},{96,160}}</string>
        <key>offset</key>
        <string>{-20,114}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,160}}</string>
        <key>sourceSize</key>
        <string>{96,160}</string>
      </dict>
      <key>player_10204_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{325,0},{140,158}}</string>
        <key>offset</key>
        <string>{-68,111}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,158}}</string>
        <key>sourceSize</key>
        <string>{140,158}</string>
      </dict>
      <key>player_10204_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{313,284},{147,153}}</string>
        <key>offset</key>
        <string>{-63,109}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,153}}</string>
        <key>sourceSize</key>
        <string>{147,153}</string>
      </dict>
      <key>player_10204_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,350},{140,151}}</string>
        <key>offset</key>
        <string>{-46,105}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,151}}</string>
        <key>sourceSize</key>
        <string>{140,151}</string>
      </dict>
      <key>player_10204_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,117},{155,140}}</string>
        <key>offset</key>
        <string>{-47,94}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,140}}</string>
        <key>sourceSize</key>
        <string>{155,140}</string>
      </dict>
      <key>player_10204_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{157,213},{154,135}}</string>
        <key>offset</key>
        <string>{-42,89}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,135}}</string>
        <key>sourceSize</key>
        <string>{154,135}</string>
      </dict>
      <key>player_10204_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{322,142},{155,140}}</string>
        <key>offset</key>
        <string>{-44,94}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,140}}</string>
        <key>sourceSize</key>
        <string>{155,140}</string>
      </dict>
      <key>player_10204_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{299,564},{140,144}}</string>
        <key>offset</key>
        <string>{-25,100}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,144}}</string>
        <key>sourceSize</key>
        <string>{140,144}</string>
      </dict>
      <key>player_10204_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{151,492},{127,146}}</string>
        <key>offset</key>
        <string>{-21,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,146}}</string>
        <key>sourceSize</key>
        <string>{127,146}</string>
      </dict>
      <key>player_10204_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,259},{122,154}}</string>
        <key>offset</key>
        <string>{-24,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{122,154}}</string>
        <key>sourceSize</key>
        <string>{122,154}</string>
      </dict>
      <key>player_10204_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{148,737},{127,137}}</string>
        <key>offset</key>
        <string>{-23,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,137}}</string>
        <key>sourceSize</key>
        <string>{127,137}</string>
      </dict>
      <key>player_10204_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{137,866},{126,133}}</string>
        <key>offset</key>
        <string>{-24,91}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,133}}</string>
        <key>sourceSize</key>
        <string>{126,133}</string>
      </dict>
      <key>player_10204_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{115,161}}</string>
        <key>offset</key>
        <string>{-22,116}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,161}}</string>
        <key>sourceSize</key>
        <string>{115,161}</string>
      </dict>
      <key>player_10204_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,742},{136,120}}</string>
        <key>offset</key>
        <string>{-21,70}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,120}}</string>
        <key>sourceSize</key>
        <string>{136,120}</string>
      </dict>
      <key>player_10204_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{265,866},{133,113}}</string>
        <key>offset</key>
        <string>{-23,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,113}}</string>
        <key>sourceSize</key>
        <string>{133,113}</string>
      </dict>
      <key>player_10204_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,598},{146,142}}</string>
        <key>offset</key>
        <string>{-36,96}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,142}}</string>
        <key>sourceSize</key>
        <string>{146,142}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_10204_0_7.png</string>
      <key>size</key>
      <string>{512,1024}</string>
      <key>textureFileName</key>
      <string>player_10204_0_7.png</string>
    </dict>
  </dict>
</plist>