<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_10032_0_11_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{126,201}}</string>
        <key>offset</key>
        <string>{-48,98}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,201}}</string>
        <key>sourceSize</key>
        <string>{126,201}</string>
      </dict>
      <key>player_10032_0_11_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,0},{123,189}}</string>
        <key>offset</key>
        <string>{-56,108}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,189}}</string>
        <key>sourceSize</key>
        <string>{123,189}</string>
      </dict>
      <key>player_10032_0_11_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,203},{148,191}}</string>
        <key>offset</key>
        <string>{-75,126}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,191}}</string>
        <key>sourceSize</key>
        <string>{148,191}</string>
      </dict>
      <key>player_10032_0_11_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{374,180},{131,175}}</string>
        <key>offset</key>
        <string>{-57,115}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,175}}</string>
        <key>sourceSize</key>
        <string>{131,175}</string>
      </dict>
      <key>player_10032_0_11_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,203},{122,196}}</string>
        <key>offset</key>
        <string>{-28,121}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{122,196}}</string>
        <key>sourceSize</key>
        <string>{122,196}</string>
      </dict>
      <key>player_10032_0_11_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{253,0},{119,178}}</string>
        <key>offset</key>
        <string>{-19,107}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,178}}</string>
        <key>sourceSize</key>
        <string>{119,178}</string>
      </dict>
      <key>player_10032_0_11_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{504,0},{142,171}}</string>
        <key>offset</key>
        <string>{-32,102}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,171}}</string>
        <key>sourceSize</key>
        <string>{142,171}</string>
      </dict>
      <key>player_10032_0_11_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{374,0},{128,178}}</string>
        <key>offset</key>
        <string>{-28,90}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,178}}</string>
        <key>sourceSize</key>
        <string>{128,178}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_10032_0_11.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>player_10032_0_11.png</string>
    </dict>
  </dict>
</plist>