<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_10206_0_5_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{705,294},{139,105}}</string>
        <key>offset</key>
        <string>{-42,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,105}}</string>
        <key>sourceSize</key>
        <string>{139,105}</string>
      </dict>
      <key>player_10206_0_5_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{754,144},{139,100}}</string>
        <key>offset</key>
        <string>{-39,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,100}}</string>
        <key>sourceSize</key>
        <string>{139,100}</string>
      </dict>
      <key>player_10206_0_5_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{779,0},{139,102}}</string>
        <key>offset</key>
        <string>{-34,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,102}}</string>
        <key>sourceSize</key>
        <string>{139,102}</string>
      </dict>
      <key>player_10206_0_5_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{883,103},{138,108}}</string>
        <key>offset</key>
        <string>{-32,78}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,108}}</string>
        <key>sourceSize</key>
        <string>{138,108}</string>
      </dict>
      <key>player_10206_0_5_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{856,213},{138,105}}</string>
        <key>offset</key>
        <string>{-34,77}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,105}}</string>
        <key>sourceSize</key>
        <string>{138,105}</string>
      </dict>
      <key>player_10206_0_5_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{883,0},{139,101}}</string>
        <key>offset</key>
        <string>{-38,74}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,101}}</string>
        <key>sourceSize</key>
        <string>{139,101}</string>
      </dict>
      <key>player_10206_0_5_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{658,721},{123,132}}</string>
        <key>offset</key>
        <string>{-56,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,132}}</string>
        <key>sourceSize</key>
        <string>{123,132}</string>
      </dict>
      <key>player_10206_0_5_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{548,846},{125,129}}</string>
        <key>offset</key>
        <string>{-60,96}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,129}}</string>
        <key>sourceSize</key>
        <string>{125,129}</string>
      </dict>
      <key>player_10206_0_5_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{675,846},{124,129}}</string>
        <key>offset</key>
        <string>{-52,97}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,129}}</string>
        <key>sourceSize</key>
        <string>{124,129}</string>
      </dict>
      <key>player_10206_0_5_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{801,829},{124,129}}</string>
        <key>offset</key>
        <string>{-50,96}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,129}}</string>
        <key>sourceSize</key>
        <string>{124,129}</string>
      </dict>
      <key>player_10206_0_5_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{797,708},{119,134}}</string>
        <key>offset</key>
        <string>{-51,101}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,134}}</string>
        <key>sourceSize</key>
        <string>{119,134}</string>
      </dict>
      <key>player_10206_0_5_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{927,829},{117,123}}</string>
        <key>offset</key>
        <string>{-52,90}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,123}}</string>
        <key>sourceSize</key>
        <string>{117,123}</string>
      </dict>
      <key>player_10206_0_5_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{380,0},{112,154}}</string>
        <key>offset</key>
        <string>{-41,120}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,154}}</string>
        <key>sourceSize</key>
        <string>{112,154}</string>
      </dict>
      <key>player_10206_0_5_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{387,156},{102,154}}</string>
        <key>offset</key>
        <string>{-37,120}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,154}}</string>
        <key>sourceSize</key>
        <string>{102,154}</string>
      </dict>
      <key>player_10206_0_5_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{285,165},{100,155}}</string>
        <key>offset</key>
        <string>{-36,122}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,155}}</string>
        <key>sourceSize</key>
        <string>{100,155}</string>
      </dict>
      <key>player_10206_0_5_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{256,509},{120,157}}</string>
        <key>offset</key>
        <string>{-52,123}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,157}}</string>
        <key>sourceSize</key>
        <string>{120,157}</string>
      </dict>
      <key>player_10206_0_5_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,676},{112,161}}</string>
        <key>offset</key>
        <string>{-48,128}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,161}}</string>
        <key>sourceSize</key>
        <string>{112,161}</string>
      </dict>
      <key>player_10206_0_5_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{427,793},{119,140}}</string>
        <key>offset</key>
        <string>{-50,107}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,140}}</string>
        <key>sourceSize</key>
        <string>{119,140}</string>
      </dict>
      <key>player_10206_0_5_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{114,676},{149,159}}</string>
        <key>offset</key>
        <string>{-59,125}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{149,159}}</string>
        <key>sourceSize</key>
        <string>{149,159}</string>
      </dict>
      <key>player_10206_0_5_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{138,167},{145,163}}</string>
        <key>offset</key>
        <string>{-61,129}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,163}}</string>
        <key>sourceSize</key>
        <string>{145,163}</string>
      </dict>
      <key>player_10206_0_5_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{125,0},{127,165}}</string>
        <key>offset</key>
        <string>{-49,132}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,165}}</string>
        <key>sourceSize</key>
        <string>{127,165}</string>
      </dict>
      <key>player_10206_0_5_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{123,170}}</string>
        <key>offset</key>
        <string>{-48,135}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,170}}</string>
        <key>sourceSize</key>
        <string>{123,170}</string>
      </dict>
      <key>player_10206_0_5_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{399,645},{128,146}}</string>
        <key>offset</key>
        <string>{-50,112}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,146}}</string>
        <key>sourceSize</key>
        <string>{128,146}</string>
      </dict>
      <key>player_10206_0_5_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{520,465},{134,146}}</string>
        <key>offset</key>
        <string>{-50,112}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,146}}</string>
        <key>sourceSize</key>
        <string>{134,146}</string>
      </dict>
      <key>player_10206_0_5_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{494,0},{148,143}}</string>
        <key>offset</key>
        <string>{-31,111}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,143}}</string>
        <key>sourceSize</key>
        <string>{148,143}</string>
      </dict>
      <key>player_10206_0_5_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{420,312},{151,145}}</string>
        <key>offset</key>
        <string>{-35,113}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,145}}</string>
        <key>sourceSize</key>
        <string>{151,145}</string>
      </dict>
      <key>player_10206_0_5_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{140,837},{153,150}}</string>
        <key>offset</key>
        <string>{-39,119}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,150}}</string>
        <key>sourceSize</key>
        <string>{153,150}</string>
      </dict>
      <key>player_10206_0_5_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{266,332},{152,157}}</string>
        <key>offset</key>
        <string>{-40,124}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,157}}</string>
        <key>sourceSize</key>
        <string>{152,157}</string>
      </dict>
      <key>player_10206_0_5_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{378,491},{152,140}}</string>
        <key>offset</key>
        <string>{-39,108}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,140}}</string>
        <key>sourceSize</key>
        <string>{152,140}</string>
      </dict>
      <key>player_10206_0_5_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{265,668},{153,132}}</string>
        <key>offset</key>
        <string>{-37,101}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,132}}</string>
        <key>sourceSize</key>
        <string>{153,132}</string>
      </dict>
      <key>player_10206_0_5_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,839},{138,160}}</string>
        <key>offset</key>
        <string>{-14,125}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,160}}</string>
        <key>sourceSize</key>
        <string>{138,160}</string>
      </dict>
      <key>player_10206_0_5_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,510},{137,164}}</string>
        <key>offset</key>
        <string>{-13,129}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,164}}</string>
        <key>sourceSize</key>
        <string>{137,164}</string>
      </dict>
      <key>player_10206_0_5_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{127,343},{137,164}}</string>
        <key>offset</key>
        <string>{-11,131}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,164}}</string>
        <key>sourceSize</key>
        <string>{137,164}</string>
      </dict>
      <key>player_10206_0_5_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,172},{136,169}}</string>
        <key>offset</key>
        <string>{-14,134}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,169}}</string>
        <key>sourceSize</key>
        <string>{136,169}</string>
      </dict>
      <key>player_10206_0_5_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{567,309},{136,146}}</string>
        <key>offset</key>
        <string>{-13,112}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,146}}</string>
        <key>sourceSize</key>
        <string>{136,146}</string>
      </dict>
      <key>player_10206_0_5_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{616,150},{136,142}}</string>
        <key>offset</key>
        <string>{-12,108}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,142}}</string>
        <key>sourceSize</key>
        <string>{136,142}</string>
      </dict>
      <key>player_10206_0_5_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{292,823},{133,148}}</string>
        <key>offset</key>
        <string>{-10,114}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,148}}</string>
        <key>sourceSize</key>
        <string>{133,148}</string>
      </dict>
      <key>player_10206_0_5_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{491,156},{123,151}}</string>
        <key>offset</key>
        <string>{-8,117}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,151}}</string>
        <key>sourceSize</key>
        <string>{123,151}</string>
      </dict>
      <key>player_10206_0_5_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{139,509},{115,159}}</string>
        <key>offset</key>
        <string>{-7,126}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,159}}</string>
        <key>sourceSize</key>
        <string>{115,159}</string>
      </dict>
      <key>player_10206_0_5_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{254,0},{124,163}}</string>
        <key>offset</key>
        <string>{-9,129}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,163}}</string>
        <key>sourceSize</key>
        <string>{124,163}</string>
      </dict>
      <key>player_10206_0_5_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,343},{125,165}}</string>
        <key>offset</key>
        <string>{-9,132}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,165}}</string>
        <key>sourceSize</key>
        <string>{125,165}</string>
      </dict>
      <key>player_10206_0_5_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{812,320},{124,138}}</string>
        <key>offset</key>
        <string>{-8,105}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,138}}</string>
        <key>sourceSize</key>
        <string>{124,138}</string>
      </dict>
      <key>player_10206_0_5_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{797,446},{138,123}}</string>
        <key>offset</key>
        <string>{-18,89}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,123}}</string>
        <key>sourceSize</key>
        <string>{138,123}</string>
      </dict>
      <key>player_10206_0_5_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{529,613},{140,127}}</string>
        <key>offset</key>
        <string>{-16,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,127}}</string>
        <key>sourceSize</key>
        <string>{140,127}</string>
      </dict>
      <key>player_10206_0_5_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{797,571},{138,135}}</string>
        <key>offset</key>
        <string>{-14,103}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,135}}</string>
        <key>sourceSize</key>
        <string>{138,135}</string>
      </dict>
      <key>player_10206_0_5_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{656,457},{140,139}}</string>
        <key>offset</key>
        <string>{-18,106}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,139}}</string>
        <key>sourceSize</key>
        <string>{140,139}</string>
      </dict>
      <key>player_10206_0_5_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{639,0},{138,142}}</string>
        <key>offset</key>
        <string>{-17,109}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,142}}</string>
        <key>sourceSize</key>
        <string>{138,142}</string>
      </dict>
      <key>player_10206_0_5_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{658,599},{137,120}}</string>
        <key>offset</key>
        <string>{-16,88}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,120}}</string>
        <key>sourceSize</key>
        <string>{137,120}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_10206_0_5.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>player_10206_0_5.png</string>
    </dict>
  </dict>
</plist>