<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_22010_1_5_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,306},{150,100}}</string>
        <key>offset</key>
        <string>{5,-5}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,100}}</string>
        <key>sourceSize</key>
        <string>{150,100}</string>
      </dict>
      <key>player_22010_1_5_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{183,456},{147,101}}</string>
        <key>offset</key>
        <string>{3,-1}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,101}}</string>
        <key>sourceSize</key>
        <string>{147,101}</string>
      </dict>
      <key>player_22010_1_5_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{194,302},{146,101}}</string>
        <key>offset</key>
        <string>{3,-1}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,101}}</string>
        <key>sourceSize</key>
        <string>{146,101}</string>
      </dict>
      <key>player_22010_1_5_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{151,100}}</string>
        <key>offset</key>
        <string>{4,-5}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,100}}</string>
        <key>sourceSize</key>
        <string>{151,100}</string>
      </dict>
      <key>player_22010_1_5_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{449,293},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>player_22010_1_5_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{452,293},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>player_22010_1_5_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{476,293},{142,115}}</string>
        <key>offset</key>
        <string>{2,-4}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,115}}</string>
        <key>sourceSize</key>
        <string>{142,115}</string>
      </dict>
      <key>player_22010_1_5_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,609},{128,128}}</string>
        <key>offset</key>
        <string>{13,-9}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,128}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>player_22010_1_5_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{502,0},{139,118}}</string>
        <key>offset</key>
        <string>{3,-4}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,118}}</string>
        <key>sourceSize</key>
        <string>{139,118}</string>
      </dict>
      <key>player_22010_1_5_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{455,293},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>player_22010_1_5_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{415,526},{134,117}}</string>
        <key>offset</key>
        <string>{5,-4}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,117}}</string>
        <key>sourceSize</key>
        <string>{134,117}</string>
      </dict>
      <key>player_22010_1_5_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{476,410},{139,114}}</string>
        <key>offset</key>
        <string>{2,-4}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,114}}</string>
        <key>sourceSize</key>
        <string>{139,114}</string>
      </dict>
      <key>player_22010_1_5_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{458,293},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>player_22010_1_5_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{461,293},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>player_22010_1_5_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{385,296},{89,144}}</string>
        <key>offset</key>
        <string>{3,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,144}}</string>
        <key>sourceSize</key>
        <string>{89,144}</string>
      </dict>
      <key>player_22010_1_5_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{274,150},{86,146}}</string>
        <key>offset</key>
        <string>{5,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,146}}</string>
        <key>sourceSize</key>
        <string>{86,146}</string>
      </dict>
      <key>player_22010_1_5_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{260,605},{128,128}}</string>
        <key>offset</key>
        <string>{13,-9}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,128}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>player_22010_1_5_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{323,0},{85,146}}</string>
        <key>offset</key>
        <string>{1,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,146}}</string>
        <key>sourceSize</key>
        <string>{85,146}</string>
      </dict>
      <key>player_22010_1_5_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{464,293},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>player_22010_1_5_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{467,293},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>player_22010_1_5_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{470,293},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>player_22010_1_5_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{473,293},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>player_22010_1_5_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{181,152},{91,148}}</string>
        <key>offset</key>
        <string>{1,-5}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,148}}</string>
        <key>sourceSize</key>
        <string>{91,148}</string>
      </dict>
      <key>player_22010_1_5_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{91,153},{88,150}}</string>
        <key>offset</key>
        <string>{7,-5}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,150}}</string>
        <key>sourceSize</key>
        <string>{88,150}</string>
      </dict>
      <key>player_22010_1_5_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{91,458},{90,149}}</string>
        <key>offset</key>
        <string>{2,-5}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,149}}</string>
        <key>sourceSize</key>
        <string>{90,149}</string>
      </dict>
      <key>player_22010_1_5_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{181,302},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>player_22010_1_5_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{184,302},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>player_22010_1_5_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{187,302},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>player_22010_1_5_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,302},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>player_22010_1_5_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{183,605},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>player_22010_1_5_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{286,450},{146,127}}</string>
        <key>offset</key>
        <string>{9,-5}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,127}}</string>
        <key>sourceSize</key>
        <string>{146,127}</string>
      </dict>
      <key>player_22010_1_5_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{102,0},{150,126}}</string>
        <key>offset</key>
        <string>{8,-4}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,126}}</string>
        <key>sourceSize</key>
        <string>{150,126}</string>
      </dict>
      <key>player_22010_1_5_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{186,605},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>player_22010_1_5_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{189,605},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>player_22010_1_5_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{192,605},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>player_22010_1_5_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{195,605},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>player_22010_1_5_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{230,0},{91,148}}</string>
        <key>offset</key>
        <string>{2,-5}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,148}}</string>
        <key>sourceSize</key>
        <string>{91,148}</string>
      </dict>
      <key>player_22010_1_5_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,458},{89,150}}</string>
        <key>offset</key>
        <string>{3,-5}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,150}}</string>
        <key>sourceSize</key>
        <string>{89,150}</string>
      </dict>
      <key>player_22010_1_5_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,153},{89,151}}</string>
        <key>offset</key>
        <string>{3,-5}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,151}}</string>
        <key>sourceSize</key>
        <string>{89,151}</string>
      </dict>
      <key>player_22010_1_5_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{102,305},{90,149}}</string>
        <key>offset</key>
        <string>{2,-5}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,149}}</string>
        <key>sourceSize</key>
        <string>{90,149}</string>
      </dict>
      <key>player_22010_1_5_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,605},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>player_22010_1_5_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{201,605},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>player_22010_1_5_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{204,605},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>player_22010_1_5_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{449,147},{88,144}}</string>
        <key>offset</key>
        <string>{7,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,144}}</string>
        <key>sourceSize</key>
        <string>{88,144}</string>
      </dict>
      <key>player_22010_1_5_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{297,298},{86,146}}</string>
        <key>offset</key>
        <string>{8,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,146}}</string>
        <key>sourceSize</key>
        <string>{86,146}</string>
      </dict>
      <key>player_22010_1_5_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,610},{129,128}}</string>
        <key>offset</key>
        <string>{12,-9}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,128}}</string>
        <key>sourceSize</key>
        <string>{129,128}</string>
      </dict>
      <key>player_22010_1_5_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{362,148},{85,146}}</string>
        <key>offset</key>
        <string>{8,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,146}}</string>
        <key>sourceSize</key>
        <string>{85,146}</string>
      </dict>
      <key>player_22010_1_5_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{410,0},{90,145}}</string>
        <key>offset</key>
        <string>{5,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,145}}</string>
        <key>sourceSize</key>
        <string>{90,145}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_22010_1_5.png</string>
      <key>size</key>
      <string>{642,762}</string>
      <key>textureFileName</key>
      <string>player_22010_1_5.png</string>
    </dict>
  </dict>
</plist>