<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_10050_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{768,623},{145,196}}</string>
        <key>offset</key>
        <string>{-55,149}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,196}}</string>
        <key>sourceSize</key>
        <string>{145,196}</string>
      </dict>
      <key>player_10050_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{769,821},{87,195}}</string>
        <key>offset</key>
        <string>{-23,143}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,195}}</string>
        <key>sourceSize</key>
        <string>{87,195}</string>
      </dict>
      <key>player_10050_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{565,859},{161,202}}</string>
        <key>offset</key>
        <string>{-58,160}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,202}}</string>
        <key>sourceSize</key>
        <string>{161,202}</string>
      </dict>
      <key>player_10050_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{410,0},{209,200}}</string>
        <key>offset</key>
        <string>{-75,158}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{209,200}}</string>
        <key>sourceSize</key>
        <string>{209,200}</string>
      </dict>
      <key>player_10050_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1280,373},{169,171}}</string>
        <key>offset</key>
        <string>{-59,140}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{169,171}}</string>
        <key>sourceSize</key>
        <string>{169,171}</string>
      </dict>
      <key>player_10050_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{586,211},{206,203}}</string>
        <key>offset</key>
        <string>{-75,158}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{206,203}}</string>
        <key>sourceSize</key>
        <string>{206,203}</string>
      </dict>
      <key>player_10050_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,933},{79,197}}</string>
        <key>offset</key>
        <string>{-15,152}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,197}}</string>
        <key>sourceSize</key>
        <string>{79,197}</string>
      </dict>
      <key>player_10050_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1164,0},{186,178}}</string>
        <key>offset</key>
        <string>{-86,141}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{186,178}}</string>
        <key>sourceSize</key>
        <string>{186,178}</string>
      </dict>
      <key>player_10050_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1344,0},{111,180}}</string>
        <key>offset</key>
        <string>{-31,146}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,180}}</string>
        <key>sourceSize</key>
        <string>{111,180}</string>
      </dict>
      <key>player_10050_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,471},{231,218}}</string>
        <key>offset</key>
        <string>{-80,165}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{231,218}}</string>
        <key>sourceSize</key>
        <string>{231,218}</string>
      </dict>
      <key>player_10050_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{565,653},{204,201}}</string>
        <key>offset</key>
        <string>{-59,157}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{204,201}}</string>
        <key>sourceSize</key>
        <string>{204,201}</string>
      </dict>
      <key>player_10050_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{179,236},{231,198}}</string>
        <key>offset</key>
        <string>{-80,156}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{231,198}}</string>
        <key>sourceSize</key>
        <string>{231,198}</string>
      </dict>
      <key>player_10050_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{937,794},{186,183}}</string>
        <key>offset</key>
        <string>{-75,145}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{186,183}}</string>
        <key>sourceSize</key>
        <string>{186,183}</string>
      </dict>
      <key>player_10050_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{385,686},{209,178}}</string>
        <key>offset</key>
        <string>{-93,142}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{209,178}}</string>
        <key>sourceSize</key>
        <string>{209,178}</string>
      </dict>
      <key>player_10050_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{738,419},{202,151}}</string>
        <key>offset</key>
        <string>{-70,120}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{202,151}}</string>
        <key>sourceSize</key>
        <string>{202,151}</string>
      </dict>
      <key>player_10050_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{869,201},{197,195}}</string>
        <key>offset</key>
        <string>{-62,149}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{197,195}}</string>
        <key>sourceSize</key>
        <string>{197,195}</string>
      </dict>
      <key>player_10050_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{612,0},{205,199}}</string>
        <key>offset</key>
        <string>{-57,151}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{205,199}}</string>
        <key>sourceSize</key>
        <string>{205,199}</string>
      </dict>
      <key>player_10050_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{998,0},{164,197}}</string>
        <key>offset</key>
        <string>{-48,149}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{164,197}}</string>
        <key>sourceSize</key>
        <string>{164,197}</string>
      </dict>
      <key>player_10050_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,236},{233,177}}</string>
        <key>offset</key>
        <string>{-90,147}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{233,177}}</string>
        <key>sourceSize</key>
        <string>{233,177}</string>
      </dict>
      <key>player_10050_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1122,783},{116,180}}</string>
        <key>offset</key>
        <string>{-30,151}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,180}}</string>
        <key>sourceSize</key>
        <string>{116,180}</string>
      </dict>
      <key>player_10050_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,704},{227,145}}</string>
        <key>offset</key>
        <string>{-79,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{227,145}}</string>
        <key>sourceSize</key>
        <string>{227,145}</string>
      </dict>
      <key>player_10050_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1240,783},{174,164}}</string>
        <key>offset</key>
        <string>{-56,131}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{174,164}}</string>
        <key>sourceSize</key>
        <string>{174,164}</string>
      </dict>
      <key>player_10050_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{813,0},{183,199}}</string>
        <key>offset</key>
        <string>{-54,144}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{183,199}}</string>
        <key>sourceSize</key>
        <string>{183,199}</string>
      </dict>
      <key>player_10050_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1451,355},{140,163}}</string>
        <key>offset</key>
        <string>{-40,129}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,163}}</string>
        <key>sourceSize</key>
        <string>{140,163}</string>
      </dict>
      <key>player_10050_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1103,595},{144,186}}</string>
        <key>offset</key>
        <string>{-38,152}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,186}}</string>
        <key>sourceSize</key>
        <string>{144,186}</string>
      </dict>
      <key>player_10050_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{858,821},{77,195}}</string>
        <key>offset</key>
        <string>{0,156}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,195}}</string>
        <key>sourceSize</key>
        <string>{77,195}</string>
      </dict>
      <key>player_10050_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1359,182},{157,171}}</string>
        <key>offset</key>
        <string>{-50,137}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{157,171}}</string>
        <key>sourceSize</key>
        <string>{157,171}</string>
      </dict>
      <key>player_10050_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1153,389},{184,125}}</string>
        <key>offset</key>
        <string>{-69,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{184,125}}</string>
        <key>sourceSize</key>
        <string>{184,125}</string>
      </dict>
      <key>player_10050_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1391,546},{167,153}}</string>
        <key>offset</key>
        <string>{-57,115}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,153}}</string>
        <key>sourceSize</key>
        <string>{167,153}</string>
      </dict>
      <key>player_10050_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1014,400},{193,137}}</string>
        <key>offset</key>
        <string>{-79,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{193,137}}</string>
        <key>sourceSize</key>
        <string>{193,137}</string>
      </dict>
      <key>player_10050_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{791,207},{76,202}}</string>
        <key>offset</key>
        <string>{0,157}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,202}}</string>
        <key>sourceSize</key>
        <string>{76,202}</string>
      </dict>
      <key>player_10050_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{349,469},{189,215}}</string>
        <key>offset</key>
        <string>{-48,159}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{189,215}}</string>
        <key>sourceSize</key>
        <string>{189,215}</string>
      </dict>
      <key>player_10050_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,905},{114,201}}</string>
        <key>offset</key>
        <string>{-30,155}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,201}}</string>
        <key>sourceSize</key>
        <string>{114,201}</string>
      </dict>
      <key>player_10050_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{147,704},{223,115}}</string>
        <key>offset</key>
        <string>{-95,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{223,115}}</string>
        <key>sourceSize</key>
        <string>{223,115}</string>
      </dict>
      <key>player_10050_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{891,400},{195,121}}</string>
        <key>offset</key>
        <string>{-88,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{195,121}}</string>
        <key>sourceSize</key>
        <string>{195,121}</string>
      </dict>
      <key>player_10050_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{220,469},{216,127}}</string>
        <key>offset</key>
        <string>{-84,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{216,127}}</string>
        <key>sourceSize</key>
        <string>{216,127}</string>
      </dict>
      <key>player_10050_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{915,597},{186,195}}</string>
        <key>offset</key>
        <string>{-59,150}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{186,195}}</string>
        <key>sourceSize</key>
        <string>{186,195}</string>
      </dict>
      <key>player_10050_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{540,442},{209,196}}</string>
        <key>offset</key>
        <string>{-64,143}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{209,196}}</string>
        <key>sourceSize</key>
        <string>{209,196}</string>
      </dict>
      <key>player_10050_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{379,230},{205,210}}</string>
        <key>offset</key>
        <string>{-80,160}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{205,210}}</string>
        <key>sourceSize</key>
        <string>{205,210}</string>
      </dict>
      <key>player_10050_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1518,170},{162,138}}</string>
        <key>offset</key>
        <string>{-66,104}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{162,138}}</string>
        <key>sourceSize</key>
        <string>{162,138}</string>
      </dict>
      <key>player_10050_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1066,199},{188,113}}</string>
        <key>offset</key>
        <string>{-87,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{188,113}}</string>
        <key>sourceSize</key>
        <string>{188,113}</string>
      </dict>
      <key>player_10050_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1601,0},{157,145}}</string>
        <key>offset</key>
        <string>{-61,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{157,145}}</string>
        <key>sourceSize</key>
        <string>{157,145}</string>
      </dict>
      <key>player_10050_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{234,196}}</string>
        <key>offset</key>
        <string>{-91,147}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{234,196}}</string>
        <key>sourceSize</key>
        <string>{234,196}</string>
      </dict>
      <key>player_10050_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,687},{119,216}}</string>
        <key>offset</key>
        <string>{-35,151}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,216}}</string>
        <key>sourceSize</key>
        <string>{119,216}</string>
      </dict>
      <key>player_10050_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,0},{228,210}}</string>
        <key>offset</key>
        <string>{-96,161}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{228,210}}</string>
        <key>sourceSize</key>
        <string>{228,210}</string>
      </dict>
      <key>player_10050_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1181,188},{176,183}}</string>
        <key>offset</key>
        <string>{-67,149}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,183}}</string>
        <key>sourceSize</key>
        <string>{176,183}</string>
      </dict>
      <key>player_10050_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1457,0},{168,142}}</string>
        <key>offset</key>
        <string>{-69,109}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{168,142}}</string>
        <key>sourceSize</key>
        <string>{168,142}</string>
      </dict>
      <key>player_10050_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1249,575},{140,174}}</string>
        <key>offset</key>
        <string>{-47,142}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,174}}</string>
        <key>sourceSize</key>
        <string>{140,174}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_10050_0_2.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>player_10050_0_2.png</string>
    </dict>
  </dict>
</plist>