<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_10027_1_11_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,241},{130,111}}</string>
        <key>offset</key>
        <string>{-30,71}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,111}}</string>
        <key>sourceSize</key>
        <string>{130,111}</string>
      </dict>
      <key>player_10027_1_11_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{142,0},{84,135}}</string>
        <key>offset</key>
        <string>{-21,94}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,135}}</string>
        <key>sourceSize</key>
        <string>{84,135}</string>
      </dict>
      <key>player_10027_1_11_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,354},{91,124}}</string>
        <key>offset</key>
        <string>{-24,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,124}}</string>
        <key>sourceSize</key>
        <string>{91,124}</string>
      </dict>
      <key>player_10027_1_11_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{140,137},{134,113}}</string>
        <key>offset</key>
        <string>{-37,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,113}}</string>
        <key>sourceSize</key>
        <string>{134,113}</string>
      </dict>
      <key>player_10027_1_11_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,107},{132,138}}</string>
        <key>offset</key>
        <string>{-11,107}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,138}}</string>
        <key>sourceSize</key>
        <string>{132,138}</string>
      </dict>
      <key>player_10027_1_11_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{105,140}}</string>
        <key>offset</key>
        <string>{8,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,140}}</string>
        <key>sourceSize</key>
        <string>{105,140}</string>
      </dict>
      <key>player_10027_1_11_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{228,0},{109,124}}</string>
        <key>offset</key>
        <string>{3,82}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,124}}</string>
        <key>sourceSize</key>
        <string>{109,124}</string>
      </dict>
      <key>player_10027_1_11_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,273},{130,117}}</string>
        <key>offset</key>
        <string>{-6,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,117}}</string>
        <key>sourceSize</key>
        <string>{130,117}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_10027_1_11.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>player_10027_1_11.png</string>
    </dict>
  </dict>
</plist>