<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_3010_0_11_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{251,0},{108,139}}</string>
        <key>offset</key>
        <string>{2,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,139}}</string>
        <key>sourceSize</key>
        <string>{108,139}</string>
      </dict>
      <key>player_3010_0_11_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{99,251},{83,117}}</string>
        <key>offset</key>
        <string>{5,86}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,117}}</string>
        <key>sourceSize</key>
        <string>{83,117}</string>
      </dict>
      <key>player_3010_0_11_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{188,0},{50,99}}</string>
        <key>offset</key>
        <string>{5,70}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{50,99}}</string>
        <key>sourceSize</key>
        <string>{50,99}</string>
      </dict>
      <key>player_3010_0_11_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{251,141},{96,109}}</string>
        <key>offset</key>
        <string>{-44,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,109}}</string>
        <key>sourceSize</key>
        <string>{96,109}</string>
      </dict>
      <key>player_3010_0_11_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{99,138},{111,150}}</string>
        <key>offset</key>
        <string>{-65,116}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,150}}</string>
        <key>sourceSize</key>
        <string>{111,150}</string>
      </dict>
      <key>player_3010_0_11_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,52},{84,175}}</string>
        <key>offset</key>
        <string>{-41,143}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,175}}</string>
        <key>sourceSize</key>
        <string>{84,175}</string>
      </dict>
      <key>player_3010_0_11_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{50,186}}</string>
        <key>offset</key>
        <string>{-7,158}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{50,186}}</string>
        <key>sourceSize</key>
        <string>{50,186}</string>
      </dict>
      <key>player_3010_0_11_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,138},{97,166}}</string>
        <key>offset</key>
        <string>{-7,138}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,166}}</string>
        <key>sourceSize</key>
        <string>{97,166}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_3010_0_11.png</string>
      <key>size</key>
      <string>{364,386}</string>
      <key>textureFileName</key>
      <string>player_3010_0_11.png</string>
    </dict>
  </dict>
</plist>