<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_10046_0_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{678,414},{187,181}}</string>
        <key>offset</key>
        <string>{-88,144}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{187,181}}</string>
        <key>sourceSize</key>
        <string>{187,181}</string>
      </dict>
      <key>player_10046_0_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{409,712},{193,208}}</string>
        <key>offset</key>
        <string>{-105,169}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{193,208}}</string>
        <key>sourceSize</key>
        <string>{193,208}</string>
      </dict>
      <key>player_10046_0_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{860,597},{161,171}}</string>
        <key>offset</key>
        <string>{-77,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,171}}</string>
        <key>sourceSize</key>
        <string>{161,171}</string>
      </dict>
      <key>player_10046_0_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,486},{164,224}}</string>
        <key>offset</key>
        <string>{-67,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{164,224}}</string>
        <key>sourceSize</key>
        <string>{164,224}</string>
      </dict>
      <key>player_10046_0_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{566,458},{110,203}}</string>
        <key>offset</key>
        <string>{-13,162}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,203}}</string>
        <key>sourceSize</key>
        <string>{110,203}</string>
      </dict>
      <key>player_10046_0_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{133,0},{148,252}}</string>
        <key>offset</key>
        <string>{-58,210}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,252}}</string>
        <key>sourceSize</key>
        <string>{148,252}</string>
      </dict>
      <key>player_10046_0_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,267},{257,115}}</string>
        <key>offset</key>
        <string>{-171,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{257,115}}</string>
        <key>sourceSize</key>
        <string>{257,115}</string>
      </dict>
      <key>player_10046_0_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{251,775},{247,156}}</string>
        <key>offset</key>
        <string>{-178,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{247,156}}</string>
        <key>sourceSize</key>
        <string>{247,156}</string>
      </dict>
      <key>player_10046_0_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{515,0},{209,167}}</string>
        <key>offset</key>
        <string>{-25,123}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{209,167}}</string>
        <key>sourceSize</key>
        <string>{209,167}</string>
      </dict>
      <key>player_10046_0_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,267},{123,255}}</string>
        <key>offset</key>
        <string>{-30,213}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,255}}</string>
        <key>sourceSize</key>
        <string>{123,255}</string>
      </dict>
      <key>player_10046_0_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,784},{249,148}}</string>
        <key>offset</key>
        <string>{-165,96}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{249,148}}</string>
        <key>sourceSize</key>
        <string>{249,148}</string>
      </dict>
      <key>player_10046_0_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{265,131}}</string>
        <key>offset</key>
        <string>{-185,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{265,131}}</string>
        <key>sourceSize</key>
        <string>{265,131}</string>
      </dict>
      <key>player_10046_0_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{406,0},{232,107}}</string>
        <key>offset</key>
        <string>{-23,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{232,107}}</string>
        <key>sourceSize</key>
        <string>{232,107}</string>
      </dict>
      <key>player_10046_0_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{510,234},{164,222}}</string>
        <key>offset</key>
        <string>{-24,182}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{164,222}}</string>
        <key>sourceSize</key>
        <string>{164,222}</string>
      </dict>
      <key>player_10046_0_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{684,0},{160,199}}</string>
        <key>offset</key>
        <string>{-74,157}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,199}}</string>
        <key>sourceSize</key>
        <string>{160,199}</string>
      </dict>
      <key>player_10046_0_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{867,368},{153,171}}</string>
        <key>offset</key>
        <string>{-97,120}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,171}}</string>
        <key>sourceSize</key>
        <string>{153,171}</string>
      </dict>
      <key>player_10046_0_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{867,186},{180,147}}</string>
        <key>offset</key>
        <string>{-41,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,147}}</string>
        <key>sourceSize</key>
        <string>{180,147}</string>
      </dict>
      <key>player_10046_0_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{678,597},{180,169}}</string>
        <key>offset</key>
        <string>{-33,128}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,169}}</string>
        <key>sourceSize</key>
        <string>{180,169}</string>
      </dict>
      <key>player_10046_0_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{676,211},{166,201}}</string>
        <key>offset</key>
        <string>{-36,155}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{166,201}}</string>
        <key>sourceSize</key>
        <string>{166,201}</string>
      </dict>
      <key>player_10046_0_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{604,768},{165,177}}</string>
        <key>offset</key>
        <string>{-49,128}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{165,177}}</string>
        <key>sourceSize</key>
        <string>{165,177}</string>
      </dict>
      <key>player_10046_0_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1016,186},{161,159}}</string>
        <key>offset</key>
        <string>{-49,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,159}}</string>
        <key>sourceSize</key>
        <string>{161,159}</string>
      </dict>
      <key>player_10046_0_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1022,349},{142,134}}</string>
        <key>offset</key>
        <string>{-25,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,134}}</string>
        <key>sourceSize</key>
        <string>{142,134}</string>
      </dict>
      <key>player_10046_0_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{242,254},{246,139}}</string>
        <key>offset</key>
        <string>{-22,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{246,139}}</string>
        <key>sourceSize</key>
        <string>{246,139}</string>
      </dict>
      <key>player_10046_0_4_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,524},{249,119}}</string>
        <key>offset</key>
        <string>{-23,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{249,119}}</string>
        <key>sourceSize</key>
        <string>{249,119}</string>
      </dict>
      <key>player_10046_0_4_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{285,502},{239,113}}</string>
        <key>offset</key>
        <string>{-125,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{239,113}}</string>
        <key>sourceSize</key>
        <string>{239,113}</string>
      </dict>
      <key>player_10046_0_4_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1024,0},{149,123}}</string>
        <key>offset</key>
        <string>{-31,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{149,123}}</string>
        <key>sourceSize</key>
        <string>{149,123}</string>
      </dict>
      <key>player_10046_0_4_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{383,245},{239,125}}</string>
        <key>offset</key>
        <string>{-23,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{239,125}}</string>
        <key>sourceSize</key>
        <string>{239,125}</string>
      </dict>
      <key>player_10046_0_4_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,526},{256,162}}</string>
        <key>offset</key>
        <string>{-22,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{256,162}}</string>
        <key>sourceSize</key>
        <string>{256,162}</string>
      </dict>
      <key>player_10046_0_4_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{283,0},{243,121}}</string>
        <key>offset</key>
        <string>{-155,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{243,121}}</string>
        <key>sourceSize</key>
        <string>{243,121}</string>
      </dict>
      <key>player_10046_0_4_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{867,0},{184,155}}</string>
        <key>offset</key>
        <string>{-89,117}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{184,155}}</string>
        <key>sourceSize</key>
        <string>{184,155}</string>
      </dict>
      <key>player_10046_0_4_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1149,0},{141,147}}</string>
        <key>offset</key>
        <string>{-20,34}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,147}}</string>
        <key>sourceSize</key>
        <string>{141,147}</string>
      </dict>
      <key>player_10046_0_4_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{771,770},{151,163}}</string>
        <key>offset</key>
        <string>{-6,9}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,163}}</string>
        <key>sourceSize</key>
        <string>{151,163}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_10046_0_4.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>player_10046_0_4.png</string>
    </dict>
  </dict>
</plist>