<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_22006_1_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,332},{150,107}}</string>
        <key>offset</key>
        <string>{4,-3}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,107}}</string>
        <key>sourceSize</key>
        <string>{150,107}</string>
      </dict>
      <key>player_22006_1_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,0},{152,108}}</string>
        <key>offset</key>
        <string>{1,-2}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,108}}</string>
        <key>sourceSize</key>
        <string>{152,108}</string>
      </dict>
      <key>player_22006_1_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{567,126},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>player_22006_1_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{227,0},{130,147}}</string>
        <key>offset</key>
        <string>{1,-11}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,147}}</string>
        <key>sourceSize</key>
        <string>{130,147}</string>
      </dict>
      <key>player_22006_1_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{169,115}}</string>
        <key>offset</key>
        <string>{1,-1}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{169,115}}</string>
        <key>sourceSize</key>
        <string>{169,115}</string>
      </dict>
      <key>player_22006_1_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{187,305},{147,126}}</string>
        <key>offset</key>
        <string>{10,-10}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,126}}</string>
        <key>sourceSize</key>
        <string>{147,126}</string>
      </dict>
      <key>player_22006_1_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{570,126},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>player_22006_1_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{486,129},{143,113}}</string>
        <key>offset</key>
        <string>{4,-7}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,113}}</string>
        <key>sourceSize</key>
        <string>{143,113}</string>
      </dict>
      <key>player_22006_1_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{567,0},{124,131}}</string>
        <key>offset</key>
        <string>{2,-14}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,131}}</string>
        <key>sourceSize</key>
        <string>{124,131}</string>
      </dict>
      <key>player_22006_1_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{315,297},{103,145}}</string>
        <key>offset</key>
        <string>{4,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,145}}</string>
        <key>sourceSize</key>
        <string>{103,145}</string>
      </dict>
      <key>player_22006_1_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{359,129},{144,125}}</string>
        <key>offset</key>
        <string>{10,-10}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,125}}</string>
        <key>sourceSize</key>
        <string>{144,125}</string>
      </dict>
      <key>player_22006_1_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{251,149},{106,146}}</string>
        <key>offset</key>
        <string>{5,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,146}}</string>
        <key>sourceSize</key>
        <string>{106,146}</string>
      </dict>
      <key>player_22006_1_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{573,126},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>player_22006_1_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{576,126},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>player_22006_1_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,171},{124,159}}</string>
        <key>offset</key>
        <string>{6,-4}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,159}}</string>
        <key>sourceSize</key>
        <string>{124,159}</string>
      </dict>
      <key>player_22006_1_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{109,332},{76,149}}</string>
        <key>offset</key>
        <string>{8,-3}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,149}}</string>
        <key>sourceSize</key>
        <string>{76,149}</string>
      </dict>
      <key>player_22006_1_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{420,0},{145,127}}</string>
        <key>offset</key>
        <string>{9,-10}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,127}}</string>
        <key>sourceSize</key>
        <string>{145,127}</string>
      </dict>
      <key>player_22006_1_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{420,376},{122,132}}</string>
        <key>offset</key>
        <string>{3,-13}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{122,132}}</string>
        <key>sourceSize</key>
        <string>{122,132}</string>
      </dict>
      <key>player_22006_1_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{579,126},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>player_22006_1_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{582,126},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>player_22006_1_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{585,126},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>player_22006_1_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{126,154},{149,123}}</string>
        <key>offset</key>
        <string>{11,-1}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{149,123}}</string>
        <key>sourceSize</key>
        <string>{149,123}</string>
      </dict>
      <key>player_22006_1_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{486,244},{130,142}}</string>
        <key>offset</key>
        <string>{2,-12}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,142}}</string>
        <key>sourceSize</key>
        <string>{130,142}</string>
      </dict>
      <key>player_22006_1_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{588,126},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_22006_1_7.png</string>
      <key>size</key>
      <string>{702,513}</string>
      <key>textureFileName</key>
      <string>player_22006_1_7.png</string>
    </dict>
  </dict>
</plist>