<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_10026_1_5_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,786},{115,94}}</string>
        <key>offset</key>
        <string>{-23,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,94}}</string>
        <key>sourceSize</key>
        <string>{115,94}</string>
      </dict>
      <key>player_10026_1_5_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{343,131},{117,93}}</string>
        <key>offset</key>
        <string>{-23,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,93}}</string>
        <key>sourceSize</key>
        <string>{117,93}</string>
      </dict>
      <key>player_10026_1_5_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{225,131},{121,116}}</string>
        <key>offset</key>
        <string>{-24,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,116}}</string>
        <key>sourceSize</key>
        <string>{121,116}</string>
      </dict>
      <key>player_10026_1_5_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{118,419},{121,123}}</string>
        <key>offset</key>
        <string>{-24,84}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,123}}</string>
        <key>sourceSize</key>
        <string>{121,123}</string>
      </dict>
      <key>player_10026_1_5_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{120,673},{119,106}}</string>
        <key>offset</key>
        <string>{-24,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,106}}</string>
        <key>sourceSize</key>
        <string>{119,106}</string>
      </dict>
      <key>player_10026_1_5_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{344,0},{117,103}}</string>
        <key>offset</key>
        <string>{-21,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,103}}</string>
        <key>sourceSize</key>
        <string>{117,103}</string>
      </dict>
      <key>player_10026_1_5_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{658,0},{98,106}}</string>
        <key>offset</key>
        <string>{-23,70}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,106}}</string>
        <key>sourceSize</key>
        <string>{98,106}</string>
      </dict>
      <key>player_10026_1_5_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{557,234},{98,109}}</string>
        <key>offset</key>
        <string>{-23,72}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,109}}</string>
        <key>sourceSize</key>
        <string>{98,109}</string>
      </dict>
      <key>player_10026_1_5_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{551,607},{104,104}}</string>
        <key>offset</key>
        <string>{-24,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,104}}</string>
        <key>sourceSize</key>
        <string>{104,104}</string>
      </dict>
      <key>player_10026_1_5_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{645,116},{107,103}}</string>
        <key>offset</key>
        <string>{-24,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,103}}</string>
        <key>sourceSize</key>
        <string>{107,103}</string>
      </dict>
      <key>player_10026_1_5_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{558,467},{104,103}}</string>
        <key>offset</key>
        <string>{-24,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,103}}</string>
        <key>sourceSize</key>
        <string>{104,103}</string>
      </dict>
      <key>player_10026_1_5_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{461,354},{100,111}}</string>
        <key>offset</key>
        <string>{-21,75}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,111}}</string>
        <key>sourceSize</key>
        <string>{100,111}</string>
      </dict>
      <key>player_10026_1_5_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{449,0},{98,116}}</string>
        <key>offset</key>
        <string>{-23,80}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,116}}</string>
        <key>sourceSize</key>
        <string>{98,116}</string>
      </dict>
      <key>player_10026_1_5_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,923},{96,117}}</string>
        <key>offset</key>
        <string>{-23,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,117}}</string>
        <key>sourceSize</key>
        <string>{96,117}</string>
      </dict>
      <key>player_10026_1_5_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{356,903},{101,114}}</string>
        <key>offset</key>
        <string>{-24,80}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,114}}</string>
        <key>sourceSize</key>
        <string>{101,114}</string>
      </dict>
      <key>player_10026_1_5_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{457,238},{98,114}}</string>
        <key>offset</key>
        <string>{-24,77}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,114}}</string>
        <key>sourceSize</key>
        <string>{98,114}</string>
      </dict>
      <key>player_10026_1_5_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{541,118},{102,114}}</string>
        <key>offset</key>
        <string>{-24,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,114}}</string>
        <key>sourceSize</key>
        <string>{102,114}</string>
      </dict>
      <key>player_10026_1_5_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{119,923},{95,117}}</string>
        <key>offset</key>
        <string>{-21,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,117}}</string>
        <key>sourceSize</key>
        <string>{95,117}</string>
      </dict>
      <key>player_10026_1_5_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{549,0},{107,114}}</string>
        <key>offset</key>
        <string>{-23,78}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,114}}</string>
        <key>sourceSize</key>
        <string>{107,114}</string>
      </dict>
      <key>player_10026_1_5_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{104,144}}</string>
        <key>offset</key>
        <string>{-23,107}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,144}}</string>
        <key>sourceSize</key>
        <string>{104,144}</string>
      </dict>
      <key>player_10026_1_5_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{459,875},{103,113}}</string>
        <key>offset</key>
        <string>{-24,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,113}}</string>
        <key>sourceSize</key>
        <string>{103,113}</string>
      </dict>
      <key>player_10026_1_5_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{346,643},{98,114}}</string>
        <key>offset</key>
        <string>{-24,77}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,114}}</string>
        <key>sourceSize</key>
        <string>{98,114}</string>
      </dict>
      <key>player_10026_1_5_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{446,643},{103,114}}</string>
        <key>offset</key>
        <string>{-24,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,114}}</string>
        <key>sourceSize</key>
        <string>{103,114}</string>
      </dict>
      <key>player_10026_1_5_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{438,119},{101,117}}</string>
        <key>offset</key>
        <string>{-21,81}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,117}}</string>
        <key>sourceSize</key>
        <string>{101,117}</string>
      </dict>
      <key>player_10026_1_5_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{103,146},{120,131}}</string>
        <key>offset</key>
        <string>{-23,95}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,131}}</string>
        <key>sourceSize</key>
        <string>{120,131}</string>
      </dict>
      <key>player_10026_1_5_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,283},{118,134}}</string>
        <key>offset</key>
        <string>{-23,97}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,134}}</string>
        <key>sourceSize</key>
        <string>{118,134}</string>
      </dict>
      <key>player_10026_1_5_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,674},{118,124}}</string>
        <key>offset</key>
        <string>{-24,90}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,124}}</string>
        <key>sourceSize</key>
        <string>{118,124}</string>
      </dict>
      <key>player_10026_1_5_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{106,0},{116,129}}</string>
        <key>offset</key>
        <string>{-24,92}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,129}}</string>
        <key>sourceSize</key>
        <string>{116,129}</string>
      </dict>
      <key>player_10026_1_5_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,0},{118,129}}</string>
        <key>offset</key>
        <string>{-24,94}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,129}}</string>
        <key>sourceSize</key>
        <string>{118,129}</string>
      </dict>
      <key>player_10026_1_5_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{241,403},{118,115}}</string>
        <key>offset</key>
        <string>{-21,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,115}}</string>
        <key>sourceSize</key>
        <string>{118,115}</string>
      </dict>
      <key>player_10026_1_5_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{564,875},{113,111}}</string>
        <key>offset</key>
        <string>{-23,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,111}}</string>
        <key>sourceSize</key>
        <string>{113,111}</string>
      </dict>
      <key>player_10026_1_5_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{452,759},{114,114}}</string>
        <key>offset</key>
        <string>{-23,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,114}}</string>
        <key>sourceSize</key>
        <string>{114,114}</string>
      </dict>
      <key>player_10026_1_5_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{339,523},{118,113}}</string>
        <key>offset</key>
        <string>{-24,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,113}}</string>
        <key>sourceSize</key>
        <string>{118,113}</string>
      </dict>
      <key>player_10026_1_5_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{219,544},{118,119}}</string>
        <key>offset</key>
        <string>{-24,82}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,119}}</string>
        <key>sourceSize</key>
        <string>{118,119}</string>
      </dict>
      <key>player_10026_1_5_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{341,254},{118,114}}</string>
        <key>offset</key>
        <string>{-24,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,114}}</string>
        <key>sourceSize</key>
        <string>{118,114}</string>
      </dict>
      <key>player_10026_1_5_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{336,786},{115,114}}</string>
        <key>offset</key>
        <string>{-21,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,114}}</string>
        <key>sourceSize</key>
        <string>{115,114}</string>
      </dict>
      <key>player_10026_1_5_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{454,492},{102,113}}</string>
        <key>offset</key>
        <string>{-23,77}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,113}}</string>
        <key>sourceSize</key>
        <string>{102,113}</string>
      </dict>
      <key>player_10026_1_5_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{358,374},{101,116}}</string>
        <key>offset</key>
        <string>{-23,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,116}}</string>
        <key>sourceSize</key>
        <string>{101,116}</string>
      </dict>
      <key>player_10026_1_5_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,146},{101,135}}</string>
        <key>offset</key>
        <string>{-24,101}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,135}}</string>
        <key>sourceSize</key>
        <string>{101,135}</string>
      </dict>
      <key>player_10026_1_5_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{238,922},{100,116}}</string>
        <key>offset</key>
        <string>{-24,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,116}}</string>
        <key>sourceSize</key>
        <string>{100,116}</string>
      </dict>
      <key>player_10026_1_5_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{120,279},{102,123}}</string>
        <key>offset</key>
        <string>{-24,88}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,123}}</string>
        <key>sourceSize</key>
        <string>{102,123}</string>
      </dict>
      <key>player_10026_1_5_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,547},{98,125}}</string>
        <key>offset</key>
        <string>{-21,89}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,125}}</string>
        <key>sourceSize</key>
        <string>{98,125}</string>
      </dict>
      <key>player_10026_1_5_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{228,665},{116,119}}</string>
        <key>offset</key>
        <string>{-23,83}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,119}}</string>
        <key>sourceSize</key>
        <string>{116,119}</string>
      </dict>
      <key>player_10026_1_5_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,800},{118,121}}</string>
        <key>offset</key>
        <string>{-23,84}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,121}}</string>
        <key>sourceSize</key>
        <string>{118,121}</string>
      </dict>
      <key>player_10026_1_5_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{120,800},{118,120}}</string>
        <key>offset</key>
        <string>{-24,86}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,120}}</string>
        <key>sourceSize</key>
        <string>{118,120}</string>
      </dict>
      <key>player_10026_1_5_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,279},{115,122}}</string>
        <key>offset</key>
        <string>{-24,85}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,122}}</string>
        <key>sourceSize</key>
        <string>{115,122}</string>
      </dict>
      <key>player_10026_1_5_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,547},{117,124}}</string>
        <key>offset</key>
        <string>{-24,89}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,124}}</string>
        <key>sourceSize</key>
        <string>{117,124}</string>
      </dict>
      <key>player_10026_1_5_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,419},{116,126}}</string>
        <key>offset</key>
        <string>{-21,90}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,126}}</string>
        <key>sourceSize</key>
        <string>{116,126}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_10026_1_5.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>player_10026_1_5.png</string>
    </dict>
  </dict>
</plist>