<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_82504_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,232},{110,118}}</string>
        <key>offset</key>
        <string>{-30,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,118}}</string>
        <key>sourceSize</key>
        <string>{110,118}</string>
      </dict>
      <key>player_82504_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{114,120}}</string>
        <key>offset</key>
        <string>{-31,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,120}}</string>
        <key>sourceSize</key>
        <string>{114,120}</string>
      </dict>
      <key>player_82504_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,456},{115,117}}</string>
        <key>offset</key>
        <string>{-32,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,117}}</string>
        <key>sourceSize</key>
        <string>{115,117}</string>
      </dict>
      <key>player_82504_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{364,232},{110,118}}</string>
        <key>offset</key>
        <string>{-30,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,118}}</string>
        <key>sourceSize</key>
        <string>{110,118}</string>
      </dict>
      <key>player_82504_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,0},{114,120}}</string>
        <key>offset</key>
        <string>{-31,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,120}}</string>
        <key>sourceSize</key>
        <string>{114,120}</string>
      </dict>
      <key>player_82504_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{120,456},{115,117}}</string>
        <key>offset</key>
        <string>{-32,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,117}}</string>
        <key>sourceSize</key>
        <string>{115,117}</string>
      </dict>
      <key>player_82504_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{364,344},{110,118}}</string>
        <key>offset</key>
        <string>{-30,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,118}}</string>
        <key>sourceSize</key>
        <string>{110,118}</string>
      </dict>
      <key>player_82504_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,0},{114,120}}</string>
        <key>offset</key>
        <string>{-31,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,120}}</string>
        <key>sourceSize</key>
        <string>{114,120}</string>
      </dict>
      <key>player_82504_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,457},{115,117}}</string>
        <key>offset</key>
        <string>{-32,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,117}}</string>
        <key>sourceSize</key>
        <string>{115,117}</string>
      </dict>
      <key>player_82504_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,232},{110,118}}</string>
        <key>offset</key>
        <string>{-30,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,118}}</string>
        <key>sourceSize</key>
        <string>{110,118}</string>
      </dict>
      <key>player_82504_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{366,0},{114,120}}</string>
        <key>offset</key>
        <string>{-31,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,120}}</string>
        <key>sourceSize</key>
        <string>{114,120}</string>
      </dict>
      <key>player_82504_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{359,456},{115,117}}</string>
        <key>offset</key>
        <string>{-32,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,117}}</string>
        <key>sourceSize</key>
        <string>{115,117}</string>
      </dict>
      <key>player_82504_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{120,232},{110,118}}</string>
        <key>offset</key>
        <string>{-30,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,118}}</string>
        <key>sourceSize</key>
        <string>{110,118}</string>
      </dict>
      <key>player_82504_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{366,116},{114,120}}</string>
        <key>offset</key>
        <string>{-31,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,120}}</string>
        <key>sourceSize</key>
        <string>{114,120}</string>
      </dict>
      <key>player_82504_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{359,573},{115,117}}</string>
        <key>offset</key>
        <string>{-32,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,117}}</string>
        <key>sourceSize</key>
        <string>{115,117}</string>
      </dict>
      <key>player_82504_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{120,344},{110,118}}</string>
        <key>offset</key>
        <string>{-30,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,118}}</string>
        <key>sourceSize</key>
        <string>{110,118}</string>
      </dict>
      <key>player_82504_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,116},{114,120}}</string>
        <key>offset</key>
        <string>{-31,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,120}}</string>
        <key>sourceSize</key>
        <string>{114,120}</string>
      </dict>
      <key>player_82504_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{119,573},{115,117}}</string>
        <key>offset</key>
        <string>{-32,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,117}}</string>
        <key>sourceSize</key>
        <string>{115,117}</string>
      </dict>
      <key>player_82504_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,344},{111,118}}</string>
        <key>offset</key>
        <string>{-30,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,118}}</string>
        <key>sourceSize</key>
        <string>{111,118}</string>
      </dict>
      <key>player_82504_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,116},{114,120}}</string>
        <key>offset</key>
        <string>{-31,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,120}}</string>
        <key>sourceSize</key>
        <string>{114,120}</string>
      </dict>
      <key>player_82504_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,574},{115,117}}</string>
        <key>offset</key>
        <string>{-32,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,117}}</string>
        <key>sourceSize</key>
        <string>{115,117}</string>
      </dict>
      <key>player_82504_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,344},{110,118}}</string>
        <key>offset</key>
        <string>{-30,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,118}}</string>
        <key>sourceSize</key>
        <string>{110,118}</string>
      </dict>
      <key>player_82504_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,116},{114,120}}</string>
        <key>offset</key>
        <string>{-31,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,120}}</string>
        <key>sourceSize</key>
        <string>{114,120}</string>
      </dict>
      <key>player_82504_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{238,573},{115,117}}</string>
        <key>offset</key>
        <string>{-32,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,117}}</string>
        <key>sourceSize</key>
        <string>{115,117}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_82504_0_7.png</string>
      <key>size</key>
      <string>{512,1024}</string>
      <key>textureFileName</key>
      <string>player_82504_0_7.png</string>
    </dict>
  </dict>
</plist>