<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_82502_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{131,311},{152,127}}</string>
        <key>offset</key>
        <string>{-54,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,127}}</string>
        <key>sourceSize</key>
        <string>{152,127}</string>
      </dict>
      <key>player_82502_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,156},{153,134}}</string>
        <key>offset</key>
        <string>{-54,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,134}}</string>
        <key>sourceSize</key>
        <string>{153,134}</string>
      </dict>
      <key>player_82502_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{154,135}}</string>
        <key>offset</key>
        <string>{-55,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,135}}</string>
        <key>sourceSize</key>
        <string>{154,135}</string>
      </dict>
      <key>player_82502_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{271,147},{124,143}}</string>
        <key>offset</key>
        <string>{-51,106}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,143}}</string>
        <key>sourceSize</key>
        <string>{124,143}</string>
      </dict>
      <key>player_82502_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{269,0},{124,145}}</string>
        <key>offset</key>
        <string>{-51,108}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,145}}</string>
        <key>sourceSize</key>
        <string>{124,145}</string>
      </dict>
      <key>player_82502_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{521,0},{125,136}}</string>
        <key>offset</key>
        <string>{-52,99}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,136}}</string>
        <key>sourceSize</key>
        <string>{125,136}</string>
      </dict>
      <key>player_82502_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{715,136},{78,133}}</string>
        <key>offset</key>
        <string>{-22,98}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,133}}</string>
        <key>sourceSize</key>
        <string>{78,133}</string>
      </dict>
      <key>player_82502_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{613,425},{81,135}}</string>
        <key>offset</key>
        <string>{-23,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,135}}</string>
        <key>sourceSize</key>
        <string>{81,135}</string>
      </dict>
      <key>player_82502_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{624,138},{89,134}}</string>
        <key>offset</key>
        <string>{-23,99}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,134}}</string>
        <key>sourceSize</key>
        <string>{89,134}</string>
      </dict>
      <key>player_82502_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,288},{111,140}}</string>
        <key>offset</key>
        <string>{-38,107}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,140}}</string>
        <key>sourceSize</key>
        <string>{111,140}</string>
      </dict>
      <key>player_82502_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{386,292},{112,141}}</string>
        <key>offset</key>
        <string>{-39,108}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,141}}</string>
        <key>sourceSize</key>
        <string>{112,141}</string>
      </dict>
      <key>player_82502_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{740,271},{114,132}}</string>
        <key>offset</key>
        <string>{-40,102}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,132}}</string>
        <key>sourceSize</key>
        <string>{114,132}</string>
      </dict>
      <key>player_82502_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{136,156},{151,133}}</string>
        <key>offset</key>
        <string>{-51,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,133}}</string>
        <key>sourceSize</key>
        <string>{151,133}</string>
      </dict>
      <key>player_82502_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{137,0},{151,130}}</string>
        <key>offset</key>
        <string>{-51,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,130}}</string>
        <key>sourceSize</key>
        <string>{151,130}</string>
      </dict>
      <key>player_82502_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,311},{153,129}}</string>
        <key>offset</key>
        <string>{-52,100}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,129}}</string>
        <key>sourceSize</key>
        <string>{153,129}</string>
      </dict>
      <key>player_82502_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{397,145},{111,141}}</string>
        <key>offset</key>
        <string>{-24,106}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,141}}</string>
        <key>sourceSize</key>
        <string>{111,141}</string>
      </dict>
      <key>player_82502_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{510,145},{112,140}}</string>
        <key>offset</key>
        <string>{-24,107}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,140}}</string>
        <key>sourceSize</key>
        <string>{112,140}</string>
      </dict>
      <key>player_82502_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{648,0},{114,134}}</string>
        <key>offset</key>
        <string>{-25,101}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,134}}</string>
        <key>sourceSize</key>
        <string>{114,134}</string>
      </dict>
      <key>player_82502_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{795,135},{80,132}}</string>
        <key>offset</key>
        <string>{-4,92}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,132}}</string>
        <key>sourceSize</key>
        <string>{80,132}</string>
      </dict>
      <key>player_82502_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{386,435},{73,134}}</string>
        <key>offset</key>
        <string>{-3,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,134}}</string>
        <key>sourceSize</key>
        <string>{73,134}</string>
      </dict>
      <key>player_82502_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{764,0},{72,133}}</string>
        <key>offset</key>
        <string>{-3,93}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,133}}</string>
        <key>sourceSize</key>
        <string>{72,133}</string>
      </dict>
      <key>player_82502_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{395,0},{124,143}}</string>
        <key>offset</key>
        <string>{-26,106}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,143}}</string>
        <key>sourceSize</key>
        <string>{124,143}</string>
      </dict>
      <key>player_82502_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{260,309},{124,144}}</string>
        <key>offset</key>
        <string>{-26,108}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,144}}</string>
        <key>sourceSize</key>
        <string>{124,144}</string>
      </dict>
      <key>player_82502_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{613,287},{125,136}}</string>
        <key>offset</key>
        <string>{-27,99}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,136}}</string>
        <key>sourceSize</key>
        <string>{125,136}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_82502_0_7.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>player_82502_0_7.png</string>
    </dict>
  </dict>
</plist>