<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_10022_1_3_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{155,589},{68,180}}</string>
        <key>offset</key>
        <string>{2,152}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,180}}</string>
        <key>sourceSize</key>
        <string>{68,180}</string>
      </dict>
      <key>player_10022_1_3_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{232,0},{70,182}}</string>
        <key>offset</key>
        <string>{-1,154}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,182}}</string>
        <key>sourceSize</key>
        <string>{70,182}</string>
      </dict>
      <key>player_10022_1_3_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,366},{73,175}}</string>
        <key>offset</key>
        <string>{-4,147}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,175}}</string>
        <key>sourceSize</key>
        <string>{73,175}</string>
      </dict>
      <key>player_10022_1_3_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{458,501},{80,156}}</string>
        <key>offset</key>
        <string>{-6,130}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,156}}</string>
        <key>sourceSize</key>
        <string>{80,156}</string>
      </dict>
      <key>player_10022_1_3_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{149,194},{82,184}}</string>
        <key>offset</key>
        <string>{-4,158}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,184}}</string>
        <key>sourceSize</key>
        <string>{82,184}</string>
      </dict>
      <key>player_10022_1_3_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{540,490},{73,136}}</string>
        <key>offset</key>
        <string>{1,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,136}}</string>
        <key>sourceSize</key>
        <string>{73,136}</string>
      </dict>
      <key>player_10022_1_3_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{413,845},{100,157}}</string>
        <key>offset</key>
        <string>{-8,129}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,157}}</string>
        <key>sourceSize</key>
        <string>{100,157}</string>
      </dict>
      <key>player_10022_1_3_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{315,353},{79,166}}</string>
        <key>offset</key>
        <string>{-7,138}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,166}}</string>
        <key>sourceSize</key>
        <string>{79,166}</string>
      </dict>
      <key>player_10022_1_3_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{225,562},{72,176}}</string>
        <key>offset</key>
        <string>{-4,148}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,176}}</string>
        <key>sourceSize</key>
        <string>{72,176}</string>
      </dict>
      <key>player_10022_1_3_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{310,712},{81,163}}</string>
        <key>offset</key>
        <string>{-9,135}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,163}}</string>
        <key>sourceSize</key>
        <string>{81,163}</string>
      </dict>
      <key>player_10022_1_3_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,800},{79,186}}</string>
        <key>offset</key>
        <string>{2,158}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,186}}</string>
        <key>sourceSize</key>
        <string>{79,186}</string>
      </dict>
      <key>player_10022_1_3_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{576,149},{132,115}}</string>
        <key>offset</key>
        <string>{-2,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,115}}</string>
        <key>sourceSize</key>
        <string>{132,115}</string>
      </dict>
      <key>player_10022_1_3_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,0},{91,131}}</string>
        <key>offset</key>
        <string>{-4,104}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,131}}</string>
        <key>sourceSize</key>
        <string>{91,131}</string>
      </dict>
      <key>player_10022_1_3_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{528,0},{70,147}}</string>
        <key>offset</key>
        <string>{0,120}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,147}}</string>
        <key>sourceSize</key>
        <string>{70,147}</string>
      </dict>
      <key>player_10022_1_3_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,740},{64,169}}</string>
        <key>offset</key>
        <string>{6,142}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,169}}</string>
        <key>sourceSize</key>
        <string>{64,169}</string>
      </dict>
      <key>player_10022_1_3_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{155,796},{87,181}}</string>
        <key>offset</key>
        <string>{-20,154}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,181}}</string>
        <key>sourceSize</key>
        <string>{87,181}</string>
      </dict>
      <key>player_10022_1_3_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{158,0},{72,184}}</string>
        <key>offset</key>
        <string>{5,157}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,184}}</string>
        <key>sourceSize</key>
        <string>{72,184}</string>
      </dict>
      <key>player_10022_1_3_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,340},{159,80}}</string>
        <key>offset</key>
        <string>{4,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,80}}</string>
        <key>sourceSize</key>
        <string>{159,80}</string>
      </dict>
      <key>player_10022_1_3_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{615,456},{73,108}}</string>
        <key>offset</key>
        <string>{-4,85}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,108}}</string>
        <key>sourceSize</key>
        <string>{73,108}</string>
      </dict>
      <key>player_10022_1_3_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{693,0},{73,130}}</string>
        <key>offset</key>
        <string>{-4,107}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,130}}</string>
        <key>sourceSize</key>
        <string>{73,130}</string>
      </dict>
      <key>player_10022_1_3_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{393,684},{75,159}}</string>
        <key>offset</key>
        <string>{-6,136}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,159}}</string>
        <key>sourceSize</key>
        <string>{75,159}</string>
      </dict>
      <key>player_10022_1_3_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,408},{78,198}}</string>
        <key>offset</key>
        <string>{-10,175}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,198}}</string>
        <key>sourceSize</key>
        <string>{78,198}</string>
      </dict>
      <key>player_10022_1_3_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{304,0},{67,177}}</string>
        <key>offset</key>
        <string>{5,154}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,177}}</string>
        <key>sourceSize</key>
        <string>{67,177}</string>
      </dict>
      <key>player_10022_1_3_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{589,628},{114,76}}</string>
        <key>offset</key>
        <string>{2,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,76}}</string>
        <key>sourceSize</key>
        <string>{114,76}</string>
      </dict>
      <key>player_10022_1_3_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{515,928},{88,115}}</string>
        <key>offset</key>
        <string>{-18,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,115}}</string>
        <key>sourceSize</key>
        <string>{88,115}</string>
      </dict>
      <key>player_10022_1_3_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{515,800},{89,126}}</string>
        <key>offset</key>
        <string>{-19,100}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,126}}</string>
        <key>sourceSize</key>
        <string>{89,126}</string>
      </dict>
      <key>player_10022_1_3_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{373,521},{83,161}}</string>
        <key>offset</key>
        <string>{-11,135}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,161}}</string>
        <key>sourceSize</key>
        <string>{83,161}</string>
      </dict>
      <key>player_10022_1_3_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,205},{73,201}}</string>
        <key>offset</key>
        <string>{-1,175}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,201}}</string>
        <key>sourceSize</key>
        <string>{73,201}</string>
      </dict>
      <key>player_10022_1_3_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{161,380},{77,180}}</string>
        <key>offset</key>
        <string>{-4,154}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,180}}</string>
        <key>sourceSize</key>
        <string>{77,180}</string>
      </dict>
      <key>player_10022_1_3_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{606,744},{85,95}}</string>
        <key>offset</key>
        <string>{-14,52}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,95}}</string>
        <key>sourceSize</key>
        <string>{85,95}</string>
      </dict>
      <key>player_10022_1_3_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{575,318},{114,136}}</string>
        <key>offset</key>
        <string>{-42,108}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,136}}</string>
        <key>sourceSize</key>
        <string>{114,136}</string>
      </dict>
      <key>player_10022_1_3_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{478,340},{95,148}}</string>
        <key>offset</key>
        <string>{-22,120}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,148}}</string>
        <key>sourceSize</key>
        <string>{95,148}</string>
      </dict>
      <key>player_10022_1_3_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{299,543},{72,167}}</string>
        <key>offset</key>
        <string>{3,139}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,167}}</string>
        <key>sourceSize</key>
        <string>{72,167}</string>
      </dict>
      <key>player_10022_1_3_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{76,203}}</string>
        <key>offset</key>
        <string>{2,175}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,203}}</string>
        <key>sourceSize</key>
        <string>{76,203}</string>
      </dict>
      <key>player_10022_1_3_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,608},{77,190}}</string>
        <key>offset</key>
        <string>{-2,162}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,190}}</string>
        <key>sourceSize</key>
        <string>{77,190}</string>
      </dict>
      <key>player_10022_1_3_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{494,168},{148,80}}</string>
        <key>offset</key>
        <string>{-78,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,80}}</string>
        <key>sourceSize</key>
        <string>{148,80}</string>
      </dict>
      <key>player_10022_1_3_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{380,172},{112,166}}</string>
        <key>offset</key>
        <string>{-38,139}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,166}}</string>
        <key>sourceSize</key>
        <string>{112,166}</string>
      </dict>
      <key>player_10022_1_3_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,911},{95,167}}</string>
        <key>offset</key>
        <string>{-21,140}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,167}}</string>
        <key>sourceSize</key>
        <string>{95,167}</string>
      </dict>
      <key>player_10022_1_3_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{373,0},{75,170}}</string>
        <key>offset</key>
        <string>{2,143}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,170}}</string>
        <key>sourceSize</key>
        <string>{75,170}</string>
      </dict>
      <key>player_10022_1_3_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{79,608},{74,186}}</string>
        <key>offset</key>
        <string>{4,159}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,186}}</string>
        <key>sourceSize</key>
        <string>{74,186}</string>
      </dict>
      <key>player_10022_1_3_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{78,0},{78,192}}</string>
        <key>offset</key>
        <string>{-2,165}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,192}}</string>
        <key>sourceSize</key>
        <string>{78,192}</string>
      </dict>
      <key>player_10022_1_3_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{80,401},{186,79}}</string>
        <key>offset</key>
        <string>{-116,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{186,79}}</string>
        <key>sourceSize</key>
        <string>{186,79}</string>
      </dict>
      <key>player_10022_1_3_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{81,796},{72,182}}</string>
        <key>offset</key>
        <string>{1,158}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,182}}</string>
        <key>sourceSize</key>
        <string>{72,182}</string>
      </dict>
      <key>player_10022_1_3_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{233,184},{71,180}}</string>
        <key>offset</key>
        <string>{2,155}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,180}}</string>
        <key>sourceSize</key>
        <string>{71,180}</string>
      </dict>
      <key>player_10022_1_3_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{306,179},{72,172}}</string>
        <key>offset</key>
        <string>{3,147}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,172}}</string>
        <key>sourceSize</key>
        <string>{72,172}</string>
      </dict>
      <key>player_10022_1_3_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,0},{76,166}}</string>
        <key>offset</key>
        <string>{2,141}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,166}}</string>
        <key>sourceSize</key>
        <string>{76,166}</string>
      </dict>
      <key>player_10022_1_3_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{75,205},{72,194}}</string>
        <key>offset</key>
        <string>{3,169}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,194}}</string>
        <key>sourceSize</key>
        <string>{72,194}</string>
      </dict>
      <key>player_10022_1_3_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{470,659},{139,117}}</string>
        <key>offset</key>
        <string>{-67,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,117}}</string>
        <key>sourceSize</key>
        <string>{139,117}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_10022_1_3.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>player_10022_1_3.png</string>
    </dict>
  </dict>
</plist>