<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_10058_1_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{756,0},{193,133}}</string>
        <key>offset</key>
        <string>{-81,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{193,133}}</string>
        <key>sourceSize</key>
        <string>{193,133}</string>
      </dict>
      <key>player_10058_1_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{216,154}}</string>
        <key>offset</key>
        <string>{-82,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{216,154}}</string>
        <key>sourceSize</key>
        <string>{216,154}</string>
      </dict>
      <key>player_10058_1_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,434},{209,147}}</string>
        <key>offset</key>
        <string>{-79,109}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{209,147}}</string>
        <key>sourceSize</key>
        <string>{209,147}</string>
      </dict>
      <key>player_10058_1_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{404,621},{140,185}}</string>
        <key>offset</key>
        <string>{-72,137}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,185}}</string>
        <key>sourceSize</key>
        <string>{140,185}</string>
      </dict>
      <key>player_10058_1_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,633},{124,194}}</string>
        <key>offset</key>
        <string>{-39,141}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,194}}</string>
        <key>sourceSize</key>
        <string>{124,194}</string>
      </dict>
      <key>player_10058_1_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{756,195},{117,191}}</string>
        <key>offset</key>
        <string>{-35,140}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,191}}</string>
        <key>sourceSize</key>
        <string>{117,191}</string>
      </dict>
      <key>player_10058_1_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{148,218},{92,206}}</string>
        <key>offset</key>
        <string>{-45,147}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,206}}</string>
        <key>sourceSize</key>
        <string>{92,206}</string>
      </dict>
      <key>player_10058_1_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{149,426},{112,205}}</string>
        <key>offset</key>
        <string>{-22,140}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,205}}</string>
        <key>sourceSize</key>
        <string>{112,205}</string>
      </dict>
      <key>player_10058_1_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,0},{104,204}}</string>
        <key>offset</key>
        <string>{-22,142}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,204}}</string>
        <key>sourceSize</key>
        <string>{104,204}</string>
      </dict>
      <key>player_10058_1_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{409,412},{182,202}}</string>
        <key>offset</key>
        <string>{-84,147}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{182,202}}</string>
        <key>sourceSize</key>
        <string>{182,202}</string>
      </dict>
      <key>player_10058_1_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,0},{206,172}}</string>
        <key>offset</key>
        <string>{-76,110}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{206,172}}</string>
        <key>sourceSize</key>
        <string>{206,172}</string>
      </dict>
      <key>player_10058_1_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{593,399},{193,175}}</string>
        <key>offset</key>
        <string>{-68,117}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{193,175}}</string>
        <key>sourceSize</key>
        <string>{193,175}</string>
      </dict>
      <key>player_10058_1_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{583,203},{194,171}}</string>
        <key>offset</key>
        <string>{-62,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{194,171}}</string>
        <key>sourceSize</key>
        <string>{194,171}</string>
      </dict>
      <key>player_10058_1_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,218},{214,146}}</string>
        <key>offset</key>
        <string>{-84,100}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{214,146}}</string>
        <key>sourceSize</key>
        <string>{214,146}</string>
      </dict>
      <key>player_10058_1_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{263,415},{204,144}}</string>
        <key>offset</key>
        <string>{-79,101}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{204,144}}</string>
        <key>sourceSize</key>
        <string>{204,144}</string>
      </dict>
      <key>player_10058_1_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{416,206},{165,202}}</string>
        <key>offset</key>
        <string>{-32,147}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{165,202}}</string>
        <key>sourceSize</key>
        <string>{165,202}</string>
      </dict>
      <key>player_10058_1_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{436,0},{201,172}}</string>
        <key>offset</key>
        <string>{-77,110}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{201,172}}</string>
        <key>sourceSize</key>
        <string>{201,172}</string>
      </dict>
      <key>player_10058_1_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{722,576},{185,175}}</string>
        <key>offset</key>
        <string>{-69,117}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{185,175}}</string>
        <key>sourceSize</key>
        <string>{185,175}</string>
      </dict>
      <key>player_10058_1_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,645},{91,206}}</string>
        <key>offset</key>
        <string>{2,147}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,206}}</string>
        <key>sourceSize</key>
        <string>{91,206}</string>
      </dict>
      <key>player_10058_1_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{242,208},{89,205}}</string>
        <key>offset</key>
        <string>{-19,140}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,205}}</string>
        <key>sourceSize</key>
        <string>{89,205}</string>
      </dict>
      <key>player_10058_1_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{333,206},{81,204}}</string>
        <key>offset</key>
        <string>{-9,142}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,204}}</string>
        <key>sourceSize</key>
        <string>{81,204}</string>
      </dict>
      <key>player_10058_1_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{788,388},{148,185}}</string>
        <key>offset</key>
        <string>{-20,137}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,185}}</string>
        <key>sourceSize</key>
        <string>{148,185}</string>
      </dict>
      <key>player_10058_1_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{610,0},{129,194}}</string>
        <key>offset</key>
        <string>{-35,141}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,194}}</string>
        <key>sourceSize</key>
        <string>{129,194}</string>
      </dict>
      <key>player_10058_1_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{593,576},{127,191}}</string>
        <key>offset</key>
        <string>{-32,140}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,191}}</string>
        <key>sourceSize</key>
        <string>{127,191}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_10058_1_7.png</string>
      <key>size</key>
      <string>{959,769}</string>
      <key>textureFileName</key>
      <string>player_10058_1_7.png</string>
    </dict>
  </dict>
</plist>