<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_10044_0_10_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{661,308},{139,145}}</string>
        <key>offset</key>
        <string>{-43,104}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,145}}</string>
        <key>sourceSize</key>
        <string>{139,145}</string>
      </dict>
      <key>player_10044_0_10_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1004,0},{126,127}}</string>
        <key>offset</key>
        <string>{-51,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,127}}</string>
        <key>sourceSize</key>
        <string>{126,127}</string>
      </dict>
      <key>player_10044_0_10_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{252,537},{162,158}}</string>
        <key>offset</key>
        <string>{-51,116}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{162,158}}</string>
        <key>sourceSize</key>
        <string>{162,158}</string>
      </dict>
      <key>player_10044_0_10_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{798,626},{130,140}}</string>
        <key>offset</key>
        <string>{-19,110}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,140}}</string>
        <key>sourceSize</key>
        <string>{130,140}</string>
      </dict>
      <key>player_10044_0_10_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{940,626},{124,139}}</string>
        <key>offset</key>
        <string>{-13,101}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,139}}</string>
        <key>sourceSize</key>
        <string>{124,139}</string>
      </dict>
      <key>player_10044_0_10_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{309,0},{170,141}}</string>
        <key>offset</key>
        <string>{-44,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,141}}</string>
        <key>sourceSize</key>
        <string>{170,141}</string>
      </dict>
      <key>player_10044_0_10_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{854,0},{126,148}}</string>
        <key>offset</key>
        <string>{-34,114}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,148}}</string>
        <key>sourceSize</key>
        <string>{126,148}</string>
      </dict>
      <key>player_10044_0_10_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{948,390},{133,139}}</string>
        <key>offset</key>
        <string>{-56,107}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,139}}</string>
        <key>sourceSize</key>
        <string>{133,139}</string>
      </dict>
      <key>player_10044_0_10_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{601,157},{138,149}}</string>
        <key>offset</key>
        <string>{-30,114}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,149}}</string>
        <key>sourceSize</key>
        <string>{138,149}</string>
      </dict>
      <key>player_10044_0_10_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{667,615},{143,129}}</string>
        <key>offset</key>
        <string>{-14,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,129}}</string>
        <key>sourceSize</key>
        <string>{143,129}</string>
      </dict>
      <key>player_10044_0_10_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{412,486},{153,137}}</string>
        <key>offset</key>
        <string>{-19,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,137}}</string>
        <key>sourceSize</key>
        <string>{153,137}</string>
      </dict>
      <key>player_10044_0_10_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{149,0},{174,158}}</string>
        <key>offset</key>
        <string>{-55,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{174,158}}</string>
        <key>sourceSize</key>
        <string>{174,158}</string>
      </dict>
      <key>player_10044_0_10_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{265,351},{155,140}}</string>
        <key>offset</key>
        <string>{-46,103}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,140}}</string>
        <key>sourceSize</key>
        <string>{155,140}</string>
      </dict>
      <key>player_10044_0_10_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{370,172},{155,126}}</string>
        <key>offset</key>
        <string>{-17,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,126}}</string>
        <key>sourceSize</key>
        <string>{155,126}</string>
      </dict>
      <key>player_10044_0_10_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{854,128},{147,132}}</string>
        <key>offset</key>
        <string>{-30,98}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,132}}</string>
        <key>sourceSize</key>
        <string>{147,132}</string>
      </dict>
      <key>player_10044_0_10_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{216,176},{173,152}}</string>
        <key>offset</key>
        <string>{-32,103}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{173,152}}</string>
        <key>sourceSize</key>
        <string>{173,152}</string>
      </dict>
      <key>player_10044_0_10_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{180,147}}</string>
        <key>offset</key>
        <string>{-54,103}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,147}}</string>
        <key>sourceSize</key>
        <string>{180,147}</string>
      </dict>
      <key>player_10044_0_10_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{802,262},{126,145}}</string>
        <key>offset</key>
        <string>{-23,111}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,145}}</string>
        <key>sourceSize</key>
        <string>{126,145}</string>
      </dict>
      <key>player_10044_0_10_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{273,701},{159,119}}</string>
        <key>offset</key>
        <string>{-37,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,119}}</string>
        <key>sourceSize</key>
        <string>{159,119}</string>
      </dict>
      <key>player_10044_0_10_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{713,0},{149,139}}</string>
        <key>offset</key>
        <string>{-8,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{149,139}}</string>
        <key>sourceSize</key>
        <string>{149,139}</string>
      </dict>
      <key>player_10044_0_10_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,888},{166,111}}</string>
        <key>offset</key>
        <string>{-30,80}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{166,111}}</string>
        <key>sourceSize</key>
        <string>{166,111}</string>
      </dict>
      <key>player_10044_0_10_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,719},{167,137}}</string>
        <key>offset</key>
        <string>{-49,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,137}}</string>
        <key>sourceSize</key>
        <string>{167,137}</string>
      </dict>
      <key>player_10044_0_10_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{452,0},{155,140}}</string>
        <key>offset</key>
        <string>{-43,104}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,140}}</string>
        <key>sourceSize</key>
        <string>{155,140}</string>
      </dict>
      <key>player_10044_0_10_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{139,719},{163,132}}</string>
        <key>offset</key>
        <string>{-39,101}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,132}}</string>
        <key>sourceSize</key>
        <string>{163,132}</string>
      </dict>
      <key>player_10044_0_10_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{798,758},{139,140}}</string>
        <key>offset</key>
        <string>{-7,107}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,140}}</string>
        <key>sourceSize</key>
        <string>{139,140}</string>
      </dict>
      <key>player_10044_0_10_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1003,128},{133,129}}</string>
        <key>offset</key>
        <string>{-10,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,129}}</string>
        <key>sourceSize</key>
        <string>{133,129}</string>
      </dict>
      <key>player_10044_0_10_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{940,767},{137,130}}</string>
        <key>offset</key>
        <string>{-10,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,130}}</string>
        <key>sourceSize</key>
        <string>{137,130}</string>
      </dict>
      <key>player_10044_0_10_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{168,884},{163,125}}</string>
        <key>offset</key>
        <string>{-44,88}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,125}}</string>
        <key>sourceSize</key>
        <string>{163,125}</string>
      </dict>
      <key>player_10044_0_10_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{394,701},{156,134}}</string>
        <key>offset</key>
        <string>{-39,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,134}}</string>
        <key>sourceSize</key>
        <string>{156,134}</string>
      </dict>
      <key>player_10044_0_10_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{146,537},{163,104}}</string>
        <key>offset</key>
        <string>{-26,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,104}}</string>
        <key>sourceSize</key>
        <string>{163,104}</string>
      </dict>
      <key>player_10044_0_10_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{407,329},{115,155}}</string>
        <key>offset</key>
        <string>{-5,114}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,155}}</string>
        <key>sourceSize</key>
        <string>{115,155}</string>
      </dict>
      <key>player_10044_0_10_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{456,859},{156,110}}</string>
        <key>offset</key>
        <string>{-31,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,110}}</string>
        <key>sourceSize</key>
        <string>{156,110}</string>
      </dict>
      <key>player_10044_0_10_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{498,157},{101,155}}</string>
        <key>offset</key>
        <string>{-16,102}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,155}}</string>
        <key>sourceSize</key>
        <string>{101,155}</string>
      </dict>
      <key>player_10044_0_10_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,182},{179,99}}</string>
        <key>offset</key>
        <string>{-58,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{179,99}}</string>
        <key>sourceSize</key>
        <string>{179,99}</string>
      </dict>
      <key>player_10044_0_10_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,363},{178,117}}</string>
        <key>offset</key>
        <string>{-56,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{178,117}}</string>
        <key>sourceSize</key>
        <string>{178,117}</string>
      </dict>
      <key>player_10044_0_10_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{798,495},{143,129}}</string>
        <key>offset</key>
        <string>{-16,94}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,129}}</string>
        <key>sourceSize</key>
        <string>{143,129}</string>
      </dict>
      <key>player_10044_0_10_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{530,641},{147,135}}</string>
        <key>offset</key>
        <string>{-15,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,135}}</string>
        <key>sourceSize</key>
        <string>{147,135}</string>
      </dict>
      <key>player_10044_0_10_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{594,0},{155,117}}</string>
        <key>offset</key>
        <string>{-58,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,117}}</string>
        <key>sourceSize</key>
        <string>{155,117}</string>
      </dict>
      <key>player_10044_0_10_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{551,467},{146,145}}</string>
        <key>offset</key>
        <string>{-36,100}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,145}}</string>
        <key>sourceSize</key>
        <string>{146,145}</string>
      </dict>
      <key>player_10044_0_10_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{101,182},{177,113}}</string>
        <key>offset</key>
        <string>{-69,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{177,113}}</string>
        <key>sourceSize</key>
        <string>{177,113}</string>
      </dict>
      <key>player_10044_0_10_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{333,862},{157,121}}</string>
        <key>offset</key>
        <string>{-37,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{157,121}}</string>
        <key>sourceSize</key>
        <string>{157,121}</string>
      </dict>
      <key>player_10044_0_10_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{802,390},{103,144}}</string>
        <key>offset</key>
        <string>{-12,108}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,144}}</string>
        <key>sourceSize</key>
        <string>{103,144}</string>
      </dict>
      <key>player_10044_0_10_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,543},{174,144}}</string>
        <key>offset</key>
        <string>{-55,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{174,144}}</string>
        <key>sourceSize</key>
        <string>{174,144}</string>
      </dict>
      <key>player_10044_0_10_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1133,0},{110,126}}</string>
        <key>offset</key>
        <string>{-42,83}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,126}}</string>
        <key>sourceSize</key>
        <string>{110,126}</string>
      </dict>
      <key>player_10044_0_10_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{119,361},{174,144}}</string>
        <key>offset</key>
        <string>{-54,97}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{174,144}}</string>
        <key>sourceSize</key>
        <string>{174,144}</string>
      </dict>
      <key>player_10044_0_10_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{568,790},{140,144}}</string>
        <key>offset</key>
        <string>{-36,111}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,144}}</string>
        <key>sourceSize</key>
        <string>{140,144}</string>
      </dict>
      <key>player_10044_0_10_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1066,531},{133,134}}</string>
        <key>offset</key>
        <string>{-26,98}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,134}}</string>
        <key>sourceSize</key>
        <string>{133,134}</string>
      </dict>
      <key>player_10044_0_10_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{524,314},{135,151}}</string>
        <key>offset</key>
        <string>{-20,107}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,151}}</string>
        <key>sourceSize</key>
        <string>{135,151}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_10044_0_10.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>player_10044_0_10.png</string>
    </dict>
  </dict>
</plist>