<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_10007_0_5_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,200},{84,189}}</string>
        <key>offset</key>
        <string>{0,140}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,189}}</string>
        <key>sourceSize</key>
        <string>{84,189}</string>
      </dict>
      <key>player_10007_0_5_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{371,939},{82,113}}</string>
        <key>offset</key>
        <string>{3,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,113}}</string>
        <key>sourceSize</key>
        <string>{82,113}</string>
      </dict>
      <key>player_10007_0_5_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{486,939},{83,110}}</string>
        <key>offset</key>
        <string>{1,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,110}}</string>
        <key>sourceSize</key>
        <string>{83,110}</string>
      </dict>
      <key>player_10007_0_5_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{287,496},{84,151}}</string>
        <key>offset</key>
        <string>{-1,111}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,151}}</string>
        <key>sourceSize</key>
        <string>{84,151}</string>
      </dict>
      <key>player_10007_0_5_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{83,198}}</string>
        <key>offset</key>
        <string>{1,157}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,198}}</string>
        <key>sourceSize</key>
        <string>{83,198}</string>
      </dict>
      <key>player_10007_0_5_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,578},{84,179}}</string>
        <key>offset</key>
        <string>{2,136}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,179}}</string>
        <key>sourceSize</key>
        <string>{84,179}</string>
      </dict>
      <key>player_10007_0_5_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{93,926},{87,167}}</string>
        <key>offset</key>
        <string>{2,114}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,167}}</string>
        <key>sourceSize</key>
        <string>{87,167}</string>
      </dict>
      <key>player_10007_0_5_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{497,142},{136,105}}</string>
        <key>offset</key>
        <string>{-30,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,105}}</string>
        <key>sourceSize</key>
        <string>{136,105}</string>
      </dict>
      <key>player_10007_0_5_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{604,137},{120,102}}</string>
        <key>offset</key>
        <string>{-16,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,102}}</string>
        <key>sourceSize</key>
        <string>{120,102}</string>
      </dict>
      <key>player_10007_0_5_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{262,873},{107,147}}</string>
        <key>offset</key>
        <string>{-1,102}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,147}}</string>
        <key>sourceSize</key>
        <string>{107,147}</string>
      </dict>
      <key>player_10007_0_5_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{86,190},{86,180}}</string>
        <key>offset</key>
        <string>{4,139}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,180}}</string>
        <key>sourceSize</key>
        <string>{86,180}</string>
      </dict>
      <key>player_10007_0_5_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,190},{94,171}}</string>
        <key>offset</key>
        <string>{-4,133}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,171}}</string>
        <key>sourceSize</key>
        <string>{94,171}</string>
      </dict>
      <key>player_10007_0_5_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{404,0},{117,140}}</string>
        <key>offset</key>
        <string>{-6,91}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,140}}</string>
        <key>sourceSize</key>
        <string>{117,140}</string>
      </dict>
      <key>player_10007_0_5_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{86,578},{174,95}}</string>
        <key>offset</key>
        <string>{-64,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{174,95}}</string>
        <key>sourceSize</key>
        <string>{174,95}</string>
      </dict>
      <key>player_10007_0_5_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,391},{185,97}}</string>
        <key>offset</key>
        <string>{-56,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{185,97}}</string>
        <key>sourceSize</key>
        <string>{185,97}</string>
      </dict>
      <key>player_10007_0_5_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{93,754},{170,98}}</string>
        <key>offset</key>
        <string>{-29,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,98}}</string>
        <key>sourceSize</key>
        <string>{170,98}</string>
      </dict>
      <key>player_10007_0_5_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{284,336},{105,158}}</string>
        <key>offset</key>
        <string>{0,113}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,158}}</string>
        <key>sourceSize</key>
        <string>{105,158}</string>
      </dict>
      <key>player_10007_0_5_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{178,0},{113,171}}</string>
        <key>offset</key>
        <string>{-19,125}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,171}}</string>
        <key>sourceSize</key>
        <string>{113,171}</string>
      </dict>
      <key>player_10007_0_5_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{809,211},{106,98}}</string>
        <key>offset</key>
        <string>{-14,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,98}}</string>
        <key>sourceSize</key>
        <string>{106,98}</string>
      </dict>
      <key>player_10007_0_5_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{299,649},{143,141}}</string>
        <key>offset</key>
        <string>{-50,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,141}}</string>
        <key>sourceSize</key>
        <string>{143,141}</string>
      </dict>
      <key>player_10007_0_5_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{510,785},{141,104}}</string>
        <key>offset</key>
        <string>{-49,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,104}}</string>
        <key>sourceSize</key>
        <string>{141,104}</string>
      </dict>
      <key>player_10007_0_5_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{492,305},{138,100}}</string>
        <key>offset</key>
        <string>{-34,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,100}}</string>
        <key>sourceSize</key>
        <string>{138,100}</string>
      </dict>
      <key>player_10007_0_5_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{708,118},{99,113}}</string>
        <key>offset</key>
        <string>{-7,76}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,113}}</string>
        <key>sourceSize</key>
        <string>{99,113}</string>
      </dict>
      <key>player_10007_0_5_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{183,547},{102,164}}</string>
        <key>offset</key>
        <string>{-10,113}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,164}}</string>
        <key>sourceSize</key>
        <string>{102,164}</string>
      </dict>
      <key>player_10007_0_5_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{932,0},{89,99}}</string>
        <key>offset</key>
        <string>{-4,62}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,99}}</string>
        <key>sourceSize</key>
        <string>{89,99}</string>
      </dict>
      <key>player_10007_0_5_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{442,641},{89,142}}</string>
        <key>offset</key>
        <string>{-3,88}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,142}}</string>
        <key>sourceSize</key>
        <string>{89,142}</string>
      </dict>
      <key>player_10007_0_5_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{728,0},{87,113}}</string>
        <key>offset</key>
        <string>{-2,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,113}}</string>
        <key>sourceSize</key>
        <string>{87,113}</string>
      </dict>
      <key>player_10007_0_5_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{927,109},{95,99}}</string>
        <key>offset</key>
        <string>{-10,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,99}}</string>
        <key>sourceSize</key>
        <string>{95,99}</string>
      </dict>
      <key>player_10007_0_5_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{927,210},{95,97}}</string>
        <key>offset</key>
        <string>{-10,64}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,97}}</string>
        <key>sourceSize</key>
        <string>{95,97}</string>
      </dict>
      <key>player_10007_0_5_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{373,496},{86,143}}</string>
        <key>offset</key>
        <string>{-1,96}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,143}}</string>
        <key>sourceSize</key>
        <string>{86,143}</string>
      </dict>
      <key>player_10007_0_5_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{625,0},{116,101}}</string>
        <key>offset</key>
        <string>{-36,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,101}}</string>
        <key>sourceSize</key>
        <string>{116,101}</string>
      </dict>
      <key>player_10007_0_5_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{533,587},{134,110}}</string>
        <key>offset</key>
        <string>{-52,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,110}}</string>
        <key>sourceSize</key>
        <string>{134,110}</string>
      </dict>
      <key>player_10007_0_5_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{523,0},{135,100}}</string>
        <key>offset</key>
        <string>{-56,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,100}}</string>
        <key>sourceSize</key>
        <string>{135,100}</string>
      </dict>
      <key>player_10007_0_5_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{591,445},{134,96}}</string>
        <key>offset</key>
        <string>{-55,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,96}}</string>
        <key>sourceSize</key>
        <string>{134,96}</string>
      </dict>
      <key>player_10007_0_5_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{817,109},{108,100}}</string>
        <key>offset</key>
        <string>{-27,67}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,100}}</string>
        <key>sourceSize</key>
        <string>{108,100}</string>
      </dict>
      <key>player_10007_0_5_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{391,305},{99,139}}</string>
        <key>offset</key>
        <string>{-19,99}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,139}}</string>
        <key>sourceSize</key>
        <string>{99,139}</string>
      </dict>
      <key>player_10007_0_5_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{594,280},{133,130}}</string>
        <key>offset</key>
        <string>{-59,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,130}}</string>
        <key>sourceSize</key>
        <string>{133,130}</string>
      </dict>
      <key>player_10007_0_5_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,759},{178,91}}</string>
        <key>offset</key>
        <string>{-59,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{178,91}}</string>
        <key>sourceSize</key>
        <string>{178,91}</string>
      </dict>
      <key>player_10007_0_5_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{85,0},{188,91}}</string>
        <key>offset</key>
        <string>{-77,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{188,91}}</string>
        <key>sourceSize</key>
        <string>{188,91}</string>
      </dict>
      <key>player_10007_0_5_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,363},{162,92}}</string>
        <key>offset</key>
        <string>{-84,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{162,92}}</string>
        <key>sourceSize</key>
        <string>{162,92}</string>
      </dict>
      <key>player_10007_0_5_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{371,794},{143,137}}</string>
        <key>offset</key>
        <string>{-68,108}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,137}}</string>
        <key>sourceSize</key>
        <string>{143,137}</string>
      </dict>
      <key>player_10007_0_5_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{193,713},{104,158}}</string>
        <key>offset</key>
        <string>{-22,126}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,158}}</string>
        <key>sourceSize</key>
        <string>{104,158}</string>
      </dict>
      <key>player_10007_0_5_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{293,0},{109,160}}</string>
        <key>offset</key>
        <string>{-30,126}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,160}}</string>
        <key>sourceSize</key>
        <string>{109,160}</string>
      </dict>
      <key>player_10007_0_5_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{817,0},{113,107}}</string>
        <key>offset</key>
        <string>{-16,67}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,107}}</string>
        <key>sourceSize</key>
        <string>{113,107}</string>
      </dict>
      <key>player_10007_0_5_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{391,162},{141,104}}</string>
        <key>offset</key>
        <string>{-39,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,104}}</string>
        <key>sourceSize</key>
        <string>{141,104}</string>
      </dict>
      <key>player_10007_0_5_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{461,446},{139,128}}</string>
        <key>offset</key>
        <string>{-51,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,128}}</string>
        <key>sourceSize</key>
        <string>{139,128}</string>
      </dict>
      <key>player_10007_0_5_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{270,173},{119,161}}</string>
        <key>offset</key>
        <string>{-39,125}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,161}}</string>
        <key>sourceSize</key>
        <string>{119,161}</string>
      </dict>
      <key>player_10007_0_5_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{99,372},{89,173}}</string>
        <key>offset</key>
        <string>{-10,138}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,173}}</string>
        <key>sourceSize</key>
        <string>{89,173}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_10007_0_5.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>player_10007_0_5.png</string>
    </dict>
  </dict>
</plist>