<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_10045_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,489},{240,123}}</string>
        <key>offset</key>
        <string>{-45,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{240,123}}</string>
        <key>sourceSize</key>
        <string>{240,123}</string>
      </dict>
      <key>player_10045_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{129,697},{205,166}}</string>
        <key>offset</key>
        <string>{-37,119}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{205,166}}</string>
        <key>sourceSize</key>
        <string>{205,166}</string>
      </dict>
      <key>player_10045_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{426,406},{182,143}}</string>
        <key>offset</key>
        <string>{-36,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{182,143}}</string>
        <key>sourceSize</key>
        <string>{182,143}</string>
      </dict>
      <key>player_10045_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{245,0},{207,97}}</string>
        <key>offset</key>
        <string>{-44,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{207,97}}</string>
        <key>sourceSize</key>
        <string>{207,97}</string>
      </dict>
      <key>player_10045_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{129,904},{199,111}}</string>
        <key>offset</key>
        <string>{-41,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{199,111}}</string>
        <key>sourceSize</key>
        <string>{199,111}</string>
      </dict>
      <key>player_10045_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,246},{241,106}}</string>
        <key>offset</key>
        <string>{-49,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{241,106}}</string>
        <key>sourceSize</key>
        <string>{241,106}</string>
      </dict>
      <key>player_10045_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{426,590},{137,116}}</string>
        <key>offset</key>
        <string>{-40,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,116}}</string>
        <key>sourceSize</key>
        <string>{137,116}</string>
      </dict>
      <key>player_10045_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{670,168},{134,106}}</string>
        <key>offset</key>
        <string>{-41,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,106}}</string>
        <key>sourceSize</key>
        <string>{134,106}</string>
      </dict>
      <key>player_10045_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{291,442},{205,133}}</string>
        <key>offset</key>
        <string>{-49,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{205,133}}</string>
        <key>sourceSize</key>
        <string>{205,133}</string>
      </dict>
      <key>player_10045_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{532,0},{171,117}}</string>
        <key>offset</key>
        <string>{-80,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{171,117}}</string>
        <key>sourceSize</key>
        <string>{171,117}</string>
      </dict>
      <key>player_10045_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{778,128},{145,108}}</string>
        <key>offset</key>
        <string>{-55,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,108}}</string>
        <key>sourceSize</key>
        <string>{145,108}</string>
      </dict>
      <key>player_10045_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{778,0},{126,164}}</string>
        <key>offset</key>
        <string>{-36,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,164}}</string>
        <key>sourceSize</key>
        <string>{126,164}</string>
      </dict>
      <key>player_10045_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{108,246},{235,107}}</string>
        <key>offset</key>
        <string>{-144,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{235,107}}</string>
        <key>sourceSize</key>
        <string>{235,107}</string>
      </dict>
      <key>player_10045_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,731},{212,127}}</string>
        <key>offset</key>
        <string>{-119,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{212,127}}</string>
        <key>sourceSize</key>
        <string>{212,127}</string>
      </dict>
      <key>player_10045_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,842},{185,139}}</string>
        <key>offset</key>
        <string>{-93,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{185,139}}</string>
        <key>sourceSize</key>
        <string>{185,139}</string>
      </dict>
      <key>player_10045_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{125,483},{212,164}}</string>
        <key>offset</key>
        <string>{-117,116}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{212,164}}</string>
        <key>sourceSize</key>
        <string>{212,164}</string>
      </dict>
      <key>player_10045_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{344,0},{206,186}}</string>
        <key>offset</key>
        <string>{-112,138}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{206,186}}</string>
        <key>sourceSize</key>
        <string>{206,186}</string>
      </dict>
      <key>player_10045_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{244,109}}</string>
        <key>offset</key>
        <string>{-148,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{244,109}}</string>
        <key>sourceSize</key>
        <string>{244,109}</string>
      </dict>
      <key>player_10045_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{297,649},{127,191}}</string>
        <key>offset</key>
        <string>{-34,143}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,191}}</string>
        <key>sourceSize</key>
        <string>{127,191}</string>
      </dict>
      <key>player_10045_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{111,0},{132,226}}</string>
        <key>offset</key>
        <string>{-42,175}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,226}}</string>
        <key>sourceSize</key>
        <string>{132,226}</string>
      </dict>
      <key>player_10045_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{358,208},{196,144}}</string>
        <key>offset</key>
        <string>{-101,97}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,144}}</string>
        <key>sourceSize</key>
        <string>{196,144}</string>
      </dict>
      <key>player_10045_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{504,208},{164,177}}</string>
        <key>offset</key>
        <string>{-37,129}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{164,177}}</string>
        <key>sourceSize</key>
        <string>{164,177}</string>
      </dict>
      <key>player_10045_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{217,228},{139,212}}</string>
        <key>offset</key>
        <string>{-35,159}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,212}}</string>
        <key>sourceSize</key>
        <string>{139,212}</string>
      </dict>
      <key>player_10045_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{651,0},{125,166}}</string>
        <key>offset</key>
        <string>{-33,122}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,166}}</string>
        <key>sourceSize</key>
        <string>{125,166}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_10045_0_7.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>player_10045_0_7.png</string>
    </dict>
  </dict>
</plist>