<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_10063_0_10_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{223,0},{166,112}}</string>
        <key>offset</key>
        <string>{-60,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{166,112}}</string>
        <key>sourceSize</key>
        <string>{166,112}</string>
      </dict>
      <key>player_10063_0_10_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{229,168},{159,106}}</string>
        <key>offset</key>
        <string>{-65,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,106}}</string>
        <key>sourceSize</key>
        <string>{159,106}</string>
      </dict>
      <key>player_10063_0_10_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{106,0},{172,115}}</string>
        <key>offset</key>
        <string>{-68,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{172,115}}</string>
        <key>sourceSize</key>
        <string>{172,115}</string>
      </dict>
      <key>player_10063_0_10_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,703},{163,114}}</string>
        <key>offset</key>
        <string>{-62,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,114}}</string>
        <key>sourceSize</key>
        <string>{163,114}</string>
      </dict>
      <key>player_10063_0_10_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,868},{158,106}}</string>
        <key>offset</key>
        <string>{-56,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{158,106}}</string>
        <key>sourceSize</key>
        <string>{158,106}</string>
      </dict>
      <key>player_10063_0_10_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{179,104}}</string>
        <key>offset</key>
        <string>{-67,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{179,104}}</string>
        <key>sourceSize</key>
        <string>{179,104}</string>
      </dict>
      <key>player_10063_0_10_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{584,556},{130,127}}</string>
        <key>offset</key>
        <string>{-48,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,127}}</string>
        <key>sourceSize</key>
        <string>{130,127}</string>
      </dict>
      <key>player_10063_0_10_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,422},{125,132}}</string>
        <key>offset</key>
        <string>{-45,95}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,132}}</string>
        <key>sourceSize</key>
        <string>{125,132}</string>
      </dict>
      <key>player_10063_0_10_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{576,135},{131,118}}</string>
        <key>offset</key>
        <string>{-34,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,118}}</string>
        <key>sourceSize</key>
        <string>{131,118}</string>
      </dict>
      <key>player_10063_0_10_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{589,412},{130,120}}</string>
        <key>offset</key>
        <string>{-48,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,120}}</string>
        <key>sourceSize</key>
        <string>{130,120}</string>
      </dict>
      <key>player_10063_0_10_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{819,0},{114,122}}</string>
        <key>offset</key>
        <string>{-40,82}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,122}}</string>
        <key>sourceSize</key>
        <string>{114,122}</string>
      </dict>
      <key>player_10063_0_10_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{473,0},{133,123}}</string>
        <key>offset</key>
        <string>{-56,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,123}}</string>
        <key>sourceSize</key>
        <string>{133,123}</string>
      </dict>
      <key>player_10063_0_10_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{724,262},{124,117}}</string>
        <key>offset</key>
        <string>{-45,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,117}}</string>
        <key>sourceSize</key>
        <string>{124,117}</string>
      </dict>
      <key>player_10063_0_10_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{843,369},{116,117}}</string>
        <key>offset</key>
        <string>{-34,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,117}}</string>
        <key>sourceSize</key>
        <string>{116,117}</string>
      </dict>
      <key>player_10063_0_10_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{337,142},{139,122}}</string>
        <key>offset</key>
        <string>{-42,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,122}}</string>
        <key>sourceSize</key>
        <string>{139,122}</string>
      </dict>
      <key>player_10063_0_10_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{826,487},{117,111}}</string>
        <key>offset</key>
        <string>{-33,75}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,111}}</string>
        <key>sourceSize</key>
        <string>{117,111}</string>
      </dict>
      <key>player_10063_0_10_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{843,254},{113,118}}</string>
        <key>offset</key>
        <string>{-41,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,118}}</string>
        <key>sourceSize</key>
        <string>{113,118}</string>
      </dict>
      <key>player_10063_0_10_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{532,914},{107,130}}</string>
        <key>offset</key>
        <string>{-30,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,130}}</string>
        <key>sourceSize</key>
        <string>{107,130}</string>
      </dict>
      <key>player_10063_0_10_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{344,485},{143,116}}</string>
        <key>offset</key>
        <string>{-63,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,116}}</string>
        <key>sourceSize</key>
        <string>{143,116}</string>
      </dict>
      <key>player_10063_0_10_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,362},{171,120}}</string>
        <key>offset</key>
        <string>{-56,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{171,120}}</string>
        <key>sourceSize</key>
        <string>{171,120}</string>
      </dict>
      <key>player_10063_0_10_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{114,535},{162,120}}</string>
        <key>offset</key>
        <string>{-52,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{162,120}}</string>
        <key>sourceSize</key>
        <string>{162,120}</string>
      </dict>
      <key>player_10063_0_10_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{461,142},{134,113}}</string>
        <key>offset</key>
        <string>{-39,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,113}}</string>
        <key>sourceSize</key>
        <string>{134,113}</string>
      </dict>
      <key>player_10063_0_10_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{453,630},{140,129}}</string>
        <key>offset</key>
        <string>{-50,100}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,129}}</string>
        <key>sourceSize</key>
        <string>{140,129}</string>
      </dict>
      <key>player_10063_0_10_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{271,814},{143,122}}</string>
        <key>offset</key>
        <string>{-58,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,122}}</string>
        <key>sourceSize</key>
        <string>{143,122}</string>
      </dict>
      <key>player_10063_0_10_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{112,174},{169,115}}</string>
        <key>offset</key>
        <string>{-53,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{169,115}}</string>
        <key>sourceSize</key>
        <string>{169,115}</string>
      </dict>
      <key>player_10063_0_10_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{245,329},{154,122}}</string>
        <key>offset</key>
        <string>{-47,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,122}}</string>
        <key>sourceSize</key>
        <string>{154,122}</string>
      </dict>
      <key>player_10063_0_10_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{116,699},{158,123}}</string>
        <key>offset</key>
        <string>{-49,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{158,123}}</string>
        <key>sourceSize</key>
        <string>{158,123}</string>
      </dict>
      <key>player_10063_0_10_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{160,859},{158,109}}</string>
        <key>offset</key>
        <string>{-47,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{158,109}}</string>
        <key>sourceSize</key>
        <string>{158,109}</string>
      </dict>
      <key>player_10063_0_10_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,345},{161,121}}</string>
        <key>offset</key>
        <string>{-51,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,121}}</string>
        <key>sourceSize</key>
        <string>{161,121}</string>
      </dict>
      <key>player_10063_0_10_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,181},{179,110}}</string>
        <key>offset</key>
        <string>{-60,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{179,110}}</string>
        <key>sourceSize</key>
        <string>{179,110}</string>
      </dict>
      <key>player_10063_0_10_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{529,772},{131,140}}</string>
        <key>offset</key>
        <string>{-33,102}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,140}}</string>
        <key>sourceSize</key>
        <string>{131,140}</string>
      </dict>
      <key>player_10063_0_10_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{492,278},{132,123}}</string>
        <key>offset</key>
        <string>{-34,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,123}}</string>
        <key>sourceSize</key>
        <string>{132,123}</string>
      </dict>
      <key>player_10063_0_10_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{369,283},{121,137}}</string>
        <key>offset</key>
        <string>{-34,99}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,137}}</string>
        <key>sourceSize</key>
        <string>{121,137}</string>
      </dict>
      <key>player_10063_0_10_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{236,508},{158,106}}</string>
        <key>offset</key>
        <string>{-57,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{158,106}}</string>
        <key>sourceSize</key>
        <string>{158,106}</string>
      </dict>
      <key>player_10063_0_10_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{337,0},{140,134}}</string>
        <key>offset</key>
        <string>{-57,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,134}}</string>
        <key>sourceSize</key>
        <string>{140,134}</string>
      </dict>
      <key>player_10063_0_10_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{395,775},{141,132}}</string>
        <key>offset</key>
        <string>{-33,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,132}}</string>
        <key>sourceSize</key>
        <string>{141,132}</string>
      </dict>
      <key>player_10063_0_10_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{598,0},{131,113}}</string>
        <key>offset</key>
        <string>{-34,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,113}}</string>
        <key>sourceSize</key>
        <string>{131,113}</string>
      </dict>
      <key>player_10063_0_10_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{696,133},{127,101}}</string>
        <key>offset</key>
        <string>{-30,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,101}}</string>
        <key>sourceSize</key>
        <string>{127,101}</string>
      </dict>
      <key>player_10063_0_10_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{395,918},{102,135}}</string>
        <key>offset</key>
        <string>{-30,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,135}}</string>
        <key>sourceSize</key>
        <string>{102,135}</string>
      </dict>
      <key>player_10063_0_10_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{711,400},{113,125}}</string>
        <key>offset</key>
        <string>{-31,93}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,125}}</string>
        <key>sourceSize</key>
        <string>{113,125}</string>
      </dict>
      <key>player_10063_0_10_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{799,129},{114,123}}</string>
        <key>offset</key>
        <string>{-33,91}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,123}}</string>
        <key>sourceSize</key>
        <string>{114,123}</string>
      </dict>
      <key>player_10063_0_10_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{713,527},{108,116}}</string>
        <key>offset</key>
        <string>{-35,84}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,116}}</string>
        <key>sourceSize</key>
        <string>{108,116}</string>
      </dict>
      <key>player_10063_0_10_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{241,668},{144,102}}</string>
        <key>offset</key>
        <string>{-37,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,102}}</string>
        <key>sourceSize</key>
        <string>{144,102}</string>
      </dict>
      <key>player_10063_0_10_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{617,268},{130,105}}</string>
        <key>offset</key>
        <string>{-56,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,105}}</string>
        <key>sourceSize</key>
        <string>{130,105}</string>
      </dict>
      <key>player_10063_0_10_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,535},{166,112}}</string>
        <key>offset</key>
        <string>{-60,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{166,112}}</string>
        <key>sourceSize</key>
        <string>{166,112}</string>
      </dict>
      <key>player_10063_0_10_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{915,124},{116,107}}</string>
        <key>offset</key>
        <string>{-37,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,107}}</string>
        <key>sourceSize</key>
        <string>{116,107}</string>
      </dict>
      <key>player_10063_0_10_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{713,0},{127,104}}</string>
        <key>offset</key>
        <string>{-35,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,104}}</string>
        <key>sourceSize</key>
        <string>{127,104}</string>
      </dict>
      <key>player_10063_0_10_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{345,630},{143,106}}</string>
        <key>offset</key>
        <string>{-37,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,106}}</string>
        <key>sourceSize</key>
        <string>{143,106}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_10063_0_10.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>player_10063_0_10.png</string>
    </dict>
  </dict>
</plist>