<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_22009_1_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{151,554},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>player_22009_1_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{529,458},{165,144}}</string>
        <key>offset</key>
        <string>{17,-14}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{165,144}}</string>
        <key>sourceSize</key>
        <string>{165,144}</string>
      </dict>
      <key>player_22009_1_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{154,554},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>player_22009_1_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{125,0},{83,181}}</string>
        <key>offset</key>
        <string>{1,-5}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,181}}</string>
        <key>sourceSize</key>
        <string>{83,181}</string>
      </dict>
      <key>player_22009_1_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{763,316},{139,153}}</string>
        <key>offset</key>
        <string>{10,-12}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,153}}</string>
        <key>sourceSize</key>
        <string>{139,153}</string>
      </dict>
      <key>player_22009_1_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{157,554},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>player_22009_1_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{160,554},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>player_22009_1_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{163,554},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>player_22009_1_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{210,0},{110,180}}</string>
        <key>offset</key>
        <string>{13,-3}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,180}}</string>
        <key>sourceSize</key>
        <string>{110,180}</string>
      </dict>
      <key>player_22009_1_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,189},{105,183}}</string>
        <key>offset</key>
        <string>{12,-3}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,183}}</string>
        <key>sourceSize</key>
        <string>{105,183}</string>
      </dict>
      <key>player_22009_1_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{617,172},{168,144}}</string>
        <key>offset</key>
        <string>{16,-14}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{168,144}}</string>
        <key>sourceSize</key>
        <string>{168,144}</string>
      </dict>
      <key>player_22009_1_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{763,0},{142,156}}</string>
        <key>offset</key>
        <string>{13,-14}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,156}}</string>
        <key>sourceSize</key>
        <string>{142,156}</string>
      </dict>
      <key>player_22009_1_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{166,554},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>player_22009_1_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{402,357},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>player_22009_1_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{299,363},{175,122}}</string>
        <key>offset</key>
        <string>{6,-13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{175,122}}</string>
        <key>sourceSize</key>
        <string>{175,122}</string>
      </dict>
      <key>player_22009_1_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{520,342},{114,167}}</string>
        <key>offset</key>
        <string>{11,-13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,167}}</string>
        <key>sourceSize</key>
        <string>{114,167}</string>
      </dict>
      <key>player_22009_1_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{107,189},{182,149}}</string>
        <key>offset</key>
        <string>{11,-3}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{182,149}}</string>
        <key>sourceSize</key>
        <string>{182,149}</string>
      </dict>
      <key>player_22009_1_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{151,373},{179,146}}</string>
        <key>offset</key>
        <string>{11,-3}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{179,146}}</string>
        <key>sourceSize</key>
        <string>{179,146}</string>
      </dict>
      <key>player_22009_1_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{258,182},{179,142}}</string>
        <key>offset</key>
        <string>{10,-2}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{179,142}}</string>
        <key>sourceSize</key>
        <string>{179,142}</string>
      </dict>
      <key>player_22009_1_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{470,0},{170,145}}</string>
        <key>offset</key>
        <string>{15,-13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,145}}</string>
        <key>sourceSize</key>
        <string>{170,145}</string>
      </dict>
      <key>player_22009_1_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,559},{165,101}}</string>
        <key>offset</key>
        <string>{5,-1}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{165,101}}</string>
        <key>sourceSize</key>
        <string>{165,101}</string>
      </dict>
      <key>player_22009_1_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{675,458},{136,157}}</string>
        <key>offset</key>
        <string>{12,-13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,157}}</string>
        <key>sourceSize</key>
        <string>{136,157}</string>
      </dict>
      <key>player_22009_1_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{423,458},{166,104}}</string>
        <key>offset</key>
        <string>{3,-1}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{166,104}}</string>
        <key>sourceSize</key>
        <string>{166,104}</string>
      </dict>
      <key>player_22009_1_4_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{617,0},{115,170}}</string>
        <key>offset</key>
        <string>{10,-10}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,170}}</string>
        <key>sourceSize</key>
        <string>{115,170}</string>
      </dict>
      <key>player_22009_1_4_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{402,360},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>player_22009_1_4_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{763,158},{142,156}}</string>
        <key>offset</key>
        <string>{4,-14}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,156}}</string>
        <key>sourceSize</key>
        <string>{142,156}</string>
      </dict>
      <key>player_22009_1_4_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{187,123}}</string>
        <key>offset</key>
        <string>{3,-12}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{187,123}}</string>
        <key>sourceSize</key>
        <string>{187,123}</string>
      </dict>
      <key>player_22009_1_4_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{405,360},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>player_22009_1_4_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,374},{183,149}}</string>
        <key>offset</key>
        <string>{5,-3}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{183,149}}</string>
        <key>sourceSize</key>
        <string>{183,149}</string>
      </dict>
      <key>player_22009_1_4_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{405,357},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>player_22009_1_4_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{402,181},{116,174}}</string>
        <key>offset</key>
        <string>{9,-6}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,174}}</string>
        <key>sourceSize</key>
        <string>{116,174}</string>
      </dict>
      <key>player_22009_1_4_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{322,0},{179,146}}</string>
        <key>offset</key>
        <string>{4,-3}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{179,146}}</string>
        <key>sourceSize</key>
        <string>{179,146}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_22009_1_4.png</string>
      <key>size</key>
      <string>{977,693}</string>
      <key>textureFileName</key>
      <string>player_22009_1_4.png</string>
    </dict>
  </dict>
</plist>