<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_82507_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{329,258},{252,122}}</string>
        <key>offset</key>
        <string>{-98,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{252,122}}</string>
        <key>sourceSize</key>
        <string>{252,122}</string>
      </dict>
      <key>player_82507_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,553},{264,125}}</string>
        <key>offset</key>
        <string>{-107,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{264,125}}</string>
        <key>sourceSize</key>
        <string>{264,125}</string>
      </dict>
      <key>player_82507_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{181,0},{256,158}}</string>
        <key>offset</key>
        <string>{-97,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{256,158}}</string>
        <key>sourceSize</key>
        <string>{256,158}</string>
      </dict>
      <key>player_82507_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1009,356},{147,196}}</string>
        <key>offset</key>
        <string>{-76,109}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,196}}</string>
        <key>sourceSize</key>
        <string>{147,196}</string>
      </dict>
      <key>player_82507_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{879,800},{170,207}}</string>
        <key>offset</key>
        <string>{-95,122}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,207}}</string>
        <key>sourceSize</key>
        <string>{170,207}</string>
      </dict>
      <key>player_82507_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{642,0},{141,233}}</string>
        <key>offset</key>
        <string>{-67,148}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,233}}</string>
        <key>sourceSize</key>
        <string>{141,233}</string>
      </dict>
      <key>player_82507_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{879,582},{130,216}}</string>
        <key>offset</key>
        <string>{-69,140}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,216}}</string>
        <key>sourceSize</key>
        <string>{130,216}</string>
      </dict>
      <key>player_82507_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{501,0},{139,238}}</string>
        <key>offset</key>
        <string>{-74,163}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,238}}</string>
        <key>sourceSize</key>
        <string>{139,238}</string>
      </dict>
      <key>player_82507_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{338,512},{141,246}}</string>
        <key>offset</key>
        <string>{-67,174}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,246}}</string>
        <key>sourceSize</key>
        <string>{141,246}</string>
      </dict>
      <key>player_82507_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{785,0},{233,190}}</string>
        <key>offset</key>
        <string>{-104,149}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{233,190}}</string>
        <key>sourceSize</key>
        <string>{233,190}</string>
      </dict>
      <key>player_82507_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{453,253},{241,211}}</string>
        <key>offset</key>
        <string>{-107,171}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{241,211}}</string>
        <key>sourceSize</key>
        <string>{241,211}</string>
      </dict>
      <key>player_82507_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{127,553},{260,209}}</string>
        <key>offset</key>
        <string>{-105,176}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{260,209}}</string>
        <key>sourceSize</key>
        <string>{260,209}</string>
      </dict>
      <key>player_82507_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,819},{256,177}}</string>
        <key>offset</key>
        <string>{-79,143}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{256,177}}</string>
        <key>sourceSize</key>
        <string>{256,177}</string>
      </dict>
      <key>player_82507_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{279,179}}</string>
        <key>offset</key>
        <string>{-82,146}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{279,179}}</string>
        <key>sourceSize</key>
        <string>{279,179}</string>
      </dict>
      <key>player_82507_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,281},{270,178}}</string>
        <key>offset</key>
        <string>{-76,144}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{270,178}}</string>
        <key>sourceSize</key>
        <string>{270,178}</string>
      </dict>
      <key>player_82507_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{660,496},{177,224}}</string>
        <key>offset</key>
        <string>{-18,160}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{177,224}}</string>
        <key>sourceSize</key>
        <string>{177,224}</string>
      </dict>
      <key>player_82507_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{672,722},{205,222}}</string>
        <key>offset</key>
        <string>{-17,163}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{205,222}}</string>
        <key>sourceSize</key>
        <string>{205,222}</string>
      </dict>
      <key>player_82507_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{481,496},{177,225}}</string>
        <key>offset</key>
        <string>{-10,162}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{177,225}}</string>
        <key>sourceSize</key>
        <string>{177,225}</string>
      </dict>
      <key>player_82507_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{785,192},{162,231}}</string>
        <key>offset</key>
        <string>{-5,143}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{162,231}}</string>
        <key>sourceSize</key>
        <string>{162,231}</string>
      </dict>
      <key>player_82507_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{839,356},{168,224}}</string>
        <key>offset</key>
        <string>{-6,138}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{168,224}}</string>
        <key>sourceSize</key>
        <string>{168,224}</string>
      </dict>
      <key>player_82507_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{507,723},{163,225}}</string>
        <key>offset</key>
        <string>{-8,146}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,225}}</string>
        <key>sourceSize</key>
        <string>{163,225}</string>
      </dict>
      <key>player_82507_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{258,815},{247,155}}</string>
        <key>offset</key>
        <string>{-58,86}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{247,155}}</string>
        <key>sourceSize</key>
        <string>{247,155}</string>
      </dict>
      <key>player_82507_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{341,0},{251,158}}</string>
        <key>offset</key>
        <string>{-57,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{251,158}}</string>
        <key>sourceSize</key>
        <string>{251,158}</string>
      </dict>
      <key>player_82507_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{180,281},{258,147}}</string>
        <key>offset</key>
        <string>{-66,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{258,147}}</string>
        <key>sourceSize</key>
        <string>{258,147}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_82507_0_7.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>player_82507_0_7.png</string>
    </dict>
  </dict>
</plist>