<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_10053_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,666},{138,134}}</string>
        <key>offset</key>
        <string>{-44,106}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,134}}</string>
        <key>sourceSize</key>
        <string>{138,134}</string>
      </dict>
      <key>player_10053_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{137,922},{102,96}}</string>
        <key>offset</key>
        <string>{-39,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,96}}</string>
        <key>sourceSize</key>
        <string>{102,96}</string>
      </dict>
      <key>player_10053_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,802},{138,135}}</string>
        <key>offset</key>
        <string>{-44,107}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,135}}</string>
        <key>sourceSize</key>
        <string>{138,135}</string>
      </dict>
      <key>player_10053_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,338},{110,152}}</string>
        <key>offset</key>
        <string>{-47,120}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,152}}</string>
        <key>sourceSize</key>
        <string>{110,152}</string>
      </dict>
      <key>player_10053_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{140,690},{113,120}}</string>
        <key>offset</key>
        <string>{-60,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,120}}</string>
        <key>sourceSize</key>
        <string>{113,120}</string>
      </dict>
      <key>player_10053_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,555},{109,146}}</string>
        <key>offset</key>
        <string>{-47,118}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,146}}</string>
        <key>sourceSize</key>
        <string>{109,146}</string>
      </dict>
      <key>player_10053_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{165,114},{83,160}}</string>
        <key>offset</key>
        <string>{-31,133}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,160}}</string>
        <key>sourceSize</key>
        <string>{83,160}</string>
      </dict>
      <key>player_10053_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{148,563},{125,140}}</string>
        <key>offset</key>
        <string>{-63,106}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,140}}</string>
        <key>sourceSize</key>
        <string>{125,140}</string>
      </dict>
      <key>player_10053_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{327,121},{102,158}}</string>
        <key>offset</key>
        <string>{-31,133}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,158}}</string>
        <key>sourceSize</key>
        <string>{102,158}</string>
      </dict>
      <key>player_10053_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,116},{112,160}}</string>
        <key>offset</key>
        <string>{-47,138}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,160}}</string>
        <key>sourceSize</key>
        <string>{112,160}</string>
      </dict>
      <key>player_10053_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{310,421},{113,151}}</string>
        <key>offset</key>
        <string>{-49,121}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,151}}</string>
        <key>sourceSize</key>
        <string>{113,151}</string>
      </dict>
      <key>player_10053_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,0},{119,162}}</string>
        <key>offset</key>
        <string>{-48,141}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,162}}</string>
        <key>sourceSize</key>
        <string>{119,162}</string>
      </dict>
      <key>player_10053_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,308},{134,154}}</string>
        <key>offset</key>
        <string>{-42,129}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,154}}</string>
        <key>sourceSize</key>
        <string>{134,154}</string>
      </dict>
      <key>player_10053_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{305,536},{105,146}}</string>
        <key>offset</key>
        <string>{-14,118}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,146}}</string>
        <key>sourceSize</key>
        <string>{105,146}</string>
      </dict>
      <key>player_10053_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{162,199},{137,157}}</string>
        <key>offset</key>
        <string>{-43,131}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,157}}</string>
        <key>sourceSize</key>
        <string>{137,157}</string>
      </dict>
      <key>player_10053_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{114,163}}</string>
        <key>offset</key>
        <string>{-15,137}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,163}}</string>
        <key>sourceSize</key>
        <string>{114,163}</string>
      </dict>
      <key>player_10053_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,444},{109,152}}</string>
        <key>offset</key>
        <string>{3,110}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,152}}</string>
        <key>sourceSize</key>
        <string>{109,152}</string>
      </dict>
      <key>player_10053_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{165,0},{112,163}}</string>
        <key>offset</key>
        <string>{-13,136}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,163}}</string>
        <key>sourceSize</key>
        <string>{112,163}</string>
      </dict>
      <key>player_10053_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,230},{76,155}}</string>
        <key>offset</key>
        <string>{5,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,155}}</string>
        <key>sourceSize</key>
        <string>{76,155}</string>
      </dict>
      <key>player_10053_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{290,643},{112,134}}</string>
        <key>offset</key>
        <string>{-1,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,134}}</string>
        <key>sourceSize</key>
        <string>{112,134}</string>
      </dict>
      <key>player_10053_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{321,225},{80,154}}</string>
        <key>offset</key>
        <string>{1,131}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,154}}</string>
        <key>sourceSize</key>
        <string>{80,154}</string>
      </dict>
      <key>player_10053_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{321,307},{112,154}}</string>
        <key>offset</key>
        <string>{-12,123}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,154}}</string>
        <key>sourceSize</key>
        <string>{112,154}</string>
      </dict>
      <key>player_10053_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{137,805},{115,106}}</string>
        <key>offset</key>
        <string>{-15,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,106}}</string>
        <key>sourceSize</key>
        <string>{115,106}</string>
      </dict>
      <key>player_10053_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{154,450},{111,149}}</string>
        <key>offset</key>
        <string>{-11,122}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,149}}</string>
        <key>sourceSize</key>
        <string>{111,149}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_10053_0_7.png</string>
      <key>size</key>
      <string>{512,1024}</string>
      <key>textureFileName</key>
      <string>player_10053_0_7.png</string>
    </dict>
  </dict>
</plist>