<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_82507_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,835},{271,120}}</string>
        <key>offset</key>
        <string>{-92,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{271,120}}</string>
        <key>sourceSize</key>
        <string>{271,120}</string>
      </dict>
      <key>player_82507_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{166,0},{275,127}}</string>
        <key>offset</key>
        <string>{-95,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{275,127}}</string>
        <key>sourceSize</key>
        <string>{275,127}</string>
      </dict>
      <key>player_82507_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,559},{274,128}}</string>
        <key>offset</key>
        <string>{-94,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{274,128}}</string>
        <key>sourceSize</key>
        <string>{274,128}</string>
      </dict>
      <key>player_82507_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{295,0},{269,122}}</string>
        <key>offset</key>
        <string>{-87,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{269,122}}</string>
        <key>sourceSize</key>
        <string>{269,122}</string>
      </dict>
      <key>player_82507_0_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1276,643},{205,206}}</string>
        <key>offset</key>
        <string>{-94,128}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{205,206}}</string>
        <key>sourceSize</key>
        <string>{205,206}</string>
      </dict>
      <key>player_82507_0_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{949,438},{205,213}}</string>
        <key>offset</key>
        <string>{-92,135}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{205,213}}</string>
        <key>sourceSize</key>
        <string>{205,213}</string>
      </dict>
      <key>player_82507_0_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{865,0},{210,214}}</string>
        <key>offset</key>
        <string>{-94,135}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{210,214}}</string>
        <key>sourceSize</key>
        <string>{210,214}</string>
      </dict>
      <key>player_82507_0_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1077,0},{211,206}}</string>
        <key>offset</key>
        <string>{-97,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{211,206}}</string>
        <key>sourceSize</key>
        <string>{211,206}</string>
      </dict>
      <key>player_82507_0_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{340,271},{97,241}}</string>
        <key>offset</key>
        <string>{-37,165}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,241}}</string>
        <key>sourceSize</key>
        <string>{97,241}</string>
      </dict>
      <key>player_82507_0_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{273,831},{96,245}}</string>
        <key>offset</key>
        <string>{-36,168}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,245}}</string>
        <key>sourceSize</key>
        <string>{96,245}</string>
      </dict>
      <key>player_82507_0_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,549},{95,244}}</string>
        <key>offset</key>
        <string>{-35,168}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,244}}</string>
        <key>sourceSize</key>
        <string>{95,244}</string>
      </dict>
      <key>player_82507_0_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{419,0},{100,241}}</string>
        <key>offset</key>
        <string>{-40,165}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,241}}</string>
        <key>sourceSize</key>
        <string>{100,241}</string>
      </dict>
      <key>player_82507_0_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{653,0},{210,219}}</string>
        <key>offset</key>
        <string>{-96,182}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{210,219}}</string>
        <key>sourceSize</key>
        <string>{210,219}</string>
      </dict>
      <key>player_82507_0_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{561,240},{220,212}}</string>
        <key>offset</key>
        <string>{-95,176}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{220,212}}</string>
        <key>sourceSize</key>
        <string>{220,212}</string>
      </dict>
      <key>player_82507_0_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{731,462},{218,216}}</string>
        <key>offset</key>
        <string>{-94,180}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{218,216}}</string>
        <key>sourceSize</key>
        <string>{218,216}</string>
      </dict>
      <key>player_82507_0_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{858,682},{205,214}}</string>
        <key>offset</key>
        <string>{-95,178}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{205,214}}</string>
        <key>sourceSize</key>
        <string>{205,214}</string>
      </dict>
      <key>player_82507_0_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,559},{270,168}}</string>
        <key>offset</key>
        <string>{-88,138}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{270,168}}</string>
        <key>sourceSize</key>
        <string>{270,168}</string>
      </dict>
      <key>player_82507_0_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{278,164}}</string>
        <key>offset</key>
        <string>{-89,134}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{278,164}}</string>
        <key>sourceSize</key>
        <string>{278,164}</string>
      </dict>
      <key>player_82507_0_0_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,280},{277,165}}</string>
        <key>offset</key>
        <string>{-89,135}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{277,165}}</string>
        <key>sourceSize</key>
        <string>{277,165}</string>
      </dict>
      <key>player_82507_0_0_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{167,277},{270,171}}</string>
        <key>offset</key>
        <string>{-89,141}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{270,171}}</string>
        <key>sourceSize</key>
        <string>{270,171}</string>
      </dict>
      <key>player_82507_0_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1065,653},{211,209}}</string>
        <key>offset</key>
        <string>{-22,165}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{211,209}}</string>
        <key>sourceSize</key>
        <string>{211,209}</string>
      </dict>
      <key>player_82507_0_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1285,0},{209,207}}</string>
        <key>offset</key>
        <string>{-22,165}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{209,207}}</string>
        <key>sourceSize</key>
        <string>{209,207}</string>
      </dict>
      <key>player_82507_0_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1156,430},{211,200}}</string>
        <key>offset</key>
        <string>{-22,164}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{211,200}}</string>
        <key>sourceSize</key>
        <string>{211,200}</string>
      </dict>
      <key>player_82507_0_0_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{988,216},{212,203}}</string>
        <key>offset</key>
        <string>{-21,164}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{212,203}}</string>
        <key>sourceSize</key>
        <string>{212,203}</string>
      </dict>
      <key>player_82507_0_0_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{520,757},{129,240}}</string>
        <key>offset</key>
        <string>{2,160}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,240}}</string>
        <key>sourceSize</key>
        <string>{129,240}</string>
      </dict>
      <key>player_82507_0_0_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{397,514},{124,241}}</string>
        <key>offset</key>
        <string>{4,161}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,241}}</string>
        <key>sourceSize</key>
        <string>{124,241}</string>
      </dict>
      <key>player_82507_0_0_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{439,243},{120,239}}</string>
        <key>offset</key>
        <string>{6,161}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,239}}</string>
        <key>sourceSize</key>
        <string>{120,239}</string>
      </dict>
      <key>player_82507_0_0_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{521,0},{130,238}}</string>
        <key>offset</key>
        <string>{5,161}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,238}}</string>
        <key>sourceSize</key>
        <string>{130,238}</string>
      </dict>
      <key>player_82507_0_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{651,707},{219,205}}</string>
        <key>offset</key>
        <string>{-33,126}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{219,205}}</string>
        <key>sourceSize</key>
        <string>{219,205}</string>
      </dict>
      <key>player_82507_0_0_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{523,484},{221,206}}</string>
        <key>offset</key>
        <string>{-34,128}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{221,206}}</string>
        <key>sourceSize</key>
        <string>{221,206}</string>
      </dict>
      <key>player_82507_0_0_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{775,221},{215,211}}</string>
        <key>offset</key>
        <string>{-28,130}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{215,211}}</string>
        <key>sourceSize</key>
        <string>{215,211}</string>
      </dict>
      <key>player_82507_0_0_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1193,213},{208,211}}</string>
        <key>offset</key>
        <string>{-22,130}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{208,211}}</string>
        <key>sourceSize</key>
        <string>{208,211}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_82507_0_0.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>player_82507_0_0.png</string>
    </dict>
  </dict>
</plist>