<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_10022_0_10_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{745,0},{89,89}}</string>
        <key>offset</key>
        <string>{-17,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,89}}</string>
        <key>sourceSize</key>
        <string>{89,89}</string>
      </dict>
      <key>player_10022_0_10_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{517,258},{123,78}}</string>
        <key>offset</key>
        <string>{-46,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,78}}</string>
        <key>sourceSize</key>
        <string>{123,78}</string>
      </dict>
      <key>player_10022_0_10_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{435,0},{127,88}}</string>
        <key>offset</key>
        <string>{-38,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,88}}</string>
        <key>sourceSize</key>
        <string>{127,88}</string>
      </dict>
      <key>player_10022_0_10_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{465,821},{113,103}}</string>
        <key>offset</key>
        <string>{-26,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,103}}</string>
        <key>sourceSize</key>
        <string>{113,103}</string>
      </dict>
      <key>player_10022_0_10_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{570,780},{61,106}}</string>
        <key>offset</key>
        <string>{-2,78}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,106}}</string>
        <key>sourceSize</key>
        <string>{61,106}</string>
      </dict>
      <key>player_10022_0_10_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{395,569},{90,125}}</string>
        <key>offset</key>
        <string>{2,96}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,125}}</string>
        <key>sourceSize</key>
        <string>{90,125}</string>
      </dict>
      <key>player_10022_0_10_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{692,249},{98,101}}</string>
        <key>offset</key>
        <string>{-26,64}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,101}}</string>
        <key>sourceSize</key>
        <string>{98,101}</string>
      </dict>
      <key>player_10022_0_10_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,598},{149,92}}</string>
        <key>offset</key>
        <string>{-75,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{149,92}}</string>
        <key>sourceSize</key>
        <string>{149,92}</string>
      </dict>
      <key>player_10022_0_10_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{301,587},{133,92}}</string>
        <key>offset</key>
        <string>{-45,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,92}}</string>
        <key>sourceSize</key>
        <string>{133,92}</string>
      </dict>
      <key>player_10022_0_10_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{197,749},{148,96}}</string>
        <key>offset</key>
        <string>{-38,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,96}}</string>
        <key>sourceSize</key>
        <string>{148,96}</string>
      </dict>
      <key>player_10022_0_10_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{85,191},{170,96}}</string>
        <key>offset</key>
        <string>{-30,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,96}}</string>
        <key>sourceSize</key>
        <string>{170,96}</string>
      </dict>
      <key>player_10022_0_10_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{126,443},{153,105}}</string>
        <key>offset</key>
        <string>{-18,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,105}}</string>
        <key>sourceSize</key>
        <string>{153,105}</string>
      </dict>
      <key>player_10022_0_10_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{601,128},{119,110}}</string>
        <key>offset</key>
        <string>{-39,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,110}}</string>
        <key>sourceSize</key>
        <string>{119,110}</string>
      </dict>
      <key>player_10022_0_10_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{449,418},{125,120}}</string>
        <key>offset</key>
        <string>{-45,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,120}}</string>
        <key>sourceSize</key>
        <string>{125,120}</string>
      </dict>
      <key>player_10022_0_10_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{295,746},{135,98}}</string>
        <key>offset</key>
        <string>{-50,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,98}}</string>
        <key>sourceSize</key>
        <string>{135,98}</string>
      </dict>
      <key>player_10022_0_10_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{233,443},{142,86}}</string>
        <key>offset</key>
        <string>{-31,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,86}}</string>
        <key>sourceSize</key>
        <string>{142,86}</string>
      </dict>
      <key>player_10022_0_10_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,243},{219,83}}</string>
        <key>offset</key>
        <string>{-27,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{219,83}}</string>
        <key>sourceSize</key>
        <string>{219,83}</string>
      </dict>
      <key>player_10022_0_10_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{406,133},{130,88}}</string>
        <key>offset</key>
        <string>{-17,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,88}}</string>
        <key>sourceSize</key>
        <string>{130,88}</string>
      </dict>
      <key>player_10022_0_10_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{383,311},{105,132}}</string>
        <key>offset</key>
        <string>{-33,104}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,132}}</string>
        <key>sourceSize</key>
        <string>{105,132}</string>
      </dict>
      <key>player_10022_0_10_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{197,899},{98,136}}</string>
        <key>offset</key>
        <string>{-26,108}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,136}}</string>
        <key>sourceSize</key>
        <string>{98,136}</string>
      </dict>
      <key>player_10022_0_10_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{487,545},{115,122}}</string>
        <key>offset</key>
        <string>{-43,94}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,122}}</string>
        <key>sourceSize</key>
        <string>{115,122}</string>
      </dict>
      <key>player_10022_0_10_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{571,383},{120,98}}</string>
        <key>offset</key>
        <string>{-38,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,98}}</string>
        <key>sourceSize</key>
        <string>{120,98}</string>
      </dict>
      <key>player_10022_0_10_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,464},{171,124}}</string>
        <key>offset</key>
        <string>{-32,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{171,124}}</string>
        <key>sourceSize</key>
        <string>{171,124}</string>
      </dict>
      <key>player_10022_0_10_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{579,888},{105,82}}</string>
        <key>offset</key>
        <string>{-23,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,82}}</string>
        <key>sourceSize</key>
        <string>{105,82}</string>
      </dict>
      <key>player_10022_0_10_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{85,363},{78,155}}</string>
        <key>offset</key>
        <string>{-12,121}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,155}}</string>
        <key>sourceSize</key>
        <string>{78,155}</string>
      </dict>
      <key>player_10022_0_10_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{307,0},{126,131}}</string>
        <key>offset</key>
        <string>{-29,97}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,131}}</string>
        <key>sourceSize</key>
        <string>{126,131}</string>
      </dict>
      <key>player_10022_0_10_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{321,434},{126,133}}</string>
        <key>offset</key>
        <string>{-40,99}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,133}}</string>
        <key>sourceSize</key>
        <string>{126,133}</string>
      </dict>
      <key>player_10022_0_10_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{395,696},{112,123}}</string>
        <key>offset</key>
        <string>{-38,84}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,123}}</string>
        <key>sourceSize</key>
        <string>{112,123}</string>
      </dict>
      <key>player_10022_0_10_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{121,801},{74,153}}</string>
        <key>offset</key>
        <string>{-6,55}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,153}}</string>
        <key>sourceSize</key>
        <string>{74,153}</string>
      </dict>
      <key>player_10022_0_10_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{465,936},{112,81}}</string>
        <key>offset</key>
        <string>{-47,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,81}}</string>
        <key>sourceSize</key>
        <string>{112,81}</string>
      </dict>
      <key>player_10022_0_10_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{226,598},{73,146}}</string>
        <key>offset</key>
        <string>{2,113}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,146}}</string>
        <key>sourceSize</key>
        <string>{73,146}</string>
      </dict>
      <key>player_10022_0_10_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{496,129},{127,103}}</string>
        <key>offset</key>
        <string>{-4,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,103}}</string>
        <key>sourceSize</key>
        <string>{127,103}</string>
      </dict>
      <key>player_10022_0_10_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{335,883},{135,128}}</string>
        <key>offset</key>
        <string>{-40,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,128}}</string>
        <key>sourceSize</key>
        <string>{135,128}</string>
      </dict>
      <key>player_10022_0_10_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{269,170},{139,135}}</string>
        <key>offset</key>
        <string>{-53,101}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,135}}</string>
        <key>sourceSize</key>
        <string>{139,135}</string>
      </dict>
      <key>player_10022_0_10_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,0},{168,131}}</string>
        <key>offset</key>
        <string>{-90,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{168,131}}</string>
        <key>sourceSize</key>
        <string>{168,131}</string>
      </dict>
      <key>player_10022_0_10_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{183,170},{154,84}}</string>
        <key>offset</key>
        <string>{-87,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,84}}</string>
        <key>sourceSize</key>
        <string>{154,84}</string>
      </dict>
      <key>player_10022_0_10_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{597,258},{93,120}}</string>
        <key>offset</key>
        <string>{-5,87}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,120}}</string>
        <key>sourceSize</key>
        <string>{93,120}</string>
      </dict>
      <key>player_10022_0_10_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{604,505},{105,90}}</string>
        <key>offset</key>
        <string>{-7,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,90}}</string>
        <key>sourceSize</key>
        <string>{105,90}</string>
      </dict>
      <key>player_10022_0_10_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{509,669},{106,109}}</string>
        <key>offset</key>
        <string>{-10,77}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,109}}</string>
        <key>sourceSize</key>
        <string>{106,109}</string>
      </dict>
      <key>player_10022_0_10_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,637},{162,130}}</string>
        <key>offset</key>
        <string>{-66,104}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{162,130}}</string>
        <key>sourceSize</key>
        <string>{162,130}</string>
      </dict>
      <key>player_10022_0_10_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{241,82}}</string>
        <key>offset</key>
        <string>{-145,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{241,82}}</string>
        <key>sourceSize</key>
        <string>{241,82}</string>
      </dict>
      <key>player_10022_0_10_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,801},{162,119}}</string>
        <key>offset</key>
        <string>{-66,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{162,119}}</string>
        <key>sourceSize</key>
        <string>{162,119}</string>
      </dict>
      <key>player_10022_0_10_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{671,380},{99,102}}</string>
        <key>offset</key>
        <string>{-3,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,102}}</string>
        <key>sourceSize</key>
        <string>{99,102}</string>
      </dict>
      <key>player_10022_0_10_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{713,117},{100,81}}</string>
        <key>offset</key>
        <string>{-4,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,81}}</string>
        <key>sourceSize</key>
        <string>{100,81}</string>
      </dict>
      <key>player_10022_0_10_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{642,0},{115,101}}</string>
        <key>offset</key>
        <string>{-19,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,101}}</string>
        <key>sourceSize</key>
        <string>{115,101}</string>
      </dict>
      <key>player_10022_0_10_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{525,0},{126,115}}</string>
        <key>offset</key>
        <string>{-30,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,115}}</string>
        <key>sourceSize</key>
        <string>{126,115}</string>
      </dict>
      <key>player_10022_0_10_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{84,0},{189,88}}</string>
        <key>offset</key>
        <string>{-93,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{189,88}}</string>
        <key>sourceSize</key>
        <string>{189,88}</string>
      </dict>
      <key>player_10022_0_10_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{242,326},{106,139}}</string>
        <key>offset</key>
        <string>{-10,116}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,139}}</string>
        <key>sourceSize</key>
        <string>{106,139}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_10022_0_10.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>player_10022_0_10.png</string>
    </dict>
  </dict>
</plist>