<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_3008_0_11_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{137,166},{105,123}}</string>
        <key>offset</key>
        <string>{2,88}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,123}}</string>
        <key>sourceSize</key>
        <string>{105,123}</string>
      </dict>
      <key>player_3008_0_11_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{254,0},{76,98}}</string>
        <key>offset</key>
        <string>{7,62}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,98}}</string>
        <key>sourceSize</key>
        <string>{76,98}</string>
      </dict>
      <key>player_3008_0_11_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,166},{54,85}}</string>
        <key>offset</key>
        <string>{2,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,85}}</string>
        <key>sourceSize</key>
        <string>{54,85}</string>
      </dict>
      <key>player_3008_0_11_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,261},{94,99}}</string>
        <key>offset</key>
        <string>{-41,67}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,99}}</string>
        <key>sourceSize</key>
        <string>{94,99}</string>
      </dict>
      <key>player_3008_0_11_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,152},{107,135}}</string>
        <key>offset</key>
        <string>{-60,97}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,135}}</string>
        <key>sourceSize</key>
        <string>{107,135}</string>
      </dict>
      <key>player_3008_0_11_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,0},{78,164}}</string>
        <key>offset</key>
        <string>{-35,127}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,164}}</string>
        <key>sourceSize</key>
        <string>{78,164}</string>
      </dict>
      <key>player_3008_0_11_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{54,172}}</string>
        <key>offset</key>
        <string>{-6,139}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,172}}</string>
        <key>sourceSize</key>
        <string>{54,172}</string>
      </dict>
      <key>player_3008_0_11_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,56},{94,151}}</string>
        <key>offset</key>
        <string>{-4,118}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,151}}</string>
        <key>sourceSize</key>
        <string>{94,151}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_3008_0_11.png</string>
      <key>size</key>
      <string>{332,386}</string>
      <key>textureFileName</key>
      <string>player_3008_0_11.png</string>
    </dict>
  </dict>
</plist>