<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_10016_0_10_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,326},{88,96}}</string>
        <key>offset</key>
        <string>{-2,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,96}}</string>
        <key>sourceSize</key>
        <string>{88,96}</string>
      </dict>
      <key>player_10016_0_10_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{108,0},{83,104}}</string>
        <key>offset</key>
        <string>{-3,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,104}}</string>
        <key>sourceSize</key>
        <string>{83,104}</string>
      </dict>
      <key>player_10016_0_10_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{84,106}}</string>
        <key>offset</key>
        <string>{-1,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,106}}</string>
        <key>sourceSize</key>
        <string>{84,106}</string>
      </dict>
      <key>player_10016_0_10_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{104,242},{61,98}}</string>
        <key>offset</key>
        <string>{-4,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,98}}</string>
        <key>sourceSize</key>
        <string>{61,98}</string>
      </dict>
      <key>player_10016_0_10_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{406,202},{62,96}}</string>
        <key>offset</key>
        <string>{-5,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,96}}</string>
        <key>sourceSize</key>
        <string>{62,96}</string>
      </dict>
      <key>player_10016_0_10_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{307,192},{75,97}}</string>
        <key>offset</key>
        <string>{-8,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,97}}</string>
        <key>sourceSize</key>
        <string>{75,97}</string>
      </dict>
      <key>player_10016_0_10_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{204,254},{78,97}}</string>
        <key>offset</key>
        <string>{5,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,97}}</string>
        <key>sourceSize</key>
        <string>{78,97}</string>
      </dict>
      <key>player_10016_0_10_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{315,98},{92,99}}</string>
        <key>offset</key>
        <string>{-3,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,99}}</string>
        <key>sourceSize</key>
        <string>{92,99}</string>
      </dict>
      <key>player_10016_0_10_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{320,0},{96,100}}</string>
        <key>offset</key>
        <string>{4,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,100}}</string>
        <key>sourceSize</key>
        <string>{96,100}</string>
      </dict>
      <key>player_10016_0_10_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,86},{76,102}}</string>
        <key>offset</key>
        <string>{-1,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,102}}</string>
        <key>sourceSize</key>
        <string>{76,102}</string>
      </dict>
      <key>player_10016_0_10_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{213,88},{76,100}}</string>
        <key>offset</key>
        <string>{-6,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,100}}</string>
        <key>sourceSize</key>
        <string>{76,100}</string>
      </dict>
      <key>player_10016_0_10_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{104,164},{76,100}}</string>
        <key>offset</key>
        <string>{2,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,100}}</string>
        <key>sourceSize</key>
        <string>{76,100}</string>
      </dict>
      <key>player_10016_0_10_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,507},{85,90}}</string>
        <key>offset</key>
        <string>{-5,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,90}}</string>
        <key>sourceSize</key>
        <string>{85,90}</string>
      </dict>
      <key>player_10016_0_10_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,416},{89,93}}</string>
        <key>offset</key>
        <string>{-7,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,93}}</string>
        <key>sourceSize</key>
        <string>{89,93}</string>
      </dict>
      <key>player_10016_0_10_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{214,0},{104,86}}</string>
        <key>offset</key>
        <string>{-6,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,86}}</string>
        <key>sourceSize</key>
        <string>{104,86}</string>
      </dict>
      <key>player_10016_0_10_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{199,334},{94,88}}</string>
        <key>offset</key>
        <string>{-10,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,88}}</string>
        <key>sourceSize</key>
        <string>{94,88}</string>
      </dict>
      <key>player_10016_0_10_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,335},{83,92}}</string>
        <key>offset</key>
        <string>{-10,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,92}}</string>
        <key>sourceSize</key>
        <string>{83,92}</string>
      </dict>
      <key>player_10016_0_10_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{95,456},{84,91}}</string>
        <key>offset</key>
        <string>{-7,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,91}}</string>
        <key>sourceSize</key>
        <string>{84,91}</string>
      </dict>
      <key>player_10016_0_10_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,667},{80,84}}</string>
        <key>offset</key>
        <string>{-8,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,84}}</string>
        <key>sourceSize</key>
        <string>{80,84}</string>
      </dict>
      <key>player_10016_0_10_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{288,492},{80,89}}</string>
        <key>offset</key>
        <string>{-9,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,89}}</string>
        <key>sourceSize</key>
        <string>{80,89}</string>
      </dict>
      <key>player_10016_0_10_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,381},{94,73}}</string>
        <key>offset</key>
        <string>{-9,39}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,73}}</string>
        <key>sourceSize</key>
        <string>{94,73}</string>
      </dict>
      <key>player_10016_0_10_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{303,269},{95,75}}</string>
        <key>offset</key>
        <string>{-13,40}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,75}}</string>
        <key>sourceSize</key>
        <string>{95,75}</string>
      </dict>
      <key>player_10016_0_10_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{182,572},{85,83}}</string>
        <key>offset</key>
        <string>{-12,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,83}}</string>
        <key>sourceSize</key>
        <string>{85,83}</string>
      </dict>
      <key>player_10016_0_10_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{176,657},{81,81}}</string>
        <key>offset</key>
        <string>{-9,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,81}}</string>
        <key>sourceSize</key>
        <string>{81,81}</string>
      </dict>
      <key>player_10016_0_10_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{295,346},{76,92}}</string>
        <key>offset</key>
        <string>{-11,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,92}}</string>
        <key>sourceSize</key>
        <string>{76,92}</string>
      </dict>
      <key>player_10016_0_10_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,248},{76,98}}</string>
        <key>offset</key>
        <string>{-3,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,98}}</string>
        <key>sourceSize</key>
        <string>{76,98}</string>
      </dict>
      <key>player_10016_0_10_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{86,701},{68,80}}</string>
        <key>offset</key>
        <string>{-5,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,80}}</string>
        <key>sourceSize</key>
        <string>{68,80}</string>
      </dict>
      <key>player_10016_0_10_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{354,649},{71,78}}</string>
        <key>offset</key>
        <string>{-3,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,78}}</string>
        <key>sourceSize</key>
        <string>{71,78}</string>
      </dict>
      <key>player_10016_0_10_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{188,498},{72,88}}</string>
        <key>offset</key>
        <string>{-1,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,88}}</string>
        <key>sourceSize</key>
        <string>{72,88}</string>
      </dict>
      <key>player_10016_0_10_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{92,542},{75,88}}</string>
        <key>offset</key>
        <string>{-3,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,88}}</string>
        <key>sourceSize</key>
        <string>{75,88}</string>
      </dict>
      <key>player_10016_0_10_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{406,266},{67,96}}</string>
        <key>offset</key>
        <string>{-10,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,96}}</string>
        <key>sourceSize</key>
        <string>{67,96}</string>
      </dict>
      <key>player_10016_0_10_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{422,0},{78,100}}</string>
        <key>offset</key>
        <string>{-6,55}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,100}}</string>
        <key>sourceSize</key>
        <string>{78,100}</string>
      </dict>
      <key>player_10016_0_10_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{389,420},{64,92}}</string>
        <key>offset</key>
        <string>{-18,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,92}}</string>
        <key>sourceSize</key>
        <string>{64,92}</string>
      </dict>
      <key>player_10016_0_10_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{434,649},{74,78}}</string>
        <key>offset</key>
        <string>{-11,33}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,78}}</string>
        <key>sourceSize</key>
        <string>{74,78}</string>
      </dict>
      <key>player_10016_0_10_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{89,619},{80,85}}</string>
        <key>offset</key>
        <string>{-4,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,85}}</string>
        <key>sourceSize</key>
        <string>{80,85}</string>
      </dict>
      <key>player_10016_0_10_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{194,424},{72,92}}</string>
        <key>offset</key>
        <string>{-9,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,92}}</string>
        <key>sourceSize</key>
        <string>{72,92}</string>
      </dict>
      <key>player_10016_0_10_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,305},{74,97}}</string>
        <key>offset</key>
        <string>{-12,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,97}}</string>
        <key>sourceSize</key>
        <string>{74,97}</string>
      </dict>
      <key>player_10016_0_10_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{206,166},{86,99}}</string>
        <key>offset</key>
        <string>{-11,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,99}}</string>
        <key>sourceSize</key>
        <string>{86,99}</string>
      </dict>
      <key>player_10016_0_10_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,164},{82,102}}</string>
        <key>offset</key>
        <string>{-26,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,102}}</string>
        <key>sourceSize</key>
        <string>{82,102}</string>
      </dict>
      <key>player_10016_0_10_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,749},{76,79}}</string>
        <key>offset</key>
        <string>{-18,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,79}}</string>
        <key>sourceSize</key>
        <string>{76,79}</string>
      </dict>
      <key>player_10016_0_10_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{269,649},{75,83}}</string>
        <key>offset</key>
        <string>{-10,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,83}}</string>
        <key>sourceSize</key>
        <string>{75,83}</string>
      </dict>
      <key>player_10016_0_10_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{288,424},{66,90}}</string>
        <key>offset</key>
        <string>{-10,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,90}}</string>
        <key>sourceSize</key>
        <string>{66,90}</string>
      </dict>
      <key>player_10016_0_10_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{380,486},{79,90}}</string>
        <key>offset</key>
        <string>{-9,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,90}}</string>
        <key>sourceSize</key>
        <string>{79,90}</string>
      </dict>
      <key>player_10016_0_10_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{416,102},{82,98}}</string>
        <key>offset</key>
        <string>{-11,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,98}}</string>
        <key>sourceSize</key>
        <string>{82,98}</string>
      </dict>
      <key>player_10016_0_10_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{108,85},{77,103}}</string>
        <key>offset</key>
        <string>{-17,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,103}}</string>
        <key>sourceSize</key>
        <string>{77,103}</string>
      </dict>
      <key>player_10016_0_10_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{379,567},{80,84}}</string>
        <key>offset</key>
        <string>{-16,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,84}}</string>
        <key>sourceSize</key>
        <string>{80,84}</string>
      </dict>
      <key>player_10016_0_10_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{269,574},{73,84}}</string>
        <key>offset</key>
        <string>{-11,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,84}}</string>
        <key>sourceSize</key>
        <string>{73,84}</string>
      </dict>
      <key>player_10016_0_10_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,594},{71,87}}</string>
        <key>offset</key>
        <string>{-11,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,87}}</string>
        <key>sourceSize</key>
        <string>{71,87}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_10016_0_10.png</string>
      <key>size</key>
      <string>{512,1024}</string>
      <key>textureFileName</key>
      <string>player_10016_0_10.png</string>
    </dict>
  </dict>
</plist>