<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_10031_1_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,130},{127,96}}</string>
        <key>offset</key>
        <string>{-27,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,96}}</string>
        <key>sourceSize</key>
        <string>{127,96}</string>
      </dict>
      <key>player_10031_1_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{180,128},{119,90}}</string>
        <key>offset</key>
        <string>{-30,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,90}}</string>
        <key>sourceSize</key>
        <string>{119,90}</string>
      </dict>
      <key>player_10031_1_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{353,354},{114,110}}</string>
        <key>offset</key>
        <string>{-33,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,110}}</string>
        <key>sourceSize</key>
        <string>{114,110}</string>
      </dict>
      <key>player_10031_1_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{272,120},{111,115}}</string>
        <key>offset</key>
        <string>{-43,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,115}}</string>
        <key>sourceSize</key>
        <string>{111,115}</string>
      </dict>
      <key>player_10031_1_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{592,0},{108,109}}</string>
        <key>offset</key>
        <string>{-23,62}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,109}}</string>
        <key>sourceSize</key>
        <string>{108,109}</string>
      </dict>
      <key>player_10031_1_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{572,341},{90,109}}</string>
        <key>offset</key>
        <string>{-17,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,109}}</string>
        <key>sourceSize</key>
        <string>{90,109}</string>
      </dict>
      <key>player_10031_1_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{284,0},{104,115}}</string>
        <key>offset</key>
        <string>{-12,70}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,115}}</string>
        <key>sourceSize</key>
        <string>{104,115}</string>
      </dict>
      <key>player_10031_1_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,251},{120,91}}</string>
        <key>offset</key>
        <string>{-19,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,91}}</string>
        <key>sourceSize</key>
        <string>{120,91}</string>
      </dict>
      <key>player_10031_1_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,385},{79,122}}</string>
        <key>offset</key>
        <string>{-11,75}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,122}}</string>
        <key>sourceSize</key>
        <string>{79,122}</string>
      </dict>
      <key>player_10031_1_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{385,117},{84,113}}</string>
        <key>offset</key>
        <string>{-19,64}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,113}}</string>
        <key>sourceSize</key>
        <string>{84,113}</string>
      </dict>
      <key>player_10031_1_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{390,0},{108,112}}</string>
        <key>offset</key>
        <string>{-18,67}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,112}}</string>
        <key>sourceSize</key>
        <string>{108,112}</string>
      </dict>
      <key>player_10031_1_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{128,77}}</string>
        <key>offset</key>
        <string>{-13,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,77}}</string>
        <key>sourceSize</key>
        <string>{128,77}</string>
      </dict>
      <key>player_10031_1_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{471,114},{106,112}}</string>
        <key>offset</key>
        <string>{-22,77}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,112}}</string>
        <key>sourceSize</key>
        <string>{106,112}</string>
      </dict>
      <key>player_10031_1_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{251,367},{115,100}}</string>
        <key>offset</key>
        <string>{-31,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,100}}</string>
        <key>sourceSize</key>
        <string>{115,100}</string>
      </dict>
      <key>player_10031_1_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,259},{124,98}}</string>
        <key>offset</key>
        <string>{-23,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,98}}</string>
        <key>sourceSize</key>
        <string>{124,98}</string>
      </dict>
      <key>player_10031_1_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,128},{121,80}}</string>
        <key>offset</key>
        <string>{-10,15}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,80}}</string>
        <key>sourceSize</key>
        <string>{121,80}</string>
      </dict>
      <key>player_10031_1_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{181,0},{118,101}}</string>
        <key>offset</key>
        <string>{-21,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,101}}</string>
        <key>sourceSize</key>
        <string>{118,101}</string>
      </dict>
      <key>player_10031_1_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{79,0},{126,100}}</string>
        <key>offset</key>
        <string>{-30,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,100}}</string>
        <key>sourceSize</key>
        <string>{126,100}</string>
      </dict>
      <key>player_10031_1_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{81,385},{122,85}}</string>
        <key>offset</key>
        <string>{-23,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{122,85}}</string>
        <key>sourceSize</key>
        <string>{122,85}</string>
      </dict>
      <key>player_10031_1_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{682,227},{104,80}}</string>
        <key>offset</key>
        <string>{-13,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,80}}</string>
        <key>sourceSize</key>
        <string>{104,80}</string>
      </dict>
      <key>player_10031_1_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{465,353},{105,111}}</string>
        <key>offset</key>
        <string>{-7,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,111}}</string>
        <key>sourceSize</key>
        <string>{105,111}</string>
      </dict>
      <key>player_10031_1_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{691,111},{98,102}}</string>
        <key>offset</key>
        <string>{-12,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,102}}</string>
        <key>sourceSize</key>
        <string>{98,102}</string>
      </dict>
      <key>player_10031_1_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{702,0},{101,99}}</string>
        <key>offset</key>
        <string>{-31,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,99}}</string>
        <key>sourceSize</key>
        <string>{101,99}</string>
      </dict>
      <key>player_10031_1_4_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{168,373},{117,81}}</string>
        <key>offset</key>
        <string>{-51,14}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,81}}</string>
        <key>sourceSize</key>
        <string>{117,81}</string>
      </dict>
      <key>player_10031_1_4_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{284,237},{89,115}}</string>
        <key>offset</key>
        <string>{-1,77}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,115}}</string>
        <key>sourceSize</key>
        <string>{89,115}</string>
      </dict>
      <key>player_10031_1_4_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{664,336},{89,106}}</string>
        <key>offset</key>
        <string>{-12,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,106}}</string>
        <key>sourceSize</key>
        <string>{89,106}</string>
      </dict>
      <key>player_10031_1_4_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,0},{90,112}}</string>
        <key>offset</key>
        <string>{-20,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,112}}</string>
        <key>sourceSize</key>
        <string>{90,112}</string>
      </dict>
      <key>player_10031_1_4_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{193,249},{116,89}}</string>
        <key>offset</key>
        <string>{-54,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,89}}</string>
        <key>sourceSize</key>
        <string>{116,89}</string>
      </dict>
      <key>player_10031_1_4_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{481,228},{105,111}}</string>
        <key>offset</key>
        <string>{-5,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,111}}</string>
        <key>sourceSize</key>
        <string>{105,111}</string>
      </dict>
      <key>player_10031_1_4_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{588,227},{107,92}}</string>
        <key>offset</key>
        <string>{-21,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,92}}</string>
        <key>sourceSize</key>
        <string>{107,92}</string>
      </dict>
      <key>player_10031_1_4_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{579,114},{111,110}}</string>
        <key>offset</key>
        <string>{-33,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,110}}</string>
        <key>sourceSize</key>
        <string>{111,110}</string>
      </dict>
      <key>player_10031_1_4_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{375,237},{114,104}}</string>
        <key>offset</key>
        <string>{-54,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,104}}</string>
        <key>sourceSize</key>
        <string>{114,104}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_10031_1_4.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>player_10031_1_4.png</string>
    </dict>
  </dict>
</plist>