<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_3011_0_3_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{581,420},{102,149}}</string>
        <key>offset</key>
        <string>{-3,111}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,149}}</string>
        <key>sourceSize</key>
        <string>{102,149}</string>
      </dict>
      <key>player_3011_0_3_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{707,0},{103,158}}</string>
        <key>offset</key>
        <string>{-3,121}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,158}}</string>
        <key>sourceSize</key>
        <string>{103,158}</string>
      </dict>
      <key>player_3011_0_3_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{707,105},{101,157}}</string>
        <key>offset</key>
        <string>{-3,120}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,157}}</string>
        <key>sourceSize</key>
        <string>{101,157}</string>
      </dict>
      <key>player_3011_0_3_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{599,787},{83,136}}</string>
        <key>offset</key>
        <string>{-4,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,136}}</string>
        <key>sourceSize</key>
        <string>{83,136}</string>
      </dict>
      <key>player_3011_0_3_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{106,576},{102,178}}</string>
        <key>offset</key>
        <string>{-3,141}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,178}}</string>
        <key>sourceSize</key>
        <string>{102,178}</string>
      </dict>
      <key>player_3011_0_3_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{881,128},{87,121}}</string>
        <key>offset</key>
        <string>{-2,83}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,121}}</string>
        <key>sourceSize</key>
        <string>{87,121}</string>
      </dict>
      <key>player_3011_0_3_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{546,138},{155,139}}</string>
        <key>offset</key>
        <string>{-2,97}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,139}}</string>
        <key>sourceSize</key>
        <string>{155,139}</string>
      </dict>
      <key>player_3011_0_3_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{546,0},{136,159}}</string>
        <key>offset</key>
        <string>{1,117}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,159}}</string>
        <key>sourceSize</key>
        <string>{136,159}</string>
      </dict>
      <key>player_3011_0_3_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{311,346},{112,163}}</string>
        <key>offset</key>
        <string>{3,121}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,163}}</string>
        <key>sourceSize</key>
        <string>{112,163}</string>
      </dict>
      <key>player_3011_0_3_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{651,315},{103,154}}</string>
        <key>offset</key>
        <string>{-30,116}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,154}}</string>
        <key>sourceSize</key>
        <string>{103,154}</string>
      </dict>
      <key>player_3011_0_3_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{101,387},{111,187}}</string>
        <key>offset</key>
        <string>{-3,151}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,187}}</string>
        <key>sourceSize</key>
        <string>{111,187}</string>
      </dict>
      <key>player_3011_0_3_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{703,208},{155,105}}</string>
        <key>offset</key>
        <string>{-1,67}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,105}}</string>
        <key>sourceSize</key>
        <string>{155,105}</string>
      </dict>
      <key>player_3011_0_3_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{494,279},{155,99}}</string>
        <key>offset</key>
        <string>{-8,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,99}}</string>
        <key>sourceSize</key>
        <string>{155,99}</string>
      </dict>
      <key>player_3011_0_3_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{470,697},{140,127}}</string>
        <key>offset</key>
        <string>{-7,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,127}}</string>
        <key>sourceSize</key>
        <string>{140,127}</string>
      </dict>
      <key>player_3011_0_3_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{732,420},{116,147}}</string>
        <key>offset</key>
        <string>{-7,111}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,147}}</string>
        <key>sourceSize</key>
        <string>{116,147}</string>
      </dict>
      <key>player_3011_0_3_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{185,756},{118,174}}</string>
        <key>offset</key>
        <string>{-47,137}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,174}}</string>
        <key>sourceSize</key>
        <string>{118,174}</string>
      </dict>
      <key>player_3011_0_3_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,769},{114,183}}</string>
        <key>offset</key>
        <string>{-8,146}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,183}}</string>
        <key>sourceSize</key>
        <string>{114,183}</string>
      </dict>
      <key>player_3011_0_3_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{395,166},{162,97}}</string>
        <key>offset</key>
        <string>{-8,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{162,97}}</string>
        <key>sourceSize</key>
        <string>{162,97}</string>
      </dict>
      <key>player_3011_0_3_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{881,368},{114,94}}</string>
        <key>offset</key>
        <string>{-19,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,94}}</string>
        <key>sourceSize</key>
        <string>{114,94}</string>
      </dict>
      <key>player_3011_0_3_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{873,660},{116,102}}</string>
        <key>offset</key>
        <string>{-19,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,102}}</string>
        <key>sourceSize</key>
        <string>{116,102}</string>
      </dict>
      <key>player_3011_0_3_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,669},{107,133}}</string>
        <key>offset</key>
        <string>{-16,100}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,133}}</string>
        <key>sourceSize</key>
        <string>{107,133}</string>
      </dict>
      <key>player_3011_0_3_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,387},{99,190}}</string>
        <key>offset</key>
        <string>{-28,157}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,190}}</string>
        <key>sourceSize</key>
        <string>{99,190}</string>
      </dict>
      <key>player_3011_0_3_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{243,0},{108,175}}</string>
        <key>offset</key>
        <string>{-9,142}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,175}}</string>
        <key>sourceSize</key>
        <string>{108,175}</string>
      </dict>
      <key>player_3011_0_3_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{873,538},{120,105}}</string>
        <key>offset</key>
        <string>{-14,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,105}}</string>
        <key>sourceSize</key>
        <string>{120,105}</string>
      </dict>
      <key>player_3011_0_3_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{361,843},{86,95}}</string>
        <key>offset</key>
        <string>{-12,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,95}}</string>
        <key>sourceSize</key>
        <string>{86,95}</string>
      </dict>
      <key>player_3011_0_3_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{449,843},{85,95}}</string>
        <key>offset</key>
        <string>{-11,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,95}}</string>
        <key>sourceSize</key>
        <string>{85,95}</string>
      </dict>
      <key>player_3011_0_3_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{881,0},{85,126}}</string>
        <key>offset</key>
        <string>{-9,92}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,126}}</string>
        <key>sourceSize</key>
        <string>{85,126}</string>
      </dict>
      <key>player_3011_0_3_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,194},{101,191}}</string>
        <key>offset</key>
        <string>{0,157}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,191}}</string>
        <key>sourceSize</key>
        <string>{101,191}</string>
      </dict>
      <key>player_3011_0_3_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{214,365},{95,170}}</string>
        <key>offset</key>
        <string>{-4,136}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,170}}</string>
        <key>sourceSize</key>
        <string>{95,170}</string>
      </dict>
      <key>player_3011_0_3_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{867,778},{81,109}}</string>
        <key>offset</key>
        <string>{-8,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,109}}</string>
        <key>sourceSize</key>
        <string>{81,109}</string>
      </dict>
      <key>player_3011_0_3_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{599,648},{137,99}}</string>
        <key>offset</key>
        <string>{-63,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,99}}</string>
        <key>sourceSize</key>
        <string>{137,99}</string>
      </dict>
      <key>player_3011_0_3_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{860,251},{115,118}}</string>
        <key>offset</key>
        <string>{-43,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,118}}</string>
        <key>sourceSize</key>
        <string>{115,118}</string>
      </dict>
      <key>player_3011_0_3_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{425,482},{88,148}}</string>
        <key>offset</key>
        <string>{-17,111}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,148}}</string>
        <key>sourceSize</key>
        <string>{88,148}</string>
      </dict>
      <key>player_3011_0_3_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{140,192}}</string>
        <key>offset</key>
        <string>{2,155}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,192}}</string>
        <key>sourceSize</key>
        <string>{140,192}</string>
      </dict>
      <key>player_3011_0_3_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{142,0},{99,184}}</string>
        <key>offset</key>
        <string>{-5,147}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,184}}</string>
        <key>sourceSize</key>
        <string>{99,184}</string>
      </dict>
      <key>player_3011_0_3_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{425,380},{154,100}}</string>
        <key>offset</key>
        <string>{-80,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,100}}</string>
        <key>sourceSize</key>
        <string>{154,100}</string>
      </dict>
      <key>player_3011_0_3_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{575,524},{147,122}}</string>
        <key>offset</key>
        <string>{-73,85}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,122}}</string>
        <key>sourceSize</key>
        <string>{147,122}</string>
      </dict>
      <key>player_3011_0_3_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{361,572},{123,145}}</string>
        <key>offset</key>
        <string>{-51,108}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,145}}</string>
        <key>sourceSize</key>
        <string>{123,145}</string>
      </dict>
      <key>player_3011_0_3_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{353,0},{94,164}}</string>
        <key>offset</key>
        <string>{-20,127}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,164}}</string>
        <key>sourceSize</key>
        <string>{94,164}</string>
      </dict>
      <key>player_3011_0_3_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{210,576},{149,173}}</string>
        <key>offset</key>
        <string>{5,136}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{149,173}}</string>
        <key>sourceSize</key>
        <string>{149,173}</string>
      </dict>
      <key>player_3011_0_3_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,579},{104,188}}</string>
        <key>offset</key>
        <string>{-5,151}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,188}}</string>
        <key>sourceSize</key>
        <string>{104,188}</string>
      </dict>
      <key>player_3011_0_3_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{206,186},{177,99}}</string>
        <key>offset</key>
        <string>{-103,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{177,99}}</string>
        <key>sourceSize</key>
        <string>{177,99}</string>
      </dict>
      <key>player_3011_0_3_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{361,697},{107,144}}</string>
        <key>offset</key>
        <string>{-31,111}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,144}}</string>
        <key>sourceSize</key>
        <string>{107,144}</string>
      </dict>
      <key>player_3011_0_3_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{449,0},{95,162}}</string>
        <key>offset</key>
        <string>{-19,129}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,162}}</string>
        <key>sourceSize</key>
        <string>{95,162}</string>
      </dict>
      <key>player_3011_0_3_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{307,177},{86,167}}</string>
        <key>offset</key>
        <string>{-3,134}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,167}}</string>
        <key>sourceSize</key>
        <string>{86,167}</string>
      </dict>
      <key>player_3011_0_3_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{724,538},{129,147}}</string>
        <key>offset</key>
        <string>{-2,114}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,147}}</string>
        <key>sourceSize</key>
        <string>{129,147}</string>
      </dict>
      <key>player_3011_0_3_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{103,194},{101,185}}</string>
        <key>offset</key>
        <string>{1,152}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,185}}</string>
        <key>sourceSize</key>
        <string>{101,185}</string>
      </dict>
      <key>player_3011_0_3_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{737,778},{128,114}}</string>
        <key>offset</key>
        <string>{-56,81}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,114}}</string>
        <key>sourceSize</key>
        <string>{128,114}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_3011_0_3.png</string>
      <key>size</key>
      <string>{981,945}</string>
      <key>textureFileName</key>
      <string>player_3011_0_3.png</string>
    </dict>
  </dict>
</plist>