<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_10023_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{188,94}}</string>
        <key>offset</key>
        <string>{-62,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{188,94}}</string>
        <key>sourceSize</key>
        <string>{188,94}</string>
      </dict>
      <key>player_10023_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,0},{183,89}}</string>
        <key>offset</key>
        <string>{-65,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{183,89}}</string>
        <key>sourceSize</key>
        <string>{183,89}</string>
      </dict>
      <key>player_10023_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{87,570},{167,81}}</string>
        <key>offset</key>
        <string>{-54,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,81}}</string>
        <key>sourceSize</key>
        <string>{167,81}</string>
      </dict>
      <key>player_10023_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,928},{160,88}}</string>
        <key>offset</key>
        <string>{-48,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,88}}</string>
        <key>sourceSize</key>
        <string>{160,88}</string>
      </dict>
      <key>player_10023_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,570},{177,85}}</string>
        <key>offset</key>
        <string>{-63,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{177,85}}</string>
        <key>sourceSize</key>
        <string>{177,85}</string>
      </dict>
      <key>player_10023_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,190},{188,85}}</string>
        <key>offset</key>
        <string>{-68,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{188,85}}</string>
        <key>sourceSize</key>
        <string>{188,85}</string>
      </dict>
      <key>player_10023_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{162,899},{157,108}}</string>
        <key>offset</key>
        <string>{-84,80}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{157,108}}</string>
        <key>sourceSize</key>
        <string>{157,108}</string>
      </dict>
      <key>player_10023_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{260,708},{156,106}}</string>
        <key>offset</key>
        <string>{-84,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,106}}</string>
        <key>sourceSize</key>
        <string>{156,106}</string>
      </dict>
      <key>player_10023_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{321,866},{156,106}}</string>
        <key>offset</key>
        <string>{-83,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,106}}</string>
        <key>sourceSize</key>
        <string>{156,106}</string>
      </dict>
      <key>player_10023_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{315,0},{155,100}}</string>
        <key>offset</key>
        <string>{-82,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,100}}</string>
        <key>sourceSize</key>
        <string>{155,100}</string>
      </dict>
      <key>player_10023_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{170,549},{157,105}}</string>
        <key>offset</key>
        <string>{-84,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{157,105}}</string>
        <key>sourceSize</key>
        <string>{157,105}</string>
      </dict>
      <key>player_10023_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{269,343},{155,105}}</string>
        <key>offset</key>
        <string>{-82,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,105}}</string>
        <key>sourceSize</key>
        <string>{155,105}</string>
      </dict>
      <key>player_10023_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,90},{111,134}}</string>
        <key>offset</key>
        <string>{-43,111}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,134}}</string>
        <key>sourceSize</key>
        <string>{111,134}</string>
      </dict>
      <key>player_10023_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{505,619},{106,136}}</string>
        <key>offset</key>
        <string>{-39,112}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,136}}</string>
        <key>sourceSize</key>
        <string>{106,136}</string>
      </dict>
      <key>player_10023_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{904,442},{117,130}}</string>
        <key>offset</key>
        <string>{-49,106}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,130}}</string>
        <key>sourceSize</key>
        <string>{117,130}</string>
      </dict>
      <key>player_10023_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{765,520},{121,128}}</string>
        <key>offset</key>
        <string>{-53,103}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,128}}</string>
        <key>sourceSize</key>
        <string>{121,128}</string>
      </dict>
      <key>player_10023_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{655,429},{108,129}}</string>
        <key>offset</key>
        <string>{-41,106}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,129}}</string>
        <key>sourceSize</key>
        <string>{108,129}</string>
      </dict>
      <key>player_10023_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{787,203},{102,134}}</string>
        <key>offset</key>
        <string>{-34,110}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,134}}</string>
        <key>sourceSize</key>
        <string>{102,134}</string>
      </dict>
      <key>player_10023_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{498,157},{151,152}}</string>
        <key>offset</key>
        <string>{-77,120}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,152}}</string>
        <key>sourceSize</key>
        <string>{151,152}</string>
      </dict>
      <key>player_10023_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,157},{155,146}}</string>
        <key>offset</key>
        <string>{-82,119}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,146}}</string>
        <key>sourceSize</key>
        <string>{155,146}</string>
      </dict>
      <key>player_10023_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{417,0},{155,143}}</string>
        <key>offset</key>
        <string>{-81,118}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,143}}</string>
        <key>sourceSize</key>
        <string>{155,143}</string>
      </dict>
      <key>player_10023_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{277,500},{155,143}}</string>
        <key>offset</key>
        <string>{-82,116}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,143}}</string>
        <key>sourceSize</key>
        <string>{155,143}</string>
      </dict>
      <key>player_10023_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{212,185},{156,136}}</string>
        <key>offset</key>
        <string>{-84,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,136}}</string>
        <key>sourceSize</key>
        <string>{156,136}</string>
      </dict>
      <key>player_10023_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{376,314},{155,140}}</string>
        <key>offset</key>
        <string>{-81,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,140}}</string>
        <key>sourceSize</key>
        <string>{155,140}</string>
      </dict>
      <key>player_10023_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,380},{188,136}}</string>
        <key>offset</key>
        <string>{-78,103}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{188,136}}</string>
        <key>sourceSize</key>
        <string>{188,136}</string>
      </dict>
      <key>player_10023_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{187,0},{183,126}}</string>
        <key>offset</key>
        <string>{-70,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{183,126}}</string>
        <key>sourceSize</key>
        <string>{183,126}</string>
      </dict>
      <key>player_10023_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{138,380},{167,129}}</string>
        <key>offset</key>
        <string>{-65,101}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,129}}</string>
        <key>sourceSize</key>
        <string>{167,129}</string>
      </dict>
      <key>player_10023_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{123,739},{158,135}}</string>
        <key>offset</key>
        <string>{-63,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{158,135}}</string>
        <key>sourceSize</key>
        <string>{158,135}</string>
      </dict>
      <key>player_10023_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,749},{177,121}}</string>
        <key>offset</key>
        <string>{-66,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{177,121}}</string>
        <key>sourceSize</key>
        <string>{177,121}</string>
      </dict>
      <key>player_10023_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{87,190},{188,123}}</string>
        <key>offset</key>
        <string>{-72,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{188,123}}</string>
        <key>sourceSize</key>
        <string>{188,123}</string>
      </dict>
      <key>player_10023_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{562,0},{150,144}}</string>
        <key>offset</key>
        <string>{-18,116}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,144}}</string>
        <key>sourceSize</key>
        <string>{150,144}</string>
      </dict>
      <key>player_10023_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{518,311},{135,142}}</string>
        <key>offset</key>
        <string>{-4,118}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,142}}</string>
        <key>sourceSize</key>
        <string>{135,142}</string>
      </dict>
      <key>player_10023_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{422,471},{135,146}}</string>
        <key>offset</key>
        <string>{-4,117}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,146}}</string>
        <key>sourceSize</key>
        <string>{135,146}</string>
      </dict>
      <key>player_10023_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{368,657},{135,147}}</string>
        <key>offset</key>
        <string>{-6,114}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,147}}</string>
        <key>sourceSize</key>
        <string>{135,147}</string>
      </dict>
      <key>player_10023_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{651,152},{134,139}}</string>
        <key>offset</key>
        <string>{-2,112}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,139}}</string>
        <key>sourceSize</key>
        <string>{134,139}</string>
      </dict>
      <key>player_10023_0_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{429,806},{138,136}}</string>
        <key>offset</key>
        <string>{-8,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,136}}</string>
        <key>sourceSize</key>
        <string>{138,136}</string>
      </dict>
      <key>player_10023_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{708,0},{90,139}}</string>
        <key>offset</key>
        <string>{1,116}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,139}}</string>
        <key>sourceSize</key>
        <string>{90,139}</string>
      </dict>
      <key>player_10023_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{559,455},{79,136}}</string>
        <key>offset</key>
        <string>{8,113}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,136}}</string>
        <key>sourceSize</key>
        <string>{79,136}</string>
      </dict>
      <key>player_10023_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,0},{88,135}}</string>
        <key>offset</key>
        <string>{9,111}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,135}}</string>
        <key>sourceSize</key>
        <string>{88,135}</string>
      </dict>
      <key>player_10023_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{905,307},{100,133}}</string>
        <key>offset</key>
        <string>{1,109}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,133}}</string>
        <key>sourceSize</key>
        <string>{100,133}</string>
      </dict>
      <key>player_10023_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{937,0},{78,131}}</string>
        <key>offset</key>
        <string>{11,107}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,131}}</string>
        <key>sourceSize</key>
        <string>{78,131}</string>
      </dict>
      <key>player_10023_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{429,946},{75,134}}</string>
        <key>offset</key>
        <string>{7,110}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,134}}</string>
        <key>sourceSize</key>
        <string>{75,134}</string>
      </dict>
      <key>player_10023_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{745,643},{124,121}}</string>
        <key>offset</key>
        <string>{1,91}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,121}}</string>
        <key>sourceSize</key>
        <string>{124,121}</string>
      </dict>
      <key>player_10023_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{655,293},{134,112}}</string>
        <key>offset</key>
        <string>{-3,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,112}}</string>
        <key>sourceSize</key>
        <string>{134,112}</string>
      </dict>
      <key>player_10023_0_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{895,574},{127,104}}</string>
        <key>offset</key>
        <string>{3,80}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,104}}</string>
        <key>sourceSize</key>
        <string>{127,104}</string>
      </dict>
      <key>player_10023_0_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{640,560},{127,103}}</string>
        <key>offset</key>
        <string>{2,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,103}}</string>
        <key>sourceSize</key>
        <string>{127,103}</string>
      </dict>
      <key>player_10023_0_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{769,307},{134,100}}</string>
        <key>offset</key>
        <string>{-2,76}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,100}}</string>
        <key>sourceSize</key>
        <string>{134,100}</string>
      </dict>
      <key>player_10023_0_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{769,409},{133,109}}</string>
        <key>offset</key>
        <string>{-4,84}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,109}}</string>
        <key>sourceSize</key>
        <string>{133,109}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_10023_0_1.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>player_10023_0_1.png</string>
    </dict>
  </dict>
</plist>