<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_10001_1_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{346,77},{72,69}}</string>
        <key>offset</key>
        <string>{4,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,69}}</string>
        <key>sourceSize</key>
        <string>{72,69}</string>
      </dict>
      <key>player_10001_1_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{404,0},{50,72}}</string>
        <key>offset</key>
        <string>{7,38}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{50,72}}</string>
        <key>sourceSize</key>
        <string>{50,72}</string>
      </dict>
      <key>player_10001_1_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{161,180},{79,78}}</string>
        <key>offset</key>
        <string>{-4,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,78}}</string>
        <key>sourceSize</key>
        <string>{79,78}</string>
      </dict>
      <key>player_10001_1_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{74,188},{85,88}}</string>
        <key>offset</key>
        <string>{-9,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,88}}</string>
        <key>sourceSize</key>
        <string>{85,88}</string>
      </dict>
      <key>player_10001_1_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{288,0},{55,75}}</string>
        <key>offset</key>
        <string>{-7,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,75}}</string>
        <key>sourceSize</key>
        <string>{55,75}</string>
      </dict>
      <key>player_10001_1_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{241,168},{63,77}}</string>
        <key>offset</key>
        <string>{-2,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,77}}</string>
        <key>sourceSize</key>
        <string>{63,77}</string>
      </dict>
      <key>player_10001_1_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{422,275},{63,70}}</string>
        <key>offset</key>
        <string>{9,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,70}}</string>
        <key>sourceSize</key>
        <string>{63,70}</string>
      </dict>
      <key>player_10001_1_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,234},{70,71}}</string>
        <key>offset</key>
        <string>{-2,37}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,71}}</string>
        <key>sourceSize</key>
        <string>{70,71}</string>
      </dict>
      <key>player_10001_1_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{219,444},{59,79}}</string>
        <key>offset</key>
        <string>{11,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,79}}</string>
        <key>sourceSize</key>
        <string>{59,79}</string>
      </dict>
      <key>player_10001_1_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{93,75}}</string>
        <key>offset</key>
        <string>{9,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,75}}</string>
        <key>sourceSize</key>
        <string>{93,75}</string>
      </dict>
      <key>player_10001_1_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{272,341},{68,73}}</string>
        <key>offset</key>
        <string>{7,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,73}}</string>
        <key>sourceSize</key>
        <string>{68,73}</string>
      </dict>
      <key>player_10001_1_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{285,247},{63,73}}</string>
        <key>offset</key>
        <string>{10,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,73}}</string>
        <key>sourceSize</key>
        <string>{63,73}</string>
      </dict>
      <key>player_10001_1_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{368,410},{58,67}}</string>
        <key>offset</key>
        <string>{9,39}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,67}}</string>
        <key>sourceSize</key>
        <string>{58,67}</string>
      </dict>
      <key>player_10001_1_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{135,365},{83,68}}</string>
        <key>offset</key>
        <string>{-10,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,68}}</string>
        <key>sourceSize</key>
        <string>{83,68}</string>
      </dict>
      <key>player_10001_1_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{417,74},{71,72}}</string>
        <key>offset</key>
        <string>{5,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,72}}</string>
        <key>sourceSize</key>
        <string>{71,72}</string>
      </dict>
      <key>player_10001_1_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,190},{91,72}}</string>
        <key>offset</key>
        <string>{11,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,72}}</string>
        <key>sourceSize</key>
        <string>{91,72}</string>
      </dict>
      <key>player_10001_1_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{199,88},{78,70}}</string>
        <key>offset</key>
        <string>{12,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,70}}</string>
        <key>sourceSize</key>
        <string>{78,70}</string>
      </dict>
      <key>player_10001_1_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{417,147},{72,63}}</string>
        <key>offset</key>
        <string>{9,37}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,63}}</string>
        <key>sourceSize</key>
        <string>{72,63}</string>
      </dict>
      <key>player_10001_1_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{428,410},{66,65}}</string>
        <key>offset</key>
        <string>{7,40}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,65}}</string>
        <key>sourceSize</key>
        <string>{66,65}</string>
      </dict>
      <key>player_10001_1_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,0},{68,78}}</string>
        <key>offset</key>
        <string>{1,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,78}}</string>
        <key>sourceSize</key>
        <string>{68,78}</string>
      </dict>
      <key>player_10001_1_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,374},{85,74}}</string>
        <key>offset</key>
        <string>{3,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,74}}</string>
        <key>sourceSize</key>
        <string>{85,74}</string>
      </dict>
      <key>player_10001_1_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{271,80},{77,73}}</string>
        <key>offset</key>
        <string>{9,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,73}}</string>
        <key>sourceSize</key>
        <string>{77,73}</string>
      </dict>
      <key>player_10001_1_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,416},{72,66}}</string>
        <key>offset</key>
        <string>{11,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,66}}</string>
        <key>sourceSize</key>
        <string>{72,66}</string>
      </dict>
      <key>player_10001_1_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{456,0},{65,64}}</string>
        <key>offset</key>
        <string>{11,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,64}}</string>
        <key>sourceSize</key>
        <string>{65,64}</string>
      </dict>
      <key>player_10001_1_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{342,322},{71,72}}</string>
        <key>offset</key>
        <string>{0,41}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,72}}</string>
        <key>sourceSize</key>
        <string>{71,72}</string>
      </dict>
      <key>player_10001_1_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{69,95},{55,91}}</string>
        <key>offset</key>
        <string>{7,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,91}}</string>
        <key>sourceSize</key>
        <string>{55,91}</string>
      </dict>
      <key>player_10001_1_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{126,92},{71,86}}</string>
        <key>offset</key>
        <string>{11,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,86}}</string>
        <key>sourceSize</key>
        <string>{71,86}</string>
      </dict>
      <key>player_10001_1_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{223,261},{78,60}}</string>
        <key>offset</key>
        <string>{7,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,60}}</string>
        <key>sourceSize</key>
        <string>{78,60}</string>
      </dict>
      <key>player_10001_1_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{306,159},{73,62}}</string>
        <key>offset</key>
        <string>{10,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,62}}</string>
        <key>sourceSize</key>
        <string>{73,62}</string>
      </dict>
      <key>player_10001_1_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{562,395},{64,61}}</string>
        <key>offset</key>
        <string>{10,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,61}}</string>
        <key>sourceSize</key>
        <string>{64,61}</string>
      </dict>
      <key>player_10001_1_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{345,0},{57,75}}</string>
        <key>offset</key>
        <string>{4,42}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,75}}</string>
        <key>sourceSize</key>
        <string>{57,75}</string>
      </dict>
      <key>player_10001_1_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{136,0},{80,86}}</string>
        <key>offset</key>
        <string>{8,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,86}}</string>
        <key>sourceSize</key>
        <string>{80,86}</string>
      </dict>
      <key>player_10001_1_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{77,0},{57,90}}</string>
        <key>offset</key>
        <string>{10,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,90}}</string>
        <key>sourceSize</key>
        <string>{57,90}</string>
      </dict>
      <key>player_10001_1_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{135,450},{82,60}}</string>
        <key>offset</key>
        <string>{-15,25}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,60}}</string>
        <key>sourceSize</key>
        <string>{82,60}</string>
      </dict>
      <key>player_10001_1_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{486,340},{66,55}}</string>
        <key>offset</key>
        <string>{1,16}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,55}}</string>
        <key>sourceSize</key>
        <string>{66,55}</string>
      </dict>
      <key>player_10001_1_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{496,408},{65,64}}</string>
        <key>offset</key>
        <string>{-2,26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,64}}</string>
        <key>sourceSize</key>
        <string>{65,64}</string>
      </dict>
      <key>player_10001_1_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{422,212},{61,71}}</string>
        <key>offset</key>
        <string>{5,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,71}}</string>
        <key>sourceSize</key>
        <string>{61,71}</string>
      </dict>
      <key>player_10001_1_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,95},{93,67}}</string>
        <key>offset</key>
        <string>{3,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,67}}</string>
        <key>sourceSize</key>
        <string>{93,67}</string>
      </dict>
      <key>player_10001_1_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{75,278},{77,85}}</string>
        <key>offset</key>
        <string>{-1,52}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,85}}</string>
        <key>sourceSize</key>
        <string>{77,85}</string>
      </dict>
      <key>player_10001_1_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{154,278},{67,81}}</string>
        <key>offset</key>
        <string>{-16,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,81}}</string>
        <key>sourceSize</key>
        <string>{67,81}</string>
      </dict>
      <key>player_10001_1_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{76,452},{56,58}}</string>
        <key>offset</key>
        <string>{-11,25}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,58}}</string>
        <key>sourceSize</key>
        <string>{56,58}</string>
      </dict>
      <key>player_10001_1_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{494,275},{51,65}}</string>
        <key>offset</key>
        <string>{-4,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{51,65}}</string>
        <key>sourceSize</key>
        <string>{51,65}</string>
      </dict>
      <key>player_10001_1_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{415,340},{68,69}}</string>
        <key>offset</key>
        <string>{-1,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,69}}</string>
        <key>sourceSize</key>
        <string>{68,69}</string>
      </dict>
      <key>player_10001_1_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{205,361},{81,65}}</string>
        <key>offset</key>
        <string>{1,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,65}}</string>
        <key>sourceSize</key>
        <string>{81,65}</string>
      </dict>
      <key>player_10001_1_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,283},{89,73}}</string>
        <key>offset</key>
        <string>{-11,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,73}}</string>
        <key>sourceSize</key>
        <string>{89,73}</string>
      </dict>
      <key>player_10001_1_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{76,365},{57,85}}</string>
        <key>offset</key>
        <string>{-10,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,85}}</string>
        <key>sourceSize</key>
        <string>{57,85}</string>
      </dict>
      <key>player_10001_1_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{543,328},{54,65}}</string>
        <key>offset</key>
        <string>{-10,41}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,65}}</string>
        <key>sourceSize</key>
        <string>{54,65}</string>
      </dict>
      <key>player_10001_1_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,461},{49,69}}</string>
        <key>offset</key>
        <string>{-4,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{49,69}}</string>
        <key>sourceSize</key>
        <string>{49,69}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_10001_1_2.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>player_10001_1_2.png</string>
    </dict>
  </dict>
</plist>