<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_10035_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{388,0},{115,64}}</string>
        <key>offset</key>
        <string>{-43,34}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,64}}</string>
        <key>sourceSize</key>
        <string>{115,64}</string>
      </dict>
      <key>player_10035_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{388,66},{115,89}}</string>
        <key>offset</key>
        <string>{-33,59}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,89}}</string>
        <key>sourceSize</key>
        <string>{115,89}</string>
      </dict>
      <key>player_10035_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{278,243},{113,107}}</string>
        <key>offset</key>
        <string>{-26,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,107}}</string>
        <key>sourceSize</key>
        <string>{113,107}</string>
      </dict>
      <key>player_10035_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{502,157},{98,90}}</string>
        <key>offset</key>
        <string>{-47,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,90}}</string>
        <key>sourceSize</key>
        <string>{98,90}</string>
      </dict>
      <key>player_10035_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{387,270},{88,111}}</string>
        <key>offset</key>
        <string>{-29,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,111}}</string>
        <key>sourceSize</key>
        <string>{88,111}</string>
      </dict>
      <key>player_10035_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{175,0},{95,123}}</string>
        <key>offset</key>
        <string>{-27,90}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,123}}</string>
        <key>sourceSize</key>
        <string>{95,123}</string>
      </dict>
      <key>player_10035_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{260,125},{92,116}}</string>
        <key>offset</key>
        <string>{-34,83}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,116}}</string>
        <key>sourceSize</key>
        <string>{92,116}</string>
      </dict>
      <key>player_10035_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{82,133},{88,127}}</string>
        <key>offset</key>
        <string>{-19,95}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,127}}</string>
        <key>sourceSize</key>
        <string>{88,127}</string>
      </dict>
      <key>player_10035_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{102,131}}</string>
        <key>offset</key>
        <string>{-22,98}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,131}}</string>
        <key>sourceSize</key>
        <string>{102,131}</string>
      </dict>
      <key>player_10035_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,395},{107,122}}</string>
        <key>offset</key>
        <string>{-46,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,122}}</string>
        <key>sourceSize</key>
        <string>{107,122}</string>
      </dict>
      <key>player_10035_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,390},{109,121}}</string>
        <key>offset</key>
        <string>{-38,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,121}}</string>
        <key>sourceSize</key>
        <string>{109,121}</string>
      </dict>
      <key>player_10035_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{272,0},{114,116}}</string>
        <key>offset</key>
        <string>{-34,89}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,116}}</string>
        <key>sourceSize</key>
        <string>{114,116}</string>
      </dict>
      <key>player_10035_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{85,262},{119,126}}</string>
        <key>offset</key>
        <string>{-28,99}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,126}}</string>
        <key>sourceSize</key>
        <string>{119,126}</string>
      </dict>
      <key>player_10035_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{247,380},{118,120}}</string>
        <key>offset</key>
        <string>{-36,91}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,120}}</string>
        <key>sourceSize</key>
        <string>{118,120}</string>
      </dict>
      <key>player_10035_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{387,157},{113,111}}</string>
        <key>offset</key>
        <string>{-40,82}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,111}}</string>
        <key>sourceSize</key>
        <string>{113,111}</string>
      </dict>
      <key>player_10035_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,129},{86,126}}</string>
        <key>offset</key>
        <string>{9,95}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,126}}</string>
        <key>sourceSize</key>
        <string>{86,126}</string>
      </dict>
      <key>player_10035_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,133},{80,130}}</string>
        <key>offset</key>
        <string>{-2,97}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,130}}</string>
        <key>sourceSize</key>
        <string>{80,130}</string>
      </dict>
      <key>player_10035_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,265},{83,128}}</string>
        <key>offset</key>
        <string>{-11,95}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,128}}</string>
        <key>sourceSize</key>
        <string>{83,128}</string>
      </dict>
      <key>player_10035_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{367,360},{78,110}}</string>
        <key>offset</key>
        <string>{7,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,110}}</string>
        <key>sourceSize</key>
        <string>{78,110}</string>
      </dict>
      <key>player_10035_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{206,257},{70,121}}</string>
        <key>offset</key>
        <string>{7,91}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,121}}</string>
        <key>sourceSize</key>
        <string>{70,121}</string>
      </dict>
      <key>player_10035_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{104,0},{69,127}}</string>
        <key>offset</key>
        <string>{-1,96}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,127}}</string>
        <key>sourceSize</key>
        <string>{69,127}</string>
      </dict>
      <key>player_10035_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{576,356},{95,77}}</string>
        <key>offset</key>
        <string>{-1,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,77}}</string>
        <key>sourceSize</key>
        <string>{95,77}</string>
      </dict>
      <key>player_10035_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{502,257},{91,97}}</string>
        <key>offset</key>
        <string>{-5,71}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,97}}</string>
        <key>sourceSize</key>
        <string>{91,97}</string>
      </dict>
      <key>player_10035_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{479,360},{95,110}}</string>
        <key>offset</key>
        <string>{-13,84}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,110}}</string>
        <key>sourceSize</key>
        <string>{95,110}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_10035_0_7.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>player_10035_0_7.png</string>
    </dict>
  </dict>
</plist>