<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_10025_1_5_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,246},{115,116}}</string>
        <key>offset</key>
        <string>{-26,62}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,116}}</string>
        <key>sourceSize</key>
        <string>{115,116}</string>
      </dict>
      <key>player_10025_1_5_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,612},{118,117}}</string>
        <key>offset</key>
        <string>{-28,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,117}}</string>
        <key>sourceSize</key>
        <string>{118,117}</string>
      </dict>
      <key>player_10025_1_5_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{94,124},{120,118}}</string>
        <key>offset</key>
        <string>{-31,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,118}}</string>
        <key>sourceSize</key>
        <string>{120,118}</string>
      </dict>
      <key>player_10025_1_5_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{122,116}}</string>
        <key>offset</key>
        <string>{-32,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{122,116}}</string>
        <key>sourceSize</key>
        <string>{122,116}</string>
      </dict>
      <key>player_10025_1_5_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{118,0},{120,116}}</string>
        <key>offset</key>
        <string>{-30,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,116}}</string>
        <key>sourceSize</key>
        <string>{120,116}</string>
      </dict>
      <key>player_10025_1_5_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{214,122},{116,115}}</string>
        <key>offset</key>
        <string>{-27,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,115}}</string>
        <key>sourceSize</key>
        <string>{116,115}</string>
      </dict>
      <key>player_10025_1_5_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,370},{94,119}}</string>
        <key>offset</key>
        <string>{-31,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,119}}</string>
        <key>sourceSize</key>
        <string>{94,119}</string>
      </dict>
      <key>player_10025_1_5_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,491},{98,119}}</string>
        <key>offset</key>
        <string>{-33,66}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,119}}</string>
        <key>sourceSize</key>
        <string>{98,119}</string>
      </dict>
      <key>player_10025_1_5_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,370},{98,119}}</string>
        <key>offset</key>
        <string>{-31,66}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,119}}</string>
        <key>sourceSize</key>
        <string>{98,119}</string>
      </dict>
      <key>player_10025_1_5_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,728},{98,114}}</string>
        <key>offset</key>
        <string>{-31,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,114}}</string>
        <key>sourceSize</key>
        <string>{98,114}</string>
      </dict>
      <key>player_10025_1_5_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{119,611},{98,115}}</string>
        <key>offset</key>
        <string>{-33,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,115}}</string>
        <key>sourceSize</key>
        <string>{98,115}</string>
      </dict>
      <key>player_10025_1_5_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,491},{98,118}}</string>
        <key>offset</key>
        <string>{-33,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,118}}</string>
        <key>sourceSize</key>
        <string>{98,118}</string>
      </dict>
      <key>player_10025_1_5_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{315,240},{107,111}}</string>
        <key>offset</key>
        <string>{-37,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,111}}</string>
        <key>sourceSize</key>
        <string>{107,111}</string>
      </dict>
      <key>player_10025_1_5_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{215,844},{101,110}}</string>
        <key>offset</key>
        <string>{-38,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,110}}</string>
        <key>sourceSize</key>
        <string>{101,110}</string>
      </dict>
      <key>player_10025_1_5_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{549,109},{105,105}}</string>
        <key>offset</key>
        <string>{-38,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,105}}</string>
        <key>sourceSize</key>
        <string>{105,105}</string>
      </dict>
      <key>player_10025_1_5_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{442,113},{105,107}}</string>
        <key>offset</key>
        <string>{-35,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,107}}</string>
        <key>sourceSize</key>
        <string>{105,107}</string>
      </dict>
      <key>player_10025_1_5_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{516,341},{103,106}}</string>
        <key>offset</key>
        <string>{-37,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,106}}</string>
        <key>sourceSize</key>
        <string>{103,106}</string>
      </dict>
      <key>player_10025_1_5_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{298,718},{104,110}}</string>
        <key>offset</key>
        <string>{-37,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,110}}</string>
        <key>sourceSize</key>
        <string>{104,110}</string>
      </dict>
      <key>player_10025_1_5_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{541,0},{107,101}}</string>
        <key>offset</key>
        <string>{-39,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,101}}</string>
        <key>sourceSize</key>
        <string>{107,101}</string>
      </dict>
      <key>player_10025_1_5_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{520,222},{106,103}}</string>
        <key>offset</key>
        <string>{-40,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,103}}</string>
        <key>sourceSize</key>
        <string>{106,103}</string>
      </dict>
      <key>player_10025_1_5_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,699},{104,102}}</string>
        <key>offset</key>
        <string>{-39,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,102}}</string>
        <key>sourceSize</key>
        <string>{104,102}</string>
      </dict>
      <key>player_10025_1_5_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{538,573},{102,104}}</string>
        <key>offset</key>
        <string>{-39,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,104}}</string>
        <key>sourceSize</key>
        <string>{102,104}</string>
      </dict>
      <key>player_10025_1_5_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{644,0},{105,104}}</string>
        <key>offset</key>
        <string>{-40,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,104}}</string>
        <key>sourceSize</key>
        <string>{105,104}</string>
      </dict>
      <key>player_10025_1_5_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{318,830},{107,106}}</string>
        <key>offset</key>
        <string>{-40,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,106}}</string>
        <key>sourceSize</key>
        <string>{107,106}</string>
      </dict>
      <key>player_10025_1_5_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,486},{115,97}}</string>
        <key>offset</key>
        <string>{-41,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,97}}</string>
        <key>sourceSize</key>
        <string>{115,97}</string>
      </dict>
      <key>player_10025_1_5_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{236,0},{116,94}}</string>
        <key>offset</key>
        <string>{-41,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,94}}</string>
        <key>sourceSize</key>
        <string>{116,94}</string>
      </dict>
      <key>player_10025_1_5_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,124},{121,92}}</string>
        <key>offset</key>
        <string>{-42,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,92}}</string>
        <key>sourceSize</key>
        <string>{121,92}</string>
      </dict>
      <key>player_10025_1_5_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,247},{121,97}}</string>
        <key>offset</key>
        <string>{-42,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,97}}</string>
        <key>sourceSize</key>
        <string>{121,97}</string>
      </dict>
      <key>player_10025_1_5_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{99,246},{119,97}}</string>
        <key>offset</key>
        <string>{-42,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,97}}</string>
        <key>sourceSize</key>
        <string>{119,97}</string>
      </dict>
      <key>player_10025_1_5_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,732},{116,96}}</string>
        <key>offset</key>
        <string>{-41,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,96}}</string>
        <key>sourceSize</key>
        <string>{116,96}</string>
      </dict>
      <key>player_10025_1_5_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{424,231},{94,108}}</string>
        <key>offset</key>
        <string>{-5,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,108}}</string>
        <key>sourceSize</key>
        <string>{94,108}</string>
      </dict>
      <key>player_10025_1_5_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{404,713},{94,107}}</string>
        <key>offset</key>
        <string>{-7,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,107}}</string>
        <key>sourceSize</key>
        <string>{94,107}</string>
      </dict>
      <key>player_10025_1_5_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{426,822},{98,105}}</string>
        <key>offset</key>
        <string>{-7,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,105}}</string>
        <key>sourceSize</key>
        <string>{98,105}</string>
      </dict>
      <key>player_10025_1_5_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{438,590},{98,107}}</string>
        <key>offset</key>
        <string>{-9,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,107}}</string>
        <key>sourceSize</key>
        <string>{98,107}</string>
      </dict>
      <key>player_10025_1_5_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{413,353},{101,109}}</string>
        <key>offset</key>
        <string>{-9,70}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,109}}</string>
        <key>sourceSize</key>
        <string>{101,109}</string>
      </dict>
      <key>player_10025_1_5_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{513,464},{100,107}}</string>
        <key>offset</key>
        <string>{-10,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,107}}</string>
        <key>sourceSize</key>
        <string>{100,107}</string>
      </dict>
      <key>player_10025_1_5_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{301,364},{112,110}}</string>
        <key>offset</key>
        <string>{-11,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,110}}</string>
        <key>sourceSize</key>
        <string>{112,110}</string>
      </dict>
      <key>player_10025_1_5_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{328,601},{108,110}}</string>
        <key>offset</key>
        <string>{-8,70}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,110}}</string>
        <key>sourceSize</key>
        <string>{108,110}</string>
      </dict>
      <key>player_10025_1_5_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{404,478},{107,110}}</string>
        <key>offset</key>
        <string>{-6,70}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,110}}</string>
        <key>sourceSize</key>
        <string>{107,110}</string>
      </dict>
      <key>player_10025_1_5_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{219,603},{107,113}}</string>
        <key>offset</key>
        <string>{-11,71}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,113}}</string>
        <key>sourceSize</key>
        <string>{107,113}</string>
      </dict>
      <key>player_10025_1_5_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{102,850},{111,115}}</string>
        <key>offset</key>
        <string>{-11,73}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,115}}</string>
        <key>sourceSize</key>
        <string>{111,115}</string>
      </dict>
      <key>player_10025_1_5_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{331,118},{109,111}}</string>
        <key>offset</key>
        <string>{-9,70}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,111}}</string>
        <key>sourceSize</key>
        <string>{109,111}</string>
      </dict>
      <key>player_10025_1_5_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{332,0},{105,111}}</string>
        <key>offset</key>
        <string>{-8,64}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,111}}</string>
        <key>sourceSize</key>
        <string>{105,111}</string>
      </dict>
      <key>player_10025_1_5_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{439,0},{100,111}}</string>
        <key>offset</key>
        <string>{-6,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,111}}</string>
        <key>sourceSize</key>
        <string>{100,111}</string>
      </dict>
      <key>player_10025_1_5_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,850},{100,116}}</string>
        <key>offset</key>
        <string>{-4,66}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,116}}</string>
        <key>sourceSize</key>
        <string>{100,116}</string>
      </dict>
      <key>player_10025_1_5_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,732},{98,116}}</string>
        <key>offset</key>
        <string>{-7,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,116}}</string>
        <key>sourceSize</key>
        <string>{98,116}</string>
      </dict>
      <key>player_10025_1_5_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{196,367},{103,117}}</string>
        <key>offset</key>
        <string>{-8,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,117}}</string>
        <key>sourceSize</key>
        <string>{103,117}</string>
      </dict>
      <key>player_10025_1_5_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{299,486},{103,113}}</string>
        <key>offset</key>
        <string>{-7,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,113}}</string>
        <key>sourceSize</key>
        <string>{103,113}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_10025_1_5.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>player_10025_1_5.png</string>
    </dict>
  </dict>
</plist>