<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_82065_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{161,893},{157,129}}</string>
        <key>offset</key>
        <string>{-6,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{157,129}}</string>
        <key>sourceSize</key>
        <string>{157,129}</string>
      </dict>
      <key>player_82065_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{463,0},{157,129}}</string>
        <key>offset</key>
        <string>{-6,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{157,129}}</string>
        <key>sourceSize</key>
        <string>{157,129}</string>
      </dict>
      <key>player_82065_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{477,159},{157,129}}</string>
        <key>offset</key>
        <string>{-6,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{157,129}}</string>
        <key>sourceSize</key>
        <string>{157,129}</string>
      </dict>
      <key>player_82065_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,317},{117,167}}</string>
        <key>offset</key>
        <string>{-11,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,167}}</string>
        <key>sourceSize</key>
        <string>{117,167}</string>
      </dict>
      <key>player_82065_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{343,350},{117,167}}</string>
        <key>offset</key>
        <string>{-11,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,167}}</string>
        <key>sourceSize</key>
        <string>{117,167}</string>
      </dict>
      <key>player_82065_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,394},{111,167}}</string>
        <key>offset</key>
        <string>{-9,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,167}}</string>
        <key>sourceSize</key>
        <string>{111,167}</string>
      </dict>
      <key>player_82065_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{358,0},{103,174}}</string>
        <key>offset</key>
        <string>{-33,62}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,174}}</string>
        <key>sourceSize</key>
        <string>{103,174}</string>
      </dict>
      <key>player_82065_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{179,90},{103,174}}</string>
        <key>offset</key>
        <string>{-33,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,174}}</string>
        <key>sourceSize</key>
        <string>{103,174}</string>
      </dict>
      <key>player_82065_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{104,177}}</string>
        <key>offset</key>
        <string>{-32,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,177}}</string>
        <key>sourceSize</key>
        <string>{104,177}</string>
      </dict>
      <key>player_82065_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{169,436},{167,159}}</string>
        <key>offset</key>
        <string>{-87,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,159}}</string>
        <key>sourceSize</key>
        <string>{167,159}</string>
      </dict>
      <key>player_82065_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,507},{167,159}}</string>
        <key>offset</key>
        <string>{-87,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,159}}</string>
        <key>sourceSize</key>
        <string>{167,159}</string>
      </dict>
      <key>player_82065_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{337,620},{163,162}}</string>
        <key>offset</key>
        <string>{-83,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,162}}</string>
        <key>sourceSize</key>
        <string>{163,162}</string>
      </dict>
      <key>player_82065_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{355,176},{172,120}}</string>
        <key>offset</key>
        <string>{-91,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{172,120}}</string>
        <key>sourceSize</key>
        <string>{172,120}</string>
      </dict>
      <key>player_82065_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{175,195},{172,120}}</string>
        <key>offset</key>
        <string>{-91,70}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{172,120}}</string>
        <key>sourceSize</key>
        <string>{172,120}</string>
      </dict>
      <key>player_82065_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,270},{172,122}}</string>
        <key>offset</key>
        <string>{-91,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{172,122}}</string>
        <key>sourceSize</key>
        <string>{172,122}</string>
      </dict>
      <key>player_82065_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,818},{144,159}}</string>
        <key>offset</key>
        <string>{-7,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,159}}</string>
        <key>sourceSize</key>
        <string>{144,159}</string>
      </dict>
      <key>player_82065_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{332,784},{144,159}}</string>
        <key>offset</key>
        <string>{-7,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,159}}</string>
        <key>sourceSize</key>
        <string>{144,159}</string>
      </dict>
      <key>player_82065_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{168,747},{144,162}}</string>
        <key>offset</key>
        <string>{-7,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,162}}</string>
        <key>sourceSize</key>
        <string>{144,162}</string>
      </dict>
      <key>player_82065_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,106},{80,173}}</string>
        <key>offset</key>
        <string>{8,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,173}}</string>
        <key>sourceSize</key>
        <string>{80,173}</string>
      </dict>
      <key>player_82065_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,188},{80,173}}</string>
        <key>offset</key>
        <string>{8,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,173}}</string>
        <key>sourceSize</key>
        <string>{80,173}</string>
      </dict>
      <key>player_82065_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{179,0},{88,177}}</string>
        <key>offset</key>
        <string>{1,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,177}}</string>
        <key>sourceSize</key>
        <string>{88,177}</string>
      </dict>
      <key>player_82065_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{169,597},{148,166}}</string>
        <key>offset</key>
        <string>{-62,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,166}}</string>
        <key>sourceSize</key>
        <string>{148,166}</string>
      </dict>
      <key>player_82065_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,668},{148,166}}</string>
        <key>offset</key>
        <string>{-62,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,166}}</string>
        <key>sourceSize</key>
        <string>{148,166}</string>
      </dict>
      <key>player_82065_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{338,469},{149,167}}</string>
        <key>offset</key>
        <string>{-66,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{149,167}}</string>
        <key>sourceSize</key>
        <string>{149,167}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_82065_0_7.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>player_82065_0_7.png</string>
    </dict>
  </dict>
</plist>