<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_82032_0_10_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{975,999},{229,202}}</string>
        <key>offset</key>
        <string>{-16,163}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{229,202}}</string>
        <key>sourceSize</key>
        <string>{229,202}</string>
      </dict>
      <key>player_82032_0_10_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1196,0},{312,233}}</string>
        <key>offset</key>
        <string>{-146,181}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{312,233}}</string>
        <key>sourceSize</key>
        <string>{312,233}</string>
      </dict>
      <key>player_82032_0_10_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,408},{387,240}}</string>
        <key>offset</key>
        <string>{-155,183}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{387,240}}</string>
        <key>sourceSize</key>
        <string>{387,240}</string>
      </dict>
      <key>player_82032_0_10_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{243,0},{367,243}}</string>
        <key>offset</key>
        <string>{-165,184}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{367,243}}</string>
        <key>sourceSize</key>
        <string>{367,243}</string>
      </dict>
      <key>player_82032_0_10_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,797},{381,242}}</string>
        <key>offset</key>
        <string>{-173,183}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{381,242}}</string>
        <key>sourceSize</key>
        <string>{381,242}</string>
      </dict>
      <key>player_82032_0_10_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{406,241}}</string>
        <key>offset</key>
        <string>{-178,181}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{406,241}}</string>
        <key>sourceSize</key>
        <string>{406,241}</string>
      </dict>
      <key>player_82032_0_10_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1153,792},{187,179}}</string>
        <key>offset</key>
        <string>{-26,134}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{187,179}}</string>
        <key>sourceSize</key>
        <string>{187,179}</string>
      </dict>
      <key>player_82032_0_10_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{666,338},{330,199}}</string>
        <key>offset</key>
        <string>{-161,156}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{330,199}}</string>
        <key>sourceSize</key>
        <string>{330,199}</string>
      </dict>
      <key>player_82032_0_10_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{453,369},{338,211}}</string>
        <key>offset</key>
        <string>{-166,168}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{338,211}}</string>
        <key>sourceSize</key>
        <string>{338,211}</string>
      </dict>
      <key>player_82032_0_10_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{431,780},{341,209}}</string>
        <key>offset</key>
        <string>{-169,168}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{341,209}}</string>
        <key>sourceSize</key>
        <string>{341,209}</string>
      </dict>
      <key>player_82032_0_10_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{242,408},{370,209}}</string>
        <key>offset</key>
        <string>{-172,166}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{370,209}}</string>
        <key>sourceSize</key>
        <string>{370,209}</string>
      </dict>
      <key>player_82032_0_10_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,780},{358,185}}</string>
        <key>offset</key>
        <string>{-175,145}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{358,185}}</string>
        <key>sourceSize</key>
        <string>{358,185}</string>
      </dict>
      <key>player_82032_0_10_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,1140},{223,128}}</string>
        <key>offset</key>
        <string>{-54,88}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{223,128}}</string>
        <key>sourceSize</key>
        <string>{223,128}</string>
      </dict>
      <key>player_82032_0_10_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1178,426},{285,166}}</string>
        <key>offset</key>
        <string>{-91,126}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{285,166}}</string>
        <key>sourceSize</key>
        <string>{285,166}</string>
      </dict>
      <key>player_82032_0_10_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1196,235},{306,189}}</string>
        <key>offset</key>
        <string>{-101,148}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{306,189}}</string>
        <key>sourceSize</key>
        <string>{306,189}</string>
      </dict>
      <key>player_82032_0_10_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{642,1045},{331,207}}</string>
        <key>offset</key>
        <string>{-103,147}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{331,207}}</string>
        <key>sourceSize</key>
        <string>{331,207}</string>
      </dict>
      <key>player_82032_0_10_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{642,709},{334,194}}</string>
        <key>offset</key>
        <string>{-100,136}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{334,194}}</string>
        <key>sourceSize</key>
        <string>{334,194}</string>
      </dict>
      <key>player_82032_0_10_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{786,0},{328,187}}</string>
        <key>offset</key>
        <string>{-97,135}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{328,187}}</string>
        <key>sourceSize</key>
        <string>{328,187}</string>
      </dict>
      <key>player_82032_0_10_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1334,792},{182,168}}</string>
        <key>offset</key>
        <string>{-112,131}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{182,168}}</string>
        <key>sourceSize</key>
        <string>{182,168}</string>
      </dict>
      <key>player_82032_0_10_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1178,594},{280,196}}</string>
        <key>offset</key>
        <string>{-123,153}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{280,196}}</string>
        <key>sourceSize</key>
        <string>{280,196}</string>
      </dict>
      <key>player_82032_0_10_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{975,0},{320,219}}</string>
        <key>offset</key>
        <string>{-129,156}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{320,219}}</string>
        <key>sourceSize</key>
        <string>{320,219}</string>
      </dict>
      <key>player_82032_0_10_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{867,330},{321,309}}</string>
        <key>offset</key>
        <string>{-127,156}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{321,309}}</string>
        <key>sourceSize</key>
        <string>{321,309}</string>
      </dict>
      <key>player_82032_0_10_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{838,670},{327,313}}</string>
        <key>offset</key>
        <string>{-135,152}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{327,313}}</string>
        <key>sourceSize</key>
        <string>{327,313}</string>
      </dict>
      <key>player_82032_0_10_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{488,0},{336,296}}</string>
        <key>offset</key>
        <string>{-137,146}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{336,296}}</string>
        <key>sourceSize</key>
        <string>{336,296}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_82032_0_10_0.png</string>
      <key>size</key>
      <string>{1536,1280}</string>
      <key>textureFileName</key>
      <string>player_82032_0_10_0.png</string>
    </dict>
  </dict>
</plist>