<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_82515_0_5_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1219,0},{155,154}}</string>
        <key>offset</key>
        <string>{-53,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,154}}</string>
        <key>sourceSize</key>
        <string>{155,154}</string>
      </dict>
      <key>player_82515_0_5_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1006,495},{143,154}}</string>
        <key>offset</key>
        <string>{-46,80}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,154}}</string>
        <key>sourceSize</key>
        <string>{143,154}</string>
      </dict>
      <key>player_82515_0_5_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1220,157},{150,153}}</string>
        <key>offset</key>
        <string>{-52,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,153}}</string>
        <key>sourceSize</key>
        <string>{150,153}</string>
      </dict>
      <key>player_82515_0_5_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1103,325},{150,154}}</string>
        <key>offset</key>
        <string>{-52,78}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,154}}</string>
        <key>sourceSize</key>
        <string>{150,154}</string>
      </dict>
      <key>player_82515_0_5_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{948,335},{158,153}}</string>
        <key>offset</key>
        <string>{-57,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{158,153}}</string>
        <key>sourceSize</key>
        <string>{158,153}</string>
      </dict>
      <key>player_82515_0_5_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1062,166},{156,157}}</string>
        <key>offset</key>
        <string>{-51,75}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,157}}</string>
        <key>sourceSize</key>
        <string>{156,157}</string>
      </dict>
      <key>player_82515_0_5_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{554,713},{169,159}}</string>
        <key>offset</key>
        <string>{-72,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{169,159}}</string>
        <key>sourceSize</key>
        <string>{169,159}</string>
      </dict>
      <key>player_82515_0_5_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,688},{158,162}}</string>
        <key>offset</key>
        <string>{-65,87}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{158,162}}</string>
        <key>sourceSize</key>
        <string>{158,162}</string>
      </dict>
      <key>player_82515_0_5_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{857,511},{147,159}}</string>
        <key>offset</key>
        <string>{-58,88}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,159}}</string>
        <key>sourceSize</key>
        <string>{147,159}</string>
      </dict>
      <key>player_82515_0_5_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,852},{156,162}}</string>
        <key>offset</key>
        <string>{-65,87}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,162}}</string>
        <key>sourceSize</key>
        <string>{156,162}</string>
      </dict>
      <key>player_82515_0_5_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{788,343},{166,158}}</string>
        <key>offset</key>
        <string>{-72,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{166,158}}</string>
        <key>sourceSize</key>
        <string>{166,158}</string>
      </dict>
      <key>player_82515_0_5_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{556,528},{169,159}}</string>
        <key>offset</key>
        <string>{-69,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{169,159}}</string>
        <key>sourceSize</key>
        <string>{169,159}</string>
      </dict>
      <key>player_82515_0_5_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{672,0},{171,147}}</string>
        <key>offset</key>
        <string>{-62,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{171,147}}</string>
        <key>sourceSize</key>
        <string>{171,147}</string>
      </dict>
      <key>player_82515_0_5_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{407,539},{172,147}}</string>
        <key>offset</key>
        <string>{-62,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{172,147}}</string>
        <key>sourceSize</key>
        <string>{172,147}</string>
      </dict>
      <key>player_82515_0_5_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{523,0},{173,147}}</string>
        <key>offset</key>
        <string>{-64,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{173,147}}</string>
        <key>sourceSize</key>
        <string>{173,147}</string>
      </dict>
      <key>player_82515_0_5_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{258,549},{174,147}}</string>
        <key>offset</key>
        <string>{-67,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{174,147}}</string>
        <key>sourceSize</key>
        <string>{174,147}</string>
      </dict>
      <key>player_82515_0_5_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,740},{179,145}}</string>
        <key>offset</key>
        <string>{-74,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{179,145}}</string>
        <key>sourceSize</key>
        <string>{179,145}</string>
      </dict>
      <key>player_82515_0_5_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{261,184},{177,146}}</string>
        <key>offset</key>
        <string>{-70,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{177,146}}</string>
        <key>sourceSize</key>
        <string>{177,146}</string>
      </dict>
      <key>player_82515_0_5_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,372},{183,135}}</string>
        <key>offset</key>
        <string>{-63,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{183,135}}</string>
        <key>sourceSize</key>
        <string>{183,135}</string>
      </dict>
      <key>player_82515_0_5_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{129,0},{182,134}}</string>
        <key>offset</key>
        <string>{-61,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{182,134}}</string>
        <key>sourceSize</key>
        <string>{182,134}</string>
      </dict>
      <key>player_82515_0_5_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{129,184},{182,130}}</string>
        <key>offset</key>
        <string>{-61,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{182,130}}</string>
        <key>sourceSize</key>
        <string>{182,130}</string>
      </dict>
      <key>player_82515_0_5_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,557},{181,127}}</string>
        <key>offset</key>
        <string>{-61,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{181,127}}</string>
        <key>sourceSize</key>
        <string>{181,127}</string>
      </dict>
      <key>player_82515_0_5_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{184,127}}</string>
        <key>offset</key>
        <string>{-65,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{184,127}}</string>
        <key>sourceSize</key>
        <string>{184,127}</string>
      </dict>
      <key>player_82515_0_5_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,186},{184,127}}</string>
        <key>offset</key>
        <string>{-66,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{184,127}}</string>
        <key>sourceSize</key>
        <string>{184,127}</string>
      </dict>
      <key>player_82515_0_5_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{812,173},{166,124}}</string>
        <key>offset</key>
        <string>{-57,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{166,124}}</string>
        <key>sourceSize</key>
        <string>{166,124}</string>
      </dict>
      <key>player_82515_0_5_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{715,699},{167,133}}</string>
        <key>offset</key>
        <string>{-57,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,133}}</string>
        <key>sourceSize</key>
        <string>{167,133}</string>
      </dict>
      <key>player_82515_0_5_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1081,0},{157,136}}</string>
        <key>offset</key>
        <string>{-45,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{157,136}}</string>
        <key>sourceSize</key>
        <string>{157,136}</string>
      </dict>
      <key>player_82515_0_5_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{821,0},{166,130}}</string>
        <key>offset</key>
        <string>{-53,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{166,130}}</string>
        <key>sourceSize</key>
        <string>{166,130}</string>
      </dict>
      <key>player_82515_0_5_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{953,0},{164,126}}</string>
        <key>offset</key>
        <string>{-53,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{164,126}}</string>
        <key>sourceSize</key>
        <string>{164,126}</string>
      </dict>
      <key>player_82515_0_5_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{938,168},{165,122}}</string>
        <key>offset</key>
        <string>{-57,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{165,122}}</string>
        <key>sourceSize</key>
        <string>{165,122}</string>
      </dict>
      <key>player_82515_0_5_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{129,557},{179,127}}</string>
        <key>offset</key>
        <string>{-46,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{179,127}}</string>
        <key>sourceSize</key>
        <string>{179,127}</string>
      </dict>
      <key>player_82515_0_5_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{265,0},{177,129}}</string>
        <key>offset</key>
        <string>{-42,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{177,129}}</string>
        <key>sourceSize</key>
        <string>{177,129}</string>
      </dict>
      <key>player_82515_0_5_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{411,886},{168,128}}</string>
        <key>offset</key>
        <string>{-38,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{168,128}}</string>
        <key>sourceSize</key>
        <string>{168,128}</string>
      </dict>
      <key>player_82515_0_5_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{532,354},{172,127}}</string>
        <key>offset</key>
        <string>{-44,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{172,127}}</string>
        <key>sourceSize</key>
        <string>{172,127}</string>
      </dict>
      <key>player_82515_0_5_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{549,175},{172,127}}</string>
        <key>offset</key>
        <string>{-43,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{172,127}}</string>
        <key>sourceSize</key>
        <string>{172,127}</string>
      </dict>
      <key>player_82515_0_5_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{137,368},{179,126}}</string>
        <key>offset</key>
        <string>{-47,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{179,126}}</string>
        <key>sourceSize</key>
        <string>{179,126}</string>
      </dict>
      <key>player_82515_0_5_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{661,349},{168,125}}</string>
        <key>offset</key>
        <string>{-46,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{168,125}}</string>
        <key>sourceSize</key>
        <string>{168,125}</string>
      </dict>
      <key>player_82515_0_5_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,0},{176,125}}</string>
        <key>offset</key>
        <string>{-46,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,125}}</string>
        <key>sourceSize</key>
        <string>{176,125}</string>
      </dict>
      <key>player_82515_0_5_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{282,725},{173,127}}</string>
        <key>offset</key>
        <string>{-45,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{173,127}}</string>
        <key>sourceSize</key>
        <string>{173,127}</string>
      </dict>
      <key>player_82515_0_5_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{265,363},{174,130}}</string>
        <key>offset</key>
        <string>{-45,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{174,130}}</string>
        <key>sourceSize</key>
        <string>{174,130}</string>
      </dict>
      <key>player_82515_0_5_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{147,738},{175,133}}</string>
        <key>offset</key>
        <string>{-45,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{175,133}}</string>
        <key>sourceSize</key>
        <string>{175,133}</string>
      </dict>
      <key>player_82515_0_5_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{678,173},{168,132}}</string>
        <key>offset</key>
        <string>{-44,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{168,132}}</string>
        <key>sourceSize</key>
        <string>{168,132}</string>
      </dict>
      <key>player_82515_0_5_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{581,884},{168,133}}</string>
        <key>offset</key>
        <string>{-43,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{168,133}}</string>
        <key>sourceSize</key>
        <string>{168,133}</string>
      </dict>
      <key>player_82515_0_5_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{397,363},{174,133}}</string>
        <key>offset</key>
        <string>{-47,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{174,133}}</string>
        <key>sourceSize</key>
        <string>{174,133}</string>
      </dict>
      <key>player_82515_0_5_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{409,178},{174,138}}</string>
        <key>offset</key>
        <string>{-46,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{174,138}}</string>
        <key>sourceSize</key>
        <string>{174,138}</string>
      </dict>
      <key>player_82515_0_5_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{411,713},{171,141}}</string>
        <key>offset</key>
        <string>{-46,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{171,141}}</string>
        <key>sourceSize</key>
        <string>{171,141}</string>
      </dict>
      <key>player_82515_0_5_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{717,519},{167,138}}</string>
        <key>offset</key>
        <string>{-49,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,138}}</string>
        <key>sourceSize</key>
        <string>{167,138}</string>
      </dict>
      <key>player_82515_0_5_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1008,852},{162,137}}</string>
        <key>offset</key>
        <string>{-46,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{162,137}}</string>
        <key>sourceSize</key>
        <string>{162,137}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_82515_0_5.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>player_82515_0_5.png</string>
    </dict>
  </dict>
</plist>