<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_10027_0_5_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{465,283},{134,111}}</string>
        <key>offset</key>
        <string>{-31,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,111}}</string>
        <key>sourceSize</key>
        <string>{134,111}</string>
      </dict>
      <key>player_10027_0_5_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{390,425},{135,107}}</string>
        <key>offset</key>
        <string>{-29,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,107}}</string>
        <key>sourceSize</key>
        <string>{135,107}</string>
      </dict>
      <key>player_10027_0_5_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{223,910},{137,109}}</string>
        <key>offset</key>
        <string>{-27,71}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,109}}</string>
        <key>sourceSize</key>
        <string>{137,109}</string>
      </dict>
      <key>player_10027_0_5_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{347,740},{136,105}}</string>
        <key>offset</key>
        <string>{-25,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,105}}</string>
        <key>sourceSize</key>
        <string>{136,105}</string>
      </dict>
      <key>player_10027_0_5_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{362,878},{136,102}}</string>
        <key>offset</key>
        <string>{-28,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,102}}</string>
        <key>sourceSize</key>
        <string>{136,102}</string>
      </dict>
      <key>player_10027_0_5_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{319,601},{137,105}}</string>
        <key>offset</key>
        <string>{-30,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,105}}</string>
        <key>sourceSize</key>
        <string>{137,105}</string>
      </dict>
      <key>player_10027_0_5_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,795},{99,147}}</string>
        <key>offset</key>
        <string>{-31,101}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,147}}</string>
        <key>sourceSize</key>
        <string>{99,147}</string>
      </dict>
      <key>player_10027_0_5_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{295,0},{103,140}}</string>
        <key>offset</key>
        <string>{-33,94}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,140}}</string>
        <key>sourceSize</key>
        <string>{103,140}</string>
      </dict>
      <key>player_10027_0_5_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{204,151},{107,142}}</string>
        <key>offset</key>
        <string>{-33,97}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,142}}</string>
        <key>sourceSize</key>
        <string>{107,142}</string>
      </dict>
      <key>player_10027_0_5_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{206,629},{111,139}}</string>
        <key>offset</key>
        <string>{-36,93}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,139}}</string>
        <key>sourceSize</key>
        <string>{111,139}</string>
      </dict>
      <key>player_10027_0_5_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{313,142},{106,140}}</string>
        <key>offset</key>
        <string>{-35,94}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,140}}</string>
        <key>sourceSize</key>
        <string>{106,140}</string>
      </dict>
      <key>player_10027_0_5_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,645},{104,144}}</string>
        <key>offset</key>
        <string>{-34,99}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,144}}</string>
        <key>sourceSize</key>
        <string>{104,144}</string>
      </dict>
      <key>player_10027_0_5_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{196,0},{97,149}}</string>
        <key>offset</key>
        <string>{-21,115}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,149}}</string>
        <key>sourceSize</key>
        <string>{97,149}</string>
      </dict>
      <key>player_10027_0_5_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{92,331},{87,151}}</string>
        <key>offset</key>
        <string>{-19,119}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,151}}</string>
        <key>sourceSize</key>
        <string>{87,151}</string>
      </dict>
      <key>player_10027_0_5_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,331},{90,158}}</string>
        <key>offset</key>
        <string>{-17,126}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,158}}</string>
        <key>sourceSize</key>
        <string>{90,158}</string>
      </dict>
      <key>player_10027_0_5_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,169},{91,160}}</string>
        <key>offset</key>
        <string>{-15,127}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,160}}</string>
        <key>sourceSize</key>
        <string>{91,160}</string>
      </dict>
      <key>player_10027_0_5_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{85,167}}</string>
        <key>offset</key>
        <string>{-17,131}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,167}}</string>
        <key>sourceSize</key>
        <string>{85,167}</string>
      </dict>
      <key>player_10027_0_5_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,645},{98,148}}</string>
        <key>offset</key>
        <string>{-25,113}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,148}}</string>
        <key>sourceSize</key>
        <string>{98,148}</string>
      </dict>
      <key>player_10027_0_5_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{578,277},{128,129}}</string>
        <key>offset</key>
        <string>{-33,98}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,129}}</string>
        <key>sourceSize</key>
        <string>{128,129}</string>
      </dict>
      <key>player_10027_0_5_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{622,408},{125,124}}</string>
        <key>offset</key>
        <string>{-33,100}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,124}}</string>
        <key>sourceSize</key>
        <string>{125,124}</string>
      </dict>
      <key>player_10027_0_5_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{534,0},{123,132}}</string>
        <key>offset</key>
        <string>{-34,109}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,132}}</string>
        <key>sourceSize</key>
        <string>{123,132}</string>
      </dict>
      <key>player_10027_0_5_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{784,0},{117,127}}</string>
        <key>offset</key>
        <string>{-32,101}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,127}}</string>
        <key>sourceSize</key>
        <string>{117,127}</string>
      </dict>
      <key>player_10027_0_5_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{829,375},{122,124}}</string>
        <key>offset</key>
        <string>{-33,101}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{122,124}}</string>
        <key>sourceSize</key>
        <string>{122,124}</string>
      </dict>
      <key>player_10027_0_5_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{533,142},{127,133}}</string>
        <key>offset</key>
        <string>{-33,106}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,133}}</string>
        <key>sourceSize</key>
        <string>{127,133}</string>
      </dict>
      <key>player_10027_0_5_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{251,460},{137,139}}</string>
        <key>offset</key>
        <string>{-12,106}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,139}}</string>
        <key>sourceSize</key>
        <string>{137,139}</string>
      </dict>
      <key>player_10027_0_5_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,0},{140,132}}</string>
        <key>offset</key>
        <string>{-16,109}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,132}}</string>
        <key>sourceSize</key>
        <string>{140,132}</string>
      </dict>
      <key>player_10027_0_5_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{325,284},{138,139}}</string>
        <key>offset</key>
        <string>{-18,112}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,139}}</string>
        <key>sourceSize</key>
        <string>{138,139}</string>
      </dict>
      <key>player_10027_0_5_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{108,484},{141,143}}</string>
        <key>offset</key>
        <string>{-23,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,143}}</string>
        <key>sourceSize</key>
        <string>{141,143}</string>
      </dict>
      <key>player_10027_0_5_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{181,315},{143,142}}</string>
        <key>offset</key>
        <string>{-21,118}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,142}}</string>
        <key>sourceSize</key>
        <string>{143,142}</string>
      </dict>
      <key>player_10027_0_5_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{223,770},{138,122}}</string>
        <key>offset</key>
        <string>{-14,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,122}}</string>
        <key>sourceSize</key>
        <string>{138,122}</string>
      </dict>
      <key>player_10027_0_5_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{101,791},{120,140}}</string>
        <key>offset</key>
        <string>{3,113}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,140}}</string>
        <key>sourceSize</key>
        <string>{120,140}</string>
      </dict>
      <key>player_10027_0_5_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{499,419},{121,130}}</string>
        <key>offset</key>
        <string>{3,107}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,130}}</string>
        <key>sourceSize</key>
        <string>{121,130}</string>
      </dict>
      <key>player_10027_0_5_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{662,134},{127,129}}</string>
        <key>offset</key>
        <string>{0,102}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,129}}</string>
        <key>sourceSize</key>
        <string>{127,129}</string>
      </dict>
      <key>player_10027_0_5_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{659,0},{123,132}}</string>
        <key>offset</key>
        <string>{2,101}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,132}}</string>
        <key>sourceSize</key>
        <string>{123,132}</string>
      </dict>
      <key>player_10027_0_5_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{454,696},{124,127}}</string>
        <key>offset</key>
        <string>{2,102}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,127}}</string>
        <key>sourceSize</key>
        <string>{124,127}</string>
      </dict>
      <key>player_10027_0_5_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{708,265},{119,125}}</string>
        <key>offset</key>
        <string>{7,103}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,125}}</string>
        <key>sourceSize</key>
        <string>{119,125}</string>
      </dict>
      <key>player_10027_0_5_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{466,825},{113,124}}</string>
        <key>offset</key>
        <string>{1,88}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,124}}</string>
        <key>sourceSize</key>
        <string>{113,124}</string>
      </dict>
      <key>player_10027_0_5_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{903,0},{108,127}}</string>
        <key>offset</key>
        <string>{4,91}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,127}}</string>
        <key>sourceSize</key>
        <string>{108,127}</string>
      </dict>
      <key>player_10027_0_5_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{93,162},{109,151}}</string>
        <key>offset</key>
        <string>{2,117}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,151}}</string>
        <key>sourceSize</key>
        <string>{109,151}</string>
      </dict>
      <key>player_10027_0_5_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{87,0},{107,160}}</string>
        <key>offset</key>
        <string>{-1,121}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,160}}</string>
        <key>sourceSize</key>
        <string>{107,160}</string>
      </dict>
      <key>player_10027_0_5_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,491},{106,152}}</string>
        <key>offset</key>
        <string>{4,118}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,152}}</string>
        <key>sourceSize</key>
        <string>{106,152}</string>
      </dict>
      <key>player_10027_0_5_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{421,142},{110,139}}</string>
        <key>offset</key>
        <string>{2,104}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,139}}</string>
        <key>sourceSize</key>
        <string>{110,139}</string>
      </dict>
      <key>player_10027_0_5_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{903,129},{126,112}}</string>
        <key>offset</key>
        <string>{0,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,112}}</string>
        <key>sourceSize</key>
        <string>{126,112}</string>
      </dict>
      <key>player_10027_0_5_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{553,551},{126,113}}</string>
        <key>offset</key>
        <string>{0,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,113}}</string>
        <key>sourceSize</key>
        <string>{126,113}</string>
      </dict>
      <key>player_10027_0_5_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{829,257},{125,116}}</string>
        <key>offset</key>
        <string>{3,71}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,116}}</string>
        <key>sourceSize</key>
        <string>{125,116}</string>
      </dict>
      <key>player_10027_0_5_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{580,679},{122,117}}</string>
        <key>offset</key>
        <string>{4,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{122,117}}</string>
        <key>sourceSize</key>
        <string>{122,117}</string>
      </dict>
      <key>player_10027_0_5_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{668,535},{122,119}}</string>
        <key>offset</key>
        <string>{5,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{122,119}}</string>
        <key>sourceSize</key>
        <string>{122,119}</string>
      </dict>
      <key>player_10027_0_5_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{426,562},{125,132}}</string>
        <key>offset</key>
        <string>{0,87}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,132}}</string>
        <key>sourceSize</key>
        <string>{125,132}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_10027_0_5.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>player_10027_0_5.png</string>
    </dict>
  </dict>
</plist>