<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_3009_0_10_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{137,477},{132,115}}</string>
        <key>offset</key>
        <string>{7,81}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,115}}</string>
        <key>sourceSize</key>
        <string>{132,115}</string>
      </dict>
      <key>player_3009_0_10_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{420,784},{91,91}}</string>
        <key>offset</key>
        <string>{10,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,91}}</string>
        <key>sourceSize</key>
        <string>{91,91}</string>
      </dict>
      <key>player_3009_0_10_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{420,700},{96,82}}</string>
        <key>offset</key>
        <string>{-34,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,82}}</string>
        <key>sourceSize</key>
        <string>{96,82}</string>
      </dict>
      <key>player_3009_0_10_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{324,182},{151,130}}</string>
        <key>offset</key>
        <string>{-4,97}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,130}}</string>
        <key>sourceSize</key>
        <string>{151,130}</string>
      </dict>
      <key>player_3009_0_10_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{513,784},{60,90}}</string>
        <key>offset</key>
        <string>{2,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,90}}</string>
        <key>sourceSize</key>
        <string>{60,90}</string>
      </dict>
      <key>player_3009_0_10_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{234,722},{121,97}}</string>
        <key>offset</key>
        <string>{1,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,97}}</string>
        <key>sourceSize</key>
        <string>{121,97}</string>
      </dict>
      <key>player_3009_0_10_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{420,610},{98,88}}</string>
        <key>offset</key>
        <string>{16,52}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,88}}</string>
        <key>sourceSize</key>
        <string>{98,88}</string>
      </dict>
      <key>player_3009_0_10_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{575,778},{72,84}}</string>
        <key>offset</key>
        <string>{-3,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,84}}</string>
        <key>sourceSize</key>
        <string>{72,84}</string>
      </dict>
      <key>player_3009_0_10_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{140,369},{136,106}}</string>
        <key>offset</key>
        <string>{-68,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,106}}</string>
        <key>sourceSize</key>
        <string>{136,106}</string>
      </dict>
      <key>player_3009_0_10_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{536,602},{109,99}}</string>
        <key>offset</key>
        <string>{16,64}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,99}}</string>
        <key>sourceSize</key>
        <string>{109,99}</string>
      </dict>
      <key>player_3009_0_10_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{652,505},{113,88}}</string>
        <key>offset</key>
        <string>{12,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,88}}</string>
        <key>sourceSize</key>
        <string>{113,88}</string>
      </dict>
      <key>player_3009_0_10_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,447},{135,88}}</string>
        <key>offset</key>
        <string>{16,52}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,88}}</string>
        <key>sourceSize</key>
        <string>{135,88}</string>
      </dict>
      <key>player_3009_0_10_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{518,703},{72,85}}</string>
        <key>offset</key>
        <string>{4,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,85}}</string>
        <key>sourceSize</key>
        <string>{72,85}</string>
      </dict>
      <key>player_3009_0_10_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{536,505},{114,95}}</string>
        <key>offset</key>
        <string>{-42,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,95}}</string>
        <key>sourceSize</key>
        <string>{114,95}</string>
      </dict>
      <key>player_3009_0_10_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{420,363},{128,135}}</string>
        <key>offset</key>
        <string>{-63,101}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,135}}</string>
        <key>sourceSize</key>
        <string>{128,135}</string>
      </dict>
      <key>player_3009_0_10_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{645,0},{97,80}}</string>
        <key>offset</key>
        <string>{1,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,80}}</string>
        <key>sourceSize</key>
        <string>{97,80}</string>
      </dict>
      <key>player_3009_0_10_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{488,0},{155,80}}</string>
        <key>offset</key>
        <string>{1,42}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,80}}</string>
        <key>sourceSize</key>
        <string>{155,80}</string>
      </dict>
      <key>player_3009_0_10_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,668},{128,88}}</string>
        <key>offset</key>
        <string>{4,41}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,88}}</string>
        <key>sourceSize</key>
        <string>{128,88}</string>
      </dict>
      <key>player_3009_0_10_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{333,778},{99,85}}</string>
        <key>offset</key>
        <string>{-32,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,85}}</string>
        <key>sourceSize</key>
        <string>{99,85}</string>
      </dict>
      <key>player_3009_0_10_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{113,758},{119,122}}</string>
        <key>offset</key>
        <string>{-59,90}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,122}}</string>
        <key>sourceSize</key>
        <string>{119,122}</string>
      </dict>
      <key>player_3009_0_10_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{329,92},{88,154}}</string>
        <key>offset</key>
        <string>{-22,123}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,154}}</string>
        <key>sourceSize</key>
        <string>{88,154}</string>
      </dict>
      <key>player_3009_0_10_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{647,693},{108,83}}</string>
        <key>offset</key>
        <string>{-32,52}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,83}}</string>
        <key>sourceSize</key>
        <string>{108,83}</string>
      </dict>
      <key>player_3009_0_10_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{557,376},{130,127}}</string>
        <key>offset</key>
        <string>{-4,40}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,127}}</string>
        <key>sourceSize</key>
        <string>{130,127}</string>
      </dict>
      <key>player_3009_0_10_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{689,376},{68,106}}</string>
        <key>offset</key>
        <string>{0,36}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,106}}</string>
        <key>sourceSize</key>
        <string>{68,106}</string>
      </dict>
      <key>player_3009_0_10_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,758},{125,111}}</string>
        <key>offset</key>
        <string>{-68,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,111}}</string>
        <key>sourceSize</key>
        <string>{125,111}</string>
      </dict>
      <key>player_3009_0_10_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{169,101},{95,153}}</string>
        <key>offset</key>
        <string>{-35,114}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,153}}</string>
        <key>sourceSize</key>
        <string>{95,153}</string>
      </dict>
      <key>player_3009_0_10_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{123,167}}</string>
        <key>offset</key>
        <string>{3,129}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,167}}</string>
        <key>sourceSize</key>
        <string>{123,167}</string>
      </dict>
      <key>player_3009_0_10_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{404,493},{130,115}}</string>
        <key>offset</key>
        <string>{-69,76}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,115}}</string>
        <key>sourceSize</key>
        <string>{130,115}</string>
      </dict>
      <key>player_3009_0_10_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{281,314},{63,137}}</string>
        <key>offset</key>
        <string>{-1,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,137}}</string>
        <key>sourceSize</key>
        <string>{63,137}</string>
      </dict>
      <key>player_3009_0_10_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{652,595},{111,96}}</string>
        <key>offset</key>
        <string>{-55,36}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,96}}</string>
        <key>sourceSize</key>
        <string>{111,96}</string>
      </dict>
      <key>player_3009_0_10_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{278,379},{111,134}}</string>
        <key>offset</key>
        <string>{-52,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,134}}</string>
        <key>sourceSize</key>
        <string>{111,134}</string>
      </dict>
      <key>player_3009_0_10_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{169,0},{99,158}}</string>
        <key>offset</key>
        <string>{0,121}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,158}}</string>
        <key>sourceSize</key>
        <string>{99,158}</string>
      </dict>
      <key>player_3009_0_10_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{488,82},{155,132}}</string>
        <key>offset</key>
        <string>{-1,96}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,132}}</string>
        <key>sourceSize</key>
        <string>{155,132}</string>
      </dict>
      <key>player_3009_0_10_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,125},{115,143}}</string>
        <key>offset</key>
        <string>{-63,105}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,143}}</string>
        <key>sourceSize</key>
        <string>{115,143}</string>
      </dict>
      <key>player_3009_0_10_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{134,594},{129,126}}</string>
        <key>offset</key>
        <string>{-79,43}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,126}}</string>
        <key>sourceSize</key>
        <string>{129,126}</string>
      </dict>
      <key>player_3009_0_10_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{141,289},{138,78}}</string>
        <key>offset</key>
        <string>{-96,40}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,78}}</string>
        <key>sourceSize</key>
        <string>{138,78}</string>
      </dict>
      <key>player_3009_0_10_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{145,198},{89,142}}</string>
        <key>offset</key>
        <string>{-11,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,142}}</string>
        <key>sourceSize</key>
        <string>{89,142}</string>
      </dict>
      <key>player_3009_0_10_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{625,237},{141,137}}</string>
        <key>offset</key>
        <string>{-8,108}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,137}}</string>
        <key>sourceSize</key>
        <string>{141,137}</string>
      </dict>
      <key>player_3009_0_10_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,352},{138,93}}</string>
        <key>offset</key>
        <string>{-4,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,93}}</string>
        <key>sourceSize</key>
        <string>{138,93}</string>
      </dict>
      <key>player_3009_0_10_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{645,82},{119,153}}</string>
        <key>offset</key>
        <string>{-43,122}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,153}}</string>
        <key>sourceSize</key>
        <string>{119,153}</string>
      </dict>
      <key>player_3009_0_10_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{329,0},{157,90}}</string>
        <key>offset</key>
        <string>{-108,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{157,90}}</string>
        <key>sourceSize</key>
        <string>{157,90}</string>
      </dict>
      <key>player_3009_0_10_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{271,492},{131,84}}</string>
        <key>offset</key>
        <string>{-86,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,84}}</string>
        <key>sourceSize</key>
        <string>{131,84}</string>
      </dict>
      <key>player_3009_0_10_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,537},{132,129}}</string>
        <key>offset</key>
        <string>{-8,102}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,129}}</string>
        <key>sourceSize</key>
        <string>{132,129}</string>
      </dict>
      <key>player_3009_0_10_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,242},{139,108}}</string>
        <key>offset</key>
        <string>{-3,81}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,108}}</string>
        <key>sourceSize</key>
        <string>{139,108}</string>
      </dict>
      <key>player_3009_0_10_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{649,778},{84,68}}</string>
        <key>offset</key>
        <string>{-3,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,68}}</string>
        <key>sourceSize</key>
        <string>{84,68}</string>
      </dict>
      <key>player_3009_0_10_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{477,216},{145,146}}</string>
        <key>offset</key>
        <string>{-16,121}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,146}}</string>
        <key>sourceSize</key>
        <string>{145,146}</string>
      </dict>
      <key>player_3009_0_10_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{271,578},{130,75}}</string>
        <key>offset</key>
        <string>{-78,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,75}}</string>
        <key>sourceSize</key>
        <string>{130,75}</string>
      </dict>
      <key>player_3009_0_10_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{265,655},{61,99}}</string>
        <key>offset</key>
        <string>{-7,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,99}}</string>
        <key>sourceSize</key>
        <string>{61,99}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_3009_0_10.png</string>
      <key>size</key>
      <string>{768,896}</string>
      <key>textureFileName</key>
      <string>player_3009_0_10.png</string>
    </dict>
  </dict>
</plist>