<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_10036_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{133,78}}</string>
        <key>offset</key>
        <string>{-50,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,78}}</string>
        <key>sourceSize</key>
        <string>{133,78}</string>
      </dict>
      <key>player_10036_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{192,0},{126,97}}</string>
        <key>offset</key>
        <string>{-47,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,97}}</string>
        <key>sourceSize</key>
        <string>{126,97}</string>
      </dict>
      <key>player_10036_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,135},{130,97}}</string>
        <key>offset</key>
        <string>{-51,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,97}}</string>
        <key>sourceSize</key>
        <string>{130,97}</string>
      </dict>
      <key>player_10036_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{594,0},{111,102}}</string>
        <key>offset</key>
        <string>{-60,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,102}}</string>
        <key>sourceSize</key>
        <string>{111,102}</string>
      </dict>
      <key>player_10036_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{543,351},{109,108}}</string>
        <key>offset</key>
        <string>{-51,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,108}}</string>
        <key>sourceSize</key>
        <string>{109,108}</string>
      </dict>
      <key>player_10036_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{327,242},{115,111}}</string>
        <key>offset</key>
        <string>{-51,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,111}}</string>
        <key>sourceSize</key>
        <string>{115,111}</string>
      </dict>
      <key>player_10036_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{490,0},{102,114}}</string>
        <key>offset</key>
        <string>{-46,81}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,114}}</string>
        <key>sourceSize</key>
        <string>{102,114}</string>
      </dict>
      <key>player_10036_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{253,373},{104,116}}</string>
        <key>offset</key>
        <string>{-38,83}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,116}}</string>
        <key>sourceSize</key>
        <string>{104,116}</string>
      </dict>
      <key>player_10036_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{214,253},{111,118}}</string>
        <key>offset</key>
        <string>{-35,85}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,118}}</string>
        <key>sourceSize</key>
        <string>{111,118}</string>
      </dict>
      <key>player_10036_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,389},{123,116}}</string>
        <key>offset</key>
        <string>{-64,87}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,116}}</string>
        <key>sourceSize</key>
        <string>{123,116}</string>
      </dict>
      <key>player_10036_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{199,128},{123,106}}</string>
        <key>offset</key>
        <string>{-56,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,106}}</string>
        <key>sourceSize</key>
        <string>{123,106}</string>
      </dict>
      <key>player_10036_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{80,0},{130,110}}</string>
        <key>offset</key>
        <string>{-55,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,110}}</string>
        <key>sourceSize</key>
        <string>{130,110}</string>
      </dict>
      <key>player_10036_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,267},{127,107}}</string>
        <key>offset</key>
        <string>{-32,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,107}}</string>
        <key>sourceSize</key>
        <string>{127,107}</string>
      </dict>
      <key>player_10036_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,396},{126,99}}</string>
        <key>offset</key>
        <string>{-29,70}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,99}}</string>
        <key>sourceSize</key>
        <string>{126,99}</string>
      </dict>
      <key>player_10036_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{99,132},{127,98}}</string>
        <key>offset</key>
        <string>{-33,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,98}}</string>
        <key>sourceSize</key>
        <string>{127,98}</string>
      </dict>
      <key>player_10036_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{291,0},{105,121}}</string>
        <key>offset</key>
        <string>{3,89}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,121}}</string>
        <key>sourceSize</key>
        <string>{105,121}</string>
      </dict>
      <key>player_10036_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{416,119},{104,115}}</string>
        <key>offset</key>
        <string>{-7,82}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,115}}</string>
        <key>sourceSize</key>
        <string>{104,115}</string>
      </dict>
      <key>player_10036_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{307,123},{107,117}}</string>
        <key>offset</key>
        <string>{-8,84}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,117}}</string>
        <key>sourceSize</key>
        <string>{107,117}</string>
      </dict>
      <key>player_10036_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,351},{91,110}}</string>
        <key>offset</key>
        <string>{5,78}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,110}}</string>
        <key>sourceSize</key>
        <string>{91,110}</string>
      </dict>
      <key>player_10036_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{522,116},{86,112}}</string>
        <key>offset</key>
        <string>{5,81}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,112}}</string>
        <key>sourceSize</key>
        <string>{86,112}</string>
      </dict>
      <key>player_10036_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{398,0},{90,117}}</string>
        <key>offset</key>
        <string>{-1,87}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,117}}</string>
        <key>sourceSize</key>
        <string>{90,117}</string>
      </dict>
      <key>player_10036_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{359,359},{114,89}}</string>
        <key>offset</key>
        <string>{-1,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,89}}</string>
        <key>sourceSize</key>
        <string>{114,89}</string>
      </dict>
      <key>player_10036_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{440,236},{113,106}}</string>
        <key>offset</key>
        <string>{-9,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,106}}</string>
        <key>sourceSize</key>
        <string>{113,106}</string>
      </dict>
      <key>player_10036_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{109,261},{126,103}}</string>
        <key>offset</key>
        <string>{-15,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,103}}</string>
        <key>sourceSize</key>
        <string>{126,103}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_10036_0_7.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>player_10036_0_7.png</string>
    </dict>
  </dict>
</plist>