<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_10051_0_11_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{163,0},{188,162}}</string>
        <key>offset</key>
        <string>{-89,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{188,162}}</string>
        <key>sourceSize</key>
        <string>{188,162}</string>
      </dict>
      <key>player_10051_0_11_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{327,0},{123,186}}</string>
        <key>offset</key>
        <string>{-53,117}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,186}}</string>
        <key>sourceSize</key>
        <string>{123,186}</string>
      </dict>
      <key>player_10051_0_11_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{318,322},{147,168}}</string>
        <key>offset</key>
        <string>{-75,122}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,168}}</string>
        <key>sourceSize</key>
        <string>{147,168}</string>
      </dict>
      <key>player_10051_0_11_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{199,161}}</string>
        <key>offset</key>
        <string>{-85,109}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{199,161}}</string>
        <key>sourceSize</key>
        <string>{199,161}</string>
      </dict>
      <key>player_10051_0_11_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{167,190},{176,149}}</string>
        <key>offset</key>
        <string>{-37,111}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,149}}</string>
        <key>sourceSize</key>
        <string>{176,149}</string>
      </dict>
      <key>player_10051_0_11_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,398},{105,175}}</string>
        <key>offset</key>
        <string>{-3,119}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,175}}</string>
        <key>sourceSize</key>
        <string>{105,175}</string>
      </dict>
      <key>player_10051_0_11_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{327,188},{132,180}}</string>
        <key>offset</key>
        <string>{-8,118}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,180}}</string>
        <key>sourceSize</key>
        <string>{132,180}</string>
      </dict>
      <key>player_10051_0_11_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,201},{195,165}}</string>
        <key>offset</key>
        <string>{-60,109}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{195,165}}</string>
        <key>sourceSize</key>
        <string>{195,165}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_10051_0_11.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>player_10051_0_11.png</string>
    </dict>
  </dict>
</plist>