<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_10062_1_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{129,0},{132,87}}</string>
        <key>offset</key>
        <string>{-54,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,87}}</string>
        <key>sourceSize</key>
        <string>{132,87}</string>
      </dict>
      <key>player_10062_1_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{135,409},{129,92}}</string>
        <key>offset</key>
        <string>{-53,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,92}}</string>
        <key>sourceSize</key>
        <string>{129,92}</string>
      </dict>
      <key>player_10062_1_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{266,404},{129,104}}</string>
        <key>offset</key>
        <string>{-52,70}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,104}}</string>
        <key>sourceSize</key>
        <string>{129,104}</string>
      </dict>
      <key>player_10062_1_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{517,297},{107,107}}</string>
        <key>offset</key>
        <string>{-47,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,107}}</string>
        <key>sourceSize</key>
        <string>{107,107}</string>
      </dict>
      <key>player_10062_1_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{517,196},{99,108}}</string>
        <key>offset</key>
        <string>{-41,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,108}}</string>
        <key>sourceSize</key>
        <string>{99,108}</string>
      </dict>
      <key>player_10062_1_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{517,0},{97,116}}</string>
        <key>offset</key>
        <string>{-33,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,116}}</string>
        <key>sourceSize</key>
        <string>{97,116}</string>
      </dict>
      <key>player_10062_1_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{397,393},{108,118}}</string>
        <key>offset</key>
        <string>{-53,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,118}}</string>
        <key>sourceSize</key>
        <string>{108,118}</string>
      </dict>
      <key>player_10062_1_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,132},{110,126}}</string>
        <key>offset</key>
        <string>{-45,92}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,126}}</string>
        <key>sourceSize</key>
        <string>{110,126}</string>
      </dict>
      <key>player_10062_1_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{321,264},{106,127}}</string>
        <key>offset</key>
        <string>{-33,94}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,127}}</string>
        <key>sourceSize</key>
        <string>{106,127}</string>
      </dict>
      <key>player_10062_1_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{135,127}}</string>
        <key>offset</key>
        <string>{-59,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,127}}</string>
        <key>sourceSize</key>
        <string>{135,127}</string>
      </dict>
      <key>player_10062_1_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,137},{135,124}}</string>
        <key>offset</key>
        <string>{-54,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,124}}</string>
        <key>sourceSize</key>
        <string>{135,124}</string>
      </dict>
      <key>player_10062_1_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,274},{135,119}}</string>
        <key>offset</key>
        <string>{-48,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,119}}</string>
        <key>sourceSize</key>
        <string>{135,119}</string>
      </dict>
      <key>player_10062_1_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,0},{130,114}}</string>
        <key>offset</key>
        <string>{-26,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,114}}</string>
        <key>sourceSize</key>
        <string>{130,114}</string>
      </dict>
      <key>player_10062_1_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{207,272},{130,112}}</string>
        <key>offset</key>
        <string>{-29,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,112}}</string>
        <key>sourceSize</key>
        <string>{130,112}</string>
      </dict>
      <key>player_10062_1_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{221,132},{130,107}}</string>
        <key>offset</key>
        <string>{-29,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,107}}</string>
        <key>sourceSize</key>
        <string>{130,107}</string>
      </dict>
      <key>player_10062_1_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{517,99},{95,115}}</string>
        <key>offset</key>
        <string>{-1,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,115}}</string>
        <key>sourceSize</key>
        <string>{95,115}</string>
      </dict>
      <key>player_10062_1_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{423,0},{86,114}}</string>
        <key>offset</key>
        <string>{1,81}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,114}}</string>
        <key>sourceSize</key>
        <string>{86,114}</string>
      </dict>
      <key>player_10062_1_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{334,0},{87,119}}</string>
        <key>offset</key>
        <string>{-3,85}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,119}}</string>
        <key>sourceSize</key>
        <string>{87,119}</string>
      </dict>
      <key>player_10062_1_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{517,406},{105,96}}</string>
        <key>offset</key>
        <string>{-3,55}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,96}}</string>
        <key>sourceSize</key>
        <string>{105,96}</string>
      </dict>
      <key>player_10062_1_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{635,0},{92,93}}</string>
        <key>offset</key>
        <string>{-1,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,93}}</string>
        <key>sourceSize</key>
        <string>{92,93}</string>
      </dict>
      <key>player_10062_1_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{635,94},{90,93}}</string>
        <key>offset</key>
        <string>{-10,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,93}}</string>
        <key>sourceSize</key>
        <string>{90,93}</string>
      </dict>
      <key>player_10062_1_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,411},{133,83}}</string>
        <key>offset</key>
        <string>{-26,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,83}}</string>
        <key>sourceSize</key>
        <string>{133,83}</string>
      </dict>
      <key>player_10062_1_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{121,274},{133,84}}</string>
        <key>offset</key>
        <string>{-31,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,84}}</string>
        <key>sourceSize</key>
        <string>{133,84}</string>
      </dict>
      <key>player_10062_1_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{126,137},{133,93}}</string>
        <key>offset</key>
        <string>{-35,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,93}}</string>
        <key>sourceSize</key>
        <string>{133,93}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_10062_1_7.png</string>
      <key>size</key>
      <string>{732,514}</string>
      <key>textureFileName</key>
      <string>player_10062_1_7.png</string>
    </dict>
  </dict>
</plist>