<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_3010_0_8_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{384,201},{59,119}}</string>
        <key>offset</key>
        <string>{-3,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,119}}</string>
        <key>sourceSize</key>
        <string>{59,119}</string>
      </dict>
      <key>player_3010_0_8_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{384,66},{119,133}}</string>
        <key>offset</key>
        <string>{-3,104}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,133}}</string>
        <key>sourceSize</key>
        <string>{119,133}</string>
      </dict>
      <key>player_3010_0_8_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,379},{130,111}}</string>
        <key>offset</key>
        <string>{2,80}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,111}}</string>
        <key>sourceSize</key>
        <string>{130,111}</string>
      </dict>
      <key>player_3010_0_8_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{71,0},{165,88}}</string>
        <key>offset</key>
        <string>{2,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{165,88}}</string>
        <key>sourceSize</key>
        <string>{165,88}</string>
      </dict>
      <key>player_3010_0_8_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{182,69}}</string>
        <key>offset</key>
        <string>{-1,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{182,69}}</string>
        <key>sourceSize</key>
        <string>{182,69}</string>
      </dict>
      <key>player_3010_0_8_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{241,303},{141,74}}</string>
        <key>offset</key>
        <string>{-2,35}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,74}}</string>
        <key>sourceSize</key>
        <string>{141,74}</string>
      </dict>
      <key>player_3010_0_8_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{140,167},{155,99}}</string>
        <key>offset</key>
        <string>{-6,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,99}}</string>
        <key>sourceSize</key>
        <string>{155,99}</string>
      </dict>
      <key>player_3010_0_8_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,399},{64,83}}</string>
        <key>offset</key>
        <string>{-7,27}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,83}}</string>
        <key>sourceSize</key>
        <string>{64,83}</string>
      </dict>
      <key>player_3010_0_8_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{384,338},{59,115}}</string>
        <key>offset</key>
        <string>{-8,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,115}}</string>
        <key>sourceSize</key>
        <string>{59,115}</string>
      </dict>
      <key>player_3010_0_8_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{384,262},{118,74}}</string>
        <key>offset</key>
        <string>{-68,25}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,74}}</string>
        <key>sourceSize</key>
        <string>{118,74}</string>
      </dict>
      <key>player_3010_0_8_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{261,0},{131,94}}</string>
        <key>offset</key>
        <string>{-85,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,94}}</string>
        <key>sourceSize</key>
        <string>{131,94}</string>
      </dict>
      <key>player_3010_0_8_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{62,184},{166,76}}</string>
        <key>offset</key>
        <string>{-121,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{166,76}}</string>
        <key>sourceSize</key>
        <string>{166,76}</string>
      </dict>
      <key>player_3010_0_8_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,184},{182,60}}</string>
        <key>offset</key>
        <string>{-133,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{182,60}}</string>
        <key>sourceSize</key>
        <string>{182,60}</string>
      </dict>
      <key>player_3010_0_8_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{241,157},{144,114}}</string>
        <key>offset</key>
        <string>{-95,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,114}}</string>
        <key>sourceSize</key>
        <string>{144,114}</string>
      </dict>
      <key>player_3010_0_8_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{161,0},{155,98}}</string>
        <key>offset</key>
        <string>{-101,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,98}}</string>
        <key>sourceSize</key>
        <string>{155,98}</string>
      </dict>
      <key>player_3010_0_8_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{357,0},{64,137}}</string>
        <key>offset</key>
        <string>{-10,111}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,137}}</string>
        <key>sourceSize</key>
        <string>{64,137}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_3010_0_8.png</string>
      <key>size</key>
      <string>{514,494}</string>
      <key>textureFileName</key>
      <string>player_3010_0_8.png</string>
    </dict>
  </dict>
</plist>