<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_10054_0_8_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{193,223},{104,99}}</string>
        <key>offset</key>
        <string>{-32,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,99}}</string>
        <key>sourceSize</key>
        <string>{104,99}</string>
      </dict>
      <key>player_10054_0_8_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,337},{105,106}}</string>
        <key>offset</key>
        <string>{-35,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,106}}</string>
        <key>sourceSize</key>
        <string>{105,106}</string>
      </dict>
      <key>player_10054_0_8_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{301,0},{101,97}}</string>
        <key>offset</key>
        <string>{-30,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,97}}</string>
        <key>sourceSize</key>
        <string>{101,97}</string>
      </dict>
      <key>player_10054_0_8_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{297,109},{102,98}}</string>
        <key>offset</key>
        <string>{-33,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,98}}</string>
        <key>sourceSize</key>
        <string>{102,98}</string>
      </dict>
      <key>player_10054_0_8_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,109},{104,95}}</string>
        <key>offset</key>
        <string>{-30,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,95}}</string>
        <key>sourceSize</key>
        <string>{104,95}</string>
      </dict>
      <key>player_10054_0_8_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{111,100}}</string>
        <key>offset</key>
        <string>{-32,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,100}}</string>
        <key>sourceSize</key>
        <string>{111,100}</string>
      </dict>
      <key>player_10054_0_8_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,223},{105,93}}</string>
        <key>offset</key>
        <string>{-30,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,93}}</string>
        <key>sourceSize</key>
        <string>{105,93}</string>
      </dict>
      <key>player_10054_0_8_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,113},{110,94}}</string>
        <key>offset</key>
        <string>{-33,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,94}}</string>
        <key>sourceSize</key>
        <string>{110,94}</string>
      </dict>
      <key>player_10054_0_8_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{102,0},{107,91}}</string>
        <key>offset</key>
        <string>{-31,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,91}}</string>
        <key>sourceSize</key>
        <string>{107,91}</string>
      </dict>
      <key>player_10054_0_8_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,225},{110,96}}</string>
        <key>offset</key>
        <string>{-33,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,96}}</string>
        <key>sourceSize</key>
        <string>{110,96}</string>
      </dict>
      <key>player_10054_0_8_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{107,330},{102,105}}</string>
        <key>offset</key>
        <string>{-30,55}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,105}}</string>
        <key>sourceSize</key>
        <string>{102,105}</string>
      </dict>
      <key>player_10054_0_8_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{294,215},{103,99}}</string>
        <key>offset</key>
        <string>{-31,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,99}}</string>
        <key>sourceSize</key>
        <string>{103,99}</string>
      </dict>
      <key>player_10054_0_8_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,0},{100,97}}</string>
        <key>offset</key>
        <string>{-28,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,97}}</string>
        <key>sourceSize</key>
        <string>{100,97}</string>
      </dict>
      <key>player_10054_0_8_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,113},{102,108}}</string>
        <key>offset</key>
        <string>{-31,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,108}}</string>
        <key>sourceSize</key>
        <string>{102,108}</string>
      </dict>
      <key>player_10054_0_8_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{195,0},{104,107}}</string>
        <key>offset</key>
        <string>{-33,64}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,107}}</string>
        <key>sourceSize</key>
        <string>{104,107}</string>
      </dict>
      <key>player_10054_0_8_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{211,329},{104,96}}</string>
        <key>offset</key>
        <string>{-35,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,96}}</string>
        <key>sourceSize</key>
        <string>{104,96}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_10054_0_8.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>player_10054_0_8.png</string>
    </dict>
  </dict>
</plist>