<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_10002_0_5_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{206,906},{93,106}}</string>
        <key>offset</key>
        <string>{-20,66}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,106}}</string>
        <key>sourceSize</key>
        <string>{93,106}</string>
      </dict>
      <key>player_10002_0_5_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{392,891},{91,93}}</string>
        <key>offset</key>
        <string>{-17,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,93}}</string>
        <key>sourceSize</key>
        <string>{91,93}</string>
      </dict>
      <key>player_10002_0_5_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{487,891},{90,90}}</string>
        <key>offset</key>
        <string>{-15,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,90}}</string>
        <key>sourceSize</key>
        <string>{90,90}</string>
      </dict>
      <key>player_10002_0_5_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{301,860},{89,106}}</string>
        <key>offset</key>
        <string>{-17,66}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,106}}</string>
        <key>sourceSize</key>
        <string>{89,106}</string>
      </dict>
      <key>player_10002_0_5_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{466,698},{91,91}}</string>
        <key>offset</key>
        <string>{-16,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,91}}</string>
        <key>sourceSize</key>
        <string>{91,91}</string>
      </dict>
      <key>player_10002_0_5_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{392,799},{90,95}}</string>
        <key>offset</key>
        <string>{-15,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,95}}</string>
        <key>sourceSize</key>
        <string>{90,95}</string>
      </dict>
      <key>player_10002_0_5_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,706},{93,113}}</string>
        <key>offset</key>
        <string>{-24,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,113}}</string>
        <key>sourceSize</key>
        <string>{93,113}</string>
      </dict>
      <key>player_10002_0_5_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{366,373},{96,117}}</string>
        <key>offset</key>
        <string>{-25,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,117}}</string>
        <key>sourceSize</key>
        <string>{96,117}</string>
      </dict>
      <key>player_10002_0_5_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{115,801},{103,110}}</string>
        <key>offset</key>
        <string>{-24,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,110}}</string>
        <key>sourceSize</key>
        <string>{103,110}</string>
      </dict>
      <key>player_10002_0_5_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{236,674},{105,114}}</string>
        <key>offset</key>
        <string>{-25,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,114}}</string>
        <key>sourceSize</key>
        <string>{105,114}</string>
      </dict>
      <key>player_10002_0_5_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{352,698},{99,112}}</string>
        <key>offset</key>
        <string>{-25,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,112}}</string>
        <key>sourceSize</key>
        <string>{99,112}</string>
      </dict>
      <key>player_10002_0_5_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,807},{95,110}}</string>
        <key>offset</key>
        <string>{-24,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,110}}</string>
        <key>sourceSize</key>
        <string>{95,110}</string>
      </dict>
      <key>player_10002_0_5_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{380,0},{95,122}}</string>
        <key>offset</key>
        <string>{-13,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,122}}</string>
        <key>sourceSize</key>
        <string>{95,122}</string>
      </dict>
      <key>player_10002_0_5_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{380,97},{84,122}}</string>
        <key>offset</key>
        <string>{-12,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,122}}</string>
        <key>sourceSize</key>
        <string>{84,122}</string>
      </dict>
      <key>player_10002_0_5_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,273},{87,119}}</string>
        <key>offset</key>
        <string>{-10,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,119}}</string>
        <key>sourceSize</key>
        <string>{87,119}</string>
      </dict>
      <key>player_10002_0_5_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{93,126}}</string>
        <key>offset</key>
        <string>{-11,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,126}}</string>
        <key>sourceSize</key>
        <string>{93,126}</string>
      </dict>
      <key>player_10002_0_5_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{379,183},{83,120}}</string>
        <key>offset</key>
        <string>{-11,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,120}}</string>
        <key>sourceSize</key>
        <string>{83,120}</string>
      </dict>
      <key>player_10002_0_5_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{239,503},{89,116}}</string>
        <key>offset</key>
        <string>{-12,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,116}}</string>
        <key>sourceSize</key>
        <string>{89,116}</string>
      </dict>
      <key>player_10002_0_5_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,0},{109,125}}</string>
        <key>offset</key>
        <string>{-29,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,125}}</string>
        <key>sourceSize</key>
        <string>{109,125}</string>
      </dict>
      <key>player_10002_0_5_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{368,268},{103,119}}</string>
        <key>offset</key>
        <string>{-28,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,119}}</string>
        <key>sourceSize</key>
        <string>{103,119}</string>
      </dict>
      <key>player_10002_0_5_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{245,308},{98,119}}</string>
        <key>offset</key>
        <string>{-27,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,119}}</string>
        <key>sourceSize</key>
        <string>{98,119}</string>
      </dict>
      <key>player_10002_0_5_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{255,0},{102,123}}</string>
        <key>offset</key>
        <string>{-32,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,123}}</string>
        <key>sourceSize</key>
        <string>{102,123}</string>
      </dict>
      <key>player_10002_0_5_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,170},{101,121}}</string>
        <key>offset</key>
        <string>{-29,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,121}}</string>
        <key>sourceSize</key>
        <string>{101,121}</string>
      </dict>
      <key>player_10002_0_5_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{255,104},{107,122}}</string>
        <key>offset</key>
        <string>{-28,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,122}}</string>
        <key>sourceSize</key>
        <string>{107,122}</string>
      </dict>
      <key>player_10002_0_5_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{246,213},{93,120}}</string>
        <key>offset</key>
        <string>{-20,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,120}}</string>
        <key>sourceSize</key>
        <string>{93,120}</string>
      </dict>
      <key>player_10002_0_5_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{112,906},{92,107}}</string>
        <key>offset</key>
        <string>{-17,82}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,107}}</string>
        <key>sourceSize</key>
        <string>{92,107}</string>
      </dict>
      <key>player_10002_0_5_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,904},{93,110}}</string>
        <key>offset</key>
        <string>{-17,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,110}}</string>
        <key>sourceSize</key>
        <string>{93,110}</string>
      </dict>
      <key>player_10002_0_5_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,408},{93,117}}</string>
        <key>offset</key>
        <string>{-19,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,117}}</string>
        <key>sourceSize</key>
        <string>{93,117}</string>
      </dict>
      <key>player_10002_0_5_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,712},{93,113}}</string>
        <key>offset</key>
        <string>{-18,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,113}}</string>
        <key>sourceSize</key>
        <string>{93,113}</string>
      </dict>
      <key>player_10002_0_5_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{119,532},{93,116}}</string>
        <key>offset</key>
        <string>{-17,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,116}}</string>
        <key>sourceSize</key>
        <string>{93,116}</string>
      </dict>
      <key>player_10002_0_5_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{120,459},{71,117}}</string>
        <key>offset</key>
        <string>{3,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,117}}</string>
        <key>sourceSize</key>
        <string>{71,117}</string>
      </dict>
      <key>player_10002_0_5_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{121,319},{67,118}}</string>
        <key>offset</key>
        <string>{7,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,118}}</string>
        <key>sourceSize</key>
        <string>{67,118}</string>
      </dict>
      <key>player_10002_0_5_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{123,244},{73,120}}</string>
        <key>offset</key>
        <string>{1,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,120}}</string>
        <key>sourceSize</key>
        <string>{73,120}</string>
      </dict>
      <key>player_10002_0_5_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,95},{73,124}}</string>
        <key>offset</key>
        <string>{2,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,124}}</string>
        <key>sourceSize</key>
        <string>{73,124}</string>
      </dict>
      <key>player_10002_0_5_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,362},{73,118}}</string>
        <key>offset</key>
        <string>{2,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,118}}</string>
        <key>sourceSize</key>
        <string>{73,118}</string>
      </dict>
      <key>player_10002_0_5_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{120,388},{69,118}}</string>
        <key>offset</key>
        <string>{5,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,118}}</string>
        <key>sourceSize</key>
        <string>{69,118}</string>
      </dict>
      <key>player_10002_0_5_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,437},{68,118}}</string>
        <key>offset</key>
        <string>{1,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,118}}</string>
        <key>sourceSize</key>
        <string>{68,118}</string>
      </dict>
      <key>player_10002_0_5_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,570},{59,116}}</string>
        <key>offset</key>
        <string>{4,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,116}}</string>
        <key>sourceSize</key>
        <string>{59,116}</string>
      </dict>
      <key>player_10002_0_5_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,507},{61,117}}</string>
        <key>offset</key>
        <string>{2,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,117}}</string>
        <key>sourceSize</key>
        <string>{61,117}</string>
      </dict>
      <key>player_10002_0_5_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{123,176},{66,121}}</string>
        <key>offset</key>
        <string>{0,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,121}}</string>
        <key>sourceSize</key>
        <string>{66,121}</string>
      </dict>
      <key>player_10002_0_5_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{126,111},{63,122}}</string>
        <key>offset</key>
        <string>{2,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,122}}</string>
        <key>sourceSize</key>
        <string>{63,122}</string>
      </dict>
      <key>player_10002_0_5_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{357,553},{61,116}}</string>
        <key>offset</key>
        <string>{2,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,116}}</string>
        <key>sourceSize</key>
        <string>{61,116}</string>
      </dict>
      <key>player_10002_0_5_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{359,471},{80,117}}</string>
        <key>offset</key>
        <string>{2,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,117}}</string>
        <key>sourceSize</key>
        <string>{80,117}</string>
      </dict>
      <key>player_10002_0_5_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{232,781},{77,111}}</string>
        <key>offset</key>
        <string>{2,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,111}}</string>
        <key>sourceSize</key>
        <string>{77,111}</string>
      </dict>
      <key>player_10002_0_5_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,631},{79,115}}</string>
        <key>offset</key>
        <string>{2,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,115}}</string>
        <key>sourceSize</key>
        <string>{79,115}</string>
      </dict>
      <key>player_10002_0_5_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{237,594},{78,116}}</string>
        <key>offset</key>
        <string>{3,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,116}}</string>
        <key>sourceSize</key>
        <string>{78,116}</string>
      </dict>
      <key>player_10002_0_5_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{118,627},{77,116}}</string>
        <key>offset</key>
        <string>{4,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,116}}</string>
        <key>sourceSize</key>
        <string>{77,116}</string>
      </dict>
      <key>player_10002_0_5_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{355,616},{80,115}}</string>
        <key>offset</key>
        <string>{1,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,115}}</string>
        <key>sourceSize</key>
        <string>{80,115}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_10002_0_5.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>player_10002_0_5.png</string>
    </dict>
  </dict>
</plist>