<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>player_82064_0_11_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{275,0},{163,128}}</string>
        <key>offset</key>
        <string>{-9,90}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,128}}</string>
        <key>sourceSize</key>
        <string>{163,128}</string>
      </dict>
      <key>player_82064_0_11_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{197,92}}</string>
        <key>offset</key>
        <string>{-22,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{197,92}}</string>
        <key>sourceSize</key>
        <string>{197,92}</string>
      </dict>
      <key>player_82064_0_11_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{188,166},{147,85}}</string>
        <key>offset</key>
        <string>{-26,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,85}}</string>
        <key>sourceSize</key>
        <string>{147,85}</string>
      </dict>
      <key>player_82064_0_11_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,362},{106,108}}</string>
        <key>offset</key>
        <string>{-25,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,108}}</string>
        <key>sourceSize</key>
        <string>{106,108}</string>
      </dict>
      <key>player_82064_0_11_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{337,130},{144,120}}</string>
        <key>offset</key>
        <string>{-67,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,120}}</string>
        <key>sourceSize</key>
        <string>{144,120}</string>
      </dict>
      <key>player_82064_0_11_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{337,252},{118,108}}</string>
        <key>offset</key>
        <string>{-29,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,108}}</string>
        <key>sourceSize</key>
        <string>{118,108}</string>
      </dict>
      <key>player_82064_0_11_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{188,0},{164,85}}</string>
        <key>offset</key>
        <string>{-77,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{164,85}}</string>
        <key>sourceSize</key>
        <string>{164,85}</string>
      </dict>
      <key>player_82064_0_11_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{94,0},{178,92}}</string>
        <key>offset</key>
        <string>{-102,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{178,92}}</string>
        <key>sourceSize</key>
        <string>{178,92}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>player_82064_0_11.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>player_82064_0_11.png</string>
    </dict>
  </dict>
</plist>