<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>smtiles131_004160.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004161.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,0},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004162.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,0},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004163.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,0},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004164.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,0},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004165.png</key>
		<dict>
			<key>frame</key>
			<string>{{490,0},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004166.png</key>
		<dict>
			<key>frame</key>
			<string>{{588,0},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004167.png</key>
		<dict>
			<key>frame</key>
			<string>{{686,0},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004168.png</key>
		<dict>
			<key>frame</key>
			<string>{{784,0},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004169.png</key>
		<dict>
			<key>frame</key>
			<string>{{882,0},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004170.png</key>
		<dict>
			<key>frame</key>
			<string>{{882,66},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004171.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,66},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004172.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,66},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004173.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,66},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004174.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,66},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004175.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,66},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004176.png</key>
		<dict>
			<key>frame</key>
			<string>{{490,66},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004177.png</key>
		<dict>
			<key>frame</key>
			<string>{{588,66},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004178.png</key>
		<dict>
			<key>frame</key>
			<string>{{686,66},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004179.png</key>
		<dict>
			<key>frame</key>
			<string>{{784,66},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004180.png</key>
		<dict>
			<key>frame</key>
			<string>{{784,132},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004181.png</key>
		<dict>
			<key>frame</key>
			<string>{{882,132},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004182.png</key>
		<dict>
			<key>frame</key>
			<string>{{882,198},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004183.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,132},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004184.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,132},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004185.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,132},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004186.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,132},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004187.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,132},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004188.png</key>
		<dict>
			<key>frame</key>
			<string>{{490,132},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004189.png</key>
		<dict>
			<key>frame</key>
			<string>{{588,132},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004190.png</key>
		<dict>
			<key>frame</key>
			<string>{{686,132},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004191.png</key>
		<dict>
			<key>frame</key>
			<string>{{686,198},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004192.png</key>
		<dict>
			<key>frame</key>
			<string>{{784,198},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004193.png</key>
		<dict>
			<key>frame</key>
			<string>{{784,264},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004194.png</key>
		<dict>
			<key>frame</key>
			<string>{{882,264},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004195.png</key>
		<dict>
			<key>frame</key>
			<string>{{882,330},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004196.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,396},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004197.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,330},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004198.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,330},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004199.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,264},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004200.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,264},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004201.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,198},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004202.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,198},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004203.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,198},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004204.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,198},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004205.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,264},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004206.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,198},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004207.png</key>
		<dict>
			<key>frame</key>
			<string>{{490,198},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004208.png</key>
		<dict>
			<key>frame</key>
			<string>{{588,198},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004209.png</key>
		<dict>
			<key>frame</key>
			<string>{{588,264},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004210.png</key>
		<dict>
			<key>frame</key>
			<string>{{686,264},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004211.png</key>
		<dict>
			<key>frame</key>
			<string>{{686,330},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004212.png</key>
		<dict>
			<key>frame</key>
			<string>{{784,330},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004213.png</key>
		<dict>
			<key>frame</key>
			<string>{{784,396},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004214.png</key>
		<dict>
			<key>frame</key>
			<string>{{882,396},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004215.png</key>
		<dict>
			<key>frame</key>
			<string>{{882,462},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004216.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,264},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004217.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,264},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004218.png</key>
		<dict>
			<key>frame</key>
			<string>{{490,264},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004219.png</key>
		<dict>
			<key>frame</key>
			<string>{{490,330},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004220.png</key>
		<dict>
			<key>frame</key>
			<string>{{588,330},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004221.png</key>
		<dict>
			<key>frame</key>
			<string>{{588,396},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004222.png</key>
		<dict>
			<key>frame</key>
			<string>{{686,396},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004223.png</key>
		<dict>
			<key>frame</key>
			<string>{{686,462},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004224.png</key>
		<dict>
			<key>frame</key>
			<string>{{784,462},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004225.png</key>
		<dict>
			<key>frame</key>
			<string>{{784,528},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004226.png</key>
		<dict>
			<key>frame</key>
			<string>{{882,528},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004227.png</key>
		<dict>
			<key>frame</key>
			<string>{{882,594},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004228.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,330},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004229.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,330},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004230.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,330},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004231.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,396},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004232.png</key>
		<dict>
			<key>frame</key>
			<string>{{490,396},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004233.png</key>
		<dict>
			<key>frame</key>
			<string>{{490,462},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004234.png</key>
		<dict>
			<key>frame</key>
			<string>{{588,462},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004235.png</key>
		<dict>
			<key>frame</key>
			<string>{{588,528},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004236.png</key>
		<dict>
			<key>frame</key>
			<string>{{686,528},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004237.png</key>
		<dict>
			<key>frame</key>
			<string>{{686,594},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004238.png</key>
		<dict>
			<key>frame</key>
			<string>{{784,594},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004239.png</key>
		<dict>
			<key>frame</key>
			<string>{{784,660},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004240.png</key>
		<dict>
			<key>frame</key>
			<string>{{882,660},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004241.png</key>
		<dict>
			<key>frame</key>
			<string>{{882,726},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004242.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,792},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004243.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,726},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004244.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,726},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004245.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,660},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004246.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,660},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004247.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,594},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004248.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,594},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004249.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,528},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004250.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,528},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004251.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,462},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004252.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,462},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004253.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,462},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004254.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,528},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004255.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,528},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004256.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,396},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004257.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,396},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004258.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,396},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004259.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,462},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004260.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,462},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004261.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,528},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004262.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,594},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004263.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,660},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004264.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,594},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004265.png</key>
		<dict>
			<key>frame</key>
			<string>{{490,528},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004266.png</key>
		<dict>
			<key>frame</key>
			<string>{{490,594},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004267.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,594},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004268.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,660},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles131_004269.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,660},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>smtiles131_10.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>textureFileName</key>
		<string>smtiles131_10.png</string>
	</dict>
</dict>
</plist>
