<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>smtiles196_008000.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008001.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,66},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008002.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,132},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008003.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,198},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008004.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,264},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008005.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,330},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008006.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,396},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008007.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,462},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008008.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,528},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008009.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,594},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008010.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,660},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008011.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,726},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008012.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,792},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008013.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,792},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008014.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,0},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008015.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,66},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008016.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,132},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008017.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,198},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008018.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,264},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008019.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,330},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008020.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,396},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008021.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,462},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008022.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,528},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008023.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,594},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008024.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,660},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008025.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,726},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008026.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,726},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008027.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,792},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008028.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,792},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008029.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,0},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008030.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,0},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008031.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,66},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008032.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,66},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008033.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,132},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008034.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,0},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008035.png</key>
		<dict>
			<key>frame</key>
			<string>{{490,0},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008036.png</key>
		<dict>
			<key>frame</key>
			<string>{{588,0},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008037.png</key>
		<dict>
			<key>frame</key>
			<string>{{686,0},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008038.png</key>
		<dict>
			<key>frame</key>
			<string>{{784,0},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008039.png</key>
		<dict>
			<key>frame</key>
			<string>{{882,0},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008040.png</key>
		<dict>
			<key>frame</key>
			<string>{{882,66},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008041.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,66},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008042.png</key>
		<dict>
			<key>frame</key>
			<string>{{490,66},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008043.png</key>
		<dict>
			<key>frame</key>
			<string>{{588,66},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008044.png</key>
		<dict>
			<key>frame</key>
			<string>{{686,66},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008045.png</key>
		<dict>
			<key>frame</key>
			<string>{{784,66},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008046.png</key>
		<dict>
			<key>frame</key>
			<string>{{784,132},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008047.png</key>
		<dict>
			<key>frame</key>
			<string>{{882,132},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008048.png</key>
		<dict>
			<key>frame</key>
			<string>{{882,198},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008049.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,132},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008050.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,132},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008051.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,198},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008052.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,198},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008053.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,264},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008054.png</key>
		<dict>
			<key>frame</key>
			<string>{{490,132},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008055.png</key>
		<dict>
			<key>frame</key>
			<string>{{588,132},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008056.png</key>
		<dict>
			<key>frame</key>
			<string>{{686,132},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008057.png</key>
		<dict>
			<key>frame</key>
			<string>{{686,198},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008058.png</key>
		<dict>
			<key>frame</key>
			<string>{{784,198},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008059.png</key>
		<dict>
			<key>frame</key>
			<string>{{784,264},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008060.png</key>
		<dict>
			<key>frame</key>
			<string>{{882,264},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008061.png</key>
		<dict>
			<key>frame</key>
			<string>{{882,330},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008062.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,198},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008063.png</key>
		<dict>
			<key>frame</key>
			<string>{{490,198},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008064.png</key>
		<dict>
			<key>frame</key>
			<string>{{588,198},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008065.png</key>
		<dict>
			<key>frame</key>
			<string>{{588,264},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008066.png</key>
		<dict>
			<key>frame</key>
			<string>{{686,264},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008067.png</key>
		<dict>
			<key>frame</key>
			<string>{{686,330},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008068.png</key>
		<dict>
			<key>frame</key>
			<string>{{784,330},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008069.png</key>
		<dict>
			<key>frame</key>
			<string>{{784,396},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008070.png</key>
		<dict>
			<key>frame</key>
			<string>{{882,396},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008071.png</key>
		<dict>
			<key>frame</key>
			<string>{{882,462},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008072.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,264},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008073.png</key>
		<dict>
			<key>frame</key>
			<string>{{490,264},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008074.png</key>
		<dict>
			<key>frame</key>
			<string>{{490,330},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008075.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,330},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008076.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,396},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008077.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,396},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008078.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,462},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008079.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,462},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008080.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,528},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008081.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,330},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008082.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,396},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008083.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,330},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008084.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,264},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008085.png</key>
		<dict>
			<key>frame</key>
			<string>{{588,330},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008086.png</key>
		<dict>
			<key>frame</key>
			<string>{{588,396},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008087.png</key>
		<dict>
			<key>frame</key>
			<string>{{490,396},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008088.png</key>
		<dict>
			<key>frame</key>
			<string>{{490,462},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008089.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,462},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008090.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,528},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008091.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,528},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008092.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,594},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008093.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,594},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008094.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,660},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008095.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,660},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008096.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,726},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008097.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,726},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008098.png</key>
		<dict>
			<key>frame</key>
			<string>{{686,396},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008099.png</key>
		<dict>
			<key>frame</key>
			<string>{{686,462},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008100.png</key>
		<dict>
			<key>frame</key>
			<string>{{588,462},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008101.png</key>
		<dict>
			<key>frame</key>
			<string>{{588,528},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008102.png</key>
		<dict>
			<key>frame</key>
			<string>{{490,528},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008103.png</key>
		<dict>
			<key>frame</key>
			<string>{{490,594},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008104.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,594},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008105.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,660},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008106.png</key>
		<dict>
			<key>frame</key>
			<string>{{490,660},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008107.png</key>
		<dict>
			<key>frame</key>
			<string>{{784,462},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008108.png</key>
		<dict>
			<key>frame</key>
			<string>{{784,528},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008109.png</key>
		<dict>
			<key>frame</key>
			<string>{{686,528},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008110.png</key>
		<dict>
			<key>frame</key>
			<string>{{686,594},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>smtiles196_008111.png</key>
		<dict>
			<key>frame</key>
			<string>{{588,594},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>smtiles196_16.png</string>
		<key>size</key>
		<string>{1024,896}</string>
		<key>textureFileName</key>
		<string>smtiles196_16.png</string>
	</dict>
</dict>
</plist>
