<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>tiles51_000000.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles51_000001.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,66},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles51_000002.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,132},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles51_000003.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,198},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles51_000004.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,264},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles51_000005.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,330},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles51_000006.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,396},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles51_000007.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,396},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles51_000008.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,0},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles51_000009.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,66},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles51_000010.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,132},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles51_000011.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,198},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles51_000012.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,264},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles51_000013.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,330},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles51_000014.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,330},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles51_000015.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,396},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles51_000016.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,396},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles51_000017.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,0},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles51_000018.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,66},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles51_000019.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,132},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles51_000020.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,198},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles51_000021.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,264},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles51_000022.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,264},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles51_000023.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,330},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles51_000024.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,330},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles51_000025.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,396},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles51_000026.png</key>
		<dict>
			<key>frame</key>
			<string>{{490,396},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles51_000027.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,0},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles51_000028.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,66},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles51_000029.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,132},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles51_000030.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,198},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles51_000031.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,198},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles51_000032.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,264},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles51_000033.png</key>
		<dict>
			<key>frame</key>
			<string>{{490,264},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles51_000034.png</key>
		<dict>
			<key>frame</key>
			<string>{{490,330},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles51_000035.png</key>
		<dict>
			<key>frame</key>
			<string>{{588,330},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles51_000036.png</key>
		<dict>
			<key>frame</key>
			<string>{{588,396},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles51_000037.png</key>
		<dict>
			<key>frame</key>
			<string>{{686,396},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles51_000038.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,0},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles51_000039.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,66},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles51_000040.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,132},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles51_000041.png</key>
		<dict>
			<key>frame</key>
			<string>{{490,132},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles51_000042.png</key>
		<dict>
			<key>frame</key>
			<string>{{490,198},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles51_000043.png</key>
		<dict>
			<key>frame</key>
			<string>{{588,198},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles51_000044.png</key>
		<dict>
			<key>frame</key>
			<string>{{588,264},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles51_000045.png</key>
		<dict>
			<key>frame</key>
			<string>{{686,264},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles51_000046.png</key>
		<dict>
			<key>frame</key>
			<string>{{686,330},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles51_000047.png</key>
		<dict>
			<key>frame</key>
			<string>{{784,330},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles51_000048.png</key>
		<dict>
			<key>frame</key>
			<string>{{882,0},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles51_000049.png</key>
		<dict>
			<key>frame</key>
			<string>{{784,0},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles51_000050.png</key>
		<dict>
			<key>frame</key>
			<string>{{784,66},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles51_000051.png</key>
		<dict>
			<key>frame</key>
			<string>{{686,66},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles51_000052.png</key>
		<dict>
			<key>frame</key>
			<string>{{686,132},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>tiles51_0.png</string>
		<key>size</key>
		<string>{1024,512}</string>
		<key>textureFileName</key>
		<string>tiles51_0.png</string>
	</dict>
</dict>
</plist>
