<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>tiles140_001500.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001501.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,0},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001502.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,0},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001503.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,0},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001504.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,0},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001505.png</key>
		<dict>
			<key>frame</key>
			<string>{{490,0},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001506.png</key>
		<dict>
			<key>frame</key>
			<string>{{588,0},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001507.png</key>
		<dict>
			<key>frame</key>
			<string>{{686,0},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001508.png</key>
		<dict>
			<key>frame</key>
			<string>{{784,0},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001509.png</key>
		<dict>
			<key>frame</key>
			<string>{{882,0},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001510.png</key>
		<dict>
			<key>frame</key>
			<string>{{882,66},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001511.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,66},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001512.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,66},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001513.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,66},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001514.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,66},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001515.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,66},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001516.png</key>
		<dict>
			<key>frame</key>
			<string>{{490,66},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001517.png</key>
		<dict>
			<key>frame</key>
			<string>{{588,66},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001518.png</key>
		<dict>
			<key>frame</key>
			<string>{{686,66},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001519.png</key>
		<dict>
			<key>frame</key>
			<string>{{784,66},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001520.png</key>
		<dict>
			<key>frame</key>
			<string>{{784,132},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001521.png</key>
		<dict>
			<key>frame</key>
			<string>{{882,132},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001522.png</key>
		<dict>
			<key>frame</key>
			<string>{{882,198},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001523.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,132},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001524.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,132},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001525.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,132},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001526.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,132},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001527.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,132},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001528.png</key>
		<dict>
			<key>frame</key>
			<string>{{490,132},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001529.png</key>
		<dict>
			<key>frame</key>
			<string>{{588,132},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001530.png</key>
		<dict>
			<key>frame</key>
			<string>{{686,132},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001531.png</key>
		<dict>
			<key>frame</key>
			<string>{{686,198},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001532.png</key>
		<dict>
			<key>frame</key>
			<string>{{784,198},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001533.png</key>
		<dict>
			<key>frame</key>
			<string>{{784,264},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001534.png</key>
		<dict>
			<key>frame</key>
			<string>{{882,264},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001535.png</key>
		<dict>
			<key>frame</key>
			<string>{{882,330},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001536.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,396},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001537.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,330},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001538.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,330},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001539.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,264},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001540.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,264},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001541.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,198},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001542.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,198},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001543.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,198},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001544.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,198},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001545.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,264},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001546.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,198},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001547.png</key>
		<dict>
			<key>frame</key>
			<string>{{490,198},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001548.png</key>
		<dict>
			<key>frame</key>
			<string>{{588,198},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001549.png</key>
		<dict>
			<key>frame</key>
			<string>{{588,264},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001550.png</key>
		<dict>
			<key>frame</key>
			<string>{{686,264},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001551.png</key>
		<dict>
			<key>frame</key>
			<string>{{686,330},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001552.png</key>
		<dict>
			<key>frame</key>
			<string>{{784,330},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001553.png</key>
		<dict>
			<key>frame</key>
			<string>{{784,396},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001554.png</key>
		<dict>
			<key>frame</key>
			<string>{{882,396},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001555.png</key>
		<dict>
			<key>frame</key>
			<string>{{882,462},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001556.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,264},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001557.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,264},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001558.png</key>
		<dict>
			<key>frame</key>
			<string>{{490,264},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001559.png</key>
		<dict>
			<key>frame</key>
			<string>{{490,330},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001560.png</key>
		<dict>
			<key>frame</key>
			<string>{{588,330},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001561.png</key>
		<dict>
			<key>frame</key>
			<string>{{588,396},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001562.png</key>
		<dict>
			<key>frame</key>
			<string>{{686,396},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001563.png</key>
		<dict>
			<key>frame</key>
			<string>{{686,462},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001564.png</key>
		<dict>
			<key>frame</key>
			<string>{{784,462},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001565.png</key>
		<dict>
			<key>frame</key>
			<string>{{784,528},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001566.png</key>
		<dict>
			<key>frame</key>
			<string>{{882,528},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001567.png</key>
		<dict>
			<key>frame</key>
			<string>{{882,594},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001568.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,330},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001569.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,330},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001570.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,330},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001571.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,396},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001572.png</key>
		<dict>
			<key>frame</key>
			<string>{{490,396},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001573.png</key>
		<dict>
			<key>frame</key>
			<string>{{490,462},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001574.png</key>
		<dict>
			<key>frame</key>
			<string>{{588,462},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001575.png</key>
		<dict>
			<key>frame</key>
			<string>{{588,528},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001576.png</key>
		<dict>
			<key>frame</key>
			<string>{{686,528},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001577.png</key>
		<dict>
			<key>frame</key>
			<string>{{686,594},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001578.png</key>
		<dict>
			<key>frame</key>
			<string>{{784,594},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001579.png</key>
		<dict>
			<key>frame</key>
			<string>{{784,660},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001580.png</key>
		<dict>
			<key>frame</key>
			<string>{{882,660},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001581.png</key>
		<dict>
			<key>frame</key>
			<string>{{882,726},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001582.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,792},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001583.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,726},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001584.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,726},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001585.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,660},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001586.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,660},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001587.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,594},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001588.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,594},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001589.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,528},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001590.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,528},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001591.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,462},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001592.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,462},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001593.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,462},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001594.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,528},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001595.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,528},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001596.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,396},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001597.png</key>
		<dict>
			<key>frame</key>
			<string>{{98,396},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001598.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,396},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>tiles140_001599.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,462},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>tiles140_3.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>textureFileName</key>
		<string>tiles140_3.png</string>
	</dict>
</dict>
</plist>
