<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_10200_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{638,0},{50,99}}</string>
        <key>offset</key>
        <string>{16,98}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{50,99}}</string>
        <key>sourceSize</key>
        <string>{50,99}</string>
      </dict>
      <key>weapon_10200_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{635,121},{51,101}}</string>
        <key>offset</key>
        <string>{15,101}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{51,101}}</string>
        <key>sourceSize</key>
        <string>{51,101}</string>
      </dict>
      <key>weapon_10200_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{578,121},{55,108}}</string>
        <key>offset</key>
        <string>{11,109}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,108}}</string>
        <key>sourceSize</key>
        <string>{55,108}</string>
      </dict>
      <key>weapon_10200_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{648,224},{55,94}}</string>
        <key>offset</key>
        <string>{12,95}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,94}}</string>
        <key>sourceSize</key>
        <string>{55,94}</string>
      </dict>
      <key>weapon_10200_0_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{270,0},{138,84}}</string>
        <key>offset</key>
        <string>{13,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,84}}</string>
        <key>sourceSize</key>
        <string>{138,84}</string>
      </dict>
      <key>weapon_10200_0_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{311,140},{138,86}}</string>
        <key>offset</key>
        <string>{14,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,86}}</string>
        <key>sourceSize</key>
        <string>{138,86}</string>
      </dict>
      <key>weapon_10200_0_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{126,181},{155,98}}</string>
        <key>offset</key>
        <string>{14,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,98}}</string>
        <key>sourceSize</key>
        <string>{155,98}</string>
      </dict>
      <key>weapon_10200_0_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,0},{128,96}}</string>
        <key>offset</key>
        <string>{14,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,96}}</string>
        <key>sourceSize</key>
        <string>{128,96}</string>
      </dict>
      <key>weapon_10200_0_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,366},{179,69}}</string>
        <key>offset</key>
        <string>{-2,35}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{179,69}}</string>
        <key>sourceSize</key>
        <string>{179,69}</string>
      </dict>
      <key>weapon_10200_0_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{58,183},{179,66}}</string>
        <key>offset</key>
        <string>{-1,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{179,66}}</string>
        <key>sourceSize</key>
        <string>{179,66}</string>
      </dict>
      <key>weapon_10200_0_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{181,65}}</string>
        <key>offset</key>
        <string>{-1,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{181,65}}</string>
        <key>sourceSize</key>
        <string>{181,65}</string>
      </dict>
      <key>weapon_10200_0_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,437},{166,67}}</string>
        <key>offset</key>
        <string>{-1,36}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{166,67}}</string>
        <key>sourceSize</key>
        <string>{166,67}</string>
      </dict>
      <key>weapon_10200_0_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{413,272},{119,93}}</string>
        <key>offset</key>
        <string>{-3,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,93}}</string>
        <key>sourceSize</key>
        <string>{119,93}</string>
      </dict>
      <key>weapon_10200_0_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{483,130},{119,93}}</string>
        <key>offset</key>
        <string>{-3,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,93}}</string>
        <key>sourceSize</key>
        <string>{119,93}</string>
      </dict>
      <key>weapon_10200_0_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{336,415},{120,89}}</string>
        <key>offset</key>
        <string>{-3,28}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,89}}</string>
        <key>sourceSize</key>
        <string>{120,89}</string>
      </dict>
      <key>weapon_10200_0_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{508,251},{111,94}}</string>
        <key>offset</key>
        <string>{-3,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,94}}</string>
        <key>sourceSize</key>
        <string>{111,94}</string>
      </dict>
      <key>weapon_10200_0_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{547,364},{43,106}}</string>
        <key>offset</key>
        <string>{-20,30}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{43,106}}</string>
        <key>sourceSize</key>
        <string>{43,106}</string>
      </dict>
      <key>weapon_10200_0_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{604,231},{42,102}}</string>
        <key>offset</key>
        <string>{-20,30}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{42,102}}</string>
        <key>sourceSize</key>
        <string>{42,102}</string>
      </dict>
      <key>weapon_10200_0_0_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{640,335},{51,95}}</string>
        <key>offset</key>
        <string>{-28,29}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{51,95}}</string>
        <key>sourceSize</key>
        <string>{51,95}</string>
      </dict>
      <key>weapon_10200_0_0_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{592,364},{46,104}}</string>
        <key>offset</key>
        <string>{-21,30}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,104}}</string>
        <key>sourceSize</key>
        <string>{46,104}</string>
      </dict>
      <key>weapon_10200_0_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{226,144},{140,83}}</string>
        <key>offset</key>
        <string>{-105,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,83}}</string>
        <key>sourceSize</key>
        <string>{140,83}</string>
      </dict>
      <key>weapon_10200_0_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{186,0},{142,82}}</string>
        <key>offset</key>
        <string>{-106,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,82}}</string>
        <key>sourceSize</key>
        <string>{142,82}</string>
      </dict>
      <key>weapon_10200_0_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{181,338},{143,77}}</string>
        <key>offset</key>
        <string>{-107,38}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,77}}</string>
        <key>sourceSize</key>
        <string>{143,77}</string>
      </dict>
      <key>weapon_10200_0_0_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{399,139},{131,82}}</string>
        <key>offset</key>
        <string>{-96,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,82}}</string>
        <key>sourceSize</key>
        <string>{131,82}</string>
      </dict>
      <key>weapon_10200_0_0_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{67,0},{179,57}}</string>
        <key>offset</key>
        <string>{-131,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{179,57}}</string>
        <key>sourceSize</key>
        <string>{179,57}</string>
      </dict>
      <key>weapon_10200_0_0_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{126,0},{179,58}}</string>
        <key>offset</key>
        <string>{-132,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{179,58}}</string>
        <key>sourceSize</key>
        <string>{179,58}</string>
      </dict>
      <key>weapon_10200_0_0_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,183},{181,56}}</string>
        <key>offset</key>
        <string>{-134,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{181,56}}</string>
        <key>sourceSize</key>
        <string>{181,56}</string>
      </dict>
      <key>weapon_10200_0_0_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{168,437},{166,57}}</string>
        <key>offset</key>
        <string>{-119,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{166,57}}</string>
        <key>sourceSize</key>
        <string>{166,57}</string>
      </dict>
      <key>weapon_10200_0_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{326,280},{133,85}}</string>
        <key>offset</key>
        <string>{-70,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,85}}</string>
        <key>sourceSize</key>
        <string>{133,85}</string>
      </dict>
      <key>weapon_10200_0_0_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{548,0},{119,88}}</string>
        <key>offset</key>
        <string>{-70,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,88}}</string>
        <key>sourceSize</key>
        <string>{119,88}</string>
      </dict>
      <key>weapon_10200_0_0_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{356,0},{137,92}}</string>
        <key>offset</key>
        <string>{-71,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,92}}</string>
        <key>sourceSize</key>
        <string>{137,92}</string>
      </dict>
      <key>weapon_10200_0_0_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{458,393},{112,87}}</string>
        <key>offset</key>
        <string>{-63,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,87}}</string>
        <key>sourceSize</key>
        <string>{112,87}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_10200_0_0.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>weapon_10200_0_0.png</string>
    </dict>
  </dict>
</plist>