<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_10033_0_5_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{411,489},{64,126}}</string>
        <key>offset</key>
        <string>{21,122}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,126}}</string>
        <key>sourceSize</key>
        <string>{64,126}</string>
      </dict>
      <key>weapon_10033_0_5_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{307,201},{51,149}}</string>
        <key>offset</key>
        <string>{6,147}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{51,149}}</string>
        <key>sourceSize</key>
        <string>{51,149}</string>
      </dict>
      <key>weapon_10033_0_5_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{159,0},{57,155}}</string>
        <key>offset</key>
        <string>{-10,168}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,155}}</string>
        <key>sourceSize</key>
        <string>{57,155}</string>
      </dict>
      <key>weapon_10033_0_5_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{258,604},{51,114}}</string>
        <key>offset</key>
        <string>{-6,136}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{51,114}}</string>
        <key>sourceSize</key>
        <string>{51,114}</string>
      </dict>
      <key>weapon_10033_0_5_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{52,157}}</string>
        <key>offset</key>
        <string>{-3,163}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{52,157}}</string>
        <key>sourceSize</key>
        <string>{52,157}</string>
      </dict>
      <key>weapon_10033_0_5_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{467,136},{43,142}}</string>
        <key>offset</key>
        <string>{14,141}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{43,142}}</string>
        <key>sourceSize</key>
        <string>{43,142}</string>
      </dict>
      <key>weapon_10033_0_5_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{142,381},{136,100}}</string>
        <key>offset</key>
        <string>{11,91}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,100}}</string>
        <key>sourceSize</key>
        <string>{136,100}</string>
      </dict>
      <key>weapon_10033_0_5_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{289,349},{100,138}}</string>
        <key>offset</key>
        <string>{21,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,138}}</string>
        <key>sourceSize</key>
        <string>{100,138}</string>
      </dict>
      <key>weapon_10033_0_5_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,54},{63,155}}</string>
        <key>offset</key>
        <string>{16,159}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,155}}</string>
        <key>sourceSize</key>
        <string>{63,155}</string>
      </dict>
      <key>weapon_10033_0_5_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{429,349},{75,138}}</string>
        <key>offset</key>
        <string>{-15,150}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,138}}</string>
        <key>sourceSize</key>
        <string>{75,138}</string>
      </dict>
      <key>weapon_10033_0_5_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,119},{80,153}}</string>
        <key>offset</key>
        <string>{20,153}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,153}}</string>
        <key>sourceSize</key>
        <string>{80,153}</string>
      </dict>
      <key>weapon_10033_0_5_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{136,483},{113,128}}</string>
        <key>offset</key>
        <string>{16,124}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,128}}</string>
        <key>sourceSize</key>
        <string>{113,128}</string>
      </dict>
      <key>weapon_10033_0_5_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{316,0},{154,70}}</string>
        <key>offset</key>
        <string>{-5,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,70}}</string>
        <key>sourceSize</key>
        <string>{154,70}</string>
      </dict>
      <key>weapon_10033_0_5_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{152,232},{146,97}}</string>
        <key>offset</key>
        <string>{6,90}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,97}}</string>
        <key>sourceSize</key>
        <string>{146,97}</string>
      </dict>
      <key>weapon_10033_0_5_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,254},{93,142}}</string>
        <key>offset</key>
        <string>{15,138}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,142}}</string>
        <key>sourceSize</key>
        <string>{93,142}</string>
      </dict>
      <key>weapon_10033_0_5_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{155,148},{82,150}}</string>
        <key>offset</key>
        <string>{-12,147}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,150}}</string>
        <key>sourceSize</key>
        <string>{82,150}</string>
      </dict>
      <key>weapon_10033_0_5_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,508},{106,128}}</string>
        <key>offset</key>
        <string>{21,123}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,128}}</string>
        <key>sourceSize</key>
        <string>{106,128}</string>
      </dict>
      <key>weapon_10033_0_5_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{157,59},{154,87}}</string>
        <key>offset</key>
        <string>{2,78}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,87}}</string>
        <key>sourceSize</key>
        <string>{154,87}</string>
      </dict>
      <key>weapon_10033_0_5_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{343,821},{96,89}}</string>
        <key>offset</key>
        <string>{-6,31}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,89}}</string>
        <key>sourceSize</key>
        <string>{96,89}</string>
      </dict>
      <key>weapon_10033_0_5_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{374,617},{114,72}}</string>
        <key>offset</key>
        <string>{-1,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,72}}</string>
        <key>sourceSize</key>
        <string>{114,72}</string>
      </dict>
      <key>weapon_10033_0_5_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,616},{83,123}}</string>
        <key>offset</key>
        <string>{16,118}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,123}}</string>
        <key>sourceSize</key>
        <string>{83,123}</string>
      </dict>
      <key>weapon_10033_0_5_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{313,72},{62,152}}</string>
        <key>offset</key>
        <string>{2,146}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,152}}</string>
        <key>sourceSize</key>
        <string>{62,152}</string>
      </dict>
      <key>weapon_10033_0_5_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{170,884},{95,102}}</string>
        <key>offset</key>
        <string>{12,96}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,102}}</string>
        <key>sourceSize</key>
        <string>{95,102}</string>
      </dict>
      <key>weapon_10033_0_5_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,887},{109,79}}</string>
        <key>offset</key>
        <string>{-1,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,79}}</string>
        <key>sourceSize</key>
        <string>{109,79}</string>
      </dict>
      <key>weapon_10033_0_5_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{441,852},{53,88}}</string>
        <key>offset</key>
        <string>{-33,34}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,88}}</string>
        <key>sourceSize</key>
        <string>{53,88}</string>
      </dict>
      <key>weapon_10033_0_5_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{472,0},{35,72}}</string>
        <key>offset</key>
        <string>{-1,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{35,72}}</string>
        <key>sourceSize</key>
        <string>{35,72}</string>
      </dict>
      <key>weapon_10033_0_5_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{114,826},{56,104}}</string>
        <key>offset</key>
        <string>{3,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,104}}</string>
        <key>sourceSize</key>
        <string>{56,104}</string>
      </dict>
      <key>weapon_10033_0_5_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{145,331},{48,142}}</string>
        <key>offset</key>
        <string>{8,136}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,142}}</string>
        <key>sourceSize</key>
        <string>{48,142}</string>
      </dict>
      <key>weapon_10033_0_5_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{267,942},{47,76}}</string>
        <key>offset</key>
        <string>{3,71}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{47,76}}</string>
        <key>sourceSize</key>
        <string>{47,76}</string>
      </dict>
      <key>weapon_10033_0_5_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{170,988},{34,78}}</string>
        <key>offset</key>
        <string>{-8,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{34,78}}</string>
        <key>sourceSize</key>
        <string>{34,78}</string>
      </dict>
      <key>weapon_10033_0_5_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,443},{134,63}}</string>
        <key>offset</key>
        <string>{-98,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,63}}</string>
        <key>sourceSize</key>
        <string>{134,63}</string>
      </dict>
      <key>weapon_10033_0_5_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{343,756},{101,63}}</string>
        <key>offset</key>
        <string>{-74,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,63}}</string>
        <key>sourceSize</key>
        <string>{101,63}</string>
      </dict>
      <key>weapon_10033_0_5_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{446,756},{60,94}}</string>
        <key>offset</key>
        <string>{-29,101}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,94}}</string>
        <key>sourceSize</key>
        <string>{60,94}</string>
      </dict>
      <key>weapon_10033_0_5_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{266,535},{67,126}}</string>
        <key>offset</key>
        <string>{-5,129}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,126}}</string>
        <key>sourceSize</key>
        <string>{67,126}</string>
      </dict>
      <key>weapon_10033_0_5_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{267,841},{74,73}}</string>
        <key>offset</key>
        <string>{-47,80}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,73}}</string>
        <key>sourceSize</key>
        <string>{74,73}</string>
      </dict>
      <key>weapon_10033_0_5_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,822},{112,63}}</string>
        <key>offset</key>
        <string>{-80,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,63}}</string>
        <key>sourceSize</key>
        <string>{112,63}</string>
      </dict>
      <key>weapon_10033_0_5_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{313,136},{152,63}}</string>
        <key>offset</key>
        <string>{-99,80}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,63}}</string>
        <key>sourceSize</key>
        <string>{152,63}</string>
      </dict>
      <key>weapon_10033_0_5_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,273},{143,73}}</string>
        <key>offset</key>
        <string>{-101,89}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,73}}</string>
        <key>sourceSize</key>
        <string>{143,73}</string>
      </dict>
      <key>weapon_10033_0_5_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{81,887},{87,107}}</string>
        <key>offset</key>
        <string>{-58,122}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,107}}</string>
        <key>sourceSize</key>
        <string>{87,107}</string>
      </dict>
      <key>weapon_10033_0_5_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{258,657},{82,113}}</string>
        <key>offset</key>
        <string>{-22,128}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,113}}</string>
        <key>sourceSize</key>
        <string>{82,113}</string>
      </dict>
      <key>weapon_10033_0_5_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{236,741},{105,98}}</string>
        <key>offset</key>
        <string>{-79,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,98}}</string>
        <key>sourceSize</key>
        <string>{105,98}</string>
      </dict>
      <key>weapon_10033_0_5_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,201},{150,70}}</string>
        <key>offset</key>
        <string>{-104,85}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,70}}</string>
        <key>sourceSize</key>
        <string>{150,70}</string>
      </dict>
      <key>weapon_10033_0_5_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{121,723},{101,113}}</string>
        <key>offset</key>
        <string>{-39,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,113}}</string>
        <key>sourceSize</key>
        <string>{101,113}</string>
      </dict>
      <key>weapon_10033_0_5_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,701},{119,119}}</string>
        <key>offset</key>
        <string>{-65,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,119}}</string>
        <key>sourceSize</key>
        <string>{119,119}</string>
      </dict>
      <key>weapon_10033_0_5_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{280,451},{82,129}}</string>
        <key>offset</key>
        <string>{-49,146}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,129}}</string>
        <key>sourceSize</key>
        <string>{82,129}</string>
      </dict>
      <key>weapon_10033_0_5_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{373,691},{63,107}}</string>
        <key>offset</key>
        <string>{-16,130}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,107}}</string>
        <key>sourceSize</key>
        <string>{63,107}</string>
      </dict>
      <key>weapon_10033_0_5_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,348},{93,140}}</string>
        <key>offset</key>
        <string>{-57,152}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,140}}</string>
        <key>sourceSize</key>
        <string>{93,140}</string>
      </dict>
      <key>weapon_10033_0_5_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,598},{123,126}}</string>
        <key>offset</key>
        <string>{-62,128}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,126}}</string>
        <key>sourceSize</key>
        <string>{123,126}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_10033_0_5.png</string>
      <key>size</key>
      <string>{512,1024}</string>
      <key>textureFileName</key>
      <string>weapon_10033_0_5.png</string>
    </dict>
  </dict>
</plist>