<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_10031_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{121,171},{162,89}}</string>
        <key>offset</key>
        <string>{15,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{162,89}}</string>
        <key>sourceSize</key>
        <string>{162,89}</string>
      </dict>
      <key>weapon_10031_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{315,391},{134,115}}</string>
        <key>offset</key>
        <string>{20,99}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,115}}</string>
        <key>sourceSize</key>
        <string>{134,115}</string>
      </dict>
      <key>weapon_10031_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{451,383},{120,132}}</string>
        <key>offset</key>
        <string>{17,116}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,132}}</string>
        <key>sourceSize</key>
        <string>{120,132}</string>
      </dict>
      <key>weapon_10031_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{162,428},{151,60}}</string>
        <key>offset</key>
        <string>{3,31}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,60}}</string>
        <key>sourceSize</key>
        <string>{151,60}</string>
      </dict>
      <key>weapon_10031_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{465,144},{114,58}}</string>
        <key>offset</key>
        <string>{12,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,58}}</string>
        <key>sourceSize</key>
        <string>{114,58}</string>
      </dict>
      <key>weapon_10031_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{52,192},{171,67}}</string>
        <key>offset</key>
        <string>{8,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{171,67}}</string>
        <key>sourceSize</key>
        <string>{171,67}</string>
      </dict>
      <key>weapon_10031_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{541,295},{47,67}}</string>
        <key>offset</key>
        <string>{-6,22}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{47,67}}</string>
        <key>sourceSize</key>
        <string>{47,67}</string>
      </dict>
      <key>weapon_10031_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{271,0},{45,42}}</string>
        <key>offset</key>
        <string>{0,19}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{45,42}}</string>
        <key>sourceSize</key>
        <string>{45,42}</string>
      </dict>
      <key>weapon_10031_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{329,248},{133,76}}</string>
        <key>offset</key>
        <string>{-2,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,76}}</string>
        <key>sourceSize</key>
        <string>{133,76}</string>
      </dict>
      <key>weapon_10031_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{578,0},{102,68}}</string>
        <key>offset</key>
        <string>{-84,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,68}}</string>
        <key>sourceSize</key>
        <string>{102,68}</string>
      </dict>
      <key>weapon_10031_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{212,164},{95,55}}</string>
        <key>offset</key>
        <string>{-68,39}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,55}}</string>
        <key>sourceSize</key>
        <string>{95,55}</string>
      </dict>
      <key>weapon_10031_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{541,204},{45,89}}</string>
        <key>offset</key>
        <string>{-13,28}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{45,89}}</string>
        <key>sourceSize</key>
        <string>{45,89}</string>
      </dict>
      <key>weapon_10031_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,428},{160,68}}</string>
        <key>offset</key>
        <string>{-125,64}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,68}}</string>
        <key>sourceSize</key>
        <string>{160,68}</string>
      </dict>
      <key>weapon_10031_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{315,144},{148,102}}</string>
        <key>offset</key>
        <string>{-117,94}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,102}}</string>
        <key>sourceSize</key>
        <string>{148,102}</string>
      </dict>
      <key>weapon_10031_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{466,43},{110,74}}</string>
        <key>offset</key>
        <string>{-87,37}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,74}}</string>
        <key>sourceSize</key>
        <string>{110,74}</string>
      </dict>
      <key>weapon_10031_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{407,248},{133,132}}</string>
        <key>offset</key>
        <string>{-89,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,132}}</string>
        <key>sourceSize</key>
        <string>{133,132}</string>
      </dict>
      <key>weapon_10031_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{154,0},{115,162}}</string>
        <key>offset</key>
        <string>{-79,155}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,162}}</string>
        <key>sourceSize</key>
        <string>{115,162}</string>
      </dict>
      <key>weapon_10031_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{190,57}}</string>
        <key>offset</key>
        <string>{-146,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{190,57}}</string>
        <key>sourceSize</key>
        <string>{190,57}</string>
      </dict>
      <key>weapon_10031_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,372},{54,176}}</string>
        <key>offset</key>
        <string>{4,166}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,176}}</string>
        <key>sourceSize</key>
        <string>{54,176}</string>
      </dict>
      <key>weapon_10031_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,192},{50,178}}</string>
        <key>offset</key>
        <string>{-2,168}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{50,178}}</string>
        <key>sourceSize</key>
        <string>{50,178}</string>
      </dict>
      <key>weapon_10031_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{212,248},{141,115}}</string>
        <key>offset</key>
        <string>{-90,118}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,115}}</string>
        <key>sourceSize</key>
        <string>{141,115}</string>
      </dict>
      <key>weapon_10031_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{315,43},{99,149}}</string>
        <key>offset</key>
        <string>{29,133}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,149}}</string>
        <key>sourceSize</key>
        <string>{99,149}</string>
      </dict>
      <key>weapon_10031_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{59,0},{93,169}}</string>
        <key>offset</key>
        <string>{22,154}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,169}}</string>
        <key>sourceSize</key>
        <string>{93,169}</string>
      </dict>
      <key>weapon_10031_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{315,0},{41,150}}</string>
        <key>offset</key>
        <string>{14,142}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{41,150}}</string>
        <key>sourceSize</key>
        <string>{41,150}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_10031_0_7.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>weapon_10031_0_7.png</string>
    </dict>
  </dict>
</plist>