<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_10005_0_11_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{57,202},{52,30}}</string>
        <key>offset</key>
        <string>{41,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{52,30}}</string>
        <key>sourceSize</key>
        <string>{52,30}</string>
      </dict>
      <key>weapon_10005_0_11_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{91,84},{33,16}}</string>
        <key>offset</key>
        <string>{29,22}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{33,16}}</string>
        <key>sourceSize</key>
        <string>{33,16}</string>
      </dict>
      <key>weapon_10005_0_11_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{91,34},{48,26}}</string>
        <key>offset</key>
        <string>{-10,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,26}}</string>
        <key>sourceSize</key>
        <string>{48,26}</string>
      </dict>
      <key>weapon_10005_0_11_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,139},{68,55}}</string>
        <key>offset</key>
        <string>{-49,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,55}}</string>
        <key>sourceSize</key>
        <string>{68,55}</string>
      </dict>
      <key>weapon_10005_0_11_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,85},{52,86}}</string>
        <key>offset</key>
        <string>{-45,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{52,86}}</string>
        <key>sourceSize</key>
        <string>{52,86}</string>
      </dict>
      <key>weapon_10005_0_11_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{32,100}}</string>
        <key>offset</key>
        <string>{-13,119}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{32,100}}</string>
        <key>sourceSize</key>
        <string>{32,100}</string>
      </dict>
      <key>weapon_10005_0_11_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,34},{49,89}}</string>
        <key>offset</key>
        <string>{9,116}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{49,89}}</string>
        <key>sourceSize</key>
        <string>{49,89}</string>
      </dict>
      <key>weapon_10005_0_11_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{57,139},{68,61}}</string>
        <key>offset</key>
        <string>{29,87}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,61}}</string>
        <key>sourceSize</key>
        <string>{68,61}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_10005_0_11.png</string>
      <key>size</key>
      <string>{128,256}</string>
      <key>textureFileName</key>
      <string>weapon_10005_0_11.png</string>
    </dict>
  </dict>
</plist>