<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_10200_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{811,262},{89,112}}</string>
        <key>offset</key>
        <string>{36,117}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,112}}</string>
        <key>sourceSize</key>
        <string>{89,112}</string>
      </dict>
      <key>weapon_10200_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{170,511},{98,93}}</string>
        <key>offset</key>
        <string>{-67,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,93}}</string>
        <key>sourceSize</key>
        <string>{98,93}</string>
      </dict>
      <key>weapon_10200_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{811,475},{57,93}}</string>
        <key>offset</key>
        <string>{18,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,93}}</string>
        <key>sourceSize</key>
        <string>{57,93}</string>
      </dict>
      <key>weapon_10200_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{901,142},{109,77}}</string>
        <key>offset</key>
        <string>{30,125}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,77}}</string>
        <key>sourceSize</key>
        <string>{109,77}</string>
      </dict>
      <key>weapon_10200_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{902,253},{81,104}}</string>
        <key>offset</key>
        <string>{-43,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,104}}</string>
        <key>sourceSize</key>
        <string>{81,104}</string>
      </dict>
      <key>weapon_10200_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{580,0},{56,132}}</string>
        <key>offset</key>
        <string>{18,139}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,132}}</string>
        <key>sourceSize</key>
        <string>{56,132}</string>
      </dict>
      <key>weapon_10200_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{875,437},{65,94}}</string>
        <key>offset</key>
        <string>{21,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,94}}</string>
        <key>sourceSize</key>
        <string>{65,94}</string>
      </dict>
      <key>weapon_10200_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,444},{168,66}}</string>
        <key>offset</key>
        <string>{-149,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{168,66}}</string>
        <key>sourceSize</key>
        <string>{168,66}</string>
      </dict>
      <key>weapon_10200_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{558,430},{130,65}}</string>
        <key>offset</key>
        <string>{-65,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,65}}</string>
        <key>sourceSize</key>
        <string>{130,65}</string>
      </dict>
      <key>weapon_10200_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{484,509},{58,54}}</string>
        <key>offset</key>
        <string>{51,86}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,54}}</string>
        <key>sourceSize</key>
        <string>{58,54}</string>
      </dict>
      <key>weapon_10200_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{558,497},{76,71}}</string>
        <key>offset</key>
        <string>{35,73}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,71}}</string>
        <key>sourceSize</key>
        <string>{76,71}</string>
      </dict>
      <key>weapon_10200_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{466,147},{141,97}}</string>
        <key>offset</key>
        <string>{36,97}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,97}}</string>
        <key>sourceSize</key>
        <string>{141,97}</string>
      </dict>
      <key>weapon_10200_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{902,336},{99,99}}</string>
        <key>offset</key>
        <string>{-38,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,99}}</string>
        <key>sourceSize</key>
        <string>{99,99}</string>
      </dict>
      <key>weapon_10200_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,147},{143,68}}</string>
        <key>offset</key>
        <string>{-132,105}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,68}}</string>
        <key>sourceSize</key>
        <string>{143,68}</string>
      </dict>
      <key>weapon_10200_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{74,0},{174,45}}</string>
        <key>offset</key>
        <string>{-122,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{174,45}}</string>
        <key>sourceSize</key>
        <string>{174,45}</string>
      </dict>
      <key>weapon_10200_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{811,376},{97,62}}</string>
        <key>offset</key>
        <string>{-12,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,62}}</string>
        <key>sourceSize</key>
        <string>{97,62}</string>
      </dict>
      <key>weapon_10200_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{175,343},{166,59}}</string>
        <key>offset</key>
        <string>{34,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{166,59}}</string>
        <key>sourceSize</key>
        <string>{166,59}</string>
      </dict>
      <key>weapon_10200_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,182},{176,85}}</string>
        <key>offset</key>
        <string>{28,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,85}}</string>
        <key>sourceSize</key>
        <string>{176,85}</string>
      </dict>
      <key>weapon_10200_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{661,274},{90,127}}</string>
        <key>offset</key>
        <string>{-76,120}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,127}}</string>
        <key>sourceSize</key>
        <string>{90,127}</string>
      </dict>
      <key>weapon_10200_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{690,495},{60,93}}</string>
        <key>offset</key>
        <string>{-39,143}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,93}}</string>
        <key>sourceSize</key>
        <string>{60,93}</string>
      </dict>
      <key>weapon_10200_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{663,133},{127,83}}</string>
        <key>offset</key>
        <string>{-98,115}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,83}}</string>
        <key>sourceSize</key>
        <string>{127,83}</string>
      </dict>
      <key>weapon_10200_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{565,138},{134,96}}</string>
        <key>offset</key>
        <string>{-78,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,96}}</string>
        <key>sourceSize</key>
        <string>{134,96}</string>
      </dict>
      <key>weapon_10200_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{236,343},{166,69}}</string>
        <key>offset</key>
        <string>{24,3}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{166,69}}</string>
        <key>sourceSize</key>
        <string>{166,69}</string>
      </dict>
      <key>weapon_10200_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{753,262},{115,56}}</string>
        <key>offset</key>
        <string>{15,5}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,56}}</string>
        <key>sourceSize</key>
        <string>{115,56}</string>
      </dict>
      <key>weapon_10200_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{309,164},{85,159}}</string>
        <key>offset</key>
        <string>{-80,159}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,159}}</string>
        <key>sourceSize</key>
        <string>{85,159}</string>
      </dict>
      <key>weapon_10200_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{307,498},{99,99}}</string>
        <key>offset</key>
        <string>{15,142}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,99}}</string>
        <key>sourceSize</key>
        <string>{99,99}</string>
      </dict>
      <key>weapon_10200_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{902,81},{59,110}}</string>
        <key>offset</key>
        <string>{-31,145}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,110}}</string>
        <key>sourceSize</key>
        <string>{59,110}</string>
      </dict>
      <key>weapon_10200_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{377,0},{109,145}}</string>
        <key>offset</key>
        <string>{-93,143}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,145}}</string>
        <key>sourceSize</key>
        <string>{109,145}</string>
      </dict>
      <key>weapon_10200_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{902,0},{79,111}}</string>
        <key>offset</key>
        <string>{11,2}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,111}}</string>
        <key>sourceSize</key>
        <string>{79,111}</string>
      </dict>
      <key>weapon_10200_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{408,509},{55,74}}</string>
        <key>offset</key>
        <string>{-27,10}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,74}}</string>
        <key>sourceSize</key>
        <string>{55,74}</string>
      </dict>
      <key>weapon_10200_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{121,0},{72,171}}</string>
        <key>offset</key>
        <string>{-45,181}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,171}}</string>
        <key>sourceSize</key>
        <string>{72,171}</string>
      </dict>
      <key>weapon_10200_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{167,173},{168,71}}</string>
        <key>offset</key>
        <string>{27,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{168,71}}</string>
        <key>sourceSize</key>
        <string>{168,71}</string>
      </dict>
      <key>weapon_10200_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{769,0},{125,97}}</string>
        <key>offset</key>
        <string>{-11,138}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,97}}</string>
        <key>sourceSize</key>
        <string>{125,97}</string>
      </dict>
      <key>weapon_10200_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{87,176},{78,172}}</string>
        <key>offset</key>
        <string>{-76,181}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,172}}</string>
        <key>sourceSize</key>
        <string>{78,172}</string>
      </dict>
      <key>weapon_10200_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{690,403},{90,119}}</string>
        <key>offset</key>
        <string>{-65,10}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,119}}</string>
        <key>sourceSize</key>
        <string>{90,119}</string>
      </dict>
      <key>weapon_10200_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{415,437},{141,70}}</string>
        <key>offset</key>
        <string>{-131,32}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,70}}</string>
        <key>sourceSize</key>
        <string>{141,70}</string>
      </dict>
      <key>weapon_10200_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{287,0},{88,162}}</string>
        <key>offset</key>
        <string>{-3,179}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,162}}</string>
        <key>sourceSize</key>
        <string>{88,162}</string>
      </dict>
      <key>weapon_10200_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{415,292},{143,122}}</string>
        <key>offset</key>
        <string>{35,103}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,122}}</string>
        <key>sourceSize</key>
        <string>{143,122}</string>
      </dict>
      <key>weapon_10200_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{180,72}}</string>
        <key>offset</key>
        <string>{-10,107}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,72}}</string>
        <key>sourceSize</key>
        <string>{180,72}</string>
      </dict>
      <key>weapon_10200_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{307,335},{106,161}}</string>
        <key>offset</key>
        <string>{-48,191}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,161}}</string>
        <key>sourceSize</key>
        <string>{106,161}</string>
      </dict>
      <key>weapon_10200_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{195,0},{166,90}}</string>
        <key>offset</key>
        <string>{-154,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{166,90}}</string>
        <key>sourceSize</key>
        <string>{166,90}</string>
      </dict>
      <key>weapon_10200_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,360},{173,82}}</string>
        <key>offset</key>
        <string>{-155,72}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{173,82}}</string>
        <key>sourceSize</key>
        <string>{173,82}</string>
      </dict>
      <key>weapon_10200_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{488,0},{90,136}}</string>
        <key>offset</key>
        <string>{32,153}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,136}}</string>
        <key>sourceSize</key>
        <string>{90,136}</string>
      </dict>
      <key>weapon_10200_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{836,127},{63,110}}</string>
        <key>offset</key>
        <string>{22,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,110}}</string>
        <key>sourceSize</key>
        <string>{63,110}</string>
      </dict>
      <key>weapon_10200_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{748,133},{127,86}}</string>
        <key>offset</key>
        <string>{17,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,86}}</string>
        <key>sourceSize</key>
        <string>{127,86}</string>
      </dict>
      <key>weapon_10200_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{539,290},{138,120}}</string>
        <key>offset</key>
        <string>{-10,168}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,120}}</string>
        <key>sourceSize</key>
        <string>{138,120}</string>
      </dict>
      <key>weapon_10200_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,168},{165,67}}</string>
        <key>offset</key>
        <string>{-143,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{165,67}}</string>
        <key>sourceSize</key>
        <string>{165,67}</string>
      </dict>
      <key>weapon_10200_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{638,0},{129,131}}</string>
        <key>offset</key>
        <string>{-84,129}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,131}}</string>
        <key>sourceSize</key>
        <string>{129,131}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_10200_0_2.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>weapon_10200_0_2.png</string>
    </dict>
  </dict>
</plist>