<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_10012_1_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,173},{126,57}}</string>
        <key>offset</key>
        <string>{7,41}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,57}}</string>
        <key>sourceSize</key>
        <string>{126,57}</string>
      </dict>
      <key>weapon_10012_1_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,0},{107,77}}</string>
        <key>offset</key>
        <string>{12,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,77}}</string>
        <key>sourceSize</key>
        <string>{107,77}</string>
      </dict>
      <key>weapon_10012_1_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{358,151},{89,92}}</string>
        <key>offset</key>
        <string>{17,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,92}}</string>
        <key>sourceSize</key>
        <string>{89,92}</string>
      </dict>
      <key>weapon_10012_1_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{209,225},{105,27}}</string>
        <key>offset</key>
        <string>{-8,1}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,27}}</string>
        <key>sourceSize</key>
        <string>{105,27}</string>
      </dict>
      <key>weapon_10012_1_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{316,218},{85,27}}</string>
        <key>offset</key>
        <string>{7,20}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,27}}</string>
        <key>sourceSize</key>
        <string>{85,27}</string>
      </dict>
      <key>weapon_10012_1_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{138,41}}</string>
        <key>offset</key>
        <string>{-7,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,41}}</string>
        <key>sourceSize</key>
        <string>{138,41}</string>
      </dict>
      <key>weapon_10012_1_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{285,254},{29,53}}</string>
        <key>offset</key>
        <string>{-4,15}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{29,53}}</string>
        <key>sourceSize</key>
        <string>{29,53}</string>
      </dict>
      <key>weapon_10012_1_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{414,245},{31,31}}</string>
        <key>offset</key>
        <string>{9,8}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{31,31}}</string>
        <key>sourceSize</key>
        <string>{31,31}</string>
      </dict>
      <key>weapon_10012_1_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{399,0},{106,54}}</string>
        <key>offset</key>
        <string>{-11,19}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,54}}</string>
        <key>sourceSize</key>
        <string>{106,54}</string>
      </dict>
      <key>weapon_10012_1_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{449,240},{73,50}}</string>
        <key>offset</key>
        <string>{-55,26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,50}}</string>
        <key>sourceSize</key>
        <string>{73,50}</string>
      </dict>
      <key>weapon_10012_1_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{345,245},{67,37}}</string>
        <key>offset</key>
        <string>{-41,19}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,37}}</string>
        <key>sourceSize</key>
        <string>{67,37}</string>
      </dict>
      <key>weapon_10012_1_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{209,254},{14,74}}</string>
        <key>offset</key>
        <string>{4,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{14,74}}</string>
        <key>sourceSize</key>
        <string>{14,74}</string>
      </dict>
      <key>weapon_10012_1_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{72,0},{127,43}}</string>
        <key>offset</key>
        <string>{-83,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,43}}</string>
        <key>sourceSize</key>
        <string>{127,43}</string>
      </dict>
      <key>weapon_10012_1_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{296,109},{107,60}}</string>
        <key>offset</key>
        <string>{-69,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,60}}</string>
        <key>sourceSize</key>
        <string>{107,60}</string>
      </dict>
      <key>weapon_10012_1_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{449,151},{87,56}}</string>
        <key>offset</key>
        <string>{-55,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,56}}</string>
        <key>sourceSize</key>
        <string>{87,56}</string>
      </dict>
      <key>weapon_10012_1_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{399,56},{106,93}}</string>
        <key>offset</key>
        <string>{-48,97}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,93}}</string>
        <key>sourceSize</key>
        <string>{106,93}</string>
      </dict>
      <key>weapon_10012_1_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{209,113},{85,110}}</string>
        <key>offset</key>
        <string>{-42,106}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,110}}</string>
        <key>sourceSize</key>
        <string>{85,110}</string>
      </dict>
      <key>weapon_10012_1_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{43,0},{137,27}}</string>
        <key>offset</key>
        <string>{-82,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,27}}</string>
        <key>sourceSize</key>
        <string>{137,27}</string>
      </dict>
      <key>weapon_10012_1_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,0},{29,127}}</string>
        <key>offset</key>
        <string>{25,115}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{29,127}}</string>
        <key>sourceSize</key>
        <string>{29,127}</string>
      </dict>
      <key>weapon_10012_1_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,140},{31,138}}</string>
        <key>offset</key>
        <string>{10,123}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{31,138}}</string>
        <key>sourceSize</key>
        <string>{31,138}</string>
      </dict>
      <key>weapon_10012_1_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{319,0},{107,78}}</string>
        <key>offset</key>
        <string>{-45,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,78}}</string>
        <key>sourceSize</key>
        <string>{107,78}</string>
      </dict>
      <key>weapon_10012_1_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{148,0},{74,111}}</string>
        <key>offset</key>
        <string>{31,91}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,111}}</string>
        <key>sourceSize</key>
        <string>{74,111}</string>
      </dict>
      <key>weapon_10012_1_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{140,129},{67,124}}</string>
        <key>offset</key>
        <string>{24,105}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,124}}</string>
        <key>sourceSize</key>
        <string>{67,124}</string>
      </dict>
      <key>weapon_10012_1_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,0},{14,110}}</string>
        <key>offset</key>
        <string>{32,101}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{14,110}}</string>
        <key>sourceSize</key>
        <string>{14,110}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_10012_1_7.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>weapon_10012_1_7.png</string>
    </dict>
  </dict>
</plist>