<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_10202_0_3_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{517,0},{47,137}}</string>
        <key>offset</key>
        <string>{22,117}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{47,137}}</string>
        <key>sourceSize</key>
        <string>{47,137}</string>
      </dict>
      <key>weapon_10202_0_3_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{290,452},{86,142}}</string>
        <key>offset</key>
        <string>{-20,157}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,142}}</string>
        <key>sourceSize</key>
        <string>{86,142}</string>
      </dict>
      <key>weapon_10202_0_3_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{438,288},{92,139}}</string>
        <key>offset</key>
        <string>{-23,160}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,139}}</string>
        <key>sourceSize</key>
        <string>{92,139}</string>
      </dict>
      <key>weapon_10202_0_3_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{493,142},{78,139}}</string>
        <key>offset</key>
        <string>{-14,170}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,139}}</string>
        <key>sourceSize</key>
        <string>{78,139}</string>
      </dict>
      <key>weapon_10202_0_3_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{463,0},{52,140}}</string>
        <key>offset</key>
        <string>{5,172}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{52,140}}</string>
        <key>sourceSize</key>
        <string>{52,140}</string>
      </dict>
      <key>weapon_10202_0_3_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{51,0},{46,170}}</string>
        <key>offset</key>
        <string>{20,179}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,170}}</string>
        <key>sourceSize</key>
        <string>{46,170}</string>
      </dict>
      <key>weapon_10202_0_3_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{351,669},{120,126}}</string>
        <key>offset</key>
        <string>{19,97}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,126}}</string>
        <key>sourceSize</key>
        <string>{120,126}</string>
      </dict>
      <key>weapon_10202_0_3_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{173,163},{49,151}}</string>
        <key>offset</key>
        <string>{13,159}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{49,151}}</string>
        <key>sourceSize</key>
        <string>{49,151}</string>
      </dict>
      <key>weapon_10202_0_3_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,316},{57,149}}</string>
        <key>offset</key>
        <string>{7,159}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,149}}</string>
        <key>sourceSize</key>
        <string>{57,149}</string>
      </dict>
      <key>weapon_10202_0_3_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{283,153},{50,145}}</string>
        <key>offset</key>
        <string>{6,170}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{50,145}}</string>
        <key>sourceSize</key>
        <string>{50,145}</string>
      </dict>
      <key>weapon_10202_0_3_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,153},{57,149}}</string>
        <key>offset</key>
        <string>{-3,172}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,149}}</string>
        <key>sourceSize</key>
        <string>{57,149}</string>
      </dict>
      <key>weapon_10202_0_3_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{302,0},{93,144}}</string>
        <key>offset</key>
        <string>{26,147}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,144}}</string>
        <key>sourceSize</key>
        <string>{93,144}</string>
      </dict>
      <key>weapon_10202_0_3_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{80,851},{154,90}}</string>
        <key>offset</key>
        <string>{2,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,90}}</string>
        <key>sourceSize</key>
        <string>{154,90}</string>
      </dict>
      <key>weapon_10202_0_3_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,836},{64,149}}</string>
        <key>offset</key>
        <string>{16,152}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,149}}</string>
        <key>sourceSize</key>
        <string>{64,149}</string>
      </dict>
      <key>weapon_10202_0_3_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{49,177}}</string>
        <key>offset</key>
        <string>{17,184}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{49,177}}</string>
        <key>sourceSize</key>
        <string>{49,177}</string>
      </dict>
      <key>weapon_10202_0_3_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,356},{64,165}}</string>
        <key>offset</key>
        <string>{3,180}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,165}}</string>
        <key>sourceSize</key>
        <string>{64,165}</string>
      </dict>
      <key>weapon_10202_0_3_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{80,172},{91,164}}</string>
        <key>offset</key>
        <string>{-21,191}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,164}}</string>
        <key>sourceSize</key>
        <string>{91,164}</string>
      </dict>
      <key>weapon_10202_0_3_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{397,797},{125,118}}</string>
        <key>offset</key>
        <string>{8,110}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,118}}</string>
        <key>sourceSize</key>
        <string>{125,118}</string>
      </dict>
      <key>weapon_10202_0_3_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{574,894},{105,97}}</string>
        <key>offset</key>
        <string>{-5,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,97}}</string>
        <key>sourceSize</key>
        <string>{105,97}</string>
      </dict>
      <key>weapon_10202_0_3_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{296,811},{99,134}}</string>
        <key>offset</key>
        <string>{-12,133}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,134}}</string>
        <key>sourceSize</key>
        <string>{99,134}</string>
      </dict>
      <key>weapon_10202_0_3_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,852},{78,159}}</string>
        <key>offset</key>
        <string>{-6,167}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,159}}</string>
        <key>sourceSize</key>
        <string>{78,159}</string>
      </dict>
      <key>weapon_10202_0_3_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{165,680},{90,154}}</string>
        <key>offset</key>
        <string>{-15,172}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,154}}</string>
        <key>sourceSize</key>
        <string>{90,154}</string>
      </dict>
      <key>weapon_10202_0_3_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{348,291},{88,142}}</string>
        <key>offset</key>
        <string>{-23,174}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,142}}</string>
        <key>sourceSize</key>
        <string>{88,142}</string>
      </dict>
      <key>weapon_10202_0_3_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{517,782},{98,110}}</string>
        <key>offset</key>
        <string>{-3,89}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,110}}</string>
        <key>sourceSize</key>
        <string>{98,110}</string>
      </dict>
      <key>weapon_10202_0_3_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{524,894},{48,108}}</string>
        <key>offset</key>
        <string>{-24,52}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,108}}</string>
        <key>sourceSize</key>
        <string>{48,108}</string>
      </dict>
      <key>weapon_10202_0_3_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{213,0},{87,151}}</string>
        <key>offset</key>
        <string>{-21,144}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,151}}</string>
        <key>sourceSize</key>
        <string>{87,151}</string>
      </dict>
      <key>weapon_10202_0_3_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{257,669},{92,140}}</string>
        <key>offset</key>
        <string>{-23,148}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,140}}</string>
        <key>sourceSize</key>
        <string>{92,140}</string>
      </dict>
      <key>weapon_10202_0_3_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,179},{78,175}}</string>
        <key>offset</key>
        <string>{-18,184}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,175}}</string>
        <key>sourceSize</key>
        <string>{78,175}</string>
      </dict>
      <key>weapon_10202_0_3_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,690},{65,160}}</string>
        <key>offset</key>
        <string>{-11,187}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,160}}</string>
        <key>sourceSize</key>
        <string>{65,160}</string>
      </dict>
      <key>weapon_10202_0_3_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{473,665},{50,115}}</string>
        <key>offset</key>
        <string>{-22,87}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{50,115}}</string>
        <key>sourceSize</key>
        <string>{50,115}</string>
      </dict>
      <key>weapon_10202_0_3_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{381,577},{120,86}}</string>
        <key>offset</key>
        <string>{-93,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,86}}</string>
        <key>sourceSize</key>
        <string>{120,86}</string>
      </dict>
      <key>weapon_10202_0_3_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{155,338},{51,153}}</string>
        <key>offset</key>
        <string>{-18,143}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{51,153}}</string>
        <key>sourceSize</key>
        <string>{51,153}</string>
      </dict>
      <key>weapon_10202_0_3_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{231,467},{57,148}}</string>
        <key>offset</key>
        <string>{-17,150}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,148}}</string>
        <key>sourceSize</key>
        <string>{57,148}</string>
      </dict>
      <key>weapon_10202_0_3_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{231,617},{50,148}}</string>
        <key>offset</key>
        <string>{-11,158}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{50,148}}</string>
        <key>sourceSize</key>
        <string>{50,148}</string>
      </dict>
      <key>weapon_10202_0_3_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{238,836},{56,149}}</string>
        <key>offset</key>
        <string>{-7,182}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,149}}</string>
        <key>sourceSize</key>
        <string>{56,149}</string>
      </dict>
      <key>weapon_10202_0_3_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{397,924},{92,125}}</string>
        <key>offset</key>
        <string>{-71,106}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,125}}</string>
        <key>sourceSize</key>
        <string>{92,125}</string>
      </dict>
      <key>weapon_10202_0_3_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{93,523},{155,89}}</string>
        <key>offset</key>
        <string>{-109,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,89}}</string>
        <key>sourceSize</key>
        <string>{155,89}</string>
      </dict>
      <key>weapon_10202_0_3_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{335,146},{65,143}}</string>
        <key>offset</key>
        <string>{-34,138}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,143}}</string>
        <key>sourceSize</key>
        <string>{65,143}</string>
      </dict>
      <key>weapon_10202_0_3_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{184,493},{45,150}}</string>
        <key>offset</key>
        <string>{-17,154}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{45,150}}</string>
        <key>sourceSize</key>
        <string>{45,150}</string>
      </dict>
      <key>weapon_10202_0_3_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{397,0},{64,143}}</string>
        <key>offset</key>
        <string>{-20,162}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,143}}</string>
        <key>sourceSize</key>
        <string>{64,143}</string>
      </dict>
      <key>weapon_10202_0_3_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,523},{91,165}}</string>
        <key>offset</key>
        <string>{-24,208}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,165}}</string>
        <key>sourceSize</key>
        <string>{91,165}</string>
      </dict>
      <key>weapon_10202_0_3_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{566,0},{125,137}}</string>
        <key>offset</key>
        <string>{-87,132}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,137}}</string>
        <key>sourceSize</key>
        <string>{125,137}</string>
      </dict>
      <key>weapon_10202_0_3_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{99,0},{112,161}}</string>
        <key>offset</key>
        <string>{-60,150}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,161}}</string>
        <key>sourceSize</key>
        <string>{112,161}</string>
      </dict>
      <key>weapon_10202_0_3_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{378,435},{99,140}}</string>
        <key>offset</key>
        <string>{-41,148}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,140}}</string>
        <key>sourceSize</key>
        <string>{99,140}</string>
      </dict>
      <key>weapon_10202_0_3_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{267,304},{79,146}}</string>
        <key>offset</key>
        <string>{-26,159}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,146}}</string>
        <key>sourceSize</key>
        <string>{79,146}</string>
      </dict>
      <key>weapon_10202_0_3_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{402,145},{89,141}}</string>
        <key>offset</key>
        <string>{-28,176}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,141}}</string>
        <key>sourceSize</key>
        <string>{89,141}</string>
      </dict>
      <key>weapon_10202_0_3_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,356},{87,165}}</string>
        <key>offset</key>
        <string>{-19,205}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,165}}</string>
        <key>sourceSize</key>
        <string>{87,165}</string>
      </dict>
      <key>weapon_10202_0_3_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{67,690},{96,159}}</string>
        <key>offset</key>
        <string>{-46,168}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,159}}</string>
        <key>sourceSize</key>
        <string>{96,159}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_10202_0_3.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>weapon_10202_0_3.png</string>
    </dict>
  </dict>
</plist>