<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_10035_0_11_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,405},{84,134}}</string>
        <key>offset</key>
        <string>{26,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,134}}</string>
        <key>sourceSize</key>
        <string>{84,134}</string>
      </dict>
      <key>weapon_10035_0_11_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,276},{92,127}}</string>
        <key>offset</key>
        <string>{6,104}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,127}}</string>
        <key>sourceSize</key>
        <string>{92,127}</string>
      </dict>
      <key>weapon_10035_0_11_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{185,0},{76,126}}</string>
        <key>offset</key>
        <string>{-9,100}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,126}}</string>
        <key>sourceSize</key>
        <string>{76,126}</string>
      </dict>
      <key>weapon_10035_0_11_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{170,257},{83,146}}</string>
        <key>offset</key>
        <string>{-45,120}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,146}}</string>
        <key>sourceSize</key>
        <string>{83,146}</string>
      </dict>
      <key>weapon_10035_0_11_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,185},{89,168}}</string>
        <key>offset</key>
        <string>{-62,147}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,168}}</string>
        <key>sourceSize</key>
        <string>{89,168}</string>
      </dict>
      <key>weapon_10035_0_11_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{95,183}}</string>
        <key>offset</key>
        <string>{-51,171}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,183}}</string>
        <key>sourceSize</key>
        <string>{95,183}</string>
      </dict>
      <key>weapon_10035_0_11_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,97},{86,177}}</string>
        <key>offset</key>
        <string>{-25,173}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,177}}</string>
        <key>sourceSize</key>
        <string>{86,177}</string>
      </dict>
      <key>weapon_10035_0_11_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{179,97},{73,158}}</string>
        <key>offset</key>
        <string>{15,153}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,158}}</string>
        <key>sourceSize</key>
        <string>{73,158}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_10035_0_11.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>weapon_10035_0_11.png</string>
    </dict>
  </dict>
</plist>