<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_11025_0_8_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,438},{65,143}}</string>
        <key>offset</key>
        <string>{-9,130}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,143}}</string>
        <key>sourceSize</key>
        <string>{65,143}</string>
      </dict>
      <key>weapon_11025_0_8_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{418,320},{65,139}}</string>
        <key>offset</key>
        <string>{-19,129}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,139}}</string>
        <key>sourceSize</key>
        <string>{65,139}</string>
      </dict>
      <key>weapon_11025_0_8_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{284,329},{150,132}}</string>
        <key>offset</key>
        <string>{12,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,132}}</string>
        <key>sourceSize</key>
        <string>{150,132}</string>
      </dict>
      <key>weapon_11025_0_8_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{191,172},{155,136}}</string>
        <key>offset</key>
        <string>{15,119}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,136}}</string>
        <key>sourceSize</key>
        <string>{155,136}</string>
      </dict>
      <key>weapon_11025_0_8_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{180,92}}</string>
        <key>offset</key>
        <string>{9,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,92}}</string>
        <key>sourceSize</key>
        <string>{180,92}</string>
      </dict>
      <key>weapon_11025_0_8_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,356},{166,80}}</string>
        <key>offset</key>
        <string>{23,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{166,80}}</string>
        <key>sourceSize</key>
        <string>{166,80}</string>
      </dict>
      <key>weapon_11025_0_8_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,182},{172,112}}</string>
        <key>offset</key>
        <string>{5,26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{172,112}}</string>
        <key>sourceSize</key>
        <string>{172,112}</string>
      </dict>
      <key>weapon_11025_0_8_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{211,0},{155,121}}</string>
        <key>offset</key>
        <string>{25,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,121}}</string>
        <key>sourceSize</key>
        <string>{155,121}</string>
      </dict>
      <key>weapon_11025_0_8_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{480,203},{69,112}}</string>
        <key>offset</key>
        <string>{-12,21}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,112}}</string>
        <key>sourceSize</key>
        <string>{69,112}</string>
      </dict>
      <key>weapon_11025_0_8_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{488,82},{65,110}}</string>
        <key>offset</key>
        <string>{-1,10}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,110}}</string>
        <key>sourceSize</key>
        <string>{65,110}</string>
      </dict>
      <key>weapon_11025_0_8_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{329,203},{149,115}}</string>
        <key>offset</key>
        <string>{-118,27}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{149,115}}</string>
        <key>sourceSize</key>
        <string>{149,115}</string>
      </dict>
      <key>weapon_11025_0_8_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{168,340},{156,114}}</string>
        <key>offset</key>
        <string>{-126,17}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,114}}</string>
        <key>sourceSize</key>
        <string>{156,114}</string>
      </dict>
      <key>weapon_11025_0_8_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{114,172},{166,75}}</string>
        <key>offset</key>
        <string>{-131,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{166,75}}</string>
        <key>sourceSize</key>
        <string>{166,75}</string>
      </dict>
      <key>weapon_11025_0_8_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{334,0},{153,80}}</string>
        <key>offset</key>
        <string>{-131,38}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,80}}</string>
        <key>sourceSize</key>
        <string>{153,80}</string>
      </dict>
      <key>weapon_11025_0_8_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{94,0},{170,115}}</string>
        <key>offset</key>
        <string>{-131,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,115}}</string>
        <key>sourceSize</key>
        <string>{170,115}</string>
      </dict>
      <key>weapon_11025_0_8_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{334,82},{152,119}}</string>
        <key>offset</key>
        <string>{-131,96}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,119}}</string>
        <key>sourceSize</key>
        <string>{152,119}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_11025_0_8.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>weapon_11025_0_8.png</string>
    </dict>
  </dict>
</plist>