<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_10201_0_3_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{819,382},{41,114}}</string>
        <key>offset</key>
        <string>{25,111}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{41,114}}</string>
        <key>sourceSize</key>
        <string>{41,114}</string>
      </dict>
      <key>weapon_10201_0_3_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{67,322},{80,153}}</string>
        <key>offset</key>
        <string>{-20,166}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,153}}</string>
        <key>sourceSize</key>
        <string>{80,153}</string>
      </dict>
      <key>weapon_10201_0_3_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{325,0},{72,145}}</string>
        <key>offset</key>
        <string>{-9,164}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,145}}</string>
        <key>sourceSize</key>
        <string>{72,145}</string>
      </dict>
      <key>weapon_10201_0_3_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{594,0},{70,136}}</string>
        <key>offset</key>
        <string>{-10,169}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,136}}</string>
        <key>sourceSize</key>
        <string>{70,136}</string>
      </dict>
      <key>weapon_10201_0_3_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{679,134},{60,127}}</string>
        <key>offset</key>
        <string>{-8,167}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,127}}</string>
        <key>sourceSize</key>
        <string>{60,127}</string>
      </dict>
      <key>weapon_10201_0_3_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{65,0},{38,163}}</string>
        <key>offset</key>
        <string>{23,171}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{38,163}}</string>
        <key>sourceSize</key>
        <string>{38,163}</string>
      </dict>
      <key>weapon_10201_0_3_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{804,0},{124,94}}</string>
        <key>offset</key>
        <string>{17,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,94}}</string>
        <key>sourceSize</key>
        <string>{124,94}</string>
      </dict>
      <key>weapon_10201_0_3_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{149,322},{63,153}}</string>
        <key>offset</key>
        <string>{14,161}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,153}}</string>
        <key>sourceSize</key>
        <string>{63,153}</string>
      </dict>
      <key>weapon_10201_0_3_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{432,291},{57,140}}</string>
        <key>offset</key>
        <string>{5,158}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,140}}</string>
        <key>sourceSize</key>
        <string>{57,140}</string>
      </dict>
      <key>weapon_10201_0_3_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{460,143},{47,140}}</string>
        <key>offset</key>
        <string>{8,167}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{47,140}}</string>
        <key>sourceSize</key>
        <string>{47,140}</string>
      </dict>
      <key>weapon_10201_0_3_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{547,284},{48,136}}</string>
        <key>offset</key>
        <string>{-1,171}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,136}}</string>
        <key>sourceSize</key>
        <string>{48,136}</string>
      </dict>
      <key>weapon_10201_0_3_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{241,0},{82,148}}</string>
        <key>offset</key>
        <string>{34,149}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,148}}</string>
        <key>sourceSize</key>
        <string>{82,148}</string>
      </dict>
      <key>weapon_10201_0_3_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{167,63}}</string>
        <key>offset</key>
        <string>{-2,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,63}}</string>
        <key>sourceSize</key>
        <string>{167,63}</string>
      </dict>
      <key>weapon_10201_0_3_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{214,310},{55,150}}</string>
        <key>offset</key>
        <string>{20,151}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,150}}</string>
        <key>sourceSize</key>
        <string>{55,150}</string>
      </dict>
      <key>weapon_10201_0_3_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{346,147},{43,144}}</string>
        <key>offset</key>
        <string>{15,156}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{43,144}}</string>
        <key>sourceSize</key>
        <string>{43,144}</string>
      </dict>
      <key>weapon_10201_0_3_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{227,153},{54,149}}</string>
        <key>offset</key>
        <string>{7,168}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,149}}</string>
        <key>sourceSize</key>
        <string>{54,149}</string>
      </dict>
      <key>weapon_10201_0_3_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,336},{65,157}}</string>
        <key>offset</key>
        <string>{-14,177}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,157}}</string>
        <key>sourceSize</key>
        <string>{65,157}</string>
      </dict>
      <key>weapon_10201_0_3_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,0},{117,122}}</string>
        <key>offset</key>
        <string>{19,116}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,122}}</string>
        <key>sourceSize</key>
        <string>{117,122}</string>
      </dict>
      <key>weapon_10201_0_3_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{697,403},{120,87}}</string>
        <key>offset</key>
        <string>{-9,42}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,87}}</string>
        <key>sourceSize</key>
        <string>{120,87}</string>
      </dict>
      <key>weapon_10201_0_3_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{271,304},{87,147}}</string>
        <key>offset</key>
        <string>{-3,143}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,147}}</string>
        <key>sourceSize</key>
        <string>{87,147}</string>
      </dict>
      <key>weapon_10201_0_3_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{391,147},{67,142}}</string>
        <key>offset</key>
        <string>{0,148}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,142}}</string>
        <key>sourceSize</key>
        <string>{67,142}</string>
      </dict>
      <key>weapon_10201_0_3_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{105,0},{79,154}}</string>
        <key>offset</key>
        <string>{-11,168}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,154}}</string>
        <key>sourceSize</key>
        <string>{79,154}</string>
      </dict>
      <key>weapon_10201_0_3_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,156},{61,152}}</string>
        <key>offset</key>
        <string>{-18,182}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,152}}</string>
        <key>sourceSize</key>
        <string>{61,152}</string>
      </dict>
      <key>weapon_10201_0_3_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{823,167},{94,90}}</string>
        <key>offset</key>
        <string>{0,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,90}}</string>
        <key>sourceSize</key>
        <string>{94,90}</string>
      </dict>
      <key>weapon_10201_0_3_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{862,382},{41,97}}</string>
        <key>offset</key>
        <string>{-19,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{41,97}}</string>
        <key>sourceSize</key>
        <string>{41,97}</string>
      </dict>
      <key>weapon_10201_0_3_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{597,138},{80,132}}</string>
        <key>offset</key>
        <string>{-15,130}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,132}}</string>
        <key>sourceSize</key>
        <string>{80,132}</string>
      </dict>
      <key>weapon_10201_0_3_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{474,0},{72,140}}</string>
        <key>offset</key>
        <string>{-17,145}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,140}}</string>
        <key>sourceSize</key>
        <string>{72,140}</string>
      </dict>
      <key>weapon_10201_0_3_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{360,293},{70,144}}</string>
        <key>offset</key>
        <string>{-14,160}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,144}}</string>
        <key>sourceSize</key>
        <string>{70,144}</string>
      </dict>
      <key>weapon_10201_0_3_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{186,0},{53,151}}</string>
        <key>offset</key>
        <string>{-8,184}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,151}}</string>
        <key>sourceSize</key>
        <string>{53,151}</string>
      </dict>
      <key>weapon_10201_0_3_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{562,470},{38,77}}</string>
        <key>offset</key>
        <string>{-15,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{38,77}}</string>
        <key>sourceSize</key>
        <string>{38,77}</string>
      </dict>
      <key>weapon_10201_0_3_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{741,134},{127,80}}</string>
        <key>offset</key>
        <string>{-98,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,80}}</string>
        <key>sourceSize</key>
        <string>{127,80}</string>
      </dict>
      <key>weapon_10201_0_3_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,119},{46,122}}</string>
        <key>offset</key>
        <string>{-13,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,122}}</string>
        <key>sourceSize</key>
        <string>{46,122}</string>
      </dict>
      <key>weapon_10201_0_3_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{491,285},{54,140}}</string>
        <key>offset</key>
        <string>{-14,150}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,140}}</string>
        <key>sourceSize</key>
        <string>{54,140}</string>
      </dict>
      <key>weapon_10201_0_3_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{562,422},{46,133}}</string>
        <key>offset</key>
        <string>{-9,157}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,133}}</string>
        <key>sourceSize</key>
        <string>{46,133}</string>
      </dict>
      <key>weapon_10201_0_3_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{271,453},{56,146}}</string>
        <key>offset</key>
        <string>{-11,184}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,146}}</string>
        <key>sourceSize</key>
        <string>{56,146}</string>
      </dict>
      <key>weapon_10201_0_3_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{915,167},{84,92}}</string>
        <key>offset</key>
        <string>{-72,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,92}}</string>
        <key>sourceSize</key>
        <string>{84,92}</string>
      </dict>
      <key>weapon_10201_0_3_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,169},{165,64}}</string>
        <key>offset</key>
        <string>{-118,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{165,64}}</string>
        <key>sourceSize</key>
        <string>{165,64}</string>
      </dict>
      <key>weapon_10201_0_3_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{745,0},{57,126}}</string>
        <key>offset</key>
        <string>{-29,138}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,126}}</string>
        <key>sourceSize</key>
        <string>{57,126}</string>
      </dict>
      <key>weapon_10201_0_3_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{548,0},{44,139}}</string>
        <key>offset</key>
        <string>{-12,154}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{44,139}}</string>
        <key>sourceSize</key>
        <string>{44,139}</string>
      </dict>
      <key>weapon_10201_0_3_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{597,272},{55,129}}</string>
        <key>offset</key>
        <string>{-16,160}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,129}}</string>
        <key>sourceSize</key>
        <string>{55,129}</string>
      </dict>
      <key>weapon_10201_0_3_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{419,439},{67,141}}</string>
        <key>offset</key>
        <string>{-8,182}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,141}}</string>
        <key>sourceSize</key>
        <string>{67,141}</string>
      </dict>
      <key>weapon_10201_0_3_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{654,272},{121,129}}</string>
        <key>offset</key>
        <string>{-94,139}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,129}}</string>
        <key>sourceSize</key>
        <string>{121,129}</string>
      </dict>
      <key>weapon_10201_0_3_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{777,263},{117,97}}</string>
        <key>offset</key>
        <string>{-63,105}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,97}}</string>
        <key>sourceSize</key>
        <string>{117,97}</string>
      </dict>
      <key>weapon_10201_0_3_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{509,142},{86,140}}</string>
        <key>offset</key>
        <string>{-38,154}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,140}}</string>
        <key>sourceSize</key>
        <string>{86,140}</string>
      </dict>
      <key>weapon_10201_0_3_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{399,0},{73,141}}</string>
        <key>offset</key>
        <string>{-24,161}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,141}}</string>
        <key>sourceSize</key>
        <string>{73,141}</string>
      </dict>
      <key>weapon_10201_0_3_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{666,0},{77,132}}</string>
        <key>offset</key>
        <string>{-20,165}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,132}}</string>
        <key>sourceSize</key>
        <string>{77,132}</string>
      </dict>
      <key>weapon_10201_0_3_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{283,150},{61,146}}</string>
        <key>offset</key>
        <string>{3,187}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,146}}</string>
        <key>sourceSize</key>
        <string>{61,146}</string>
      </dict>
      <key>weapon_10201_0_3_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,165},{96,155}}</string>
        <key>offset</key>
        <string>{-49,167}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,155}}</string>
        <key>sourceSize</key>
        <string>{96,155}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_10201_0_3.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>weapon_10201_0_3.png</string>
    </dict>
  </dict>
</plist>