<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_10018_0_5_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{842,0},{43,86}}</string>
        <key>offset</key>
        <string>{31,82}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{43,86}}</string>
        <key>sourceSize</key>
        <string>{43,86}</string>
      </dict>
      <key>weapon_10018_0_5_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,481},{17,143}}</string>
        <key>offset</key>
        <string>{30,137}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{17,143}}</string>
        <key>sourceSize</key>
        <string>{17,143}</string>
      </dict>
      <key>weapon_10018_0_5_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{86,0},{41,188}}</string>
        <key>offset</key>
        <string>{5,191}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{41,188}}</string>
        <key>sourceSize</key>
        <string>{41,188}</string>
      </dict>
      <key>weapon_10018_0_5_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{480,425},{44,115}}</string>
        <key>offset</key>
        <string>{-3,137}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{44,115}}</string>
        <key>sourceSize</key>
        <string>{44,115}</string>
      </dict>
      <key>weapon_10018_0_5_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{26,195},{39,189}}</string>
        <key>offset</key>
        <string>{6,188}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{39,189}}</string>
        <key>sourceSize</key>
        <string>{39,189}</string>
      </dict>
      <key>weapon_10018_0_5_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{304,314},{16,146}}</string>
        <key>offset</key>
        <string>{31,139}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{16,146}}</string>
        <key>sourceSize</key>
        <string>{16,146}</string>
      </dict>
      <key>weapon_10018_0_5_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{173,435},{161,42}}</string>
        <key>offset</key>
        <string>{4,35}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,42}}</string>
        <key>sourceSize</key>
        <string>{161,42}</string>
      </dict>
      <key>weapon_10018_0_5_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{586,272},{128,120}}</string>
        <key>offset</key>
        <string>{16,110}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,120}}</string>
        <key>sourceSize</key>
        <string>{128,120}</string>
      </dict>
      <key>weapon_10018_0_5_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,190},{47,188}}</string>
        <key>offset</key>
        <string>{36,182}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{47,188}}</string>
        <key>sourceSize</key>
        <string>{47,188}</string>
      </dict>
      <key>weapon_10018_0_5_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{413,332},{65,143}}</string>
        <key>offset</key>
        <string>{-8,154}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,143}}</string>
        <key>sourceSize</key>
        <string>{65,143}</string>
      </dict>
      <key>weapon_10018_0_5_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{46,0},{38,189}}</string>
        <key>offset</key>
        <string>{34,180}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{38,189}}</string>
        <key>sourceSize</key>
        <string>{38,189}</string>
      </dict>
      <key>weapon_10018_0_5_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{580,141},{129,118}}</string>
        <key>offset</key>
        <string>{14,109}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,118}}</string>
        <key>sourceSize</key>
        <string>{129,118}</string>
      </dict>
      <key>weapon_10018_0_5_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{145,189},{185,60}}</string>
        <key>offset</key>
        <string>{-13,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{185,60}}</string>
        <key>sourceSize</key>
        <string>{185,60}</string>
      </dict>
      <key>weapon_10018_0_5_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{193,44}}</string>
        <key>offset</key>
        <string>{-5,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{193,44}}</string>
        <key>sourceSize</key>
        <string>{193,44}</string>
      </dict>
      <key>weapon_10018_0_5_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{323,0},{104,151}}</string>
        <key>offset</key>
        <string>{23,142}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,151}}</string>
        <key>sourceSize</key>
        <string>{104,151}</string>
      </dict>
      <key>weapon_10018_0_5_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{179,0},{53,171}}</string>
        <key>offset</key>
        <string>{6,168}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,171}}</string>
        <key>sourceSize</key>
        <string>{53,171}</string>
      </dict>
      <key>weapon_10018_0_5_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{207,335},{88,159}}</string>
        <key>offset</key>
        <string>{22,147}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,159}}</string>
        <key>sourceSize</key>
        <string>{88,159}</string>
      </dict>
      <key>weapon_10018_0_5_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,390},{190,43}}</string>
        <key>offset</key>
        <string>{-7,38}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{190,43}}</string>
        <key>sourceSize</key>
        <string>{190,43}</string>
      </dict>
      <key>weapon_10018_0_5_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{480,292},{104,131}}</string>
        <key>offset</key>
        <string>{-9,36}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,131}}</string>
        <key>sourceSize</key>
        <string>{104,131}</string>
      </dict>
      <key>weapon_10018_0_5_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{429,0},{145,55}}</string>
        <key>offset</key>
        <string>{-9,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,55}}</string>
        <key>sourceSize</key>
        <string>{145,55}</string>
      </dict>
      <key>weapon_10018_0_5_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{714,375},{101,103}}</string>
        <key>offset</key>
        <string>{11,95}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,103}}</string>
        <key>sourceSize</key>
        <string>{101,103}</string>
      </dict>
      <key>weapon_10018_0_5_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{149,0},{28,181}}</string>
        <key>offset</key>
        <string>{20,168}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{28,181}}</string>
        <key>sourceSize</key>
        <string>{28,181}</string>
      </dict>
      <key>weapon_10018_0_5_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{597,402},{86,115}}</string>
        <key>offset</key>
        <string>{11,105}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,115}}</string>
        <key>sourceSize</key>
        <string>{86,115}</string>
      </dict>
      <key>weapon_10018_0_5_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{486,0},{140,55}}</string>
        <key>offset</key>
        <string>{-9,25}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,55}}</string>
        <key>sourceSize</key>
        <string>{140,55}</string>
      </dict>
      <key>weapon_10018_0_5_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{368,332},{43,145}}</string>
        <key>offset</key>
        <string>{-24,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{43,145}}</string>
        <key>sourceSize</key>
        <string>{43,145}</string>
      </dict>
      <key>weapon_10018_0_5_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{252,490},{17,91}}</string>
        <key>offset</key>
        <string>{3,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{17,91}}</string>
        <key>sourceSize</key>
        <string>{17,91}</string>
      </dict>
      <key>weapon_10018_0_5_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{887,40},{40,66}}</string>
        <key>offset</key>
        <string>{4,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{40,66}}</string>
        <key>sourceSize</key>
        <string>{40,66}</string>
      </dict>
      <key>weapon_10018_0_5_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,435},{44,171}}</string>
        <key>offset</key>
        <string>{9,159}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{44,171}}</string>
        <key>sourceSize</key>
        <string>{44,171}</string>
      </dict>
      <key>weapon_10018_0_5_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{480,471},{38,84}}</string>
        <key>offset</key>
        <string>{5,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{38,84}}</string>
        <key>sourceSize</key>
        <string>{38,84}</string>
      </dict>
      <key>weapon_10018_0_5_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{345,490},{16,90}}</string>
        <key>offset</key>
        <string>{3,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{16,90}}</string>
        <key>sourceSize</key>
        <string>{16,90}</string>
      </dict>
      <key>weapon_10018_0_5_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{207,173},{160,95}}</string>
        <key>offset</key>
        <string>{-114,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,95}}</string>
        <key>sourceSize</key>
        <string>{160,95}</string>
      </dict>
      <key>weapon_10018_0_5_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,131},{128,64}}</string>
        <key>offset</key>
        <string>{-94,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,64}}</string>
        <key>sourceSize</key>
        <string>{128,64}</string>
      </dict>
      <key>weapon_10018_0_5_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{973,0},{47,68}}</string>
        <key>offset</key>
        <string>{-33,77}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{47,68}}</string>
        <key>sourceSize</key>
        <string>{47,68}</string>
      </dict>
      <key>weapon_10018_0_5_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{406,153},{65,146}}</string>
        <key>offset</key>
        <string>{-7,145}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,146}}</string>
        <key>sourceSize</key>
        <string>{65,146}</string>
      </dict>
      <key>weapon_10018_0_5_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{887,0},{38,84}}</string>
        <key>offset</key>
        <string>{-22,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{38,84}}</string>
        <key>sourceSize</key>
        <string>{38,84}</string>
      </dict>
      <key>weapon_10018_0_5_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{654,0},{129,59}}</string>
        <key>offset</key>
        <string>{-93,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,59}}</string>
        <key>sourceSize</key>
        <string>{129,59}</string>
      </dict>
      <key>weapon_10018_0_5_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{129,0},{187,18}}</string>
        <key>offset</key>
        <string>{-124,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{187,18}}</string>
        <key>sourceSize</key>
        <string>{187,18}</string>
      </dict>
      <key>weapon_10018_0_5_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,195},{193,24}}</string>
        <key>offset</key>
        <string>{-138,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{193,24}}</string>
        <key>sourceSize</key>
        <string>{193,24}</string>
      </dict>
      <key>weapon_10018_0_5_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{766,121},{103,103}}</string>
        <key>offset</key>
        <string>{-76,117}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,103}}</string>
        <key>sourceSize</key>
        <string>{103,103}</string>
      </dict>
      <key>weapon_10018_0_5_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{715,0},{53,119}}</string>
        <key>offset</key>
        <string>{-9,133}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,119}}</string>
        <key>sourceSize</key>
        <string>{53,119}</string>
      </dict>
      <key>weapon_10018_0_5_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{708,261},{87,112}}</string>
        <key>offset</key>
        <string>{-59,123}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,112}}</string>
        <key>sourceSize</key>
        <string>{87,112}</string>
      </dict>
      <key>weapon_10018_0_5_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{67,191},{189,27}}</string>
        <key>offset</key>
        <string>{-132,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{189,27}}</string>
        <key>sourceSize</key>
        <string>{189,27}</string>
      </dict>
      <key>weapon_10018_0_5_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{770,0},{103,70}}</string>
        <key>offset</key>
        <string>{-44,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,70}}</string>
        <key>sourceSize</key>
        <string>{103,70}</string>
      </dict>
      <key>weapon_10018_0_5_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{473,147},{143,105}}</string>
        <key>offset</key>
        <string>{-84,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,105}}</string>
        <key>sourceSize</key>
        <string>{143,105}</string>
      </dict>
      <key>weapon_10018_0_5_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{304,158},{100,154}}</string>
        <key>offset</key>
        <string>{-61,165}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,154}}</string>
        <key>sourceSize</key>
        <string>{100,154}</string>
      </dict>
      <key>weapon_10018_0_5_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{145,481},{27,105}}</string>
        <key>offset</key>
        <string>{3,128}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{27,105}}</string>
        <key>sourceSize</key>
        <string>{27,105}</string>
      </dict>
      <key>weapon_10018_0_5_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{234,0},{87,156}}</string>
        <key>offset</key>
        <string>{-48,164}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,156}}</string>
        <key>sourceSize</key>
        <string>{87,156}</string>
      </dict>
      <key>weapon_10018_0_5_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{543,0},{139,109}}</string>
        <key>offset</key>
        <string>{-80,115}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,109}}</string>
        <key>sourceSize</key>
        <string>{139,109}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_10018_0_5.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>weapon_10018_0_5.png</string>
    </dict>
  </dict>
</plist>