<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_10016_1_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,370},{170,79}}</string>
        <key>offset</key>
        <string>{23,67}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,79}}</string>
        <key>sourceSize</key>
        <string>{170,79}</string>
      </dict>
      <key>weapon_10016_1_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{137,150},{145,106}}</string>
        <key>offset</key>
        <string>{25,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,106}}</string>
        <key>sourceSize</key>
        <string>{145,106}</string>
      </dict>
      <key>weapon_10016_1_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{389,144},{120,115}}</string>
        <key>offset</key>
        <string>{28,114}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,115}}</string>
        <key>sourceSize</key>
        <string>{120,115}</string>
      </dict>
      <key>weapon_10016_1_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{245,147},{142,19}}</string>
        <key>offset</key>
        <string>{6,4}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,19}}</string>
        <key>sourceSize</key>
        <string>{142,19}</string>
      </dict>
      <key>weapon_10016_1_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,326},{116,42}}</string>
        <key>offset</key>
        <string>{17,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,42}}</string>
        <key>sourceSize</key>
        <string>{116,42}</string>
      </dict>
      <key>weapon_10016_1_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,186},{182,42}}</string>
        <key>offset</key>
        <string>{13,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{182,42}}</string>
        <key>sourceSize</key>
        <string>{182,42}</string>
      </dict>
      <key>weapon_10016_1_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{314,444},{34,50}}</string>
        <key>offset</key>
        <string>{-1,9}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{34,50}}</string>
        <key>sourceSize</key>
        <string>{34,50}</string>
      </dict>
      <key>weapon_10016_1_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{89,150},{25,25}}</string>
        <key>offset</key>
        <string>{10,14}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{25,25}}</string>
        <key>sourceSize</key>
        <string>{25,25}</string>
      </dict>
      <key>weapon_10016_1_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{171,451},{141,49}}</string>
        <key>offset</key>
        <string>{3,13}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,49}}</string>
        <key>sourceSize</key>
        <string>{141,49}</string>
      </dict>
      <key>weapon_10016_1_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{344,291},{101,38}}</string>
        <key>offset</key>
        <string>{-89,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,38}}</string>
        <key>sourceSize</key>
        <string>{101,38}</string>
      </dict>
      <key>weapon_10016_1_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{397,0},{91,32}}</string>
        <key>offset</key>
        <string>{-72,28}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,32}}</string>
        <key>sourceSize</key>
        <string>{91,32}</string>
      </dict>
      <key>weapon_10016_1_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{397,34},{22,88}}</string>
        <key>offset</key>
        <string>{4,22}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{22,88}}</string>
        <key>sourceSize</key>
        <string>{22,88}</string>
      </dict>
      <key>weapon_10016_1_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,451},{169,45}}</string>
        <key>offset</key>
        <string>{-142,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{169,45}}</string>
        <key>sourceSize</key>
        <string>{169,45}</string>
      </dict>
      <key>weapon_10016_1_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,0},{145,84}}</string>
        <key>offset</key>
        <string>{-120,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,84}}</string>
        <key>sourceSize</key>
        <string>{145,84}</string>
      </dict>
      <key>weapon_10016_1_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{389,261},{120,63}}</string>
        <key>offset</key>
        <string>{-98,28}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,63}}</string>
        <key>sourceSize</key>
        <string>{120,63}</string>
      </dict>
      <key>weapon_10016_1_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{266,147},{142,121}}</string>
        <key>offset</key>
        <string>{-98,134}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,121}}</string>
        <key>sourceSize</key>
        <string>{142,121}</string>
      </dict>
      <key>weapon_10016_1_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{89,0},{117,148}}</string>
        <key>offset</key>
        <string>{-83,153}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,148}}</string>
        <key>sourceSize</key>
        <string>{117,148}</string>
      </dict>
      <key>weapon_10016_1_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{184,24}}</string>
        <key>offset</key>
        <string>{-147,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{184,24}}</string>
        <key>sourceSize</key>
        <string>{184,24}</string>
      </dict>
      <key>weapon_10016_1_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{53,0},{34,163}}</string>
        <key>offset</key>
        <string>{17,166}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{34,163}}</string>
        <key>sourceSize</key>
        <string>{34,163}</string>
      </dict>
      <key>weapon_10016_1_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{26,0},{25,182}}</string>
        <key>offset</key>
        <string>{15,183}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{25,182}}</string>
        <key>sourceSize</key>
        <string>{25,182}</string>
      </dict>
      <key>weapon_10016_1_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{294,0},{142,101}}</string>
        <key>offset</key>
        <string>{-95,115}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,101}}</string>
        <key>sourceSize</key>
        <string>{142,101}</string>
      </dict>
      <key>weapon_10016_1_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,297},{101,145}}</string>
        <key>offset</key>
        <string>{38,138}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,145}}</string>
        <key>sourceSize</key>
        <string>{101,145}</string>
      </dict>
      <key>weapon_10016_1_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{44,184},{91,164}}</string>
        <key>offset</key>
        <string>{31,160}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,164}}</string>
        <key>sourceSize</key>
        <string>{91,164}</string>
      </dict>
      <key>weapon_10016_1_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{275,291},{23,140}}</string>
        <key>offset</key>
        <string>{24,145}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{23,140}}</string>
        <key>sourceSize</key>
        <string>{23,140}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_10016_1_7.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>weapon_10016_1_7.png</string>
    </dict>
  </dict>
</plist>