<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_82502_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1142,761},{60,104}}</string>
        <key>offset</key>
        <string>{13,72}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,104}}</string>
        <key>sourceSize</key>
        <string>{60,104}</string>
      </dict>
      <key>weapon_82502_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1115,943},{61,135}}</string>
        <key>offset</key>
        <string>{13,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,135}}</string>
        <key>sourceSize</key>
        <string>{61,135}</string>
      </dict>
      <key>weapon_82502_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{997,771},{59,175}}</string>
        <key>offset</key>
        <string>{14,123}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,175}}</string>
        <key>sourceSize</key>
        <string>{59,175}</string>
      </dict>
      <key>weapon_82502_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{936,781},{59,179}}</string>
        <key>offset</key>
        <string>{13,128}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,179}}</string>
        <key>sourceSize</key>
        <string>{59,179}</string>
      </dict>
      <key>weapon_82502_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{771,614},{64,125}}</string>
        <key>offset</key>
        <string>{10,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,125}}</string>
        <key>sourceSize</key>
        <string>{64,125}</string>
      </dict>
      <key>weapon_82502_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{751,680},{62,111}}</string>
        <key>offset</key>
        <string>{11,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,111}}</string>
        <key>sourceSize</key>
        <string>{62,111}</string>
      </dict>
      <key>weapon_82502_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{669,0},{206,77}}</string>
        <key>offset</key>
        <string>{-59,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{206,77}}</string>
        <key>sourceSize</key>
        <string>{206,77}</string>
      </dict>
      <key>weapon_82502_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{424,0},{225,96}}</string>
        <key>offset</key>
        <string>{-56,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{225,96}}</string>
        <key>sourceSize</key>
        <string>{225,96}</string>
      </dict>
      <key>weapon_82502_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{449,468},{222,132}}</string>
        <key>offset</key>
        <string>{-51,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{222,132}}</string>
        <key>sourceSize</key>
        <string>{222,132}</string>
      </dict>
      <key>weapon_82502_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{385,236},{230,136}}</string>
        <key>offset</key>
        <string>{-51,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{230,136}}</string>
        <key>sourceSize</key>
        <string>{230,136}</string>
      </dict>
      <key>weapon_82502_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{532,692},{217,87}}</string>
        <key>offset</key>
        <string>{-57,66}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{217,87}}</string>
        <key>sourceSize</key>
        <string>{217,87}</string>
      </dict>
      <key>weapon_82502_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{591,226},{208,80}}</string>
        <key>offset</key>
        <string>{-57,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{208,80}}</string>
        <key>sourceSize</key>
        <string>{208,80}</string>
      </dict>
      <key>weapon_82502_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{259,267},{254,124}}</string>
        <key>offset</key>
        <string>{-87,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{254,124}}</string>
        <key>sourceSize</key>
        <string>{254,124}</string>
      </dict>
      <key>weapon_82502_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,579},{286,99}}</string>
        <key>offset</key>
        <string>{-89,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{286,99}}</string>
        <key>sourceSize</key>
        <string>{286,99}</string>
      </dict>
      <key>weapon_82502_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{79,289},{286,76}}</string>
        <key>offset</key>
        <string>{-84,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{286,76}}</string>
        <key>sourceSize</key>
        <string>{286,76}</string>
      </dict>
      <key>weapon_82502_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,290},{287,77}}</string>
        <key>offset</key>
        <string>{-78,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{287,77}}</string>
        <key>sourceSize</key>
        <string>{287,77}</string>
      </dict>
      <key>weapon_82502_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{157,289},{279,100}}</string>
        <key>offset</key>
        <string>{-82,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{279,100}}</string>
        <key>sourceSize</key>
        <string>{279,100}</string>
      </dict>
      <key>weapon_82502_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{188,570},{257,121}}</string>
        <key>offset</key>
        <string>{-86,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{257,121}}</string>
        <key>sourceSize</key>
        <string>{257,121}</string>
      </dict>
      <key>weapon_82502_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{673,208},{171,206}}</string>
        <key>offset</key>
        <string>{-56,97}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{171,206}}</string>
        <key>sourceSize</key>
        <string>{171,206}</string>
      </dict>
      <key>weapon_82502_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{925,0},{186,190}}</string>
        <key>offset</key>
        <string>{-58,86}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{186,190}}</string>
        <key>sourceSize</key>
        <string>{186,190}</string>
      </dict>
      <key>weapon_82502_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{771,416},{196,156}}</string>
        <key>offset</key>
        <string>{-57,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,156}}</string>
        <key>sourceSize</key>
        <string>{196,156}</string>
      </dict>
      <key>weapon_82502_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1113,0},{181,153}}</string>
        <key>offset</key>
        <string>{-50,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{181,153}}</string>
        <key>sourceSize</key>
        <string>{181,153}</string>
      </dict>
      <key>weapon_82502_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{929,403},{176,187}}</string>
        <key>offset</key>
        <string>{-50,89}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,187}}</string>
        <key>sourceSize</key>
        <string>{176,187}</string>
      </dict>
      <key>weapon_82502_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{748,0},{175,204}}</string>
        <key>offset</key>
        <string>{-54,96}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{175,204}}</string>
        <key>sourceSize</key>
        <string>{175,204}</string>
      </dict>
      <key>weapon_82502_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,945},{64,235}}</string>
        <key>offset</key>
        <string>{-27,115}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,235}}</string>
        <key>sourceSize</key>
        <string>{64,235}</string>
      </dict>
      <key>weapon_82502_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{311,756},{62,219}}</string>
        <key>offset</key>
        <string>{-28,105}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,219}}</string>
        <key>sourceSize</key>
        <string>{62,219}</string>
      </dict>
      <key>weapon_82502_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{929,592},{58,187}}</string>
        <key>offset</key>
        <string>{-25,90}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,187}}</string>
        <key>sourceSize</key>
        <string>{58,187}</string>
      </dict>
      <key>weapon_82502_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{936,962},{60,177}}</string>
        <key>offset</key>
        <string>{-25,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,177}}</string>
        <key>sourceSize</key>
        <string>{60,177}</string>
      </dict>
      <key>weapon_82502_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{523,226},{66,218}}</string>
        <key>offset</key>
        <string>{-27,106}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,218}}</string>
        <key>sourceSize</key>
        <string>{66,218}</string>
      </dict>
      <key>weapon_82502_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{357,0},{65,234}}</string>
        <key>offset</key>
        <string>{-28,114}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,234}}</string>
        <key>sourceSize</key>
        <string>{65,234}</string>
      </dict>
      <key>weapon_82502_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{583,446},{209,186}}</string>
        <key>offset</key>
        <string>{-101,97}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{209,186}}</string>
        <key>sourceSize</key>
        <string>{209,186}</string>
      </dict>
      <key>weapon_82502_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{526,820},{218,170}}</string>
        <key>offset</key>
        <string>{-109,88}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{218,170}}</string>
        <key>sourceSize</key>
        <string>{218,170}</string>
      </dict>
      <key>weapon_82502_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{522,0},{224,145}}</string>
        <key>offset</key>
        <string>{-123,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{224,145}}</string>
        <key>sourceSize</key>
        <string>{224,145}</string>
      </dict>
      <key>weapon_82502_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{311,523},{231,136}}</string>
        <key>offset</key>
        <string>{-132,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{231,136}}</string>
        <key>sourceSize</key>
        <string>{231,136}</string>
      </dict>
      <key>weapon_82502_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{287,829},{237,173}}</string>
        <key>offset</key>
        <string>{-135,84}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{237,173}}</string>
        <key>sourceSize</key>
        <string>{237,173}</string>
      </dict>
      <key>weapon_82502_0_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{746,781},{211,188}}</string>
        <key>offset</key>
        <string>{-102,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{211,188}}</string>
        <key>sourceSize</key>
        <string>{211,188}</string>
      </dict>
      <key>weapon_82502_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{260,0},{254,95}}</string>
        <key>offset</key>
        <string>{-119,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{254,95}}</string>
        <key>sourceSize</key>
        <string>{254,95}</string>
      </dict>
      <key>weapon_82502_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{78,0},{287,85}}</string>
        <key>offset</key>
        <string>{-150,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{287,85}}</string>
        <key>sourceSize</key>
        <string>{287,85}</string>
      </dict>
      <key>weapon_82502_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,867},{285,76}}</string>
        <key>offset</key>
        <string>{-147,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{285,76}}</string>
        <key>sourceSize</key>
        <string>{285,76}</string>
      </dict>
      <key>weapon_82502_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{288,76}}</string>
        <key>offset</key>
        <string>{-155,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{288,76}}</string>
        <key>sourceSize</key>
        <string>{288,76}</string>
      </dict>
      <key>weapon_82502_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{101,577},{284,85}}</string>
        <key>offset</key>
        <string>{-146,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{284,85}}</string>
        <key>sourceSize</key>
        <string>{284,85}</string>
      </dict>
      <key>weapon_82502_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{165,0},{265,93}}</string>
        <key>offset</key>
        <string>{-131,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{265,93}}</string>
        <key>sourceSize</key>
        <string>{265,93}</string>
      </dict>
      <key>weapon_82502_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1058,771},{170,82}}</string>
        <key>offset</key>
        <string>{-66,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,82}}</string>
        <key>sourceSize</key>
        <string>{170,82}</string>
      </dict>
      <key>weapon_82502_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{992,192},{184,109}}</string>
        <key>offset</key>
        <string>{-80,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{184,109}}</string>
        <key>sourceSize</key>
        <string>{184,109}</string>
      </dict>
      <key>weapon_82502_0_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{846,206},{195,144}}</string>
        <key>offset</key>
        <string>{-91,106}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{195,144}}</string>
        <key>sourceSize</key>
        <string>{195,144}</string>
      </dict>
      <key>weapon_82502_0_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1103,192},{183,155}}</string>
        <key>offset</key>
        <string>{-84,117}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{183,155}}</string>
        <key>sourceSize</key>
        <string>{183,155}</string>
      </dict>
      <key>weapon_82502_0_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1077,592},{167,103}}</string>
        <key>offset</key>
        <string>{-68,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,103}}</string>
        <key>sourceSize</key>
        <string>{167,103}</string>
      </dict>
      <key>weapon_82502_0_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{989,592},{177,86}}</string>
        <key>offset</key>
        <string>{-76,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{177,86}}</string>
        <key>sourceSize</key>
        <string>{177,86}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_82502_0_1.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>weapon_82502_0_1.png</string>
    </dict>
  </dict>
</plist>