<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_10206_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{477,288},{106,131}}</string>
        <key>offset</key>
        <string>{35,136}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,131}}</string>
        <key>sourceSize</key>
        <string>{106,131}</string>
      </dict>
      <key>weapon_10206_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{653,268},{108,107}}</string>
        <key>offset</key>
        <string>{-72,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,107}}</string>
        <key>sourceSize</key>
        <string>{108,107}</string>
      </dict>
      <key>weapon_10206_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{602,382},{55,111}}</string>
        <key>offset</key>
        <string>{22,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,111}}</string>
        <key>sourceSize</key>
        <string>{55,111}</string>
      </dict>
      <key>weapon_10206_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{575,142},{124,99}}</string>
        <key>offset</key>
        <string>{31,149}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,99}}</string>
        <key>sourceSize</key>
        <string>{124,99}</string>
      </dict>
      <key>weapon_10206_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{483,832},{90,100}}</string>
        <key>offset</key>
        <string>{-55,96}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,100}}</string>
        <key>sourceSize</key>
        <string>{90,100}</string>
      </dict>
      <key>weapon_10206_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{445,0},{74,142}}</string>
        <key>offset</key>
        <string>{5,143}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,142}}</string>
        <key>sourceSize</key>
        <string>{74,142}</string>
      </dict>
      <key>weapon_10206_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{705,0},{73,103}}</string>
        <key>offset</key>
        <string>{19,97}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,103}}</string>
        <key>sourceSize</key>
        <string>{73,103}</string>
      </dict>
      <key>weapon_10206_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,791},{189,77}}</string>
        <key>offset</key>
        <string>{-167,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{189,77}}</string>
        <key>sourceSize</key>
        <string>{189,77}</string>
      </dict>
      <key>weapon_10206_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{420,634},{133,82}}</string>
        <key>offset</key>
        <string>{-69,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,82}}</string>
        <key>sourceSize</key>
        <string>{133,82}</string>
      </dict>
      <key>weapon_10206_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{315,838},{67,64}}</string>
        <key>offset</key>
        <string>{51,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,64}}</string>
        <key>sourceSize</key>
        <string>{67,64}</string>
      </dict>
      <key>weapon_10206_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{483,934},{84,86}}</string>
        <key>offset</key>
        <string>{29,84}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,86}}</string>
        <key>sourceSize</key>
        <string>{84,86}</string>
      </dict>
      <key>weapon_10206_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{238,909},{151,104}}</string>
        <key>offset</key>
        <string>{34,101}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,104}}</string>
        <key>sourceSize</key>
        <string>{151,104}</string>
      </dict>
      <key>weapon_10206_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{676,122},{87,108}}</string>
        <key>offset</key>
        <string>{-40,94}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,108}}</string>
        <key>sourceSize</key>
        <string>{87,108}</string>
      </dict>
      <key>weapon_10206_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{239,375},{167,86}}</string>
        <key>offset</key>
        <string>{-156,122}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,86}}</string>
        <key>sourceSize</key>
        <string>{167,86}</string>
      </dict>
      <key>weapon_10206_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,398},{195,55}}</string>
        <key>offset</key>
        <string>{-140,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{195,55}}</string>
        <key>sourceSize</key>
        <string>{195,55}</string>
      </dict>
      <key>weapon_10206_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{585,268},{112,66}}</string>
        <key>offset</key>
        <string>{-19,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,66}}</string>
        <key>sourceSize</key>
        <string>{112,66}</string>
      </dict>
      <key>weapon_10206_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{79,781},{178,55}}</string>
        <key>offset</key>
        <string>{31,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{178,55}}</string>
        <key>sourceSize</key>
        <string>{178,55}</string>
      </dict>
      <key>weapon_10206_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{87,0},{190,54}}</string>
        <key>offset</key>
        <string>{29,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{190,54}}</string>
        <key>sourceSize</key>
        <string>{190,54}</string>
      </dict>
      <key>weapon_10206_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{315,697},{103,139}}</string>
        <key>offset</key>
        <string>{-85,125}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,139}}</string>
        <key>sourceSize</key>
        <string>{103,139}</string>
      </dict>
      <key>weapon_10206_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{642,0},{61,120}}</string>
        <key>offset</key>
        <string>{-44,172}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,120}}</string>
        <key>sourceSize</key>
        <string>{61,120}</string>
      </dict>
      <key>weapon_10206_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{367,161},{144,100}}</string>
        <key>offset</key>
        <string>{-117,133}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,100}}</string>
        <key>sourceSize</key>
        <string>{144,100}</string>
      </dict>
      <key>weapon_10206_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{469,144},{142,104}}</string>
        <key>offset</key>
        <string>{-80,101}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,104}}</string>
        <key>sourceSize</key>
        <string>{142,104}</string>
      </dict>
      <key>weapon_10206_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{176,192},{181,85}}</string>
        <key>offset</key>
        <string>{23,8}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{181,85}}</string>
        <key>sourceSize</key>
        <string>{181,85}</string>
      </dict>
      <key>weapon_10206_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{420,769},{124,61}}</string>
        <key>offset</key>
        <string>{19,5}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,61}}</string>
        <key>sourceSize</key>
        <string>{124,61}</string>
      </dict>
      <key>weapon_10206_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{136,781},{100,172}}</string>
        <key>offset</key>
        <string>{-96,166}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,172}}</string>
        <key>sourceSize</key>
        <string>{100,172}</string>
      </dict>
      <key>weapon_10206_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{531,489},{112,117}}</string>
        <key>offset</key>
        <string>{9,170}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,117}}</string>
        <key>sourceSize</key>
        <string>{112,117}</string>
      </dict>
      <key>weapon_10206_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{79,961},{59,135}}</string>
        <key>offset</key>
        <string>{-35,172}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,135}}</string>
        <key>sourceSize</key>
        <string>{59,135}</string>
      </dict>
      <key>weapon_10206_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{317,0},{126,159}}</string>
        <key>offset</key>
        <string>{-110,153}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,159}}</string>
        <key>sourceSize</key>
        <string>{126,159}</string>
      </dict>
      <key>weapon_10206_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{504,634},{86,124}}</string>
        <key>offset</key>
        <string>{12,2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,124}}</string>
        <key>sourceSize</key>
        <string>{86,124}</string>
      </dict>
      <key>weapon_10206_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{569,934},{71,81}}</string>
        <key>offset</key>
        <string>{-32,7}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,81}}</string>
        <key>sourceSize</key>
        <string>{71,81}</string>
      </dict>
      <key>weapon_10206_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,595},{75,194}}</string>
        <key>offset</key>
        <string>{-46,201}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,194}}</string>
        <key>sourceSize</key>
        <string>{75,194}</string>
      </dict>
      <key>weapon_10206_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,200},{196,80}}</string>
        <key>offset</key>
        <string>{19,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,80}}</string>
        <key>sourceSize</key>
        <string>{196,80}</string>
      </dict>
      <key>weapon_10206_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{521,0},{140,119}}</string>
        <key>offset</key>
        <string>{-20,165}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,119}}</string>
        <key>sourceSize</key>
        <string>{140,119}</string>
      </dict>
      <key>weapon_10206_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{143,0},{71,190}}</string>
        <key>offset</key>
        <string>{-73,197}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,190}}</string>
        <key>sourceSize</key>
        <string>{71,190}</string>
      </dict>
      <key>weapon_10206_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{391,838},{90,135}}</string>
        <key>offset</key>
        <string>{-70,8}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,135}}</string>
        <key>sourceSize</key>
        <string>{90,135}</string>
      </dict>
      <key>weapon_10206_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{238,752},{155,75}}</string>
        <key>offset</key>
        <string>{-140,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,75}}</string>
        <key>sourceSize</key>
        <string>{155,75}</string>
      </dict>
      <key>weapon_10206_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{82,200},{92,191}}</string>
        <key>offset</key>
        <string>{-2,207}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,191}}</string>
        <key>sourceSize</key>
        <string>{92,191}</string>
      </dict>
      <key>weapon_10206_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{193,579},{171,102}}</string>
        <key>offset</key>
        <string>{33,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{171,102}}</string>
        <key>sourceSize</key>
        <string>{171,102}</string>
      </dict>
      <key>weapon_10206_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{198,85}}</string>
        <key>offset</key>
        <string>{-9,120}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{198,85}}</string>
        <key>sourceSize</key>
        <string>{198,85}</string>
      </dict>
      <key>weapon_10206_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{77,592},{114,187}}</string>
        <key>offset</key>
        <string>{-48,216}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,187}}</string>
        <key>sourceSize</key>
        <string>{114,187}</string>
      </dict>
      <key>weapon_10206_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{216,0},{180,99}}</string>
        <key>offset</key>
        <string>{-163,19}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,99}}</string>
        <key>sourceSize</key>
        <string>{180,99}</string>
      </dict>
      <key>weapon_10206_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{57,398},{192,96}}</string>
        <key>offset</key>
        <string>{-173,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{192,96}}</string>
        <key>sourceSize</key>
        <string>{192,96}</string>
      </dict>
      <key>weapon_10206_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{263,182},{102,162}}</string>
        <key>offset</key>
        <string>{29,181}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,162}}</string>
        <key>sourceSize</key>
        <string>{102,162}</string>
      </dict>
      <key>weapon_10206_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{477,421},{66,123}}</string>
        <key>offset</key>
        <string>{28,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,123}}</string>
        <key>sourceSize</key>
        <string>{66,123}</string>
      </dict>
      <key>weapon_10206_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{297,544},{151,100}}</string>
        <key>offset</key>
        <string>{16,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,100}}</string>
        <key>sourceSize</key>
        <string>{151,100}</string>
      </dict>
      <key>weapon_10206_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{327,346},{150,148}}</string>
        <key>offset</key>
        <string>{-17,196}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,148}}</string>
        <key>sourceSize</key>
        <string>{150,148}</string>
      </dict>
      <key>weapon_10206_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{155,393},{184,82}}</string>
        <key>offset</key>
        <string>{-159,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{184,82}}</string>
        <key>sourceSize</key>
        <string>{184,82}</string>
      </dict>
      <key>weapon_10206_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{399,498},{130,134}}</string>
        <key>offset</key>
        <string>{-99,134}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,134}}</string>
        <key>sourceSize</key>
        <string>{130,134}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_10206_0_2.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>weapon_10206_0_2.png</string>
    </dict>
  </dict>
</plist>