<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_10006_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,100},{96,18}}</string>
        <key>offset</key>
        <string>{31,14}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,18}}</string>
        <key>sourceSize</key>
        <string>{96,18}</string>
      </dict>
      <key>weapon_10006_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{53,97},{93,34}}</string>
        <key>offset</key>
        <string>{31,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,34}}</string>
        <key>sourceSize</key>
        <string>{93,34}</string>
      </dict>
      <key>weapon_10006_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{89,90},{86,48}}</string>
        <key>offset</key>
        <string>{31,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,48}}</string>
        <key>sourceSize</key>
        <string>{86,48}</string>
      </dict>
      <key>weapon_10006_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,74},{69,34}}</string>
        <key>offset</key>
        <string>{15,3}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,34}}</string>
        <key>sourceSize</key>
        <string>{69,34}</string>
      </dict>
      <key>weapon_10006_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,214},{87,22}}</string>
        <key>offset</key>
        <string>{20,8}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,22}}</string>
        <key>sourceSize</key>
        <string>{87,22}</string>
      </dict>
      <key>weapon_10006_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,198},{95,14}}</string>
        <key>offset</key>
        <string>{24,13}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,14}}</string>
        <key>sourceSize</key>
        <string>{95,14}</string>
      </dict>
      <key>weapon_10006_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{260,74},{17,52}}</string>
        <key>offset</key>
        <string>{0,9}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{17,52}}</string>
        <key>sourceSize</key>
        <string>{17,52}</string>
      </dict>
      <key>weapon_10006_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{209,200},{32,51}}</string>
        <key>offset</key>
        <string>{10,10}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{32,51}}</string>
        <key>sourceSize</key>
        <string>{32,51}</string>
      </dict>
      <key>weapon_10006_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{274,0},{51,45}}</string>
        <key>offset</key>
        <string>{15,11}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{51,45}}</string>
        <key>sourceSize</key>
        <string>{51,45}</string>
      </dict>
      <key>weapon_10006_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{167,0},{73,41}}</string>
        <key>offset</key>
        <string>{-62,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,41}}</string>
        <key>sourceSize</key>
        <string>{73,41}</string>
      </dict>
      <key>weapon_10006_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{279,53},{49,50}}</string>
        <key>offset</key>
        <string>{-34,19}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{49,50}}</string>
        <key>sourceSize</key>
        <string>{49,50}</string>
      </dict>
      <key>weapon_10006_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{178,200},{29,54}}</string>
        <key>offset</key>
        <string>{-12,17}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{29,54}}</string>
        <key>sourceSize</key>
        <string>{29,54}</string>
      </dict>
      <key>weapon_10006_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{98,34}}</string>
        <key>offset</key>
        <string>{-79,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,34}}</string>
        <key>sourceSize</key>
        <string>{98,34}</string>
      </dict>
      <key>weapon_10006_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{20,100},{95,31}}</string>
        <key>offset</key>
        <string>{-76,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,31}}</string>
        <key>sourceSize</key>
        <string>{95,31}</string>
      </dict>
      <key>weapon_10006_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{89,214},{87,34}}</string>
        <key>offset</key>
        <string>{-69,30}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,34}}</string>
        <key>sourceSize</key>
        <string>{87,34}</string>
      </dict>
      <key>weapon_10006_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{247,145},{69,66}}</string>
        <key>offset</key>
        <string>{-36,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,66}}</string>
        <key>sourceSize</key>
        <string>{69,66}</string>
      </dict>
      <key>weapon_10006_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{80,0},{88,51}}</string>
        <key>offset</key>
        <string>{-60,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,51}}</string>
        <key>sourceSize</key>
        <string>{88,51}</string>
      </dict>
      <key>weapon_10006_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{36,0},{95,42}}</string>
        <key>offset</key>
        <string>{-71,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,42}}</string>
        <key>sourceSize</key>
        <string>{95,42}</string>
      </dict>
      <key>weapon_10006_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{89,178},{17,82}}</string>
        <key>offset</key>
        <string>{31,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{17,82}}</string>
        <key>sourceSize</key>
        <string>{17,82}</string>
      </dict>
      <key>weapon_10006_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{133,0},{32,78}}</string>
        <key>offset</key>
        <string>{6,92}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{32,78}}</string>
        <key>sourceSize</key>
        <string>{32,78}</string>
      </dict>
      <key>weapon_10006_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{171,75},{51,72}}</string>
        <key>offset</key>
        <string>{-18,89}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{51,72}}</string>
        <key>sourceSize</key>
        <string>{51,72}</string>
      </dict>
      <key>weapon_10006_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{210,0},{72,62}}</string>
        <key>offset</key>
        <string>{37,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,62}}</string>
        <key>sourceSize</key>
        <string>{72,62}</string>
      </dict>
      <key>weapon_10006_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{173,149},{49,72}}</string>
        <key>offset</key>
        <string>{33,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{49,72}}</string>
        <key>sourceSize</key>
        <string>{49,72}</string>
      </dict>
      <key>weapon_10006_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{139,80},{30,77}}</string>
        <key>offset</key>
        <string>{31,90}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{30,77}}</string>
        <key>sourceSize</key>
        <string>{30,77}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_10006_0_7.png</string>
      <key>size</key>
      <string>{512,256}</string>
      <key>textureFileName</key>
      <string>weapon_10006_0_7.png</string>
    </dict>
  </dict>
</plist>