<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_82505_0_10_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{643,665},{159,128}}</string>
        <key>offset</key>
        <string>{16,64}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,128}}</string>
        <key>sourceSize</key>
        <string>{159,128}</string>
      </dict>
      <key>weapon_82505_0_10_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{85,464},{120,224}}</string>
        <key>offset</key>
        <string>{-74,59}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,224}}</string>
        <key>sourceSize</key>
        <string>{120,224}</string>
      </dict>
      <key>weapon_82505_0_10_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{919,932},{117,88}}</string>
        <key>offset</key>
        <string>{12,101}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,88}}</string>
        <key>sourceSize</key>
        <string>{117,88}</string>
      </dict>
      <key>weapon_82505_0_10_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{642,937},{85,130}}</string>
        <key>offset</key>
        <string>{-11,122}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,130}}</string>
        <key>sourceSize</key>
        <string>{85,130}</string>
      </dict>
      <key>weapon_82505_0_10_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{919,797},{88,133}}</string>
        <key>offset</key>
        <string>{-11,129}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,133}}</string>
        <key>sourceSize</key>
        <string>{88,133}</string>
      </dict>
      <key>weapon_82505_0_10_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,692},{225,105}}</string>
        <key>offset</key>
        <string>{-3,113}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{225,105}}</string>
        <key>sourceSize</key>
        <string>{225,105}</string>
      </dict>
      <key>weapon_82505_0_10_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{544,792},{96,144}}</string>
        <key>offset</key>
        <string>{-12,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,144}}</string>
        <key>sourceSize</key>
        <string>{96,144}</string>
      </dict>
      <key>weapon_82505_0_10_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{386,210},{195,171}}</string>
        <key>offset</key>
        <string>{-148,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{195,171}}</string>
        <key>sourceSize</key>
        <string>{195,171}</string>
      </dict>
      <key>weapon_82505_0_10_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{774,937},{100,78}}</string>
        <key>offset</key>
        <string>{-17,83}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,78}}</string>
        <key>sourceSize</key>
        <string>{100,78}</string>
      </dict>
      <key>weapon_82505_0_10_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{292,214},{210,92}}</string>
        <key>offset</key>
        <string>{-2,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{210,92}}</string>
        <key>sourceSize</key>
        <string>{210,92}</string>
      </dict>
      <key>weapon_82505_0_10_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{334,0},{208,91}}</string>
        <key>offset</key>
        <string>{-5,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{208,91}}</string>
        <key>sourceSize</key>
        <string>{208,91}</string>
      </dict>
      <key>weapon_82505_0_10_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{643,582},{166,81}}</string>
        <key>offset</key>
        <string>{14,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{166,81}}</string>
        <key>sourceSize</key>
        <string>{166,81}</string>
      </dict>
      <key>weapon_82505_0_10_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{427,0},{195,95}}</string>
        <key>offset</key>
        <string>{-133,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{195,95}}</string>
        <key>sourceSize</key>
        <string>{195,95}</string>
      </dict>
      <key>weapon_82505_0_10_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{837,181},{175,113}}</string>
        <key>offset</key>
        <string>{-132,70}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{175,113}}</string>
        <key>sourceSize</key>
        <string>{175,113}</string>
      </dict>
      <key>weapon_82505_0_10_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{733,190},{186,78}}</string>
        <key>offset</key>
        <string>{-108,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{186,78}}</string>
        <key>sourceSize</key>
        <string>{186,78}</string>
      </dict>
      <key>weapon_82505_0_10_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{183,229},{212,107}}</string>
        <key>offset</key>
        <string>{12,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{212,107}}</string>
        <key>sourceSize</key>
        <string>{212,107}</string>
      </dict>
      <key>weapon_82505_0_10_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{107,690},{218,100}}</string>
        <key>offset</key>
        <string>{6,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{218,100}}</string>
        <key>sourceSize</key>
        <string>{218,100}</string>
      </dict>
      <key>weapon_82505_0_10_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{986,505},{88,100}}</string>
        <key>offset</key>
        <string>{0,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,100}}</string>
        <key>sourceSize</key>
        <string>{88,100}</string>
      </dict>
      <key>weapon_82505_0_10_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,464},{226,83}}</string>
        <key>offset</key>
        <string>{-176,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{226,83}}</string>
        <key>sourceSize</key>
        <string>{226,83}</string>
      </dict>
      <key>weapon_82505_0_10_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{544,938},{76,90}}</string>
        <key>offset</key>
        <string>{-35,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,90}}</string>
        <key>sourceSize</key>
        <string>{76,90}</string>
      </dict>
      <key>weapon_82505_0_10_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{223,862},{195,157}}</string>
        <key>offset</key>
        <string>{-132,149}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{195,157}}</string>
        <key>sourceSize</key>
        <string>{195,157}</string>
      </dict>
      <key>weapon_82505_0_10_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{813,370},{133,173}}</string>
        <key>offset</key>
        <string>{24,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,173}}</string>
        <key>sourceSize</key>
        <string>{133,173}</string>
      </dict>
      <key>weapon_82505_0_10_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{813,505},{131,171}}</string>
        <key>offset</key>
        <string>{19,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,171}}</string>
        <key>sourceSize</key>
        <string>{131,171}</string>
      </dict>
      <key>weapon_82505_0_10_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{813,296},{175,72}}</string>
        <key>offset</key>
        <string>{-113,40}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{175,72}}</string>
        <key>sourceSize</key>
        <string>{175,72}</string>
      </dict>
      <key>weapon_82505_0_10_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{811,638},{157,160}}</string>
        <key>offset</key>
        <string>{-125,156}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{157,160}}</string>
        <key>sourceSize</key>
        <string>{157,160}</string>
      </dict>
      <key>weapon_82505_0_10_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{973,638},{118,91}}</string>
        <key>offset</key>
        <string>{3,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,91}}</string>
        <key>sourceSize</key>
        <string>{118,91}</string>
      </dict>
      <key>weapon_82505_0_10_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{524,0},{115,195}}</string>
        <key>offset</key>
        <string>{-79,185}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,195}}</string>
        <key>sourceSize</key>
        <string>{115,195}</string>
      </dict>
      <key>weapon_82505_0_10_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{352,630},{90,194}}</string>
        <key>offset</key>
        <string>{-30,29}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,194}}</string>
        <key>sourceSize</key>
        <string>{90,194}</string>
      </dict>
      <key>weapon_82505_0_10_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{641,0},{94,188}}</string>
        <key>offset</key>
        <string>{-33,38}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,188}}</string>
        <key>sourceSize</key>
        <string>{94,188}</string>
      </dict>
      <key>weapon_82505_0_10_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{77,0},{227,110}}</string>
        <key>offset</key>
        <string>{-175,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{227,110}}</string>
        <key>sourceSize</key>
        <string>{227,110}</string>
      </dict>
      <key>weapon_82505_0_10_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{737,0},{98,182}}</string>
        <key>offset</key>
        <string>{-35,185}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,182}}</string>
        <key>sourceSize</key>
        <string>{98,182}</string>
      </dict>
      <key>weapon_82505_0_10_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{420,826},{194,122}}</string>
        <key>offset</key>
        <string>{2,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{194,122}}</string>
        <key>sourceSize</key>
        <string>{194,122}</string>
      </dict>
      <key>weapon_82505_0_10_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{535,602},{106,188}}</string>
        <key>offset</key>
        <string>{-36,185}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,188}}</string>
        <key>sourceSize</key>
        <string>{106,188}</string>
      </dict>
      <key>weapon_82505_0_10_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{189,0},{212,143}}</string>
        <key>offset</key>
        <string>{-161,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{212,143}}</string>
        <key>sourceSize</key>
        <string>{212,143}</string>
      </dict>
      <key>weapon_82505_0_10_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{207,443},{212,139}}</string>
        <key>offset</key>
        <string>{-157,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{212,139}}</string>
        <key>sourceSize</key>
        <string>{212,139}</string>
      </dict>
      <key>weapon_82505_0_10_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{641,392},{170,188}}</string>
        <key>offset</key>
        <string>{-134,174}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,188}}</string>
        <key>sourceSize</key>
        <string>{170,188}</string>
      </dict>
      <key>weapon_82505_0_10_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{209,657},{203,141}}</string>
        <key>offset</key>
        <string>{-17,153}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{203,141}}</string>
        <key>sourceSize</key>
        <string>{203,141}</string>
      </dict>
      <key>weapon_82505_0_10_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{465,407},{174,193}}</string>
        <key>offset</key>
        <string>{5,62}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{174,193}}</string>
        <key>sourceSize</key>
        <string>{174,193}</string>
      </dict>
      <key>weapon_82505_0_10_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{559,197},{193,172}}</string>
        <key>offset</key>
        <string>{-34,185}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{193,172}}</string>
        <key>sourceSize</key>
        <string>{193,172}</string>
      </dict>
      <key>weapon_82505_0_10_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{90,229},{213,91}}</string>
        <key>offset</key>
        <string>{-176,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{213,91}}</string>
        <key>sourceSize</key>
        <string>{213,91}</string>
      </dict>
      <key>weapon_82505_0_10_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,919},{221,92}}</string>
        <key>offset</key>
        <string>{-176,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{221,92}}</string>
        <key>sourceSize</key>
        <string>{221,92}</string>
      </dict>
      <key>weapon_82505_0_10_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{444,630},{89,194}}</string>
        <key>offset</key>
        <string>{-40,185}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,194}}</string>
        <key>sourceSize</key>
        <string>{89,194}</string>
      </dict>
      <key>weapon_82505_0_10_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,234},{228,88}}</string>
        <key>offset</key>
        <string>{-4,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{228,88}}</string>
        <key>sourceSize</key>
        <string>{228,88}</string>
      </dict>
      <key>weapon_82505_0_10_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{75,232}}</string>
        <key>offset</key>
        <string>{9,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,232}}</string>
        <key>sourceSize</key>
        <string>{75,232}</string>
      </dict>
      <key>weapon_82505_0_10_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{348,426},{202,115}}</string>
        <key>offset</key>
        <string>{-17,138}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{202,115}}</string>
        <key>sourceSize</key>
        <string>{202,115}</string>
      </dict>
      <key>weapon_82505_0_10_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{783,797},{138,134}}</string>
        <key>offset</key>
        <string>{-112,109}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,134}}</string>
        <key>sourceSize</key>
        <string>{138,134}</string>
      </dict>
      <key>weapon_82505_0_10_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{642,795},{139,138}}</string>
        <key>offset</key>
        <string>{-106,119}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,138}}</string>
        <key>sourceSize</key>
        <string>{139,138}</string>
      </dict>
      <key>weapon_82505_0_10_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{837,0},{179,182}}</string>
        <key>offset</key>
        <string>{-15,184}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{179,182}}</string>
        <key>sourceSize</key>
        <string>{179,182}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_82505_0_10.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>weapon_82505_0_10.png</string>
    </dict>
  </dict>
</plist>