<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_11023_0_3_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{86,218}}</string>
        <key>offset</key>
        <string>{7,217}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,218}}</string>
        <key>sourceSize</key>
        <string>{86,218}</string>
      </dict>
      <key>weapon_11023_0_3_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{345,198},{92,185}}</string>
        <key>offset</key>
        <string>{-40,204}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,185}}</string>
        <key>sourceSize</key>
        <string>{92,185}</string>
      </dict>
      <key>weapon_11023_0_3_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{886,448},{157,128}}</string>
        <key>offset</key>
        <string>{-107,141}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{157,128}}</string>
        <key>sourceSize</key>
        <string>{157,128}</string>
      </dict>
      <key>weapon_11023_0_3_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{877,607},{145,116}}</string>
        <key>offset</key>
        <string>{-85,106}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,116}}</string>
        <key>sourceSize</key>
        <string>{145,116}</string>
      </dict>
      <key>weapon_11023_0_3_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{566,898},{114,133}}</string>
        <key>offset</key>
        <string>{-51,150}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,133}}</string>
        <key>sourceSize</key>
        <string>{114,133}</string>
      </dict>
      <key>weapon_11023_0_3_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{552,182},{97,176}}</string>
        <key>offset</key>
        <string>{6,188}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,176}}</string>
        <key>sourceSize</key>
        <string>{97,176}</string>
      </dict>
      <key>weapon_11023_0_3_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{283,406},{115,189}}</string>
        <key>offset</key>
        <string>{24,189}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,189}}</string>
        <key>sourceSize</key>
        <string>{115,189}</string>
      </dict>
      <key>weapon_11023_0_3_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{112,653},{65,205}}</string>
        <key>offset</key>
        <string>{-2,214}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,205}}</string>
        <key>sourceSize</key>
        <string>{65,205}</string>
      </dict>
      <key>weapon_11023_0_3_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,385},{180,158}}</string>
        <key>offset</key>
        <string>{-116,179}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,158}}</string>
        <key>sourceSize</key>
        <string>{180,158}</string>
      </dict>
      <key>weapon_11023_0_3_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{152,425},{205,129}}</string>
        <key>offset</key>
        <string>{-144,142}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{205,129}}</string>
        <key>sourceSize</key>
        <string>{205,129}</string>
      </dict>
      <key>weapon_11023_0_3_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{420,567},{166,158}}</string>
        <key>offset</key>
        <string>{-98,177}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{166,158}}</string>
        <key>sourceSize</key>
        <string>{166,158}</string>
      </dict>
      <key>weapon_11023_0_3_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,829},{193,121}}</string>
        <key>offset</key>
        <string>{19,134}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{193,121}}</string>
        <key>sourceSize</key>
        <string>{193,121}</string>
      </dict>
      <key>weapon_11023_0_3_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{726,481},{130,149}}</string>
        <key>offset</key>
        <string>{10,141}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,149}}</string>
        <key>sourceSize</key>
        <string>{130,149}</string>
      </dict>
      <key>weapon_11023_0_3_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{179,632},{79,195}}</string>
        <key>offset</key>
        <string>{13,204}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,195}}</string>
        <key>sourceSize</key>
        <string>{79,195}</string>
      </dict>
      <key>weapon_11023_0_3_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,862},{130,206}}</string>
        <key>offset</key>
        <string>{-56,218}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,206}}</string>
        <key>sourceSize</key>
        <string>{130,206}</string>
      </dict>
      <key>weapon_11023_0_3_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{560,360},{164,165}}</string>
        <key>offset</key>
        <string>{-107,176}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{164,165}}</string>
        <key>sourceSize</key>
        <string>{164,165}</string>
      </dict>
      <key>weapon_11023_0_3_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{407,0},{139,184}}</string>
        <key>offset</key>
        <string>{-79,197}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,184}}</string>
        <key>sourceSize</key>
        <string>{139,184}</string>
      </dict>
      <key>weapon_11023_0_3_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{175,216},{203,99}}</string>
        <key>offset</key>
        <string>{26,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{203,99}}</string>
        <key>sourceSize</key>
        <string>{203,99}</string>
      </dict>
      <key>weapon_11023_0_3_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{715,613},{94,130}}</string>
        <key>offset</key>
        <string>{-3,103}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,130}}</string>
        <key>sourceSize</key>
        <string>{94,130}</string>
      </dict>
      <key>weapon_11023_0_3_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{439,186},{111,180}}</string>
        <key>offset</key>
        <string>{-1,178}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,180}}</string>
        <key>sourceSize</key>
        <string>{111,180}</string>
      </dict>
      <key>weapon_11023_0_3_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{88,0},{91,214}}</string>
        <key>offset</key>
        <string>{5,220}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,214}}</string>
        <key>sourceSize</key>
        <string>{91,214}</string>
      </dict>
      <key>weapon_11023_0_3_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{276,205},{67,199}}</string>
        <key>offset</key>
        <string>{-17,211}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,199}}</string>
        <key>sourceSize</key>
        <string>{67,199}</string>
      </dict>
      <key>weapon_11023_0_3_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{103,216},{70,207}}</string>
        <key>offset</key>
        <string>{-20,220}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,207}}</string>
        <key>sourceSize</key>
        <string>{70,207}</string>
      </dict>
      <key>weapon_11023_0_3_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{715,709},{122,127}}</string>
        <key>offset</key>
        <string>{12,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{122,127}}</string>
        <key>sourceSize</key>
        <string>{122,127}</string>
      </dict>
      <key>weapon_11023_0_3_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{929,286},{92,160}}</string>
        <key>offset</key>
        <string>{-42,115}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,160}}</string>
        <key>sourceSize</key>
        <string>{92,160}</string>
      </dict>
      <key>weapon_11023_0_3_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{469,735},{95,161}}</string>
        <key>offset</key>
        <string>{-3,160}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,161}}</string>
        <key>sourceSize</key>
        <string>{95,161}</string>
      </dict>
      <key>weapon_11023_0_3_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{260,632},{158,191}}</string>
        <key>offset</key>
        <string>{-4,197}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{158,191}}</string>
        <key>sourceSize</key>
        <string>{158,191}</string>
      </dict>
      <key>weapon_11023_0_3_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{648,0},{141,174}}</string>
        <key>offset</key>
        <string>{-7,194}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,174}}</string>
        <key>sourceSize</key>
        <string>{141,174}</string>
      </dict>
      <key>weapon_11023_0_3_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{181,0},{108,203}}</string>
        <key>offset</key>
        <string>{-9,219}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,203}}</string>
        <key>sourceSize</key>
        <string>{108,203}</string>
      </dict>
      <key>weapon_11023_0_3_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{844,725},{97,125}}</string>
        <key>offset</key>
        <string>{-53,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,125}}</string>
        <key>sourceSize</key>
        <string>{97,125}</string>
      </dict>
      <key>weapon_11023_0_3_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{566,735},{127,161}}</string>
        <key>offset</key>
        <string>{-93,148}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,161}}</string>
        <key>sourceSize</key>
        <string>{127,161}</string>
      </dict>
      <key>weapon_11023_0_3_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{580,527},{62,144}}</string>
        <key>offset</key>
        <string>{-11,145}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,144}}</string>
        <key>sourceSize</key>
        <string>{62,144}</string>
      </dict>
      <key>weapon_11023_0_3_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{548,0},{180,98}}</string>
        <key>offset</key>
        <string>{-18,114}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,98}}</string>
        <key>sourceSize</key>
        <string>{180,98}</string>
      </dict>
      <key>weapon_11023_0_3_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,653},{207,110}}</string>
        <key>offset</key>
        <string>{-13,134}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{207,110}}</string>
        <key>sourceSize</key>
        <string>{207,110}</string>
      </dict>
      <key>weapon_11023_0_3_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{791,133},{167,151}}</string>
        <key>offset</key>
        <string>{-19,173}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,151}}</string>
        <key>sourceSize</key>
        <string>{167,151}</string>
      </dict>
      <key>weapon_11023_0_3_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{291,0},{196,114}}</string>
        <key>offset</key>
        <string>{-163,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,114}}</string>
        <key>sourceSize</key>
        <string>{196,114}</string>
      </dict>
      <key>weapon_11023_0_3_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{331,825},{136,190}}</string>
        <key>offset</key>
        <string>{-95,183}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,190}}</string>
        <key>sourceSize</key>
        <string>{136,190}</string>
      </dict>
      <key>weapon_11023_0_3_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{726,398},{81,158}}</string>
        <key>offset</key>
        <string>{-44,163}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,158}}</string>
        <key>sourceSize</key>
        <string>{81,158}</string>
      </dict>
      <key>weapon_11023_0_3_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{469,898},{120,95}}</string>
        <key>offset</key>
        <string>{-20,111}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,95}}</string>
        <key>sourceSize</key>
        <string>{120,95}</string>
      </dict>
      <key>weapon_11023_0_3_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{651,176},{163,112}}</string>
        <key>offset</key>
        <string>{-7,115}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,112}}</string>
        <key>sourceSize</key>
        <string>{163,112}</string>
      </dict>
      <key>weapon_11023_0_3_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{580,591},{141,133}}</string>
        <key>offset</key>
        <string>{-10,159}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,133}}</string>
        <key>sourceSize</key>
        <string>{141,133}</string>
      </dict>
      <key>weapon_11023_0_3_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,438},{213,150}}</string>
        <key>offset</key>
        <string>{-179,146}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{213,150}}</string>
        <key>sourceSize</key>
        <string>{213,150}</string>
      </dict>
      <key>weapon_11023_0_3_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,220},{101,216}}</string>
        <key>offset</key>
        <string>{-45,216}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,216}}</string>
        <key>sourceSize</key>
        <string>{101,216}</string>
      </dict>
      <key>weapon_11023_0_3_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{765,286},{110,162}}</string>
        <key>offset</key>
        <string>{-60,179}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,162}}</string>
        <key>sourceSize</key>
        <string>{110,162}</string>
      </dict>
      <key>weapon_11023_0_3_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{844,824},{77,94}}</string>
        <key>offset</key>
        <string>{-37,109}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,94}}</string>
        <key>sourceSize</key>
        <string>{77,94}</string>
      </dict>
      <key>weapon_11023_0_3_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{966,0},{55,110}}</string>
        <key>offset</key>
        <string>{6,84}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,110}}</string>
        <key>sourceSize</key>
        <string>{55,110}</string>
      </dict>
      <key>weapon_11023_0_3_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{940,824},{67,93}}</string>
        <key>offset</key>
        <string>{1,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,93}}</string>
        <key>sourceSize</key>
        <string>{67,93}</string>
      </dict>
      <key>weapon_11023_0_3_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{791,0},{131,173}}</string>
        <key>offset</key>
        <string>{-89,183}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,173}}</string>
        <key>sourceSize</key>
        <string>{131,173}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_11023_0_3.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>weapon_11023_0_3.png</string>
    </dict>
  </dict>
</plist>