<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_11004_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{707,0},{37,95}}</string>
        <key>offset</key>
        <string>{20,83}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{37,95}}</string>
        <key>sourceSize</key>
        <string>{37,95}</string>
      </dict>
      <key>weapon_11004_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{671,0},{34,99}}</string>
        <key>offset</key>
        <string>{21,90}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{34,99}}</string>
        <key>sourceSize</key>
        <string>{34,99}</string>
      </dict>
      <key>weapon_11004_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{167,0},{34,131}}</string>
        <key>offset</key>
        <string>{18,123}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{34,131}}</string>
        <key>sourceSize</key>
        <string>{34,131}</string>
      </dict>
      <key>weapon_11004_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{138,297},{35,137}}</string>
        <key>offset</key>
        <string>{22,128}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{35,137}}</string>
        <key>sourceSize</key>
        <string>{35,137}</string>
      </dict>
      <key>weapon_11004_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{276,355},{35,112}}</string>
        <key>offset</key>
        <string>{22,103}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{35,112}}</string>
        <key>sourceSize</key>
        <string>{35,112}</string>
      </dict>
      <key>weapon_11004_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{691,295},{34,89}}</string>
        <key>offset</key>
        <string>{22,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{34,89}}</string>
        <key>sourceSize</key>
        <string>{34,89}</string>
      </dict>
      <key>weapon_11004_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{378,392},{111,77}}</string>
        <key>offset</key>
        <string>{4,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,77}}</string>
        <key>sourceSize</key>
        <string>{111,77}</string>
      </dict>
      <key>weapon_11004_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{337,117},{113,81}}</string>
        <key>offset</key>
        <string>{5,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,81}}</string>
        <key>sourceSize</key>
        <string>{113,81}</string>
      </dict>
      <key>weapon_11004_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{234,122},{101,115}}</string>
        <key>offset</key>
        <string>{13,101}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,115}}</string>
        <key>sourceSize</key>
        <string>{101,115}</string>
      </dict>
      <key>weapon_11004_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{203,0},{106,120}}</string>
        <key>offset</key>
        <string>{14,104}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,120}}</string>
        <key>sourceSize</key>
        <string>{106,120}</string>
      </dict>
      <key>weapon_11004_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{276,239},{114,91}}</string>
        <key>offset</key>
        <string>{8,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,91}}</string>
        <key>sourceSize</key>
        <string>{114,91}</string>
      </dict>
      <key>weapon_11004_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{311,0},{115,71}}</string>
        <key>offset</key>
        <string>{4,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,71}}</string>
        <key>sourceSize</key>
        <string>{115,71}</string>
      </dict>
      <key>weapon_11004_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{54,0},{150,54}}</string>
        <key>offset</key>
        <string>{-15,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,54}}</string>
        <key>sourceSize</key>
        <string>{150,54}</string>
      </dict>
      <key>weapon_11004_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{151,52}}</string>
        <key>offset</key>
        <string>{-12,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,52}}</string>
        <key>sourceSize</key>
        <string>{151,52}</string>
      </dict>
      <key>weapon_11004_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,152},{143,66}}</string>
        <key>offset</key>
        <string>{-3,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,66}}</string>
        <key>sourceSize</key>
        <string>{143,66}</string>
      </dict>
      <key>weapon_11004_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,436},{137,70}}</string>
        <key>offset</key>
        <string>{2,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,70}}</string>
        <key>sourceSize</key>
        <string>{137,70}</string>
      </dict>
      <key>weapon_11004_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,153},{151,53}}</string>
        <key>offset</key>
        <string>{-8,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,53}}</string>
        <key>sourceSize</key>
        <string>{151,53}</string>
      </dict>
      <key>weapon_11004_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,306},{150,53}}</string>
        <key>offset</key>
        <string>{-13,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,53}}</string>
        <key>sourceSize</key>
        <string>{150,53}</string>
      </dict>
      <key>weapon_11004_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{384,0},{113,89}}</string>
        <key>offset</key>
        <string>{-16,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,89}}</string>
        <key>sourceSize</key>
        <string>{113,89}</string>
      </dict>
      <key>weapon_11004_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{290,392},{112,86}}</string>
        <key>offset</key>
        <string>{-13,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,86}}</string>
        <key>sourceSize</key>
        <string>{112,86}</string>
      </dict>
      <key>weapon_11004_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{369,232},{111,56}}</string>
        <key>offset</key>
        <string>{-7,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,56}}</string>
        <key>sourceSize</key>
        <string>{111,56}</string>
      </dict>
      <key>weapon_11004_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{669,440},{101,55}}</string>
        <key>offset</key>
        <string>{-4,31}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,55}}</string>
        <key>sourceSize</key>
        <string>{101,55}</string>
      </dict>
      <key>weapon_11004_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{457,341},{110,74}}</string>
        <key>offset</key>
        <string>{-10,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,74}}</string>
        <key>sourceSize</key>
        <string>{110,74}</string>
      </dict>
      <key>weapon_11004_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{420,115},{111,95}}</string>
        <key>offset</key>
        <string>{-15,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,95}}</string>
        <key>sourceSize</key>
        <string>{111,95}</string>
      </dict>
      <key>weapon_11004_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{545,0},{37,109}}</string>
        <key>offset</key>
        <string>{-8,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{37,109}}</string>
        <key>sourceSize</key>
        <string>{37,109}</string>
      </dict>
      <key>weapon_11004_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{457,453},{35,104}}</string>
        <key>offset</key>
        <string>{-6,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{35,104}}</string>
        <key>sourceSize</key>
        <string>{35,104}</string>
      </dict>
      <key>weapon_11004_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{725,97},{35,66}}</string>
        <key>offset</key>
        <string>{-3,34}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{35,66}}</string>
        <key>sourceSize</key>
        <string>{35,66}</string>
      </dict>
      <key>weapon_11004_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{725,165},{35,57}}</string>
        <key>offset</key>
        <string>{-7,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{35,57}}</string>
        <key>sourceSize</key>
        <string>{35,57}</string>
      </dict>
      <key>weapon_11004_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{691,202},{35,91}}</string>
        <key>offset</key>
        <string>{-7,37}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{35,91}}</string>
        <key>sourceSize</key>
        <string>{35,91}</string>
      </dict>
      <key>weapon_11004_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{175,398},{36,113}}</string>
        <key>offset</key>
        <string>{-8,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{36,113}}</string>
        <key>sourceSize</key>
        <string>{36,113}</string>
      </dict>
      <key>weapon_11004_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{584,0},{109,85}}</string>
        <key>offset</key>
        <string>{-65,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,85}}</string>
        <key>sourceSize</key>
        <string>{109,85}</string>
      </dict>
      <key>weapon_11004_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{516,228},{110,80}}</string>
        <key>offset</key>
        <string>{-67,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,80}}</string>
        <key>sourceSize</key>
        <string>{110,80}</string>
      </dict>
      <key>weapon_11004_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{671,101},{99,52}}</string>
        <key>offset</key>
        <string>{-63,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,52}}</string>
        <key>sourceSize</key>
        <string>{99,52}</string>
      </dict>
      <key>weapon_11004_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{563,450},{104,44}}</string>
        <key>offset</key>
        <string>{-69,39}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,44}}</string>
        <key>sourceSize</key>
        <string>{104,44}</string>
      </dict>
      <key>weapon_11004_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{475,0},{111,68}}</string>
        <key>offset</key>
        <string>{-71,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,68}}</string>
        <key>sourceSize</key>
        <string>{111,68}</string>
      </dict>
      <key>weapon_11004_0_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{427,228},{111,87}}</string>
        <key>offset</key>
        <string>{-67,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,87}}</string>
        <key>sourceSize</key>
        <string>{111,87}</string>
      </dict>
      <key>weapon_11004_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{55,301},{146,38}}</string>
        <key>offset</key>
        <string>{-83,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,38}}</string>
        <key>sourceSize</key>
        <string>{146,38}</string>
      </dict>
      <key>weapon_11004_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,458},{148,38}}</string>
        <key>offset</key>
        <string>{-88,43}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,38}}</string>
        <key>sourceSize</key>
        <string>{148,38}</string>
      </dict>
      <key>weapon_11004_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{110,0},{141,55}}</string>
        <key>offset</key>
        <string>{-90,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,55}}</string>
        <key>sourceSize</key>
        <string>{141,55}</string>
      </dict>
      <key>weapon_11004_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,143},{135,68}}</string>
        <key>offset</key>
        <string>{-88,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,68}}</string>
        <key>sourceSize</key>
        <string>{135,68}</string>
      </dict>
      <key>weapon_11004_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{95,301},{146,41}}</string>
        <key>offset</key>
        <string>{-91,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,41}}</string>
        <key>sourceSize</key>
        <string>{146,41}</string>
      </dict>
      <key>weapon_11004_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{55,152},{147,39}}</string>
        <key>offset</key>
        <string>{-86,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,39}}</string>
        <key>sourceSize</key>
        <string>{147,39}</string>
      </dict>
      <key>weapon_11004_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{517,113},{110,72}}</string>
        <key>offset</key>
        <string>{-46,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,72}}</string>
        <key>sourceSize</key>
        <string>{110,72}</string>
      </dict>
      <key>weapon_11004_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{591,111},{109,78}}</string>
        <key>offset</key>
        <string>{-48,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,78}}</string>
        <key>sourceSize</key>
        <string>{109,78}</string>
      </dict>
      <key>weapon_11004_0_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{533,340},{108,105}}</string>
        <key>offset</key>
        <string>{-53,107}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,105}}</string>
        <key>sourceSize</key>
        <string>{108,105}</string>
      </dict>
      <key>weapon_11004_0_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{175,280},{99,116}}</string>
        <key>offset</key>
        <string>{-46,116}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,116}}</string>
        <key>sourceSize</key>
        <string>{99,116}</string>
      </dict>
      <key>weapon_11004_0_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{598,222},{107,91}}</string>
        <key>offset</key>
        <string>{-49,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,91}}</string>
        <key>sourceSize</key>
        <string>{107,91}</string>
      </dict>
      <key>weapon_11004_0_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{640,331},{107,70}}</string>
        <key>offset</key>
        <string>{-44,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,70}}</string>
        <key>sourceSize</key>
        <string>{107,70}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_11004_0_1.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>weapon_11004_0_1.png</string>
    </dict>
  </dict>
</plist>