<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_11013_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{171,116},{27,81}}</string>
        <key>offset</key>
        <string>{28,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{27,81}}</string>
        <key>sourceSize</key>
        <string>{27,81}</string>
      </dict>
      <key>weapon_11013_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,418},{26,92}}</string>
        <key>offset</key>
        <string>{27,75}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{26,92}}</string>
        <key>sourceSize</key>
        <string>{26,92}</string>
      </dict>
      <key>weapon_11013_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{477,320},{26,96}}</string>
        <key>offset</key>
        <string>{27,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{26,96}}</string>
        <key>sourceSize</key>
        <string>{26,96}</string>
      </dict>
      <key>weapon_11013_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{435,398},{25,94}}</string>
        <key>offset</key>
        <string>{28,77}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{25,94}}</string>
        <key>sourceSize</key>
        <string>{25,94}</string>
      </dict>
      <key>weapon_11013_0_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{121,433},{114,66}}</string>
        <key>offset</key>
        <string>{-4,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,66}}</string>
        <key>sourceSize</key>
        <string>{114,66}</string>
      </dict>
      <key>weapon_11013_0_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{109,311},{120,73}}</string>
        <key>offset</key>
        <string>{-10,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,73}}</string>
        <key>sourceSize</key>
        <string>{120,73}</string>
      </dict>
      <key>weapon_11013_0_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{171,0},{114,76}}</string>
        <key>offset</key>
        <string>{-4,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,76}}</string>
        <key>sourceSize</key>
        <string>{114,76}</string>
      </dict>
      <key>weapon_11013_0_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{257,116},{112,70}}</string>
        <key>offset</key>
        <string>{-2,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,70}}</string>
        <key>sourceSize</key>
        <string>{112,70}</string>
      </dict>
      <key>weapon_11013_0_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{107,0},{152,62}}</string>
        <key>offset</key>
        <string>{-26,26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,62}}</string>
        <key>sourceSize</key>
        <string>{152,62}</string>
      </dict>
      <key>weapon_11013_0_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,0},{154,55}}</string>
        <key>offset</key>
        <string>{-26,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,55}}</string>
        <key>sourceSize</key>
        <string>{154,55}</string>
      </dict>
      <key>weapon_11013_0_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,156},{153,52}}</string>
        <key>offset</key>
        <string>{-27,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,52}}</string>
        <key>sourceSize</key>
        <string>{153,52}</string>
      </dict>
      <key>weapon_11013_0_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{51,315},{154,56}}</string>
        <key>offset</key>
        <string>{-26,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,56}}</string>
        <key>sourceSize</key>
        <string>{154,56}</string>
      </dict>
      <key>weapon_11013_0_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,398},{103,103}}</string>
        <key>offset</key>
        <string>{-20,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,103}}</string>
        <key>sourceSize</key>
        <string>{103,103}</string>
      </dict>
      <key>weapon_11013_0_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{329,116},{106,93}}</string>
        <key>offset</key>
        <string>{-20,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,93}}</string>
        <key>sourceSize</key>
        <string>{106,93}</string>
      </dict>
      <key>weapon_11013_0_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{340,0},{106,90}}</string>
        <key>offset</key>
        <string>{-20,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,90}}</string>
        <key>sourceSize</key>
        <string>{106,90}</string>
      </dict>
      <key>weapon_11013_0_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{272,259},{105,96}}</string>
        <key>offset</key>
        <string>{-19,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,96}}</string>
        <key>sourceSize</key>
        <string>{105,96}</string>
      </dict>
      <key>weapon_11013_0_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,474},{28,119}}</string>
        <key>offset</key>
        <string>{-6,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{28,119}}</string>
        <key>sourceSize</key>
        <string>{28,119}</string>
      </dict>
      <key>weapon_11013_0_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{369,224},{27,105}}</string>
        <key>offset</key>
        <string>{-5,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{27,105}}</string>
        <key>sourceSize</key>
        <string>{27,105}</string>
      </dict>
      <key>weapon_11013_0_0_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{477,214},{27,104}}</string>
        <key>offset</key>
        <string>{-5,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{27,104}}</string>
        <key>sourceSize</key>
        <string>{27,104}</string>
      </dict>
      <key>weapon_11013_0_0_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{257,230},{27,110}}</string>
        <key>offset</key>
        <string>{-5,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{27,110}}</string>
        <key>sourceSize</key>
        <string>{27,110}</string>
      </dict>
      <key>weapon_11013_0_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{154,154},{115,101}}</string>
        <key>offset</key>
        <string>{-60,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,101}}</string>
        <key>sourceSize</key>
        <string>{115,101}</string>
      </dict>
      <key>weapon_11013_0_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{249,0},{114,89}}</string>
        <key>offset</key>
        <string>{-60,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,89}}</string>
        <key>sourceSize</key>
        <string>{114,89}</string>
      </dict>
      <key>weapon_11013_0_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{184,271},{114,86}}</string>
        <key>offset</key>
        <string>{-60,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,86}}</string>
        <key>sourceSize</key>
        <string>{114,86}</string>
      </dict>
      <key>weapon_11013_0_0_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{237,387},{114,91}}</string>
        <key>offset</key>
        <string>{-60,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,91}}</string>
        <key>sourceSize</key>
        <string>{114,91}</string>
      </dict>
      <key>weapon_11013_0_0_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{46,158},{155,52}}</string>
        <key>offset</key>
        <string>{-77,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,52}}</string>
        <key>sourceSize</key>
        <string>{155,52}</string>
      </dict>
      <key>weapon_11013_0_0_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{156,48}}</string>
        <key>offset</key>
        <string>{-78,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,48}}</string>
        <key>sourceSize</key>
        <string>{156,48}</string>
      </dict>
      <key>weapon_11013_0_0_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,158},{156,44}}</string>
        <key>offset</key>
        <string>{-78,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,44}}</string>
        <key>sourceSize</key>
        <string>{156,44}</string>
      </dict>
      <key>weapon_11013_0_0_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,316},{156,49}}</string>
        <key>offset</key>
        <string>{-78,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,49}}</string>
        <key>sourceSize</key>
        <string>{156,49}</string>
      </dict>
      <key>weapon_11013_0_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{370,329},{104,67}}</string>
        <key>offset</key>
        <string>{-34,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,67}}</string>
        <key>sourceSize</key>
        <string>{104,67}</string>
      </dict>
      <key>weapon_11013_0_0_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{432,0},{105,73}}</string>
        <key>offset</key>
        <string>{-34,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,73}}</string>
        <key>sourceSize</key>
        <string>{105,73}</string>
      </dict>
      <key>weapon_11013_0_0_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{432,107},{105,78}}</string>
        <key>offset</key>
        <string>{-34,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,78}}</string>
        <key>sourceSize</key>
        <string>{105,78}</string>
      </dict>
      <key>weapon_11013_0_0_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{370,253},{105,74}}</string>
        <key>offset</key>
        <string>{-35,71}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,74}}</string>
        <key>sourceSize</key>
        <string>{105,74}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_11013_0_0.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>weapon_11013_0_0.png</string>
    </dict>
  </dict>
</plist>