<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_10030_0_3_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{314,57},{69,144}}</string>
        <key>offset</key>
        <string>{16,157}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,144}}</string>
        <key>sourceSize</key>
        <string>{69,144}</string>
      </dict>
      <key>weapon_10030_0_3_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{134,321},{50,129}}</string>
        <key>offset</key>
        <string>{-12,151}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{50,129}}</string>
        <key>sourceSize</key>
        <string>{50,129}</string>
      </dict>
      <key>weapon_10030_0_3_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{246,611},{112,62}}</string>
        <key>offset</key>
        <string>{-66,96}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,62}}</string>
        <key>sourceSize</key>
        <string>{112,62}</string>
      </dict>
      <key>weapon_10030_0_3_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{233,675},{106,64}}</string>
        <key>offset</key>
        <string>{-48,73}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,64}}</string>
        <key>sourceSize</key>
        <string>{106,64}</string>
      </dict>
      <key>weapon_10030_0_3_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,738},{83,55}}</string>
        <key>offset</key>
        <string>{-23,92}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,55}}</string>
        <key>sourceSize</key>
        <string>{83,55}</string>
      </dict>
      <key>weapon_10030_0_3_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{409,288},{89,129}}</string>
        <key>offset</key>
        <string>{-1,145}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,129}}</string>
        <key>sourceSize</key>
        <string>{89,129}</string>
      </dict>
      <key>weapon_10030_0_3_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,651},{85,111}}</string>
        <key>offset</key>
        <string>{24,115}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,111}}</string>
        <key>sourceSize</key>
        <string>{85,111}</string>
      </dict>
      <key>weapon_10030_0_3_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{265,336},{40,129}}</string>
        <key>offset</key>
        <string>{10,151}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{40,129}}</string>
        <key>sourceSize</key>
        <string>{40,129}</string>
      </dict>
      <key>weapon_10030_0_3_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,290},{132,93}}</string>
        <key>offset</key>
        <string>{-72,125}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,93}}</string>
        <key>sourceSize</key>
        <string>{132,93}</string>
      </dict>
      <key>weapon_10030_0_3_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,58},{150,64}}</string>
        <key>offset</key>
        <string>{-90,87}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,64}}</string>
        <key>sourceSize</key>
        <string>{150,64}</string>
      </dict>
      <key>weapon_10030_0_3_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{134,373},{129,78}}</string>
        <key>offset</key>
        <string>{-62,107}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,78}}</string>
        <key>sourceSize</key>
        <string>{129,78}</string>
      </dict>
      <key>weapon_10030_0_3_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,124},{141,79}}</string>
        <key>offset</key>
        <string>{20,93}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,79}}</string>
        <key>sourceSize</key>
        <string>{141,79}</string>
      </dict>
      <key>weapon_10030_0_3_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{113,730},{69,86}}</string>
        <key>offset</key>
        <string>{23,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,86}}</string>
        <key>sourceSize</key>
        <string>{69,86}</string>
      </dict>
      <key>weapon_10030_0_3_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{276,288},{46,131}}</string>
        <key>offset</key>
        <string>{21,145}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,131}}</string>
        <key>sourceSize</key>
        <string>{46,131}</string>
      </dict>
      <key>weapon_10030_0_3_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{140,223},{96,134}}</string>
        <key>offset</key>
        <string>{-34,155}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,134}}</string>
        <key>sourceSize</key>
        <string>{96,134}</string>
      </dict>
      <key>weapon_10030_0_3_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{391,548},{120,101}}</string>
        <key>offset</key>
        <string>{-70,131}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,101}}</string>
        <key>sourceSize</key>
        <string>{120,101}</string>
      </dict>
      <key>weapon_10030_0_3_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,488},{112,122}}</string>
        <key>offset</key>
        <string>{-55,143}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,122}}</string>
        <key>sourceSize</key>
        <string>{112,122}</string>
      </dict>
      <key>weapon_10030_0_3_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{440,149},{137,30}}</string>
        <key>offset</key>
        <string>{30,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,30}}</string>
        <key>sourceSize</key>
        <string>{137,30}</string>
      </dict>
      <key>weapon_10030_0_3_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{280,741},{47,73}}</string>
        <key>offset</key>
        <string>{12,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{47,73}}</string>
        <key>sourceSize</key>
        <string>{47,73}</string>
      </dict>
      <key>weapon_10030_0_3_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{265,378},{65,127}}</string>
        <key>offset</key>
        <string>{15,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,127}}</string>
        <key>sourceSize</key>
        <string>{65,127}</string>
      </dict>
      <key>weapon_10030_0_3_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{314,0},{55,148}}</string>
        <key>offset</key>
        <string>{14,161}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,148}}</string>
        <key>sourceSize</key>
        <string>{55,148}</string>
      </dict>
      <key>weapon_10030_0_3_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{474,419},{35,125}}</string>
        <key>offset</key>
        <string>{2,152}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{35,125}}</string>
        <key>sourceSize</key>
        <string>{35,125}</string>
      </dict>
      <key>weapon_10030_0_3_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{464,0},{43,147}}</string>
        <key>offset</key>
        <string>{-6,163}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{43,147}}</string>
        <key>sourceSize</key>
        <string>{43,147}</string>
      </dict>
      <key>weapon_10030_0_3_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{355,775},{69,68}}</string>
        <key>offset</key>
        <string>{24,26}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,68}}</string>
        <key>sourceSize</key>
        <string>{69,68}</string>
      </dict>
      <key>weapon_10030_0_3_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,795},{63,82}}</string>
        <key>offset</key>
        <string>{-31,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,82}}</string>
        <key>sourceSize</key>
        <string>{63,82}</string>
      </dict>
      <key>weapon_10030_0_3_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{247,555},{54,120}}</string>
        <key>offset</key>
        <string>{10,119}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,120}}</string>
        <key>sourceSize</key>
        <string>{54,120}</string>
      </dict>
      <key>weapon_10030_0_3_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{265,445},{108,124}}</string>
        <key>offset</key>
        <string>{4,135}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,124}}</string>
        <key>sourceSize</key>
        <string>{108,124}</string>
      </dict>
      <key>weapon_10030_0_3_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{360,670},{103,110}}</string>
        <key>offset</key>
        <string>{-11,136}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,110}}</string>
        <key>sourceSize</key>
        <string>{103,110}</string>
      </dict>
      <key>weapon_10030_0_3_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,205},{83,138}}</string>
        <key>offset</key>
        <string>{-13,158}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,138}}</string>
        <key>sourceSize</key>
        <string>{83,138}</string>
      </dict>
      <key>weapon_10030_0_3_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{201,741},{77,76}}</string>
        <key>offset</key>
        <string>{-38,29}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,76}}</string>
        <key>sourceSize</key>
        <string>{77,76}</string>
      </dict>
      <key>weapon_10030_0_3_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{119,638},{90,112}}</string>
        <key>offset</key>
        <string>{-65,110}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,112}}</string>
        <key>sourceSize</key>
        <string>{90,112}</string>
      </dict>
      <key>weapon_10030_0_3_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{472,149},{31,113}}</string>
        <key>offset</key>
        <string>{-1,112}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{31,113}}</string>
        <key>sourceSize</key>
        <string>{31,113}</string>
      </dict>
      <key>weapon_10030_0_3_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{286,210},{137,76}}</string>
        <key>offset</key>
        <string>{-11,93}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,76}}</string>
        <key>sourceSize</key>
        <string>{137,76}</string>
      </dict>
      <key>weapon_10030_0_3_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{159,0},{153,68}}</string>
        <key>offset</key>
        <string>{-16,102}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,68}}</string>
        <key>sourceSize</key>
        <string>{153,68}</string>
      </dict>
      <key>weapon_10030_0_3_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,385},{128,101}}</string>
        <key>offset</key>
        <string>{-20,132}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,101}}</string>
        <key>sourceSize</key>
        <string>{128,101}</string>
      </dict>
      <key>weapon_10030_0_3_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{152,70},{143,59}}</string>
        <key>offset</key>
        <string>{-114,42}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,59}}</string>
        <key>sourceSize</key>
        <string>{143,59}</string>
      </dict>
      <key>weapon_10030_0_3_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{297,128},{80,141}}</string>
        <key>offset</key>
        <string>{-56,146}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,141}}</string>
        <key>sourceSize</key>
        <string>{80,141}</string>
      </dict>
      <key>weapon_10030_0_3_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,602},{47,117}}</string>
        <key>offset</key>
        <string>{-20,124}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{47,117}}</string>
        <key>sourceSize</key>
        <string>{47,117}</string>
      </dict>
      <key>weapon_10030_0_3_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{472,670},{95,33}}</string>
        <key>offset</key>
        <string>{-15,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,33}}</string>
        <key>sourceSize</key>
        <string>{95,33}</string>
      </dict>
      <key>weapon_10030_0_3_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,453},{124,56}}</string>
        <key>offset</key>
        <string>{-3,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,56}}</string>
        <key>sourceSize</key>
        <string>{124,56}</string>
      </dict>
      <key>weapon_10030_0_3_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,572},{120,64}}</string>
        <key>offset</key>
        <string>{-18,103}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,64}}</string>
        <key>sourceSize</key>
        <string>{120,64}</string>
      </dict>
      <key>weapon_10030_0_3_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{143,131},{141,90}}</string>
        <key>offset</key>
        <string>{-117,95}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,90}}</string>
        <key>sourceSize</key>
        <string>{141,90}</string>
      </dict>
      <key>weapon_10030_0_3_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{56,157}}</string>
        <key>offset</key>
        <string>{-16,164}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,157}}</string>
        <key>sourceSize</key>
        <string>{56,157}</string>
      </dict>
      <key>weapon_10030_0_3_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,511},{59,121}}</string>
        <key>offset</key>
        <string>{-30,136}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,121}}</string>
        <key>sourceSize</key>
        <string>{59,121}</string>
      </dict>
      <key>weapon_10030_0_3_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{426,775},{44,39}}</string>
        <key>offset</key>
        <string>{-14,71}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{44,39}}</string>
        <key>sourceSize</key>
        <string>{44,39}</string>
      </dict>
      <key>weapon_10030_0_3_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{472,767},{38,78}}</string>
        <key>offset</key>
        <string>{13,77}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{38,78}}</string>
        <key>sourceSize</key>
        <string>{38,78}</string>
      </dict>
      <key>weapon_10030_0_3_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{280,790},{45,45}}</string>
        <key>offset</key>
        <string>{12,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{45,45}}</string>
        <key>sourceSize</key>
        <string>{45,45}</string>
      </dict>
      <key>weapon_10030_0_3_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{394,419},{78,127}}</string>
        <key>offset</key>
        <string>{-50,142}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,127}}</string>
        <key>sourceSize</key>
        <string>{78,127}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_10030_0_3.png</string>
      <key>size</key>
      <string>{512,1024}</string>
      <key>textureFileName</key>
      <string>weapon_10030_0_3.png</string>
    </dict>
  </dict>
</plist>