<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_82504_0_5_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,503},{54,82}}</string>
        <key>offset</key>
        <string>{22,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,82}}</string>
        <key>sourceSize</key>
        <string>{54,82}</string>
      </dict>
      <key>weapon_82504_0_5_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{742,138},{34,131}}</string>
        <key>offset</key>
        <string>{17,132}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{34,131}}</string>
        <key>sourceSize</key>
        <string>{34,131}</string>
      </dict>
      <key>weapon_82504_0_5_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{183,361},{64,173}}</string>
        <key>offset</key>
        <string>{-14,185}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,173}}</string>
        <key>sourceSize</key>
        <string>{64,173}</string>
      </dict>
      <key>weapon_82504_0_5_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{896,191},{54,115}}</string>
        <key>offset</key>
        <string>{-13,145}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,115}}</string>
        <key>sourceSize</key>
        <string>{54,115}</string>
      </dict>
      <key>weapon_82504_0_5_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{192,0},{54,176}}</string>
        <key>offset</key>
        <string>{-2,184}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,176}}</string>
        <key>sourceSize</key>
        <string>{54,176}</string>
      </dict>
      <key>weapon_82504_0_5_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{463,469},{34,132}}</string>
        <key>offset</key>
        <string>{17,133}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{34,132}}</string>
        <key>sourceSize</key>
        <string>{34,132}</string>
      </dict>
      <key>weapon_82504_0_5_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{398,162},{155,78}}</string>
        <key>offset</key>
        <string>{3,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,78}}</string>
        <key>sourceSize</key>
        <string>{155,78}</string>
      </dict>
      <key>weapon_82504_0_5_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{778,138},{129,116}}</string>
        <key>offset</key>
        <string>{15,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,116}}</string>
        <key>sourceSize</key>
        <string>{129,116}</string>
      </dict>
      <key>weapon_82504_0_5_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,440},{61,178}}</string>
        <key>offset</key>
        <string>{32,184}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,178}}</string>
        <key>sourceSize</key>
        <string>{61,178}</string>
      </dict>
      <key>weapon_82504_0_5_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{296,0},{76,160}}</string>
        <key>offset</key>
        <string>{-16,180}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,160}}</string>
        <key>sourceSize</key>
        <string>{76,160}</string>
      </dict>
      <key>weapon_82504_0_5_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{137,0},{53,179}}</string>
        <key>offset</key>
        <string>{31,181}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,179}}</string>
        <key>sourceSize</key>
        <string>{53,179}</string>
      </dict>
      <key>weapon_82504_0_5_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{745,271},{131,129}}</string>
        <key>offset</key>
        <string>{12,125}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,129}}</string>
        <key>sourceSize</key>
        <string>{131,129}</string>
      </dict>
      <key>weapon_82504_0_5_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{73,191},{180,98}}</string>
        <key>offset</key>
        <string>{-11,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,98}}</string>
        <key>sourceSize</key>
        <string>{180,98}</string>
      </dict>
      <key>weapon_82504_0_5_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,191},{188,71}}</string>
        <key>offset</key>
        <string>{-1,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{188,71}}</string>
        <key>sourceSize</key>
        <string>{188,71}</string>
      </dict>
      <key>weapon_82504_0_5_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{279,168},{117,161}}</string>
        <key>offset</key>
        <string>{23,157}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,161}}</string>
        <key>sourceSize</key>
        <string>{117,161}</string>
      </dict>
      <key>weapon_82504_0_5_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{216,178},{61,173}}</string>
        <key>offset</key>
        <string>{4,176}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,173}}</string>
        <key>sourceSize</key>
        <string>{61,173}</string>
      </dict>
      <key>weapon_82504_0_5_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{358,331},{103,157}}</string>
        <key>offset</key>
        <string>{22,150}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,157}}</string>
        <key>sourceSize</key>
        <string>{103,157}</string>
      </dict>
      <key>weapon_82504_0_5_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{189,72}}</string>
        <key>offset</key>
        <string>{-3,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{189,72}}</string>
        <key>sourceSize</key>
        <string>{189,72}</string>
      </dict>
      <key>weapon_82504_0_5_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{671,0},{110,136}}</string>
        <key>offset</key>
        <string>{-9,40}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,136}}</string>
        <key>sourceSize</key>
        <string>{110,136}</string>
      </dict>
      <key>weapon_82504_0_5_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{478,153},{147,75}}</string>
        <key>offset</key>
        <string>{-7,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,75}}</string>
        <key>sourceSize</key>
        <string>{147,75}</string>
      </dict>
      <key>weapon_82504_0_5_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{863,404},{115,102}}</string>
        <key>offset</key>
        <string>{11,97}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,102}}</string>
        <key>sourceSize</key>
        <string>{115,102}</string>
      </dict>
      <key>weapon_82504_0_5_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{173,181},{41,178}}</string>
        <key>offset</key>
        <string>{22,171}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{41,178}}</string>
        <key>sourceSize</key>
        <string>{41,178}</string>
      </dict>
      <key>weapon_82504_0_5_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{783,0},{103,114}}</string>
        <key>offset</key>
        <string>{11,107}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,114}}</string>
        <key>sourceSize</key>
        <string>{103,114}</string>
      </dict>
      <key>weapon_82504_0_5_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{555,153},{145,78}}</string>
        <key>offset</key>
        <string>{-8,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,78}}</string>
        <key>sourceSize</key>
        <string>{145,78}</string>
      </dict>
      <key>weapon_82504_0_5_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{248,0},{46,166}}</string>
        <key>offset</key>
        <string>{-20,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,166}}</string>
        <key>sourceSize</key>
        <string>{46,166}</string>
      </dict>
      <key>weapon_82504_0_5_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{980,468},{42,104}}</string>
        <key>offset</key>
        <string>{-7,40}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{42,104}}</string>
        <key>sourceSize</key>
        <string>{42,104}</string>
      </dict>
      <key>weapon_82504_0_5_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,559},{61,63}}</string>
        <key>offset</key>
        <string>{-4,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,63}}</string>
        <key>sourceSize</key>
        <string>{61,63}</string>
      </dict>
      <key>weapon_82504_0_5_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{374,0},{60,160}}</string>
        <key>offset</key>
        <string>{7,153}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,160}}</string>
        <key>sourceSize</key>
        <string>{60,160}</string>
      </dict>
      <key>weapon_82504_0_5_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{461,505},{61,94}}</string>
        <key>offset</key>
        <string>{-6,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,94}}</string>
        <key>sourceSize</key>
        <string>{61,94}</string>
      </dict>
      <key>weapon_82504_0_5_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{980,247},{38,111}}</string>
        <key>offset</key>
        <string>{-6,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{38,111}}</string>
        <key>sourceSize</key>
        <string>{38,111}</string>
      </dict>
      <key>weapon_82504_0_5_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{436,0},{151,121}}</string>
        <key>offset</key>
        <string>{-105,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,121}}</string>
        <key>sourceSize</key>
        <string>{151,121}</string>
      </dict>
      <key>weapon_82504_0_5_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{896,99},{120,90}}</string>
        <key>offset</key>
        <string>{-88,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,90}}</string>
        <key>sourceSize</key>
        <string>{120,90}</string>
      </dict>
      <key>weapon_82504_0_5_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{84,503},{61,67}}</string>
        <key>offset</key>
        <string>{-44,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,67}}</string>
        <key>sourceSize</key>
        <string>{61,67}</string>
      </dict>
      <key>weapon_82504_0_5_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{673,287},{70,133}}</string>
        <key>offset</key>
        <string>{-12,135}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,133}}</string>
        <key>sourceSize</key>
        <string>{70,133}</string>
      </dict>
      <key>weapon_82504_0_5_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{597,504},{53,96}}</string>
        <key>offset</key>
        <string>{-35,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,96}}</string>
        <key>sourceSize</key>
        <string>{53,96}</string>
      </dict>
      <key>weapon_82504_0_5_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{896,0},{124,97}}</string>
        <key>offset</key>
        <string>{-89,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,97}}</string>
        <key>sourceSize</key>
        <string>{124,97}</string>
      </dict>
      <key>weapon_82504_0_5_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{180,440},{174,65}}</string>
        <key>offset</key>
        <string>{-118,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{174,65}}</string>
        <key>sourceSize</key>
        <string>{174,65}</string>
      </dict>
      <key>weapon_82504_0_5_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,381},{181,57}}</string>
        <key>offset</key>
        <string>{-134,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{181,57}}</string>
        <key>sourceSize</key>
        <string>{181,57}</string>
      </dict>
      <key>weapon_82504_0_5_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{745,404},{116,102}}</string>
        <key>offset</key>
        <string>{-91,117}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,102}}</string>
        <key>sourceSize</key>
        <string>{116,102}</string>
      </dict>
      <key>weapon_82504_0_5_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{597,443},{59,116}}</string>
        <key>offset</key>
        <string>{-16,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,116}}</string>
        <key>sourceSize</key>
        <string>{59,116}</string>
      </dict>
      <key>weapon_82504_0_5_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{876,269},{101,111}}</string>
        <key>offset</key>
        <string>{-76,123}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,111}}</string>
        <key>sourceSize</key>
        <string>{101,111}</string>
      </dict>
      <key>weapon_82504_0_5_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{74,0},{180,61}}</string>
        <key>offset</key>
        <string>{-131,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,61}}</string>
        <key>sourceSize</key>
        <string>{180,61}</string>
      </dict>
      <key>weapon_82504_0_5_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{356,490},{103,67}}</string>
        <key>offset</key>
        <string>{-49,76}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,67}}</string>
        <key>sourceSize</key>
        <string>{103,67}</string>
      </dict>
      <key>weapon_82504_0_5_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{572,300},{141,99}}</string>
        <key>offset</key>
        <string>{-87,108}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,99}}</string>
        <key>sourceSize</key>
        <string>{141,99}</string>
      </dict>
      <key>weapon_82504_0_5_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{559,0},{110,143}}</string>
        <key>offset</key>
        <string>{-75,161}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,143}}</string>
        <key>sourceSize</key>
        <string>{110,143}</string>
      </dict>
      <key>weapon_82504_0_5_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{980,360},{40,106}}</string>
        <key>offset</key>
        <string>{-16,136}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{40,106}}</string>
        <key>sourceSize</key>
        <string>{40,106}</string>
      </dict>
      <key>weapon_82504_0_5_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{463,319},{107,148}}</string>
        <key>offset</key>
        <string>{-64,162}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,148}}</string>
        <key>sourceSize</key>
        <string>{107,148}</string>
      </dict>
      <key>weapon_82504_0_5_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{635,145},{140,105}}</string>
        <key>offset</key>
        <string>{-85,113}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,105}}</string>
        <key>sourceSize</key>
        <string>{140,105}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_82504_0_5.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>weapon_82504_0_5.png</string>
    </dict>
  </dict>
</plist>