<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_11023_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{215,0},{205,120}}</string>
        <key>offset</key>
        <string>{13,105}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{205,120}}</string>
        <key>sourceSize</key>
        <string>{205,120}</string>
      </dict>
      <key>weapon_11023_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{679,179},{174,154}}</string>
        <key>offset</key>
        <string>{18,145}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{174,154}}</string>
        <key>sourceSize</key>
        <string>{174,154}</string>
      </dict>
      <key>weapon_11023_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{679,355},{151,156}}</string>
        <key>offset</key>
        <string>{14,144}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,156}}</string>
        <key>sourceSize</key>
        <string>{151,156}</string>
      </dict>
      <key>weapon_11023_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,411},{181,91}}</string>
        <key>offset</key>
        <string>{0,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{181,91}}</string>
        <key>sourceSize</key>
        <string>{181,91}</string>
      </dict>
      <key>weapon_11023_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{835,176},{156,91}}</string>
        <key>offset</key>
        <string>{10,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,91}}</string>
        <key>sourceSize</key>
        <string>{156,91}</string>
      </dict>
      <key>weapon_11023_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{228,123}}</string>
        <key>offset</key>
        <string>{4,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{228,123}}</string>
        <key>sourceSize</key>
        <string>{228,123}</string>
      </dict>
      <key>weapon_11023_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{580,487},{69,95}}</string>
        <key>offset</key>
        <string>{-8,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,95}}</string>
        <key>sourceSize</key>
        <string>{69,95}</string>
      </dict>
      <key>weapon_11023_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{838,71},{73,74}}</string>
        <key>offset</key>
        <string>{-1,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,74}}</string>
        <key>sourceSize</key>
        <string>{73,74}</string>
      </dict>
      <key>weapon_11023_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{560,0},{177,125}}</string>
        <key>offset</key>
        <string>{4,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{177,125}}</string>
        <key>sourceSize</key>
        <string>{177,125}</string>
      </dict>
      <key>weapon_11023_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{837,486},{125,109}}</string>
        <key>offset</key>
        <string>{-98,55}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,109}}</string>
        <key>sourceSize</key>
        <string>{125,109}</string>
      </dict>
      <key>weapon_11023_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{580,369},{116,93}}</string>
        <key>offset</key>
        <string>{-79,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,93}}</string>
        <key>sourceSize</key>
        <string>{116,93}</string>
      </dict>
      <key>weapon_11023_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{928,71},{70,144}}</string>
        <key>offset</key>
        <string>{-11,48}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,144}}</string>
        <key>sourceSize</key>
        <string>{70,144}</string>
      </dict>
      <key>weapon_11023_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,207},{202,127}}</string>
        <key>offset</key>
        <string>{-169,111}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{202,127}}</string>
        <key>sourceSize</key>
        <string>{202,127}</string>
      </dict>
      <key>weapon_11023_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{687,0},{174,149}}</string>
        <key>offset</key>
        <string>{-142,128}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{174,149}}</string>
        <key>sourceSize</key>
        <string>{174,149}</string>
      </dict>
      <key>weapon_11023_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{837,334},{150,149}}</string>
        <key>offset</key>
        <string>{-116,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,149}}</string>
        <key>sourceSize</key>
        <string>{150,149}</string>
      </dict>
      <key>weapon_11023_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{347,200},{184,168}}</string>
        <key>offset</key>
        <string>{-132,165}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{184,168}}</string>
        <key>sourceSize</key>
        <string>{184,168}</string>
      </dict>
      <key>weapon_11023_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{517,186},{160,181}}</string>
        <key>offset</key>
        <string>{-118,173}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,181}}</string>
        <key>sourceSize</key>
        <string>{160,181}</string>
      </dict>
      <key>weapon_11023_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,230},{218,106}}</string>
        <key>offset</key>
        <string>{-182,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{218,106}}</string>
        <key>sourceSize</key>
        <string>{218,106}</string>
      </dict>
      <key>weapon_11023_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{337,0},{87,198}}</string>
        <key>offset</key>
        <string>{-23,194}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,198}}</string>
        <key>sourceSize</key>
        <string>{87,198}</string>
      </dict>
      <key>weapon_11023_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{125,0},{88,214}}</string>
        <key>offset</key>
        <string>{-31,210}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,214}}</string>
        <key>sourceSize</key>
        <string>{88,214}</string>
      </dict>
      <key>weapon_11023_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{426,0},{184,132}}</string>
        <key>offset</key>
        <string>{-130,131}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{184,132}}</string>
        <key>sourceSize</key>
        <string>{184,132}</string>
      </dict>
      <key>weapon_11023_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{401,386},{123,177}}</string>
        <key>offset</key>
        <string>{22,164}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,177}}</string>
        <key>sourceSize</key>
        <string>{123,177}</string>
      </dict>
      <key>weapon_11023_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{108,230},{108,215}}</string>
        <key>offset</key>
        <string>{18,212}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,215}}</string>
        <key>sourceSize</key>
        <string>{108,215}</string>
      </dict>
      <key>weapon_11023_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{838,0},{69,174}}</string>
        <key>offset</key>
        <string>{-9,166}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,174}}</string>
        <key>sourceSize</key>
        <string>{69,174}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_11023_0_7.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>weapon_11023_0_7.png</string>
    </dict>
  </dict>
</plist>