<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_82500_0_5_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{426,582},{68,176}}</string>
        <key>offset</key>
        <string>{13,128}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,176}}</string>
        <key>sourceSize</key>
        <string>{68,176}</string>
      </dict>
      <key>weapon_82500_0_5_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,700},{58,221}}</string>
        <key>offset</key>
        <string>{7,159}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,221}}</string>
        <key>sourceSize</key>
        <string>{58,221}</string>
      </dict>
      <key>weapon_82500_0_5_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,923},{78,219}}</string>
        <key>offset</key>
        <string>{-11,170}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,219}}</string>
        <key>sourceSize</key>
        <string>{78,219}</string>
      </dict>
      <key>weapon_82500_0_5_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{564,744},{65,158}}</string>
        <key>offset</key>
        <string>{-9,138}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,158}}</string>
        <key>sourceSize</key>
        <string>{65,158}</string>
      </dict>
      <key>weapon_82500_0_5_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{71,243}}</string>
        <key>offset</key>
        <string>{-4,181}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,243}}</string>
        <key>sourceSize</key>
        <string>{71,243}</string>
      </dict>
      <key>weapon_82500_0_5_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{272,0},{45,205}}</string>
        <key>offset</key>
        <string>{15,150}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{45,205}}</string>
        <key>sourceSize</key>
        <string>{45,205}</string>
      </dict>
      <key>weapon_82500_0_5_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{456,0},{189,127}}</string>
        <key>offset</key>
        <string>{-39,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{189,127}}</string>
        <key>sourceSize</key>
        <string>{189,127}</string>
      </dict>
      <key>weapon_82500_0_5_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{319,0},{135,199}}</string>
        <key>offset</key>
        <string>{-15,141}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,199}}</string>
        <key>sourceSize</key>
        <string>{135,199}</string>
      </dict>
      <key>weapon_82500_0_5_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,474},{46,224}}</string>
        <key>offset</key>
        <string>{20,170}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,224}}</string>
        <key>sourceSize</key>
        <string>{46,224}</string>
      </dict>
      <key>weapon_82500_0_5_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{404,397},{85,183}}</string>
        <key>offset</key>
        <string>{-9,146}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,183}}</string>
        <key>sourceSize</key>
        <string>{85,183}</string>
      </dict>
      <key>weapon_82500_0_5_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,245},{90,227}}</string>
        <key>offset</key>
        <string>{6,168}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,227}}</string>
        <key>sourceSize</key>
        <string>{90,227}</string>
      </dict>
      <key>weapon_82500_0_5_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{412,811},{157,185}}</string>
        <key>offset</key>
        <string>{-28,134}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{157,185}}</string>
        <key>sourceSize</key>
        <string>{157,185}</string>
      </dict>
      <key>weapon_82500_0_5_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{48,474},{221,58}}</string>
        <key>offset</key>
        <string>{-65,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{221,58}}</string>
        <key>sourceSize</key>
        <string>{221,58}</string>
      </dict>
      <key>weapon_82500_0_5_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{211,655},{199,126}}</string>
        <key>offset</key>
        <string>{-48,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{199,126}}</string>
        <key>sourceSize</key>
        <string>{199,126}</string>
      </dict>
      <key>weapon_82500_0_5_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,0},{96,213}}</string>
        <key>offset</key>
        <string>{2,156}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,213}}</string>
        <key>sourceSize</key>
        <string>{96,213}</string>
      </dict>
      <key>weapon_82500_0_5_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{60,697},{78,217}}</string>
        <key>offset</key>
        <string>{-4,160}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,217}}</string>
        <key>sourceSize</key>
        <string>{78,217}</string>
      </dict>
      <key>weapon_82500_0_5_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{382,201},{136,194}}</string>
        <key>offset</key>
        <string>{-15,138}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,194}}</string>
        <key>sourceSize</key>
        <string>{136,194}</string>
      </dict>
      <key>weapon_82500_0_5_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{108,449},{216,95}}</string>
        <key>offset</key>
        <string>{-59,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{216,95}}</string>
        <key>sourceSize</key>
        <string>{216,95}</string>
      </dict>
      <key>weapon_82500_0_5_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{869,222},{134,116}}</string>
        <key>offset</key>
        <string>{-42,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,116}}</string>
        <key>sourceSize</key>
        <string>{134,116}</string>
      </dict>
      <key>weapon_82500_0_5_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{496,575},{168,66}}</string>
        <key>offset</key>
        <string>{-50,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{168,66}}</string>
        <key>sourceSize</key>
        <string>{168,66}</string>
      </dict>
      <key>weapon_82500_0_5_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{491,397},{106,176}}</string>
        <key>offset</key>
        <string>{-11,128}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,176}}</string>
        <key>sourceSize</key>
        <string>{106,176}</string>
      </dict>
      <key>weapon_82500_0_5_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{92,227},{40,220}}</string>
        <key>offset</key>
        <string>{12,154}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{40,220}}</string>
        <key>sourceSize</key>
        <string>{40,220}</string>
      </dict>
      <key>weapon_82500_0_5_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{738,336},{129,136}}</string>
        <key>offset</key>
        <string>{-25,98}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,136}}</string>
        <key>sourceSize</key>
        <string>{129,136}</string>
      </dict>
      <key>weapon_82500_0_5_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{686,177},{157,65}}</string>
        <key>offset</key>
        <string>{-42,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{157,65}}</string>
        <key>sourceSize</key>
        <string>{157,65}</string>
      </dict>
      <key>weapon_82500_0_5_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{638,677},{63,124}}</string>
        <key>offset</key>
        <string>{-27,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,124}}</string>
        <key>sourceSize</key>
        <string>{63,124}</string>
      </dict>
      <key>weapon_82500_0_5_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{971,0},{45,68}}</string>
        <key>offset</key>
        <string>{-8,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{45,68}}</string>
        <key>sourceSize</key>
        <string>{45,68}</string>
      </dict>
      <key>weapon_82500_0_5_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{638,535},{78,140}}</string>
        <key>offset</key>
        <string>{-18,104}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,140}}</string>
        <key>sourceSize</key>
        <string>{78,140}</string>
      </dict>
      <key>weapon_82500_0_5_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{140,667},{69,212}}</string>
        <key>offset</key>
        <string>{-11,152}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,212}}</string>
        <key>sourceSize</key>
        <string>{69,212}</string>
      </dict>
      <key>weapon_82500_0_5_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{869,340},{68,95}}</string>
        <key>offset</key>
        <string>{-11,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,95}}</string>
        <key>sourceSize</key>
        <string>{68,95}</string>
      </dict>
      <key>weapon_82500_0_5_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{833,222},{32,84}}</string>
        <key>offset</key>
        <string>{-2,59}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{32,84}}</string>
        <key>sourceSize</key>
        <string>{32,84}</string>
      </dict>
      <key>weapon_82500_0_5_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{316,424},{196,86}}</string>
        <key>offset</key>
        <string>{-104,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,86}}</string>
        <key>sourceSize</key>
        <string>{196,86}</string>
      </dict>
      <key>weapon_82500_0_5_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{718,535},{138,72}}</string>
        <key>offset</key>
        <string>{-73,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,72}}</string>
        <key>sourceSize</key>
        <string>{138,72}</string>
      </dict>
      <key>weapon_82500_0_5_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{426,760},{43,133}}</string>
        <key>offset</key>
        <string>{-18,109}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{43,133}}</string>
        <key>sourceSize</key>
        <string>{43,133}</string>
      </dict>
      <key>weapon_82500_0_5_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{339,622},{85,187}}</string>
        <key>offset</key>
        <string>{-27,140}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,187}}</string>
        <key>sourceSize</key>
        <string>{85,187}</string>
      </dict>
      <key>weapon_82500_0_5_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{753,222},{78,96}}</string>
        <key>offset</key>
        <string>{-37,76}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,96}}</string>
        <key>sourceSize</key>
        <string>{78,96}</string>
      </dict>
      <key>weapon_82500_0_5_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{746,0},{156,76}}</string>
        <key>offset</key>
        <string>{-79,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,76}}</string>
        <key>sourceSize</key>
        <string>{156,76}</string>
      </dict>
      <key>weapon_82500_0_5_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{73,0},{225,99}}</string>
        <key>offset</key>
        <string>{-111,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{225,99}}</string>
        <key>sourceSize</key>
        <string>{225,99}</string>
      </dict>
      <key>weapon_82500_0_5_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{205,444},{209,109}}</string>
        <key>offset</key>
        <string>{-107,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{209,109}}</string>
        <key>sourceSize</key>
        <string>{209,109}</string>
      </dict>
      <key>weapon_82500_0_5_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{824,0},{84,145}}</string>
        <key>offset</key>
        <string>{-42,122}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,145}}</string>
        <key>sourceSize</key>
        <string>{84,145}</string>
      </dict>
      <key>weapon_82500_0_5_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{564,575},{72,167}}</string>
        <key>offset</key>
        <string>{-22,140}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,167}}</string>
        <key>sourceSize</key>
        <string>{72,167}</string>
      </dict>
      <key>weapon_82500_0_5_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{824,86},{134,142}}</string>
        <key>offset</key>
        <string>{-72,117}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,142}}</string>
        <key>sourceSize</key>
        <string>{134,142}</string>
      </dict>
      <key>weapon_82500_0_5_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{134,227},{215,107}}</string>
        <key>offset</key>
        <string>{-108,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{215,107}}</string>
        <key>sourceSize</key>
        <string>{215,107}</string>
      </dict>
      <key>weapon_82500_0_5_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{599,369},{137,164}}</string>
        <key>offset</key>
        <string>{-45,128}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,164}}</string>
        <key>sourceSize</key>
        <string>{137,164}</string>
      </dict>
      <key>weapon_82500_0_5_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{520,191},{164,176}}</string>
        <key>offset</key>
        <string>{-69,138}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{164,176}}</string>
        <key>sourceSize</key>
        <string>{164,176}</string>
      </dict>
      <key>weapon_82500_0_5_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{221,856},{106,189}}</string>
        <key>offset</key>
        <string>{-44,154}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,189}}</string>
        <key>sourceSize</key>
        <string>{106,189}</string>
      </dict>
      <key>weapon_82500_0_5_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{221,964},{40,147}}</string>
        <key>offset</key>
        <string>{-2,128}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{40,147}}</string>
        <key>sourceSize</key>
        <string>{40,147}</string>
      </dict>
      <key>weapon_82500_0_5_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{243,215},{137,207}}</string>
        <key>offset</key>
        <string>{-59,160}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,207}}</string>
        <key>sourceSize</key>
        <string>{137,207}</string>
      </dict>
      <key>weapon_82500_0_5_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{585,0},{159,175}}</string>
        <key>offset</key>
        <string>{-67,136}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,175}}</string>
        <key>sourceSize</key>
        <string>{159,175}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_82500_0_5.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>weapon_82500_0_5.png</string>
    </dict>
  </dict>
</plist>