<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_10006_1_11_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,126},{72,61}}</string>
        <key>offset</key>
        <string>{35,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,61}}</string>
        <key>sourceSize</key>
        <string>{72,61}</string>
      </dict>
      <key>weapon_10006_1_11_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{92,19},{61,31}}</string>
        <key>offset</key>
        <string>{26,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,31}}</string>
        <key>sourceSize</key>
        <string>{61,31}</string>
      </dict>
      <key>weapon_10006_1_11_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,200},{17,30}}</string>
        <key>offset</key>
        <string>{13,16}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{17,30}}</string>
        <key>sourceSize</key>
        <string>{17,30}</string>
      </dict>
      <key>weapon_10006_1_11_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{81,82},{42,30}}</string>
        <key>offset</key>
        <string>{-30,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{42,30}}</string>
        <key>sourceSize</key>
        <string>{42,30}</string>
      </dict>
      <key>weapon_10006_1_11_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{74,126},{72,47}}</string>
        <key>offset</key>
        <string>{-59,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{72,47}}</string>
        <key>sourceSize</key>
        <string>{72,47}</string>
      </dict>
      <key>weapon_10006_1_11_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,63},{61,79}}</string>
        <key>offset</key>
        <string>{-39,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,79}}</string>
        <key>sourceSize</key>
        <string>{61,79}</string>
      </dict>
      <key>weapon_10006_1_11_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{17,98}}</string>
        <key>offset</key>
        <string>{18,114}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{17,98}}</string>
        <key>sourceSize</key>
        <string>{17,98}</string>
      </dict>
      <key>weapon_10006_1_11_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,19},{42,90}}</string>
        <key>offset</key>
        <string>{36,100}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{42,90}}</string>
        <key>sourceSize</key>
        <string>{42,90}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_10006_1_11.png</string>
      <key>size</key>
      <string>{128,256}</string>
      <key>textureFileName</key>
      <string>weapon_10006_1_11.png</string>
    </dict>
  </dict>
</plist>