<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_10041_0_11_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{81,38},{89,101}}</string>
        <key>offset</key>
        <string>{30,105}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,101}}</string>
        <key>sourceSize</key>
        <string>{89,101}</string>
      </dict>
      <key>weapon_10041_0_11_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{81,129},{65,74}}</string>
        <key>offset</key>
        <string>{26,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,74}}</string>
        <key>sourceSize</key>
        <string>{65,74}</string>
      </dict>
      <key>weapon_10041_0_11_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{81,201},{29,52}}</string>
        <key>offset</key>
        <string>{12,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{29,52}}</string>
        <key>sourceSize</key>
        <string>{29,52}</string>
      </dict>
      <key>weapon_10041_0_11_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{157,129},{70,73}}</string>
        <key>offset</key>
        <string>{-45,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,73}}</string>
        <key>sourceSize</key>
        <string>{70,73}</string>
      </dict>
      <key>weapon_10041_0_11_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,137},{79,109}}</string>
        <key>offset</key>
        <string>{-63,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,109}}</string>
        <key>sourceSize</key>
        <string>{79,109}</string>
      </dict>
      <key>weapon_10041_0_11_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{55,135}}</string>
        <key>offset</key>
        <string>{-34,144}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,135}}</string>
        <key>sourceSize</key>
        <string>{55,135}</string>
      </dict>
      <key>weapon_10041_0_11_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{57,0},{36,128}}</string>
        <key>offset</key>
        <string>{6,152}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{36,128}}</string>
        <key>sourceSize</key>
        <string>{36,128}</string>
      </dict>
      <key>weapon_10041_0_11_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{187,0},{57,127}}</string>
        <key>offset</key>
        <string>{25,138}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,127}}</string>
        <key>sourceSize</key>
        <string>{57,127}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_10041_0_11.png</string>
      <key>size</key>
      <string>{256,256}</string>
      <key>textureFileName</key>
      <string>weapon_10041_0_11.png</string>
    </dict>
  </dict>
</plist>