<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_10020_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{31,0},{205,62}}</string>
        <key>offset</key>
        <string>{13,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{205,62}}</string>
        <key>sourceSize</key>
        <string>{205,62}</string>
      </dict>
      <key>weapon_10020_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{209,0},{181,100}}</string>
        <key>offset</key>
        <string>{16,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{181,100}}</string>
        <key>sourceSize</key>
        <string>{181,100}</string>
      </dict>
      <key>weapon_10020_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{341,381},{161,116}}</string>
        <key>offset</key>
        <string>{19,111}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,116}}</string>
        <key>sourceSize</key>
        <string>{161,116}</string>
      </dict>
      <key>weapon_10020_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{160,381},{179,45}}</string>
        <key>offset</key>
        <string>{-3,5}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{179,45}}</string>
        <key>sourceSize</key>
        <string>{179,45}</string>
      </dict>
      <key>weapon_10020_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,474},{167,29}}</string>
        <key>offset</key>
        <string>{7,21}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,29}}</string>
        <key>sourceSize</key>
        <string>{167,29}</string>
      </dict>
      <key>weapon_10020_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{221,29}}</string>
        <key>offset</key>
        <string>{2,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{221,29}}</string>
        <key>sourceSize</key>
        <string>{221,29}</string>
      </dict>
      <key>weapon_10020_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{215,428},{41,96}}</string>
        <key>offset</key>
        <string>{-4,16}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{41,96}}</string>
        <key>sourceSize</key>
        <string>{41,96}</string>
      </dict>
      <key>weapon_10020_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{504,373},{68,45}}</string>
        <key>offset</key>
        <string>{5,10}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,45}}</string>
        <key>sourceSize</key>
        <string>{68,45}</string>
      </dict>
      <key>weapon_10020_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{409,0},{165,100}}</string>
        <key>offset</key>
        <string>{-4,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{165,100}}</string>
        <key>sourceSize</key>
        <string>{165,100}</string>
      </dict>
      <key>weapon_10020_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{625,0},{133,79}}</string>
        <key>offset</key>
        <string>{-117,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,79}}</string>
        <key>sourceSize</key>
        <string>{133,79}</string>
      </dict>
      <key>weapon_10020_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{414,351},{130,20}}</string>
        <key>offset</key>
        <string>{-105,19}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,20}}</string>
        <key>sourceSize</key>
        <string>{130,20}</string>
      </dict>
      <key>weapon_10020_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{511,143},{18,134}}</string>
        <key>offset</key>
        <string>{-2,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{18,134}}</string>
        <key>sourceSize</key>
        <string>{18,134}</string>
      </dict>
      <key>weapon_10020_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,442},{213,30}}</string>
        <key>offset</key>
        <string>{-177,39}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{213,30}}</string>
        <key>sourceSize</key>
        <string>{213,30}</string>
      </dict>
      <key>weapon_10020_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{89,207},{194,69}}</string>
        <key>offset</key>
        <string>{-160,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{194,69}}</string>
        <key>sourceSize</key>
        <string>{194,69}</string>
      </dict>
      <key>weapon_10020_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{511,0},{141,112}}</string>
        <key>offset</key>
        <string>{-114,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,112}}</string>
        <key>sourceSize</key>
        <string>{141,112}</string>
      </dict>
      <key>weapon_10020_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{95,0},{191,112}}</string>
        <key>offset</key>
        <string>{-138,122}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{191,112}}</string>
        <key>sourceSize</key>
        <string>{191,112}</string>
      </dict>
      <key>weapon_10020_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{313,178},{171,150}}</string>
        <key>offset</key>
        <string>{-129,150}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{171,150}}</string>
        <key>sourceSize</key>
        <string>{171,150}</string>
      </dict>
      <key>weapon_10020_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,223},{217,29}}</string>
        <key>offset</key>
        <string>{-172,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{217,29}}</string>
        <key>sourceSize</key>
        <string>{217,29}</string>
      </dict>
      <key>weapon_10020_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,183},{61,179}}</string>
        <key>offset</key>
        <string>{-7,177}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,179}}</string>
        <key>sourceSize</key>
        <string>{61,179}</string>
      </dict>
      <key>weapon_10020_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{31,207},{56,205}}</string>
        <key>offset</key>
        <string>{-14,199}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,205}}</string>
        <key>sourceSize</key>
        <string>{56,205}</string>
      </dict>
      <key>weapon_10020_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{311,0},{176,96}}</string>
        <key>offset</key>
        <string>{-122,108}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,96}}</string>
        <key>sourceSize</key>
        <string>{176,96}</string>
      </dict>
      <key>weapon_10020_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{465,167},{121,152}}</string>
        <key>offset</key>
        <string>{34,141}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,152}}</string>
        <key>sourceSize</key>
        <string>{121,152}</string>
      </dict>
      <key>weapon_10020_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{160,193},{88,186}}</string>
        <key>offset</key>
        <string>{28,176}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,186}}</string>
        <key>sourceSize</key>
        <string>{88,186}</string>
      </dict>
      <key>weapon_10020_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,364},{15,162}}</string>
        <key>offset</key>
        <string>{30,161}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{15,162}}</string>
        <key>sourceSize</key>
        <string>{15,162}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_10020_0_7.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>weapon_10020_0_7.png</string>
    </dict>
  </dict>
</plist>