<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_10209_0_8_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{84,136},{43,89}}</string>
        <key>offset</key>
        <string>{15,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{43,89}}</string>
        <key>sourceSize</key>
        <string>{43,89}</string>
      </dict>
      <key>weapon_10209_0_8_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{84,313},{31,90}}</string>
        <key>offset</key>
        <string>{15,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{31,90}}</string>
        <key>sourceSize</key>
        <string>{31,90}</string>
      </dict>
      <key>weapon_10209_0_8_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{84,0},{134,85}}</string>
        <key>offset</key>
        <string>{22,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,85}}</string>
        <key>sourceSize</key>
        <string>{134,85}</string>
      </dict>
      <key>weapon_10209_0_8_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{176,0},{135,85}}</string>
        <key>offset</key>
        <string>{24,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,85}}</string>
        <key>sourceSize</key>
        <string>{135,85}</string>
      </dict>
      <key>weapon_10209_0_8_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,178},{175,82}}</string>
        <key>offset</key>
        <string>{11,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{175,82}}</string>
        <key>sourceSize</key>
        <string>{175,82}</string>
      </dict>
      <key>weapon_10209_0_8_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{176,82}}</string>
        <key>offset</key>
        <string>{20,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,82}}</string>
        <key>sourceSize</key>
        <string>{176,82}</string>
      </dict>
      <key>weapon_10209_0_8_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{84,186},{125,110}}</string>
        <key>offset</key>
        <string>{8,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,110}}</string>
        <key>sourceSize</key>
        <string>{125,110}</string>
      </dict>
      <key>weapon_10209_0_8_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{176,313},{124,108}}</string>
        <key>offset</key>
        <string>{18,4}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,108}}</string>
        <key>sourceSize</key>
        <string>{124,108}</string>
      </dict>
      <key>weapon_10209_0_8_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{196,186},{46,121}}</string>
        <key>offset</key>
        <string>{-13,14}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,121}}</string>
        <key>sourceSize</key>
        <string>{46,121}</string>
      </dict>
      <key>weapon_10209_0_8_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{455,0},{48,113}}</string>
        <key>offset</key>
        <string>{-8,1}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,113}}</string>
        <key>sourceSize</key>
        <string>{48,113}</string>
      </dict>
      <key>weapon_10209_0_8_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{176,87},{128,97}}</string>
        <key>offset</key>
        <string>{-106,18}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,97}}</string>
        <key>sourceSize</key>
        <string>{128,97}</string>
      </dict>
      <key>weapon_10209_0_8_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{313,0},{129,107}}</string>
        <key>offset</key>
        <string>{-109,15}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,107}}</string>
        <key>sourceSize</key>
        <string>{129,107}</string>
      </dict>
      <key>weapon_10209_0_8_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,432},{171,72}}</string>
        <key>offset</key>
        <string>{-139,36}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{171,72}}</string>
        <key>sourceSize</key>
        <string>{171,72}</string>
      </dict>
      <key>weapon_10209_0_8_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,355},{174,75}}</string>
        <key>offset</key>
        <string>{-150,28}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{174,75}}</string>
        <key>sourceSize</key>
        <string>{174,75}</string>
      </dict>
      <key>weapon_10209_0_8_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,186},{120,87}}</string>
        <key>offset</key>
        <string>{-82,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,87}}</string>
        <key>sourceSize</key>
        <string>{120,87}</string>
      </dict>
      <key>weapon_10209_0_8_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{333,109},{120,97}}</string>
        <key>offset</key>
        <string>{-93,77}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,97}}</string>
        <key>sourceSize</key>
        <string>{120,97}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_10209_0_8.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>weapon_10209_0_8.png</string>
    </dict>
  </dict>
</plist>