<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_10209_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{115,924},{85,112}}</string>
        <key>offset</key>
        <string>{40,121}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,112}}</string>
        <key>sourceSize</key>
        <string>{85,112}</string>
      </dict>
      <key>weapon_10209_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{426,854},{93,88}}</string>
        <key>offset</key>
        <string>{-61,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,88}}</string>
        <key>sourceSize</key>
        <string>{93,88}</string>
      </dict>
      <key>weapon_10209_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{542,524},{68,88}}</string>
        <key>offset</key>
        <string>{18,75}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,88}}</string>
        <key>sourceSize</key>
        <string>{68,88}</string>
      </dict>
      <key>weapon_10209_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{340,854},{106,84}}</string>
        <key>offset</key>
        <string>{31,128}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,84}}</string>
        <key>sourceSize</key>
        <string>{106,84}</string>
      </dict>
      <key>weapon_10209_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{496,636},{84,89}}</string>
        <key>offset</key>
        <string>{-49,81}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,89}}</string>
        <key>sourceSize</key>
        <string>{84,89}</string>
      </dict>
      <key>weapon_10209_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{263,747},{60,122}}</string>
        <key>offset</key>
        <string>{12,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,122}}</string>
        <key>sourceSize</key>
        <string>{60,122}</string>
      </dict>
      <key>weapon_10209_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{493,342},{74,94}}</string>
        <key>offset</key>
        <string>{17,91}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,94}}</string>
        <key>sourceSize</key>
        <string>{74,94}</string>
      </dict>
      <key>weapon_10209_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{180,144},{175,61}}</string>
        <key>offset</key>
        <string>{-154,66}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{175,61}}</string>
        <key>sourceSize</key>
        <string>{175,61}</string>
      </dict>
      <key>weapon_10209_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,822},{119,65}}</string>
        <key>offset</key>
        <string>{-59,66}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,65}}</string>
        <key>sourceSize</key>
        <string>{119,65}</string>
      </dict>
      <key>weapon_10209_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{582,614},{66,59}}</string>
        <key>offset</key>
        <string>{44,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,59}}</string>
        <key>sourceSize</key>
        <string>{66,59}</string>
      </dict>
      <key>weapon_10209_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{511,727},{70,70}}</string>
        <key>offset</key>
        <string>{30,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,70}}</string>
        <key>sourceSize</key>
        <string>{70,70}</string>
      </dict>
      <key>weapon_10209_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,644},{130,93}}</string>
        <key>offset</key>
        <string>{35,91}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,93}}</string>
        <key>sourceSize</key>
        <string>{130,93}</string>
      </dict>
      <key>weapon_10209_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{467,448},{74,99}}</string>
        <key>offset</key>
        <string>{-24,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,99}}</string>
        <key>sourceSize</key>
        <string>{74,99}</string>
      </dict>
      <key>weapon_10209_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,465},{154,72}}</string>
        <key>offset</key>
        <string>{-142,107}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,72}}</string>
        <key>sourceSize</key>
        <string>{154,72}</string>
      </dict>
      <key>weapon_10209_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{184,84},{179,58}}</string>
        <key>offset</key>
        <string>{-126,80}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{179,58}}</string>
        <key>sourceSize</key>
        <string>{179,58}</string>
      </dict>
      <key>weapon_10209_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{447,949},{92,69}}</string>
        <key>offset</key>
        <string>{0,78}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,69}}</string>
        <key>sourceSize</key>
        <string>{92,69}</string>
      </dict>
      <key>weapon_10209_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,440},{155,50}}</string>
        <key>offset</key>
        <string>{33,28}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,50}}</string>
        <key>sourceSize</key>
        <string>{155,50}</string>
      </dict>
      <key>weapon_10209_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{173,207},{170,52}}</string>
        <key>offset</key>
        <string>{27,31}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,52}}</string>
        <key>sourceSize</key>
        <string>{170,52}</string>
      </dict>
      <key>weapon_10209_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,712},{93,129}}</string>
        <key>offset</key>
        <string>{-78,119}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,129}}</string>
        <key>sourceSize</key>
        <string>{93,129}</string>
      </dict>
      <key>weapon_10209_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{340,962},{54,105}}</string>
        <key>offset</key>
        <string>{-36,155}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,105}}</string>
        <key>sourceSize</key>
        <string>{54,105}</string>
      </dict>
      <key>weapon_10209_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,739},{127,81}}</string>
        <key>offset</key>
        <string>{-98,112}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,81}}</string>
        <key>sourceSize</key>
        <string>{127,81}</string>
      </dict>
      <key>weapon_10209_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{406,639},{123,88}}</string>
        <key>offset</key>
        <string>{-66,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,88}}</string>
        <key>sourceSize</key>
        <string>{123,88}</string>
      </dict>
      <key>weapon_10209_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{435,182},{158,73}}</string>
        <key>offset</key>
        <string>{23,7}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{158,73}}</string>
        <key>sourceSize</key>
        <string>{158,73}</string>
      </dict>
      <key>weapon_10209_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,964},{112,58}}</string>
        <key>offset</key>
        <string>{17,13}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,58}}</string>
        <key>sourceSize</key>
        <string>{112,58}</string>
      </dict>
      <key>weapon_10209_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{170,340},{98,163}}</string>
        <key>offset</key>
        <string>{-91,160}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,163}}</string>
        <key>sourceSize</key>
        <string>{98,163}</string>
      </dict>
      <key>weapon_10209_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{435,528},{105,106}}</string>
        <key>offset</key>
        <string>{13,152}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,106}}</string>
        <key>sourceSize</key>
        <string>{105,106}</string>
      </dict>
      <key>weapon_10209_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{252,809},{59,108}}</string>
        <key>offset</key>
        <string>{-33,143}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,108}}</string>
        <key>sourceSize</key>
        <string>{59,108}</string>
      </dict>
      <key>weapon_10209_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{297,528},{109,136}}</string>
        <key>offset</key>
        <string>{-94,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,136}}</string>
        <key>sourceSize</key>
        <string>{109,136}</string>
      </dict>
      <key>weapon_10209_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{229,924},{76,109}}</string>
        <key>offset</key>
        <string>{10,1}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,109}}</string>
        <key>sourceSize</key>
        <string>{76,109}</string>
      </dict>
      <key>weapon_10209_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{568,438},{64,79}}</string>
        <key>offset</key>
        <string>{-31,15}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,79}}</string>
        <key>sourceSize</key>
        <string>{64,79}</string>
      </dict>
      <key>weapon_10209_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{83,182}}</string>
        <key>offset</key>
        <string>{-53,188}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,182}}</string>
        <key>sourceSize</key>
        <string>{83,182}</string>
      </dict>
      <key>weapon_10209_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,85},{178,82}}</string>
        <key>offset</key>
        <string>{22,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{178,82}}</string>
        <key>sourceSize</key>
        <string>{178,82}</string>
      </dict>
      <key>weapon_10209_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{274,639},{130,106}}</string>
        <key>offset</key>
        <string>{-20,145}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,106}}</string>
        <key>sourceSize</key>
        <string>{130,106}</string>
      </dict>
      <key>weapon_10209_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{170,261},{77,167}}</string>
        <key>offset</key>
        <string>{-73,173}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,167}}</string>
        <key>sourceSize</key>
        <string>{77,167}</string>
      </dict>
      <key>weapon_10209_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{387,764},{88,122}}</string>
        <key>offset</key>
        <string>{-69,7}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,122}}</string>
        <key>sourceSize</key>
        <string>{88,122}</string>
      </dict>
      <key>weapon_10209_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{321,448},{144,78}}</string>
        <key>offset</key>
        <string>{-128,34}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,78}}</string>
        <key>sourceSize</key>
        <string>{144,78}</string>
      </dict>
      <key>weapon_10209_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,169},{87,171}}</string>
        <key>offset</key>
        <string>{-4,187}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,171}}</string>
        <key>sourceSize</key>
        <string>{87,171}</string>
      </dict>
      <key>weapon_10209_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{335,355},{156,91}}</string>
        <key>offset</key>
        <string>{31,78}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,91}}</string>
        <key>sourceSize</key>
        <string>{156,91}</string>
      </dict>
      <key>weapon_10209_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{184,0},{181,82}}</string>
        <key>offset</key>
        <string>{-11,115}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{181,82}}</string>
        <key>sourceSize</key>
        <string>{181,82}</string>
      </dict>
      <key>weapon_10209_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,359},{104,162}}</string>
        <key>offset</key>
        <string>{-47,189}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,162}}</string>
        <key>sourceSize</key>
        <string>{104,162}</string>
      </dict>
      <key>weapon_10209_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,258},{168,99}}</string>
        <key>offset</key>
        <string>{-147,26}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{168,99}}</string>
        <key>sourceSize</key>
        <string>{168,99}</string>
      </dict>
      <key>weapon_10209_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{367,0},{180,93}}</string>
        <key>offset</key>
        <string>{-157,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,93}}</string>
        <key>sourceSize</key>
        <string>{180,93}</string>
      </dict>
      <key>weapon_10209_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,492},{92,139}}</string>
        <key>offset</key>
        <string>{32,156}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,139}}</string>
        <key>sourceSize</key>
        <string>{92,139}</string>
      </dict>
      <key>weapon_10209_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,889},{73,113}}</string>
        <key>offset</key>
        <string>{21,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,113}}</string>
        <key>sourceSize</key>
        <string>{73,113}</string>
      </dict>
      <key>weapon_10209_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,539},{137,103}}</string>
        <key>offset</key>
        <string>{14,108}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,103}}</string>
        <key>sourceSize</key>
        <string>{137,103}</string>
      </dict>
      <key>weapon_10209_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{139,586},{133,124}}</string>
        <key>offset</key>
        <string>{-11,172}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,124}}</string>
        <key>sourceSize</key>
        <string>{133,124}</string>
      </dict>
      <key>weapon_10209_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{357,182},{171,76}}</string>
        <key>offset</key>
        <string>{-143,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{171,76}}</string>
        <key>sourceSize</key>
        <string>{171,76}</string>
      </dict>
      <key>weapon_10209_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{129,807},{121,115}}</string>
        <key>offset</key>
        <string>{-88,120}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,115}}</string>
        <key>sourceSize</key>
        <string>{121,115}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_10209_0_2.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>weapon_10209_0_2.png</string>
    </dict>
  </dict>
</plist>