<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_10039_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,243},{162,106}}</string>
        <key>offset</key>
        <string>{10,77}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{162,106}}</string>
        <key>sourceSize</key>
        <string>{162,106}</string>
      </dict>
      <key>weapon_10039_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,473},{141,137}}</string>
        <key>offset</key>
        <string>{13,104}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,137}}</string>
        <key>sourceSize</key>
        <string>{141,137}</string>
      </dict>
      <key>weapon_10039_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,493},{122,129}}</string>
        <key>offset</key>
        <string>{11,107}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{122,129}}</string>
        <key>sourceSize</key>
        <string>{122,129}</string>
      </dict>
      <key>weapon_10039_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{455,0},{144,45}}</string>
        <key>offset</key>
        <string>{0,21}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,45}}</string>
        <key>sourceSize</key>
        <string>{144,45}</string>
      </dict>
      <key>weapon_10039_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,480},{132,81}}</string>
        <key>offset</key>
        <string>{6,52}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,81}}</string>
        <key>sourceSize</key>
        <string>{132,81}</string>
      </dict>
      <key>weapon_10039_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{384,0},{174,69}}</string>
        <key>offset</key>
        <string>{1,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{174,69}}</string>
        <key>sourceSize</key>
        <string>{174,69}</string>
      </dict>
      <key>weapon_10039_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{257,612},{60,75}}</string>
        <key>offset</key>
        <string>{-3,20}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,75}}</string>
        <key>sourceSize</key>
        <string>{60,75}</string>
      </dict>
      <key>weapon_10039_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{334,612},{58,51}}</string>
        <key>offset</key>
        <string>{3,27}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,51}}</string>
        <key>sourceSize</key>
        <string>{58,51}</string>
      </dict>
      <key>weapon_10039_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,404},{142,74}}</string>
        <key>offset</key>
        <string>{-1,22}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,74}}</string>
        <key>sourceSize</key>
        <string>{142,74}</string>
      </dict>
      <key>weapon_10039_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,617},{102,69}}</string>
        <key>offset</key>
        <string>{-72,31}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,69}}</string>
        <key>sourceSize</key>
        <string>{102,69}</string>
      </dict>
      <key>weapon_10039_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{443,580},{90,64}}</string>
        <key>offset</key>
        <string>{-57,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,64}}</string>
        <key>sourceSize</key>
        <string>{90,64}</string>
      </dict>
      <key>weapon_10039_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{443,473},{52,105}}</string>
        <key>offset</key>
        <string>{-2,25}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{52,105}}</string>
        <key>sourceSize</key>
        <string>{52,105}</string>
      </dict>
      <key>weapon_10039_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{173,160},{163,86}}</string>
        <key>offset</key>
        <string>{-121,67}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,86}}</string>
        <key>sourceSize</key>
        <string>{163,86}</string>
      </dict>
      <key>weapon_10039_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{320,363},{151,108}}</string>
        <key>offset</key>
        <string>{-113,90}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,108}}</string>
        <key>sourceSize</key>
        <string>{151,108}</string>
      </dict>
      <key>weapon_10039_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{131,563},{124,87}}</string>
        <key>offset</key>
        <string>{-82,31}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,87}}</string>
        <key>sourceSize</key>
        <string>{124,87}</string>
      </dict>
      <key>weapon_10039_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,248},{154,154}}</string>
        <key>offset</key>
        <string>{-103,129}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,154}}</string>
        <key>sourceSize</key>
        <string>{154,154}</string>
      </dict>
      <key>weapon_10039_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,351},{140,154}}</string>
        <key>offset</key>
        <string>{-96,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,154}}</string>
        <key>sourceSize</key>
        <string>{140,154}</string>
      </dict>
      <key>weapon_10039_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,62},{175,74}}</string>
        <key>offset</key>
        <string>{-125,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{175,74}}</string>
        <key>sourceSize</key>
        <string>{175,74}</string>
      </dict>
      <key>weapon_10039_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{177,96},{62,174}}</string>
        <key>offset</key>
        <string>{-9,147}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,174}}</string>
        <key>sourceSize</key>
        <string>{62,174}</string>
      </dict>
      <key>weapon_10039_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{60,198}}</string>
        <key>offset</key>
        <string>{-12,171}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,198}}</string>
        <key>sourceSize</key>
        <string>{60,198}</string>
      </dict>
      <key>weapon_10039_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{338,235},{157,126}}</string>
        <key>offset</key>
        <string>{-104,102}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{157,126}}</string>
        <key>sourceSize</key>
        <string>{157,126}</string>
      </dict>
      <key>weapon_10039_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,138},{103,171}}</string>
        <key>offset</key>
        <string>{20,141}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,171}}</string>
        <key>sourceSize</key>
        <string>{103,171}</string>
      </dict>
      <key>weapon_10039_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,0},{94,182}}</string>
        <key>offset</key>
        <string>{13,148}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,182}}</string>
        <key>sourceSize</key>
        <string>{94,182}</string>
      </dict>
      <key>weapon_10039_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{338,176},{57,161}}</string>
        <key>offset</key>
        <string>{-2,136}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,161}}</string>
        <key>sourceSize</key>
        <string>{57,161}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_10039_0_7.png</string>
      <key>size</key>
      <string>{512,1024}</string>
      <key>textureFileName</key>
      <string>weapon_10039_0_7.png</string>
    </dict>
  </dict>
</plist>