<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_82503_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{78,0},{190,93}}</string>
        <key>offset</key>
        <string>{17,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{190,93}}</string>
        <key>sourceSize</key>
        <string>{190,93}</string>
      </dict>
      <key>weapon_82503_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{167,192},{181,115}}</string>
        <key>offset</key>
        <string>{19,97}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{181,115}}</string>
        <key>sourceSize</key>
        <string>{181,115}</string>
      </dict>
      <key>weapon_82503_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{368,345},{161,129}}</string>
        <key>offset</key>
        <string>{21,120}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,129}}</string>
        <key>sourceSize</key>
        <string>{161,129}</string>
      </dict>
      <key>weapon_82503_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{526,154},{145,74}}</string>
        <key>offset</key>
        <string>{4,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,74}}</string>
        <key>sourceSize</key>
        <string>{145,74}</string>
      </dict>
      <key>weapon_82503_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{173,0},{179,69}}</string>
        <key>offset</key>
        <string>{8,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{179,69}}</string>
        <key>sourceSize</key>
        <string>{179,69}</string>
      </dict>
      <key>weapon_82503_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{191,76}}</string>
        <key>offset</key>
        <string>{11,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{191,76}}</string>
        <key>sourceSize</key>
        <string>{191,76}</string>
      </dict>
      <key>weapon_82503_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{499,485},{23,91}}</string>
        <key>offset</key>
        <string>{-4,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{23,91}}</string>
        <key>sourceSize</key>
        <string>{23,91}</string>
      </dict>
      <key>weapon_82503_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{636,292},{82,96}}</string>
        <key>offset</key>
        <string>{1,30}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,96}}</string>
        <key>sourceSize</key>
        <string>{82,96}</string>
      </dict>
      <key>weapon_82503_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{609,0},{117,87}}</string>
        <key>offset</key>
        <string>{4,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,87}}</string>
        <key>sourceSize</key>
        <string>{117,87}</string>
      </dict>
      <key>weapon_82503_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{602,154},{136,79}}</string>
        <key>offset</key>
        <string>{-117,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,79}}</string>
        <key>sourceSize</key>
        <string>{136,79}</string>
      </dict>
      <key>weapon_82503_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{636,390},{91,93}}</string>
        <key>offset</key>
        <string>{-71,38}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,93}}</string>
        <key>sourceSize</key>
        <string>{91,93}</string>
      </dict>
      <key>weapon_82503_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{683,119},{51,90}}</string>
        <key>offset</key>
        <string>{-30,33}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{51,90}}</string>
        <key>sourceSize</key>
        <string>{51,90}</string>
      </dict>
      <key>weapon_82503_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,193},{191,92}}</string>
        <key>offset</key>
        <string>{-160,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{191,92}}</string>
        <key>sourceSize</key>
        <string>{191,92}</string>
      </dict>
      <key>weapon_82503_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{94,192},{183,71}}</string>
        <key>offset</key>
        <string>{-153,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{183,71}}</string>
        <key>sourceSize</key>
        <string>{183,71}</string>
      </dict>
      <key>weapon_82503_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{337,181},{162,69}}</string>
        <key>offset</key>
        <string>{-135,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{162,69}}</string>
        <key>sourceSize</key>
        <string>{162,69}</string>
      </dict>
      <key>weapon_82503_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,0},{145,152}}</string>
        <key>offset</key>
        <string>{-101,151}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,152}}</string>
        <key>sourceSize</key>
        <string>{145,152}</string>
      </dict>
      <key>weapon_82503_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,0},{179,122}}</string>
        <key>offset</key>
        <string>{-139,122}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{179,122}}</string>
        <key>sourceSize</key>
        <string>{179,122}</string>
      </dict>
      <key>weapon_82503_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,386},{189,97}}</string>
        <key>offset</key>
        <string>{-153,99}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{189,97}}</string>
        <key>sourceSize</key>
        <string>{189,97}</string>
      </dict>
      <key>weapon_82503_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{191,375},{31,175}}</string>
        <key>offset</key>
        <string>{26,172}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{31,175}}</string>
        <key>sourceSize</key>
        <string>{31,175}</string>
      </dict>
      <key>weapon_82503_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{191,408},{82,166}}</string>
        <key>offset</key>
        <string>{-35,167}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,166}}</string>
        <key>sourceSize</key>
        <string>{82,166}</string>
      </dict>
      <key>weapon_82503_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{408,163},{116,155}}</string>
        <key>offset</key>
        <string>{-72,159}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,155}}</string>
        <key>sourceSize</key>
        <string>{116,155}</string>
      </dict>
      <key>weapon_82503_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{499,320},{135,147}}</string>
        <key>offset</key>
        <string>{28,135}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,147}}</string>
        <key>sourceSize</key>
        <string>{135,147}</string>
      </dict>
      <key>weapon_82503_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{368,0},{92,161}}</string>
        <key>offset</key>
        <string>{26,155}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,161}}</string>
        <key>sourceSize</key>
        <string>{92,161}</string>
      </dict>
      <key>weapon_82503_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{284,181},{51,168}}</string>
        <key>offset</key>
        <string>{26,167}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{51,168}}</string>
        <key>sourceSize</key>
        <string>{51,168}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_82503_0_7.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>weapon_82503_0_7.png</string>
    </dict>
  </dict>
</plist>