<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_10209_0_5_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{432,802},{63,87}}</string>
        <key>offset</key>
        <string>{28,75}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,87}}</string>
        <key>sourceSize</key>
        <string>{63,87}</string>
      </dict>
      <key>weapon_10209_0_5_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{370,143},{48,132}}</string>
        <key>offset</key>
        <string>{21,133}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,132}}</string>
        <key>sourceSize</key>
        <string>{48,132}</string>
      </dict>
      <key>weapon_10209_0_5_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{80,0},{45,167}}</string>
        <key>offset</key>
        <string>{11,176}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{45,167}}</string>
        <key>sourceSize</key>
        <string>{45,167}</string>
      </dict>
      <key>weapon_10209_0_5_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{90,530},{56,162}}</string>
        <key>offset</key>
        <string>{-5,179}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,162}}</string>
        <key>sourceSize</key>
        <string>{56,162}</string>
      </dict>
      <key>weapon_10209_0_5_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,968},{53,160}}</string>
        <key>offset</key>
        <string>{6,163}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,160}}</string>
        <key>sourceSize</key>
        <string>{53,160}</string>
      </dict>
      <key>weapon_10209_0_5_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{585,112},{64,104}}</string>
        <key>offset</key>
        <string>{23,106}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,104}}</string>
        <key>sourceSize</key>
        <string>{64,104}</string>
      </dict>
      <key>weapon_10209_0_5_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{157,352},{149,79}}</string>
        <key>offset</key>
        <string>{10,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{149,79}}</string>
        <key>sourceSize</key>
        <string>{149,79}</string>
      </dict>
      <key>weapon_10209_0_5_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{101,694},{159,115}}</string>
        <key>offset</key>
        <string>{-3,110}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,115}}</string>
        <key>sourceSize</key>
        <string>{159,115}</string>
      </dict>
      <key>weapon_10209_0_5_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,872},{94,162}}</string>
        <key>offset</key>
        <string>{27,164}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,162}}</string>
        <key>sourceSize</key>
        <string>{94,162}</string>
      </dict>
      <key>weapon_10209_0_5_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,357},{67,172}}</string>
        <key>offset</key>
        <string>{13,181}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,172}}</string>
        <key>sourceSize</key>
        <string>{67,172}</string>
      </dict>
      <key>weapon_10209_0_5_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{197,0},{117,145}}</string>
        <key>offset</key>
        <string>{25,142}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,145}}</string>
        <key>sourceSize</key>
        <string>{117,145}</string>
      </dict>
      <key>weapon_10209_0_5_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{148,530},{152,91}}</string>
        <key>offset</key>
        <string>{15,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,91}}</string>
        <key>sourceSize</key>
        <string>{152,91}</string>
      </dict>
      <key>weapon_10209_0_5_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,531},{171,88}}</string>
        <key>offset</key>
        <string>{-9,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{171,88}}</string>
        <key>sourceSize</key>
        <string>{171,88}</string>
      </dict>
      <key>weapon_10209_0_5_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{69,357},{171,86}}</string>
        <key>offset</key>
        <string>{2,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{171,86}}</string>
        <key>sourceSize</key>
        <string>{171,86}</string>
      </dict>
      <key>weapon_10209_0_5_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{332,293},{129,135}}</string>
        <key>offset</key>
        <string>{23,130}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,135}}</string>
        <key>sourceSize</key>
        <string>{129,135}</string>
      </dict>
      <key>weapon_10209_0_5_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{71,179},{91,171}}</string>
        <key>offset</key>
        <string>{16,168}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,171}}</string>
        <key>sourceSize</key>
        <string>{91,171}</string>
      </dict>
      <key>weapon_10209_0_5_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,684},{151,110}}</string>
        <key>offset</key>
        <string>{15,100}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,110}}</string>
        <key>sourceSize</key>
        <string>{151,110}</string>
      </dict>
      <key>weapon_10209_0_5_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{177,78}}</string>
        <key>offset</key>
        <string>{1,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{177,78}}</string>
        <key>sourceSize</key>
        <string>{177,78}</string>
      </dict>
      <key>weapon_10209_0_5_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{377,553},{105,118}}</string>
        <key>offset</key>
        <string>{-10,34}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,118}}</string>
        <key>sourceSize</key>
        <string>{105,118}</string>
      </dict>
      <key>weapon_10209_0_5_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{463,255},{114,78}}</string>
        <key>offset</key>
        <string>{-1,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,78}}</string>
        <key>sourceSize</key>
        <string>{114,78}</string>
      </dict>
      <key>weapon_10209_0_5_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{543,243},{106,103}}</string>
        <key>offset</key>
        <string>{13,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,103}}</string>
        <key>sourceSize</key>
        <string>{106,103}</string>
      </dict>
      <key>weapon_10209_0_5_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{248,837},{87,144}}</string>
        <key>offset</key>
        <string>{13,141}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,144}}</string>
        <key>sourceSize</key>
        <string>{87,144}</string>
      </dict>
      <key>weapon_10209_0_5_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{486,0},{111,83}}</string>
        <key>offset</key>
        <string>{7,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,83}}</string>
        <key>sourceSize</key>
        <string>{111,83}</string>
      </dict>
      <key>weapon_10209_0_5_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{344,430},{121,106}}</string>
        <key>offset</key>
        <string>{-14,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,106}}</string>
        <key>sourceSize</key>
        <string>{121,106}</string>
      </dict>
      <key>weapon_10209_0_5_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{463,371},{53,109}}</string>
        <key>offset</key>
        <string>{-32,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,109}}</string>
        <key>sourceSize</key>
        <string>{53,109}</string>
      </dict>
      <key>weapon_10209_0_5_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{484,548},{47,73}}</string>
        <key>offset</key>
        <string>{-20,40}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{47,73}}</string>
        <key>sourceSize</key>
        <string>{47,73}</string>
      </dict>
      <key>weapon_10209_0_5_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{446,673},{46,82}}</string>
        <key>offset</key>
        <string>{-13,70}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,82}}</string>
        <key>sourceSize</key>
        <string>{46,82}</string>
      </dict>
      <key>weapon_10209_0_5_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{420,129},{54,124}}</string>
        <key>offset</key>
        <string>{-3,123}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,124}}</string>
        <key>sourceSize</key>
        <string>{54,124}</string>
      </dict>
      <key>weapon_10209_0_5_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{484,623},{45,66}}</string>
        <key>offset</key>
        <string>{-13,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{45,66}}</string>
        <key>sourceSize</key>
        <string>{45,66}</string>
      </dict>
      <key>weapon_10209_0_5_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{337,903},{52,97}}</string>
        <key>offset</key>
        <string>{-28,34}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{52,97}}</string>
        <key>sourceSize</key>
        <string>{52,97}</string>
      </dict>
      <key>weapon_10209_0_5_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{238,317},{144,92}}</string>
        <key>offset</key>
        <string>{-111,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,92}}</string>
        <key>sourceSize</key>
        <string>{144,92}</string>
      </dict>
      <key>weapon_10209_0_5_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{241,605},{134,68}}</string>
        <key>offset</key>
        <string>{-107,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,68}}</string>
        <key>sourceSize</key>
        <string>{134,68}</string>
      </dict>
      <key>weapon_10209_0_5_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{391,903},{90,90}}</string>
        <key>offset</key>
        <string>{-72,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,90}}</string>
        <key>sourceSize</key>
        <string>{90,90}</string>
      </dict>
      <key>weapon_10209_0_5_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{452,430},{67,116}}</string>
        <key>offset</key>
        <string>{-34,123}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,116}}</string>
        <key>sourceSize</key>
        <string>{67,116}</string>
      </dict>
      <key>weapon_10209_0_5_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{571,0},{110,77}}</string>
        <key>offset</key>
        <string>{-92,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,77}}</string>
        <key>sourceSize</key>
        <string>{110,77}</string>
      </dict>
      <key>weapon_10209_0_5_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,855},{152,82}}</string>
        <key>offset</key>
        <string>{-124,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,82}}</string>
        <key>sourceSize</key>
        <string>{152,82}</string>
      </dict>
      <key>weapon_10209_0_5_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{127,0},{167,68}}</string>
        <key>offset</key>
        <string>{-114,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,68}}</string>
        <key>sourceSize</key>
        <string>{167,68}</string>
      </dict>
      <key>weapon_10209_0_5_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,704},{166,99}}</string>
        <key>offset</key>
        <string>{-125,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{166,99}}</string>
        <key>sourceSize</key>
        <string>{166,99}</string>
      </dict>
      <key>weapon_10209_0_5_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,675},{125,114}}</string>
        <key>offset</key>
        <string>{-105,128}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,114}}</string>
        <key>sourceSize</key>
        <string>{125,114}</string>
      </dict>
      <key>weapon_10209_0_5_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,0},{88,127}}</string>
        <key>offset</key>
        <string>{-59,142}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,127}}</string>
        <key>sourceSize</key>
        <string>{88,127}</string>
      </dict>
      <key>weapon_10209_0_5_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,169},{146,102}}</string>
        <key>offset</key>
        <string>{-118,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,102}}</string>
        <key>sourceSize</key>
        <string>{146,102}</string>
      </dict>
      <key>weapon_10209_0_5_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,179},{176,69}}</string>
        <key>offset</key>
        <string>{-132,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,69}}</string>
        <key>sourceSize</key>
        <string>{176,69}</string>
      </dict>
      <key>weapon_10209_0_5_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{337,802},{99,93}}</string>
        <key>offset</key>
        <string>{-43,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,93}}</string>
        <key>sourceSize</key>
        <string>{99,93}</string>
      </dict>
      <key>weapon_10209_0_5_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{476,129},{107,112}}</string>
        <key>offset</key>
        <string>{-61,121}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,112}}</string>
        <key>sourceSize</key>
        <string>{107,112}</string>
      </dict>
      <key>weapon_10209_0_5_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{268,147},{100,144}}</string>
        <key>offset</key>
        <string>{-67,158}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,144}}</string>
        <key>sourceSize</key>
        <string>{100,144}</string>
      </dict>
      <key>weapon_10209_0_5_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{316,0},{78,141}}</string>
        <key>offset</key>
        <string>{-46,161}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,141}}</string>
        <key>sourceSize</key>
        <string>{78,141}</string>
      </dict>
      <key>weapon_10209_0_5_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{241,463},{101,140}}</string>
        <key>offset</key>
        <string>{-65,148}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,140}}</string>
        <key>sourceSize</key>
        <string>{101,140}</string>
      </dict>
      <key>weapon_10209_0_5_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,0},{101,91}}</string>
        <key>offset</key>
        <string>{-55,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,91}}</string>
        <key>sourceSize</key>
        <string>{101,91}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_10209_0_5.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>weapon_10209_0_5.png</string>
    </dict>
  </dict>
</plist>