<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_10025_0_3_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{291,88},{62,137}}</string>
        <key>offset</key>
        <string>{28,141}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,137}}</string>
        <key>sourceSize</key>
        <string>{62,137}</string>
      </dict>
      <key>weapon_10025_0_3_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{275,152},{27,129}}</string>
        <key>offset</key>
        <string>{9,146}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{27,129}}</string>
        <key>sourceSize</key>
        <string>{27,129}</string>
      </dict>
      <key>weapon_10025_0_3_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,619},{68,46}}</string>
        <key>offset</key>
        <string>{-29,76}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,46}}</string>
        <key>sourceSize</key>
        <string>{68,46}</string>
      </dict>
      <key>weapon_10025_0_3_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{112,554},{95,42}}</string>
        <key>offset</key>
        <string>{-43,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,42}}</string>
        <key>sourceSize</key>
        <string>{95,42}</string>
      </dict>
      <key>weapon_10025_0_3_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{439,515},{67,81}}</string>
        <key>offset</key>
        <string>{-15,117}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,81}}</string>
        <key>sourceSize</key>
        <string>{67,81}</string>
      </dict>
      <key>weapon_10025_0_3_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{406,223},{32,126}}</string>
        <key>offset</key>
        <string>{30,142}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{32,126}}</string>
        <key>sourceSize</key>
        <string>{32,126}</string>
      </dict>
      <key>weapon_10025_0_3_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{349,426},{88,108}}</string>
        <key>offset</key>
        <string>{26,109}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,108}}</string>
        <key>sourceSize</key>
        <string>{88,108}</string>
      </dict>
      <key>weapon_10025_0_3_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,193},{24,131}}</string>
        <key>offset</key>
        <string>{20,144}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{24,131}}</string>
        <key>sourceSize</key>
        <string>{24,131}</string>
      </dict>
      <key>weapon_10025_0_3_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{245,313},{114,87}}</string>
        <key>offset</key>
        <string>{-56,109}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,87}}</string>
        <key>sourceSize</key>
        <string>{114,87}</string>
      </dict>
      <key>weapon_10025_0_3_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{463,25},{149,47}}</string>
        <key>offset</key>
        <string>{-88,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{149,47}}</string>
        <key>sourceSize</key>
        <string>{149,47}</string>
      </dict>
      <key>weapon_10025_0_3_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{126,306},{75,117}}</string>
        <key>offset</key>
        <string>{-24,139}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,117}}</string>
        <key>sourceSize</key>
        <string>{75,117}</string>
      </dict>
      <key>weapon_10025_0_3_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{133,216},{125,88}}</string>
        <key>offset</key>
        <string>{27,101}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,88}}</string>
        <key>sourceSize</key>
        <string>{125,88}</string>
      </dict>
      <key>weapon_10025_0_3_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{209,584},{57,75}}</string>
        <key>offset</key>
        <string>{20,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,75}}</string>
        <key>sourceSize</key>
        <string>{57,75}</string>
      </dict>
      <key>weapon_10025_0_3_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{451,176},{40,131}}</string>
        <key>offset</key>
        <string>{17,138}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{40,131}}</string>
        <key>sourceSize</key>
        <string>{40,131}</string>
      </dict>
      <key>weapon_10025_0_3_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{275,181},{88,129}}</string>
        <key>offset</key>
        <string>{-38,145}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,129}}</string>
        <key>sourceSize</key>
        <string>{88,129}</string>
      </dict>
      <key>weapon_10025_0_3_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{115,447},{110,105}}</string>
        <key>offset</key>
        <string>{-69,127}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,105}}</string>
        <key>sourceSize</key>
        <string>{110,105}</string>
      </dict>
      <key>weapon_10025_0_3_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,36},{44,146}}</string>
        <key>offset</key>
        <string>{-6,158}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{44,146}}</string>
        <key>sourceSize</key>
        <string>{44,146}</string>
      </dict>
      <key>weapon_10025_0_3_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,82},{145,39}}</string>
        <key>offset</key>
        <string>{22,41}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,39}}</string>
        <key>sourceSize</key>
        <string>{145,39}</string>
      </dict>
      <key>weapon_10025_0_3_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{406,351},{23,62}}</string>
        <key>offset</key>
        <string>{10,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{23,62}}</string>
        <key>sourceSize</key>
        <string>{23,62}</string>
      </dict>
      <key>weapon_10025_0_3_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,264},{41,124}}</string>
        <key>offset</key>
        <string>{12,128}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{41,124}}</string>
        <key>sourceSize</key>
        <string>{41,124}</string>
      </dict>
      <key>weapon_10025_0_3_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{34,154}}</string>
        <key>offset</key>
        <string>{11,162}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{34,154}}</string>
        <key>sourceSize</key>
        <string>{34,154}</string>
      </dict>
      <key>weapon_10025_0_3_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{430,88},{19,133}}</string>
        <key>offset</key>
        <string>{3,155}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{19,133}}</string>
        <key>sourceSize</key>
        <string>{19,133}</string>
      </dict>
      <key>weapon_10025_0_3_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{311,0},{23,151}}</string>
        <key>offset</key>
        <string>{10,164}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{23,151}}</string>
        <key>sourceSize</key>
        <string>{23,151}</string>
      </dict>
      <key>weapon_10025_0_3_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{439,427},{86,50}}</string>
        <key>offset</key>
        <string>{13,24}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,50}}</string>
        <key>sourceSize</key>
        <string>{86,50}</string>
      </dict>
      <key>weapon_10025_0_3_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,536},{58,77}}</string>
        <key>offset</key>
        <string>{-38,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,77}}</string>
        <key>sourceSize</key>
        <string>{58,77}</string>
      </dict>
      <key>weapon_10025_0_3_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{440,309},{31,116}}</string>
        <key>offset</key>
        <string>{12,120}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{31,116}}</string>
        <key>sourceSize</key>
        <string>{31,116}</string>
      </dict>
      <key>weapon_10025_0_3_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,123},{68,139}}</string>
        <key>offset</key>
        <string>{9,149}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,139}}</string>
        <key>sourceSize</key>
        <string>{68,139}</string>
      </dict>
      <key>weapon_10025_0_3_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,307},{100,117}}</string>
        <key>offset</key>
        <string>{-6,144}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,117}}</string>
        <key>sourceSize</key>
        <string>{100,117}</string>
      </dict>
      <key>weapon_10025_0_3_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{141,148},{66,132}}</string>
        <key>offset</key>
        <string>{-4,154}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,132}}</string>
        <key>sourceSize</key>
        <string>{66,132}</string>
      </dict>
      <key>weapon_10025_0_3_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{473,309},{32,59}}</string>
        <key>offset</key>
        <string>{-14,24}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{32,59}}</string>
        <key>sourceSize</key>
        <string>{32,59}</string>
      </dict>
      <key>weapon_10025_0_3_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,492},{77,110}}</string>
        <key>offset</key>
        <string>{-57,114}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,110}}</string>
        <key>sourceSize</key>
        <string>{77,110}</string>
      </dict>
      <key>weapon_10025_0_3_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{119,383},{20,113}}</string>
        <key>offset</key>
        <string>{6,119}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{20,113}}</string>
        <key>sourceSize</key>
        <string>{20,113}</string>
      </dict>
      <key>weapon_10025_0_3_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{234,402},{113,100}}</string>
        <key>offset</key>
        <string>{-5,120}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,100}}</string>
        <key>sourceSize</key>
        <string>{113,100}</string>
      </dict>
      <key>weapon_10025_0_3_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,27},{147,57}}</string>
        <key>offset</key>
        <string>{-11,98}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,57}}</string>
        <key>sourceSize</key>
        <string>{147,57}</string>
      </dict>
      <key>weapon_10025_0_3_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{227,504},{78,101}}</string>
        <key>offset</key>
        <string>{-5,134}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,101}}</string>
        <key>sourceSize</key>
        <string>{78,101}</string>
      </dict>
      <key>weapon_10025_0_3_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{260,271},{124,40}}</string>
        <key>offset</key>
        <string>{-103,37}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,40}}</string>
        <key>sourceSize</key>
        <string>{124,40}</string>
      </dict>
      <key>weapon_10025_0_3_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{147,86},{60,142}}</string>
        <key>offset</key>
        <string>{-32,147}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,142}}</string>
        <key>sourceSize</key>
        <string>{60,142}</string>
      </dict>
      <key>weapon_10025_0_3_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{119,405},{40,113}}</string>
        <key>offset</key>
        <string>{-9,126}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{40,113}}</string>
        <key>sourceSize</key>
        <string>{40,113}</string>
      </dict>
      <key>weapon_10025_0_3_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,571},{92,46}}</string>
        <key>offset</key>
        <string>{-6,80}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,46}}</string>
        <key>sourceSize</key>
        <string>{92,46}</string>
      </dict>
      <key>weapon_10025_0_3_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{361,313},{111,43}}</string>
        <key>offset</key>
        <string>{6,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,43}}</string>
        <key>sourceSize</key>
        <string>{111,43}</string>
      </dict>
      <key>weapon_10025_0_3_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{94,598},{45,70}}</string>
        <key>offset</key>
        <string>{11,115}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{45,70}}</string>
        <key>sourceSize</key>
        <string>{45,70}</string>
      </dict>
      <key>weapon_10025_0_3_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{311,25},{150,61}}</string>
        <key>offset</key>
        <string>{-119,77}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,61}}</string>
        <key>sourceSize</key>
        <string>{150,61}</string>
      </dict>
      <key>weapon_10025_0_3_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,0},{25,153}}</string>
        <key>offset</key>
        <string>{17,159}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{25,153}}</string>
        <key>sourceSize</key>
        <string>{25,153}</string>
      </dict>
      <key>weapon_10025_0_3_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,219},{43,125}}</string>
        <key>offset</key>
        <string>{-7,141}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{43,125}}</string>
        <key>sourceSize</key>
        <string>{43,125}</string>
      </dict>
      <key>weapon_10025_0_3_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{473,370},{32,32}}</string>
        <key>offset</key>
        <string>{4,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{32,32}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>weapon_10025_0_3_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{493,176},{17,53}}</string>
        <key>offset</key>
        <string>{30,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{17,53}}</string>
        <key>sourceSize</key>
        <string>{17,53}</string>
      </dict>
      <key>weapon_10025_0_3_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{409,536},{23,64}}</string>
        <key>offset</key>
        <string>{16,107}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{23,64}}</string>
        <key>sourceSize</key>
        <string>{23,64}</string>
      </dict>
      <key>weapon_10025_0_3_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,409},{81,113}}</string>
        <key>offset</key>
        <string>{-51,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,113}}</string>
        <key>sourceSize</key>
        <string>{81,113}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_10025_0_3.png</string>
      <key>size</key>
      <string>{512,1024}</string>
      <key>textureFileName</key>
      <string>weapon_10025_0_3.png</string>
    </dict>
  </dict>
</plist>