<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_10002_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{329,477},{14,62}}</string>
        <key>offset</key>
        <string>{34,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{14,62}}</string>
        <key>sourceSize</key>
        <string>{14,62}</string>
      </dict>
      <key>weapon_10002_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{141,469},{12,73}}</string>
        <key>offset</key>
        <string>{34,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{12,73}}</string>
        <key>sourceSize</key>
        <string>{12,73}</string>
      </dict>
      <key>weapon_10002_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{518,366},{7,79}}</string>
        <key>offset</key>
        <string>{35,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{7,79}}</string>
        <key>sourceSize</key>
        <string>{7,79}</string>
      </dict>
      <key>weapon_10002_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{518,356},{8,87}}</string>
        <key>offset</key>
        <string>{35,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{8,87}}</string>
        <key>sourceSize</key>
        <string>{8,87}</string>
      </dict>
      <key>weapon_10002_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{141,457},{10,76}}</string>
        <key>offset</key>
        <string>{34,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{10,76}}</string>
        <key>sourceSize</key>
        <string>{10,76}</string>
      </dict>
      <key>weapon_10002_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{141,430},{11,68}}</string>
        <key>offset</key>
        <string>{35,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{11,68}}</string>
        <key>sourceSize</key>
        <string>{11,68}</string>
      </dict>
      <key>weapon_10002_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{372,0},{101,54}}</string>
        <key>offset</key>
        <string>{6,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,54}}</string>
        <key>sourceSize</key>
        <string>{101,54}</string>
      </dict>
      <key>weapon_10002_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,109},{104,57}}</string>
        <key>offset</key>
        <string>{7,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,57}}</string>
        <key>sourceSize</key>
        <string>{104,57}</string>
      </dict>
      <key>weapon_10002_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{315,214},{102,60}}</string>
        <key>offset</key>
        <string>{10,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,60}}</string>
        <key>sourceSize</key>
        <string>{102,60}</string>
      </dict>
      <key>weapon_10002_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{159,273},{105,65}}</string>
        <key>offset</key>
        <string>{15,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,65}}</string>
        <key>sourceSize</key>
        <string>{105,65}</string>
      </dict>
      <key>weapon_10002_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{315,318},{102,58}}</string>
        <key>offset</key>
        <string>{12,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,58}}</string>
        <key>sourceSize</key>
        <string>{102,58}</string>
      </dict>
      <key>weapon_10002_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{428,0},{101,55}}</string>
        <key>offset</key>
        <string>{9,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,55}}</string>
        <key>sourceSize</key>
        <string>{101,55}</string>
      </dict>
      <key>weapon_10002_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{95,279},{133,62}}</string>
        <key>offset</key>
        <string>{-14,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,62}}</string>
        <key>sourceSize</key>
        <string>{133,62}</string>
      </dict>
      <key>weapon_10002_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{93,0},{139,53}}</string>
        <key>offset</key>
        <string>{-13,26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,53}}</string>
        <key>sourceSize</key>
        <string>{139,53}</string>
      </dict>
      <key>weapon_10002_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,288},{141,48}}</string>
        <key>offset</key>
        <string>{-8,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,48}}</string>
        <key>sourceSize</key>
        <string>{141,48}</string>
      </dict>
      <key>weapon_10002_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{142,47}}</string>
        <key>offset</key>
        <string>{0,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,47}}</string>
        <key>sourceSize</key>
        <string>{142,47}</string>
      </dict>
      <key>weapon_10002_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,431},{139,51}}</string>
        <key>offset</key>
        <string>{-5,29}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,51}}</string>
        <key>sourceSize</key>
        <string>{139,51}</string>
      </dict>
      <key>weapon_10002_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{93,141},{136,56}}</string>
        <key>offset</key>
        <string>{-10,26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,56}}</string>
        <key>sourceSize</key>
        <string>{136,56}</string>
      </dict>
      <key>weapon_10002_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{194,0},{88,107}}</string>
        <key>offset</key>
        <string>{-12,40}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,107}}</string>
        <key>sourceSize</key>
        <string>{88,107}</string>
      </dict>
      <key>weapon_10002_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{485,0},{93,97}}</string>
        <key>offset</key>
        <string>{-10,39}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,97}}</string>
        <key>sourceSize</key>
        <string>{93,97}</string>
      </dict>
      <key>weapon_10002_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{329,378},{97,87}}</string>
        <key>offset</key>
        <string>{-7,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,87}}</string>
        <key>sourceSize</key>
        <string>{97,87}</string>
      </dict>
      <key>weapon_10002_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{418,378},{97,81}}</string>
        <key>offset</key>
        <string>{-1,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,81}}</string>
        <key>sourceSize</key>
        <string>{97,81}</string>
      </dict>
      <key>weapon_10002_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{533,99},{96,92}}</string>
        <key>offset</key>
        <string>{-5,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,92}}</string>
        <key>sourceSize</key>
        <string>{96,92}</string>
      </dict>
      <key>weapon_10002_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{344,105},{92,102}}</string>
        <key>offset</key>
        <string>{-9,38}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,102}}</string>
        <key>sourceSize</key>
        <string>{92,102}</string>
      </dict>
      <key>weapon_10002_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{95,414},{14,125}}</string>
        <key>offset</key>
        <string>{2,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{14,125}}</string>
        <key>sourceSize</key>
        <string>{14,125}</string>
      </dict>
      <key>weapon_10002_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,497},{12,115}}</string>
        <key>offset</key>
        <string>{4,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{12,115}}</string>
        <key>sourceSize</key>
        <string>{12,115}</string>
      </dict>
      <key>weapon_10002_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{123,484},{7,110}}</string>
        <key>offset</key>
        <string>{8,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{7,110}}</string>
        <key>sourceSize</key>
        <string>{7,110}</string>
      </dict>
      <key>weapon_10002_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{377,209},{8,101}}</string>
        <key>offset</key>
        <string>{7,39}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{8,101}}</string>
        <key>sourceSize</key>
        <string>{8,101}</string>
      </dict>
      <key>weapon_10002_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,497},{10,112}}</string>
        <key>offset</key>
        <string>{6,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{10,112}}</string>
        <key>sourceSize</key>
        <string>{10,112}</string>
      </dict>
      <key>weapon_10002_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,484},{11,121}}</string>
        <key>offset</key>
        <string>{4,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{11,121}}</string>
        <key>sourceSize</key>
        <string>{11,121}</string>
      </dict>
      <key>weapon_10002_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{387,209},{101,97}}</string>
        <key>offset</key>
        <string>{-57,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,97}}</string>
        <key>sourceSize</key>
        <string>{101,97}</string>
      </dict>
      <key>weapon_10002_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{226,215},{104,87}}</string>
        <key>offset</key>
        <string>{-61,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,87}}</string>
        <key>sourceSize</key>
        <string>{104,87}</string>
      </dict>
      <key>weapon_10002_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{259,109},{103,83}}</string>
        <key>offset</key>
        <string>{-63,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,83}}</string>
        <key>sourceSize</key>
        <string>{103,83}</string>
      </dict>
      <key>weapon_10002_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{222,380},{105,75}}</string>
        <key>offset</key>
        <string>{-70,41}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,75}}</string>
        <key>sourceSize</key>
        <string>{105,75}</string>
      </dict>
      <key>weapon_10002_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{284,0},{103,86}}</string>
        <key>offset</key>
        <string>{-65,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,86}}</string>
        <key>sourceSize</key>
        <string>{103,86}</string>
      </dict>
      <key>weapon_10002_0_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{438,103},{101,93}}</string>
        <key>offset</key>
        <string>{-60,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,93}}</string>
        <key>sourceSize</key>
        <string>{101,93}</string>
      </dict>
      <key>weapon_10002_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{151,138},{133,47}}</string>
        <key>offset</key>
        <string>{-69,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,47}}</string>
        <key>sourceSize</key>
        <string>{133,47}</string>
      </dict>
      <key>weapon_10002_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,287},{138,43}}</string>
        <key>offset</key>
        <string>{-76,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,43}}</string>
        <key>sourceSize</key>
        <string>{138,43}</string>
      </dict>
      <key>weapon_10002_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{47,144},{141,44}}</string>
        <key>offset</key>
        <string>{-83,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,44}}</string>
        <key>sourceSize</key>
        <string>{141,44}</string>
      </dict>
      <key>weapon_10002_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,144},{142,45}}</string>
        <key>offset</key>
        <string>{-92,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,45}}</string>
        <key>sourceSize</key>
        <string>{142,45}</string>
      </dict>
      <key>weapon_10002_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{49,0},{140,42}}</string>
        <key>offset</key>
        <string>{-85,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,42}}</string>
        <key>sourceSize</key>
        <string>{140,42}</string>
      </dict>
      <key>weapon_10002_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{148,0},{136,44}}</string>
        <key>offset</key>
        <string>{-76,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,44}}</string>
        <key>sourceSize</key>
        <string>{136,44}</string>
      </dict>
      <key>weapon_10002_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{518,305},{88,49}}</string>
        <key>offset</key>
        <string>{-26,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,49}}</string>
        <key>sourceSize</key>
        <string>{88,49}</string>
      </dict>
      <key>weapon_10002_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{501,375},{93,55}}</string>
        <key>offset</key>
        <string>{-33,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,55}}</string>
        <key>sourceSize</key>
        <string>{93,55}</string>
      </dict>
      <key>weapon_10002_0_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{419,312},{97,61}}</string>
        <key>offset</key>
        <string>{-40,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,61}}</string>
        <key>sourceSize</key>
        <string>{97,61}</string>
      </dict>
      <key>weapon_10002_0_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{486,206},{97,68}}</string>
        <key>offset</key>
        <string>{-46,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,68}}</string>
        <key>sourceSize</key>
        <string>{97,68}</string>
      </dict>
      <key>weapon_10002_0_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{580,0},{96,58}}</string>
        <key>offset</key>
        <string>{-41,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,58}}</string>
        <key>sourceSize</key>
        <string>{96,58}</string>
      </dict>
      <key>weapon_10002_0_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{235,457},{92,52}}</string>
        <key>offset</key>
        <string>{-33,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,52}}</string>
        <key>sourceSize</key>
        <string>{92,52}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_10002_0_1.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>weapon_10002_0_1.png</string>
    </dict>
  </dict>
</plist>