<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_10035_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{171,164},{167,102}}</string>
        <key>offset</key>
        <string>{5,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,102}}</string>
        <key>sourceSize</key>
        <string>{167,102}</string>
      </dict>
      <key>weapon_10035_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{155,481},{144,124}}</string>
        <key>offset</key>
        <string>{8,102}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,124}}</string>
        <key>sourceSize</key>
        <string>{144,124}</string>
      </dict>
      <key>weapon_10035_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,523},{123,134}}</string>
        <key>offset</key>
        <string>{9,119}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,134}}</string>
        <key>sourceSize</key>
        <string>{123,134}</string>
      </dict>
      <key>weapon_10035_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{324,479},{148,69}}</string>
        <key>offset</key>
        <string>{-7,34}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,69}}</string>
        <key>sourceSize</key>
        <string>{148,69}</string>
      </dict>
      <key>weapon_10035_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{136,607},{129,78}}</string>
        <key>offset</key>
        <string>{3,52}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,78}}</string>
        <key>sourceSize</key>
        <string>{129,78}</string>
      </dict>
      <key>weapon_10035_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{191,0},{188,91}}</string>
        <key>offset</key>
        <string>{-8,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{188,91}}</string>
        <key>sourceSize</key>
        <string>{188,91}</string>
      </dict>
      <key>weapon_10035_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{376,660},{65,85}}</string>
        <key>offset</key>
        <string>{-12,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{65,85}}</string>
        <key>sourceSize</key>
        <string>{65,85}</string>
      </dict>
      <key>weapon_10035_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{376,727},{70,73}}</string>
        <key>offset</key>
        <string>{-7,43}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,73}}</string>
        <key>sourceSize</key>
        <string>{70,73}</string>
      </dict>
      <key>weapon_10035_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{168,268},{158,93}}</string>
        <key>offset</key>
        <string>{-12,42}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{158,93}}</string>
        <key>sourceSize</key>
        <string>{158,93}</string>
      </dict>
      <key>weapon_10035_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,648},{110,94}}</string>
        <key>offset</key>
        <string>{-78,55}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,94}}</string>
        <key>sourceSize</key>
        <string>{110,94}</string>
      </dict>
      <key>weapon_10035_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{267,647},{107,93}}</string>
        <key>offset</key>
        <string>{-63,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,93}}</string>
        <key>sourceSize</key>
        <string>{107,93}</string>
      </dict>
      <key>weapon_10035_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{434,550},{56,108}}</string>
        <key>offset</key>
        <string>{-8,39}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,108}}</string>
        <key>sourceSize</key>
        <string>{56,108}</string>
      </dict>
      <key>weapon_10035_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{381,0},{175,100}}</string>
        <key>offset</key>
        <string>{-125,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{175,100}}</string>
        <key>sourceSize</key>
        <string>{175,100}</string>
      </dict>
      <key>weapon_10035_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,401},{153,120}}</string>
        <key>offset</key>
        <string>{-105,97}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,120}}</string>
        <key>sourceSize</key>
        <string>{153,120}</string>
      </dict>
      <key>weapon_10035_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{301,550},{131,95}}</string>
        <key>offset</key>
        <string>{-83,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,95}}</string>
        <key>sourceSize</key>
        <string>{131,95}</string>
      </dict>
      <key>weapon_10035_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{328,287},{155,140}}</string>
        <key>offset</key>
        <string>{-92,134}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,140}}</string>
        <key>sourceSize</key>
        <string>{155,140}</string>
      </dict>
      <key>weapon_10035_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,263},{136,166}}</string>
        <key>offset</key>
        <string>{-84,148}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,166}}</string>
        <key>sourceSize</key>
        <string>{136,166}</string>
      </dict>
      <key>weapon_10035_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,77},{186,79}}</string>
        <key>offset</key>
        <string>{-130,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{186,79}}</string>
        <key>sourceSize</key>
        <string>{186,79}</string>
      </dict>
      <key>weapon_10035_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{188,93},{69,173}}</string>
        <key>offset</key>
        <string>{-4,158}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,173}}</string>
        <key>sourceSize</key>
        <string>{69,173}</string>
      </dict>
      <key>weapon_10035_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{75,189}}</string>
        <key>offset</key>
        <string>{-15,169}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,189}}</string>
        <key>sourceSize</key>
        <string>{75,189}</string>
      </dict>
      <key>weapon_10035_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{168,363},{154,116}}</string>
        <key>offset</key>
        <string>{-91,112}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,116}}</string>
        <key>sourceSize</key>
        <string>{154,116}</string>
      </dict>
      <key>weapon_10035_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{340,177},{108,159}}</string>
        <key>offset</key>
        <string>{17,135}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,159}}</string>
        <key>sourceSize</key>
        <string>{108,159}</string>
      </dict>
      <key>weapon_10035_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,158},{103,169}}</string>
        <key>offset</key>
        <string>{12,149}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,169}}</string>
        <key>sourceSize</key>
        <string>{103,169}</string>
      </dict>
      <key>weapon_10035_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{324,429},{48,151}}</string>
        <key>offset</key>
        <string>{6,143}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,151}}</string>
        <key>sourceSize</key>
        <string>{48,151}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_10035_0_7.png</string>
      <key>size</key>
      <string>{512,1024}</string>
      <key>textureFileName</key>
      <string>weapon_10035_0_7.png</string>
    </dict>
  </dict>
</plist>