<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_82503_0_3_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,575},{80,177}}</string>
        <key>offset</key>
        <string>{22,181}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,177}}</string>
        <key>sourceSize</key>
        <string>{80,177}</string>
      </dict>
      <key>weapon_82503_0_3_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{160,365},{51,166}}</string>
        <key>offset</key>
        <string>{-4,181}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{51,166}}</string>
        <key>sourceSize</key>
        <string>{51,166}</string>
      </dict>
      <key>weapon_82503_0_3_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{773,111},{97,82}}</string>
        <key>offset</key>
        <string>{-56,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,82}}</string>
        <key>sourceSize</key>
        <string>{97,82}</string>
      </dict>
      <key>weapon_82503_0_3_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{430,623},{128,70}}</string>
        <key>offset</key>
        <string>{-76,74}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,70}}</string>
        <key>sourceSize</key>
        <string>{128,70}</string>
      </dict>
      <key>weapon_82503_0_3_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{566,146},{113,122}}</string>
        <key>offset</key>
        <string>{-43,148}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,122}}</string>
        <key>sourceSize</key>
        <string>{113,122}</string>
      </dict>
      <key>weapon_82503_0_3_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{155,730},{49,165}}</string>
        <key>offset</key>
        <string>{22,180}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{49,165}}</string>
        <key>sourceSize</key>
        <string>{49,165}</string>
      </dict>
      <key>weapon_82503_0_3_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{430,481},{121,140}}</string>
        <key>offset</key>
        <string>{14,139}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,140}}</string>
        <key>sourceSize</key>
        <string>{121,140}</string>
      </dict>
      <key>weapon_82503_0_3_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{175,0},{41,168}}</string>
        <key>offset</key>
        <string>{13,181}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{41,168}}</string>
        <key>sourceSize</key>
        <string>{41,168}</string>
      </dict>
      <key>weapon_82503_0_3_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{423,331},{148,127}}</string>
        <key>offset</key>
        <string>{-96,142}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,127}}</string>
        <key>sourceSize</key>
        <string>{148,127}</string>
      </dict>
      <key>weapon_82503_0_3_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,386},{187,80}}</string>
        <key>offset</key>
        <string>{-134,97}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{187,80}}</string>
        <key>sourceSize</key>
        <string>{187,80}</string>
      </dict>
      <key>weapon_82503_0_3_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,560},{127,156}}</string>
        <key>offset</key>
        <string>{-58,178}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,156}}</string>
        <key>sourceSize</key>
        <string>{127,156}</string>
      </dict>
      <key>weapon_82503_0_3_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{213,338},{165,128}}</string>
        <key>offset</key>
        <string>{26,131}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{165,128}}</string>
        <key>sourceSize</key>
        <string>{165,128}</string>
      </dict>
      <key>weapon_82503_0_3_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{749,0},{102,109}}</string>
        <key>offset</key>
        <string>{1,100}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,109}}</string>
        <key>sourceSize</key>
        <string>{102,109}</string>
      </dict>
      <key>weapon_82503_0_3_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{82,386},{76,173}}</string>
        <key>offset</key>
        <string>{-2,180}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,173}}</string>
        <key>sourceSize</key>
        <string>{76,173}</string>
      </dict>
      <key>weapon_82503_0_3_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{207,170},{133,166}}</string>
        <key>offset</key>
        <string>{-73,181}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,166}}</string>
        <key>sourceSize</key>
        <string>{133,166}</string>
      </dict>
      <key>weapon_82503_0_3_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{424,161},{148,140}}</string>
        <key>offset</key>
        <string>{-105,162}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,140}}</string>
        <key>sourceSize</key>
        <string>{148,140}</string>
      </dict>
      <key>weapon_82503_0_3_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{152,561},{70,167}}</string>
        <key>offset</key>
        <string>{-25,181}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,167}}</string>
        <key>sourceSize</key>
        <string>{70,167}</string>
      </dict>
      <key>weapon_82503_0_3_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{104,0},{190,69}}</string>
        <key>offset</key>
        <string>{23,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{190,69}}</string>
        <key>sourceSize</key>
        <string>{190,69}</string>
      </dict>
      <key>weapon_82503_0_3_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{631,449},{45,100}}</string>
        <key>offset</key>
        <string>{-5,84}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{45,100}}</string>
        <key>sourceSize</key>
        <string>{45,100}</string>
      </dict>
      <key>weapon_82503_0_3_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,0},{80,166}}</string>
        <key>offset</key>
        <string>{-9,170}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,166}}</string>
        <key>sourceSize</key>
        <string>{80,166}</string>
      </dict>
      <key>weapon_82503_0_3_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{82,561},{68,172}}</string>
        <key>offset</key>
        <string>{-9,181}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,172}}</string>
        <key>sourceSize</key>
        <string>{68,172}</string>
      </dict>
      <key>weapon_82503_0_3_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{155,897},{30,160}}</string>
        <key>offset</key>
        <string>{-4,181}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{30,160}}</string>
        <key>sourceSize</key>
        <string>{30,160}</string>
      </dict>
      <key>weapon_82503_0_3_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{109,735},{44,168}}</string>
        <key>offset</key>
        <string>{-1,181}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{44,168}}</string>
        <key>sourceSize</key>
        <string>{44,168}</string>
      </dict>
      <key>weapon_82503_0_3_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{681,122},{114,90}}</string>
        <key>offset</key>
        <string>{15,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,90}}</string>
        <key>sourceSize</key>
        <string>{114,90}</string>
      </dict>
      <key>weapon_82503_0_3_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{662,0},{85,120}}</string>
        <key>offset</key>
        <string>{-61,106}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,120}}</string>
        <key>sourceSize</key>
        <string>{85,120}</string>
      </dict>
      <key>weapon_82503_0_3_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{213,505},{53,160}}</string>
        <key>offset</key>
        <string>{0,160}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{53,160}}</string>
        <key>sourceSize</key>
        <string>{53,160}</string>
      </dict>
      <key>weapon_82503_0_3_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{108,192},{97,171}}</string>
        <key>offset</key>
        <string>{5,181}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,171}}</string>
        <key>sourceSize</key>
        <string>{97,171}</string>
      </dict>
      <key>weapon_82503_0_3_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{323,718},{131,152}}</string>
        <key>offset</key>
        <string>{-5,180}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,152}}</string>
        <key>sourceSize</key>
        <string>{131,152}</string>
      </dict>
      <key>weapon_82503_0_3_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{379,0},{111,159}}</string>
        <key>offset</key>
        <string>{-22,181}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,159}}</string>
        <key>sourceSize</key>
        <string>{111,159}</string>
      </dict>
      <key>weapon_82503_0_3_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{681,238},{56,99}}</string>
        <key>offset</key>
        <string>{-31,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,99}}</string>
        <key>sourceSize</key>
        <string>{56,99}</string>
      </dict>
      <key>weapon_82503_0_3_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{317,892},{126,157}}</string>
        <key>offset</key>
        <string>{-90,154}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,157}}</string>
        <key>sourceSize</key>
        <string>{126,157}</string>
      </dict>
      <key>weapon_82503_0_3_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{492,0},{41,148}}</string>
        <key>offset</key>
        <string>{-5,154}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{41,148}}</string>
        <key>sourceSize</key>
        <string>{41,148}</string>
      </dict>
      <key>weapon_82503_0_3_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{535,0},{144,125}}</string>
        <key>offset</key>
        <string>{-5,142}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,125}}</string>
        <key>sourceSize</key>
        <string>{144,125}</string>
      </dict>
      <key>weapon_82503_0_3_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{191,102}}</string>
        <key>offset</key>
        <string>{-6,126}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{191,102}}</string>
        <key>sourceSize</key>
        <string>{191,102}</string>
      </dict>
      <key>weapon_82503_0_3_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{552,311},{128,136}}</string>
        <key>offset</key>
        <string>{-22,168}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,136}}</string>
        <key>sourceSize</key>
        <string>{128,136}</string>
      </dict>
      <key>weapon_82503_0_3_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,0},{166,77}}</string>
        <key>offset</key>
        <string>{-144,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{166,77}}</string>
        <key>sourceSize</key>
        <string>{166,77}</string>
      </dict>
      <key>weapon_82503_0_3_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,754},{107,176}}</string>
        <key>offset</key>
        <string>{-58,181}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,176}}</string>
        <key>sourceSize</key>
        <string>{107,176}</string>
      </dict>
      <key>weapon_82503_0_3_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{353,560},{75,152}}</string>
        <key>offset</key>
        <string>{-26,164}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{75,152}}</string>
        <key>sourceSize</key>
        <string>{75,152}</string>
      </dict>
      <key>weapon_82503_0_3_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{177,929},{127,73}}</string>
        <key>offset</key>
        <string>{-10,100}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,73}}</string>
        <key>sourceSize</key>
        <string>{127,73}</string>
      </dict>
      <key>weapon_82503_0_3_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{343,331},{151,78}}</string>
        <key>offset</key>
        <string>{5,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,78}}</string>
        <key>sourceSize</key>
        <string>{151,78}</string>
      </dict>
      <key>weapon_82503_0_3_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{553,449},{76,116}}</string>
        <key>offset</key>
        <string>{1,142}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{76,116}}</string>
        <key>sourceSize</key>
        <string>{76,116}</string>
      </dict>
      <key>weapon_82503_0_3_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,193},{191,106}}</string>
        <key>offset</key>
        <string>{-166,107}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{191,106}}</string>
        <key>sourceSize</key>
        <string>{191,106}</string>
      </dict>
      <key>weapon_82503_0_3_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,932},{52,175}}</string>
        <key>offset</key>
        <string>{3,181}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{52,175}}</string>
        <key>sourceSize</key>
        <string>{52,175}</string>
      </dict>
      <key>weapon_82503_0_3_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{342,168},{80,161}}</string>
        <key>offset</key>
        <string>{-23,176}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{80,161}}</string>
        <key>sourceSize</key>
        <string>{80,161}</string>
      </dict>
      <key>weapon_82503_0_3_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{895,0},{56,58}}</string>
        <key>offset</key>
        <string>{-4,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,58}}</string>
        <key>sourceSize</key>
        <string>{56,58}</string>
      </dict>
      <key>weapon_82503_0_3_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{853,0},{40,91}}</string>
        <key>offset</key>
        <string>{18,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{40,91}}</string>
        <key>sourceSize</key>
        <string>{40,91}</string>
      </dict>
      <key>weapon_82503_0_3_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{553,567},{45,104}}</string>
        <key>offset</key>
        <string>{4,131}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{45,104}}</string>
        <key>sourceSize</key>
        <string>{45,104}</string>
      </dict>
      <key>weapon_82503_0_3_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{206,730},{115,160}}</string>
        <key>offset</key>
        <string>{-82,172}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,160}}</string>
        <key>sourceSize</key>
        <string>{115,160}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_82503_0_3.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>weapon_82503_0_3.png</string>
    </dict>
  </dict>
</plist>