<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_10017_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{60,0},{213,72}}</string>
        <key>offset</key>
        <string>{-1,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{213,72}}</string>
        <key>sourceSize</key>
        <string>{213,72}</string>
      </dict>
      <key>weapon_10017_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{248,0},{188,100}}</string>
        <key>offset</key>
        <string>{3,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{188,100}}</string>
        <key>sourceSize</key>
        <string>{188,100}</string>
      </dict>
      <key>weapon_10017_0_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{504,0},{168,116}}</string>
        <key>offset</key>
        <string>{7,106}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{168,116}}</string>
        <key>sourceSize</key>
        <string>{168,116}</string>
      </dict>
      <key>weapon_10017_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{281,190},{185,63}}</string>
        <key>offset</key>
        <string>{-15,17}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{185,63}}</string>
        <key>sourceSize</key>
        <string>{185,63}</string>
      </dict>
      <key>weapon_10017_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{324,449},{175,45}}</string>
        <key>offset</key>
        <string>{-5,21}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{175,45}}</string>
        <key>sourceSize</key>
        <string>{175,45}</string>
      </dict>
      <key>weapon_10017_0_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{230,58}}</string>
        <key>offset</key>
        <string>{-14,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{230,58}}</string>
        <key>sourceSize</key>
        <string>{230,58}</string>
      </dict>
      <key>weapon_10017_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,458},{42,101}}</string>
        <key>offset</key>
        <string>{-7,23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{42,101}}</string>
        <key>sourceSize</key>
        <string>{42,101}</string>
      </dict>
      <key>weapon_10017_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{687,141},{71,46}}</string>
        <key>offset</key>
        <string>{0,13}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,46}}</string>
        <key>sourceSize</key>
        <string>{71,46}</string>
      </dict>
      <key>weapon_10017_0_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{444,182},{172,112}}</string>
        <key>offset</key>
        <string>{-16,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{172,112}}</string>
        <key>sourceSize</key>
        <string>{172,112}</string>
      </dict>
      <key>weapon_10017_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{622,0},{139,93}}</string>
        <key>offset</key>
        <string>{-113,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,93}}</string>
        <key>sourceSize</key>
        <string>{139,93}</string>
      </dict>
      <key>weapon_10017_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{671,448},{136,40}}</string>
        <key>offset</key>
        <string>{-102,25}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,40}}</string>
        <key>sourceSize</key>
        <string>{136,40}</string>
      </dict>
      <key>weapon_10017_0_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{501,471},{37,140}}</string>
        <key>offset</key>
        <string>{-14,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{37,140}}</string>
        <key>sourceSize</key>
        <string>{37,140}</string>
      </dict>
      <key>weapon_10017_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{56,232},{223,61}}</string>
        <key>offset</key>
        <string>{-171,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{223,61}}</string>
        <key>sourceSize</key>
        <string>{223,61}</string>
      </dict>
      <key>weapon_10017_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{119,429},{203,78}}</string>
        <key>offset</key>
        <string>{-155,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{203,78}}</string>
        <key>sourceSize</key>
        <string>{203,78}</string>
      </dict>
      <key>weapon_10017_0_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{558,328},{145,118}}</string>
        <key>offset</key>
        <string>{-109,44}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,118}}</string>
        <key>sourceSize</key>
        <string>{145,118}</string>
      </dict>
      <key>weapon_10017_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{134,0},{200,112}}</string>
        <key>offset</key>
        <string>{-133,117}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{200,112}}</string>
        <key>sourceSize</key>
        <string>{200,112}</string>
      </dict>
      <key>weapon_10017_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,0},{180,152}}</string>
        <key>offset</key>
        <string>{-125,144}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,152}}</string>
        <key>sourceSize</key>
        <string>{180,152}</string>
      </dict>
      <key>weapon_10017_0_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,232},{224,54}}</string>
        <key>offset</key>
        <string>{-164,48}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{224,54}}</string>
        <key>sourceSize</key>
        <string>{224,54}</string>
      </dict>
      <key>weapon_10017_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{324,377},{70,185}}</string>
        <key>offset</key>
        <string>{-8,171}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,185}}</string>
        <key>sourceSize</key>
        <string>{70,185}</string>
      </dict>
      <key>weapon_10017_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{119,215},{70,212}}</string>
        <key>offset</key>
        <string>{-18,192}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,212}}</string>
        <key>sourceSize</key>
        <string>{70,212}</string>
      </dict>
      <key>weapon_10017_0_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{346,190},{184,96}}</string>
        <key>offset</key>
        <string>{-117,104}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{184,96}}</string>
        <key>sourceSize</key>
        <string>{184,96}</string>
      </dict>
      <key>weapon_10017_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{558,170},{127,156}}</string>
        <key>offset</key>
        <string>{25,136}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,156}}</string>
        <key>sourceSize</key>
        <string>{127,156}</string>
      </dict>
      <key>weapon_10017_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{191,202},{88,193}}</string>
        <key>offset</key>
        <string>{24,170}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,193}}</string>
        <key>sourceSize</key>
        <string>{88,193}</string>
      </dict>
      <key>weapon_10017_0_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{501,449},{20,168}}</string>
        <key>offset</key>
        <string>{31,156}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{20,168}}</string>
        <key>sourceSize</key>
        <string>{20,168}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_10017_0_7.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>weapon_10017_0_7.png</string>
    </dict>
  </dict>
</plist>