<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_10011_1_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{407,354},{27,77}}</string>
        <key>offset</key>
        <string>{24,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{27,77}}</string>
        <key>sourceSize</key>
        <string>{27,77}</string>
      </dict>
      <key>weapon_10011_1_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{320,461},{28,85}}</string>
        <key>offset</key>
        <string>{23,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{28,85}}</string>
        <key>sourceSize</key>
        <string>{28,85}</string>
      </dict>
      <key>weapon_10011_1_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{347,309},{43,90}}</string>
        <key>offset</key>
        <string>{19,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{43,90}}</string>
        <key>sourceSize</key>
        <string>{43,90}</string>
      </dict>
      <key>weapon_10011_1_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{339,86},{41,81}}</string>
        <key>offset</key>
        <string>{19,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{41,81}}</string>
        <key>sourceSize</key>
        <string>{41,81}</string>
      </dict>
      <key>weapon_10011_1_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{136,0},{109,55}}</string>
        <key>offset</key>
        <string>{12,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,55}}</string>
        <key>sourceSize</key>
        <string>{109,55}</string>
      </dict>
      <key>weapon_10011_1_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{186,111},{105,64}}</string>
        <key>offset</key>
        <string>{14,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,64}}</string>
        <key>sourceSize</key>
        <string>{105,64}</string>
      </dict>
      <key>weapon_10011_1_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{193,0},{105,72}}</string>
        <key>offset</key>
        <string>{14,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,72}}</string>
        <key>sourceSize</key>
        <string>{105,72}</string>
      </dict>
      <key>weapon_10011_1_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{219,361},{104,64}}</string>
        <key>offset</key>
        <string>{14,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,64}}</string>
        <key>sourceSize</key>
        <string>{104,64}</string>
      </dict>
      <key>weapon_10011_1_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{46,142},{131,52}}</string>
        <key>offset</key>
        <string>{4,26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,52}}</string>
        <key>sourceSize</key>
        <string>{131,52}</string>
      </dict>
      <key>weapon_10011_1_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{94,0},{129,40}}</string>
        <key>offset</key>
        <string>{4,26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,40}}</string>
        <key>sourceSize</key>
        <string>{129,40}</string>
      </dict>
      <key>weapon_10011_1_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,287},{137,40}}</string>
        <key>offset</key>
        <string>{5,26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,40}}</string>
        <key>sourceSize</key>
        <string>{137,40}</string>
      </dict>
      <key>weapon_10011_1_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,426},{136,46}}</string>
        <key>offset</key>
        <string>{6,31}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,46}}</string>
        <key>sourceSize</key>
        <string>{136,46}</string>
      </dict>
      <key>weapon_10011_1_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{403,86},{90,86}}</string>
        <key>offset</key>
        <string>{-2,26}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,86}}</string>
        <key>sourceSize</key>
        <string>{90,86}</string>
      </dict>
      <key>weapon_10011_1_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{403,0},{95,84}}</string>
        <key>offset</key>
        <string>{-1,25}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,84}}</string>
        <key>sourceSize</key>
        <string>{95,84}</string>
      </dict>
      <key>weapon_10011_1_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{316,211},{96,85}}</string>
        <key>offset</key>
        <string>{-1,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,85}}</string>
        <key>sourceSize</key>
        <string>{96,85}</string>
      </dict>
      <key>weapon_10011_1_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{403,174},{90,85}}</string>
        <key>offset</key>
        <string>{0,32}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,85}}</string>
        <key>sourceSize</key>
        <string>{90,85}</string>
      </dict>
      <key>weapon_10011_1_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{246,324},{34,99}}</string>
        <key>offset</key>
        <string>{-5,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{34,99}}</string>
        <key>sourceSize</key>
        <string>{34,99}</string>
      </dict>
      <key>weapon_10011_1_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,474},{35,95}}</string>
        <key>offset</key>
        <string>{-5,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{35,95}}</string>
        <key>sourceSize</key>
        <string>{35,95}</string>
      </dict>
      <key>weapon_10011_1_0_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{403,261},{36,90}}</string>
        <key>offset</key>
        <string>{-6,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{36,90}}</string>
        <key>sourceSize</key>
        <string>{36,90}</string>
      </dict>
      <key>weapon_10011_1_0_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{219,467},{42,99}}</string>
        <key>offset</key>
        <string>{-15,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{42,99}}</string>
        <key>sourceSize</key>
        <string>{42,99}</string>
      </dict>
      <key>weapon_10011_1_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,131},{120,84}}</string>
        <key>offset</key>
        <string>{-70,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,84}}</string>
        <key>sourceSize</key>
        <string>{120,84}</string>
      </dict>
      <key>weapon_10011_1_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{138,404},{106,79}}</string>
        <key>offset</key>
        <string>{-71,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,79}}</string>
        <key>sourceSize</key>
        <string>{106,79}</string>
      </dict>
      <key>weapon_10011_1_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{246,218},{104,68}}</string>
        <key>offset</key>
        <string>{-69,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,68}}</string>
        <key>sourceSize</key>
        <string>{104,68}</string>
      </dict>
      <key>weapon_10011_1_0_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{88,275},{127,83}}</string>
        <key>offset</key>
        <string>{-86,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,83}}</string>
        <key>sourceSize</key>
        <string>{127,83}</string>
      </dict>
      <key>weapon_10011_1_0_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,145},{140,44}}</string>
        <key>offset</key>
        <string>{-95,44}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,44}}</string>
        <key>sourceSize</key>
        <string>{140,44}</string>
      </dict>
      <key>weapon_10011_1_0_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{143,40}}</string>
        <key>offset</key>
        <string>{-99,45}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,40}}</string>
        <key>sourceSize</key>
        <string>{143,40}</string>
      </dict>
      <key>weapon_10011_1_0_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{42,0},{140,50}}</string>
        <key>offset</key>
        <string>{-96,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,50}}</string>
        <key>sourceSize</key>
        <string>{140,50}</string>
      </dict>
      <key>weapon_10011_1_0_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{42,287},{135,44}}</string>
        <key>offset</key>
        <string>{-91,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,44}}</string>
        <key>sourceSize</key>
        <string>{135,44}</string>
      </dict>
      <key>weapon_10011_1_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{173,253},{106,71}}</string>
        <key>offset</key>
        <string>{-50,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,71}}</string>
        <key>sourceSize</key>
        <string>{106,71}</string>
      </dict>
      <key>weapon_10011_1_0_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{267,0},{98,70}}</string>
        <key>offset</key>
        <string>{-41,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,70}}</string>
        <key>sourceSize</key>
        <string>{98,70}</string>
      </dict>
      <key>weapon_10011_1_0_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{252,107},{102,73}}</string>
        <key>offset</key>
        <string>{-45,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,73}}</string>
        <key>sourceSize</key>
        <string>{102,73}</string>
      </dict>
      <key>weapon_10011_1_0_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{285,360},{99,66}}</string>
        <key>offset</key>
        <string>{-42,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,66}}</string>
        <key>sourceSize</key>
        <string>{99,66}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_10011_1_0.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>weapon_10011_1_0.png</string>
    </dict>
  </dict>
</plist>