<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_82508_0_5_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{243,722},{79,160}}</string>
        <key>offset</key>
        <string>{15,139}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,160}}</string>
        <key>sourceSize</key>
        <string>{79,160}</string>
      </dict>
      <key>weapon_82508_0_5_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,394},{74,187}}</string>
        <key>offset</key>
        <string>{-5,173}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{74,187}}</string>
        <key>sourceSize</key>
        <string>{74,187}</string>
      </dict>
      <key>weapon_82508_0_5_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{65,770},{94,178}}</string>
        <key>offset</key>
        <string>{-28,183}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,178}}</string>
        <key>sourceSize</key>
        <string>{94,178}</string>
      </dict>
      <key>weapon_82508_0_5_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{399,908},{85,142}}</string>
        <key>offset</key>
        <string>{-22,153}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,142}}</string>
        <key>sourceSize</key>
        <string>{85,142}</string>
      </dict>
      <key>weapon_82508_0_5_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{93,190},{84,183}}</string>
        <key>offset</key>
        <string>{-18,183}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,183}}</string>
        <key>sourceSize</key>
        <string>{84,183}</string>
      </dict>
      <key>weapon_82508_0_5_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,770},{63,180}}</string>
        <key>offset</key>
        <string>{4,170}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,180}}</string>
        <key>sourceSize</key>
        <string>{63,180}</string>
      </dict>
      <key>weapon_82508_0_5_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{182,553},{167,123}}</string>
        <key>offset</key>
        <string>{8,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,123}}</string>
        <key>sourceSize</key>
        <string>{167,123}</string>
      </dict>
      <key>weapon_82508_0_5_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{179,183},{127,175}}</string>
        <key>offset</key>
        <string>{11,162}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,175}}</string>
        <key>sourceSize</key>
        <string>{127,175}</string>
      </dict>
      <key>weapon_82508_0_5_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,583},{78,185}}</string>
        <key>offset</key>
        <string>{7,183}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,185}}</string>
        <key>sourceSize</key>
        <string>{78,185}</string>
      </dict>
      <key>weapon_82508_0_5_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{272,360},{101,164}}</string>
        <key>offset</key>
        <string>{-26,169}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,164}}</string>
        <key>sourceSize</key>
        <string>{101,164}</string>
      </dict>
      <key>weapon_82508_0_5_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,200},{91,192}}</string>
        <key>offset</key>
        <string>{15,183}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,192}}</string>
        <key>sourceSize</key>
        <string>{91,192}</string>
      </dict>
      <key>weapon_82508_0_5_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,498},{137,140}}</string>
        <key>offset</key>
        <string>{16,133}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,140}}</string>
        <key>sourceSize</key>
        <string>{137,140}</string>
      </dict>
      <key>weapon_82508_0_5_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{65,950},{169,71}}</string>
        <key>offset</key>
        <string>{3,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{169,71}}</string>
        <key>sourceSize</key>
        <string>{169,71}</string>
      </dict>
      <key>weapon_82508_0_5_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{252,0},{171,101}}</string>
        <key>offset</key>
        <string>{0,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{171,101}}</string>
        <key>sourceSize</key>
        <string>{171,101}</string>
      </dict>
      <key>weapon_82508_0_5_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,375},{98,176}}</string>
        <key>offset</key>
        <string>{13,165}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,176}}</string>
        <key>sourceSize</key>
        <string>{98,176}</string>
      </dict>
      <key>weapon_82508_0_5_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{76,394},{94,184}}</string>
        <key>offset</key>
        <string>{-18,179}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,184}}</string>
        <key>sourceSize</key>
        <string>{94,184}</string>
      </dict>
      <key>weapon_82508_0_5_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{442,164},{129,157}}</string>
        <key>offset</key>
        <string>{14,143}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,157}}</string>
        <key>sourceSize</key>
        <string>{129,157}</string>
      </dict>
      <key>weapon_82508_0_5_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{355,0},{162,104}}</string>
        <key>offset</key>
        <string>{10,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{162,104}}</string>
        <key>sourceSize</key>
        <string>{162,104}</string>
      </dict>
      <key>weapon_82508_0_5_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{611,767},{124,100}}</string>
        <key>offset</key>
        <string>{-10,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,100}}</string>
        <key>sourceSize</key>
        <string>{124,100}</string>
      </dict>
      <key>weapon_82508_0_5_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{470,833},{139,70}}</string>
        <key>offset</key>
        <string>{-2,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,70}}</string>
        <key>sourceSize</key>
        <string>{139,70}</string>
      </dict>
      <key>weapon_82508_0_5_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{324,688},{100,144}}</string>
        <key>offset</key>
        <string>{8,139}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,144}}</string>
        <key>sourceSize</key>
        <string>{100,144}</string>
      </dict>
      <key>weapon_82508_0_5_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{88,0},{71,188}}</string>
        <key>offset</key>
        <string>{-4,176}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,188}}</string>
        <key>sourceSize</key>
        <string>{71,188}</string>
      </dict>
      <key>weapon_82508_0_5_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{601,455},{116,117}}</string>
        <key>offset</key>
        <string>{8,106}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,117}}</string>
        <key>sourceSize</key>
        <string>{116,117}</string>
      </dict>
      <key>weapon_82508_0_5_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{488,323},{132,68}}</string>
        <key>offset</key>
        <string>{1,41}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,68}}</string>
        <key>sourceSize</key>
        <string>{132,68}</string>
      </dict>
      <key>weapon_82508_0_5_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{676,156},{68,109}}</string>
        <key>offset</key>
        <string>{-45,35}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,109}}</string>
        <key>sourceSize</key>
        <string>{68,109}</string>
      </dict>
      <key>weapon_82508_0_5_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{631,403},{40,49}}</string>
        <key>offset</key>
        <string>{0,26}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{40,49}}</string>
        <key>sourceSize</key>
        <string>{40,49}</string>
      </dict>
      <key>weapon_82508_0_5_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{631,284},{73,117}}</string>
        <key>offset</key>
        <string>{-3,111}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,117}}</string>
        <key>sourceSize</key>
        <string>{73,117}</string>
      </dict>
      <key>weapon_82508_0_5_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{236,931},{77,161}}</string>
        <key>offset</key>
        <string>{-6,163}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,161}}</string>
        <key>sourceSize</key>
        <string>{77,161}</string>
      </dict>
      <key>weapon_82508_0_5_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{706,359},{70,89}}</string>
        <key>offset</key>
        <string>{-9,75}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,89}}</string>
        <key>sourceSize</key>
        <string>{70,89}</string>
      </dict>
      <key>weapon_82508_0_5_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{243,884},{45,72}}</string>
        <key>offset</key>
        <string>{-15,26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{45,72}}</string>
        <key>sourceSize</key>
        <string>{45,72}</string>
      </dict>
      <key>weapon_82508_0_5_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{161,759},{170,80}}</string>
        <key>offset</key>
        <string>{-122,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,80}}</string>
        <key>sourceSize</key>
        <string>{170,80}</string>
      </dict>
      <key>weapon_82508_0_5_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{677,893},{119,69}}</string>
        <key>offset</key>
        <string>{-95,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,69}}</string>
        <key>sourceSize</key>
        <string>{119,69}</string>
      </dict>
      <key>weapon_82508_0_5_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{719,0},{69,109}}</string>
        <key>offset</key>
        <string>{-34,120}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,109}}</string>
        <key>sourceSize</key>
        <string>{69,109}</string>
      </dict>
      <key>weapon_82508_0_5_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{461,0},{101,156}}</string>
        <key>offset</key>
        <string>{-29,158}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,156}}</string>
        <key>sourceSize</key>
        <string>{101,156}</string>
      </dict>
      <key>weapon_82508_0_5_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{706,267},{84,90}}</string>
        <key>offset</key>
        <string>{-60,93}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,90}}</string>
        <key>sourceSize</key>
        <string>{84,90}</string>
      </dict>
      <key>weapon_82508_0_5_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{324,834},{144,72}}</string>
        <key>offset</key>
        <string>{-105,52}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,72}}</string>
        <key>sourceSize</key>
        <string>{144,72}</string>
      </dict>
      <key>weapon_82508_0_5_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{198,86}}</string>
        <key>offset</key>
        <string>{-131,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{198,86}}</string>
        <key>sourceSize</key>
        <string>{198,86}</string>
      </dict>
      <key>weapon_82508_0_5_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{80,580},{177,100}}</string>
        <key>offset</key>
        <string>{-131,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{177,100}}</string>
        <key>sourceSize</key>
        <string>{177,100}</string>
      </dict>
      <key>weapon_82508_0_5_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{573,156},{101,126}}</string>
        <key>offset</key>
        <string>{-70,143}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,126}}</string>
        <key>sourceSize</key>
        <string>{101,126}</string>
      </dict>
      <key>weapon_82508_0_5_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{543,905},{91,132}}</string>
        <key>offset</key>
        <string>{-24,149}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,132}}</string>
        <key>sourceSize</key>
        <string>{91,132}</string>
      </dict>
      <key>weapon_82508_0_5_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{568,640},{125,116}}</string>
        <key>offset</key>
        <string>{-98,128}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,116}}</string>
        <key>sourceSize</key>
        <string>{125,116}</string>
      </dict>
      <key>weapon_82508_0_5_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{161,0},{181,89}}</string>
        <key>offset</key>
        <string>{-131,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{181,89}}</string>
        <key>sourceSize</key>
        <string>{181,89}</string>
      </dict>
      <key>weapon_82508_0_5_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{426,688},{140,143}}</string>
        <key>offset</key>
        <string>{-72,136}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,143}}</string>
        <key>sourceSize</key>
        <string>{140,143}</string>
      </dict>
      <key>weapon_82508_0_5_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{307,526},{160,153}}</string>
        <key>offset</key>
        <string>{-98,152}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,153}}</string>
        <key>sourceSize</key>
        <string>{160,153}</string>
      </dict>
      <key>weapon_82508_0_5_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{375,338},{111,158}}</string>
        <key>offset</key>
        <string>{-66,170}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,158}}</string>
        <key>sourceSize</key>
        <string>{111,158}</string>
      </dict>
      <key>weapon_82508_0_5_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{558,323},{71,130}}</string>
        <key>offset</key>
        <string>{-20,149}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{71,130}}</string>
        <key>sourceSize</key>
        <string>{71,130}</string>
      </dict>
      <key>weapon_82508_0_5_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{308,173},{132,163}}</string>
        <key>offset</key>
        <string>{-83,171}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,163}}</string>
        <key>sourceSize</key>
        <string>{132,163}</string>
      </dict>
      <key>weapon_82508_0_5_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{564,0},{154,153}}</string>
        <key>offset</key>
        <string>{-94,151}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,153}}</string>
        <key>sourceSize</key>
        <string>{154,153}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_82508_0_5.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>weapon_82508_0_5.png</string>
    </dict>
  </dict>
</plist>