<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_11002_0_11_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{127,0},{120,152}}</string>
        <key>offset</key>
        <string>{8,123}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,152}}</string>
        <key>sourceSize</key>
        <string>{120,152}</string>
      </dict>
      <key>weapon_11002_0_11_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{180,359},{128,150}}</string>
        <key>offset</key>
        <string>{-6,107}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,150}}</string>
        <key>sourceSize</key>
        <string>{128,150}</string>
      </dict>
      <key>weapon_11002_0_11_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{310,0},{105,141}}</string>
        <key>offset</key>
        <string>{-21,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,141}}</string>
        <key>sourceSize</key>
        <string>{105,141}</string>
      </dict>
      <key>weapon_11002_0_11_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{310,107},{106,127}}</string>
        <key>offset</key>
        <string>{-57,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,127}}</string>
        <key>sourceSize</key>
        <string>{106,127}</string>
      </dict>
      <key>weapon_11002_0_11_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,184},{122,178}}</string>
        <key>offset</key>
        <string>{-80,144}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{122,178}}</string>
        <key>sourceSize</key>
        <string>{122,178}</string>
      </dict>
      <key>weapon_11002_0_11_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{125,182}}</string>
        <key>offset</key>
        <string>{-70,164}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,182}}</string>
        <key>sourceSize</key>
        <string>{125,182}</string>
      </dict>
      <key>weapon_11002_0_11_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,364},{108,178}}</string>
        <key>offset</key>
        <string>{-36,170}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,178}}</string>
        <key>sourceSize</key>
        <string>{108,178}</string>
      </dict>
      <key>weapon_11002_0_11_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,184},{112,173}}</string>
        <key>offset</key>
        <string>{-6,156}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,173}}</string>
        <key>sourceSize</key>
        <string>{112,173}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_11002_0_11.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>weapon_11002_0_11.png</string>
    </dict>
  </dict>
</plist>