<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_10036_0_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,398},{91,158}}</string>
        <key>offset</key>
        <string>{-14,163}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,158}}</string>
        <key>sourceSize</key>
        <string>{91,158}</string>
      </dict>
      <key>weapon_10036_0_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{570,0},{114,54}}</string>
        <key>offset</key>
        <string>{-57,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,54}}</string>
        <key>sourceSize</key>
        <string>{114,54}</string>
      </dict>
      <key>weapon_10036_0_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{48,173},{164,77}}</string>
        <key>offset</key>
        <string>{-92,-2}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{164,77}}</string>
        <key>sourceSize</key>
        <string>{164,77}</string>
      </dict>
      <key>weapon_10036_0_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{423,0},{127,84}}</string>
        <key>offset</key>
        <string>{-40,-23}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,84}}</string>
        <key>sourceSize</key>
        <string>{127,84}</string>
      </dict>
      <key>weapon_10036_0_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{62,171}}</string>
        <key>offset</key>
        <string>{31,158}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,171}}</string>
        <key>sourceSize</key>
        <string>{62,171}</string>
      </dict>
      <key>weapon_10036_0_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{160,398},{150,96}}</string>
        <key>offset</key>
        <string>{-81,105}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,96}}</string>
        <key>sourceSize</key>
        <string>{150,96}</string>
      </dict>
      <key>weapon_10036_0_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{171,0},{155,52}}</string>
        <key>offset</key>
        <string>{-119,9}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,52}}</string>
        <key>sourceSize</key>
        <string>{155,52}</string>
      </dict>
      <key>weapon_10036_0_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,173},{171,46}}</string>
        <key>offset</key>
        <string>{-122,-27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{171,46}}</string>
        <key>sourceSize</key>
        <string>{171,46}</string>
      </dict>
      <key>weapon_10036_0_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{213,157},{116,148}}</string>
        <key>offset</key>
        <string>{16,125}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,148}}</string>
        <key>sourceSize</key>
        <string>{116,148}</string>
      </dict>
      <key>weapon_10036_0_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{225,0},{117,145}}</string>
        <key>offset</key>
        <string>{-52,141}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,145}}</string>
        <key>sourceSize</key>
        <string>{117,145}</string>
      </dict>
      <key>weapon_10036_0_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,222},{82,91}}</string>
        <key>offset</key>
        <string>{-78,62}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,91}}</string>
        <key>sourceSize</key>
        <string>{82,91}</string>
      </dict>
      <key>weapon_10036_0_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{331,147},{135,98}}</string>
        <key>offset</key>
        <string>{-128,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,98}}</string>
        <key>sourceSize</key>
        <string>{135,98}</string>
      </dict>
      <key>weapon_10036_0_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{358,284},{128,100}}</string>
        <key>offset</key>
        <string>{-8,80}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,100}}</string>
        <key>sourceSize</key>
        <string>{128,100}</string>
      </dict>
      <key>weapon_10036_0_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{64,0},{51,164}}</string>
        <key>offset</key>
        <string>{2,155}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{51,164}}</string>
        <key>sourceSize</key>
        <string>{51,164}</string>
      </dict>
      <key>weapon_10036_0_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{626,0},{92,92}}</string>
        <key>offset</key>
        <string>{-40,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{92,92}}</string>
        <key>sourceSize</key>
        <string>{92,92}</string>
      </dict>
      <key>weapon_10036_0_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{509,0},{59,125}}</string>
        <key>offset</key>
        <string>{-61,87}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,125}}</string>
        <key>sourceSize</key>
        <string>{59,125}</string>
      </dict>
      <key>weapon_10036_0_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,315},{84,56}}</string>
        <key>offset</key>
        <string>{-23,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,56}}</string>
        <key>sourceSize</key>
        <string>{84,56}</string>
      </dict>
      <key>weapon_10036_0_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{312,391},{116,140}}</string>
        <key>offset</key>
        <string>{-7,135}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,140}}</string>
        <key>sourceSize</key>
        <string>{116,140}</string>
      </dict>
      <key>weapon_10036_0_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,0},{163,52}}</string>
        <key>offset</key>
        <string>{-22,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,52}}</string>
        <key>sourceSize</key>
        <string>{163,52}</string>
      </dict>
      <key>weapon_10036_0_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{454,386},{127,104}}</string>
        <key>offset</key>
        <string>{-37,93}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,104}}</string>
        <key>sourceSize</key>
        <string>{127,104}</string>
      </dict>
      <key>weapon_10036_0_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{664,94},{61,49}}</string>
        <key>offset</key>
        <string>{-41,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{61,49}}</string>
        <key>sourceSize</key>
        <string>{61,49}</string>
      </dict>
      <key>weapon_10036_0_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{213,307},{143,82}}</string>
        <key>offset</key>
        <string>{-15,91}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,82}}</string>
        <key>sourceSize</key>
        <string>{143,82}</string>
      </dict>
      <key>weapon_10036_0_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{127,165},{156,84}}</string>
        <key>offset</key>
        <string>{13,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,84}}</string>
        <key>sourceSize</key>
        <string>{156,84}</string>
      </dict>
      <key>weapon_10036_0_4_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,346},{170,50}}</string>
        <key>offset</key>
        <string>{2,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,50}}</string>
        <key>sourceSize</key>
        <string>{170,50}</string>
      </dict>
      <key>weapon_10036_0_4_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{583,382},{106,68}}</string>
        <key>offset</key>
        <string>{-76,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,68}}</string>
        <key>sourceSize</key>
        <string>{106,68}</string>
      </dict>
      <key>weapon_10036_0_4_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{602,252},{105,46}}</string>
        <key>offset</key>
        <string>{-11,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,46}}</string>
        <key>sourceSize</key>
        <string>{105,46}</string>
      </dict>
      <key>weapon_10036_0_4_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{431,129},{82,126}}</string>
        <key>offset</key>
        <string>{45,40}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,126}}</string>
        <key>sourceSize</key>
        <string>{82,126}</string>
      </dict>
      <key>weapon_10036_0_4_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{344,0},{134,77}}</string>
        <key>offset</key>
        <string>{43,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,77}}</string>
        <key>sourceSize</key>
        <string>{134,77}</string>
      </dict>
      <key>weapon_10036_0_4_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{488,257},{123,112}}</string>
        <key>offset</key>
        <string>{-67,133}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,112}}</string>
        <key>sourceSize</key>
        <string>{123,112}</string>
      </dict>
      <key>weapon_10036_0_4_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{664,157},{54,49}}</string>
        <key>offset</key>
        <string>{-6,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,49}}</string>
        <key>sourceSize</key>
        <string>{54,49}</string>
      </dict>
      <key>weapon_10036_0_4_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{515,127},{93,123}}</string>
        <key>offset</key>
        <string>{-2,18}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,123}}</string>
        <key>sourceSize</key>
        <string>{93,123}</string>
      </dict>
      <key>weapon_10036_0_4_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{610,116},{52,104}}</string>
        <key>offset</key>
        <string>{55,3}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{52,104}}</string>
        <key>sourceSize</key>
        <string>{52,104}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_10036_0_4.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>weapon_10036_0_4.png</string>
    </dict>
  </dict>
</plist>