<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_10026_1_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,298},{143,54}}</string>
        <key>offset</key>
        <string>{18,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,54}}</string>
        <key>sourceSize</key>
        <string>{143,54}</string>
      </dict>
      <key>weapon_10026_1_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{56,151},{136,77}}</string>
        <key>offset</key>
        <string>{20,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,77}}</string>
        <key>sourceSize</key>
        <string>{136,77}</string>
      </dict>
      <key>weapon_10026_1_7_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{135,137},{126,93}}</string>
        <key>offset</key>
        <string>{18,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,93}}</string>
        <key>sourceSize</key>
        <string>{126,93}</string>
      </dict>
      <key>weapon_10026_1_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{390,0},{110,34}}</string>
        <key>offset</key>
        <string>{3,6}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,34}}</string>
        <key>sourceSize</key>
        <string>{110,34}</string>
      </dict>
      <key>weapon_10026_1_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{68,0},{135,28}}</string>
        <key>offset</key>
        <string>{8,16}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,28}}</string>
        <key>sourceSize</key>
        <string>{135,28}</string>
      </dict>
      <key>weapon_10026_1_7_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,443},{143,33}}</string>
        <key>offset</key>
        <string>{13,29}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,33}}</string>
        <key>sourceSize</key>
        <string>{143,33}</string>
      </dict>
      <key>weapon_10026_1_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{56,421},{20,54}}</string>
        <key>offset</key>
        <string>{-2,16}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{20,54}}</string>
        <key>sourceSize</key>
        <string>{20,54}</string>
      </dict>
      <key>weapon_10026_1_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{455,36},{60,53}}</string>
        <key>offset</key>
        <string>{1,17}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{60,53}}</string>
        <key>sourceSize</key>
        <string>{60,53}</string>
      </dict>
      <key>weapon_10026_1_7_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,382},{93,48}}</string>
        <key>offset</key>
        <string>{3,17}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,48}}</string>
        <key>sourceSize</key>
        <string>{93,48}</string>
      </dict>
      <key>weapon_10026_1_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{145,419},{103,41}}</string>
        <key>offset</key>
        <string>{-82,26}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,41}}</string>
        <key>sourceSize</key>
        <string>{103,41}</string>
      </dict>
      <key>weapon_10026_1_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{390,36},{63,57}}</string>
        <key>offset</key>
        <string>{-44,27}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{63,57}}</string>
        <key>sourceSize</key>
        <string>{63,57}</string>
      </dict>
      <key>weapon_10026_1_7_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{279,477},{32,59}}</string>
        <key>offset</key>
        <string>{-14,26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{32,59}}</string>
        <key>sourceSize</key>
        <string>{32,59}</string>
      </dict>
      <key>weapon_10026_1_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,151},{145,54}}</string>
        <key>offset</key>
        <string>{-114,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,54}}</string>
        <key>sourceSize</key>
        <string>{145,54}</string>
      </dict>
      <key>weapon_10026_1_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{141,478},{136,31}}</string>
        <key>offset</key>
        <string>{-108,32}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,31}}</string>
        <key>sourceSize</key>
        <string>{136,31}</string>
      </dict>
      <key>weapon_10026_1_7_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{180,0},{126,41}}</string>
        <key>offset</key>
        <string>{-100,32}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,41}}</string>
        <key>sourceSize</key>
        <string>{126,41}</string>
      </dict>
      <key>weapon_10026_1_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{230,127},{114,106}}</string>
        <key>offset</key>
        <string>{-65,114}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,106}}</string>
        <key>sourceSize</key>
        <string>{114,106}</string>
      </dict>
      <key>weapon_10026_1_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,0},{135,80}}</string>
        <key>offset</key>
        <string>{-95,89}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,80}}</string>
        <key>sourceSize</key>
        <string>{135,80}</string>
      </dict>
      <key>weapon_10026_1_7_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{149,66}}</string>
        <key>offset</key>
        <string>{-113,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{149,66}}</string>
        <key>sourceSize</key>
        <string>{149,66}</string>
      </dict>
      <key>weapon_10026_1_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,478},{31,139}}</string>
        <key>offset</key>
        <string>{25,133}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{31,139}}</string>
        <key>sourceSize</key>
        <string>{31,139}</string>
      </dict>
      <key>weapon_10026_1_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{223,0},{59,125}}</string>
        <key>offset</key>
        <string>{-12,129}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,125}}</string>
        <key>sourceSize</key>
        <string>{59,125}</string>
      </dict>
      <key>weapon_10026_1_7_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{162,265},{88,115}}</string>
        <key>offset</key>
        <string>{-44,123}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,115}}</string>
        <key>sourceSize</key>
        <string>{88,115}</string>
      </dict>
      <key>weapon_10026_1_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{284,0},{104,111}}</string>
        <key>offset</key>
        <string>{32,103}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,111}}</string>
        <key>sourceSize</key>
        <string>{104,111}</string>
      </dict>
      <key>weapon_10026_1_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{92,289},{68,128}}</string>
        <key>offset</key>
        <string>{31,121}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,128}}</string>
        <key>sourceSize</key>
        <string>{68,128}</string>
      </dict>
      <key>weapon_10026_1_7_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{56,289},{34,130}}</string>
        <key>offset</key>
        <string>{29,131}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{34,130}}</string>
        <key>sourceSize</key>
        <string>{34,130}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_10026_1_7.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>weapon_10026_1_7.png</string>
    </dict>
  </dict>
</plist>