<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_82503_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{468,0},{87,159}}</string>
        <key>offset</key>
        <string>{15,162}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,159}}</string>
        <key>sourceSize</key>
        <string>{87,159}</string>
      </dict>
      <key>weapon_82503_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{80,0},{185,77}}</string>
        <key>offset</key>
        <string>{-145,26}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{185,77}}</string>
        <key>sourceSize</key>
        <string>{185,77}</string>
      </dict>
      <key>weapon_82503_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{418,166},{93,160}}</string>
        <key>offset</key>
        <string>{-40,66}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,160}}</string>
        <key>sourceSize</key>
        <string>{93,160}</string>
      </dict>
      <key>weapon_82503_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{613,0},{123,78}}</string>
        <key>offset</key>
        <string>{27,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,78}}</string>
        <key>sourceSize</key>
        <string>{123,78}</string>
      </dict>
      <key>weapon_82503_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{632,449},{90,104}}</string>
        <key>offset</key>
        <string>{-50,84}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,104}}</string>
        <key>sourceSize</key>
        <string>{90,104}</string>
      </dict>
      <key>weapon_82503_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,145},{37,126}}</string>
        <key>offset</key>
        <string>{16,117}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{37,126}}</string>
        <key>sourceSize</key>
        <string>{37,126}</string>
      </dict>
      <key>weapon_82503_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{513,161},{85,145}}</string>
        <key>offset</key>
        <string>{5,137}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,145}}</string>
        <key>sourceSize</key>
        <string>{85,145}</string>
      </dict>
      <key>weapon_82503_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{88,396},{183,47}}</string>
        <key>offset</key>
        <string>{-165,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{183,47}}</string>
        <key>sourceSize</key>
        <string>{183,47}</string>
      </dict>
      <key>weapon_82503_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,785},{182,102}}</string>
        <key>offset</key>
        <string>{-125,55}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{182,102}}</string>
        <key>sourceSize</key>
        <string>{182,102}</string>
      </dict>
      <key>weapon_82503_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{618,789},{58,58}}</string>
        <key>offset</key>
        <string>{31,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,58}}</string>
        <key>sourceSize</key>
        <string>{58,58}</string>
      </dict>
      <key>weapon_82503_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{693,0},{86,79}}</string>
        <key>offset</key>
        <string>{27,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,79}}</string>
        <key>sourceSize</key>
        <string>{86,79}</string>
      </dict>
      <key>weapon_82503_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{529,308},{139,107}}</string>
        <key>offset</key>
        <string>{25,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,107}}</string>
        <key>sourceSize</key>
        <string>{139,107}</string>
      </dict>
      <key>weapon_82503_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{477,806},{46,139}}</string>
        <key>offset</key>
        <string>{2,122}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{46,139}}</string>
        <key>sourceSize</key>
        <string>{46,139}</string>
      </dict>
      <key>weapon_82503_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{638,273},{87,100}}</string>
        <key>offset</key>
        <string>{-82,120}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,100}}</string>
        <key>sourceSize</key>
        <string>{87,100}</string>
      </dict>
      <key>weapon_82503_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{201,575},{169,58}}</string>
        <key>offset</key>
        <string>{-123,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{169,58}}</string>
        <key>sourceSize</key>
        <string>{169,58}</string>
      </dict>
      <key>weapon_82503_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{576,654},{133,51}}</string>
        <key>offset</key>
        <string>{-51,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,51}}</string>
        <key>sourceSize</key>
        <string>{133,51}</string>
      </dict>
      <key>weapon_82503_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,969},{180,49}}</string>
        <key>offset</key>
        <string>{30,22}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,49}}</string>
        <key>sourceSize</key>
        <string>{180,49}</string>
      </dict>
      <key>weapon_82503_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,204},{200,67}}</string>
        <key>offset</key>
        <string>{16,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{200,67}}</string>
        <key>sourceSize</key>
        <string>{200,67}</string>
      </dict>
      <key>weapon_82503_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{557,0},{54,143}}</string>
        <key>offset</key>
        <string>{-29,130}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,143}}</string>
        <key>sourceSize</key>
        <string>{54,143}</string>
      </dict>
      <key>weapon_82503_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{524,854},{102,118}}</string>
        <key>offset</key>
        <string>{-18,142}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,118}}</string>
        <key>sourceSize</key>
        <string>{102,118}</string>
      </dict>
      <key>weapon_82503_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{632,555},{68,84}}</string>
        <key>offset</key>
        <string>{-40,97}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,84}}</string>
        <key>sourceSize</key>
        <string>{68,84}</string>
      </dict>
      <key>weapon_82503_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{365,0},{164,101}}</string>
        <key>offset</key>
        <string>{-110,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{164,101}}</string>
        <key>sourceSize</key>
        <string>{164,101}</string>
      </dict>
      <key>weapon_82503_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{137,396},{177,106}}</string>
        <key>offset</key>
        <string>{24,4}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{177,106}}</string>
        <key>sourceSize</key>
        <string>{177,106}</string>
      </dict>
      <key>weapon_82503_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{381,504},{156,118}}</string>
        <key>offset</key>
        <string>{5,17}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,118}}</string>
        <key>sourceSize</key>
        <string>{156,118}</string>
      </dict>
      <key>weapon_82503_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{278,704},{88,159}}</string>
        <key>offset</key>
        <string>{-56,160}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,159}}</string>
        <key>sourceSize</key>
        <string>{88,159}</string>
      </dict>
      <key>weapon_82503_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,406},{191,86}}</string>
        <key>offset</key>
        <string>{6,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{191,86}}</string>
        <key>sourceSize</key>
        <string>{191,86}</string>
      </dict>
      <key>weapon_82503_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{639,125},{99,90}}</string>
        <key>offset</key>
        <string>{-6,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,90}}</string>
        <key>sourceSize</key>
        <string>{99,90}</string>
      </dict>
      <key>weapon_82503_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{261,534},{118,168}}</string>
        <key>offset</key>
        <string>{-96,158}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,168}}</string>
        <key>sourceSize</key>
        <string>{118,168}</string>
      </dict>
      <key>weapon_82503_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{347,341},{77,161}}</string>
        <key>offset</key>
        <string>{12,1}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,161}}</string>
        <key>sourceSize</key>
        <string>{77,161}</string>
      </dict>
      <key>weapon_82503_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{501,627},{25,139}}</string>
        <key>offset</key>
        <string>{-1,15}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{25,139}}</string>
        <key>sourceSize</key>
        <string>{25,139}</string>
      </dict>
      <key>weapon_82503_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{191,761},{85,171}}</string>
        <key>offset</key>
        <string>{-42,181}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,171}}</string>
        <key>sourceSize</key>
        <string>{85,171}</string>
      </dict>
      <key>weapon_82503_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{69,204},{190,112}}</string>
        <key>offset</key>
        <string>{29,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{190,112}}</string>
        <key>sourceSize</key>
        <string>{190,112}</string>
      </dict>
      <key>weapon_82503_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{159,0},{184,78}}</string>
        <key>offset</key>
        <string>{-9,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{184,78}}</string>
        <key>sourceSize</key>
        <string>{184,78}</string>
      </dict>
      <key>weapon_82503_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{131,581},{68,178}}</string>
        <key>offset</key>
        <string>{-50,181}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,178}}</string>
        <key>sourceSize</key>
        <string>{68,178}</string>
      </dict>
      <key>weapon_82503_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{316,174},{100,165}}</string>
        <key>offset</key>
        <string>{-73,5}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,165}}</string>
        <key>sourceSize</key>
        <string>{100,165}</string>
      </dict>
      <key>weapon_82503_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{501,485},{140,129}}</string>
        <key>offset</key>
        <string>{-118,33}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,129}}</string>
        <key>sourceSize</key>
        <string>{140,129}</string>
      </dict>
      <key>weapon_82503_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{297,363},{48,166}}</string>
        <key>offset</key>
        <string>{-1,181}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,166}}</string>
        <key>sourceSize</key>
        <string>{48,166}</string>
      </dict>
      <key>weapon_82503_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{426,328},{101,155}}</string>
        <key>offset</key>
        <string>{37,55}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,155}}</string>
        <key>sourceSize</key>
        <string>{101,155}</string>
      </dict>
      <key>weapon_82503_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{183,186},{175,131}}</string>
        <key>offset</key>
        <string>{1,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{175,131}}</string>
        <key>sourceSize</key>
        <string>{175,131}</string>
      </dict>
      <key>weapon_82503_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{364,865},{144,158}}</string>
        <key>offset</key>
        <string>{-38,181}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,158}}</string>
        <key>sourceSize</key>
        <string>{144,158}</string>
      </dict>
      <key>weapon_82503_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,599},{184,129}}</string>
        <key>offset</key>
        <string>{-167,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{184,129}}</string>
        <key>sourceSize</key>
        <string>{184,129}</string>
      </dict>
      <key>weapon_82503_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{202,78}}</string>
        <key>offset</key>
        <string>{-170,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{202,78}}</string>
        <key>sourceSize</key>
        <string>{202,78}</string>
      </dict>
      <key>weapon_82503_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{245,363},{50,169}}</string>
        <key>offset</key>
        <string>{25,181}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{50,169}}</string>
        <key>sourceSize</key>
        <string>{50,169}</string>
      </dict>
      <key>weapon_82503_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{477,662},{97,142}}</string>
        <key>offset</key>
        <string>{-33,35}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,142}}</string>
        <key>sourceSize</key>
        <string>{97,142}</string>
      </dict>
      <key>weapon_82503_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{191,934},{77,171}}</string>
        <key>offset</key>
        <string>{18,73}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,171}}</string>
        <key>sourceSize</key>
        <string>{77,171}</string>
      </dict>
      <key>weapon_82503_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{239,0},{172,124}}</string>
        <key>offset</key>
        <string>{-7,148}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{172,124}}</string>
        <key>sourceSize</key>
        <string>{172,124}</string>
      </dict>
      <key>weapon_82503_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{104,785},{181,85}}</string>
        <key>offset</key>
        <string>{-158,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{181,85}}</string>
        <key>sourceSize</key>
        <string>{181,85}</string>
      </dict>
      <key>weapon_82503_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{368,704},{157,107}}</string>
        <key>offset</key>
        <string>{-114,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{157,107}}</string>
        <key>sourceSize</key>
        <string>{157,107}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_82503_0_2.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>weapon_82503_0_2.png</string>
    </dict>
  </dict>
</plist>