<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>weapon_11026_1_8_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,439},{69,77}}</string>
        <key>offset</key>
        <string>{-21,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,77}}</string>
        <key>sourceSize</key>
        <string>{69,77}</string>
      </dict>
      <key>weapon_11026_1_8_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{438,243},{83,86}}</string>
        <key>offset</key>
        <string>{-33,73}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,86}}</string>
        <key>sourceSize</key>
        <string>{83,86}</string>
      </dict>
      <key>weapon_11026_1_8_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{310,372},{100,93}}</string>
        <key>offset</key>
        <string>{20,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,93}}</string>
        <key>sourceSize</key>
        <string>{100,93}</string>
      </dict>
      <key>weapon_11026_1_8_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{405,372},{99,94}}</string>
        <key>offset</key>
        <string>{24,64}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,94}}</string>
        <key>sourceSize</key>
        <string>{99,94}</string>
      </dict>
      <key>weapon_11026_1_8_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{95,0},{146,96}}</string>
        <key>offset</key>
        <string>{11,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,96}}</string>
        <key>sourceSize</key>
        <string>{146,96}</string>
      </dict>
      <key>weapon_11026_1_8_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,155},{150,93}}</string>
        <key>offset</key>
        <string>{20,28}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,93}}</string>
        <key>sourceSize</key>
        <string>{150,93}</string>
      </dict>
      <key>weapon_11026_1_8_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{299,243},{137,127}}</string>
        <key>offset</key>
        <string>{2,16}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,127}}</string>
        <key>sourceSize</key>
        <string>{137,127}</string>
      </dict>
      <key>weapon_11026_1_8_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{305,118},{142,123}}</string>
        <key>offset</key>
        <string>{11,9}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,123}}</string>
        <key>sourceSize</key>
        <string>{142,123}</string>
      </dict>
      <key>weapon_11026_1_8_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{93,153}}</string>
        <key>offset</key>
        <string>{-17,19}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,153}}</string>
        <key>sourceSize</key>
        <string>{93,153}</string>
      </dict>
      <key>weapon_11026_1_8_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,307},{96,149}}</string>
        <key>offset</key>
        <string>{-13,6}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,149}}</string>
        <key>sourceSize</key>
        <string>{96,149}</string>
      </dict>
      <key>weapon_11026_1_8_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{95,148},{108,145}}</string>
        <key>offset</key>
        <string>{-73,23}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,145}}</string>
        <key>sourceSize</key>
        <string>{108,145}</string>
      </dict>
      <key>weapon_11026_1_8_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{193,0},{110,145}}</string>
        <key>offset</key>
        <string>{-77,13}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,145}}</string>
        <key>sourceSize</key>
        <string>{110,145}</string>
      </dict>
      <key>weapon_11026_1_8_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{305,0},{145,116}}</string>
        <key>offset</key>
        <string>{-109,35}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,116}}</string>
        <key>sourceSize</key>
        <string>{145,116}</string>
      </dict>
      <key>weapon_11026_1_8_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,295},{142,114}}</string>
        <key>offset</key>
        <string>{-122,27}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,114}}</string>
        <key>sourceSize</key>
        <string>{142,114}</string>
      </dict>
      <key>weapon_11026_1_8_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{214,372},{134,94}}</string>
        <key>offset</key>
        <string>{-89,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,94}}</string>
        <key>sourceSize</key>
        <string>{134,94}</string>
      </dict>
      <key>weapon_11026_1_8_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{205,147},{140,92}}</string>
        <key>offset</key>
        <string>{-103,51}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,92}}</string>
        <key>sourceSize</key>
        <string>{140,92}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>weapon_11026_1_8.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>weapon_11026_1_8.png</string>
    </dict>
  </dict>
</plist>