<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>npc_0381_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{172,208}}</string>
        <key>offset</key>
        <string>{-66,143}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{172,208}</string>
        <key>sourceSize</key>
        <string>{172,208}</string>
      </dict>
      <key>npc_0381_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,210},{181,208}}</string>
        <key>offset</key>
        <string>{-66,143}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{181,208}</string>
        <key>sourceSize</key>
        <string>{181,208}</string>
      </dict>
      <key>npc_0381_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,0},{181,208}}</string>
        <key>offset</key>
        <string>{-66,143}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{181,208}</string>
        <key>sourceSize</key>
        <string>{181,208}</string>
      </dict>
      <key>npc_0381_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{183,210},{181,208}}</string>
        <key>offset</key>
        <string>{-66,143}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{181,208}</string>
        <key>sourceSize</key>
        <string>{181,208}</string>
      </dict>
      <key>npc_0381_0_0_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{357,0},{181,208}}</string>
        <key>offset</key>
        <string>{-66,143}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{181,208}</string>
        <key>sourceSize</key>
        <string>{181,208}</string>
      </dict>
      <key>npc_0381_0_0_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{366,210},{181,208}}</string>
        <key>offset</key>
        <string>{-66,143}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{181,208}</string>
        <key>sourceSize</key>
        <string>{181,208}</string>
      </dict>
      <key>npc_0381_0_0_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{540,0},{181,208}}</string>
        <key>offset</key>
        <string>{-66,143}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{0,0},{181,208}</string>
        <key>sourceSize</key>
        <string>{181,208}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>npc_0381_0_0.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>npc_0381_0_0.png</string>
    </dict>
  </dict>
</plist>