<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>npc_4092_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{116,135}}</string>
        <key>offset</key>
        <string>{-23,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,135}}</string>
        <key>sourceSize</key>
        <string>{116,135}</string>
      </dict>
      <key>npc_4092_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,118},{120,119}}</string>
        <key>offset</key>
        <string>{-22,82}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,119}}</string>
        <key>sourceSize</key>
        <string>{120,119}</string>
      </dict>
      <key>npc_4092_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,239},{115,106}}</string>
        <key>offset</key>
        <string>{-21,70}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,106}}</string>
        <key>sourceSize</key>
        <string>{115,106}</string>
      </dict>
      <key>npc_4092_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,129},{117,116}}</string>
        <key>offset</key>
        <string>{-25,76}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,116}}</string>
        <key>sourceSize</key>
        <string>{117,116}</string>
      </dict>
      <key>npc_4092_0_0_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,247},{111,102}}</string>
        <key>offset</key>
        <string>{-34,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,102}}</string>
        <key>sourceSize</key>
        <string>{111,102}</string>
      </dict>
      <key>npc_4092_0_0_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{137,0},{127,110}}</string>
        <key>offset</key>
        <string>{-46,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,110}}</string>
        <key>sourceSize</key>
        <string>{127,110}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>npc_4092_0_0.png</string>
      <key>size</key>
      <string>{256,512}</string>
      <key>textureFileName</key>
      <string>npc_4092_0_0.png</string>
    </dict>
  </dict>
</plist>