<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>npc_4056_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{68,124}}</string>
        <key>offset</key>
        <string>{0,91}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{68,124}}</string>
        <key>sourceSize</key>
        <string>{68,124}</string>
      </dict>
      <key>npc_4056_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,126},{67,124}}</string>
        <key>offset</key>
        <string>{0,91}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,124}}</string>
        <key>sourceSize</key>
        <string>{67,124}</string>
      </dict>
      <key>npc_4056_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{69,126},{66,124}}</string>
        <key>offset</key>
        <string>{0,91}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,124}}</string>
        <key>sourceSize</key>
        <string>{66,124}</string>
      </dict>
      <key>npc_4056_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{70,0},{66,124}}</string>
        <key>offset</key>
        <string>{0,91}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{66,124}}</string>
        <key>sourceSize</key>
        <string>{66,124}</string>
      </dict>
      <key>npc_4056_0_0_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{138,0},{67,124}}</string>
        <key>offset</key>
        <string>{0,91}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,124}}</string>
        <key>sourceSize</key>
        <string>{67,124}</string>
      </dict>
      <key>npc_4056_0_0_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{138,126},{67,124}}</string>
        <key>offset</key>
        <string>{0,91}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,124}}</string>
        <key>sourceSize</key>
        <string>{67,124}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>npc_4056_0_0.png</string>
      <key>size</key>
      <string>{256,256}</string>
      <key>textureFileName</key>
      <string>npc_4056_0_0.png</string>
    </dict>
  </dict>
</plist>