<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>npc_4000_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{85,117}}</string>
        <key>offset</key>
        <string>{-10,98}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,117}}</string>
        <key>sourceSize</key>
        <string>{85,117}</string>
      </dict>
      <key>npc_4000_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{87,0},{83,116}}</string>
        <key>offset</key>
        <string>{-8,97}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,116}}</string>
        <key>sourceSize</key>
        <string>{83,116}</string>
      </dict>
      <key>npc_4000_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{89,118},{83,116}}</string>
        <key>offset</key>
        <string>{-8,97}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{83,116}}</string>
        <key>sourceSize</key>
        <string>{83,116}</string>
      </dict>
      <key>npc_4000_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,0},{85,116}}</string>
        <key>offset</key>
        <string>{-10,97}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,116}}</string>
        <key>sourceSize</key>
        <string>{85,116}</string>
      </dict>
      <key>npc_4000_0_0_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,118},{87,116}}</string>
        <key>offset</key>
        <string>{-12,97}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,116}}</string>
        <key>sourceSize</key>
        <string>{87,116}</string>
      </dict>
      <key>npc_4000_0_0_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,119},{87,117}}</string>
        <key>offset</key>
        <string>{-12,98}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,117}}</string>
        <key>sourceSize</key>
        <string>{87,117}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>npc_4000_0_0.png</string>
      <key>size</key>
      <string>{512,256}</string>
      <key>textureFileName</key>
      <string>npc_4000_0_0.png</string>
    </dict>
  </dict>
</plist>