<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>npc_4076_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,216},{106,133}}</string>
        <key>offset</key>
        <string>{-16,110}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,133}}</string>
        <key>sourceSize</key>
        <string>{106,133}</string>
      </dict>
      <key>npc_4076_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{135,274},{106,133}}</string>
        <key>offset</key>
        <string>{-16,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,133}}</string>
        <key>sourceSize</key>
        <string>{106,133}</string>
      </dict>
      <key>npc_4076_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,108},{106,135}}</string>
        <key>offset</key>
        <string>{-16,110}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,135}}</string>
        <key>sourceSize</key>
        <string>{106,135}</string>
      </dict>
      <key>npc_4076_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{106,137}}</string>
        <key>offset</key>
        <string>{-16,110}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,137}}</string>
        <key>sourceSize</key>
        <string>{106,137}</string>
      </dict>
      <key>npc_4076_0_0_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{139,0},{106,136}}</string>
        <key>offset</key>
        <string>{-16,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,136}}</string>
        <key>sourceSize</key>
        <string>{106,136}</string>
      </dict>
      <key>npc_4076_0_0_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{137,138},{106,134}}</string>
        <key>offset</key>
        <string>{-16,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,134}}</string>
        <key>sourceSize</key>
        <string>{106,134}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>npc_4076_0_0.png</string>
      <key>size</key>
      <string>{256,512}</string>
      <key>textureFileName</key>
      <string>npc_4076_0_0.png</string>
    </dict>
  </dict>
</plist>