<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>npc_1015_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{242,316}}</string>
        <key>offset</key>
        <string>{-94,193}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{242,316}}</string>
        <key>sourceSize</key>
        <string>{242,316}</string>
      </dict>
      <key>npc_1015_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{318,0},{242,316}}</string>
        <key>offset</key>
        <string>{-94,193}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{242,316}}</string>
        <key>sourceSize</key>
        <string>{242,316}</string>
      </dict>
      <key>npc_1015_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{636,0},{242,316}}</string>
        <key>offset</key>
        <string>{-94,193}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{242,316}}</string>
        <key>sourceSize</key>
        <string>{242,316}</string>
      </dict>
      <key>npc_1015_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{636,244},{242,316}}</string>
        <key>offset</key>
        <string>{-94,193}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{242,316}}</string>
        <key>sourceSize</key>
        <string>{242,316}</string>
      </dict>
      <key>npc_1015_0_0_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,244},{242,316}}</string>
        <key>offset</key>
        <string>{-94,193}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{242,316}}</string>
        <key>sourceSize</key>
        <string>{242,316}</string>
      </dict>
      <key>npc_1015_0_0_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{318,244},{242,316}}</string>
        <key>offset</key>
        <string>{-94,193}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{242,316}}</string>
        <key>sourceSize</key>
        <string>{242,316}</string>
      </dict>
      <key>npc_1015_0_0_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{318,488},{242,316}}</string>
        <key>offset</key>
        <string>{-94,193}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{242,316}}</string>
        <key>sourceSize</key>
        <string>{242,316}</string>
      </dict>
      <key>npc_1015_0_0_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,488},{242,316}}</string>
        <key>offset</key>
        <string>{-94,193}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{242,316}}</string>
        <key>sourceSize</key>
        <string>{242,316}</string>
      </dict>
      <key>npc_1015_0_0_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,732},{242,316}}</string>
        <key>offset</key>
        <string>{-94,193}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{242,316}}</string>
        <key>sourceSize</key>
        <string>{242,316}</string>
      </dict>
      <key>npc_1015_0_0_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{636,488},{242,316}}</string>
        <key>offset</key>
        <string>{-94,193}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{242,316}}</string>
        <key>sourceSize</key>
        <string>{242,316}</string>
      </dict>
      <key>npc_1015_0_0_0_0010.png</key>
      <dict>
        <key>frame</key>
        <string>{{636,732},{242,316}}</string>
        <key>offset</key>
        <string>{-94,193}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{242,316}}</string>
        <key>sourceSize</key>
        <string>{242,316}</string>
      </dict>
      <key>npc_1015_0_0_0_0011.png</key>
      <dict>
        <key>frame</key>
        <string>{{318,732},{242,316}}</string>
        <key>offset</key>
        <string>{-94,193}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{242,316}}</string>
        <key>sourceSize</key>
        <string>{242,316}</string>
      </dict>
      <key>npc_1015_0_0_0_0012.png</key>
      <dict>
        <key>frame</key>
        <string>{{318,976},{242,316}}</string>
        <key>offset</key>
        <string>{-94,193}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{242,316}}</string>
        <key>sourceSize</key>
        <string>{242,316}</string>
      </dict>
      <key>npc_1015_0_0_0_0013.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,976},{242,316}}</string>
        <key>offset</key>
        <string>{-94,193}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{242,316}}</string>
        <key>sourceSize</key>
        <string>{242,316}</string>
      </dict>
      <key>npc_1015_0_0_0_0014.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1220},{242,316}}</string>
        <key>offset</key>
        <string>{-94,193}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{242,316}}</string>
        <key>sourceSize</key>
        <string>{242,316}</string>
      </dict>
      <key>npc_1015_0_0_0_0015.png</key>
      <dict>
        <key>frame</key>
        <string>{{636,976},{242,316}}</string>
        <key>offset</key>
        <string>{-94,193}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{242,316}}</string>
        <key>sourceSize</key>
        <string>{242,316}</string>
      </dict>
      <key>npc_1015_0_0_0_0016.png</key>
      <dict>
        <key>frame</key>
        <string>{{636,1220},{242,316}}</string>
        <key>offset</key>
        <string>{-94,193}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{242,316}}</string>
        <key>sourceSize</key>
        <string>{242,316}</string>
      </dict>
      <key>npc_1015_0_0_0_0017.png</key>
      <dict>
        <key>frame</key>
        <string>{{318,1220},{242,316}}</string>
        <key>offset</key>
        <string>{-94,193}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{242,316}}</string>
        <key>sourceSize</key>
        <string>{242,316}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>npc_1015_0_0.png</string>
      <key>size</key>
      <string>{1024,2048}</string>
      <key>textureFileName</key>
      <string>npc_1015_0_0.png</string>
    </dict>
  </dict>
</plist>