<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>obj162_000525.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,732},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000526.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,0},{48,640}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,640}}</string>
			<key>sourceSize</key>
			<string>{48,640}</string>
		</dict>
		<key>obj162_000527.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,0},{48,269}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,269}}</string>
			<key>sourceSize</key>
			<string>{48,269}</string>
		</dict>
		<key>obj162_000528.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,0},{48,701}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,701}}</string>
			<key>sourceSize</key>
			<string>{48,701}</string>
		</dict>
		<key>obj162_000529.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,732},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000530.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,703},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000531.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,700},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000532.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,734},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000533.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,734},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000534.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,642},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000535.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,642},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000536.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,676},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000537.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,676},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000538.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,710},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000539.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,642},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000540.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,0},{48,640}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,640}}</string>
			<key>sourceSize</key>
			<string>{48,640}</string>
		</dict>
		<key>obj162_000541.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,271},{48,257}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,257}}</string>
			<key>sourceSize</key>
			<string>{48,257}</string>
		</dict>
		<key>obj162_000542.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{48,730}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,730}}</string>
			<key>sourceSize</key>
			<string>{48,730}</string>
		</dict>
		<key>obj162_000543.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,744},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000544.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,737},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000545.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,766},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000546.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,766},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000547.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,766},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000548.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,778},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000549.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,778},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000550.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,778},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000551.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,778},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000552.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,812},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000553.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,812},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000554.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,812},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000555.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,0},{48,640}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,640}}</string>
			<key>sourceSize</key>
			<string>{48,640}</string>
		</dict>
		<key>obj162_000556.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,530},{48,234}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,234}}</string>
			<key>sourceSize</key>
			<string>{48,234}</string>
		</dict>
		<key>obj162_000557.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,0},{48,698}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,698}}</string>
			<key>sourceSize</key>
			<string>{48,698}</string>
		</dict>
		<key>obj162_000558.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,812},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000559.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,812},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>obj162_15.png</string>
		<key>size</key>
		<string>{389,848}</string>
		<key>textureFileName</key>
		<string>obj162_15.png</string>
	</dict>
</dict>
</plist>
