<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>obj162_001785.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,0},{48,628}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,628}}</string>
			<key>sourceSize</key>
			<string>{48,628}</string>
		</dict>
		<key>obj162_001786.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,0},{48,631}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,631}}</string>
			<key>sourceSize</key>
			<string>{48,631}</string>
		</dict>
		<key>obj162_001787.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,606},{48,220}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,220}}</string>
			<key>sourceSize</key>
			<string>{48,220}</string>
		</dict>
		<key>obj162_001788.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,0},{48,609}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,609}}</string>
			<key>sourceSize</key>
			<string>{48,609}</string>
		</dict>
		<key>obj162_001789.png</key>
		<dict>
			<key>frame</key>
			<string>{{650,0},{48,570}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,570}}</string>
			<key>sourceSize</key>
			<string>{48,570}</string>
		</dict>
		<key>obj162_001790.png</key>
		<dict>
			<key>frame</key>
			<string>{{500,596},{48,268}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,268}}</string>
			<key>sourceSize</key>
			<string>{48,268}</string>
		</dict>
		<key>obj162_001791.png</key>
		<dict>
			<key>frame</key>
			<string>{{700,0},{48,567}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,567}}</string>
			<key>sourceSize</key>
			<string>{48,567}</string>
		</dict>
		<key>obj162_001792.png</key>
		<dict>
			<key>frame</key>
			<string>{{1100,0},{48,464}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,464}}</string>
			<key>sourceSize</key>
			<string>{48,464}</string>
		</dict>
		<key>obj162_001793.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,599},{48,236}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,236}}</string>
			<key>sourceSize</key>
			<string>{48,236}</string>
		</dict>
		<key>obj162_001794.png</key>
		<dict>
			<key>frame</key>
			<string>{{1000,0},{48,511}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,511}}</string>
			<key>sourceSize</key>
			<string>{48,511}</string>
		</dict>
		<key>obj162_001795.png</key>
		<dict>
			<key>frame</key>
			<string>{{850,0},{48,559}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,559}}</string>
			<key>sourceSize</key>
			<string>{48,559}</string>
		</dict>
		<key>obj162_001796.png</key>
		<dict>
			<key>frame</key>
			<string>{{650,572},{48,332}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,332}}</string>
			<key>sourceSize</key>
			<string>{48,332}</string>
		</dict>
		<key>obj162_001797.png</key>
		<dict>
			<key>frame</key>
			<string>{{500,0},{48,594}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,594}}</string>
			<key>sourceSize</key>
			<string>{48,594}</string>
		</dict>
		<key>obj162_001798.png</key>
		<dict>
			<key>frame</key>
			<string>{{600,0},{48,582}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,582}}</string>
			<key>sourceSize</key>
			<string>{48,582}</string>
		</dict>
		<key>obj162_001799.png</key>
		<dict>
			<key>frame</key>
			<string>{{600,584},{48,296}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,296}}</string>
			<key>sourceSize</key>
			<string>{48,296}</string>
		</dict>
		<key>obj162_001800.png</key>
		<dict>
			<key>frame</key>
			<string>{{750,0},{48,563}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,563}}</string>
			<key>sourceSize</key>
			<string>{48,563}</string>
		</dict>
		<key>obj162_001801.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,0},{48,618}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,618}}</string>
			<key>sourceSize</key>
			<string>{48,618}</string>
		</dict>
		<key>obj162_001802.png</key>
		<dict>
			<key>frame</key>
			<string>{{550,591},{48,274}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,274}}</string>
			<key>sourceSize</key>
			<string>{48,274}</string>
		</dict>
		<key>obj162_001803.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,0},{48,619}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,619}}</string>
			<key>sourceSize</key>
			<string>{48,619}</string>
		</dict>
		<key>obj162_001804.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,0},{48,597}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,597}}</string>
			<key>sourceSize</key>
			<string>{48,597}</string>
		</dict>
		<key>obj162_001805.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,610},{48,219}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,219}}</string>
			<key>sourceSize</key>
			<string>{48,219}</string>
		</dict>
		<key>obj162_001806.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{48,633}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,633}}</string>
			<key>sourceSize</key>
			<string>{48,633}</string>
		</dict>
		<key>obj162_001807.png</key>
		<dict>
			<key>frame</key>
			<string>{{900,0},{48,538}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,538}}</string>
			<key>sourceSize</key>
			<string>{48,538}</string>
		</dict>
		<key>obj162_001808.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,621},{48,138}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,138}}</string>
			<key>sourceSize</key>
			<string>{48,138}</string>
		</dict>
		<key>obj162_001809.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,0},{48,621}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,621}}</string>
			<key>sourceSize</key>
			<string>{48,621}</string>
		</dict>
		<key>obj162_001810.png</key>
		<dict>
			<key>frame</key>
			<string>{{1150,0},{48,454}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,454}}</string>
			<key>sourceSize</key>
			<string>{48,454}</string>
		</dict>
		<key>obj162_001811.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,611},{48,202}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,202}}</string>
			<key>sourceSize</key>
			<string>{48,202}</string>
		</dict>
		<key>obj162_001812.png</key>
		<dict>
			<key>frame</key>
			<string>{{550,0},{48,589}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,589}}</string>
			<key>sourceSize</key>
			<string>{48,589}</string>
		</dict>
		<key>obj162_001813.png</key>
		<dict>
			<key>frame</key>
			<string>{{950,0},{48,530}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,530}}</string>
			<key>sourceSize</key>
			<string>{48,530}</string>
		</dict>
		<key>obj162_001814.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,620},{48,163}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,163}}</string>
			<key>sourceSize</key>
			<string>{48,163}</string>
		</dict>
		<key>obj162_001815.png</key>
		<dict>
			<key>frame</key>
			<string>{{1050,0},{48,484}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,484}}</string>
			<key>sourceSize</key>
			<string>{48,484}</string>
		</dict>
		<key>obj162_001816.png</key>
		<dict>
			<key>frame</key>
			<string>{{800,0},{48,561}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,561}}</string>
			<key>sourceSize</key>
			<string>{48,561}</string>
		</dict>
		<key>obj162_001817.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,623},{48,138}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,138}}</string>
			<key>sourceSize</key>
			<string>{48,138}</string>
		</dict>
		<key>obj162_001818.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,0},{48,608}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,608}}</string>
			<key>sourceSize</key>
			<string>{48,608}</string>
		</dict>
		<key>obj162_001819.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,0},{48,604}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,604}}</string>
			<key>sourceSize</key>
			<string>{48,604}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>obj162_51.png</string>
		<key>size</key>
		<string>{1208,909}</string>
		<key>textureFileName</key>
		<string>obj162_51.png</string>
	</dict>
</dict>
</plist>
