<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>obj181_005130.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,526},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_005131.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,560},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_005132.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{48,896}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,896}}</string>
        <key>sourceSize</key>
        <string>{48,896}</string>
      </dict>
      <key>obj181_005133.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,594},{48,32}}</string>
        <key>offset</key>
        <string>{5,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_005134.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,520},{48,161}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,161}}</string>
        <key>sourceSize</key>
        <string>{48,161}</string>
      </dict>
      <key>obj181_005135.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,628},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_005136.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,662},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_005137.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,683},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_005138.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,696},{48,32}}</string>
        <key>offset</key>
        <string>{5,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_005139.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,0},{48,524}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,524}}</string>
        <key>sourceSize</key>
        <string>{48,524}</string>
      </dict>
      <key>obj181_005140.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,0},{48,320}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,320}}</string>
        <key>sourceSize</key>
        <string>{48,320}</string>
      </dict>
      <key>obj181_005141.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,0},{48,518}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,518}}</string>
        <key>sourceSize</key>
        <string>{48,518}</string>
      </dict>
      <key>obj181_005142.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,322},{48,320}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,320}}</string>
        <key>sourceSize</key>
        <string>{48,320}</string>
      </dict>
      <key>obj181_005143.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,0},{48,485}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,485}}</string>
        <key>sourceSize</key>
        <string>{48,485}</string>
      </dict>
      <key>obj181_005144.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,487},{48,320}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,320}}</string>
        <key>sourceSize</key>
        <string>{48,320}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>obj181_342.png</string>
      <key>size</key>
      <string>{256,1024}</string>
      <key>textureFileName</key>
      <string>obj181_342.png</string>
    </dict>
  </dict>
</plist>