<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>obj181_005010.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,0},{48,516}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,516}}</string>
        <key>sourceSize</key>
        <string>{48,516}</string>
      </dict>
      <key>obj181_005011.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,852},{48,146}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,146}}</string>
        <key>sourceSize</key>
        <string>{48,146}</string>
      </dict>
      <key>obj181_005012.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,0},{48,424}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,424}}</string>
        <key>sourceSize</key>
        <string>{48,424}</string>
      </dict>
      <key>obj181_005013.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,0},{48,484}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,484}}</string>
        <key>sourceSize</key>
        <string>{48,484}</string>
      </dict>
      <key>obj181_005014.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,852},{48,147}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,147}}</string>
        <key>sourceSize</key>
        <string>{48,147}</string>
      </dict>
      <key>obj181_005015.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,0},{48,425}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,425}}</string>
        <key>sourceSize</key>
        <string>{48,425}</string>
      </dict>
      <key>obj181_005016.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{48,704}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,704}}</string>
        <key>sourceSize</key>
        <string>{48,704}</string>
      </dict>
      <key>obj181_005017.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,427},{48,32}}</string>
        <key>offset</key>
        <string>{5,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_005018.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,0},{48,425}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,425}}</string>
        <key>sourceSize</key>
        <string>{48,425}</string>
      </dict>
      <key>obj181_005019.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,0},{48,704}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,704}}</string>
        <key>sourceSize</key>
        <string>{48,704}</string>
      </dict>
      <key>obj181_005020.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,0},{48,425}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,425}}</string>
        <key>sourceSize</key>
        <string>{48,425}</string>
      </dict>
      <key>obj181_005021.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,0},{48,704}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,704}}</string>
        <key>sourceSize</key>
        <string>{48,704}</string>
      </dict>
      <key>obj181_005022.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,426},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj181_005023.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,426},{48,424}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,424}}</string>
        <key>sourceSize</key>
        <string>{48,424}</string>
      </dict>
      <key>obj181_005024.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,0},{48,704}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,704}}</string>
        <key>sourceSize</key>
        <string>{48,704}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>obj181_334.png</string>
      <key>size</key>
      <string>{512,1024}</string>
      <key>textureFileName</key>
      <string>obj181_334.png</string>
    </dict>
  </dict>
</plist>