<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>obj181_005175.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,610},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_005176.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,634},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_005177.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,644},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_005178.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,668},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_005179.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,678},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_005180.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,702},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_005181.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,712},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_005182.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,736},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_005183.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,0},{48,504}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,504}}</string>
        <key>sourceSize</key>
        <string>{48,504}</string>
      </dict>
      <key>obj181_005184.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,746},{48,32}}</string>
        <key>offset</key>
        <string>{5,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_005185.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,506},{48,126}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,126}}</string>
        <key>sourceSize</key>
        <string>{48,126}</string>
      </dict>
      <key>obj181_005186.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{48,608}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,608}}</string>
        <key>sourceSize</key>
        <string>{48,608}</string>
      </dict>
      <key>obj181_005187.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,770},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_005188.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,780},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_005189.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,804},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>obj181_345.png</string>
      <key>size</key>
      <string>{128,1024}</string>
      <key>textureFileName</key>
      <string>obj181_345.png</string>
    </dict>
  </dict>
</plist>