<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>obj162_000805.png</key>
		<dict>
			<key>frame</key>
			<string>{{600,444},{48,156}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,156}}</string>
			<key>sourceSize</key>
			<string>{48,156}</string>
		</dict>
		<key>obj162_000806.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,604},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000807.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,0},{48,327}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,327}}</string>
			<key>sourceSize</key>
			<string>{48,327}</string>
		</dict>
		<key>obj162_000808.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,501},{48,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,96}}</string>
			<key>sourceSize</key>
			<string>{48,96}</string>
		</dict>
		<key>obj162_000809.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,320},{48,224}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,224}}</string>
			<key>sourceSize</key>
			<string>{48,224}</string>
		</dict>
		<key>obj162_000810.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,329},{48,288}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,288}}</string>
			<key>sourceSize</key>
			<string>{48,288}</string>
		</dict>
		<key>obj162_000811.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,0},{48,499}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,499}}</string>
			<key>sourceSize</key>
			<string>{48,499}</string>
		</dict>
		<key>obj162_000812.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,604},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000813.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,511},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000814.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,0},{48,327}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,327}}</string>
			<key>sourceSize</key>
			<string>{48,327}</string>
		</dict>
		<key>obj162_000815.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,506},{48,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,96}}</string>
			<key>sourceSize</key>
			<string>{48,96}</string>
		</dict>
		<key>obj162_000816.png</key>
		<dict>
			<key>frame</key>
			<string>{{500,320},{48,224}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,224}}</string>
			<key>sourceSize</key>
			<string>{48,224}</string>
		</dict>
		<key>obj162_000817.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,329},{48,288}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,288}}</string>
			<key>sourceSize</key>
			<string>{48,288}</string>
		</dict>
		<key>obj162_000818.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,0},{48,509}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,509}}</string>
			<key>sourceSize</key>
			<string>{48,509}</string>
		</dict>
		<key>obj162_000819.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,511},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000820.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,538},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000821.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,0},{48,318}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,318}}</string>
			<key>sourceSize</key>
			<string>{48,318}</string>
		</dict>
		<key>obj162_000822.png</key>
		<dict>
			<key>frame</key>
			<string>{{600,0},{48,224}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,224}}</string>
			<key>sourceSize</key>
			<string>{48,224}</string>
		</dict>
		<key>obj162_000823.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,0},{48,509}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,509}}</string>
			<key>sourceSize</key>
			<string>{48,509}</string>
		</dict>
		<key>obj162_000824.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,545},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000825.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,545},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000826.png</key>
		<dict>
			<key>frame</key>
			<string>{{550,0},{48,288}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,288}}</string>
			<key>sourceSize</key>
			<string>{48,288}</string>
		</dict>
		<key>obj162_000827.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,320},{48,271}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,271}}</string>
			<key>sourceSize</key>
			<string>{48,271}</string>
		</dict>
		<key>obj162_000828.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,0},{48,318}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,318}}</string>
			<key>sourceSize</key>
			<string>{48,318}</string>
		</dict>
		<key>obj162_000829.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{48,536}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,536}}</string>
			<key>sourceSize</key>
			<string>{48,536}</string>
		</dict>
		<key>obj162_000830.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,579},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000831.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,604},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000832.png</key>
		<dict>
			<key>frame</key>
			<string>{{550,290},{48,288}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,288}}</string>
			<key>sourceSize</key>
			<string>{48,288}</string>
		</dict>
		<key>obj162_000833.png</key>
		<dict>
			<key>frame</key>
			<string>{{600,226},{48,216}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,216}}</string>
			<key>sourceSize</key>
			<string>{48,216}</string>
		</dict>
		<key>obj162_000834.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,0},{48,318}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,318}}</string>
			<key>sourceSize</key>
			<string>{48,318}</string>
		</dict>
		<key>obj162_000835.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,0},{48,504}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,504}}</string>
			<key>sourceSize</key>
			<string>{48,504}</string>
		</dict>
		<key>obj162_000836.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,604},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000837.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,602},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000838.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,320},{48,288}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,288}}</string>
			<key>sourceSize</key>
			<string>{48,288}</string>
		</dict>
		<key>obj162_000839.png</key>
		<dict>
			<key>frame</key>
			<string>{{500,0},{48,318}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,318}}</string>
			<key>sourceSize</key>
			<string>{48,318}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>obj162_23.png</string>
		<key>size</key>
		<string>{664,641}</string>
		<key>textureFileName</key>
		<string>obj162_23.png</string>
	</dict>
</dict>
</plist>
