<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>obj181_001290.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,0},{48,575}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,575}}</string>
        <key>sourceSize</key>
        <string>{48,575}</string>
      </dict>
      <key>obj181_001291.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,0},{48,544}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,544}}</string>
        <key>sourceSize</key>
        <string>{48,544}</string>
      </dict>
      <key>obj181_001292.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,0},{48,416}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,416}}</string>
        <key>sourceSize</key>
        <string>{48,416}</string>
      </dict>
      <key>obj181_001293.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,365},{48,350}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,350}}</string>
        <key>sourceSize</key>
        <string>{48,350}</string>
      </dict>
      <key>obj181_001294.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,0},{48,465}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,465}}</string>
        <key>sourceSize</key>
        <string>{48,465}</string>
      </dict>
      <key>obj181_001295.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,418},{48,94}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,94}}</string>
        <key>sourceSize</key>
        <string>{48,94}</string>
      </dict>
      <key>obj181_001296.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,0},{48,544}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,544}}</string>
        <key>sourceSize</key>
        <string>{48,544}</string>
      </dict>
      <key>obj181_001297.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,0},{48,416}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,416}}</string>
        <key>sourceSize</key>
        <string>{48,416}</string>
      </dict>
      <key>obj181_001298.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,0},{48,363}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,363}}</string>
        <key>sourceSize</key>
        <string>{48,363}</string>
      </dict>
      <key>obj181_001299.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,577},{48,442}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,442}}</string>
        <key>sourceSize</key>
        <string>{48,442}</string>
      </dict>
      <key>obj181_001300.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,418},{48,94}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,94}}</string>
        <key>sourceSize</key>
        <string>{48,94}</string>
      </dict>
      <key>obj181_001301.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,0},{48,544}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,544}}</string>
        <key>sourceSize</key>
        <string>{48,544}</string>
      </dict>
      <key>obj181_001302.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,0},{48,448}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,448}}</string>
        <key>sourceSize</key>
        <string>{48,448}</string>
      </dict>
      <key>obj181_001303.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{48,960}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,960}}</string>
        <key>sourceSize</key>
        <string>{48,960}</string>
      </dict>
      <key>obj181_001304.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,717},{48,293}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,293}}</string>
        <key>sourceSize</key>
        <string>{48,293}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>obj181_86.png</string>
      <key>size</key>
      <string>{512,1024}</string>
      <key>textureFileName</key>
      <string>obj181_86.png</string>
    </dict>
  </dict>
</plist>