<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>obj181_003075.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,0},{48,516}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,516}}</string>
        <key>sourceSize</key>
        <string>{48,516}</string>
      </dict>
      <key>obj181_003076.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{48,630}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,630}}</string>
        <key>sourceSize</key>
        <string>{48,630}</string>
      </dict>
      <key>obj181_003077.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,0},{48,511}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,511}}</string>
        <key>sourceSize</key>
        <string>{48,511}</string>
      </dict>
      <key>obj181_003078.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,0},{48,573}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,573}}</string>
        <key>sourceSize</key>
        <string>{48,573}</string>
      </dict>
      <key>obj181_003079.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,0},{48,395}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,395}}</string>
        <key>sourceSize</key>
        <string>{48,395}</string>
      </dict>
      <key>obj181_003080.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,0},{48,510}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,510}}</string>
        <key>sourceSize</key>
        <string>{48,510}</string>
      </dict>
      <key>obj181_003081.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,0},{48,602}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,602}}</string>
        <key>sourceSize</key>
        <string>{48,602}</string>
      </dict>
      <key>obj181_003082.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,397},{48,395}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,395}}</string>
        <key>sourceSize</key>
        <string>{48,395}</string>
      </dict>
      <key>obj181_003083.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,455},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_003084.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,489},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_003085.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,0},{48,576}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,576}}</string>
        <key>sourceSize</key>
        <string>{48,576}</string>
      </dict>
      <key>obj181_003086.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,0},{48,536}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,536}}</string>
        <key>sourceSize</key>
        <string>{48,536}</string>
      </dict>
      <key>obj181_003087.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,0},{48,453}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,453}}</string>
        <key>sourceSize</key>
        <string>{48,453}</string>
      </dict>
      <key>obj181_003088.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,512},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_003089.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,513},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>obj181_205.png</string>
      <key>size</key>
      <string>{512,1024}</string>
      <key>textureFileName</key>
      <string>obj181_205.png</string>
    </dict>
  </dict>
</plist>