<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>obj181_005205.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,706},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_005206.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,740},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_005207.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,774},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_005208.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,506},{48,352}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,352}}</string>
        <key>sourceSize</key>
        <string>{48,352}</string>
      </dict>
      <key>obj181_005209.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,0},{48,504}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,504}}</string>
        <key>sourceSize</key>
        <string>{48,504}</string>
      </dict>
      <key>obj181_005210.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,642},{48,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,62}}</string>
        <key>sourceSize</key>
        <string>{48,62}</string>
      </dict>
      <key>obj181_005211.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{48,640}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,640}}</string>
        <key>sourceSize</key>
        <string>{48,640}</string>
      </dict>
      <key>obj181_005212.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,552},{48,352}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,352}}</string>
        <key>sourceSize</key>
        <string>{48,352}</string>
      </dict>
      <key>obj181_005213.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,506},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj181_005214.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,0},{48,599}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,599}}</string>
        <key>sourceSize</key>
        <string>{48,599}</string>
      </dict>
      <key>obj181_005215.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,567},{48,352}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,352}}</string>
        <key>sourceSize</key>
        <string>{48,352}</string>
      </dict>
      <key>obj181_005216.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,0},{48,565}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,565}}</string>
        <key>sourceSize</key>
        <string>{48,565}</string>
      </dict>
      <key>obj181_005217.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,601},{48,352}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,352}}</string>
        <key>sourceSize</key>
        <string>{48,352}</string>
      </dict>
      <key>obj181_005218.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,0},{48,550}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,550}}</string>
        <key>sourceSize</key>
        <string>{48,550}</string>
      </dict>
      <key>obj181_005219.png</key>
      <dict>
        <key>frame</key>
        <string>{{253,0},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>obj181_347.png</string>
      <key>size</key>
      <string>{256,1024}</string>
      <key>textureFileName</key>
      <string>obj181_347.png</string>
    </dict>
  </dict>
</plist>