<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>obj189_000192.png</key>
		<dict>
			<key>frame</key>
			<string>{{550,233},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>obj189_000193.png</key>
		<dict>
			<key>frame</key>
			<string>{{616,251},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>obj189_000194.png</key>
		<dict>
			<key>frame</key>
			<string>{{682,260},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>obj189_000195.png</key>
		<dict>
			<key>frame</key>
			<string>{{500,299},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>obj189_000196.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,322},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>obj189_000197.png</key>
		<dict>
			<key>frame</key>
			<string>{{566,317},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>obj189_000198.png</key>
		<dict>
			<key>frame</key>
			<string>{{500,0},{48,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,140}}</string>
			<key>sourceSize</key>
			<string>{48,140}</string>
		</dict>
		<key>obj189_000199.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,0},{48,416}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,416}}</string>
			<key>sourceSize</key>
			<string>{48,416}</string>
		</dict>
		<key>obj189_000200.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,0},{48,384}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,384}}</string>
			<key>sourceSize</key>
			<string>{48,384}</string>
		</dict>
		<key>obj189_000201.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,514},{48,352}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,352}}</string>
			<key>sourceSize</key>
			<string>{48,352}</string>
		</dict>
		<key>obj189_000202.png</key>
		<dict>
			<key>frame</key>
			<string>{{632,317},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_000203.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,386},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_000204.png</key>
		<dict>
			<key>frame</key>
			<string>{{500,240},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_000205.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,836},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_000206.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,836},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_000207.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,836},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_000208.png</key>
		<dict>
			<key>frame</key>
			<string>{{682,326},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_000209.png</key>
		<dict>
			<key>frame</key>
			<string>{{632,351},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_000210.png</key>
		<dict>
			<key>frame</key>
			<string>{{682,360},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_000211.png</key>
		<dict>
			<key>frame</key>
			<string>{{500,142},{48,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,96}}</string>
			<key>sourceSize</key>
			<string>{48,96}</string>
		</dict>
		<key>obj189_000212.png</key>
		<dict>
			<key>frame</key>
			<string>{{466,365},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_000213.png</key>
		<dict>
			<key>frame</key>
			<string>{{600,0},{48,130}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,130}}</string>
			<key>sourceSize</key>
			<string>{48,130}</string>
		</dict>
		<key>obj189_000214.png</key>
		<dict>
			<key>frame</key>
			<string>{{550,0},{48,132}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,132}}</string>
			<key>sourceSize</key>
			<string>{48,132}</string>
		</dict>
		<key>obj189_000215.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,0},{48,480}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,480}}</string>
			<key>sourceSize</key>
			<string>{48,480}</string>
		</dict>
		<key>obj189_000216.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,482},{48,384}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,384}}</string>
			<key>sourceSize</key>
			<string>{48,384}</string>
		</dict>
		<key>obj189_000217.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,482},{48,384}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,384}}</string>
			<key>sourceSize</key>
			<string>{48,384}</string>
		</dict>
		<key>obj189_000218.png</key>
		<dict>
			<key>frame</key>
			<string>{{516,365},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_000219.png</key>
		<dict>
			<key>frame</key>
			<string>{{566,383},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_000220.png</key>
		<dict>
			<key>frame</key>
			<string>{{616,385},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_000221.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,388},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_000222.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,420},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_000223.png</key>
		<dict>
			<key>frame</key>
			<string>{{666,394},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_000224.png</key>
		<dict>
			<key>frame</key>
			<string>{{716,394},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_000225.png</key>
		<dict>
			<key>frame</key>
			<string>{{650,0},{48,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,128}}</string>
			<key>sourceSize</key>
			<string>{48,128}</string>
		</dict>
		<key>obj189_000226.png</key>
		<dict>
			<key>frame</key>
			<string>{{716,428},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_000227.png</key>
		<dict>
			<key>frame</key>
			<string>{{650,130},{48,119}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,119}}</string>
			<key>sourceSize</key>
			<string>{48,119}</string>
		</dict>
		<key>obj189_000228.png</key>
		<dict>
			<key>frame</key>
			<string>{{600,132},{48,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,98}}</string>
			<key>sourceSize</key>
			<string>{48,98}</string>
		</dict>
		<key>obj189_000229.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,0},{48,512}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,512}}</string>
			<key>sourceSize</key>
			<string>{48,512}</string>
		</dict>
		<key>obj189_000230.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,418},{48,416}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,416}}</string>
			<key>sourceSize</key>
			<string>{48,416}</string>
		</dict>
		<key>obj189_000231.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,514},{48,352}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,352}}</string>
			<key>sourceSize</key>
			<string>{48,352}</string>
		</dict>
		<key>obj189_000232.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,399},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_000233.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,422},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_000234.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,454},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_000235.png</key>
		<dict>
			<key>frame</key>
			<string>{{500,399},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_000236.png</key>
		<dict>
			<key>frame</key>
			<string>{{700,0},{48,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,128}}</string>
			<key>sourceSize</key>
			<string>{48,128}</string>
		</dict>
		<key>obj189_000237.png</key>
		<dict>
			<key>frame</key>
			<string>{{550,417},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_000238.png</key>
		<dict>
			<key>frame</key>
			<string>{{550,134},{44,97}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,97}}</string>
			<key>sourceSize</key>
			<string>{44,97}</string>
		</dict>
		<key>obj189_000239.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,0},{48,512}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,512}}</string>
			<key>sourceSize</key>
			<string>{48,512}</string>
		</dict>
		<key>obj189_000240.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,418},{48,416}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,416}}</string>
			<key>sourceSize</key>
			<string>{48,416}</string>
		</dict>
		<key>obj189_000241.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,0},{48,320}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,320}}</string>
			<key>sourceSize</key>
			<string>{48,320}</string>
		</dict>
		<key>obj189_000242.png</key>
		<dict>
			<key>frame</key>
			<string>{{600,419},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_000243.png</key>
		<dict>
			<key>frame</key>
			<string>{{650,428},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_000244.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,433},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_000245.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,456},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_000246.png</key>
		<dict>
			<key>frame</key>
			<string>{{700,130},{48,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,128}}</string>
			<key>sourceSize</key>
			<string>{48,128}</string>
		</dict>
		<key>obj189_000247.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,488},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_000248.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{48,608}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,608}}</string>
			<key>sourceSize</key>
			<string>{48,608}</string>
		</dict>
		<key>obj189_000249.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,0},{48,480}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,480}}</string>
			<key>sourceSize</key>
			<string>{48,480}</string>
		</dict>
		<key>obj189_000250.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,610},{48,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,256}}</string>
			<key>sourceSize</key>
			<string>{48,256}</string>
		</dict>
		<key>obj189_000251.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,0},{48,416}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,416}}</string>
			<key>sourceSize</key>
			<string>{48,416}</string>
		</dict>
		<key>obj189_000252.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,0},{48,320}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,320}}</string>
			<key>sourceSize</key>
			<string>{48,320}</string>
		</dict>
		<key>obj189_000253.png</key>
		<dict>
			<key>frame</key>
			<string>{{500,433},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_000254.png</key>
		<dict>
			<key>frame</key>
			<string>{{550,451},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_000255.png</key>
		<dict>
			<key>frame</key>
			<string>{{600,453},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>obj189_3.png</string>
		<key>size</key>
		<string>{768,896}</string>
		<key>textureFileName</key>
		<string>obj189_3.png</string>
	</dict>
</dict>
</plist>
