<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>obj181_000390.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,642},{48,349}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,349}}</string>
        <key>sourceSize</key>
        <string>{48,349}</string>
      </dict>
      <key>obj181_000391.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{48,808}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,808}}</string>
        <key>sourceSize</key>
        <string>{48,808}</string>
      </dict>
      <key>obj181_000392.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,0},{48,672}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,672}}</string>
        <key>sourceSize</key>
        <string>{48,672}</string>
      </dict>
      <key>obj181_000393.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,0},{48,640}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,640}}</string>
        <key>sourceSize</key>
        <string>{48,640}</string>
      </dict>
      <key>obj181_000394.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,714},{48,224}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj181_000395.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,0},{48,397}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,397}}</string>
        <key>sourceSize</key>
        <string>{48,397}</string>
      </dict>
      <key>obj181_000396.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,0},{48,744}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,744}}</string>
        <key>sourceSize</key>
        <string>{48,744}</string>
      </dict>
      <key>obj181_000397.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,0},{48,672}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,672}}</string>
        <key>sourceSize</key>
        <string>{48,672}</string>
      </dict>
      <key>obj181_000398.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,0},{48,640}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,640}}</string>
        <key>sourceSize</key>
        <string>{48,640}</string>
      </dict>
      <key>obj181_000399.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,674},{48,270}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,270}}</string>
        <key>sourceSize</key>
        <string>{48,270}</string>
      </dict>
      <key>obj181_000400.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,0},{48,397}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,397}}</string>
        <key>sourceSize</key>
        <string>{48,397}</string>
      </dict>
      <key>obj181_000401.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,0},{48,712}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,712}}</string>
        <key>sourceSize</key>
        <string>{48,712}</string>
      </dict>
      <key>obj181_000402.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,0},{48,672}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,672}}</string>
        <key>sourceSize</key>
        <string>{48,672}</string>
      </dict>
      <key>obj181_000403.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,0},{48,640}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,640}}</string>
        <key>sourceSize</key>
        <string>{48,640}</string>
      </dict>
      <key>obj181_000404.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,0},{48,640}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,640}}</string>
        <key>sourceSize</key>
        <string>{48,640}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>obj181_26.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>obj181_26.png</string>
    </dict>
  </dict>
</plist>