<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>obj181_002895.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{32,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{32,16}}</string>
        <key>sourceSize</key>
        <string>{32,16}</string>
      </dict>
      <key>obj181_002896.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,18},{32,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{32,16}}</string>
        <key>sourceSize</key>
        <string>{32,16}</string>
      </dict>
      <key>obj181_002897.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,36},{32,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{32,16}}</string>
        <key>sourceSize</key>
        <string>{32,16}</string>
      </dict>
      <key>obj181_002898.png</key>
      <dict>
        <key>frame</key>
        <string>{{34,36},{32,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{32,16}}</string>
        <key>sourceSize</key>
        <string>{32,16}</string>
      </dict>
      <key>obj181_002899.png</key>
      <dict>
        <key>frame</key>
        <string>{{34,0},{32,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{32,16}}</string>
        <key>sourceSize</key>
        <string>{32,16}</string>
      </dict>
      <key>obj181_002900.png</key>
      <dict>
        <key>frame</key>
        <string>{{34,18},{32,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{32,16}}</string>
        <key>sourceSize</key>
        <string>{32,16}</string>
      </dict>
      <key>obj181_002901.png</key>
      <dict>
        <key>frame</key>
        <string>{{68,18},{32,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{32,16}}</string>
        <key>sourceSize</key>
        <string>{32,16}</string>
      </dict>
      <key>obj181_002902.png</key>
      <dict>
        <key>frame</key>
        <string>{{68,0},{32,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{32,16}}</string>
        <key>sourceSize</key>
        <string>{32,16}</string>
      </dict>
      <key>obj181_002903.png</key>
      <dict>
        <key>frame</key>
        <string>{{68,36},{32,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{32,16}}</string>
        <key>sourceSize</key>
        <string>{32,16}</string>
      </dict>
      <key>obj181_002904.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,54},{32,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{32,16}}</string>
        <key>sourceSize</key>
        <string>{32,16}</string>
      </dict>
      <key>obj181_002905.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,72},{32,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{32,16}}</string>
        <key>sourceSize</key>
        <string>{32,16}</string>
      </dict>
      <key>obj181_002906.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,90},{32,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{32,16}}</string>
        <key>sourceSize</key>
        <string>{32,16}</string>
      </dict>
      <key>obj181_002907.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,108},{32,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{32,16}}</string>
        <key>sourceSize</key>
        <string>{32,16}</string>
      </dict>
      <key>obj181_002908.png</key>
      <dict>
        <key>frame</key>
        <string>{{34,108},{32,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{32,16}}</string>
        <key>sourceSize</key>
        <string>{32,16}</string>
      </dict>
      <key>obj181_002909.png</key>
      <dict>
        <key>frame</key>
        <string>{{68,54},{32,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{32,16}}</string>
        <key>sourceSize</key>
        <string>{32,16}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>obj181_193.png</string>
      <key>size</key>
      <string>{128,128}</string>
      <key>textureFileName</key>
      <string>obj181_193.png</string>
    </dict>
  </dict>
</plist>