<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>obj189_001536.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,804},{192,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,256}}</string>
			<key>sourceSize</key>
			<string>{192,256}</string>
		</dict>
		<key>obj189_001537.png</key>
		<dict>
			<key>frame</key>
			<string>{{344,0},{192,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,256}}</string>
			<key>sourceSize</key>
			<string>{192,256}</string>
		</dict>
		<key>obj189_001538.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,0},{192,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,256}}</string>
			<key>sourceSize</key>
			<string>{192,256}</string>
		</dict>
		<key>obj189_001539.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,258},{192,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,256}}</string>
			<key>sourceSize</key>
			<string>{192,256}</string>
		</dict>
		<key>obj189_001540.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,516},{192,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,256}}</string>
			<key>sourceSize</key>
			<string>{192,256}</string>
		</dict>
		<key>obj189_001542.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,900},{48,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,160}}</string>
			<key>sourceSize</key>
			<string>{48,160}</string>
		</dict>
		<key>obj189_001543.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,1190},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001544.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{48,448}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,448}}</string>
			<key>sourceSize</key>
			<string>{48,448}</string>
		</dict>
		<key>obj189_001545.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,900},{48,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,128}}</string>
			<key>sourceSize</key>
			<string>{48,128}</string>
		</dict>
		<key>obj189_001546.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,1224},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001547.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,418},{48,384}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,384}}</string>
			<key>sourceSize</key>
			<string>{48,384}</string>
		</dict>
		<key>obj189_001548.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1192},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001549.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1226},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001550.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,1030},{48,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,128}}</string>
			<key>sourceSize</key>
			<string>{48,128}</string>
		</dict>
		<key>obj189_001551.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,1224},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001552.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,0},{48,416}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,416}}</string>
			<key>sourceSize</key>
			<string>{48,416}</string>
		</dict>
		<key>obj189_001553.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,1224},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001554.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,1224},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001555.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,1224},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001556.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,1224},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001557.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1062},{48,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,128}}</string>
			<key>sourceSize</key>
			<string>{48,128}</string>
		</dict>
		<key>obj189_001558.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,0},{48,416}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,416}}</string>
			<key>sourceSize</key>
			<string>{48,416}</string>
		</dict>
		<key>obj189_001559.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,1224},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001560.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,450},{48,448}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,448}}</string>
			<key>sourceSize</key>
			<string>{48,448}</string>
		</dict>
		<key>obj189_001561.png</key>
		<dict>
			<key>frame</key>
			<string>{{442,1164},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001562.png</key>
		<dict>
			<key>frame</key>
			<string>{{344,1002},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001563.png</key>
		<dict>
			<key>frame</key>
			<string>{{928,486},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001564.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,1062},{144,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,160}}</string>
			<key>sourceSize</key>
			<string>{144,160}</string>
		</dict>
		<key>obj189_001565.png</key>
		<dict>
			<key>frame</key>
			<string>{{296,1062},{144,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,160}}</string>
			<key>sourceSize</key>
			<string>{144,160}</string>
		</dict>
		<key>obj189_001566.png</key>
		<dict>
			<key>frame</key>
			<string>{{344,516},{144,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,160}}</string>
			<key>sourceSize</key>
			<string>{144,160}</string>
		</dict>
		<key>obj189_001567.png</key>
		<dict>
			<key>frame</key>
			<string>{{344,258},{144,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,160}}</string>
			<key>sourceSize</key>
			<string>{144,160}</string>
		</dict>
		<key>obj189_001568.png</key>
		<dict>
			<key>frame</key>
			<string>{{490,258},{144,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,160}}</string>
			<key>sourceSize</key>
			<string>{144,160}</string>
		</dict>
		<key>obj189_001569.png</key>
		<dict>
			<key>frame</key>
			<string>{{538,0},{144,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,160}}</string>
			<key>sourceSize</key>
			<string>{144,160}</string>
		</dict>
		<key>obj189_001570.png</key>
		<dict>
			<key>frame</key>
			<string>{{684,0},{144,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,160}}</string>
			<key>sourceSize</key>
			<string>{144,160}</string>
		</dict>
		<key>obj189_001571.png</key>
		<dict>
			<key>frame</key>
			<string>{{830,0},{144,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,160}}</string>
			<key>sourceSize</key>
			<string>{144,160}</string>
		</dict>
		<key>obj189_001572.png</key>
		<dict>
			<key>frame</key>
			<string>{{830,162},{144,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,160}}</string>
			<key>sourceSize</key>
			<string>{144,160}</string>
		</dict>
		<key>obj189_001573.png</key>
		<dict>
			<key>frame</key>
			<string>{{636,162},{144,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,160}}</string>
			<key>sourceSize</key>
			<string>{144,160}</string>
		</dict>
		<key>obj189_001574.png</key>
		<dict>
			<key>frame</key>
			<string>{{636,324},{144,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,160}}</string>
			<key>sourceSize</key>
			<string>{144,160}</string>
		</dict>
		<key>obj189_001575.png</key>
		<dict>
			<key>frame</key>
			<string>{{490,420},{144,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,160}}</string>
			<key>sourceSize</key>
			<string>{144,160}</string>
		</dict>
		<key>obj189_001576.png</key>
		<dict>
			<key>frame</key>
			<string>{{782,324},{144,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,160}}</string>
			<key>sourceSize</key>
			<string>{144,160}</string>
		</dict>
		<key>obj189_001577.png</key>
		<dict>
			<key>frame</key>
			<string>{{782,486},{144,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,160}}</string>
			<key>sourceSize</key>
			<string>{144,160}</string>
		</dict>
		<key>obj189_001578.png</key>
		<dict>
			<key>frame</key>
			<string>{{636,486},{144,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,160}}</string>
			<key>sourceSize</key>
			<string>{144,160}</string>
		</dict>
		<key>obj189_001579.png</key>
		<dict>
			<key>frame</key>
			<string>{{490,582},{144,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,160}}</string>
			<key>sourceSize</key>
			<string>{144,160}</string>
		</dict>
		<key>obj189_001580.png</key>
		<dict>
			<key>frame</key>
			<string>{{344,678},{144,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,160}}</string>
			<key>sourceSize</key>
			<string>{144,160}</string>
		</dict>
		<key>obj189_001581.png</key>
		<dict>
			<key>frame</key>
			<string>{{344,840},{144,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,160}}</string>
			<key>sourceSize</key>
			<string>{144,160}</string>
		</dict>
		<key>obj189_001582.png</key>
		<dict>
			<key>frame</key>
			<string>{{442,1002},{144,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,160}}</string>
			<key>sourceSize</key>
			<string>{144,160}</string>
		</dict>
		<key>obj189_001583.png</key>
		<dict>
			<key>frame</key>
			<string>{{490,744},{144,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,160}}</string>
			<key>sourceSize</key>
			<string>{144,160}</string>
		</dict>
		<key>obj189_001584.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,1160},{48,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,96}}</string>
			<key>sourceSize</key>
			<string>{48,96}</string>
		</dict>
		<key>obj189_001585.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,804},{48,384}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,384}}</string>
			<key>sourceSize</key>
			<string>{48,384}</string>
		</dict>
		<key>obj189_001586.png</key>
		<dict>
			<key>frame</key>
			<string>{{928,520},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001587.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,450},{48,448}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,448}}</string>
			<key>sourceSize</key>
			<string>{48,448}</string>
		</dict>
		<key>obj189_001588.png</key>
		<dict>
			<key>frame</key>
			<string>{{928,554},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001589.png</key>
		<dict>
			<key>frame</key>
			<string>{{928,588},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001590.png</key>
		<dict>
			<key>frame</key>
			<string>{{928,622},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>obj189_24.png</string>
		<key>size</key>
		<string>{1024,1280}</string>
		<key>textureFileName</key>
		<string>obj189_24.png</string>
	</dict>
</dict>
</plist>
