<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>obj181_000480.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,0},{48,384}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,384}}</string>
        <key>sourceSize</key>
        <string>{48,384}</string>
      </dict>
      <key>obj181_000481.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,777},{48,245}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,245}}</string>
        <key>sourceSize</key>
        <string>{48,245}</string>
      </dict>
      <key>obj181_000482.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,482},{48,293}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,293}}</string>
        <key>sourceSize</key>
        <string>{48,293}</string>
      </dict>
      <key>obj181_000483.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{48,544}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,544}}</string>
        <key>sourceSize</key>
        <string>{48,544}</string>
      </dict>
      <key>obj181_000484.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,0},{48,480}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,480}}</string>
        <key>sourceSize</key>
        <string>{48,480}</string>
      </dict>
      <key>obj181_000485.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,386},{48,384}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,384}}</string>
        <key>sourceSize</key>
        <string>{48,384}</string>
      </dict>
      <key>obj181_000486.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,546},{48,246}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,246}}</string>
        <key>sourceSize</key>
        <string>{48,246}</string>
      </dict>
      <key>obj181_000487.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,772},{48,242}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,242}}</string>
        <key>sourceSize</key>
        <string>{48,242}</string>
      </dict>
      <key>obj181_000488.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,0},{48,544}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,544}}</string>
        <key>sourceSize</key>
        <string>{48,544}</string>
      </dict>
      <key>obj181_000489.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,0},{48,448}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,448}}</string>
        <key>sourceSize</key>
        <string>{48,448}</string>
      </dict>
      <key>obj181_000490.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,546},{48,288}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,288}}</string>
        <key>sourceSize</key>
        <string>{48,288}</string>
      </dict>
      <key>obj181_000491.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,450},{48,384}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,384}}</string>
        <key>sourceSize</key>
        <string>{48,384}</string>
      </dict>
      <key>obj181_000492.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,836},{48,32}}</string>
        <key>offset</key>
        <string>{5,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_000493.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,870},{48,32}}</string>
        <key>offset</key>
        <string>{5,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_000494.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,904},{48,32}}</string>
        <key>offset</key>
        <string>{5,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>obj181_32.png</string>
      <key>size</key>
      <string>{256,1024}</string>
      <key>textureFileName</key>
      <string>obj181_32.png</string>
    </dict>
  </dict>
</plist>