<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>obj181_003060.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,923},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_003061.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,0},{48,534}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,534}}</string>
        <key>sourceSize</key>
        <string>{48,534}</string>
      </dict>
      <key>obj181_003062.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{48,703}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,703}}</string>
        <key>sourceSize</key>
        <string>{48,703}</string>
      </dict>
      <key>obj181_003063.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,705},{48,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj181_003064.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,536},{48,223}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,223}}</string>
        <key>sourceSize</key>
        <string>{48,223}</string>
      </dict>
      <key>obj181_003065.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,957},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_003066.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,867},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_003067.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,0},{48,512}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,512}}</string>
        <key>sourceSize</key>
        <string>{48,512}</string>
      </dict>
      <key>obj181_003068.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,0},{48,694}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,694}}</string>
        <key>sourceSize</key>
        <string>{48,694}</string>
      </dict>
      <key>obj181_003069.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,761},{48,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj181_003070.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,646},{48,186}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,186}}</string>
        <key>sourceSize</key>
        <string>{48,186}</string>
      </dict>
      <key>obj181_003071.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,514},{48,507}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,507}}</string>
        <key>sourceSize</key>
        <string>{48,507}</string>
      </dict>
      <key>obj181_003072.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,0},{48,644}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,644}}</string>
        <key>sourceSize</key>
        <string>{48,644}</string>
      </dict>
      <key>obj181_003073.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,834},{48,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj181_003074.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,696},{48,173}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,173}}</string>
        <key>sourceSize</key>
        <string>{48,173}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>obj181_204.png</string>
      <key>size</key>
      <string>{256,1024}</string>
      <key>textureFileName</key>
      <string>obj181_204.png</string>
    </dict>
  </dict>
</plist>