<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>obj181_005145.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,0},{48,478}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,478}}</string>
        <key>sourceSize</key>
        <string>{48,478}</string>
      </dict>
      <key>obj181_005146.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,511},{48,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,96}}</string>
        <key>sourceSize</key>
        <string>{48,96}</string>
      </dict>
      <key>obj181_005147.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,0},{48,478}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,478}}</string>
        <key>sourceSize</key>
        <string>{48,478}</string>
      </dict>
      <key>obj181_005148.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,480},{48,125}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,125}}</string>
        <key>sourceSize</key>
        <string>{48,125}</string>
      </dict>
      <key>obj181_005149.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,0},{48,509}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,509}}</string>
        <key>sourceSize</key>
        <string>{48,509}</string>
      </dict>
      <key>obj181_005150.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,538},{48,32}}</string>
        <key>offset</key>
        <string>{5,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_005151.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,480},{48,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj181_005152.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{48,573}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,573}}</string>
        <key>sourceSize</key>
        <string>{48,573}</string>
      </dict>
      <key>obj181_005153.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,572},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_005154.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,575},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_005155.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,606},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_005156.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,609},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_005157.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,0},{48,536}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,536}}</string>
        <key>sourceSize</key>
        <string>{48,536}</string>
      </dict>
      <key>obj181_005158.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,607},{48,32}}</string>
        <key>offset</key>
        <string>{5,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_005159.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,609},{48,32}}</string>
        <key>offset</key>
        <string>{5,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>obj181_343.png</string>
      <key>size</key>
      <string>{256,1024}</string>
      <key>textureFileName</key>
      <string>obj181_343.png</string>
    </dict>
  </dict>
</plist>