<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>obj169_000134.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{48,992}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,992}}</string>
			<key>sourceSize</key>
			<string>{48,992}</string>
		</dict>
		<key>obj169_000135.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,994},{48,992}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,992}}</string>
			<key>sourceSize</key>
			<string>{48,992}</string>
		</dict>
		<key>obj169_000136.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,994},{48,992}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,992}}</string>
			<key>sourceSize</key>
			<string>{48,992}</string>
		</dict>
		<key>obj169_000137.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,0},{48,992}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,992}}</string>
			<key>sourceSize</key>
			<string>{48,992}</string>
		</dict>
		<key>obj169_000138.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,0},{48,992}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,992}}</string>
			<key>sourceSize</key>
			<string>{48,992}</string>
		</dict>
		<key>obj169_000139.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,994},{48,992}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,992}}</string>
			<key>sourceSize</key>
			<string>{48,992}</string>
		</dict>
		<key>obj169_000140.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,994},{48,992}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,992}}</string>
			<key>sourceSize</key>
			<string>{48,992}</string>
		</dict>
		<key>obj169_000141.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,0},{48,992}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,992}}</string>
			<key>sourceSize</key>
			<string>{48,992}</string>
		</dict>
		<key>obj169_000142.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,0},{48,992}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,992}}</string>
			<key>sourceSize</key>
			<string>{48,992}</string>
		</dict>
		<key>obj169_000143.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,994},{48,992}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,992}}</string>
			<key>sourceSize</key>
			<string>{48,992}</string>
		</dict>
		<key>obj169_000144.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,994},{48,992}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,992}}</string>
			<key>sourceSize</key>
			<string>{48,992}</string>
		</dict>
		<key>obj169_000145.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,0},{48,992}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,992}}</string>
			<key>sourceSize</key>
			<string>{48,992}</string>
		</dict>
		<key>obj169_000146.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,0},{48,992}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,992}}</string>
			<key>sourceSize</key>
			<string>{48,992}</string>
		</dict>
		<key>obj169_000147.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,994},{48,992}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,992}}</string>
			<key>sourceSize</key>
			<string>{48,992}</string>
		</dict>
		<key>obj169_000148.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,994},{48,992}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,992}}</string>
			<key>sourceSize</key>
			<string>{48,992}</string>
		</dict>
		<key>obj169_000149.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,0},{48,992}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,992}}</string>
			<key>sourceSize</key>
			<string>{48,992}</string>
		</dict>
		<key>obj169_000150.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,0},{48,992}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,992}}</string>
			<key>sourceSize</key>
			<string>{48,992}</string>
		</dict>
		<key>obj169_000151.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,994},{48,992}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,992}}</string>
			<key>sourceSize</key>
			<string>{48,992}</string>
		</dict>
		<key>obj169_000152.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,994},{48,992}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,992}}</string>
			<key>sourceSize</key>
			<string>{48,992}</string>
		</dict>
		<key>obj169_000153.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,0},{48,992}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,992}}</string>
			<key>sourceSize</key>
			<string>{48,992}</string>
		</dict>
		<key>obj169_000154.png</key>
		<dict>
			<key>frame</key>
			<string>{{500,0},{48,992}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,992}}</string>
			<key>sourceSize</key>
			<string>{48,992}</string>
		</dict>
		<key>obj169_000155.png</key>
		<dict>
			<key>frame</key>
			<string>{{500,994},{48,992}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,992}}</string>
			<key>sourceSize</key>
			<string>{48,992}</string>
		</dict>
		<key>obj169_000156.png</key>
		<dict>
			<key>frame</key>
			<string>{{550,994},{48,992}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,992}}</string>
			<key>sourceSize</key>
			<string>{48,992}</string>
		</dict>
		<key>obj169_000157.png</key>
		<dict>
			<key>frame</key>
			<string>{{550,0},{48,992}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,992}}</string>
			<key>sourceSize</key>
			<string>{48,992}</string>
		</dict>
		<key>obj169_000158.png</key>
		<dict>
			<key>frame</key>
			<string>{{600,0},{48,608}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,608}}</string>
			<key>sourceSize</key>
			<string>{48,608}</string>
		</dict>
		<key>obj169_000159.png</key>
		<dict>
			<key>frame</key>
			<string>{{600,610},{48,608}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,608}}</string>
			<key>sourceSize</key>
			<string>{48,608}</string>
		</dict>
		<key>obj169_000160.png</key>
		<dict>
			<key>frame</key>
			<string>{{600,1220},{48,608}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,608}}</string>
			<key>sourceSize</key>
			<string>{48,608}</string>
		</dict>
		<key>obj169_000161.png</key>
		<dict>
			<key>frame</key>
			<string>{{650,1220},{48,608}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,608}}</string>
			<key>sourceSize</key>
			<string>{48,608}</string>
		</dict>
		<key>obj169_000162.png</key>
		<dict>
			<key>frame</key>
			<string>{{650,0},{48,608}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,608}}</string>
			<key>sourceSize</key>
			<string>{48,608}</string>
		</dict>
		<key>obj169_000163.png</key>
		<dict>
			<key>frame</key>
			<string>{{650,610},{48,608}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,608}}</string>
			<key>sourceSize</key>
			<string>{48,608}</string>
		</dict>
		<key>obj169_000164.png</key>
		<dict>
			<key>frame</key>
			<string>{{700,610},{48,608}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,608}}</string>
			<key>sourceSize</key>
			<string>{48,608}</string>
		</dict>
		<key>obj169_000165.png</key>
		<dict>
			<key>frame</key>
			<string>{{700,0},{48,608}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,608}}</string>
			<key>sourceSize</key>
			<string>{48,608}</string>
		</dict>
		<key>obj169_000166.png</key>
		<dict>
			<key>frame</key>
			<string>{{750,0},{48,608}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,608}}</string>
			<key>sourceSize</key>
			<string>{48,608}</string>
		</dict>
		<key>obj169_000167.png</key>
		<dict>
			<key>frame</key>
			<string>{{700,1220},{48,608}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,608}}</string>
			<key>sourceSize</key>
			<string>{48,608}</string>
		</dict>
		<key>obj169_000168.png</key>
		<dict>
			<key>frame</key>
			<string>{{750,1220},{48,608}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,608}}</string>
			<key>sourceSize</key>
			<string>{48,608}</string>
		</dict>
		<key>obj169_000169.png</key>
		<dict>
			<key>frame</key>
			<string>{{750,610},{48,608}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,608}}</string>
			<key>sourceSize</key>
			<string>{48,608}</string>
		</dict>
		<key>obj169_000170.png</key>
		<dict>
			<key>frame</key>
			<string>{{800,610},{48,608}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,608}}</string>
			<key>sourceSize</key>
			<string>{48,608}</string>
		</dict>
		<key>obj169_000171.png</key>
		<dict>
			<key>frame</key>
			<string>{{800,0},{48,608}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,608}}</string>
			<key>sourceSize</key>
			<string>{48,608}</string>
		</dict>
		<key>obj169_000172.png</key>
		<dict>
			<key>frame</key>
			<string>{{850,0},{48,544}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,544}}</string>
			<key>sourceSize</key>
			<string>{48,544}</string>
		</dict>
		<key>obj169_000173.png</key>
		<dict>
			<key>frame</key>
			<string>{{800,1220},{48,544}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,544}}</string>
			<key>sourceSize</key>
			<string>{48,544}</string>
		</dict>
		<key>obj169_000174.png</key>
		<dict>
			<key>frame</key>
			<string>{{850,1220},{48,544}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,544}}</string>
			<key>sourceSize</key>
			<string>{48,544}</string>
		</dict>
		<key>obj169_000175.png</key>
		<dict>
			<key>frame</key>
			<string>{{850,546},{48,544}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,544}}</string>
			<key>sourceSize</key>
			<string>{48,544}</string>
		</dict>
		<key>obj169_000176.png</key>
		<dict>
			<key>frame</key>
			<string>{{900,546},{48,544}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,544}}</string>
			<key>sourceSize</key>
			<string>{48,544}</string>
		</dict>
		<key>obj169_000177.png</key>
		<dict>
			<key>frame</key>
			<string>{{900,0},{48,544}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,544}}</string>
			<key>sourceSize</key>
			<string>{48,544}</string>
		</dict>
		<key>obj169_000178.png</key>
		<dict>
			<key>frame</key>
			<string>{{950,0},{48,544}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,544}}</string>
			<key>sourceSize</key>
			<string>{48,544}</string>
		</dict>
		<key>obj169_000179.png</key>
		<dict>
			<key>frame</key>
			<string>{{900,1092},{48,544}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,544}}</string>
			<key>sourceSize</key>
			<string>{48,544}</string>
		</dict>
		<key>obj169_000180.png</key>
		<dict>
			<key>frame</key>
			<string>{{950,1092},{48,544}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,544}}</string>
			<key>sourceSize</key>
			<string>{48,544}</string>
		</dict>
		<key>obj169_000181.png</key>
		<dict>
			<key>frame</key>
			<string>{{950,546},{48,544}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,544}}</string>
			<key>sourceSize</key>
			<string>{48,544}</string>
		</dict>
		<key>obj169_000182.png</key>
		<dict>
			<key>frame</key>
			<string>{{1000,546},{48,544}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,544}}</string>
			<key>sourceSize</key>
			<string>{48,544}</string>
		</dict>
		<key>obj169_000183.png</key>
		<dict>
			<key>frame</key>
			<string>{{1000,0},{48,544}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,544}}</string>
			<key>sourceSize</key>
			<string>{48,544}</string>
		</dict>
		<key>obj169_000184.png</key>
		<dict>
			<key>frame</key>
			<string>{{1050,0},{48,544}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,544}}</string>
			<key>sourceSize</key>
			<string>{48,544}</string>
		</dict>
		<key>obj169_000185.png</key>
		<dict>
			<key>frame</key>
			<string>{{1000,1092},{48,544}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,544}}</string>
			<key>sourceSize</key>
			<string>{48,544}</string>
		</dict>
		<key>obj169_000186.png</key>
		<dict>
			<key>frame</key>
			<string>{{1050,1092},{48,544}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,544}}</string>
			<key>sourceSize</key>
			<string>{48,544}</string>
		</dict>
		<key>obj169_000187.png</key>
		<dict>
			<key>frame</key>
			<string>{{1050,546},{48,544}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,544}}</string>
			<key>sourceSize</key>
			<string>{48,544}</string>
		</dict>
		<key>obj169_000188.png</key>
		<dict>
			<key>frame</key>
			<string>{{1100,546},{48,544}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,544}}</string>
			<key>sourceSize</key>
			<string>{48,544}</string>
		</dict>
		<key>obj169_000189.png</key>
		<dict>
			<key>frame</key>
			<string>{{1100,0},{48,544}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,544}}</string>
			<key>sourceSize</key>
			<string>{48,544}</string>
		</dict>
		<key>obj169_000190.png</key>
		<dict>
			<key>frame</key>
			<string>{{1150,0},{48,544}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,544}}</string>
			<key>sourceSize</key>
			<string>{48,544}</string>
		</dict>
		<key>obj169_000191.png</key>
		<dict>
			<key>frame</key>
			<string>{{1200,0},{48,544}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,544}}</string>
			<key>sourceSize</key>
			<string>{48,544}</string>
		</dict>
		<key>obj169_000192.png</key>
		<dict>
			<key>frame</key>
			<string>{{850,1766},{48,224}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,224}}</string>
			<key>sourceSize</key>
			<string>{48,224}</string>
		</dict>
		<key>obj169_000193.png</key>
		<dict>
			<key>frame</key>
			<string>{{800,1766},{48,224}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,224}}</string>
			<key>sourceSize</key>
			<string>{48,224}</string>
		</dict>
		<key>obj169_000194.png</key>
		<dict>
			<key>frame</key>
			<string>{{1300,0},{48,416}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,416}}</string>
			<key>sourceSize</key>
			<string>{48,416}</string>
		</dict>
		<key>obj169_000195.png</key>
		<dict>
			<key>frame</key>
			<string>{{1350,0},{48,416}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,416}}</string>
			<key>sourceSize</key>
			<string>{48,416}</string>
		</dict>
		<key>obj169_000196.png</key>
		<dict>
			<key>frame</key>
			<string>{{1400,0},{48,416}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,416}}</string>
			<key>sourceSize</key>
			<string>{48,416}</string>
		</dict>
		<key>obj169_000197.png</key>
		<dict>
			<key>frame</key>
			<string>{{1450,0},{48,416}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,416}}</string>
			<key>sourceSize</key>
			<string>{48,416}</string>
		</dict>
		<key>obj169_000198.png</key>
		<dict>
			<key>frame</key>
			<string>{{1500,0},{48,416}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,416}}</string>
			<key>sourceSize</key>
			<string>{48,416}</string>
		</dict>
		<key>obj169_000199.png</key>
		<dict>
			<key>frame</key>
			<string>{{1550,0},{48,416}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,416}}</string>
			<key>sourceSize</key>
			<string>{48,416}</string>
		</dict>
		<key>obj169_000200.png</key>
		<dict>
			<key>frame</key>
			<string>{{1250,0},{48,544}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,544}}</string>
			<key>sourceSize</key>
			<string>{48,544}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>obj169_2.png</string>
		<key>size</key>
		<string>{2048,2048}</string>
		<key>textureFileName</key>
		<string>obj169_2.png</string>
	</dict>
</dict>
</plist>
