<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>obj181_003195.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,543},{48,341}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,341}}</string>
        <key>sourceSize</key>
        <string>{48,341}</string>
      </dict>
      <key>obj181_003196.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,0},{48,181}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,181}}</string>
        <key>sourceSize</key>
        <string>{48,181}</string>
      </dict>
      <key>obj181_003197.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,542},{48,349}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,349}}</string>
        <key>sourceSize</key>
        <string>{48,349}</string>
      </dict>
      <key>obj181_003198.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,0},{48,181}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,181}}</string>
        <key>sourceSize</key>
        <string>{48,181}</string>
      </dict>
      <key>obj181_003199.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,556},{48,320}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,320}}</string>
        <key>sourceSize</key>
        <string>{48,320}</string>
      </dict>
      <key>obj181_003200.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,0},{48,540}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,540}}</string>
        <key>sourceSize</key>
        <string>{48,540}</string>
      </dict>
      <key>obj181_003201.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,606},{48,280}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,280}}</string>
        <key>sourceSize</key>
        <string>{48,280}</string>
      </dict>
      <key>obj181_003202.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{48,604}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,604}}</string>
        <key>sourceSize</key>
        <string>{48,604}</string>
      </dict>
      <key>obj181_003203.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,588},{48,292}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,292}}</string>
        <key>sourceSize</key>
        <string>{48,292}</string>
      </dict>
      <key>obj181_003204.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,0},{48,586}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,586}}</string>
        <key>sourceSize</key>
        <string>{48,586}</string>
      </dict>
      <key>obj181_003205.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,0},{48,197}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,197}}</string>
        <key>sourceSize</key>
        <string>{48,197}</string>
      </dict>
      <key>obj181_003206.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,0},{48,554}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,554}}</string>
        <key>sourceSize</key>
        <string>{48,554}</string>
      </dict>
      <key>obj181_003207.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,0},{48,246}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,246}}</string>
        <key>sourceSize</key>
        <string>{48,246}</string>
      </dict>
      <key>obj181_003208.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,0},{48,541}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,541}}</string>
        <key>sourceSize</key>
        <string>{48,541}</string>
      </dict>
      <key>obj181_003209.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,0},{48,239}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,239}}</string>
        <key>sourceSize</key>
        <string>{48,239}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>obj181_213.png</string>
      <key>size</key>
      <string>{512,1024}</string>
      <key>textureFileName</key>
      <string>obj181_213.png</string>
    </dict>
  </dict>
</plist>