<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>obj162_001435.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,0},{48,465}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,465}}</string>
			<key>sourceSize</key>
			<string>{48,465}</string>
		</dict>
		<key>obj162_001436.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,441},{48,326}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,326}}</string>
			<key>sourceSize</key>
			<string>{48,326}</string>
		</dict>
		<key>obj162_001437.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,464},{48,286}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,286}}</string>
			<key>sourceSize</key>
			<string>{48,286}</string>
		</dict>
		<key>obj162_001438.png</key>
		<dict>
			<key>frame</key>
			<string>{{500,385},{48,354}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,354}}</string>
			<key>sourceSize</key>
			<string>{48,354}</string>
		</dict>
		<key>obj162_001439.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,0},{48,462}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,462}}</string>
			<key>sourceSize</key>
			<string>{48,462}</string>
		</dict>
		<key>obj162_001440.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,0},{48,460}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,460}}</string>
			<key>sourceSize</key>
			<string>{48,460}</string>
		</dict>
		<key>obj162_001441.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,523},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_001442.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,530},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_001443.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,557},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_001444.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,0},{48,528}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,528}}</string>
			<key>sourceSize</key>
			<string>{48,528}</string>
		</dict>
		<key>obj162_001445.png</key>
		<dict>
			<key>frame</key>
			<string>{{600,0},{48,318}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,318}}</string>
			<key>sourceSize</key>
			<string>{48,318}</string>
		</dict>
		<key>obj162_001446.png</key>
		<dict>
			<key>frame</key>
			<string>{{650,0},{48,254}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,254}}</string>
			<key>sourceSize</key>
			<string>{48,254}</string>
		</dict>
		<key>obj162_001447.png</key>
		<dict>
			<key>frame</key>
			<string>{{550,0},{48,375}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,375}}</string>
			<key>sourceSize</key>
			<string>{48,375}</string>
		</dict>
		<key>obj162_001448.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,0},{48,462}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,462}}</string>
			<key>sourceSize</key>
			<string>{48,462}</string>
		</dict>
		<key>obj162_001449.png</key>
		<dict>
			<key>frame</key>
			<string>{{550,377},{48,360}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,360}}</string>
			<key>sourceSize</key>
			<string>{48,360}</string>
		</dict>
		<key>obj162_001450.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,564},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_001451.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,591},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_001452.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,598},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_001453.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,0},{48,521}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,521}}</string>
			<key>sourceSize</key>
			<string>{48,521}</string>
		</dict>
		<key>obj162_001454.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,409},{48,334}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,334}}</string>
			<key>sourceSize</key>
			<string>{48,334}</string>
		</dict>
		<key>obj162_001455.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,464},{48,283}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,283}}</string>
			<key>sourceSize</key>
			<string>{48,283}</string>
		</dict>
		<key>obj162_001456.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,0},{48,407}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,407}}</string>
			<key>sourceSize</key>
			<string>{48,407}</string>
		</dict>
		<key>obj162_001457.png</key>
		<dict>
			<key>frame</key>
			<string>{{500,0},{48,383}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,383}}</string>
			<key>sourceSize</key>
			<string>{48,383}</string>
		</dict>
		<key>obj162_001458.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{48,661}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,661}}</string>
			<key>sourceSize</key>
			<string>{48,661}</string>
		</dict>
		<key>obj162_001459.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,625},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_001460.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,632},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_001461.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,659},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_001462.png</key>
		<dict>
			<key>frame</key>
			<string>{{600,320},{48,317}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,317}}</string>
			<key>sourceSize</key>
			<string>{48,317}</string>
		</dict>
		<key>obj162_001463.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,462},{48,288}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,288}}</string>
			<key>sourceSize</key>
			<string>{48,288}</string>
		</dict>
		<key>obj162_001464.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,0},{48,439}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,439}}</string>
			<key>sourceSize</key>
			<string>{48,439}</string>
		</dict>
		<key>obj162_001465.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,467},{48,281}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,281}}</string>
			<key>sourceSize</key>
			<string>{48,281}</string>
		</dict>
		<key>obj162_001466.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,0},{48,661}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,661}}</string>
			<key>sourceSize</key>
			<string>{48,661}</string>
		</dict>
		<key>obj162_001467.png</key>
		<dict>
			<key>frame</key>
			<string>{{650,256},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_001468.png</key>
		<dict>
			<key>frame</key>
			<string>{{650,290},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_001469.png</key>
		<dict>
			<key>frame</key>
			<string>{{650,324},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>obj162_41.png</string>
		<key>size</key>
		<string>{712,771}</string>
		<key>textureFileName</key>
		<string>obj162_41.png</string>
	</dict>
</dict>
</plist>
