<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>obj162_001575.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,0},{48,330}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,330}}</string>
			<key>sourceSize</key>
			<string>{48,330}</string>
		</dict>
		<key>obj162_001576.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,459},{48,260}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,260}}</string>
			<key>sourceSize</key>
			<string>{48,260}</string>
		</dict>
		<key>obj162_001577.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,0},{48,583}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,583}}</string>
			<key>sourceSize</key>
			<string>{48,583}</string>
		</dict>
		<key>obj162_001578.png</key>
		<dict>
			<key>frame</key>
			<string>{{500,0},{48,334}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,334}}</string>
			<key>sourceSize</key>
			<string>{48,334}</string>
		</dict>
		<key>obj162_001579.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,466},{48,221}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,221}}</string>
			<key>sourceSize</key>
			<string>{48,221}</string>
		</dict>
		<key>obj162_001580.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,0},{48,608}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,608}}</string>
			<key>sourceSize</key>
			<string>{48,608}</string>
		</dict>
		<key>obj162_001581.png</key>
		<dict>
			<key>frame</key>
			<string>{{600,327},{48,314}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,314}}</string>
			<key>sourceSize</key>
			<string>{48,314}</string>
		</dict>
		<key>obj162_001582.png</key>
		<dict>
			<key>frame</key>
			<string>{{750,200},{48,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,192}}</string>
			<key>sourceSize</key>
			<string>{48,192}</string>
		</dict>
		<key>obj162_001583.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,403},{48,349}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,349}}</string>
			<key>sourceSize</key>
			<string>{48,349}</string>
		</dict>
		<key>obj162_001584.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,676},{48,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,45}}</string>
			<key>sourceSize</key>
			<string>{48,45}</string>
		</dict>
		<key>obj162_001585.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,614},{48,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,60}}</string>
			<key>sourceSize</key>
			<string>{48,60}</string>
		</dict>
		<key>obj162_001586.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,0},{48,612}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,612}}</string>
			<key>sourceSize</key>
			<string>{48,612}</string>
		</dict>
		<key>obj162_001587.png</key>
		<dict>
			<key>frame</key>
			<string>{{550,0},{48,327}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,327}}</string>
			<key>sourceSize</key>
			<string>{48,327}</string>
		</dict>
		<key>obj162_001588.png</key>
		<dict>
			<key>frame</key>
			<string>{{750,394},{48,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,192}}</string>
			<key>sourceSize</key>
			<string>{48,192}</string>
		</dict>
		<key>obj162_001589.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,403},{48,344}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,344}}</string>
			<key>sourceSize</key>
			<string>{48,344}</string>
		</dict>
		<key>obj162_001590.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,624},{48,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,60}}</string>
			<key>sourceSize</key>
			<string>{48,60}</string>
		</dict>
		<key>obj162_001591.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{48,622}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,622}}</string>
			<key>sourceSize</key>
			<string>{48,622}</string>
		</dict>
		<key>obj162_001592.png</key>
		<dict>
			<key>frame</key>
			<string>{{650,325},{48,317}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,317}}</string>
			<key>sourceSize</key>
			<string>{48,317}</string>
		</dict>
		<key>obj162_001593.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,529},{48,214}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,214}}</string>
			<key>sourceSize</key>
			<string>{48,214}</string>
		</dict>
		<key>obj162_001594.png</key>
		<dict>
			<key>frame</key>
			<string>{{700,0},{48,320}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,320}}</string>
			<key>sourceSize</key>
			<string>{48,320}</string>
		</dict>
		<key>obj162_001595.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,610},{48,139}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,139}}</string>
			<key>sourceSize</key>
			<string>{48,139}</string>
		</dict>
		<key>obj162_001596.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,0},{48,527}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,527}}</string>
			<key>sourceSize</key>
			<string>{48,527}</string>
		</dict>
		<key>obj162_001597.png</key>
		<dict>
			<key>frame</key>
			<string>{{650,0},{48,323}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,323}}</string>
			<key>sourceSize</key>
			<string>{48,323}</string>
		</dict>
		<key>obj162_001598.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,585},{48,182}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,182}}</string>
			<key>sourceSize</key>
			<string>{48,182}</string>
		</dict>
		<key>obj162_001599.png</key>
		<dict>
			<key>frame</key>
			<string>{{500,336},{48,292}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,292}}</string>
			<key>sourceSize</key>
			<string>{48,292}</string>
		</dict>
		<key>obj162_001600.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,686},{48,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,41}}</string>
			<key>sourceSize</key>
			<string>{48,41}</string>
		</dict>
		<key>obj162_001601.png</key>
		<dict>
			<key>frame</key>
			<string>{{750,0},{48,198}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,198}}</string>
			<key>sourceSize</key>
			<string>{48,198}</string>
		</dict>
		<key>obj162_001602.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,0},{48,423}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,423}}</string>
			<key>sourceSize</key>
			<string>{48,423}</string>
		</dict>
		<key>obj162_001603.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,0},{48,401}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,401}}</string>
			<key>sourceSize</key>
			<string>{48,401}</string>
		</dict>
		<key>obj162_001604.png</key>
		<dict>
			<key>frame</key>
			<string>{{600,0},{48,325}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,325}}</string>
			<key>sourceSize</key>
			<string>{48,325}</string>
		</dict>
		<key>obj162_001605.png</key>
		<dict>
			<key>frame</key>
			<string>{{550,329},{48,312}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,312}}</string>
			<key>sourceSize</key>
			<string>{48,312}</string>
		</dict>
		<key>obj162_001606.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,0},{48,457}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,457}}</string>
			<key>sourceSize</key>
			<string>{48,457}</string>
		</dict>
		<key>obj162_001607.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,0},{48,464}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,464}}</string>
			<key>sourceSize</key>
			<string>{48,464}</string>
		</dict>
		<key>obj162_001608.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,425},{48,340}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,340}}</string>
			<key>sourceSize</key>
			<string>{48,340}</string>
		</dict>
		<key>obj162_001609.png</key>
		<dict>
			<key>frame</key>
			<string>{{700,322},{48,318}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,318}}</string>
			<key>sourceSize</key>
			<string>{48,318}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>obj162_45.png</string>
		<key>size</key>
		<string>{816,770}</string>
		<key>textureFileName</key>
		<string>obj162_45.png</string>
	</dict>
</dict>
</plist>
