<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>obj162_001505.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,775},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_001506.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,809},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_001507.png</key>
		<dict>
			<key>frame</key>
			<string>{{650,395},{48,320}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,320}}</string>
			<key>sourceSize</key>
			<string>{48,320}</string>
		</dict>
		<key>obj162_001508.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,536},{48,345}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,345}}</string>
			<key>sourceSize</key>
			<string>{48,345}</string>
		</dict>
		<key>obj162_001509.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{48,618}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,618}}</string>
			<key>sourceSize</key>
			<string>{48,618}</string>
		</dict>
		<key>obj162_001510.png</key>
		<dict>
			<key>frame</key>
			<string>{{500,480},{48,317}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,317}}</string>
			<key>sourceSize</key>
			<string>{48,317}</string>
		</dict>
		<key>obj162_001511.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,0},{48,478}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,478}}</string>
			<key>sourceSize</key>
			<string>{48,478}</string>
		</dict>
		<key>obj162_001512.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,0},{48,534}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,534}}</string>
			<key>sourceSize</key>
			<string>{48,534}</string>
		</dict>
		<key>obj162_001513.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,505},{48,317}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,317}}</string>
			<key>sourceSize</key>
			<string>{48,317}</string>
		</dict>
		<key>obj162_001514.png</key>
		<dict>
			<key>frame</key>
			<string>{{500,0},{48,478}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,478}}</string>
			<key>sourceSize</key>
			<string>{48,478}</string>
		</dict>
		<key>obj162_001515.png</key>
		<dict>
			<key>frame</key>
			<string>{{650,0},{48,393}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,393}}</string>
			<key>sourceSize</key>
			<string>{48,393}</string>
		</dict>
		<key>obj162_001516.png</key>
		<dict>
			<key>frame</key>
			<string>{{750,0},{48,317}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,317}}</string>
			<key>sourceSize</key>
			<string>{48,317}</string>
		</dict>
		<key>obj162_001517.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,0},{48,510}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,510}}</string>
			<key>sourceSize</key>
			<string>{48,510}</string>
		</dict>
		<key>obj162_001518.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,0},{48,503}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,503}}</string>
			<key>sourceSize</key>
			<string>{48,503}</string>
		</dict>
		<key>obj162_001519.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,480},{48,319}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,319}}</string>
			<key>sourceSize</key>
			<string>{48,319}</string>
		</dict>
		<key>obj162_001520.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,594},{48,253}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,253}}</string>
			<key>sourceSize</key>
			<string>{48,253}</string>
		</dict>
		<key>obj162_001521.png</key>
		<dict>
			<key>frame</key>
			<string>{{600,0},{48,399}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,399}}</string>
			<key>sourceSize</key>
			<string>{48,399}</string>
		</dict>
		<key>obj162_001522.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,0},{48,554}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,554}}</string>
			<key>sourceSize</key>
			<string>{48,554}</string>
		</dict>
		<key>obj162_001523.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,581},{48,315}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,315}}</string>
			<key>sourceSize</key>
			<string>{48,315}</string>
		</dict>
		<key>obj162_001524.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,563},{48,327}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,327}}</string>
			<key>sourceSize</key>
			<string>{48,327}</string>
		</dict>
		<key>obj162_001525.png</key>
		<dict>
			<key>frame</key>
			<string>{{600,401},{48,320}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,320}}</string>
			<key>sourceSize</key>
			<string>{48,320}</string>
		</dict>
		<key>obj162_001526.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,0},{48,579}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,579}}</string>
			<key>sourceSize</key>
			<string>{48,579}</string>
		</dict>
		<key>obj162_001527.png</key>
		<dict>
			<key>frame</key>
			<string>{{750,319},{48,314}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,314}}</string>
			<key>sourceSize</key>
			<string>{48,314}</string>
		</dict>
		<key>obj162_001528.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,512},{48,371}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,371}}</string>
			<key>sourceSize</key>
			<string>{48,371}</string>
		</dict>
		<key>obj162_001529.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,615},{48,158}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,158}}</string>
			<key>sourceSize</key>
			<string>{48,158}</string>
		</dict>
		<key>obj162_001530.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,0},{48,613}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,613}}</string>
			<key>sourceSize</key>
			<string>{48,613}</string>
		</dict>
		<key>obj162_001531.png</key>
		<dict>
			<key>frame</key>
			<string>{{700,389},{48,327}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,327}}</string>
			<key>sourceSize</key>
			<string>{48,327}</string>
		</dict>
		<key>obj162_001532.png</key>
		<dict>
			<key>frame</key>
			<string>{{700,0},{48,387}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,387}}</string>
			<key>sourceSize</key>
			<string>{48,387}</string>
		</dict>
		<key>obj162_001533.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,768},{48,114}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,114}}</string>
			<key>sourceSize</key>
			<string>{48,114}</string>
		</dict>
		<key>obj162_001534.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,0},{48,592}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,592}}</string>
			<key>sourceSize</key>
			<string>{48,592}</string>
		</dict>
		<key>obj162_001535.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,556},{48,334}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,334}}</string>
			<key>sourceSize</key>
			<string>{48,334}</string>
		</dict>
		<key>obj162_001536.png</key>
		<dict>
			<key>frame</key>
			<string>{{550,0},{48,427}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,427}}</string>
			<key>sourceSize</key>
			<string>{48,427}</string>
		</dict>
		<key>obj162_001537.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,620},{48,146}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,146}}</string>
			<key>sourceSize</key>
			<string>{48,146}</string>
		</dict>
		<key>obj162_001538.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,0},{48,561}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,561}}</string>
			<key>sourceSize</key>
			<string>{48,561}</string>
		</dict>
		<key>obj162_001539.png</key>
		<dict>
			<key>frame</key>
			<string>{{550,429},{48,320}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,320}}</string>
			<key>sourceSize</key>
			<string>{48,320}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>obj162_43.png</string>
		<key>size</key>
		<string>{816,898}</string>
		<key>textureFileName</key>
		<string>obj162_43.png</string>
	</dict>
</dict>
</plist>
