<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>obj181_004500.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,727},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_004501.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,464},{48,428}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,428}}</string>
        <key>sourceSize</key>
        <string>{48,428}</string>
      </dict>
      <key>obj181_004502.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,501},{48,224}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj181_004503.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{48,576}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,576}}</string>
        <key>sourceSize</key>
        <string>{48,576}</string>
      </dict>
      <key>obj181_004504.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,578},{48,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,106}}</string>
        <key>sourceSize</key>
        <string>{48,106}</string>
      </dict>
      <key>obj181_004505.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,742},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_004506.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,0},{48,462}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,462}}</string>
        <key>sourceSize</key>
        <string>{48,462}</string>
      </dict>
      <key>obj181_004507.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,578},{48,224}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj181_004508.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,0},{48,576}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,576}}</string>
        <key>sourceSize</key>
        <string>{48,576}</string>
      </dict>
      <key>obj181_004509.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,761},{48,32}}</string>
        <key>offset</key>
        <string>{5,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_004510.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,686},{48,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,54}}</string>
        <key>sourceSize</key>
        <string>{48,54}</string>
      </dict>
      <key>obj181_004511.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,0},{48,499}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,499}}</string>
        <key>sourceSize</key>
        <string>{48,499}</string>
      </dict>
      <key>obj181_004512.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,578},{48,224}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj181_004513.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,0},{48,576}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,576}}</string>
        <key>sourceSize</key>
        <string>{48,576}</string>
      </dict>
      <key>obj181_004514.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,776},{48,32}}</string>
        <key>offset</key>
        <string>{5,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>obj181_300.png</string>
      <key>size</key>
      <string>{256,1024}</string>
      <key>textureFileName</key>
      <string>obj181_300.png</string>
    </dict>
  </dict>
</plist>