<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>obj162_001155.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,0},{48,395}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,395}}</string>
			<key>sourceSize</key>
			<string>{48,395}</string>
		</dict>
		<key>obj162_001156.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,498},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_001157.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,499},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_001158.png</key>
		<dict>
			<key>frame</key>
			<string>{{600,0},{48,385}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,385}}</string>
			<key>sourceSize</key>
			<string>{48,385}</string>
		</dict>
		<key>obj162_001159.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,501},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_001160.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,532},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_001161.png</key>
		<dict>
			<key>frame</key>
			<string>{{550,388},{48,334}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,334}}</string>
			<key>sourceSize</key>
			<string>{48,334}</string>
		</dict>
		<key>obj162_001162.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,533},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_001163.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,535},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_001164.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,473},{48,224}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,224}}</string>
			<key>sourceSize</key>
			<string>{48,224}</string>
		</dict>
		<key>obj162_001165.png</key>
		<dict>
			<key>frame</key>
			<string>{{500,392},{48,334}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,334}}</string>
			<key>sourceSize</key>
			<string>{48,334}</string>
		</dict>
		<key>obj162_001166.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,566},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_001167.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,567},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_001168.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,433},{48,270}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,270}}</string>
			<key>sourceSize</key>
			<string>{48,270}</string>
		</dict>
		<key>obj162_001169.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,443},{48,251}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,251}}</string>
			<key>sourceSize</key>
			<string>{48,251}</string>
		</dict>
		<key>obj162_001170.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,569},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_001171.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,600},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_001172.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,432},{48,302}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,302}}</string>
			<key>sourceSize</key>
			<string>{48,302}</string>
		</dict>
		<key>obj162_001173.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,601},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_001174.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,397},{48,317}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,317}}</string>
			<key>sourceSize</key>
			<string>{48,317}</string>
		</dict>
		<key>obj162_001175.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,464},{48,228}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,228}}</string>
			<key>sourceSize</key>
			<string>{48,228}</string>
		</dict>
		<key>obj162_001176.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,603},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_001177.png</key>
		<dict>
			<key>frame</key>
			<string>{{550,0},{48,386}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,386}}</string>
			<key>sourceSize</key>
			<string>{48,386}</string>
		</dict>
		<key>obj162_001178.png</key>
		<dict>
			<key>frame</key>
			<string>{{600,387},{48,367}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,367}}</string>
			<key>sourceSize</key>
			<string>{48,367}</string>
		</dict>
		<key>obj162_001179.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,0},{48,431}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,431}}</string>
			<key>sourceSize</key>
			<string>{48,431}</string>
		</dict>
		<key>obj162_001180.png</key>
		<dict>
			<key>frame</key>
			<string>{{500,0},{48,390}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,390}}</string>
			<key>sourceSize</key>
			<string>{48,390}</string>
		</dict>
		<key>obj162_001181.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,0},{48,462}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,462}}</string>
			<key>sourceSize</key>
			<string>{48,462}</string>
		</dict>
		<key>obj162_001182.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,0},{48,441}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,441}}</string>
			<key>sourceSize</key>
			<string>{48,441}</string>
		</dict>
		<key>obj162_001183.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,0},{48,471}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,471}}</string>
			<key>sourceSize</key>
			<string>{48,471}</string>
		</dict>
		<key>obj162_001184.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,0},{48,430}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,430}}</string>
			<key>sourceSize</key>
			<string>{48,430}</string>
		</dict>
		<key>obj162_001185.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,0},{48,497}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,497}}</string>
			<key>sourceSize</key>
			<string>{48,497}</string>
		</dict>
		<key>obj162_001186.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,0},{48,431}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,431}}</string>
			<key>sourceSize</key>
			<string>{48,431}</string>
		</dict>
		<key>obj162_001187.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{48,499}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,499}}</string>
			<key>sourceSize</key>
			<string>{48,499}</string>
		</dict>
		<key>obj162_001188.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,433},{48,297}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,297}}</string>
			<key>sourceSize</key>
			<string>{48,297}</string>
		</dict>
		<key>obj162_001189.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,0},{48,496}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,496}}</string>
			<key>sourceSize</key>
			<string>{48,496}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>obj162_33.png</string>
		<key>size</key>
		<string>{664,769}</string>
		<key>textureFileName</key>
		<string>obj162_33.png</string>
	</dict>
</dict>
</plist>
