<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>obj162_001820.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,682},{48,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,83}}</string>
			<key>sourceSize</key>
			<string>{48,83}</string>
		</dict>
		<key>obj162_001821.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,0},{48,673}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,673}}</string>
			<key>sourceSize</key>
			<string>{48,673}</string>
		</dict>
		<key>obj162_001822.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,0},{48,624}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,624}}</string>
			<key>sourceSize</key>
			<string>{48,624}</string>
		</dict>
		<key>obj162_001823.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,0},{48,665}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,665}}</string>
			<key>sourceSize</key>
			<string>{48,665}</string>
		</dict>
		<key>obj162_001824.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,0},{48,632}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,632}}</string>
			<key>sourceSize</key>
			<string>{48,632}</string>
		</dict>
		<key>obj162_001825.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,0},{48,680}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,680}}</string>
			<key>sourceSize</key>
			<string>{48,680}</string>
		</dict>
		<key>obj162_001826.png</key>
		<dict>
			<key>frame</key>
			<string>{{650,0},{48,570}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,570}}</string>
			<key>sourceSize</key>
			<string>{48,570}</string>
		</dict>
		<key>obj162_001827.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,0},{48,636}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,636}}</string>
			<key>sourceSize</key>
			<string>{48,636}</string>
		</dict>
		<key>obj162_001828.png</key>
		<dict>
			<key>frame</key>
			<string>{{800,0},{48,522}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,522}}</string>
			<key>sourceSize</key>
			<string>{48,522}</string>
		</dict>
		<key>obj162_001829.png</key>
		<dict>
			<key>frame</key>
			<string>{{550,0},{48,603}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,603}}</string>
			<key>sourceSize</key>
			<string>{48,603}</string>
		</dict>
		<key>obj162_001830.png</key>
		<dict>
			<key>frame</key>
			<string>{{800,524},{48,481}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,481}}</string>
			<key>sourceSize</key>
			<string>{48,481}</string>
		</dict>
		<key>obj162_001831.png</key>
		<dict>
			<key>frame</key>
			<string>{{650,572},{48,451}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,451}}</string>
			<key>sourceSize</key>
			<string>{48,451}</string>
		</dict>
		<key>obj162_001832.png</key>
		<dict>
			<key>frame</key>
			<string>{{700,0},{48,556}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,556}}</string>
			<key>sourceSize</key>
			<string>{48,556}</string>
		</dict>
		<key>obj162_001833.png</key>
		<dict>
			<key>frame</key>
			<string>{{600,581},{48,436}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,436}}</string>
			<key>sourceSize</key>
			<string>{48,436}</string>
		</dict>
		<key>obj162_001834.png</key>
		<dict>
			<key>frame</key>
			<string>{{600,0},{48,579}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,579}}</string>
			<key>sourceSize</key>
			<string>{48,579}</string>
		</dict>
		<key>obj162_001835.png</key>
		<dict>
			<key>frame</key>
			<string>{{850,461},{48,455}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,455}}</string>
			<key>sourceSize</key>
			<string>{48,455}</string>
		</dict>
		<key>obj162_001836.png</key>
		<dict>
			<key>frame</key>
			<string>{{500,0},{48,617}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,617}}</string>
			<key>sourceSize</key>
			<string>{48,617}</string>
		</dict>
		<key>obj162_001837.png</key>
		<dict>
			<key>frame</key>
			<string>{{850,0},{48,459}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,459}}</string>
			<key>sourceSize</key>
			<string>{48,459}</string>
		</dict>
		<key>obj162_001838.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,0},{48,627}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,627}}</string>
			<key>sourceSize</key>
			<string>{48,627}</string>
		</dict>
		<key>obj162_001839.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,675},{48,312}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,312}}</string>
			<key>sourceSize</key>
			<string>{48,312}</string>
		</dict>
		<key>obj162_001840.png</key>
		<dict>
			<key>frame</key>
			<string>{{750,0},{48,537}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,537}}</string>
			<key>sourceSize</key>
			<string>{48,537}</string>
		</dict>
		<key>obj162_001841.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,634},{48,324}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,324}}</string>
			<key>sourceSize</key>
			<string>{48,324}</string>
		</dict>
		<key>obj162_001842.png</key>
		<dict>
			<key>frame</key>
			<string>{{900,0},{48,414}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,414}}</string>
			<key>sourceSize</key>
			<string>{48,414}</string>
		</dict>
		<key>obj162_001843.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,668},{48,313}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,313}}</string>
			<key>sourceSize</key>
			<string>{48,313}</string>
		</dict>
		<key>obj162_001844.png</key>
		<dict>
			<key>frame</key>
			<string>{{700,558},{48,462}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,462}}</string>
			<key>sourceSize</key>
			<string>{48,462}</string>
		</dict>
		<key>obj162_001845.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,638},{48,319}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,319}}</string>
			<key>sourceSize</key>
			<string>{48,319}</string>
		</dict>
		<key>obj162_001846.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{48,749}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,749}}</string>
			<key>sourceSize</key>
			<string>{48,749}</string>
		</dict>
		<key>obj162_001847.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,667},{48,319}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,319}}</string>
			<key>sourceSize</key>
			<string>{48,319}</string>
		</dict>
		<key>obj162_001848.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,0},{48,727}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,727}}</string>
			<key>sourceSize</key>
			<string>{48,727}</string>
		</dict>
		<key>obj162_001849.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,0},{48,666}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,666}}</string>
			<key>sourceSize</key>
			<string>{48,666}</string>
		</dict>
		<key>obj162_001850.png</key>
		<dict>
			<key>frame</key>
			<string>{{750,539},{48,478}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,478}}</string>
			<key>sourceSize</key>
			<string>{48,478}</string>
		</dict>
		<key>obj162_001851.png</key>
		<dict>
			<key>frame</key>
			<string>{{550,605},{48,418}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,418}}</string>
			<key>sourceSize</key>
			<string>{48,418}</string>
		</dict>
		<key>obj162_001852.png</key>
		<dict>
			<key>frame</key>
			<string>{{500,619},{48,392}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,392}}</string>
			<key>sourceSize</key>
			<string>{48,392}</string>
		</dict>
		<key>obj162_001853.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,626},{48,360}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,360}}</string>
			<key>sourceSize</key>
			<string>{48,360}</string>
		</dict>
		<key>obj162_001854.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,629},{48,329}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,329}}</string>
			<key>sourceSize</key>
			<string>{48,329}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>obj162_52.png</string>
		<key>size</key>
		<string>{968,1027}</string>
		<key>textureFileName</key>
		<string>obj162_52.png</string>
	</dict>
</dict>
</plist>
