<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>obj162_001890.png</key>
		<dict>
			<key>frame</key>
			<string>{{750,374},{48,369}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,369}}</string>
			<key>sourceSize</key>
			<string>{48,369}</string>
		</dict>
		<key>obj162_001891.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,0},{48,448}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,448}}</string>
			<key>sourceSize</key>
			<string>{48,448}</string>
		</dict>
		<key>obj162_001892.png</key>
		<dict>
			<key>frame</key>
			<string>{{550,0},{48,403}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,403}}</string>
			<key>sourceSize</key>
			<string>{48,403}</string>
		</dict>
		<key>obj162_001893.png</key>
		<dict>
			<key>frame</key>
			<string>{{600,393},{48,372}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,372}}</string>
			<key>sourceSize</key>
			<string>{48,372}</string>
		</dict>
		<key>obj162_001894.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,0},{48,442}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,442}}</string>
			<key>sourceSize</key>
			<string>{48,442}</string>
		</dict>
		<key>obj162_001895.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,455},{48,430}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,430}}</string>
			<key>sourceSize</key>
			<string>{48,430}</string>
		</dict>
		<key>obj162_001896.png</key>
		<dict>
			<key>frame</key>
			<string>{{650,393},{48,372}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,372}}</string>
			<key>sourceSize</key>
			<string>{48,372}</string>
		</dict>
		<key>obj162_001897.png</key>
		<dict>
			<key>frame</key>
			<string>{{500,0},{48,416}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,416}}</string>
			<key>sourceSize</key>
			<string>{48,416}</string>
		</dict>
		<key>obj162_001898.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,0},{48,445}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,445}}</string>
			<key>sourceSize</key>
			<string>{48,445}</string>
		</dict>
		<key>obj162_001899.png</key>
		<dict>
			<key>frame</key>
			<string>{{800,0},{48,340}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,340}}</string>
			<key>sourceSize</key>
			<string>{48,340}</string>
		</dict>
		<key>obj162_001900.png</key>
		<dict>
			<key>frame</key>
			<string>{{700,391},{48,384}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,384}}</string>
			<key>sourceSize</key>
			<string>{48,384}</string>
		</dict>
		<key>obj162_001901.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,450},{48,444}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,444}}</string>
			<key>sourceSize</key>
			<string>{48,444}</string>
		</dict>
		<key>obj162_001902.png</key>
		<dict>
			<key>frame</key>
			<string>{{800,342},{48,340}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,340}}</string>
			<key>sourceSize</key>
			<string>{48,340}</string>
		</dict>
		<key>obj162_001903.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,455},{48,423}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,423}}</string>
			<key>sourceSize</key>
			<string>{48,423}</string>
		</dict>
		<key>obj162_001904.png</key>
		<dict>
			<key>frame</key>
			<string>{{550,405},{48,372}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,372}}</string>
			<key>sourceSize</key>
			<string>{48,372}</string>
		</dict>
		<key>obj162_001905.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,455},{48,423}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,423}}</string>
			<key>sourceSize</key>
			<string>{48,423}</string>
		</dict>
		<key>obj162_001906.png</key>
		<dict>
			<key>frame</key>
			<string>{{500,418},{48,372}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,372}}</string>
			<key>sourceSize</key>
			<string>{48,372}</string>
		</dict>
		<key>obj162_001907.png</key>
		<dict>
			<key>frame</key>
			<string>{{600,0},{48,391}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,391}}</string>
			<key>sourceSize</key>
			<string>{48,391}</string>
		</dict>
		<key>obj162_001908.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,423},{48,372}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,372}}</string>
			<key>sourceSize</key>
			<string>{48,372}</string>
		</dict>
		<key>obj162_001909.png</key>
		<dict>
			<key>frame</key>
			<string>{{650,0},{48,391}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,391}}</string>
			<key>sourceSize</key>
			<string>{48,391}</string>
		</dict>
		<key>obj162_001910.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,444},{48,372}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,372}}</string>
			<key>sourceSize</key>
			<string>{48,372}</string>
		</dict>
		<key>obj162_001911.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,447},{48,372}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,372}}</string>
			<key>sourceSize</key>
			<string>{48,372}</string>
		</dict>
		<key>obj162_001912.png</key>
		<dict>
			<key>frame</key>
			<string>{{750,0},{48,372}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,372}}</string>
			<key>sourceSize</key>
			<string>{48,372}</string>
		</dict>
		<key>obj162_001913.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,455},{48,421}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,421}}</string>
			<key>sourceSize</key>
			<string>{48,421}</string>
		</dict>
		<key>obj162_001914.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{48,453}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,453}}</string>
			<key>sourceSize</key>
			<string>{48,453}</string>
		</dict>
		<key>obj162_001915.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,455},{48,421}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,421}}</string>
			<key>sourceSize</key>
			<string>{48,421}</string>
		</dict>
		<key>obj162_001916.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,455},{48,421}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,421}}</string>
			<key>sourceSize</key>
			<string>{48,421}</string>
		</dict>
		<key>obj162_001917.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,0},{48,453}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,453}}</string>
			<key>sourceSize</key>
			<string>{48,453}</string>
		</dict>
		<key>obj162_001918.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,0},{48,453}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,453}}</string>
			<key>sourceSize</key>
			<string>{48,453}</string>
		</dict>
		<key>obj162_001919.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,0},{48,453}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,453}}</string>
			<key>sourceSize</key>
			<string>{48,453}</string>
		</dict>
		<key>obj162_001920.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,0},{48,453}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,453}}</string>
			<key>sourceSize</key>
			<string>{48,453}</string>
		</dict>
		<key>obj162_001921.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,0},{48,453}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,453}}</string>
			<key>sourceSize</key>
			<string>{48,453}</string>
		</dict>
		<key>obj162_001922.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,0},{48,421}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,421}}</string>
			<key>sourceSize</key>
			<string>{48,421}</string>
		</dict>
		<key>obj162_001923.png</key>
		<dict>
			<key>frame</key>
			<string>{{700,0},{48,389}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,389}}</string>
			<key>sourceSize</key>
			<string>{48,389}</string>
		</dict>
		<key>obj162_001924.png</key>
		<dict>
			<key>frame</key>
			<string>{{850,0},{48,325}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,325}}</string>
			<key>sourceSize</key>
			<string>{48,325}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>obj162_54.png</string>
		<key>size</key>
		<string>{912,902}</string>
		<key>textureFileName</key>
		<string>obj162_54.png</string>
	</dict>
</dict>
</plist>
