<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>obj162_000840.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,478},{48,122}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,122}}</string>
			<key>sourceSize</key>
			<string>{48,122}</string>
		</dict>
		<key>obj162_000841.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,302},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000842.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,327},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000843.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{48,501}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,501}}</string>
			<key>sourceSize</key>
			<string>{48,501}</string>
		</dict>
		<key>obj162_000844.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,336},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000845.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,361},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000846.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,0},{48,288}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,288}}</string>
			<key>sourceSize</key>
			<string>{48,288}</string>
		</dict>
		<key>obj162_000847.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,0},{48,300}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,300}}</string>
			<key>sourceSize</key>
			<string>{48,300}</string>
		</dict>
		<key>obj162_000848.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,290},{48,286}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,286}}</string>
			<key>sourceSize</key>
			<string>{48,286}</string>
		</dict>
		<key>obj162_000849.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,370},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000850.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,395},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000851.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,0},{48,464}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,464}}</string>
			<key>sourceSize</key>
			<string>{48,464}</string>
		</dict>
		<key>obj162_000852.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,404},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000853.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,429},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000854.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,0},{48,288}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,288}}</string>
			<key>sourceSize</key>
			<string>{48,288}</string>
		</dict>
		<key>obj162_000855.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,394},{48,206}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,206}}</string>
			<key>sourceSize</key>
			<string>{48,206}</string>
		</dict>
		<key>obj162_000856.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,438},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000857.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,463},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000858.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,290},{48,205}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,205}}</string>
			<key>sourceSize</key>
			<string>{48,205}</string>
		</dict>
		<key>obj162_000859.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,472},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000860.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,497},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000861.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,290},{48,186}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,186}}</string>
			<key>sourceSize</key>
			<string>{48,186}</string>
		</dict>
		<key>obj162_000862.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,0},{48,325}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,325}}</string>
			<key>sourceSize</key>
			<string>{48,325}</string>
		</dict>
		<key>obj162_000863.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,497},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000864.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,506},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000865.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,0},{48,439}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,439}}</string>
			<key>sourceSize</key>
			<string>{48,439}</string>
		</dict>
		<key>obj162_000866.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,531},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000867.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,531},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000868.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,0},{48,288}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,288}}</string>
			<key>sourceSize</key>
			<string>{48,288}</string>
		</dict>
		<key>obj162_000869.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,394},{48,218}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,218}}</string>
			<key>sourceSize</key>
			<string>{48,218}</string>
		</dict>
		<key>obj162_000870.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,540},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000871.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,0},{48,365}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,365}}</string>
			<key>sourceSize</key>
			<string>{48,365}</string>
		</dict>
		<key>obj162_000872.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,565},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000873.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,565},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000874.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,0},{48,392}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,392}}</string>
			<key>sourceSize</key>
			<string>{48,392}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>obj162_24.png</string>
		<key>size</key>
		<string>{512,640}</string>
		<key>textureFileName</key>
		<string>obj162_24.png</string>
	</dict>
</dict>
</plist>
