<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>obj181_002205.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,0},{48,296}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,296}}</string>
        <key>sourceSize</key>
        <string>{48,296}</string>
      </dict>
      <key>obj181_002206.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,0},{48,535}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,535}}</string>
        <key>sourceSize</key>
        <string>{48,535}</string>
      </dict>
      <key>obj181_002207.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,0},{48,532}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,532}}</string>
        <key>sourceSize</key>
        <string>{48,532}</string>
      </dict>
      <key>obj181_002208.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,583},{48,421}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,421}}</string>
        <key>sourceSize</key>
        <string>{48,421}</string>
      </dict>
      <key>obj181_002209.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,298},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_002210.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,318},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_002211.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{48,581}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,581}}</string>
        <key>sourceSize</key>
        <string>{48,581}</string>
      </dict>
      <key>obj181_002212.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,0},{48,316}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,316}}</string>
        <key>sourceSize</key>
        <string>{48,316}</string>
      </dict>
      <key>obj181_002213.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,0},{48,293}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,293}}</string>
        <key>sourceSize</key>
        <string>{48,293}</string>
      </dict>
      <key>obj181_002214.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,0},{48,528}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,528}}</string>
        <key>sourceSize</key>
        <string>{48,528}</string>
      </dict>
      <key>obj181_002215.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,0},{48,524}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,524}}</string>
        <key>sourceSize</key>
        <string>{48,524}</string>
      </dict>
      <key>obj181_002216.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,0},{48,488}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,488}}</string>
        <key>sourceSize</key>
        <string>{48,488}</string>
      </dict>
      <key>obj181_002217.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,332},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_002218.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,0},{48,540}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,540}}</string>
        <key>sourceSize</key>
        <string>{48,540}</string>
      </dict>
      <key>obj181_002219.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,295},{48,248}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,248}}</string>
        <key>sourceSize</key>
        <string>{48,248}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>obj181_147.png</string>
      <key>size</key>
      <string>{512,1024}</string>
      <key>textureFileName</key>
      <string>obj181_147.png</string>
    </dict>
  </dict>
</plist>