<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>obj181_003855.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{48,573}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,573}}</string>
        <key>sourceSize</key>
        <string>{48,573}</string>
      </dict>
      <key>obj181_003856.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,835},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_003857.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,514},{48,340}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,340}}</string>
        <key>sourceSize</key>
        <string>{48,340}</string>
      </dict>
      <key>obj181_003858.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,527},{48,306}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,306}}</string>
        <key>sourceSize</key>
        <string>{48,306}</string>
      </dict>
      <key>obj181_003859.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,0},{48,290}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,290}}</string>
        <key>sourceSize</key>
        <string>{48,290}</string>
      </dict>
      <key>obj181_003860.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,0},{48,488}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,488}}</string>
        <key>sourceSize</key>
        <string>{48,488}</string>
      </dict>
      <key>obj181_003861.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,0},{48,525}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,525}}</string>
        <key>sourceSize</key>
        <string>{48,525}</string>
      </dict>
      <key>obj181_003862.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,514},{48,365}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,365}}</string>
        <key>sourceSize</key>
        <string>{48,365}</string>
      </dict>
      <key>obj181_003863.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,0},{48,512}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,512}}</string>
        <key>sourceSize</key>
        <string>{48,512}</string>
      </dict>
      <key>obj181_003864.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,575},{48,303}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,303}}</string>
        <key>sourceSize</key>
        <string>{48,303}</string>
      </dict>
      <key>obj181_003865.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,869},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_003866.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,880},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_003867.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,856},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_003868.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,0},{48,512}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,512}}</string>
        <key>sourceSize</key>
        <string>{48,512}</string>
      </dict>
      <key>obj181_003869.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,490},{48,408}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,408}}</string>
        <key>sourceSize</key>
        <string>{48,408}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>obj181_257.png</string>
      <key>size</key>
      <string>{512,1024}</string>
      <key>textureFileName</key>
      <string>obj181_257.png</string>
    </dict>
  </dict>
</plist>