<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>obj181_003015.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,944},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_003016.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,978},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_003017.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,978},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_003018.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,0},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_003019.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,0},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_003020.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,0},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_003021.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,526},{48,416}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,416}}</string>
        <key>sourceSize</key>
        <string>{48,416}</string>
      </dict>
      <key>obj181_003022.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{48,524}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,524}}</string>
        <key>sourceSize</key>
        <string>{48,524}</string>
      </dict>
      <key>obj181_003023.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,0},{48,520}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,520}}</string>
        <key>sourceSize</key>
        <string>{48,520}</string>
      </dict>
      <key>obj181_003024.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,34},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_003025.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,34},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_003026.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,34},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_003027.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,522},{48,446}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,446}}</string>
        <key>sourceSize</key>
        <string>{48,446}</string>
      </dict>
      <key>obj181_003028.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,68},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_003029.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,68},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>obj181_201.png</string>
      <key>size</key>
      <string>{256,1024}</string>
      <key>textureFileName</key>
      <string>obj181_201.png</string>
    </dict>
  </dict>
</plist>