<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>obj189_001472.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,678},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001473.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,712},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001474.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,1222},{48,288}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,288}}</string>
			<key>sourceSize</key>
			<string>{48,288}</string>
		</dict>
		<key>obj189_001475.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,746},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001476.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,780},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001477.png</key>
		<dict>
			<key>frame</key>
			<string>{{244,516},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001478.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{48,416}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,416}}</string>
			<key>sourceSize</key>
			<string>{48,416}</string>
		</dict>
		<key>obj189_001479.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1222},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001480.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1256},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001481.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1290},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001482.png</key>
		<dict>
			<key>frame</key>
			<string>{{1264,162},{48,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,128}}</string>
			<key>sourceSize</key>
			<string>{48,128}</string>
		</dict>
		<key>obj189_001483.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,0},{48,320}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,320}}</string>
			<key>sourceSize</key>
			<string>{48,320}</string>
		</dict>
		<key>obj189_001484.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1324},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001485.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1358},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001486.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1392},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001487.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,836},{48,384}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,384}}</string>
			<key>sourceSize</key>
			<string>{48,384}</string>
		</dict>
		<key>obj189_001488.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1426},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001489.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1460},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001490.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1494},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001491.png</key>
		<dict>
			<key>frame</key>
			<string>{{488,1354},{144,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,160}}</string>
			<key>sourceSize</key>
			<string>{144,160}</string>
		</dict>
		<key>obj189_001492.png</key>
		<dict>
			<key>frame</key>
			<string>{{634,1354},{144,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,160}}</string>
			<key>sourceSize</key>
			<string>{144,160}</string>
		</dict>
		<key>obj189_001493.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,1354},{144,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,160}}</string>
			<key>sourceSize</key>
			<string>{144,160}</string>
		</dict>
		<key>obj189_001494.png</key>
		<dict>
			<key>frame</key>
			<string>{{488,774},{144,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,160}}</string>
			<key>sourceSize</key>
			<string>{144,160}</string>
		</dict>
		<key>obj189_001495.png</key>
		<dict>
			<key>frame</key>
			<string>{{634,774},{144,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,160}}</string>
			<key>sourceSize</key>
			<string>{144,160}</string>
		</dict>
		<key>obj189_001496.png</key>
		<dict>
			<key>frame</key>
			<string>{{682,516},{144,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,160}}</string>
			<key>sourceSize</key>
			<string>{144,160}</string>
		</dict>
		<key>obj189_001497.png</key>
		<dict>
			<key>frame</key>
			<string>{{826,258},{144,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,160}}</string>
			<key>sourceSize</key>
			<string>{144,160}</string>
		</dict>
		<key>obj189_001498.png</key>
		<dict>
			<key>frame</key>
			<string>{{876,0},{144,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,160}}</string>
			<key>sourceSize</key>
			<string>{144,160}</string>
		</dict>
		<key>obj189_001499.png</key>
		<dict>
			<key>frame</key>
			<string>{{682,936},{144,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,160}}</string>
			<key>sourceSize</key>
			<string>{144,160}</string>
		</dict>
		<key>obj189_001500.png</key>
		<dict>
			<key>frame</key>
			<string>{{682,1098},{144,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,160}}</string>
			<key>sourceSize</key>
			<string>{144,160}</string>
		</dict>
		<key>obj189_001501.png</key>
		<dict>
			<key>frame</key>
			<string>{{780,678},{144,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,160}}</string>
			<key>sourceSize</key>
			<string>{144,160}</string>
		</dict>
		<key>obj189_001502.png</key>
		<dict>
			<key>frame</key>
			<string>{{828,420},{144,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,160}}</string>
			<key>sourceSize</key>
			<string>{144,160}</string>
		</dict>
		<key>obj189_001503.png</key>
		<dict>
			<key>frame</key>
			<string>{{972,162},{144,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,160}}</string>
			<key>sourceSize</key>
			<string>{144,160}</string>
		</dict>
		<key>obj189_001504.png</key>
		<dict>
			<key>frame</key>
			<string>{{1022,0},{144,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,160}}</string>
			<key>sourceSize</key>
			<string>{144,160}</string>
		</dict>
		<key>obj189_001505.png</key>
		<dict>
			<key>frame</key>
			<string>{{780,1260},{144,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,160}}</string>
			<key>sourceSize</key>
			<string>{144,160}</string>
		</dict>
		<key>obj189_001506.png</key>
		<dict>
			<key>frame</key>
			<string>{{1168,0},{144,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,160}}</string>
			<key>sourceSize</key>
			<string>{144,160}</string>
		</dict>
		<key>obj189_001507.png</key>
		<dict>
			<key>frame</key>
			<string>{{1314,0},{144,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,160}}</string>
			<key>sourceSize</key>
			<string>{144,160}</string>
		</dict>
		<key>obj189_001508.png</key>
		<dict>
			<key>frame</key>
			<string>{{1314,162},{144,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,160}}</string>
			<key>sourceSize</key>
			<string>{144,160}</string>
		</dict>
		<key>obj189_001509.png</key>
		<dict>
			<key>frame</key>
			<string>{{1118,162},{144,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,160}}</string>
			<key>sourceSize</key>
			<string>{144,160}</string>
		</dict>
		<key>obj189_001510.png</key>
		<dict>
			<key>frame</key>
			<string>{{1118,324},{144,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,160}}</string>
			<key>sourceSize</key>
			<string>{144,160}</string>
		</dict>
		<key>obj189_001511.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,1222},{192,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,256}}</string>
			<key>sourceSize</key>
			<string>{192,256}</string>
		</dict>
		<key>obj189_001512.png</key>
		<dict>
			<key>frame</key>
			<string>{{1264,292},{48,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,128}}</string>
			<key>sourceSize</key>
			<string>{48,128}</string>
		</dict>
		<key>obj189_001513.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,1480},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001514.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,418},{48,416}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,416}}</string>
			<key>sourceSize</key>
			<string>{48,416}</string>
		</dict>
		<key>obj189_001515.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,580},{48,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,96}}</string>
			<key>sourceSize</key>
			<string>{48,96}</string>
		</dict>
		<key>obj189_001516.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,1480},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001517.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,836},{48,384}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,384}}</string>
			<key>sourceSize</key>
			<string>{48,384}</string>
		</dict>
		<key>obj189_001518.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,1480},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001519.png</key>
		<dict>
			<key>frame</key>
			<string>{{1460,162},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001520.png</key>
		<dict>
			<key>frame</key>
			<string>{{1460,196},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001521.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,322},{192,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,256}}</string>
			<key>sourceSize</key>
			<string>{192,256}</string>
		</dict>
		<key>obj189_001522.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,0},{192,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,256}}</string>
			<key>sourceSize</key>
			<string>{192,256}</string>
		</dict>
		<key>obj189_001523.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,580},{192,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,256}}</string>
			<key>sourceSize</key>
			<string>{192,256}</string>
		</dict>
		<key>obj189_001524.png</key>
		<dict>
			<key>frame</key>
			<string>{{244,258},{192,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,256}}</string>
			<key>sourceSize</key>
			<string>{192,256}</string>
		</dict>
		<key>obj189_001525.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,0},{192,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,256}}</string>
			<key>sourceSize</key>
			<string>{192,256}</string>
		</dict>
		<key>obj189_001526.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,838},{192,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,256}}</string>
			<key>sourceSize</key>
			<string>{192,256}</string>
		</dict>
		<key>obj189_001527.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,838},{192,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,256}}</string>
			<key>sourceSize</key>
			<string>{192,256}</string>
		</dict>
		<key>obj189_001528.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,516},{192,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,256}}</string>
			<key>sourceSize</key>
			<string>{192,256}</string>
		</dict>
		<key>obj189_001529.png</key>
		<dict>
			<key>frame</key>
			<string>{{438,258},{192,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,256}}</string>
			<key>sourceSize</key>
			<string>{192,256}</string>
		</dict>
		<key>obj189_001530.png</key>
		<dict>
			<key>frame</key>
			<string>{{488,0},{192,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,256}}</string>
			<key>sourceSize</key>
			<string>{192,256}</string>
		</dict>
		<key>obj189_001531.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,1096},{192,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,256}}</string>
			<key>sourceSize</key>
			<string>{192,256}</string>
		</dict>
		<key>obj189_001532.png</key>
		<dict>
			<key>frame</key>
			<string>{{488,1096},{192,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,256}}</string>
			<key>sourceSize</key>
			<string>{192,256}</string>
		</dict>
		<key>obj189_001533.png</key>
		<dict>
			<key>frame</key>
			<string>{{488,516},{192,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,256}}</string>
			<key>sourceSize</key>
			<string>{192,256}</string>
		</dict>
		<key>obj189_001534.png</key>
		<dict>
			<key>frame</key>
			<string>{{632,258},{192,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,256}}</string>
			<key>sourceSize</key>
			<string>{192,256}</string>
		</dict>
		<key>obj189_001535.png</key>
		<dict>
			<key>frame</key>
			<string>{{682,0},{192,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,256}}</string>
			<key>sourceSize</key>
			<string>{192,256}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>obj189_23.png</string>
		<key>size</key>
		<string>{1536,1536}</string>
		<key>textureFileName</key>
		<string>obj189_23.png</string>
	</dict>
</dict>
</plist>
