<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>obj162_001540.png</key>
		<dict>
			<key>frame</key>
			<string>{{750,461},{48,415}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,415}}</string>
			<key>sourceSize</key>
			<string>{48,415}</string>
		</dict>
		<key>obj162_001541.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,601},{48,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,112}}</string>
			<key>sourceSize</key>
			<string>{48,112}</string>
		</dict>
		<key>obj162_001542.png</key>
		<dict>
			<key>frame</key>
			<string>{{500,0},{48,503}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,503}}</string>
			<key>sourceSize</key>
			<string>{48,503}</string>
		</dict>
		<key>obj162_001543.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,568},{48,323}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,323}}</string>
			<key>sourceSize</key>
			<string>{48,323}</string>
		</dict>
		<key>obj162_001544.png</key>
		<dict>
			<key>frame</key>
			<string>{{700,463},{48,415}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,415}}</string>
			<key>sourceSize</key>
			<string>{48,415}</string>
		</dict>
		<key>obj162_001545.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,683},{48,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,43}}</string>
			<key>sourceSize</key>
			<string>{48,43}</string>
		</dict>
		<key>obj162_001546.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,0},{48,557}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,557}}</string>
			<key>sourceSize</key>
			<string>{48,557}</string>
		</dict>
		<key>obj162_001547.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,551},{48,317}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,317}}</string>
			<key>sourceSize</key>
			<string>{48,317}</string>
		</dict>
		<key>obj162_001548.png</key>
		<dict>
			<key>frame</key>
			<string>{{750,0},{48,459}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,459}}</string>
			<key>sourceSize</key>
			<string>{48,459}</string>
		</dict>
		<key>obj162_001549.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,715},{48,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,41}}</string>
			<key>sourceSize</key>
			<string>{48,41}</string>
		</dict>
		<key>obj162_001550.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,715},{48,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,43}}</string>
			<key>sourceSize</key>
			<string>{48,43}</string>
		</dict>
		<key>obj162_001551.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,0},{48,599}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,599}}</string>
			<key>sourceSize</key>
			<string>{48,599}</string>
		</dict>
		<key>obj162_001552.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,568},{48,320}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,320}}</string>
			<key>sourceSize</key>
			<string>{48,320}</string>
		</dict>
		<key>obj162_001553.png</key>
		<dict>
			<key>frame</key>
			<string>{{550,0},{48,491}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,491}}</string>
			<key>sourceSize</key>
			<string>{48,491}</string>
		</dict>
		<key>obj162_001554.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,728},{48,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,41}}</string>
			<key>sourceSize</key>
			<string>{48,41}</string>
		</dict>
		<key>obj162_001555.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,621},{48,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,60}}</string>
			<key>sourceSize</key>
			<string>{48,60}</string>
		</dict>
		<key>obj162_001556.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,0},{48,619}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,619}}</string>
			<key>sourceSize</key>
			<string>{48,619}</string>
		</dict>
		<key>obj162_001557.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,559},{48,320}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,320}}</string>
			<key>sourceSize</key>
			<string>{48,320}</string>
		</dict>
		<key>obj162_001558.png</key>
		<dict>
			<key>frame</key>
			<string>{{600,0},{48,491}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,491}}</string>
			<key>sourceSize</key>
			<string>{48,491}</string>
		</dict>
		<key>obj162_001559.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,653},{48,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,60}}</string>
			<key>sourceSize</key>
			<string>{48,60}</string>
		</dict>
		<key>obj162_001560.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{48,651}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,651}}</string>
			<key>sourceSize</key>
			<string>{48,651}</string>
		</dict>
		<key>obj162_001561.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,557},{48,318}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,318}}</string>
			<key>sourceSize</key>
			<string>{48,318}</string>
		</dict>
		<key>obj162_001562.png</key>
		<dict>
			<key>frame</key>
			<string>{{650,0},{48,491}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,491}}</string>
			<key>sourceSize</key>
			<string>{48,491}</string>
		</dict>
		<key>obj162_001563.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,534},{48,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,128}}</string>
			<key>sourceSize</key>
			<string>{48,128}</string>
		</dict>
		<key>obj162_001564.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,0},{48,566}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,566}}</string>
			<key>sourceSize</key>
			<string>{48,566}</string>
		</dict>
		<key>obj162_001565.png</key>
		<dict>
			<key>frame</key>
			<string>{{550,493},{48,317}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,317}}</string>
			<key>sourceSize</key>
			<string>{48,317}</string>
		</dict>
		<key>obj162_001566.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,0},{48,555}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,555}}</string>
			<key>sourceSize</key>
			<string>{48,555}</string>
		</dict>
		<key>obj162_001567.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,664},{48,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,128}}</string>
			<key>sourceSize</key>
			<string>{48,128}</string>
		</dict>
		<key>obj162_001568.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,0},{48,518}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,518}}</string>
			<key>sourceSize</key>
			<string>{48,518}</string>
		</dict>
		<key>obj162_001569.png</key>
		<dict>
			<key>frame</key>
			<string>{{500,505},{48,313}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,313}}</string>
			<key>sourceSize</key>
			<string>{48,313}</string>
		</dict>
		<key>obj162_001570.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,0},{48,532}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,532}}</string>
			<key>sourceSize</key>
			<string>{48,532}</string>
		</dict>
		<key>obj162_001571.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,0},{48,549}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,549}}</string>
			<key>sourceSize</key>
			<string>{48,549}</string>
		</dict>
		<key>obj162_001572.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,520},{48,312}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,312}}</string>
			<key>sourceSize</key>
			<string>{48,312}</string>
		</dict>
		<key>obj162_001573.png</key>
		<dict>
			<key>frame</key>
			<string>{{700,0},{48,461}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,461}}</string>
			<key>sourceSize</key>
			<string>{48,461}</string>
		</dict>
		<key>obj162_001574.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,0},{48,533}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,533}}</string>
			<key>sourceSize</key>
			<string>{48,533}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>obj162_44.png</string>
		<key>size</key>
		<string>{816,898}</string>
		<key>textureFileName</key>
		<string>obj162_44.png</string>
	</dict>
</dict>
</plist>
