<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>obj181_004455.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,725},{48,144}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,144}}</string>
        <key>sourceSize</key>
        <string>{48,144}</string>
      </dict>
      <key>obj181_004456.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,802},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_004457.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,818},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_004458.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,694},{48,235}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,235}}</string>
        <key>sourceSize</key>
        <string>{48,235}</string>
      </dict>
      <key>obj181_004459.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,836},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_004460.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,0},{48,692}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,692}}</string>
        <key>sourceSize</key>
        <string>{48,692}</string>
      </dict>
      <key>obj181_004461.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,305},{48,296}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,296}}</string>
        <key>sourceSize</key>
        <string>{48,296}</string>
      </dict>
      <key>obj181_004462.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,852},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_004463.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,0},{48,723}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,723}}</string>
        <key>sourceSize</key>
        <string>{48,723}</string>
      </dict>
      <key>obj181_004464.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,0},{48,303}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,303}}</string>
        <key>sourceSize</key>
        <string>{48,303}</string>
      </dict>
      <key>obj181_004465.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,870},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_004466.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,0},{48,800}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,800}}</string>
        <key>sourceSize</key>
        <string>{48,800}</string>
      </dict>
      <key>obj181_004467.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,603},{48,272}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,272}}</string>
        <key>sourceSize</key>
        <string>{48,272}</string>
      </dict>
      <key>obj181_004468.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,871},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_004469.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{48,816}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,816}}</string>
        <key>sourceSize</key>
        <string>{48,816}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>obj181_297.png</string>
      <key>size</key>
      <string>{256,1024}</string>
      <key>textureFileName</key>
      <string>obj181_297.png</string>
    </dict>
  </dict>
</plist>