<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>obj189_000448.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,1478},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_000449.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,678},{48,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,128}}</string>
			<key>sourceSize</key>
			<string>{48,128}</string>
		</dict>
		<key>obj189_000450.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,0},{144,224}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,224}}</string>
			<key>sourceSize</key>
			<string>{144,224}</string>
		</dict>
		<key>obj189_000451.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,226},{144,224}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,224}}</string>
			<key>sourceSize</key>
			<string>{144,224}</string>
		</dict>
		<key>obj189_000452.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,452},{144,224}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,224}}</string>
			<key>sourceSize</key>
			<string>{144,224}</string>
		</dict>
		<key>obj189_000453.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,678},{144,224}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,224}}</string>
			<key>sourceSize</key>
			<string>{144,224}</string>
		</dict>
		<key>obj189_000454.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,904},{144,224}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,224}}</string>
			<key>sourceSize</key>
			<string>{144,224}</string>
		</dict>
		<key>obj189_000455.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,1130},{144,224}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,224}}</string>
			<key>sourceSize</key>
			<string>{144,224}</string>
		</dict>
		<key>obj189_000456.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,0},{144,224}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,224}}</string>
			<key>sourceSize</key>
			<string>{144,224}</string>
		</dict>
		<key>obj189_000457.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,226},{144,224}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,224}}</string>
			<key>sourceSize</key>
			<string>{144,224}</string>
		</dict>
		<key>obj189_000458.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,452},{144,224}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,224}}</string>
			<key>sourceSize</key>
			<string>{144,224}</string>
		</dict>
		<key>obj189_000459.png</key>
		<dict>
			<key>frame</key>
			<string>{{246,678},{144,224}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,224}}</string>
			<key>sourceSize</key>
			<string>{144,224}</string>
		</dict>
		<key>obj189_000460.png</key>
		<dict>
			<key>frame</key>
			<string>{{246,904},{144,224}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,224}}</string>
			<key>sourceSize</key>
			<string>{144,224}</string>
		</dict>
		<key>obj189_000461.png</key>
		<dict>
			<key>frame</key>
			<string>{{296,1130},{144,224}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,224}}</string>
			<key>sourceSize</key>
			<string>{144,224}</string>
		</dict>
		<key>obj189_000462.png</key>
		<dict>
			<key>frame</key>
			<string>{{342,0},{144,224}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,224}}</string>
			<key>sourceSize</key>
			<string>{144,224}</string>
		</dict>
		<key>obj189_000463.png</key>
		<dict>
			<key>frame</key>
			<string>{{342,226},{144,224}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,224}}</string>
			<key>sourceSize</key>
			<string>{144,224}</string>
		</dict>
		<key>obj189_000464.png</key>
		<dict>
			<key>frame</key>
			<string>{{342,452},{144,224}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,224}}</string>
			<key>sourceSize</key>
			<string>{144,224}</string>
		</dict>
		<key>obj189_000465.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,678},{144,224}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,224}}</string>
			<key>sourceSize</key>
			<string>{144,224}</string>
		</dict>
		<key>obj189_000466.png</key>
		<dict>
			<key>frame</key>
			<string>{{392,904},{144,224}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,224}}</string>
			<key>sourceSize</key>
			<string>{144,224}</string>
		</dict>
		<key>obj189_000467.png</key>
		<dict>
			<key>frame</key>
			<string>{{442,1130},{144,224}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,224}}</string>
			<key>sourceSize</key>
			<string>{144,224}</string>
		</dict>
		<key>obj189_000468.png</key>
		<dict>
			<key>frame</key>
			<string>{{488,0},{144,224}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,224}}</string>
			<key>sourceSize</key>
			<string>{144,224}</string>
		</dict>
		<key>obj189_000469.png</key>
		<dict>
			<key>frame</key>
			<string>{{488,226},{144,224}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,224}}</string>
			<key>sourceSize</key>
			<string>{144,224}</string>
		</dict>
		<key>obj189_000471.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,834},{48,352}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,352}}</string>
			<key>sourceSize</key>
			<string>{48,352}</string>
		</dict>
		<key>obj189_000472.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,1130},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_000473.png</key>
		<dict>
			<key>frame</key>
			<string>{{1220,260},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_000474.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,1188},{48,288}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,288}}</string>
			<key>sourceSize</key>
			<string>{48,288}</string>
		</dict>
		<key>obj189_000475.png</key>
		<dict>
			<key>frame</key>
			<string>{{1220,0},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_000476.png</key>
		<dict>
			<key>frame</key>
			<string>{{1220,34},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_000477.png</key>
		<dict>
			<key>frame</key>
			<string>{{1220,68},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_000478.png</key>
		<dict>
			<key>frame</key>
			<string>{{782,1492},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_000479.png</key>
		<dict>
			<key>frame</key>
			<string>{{832,1492},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_000480.png</key>
		<dict>
			<key>frame</key>
			<string>{{882,1492},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_000481.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,834},{48,672}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,672}}</string>
			<key>sourceSize</key>
			<string>{48,672}</string>
		</dict>
		<key>obj189_000482.png</key>
		<dict>
			<key>frame</key>
			<string>{{636,1492},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_000483.png</key>
		<dict>
			<key>frame</key>
			<string>{{686,1492},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_000484.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,1486},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_000485.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{48,832}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,832}}</string>
			<key>sourceSize</key>
			<string>{48,832}</string>
		</dict>
		<key>obj189_000486.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,1486},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_000487.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,1188},{48,320}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,320}}</string>
			<key>sourceSize</key>
			<string>{48,320}</string>
		</dict>
		<key>obj189_000488.png</key>
		<dict>
			<key>frame</key>
			<string>{{488,582},{48,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,64}}</string>
			<key>sourceSize</key>
			<string>{48,64}</string>
		</dict>
		<key>obj189_000489.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,1486},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_000490.png</key>
		<dict>
			<key>frame</key>
			<string>{{1220,130},{48,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,128}}</string>
			<key>sourceSize</key>
			<string>{48,128}</string>
		</dict>
		<key>obj189_000491.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,1356},{144,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,128}}</string>
			<key>sourceSize</key>
			<string>{144,128}</string>
		</dict>
		<key>obj189_000492.png</key>
		<dict>
			<key>frame</key>
			<string>{{296,1356},{144,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,128}}</string>
			<key>sourceSize</key>
			<string>{144,128}</string>
		</dict>
		<key>obj189_000493.png</key>
		<dict>
			<key>frame</key>
			<string>{{488,452},{144,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,128}}</string>
			<key>sourceSize</key>
			<string>{144,128}</string>
		</dict>
		<key>obj189_000494.png</key>
		<dict>
			<key>frame</key>
			<string>{{538,582},{144,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,128}}</string>
			<key>sourceSize</key>
			<string>{144,128}</string>
		</dict>
		<key>obj189_000495.png</key>
		<dict>
			<key>frame</key>
			<string>{{538,712},{144,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,128}}</string>
			<key>sourceSize</key>
			<string>{144,128}</string>
		</dict>
		<key>obj189_000496.png</key>
		<dict>
			<key>frame</key>
			<string>{{538,842},{144,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,128}}</string>
			<key>sourceSize</key>
			<string>{144,128}</string>
		</dict>
		<key>obj189_000497.png</key>
		<dict>
			<key>frame</key>
			<string>{{538,972},{144,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,128}}</string>
			<key>sourceSize</key>
			<string>{144,128}</string>
		</dict>
		<key>obj189_000498.png</key>
		<dict>
			<key>frame</key>
			<string>{{588,1102},{144,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,128}}</string>
			<key>sourceSize</key>
			<string>{144,128}</string>
		</dict>
		<key>obj189_000499.png</key>
		<dict>
			<key>frame</key>
			<string>{{636,1232},{144,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,128}}</string>
			<key>sourceSize</key>
			<string>{144,128}</string>
		</dict>
		<key>obj189_000500.png</key>
		<dict>
			<key>frame</key>
			<string>{{636,1362},{144,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,128}}</string>
			<key>sourceSize</key>
			<string>{144,128}</string>
		</dict>
		<key>obj189_000501.png</key>
		<dict>
			<key>frame</key>
			<string>{{782,1362},{144,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,128}}</string>
			<key>sourceSize</key>
			<string>{144,128}</string>
		</dict>
		<key>obj189_000502.png</key>
		<dict>
			<key>frame</key>
			<string>{{928,0},{144,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,128}}</string>
			<key>sourceSize</key>
			<string>{144,128}</string>
		</dict>
		<key>obj189_000503.png</key>
		<dict>
			<key>frame</key>
			<string>{{782,0},{144,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,128}}</string>
			<key>sourceSize</key>
			<string>{144,128}</string>
		</dict>
		<key>obj189_000504.png</key>
		<dict>
			<key>frame</key>
			<string>{{782,130},{144,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,128}}</string>
			<key>sourceSize</key>
			<string>{144,128}</string>
		</dict>
		<key>obj189_000505.png</key>
		<dict>
			<key>frame</key>
			<string>{{634,130},{144,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,128}}</string>
			<key>sourceSize</key>
			<string>{144,128}</string>
		</dict>
		<key>obj189_000506.png</key>
		<dict>
			<key>frame</key>
			<string>{{634,0},{144,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,128}}</string>
			<key>sourceSize</key>
			<string>{144,128}</string>
		</dict>
		<key>obj189_000507.png</key>
		<dict>
			<key>frame</key>
			<string>{{634,260},{144,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,128}}</string>
			<key>sourceSize</key>
			<string>{144,128}</string>
		</dict>
		<key>obj189_000508.png</key>
		<dict>
			<key>frame</key>
			<string>{{1074,0},{144,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,128}}</string>
			<key>sourceSize</key>
			<string>{144,128}</string>
		</dict>
		<key>obj189_000509.png</key>
		<dict>
			<key>frame</key>
			<string>{{1074,130},{144,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,128}}</string>
			<key>sourceSize</key>
			<string>{144,128}</string>
		</dict>
		<key>obj189_000510.png</key>
		<dict>
			<key>frame</key>
			<string>{{928,130},{144,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,128}}</string>
			<key>sourceSize</key>
			<string>{144,128}</string>
		</dict>
		<key>obj189_000511.png</key>
		<dict>
			<key>frame</key>
			<string>{{442,1356},{192,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,160}}</string>
			<key>sourceSize</key>
			<string>{192,160}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>obj189_7.png</string>
		<key>size</key>
		<string>{1280,1536}</string>
		<key>textureFileName</key>
		<string>obj189_7.png</string>
	</dict>
</dict>
</plist>
