<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>obj162_001400.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,451},{48,316}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,316}}</string>
			<key>sourceSize</key>
			<string>{48,316}</string>
		</dict>
		<key>obj162_001401.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,461},{48,133}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,133}}</string>
			<key>sourceSize</key>
			<string>{48,133}</string>
		</dict>
		<key>obj162_001402.png</key>
		<dict>
			<key>frame</key>
			<string>{{500,363},{48,354}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,354}}</string>
			<key>sourceSize</key>
			<string>{48,354}</string>
		</dict>
		<key>obj162_001403.png</key>
		<dict>
			<key>frame</key>
			<string>{{600,0},{48,313}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,313}}</string>
			<key>sourceSize</key>
			<string>{48,313}</string>
		</dict>
		<key>obj162_001404.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{48,655}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,655}}</string>
			<key>sourceSize</key>
			<string>{48,655}</string>
		</dict>
		<key>obj162_001405.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,596},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_001406.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,519},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_001407.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,553},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_001408.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,0},{48,368}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,368}}</string>
			<key>sourceSize</key>
			<string>{48,368}</string>
		</dict>
		<key>obj162_001409.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,416},{48,319}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,319}}</string>
			<key>sourceSize</key>
			<string>{48,319}</string>
		</dict>
		<key>obj162_001410.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,461},{48,150}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,150}}</string>
			<key>sourceSize</key>
			<string>{48,150}</string>
		</dict>
		<key>obj162_001411.png</key>
		<dict>
			<key>frame</key>
			<string>{{500,0},{48,361}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,361}}</string>
			<key>sourceSize</key>
			<string>{48,361}</string>
		</dict>
		<key>obj162_001412.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,0},{48,436}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,436}}</string>
			<key>sourceSize</key>
			<string>{48,436}</string>
		</dict>
		<key>obj162_001413.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,0},{48,651}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,651}}</string>
			<key>sourceSize</key>
			<string>{48,651}</string>
		</dict>
		<key>obj162_001414.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,587},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_001415.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,613},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_001416.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,621},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_001417.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,0},{48,414}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,414}}</string>
			<key>sourceSize</key>
			<string>{48,414}</string>
		</dict>
		<key>obj162_001418.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,438},{48,318}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,318}}</string>
			<key>sourceSize</key>
			<string>{48,318}</string>
		</dict>
		<key>obj162_001419.png</key>
		<dict>
			<key>frame</key>
			<string>{{600,576},{48,169}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,169}}</string>
			<key>sourceSize</key>
			<string>{48,169}</string>
		</dict>
		<key>obj162_001420.png</key>
		<dict>
			<key>frame</key>
			<string>{{550,0},{48,355}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,355}}</string>
			<key>sourceSize</key>
			<string>{48,355}</string>
		</dict>
		<key>obj162_001421.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,0},{48,459}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,459}}</string>
			<key>sourceSize</key>
			<string>{48,459}</string>
		</dict>
		<key>obj162_001422.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,0},{48,627}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,627}}</string>
			<key>sourceSize</key>
			<string>{48,627}</string>
		</dict>
		<key>obj162_001423.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,629},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_001424.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,653},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_001425.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,657},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_001426.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,0},{48,449}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,449}}</string>
			<key>sourceSize</key>
			<string>{48,449}</string>
		</dict>
		<key>obj162_001427.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,370},{48,325}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,325}}</string>
			<key>sourceSize</key>
			<string>{48,325}</string>
		</dict>
		<key>obj162_001428.png</key>
		<dict>
			<key>frame</key>
			<string>{{600,315},{48,259}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,259}}</string>
			<key>sourceSize</key>
			<string>{48,259}</string>
		</dict>
		<key>obj162_001429.png</key>
		<dict>
			<key>frame</key>
			<string>{{550,357},{48,355}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,355}}</string>
			<key>sourceSize</key>
			<string>{48,355}</string>
		</dict>
		<key>obj162_001430.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,0},{48,459}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,459}}</string>
			<key>sourceSize</key>
			<string>{48,459}</string>
		</dict>
		<key>obj162_001431.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,0},{48,517}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,517}}</string>
			<key>sourceSize</key>
			<string>{48,517}</string>
		</dict>
		<key>obj162_001432.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,630},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_001433.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,647},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_001434.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,664},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>obj162_40.png</string>
		<key>size</key>
		<string>{664,769}</string>
		<key>textureFileName</key>
		<string>obj162_40.png</string>
	</dict>
</dict>
</plist>
