<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>obj181_003225.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,0},{48,297}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,297}}</string>
        <key>sourceSize</key>
        <string>{48,297}</string>
      </dict>
      <key>obj181_003226.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,0},{48,275}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,275}}</string>
        <key>sourceSize</key>
        <string>{48,275}</string>
      </dict>
      <key>obj181_003227.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,0},{48,278}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,278}}</string>
        <key>sourceSize</key>
        <string>{48,278}</string>
      </dict>
      <key>obj181_003228.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,0},{48,258}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,258}}</string>
        <key>sourceSize</key>
        <string>{48,258}</string>
      </dict>
      <key>obj181_003229.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,319},{48,179}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,179}}</string>
        <key>sourceSize</key>
        <string>{48,179}</string>
      </dict>
      <key>obj181_003230.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,402},{48,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,70}}</string>
        <key>sourceSize</key>
        <string>{48,70}</string>
      </dict>
      <key>obj181_003231.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,299},{48,195}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,195}}</string>
        <key>sourceSize</key>
        <string>{48,195}</string>
      </dict>
      <key>obj181_003232.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,277},{48,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,123}}</string>
        <key>sourceSize</key>
        <string>{48,123}</string>
      </dict>
      <key>obj181_003233.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,299},{48,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj181_003234.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,0},{48,251}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,251}}</string>
        <key>sourceSize</key>
        <string>{48,251}</string>
      </dict>
      <key>obj181_003235.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,442},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_003236.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,290},{48,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj181_003237.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,0},{48,288}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,288}}</string>
        <key>sourceSize</key>
        <string>{48,288}</string>
      </dict>
      <key>obj181_003238.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,280},{48,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj181_003239.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{48,317}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,317}}</string>
        <key>sourceSize</key>
        <string>{48,317}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>obj181_215.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>obj181_215.png</string>
    </dict>
  </dict>
</plist>