<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>obj181_002655.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,0},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_002656.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,34},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_002657.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,68},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_002658.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,94},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_002659.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,102},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_002660.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,128},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_002661.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{48,798}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,798}}</string>
        <key>sourceSize</key>
        <string>{48,798}</string>
      </dict>
      <key>obj181_002662.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,136},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_002663.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,162},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_002664.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,0},{48,92}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,92}}</string>
        <key>sourceSize</key>
        <string>{48,92}</string>
      </dict>
      <key>obj181_002665.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,170},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_002666.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,196},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_002667.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,204},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_002668.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,0},{48,480}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,480}}</string>
        <key>sourceSize</key>
        <string>{48,480}</string>
      </dict>
      <key>obj181_002669.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,0},{48,600}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,600}}</string>
        <key>sourceSize</key>
        <string>{48,600}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>obj181_177.png</string>
      <key>size</key>
      <string>{256,1024}</string>
      <key>textureFileName</key>
      <string>obj181_177.png</string>
    </dict>
  </dict>
</plist>