<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>obj162_001470.png</key>
		<dict>
			<key>frame</key>
			<string>{{550,320},{48,311}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,311}}</string>
			<key>sourceSize</key>
			<string>{48,311}</string>
		</dict>
		<key>obj162_001471.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,473},{48,262}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,262}}</string>
			<key>sourceSize</key>
			<string>{48,262}</string>
		</dict>
		<key>obj162_001472.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,0},{48,471}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,471}}</string>
			<key>sourceSize</key>
			<string>{48,471}</string>
		</dict>
		<key>obj162_001473.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,569},{48,159}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,159}}</string>
			<key>sourceSize</key>
			<string>{48,159}</string>
		</dict>
		<key>obj162_001474.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{48,640}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,640}}</string>
			<key>sourceSize</key>
			<string>{48,640}</string>
		</dict>
		<key>obj162_001475.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,601},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_001476.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,635},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_001477.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,642},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_001478.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,0},{48,329}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,329}}</string>
			<key>sourceSize</key>
			<string>{48,329}</string>
		</dict>
		<key>obj162_001479.png</key>
		<dict>
			<key>frame</key>
			<string>{{500,322},{48,307}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,307}}</string>
			<key>sourceSize</key>
			<string>{48,307}</string>
		</dict>
		<key>obj162_001480.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,0},{48,503}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,503}}</string>
			<key>sourceSize</key>
			<string>{48,503}</string>
		</dict>
		<key>obj162_001481.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,578},{48,159}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,159}}</string>
			<key>sourceSize</key>
			<string>{48,159}</string>
		</dict>
		<key>obj162_001482.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,0},{48,576}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,576}}</string>
			<key>sourceSize</key>
			<string>{48,576}</string>
		</dict>
		<key>obj162_001483.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,669},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_001484.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,676},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_001485.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,703},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_001486.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,0},{48,331}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,331}}</string>
			<key>sourceSize</key>
			<string>{48,331}</string>
		</dict>
		<key>obj162_001487.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,505},{48,243}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,243}}</string>
			<key>sourceSize</key>
			<string>{48,243}</string>
		</dict>
		<key>obj162_001488.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,0},{48,535}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,535}}</string>
			<key>sourceSize</key>
			<string>{48,535}</string>
		</dict>
		<key>obj162_001489.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,0},{48,443}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,443}}</string>
			<key>sourceSize</key>
			<string>{48,443}</string>
		</dict>
		<key>obj162_001490.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,710},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_001491.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,612},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_001492.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,621},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_001493.png</key>
		<dict>
			<key>frame</key>
			<string>{{550,0},{48,318}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,318}}</string>
			<key>sourceSize</key>
			<string>{48,318}</string>
		</dict>
		<key>obj162_001494.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,445},{48,271}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,271}}</string>
			<key>sourceSize</key>
			<string>{48,271}</string>
		</dict>
		<key>obj162_001495.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,0},{48,567}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,567}}</string>
			<key>sourceSize</key>
			<string>{48,567}</string>
		</dict>
		<key>obj162_001496.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,331},{48,288}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,288}}</string>
			<key>sourceSize</key>
			<string>{48,288}</string>
		</dict>
		<key>obj162_001497.png</key>
		<dict>
			<key>frame</key>
			<string>{{500,631},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_001498.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,646},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_001499.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,655},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_001500.png</key>
		<dict>
			<key>frame</key>
			<string>{{500,0},{48,320}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,320}}</string>
			<key>sourceSize</key>
			<string>{48,320}</string>
		</dict>
		<key>obj162_001501.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,333},{48,277}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,277}}</string>
			<key>sourceSize</key>
			<string>{48,277}</string>
		</dict>
		<key>obj162_001502.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,0},{48,599}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,599}}</string>
			<key>sourceSize</key>
			<string>{48,599}</string>
		</dict>
		<key>obj162_001503.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,537},{48,210}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,210}}</string>
			<key>sourceSize</key>
			<string>{48,210}</string>
		</dict>
		<key>obj162_001504.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,680},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>obj162_42.png</string>
		<key>size</key>
		<string>{640,768}</string>
		<key>textureFileName</key>
		<string>obj162_42.png</string>
	</dict>
</dict>
</plist>
