<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>obj181_002160.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,0},{48,526}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,526}}</string>
        <key>sourceSize</key>
        <string>{48,526}</string>
      </dict>
      <key>obj181_002161.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,0},{48,188}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,188}}</string>
        <key>sourceSize</key>
        <string>{48,188}</string>
      </dict>
      <key>obj181_002162.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,211},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_002163.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,0},{48,640}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,640}}</string>
        <key>sourceSize</key>
        <string>{48,640}</string>
      </dict>
      <key>obj181_002164.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,0},{48,215}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,215}}</string>
        <key>sourceSize</key>
        <string>{48,215}</string>
      </dict>
      <key>obj181_002165.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,674},{48,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,256}}</string>
        <key>sourceSize</key>
        <string>{48,256}</string>
      </dict>
      <key>obj181_002166.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,0},{48,543}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,543}}</string>
        <key>sourceSize</key>
        <string>{48,543}</string>
      </dict>
      <key>obj181_002167.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,190},{48,186}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,186}}</string>
        <key>sourceSize</key>
        <string>{48,186}</string>
      </dict>
      <key>obj181_002168.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,0},{48,580}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,580}}</string>
        <key>sourceSize</key>
        <string>{48,580}</string>
      </dict>
      <key>obj181_002169.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,0},{48,209}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,209}}</string>
        <key>sourceSize</key>
        <string>{48,209}</string>
      </dict>
      <key>obj181_002170.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,975},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_002171.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{48,672}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,672}}</string>
        <key>sourceSize</key>
        <string>{48,672}</string>
      </dict>
      <key>obj181_002172.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,0},{48,215}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,215}}</string>
        <key>sourceSize</key>
        <string>{48,215}</string>
      </dict>
      <key>obj181_002173.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,674},{48,299}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,299}}</string>
        <key>sourceSize</key>
        <string>{48,299}</string>
      </dict>
      <key>obj181_002174.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,0},{48,567}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,567}}</string>
        <key>sourceSize</key>
        <string>{48,567}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>obj181_144.png</string>
      <key>size</key>
      <string>{512,1024}</string>
      <key>textureFileName</key>
      <string>obj181_144.png</string>
    </dict>
  </dict>
</plist>