<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>obj181_001305.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,0},{48,415}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,415}}</string>
        <key>sourceSize</key>
        <string>{48,415}</string>
      </dict>
      <key>obj181_001306.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,417},{48,148}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,148}}</string>
        <key>sourceSize</key>
        <string>{48,148}</string>
      </dict>
      <key>obj181_001307.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,0},{48,544}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,544}}</string>
        <key>sourceSize</key>
        <string>{48,544}</string>
      </dict>
      <key>obj181_001308.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,0},{48,512}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,512}}</string>
        <key>sourceSize</key>
        <string>{48,512}</string>
      </dict>
      <key>obj181_001309.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{48,960}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,960}}</string>
        <key>sourceSize</key>
        <string>{48,960}</string>
      </dict>
      <key>obj181_001310.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,283},{48,252}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,252}}</string>
        <key>sourceSize</key>
        <string>{48,252}</string>
      </dict>
      <key>obj181_001311.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,481},{48,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,96}}</string>
        <key>sourceSize</key>
        <string>{48,96}</string>
      </dict>
      <key>obj181_001312.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,0},{48,415}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,415}}</string>
        <key>sourceSize</key>
        <string>{48,415}</string>
      </dict>
      <key>obj181_001313.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,417},{48,161}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,161}}</string>
        <key>sourceSize</key>
        <string>{48,161}</string>
      </dict>
      <key>obj181_001314.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,0},{48,544}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,544}}</string>
        <key>sourceSize</key>
        <string>{48,544}</string>
      </dict>
      <key>obj181_001315.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,0},{48,544}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,544}}</string>
        <key>sourceSize</key>
        <string>{48,544}</string>
      </dict>
      <key>obj181_001316.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,0},{48,960}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,960}}</string>
        <key>sourceSize</key>
        <string>{48,960}</string>
      </dict>
      <key>obj181_001317.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,0},{48,281}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,281}}</string>
        <key>sourceSize</key>
        <string>{48,281}</string>
      </dict>
      <key>obj181_001318.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,514},{48,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,96}}</string>
        <key>sourceSize</key>
        <string>{48,96}</string>
      </dict>
      <key>obj181_001319.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,0},{48,479}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,479}}</string>
        <key>sourceSize</key>
        <string>{48,479}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>obj181_87.png</string>
      <key>size</key>
      <string>{512,1024}</string>
      <key>textureFileName</key>
      <string>obj181_87.png</string>
    </dict>
  </dict>
</plist>