<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>obj181_005025.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,430},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj181_005026.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,0},{48,428}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,428}}</string>
        <key>sourceSize</key>
        <string>{48,428}</string>
      </dict>
      <key>obj181_005027.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,0},{48,676}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,676}}</string>
        <key>sourceSize</key>
        <string>{48,676}</string>
      </dict>
      <key>obj181_005028.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{48,704}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,704}}</string>
        <key>sourceSize</key>
        <string>{48,704}</string>
      </dict>
      <key>obj181_005029.png</key>
      <dict>
        <key>frame</key>
        <string>{{503,0},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj181_005030.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,0},{48,611}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,611}}</string>
        <key>sourceSize</key>
        <string>{48,611}</string>
      </dict>
      <key>obj181_005031.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,0},{48,704}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,704}}</string>
        <key>sourceSize</key>
        <string>{48,704}</string>
      </dict>
      <key>obj181_005032.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,0},{48,548}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,548}}</string>
        <key>sourceSize</key>
        <string>{48,548}</string>
      </dict>
      <key>obj181_005033.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,0},{48,704}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,704}}</string>
        <key>sourceSize</key>
        <string>{48,704}</string>
      </dict>
      <key>obj181_005034.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,0},{48,484}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,484}}</string>
        <key>sourceSize</key>
        <string>{48,484}</string>
      </dict>
      <key>obj181_005035.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,0},{48,704}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,704}}</string>
        <key>sourceSize</key>
        <string>{48,704}</string>
      </dict>
      <key>obj181_005036.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,430},{48,416}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,416}}</string>
        <key>sourceSize</key>
        <string>{48,416}</string>
      </dict>
      <key>obj181_005037.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,0},{48,704}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,704}}</string>
        <key>sourceSize</key>
        <string>{48,704}</string>
      </dict>
      <key>obj181_005038.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,486},{48,32}}</string>
        <key>offset</key>
        <string>{5,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_005039.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,520},{48,32}}</string>
        <key>offset</key>
        <string>{5,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>obj181_335.png</string>
      <key>size</key>
      <string>{512,1024}</string>
      <key>textureFileName</key>
      <string>obj181_335.png</string>
    </dict>
  </dict>
</plist>