<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>obj181_005445.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{48,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,64}}</string>
        <key>sourceSize</key>
        <string>{48,64}</string>
      </dict>
      <key>obj181_005446.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,66},{48,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,41}}</string>
        <key>sourceSize</key>
        <string>{48,41}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>obj181_363.png</string>
      <key>size</key>
      <string>{64,128}</string>
      <key>textureFileName</key>
      <string>obj181_363.png</string>
    </dict>
  </dict>
</plist>