<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>obj180_000000.png</key>
		<dict>
			<key>frame</key>
			<string>{{950,1286},{48,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,160}}</string>
			<key>sourceSize</key>
			<string>{48,160}</string>
		</dict>
		<key>obj180_000001.png</key>
		<dict>
			<key>frame</key>
			<string>{{1300,1870},{48,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,160}}</string>
			<key>sourceSize</key>
			<string>{48,160}</string>
		</dict>
		<key>obj180_000002.png</key>
		<dict>
			<key>frame</key>
			<string>{{1150,1802},{48,224}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,224}}</string>
			<key>sourceSize</key>
			<string>{48,224}</string>
		</dict>
		<key>obj180_000003.png</key>
		<dict>
			<key>frame</key>
			<string>{{1250,1870},{48,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,160}}</string>
			<key>sourceSize</key>
			<string>{48,160}</string>
		</dict>
		<key>obj180_000004.png</key>
		<dict>
			<key>frame</key>
			<string>{{1350,1870},{48,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,160}}</string>
			<key>sourceSize</key>
			<string>{48,160}</string>
		</dict>
		<key>obj180_000005.png</key>
		<dict>
			<key>frame</key>
			<string>{{800,1670},{48,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,256}}</string>
			<key>sourceSize</key>
			<string>{48,256}</string>
		</dict>
		<key>obj180_000006.png</key>
		<dict>
			<key>frame</key>
			<string>{{700,1734},{48,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,256}}</string>
			<key>sourceSize</key>
			<string>{48,256}</string>
		</dict>
		<key>obj180_000007.png</key>
		<dict>
			<key>frame</key>
			<string>{{1400,0},{48,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,160}}</string>
			<key>sourceSize</key>
			<string>{48,160}</string>
		</dict>
		<key>obj180_000008.png</key>
		<dict>
			<key>frame</key>
			<string>{{1350,0},{48,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,160}}</string>
			<key>sourceSize</key>
			<string>{48,160}</string>
		</dict>
		<key>obj180_000009.png</key>
		<dict>
			<key>frame</key>
			<string>{{1350,162},{48,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,128}}</string>
			<key>sourceSize</key>
			<string>{48,128}</string>
		</dict>
		<key>obj180_000010.png</key>
		<dict>
			<key>frame</key>
			<string>{{850,1638},{48,384}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,384}}</string>
			<key>sourceSize</key>
			<string>{48,384}</string>
		</dict>
		<key>obj180_000011.png</key>
		<dict>
			<key>frame</key>
			<string>{{950,900},{48,384}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,384}}</string>
			<key>sourceSize</key>
			<string>{48,384}</string>
		</dict>
		<key>obj180_000012.png</key>
		<dict>
			<key>frame</key>
			<string>{{1000,900},{48,384}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,384}}</string>
			<key>sourceSize</key>
			<string>{48,384}</string>
		</dict>
		<key>obj180_000013.png</key>
		<dict>
			<key>frame</key>
			<string>{{1000,1286},{48,384}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,384}}</string>
			<key>sourceSize</key>
			<string>{48,384}</string>
		</dict>
		<key>obj180_000014.png</key>
		<dict>
			<key>frame</key>
			<string>{{1050,1286},{48,384}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,384}}</string>
			<key>sourceSize</key>
			<string>{48,384}</string>
		</dict>
		<key>obj180_000015.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,1830},{48,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,192}}</string>
			<key>sourceSize</key>
			<string>{48,192}</string>
		</dict>
		<key>obj180_000016.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,1830},{48,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,192}}</string>
			<key>sourceSize</key>
			<string>{48,192}</string>
		</dict>
		<key>obj180_000017.png</key>
		<dict>
			<key>frame</key>
			<string>{{600,1798},{48,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,192}}</string>
			<key>sourceSize</key>
			<string>{48,192}</string>
		</dict>
		<key>obj180_000018.png</key>
		<dict>
			<key>frame</key>
			<string>{{750,1734},{48,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,256}}</string>
			<key>sourceSize</key>
			<string>{48,256}</string>
		</dict>
		<key>obj180_000019.png</key>
		<dict>
			<key>frame</key>
			<string>{{1000,1672},{48,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,256}}</string>
			<key>sourceSize</key>
			<string>{48,256}</string>
		</dict>
		<key>obj180_000020.png</key>
		<dict>
			<key>frame</key>
			<string>{{1000,0},{48,384}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,384}}</string>
			<key>sourceSize</key>
			<string>{48,384}</string>
		</dict>
		<key>obj180_000021.png</key>
		<dict>
			<key>frame</key>
			<string>{{1000,386},{48,384}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,384}}</string>
			<key>sourceSize</key>
			<string>{48,384}</string>
		</dict>
		<key>obj180_000022.png</key>
		<dict>
			<key>frame</key>
			<string>{{1050,386},{48,384}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,384}}</string>
			<key>sourceSize</key>
			<string>{48,384}</string>
		</dict>
		<key>obj180_000023.png</key>
		<dict>
			<key>frame</key>
			<string>{{1050,0},{48,384}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,384}}</string>
			<key>sourceSize</key>
			<string>{48,384}</string>
		</dict>
		<key>obj180_000024.png</key>
		<dict>
			<key>frame</key>
			<string>{{950,1478},{48,416}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,416}}</string>
			<key>sourceSize</key>
			<string>{48,416}</string>
		</dict>
		<key>obj180_000025.png</key>
		<dict>
			<key>frame</key>
			<string>{{950,482},{48,416}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,416}}</string>
			<key>sourceSize</key>
			<string>{48,416}</string>
		</dict>
		<key>obj180_000026.png</key>
		<dict>
			<key>frame</key>
			<string>{{1100,0},{48,384}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,384}}</string>
			<key>sourceSize</key>
			<string>{48,384}</string>
		</dict>
		<key>obj180_000027.png</key>
		<dict>
			<key>frame</key>
			<string>{{1050,772},{48,384}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,384}}</string>
			<key>sourceSize</key>
			<string>{48,384}</string>
		</dict>
		<key>obj180_000028.png</key>
		<dict>
			<key>frame</key>
			<string>{{1200,1802},{48,224}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,224}}</string>
			<key>sourceSize</key>
			<string>{48,224}</string>
		</dict>
		<key>obj180_000029.png</key>
		<dict>
			<key>frame</key>
			<string>{{1150,1288},{48,224}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,224}}</string>
			<key>sourceSize</key>
			<string>{48,224}</string>
		</dict>
		<key>obj180_000030.png</key>
		<dict>
			<key>frame</key>
			<string>{{650,1798},{48,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,192}}</string>
			<key>sourceSize</key>
			<string>{48,192}</string>
		</dict>
		<key>obj180_000031.png</key>
		<dict>
			<key>frame</key>
			<string>{{500,1830},{48,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,192}}</string>
			<key>sourceSize</key>
			<string>{48,192}</string>
		</dict>
		<key>obj180_000032.png</key>
		<dict>
			<key>frame</key>
			<string>{{550,1830},{48,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,192}}</string>
			<key>sourceSize</key>
			<string>{48,192}</string>
		</dict>
		<key>obj180_000033.png</key>
		<dict>
			<key>frame</key>
			<string>{{1200,1288},{48,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,192}}</string>
			<key>sourceSize</key>
			<string>{48,192}</string>
		</dict>
		<key>obj180_000034.png</key>
		<dict>
			<key>frame</key>
			<string>{{1200,1482},{48,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,192}}</string>
			<key>sourceSize</key>
			<string>{48,192}</string>
		</dict>
		<key>obj180_000035.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{48,736}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,736}}</string>
			<key>sourceSize</key>
			<string>{48,736}</string>
		</dict>
		<key>obj180_000036.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,738},{48,736}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,736}}</string>
			<key>sourceSize</key>
			<string>{48,736}</string>
		</dict>
		<key>obj180_000037.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,738},{48,736}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,736}}</string>
			<key>sourceSize</key>
			<string>{48,736}</string>
		</dict>
		<key>obj180_000038.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,0},{48,736}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,736}}</string>
			<key>sourceSize</key>
			<string>{48,736}</string>
		</dict>
		<key>obj180_000039.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,0},{48,736}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,736}}</string>
			<key>sourceSize</key>
			<string>{48,736}</string>
		</dict>
		<key>obj180_000040.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,738},{48,736}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,736}}</string>
			<key>sourceSize</key>
			<string>{48,736}</string>
		</dict>
		<key>obj180_000041.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,738},{48,736}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,736}}</string>
			<key>sourceSize</key>
			<string>{48,736}</string>
		</dict>
		<key>obj180_000042.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,0},{48,736}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,736}}</string>
			<key>sourceSize</key>
			<string>{48,736}</string>
		</dict>
		<key>obj180_000043.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,0},{48,736}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,736}}</string>
			<key>sourceSize</key>
			<string>{48,736}</string>
		</dict>
		<key>obj180_000044.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,738},{48,736}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,736}}</string>
			<key>sourceSize</key>
			<string>{48,736}</string>
		</dict>
		<key>obj180_000045.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,738},{48,736}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,736}}</string>
			<key>sourceSize</key>
			<string>{48,736}</string>
		</dict>
		<key>obj180_000046.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,0},{48,736}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,736}}</string>
			<key>sourceSize</key>
			<string>{48,736}</string>
		</dict>
		<key>obj180_000047.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,0},{48,736}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,736}}</string>
			<key>sourceSize</key>
			<string>{48,736}</string>
		</dict>
		<key>obj180_000048.png</key>
		<dict>
			<key>frame</key>
			<string>{{850,1156},{48,480}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,480}}</string>
			<key>sourceSize</key>
			<string>{48,480}</string>
		</dict>
		<key>obj180_000049.png</key>
		<dict>
			<key>frame</key>
			<string>{{850,514},{48,480}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,480}}</string>
			<key>sourceSize</key>
			<string>{48,480}</string>
		</dict>
		<key>obj180_000050.png</key>
		<dict>
			<key>frame</key>
			<string>{{900,514},{48,480}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,480}}</string>
			<key>sourceSize</key>
			<string>{48,480}</string>
		</dict>
		<key>obj180_000051.png</key>
		<dict>
			<key>frame</key>
			<string>{{900,0},{48,480}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,480}}</string>
			<key>sourceSize</key>
			<string>{48,480}</string>
		</dict>
		<key>obj180_000052.png</key>
		<dict>
			<key>frame</key>
			<string>{{950,0},{48,480}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,480}}</string>
			<key>sourceSize</key>
			<string>{48,480}</string>
		</dict>
		<key>obj180_000053.png</key>
		<dict>
			<key>frame</key>
			<string>{{900,996},{48,480}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,480}}</string>
			<key>sourceSize</key>
			<string>{48,480}</string>
		</dict>
		<key>obj180_000054.png</key>
		<dict>
			<key>frame</key>
			<string>{{900,1478},{48,480}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,480}}</string>
			<key>sourceSize</key>
			<string>{48,480}</string>
		</dict>
		<key>obj180_000055.png</key>
		<dict>
			<key>frame</key>
			<string>{{800,0},{48,512}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,512}}</string>
			<key>sourceSize</key>
			<string>{48,512}</string>
		</dict>
		<key>obj180_000056.png</key>
		<dict>
			<key>frame</key>
			<string>{{850,0},{48,512}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,512}}</string>
			<key>sourceSize</key>
			<string>{48,512}</string>
		</dict>
		<key>obj180_000057.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1476},{48,512}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,512}}</string>
			<key>sourceSize</key>
			<string>{48,512}</string>
		</dict>
		<key>obj180_000058.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,1476},{48,512}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,512}}</string>
			<key>sourceSize</key>
			<string>{48,512}</string>
		</dict>
		<key>obj180_000059.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,1476},{48,512}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,512}}</string>
			<key>sourceSize</key>
			<string>{48,512}</string>
		</dict>
		<key>obj180_000060.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,1476},{48,512}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,512}}</string>
			<key>sourceSize</key>
			<string>{48,512}</string>
		</dict>
		<key>obj180_000061.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,1476},{48,512}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,512}}</string>
			<key>sourceSize</key>
			<string>{48,512}</string>
		</dict>
		<key>obj180_000062.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,1476},{48,512}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,512}}</string>
			<key>sourceSize</key>
			<string>{48,512}</string>
		</dict>
		<key>obj180_000063.png</key>
		<dict>
			<key>frame</key>
			<string>{{800,1156},{48,512}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,512}}</string>
			<key>sourceSize</key>
			<string>{48,512}</string>
		</dict>
		<key>obj180_000064.png</key>
		<dict>
			<key>frame</key>
			<string>{{1250,1482},{48,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,192}}</string>
			<key>sourceSize</key>
			<string>{48,192}</string>
		</dict>
		<key>obj180_000065.png</key>
		<dict>
			<key>frame</key>
			<string>{{1100,772},{48,384}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,384}}</string>
			<key>sourceSize</key>
			<string>{48,384}</string>
		</dict>
		<key>obj180_000066.png</key>
		<dict>
			<key>frame</key>
			<string>{{1100,386},{48,384}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,384}}</string>
			<key>sourceSize</key>
			<string>{48,384}</string>
		</dict>
		<key>obj180_000067.png</key>
		<dict>
			<key>frame</key>
			<string>{{1250,1676},{48,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,192}}</string>
			<key>sourceSize</key>
			<string>{48,192}</string>
		</dict>
		<key>obj180_000068.png</key>
		<dict>
			<key>frame</key>
			<string>{{1300,1676},{48,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,192}}</string>
			<key>sourceSize</key>
			<string>{48,192}</string>
		</dict>
		<key>obj180_000069.png</key>
		<dict>
			<key>frame</key>
			<string>{{600,0},{48,576}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,576}}</string>
			<key>sourceSize</key>
			<string>{48,576}</string>
		</dict>
		<key>obj180_000070.png</key>
		<dict>
			<key>frame</key>
			<string>{{650,0},{48,576}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,576}}</string>
			<key>sourceSize</key>
			<string>{48,576}</string>
		</dict>
		<key>obj180_000071.png</key>
		<dict>
			<key>frame</key>
			<string>{{600,1220},{48,576}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,576}}</string>
			<key>sourceSize</key>
			<string>{48,576}</string>
		</dict>
		<key>obj180_000072.png</key>
		<dict>
			<key>frame</key>
			<string>{{650,1220},{48,576}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,576}}</string>
			<key>sourceSize</key>
			<string>{48,576}</string>
		</dict>
		<key>obj180_000073.png</key>
		<dict>
			<key>frame</key>
			<string>{{650,578},{48,576}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,576}}</string>
			<key>sourceSize</key>
			<string>{48,576}</string>
		</dict>
		<key>obj180_000074.png</key>
		<dict>
			<key>frame</key>
			<string>{{700,578},{48,576}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,576}}</string>
			<key>sourceSize</key>
			<string>{48,576}</string>
		</dict>
		<key>obj180_000075.png</key>
		<dict>
			<key>frame</key>
			<string>{{700,0},{48,576}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,576}}</string>
			<key>sourceSize</key>
			<string>{48,576}</string>
		</dict>
		<key>obj180_000076.png</key>
		<dict>
			<key>frame</key>
			<string>{{750,0},{48,576}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,576}}</string>
			<key>sourceSize</key>
			<string>{48,576}</string>
		</dict>
		<key>obj180_000077.png</key>
		<dict>
			<key>frame</key>
			<string>{{700,1156},{48,576}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,576}}</string>
			<key>sourceSize</key>
			<string>{48,576}</string>
		</dict>
		<key>obj180_000078.png</key>
		<dict>
			<key>frame</key>
			<string>{{750,1156},{48,576}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,576}}</string>
			<key>sourceSize</key>
			<string>{48,576}</string>
		</dict>
		<key>obj180_000079.png</key>
		<dict>
			<key>frame</key>
			<string>{{750,578},{48,576}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,576}}</string>
			<key>sourceSize</key>
			<string>{48,576}</string>
		</dict>
		<key>obj180_000080.png</key>
		<dict>
			<key>frame</key>
			<string>{{800,578},{48,576}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,576}}</string>
			<key>sourceSize</key>
			<string>{48,576}</string>
		</dict>
		<key>obj180_000081.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,738},{48,608}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,608}}</string>
			<key>sourceSize</key>
			<string>{48,608}</string>
		</dict>
		<key>obj180_000082.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,1348},{48,608}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,608}}</string>
			<key>sourceSize</key>
			<string>{48,608}</string>
		</dict>
		<key>obj180_000083.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,1348},{48,608}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,608}}</string>
			<key>sourceSize</key>
			<string>{48,608}</string>
		</dict>
		<key>obj180_000084.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,0},{48,608}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,608}}</string>
			<key>sourceSize</key>
			<string>{48,608}</string>
		</dict>
		<key>obj180_000085.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,610},{48,608}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,608}}</string>
			<key>sourceSize</key>
			<string>{48,608}</string>
		</dict>
		<key>obj180_000086.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,610},{48,608}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,608}}</string>
			<key>sourceSize</key>
			<string>{48,608}</string>
		</dict>
		<key>obj180_000087.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,0},{48,608}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,608}}</string>
			<key>sourceSize</key>
			<string>{48,608}</string>
		</dict>
		<key>obj180_000088.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,0},{48,608}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,608}}</string>
			<key>sourceSize</key>
			<string>{48,608}</string>
		</dict>
		<key>obj180_000089.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,1220},{48,608}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,608}}</string>
			<key>sourceSize</key>
			<string>{48,608}</string>
		</dict>
		<key>obj180_000090.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,1220},{48,608}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,608}}</string>
			<key>sourceSize</key>
			<string>{48,608}</string>
		</dict>
		<key>obj180_000091.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,610},{48,608}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,608}}</string>
			<key>sourceSize</key>
			<string>{48,608}</string>
		</dict>
		<key>obj180_000092.png</key>
		<dict>
			<key>frame</key>
			<string>{{500,610},{48,608}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,608}}</string>
			<key>sourceSize</key>
			<string>{48,608}</string>
		</dict>
		<key>obj180_000093.png</key>
		<dict>
			<key>frame</key>
			<string>{{500,0},{48,608}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,608}}</string>
			<key>sourceSize</key>
			<string>{48,608}</string>
		</dict>
		<key>obj180_000094.png</key>
		<dict>
			<key>frame</key>
			<string>{{550,0},{48,608}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,608}}</string>
			<key>sourceSize</key>
			<string>{48,608}</string>
		</dict>
		<key>obj180_000095.png</key>
		<dict>
			<key>frame</key>
			<string>{{500,1220},{48,608}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,608}}</string>
			<key>sourceSize</key>
			<string>{48,608}</string>
		</dict>
		<key>obj180_000096.png</key>
		<dict>
			<key>frame</key>
			<string>{{550,1220},{48,608}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,608}}</string>
			<key>sourceSize</key>
			<string>{48,608}</string>
		</dict>
		<key>obj180_000097.png</key>
		<dict>
			<key>frame</key>
			<string>{{550,610},{48,608}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,608}}</string>
			<key>sourceSize</key>
			<string>{48,608}</string>
		</dict>
		<key>obj180_000098.png</key>
		<dict>
			<key>frame</key>
			<string>{{600,610},{48,608}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,608}}</string>
			<key>sourceSize</key>
			<string>{48,608}</string>
		</dict>
		<key>obj180_000099.png</key>
		<dict>
			<key>frame</key>
			<string>{{1050,1672},{48,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,256}}</string>
			<key>sourceSize</key>
			<string>{48,256}</string>
		</dict>
		<key>obj180_000100.png</key>
		<dict>
			<key>frame</key>
			<string>{{1150,1544},{48,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,256}}</string>
			<key>sourceSize</key>
			<string>{48,256}</string>
		</dict>
		<key>obj180_000101.png</key>
		<dict>
			<key>frame</key>
			<string>{{1150,772},{48,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,256}}</string>
			<key>sourceSize</key>
			<string>{48,256}</string>
		</dict>
		<key>obj180_000102.png</key>
		<dict>
			<key>frame</key>
			<string>{{1150,1030},{48,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,256}}</string>
			<key>sourceSize</key>
			<string>{48,256}</string>
		</dict>
		<key>obj180_000103.png</key>
		<dict>
			<key>frame</key>
			<string>{{1150,386},{48,384}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,384}}</string>
			<key>sourceSize</key>
			<string>{48,384}</string>
		</dict>
		<key>obj180_000104.png</key>
		<dict>
			<key>frame</key>
			<string>{{1150,0},{48,384}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,384}}</string>
			<key>sourceSize</key>
			<string>{48,384}</string>
		</dict>
		<key>obj180_000105.png</key>
		<dict>
			<key>frame</key>
			<string>{{1200,0},{48,384}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,384}}</string>
			<key>sourceSize</key>
			<string>{48,384}</string>
		</dict>
		<key>obj180_000106.png</key>
		<dict>
			<key>frame</key>
			<string>{{1100,1158},{48,384}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,384}}</string>
			<key>sourceSize</key>
			<string>{48,384}</string>
		</dict>
		<key>obj180_000107.png</key>
		<dict>
			<key>frame</key>
			<string>{{1100,1544},{48,384}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,384}}</string>
			<key>sourceSize</key>
			<string>{48,384}</string>
		</dict>
		<key>obj180_000108.png</key>
		<dict>
			<key>frame</key>
			<string>{{1350,2032},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj180_000109.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,2035},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj180_000110.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,2032},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>obj180_0.png</string>
		<key>size</key>
		<string>{2048,2048}</string>
		<key>textureFileName</key>
		<string>obj180_0.png</string>
	</dict>
</dict>
</plist>
