<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>obj181_000000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{48,576}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,576}}</string>
        <key>sourceSize</key>
        <string>{48,576}</string>
      </dict>
      <key>obj181_000001.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,578},{256,171}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{256,171}}</string>
        <key>sourceSize</key>
        <string>{256,171}</string>
      </dict>
      <key>obj181_000002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,751},{256,171}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{256,171}}</string>
        <key>sourceSize</key>
        <string>{256,171}</string>
      </dict>
      <key>obj181_000003.png</key>
      <dict>
        <key>frame</key>
        <string>{{258,751},{256,171}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{256,171}}</string>
        <key>sourceSize</key>
        <string>{256,171}</string>
      </dict>
      <key>obj181_000004.png</key>
      <dict>
        <key>frame</key>
        <string>{{516,0},{256,171}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{256,171}}</string>
        <key>sourceSize</key>
        <string>{256,171}</string>
      </dict>
      <key>obj181_000005.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,0},{256,171}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{256,171}}</string>
        <key>sourceSize</key>
        <string>{256,171}</string>
      </dict>
      <key>obj181_000006.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,173},{256,171}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{256,171}}</string>
        <key>sourceSize</key>
        <string>{256,171}</string>
      </dict>
      <key>obj181_000007.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,346},{256,171}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{256,171}}</string>
        <key>sourceSize</key>
        <string>{256,171}</string>
      </dict>
      <key>obj181_000008.png</key>
      <dict>
        <key>frame</key>
        <string>{{458,519},{256,171}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{256,171}}</string>
        <key>sourceSize</key>
        <string>{256,171}</string>
      </dict>
      <key>obj181_000009.png</key>
      <dict>
        <key>frame</key>
        <string>{{716,173},{256,171}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{256,171}}</string>
        <key>sourceSize</key>
        <string>{256,171}</string>
      </dict>
      <key>obj181_000010.png</key>
      <dict>
        <key>frame</key>
        <string>{{508,346},{256,171}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{256,171}}</string>
        <key>sourceSize</key>
        <string>{256,171}</string>
      </dict>
      <key>obj181_000011.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,0},{48,576}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,576}}</string>
        <key>sourceSize</key>
        <string>{48,576}</string>
      </dict>
      <key>obj181_000012.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,0},{48,576}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,576}}</string>
        <key>sourceSize</key>
        <string>{48,576}</string>
      </dict>
      <key>obj181_000013.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,0},{48,576}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,576}}</string>
        <key>sourceSize</key>
        <string>{48,576}</string>
      </dict>
      <key>obj181_000014.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,0},{48,576}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,576}}</string>
        <key>sourceSize</key>
        <string>{48,576}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>obj181_0.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>obj181_0.png</string>
    </dict>
  </dict>
</plist>