<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>obj162_001190.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,488},{48,269}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,269}}</string>
			<key>sourceSize</key>
			<string>{48,269}</string>
		</dict>
		<key>obj162_001191.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,0},{48,486}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,486}}</string>
			<key>sourceSize</key>
			<string>{48,486}</string>
		</dict>
		<key>obj162_001192.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,315},{48,154}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,154}}</string>
			<key>sourceSize</key>
			<string>{48,154}</string>
		</dict>
		<key>obj162_001193.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,0},{48,467}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,467}}</string>
			<key>sourceSize</key>
			<string>{48,467}</string>
		</dict>
		<key>obj162_001194.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,0},{48,313}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,313}}</string>
			<key>sourceSize</key>
			<string>{48,313}</string>
		</dict>
		<key>obj162_001195.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,0},{48,462}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,462}}</string>
			<key>sourceSize</key>
			<string>{48,462}</string>
		</dict>
		<key>obj162_001196.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,0},{48,313}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,313}}</string>
			<key>sourceSize</key>
			<string>{48,313}</string>
		</dict>
		<key>obj162_001197.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,469},{48,293}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,293}}</string>
			<key>sourceSize</key>
			<string>{48,293}</string>
		</dict>
		<key>obj162_001198.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,0},{48,313}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,313}}</string>
			<key>sourceSize</key>
			<string>{48,313}</string>
		</dict>
		<key>obj162_001199.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,0},{48,242}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,242}}</string>
			<key>sourceSize</key>
			<string>{48,242}</string>
		</dict>
		<key>obj162_001200.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,614},{48,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,46}}</string>
			<key>sourceSize</key>
			<string>{48,46}</string>
		</dict>
		<key>obj162_001201.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,662},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_001202.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,678},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_001203.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,469},{48,293}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,293}}</string>
			<key>sourceSize</key>
			<string>{48,293}</string>
		</dict>
		<key>obj162_001204.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,470},{48,178}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,178}}</string>
			<key>sourceSize</key>
			<string>{48,178}</string>
		</dict>
		<key>obj162_001205.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,696},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_001206.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,712},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_001207.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,0},{48,293}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,293}}</string>
			<key>sourceSize</key>
			<string>{48,293}</string>
		</dict>
		<key>obj162_001208.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,0},{48,612}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,612}}</string>
			<key>sourceSize</key>
			<string>{48,612}</string>
		</dict>
		<key>obj162_001209.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,730},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_001210.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,315},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_001211.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,315},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_001212.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,349},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_001213.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,349},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_001214.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,383},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_001215.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,295},{48,179}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,179}}</string>
			<key>sourceSize</key>
			<string>{48,179}</string>
		</dict>
		<key>obj162_001216.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,383},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_001217.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,417},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_001218.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,244},{48,224}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,224}}</string>
			<key>sourceSize</key>
			<string>{48,224}</string>
		</dict>
		<key>obj162_001219.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{48,676}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,676}}</string>
			<key>sourceSize</key>
			<string>{48,676}</string>
		</dict>
		<key>obj162_001220.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,417},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_001221.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,451},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_001222.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,451},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_001223.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,476},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_001224.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,471},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>obj162_34.png</string>
		<key>size</key>
		<string>{512,768}</string>
		<key>textureFileName</key>
		<string>obj162_34.png</string>
	</dict>
</dict>
</plist>
