<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>obj181_001665.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,742},{48,32}}</string>
        <key>offset</key>
        <string>{5,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_001666.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,776},{48,32}}</string>
        <key>offset</key>
        <string>{5,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_001667.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,810},{48,32}}</string>
        <key>offset</key>
        <string>{5,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_001668.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,618},{48,122}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,122}}</string>
        <key>sourceSize</key>
        <string>{48,122}</string>
      </dict>
      <key>obj181_001669.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{48,616}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,616}}</string>
        <key>sourceSize</key>
        <string>{48,616}</string>
      </dict>
      <key>obj181_001670.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,844},{48,32}}</string>
        <key>offset</key>
        <string>{5,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_001671.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,878},{48,32}}</string>
        <key>offset</key>
        <string>{5,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_001672.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,912},{48,32}}</string>
        <key>offset</key>
        <string>{5,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_001673.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,946},{48,32}}</string>
        <key>offset</key>
        <string>{5,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_001674.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,980},{48,32}}</string>
        <key>offset</key>
        <string>{5,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_001675.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,0},{48,32}}</string>
        <key>offset</key>
        <string>{5,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_001676.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,34},{48,32}}</string>
        <key>offset</key>
        <string>{5,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_001677.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,68},{48,32}}</string>
        <key>offset</key>
        <string>{5,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_001678.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,102},{48,32}}</string>
        <key>offset</key>
        <string>{5,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_001679.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,136},{48,32}}</string>
        <key>offset</key>
        <string>{5,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>obj181_111.png</string>
      <key>size</key>
      <string>{128,1024}</string>
      <key>textureFileName</key>
      <string>obj181_111.png</string>
    </dict>
  </dict>
</plist>