<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>obj162_000175.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,484},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000176.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,478},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000177.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,494},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000178.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,0},{48,277}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,277}}</string>
			<key>sourceSize</key>
			<string>{48,277}</string>
		</dict>
		<key>obj162_000179.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{48,896}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,896}}</string>
			<key>sourceSize</key>
			<string>{48,896}</string>
		</dict>
		<key>obj162_000180.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,518},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000181.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,547},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000182.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,512},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000183.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,0},{48,237}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,237}}</string>
			<key>sourceSize</key>
			<string>{48,237}</string>
		</dict>
		<key>obj162_000184.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,528},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000185.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,0},{48,545}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,545}}</string>
			<key>sourceSize</key>
			<string>{48,545}</string>
		</dict>
		<key>obj162_000186.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,552},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000187.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,581},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000188.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,586},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000189.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,0},{48,255}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,255}}</string>
			<key>sourceSize</key>
			<string>{48,255}</string>
		</dict>
		<key>obj162_000190.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,0},{48,896}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,896}}</string>
			<key>sourceSize</key>
			<string>{48,896}</string>
		</dict>
		<key>obj162_000191.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,546},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000192.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,562},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000193.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,239},{48,237}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,237}}</string>
			<key>sourceSize</key>
			<string>{48,237}</string>
		</dict>
		<key>obj162_000194.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,586},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000195.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,0},{48,584}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,584}}</string>
			<key>sourceSize</key>
			<string>{48,584}</string>
		</dict>
		<key>obj162_000196.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,615},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000197.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,620},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000198.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,580},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000199.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,257},{48,235}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,235}}</string>
			<key>sourceSize</key>
			<string>{48,235}</string>
		</dict>
		<key>obj162_000200.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,0},{48,704}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,704}}</string>
			<key>sourceSize</key>
			<string>{48,704}</string>
		</dict>
		<key>obj162_000201.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,596},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000202.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,620},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000203.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,649},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000204.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,654},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000205.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,279},{48,118}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,118}}</string>
			<key>sourceSize</key>
			<string>{48,118}</string>
		</dict>
		<key>obj162_000206.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,614},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000207.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,399},{48,83}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,83}}</string>
			<key>sourceSize</key>
			<string>{48,83}</string>
		</dict>
		<key>obj162_000208.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,630},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000209.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,654},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>obj162_5.png</string>
		<key>size</key>
		<string>{432,898}</string>
		<key>textureFileName</key>
		<string>obj162_5.png</string>
	</dict>
</dict>
</plist>
