<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>obj181_002535.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,0},{48,516}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,516}}</string>
        <key>sourceSize</key>
        <string>{48,516}</string>
      </dict>
      <key>obj181_002536.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,0},{48,374}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,374}}</string>
        <key>sourceSize</key>
        <string>{48,374}</string>
      </dict>
      <key>obj181_002537.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,376},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_002538.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,410},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_002539.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,444},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_002540.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,0},{48,683}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,683}}</string>
        <key>sourceSize</key>
        <string>{48,683}</string>
      </dict>
      <key>obj181_002541.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,478},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_002542.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,482},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_002543.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,512},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_002544.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,516},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_002545.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,518},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_002546.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,546},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_002547.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,0},{48,480}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,480}}</string>
        <key>sourceSize</key>
        <string>{48,480}</string>
      </dict>
      <key>obj181_002548.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{48,879}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,879}}</string>
        <key>sourceSize</key>
        <string>{48,879}</string>
      </dict>
      <key>obj181_002549.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,550},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>obj181_169.png</string>
      <key>size</key>
      <string>{256,1024}</string>
      <key>textureFileName</key>
      <string>obj181_169.png</string>
    </dict>
  </dict>
</plist>