<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>obj144_000750.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,603},{48,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,64}}</string>
        <key>sourceSize</key>
        <string>{48,64}</string>
      </dict>
      <key>obj144_000751.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,532},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj144_000752.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,306},{48,288}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,288}}</string>
        <key>sourceSize</key>
        <string>{48,288}</string>
      </dict>
      <key>obj144_000753.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,982},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj144_000754.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,980},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj144_000755.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{48,334}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,334}}</string>
        <key>sourceSize</key>
        <string>{48,334}</string>
      </dict>
      <key>obj144_000756.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1014},{48,8}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,8}}</string>
        <key>sourceSize</key>
        <string>{48,8}</string>
      </dict>
      <key>obj144_000757.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,744},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj144_000758.png</key>
      <dict>
        <key>frame</key>
        <string>{{452,616},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj144_000759.png</key>
      <dict>
        <key>frame</key>
        <string>{{452,650},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj144_000760.png</key>
      <dict>
        <key>frame</key>
        <string>{{452,684},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj144_000761.png</key>
      <dict>
        <key>frame</key>
        <string>{{502,684},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj144_000762.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,530},{48,224}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj144_000763.png</key>
      <dict>
        <key>frame</key>
        <string>{{502,718},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj144_000764.png</key>
      <dict>
        <key>frame</key>
        <string>{{502,752},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj144_000765.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,336},{48,333}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,333}}</string>
        <key>sourceSize</key>
        <string>{48,333}</string>
      </dict>
      <key>obj144_000766.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,1014},{48,8}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,8}}</string>
        <key>sourceSize</key>
        <string>{48,8}</string>
      </dict>
      <key>obj144_000767.png</key>
      <dict>
        <key>frame</key>
        <string>{{502,786},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj144_000768.png</key>
      <dict>
        <key>frame</key>
        <string>{{502,820},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj144_000769.png</key>
      <dict>
        <key>frame</key>
        <string>{{502,854},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj144_000770.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,272},{48,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,256}}</string>
        <key>sourceSize</key>
        <string>{48,256}</string>
      </dict>
      <key>obj144_000771.png</key>
      <dict>
        <key>frame</key>
        <string>{{504,888},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj144_000772.png</key>
      <dict>
        <key>frame</key>
        <string>{{504,922},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj144_000773.png</key>
      <dict>
        <key>frame</key>
        <string>{{554,922},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj144_000774.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,0},{48,304}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,304}}</string>
        <key>sourceSize</key>
        <string>{48,304}</string>
      </dict>
      <key>obj144_000775.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,393},{48,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,25}}</string>
        <key>sourceSize</key>
        <string>{48,25}</string>
      </dict>
      <key>obj144_000776.png</key>
      <dict>
        <key>frame</key>
        <string>{{606,0},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj144_000777.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,756},{48,224}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj144_000778.png</key>
      <dict>
        <key>frame</key>
        <string>{{554,0},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj144_000779.png</key>
      <dict>
        <key>frame</key>
        <string>{{554,34},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj144_000780.png</key>
      <dict>
        <key>frame</key>
        <string>{{452,550},{48,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,64}}</string>
        <key>sourceSize</key>
        <string>{48,64}</string>
      </dict>
      <key>obj144_000781.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,959},{100,53}}</string>
        <key>offset</key>
        <string>{-2,333}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,53}}</string>
        <key>sourceSize</key>
        <string>{100,53}</string>
      </dict>
      <key>obj144_000782.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,421},{100,53}}</string>
        <key>offset</key>
        <string>{-2,333}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,53}}</string>
        <key>sourceSize</key>
        <string>{100,53}</string>
      </dict>
      <key>obj144_000783.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,119},{100,55}}</string>
        <key>offset</key>
        <string>{-2,331}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,55}}</string>
        <key>sourceSize</key>
        <string>{100,55}</string>
      </dict>
      <key>obj144_000784.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,0},{100,55}}</string>
        <key>offset</key>
        <string>{-2,331}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,55}}</string>
        <key>sourceSize</key>
        <string>{100,55}</string>
      </dict>
      <key>obj144_000785.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,57},{100,54}}</string>
        <key>offset</key>
        <string>{-2,332}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,54}}</string>
        <key>sourceSize</key>
        <string>{100,54}</string>
      </dict>
      <key>obj144_000786.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,176},{100,53}}</string>
        <key>offset</key>
        <string>{-2,333}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,53}}</string>
        <key>sourceSize</key>
        <string>{100,53}</string>
      </dict>
      <key>obj144_000787.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,231},{100,51}}</string>
        <key>offset</key>
        <string>{-2,335}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,51}}</string>
        <key>sourceSize</key>
        <string>{100,51}</string>
      </dict>
      <key>obj144_000788.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,284},{100,53}}</string>
        <key>offset</key>
        <string>{-2,333}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,53}}</string>
        <key>sourceSize</key>
        <string>{100,53}</string>
      </dict>
      <key>obj144_000789.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,339},{100,52}}</string>
        <key>offset</key>
        <string>{-2,334}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,52}}</string>
        <key>sourceSize</key>
        <string>{100,52}</string>
      </dict>
      <key>obj144_000790.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,476},{100,51}}</string>
        <key>offset</key>
        <string>{-2,335}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,51}}</string>
        <key>sourceSize</key>
        <string>{100,51}</string>
      </dict>
      <key>obj144_000791.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,529},{100,53}}</string>
        <key>offset</key>
        <string>{-2,333}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,53}}</string>
        <key>sourceSize</key>
        <string>{100,53}</string>
      </dict>
      <key>obj144_000792.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,584},{100,52}}</string>
        <key>offset</key>
        <string>{-2,334}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,52}}</string>
        <key>sourceSize</key>
        <string>{100,52}</string>
      </dict>
      <key>obj144_000793.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,638},{100,52}}</string>
        <key>offset</key>
        <string>{-2,334}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,52}}</string>
        <key>sourceSize</key>
        <string>{100,52}</string>
      </dict>
      <key>obj144_000794.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,692},{100,50}}</string>
        <key>offset</key>
        <string>{-2,336}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,50}}</string>
        <key>sourceSize</key>
        <string>{100,50}</string>
      </dict>
      <key>obj144_000795.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,744},{100,52}}</string>
        <key>offset</key>
        <string>{-2,334}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,52}}</string>
        <key>sourceSize</key>
        <string>{100,52}</string>
      </dict>
      <key>obj144_000796.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,798},{100,53}}</string>
        <key>offset</key>
        <string>{-2,333}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,53}}</string>
        <key>sourceSize</key>
        <string>{100,53}</string>
      </dict>
      <key>obj144_000797.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,853},{100,52}}</string>
        <key>offset</key>
        <string>{-2,334}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,52}}</string>
        <key>sourceSize</key>
        <string>{100,52}</string>
      </dict>
      <key>obj144_000798.png</key>
      <dict>
        <key>frame</key>
        <string>{{402,907},{100,53}}</string>
        <key>offset</key>
        <string>{-2,333}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,53}}</string>
        <key>sourceSize</key>
        <string>{100,53}</string>
      </dict>
      <key>obj144_000799.png</key>
      <dict>
        <key>frame</key>
        <string>{{402,962},{100,52}}</string>
        <key>offset</key>
        <string>{-2,334}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,52}}</string>
        <key>sourceSize</key>
        <string>{100,52}</string>
      </dict>
      <key>obj144_000800.png</key>
      <dict>
        <key>frame</key>
        <string>{{504,962},{100,51}}</string>
        <key>offset</key>
        <string>{-2,335}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,51}}</string>
        <key>sourceSize</key>
        <string>{100,51}</string>
      </dict>
      <key>obj144_000801.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,620},{48,171}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,171}}</string>
        <key>sourceSize</key>
        <string>{48,171}</string>
      </dict>
      <key>obj144_000802.png</key>
      <dict>
        <key>frame</key>
        <string>{{656,0},{48,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,34}}</string>
        <key>sourceSize</key>
        <string>{48,34}</string>
      </dict>
      <key>obj144_000803.png</key>
      <dict>
        <key>frame</key>
        <string>{{606,34},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj144_000804.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,295},{48,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,128}}</string>
        <key>sourceSize</key>
        <string>{48,128}</string>
      </dict>
      <key>obj144_000805.png</key>
      <dict>
        <key>frame</key>
        <string>{{706,0},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj144_000806.png</key>
      <dict>
        <key>frame</key>
        <string>{{756,0},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj144_000807.png</key>
      <dict>
        <key>frame</key>
        <string>{{806,0},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj144_000808.png</key>
      <dict>
        <key>frame</key>
        <string>{{856,0},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj144_000809.png</key>
      <dict>
        <key>frame</key>
        <string>{{906,0},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj144_000810.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,0},{48,148}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,148}}</string>
        <key>sourceSize</key>
        <string>{48,148}</string>
      </dict>
      <key>obj144_000811.png</key>
      <dict>
        <key>frame</key>
        <string>{{956,0},{48,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,46}}</string>
        <key>sourceSize</key>
        <string>{48,46}</string>
      </dict>
      <key>obj144_000812.png</key>
      <dict>
        <key>frame</key>
        <string>{{706,34},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj144_000813.png</key>
      <dict>
        <key>frame</key>
        <string>{{656,36},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj144_000814.png</key>
      <dict>
        <key>frame</key>
        <string>{{606,68},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj144_000815.png</key>
      <dict>
        <key>frame</key>
        <string>{{554,68},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj144_000816.png</key>
      <dict>
        <key>frame</key>
        <string>{{554,102},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj144_000817.png</key>
      <dict>
        <key>frame</key>
        <string>{{502,113},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj144_000818.png</key>
      <dict>
        <key>frame</key>
        <string>{{756,34},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj144_000819.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,150},{48,139}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,139}}</string>
        <key>sourceSize</key>
        <string>{48,139}</string>
      </dict>
      <key>obj144_000820.png</key>
      <dict>
        <key>frame</key>
        <string>{{452,393},{48,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,84}}</string>
        <key>sourceSize</key>
        <string>{48,84}</string>
      </dict>
      <key>obj144_000821.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,627},{48,125}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,125}}</string>
        <key>sourceSize</key>
        <string>{48,125}</string>
      </dict>
      <key>obj144_000822.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,0},{48,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,123}}</string>
        <key>sourceSize</key>
        <string>{48,123}</string>
      </dict>
      <key>obj144_000823.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,0},{48,117}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,117}}</string>
        <key>sourceSize</key>
        <string>{48,117}</string>
      </dict>
      <key>obj144_000824.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,230},{48,200}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,200}}</string>
        <key>sourceSize</key>
        <string>{48,200}</string>
      </dict>
      <key>obj144_000825.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,756},{48,213}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,213}}</string>
        <key>sourceSize</key>
        <string>{48,213}</string>
      </dict>
      <key>obj144_000826.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,596},{48,261}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,261}}</string>
        <key>sourceSize</key>
        <string>{48,261}</string>
      </dict>
      <key>obj144_000827.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,671},{48,326}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,326}}</string>
        <key>sourceSize</key>
        <string>{48,326}</string>
      </dict>
      <key>obj144_000828.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,306},{48,295}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,295}}</string>
        <key>sourceSize</key>
        <string>{48,295}</string>
      </dict>
      <key>obj144_000829.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,671},{48,307}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,307}}</string>
        <key>sourceSize</key>
        <string>{48,307}</string>
      </dict>
      <key>obj144_000830.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,0},{48,270}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,270}}</string>
        <key>sourceSize</key>
        <string>{48,270}</string>
      </dict>
      <key>obj144_000831.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,596},{48,266}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,266}}</string>
        <key>sourceSize</key>
        <string>{48,266}</string>
      </dict>
      <key>obj144_000832.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,272},{48,258}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,258}}</string>
        <key>sourceSize</key>
        <string>{48,258}</string>
      </dict>
      <key>obj144_000833.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,432},{48,193}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,193}}</string>
        <key>sourceSize</key>
        <string>{48,193}</string>
      </dict>
      <key>obj144_000834.png</key>
      <dict>
        <key>frame</key>
        <string>{{806,34},{48,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,44}}</string>
        <key>sourceSize</key>
        <string>{48,44}</string>
      </dict>
      <key>obj144_000835.png</key>
      <dict>
        <key>frame</key>
        <string>{{856,34},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj144_000836.png</key>
      <dict>
        <key>frame</key>
        <string>{{452,479},{48,69}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,69}}</string>
        <key>sourceSize</key>
        <string>{48,69}</string>
      </dict>
      <key>obj144_000837.png</key>
      <dict>
        <key>frame</key>
        <string>{{906,34},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj144_000838.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,793},{48,164}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,164}}</string>
        <key>sourceSize</key>
        <string>{48,164}</string>
      </dict>
      <key>obj144_000839.png</key>
      <dict>
        <key>frame</key>
        <string>{{956,48},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj144_000840.png</key>
      <dict>
        <key>frame</key>
        <string>{{856,68},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj144_000841.png</key>
      <dict>
        <key>frame</key>
        <string>{{906,68},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj144_000842.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,0},{48,228}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,228}}</string>
        <key>sourceSize</key>
        <string>{48,228}</string>
      </dict>
      <key>obj144_000843.png</key>
      <dict>
        <key>frame</key>
        <string>{{956,82},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj144_000844.png</key>
      <dict>
        <key>frame</key>
        <string>{{706,68},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj144_000845.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,0},{48,279}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,279}}</string>
        <key>sourceSize</key>
        <string>{48,279}</string>
      </dict>
      <key>obj144_000846.png</key>
      <dict>
        <key>frame</key>
        <string>{{656,70},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj144_000847.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,0},{48,251}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,251}}</string>
        <key>sourceSize</key>
        <string>{48,251}</string>
      </dict>
      <key>obj144_000848.png</key>
      <dict>
        <key>frame</key>
        <string>{{606,102},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj144_000849.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,864},{48,152}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,152}}</string>
        <key>sourceSize</key>
        <string>{48,152}</string>
      </dict>
      <key>obj144_000850.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,432},{48,186}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,186}}</string>
        <key>sourceSize</key>
        <string>{48,186}</string>
      </dict>
      <key>obj144_000851.png</key>
      <dict>
        <key>frame</key>
        <string>{{756,68},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj144_000852.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,295},{48,124}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,124}}</string>
        <key>sourceSize</key>
        <string>{48,124}</string>
      </dict>
      <key>obj144_000853.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,859},{48,162}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,162}}</string>
        <key>sourceSize</key>
        <string>{48,162}</string>
      </dict>
      <key>obj144_000854.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,793},{48,152}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,152}}</string>
        <key>sourceSize</key>
        <string>{48,152}</string>
      </dict>
      <key>obj144_000855.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,971},{48,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,49}}</string>
        <key>sourceSize</key>
        <string>{48,49}</string>
      </dict>
      <key>obj144_000856.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,150},{48,143}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,143}}</string>
        <key>sourceSize</key>
        <string>{48,143}</string>
      </dict>
      <key>obj144_000857.png</key>
      <dict>
        <key>frame</key>
        <string>{{806,80},{48,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,35}}</string>
        <key>sourceSize</key>
        <string>{48,35}</string>
      </dict>
      <key>obj144_000858.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,253},{48,15}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,15}}</string>
        <key>sourceSize</key>
        <string>{48,15}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>obj144_3.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>obj144_3.png</string>
    </dict>
  </dict>
</plist>