<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>obj189_001216.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,934},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001217.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{48,672}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,672}}</string>
			<key>sourceSize</key>
			<string>{48,672}</string>
		</dict>
		<key>obj189_001218.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,968},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001219.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,968},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001220.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,934},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001221.png</key>
		<dict>
			<key>frame</key>
			<string>{{700,0},{48,512}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,512}}</string>
			<key>sourceSize</key>
			<string>{48,512}</string>
		</dict>
		<key>obj189_001222.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,934},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001223.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,0},{48,608}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,608}}</string>
			<key>sourceSize</key>
			<string>{48,608}</string>
		</dict>
		<key>obj189_001224.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,0},{48,608}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,608}}</string>
			<key>sourceSize</key>
			<string>{48,608}</string>
		</dict>
		<key>obj189_001225.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,968},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001226.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,968},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001227.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,934},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001228.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,934},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001229.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,0},{48,544}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,544}}</string>
			<key>sourceSize</key>
			<string>{48,544}</string>
		</dict>
		<key>obj189_001230.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,968},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001231.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,0},{48,608}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,608}}</string>
			<key>sourceSize</key>
			<string>{48,608}</string>
		</dict>
		<key>obj189_001232.png</key>
		<dict>
			<key>frame</key>
			<string>{{500,0},{48,544}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,544}}</string>
			<key>sourceSize</key>
			<string>{48,544}</string>
		</dict>
		<key>obj189_001233.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,968},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001234.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,934},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001235.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,934},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001236.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,968},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001237.png</key>
		<dict>
			<key>frame</key>
			<string>{{500,968},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001238.png</key>
		<dict>
			<key>frame</key>
			<string>{{500,934},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001239.png</key>
		<dict>
			<key>frame</key>
			<string>{{550,0},{48,544}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,544}}</string>
			<key>sourceSize</key>
			<string>{48,544}</string>
		</dict>
		<key>obj189_001240.png</key>
		<dict>
			<key>frame</key>
			<string>{{550,934},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001241.png</key>
		<dict>
			<key>frame</key>
			<string>{{550,968},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001242.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,0},{48,608}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,608}}</string>
			<key>sourceSize</key>
			<string>{48,608}</string>
		</dict>
		<key>obj189_001243.png</key>
		<dict>
			<key>frame</key>
			<string>{{600,0},{48,544}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,544}}</string>
			<key>sourceSize</key>
			<string>{48,544}</string>
		</dict>
		<key>obj189_001244.png</key>
		<dict>
			<key>frame</key>
			<string>{{600,968},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001245.png</key>
		<dict>
			<key>frame</key>
			<string>{{600,934},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001246.png</key>
		<dict>
			<key>frame</key>
			<string>{{650,934},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001247.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,674},{48,320}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,320}}</string>
			<key>sourceSize</key>
			<string>{48,320}</string>
		</dict>
		<key>obj189_001248.png</key>
		<dict>
			<key>frame</key>
			<string>{{650,546},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001249.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,0},{48,608}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,608}}</string>
			<key>sourceSize</key>
			<string>{48,608}</string>
		</dict>
		<key>obj189_001250.png</key>
		<dict>
			<key>frame</key>
			<string>{{650,0},{48,544}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,544}}</string>
			<key>sourceSize</key>
			<string>{48,544}</string>
		</dict>
		<key>obj189_001251.png</key>
		<dict>
			<key>frame</key>
			<string>{{700,740},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001252.png</key>
		<dict>
			<key>frame</key>
			<string>{{700,774},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001253.png</key>
		<dict>
			<key>frame</key>
			<string>{{700,808},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001254.png</key>
		<dict>
			<key>frame</key>
			<string>{{700,514},{48,224}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,224}}</string>
			<key>sourceSize</key>
			<string>{48,224}</string>
		</dict>
		<key>obj189_001255.png</key>
		<dict>
			<key>frame</key>
			<string>{{700,842},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001256.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,0},{48,608}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,608}}</string>
			<key>sourceSize</key>
			<string>{48,608}</string>
		</dict>
		<key>obj189_001257.png</key>
		<dict>
			<key>frame</key>
			<string>{{700,876},{48,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,44}}</string>
			<key>sourceSize</key>
			<string>{48,44}</string>
		</dict>
		<key>obj189_001258.png</key>
		<dict>
			<key>frame</key>
			<string>{{700,922},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001259.png</key>
		<dict>
			<key>frame</key>
			<string>{{750,0},{48,512}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,512}}</string>
			<key>sourceSize</key>
			<string>{48,512}</string>
		</dict>
		<key>obj189_001260.png</key>
		<dict>
			<key>frame</key>
			<string>{{750,934},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001261.png</key>
		<dict>
			<key>frame</key>
			<string>{{700,956},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001262.png</key>
		<dict>
			<key>frame</key>
			<string>{{750,968},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001263.png</key>
		<dict>
			<key>frame</key>
			<string>{{750,740},{48,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,192}}</string>
			<key>sourceSize</key>
			<string>{48,192}</string>
		</dict>
		<key>obj189_001264.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,0},{48,608}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,608}}</string>
			<key>sourceSize</key>
			<string>{48,608}</string>
		</dict>
		<key>obj189_001265.png</key>
		<dict>
			<key>frame</key>
			<string>{{800,0},{48,448}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,448}}</string>
			<key>sourceSize</key>
			<string>{48,448}</string>
		</dict>
		<key>obj189_001266.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,740},{48,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,160}}</string>
			<key>sourceSize</key>
			<string>{48,160}</string>
		</dict>
		<key>obj189_001267.png</key>
		<dict>
			<key>frame</key>
			<string>{{650,990},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001268.png</key>
		<dict>
			<key>frame</key>
			<string>{{700,990},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001269.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,876},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001270.png</key>
		<dict>
			<key>frame</key>
			<string>{{800,804},{48,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,192}}</string>
			<key>sourceSize</key>
			<string>{48,192}</string>
		</dict>
		<key>obj189_001271.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,610},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001272.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,610},{48,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,128}}</string>
			<key>sourceSize</key>
			<string>{48,128}</string>
		</dict>
		<key>obj189_001273.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,0},{48,608}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,608}}</string>
			<key>sourceSize</key>
			<string>{48,608}</string>
		</dict>
		<key>obj189_001274.png</key>
		<dict>
			<key>frame</key>
			<string>{{800,450},{48,352}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,352}}</string>
			<key>sourceSize</key>
			<string>{48,352}</string>
		</dict>
		<key>obj189_001275.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,934},{48,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,64}}</string>
			<key>sourceSize</key>
			<string>{48,64}</string>
		</dict>
		<key>obj189_001276.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,546},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001277.png</key>
		<dict>
			<key>frame</key>
			<string>{{500,546},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001278.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,902},{48,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,96}}</string>
			<key>sourceSize</key>
			<string>{48,96}</string>
		</dict>
		<key>obj189_001279.png</key>
		<dict>
			<key>frame</key>
			<string>{{750,514},{48,224}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,224}}</string>
			<key>sourceSize</key>
			<string>{48,224}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>obj189_19.png</string>
		<key>size</key>
		<string>{896,1024}</string>
		<key>textureFileName</key>
		<string>obj189_19.png</string>
	</dict>
</dict>
</plist>
