<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>obj181_002280.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,537},{48,248}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,248}}</string>
        <key>sourceSize</key>
        <string>{48,248}</string>
      </dict>
      <key>obj181_002281.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,584},{48,206}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,206}}</string>
        <key>sourceSize</key>
        <string>{48,206}</string>
      </dict>
      <key>obj181_002282.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,0},{48,582}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,582}}</string>
        <key>sourceSize</key>
        <string>{48,582}</string>
      </dict>
      <key>obj181_002283.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,745},{48,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,96}}</string>
        <key>sourceSize</key>
        <string>{48,96}</string>
      </dict>
      <key>obj181_002284.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{48,746}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,746}}</string>
        <key>sourceSize</key>
        <string>{48,746}</string>
      </dict>
      <key>obj181_002285.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,792},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_002286.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,787},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_002287.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,804},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_002288.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,826},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_002289.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,843},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_002290.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,0},{48,535}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,535}}</string>
        <key>sourceSize</key>
        <string>{48,535}</string>
      </dict>
      <key>obj181_002291.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,568},{48,234}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,234}}</string>
        <key>sourceSize</key>
        <string>{48,234}</string>
      </dict>
      <key>obj181_002292.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,0},{48,566}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,566}}</string>
        <key>sourceSize</key>
        <string>{48,566}</string>
      </dict>
      <key>obj181_002293.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,748},{48,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,96}}</string>
        <key>sourceSize</key>
        <string>{48,96}</string>
      </dict>
      <key>obj181_002294.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,0},{48,743}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,743}}</string>
        <key>sourceSize</key>
        <string>{48,743}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>obj181_152.png</string>
      <key>size</key>
      <string>{256,1024}</string>
      <key>textureFileName</key>
      <string>obj181_152.png</string>
    </dict>
  </dict>
</plist>