<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>obj145_000458.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,744},{48,117}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,117}}</string>
        <key>sourceSize</key>
        <string>{48,117}</string>
      </dict>
      <key>obj145_000459.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,452},{48,143}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,143}}</string>
        <key>sourceSize</key>
        <string>{48,143}</string>
      </dict>
      <key>obj145_000460.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,516},{48,192}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj145_000461.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,970},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj145_000462.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,386},{48,92}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,92}}</string>
        <key>sourceSize</key>
        <string>{48,92}</string>
      </dict>
      <key>obj145_000463.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,938},{48,83}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,83}}</string>
        <key>sourceSize</key>
        <string>{48,83}</string>
      </dict>
      <key>obj145_000464.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,516},{48,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj145_000465.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,516},{48,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj145_000466.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,801},{48,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,96}}</string>
        <key>sourceSize</key>
        <string>{48,96}</string>
      </dict>
      <key>obj145_000467.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,614},{48,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,128}}</string>
        <key>sourceSize</key>
        <string>{48,128}</string>
      </dict>
      <key>obj145_000468.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,597},{48,137}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,137}}</string>
        <key>sourceSize</key>
        <string>{48,137}</string>
      </dict>
      <key>obj145_000469.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,710},{48,161}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,161}}</string>
        <key>sourceSize</key>
        <string>{48,161}</string>
      </dict>
      <key>obj145_000470.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,290},{48,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj145_000471.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,678},{48,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,128}}</string>
        <key>sourceSize</key>
        <string>{48,128}</string>
      </dict>
      <key>obj145_000472.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,0},{48,288}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,288}}</string>
        <key>sourceSize</key>
        <string>{48,288}</string>
      </dict>
      <key>obj145_000473.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,0},{48,288}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,288}}</string>
        <key>sourceSize</key>
        <string>{48,288}</string>
      </dict>
      <key>obj145_000474.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,0},{48,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,256}}</string>
        <key>sourceSize</key>
        <string>{48,256}</string>
      </dict>
      <key>obj145_000475.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,516},{48,192}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj145_000476.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,516},{48,224}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj145_000477.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,258},{48,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,256}}</string>
        <key>sourceSize</key>
        <string>{48,256}</string>
      </dict>
      <key>obj145_000478.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,0},{48,288}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,288}}</string>
        <key>sourceSize</key>
        <string>{48,288}</string>
      </dict>
      <key>obj145_000479.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,0},{48,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,63}}</string>
        <key>sourceSize</key>
        <string>{48,63}</string>
      </dict>
      <key>obj145_000480.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,972},{48,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,47}}</string>
        <key>sourceSize</key>
        <string>{48,47}</string>
      </dict>
      <key>obj145_000481.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,0},{48,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,65}}</string>
        <key>sourceSize</key>
        <string>{48,65}</string>
      </dict>
      <key>obj145_000482.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,0},{48,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,82}}</string>
        <key>sourceSize</key>
        <string>{48,82}</string>
      </dict>
      <key>obj145_000483.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,0},{48,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,82}}</string>
        <key>sourceSize</key>
        <string>{48,82}</string>
      </dict>
      <key>obj145_000484.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,968},{48,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,53}}</string>
        <key>sourceSize</key>
        <string>{48,53}</string>
      </dict>
      <key>obj145_000485.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,386},{48,85}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,85}}</string>
        <key>sourceSize</key>
        <string>{48,85}</string>
      </dict>
      <key>obj145_000486.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,961},{48,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,59}}</string>
        <key>sourceSize</key>
        <string>{48,59}</string>
      </dict>
      <key>obj145_000487.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,899},{48,93}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,93}}</string>
        <key>sourceSize</key>
        <string>{48,93}</string>
      </dict>
      <key>obj145_000488.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,614},{48,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,128}}</string>
        <key>sourceSize</key>
        <string>{48,128}</string>
      </dict>
      <key>obj145_000489.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,742},{48,224}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj145_000490.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,0},{48,288}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,288}}</string>
        <key>sourceSize</key>
        <string>{48,288}</string>
      </dict>
      <key>obj145_000491.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,0},{48,288}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,288}}</string>
        <key>sourceSize</key>
        <string>{48,288}</string>
      </dict>
      <key>obj145_000492.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,290},{48,192}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj145_000493.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,736},{48,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,128}}</string>
        <key>sourceSize</key>
        <string>{48,128}</string>
      </dict>
      <key>obj145_000494.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,0},{48,288}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,288}}</string>
        <key>sourceSize</key>
        <string>{48,288}</string>
      </dict>
      <key>obj145_000495.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,0},{48,288}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,288}}</string>
        <key>sourceSize</key>
        <string>{48,288}</string>
      </dict>
      <key>obj145_000496.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,290},{48,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj145_000497.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,452},{48,151}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,151}}</string>
        <key>sourceSize</key>
        <string>{48,151}</string>
      </dict>
      <key>obj145_000498.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,290},{48,192}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj145_000499.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,290},{48,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj145_000500.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,742},{48,224}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj145_000501.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,290},{48,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj145_000502.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,710},{48,192}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj145_000503.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,863},{48,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,96}}</string>
        <key>sourceSize</key>
        <string>{48,96}</string>
      </dict>
      <key>obj145_000504.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,290},{48,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj145_000505.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,452},{48,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj145_000506.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,866},{48,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,96}}</string>
        <key>sourceSize</key>
        <string>{48,96}</string>
      </dict>
      <key>obj145_000507.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,872},{48,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,96}}</string>
        <key>sourceSize</key>
        <string>{48,96}</string>
      </dict>
      <key>obj145_000508.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{48,384}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,384}}</string>
        <key>sourceSize</key>
        <string>{48,384}</string>
      </dict>
      <key>obj145_000509.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,0},{48,384}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,384}}</string>
        <key>sourceSize</key>
        <string>{48,384}</string>
      </dict>
      <key>obj145_000510.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,964},{48,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,55}}</string>
        <key>sourceSize</key>
        <string>{48,55}</string>
      </dict>
      <key>obj145_000511.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,742},{48,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,128}}</string>
        <key>sourceSize</key>
        <string>{48,128}</string>
      </dict>
      <key>obj145_000512.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,744},{48,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,128}}</string>
        <key>sourceSize</key>
        <string>{48,128}</string>
      </dict>
      <key>obj145_000513.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,904},{48,101}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,101}}</string>
        <key>sourceSize</key>
        <string>{48,101}</string>
      </dict>
      <key>obj145_000514.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,808},{48,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,128}}</string>
        <key>sourceSize</key>
        <string>{48,128}</string>
      </dict>
      <key>obj145_000515.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,874},{48,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,96}}</string>
        <key>sourceSize</key>
        <string>{48,96}</string>
      </dict>
      <key>obj145_000516.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,873},{48,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,128}}</string>
        <key>sourceSize</key>
        <string>{48,128}</string>
      </dict>
      <key>obj145_000517.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,516},{48,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj145_000518.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,452},{48,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj145_000519.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,968},{48,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,54}}</string>
        <key>sourceSize</key>
        <string>{48,54}</string>
      </dict>
      <key>obj145_000520.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,678},{48,121}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,121}}</string>
        <key>sourceSize</key>
        <string>{48,121}</string>
      </dict>
      <key>obj145_000521.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,605},{48,135}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,135}}</string>
        <key>sourceSize</key>
        <string>{48,135}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>obj145_2.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>obj145_2.png</string>
    </dict>
  </dict>
</plist>