<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>obj159_000132.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{48,544}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,544}}</string>
			<key>sourceSize</key>
			<string>{48,544}</string>
		</dict>
		<key>obj159_000133.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,0},{48,544}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,544}}</string>
			<key>sourceSize</key>
			<string>{48,544}</string>
		</dict>
		<key>obj159_000134.png</key>
		<dict>
			<key>frame</key>
			<string>{{900,0},{48,416}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,416}}</string>
			<key>sourceSize</key>
			<string>{48,416}</string>
		</dict>
		<key>obj159_000135.png</key>
		<dict>
			<key>frame</key>
			<string>{{950,0},{48,416}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,416}}</string>
			<key>sourceSize</key>
			<string>{48,416}</string>
		</dict>
		<key>obj159_000136.png</key>
		<dict>
			<key>frame</key>
			<string>{{650,772},{48,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,192}}</string>
			<key>sourceSize</key>
			<string>{48,192}</string>
		</dict>
		<key>obj159_000137.png</key>
		<dict>
			<key>frame</key>
			<string>{{700,772},{48,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,192}}</string>
			<key>sourceSize</key>
			<string>{48,192}</string>
		</dict>
		<key>obj159_000138.png</key>
		<dict>
			<key>frame</key>
			<string>{{500,804},{48,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,192}}</string>
			<key>sourceSize</key>
			<string>{48,192}</string>
		</dict>
		<key>obj159_000139.png</key>
		<dict>
			<key>frame</key>
			<string>{{550,804},{48,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,192}}</string>
			<key>sourceSize</key>
			<string>{48,192}</string>
		</dict>
		<key>obj159_000140.png</key>
		<dict>
			<key>frame</key>
			<string>{{1000,0},{48,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,192}}</string>
			<key>sourceSize</key>
			<string>{48,192}</string>
		</dict>
		<key>obj159_000141.png</key>
		<dict>
			<key>frame</key>
			<string>{{1000,194},{48,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,192}}</string>
			<key>sourceSize</key>
			<string>{48,192}</string>
		</dict>
		<key>obj159_000142.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,0},{48,480}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,480}}</string>
			<key>sourceSize</key>
			<string>{48,480}</string>
		</dict>
		<key>obj159_000143.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,482},{48,480}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,480}}</string>
			<key>sourceSize</key>
			<string>{48,480}</string>
		</dict>
		<key>obj159_000144.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,482},{48,480}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,480}}</string>
			<key>sourceSize</key>
			<string>{48,480}</string>
		</dict>
		<key>obj159_000145.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,0},{48,480}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,480}}</string>
			<key>sourceSize</key>
			<string>{48,480}</string>
		</dict>
		<key>obj159_000146.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,0},{48,480}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,480}}</string>
			<key>sourceSize</key>
			<string>{48,480}</string>
		</dict>
		<key>obj159_000147.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,482},{48,480}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,480}}</string>
			<key>sourceSize</key>
			<string>{48,480}</string>
		</dict>
		<key>obj159_000148.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,482},{48,480}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,480}}</string>
			<key>sourceSize</key>
			<string>{48,480}</string>
		</dict>
		<key>obj159_000149.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,0},{48,480}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,480}}</string>
			<key>sourceSize</key>
			<string>{48,480}</string>
		</dict>
		<key>obj159_000150.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,0},{48,480}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,480}}</string>
			<key>sourceSize</key>
			<string>{48,480}</string>
		</dict>
		<key>obj159_000151.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,482},{48,480}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,480}}</string>
			<key>sourceSize</key>
			<string>{48,480}</string>
		</dict>
		<key>obj159_000152.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,482},{48,480}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,480}}</string>
			<key>sourceSize</key>
			<string>{48,480}</string>
		</dict>
		<key>obj159_000153.png</key>
		<dict>
			<key>frame</key>
			<string>{{750,450},{48,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,256}}</string>
			<key>sourceSize</key>
			<string>{48,256}</string>
		</dict>
		<key>obj159_000154.png</key>
		<dict>
			<key>frame</key>
			<string>{{800,450},{48,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,256}}</string>
			<key>sourceSize</key>
			<string>{48,256}</string>
		</dict>
		<key>obj159_000155.png</key>
		<dict>
			<key>frame</key>
			<string>{{850,450},{48,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,256}}</string>
			<key>sourceSize</key>
			<string>{48,256}</string>
		</dict>
		<key>obj159_000156.png</key>
		<dict>
			<key>frame</key>
			<string>{{850,708},{48,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,256}}</string>
			<key>sourceSize</key>
			<string>{48,256}</string>
		</dict>
		<key>obj159_000157.png</key>
		<dict>
			<key>frame</key>
			<string>{{750,708},{48,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,256}}</string>
			<key>sourceSize</key>
			<string>{48,256}</string>
		</dict>
		<key>obj159_000158.png</key>
		<dict>
			<key>frame</key>
			<string>{{800,708},{48,224}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,224}}</string>
			<key>sourceSize</key>
			<string>{48,224}</string>
		</dict>
		<key>obj159_000159.png</key>
		<dict>
			<key>frame</key>
			<string>{{900,740},{48,224}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,224}}</string>
			<key>sourceSize</key>
			<string>{48,224}</string>
		</dict>
		<key>obj159_000160.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,546},{48,448}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,448}}</string>
			<key>sourceSize</key>
			<string>{48,448}</string>
		</dict>
		<key>obj159_000161.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,546},{48,448}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,448}}</string>
			<key>sourceSize</key>
			<string>{48,448}</string>
		</dict>
		<key>obj159_000162.png</key>
		<dict>
			<key>frame</key>
			<string>{{600,0},{48,448}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,448}}</string>
			<key>sourceSize</key>
			<string>{48,448}</string>
		</dict>
		<key>obj159_000163.png</key>
		<dict>
			<key>frame</key>
			<string>{{650,0},{48,448}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,448}}</string>
			<key>sourceSize</key>
			<string>{48,448}</string>
		</dict>
		<key>obj159_000164.png</key>
		<dict>
			<key>frame</key>
			<string>{{700,0},{48,448}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,448}}</string>
			<key>sourceSize</key>
			<string>{48,448}</string>
		</dict>
		<key>obj159_000165.png</key>
		<dict>
			<key>frame</key>
			<string>{{750,0},{48,448}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,448}}</string>
			<key>sourceSize</key>
			<string>{48,448}</string>
		</dict>
		<key>obj159_000166.png</key>
		<dict>
			<key>frame</key>
			<string>{{800,0},{48,448}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,448}}</string>
			<key>sourceSize</key>
			<string>{48,448}</string>
		</dict>
		<key>obj159_000167.png</key>
		<dict>
			<key>frame</key>
			<string>{{850,0},{48,448}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,448}}</string>
			<key>sourceSize</key>
			<string>{48,448}</string>
		</dict>
		<key>obj159_000168.png</key>
		<dict>
			<key>frame</key>
			<string>{{950,418},{48,320}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,320}}</string>
			<key>sourceSize</key>
			<string>{48,320}</string>
		</dict>
		<key>obj159_000169.png</key>
		<dict>
			<key>frame</key>
			<string>{{900,418},{48,320}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,320}}</string>
			<key>sourceSize</key>
			<string>{48,320}</string>
		</dict>
		<key>obj159_000170.png</key>
		<dict>
			<key>frame</key>
			<string>{{600,450},{48,320}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,320}}</string>
			<key>sourceSize</key>
			<string>{48,320}</string>
		</dict>
		<key>obj159_000171.png</key>
		<dict>
			<key>frame</key>
			<string>{{500,482},{48,320}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,320}}</string>
			<key>sourceSize</key>
			<string>{48,320}</string>
		</dict>
		<key>obj159_000172.png</key>
		<dict>
			<key>frame</key>
			<string>{{550,482},{48,320}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,320}}</string>
			<key>sourceSize</key>
			<string>{48,320}</string>
		</dict>
		<key>obj159_000173.png</key>
		<dict>
			<key>frame</key>
			<string>{{650,450},{48,320}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,320}}</string>
			<key>sourceSize</key>
			<string>{48,320}</string>
		</dict>
		<key>obj159_000174.png</key>
		<dict>
			<key>frame</key>
			<string>{{700,450},{48,320}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,320}}</string>
			<key>sourceSize</key>
			<string>{48,320}</string>
		</dict>
		<key>obj159_000175.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,0},{48,480}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,480}}</string>
			<key>sourceSize</key>
			<string>{48,480}</string>
		</dict>
		<key>obj159_000176.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,0},{48,480}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,480}}</string>
			<key>sourceSize</key>
			<string>{48,480}</string>
		</dict>
		<key>obj159_000177.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,482},{48,480}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,480}}</string>
			<key>sourceSize</key>
			<string>{48,480}</string>
		</dict>
		<key>obj159_000178.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,482},{48,480}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,480}}</string>
			<key>sourceSize</key>
			<string>{48,480}</string>
		</dict>
		<key>obj159_000179.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,0},{48,480}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,480}}</string>
			<key>sourceSize</key>
			<string>{48,480}</string>
		</dict>
		<key>obj159_000180.png</key>
		<dict>
			<key>frame</key>
			<string>{{500,0},{48,480}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,480}}</string>
			<key>sourceSize</key>
			<string>{48,480}</string>
		</dict>
		<key>obj159_000181.png</key>
		<dict>
			<key>frame</key>
			<string>{{550,0},{48,480}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,480}}</string>
			<key>sourceSize</key>
			<string>{48,480}</string>
		</dict>
		<key>obj159_000182.png</key>
		<dict>
			<key>frame</key>
			<string>{{950,740},{48,224}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,224}}</string>
			<key>sourceSize</key>
			<string>{48,224}</string>
		</dict>
		<key>obj159_000183.png</key>
		<dict>
			<key>frame</key>
			<string>{{600,772},{48,224}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,224}}</string>
			<key>sourceSize</key>
			<string>{48,224}</string>
		</dict>
		<key>obj159_000184.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,998},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
		<key>obj159_000185.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1001},{1,1}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1,1}}</string>
			<key>sourceSize</key>
			<string>{1,1}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>obj159_1.png</string>
		<key>size</key>
		<string>{2048,1024}</string>
		<key>textureFileName</key>
		<string>obj159_1.png</string>
	</dict>
</dict>
</plist>
