<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>obj181_001935.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,639},{48,32}}</string>
        <key>offset</key>
        <string>{5,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_001936.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,664},{48,32}}</string>
        <key>offset</key>
        <string>{5,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_001937.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,673},{48,32}}</string>
        <key>offset</key>
        <string>{5,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_001938.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,698},{48,32}}</string>
        <key>offset</key>
        <string>{5,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_001939.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,707},{48,32}}</string>
        <key>offset</key>
        <string>{5,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_001940.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,732},{48,32}}</string>
        <key>offset</key>
        <string>{5,110}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_001941.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,741},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_001942.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,766},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_001943.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,775},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_001944.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,386},{48,276}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,276}}</string>
        <key>sourceSize</key>
        <string>{48,276}</string>
      </dict>
      <key>obj181_001945.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,0},{48,384}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,384}}</string>
        <key>sourceSize</key>
        <string>{48,384}</string>
      </dict>
      <key>obj181_001946.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{48,637}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,637}}</string>
        <key>sourceSize</key>
        <string>{48,637}</string>
      </dict>
      <key>obj181_001947.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,800},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_001948.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,809},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_001949.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,834},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>obj181_129.png</string>
      <key>size</key>
      <string>{128,1024}</string>
      <key>textureFileName</key>
      <string>obj181_129.png</string>
    </dict>
  </dict>
</plist>