<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>obj189_001611.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,676},{144,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,160}}</string>
			<key>sourceSize</key>
			<string>{144,160}</string>
		</dict>
		<key>obj189_001612.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,418},{48,352}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,352}}</string>
			<key>sourceSize</key>
			<string>{48,352}</string>
		</dict>
		<key>obj189_001613.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,354},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001614.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,838},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001615.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,354},{48,320}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,320}}</string>
			<key>sourceSize</key>
			<string>{48,320}</string>
		</dict>
		<key>obj189_001616.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,772},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001617.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,772},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001618.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,806},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001619.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,806},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001620.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,840},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001621.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,840},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001622.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,840},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001623.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,418},{48,352}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,352}}</string>
			<key>sourceSize</key>
			<string>{48,352}</string>
		</dict>
		<key>obj189_001624.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,838},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001625.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,354},{48,320}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,320}}</string>
			<key>sourceSize</key>
			<string>{48,320}</string>
		</dict>
		<key>obj189_001626.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,838},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001627.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,162},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001628.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,196},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001629.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,230},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001630.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,264},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001631.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,298},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001632.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,332},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001633.png</key>
		<dict>
			<key>frame</key>
			<string>{{442,162},{48,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,128}}</string>
			<key>sourceSize</key>
			<string>{48,128}</string>
		</dict>
		<key>obj189_001634.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,0},{48,320}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,320}}</string>
			<key>sourceSize</key>
			<string>{48,320}</string>
		</dict>
		<key>obj189_001635.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,366},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001636.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,400},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001637.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,0},{48,352}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,352}}</string>
			<key>sourceSize</key>
			<string>{48,352}</string>
		</dict>
		<key>obj189_001638.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,434},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001639.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,810},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001640.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,844},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001641.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,844},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001642.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,810},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001643.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,810},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001644.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,844},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001645.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,676},{48,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,128}}</string>
			<key>sourceSize</key>
			<string>{48,128}</string>
		</dict>
		<key>obj189_001646.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,0},{48,352}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,352}}</string>
			<key>sourceSize</key>
			<string>{48,352}</string>
		</dict>
		<key>obj189_001647.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{48,416}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,416}}</string>
			<key>sourceSize</key>
			<string>{48,416}</string>
		</dict>
		<key>obj189_001648.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,844},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001649.png</key>
		<dict>
			<key>frame</key>
			<string>{{638,0},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001650.png</key>
		<dict>
			<key>frame</key>
			<string>{{688,0},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001651.png</key>
		<dict>
			<key>frame</key>
			<string>{{688,34},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001652.png</key>
		<dict>
			<key>frame</key>
			<string>{{638,34},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj189_001653.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,0},{144,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,160}}</string>
			<key>sourceSize</key>
			<string>{144,160}</string>
		</dict>
		<key>obj189_001654.png</key>
		<dict>
			<key>frame</key>
			<string>{{346,0},{144,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,160}}</string>
			<key>sourceSize</key>
			<string>{144,160}</string>
		</dict>
		<key>obj189_001655.png</key>
		<dict>
			<key>frame</key>
			<string>{{492,0},{144,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,160}}</string>
			<key>sourceSize</key>
			<string>{144,160}</string>
		</dict>
		<key>obj189_001656.png</key>
		<dict>
			<key>frame</key>
			<string>{{492,162},{144,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,160}}</string>
			<key>sourceSize</key>
			<string>{144,160}</string>
		</dict>
		<key>obj189_001657.png</key>
		<dict>
			<key>frame</key>
			<string>{{296,162},{144,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,160}}</string>
			<key>sourceSize</key>
			<string>{144,160}</string>
		</dict>
		<key>obj189_001658.png</key>
		<dict>
			<key>frame</key>
			<string>{{296,324},{144,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,160}}</string>
			<key>sourceSize</key>
			<string>{144,160}</string>
		</dict>
		<key>obj189_001659.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,486},{144,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,160}}</string>
			<key>sourceSize</key>
			<string>{144,160}</string>
		</dict>
		<key>obj189_001660.png</key>
		<dict>
			<key>frame</key>
			<string>{{296,648},{144,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,160}}</string>
			<key>sourceSize</key>
			<string>{144,160}</string>
		</dict>
		<key>obj189_001661.png</key>
		<dict>
			<key>frame</key>
			<string>{{346,486},{144,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,160}}</string>
			<key>sourceSize</key>
			<string>{144,160}</string>
		</dict>
		<key>obj189_001662.png</key>
		<dict>
			<key>frame</key>
			<string>{{442,324},{144,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,160}}</string>
			<key>sourceSize</key>
			<string>{144,160}</string>
		</dict>
		<key>obj189_001663.png</key>
		<dict>
			<key>frame</key>
			<string>{{588,324},{144,160}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{144,160}}</string>
			<key>sourceSize</key>
			<string>{144,160}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>obj189_25.png</string>
		<key>size</key>
		<string>{768,896}</string>
		<key>textureFileName</key>
		<string>obj189_25.png</string>
	</dict>
</dict>
</plist>
