<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>obj162_000000.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,881},{48,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,48}}</string>
			<key>sourceSize</key>
			<string>{48,48}</string>
		</dict>
		<key>obj162_000001.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,901},{48,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,48}}</string>
			<key>sourceSize</key>
			<string>{48,48}</string>
		</dict>
		<key>obj162_000002.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,907},{48,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,48}}</string>
			<key>sourceSize</key>
			<string>{48,48}</string>
		</dict>
		<key>obj162_000003.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,957},{48,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,48}}</string>
			<key>sourceSize</key>
			<string>{48,48}</string>
		</dict>
		<key>obj162_000004.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,957},{48,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,48}}</string>
			<key>sourceSize</key>
			<string>{48,48}</string>
		</dict>
		<key>obj162_000005.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,951},{48,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,48}}</string>
			<key>sourceSize</key>
			<string>{48,48}</string>
		</dict>
		<key>obj162_000006.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,0},{48,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,48}}</string>
			<key>sourceSize</key>
			<string>{48,48}</string>
		</dict>
		<key>obj162_000007.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,50},{48,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,48}}</string>
			<key>sourceSize</key>
			<string>{48,48}</string>
		</dict>
		<key>obj162_000008.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,100},{48,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,48}}</string>
			<key>sourceSize</key>
			<string>{48,48}</string>
		</dict>
		<key>obj162_000009.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,150},{48,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,48}}</string>
			<key>sourceSize</key>
			<string>{48,48}</string>
		</dict>
		<key>obj162_000010.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,200},{48,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,48}}</string>
			<key>sourceSize</key>
			<string>{48,48}</string>
		</dict>
		<key>obj162_000011.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,250},{48,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,48}}</string>
			<key>sourceSize</key>
			<string>{48,48}</string>
		</dict>
		<key>obj162_000012.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,300},{48,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,48}}</string>
			<key>sourceSize</key>
			<string>{48,48}</string>
		</dict>
		<key>obj162_000013.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,350},{48,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,48}}</string>
			<key>sourceSize</key>
			<string>{48,48}</string>
		</dict>
		<key>obj162_000014.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,400},{48,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,48}}</string>
			<key>sourceSize</key>
			<string>{48,48}</string>
		</dict>
		<key>obj162_000015.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,450},{48,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,48}}</string>
			<key>sourceSize</key>
			<string>{48,48}</string>
		</dict>
		<key>obj162_000016.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,500},{48,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,48}}</string>
			<key>sourceSize</key>
			<string>{48,48}</string>
		</dict>
		<key>obj162_000017.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,550},{48,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,48}}</string>
			<key>sourceSize</key>
			<string>{48,48}</string>
		</dict>
		<key>obj162_000018.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,600},{48,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,48}}</string>
			<key>sourceSize</key>
			<string>{48,48}</string>
		</dict>
		<key>obj162_000019.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{48,905}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,905}}</string>
			<key>sourceSize</key>
			<string>{48,905}</string>
		</dict>
		<key>obj162_000020.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,650},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000021.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,684},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000022.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,718},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000023.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,752},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000024.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,786},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000025.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,0},{48,899}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,899}}</string>
			<key>sourceSize</key>
			<string>{48,899}</string>
		</dict>
		<key>obj162_000026.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,820},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000027.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,854},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000028.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,888},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000029.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,922},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000030.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,956},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000031.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,0},{48,879}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,879}}</string>
			<key>sourceSize</key>
			<string>{48,879}</string>
		</dict>
		<key>obj162_000032.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,990},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000033.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1007},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000034.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,1007},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>obj162_0.png</string>
		<key>size</key>
		<string>{217,1041}</string>
		<key>textureFileName</key>
		<string>obj162_0.png</string>
	</dict>
</dict>
</plist>
