<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>obj181_001335.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,0},{48,544}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,544}}</string>
        <key>sourceSize</key>
        <string>{48,544}</string>
      </dict>
      <key>obj181_001336.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,0},{48,544}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,544}}</string>
        <key>sourceSize</key>
        <string>{48,544}</string>
      </dict>
      <key>obj181_001337.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,546},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_001338.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,580},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_001339.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,614},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_001340.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{48,960}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,960}}</string>
        <key>sourceSize</key>
        <string>{48,960}</string>
      </dict>
      <key>obj181_001341.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,546},{48,139}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,139}}</string>
        <key>sourceSize</key>
        <string>{48,139}</string>
      </dict>
      <key>obj181_001342.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,648},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_001343.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,546},{48,443}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,443}}</string>
        <key>sourceSize</key>
        <string>{48,443}</string>
      </dict>
      <key>obj181_001344.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,546},{48,149}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,149}}</string>
        <key>sourceSize</key>
        <string>{48,149}</string>
      </dict>
      <key>obj181_001345.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,0},{48,544}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,544}}</string>
        <key>sourceSize</key>
        <string>{48,544}</string>
      </dict>
      <key>obj181_001346.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,0},{48,544}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,544}}</string>
        <key>sourceSize</key>
        <string>{48,544}</string>
      </dict>
      <key>obj181_001347.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,682},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_001348.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,687},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
      <key>obj181_001349.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,697},{48,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,32}}</string>
        <key>sourceSize</key>
        <string>{48,32}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>obj181_89.png</string>
      <key>size</key>
      <string>{256,1024}</string>
      <key>textureFileName</key>
      <string>obj181_89.png</string>
    </dict>
  </dict>
</plist>