<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>obj162_000980.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,0},{48,399}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,399}}</string>
			<key>sourceSize</key>
			<string>{48,399}</string>
		</dict>
		<key>obj162_000981.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,401},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000982.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{48,510}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,510}}</string>
			<key>sourceSize</key>
			<string>{48,510}</string>
		</dict>
		<key>obj162_000983.png</key>
		<dict>
			<key>frame</key>
			<string>{{500,593},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000984.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,572},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000985.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,606},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000986.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,0},{48,405}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,405}}</string>
			<key>sourceSize</key>
			<string>{48,405}</string>
		</dict>
		<key>obj162_000987.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,606},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000988.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,572},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000989.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,0},{48,404}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,404}}</string>
			<key>sourceSize</key>
			<string>{48,404}</string>
		</dict>
		<key>obj162_000990.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,395},{48,175}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,175}}</string>
			<key>sourceSize</key>
			<string>{48,175}</string>
		</dict>
		<key>obj162_000991.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,366},{48,261}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,261}}</string>
			<key>sourceSize</key>
			<string>{48,261}</string>
		</dict>
		<key>obj162_000992.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,572},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000993.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,606},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000994.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,0},{48,389}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,389}}</string>
			<key>sourceSize</key>
			<string>{48,389}</string>
		</dict>
		<key>obj162_000995.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,606},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000996.png</key>
		<dict>
			<key>frame</key>
			<string>{{500,314},{48,277}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,277}}</string>
			<key>sourceSize</key>
			<string>{48,277}</string>
		</dict>
		<key>obj162_000997.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,572},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000998.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,572},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_000999.png</key>
		<dict>
			<key>frame</key>
			<string>{{350,0},{48,393}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,393}}</string>
			<key>sourceSize</key>
			<string>{48,393}</string>
		</dict>
		<key>obj162_001000.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,406},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_001001.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,0},{48,507}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,507}}</string>
			<key>sourceSize</key>
			<string>{48,507}</string>
		</dict>
		<key>obj162_001002.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,435},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_001003.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,469},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_001004.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,0},{48,397}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,397}}</string>
			<key>sourceSize</key>
			<string>{48,397}</string>
		</dict>
		<key>obj162_001005.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,503},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_001006.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,514},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_001007.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,0},{48,404}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,404}}</string>
			<key>sourceSize</key>
			<string>{48,404}</string>
		</dict>
		<key>obj162_001008.png</key>
		<dict>
			<key>frame</key>
			<string>{{500,0},{48,312}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,312}}</string>
			<key>sourceSize</key>
			<string>{48,312}</string>
		</dict>
		<key>obj162_001009.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,399},{48,113}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,113}}</string>
			<key>sourceSize</key>
			<string>{48,113}</string>
		</dict>
		<key>obj162_001010.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,537},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_001011.png</key>
		<dict>
			<key>frame</key>
			<string>{{300,548},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_001012.png</key>
		<dict>
			<key>frame</key>
			<string>{{450,0},{48,364}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,364}}</string>
			<key>sourceSize</key>
			<string>{48,364}</string>
		</dict>
		<key>obj162_001013.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,571},{48,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,32}}</string>
			<key>sourceSize</key>
			<string>{48,32}</string>
		</dict>
		<key>obj162_001014.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,391},{48,221}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{48,221}}</string>
			<key>sourceSize</key>
			<string>{48,221}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>obj162_28.png</string>
		<key>size</key>
		<string>{560,642}</string>
		<key>textureFileName</key>
		<string>obj162_28.png</string>
	</dict>
</dict>
</plist>
