<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>obj215_000000.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,386},{48,192}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj215_000001.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,612},{48,192}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj215_000002.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,354},{48,256}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,256}}</string>
        <key>sourceSize</key>
        <string>{48,256}</string>
      </dict>
      <key>obj215_000003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{48,384}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,384}}</string>
        <key>sourceSize</key>
        <string>{48,384}</string>
      </dict>
      <key>obj215_000004.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,904},{48,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,96}}</string>
        <key>sourceSize</key>
        <string>{48,96}</string>
      </dict>
      <key>obj215_000005.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,0},{48,384}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,384}}</string>
        <key>sourceSize</key>
        <string>{48,384}</string>
      </dict>
      <key>obj215_000006.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,774},{48,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,128}}</string>
        <key>sourceSize</key>
        <string>{48,128}</string>
      </dict>
      <key>obj215_000007.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,0},{48,384}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,384}}</string>
        <key>sourceSize</key>
        <string>{48,384}</string>
      </dict>
      <key>obj215_000008.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,580},{48,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,128}}</string>
        <key>sourceSize</key>
        <string>{48,128}</string>
      </dict>
      <key>obj215_000009.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,0},{48,384}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,384}}</string>
        <key>sourceSize</key>
        <string>{48,384}</string>
      </dict>
      <key>obj215_000010.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,612},{48,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,128}}</string>
        <key>sourceSize</key>
        <string>{48,128}</string>
      </dict>
      <key>obj215_000011.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,0},{48,384}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,384}}</string>
        <key>sourceSize</key>
        <string>{48,384}</string>
      </dict>
      <key>obj215_000012.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,386},{48,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,96}}</string>
        <key>sourceSize</key>
        <string>{48,96}</string>
      </dict>
      <key>obj215_000013.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,0},{48,384}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,384}}</string>
        <key>sourceSize</key>
        <string>{48,384}</string>
      </dict>
      <key>obj215_000014.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,872},{48,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,128}}</string>
        <key>sourceSize</key>
        <string>{48,128}</string>
      </dict>
      <key>obj215_000015.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,806},{48,192}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj215_000016.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,806},{48,192}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj215_000017.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,612},{48,192}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj215_000018.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,612},{48,192}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj215_000019.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,354},{48,224}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj215_000020.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,612},{48,224}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj215_000021.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,386},{48,224}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,224}}</string>
        <key>sourceSize</key>
        <string>{48,224}</string>
      </dict>
      <key>obj215_000022.png</key>
      <dict>
        <key>frame</key>
        <string>{{100,484},{48,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,96}}</string>
        <key>sourceSize</key>
        <string>{48,96}</string>
      </dict>
      <key>obj215_000023.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,484},{48,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,96}}</string>
        <key>sourceSize</key>
        <string>{48,96}</string>
      </dict>
      <key>obj215_000024.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,872},{48,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,128}}</string>
        <key>sourceSize</key>
        <string>{48,128}</string>
      </dict>
      <key>obj215_000025.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,838},{48,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj215_000026.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,612},{48,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj215_000027.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,386},{48,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,96}}</string>
        <key>sourceSize</key>
        <string>{48,96}</string>
      </dict>
      <key>obj215_000028.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,0},{48,384}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,384}}</string>
        <key>sourceSize</key>
        <string>{48,384}</string>
      </dict>
      <key>obj215_000029.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,806},{48,192}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj215_000030.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,0},{48,384}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,384}}</string>
        <key>sourceSize</key>
        <string>{48,384}</string>
      </dict>
      <key>obj215_000031.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,612},{48,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj215_000032.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,0},{48,352}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,352}}</string>
        <key>sourceSize</key>
        <string>{48,352}</string>
      </dict>
      <key>obj215_000033.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,0},{48,352}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,352}}</string>
        <key>sourceSize</key>
        <string>{48,352}</string>
      </dict>
      <key>obj215_000034.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,386},{48,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj215_000035.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,710},{48,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,128}}</string>
        <key>sourceSize</key>
        <string>{48,128}</string>
      </dict>
      <key>obj215_000036.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,710},{48,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,128}}</string>
        <key>sourceSize</key>
        <string>{48,128}</string>
      </dict>
      <key>obj215_000037.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,386},{48,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,96}}</string>
        <key>sourceSize</key>
        <string>{48,96}</string>
      </dict>
      <key>obj215_000038.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,742},{48,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,128}}</string>
        <key>sourceSize</key>
        <string>{48,128}</string>
      </dict>
      <key>obj215_000039.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,386},{48,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,96}}</string>
        <key>sourceSize</key>
        <string>{48,96}</string>
      </dict>
      <key>obj215_000040.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,840},{48,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,128}}</string>
        <key>sourceSize</key>
        <string>{48,128}</string>
      </dict>
      <key>obj215_000041.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,806},{48,192}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,192}}</string>
        <key>sourceSize</key>
        <string>{48,192}</string>
      </dict>
      <key>obj215_000042.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,484},{48,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,96}}</string>
        <key>sourceSize</key>
        <string>{48,96}</string>
      </dict>
      <key>obj215_000043.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,0},{48,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,64}}</string>
        <key>sourceSize</key>
        <string>{48,64}</string>
      </dict>
      <key>obj215_000044.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,386},{48,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj215_000045.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,548},{48,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj215_000046.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,0},{48,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,64}}</string>
        <key>sourceSize</key>
        <string>{48,64}</string>
      </dict>
      <key>obj215_000047.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,484},{48,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,96}}</string>
        <key>sourceSize</key>
        <string>{48,96}</string>
      </dict>
      <key>obj215_000048.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,0},{48,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,96}}</string>
        <key>sourceSize</key>
        <string>{48,96}</string>
      </dict>
      <key>obj215_000049.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,0},{48,96}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,96}}</string>
        <key>sourceSize</key>
        <string>{48,96}</string>
      </dict>
      <key>obj215_000050.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,872},{48,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,128}}</string>
        <key>sourceSize</key>
        <string>{48,128}</string>
      </dict>
      <key>obj215_000051.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,548},{48,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj215_000052.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,710},{48,160}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>obj215_0.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>obj215_0.png</string>
    </dict>
  </dict>
</plist>