<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>obj218_000000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,726},{300,200}}</string>
        <key>offset</key>
        <string>{-2,-102}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{300,200}}</string>
        <key>sourceSize</key>
        <string>{300,200}</string>
      </dict>
      <key>obj218_000001.png</key>
      <dict>
        <key>frame</key>
        <string>{{302,726},{300,200}}</string>
        <key>offset</key>
        <string>{-2,-102}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{300,200}}</string>
        <key>sourceSize</key>
        <string>{300,200}</string>
      </dict>
      <key>obj218_000002.png</key>
      <dict>
        <key>frame</key>
        <string>{{302,484},{300,200}}</string>
        <key>offset</key>
        <string>{-2,-102}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{300,200}}</string>
        <key>sourceSize</key>
        <string>{300,200}</string>
      </dict>
      <key>obj218_000003.png</key>
      <dict>
        <key>frame</key>
        <string>{{604,484},{300,200}}</string>
        <key>offset</key>
        <string>{-2,-102}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{300,200}}</string>
        <key>sourceSize</key>
        <string>{300,200}</string>
      </dict>
      <key>obj218_000004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,484},{300,200}}</string>
        <key>offset</key>
        <string>{-2,-102}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{300,200}}</string>
        <key>sourceSize</key>
        <string>{300,200}</string>
      </dict>
      <key>obj218_000005.png</key>
      <dict>
        <key>frame</key>
        <string>{{906,484},{300,200}}</string>
        <key>offset</key>
        <string>{-2,-102}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{300,200}}</string>
        <key>sourceSize</key>
        <string>{300,200}</string>
      </dict>
      <key>obj218_000006.png</key>
      <dict>
        <key>frame</key>
        <string>{{906,686},{300,200}}</string>
        <key>offset</key>
        <string>{-2,-102}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{300,200}}</string>
        <key>sourceSize</key>
        <string>{300,200}</string>
      </dict>
      <key>obj218_000007.png</key>
      <dict>
        <key>frame</key>
        <string>{{604,686},{300,200}}</string>
        <key>offset</key>
        <string>{-2,-102}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{300,200}}</string>
        <key>sourceSize</key>
        <string>{300,200}</string>
      </dict>
      <key>obj218_000008.png</key>
      <dict>
        <key>frame</key>
        <string>{{604,888},{300,200}}</string>
        <key>offset</key>
        <string>{-2,-102}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{300,200}}</string>
        <key>sourceSize</key>
        <string>{300,200}</string>
      </dict>
      <key>obj218_000009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1208,726},{300,200}}</string>
        <key>offset</key>
        <string>{-2,-102}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{300,200}}</string>
        <key>sourceSize</key>
        <string>{300,200}</string>
      </dict>
      <key>obj218_000010.png</key>
      <dict>
        <key>frame</key>
        <string>{{906,888},{300,200}}</string>
        <key>offset</key>
        <string>{-2,-102}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{300,200}}</string>
        <key>sourceSize</key>
        <string>{300,200}</string>
      </dict>
      <key>obj218_000011.png</key>
      <dict>
        <key>frame</key>
        <string>{{1208,928},{300,200}}</string>
        <key>offset</key>
        <string>{-2,-102}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{300,200}}</string>
        <key>sourceSize</key>
        <string>{300,200}</string>
      </dict>
      <key>obj218_000012.png</key>
      <dict>
        <key>frame</key>
        <string>{{1510,968},{300,200}}</string>
        <key>offset</key>
        <string>{-2,-102}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{300,200}}</string>
        <key>sourceSize</key>
        <string>{300,200}</string>
      </dict>
      <key>obj218_000013.png</key>
      <dict>
        <key>frame</key>
        <string>{{322,1090},{300,200}}</string>
        <key>offset</key>
        <string>{-2,-102}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{300,200}}</string>
        <key>sourceSize</key>
        <string>{300,200}</string>
      </dict>
      <key>obj218_000014.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1210},{300,200}}</string>
        <key>offset</key>
        <string>{-2,-102}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{300,200}}</string>
        <key>sourceSize</key>
        <string>{300,200}</string>
      </dict>
      <key>obj218_000015.png</key>
      <dict>
        <key>frame</key>
        <string>{{624,1090},{300,200}}</string>
        <key>offset</key>
        <string>{-2,-102}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{300,200}}</string>
        <key>sourceSize</key>
        <string>{300,200}</string>
      </dict>
      <key>obj218_000016.png</key>
      <dict>
        <key>frame</key>
        <string>{{926,1130},{300,200}}</string>
        <key>offset</key>
        <string>{-2,-102}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{300,200}}</string>
        <key>sourceSize</key>
        <string>{300,200}</string>
      </dict>
      <key>obj218_000017.png</key>
      <dict>
        <key>frame</key>
        <string>{{302,1292},{300,200}}</string>
        <key>offset</key>
        <string>{-2,-102}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{300,200}}</string>
        <key>sourceSize</key>
        <string>{300,200}</string>
      </dict>
      <key>obj218_000018.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1412},{300,200}}</string>
        <key>offset</key>
        <string>{-2,-102}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{300,200}}</string>
        <key>sourceSize</key>
        <string>{300,200}</string>
      </dict>
      <key>obj218_000019.png</key>
      <dict>
        <key>frame</key>
        <string>{{604,1292},{300,200}}</string>
        <key>offset</key>
        <string>{-2,-102}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{300,200}}</string>
        <key>sourceSize</key>
        <string>{300,200}</string>
      </dict>
      <key>obj218_000020.png</key>
      <dict>
        <key>frame</key>
        <string>{{1208,484},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>obj218_000021.png</key>
      <dict>
        <key>frame</key>
        <string>{{1208,550},{64,64}}</string>
        <key>offset</key>
        <string>{-2,2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>obj218_000022.png</key>
      <dict>
        <key>frame</key>
        <string>{{1208,616},{64,64}}</string>
        <key>offset</key>
        <string>{-2,2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>obj218_000023.png</key>
      <dict>
        <key>frame</key>
        <string>{{1510,726},{64,64}}</string>
        <key>offset</key>
        <string>{-2,2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>obj218_000024.png</key>
      <dict>
        <key>frame</key>
        <string>{{1510,792},{64,64}}</string>
        <key>offset</key>
        <string>{-2,2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>obj218_000025.png</key>
      <dict>
        <key>frame</key>
        <string>{{1510,858},{64,64}}</string>
        <key>offset</key>
        <string>{-2,2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>obj218_000026.png</key>
      <dict>
        <key>frame</key>
        <string>{{1932,726},{64,64}}</string>
        <key>offset</key>
        <string>{-2,2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>obj218_000027.png</key>
      <dict>
        <key>frame</key>
        <string>{{1932,792},{64,64}}</string>
        <key>offset</key>
        <string>{-2,2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>obj218_000028.png</key>
      <dict>
        <key>frame</key>
        <string>{{1932,858},{64,64}}</string>
        <key>offset</key>
        <string>{-2,2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>obj218_000029.png</key>
      <dict>
        <key>frame</key>
        <string>{{1932,924},{64,64}}</string>
        <key>offset</key>
        <string>{-2,2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>obj218_000030.png</key>
      <dict>
        <key>frame</key>
        <string>{{1932,0},{64,64}}</string>
        <key>offset</key>
        <string>{-2,2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>obj218_000031.png</key>
      <dict>
        <key>frame</key>
        <string>{{1932,66},{64,64}}</string>
        <key>offset</key>
        <string>{-2,2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>obj218_000032.png</key>
      <dict>
        <key>frame</key>
        <string>{{1932,132},{64,64}}</string>
        <key>offset</key>
        <string>{-2,2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>obj218_000033.png</key>
      <dict>
        <key>frame</key>
        <string>{{1932,198},{64,64}}</string>
        <key>offset</key>
        <string>{-2,2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>obj218_000034.png</key>
      <dict>
        <key>frame</key>
        <string>{{1932,264},{64,64}}</string>
        <key>offset</key>
        <string>{-2,2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>obj218_000035.png</key>
      <dict>
        <key>frame</key>
        <string>{{1932,330},{64,64}}</string>
        <key>offset</key>
        <string>{-2,2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>obj218_000036.png</key>
      <dict>
        <key>frame</key>
        <string>{{1932,396},{64,64}}</string>
        <key>offset</key>
        <string>{-2,2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>obj218_000037.png</key>
      <dict>
        <key>frame</key>
        <string>{{1932,462},{64,64}}</string>
        <key>offset</key>
        <string>{-2,2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>obj218_000038.png</key>
      <dict>
        <key>frame</key>
        <string>{{1932,528},{64,64}}</string>
        <key>offset</key>
        <string>{-2,2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>obj218_000039.png</key>
      <dict>
        <key>frame</key>
        <string>{{1932,594},{64,64}}</string>
        <key>offset</key>
        <string>{-2,2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>obj218_000040.png</key>
      <dict>
        <key>frame</key>
        <string>{{1932,660},{64,64}}</string>
        <key>offset</key>
        <string>{-2,2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>obj218_000041.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{320,240}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{320,240}}</string>
        <key>sourceSize</key>
        <string>{320,240}</string>
      </dict>
      <key>obj218_000042.png</key>
      <dict>
        <key>frame</key>
        <string>{{322,0},{320,240}}</string>
        <key>offset</key>
        <string>{-2,-142}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{320,240}}</string>
        <key>sourceSize</key>
        <string>{320,240}</string>
      </dict>
      <key>obj218_000043.png</key>
      <dict>
        <key>frame</key>
        <string>{{644,0},{320,240}}</string>
        <key>offset</key>
        <string>{-2,-142}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{320,240}}</string>
        <key>sourceSize</key>
        <string>{320,240}</string>
      </dict>
      <key>obj218_000044.png</key>
      <dict>
        <key>frame</key>
        <string>{{966,0},{320,240}}</string>
        <key>offset</key>
        <string>{-2,-142}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{320,240}}</string>
        <key>sourceSize</key>
        <string>{320,240}</string>
      </dict>
      <key>obj218_000045.png</key>
      <dict>
        <key>frame</key>
        <string>{{1288,0},{320,240}}</string>
        <key>offset</key>
        <string>{-2,-142}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{320,240}}</string>
        <key>sourceSize</key>
        <string>{320,240}</string>
      </dict>
      <key>obj218_000046.png</key>
      <dict>
        <key>frame</key>
        <string>{{1610,0},{320,240}}</string>
        <key>offset</key>
        <string>{-2,-142}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{320,240}}</string>
        <key>sourceSize</key>
        <string>{320,240}</string>
      </dict>
      <key>obj218_000047.png</key>
      <dict>
        <key>frame</key>
        <string>{{1610,242},{320,240}}</string>
        <key>offset</key>
        <string>{-2,-142}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{320,240}}</string>
        <key>sourceSize</key>
        <string>{320,240}</string>
      </dict>
      <key>obj218_000048.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,242},{320,240}}</string>
        <key>offset</key>
        <string>{-2,-142}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{320,240}}</string>
        <key>sourceSize</key>
        <string>{320,240}</string>
      </dict>
      <key>obj218_000049.png</key>
      <dict>
        <key>frame</key>
        <string>{{322,242},{320,240}}</string>
        <key>offset</key>
        <string>{-2,-142}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{320,240}}</string>
        <key>sourceSize</key>
        <string>{320,240}</string>
      </dict>
      <key>obj218_000050.png</key>
      <dict>
        <key>frame</key>
        <string>{{644,242},{320,240}}</string>
        <key>offset</key>
        <string>{-2,-142}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{320,240}}</string>
        <key>sourceSize</key>
        <string>{320,240}</string>
      </dict>
      <key>obj218_000051.png</key>
      <dict>
        <key>frame</key>
        <string>{{966,242},{320,240}}</string>
        <key>offset</key>
        <string>{-4,-74}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{320,240}}</string>
        <key>sourceSize</key>
        <string>{320,240}</string>
      </dict>
      <key>obj218_000052.png</key>
      <dict>
        <key>frame</key>
        <string>{{1288,242},{320,240}}</string>
        <key>offset</key>
        <string>{-4,-74}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{320,240}}</string>
        <key>sourceSize</key>
        <string>{320,240}</string>
      </dict>
      <key>obj218_000053.png</key>
      <dict>
        <key>frame</key>
        <string>{{1288,484},{320,240}}</string>
        <key>offset</key>
        <string>{-4,-74}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{320,240}}</string>
        <key>sourceSize</key>
        <string>{320,240}</string>
      </dict>
      <key>obj218_000054.png</key>
      <dict>
        <key>frame</key>
        <string>{{1610,484},{320,240}}</string>
        <key>offset</key>
        <string>{-4,-74}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{320,240}}</string>
        <key>sourceSize</key>
        <string>{320,240}</string>
      </dict>
      <key>obj218_000055.png</key>
      <dict>
        <key>frame</key>
        <string>{{1610,726},{320,240}}</string>
        <key>offset</key>
        <string>{-4,-74}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{320,240}}</string>
        <key>sourceSize</key>
        <string>{320,240}</string>
      </dict>
      <key>obj218_000056.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,968},{320,240}}</string>
        <key>offset</key>
        <string>{-4,-74}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{320,240}}</string>
        <key>sourceSize</key>
        <string>{320,240}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>obj218_0.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>obj218_0.png</string>
    </dict>
  </dict>
</plist>