<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>obj213_000225.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{48,160}}</string>
        <key>offset</key>
        <string>{5,-18}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,160}}</string>
        <key>sourceSize</key>
        <string>{48,160}</string>
      </dict>
      <key>obj213_000226.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,0},{1,1}}</string>
        <key>offset</key>
        <string>{5,141}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>obj213_000227.png</key>
      <dict>
        <key>frame</key>
        <string>{{53,0},{1,1}}</string>
        <key>offset</key>
        <string>{5,141}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>obj213_3.png</string>
      <key>size</key>
      <string>{64,256}</string>
      <key>textureFileName</key>
      <string>obj213_3.png</string>
    </dict>
  </dict>
</plist>