<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_20024_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1151,959},{171,320}}</string>
        <key>offset</key>
        <string>{-52,260}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{171,320}}</string>
        <key>sourceSize</key>
        <string>{171,320}</string>
      </dict>
      <key>monster_20024_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1270,333},{210,318}}</string>
        <key>offset</key>
        <string>{-31,258}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{210,318}}</string>
        <key>sourceSize</key>
        <string>{210,318}</string>
      </dict>
      <key>monster_20024_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{801,1074},{190,320}}</string>
        <key>offset</key>
        <string>{-93,260}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{190,320}}</string>
        <key>sourceSize</key>
        <string>{190,320}</string>
      </dict>
      <key>monster_20024_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1292,1132},{225,309}}</string>
        <key>offset</key>
        <string>{-90,250}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{225,309}}</string>
        <key>sourceSize</key>
        <string>{225,309}</string>
      </dict>
      <key>monster_20024_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{755,665},{407,394}}</string>
        <key>offset</key>
        <string>{-122,265}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{407,394}}</string>
        <key>sourceSize</key>
        <string>{407,394}</string>
      </dict>
      <key>monster_20024_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{717,291},{551,372}}</string>
        <key>offset</key>
        <string>{-201,243}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{551,372}}</string>
        <key>sourceSize</key>
        <string>{551,372}</string>
      </dict>
      <key>monster_20024_0_2_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{342,0},{618,373}}</string>
        <key>offset</key>
        <string>{-207,244}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{618,373}}</string>
        <key>sourceSize</key>
        <string>{618,373}</string>
      </dict>
      <key>monster_20024_0_2_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{384,665},{507,369}}</string>
        <key>offset</key>
        <string>{-72,251}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{507,369}}</string>
        <key>sourceSize</key>
        <string>{507,369}</string>
      </dict>
      <key>monster_20024_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1332,0},{196,331}}</string>
        <key>offset</key>
        <string>{-110,269}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,331}}</string>
        <key>sourceSize</key>
        <string>{196,331}</string>
      </dict>
      <key>monster_20024_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1151,665},{292,322}}</string>
        <key>offset</key>
        <string>{-96,262}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{292,322}}</string>
        <key>sourceSize</key>
        <string>{292,322}</string>
      </dict>
      <key>monster_20024_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1123,1132},{167,318}}</string>
        <key>offset</key>
        <string>{-58,259}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,318}}</string>
        <key>sourceSize</key>
        <string>{167,318}</string>
      </dict>
      <key>monster_20024_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{801,1266},{180,309}}</string>
        <key>offset</key>
        <string>{-69,250}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,309}}</string>
        <key>sourceSize</key>
        <string>{180,309}</string>
      </dict>
      <key>monster_20024_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{384,1174},{415,318}}</string>
        <key>offset</key>
        <string>{-84,260}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{415,318}}</string>
        <key>sourceSize</key>
        <string>{415,318}</string>
      </dict>
      <key>monster_20024_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{717,0},{613,289}}</string>
        <key>offset</key>
        <string>{-214,205}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{613,289}}</string>
        <key>sourceSize</key>
        <string>{613,289}</string>
      </dict>
      <key>monster_20024_0_2_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{748,340}}</string>
        <key>offset</key>
        <string>{-260,209}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{748,340}}</string>
        <key>sourceSize</key>
        <string>{748,340}</string>
      </dict>
      <key>monster_20024_0_2_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,750},{665,382}}</string>
        <key>offset</key>
        <string>{-153,240}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{665,382}}</string>
        <key>sourceSize</key>
        <string>{665,382}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_20024_0_2_1.png</string>
      <key>size</key>
      <string>{1626,1690}</string>
      <key>textureFileName</key>
      <string>monster_20024_0_2_1.png</string>
    </dict>
  </dict>
</plist>