<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_1032_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{618,151},{136,144}}</string>
        <key>offset</key>
        <string>{-15,114}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,144}}</string>
        <key>sourceSize</key>
        <string>{136,144}</string>
      </dict>
      <key>monster_1032_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{667,800},{133,117}}</string>
        <key>offset</key>
        <string>{-11,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,117}}</string>
        <key>sourceSize</key>
        <string>{133,117}</string>
      </dict>
      <key>monster_1032_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{733,297},{128,102}}</string>
        <key>offset</key>
        <string>{-47,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,102}}</string>
        <key>sourceSize</key>
        <string>{128,102}</string>
      </dict>
      <key>monster_1032_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{837,343},{126,104}}</string>
        <key>offset</key>
        <string>{-40,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,104}}</string>
        <key>sourceSize</key>
        <string>{126,104}</string>
      </dict>
      <key>monster_1032_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{840,114},{137,106}}</string>
        <key>offset</key>
        <string>{-18,84}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,106}}</string>
        <key>sourceSize</key>
        <string>{137,106}</string>
      </dict>
      <key>monster_1032_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{234,387},{163,108}}</string>
        <key>offset</key>
        <string>{-82,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,108}}</string>
        <key>sourceSize</key>
        <string>{163,108}</string>
      </dict>
      <key>monster_1032_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{177,915},{163,106}}</string>
        <key>offset</key>
        <string>{-12,75}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,106}}</string>
        <key>sourceSize</key>
        <string>{163,106}</string>
      </dict>
      <key>monster_1032_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{786,758},{89,102}}</string>
        <key>offset</key>
        <string>{-12,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{89,102}}</string>
        <key>sourceSize</key>
        <string>{89,102}</string>
      </dict>
      <key>monster_1032_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{506,876},{159,117}}</string>
        <key>offset</key>
        <string>{-87,85}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,117}}</string>
        <key>sourceSize</key>
        <string>{159,117}</string>
      </dict>
      <key>monster_1032_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{342,902},{162,110}}</string>
        <key>offset</key>
        <string>{-113,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{162,110}}</string>
        <key>sourceSize</key>
        <string>{162,110}</string>
      </dict>
      <key>monster_1032_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{134,570},{174,87}}</string>
        <key>offset</key>
        <string>{-72,72}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{174,87}}</string>
        <key>sourceSize</key>
        <string>{174,87}</string>
      </dict>
      <key>monster_1032_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{801,546},{109,112}}</string>
        <key>offset</key>
        <string>{-19,97}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,112}}</string>
        <key>sourceSize</key>
        <string>{109,112}</string>
      </dict>
      <key>monster_1032_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{840,0},{138,112}}</string>
        <key>offset</key>
        <string>{-19,81}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,112}}</string>
        <key>sourceSize</key>
        <string>{138,112}</string>
      </dict>
      <key>monster_1032_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{915,562},{90,108}}</string>
        <key>offset</key>
        <string>{-14,81}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,108}}</string>
        <key>sourceSize</key>
        <string>{90,108}</string>
      </dict>
      <key>monster_1032_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{177,746},{139,167}}</string>
        <key>offset</key>
        <string>{-65,139}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,167}}</string>
        <key>sourceSize</key>
        <string>{139,167}</string>
      </dict>
      <key>monster_1032_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{334,552},{160,146}}</string>
        <key>offset</key>
        <string>{-109,115}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,146}}</string>
        <key>sourceSize</key>
        <string>{160,146}</string>
      </dict>
      <key>monster_1032_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{499,313},{147,102}}</string>
        <key>offset</key>
        <string>{-83,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,102}}</string>
        <key>sourceSize</key>
        <string>{147,102}</string>
      </dict>
      <key>monster_1032_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{482,501},{148,113}}</string>
        <key>offset</key>
        <string>{-15,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,113}}</string>
        <key>sourceSize</key>
        <string>{148,113}</string>
      </dict>
      <key>monster_1032_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{801,449},{95,113}}</string>
        <key>offset</key>
        <string>{-17,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,113}}</string>
        <key>sourceSize</key>
        <string>{95,113}</string>
      </dict>
      <key>monster_1032_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{837,222},{119,128}}</string>
        <key>offset</key>
        <string>{-40,104}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,128}}</string>
        <key>sourceSize</key>
        <string>{119,128}</string>
      </dict>
      <key>monster_1032_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,199},{112,188}}</string>
        <key>offset</key>
        <string>{-24,169}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,188}}</string>
        <key>sourceSize</key>
        <string>{112,188}</string>
      </dict>
      <key>monster_1032_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{132,387},{100,181}}</string>
        <key>offset</key>
        <string>{-33,167}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,181}}</string>
        <key>sourceSize</key>
        <string>{100,181}</string>
      </dict>
      <key>monster_1032_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{626,0},{112,144}}</string>
        <key>offset</key>
        <string>{-38,116}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,144}}</string>
        <key>sourceSize</key>
        <string>{112,144}</string>
      </dict>
      <key>monster_1032_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{293,186},{157,106}}</string>
        <key>offset</key>
        <string>{2,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{157,106}}</string>
        <key>sourceSize</key>
        <string>{157,106}</string>
      </dict>
      <key>monster_1032_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{916,449},{111,97}}</string>
        <key>offset</key>
        <string>{-31,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,97}}</string>
        <key>sourceSize</key>
        <string>{111,97}</string>
      </dict>
      <key>monster_1032_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{368,0},{116,157}}</string>
        <key>offset</key>
        <string>{-36,137}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,157}}</string>
        <key>sourceSize</key>
        <string>{116,157}</string>
      </dict>
      <key>monster_1032_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,762},{179,175}}</string>
        <key>offset</key>
        <string>{-23,154}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{179,175}}</string>
        <key>sourceSize</key>
        <string>{179,175}</string>
      </dict>
      <key>monster_1032_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{114,199},{177,186}}</string>
        <key>offset</key>
        <string>{-20,165}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{177,186}}</string>
        <key>sourceSize</key>
        <string>{177,186}</string>
      </dict>
      <key>monster_1032_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{486,0},{138,149}}</string>
        <key>offset</key>
        <string>{-35,126}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,149}}</string>
        <key>sourceSize</key>
        <string>{138,149}</string>
      </dict>
      <key>monster_1032_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{401,159},{152,98}}</string>
        <key>offset</key>
        <string>{-19,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,98}}</string>
        <key>sourceSize</key>
        <string>{152,98}</string>
      </dict>
      <key>monster_1032_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{435,714},{160,108}}</string>
        <key>offset</key>
        <string>{-83,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,108}}</string>
        <key>sourceSize</key>
        <string>{160,108}</string>
      </dict>
      <key>monster_1032_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{279,0},{87,184}}</string>
        <key>offset</key>
        <string>{-3,157}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,184}}</string>
        <key>sourceSize</key>
        <string>{87,184}</string>
      </dict>
      <key>monster_1032_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{145,0},{186,132}}</string>
        <key>offset</key>
        <string>{-7,105}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{186,132}}</string>
        <key>sourceSize</key>
        <string>{186,132}</string>
      </dict>
      <key>monster_1032_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{197,143}}</string>
        <key>offset</key>
        <string>{10,116}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{197,143}}</string>
        <key>sourceSize</key>
        <string>{197,143}</string>
      </dict>
      <key>monster_1032_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,389},{187,130}}</string>
        <key>offset</key>
        <string>{-30,103}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{187,130}}</string>
        <key>sourceSize</key>
        <string>{187,130}</string>
      </dict>
      <key>monster_1032_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{685,610},{112,131}}</string>
        <key>offset</key>
        <string>{-33,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,131}}</string>
        <key>sourceSize</key>
        <string>{112,131}</string>
      </dict>
      <key>monster_1032_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{501,151},{147,115}}</string>
        <key>offset</key>
        <string>{-71,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,115}}</string>
        <key>sourceSize</key>
        <string>{147,115}</string>
      </dict>
      <key>monster_1032_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,578},{132,182}}</string>
        <key>offset</key>
        <string>{-10,153}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,182}}</string>
        <key>sourceSize</key>
        <string>{132,182}</string>
      </dict>
      <key>monster_1032_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{740,0},{143,98}}</string>
        <key>offset</key>
        <string>{-9,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,98}}</string>
        <key>sourceSize</key>
        <string>{143,98}</string>
      </dict>
      <key>monster_1032_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{318,737},{163,115}}</string>
        <key>offset</key>
        <string>{7,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,115}}</string>
        <key>sourceSize</key>
        <string>{163,115}</string>
      </dict>
      <key>monster_1032_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{545,651},{147,138}}</string>
        <key>offset</key>
        <string>{2,109}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,138}}</string>
        <key>sourceSize</key>
        <string>{147,138}</string>
      </dict>
      <key>monster_1032_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{603,300},{145,128}}</string>
        <key>offset</key>
        <string>{-74,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,128}}</string>
        <key>sourceSize</key>
        <string>{145,128}</string>
      </dict>
      <key>monster_1032_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{597,462},{90,146}}</string>
        <key>offset</key>
        <string>{-7,120}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,146}}</string>
        <key>sourceSize</key>
        <string>{90,146}</string>
      </dict>
      <key>monster_1032_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{344,345},{154,153}}</string>
        <key>offset</key>
        <string>{-14,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,153}}</string>
        <key>sourceSize</key>
        <string>{154,153}</string>
      </dict>
      <key>monster_1032_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{906,672},{104,88}}</string>
        <key>offset</key>
        <string>{-10,62}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,88}}</string>
        <key>sourceSize</key>
        <string>{104,88}</string>
      </dict>
      <key>monster_1032_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{799,657},{105,99}}</string>
        <key>offset</key>
        <string>{-1,66}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,99}}</string>
        <key>sourceSize</key>
        <string>{105,99}</string>
      </dict>
      <key>monster_1032_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{689,447},{110,131}}</string>
        <key>offset</key>
        <string>{-7,106}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,131}}</string>
        <key>sourceSize</key>
        <string>{110,131}</string>
      </dict>
      <key>monster_1032_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{223,570},{165,109}}</string>
        <key>offset</key>
        <string>{-106,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{165,109}}</string>
        <key>sourceSize</key>
        <string>{165,109}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_1032_0_2.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>monster_1032_0_2.png</string>
    </dict>
  </dict>
</plist>