<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_1080_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{81,153},{79,131}}</string>
        <key>offset</key>
        <string>{0,51}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,131}}</string>
        <key>sourceSize</key>
        <string>{79,131}</string>
      </dict>
      <key>monster_1080_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,153},{79,141}}</string>
        <key>offset</key>
        <string>{1,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,141}}</string>
        <key>sourceSize</key>
        <string>{79,141}</string>
      </dict>
      <key>monster_1080_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{325,113},{115,119}}</string>
        <key>offset</key>
        <string>{-37,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,119}}</string>
        <key>sourceSize</key>
        <string>{115,119}</string>
      </dict>
      <key>monster_1080_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{201,0},{122,124}}</string>
        <key>offset</key>
        <string>{-39,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{122,124}}</string>
        <key>sourceSize</key>
        <string>{122,124}</string>
      </dict>
      <key>monster_1080_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,296},{139,94}}</string>
        <key>offset</key>
        <string>{-59,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,94}}</string>
        <key>sourceSize</key>
        <string>{139,94}</string>
      </dict>
      <key>monster_1080_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{151,97}}</string>
        <key>offset</key>
        <string>{-62,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,97}}</string>
        <key>sourceSize</key>
        <string>{151,97}</string>
      </dict>
      <key>monster_1080_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{311,230},{109,114}}</string>
        <key>offset</key>
        <string>{-33,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,114}}</string>
        <key>sourceSize</key>
        <string>{109,114}</string>
      </dict>
      <key>monster_1080_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{217,379},{116,112}}</string>
        <key>offset</key>
        <string>{-34,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,112}}</string>
        <key>sourceSize</key>
        <string>{116,112}</string>
      </dict>
      <key>monster_1080_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,415},{78,119}}</string>
        <key>offset</key>
        <string>{0,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,119}}</string>
        <key>sourceSize</key>
        <string>{78,119}</string>
      </dict>
      <key>monster_1080_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{422,230},{79,113}}</string>
        <key>offset</key>
        <string>{0,62}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,113}}</string>
        <key>sourceSize</key>
        <string>{79,113}</string>
      </dict>
      <key>monster_1080_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{202,260},{117,107}}</string>
        <key>offset</key>
        <string>{-10,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,107}}</string>
        <key>sourceSize</key>
        <string>{117,107}</string>
      </dict>
      <key>monster_1080_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{331,346},{106,105}}</string>
        <key>offset</key>
        <string>{-10,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,105}}</string>
        <key>sourceSize</key>
        <string>{106,105}</string>
      </dict>
      <key>monster_1080_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{162,133},{125,97}}</string>
        <key>offset</key>
        <string>{-14,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,97}}</string>
        <key>sourceSize</key>
        <string>{125,97}</string>
      </dict>
      <key>monster_1080_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{99,0},{131,100}}</string>
        <key>offset</key>
        <string>{-14,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,100}}</string>
        <key>sourceSize</key>
        <string>{131,100}</string>
      </dict>
      <key>monster_1080_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{325,0},{111,123}}</string>
        <key>offset</key>
        <string>{-4,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,123}}</string>
        <key>sourceSize</key>
        <string>{111,123}</string>
      </dict>
      <key>monster_1080_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,286},{104,127}}</string>
        <key>offset</key>
        <string>{-6,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,127}}</string>
        <key>sourceSize</key>
        <string>{104,127}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_1080_0_7.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>monster_1080_0_7.png</string>
    </dict>
  </dict>
</plist>