<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_20028_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{545,483},{141,267}}</string>
        <key>offset</key>
        <string>{-61,230}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,267}}</string>
        <key>sourceSize</key>
        <string>{141,267}</string>
      </dict>
      <key>monster_20028_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,730},{183,266}}</string>
        <key>offset</key>
        <string>{-89,233}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{183,266}}</string>
        <key>sourceSize</key>
        <string>{183,266}</string>
      </dict>
      <key>monster_20028_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,531},{197,268}}</string>
        <key>offset</key>
        <string>{-95,231}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{197,268}}</string>
        <key>sourceSize</key>
        <string>{197,268}</string>
      </dict>
      <key>monster_20028_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{504,996},{186,262}}</string>
        <key>offset</key>
        <string>{-84,231}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{186,262}}</string>
        <key>sourceSize</key>
        <string>{186,262}</string>
      </dict>
      <key>monster_20028_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,352},{177,272}}</string>
        <key>offset</key>
        <string>{-82,233}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{177,272}}</string>
        <key>sourceSize</key>
        <string>{177,272}</string>
      </dict>
      <key>monster_20028_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{270,602},{143,267}}</string>
        <key>offset</key>
        <string>{-61,230}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,267}}</string>
        <key>sourceSize</key>
        <string>{143,267}</string>
      </dict>
      <key>monster_20028_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{274,359},{119,269}}</string>
        <key>offset</key>
        <string>{-16,222}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,269}}</string>
        <key>sourceSize</key>
        <string>{119,269}</string>
      </dict>
      <key>monster_20028_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,234},{116,285}}</string>
        <key>offset</key>
        <string>{-10,229}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,285}}</string>
        <key>sourceSize</key>
        <string>{116,285}</string>
      </dict>
      <key>monster_20028_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{605,0},{122,297}}</string>
        <key>offset</key>
        <string>{-16,229}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{122,297}}</string>
        <key>sourceSize</key>
        <string>{122,297}</string>
      </dict>
      <key>monster_20028_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{303,103},{127,294}}</string>
        <key>offset</key>
        <string>{-18,229}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,294}}</string>
        <key>sourceSize</key>
        <string>{127,294}</string>
      </dict>
      <key>monster_20028_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{116,301}}</string>
        <key>offset</key>
        <string>{-10,229}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,301}}</string>
        <key>sourceSize</key>
        <string>{116,301}</string>
      </dict>
      <key>monster_20028_0_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{274,480},{120,269}}</string>
        <key>offset</key>
        <string>{-15,223}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,269}}</string>
        <key>sourceSize</key>
        <string>{120,269}</string>
      </dict>
      <key>monster_20028_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{856,290},{222,256}}</string>
        <key>offset</key>
        <string>{-121,211}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{222,256}}</string>
        <key>sourceSize</key>
        <string>{222,256}</string>
      </dict>
      <key>monster_20028_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{692,825},{178,258}}</string>
        <key>offset</key>
        <string>{-75,215}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{178,258}}</string>
        <key>sourceSize</key>
        <string>{178,258}</string>
      </dict>
      <key>monster_20028_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{295,232},{125,287}}</string>
        <key>offset</key>
        <string>{-17,216}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,287}}</string>
        <key>sourceSize</key>
        <string>{125,287}</string>
      </dict>
      <key>monster_20028_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{303,0},{101,300}}</string>
        <key>offset</key>
        <string>{-5,216}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,300}}</string>
        <key>sourceSize</key>
        <string>{101,300}</string>
      </dict>
      <key>monster_20028_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,118},{114,293}}</string>
        <key>offset</key>
        <string>{-11,215}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,293}}</string>
        <key>sourceSize</key>
        <string>{114,293}</string>
      </dict>
      <key>monster_20028_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{886,0},{221,256}}</string>
        <key>offset</key>
        <string>{-120,211}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{221,256}}</string>
        <key>sourceSize</key>
        <string>{221,256}</string>
      </dict>
      <key>monster_20028_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,915},{247,264}}</string>
        <key>offset</key>
        <string>{-140,214}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{247,264}}</string>
        <key>sourceSize</key>
        <string>{247,264}</string>
      </dict>
      <key>monster_20028_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{266,996},{236,263}}</string>
        <key>offset</key>
        <string>{-128,218}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{236,263}}</string>
        <key>sourceSize</key>
        <string>{236,263}</string>
      </dict>
      <key>monster_20028_0_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{539,626},{197,266}}</string>
        <key>offset</key>
        <string>{-90,218}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{197,266}}</string>
        <key>sourceSize</key>
        <string>{197,266}</string>
      </dict>
      <key>monster_20028_0_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{729,0},{155,288}}</string>
        <key>offset</key>
        <string>{-48,217}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,288}}</string>
        <key>sourceSize</key>
        <string>{155,288}</string>
      </dict>
      <key>monster_20028_0_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{584,299},{182,270}}</string>
        <key>offset</key>
        <string>{-74,218}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{182,270}}</string>
        <key>sourceSize</key>
        <string>{182,270}</string>
      </dict>
      <key>monster_20028_0_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{268,747},{247,265}}</string>
        <key>offset</key>
        <string>{-139,215}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{247,265}}</string>
        <key>sourceSize</key>
        <string>{247,265}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_20028_0_1_1.png</string>
      <key>size</key>
      <string>{1118,1280}</string>
      <key>textureFileName</key>
      <string>monster_20028_0_1_1.png</string>
    </dict>
  </dict>
</plist>