<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_20041_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{378,0},{87,117}}</string>
        <key>offset</key>
        <string>{-18,87}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,117}}</string>
        <key>sourceSize</key>
        <string>{87,117}</string>
      </dict>
      <key>monster_20041_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{370,391},{87,95}}</string>
        <key>offset</key>
        <string>{-22,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,95}}</string>
        <key>sourceSize</key>
        <string>{87,95}</string>
      </dict>
      <key>monster_20041_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{252,269},{120,121}}</string>
        <key>offset</key>
        <string>{-55,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,121}}</string>
        <key>sourceSize</key>
        <string>{120,121}</string>
      </dict>
      <key>monster_20041_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,312},{121,105}}</string>
        <key>offset</key>
        <string>{-75,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,105}}</string>
        <key>sourceSize</key>
        <string>{121,105}</string>
      </dict>
      <key>monster_20041_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{278,141},{94,126}}</string>
        <key>offset</key>
        <string>{-38,96}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,126}}</string>
        <key>sourceSize</key>
        <string>{94,126}</string>
      </dict>
      <key>monster_20041_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{128,199},{111,122}}</string>
        <key>offset</key>
        <string>{-62,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,122}}</string>
        <key>sourceSize</key>
        <string>{111,122}</string>
      </dict>
      <key>monster_20041_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,89},{59,137}}</string>
        <key>offset</key>
        <string>{-3,114}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,137}}</string>
        <key>sourceSize</key>
        <string>{59,137}</string>
      </dict>
      <key>monster_20041_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{147,0},{67,139}}</string>
        <key>offset</key>
        <string>{-14,118}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,139}}</string>
        <key>sourceSize</key>
        <string>{67,139}</string>
      </dict>
      <key>monster_20041_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{288,0},{88,139}}</string>
        <key>offset</key>
        <string>{-23,111}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,139}}</string>
        <key>sourceSize</key>
        <string>{88,139}</string>
      </dict>
      <key>monster_20041_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{87,145}}</string>
        <key>offset</key>
        <string>{-19,117}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,145}}</string>
        <key>sourceSize</key>
        <string>{87,145}</string>
      </dict>
      <key>monster_20041_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{139,138},{59,137}}</string>
        <key>offset</key>
        <string>{-3,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,137}}</string>
        <key>sourceSize</key>
        <string>{59,137}</string>
      </dict>
      <key>monster_20041_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{147,69},{67,139}}</string>
        <key>offset</key>
        <string>{0,116}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{67,139}}</string>
        <key>sourceSize</key>
        <string>{67,139}</string>
      </dict>
      <key>monster_20041_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,150},{94,126}}</string>
        <key>offset</key>
        <string>{-8,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{94,126}}</string>
        <key>sourceSize</key>
        <string>{94,126}</string>
      </dict>
      <key>monster_20041_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,246},{111,122}}</string>
        <key>offset</key>
        <string>{-1,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,122}}</string>
        <key>sourceSize</key>
        <string>{111,122}</string>
      </dict>
      <key>monster_20041_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,359},{121,105}}</string>
        <key>offset</key>
        <string>{-6,66}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,105}}</string>
        <key>sourceSize</key>
        <string>{121,105}</string>
      </dict>
      <key>monster_20041_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{247,391},{121,109}}</string>
        <key>offset</key>
        <string>{-15,73}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,109}}</string>
        <key>sourceSize</key>
        <string>{121,109}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_20041_0_7.png</string>
      <key>size</key>
      <string>{470,512}</string>
      <key>textureFileName</key>
      <string>monster_20041_0_7.png</string>
    </dict>
  </dict>
</plist>