<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_40095_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1617,324},{308,319}}</string>
        <key>offset</key>
        <string>{-152,228}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{308,319}}</string>
        <key>sourceSize</key>
        <string>{308,319}</string>
      </dict>
      <key>monster_40095_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{958,355},{344,320}}</string>
        <key>offset</key>
        <string>{-180,215}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{344,320}}</string>
        <key>sourceSize</key>
        <string>{344,320}</string>
      </dict>
      <key>monster_40095_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1597,0},{299,322}}</string>
        <key>offset</key>
        <string>{-140,229}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{299,322}}</string>
        <key>sourceSize</key>
        <string>{299,322}</string>
      </dict>
      <key>monster_40095_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{657,710},{340,309}}</string>
        <key>offset</key>
        <string>{-174,203}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{340,309}}</string>
        <key>sourceSize</key>
        <string>{340,309}</string>
      </dict>
      <key>monster_40095_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{958,0},{335,338}}</string>
        <key>offset</key>
        <string>{-140,255}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{335,338}}</string>
        <key>sourceSize</key>
        <string>{335,338}</string>
      </dict>
      <key>monster_40095_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{378,346}}</string>
        <key>offset</key>
        <string>{-177,256}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{378,346}}</string>
        <key>sourceSize</key>
        <string>{378,346}</string>
      </dict>
      <key>monster_40095_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{657,0},{353,299}}</string>
        <key>offset</key>
        <string>{-144,230}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{353,299}}</string>
        <key>sourceSize</key>
        <string>{353,299}</string>
      </dict>
      <key>monster_40095_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{348,380},{361,307}}</string>
        <key>offset</key>
        <string>{-141,225}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{361,307}}</string>
        <key>sourceSize</key>
        <string>{361,307}</string>
      </dict>
      <key>monster_40095_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1641,645},{283,309}}</string>
        <key>offset</key>
        <string>{-89,208}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{283,309}}</string>
        <key>sourceSize</key>
        <string>{283,309}</string>
      </dict>
      <key>monster_40095_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1295,0},{329,300}}</string>
        <key>offset</key>
        <string>{-97,192}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{329,300}}</string>
        <key>sourceSize</key>
        <string>{329,300}</string>
      </dict>
      <key>monster_40095_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{657,355},{353,299}}</string>
        <key>offset</key>
        <string>{-146,230}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{353,299}}</string>
        <key>sourceSize</key>
        <string>{353,299}</string>
      </dict>
      <key>monster_40095_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{348,0},{361,307}}</string>
        <key>offset</key>
        <string>{-157,225}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{361,307}}</string>
        <key>sourceSize</key>
        <string>{361,307}</string>
      </dict>
      <key>monster_40095_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1280,340},{335,338}}</string>
        <key>offset</key>
        <string>{-129,255}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{335,338}}</string>
        <key>sourceSize</key>
        <string>{335,338}</string>
      </dict>
      <key>monster_40095_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,380},{378,346}}</string>
        <key>offset</key>
        <string>{-136,256}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{378,346}}</string>
        <key>sourceSize</key>
        <string>{378,346}</string>
      </dict>
      <key>monster_40095_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1340,680},{299,322}}</string>
        <key>offset</key>
        <string>{-97,229}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{299,322}}</string>
        <key>sourceSize</key>
        <string>{299,322}</string>
      </dict>
      <key>monster_40095_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{999,701},{339,309}}</string>
        <key>offset</key>
        <string>{-103,203}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{339,309}}</string>
        <key>sourceSize</key>
        <string>{339,309}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_40095_0_7.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>monster_40095_0_7.png</string>
    </dict>
  </dict>
</plist>