<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_1062_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{372,244}}</string>
        <key>offset</key>
        <string>{-125,154}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{372,244}}</string>
        <key>sourceSize</key>
        <string>{372,244}</string>
      </dict>
      <key>monster_1062_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{837,321},{313,205}}</string>
        <key>offset</key>
        <string>{-142,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{313,205}}</string>
        <key>sourceSize</key>
        <string>{313,205}</string>
      </dict>
      <key>monster_1062_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{354,725},{326,171}}</string>
        <key>offset</key>
        <string>{-99,117}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{326,171}}</string>
        <key>sourceSize</key>
        <string>{326,171}</string>
      </dict>
      <key>monster_1062_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{246,0},{337,203}}</string>
        <key>offset</key>
        <string>{-205,117}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{337,203}}</string>
        <key>sourceSize</key>
        <string>{337,203}</string>
      </dict>
      <key>monster_1062_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1173,568},{191,208}}</string>
        <key>offset</key>
        <string>{-67,143}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{191,208}}</string>
        <key>sourceSize</key>
        <string>{191,208}</string>
      </dict>
      <key>monster_1062_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{432,339},{324,207}}</string>
        <key>offset</key>
        <string>{-194,160}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{324,207}}</string>
        <key>sourceSize</key>
        <string>{324,207}</string>
      </dict>
      <key>monster_1062_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1044,304},{262,190}}</string>
        <key>offset</key>
        <string>{-80,143}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{262,190}}</string>
        <key>sourceSize</key>
        <string>{262,190}</string>
      </dict>
      <key>monster_1062_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,374},{372,194}}</string>
        <key>offset</key>
        <string>{-219,170}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{372,194}}</string>
        <key>sourceSize</key>
        <string>{372,194}</string>
      </dict>
      <key>monster_1062_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{641,323},{320,194}}</string>
        <key>offset</key>
        <string>{-130,159}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{320,194}}</string>
        <key>sourceSize</key>
        <string>{320,194}</string>
      </dict>
      <key>monster_1062_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,748},{352,227}}</string>
        <key>offset</key>
        <string>{-103,207}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{352,227}}</string>
        <key>sourceSize</key>
        <string>{352,227}</string>
      </dict>
      <key>monster_1062_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{752,0},{319,268}}</string>
        <key>offset</key>
        <string>{-149,184}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{319,268}}</string>
        <key>sourceSize</key>
        <string>{319,268}</string>
      </dict>
      <key>monster_1062_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{682,645},{318,247}}</string>
        <key>offset</key>
        <string>{-49,225}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{318,247}}</string>
        <key>sourceSize</key>
        <string>{318,247}</string>
      </dict>
      <key>monster_1062_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{931,636},{240,291}}</string>
        <key>offset</key>
        <string>{-67,197}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{240,291}}</string>
        <key>sourceSize</key>
        <string>{240,291}</string>
      </dict>
      <key>monster_1062_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{196,374},{349,234}}</string>
        <key>offset</key>
        <string>{-39,184}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{349,234}}</string>
        <key>sourceSize</key>
        <string>{349,234}</string>
      </dict>
      <key>monster_1062_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{451,0},{321,299}}</string>
        <key>offset</key>
        <string>{-120,193}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{321,299}}</string>
        <key>sourceSize</key>
        <string>{321,299}</string>
      </dict>
      <key>monster_1062_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1022,0},{302,232}}</string>
        <key>offset</key>
        <string>{-14,134}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{302,232}}</string>
        <key>sourceSize</key>
        <string>{302,232}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_1062_0_7.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>monster_1062_0_7.png</string>
    </dict>
  </dict>
</plist>