<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_1043_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1592,1742},{195,297}}</string>
        <key>offset</key>
        <string>{-77,133}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{195,297}}</string>
        <key>sourceSize</key>
        <string>{195,297}</string>
      </dict>
      <key>monster_1043_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1728,333},{317,324}}</string>
        <key>offset</key>
        <string>{-77,156}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{317,324}}</string>
        <key>sourceSize</key>
        <string>{317,324}</string>
      </dict>
      <key>monster_1043_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{514,415},{261,366}}</string>
        <key>offset</key>
        <string>{-48,208}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{261,366}}</string>
        <key>sourceSize</key>
        <string>{261,366}</string>
      </dict>
      <key>monster_1043_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{915,1150},{183,351}}</string>
        <key>offset</key>
        <string>{-41,212}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{183,351}}</string>
        <key>sourceSize</key>
        <string>{183,351}</string>
      </dict>
      <key>monster_1043_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1263,1752},{250,327}}</string>
        <key>offset</key>
        <string>{-113,160}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{250,327}}</string>
        <key>sourceSize</key>
        <string>{250,327}</string>
      </dict>
      <key>monster_1043_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1584,334},{135,319}}</string>
        <key>offset</key>
        <string>{-36,200}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,319}}</string>
        <key>sourceSize</key>
        <string>{135,319}</string>
      </dict>
      <key>monster_1043_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{904,0},{355,260}}</string>
        <key>offset</key>
        <string>{-150,147}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{355,260}}</string>
        <key>sourceSize</key>
        <string>{355,260}</string>
      </dict>
      <key>monster_1043_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1271},{416,253}}</string>
        <key>offset</key>
        <string>{-156,139}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{416,253}}</string>
        <key>sourceSize</key>
        <string>{416,253}</string>
      </dict>
      <key>monster_1043_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{387,1652},{377,245}}</string>
        <key>offset</key>
        <string>{-169,133}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{377,245}}</string>
        <key>sourceSize</key>
        <string>{377,245}</string>
      </dict>
      <key>monster_1043_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1166,0},{346,252}}</string>
        <key>offset</key>
        <string>{-123,144}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{346,252}}</string>
        <key>sourceSize</key>
        <string>{346,252}</string>
      </dict>
      <key>monster_1043_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1472,682},{314,250}}</string>
        <key>offset</key>
        <string>{-146,130}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{314,250}}</string>
        <key>sourceSize</key>
        <string>{314,250}</string>
      </dict>
      <key>monster_1043_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1789,1217},{294,253}}</string>
        <key>offset</key>
        <string>{-116,156}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{294,253}}</string>
        <key>sourceSize</key>
        <string>{294,253}</string>
      </dict>
      <key>monster_1043_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{424,237}}</string>
        <key>offset</key>
        <string>{-200,176}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{424,237}}</string>
        <key>sourceSize</key>
        <string>{424,237}</string>
      </dict>
      <key>monster_1043_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1046,357},{348,230}}</string>
        <key>offset</key>
        <string>{-206,168}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{348,230}}</string>
        <key>sourceSize</key>
        <string>{348,230}</string>
      </dict>
      <key>monster_1043_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{930,1851},{331,191}}</string>
        <key>offset</key>
        <string>{-197,159}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{331,191}}</string>
        <key>sourceSize</key>
        <string>{331,191}</string>
      </dict>
      <key>monster_1043_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{719,0},{365,183}}</string>
        <key>offset</key>
        <string>{-167,151}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{365,183}}</string>
        <key>sourceSize</key>
        <string>{365,183}</string>
      </dict>
      <key>monster_1043_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{239,0},{413,202}}</string>
        <key>offset</key>
        <string>{-206,154}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{413,202}}</string>
        <key>sourceSize</key>
        <string>{413,202}</string>
      </dict>
      <key>monster_1043_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{228,851},{414,185}}</string>
        <key>offset</key>
        <string>{-136,141}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{414,185}}</string>
        <key>sourceSize</key>
        <string>{414,185}</string>
      </dict>
      <key>monster_1043_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1724,659},{283,314}}</string>
        <key>offset</key>
        <string>{-158,190}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{283,314}}</string>
        <key>sourceSize</key>
        <string>{283,314}</string>
      </dict>
      <key>monster_1043_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1789,1513},{249,211}}</string>
        <key>offset</key>
        <string>{-120,179}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{249,211}}</string>
        <key>sourceSize</key>
        <string>{249,211}</string>
      </dict>
      <key>monster_1043_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1724,944},{271,296}}</string>
        <key>offset</key>
        <string>{-132,176}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{271,296}}</string>
        <key>sourceSize</key>
        <string>{271,296}</string>
      </dict>
      <key>monster_1043_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1278,348},{332,304}}</string>
        <key>offset</key>
        <string>{-103,169}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{332,304}}</string>
        <key>sourceSize</key>
        <string>{332,304}</string>
      </dict>
      <key>monster_1043_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1168,1420},{208,330}}</string>
        <key>offset</key>
        <string>{-81,194}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{208,330}}</string>
        <key>sourceSize</key>
        <string>{208,330}</string>
      </dict>
      <key>monster_1043_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1416,1047},{318,228}}</string>
        <key>offset</key>
        <string>{-195,209}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{318,228}}</string>
        <key>sourceSize</key>
        <string>{318,228}</string>
      </dict>
      <key>monster_1043_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1689},{250,385}}</string>
        <key>offset</key>
        <string>{-90,240}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{250,385}}</string>
        <key>sourceSize</key>
        <string>{250,385}</string>
      </dict>
      <key>monster_1043_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{255,1267},{134,383}}</string>
        <key>offset</key>
        <string>{-52,184}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,383}}</string>
        <key>sourceSize</key>
        <string>{134,383}</string>
      </dict>
      <key>monster_1043_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{777,367},{356,267}}</string>
        <key>offset</key>
        <string>{-159,194}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{356,267}}</string>
        <key>sourceSize</key>
        <string>{356,267}</string>
      </dict>
      <key>monster_1043_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,851},{418,226}}</string>
        <key>offset</key>
        <string>{-215,182}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{418,226}}</string>
        <key>sourceSize</key>
        <string>{418,226}</string>
      </dict>
      <key>monster_1043_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{391,1267},{377,259}}</string>
        <key>offset</key>
        <string>{-161,237}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{377,259}}</string>
        <key>sourceSize</key>
        <string>{377,259}</string>
      </dict>
      <key>monster_1043_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{930,1503},{346,236}}</string>
        <key>offset</key>
        <string>{-177,215}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{346,236}}</string>
        <key>sourceSize</key>
        <string>{346,236}</string>
      </dict>
      <key>monster_1043_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1100,1076},{314,342}}</string>
        <key>offset</key>
        <string>{-122,241}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{314,342}}</string>
        <key>sourceSize</key>
        <string>{314,342}</string>
      </dict>
      <key>monster_1043_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{634,1646},{294,377}}</string>
        <key>offset</key>
        <string>{-132,209}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{294,377}}</string>
        <key>sourceSize</key>
        <string>{294,377}</string>
      </dict>
      <key>monster_1043_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,426},{423,235}}</string>
        <key>offset</key>
        <string>{-177,175}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{423,235}}</string>
        <key>sourceSize</key>
        <string>{423,235}</string>
      </dict>
      <key>monster_1043_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{953,725},{349,265}}</string>
        <key>offset</key>
        <string>{-96,227}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{349,265}}</string>
        <key>sourceSize</key>
        <string>{349,265}</string>
      </dict>
      <key>monster_1043_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1728,0},{331,290}}</string>
        <key>offset</key>
        <string>{-88,241}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{331,290}}</string>
        <key>sourceSize</key>
        <string>{331,290}</string>
      </dict>
      <key>monster_1043_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{652,1213},{365,261}}</string>
        <key>offset</key>
        <string>{-152,211}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{365,261}}</string>
        <key>sourceSize</key>
        <string>{365,261}</string>
      </dict>
      <key>monster_1043_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{443,0},{413,274}}</string>
        <key>offset</key>
        <string>{-161,241}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{413,274}}</string>
        <key>sourceSize</key>
        <string>{413,274}</string>
      </dict>
      <key>monster_1043_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{237,426},{414,275}}</string>
        <key>offset</key>
        <string>{-232,217}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{414,275}}</string>
        <key>sourceSize</key>
        <string>{414,275}</string>
      </dict>
      <key>monster_1043_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{415,842},{273,369}}</string>
        <key>offset</key>
        <string>{-87,233}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{273,369}}</string>
        <key>sourceSize</key>
        <string>{273,369}</string>
      </dict>
      <key>monster_1043_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{690,783},{261,365}}</string>
        <key>offset</key>
        <string>{-91,241}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{261,365}}</string>
        <key>sourceSize</key>
        <string>{261,365}</string>
      </dict>
      <key>monster_1043_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1220,707},{250,338}}</string>
        <key>offset</key>
        <string>{-83,227}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{250,338}}</string>
        <key>sourceSize</key>
        <string>{250,338}</string>
      </dict>
      <key>monster_1043_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1378,1420},{271,320}}</string>
        <key>offset</key>
        <string>{-93,191}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{271,320}}</string>
        <key>sourceSize</key>
        <string>{271,320}</string>
      </dict>
      <key>monster_1043_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1420,0},{332,306}}</string>
        <key>offset</key>
        <string>{-183,200}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{332,306}}</string>
        <key>sourceSize</key>
        <string>{332,306}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_1043_0_2_0.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_1043_0_2_0.png</string>
    </dict>
  </dict>
</plist>