<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_20067_0_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1776,926},{163,185}}</string>
        <key>offset</key>
        <string>{-59,117}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,185}}</string>
        <key>sourceSize</key>
        <string>{163,185}</string>
      </dict>
      <key>monster_20067_0_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{505,1746},{140,192}}</string>
        <key>offset</key>
        <string>{-60,122}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,192}}</string>
        <key>sourceSize</key>
        <string>{140,192}</string>
      </dict>
      <key>monster_20067_0_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1601,369},{149,209}}</string>
        <key>offset</key>
        <string>{-71,142}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{149,209}}</string>
        <key>sourceSize</key>
        <string>{149,209}</string>
      </dict>
      <key>monster_20067_0_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1257,446},{156,210}}</string>
        <key>offset</key>
        <string>{-87,147}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,210}}</string>
        <key>sourceSize</key>
        <string>{156,210}</string>
      </dict>
      <key>monster_20067_0_4_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1456,581},{200,206}}</string>
        <key>offset</key>
        <string>{-89,116}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{200,206}}</string>
        <key>sourceSize</key>
        <string>{200,206}</string>
      </dict>
      <key>monster_20067_0_4_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1536,1339},{198,200}}</string>
        <key>offset</key>
        <string>{-86,111}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{198,200}}</string>
        <key>sourceSize</key>
        <string>{198,200}</string>
      </dict>
      <key>monster_20067_0_4_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1540,1697},{195,190}}</string>
        <key>offset</key>
        <string>{-82,107}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{195,190}}</string>
        <key>sourceSize</key>
        <string>{195,190}</string>
      </dict>
      <key>monster_20067_0_4_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{859,745},{222,201}}</string>
        <key>offset</key>
        <string>{-90,110}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{222,201}}</string>
        <key>sourceSize</key>
        <string>{222,201}</string>
      </dict>
      <key>monster_20067_0_4_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{876,477},{222,181}}</string>
        <key>offset</key>
        <string>{-83,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{222,181}}</string>
        <key>sourceSize</key>
        <string>{222,181}</string>
      </dict>
      <key>monster_20067_0_4_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1092,0},{221,183}}</string>
        <key>offset</key>
        <string>{-84,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{221,183}}</string>
        <key>sourceSize</key>
        <string>{221,183}</string>
      </dict>
      <key>monster_20067_0_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1737,1697},{189,166}}</string>
        <key>offset</key>
        <string>{-77,103}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{189,166}}</string>
        <key>sourceSize</key>
        <string>{189,166}</string>
      </dict>
      <key>monster_20067_0_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{699,1772},{170,162}}</string>
        <key>offset</key>
        <string>{-63,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,162}}</string>
        <key>sourceSize</key>
        <string>{170,162}</string>
      </dict>
      <key>monster_20067_0_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1776,1091},{184,173}}</string>
        <key>offset</key>
        <string>{-81,113}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{184,173}}</string>
        <key>sourceSize</key>
        <string>{184,173}</string>
      </dict>
      <key>monster_20067_0_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1752,359},{165,176}}</string>
        <key>offset</key>
        <string>{-56,116}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{165,176}}</string>
        <key>sourceSize</key>
        <string>{165,176}</string>
      </dict>
      <key>monster_20067_0_4_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{305,1149},{252,190}}</string>
        <key>offset</key>
        <string>{-59,115}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{252,190}}</string>
        <key>sourceSize</key>
        <string>{252,190}</string>
      </dict>
      <key>monster_20067_0_4_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1458},{266,178}}</string>
        <key>offset</key>
        <string>{-75,100}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{266,178}}</string>
        <key>sourceSize</key>
        <string>{266,178}</string>
      </dict>
      <key>monster_20067_0_4_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{185,883},{264,165}}</string>
        <key>offset</key>
        <string>{-73,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{264,165}}</string>
        <key>sourceSize</key>
        <string>{264,165}</string>
      </dict>
      <key>monster_20067_0_4_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,883},{286,183}}</string>
        <key>offset</key>
        <string>{-78,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{286,183}}</string>
        <key>sourceSize</key>
        <string>{286,183}</string>
      </dict>
      <key>monster_20067_0_4_1_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{294,165}}</string>
        <key>offset</key>
        <string>{-82,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{294,165}}</string>
        <key>sourceSize</key>
        <string>{294,165}</string>
      </dict>
      <key>monster_20067_0_4_1_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{167,0},{289,167}}</string>
        <key>offset</key>
        <string>{-79,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{289,167}}</string>
        <key>sourceSize</key>
        <string>{289,167}</string>
      </dict>
      <key>monster_20067_0_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1384,1539},{154,200}}</string>
        <key>offset</key>
        <string>{-84,146}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,200}}</string>
        <key>sourceSize</key>
        <string>{154,200}</string>
      </dict>
      <key>monster_20067_0_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1738,1339},{186,164}}</string>
        <key>offset</key>
        <string>{-100,110}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{186,164}}</string>
        <key>sourceSize</key>
        <string>{186,164}</string>
      </dict>
      <key>monster_20067_0_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1698,186},{182,171}}</string>
        <key>offset</key>
        <string>{-101,117}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{182,171}}</string>
        <key>sourceSize</key>
        <string>{182,171}</string>
      </dict>
      <key>monster_20067_0_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1381,1097},{202,189}}</string>
        <key>offset</key>
        <string>{-94,135}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{202,189}}</string>
        <key>sourceSize</key>
        <string>{202,189}</string>
      </dict>
      <key>monster_20067_0_4_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{187,291},{261,215}}</string>
        <key>offset</key>
        <string>{-84,128}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{261,215}}</string>
        <key>sourceSize</key>
        <string>{261,215}</string>
      </dict>
      <key>monster_20067_0_4_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{344,554},{258,193}}</string>
        <key>offset</key>
        <string>{-84,107}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{258,193}}</string>
        <key>sourceSize</key>
        <string>{258,193}</string>
      </dict>
      <key>monster_20067_0_4_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{505,1564},{242,180}}</string>
        <key>offset</key>
        <string>{-69,92}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{242,180}}</string>
        <key>sourceSize</key>
        <string>{242,180}</string>
      </dict>
      <key>monster_20067_0_4_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{404,262},{257,186}}</string>
        <key>offset</key>
        <string>{-76,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{257,186}}</string>
        <key>sourceSize</key>
        <string>{257,186}</string>
      </dict>
      <key>monster_20067_0_4_2_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{497,1068},{249,182}}</string>
        <key>offset</key>
        <string>{-67,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{249,182}}</string>
        <key>sourceSize</key>
        <string>{249,182}</string>
      </dict>
      <key>monster_20067_0_4_2_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{515,814},{249,182}}</string>
        <key>offset</key>
        <string>{-68,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{249,182}}</string>
        <key>sourceSize</key>
        <string>{249,182}</string>
      </dict>
      <key>monster_20067_0_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1478,0},{167,218}}</string>
        <key>offset</key>
        <string>{-68,186}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,218}}</string>
        <key>sourceSize</key>
        <string>{167,218}</string>
      </dict>
      <key>monster_20067_0_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1572,957},{184,202}}</string>
        <key>offset</key>
        <string>{-70,170}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{184,202}}</string>
        <key>sourceSize</key>
        <string>{184,202}</string>
      </dict>
      <key>monster_20067_0_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1370,1741},{171,168}}</string>
        <key>offset</key>
        <string>{-52,135}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{171,168}}</string>
        <key>sourceSize</key>
        <string>{171,168}</string>
      </dict>
      <key>monster_20067_0_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{342,1655},{194,161}}</string>
        <key>offset</key>
        <string>{-73,121}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{194,161}}</string>
        <key>sourceSize</key>
        <string>{194,161}</string>
      </dict>
      <key>monster_20067_0_4_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{690,0},{174,244}}</string>
        <key>offset</key>
        <string>{-61,97}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{174,244}}</string>
        <key>sourceSize</key>
        <string>{174,244}</string>
      </dict>
      <key>monster_20067_0_4_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{681,1065},{171,237}}</string>
        <key>offset</key>
        <string>{-67,92}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{171,237}}</string>
        <key>sourceSize</key>
        <string>{171,237}</string>
      </dict>
      <key>monster_20067_0_4_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{699,771},{158,235}}</string>
        <key>offset</key>
        <string>{-63,90}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{158,235}}</string>
        <key>sourceSize</key>
        <string>{158,235}</string>
      </dict>
      <key>monster_20067_0_4_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{749,1563},{207,231}}</string>
        <key>offset</key>
        <string>{-70,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{207,231}}</string>
        <key>sourceSize</key>
        <string>{207,231}</string>
      </dict>
      <key>monster_20067_0_4_3_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{866,0},{228,224}}</string>
        <key>offset</key>
        <string>{-71,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{228,224}}</string>
        <key>sourceSize</key>
        <string>{228,224}</string>
      </dict>
      <key>monster_20067_0_4_3_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{817,1304},{231,223}}</string>
        <key>offset</key>
        <string>{-75,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{231,223}}</string>
        <key>sourceSize</key>
        <string>{231,223}</string>
      </dict>
      <key>monster_20067_0_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{711,509},{163,234}}</string>
        <key>offset</key>
        <string>{-64,187}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,234}}</string>
        <key>sourceSize</key>
        <string>{163,234}</string>
      </dict>
      <key>monster_20067_0_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{505,1319},{140,243}}</string>
        <key>offset</key>
        <string>{-40,196}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,243}}</string>
        <key>sourceSize</key>
        <string>{140,243}</string>
      </dict>
      <key>monster_20067_0_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1384,1301},{150,201}}</string>
        <key>offset</key>
        <string>{-38,150}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,201}}</string>
        <key>sourceSize</key>
        <string>{150,201}</string>
      </dict>
      <key>monster_20067_0_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1540,1539},{156,200}}</string>
        <key>offset</key>
        <string>{-29,153}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,200}}</string>
        <key>sourceSize</key>
        <string>{156,200}</string>
      </dict>
      <key>monster_20067_0_4_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1277,0},{199,220}}</string>
        <key>offset</key>
        <string>{-71,86}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{199,220}}</string>
        <key>sourceSize</key>
        <string>{199,220}</string>
      </dict>
      <key>monster_20067_0_4_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1478,169},{198,218}}</string>
        <key>offset</key>
        <string>{-72,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{198,218}}</string>
        <key>sourceSize</key>
        <string>{198,218}</string>
      </dict>
      <key>monster_20067_0_4_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{752,246},{194,229}}</string>
        <key>offset</key>
        <string>{-73,97}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{194,229}}</string>
        <key>sourceSize</key>
        <string>{194,229}</string>
      </dict>
      <key>monster_20067_0_4_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{948,230},{222,184}}</string>
        <key>offset</key>
        <string>{-92,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{222,184}}</string>
        <key>sourceSize</key>
        <string>{222,184}</string>
      </dict>
      <key>monster_20067_0_4_4_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1059,454},{221,196}}</string>
        <key>offset</key>
        <string>{-99,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{221,196}}</string>
        <key>sourceSize</key>
        <string>{221,196}</string>
      </dict>
      <key>monster_20067_0_4_4_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1134,223},{221,195}}</string>
        <key>offset</key>
        <string>{-97,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{221,195}}</string>
        <key>sourceSize</key>
        <string>{221,195}</string>
      </dict>
      <key>monster_20067_0_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1193,1459},{189,211}}</string>
        <key>offset</key>
        <string>{-72,147}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{189,211}}</string>
        <key>sourceSize</key>
        <string>{189,211}</string>
      </dict>
      <key>monster_20067_0_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{539,521},{170,248}}</string>
        <key>offset</key>
        <string>{-67,173}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,248}}</string>
        <key>sourceSize</key>
        <string>{170,248}</string>
      </dict>
      <key>monster_20067_0_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1415,369},{184,210}}</string>
        <key>offset</key>
        <string>{-63,129}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{184,210}}</string>
        <key>sourceSize</key>
        <string>{184,210}</string>
      </dict>
      <key>monster_20067_0_4_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1042,1238},{165,219}}</string>
        <key>offset</key>
        <string>{-69,138}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{165,219}}</string>
        <key>sourceSize</key>
        <string>{165,219}</string>
      </dict>
      <key>monster_20067_0_4_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{352,814},{252,161}}</string>
        <key>offset</key>
        <string>{-153,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{252,161}}</string>
        <key>sourceSize</key>
        <string>{252,161}</string>
      </dict>
      <key>monster_20067_0_4_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{140,1171},{265,163}}</string>
        <key>offset</key>
        <string>{-151,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{265,163}}</string>
        <key>sourceSize</key>
        <string>{265,163}</string>
      </dict>
      <key>monster_20067_0_4_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{186,592},{264,156}}</string>
        <key>offset</key>
        <string>{-151,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{264,156}}</string>
        <key>sourceSize</key>
        <string>{264,156}</string>
      </dict>
      <key>monster_20067_0_4_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1171},{285,138}}</string>
        <key>offset</key>
        <string>{-168,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{285,138}}</string>
        <key>sourceSize</key>
        <string>{285,138}</string>
      </dict>
      <key>monster_20067_0_4_5_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,296},{294,185}}</string>
        <key>offset</key>
        <string>{-172,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{294,185}}</string>
        <key>sourceSize</key>
        <string>{294,185}</string>
      </dict>
      <key>monster_20067_0_4_5_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,592},{289,184}}</string>
        <key>offset</key>
        <string>{-170,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{289,184}}</string>
        <key>sourceSize</key>
        <string>{289,184}</string>
      </dict>
      <key>monster_20067_0_4_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1664,580},{155,200}}</string>
        <key>offset</key>
        <string>{-31,134}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,200}}</string>
        <key>sourceSize</key>
        <string>{155,200}</string>
      </dict>
      <key>monster_20067_0_4_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1664,737},{187,200}}</string>
        <key>offset</key>
        <string>{-47,137}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{187,200}}</string>
        <key>sourceSize</key>
        <string>{187,200}</string>
      </dict>
      <key>monster_20067_0_4_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1062,677},{183,213}}</string>
        <key>offset</key>
        <string>{-42,141}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{183,213}}</string>
        <key>sourceSize</key>
        <string>{183,213}</string>
      </dict>
      <key>monster_20067_0_4_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1065,892},{202,211}}</string>
        <key>offset</key>
        <string>{-68,126}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{202,211}}</string>
        <key>sourceSize</key>
        <string>{202,211}</string>
      </dict>
      <key>monster_20067_0_4_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{336,0},{260,172}}</string>
        <key>offset</key>
        <string>{-137,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{260,172}}</string>
        <key>sourceSize</key>
        <string>{260,172}</string>
      </dict>
      <key>monster_20067_0_4_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{510,0},{257,178}}</string>
        <key>offset</key>
        <string>{-134,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{257,178}}</string>
        <key>sourceSize</key>
        <string>{257,178}</string>
      </dict>
      <key>monster_20067_0_4_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{647,1319},{242,168}}</string>
        <key>offset</key>
        <string>{-133,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{242,168}}</string>
        <key>sourceSize</key>
        <string>{242,168}</string>
      </dict>
      <key>monster_20067_0_4_6_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{180,1438},{256,160}}</string>
        <key>offset</key>
        <string>{-141,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{256,160}}</string>
        <key>sourceSize</key>
        <string>{256,160}</string>
      </dict>
      <key>monster_20067_0_4_6_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{592,259},{248,158}}</string>
        <key>offset</key>
        <string>{-142,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{248,158}}</string>
        <key>sourceSize</key>
        <string>{248,158}</string>
      </dict>
      <key>monster_20067_0_4_6_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{342,1403},{250,161}}</string>
        <key>offset</key>
        <string>{-142,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{250,161}}</string>
        <key>sourceSize</key>
        <string>{250,161}</string>
      </dict>
      <key>monster_20067_0_4_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1742,1527},{167,179}}</string>
        <key>offset</key>
        <string>{-59,138}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,179}}</string>
        <key>sourceSize</key>
        <string>{167,179}</string>
      </dict>
      <key>monster_20067_0_4_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1752,0},{184,184}}</string>
        <key>offset</key>
        <string>{-74,137}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{184,184}}</string>
        <key>sourceSize</key>
        <string>{184,184}</string>
      </dict>
      <key>monster_20067_0_4_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1456,783},{172,205}}</string>
        <key>offset</key>
        <string>{-80,157}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{172,205}}</string>
        <key>sourceSize</key>
        <string>{172,205}</string>
      </dict>
      <key>monster_20067_0_4_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1572,1143},{194,202}}</string>
        <key>offset</key>
        <string>{-81,149}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{194,202}}</string>
        <key>sourceSize</key>
        <string>{194,202}</string>
      </dict>
      <key>monster_20067_0_4_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1193,1672},{175,196}}</string>
        <key>offset</key>
        <string>{-74,129}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{175,196}}</string>
        <key>sourceSize</key>
        <string>{175,196}</string>
      </dict>
      <key>monster_20067_0_4_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1209,1105},{170,203}}</string>
        <key>offset</key>
        <string>{-64,124}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,203}}</string>
        <key>sourceSize</key>
        <string>{170,203}</string>
      </dict>
      <key>monster_20067_0_4_7_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1269,890},{157,205}}</string>
        <key>offset</key>
        <string>{-55,121}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{157,205}}</string>
        <key>sourceSize</key>
        <string>{157,205}</string>
      </dict>
      <key>monster_20067_0_4_7_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1247,677},{207,211}}</string>
        <key>offset</key>
        <string>{-97,119}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{207,211}}</string>
        <key>sourceSize</key>
        <string>{207,211}</string>
      </dict>
      <key>monster_20067_0_4_7_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{854,1008},{228,209}}</string>
        <key>offset</key>
        <string>{-117,118}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{228,209}}</string>
        <key>sourceSize</key>
        <string>{228,209}</string>
      </dict>
      <key>monster_20067_0_4_7_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{982,1537},{231,209}}</string>
        <key>offset</key>
        <string>{-116,117}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{231,209}}</string>
        <key>sourceSize</key>
        <string>{231,209}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_20067_0_4.png</string>
      <key>size</key>
      <string>{1963,1974}</string>
      <key>textureFileName</key>
      <string>monster_20067_0_4.png</string>
    </dict>
  </dict>
</plist>