<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_1044_0_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1159,684},{206,272}}</string>
        <key>offset</key>
        <string>{-61,240}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{206,272}}</string>
        <key>sourceSize</key>
        <string>{206,272}</string>
      </dict>
      <key>monster_1044_0_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{356,1465},{250,247}}</string>
        <key>offset</key>
        <string>{-112,206}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{250,247}}</string>
        <key>sourceSize</key>
        <string>{250,247}</string>
      </dict>
      <key>monster_1044_0_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{567,1054},{253,208}}</string>
        <key>offset</key>
        <string>{-68,124}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{253,208}}</string>
        <key>sourceSize</key>
        <string>{253,208}</string>
      </dict>
      <key>monster_1044_0_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1210,1337},{249,210}}</string>
        <key>offset</key>
        <string>{-66,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{249,210}}</string>
        <key>sourceSize</key>
        <string>{249,210}</string>
      </dict>
      <key>monster_1044_0_4_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1609,1246},{249,210}}</string>
        <key>offset</key>
        <string>{-66,98}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{249,210}}</string>
        <key>sourceSize</key>
        <string>{249,210}</string>
      </dict>
      <key>monster_1044_0_4_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1261,1588},{249,210}}</string>
        <key>offset</key>
        <string>{-66,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{249,210}}</string>
        <key>sourceSize</key>
        <string>{249,210}</string>
      </dict>
      <key>monster_1044_0_4_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1473,1458},{249,210}}</string>
        <key>offset</key>
        <string>{-66,98}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{249,210}}</string>
        <key>sourceSize</key>
        <string>{249,210}</string>
      </dict>
      <key>monster_1044_0_4_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1724,1458},{249,210}}</string>
        <key>offset</key>
        <string>{-66,98}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{249,210}}</string>
        <key>sourceSize</key>
        <string>{249,210}</string>
      </dict>
      <key>monster_1044_0_4_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1724,1670},{249,210}}</string>
        <key>offset</key>
        <string>{-66,98}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{249,210}}</string>
        <key>sourceSize</key>
        <string>{249,210}</string>
      </dict>
      <key>monster_1044_0_4_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1473,1670},{249,210}}</string>
        <key>offset</key>
        <string>{-66,98}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{249,210}}</string>
        <key>sourceSize</key>
        <string>{249,210}</string>
      </dict>
      <key>monster_1044_0_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{876,637},{178,281}}</string>
        <key>offset</key>
        <string>{-45,240}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{178,281}}</string>
        <key>sourceSize</key>
        <string>{178,281}</string>
      </dict>
      <key>monster_1044_0_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{578,838},{267,214}}</string>
        <key>offset</key>
        <string>{-132,173}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{267,214}}</string>
        <key>sourceSize</key>
        <string>{267,214}</string>
      </dict>
      <key>monster_1044_0_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1165,480},{282,202}}</string>
        <key>offset</key>
        <string>{-124,123}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{282,202}}</string>
        <key>sourceSize</key>
        <string>{282,202}</string>
      </dict>
      <key>monster_1044_0_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{592,147},{287,174}}</string>
        <key>offset</key>
        <string>{-102,74}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{287,174}}</string>
        <key>sourceSize</key>
        <string>{287,174}</string>
      </dict>
      <key>monster_1044_0_4_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{298,294},{287,174}}</string>
        <key>offset</key>
        <string>{-102,74}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{287,174}}</string>
        <key>sourceSize</key>
        <string>{287,174}</string>
      </dict>
      <key>monster_1044_0_4_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{881,147},{287,174}}</string>
        <key>offset</key>
        <string>{-102,74}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{287,174}}</string>
        <key>sourceSize</key>
        <string>{287,174}</string>
      </dict>
      <key>monster_1044_0_4_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1170,147},{287,174}}</string>
        <key>offset</key>
        <string>{-102,74}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{287,174}}</string>
        <key>sourceSize</key>
        <string>{287,174}</string>
      </dict>
      <key>monster_1044_0_4_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1459,147},{287,174}}</string>
        <key>offset</key>
        <string>{-102,74}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{287,174}}</string>
        <key>sourceSize</key>
        <string>{287,174}</string>
      </dict>
      <key>monster_1044_0_4_1_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1748,294},{287,174}}</string>
        <key>offset</key>
        <string>{-102,74}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{287,174}}</string>
        <key>sourceSize</key>
        <string>{287,174}</string>
      </dict>
      <key>monster_1044_0_4_1_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{587,323},{287,174}}</string>
        <key>offset</key>
        <string>{-102,74}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{287,174}}</string>
        <key>sourceSize</key>
        <string>{287,174}</string>
      </dict>
      <key>monster_1044_0_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{583,656},{180,281}}</string>
        <key>offset</key>
        <string>{-40,240}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,281}}</string>
        <key>sourceSize</key>
        <string>{180,281}</string>
      </dict>
      <key>monster_1044_0_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{298,0},{292,145}}</string>
        <key>offset</key>
        <string>{-90,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{292,145}}</string>
        <key>sourceSize</key>
        <string>{292,145}</string>
      </dict>
      <key>monster_1044_0_4_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{592,0},{292,145}}</string>
        <key>offset</key>
        <string>{-90,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{292,145}}</string>
        <key>sourceSize</key>
        <string>{292,145}</string>
      </dict>
      <key>monster_1044_0_4_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{886,0},{292,145}}</string>
        <key>offset</key>
        <string>{-90,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{292,145}}</string>
        <key>sourceSize</key>
        <string>{292,145}</string>
      </dict>
      <key>monster_1044_0_4_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1180,0},{292,145}}</string>
        <key>offset</key>
        <string>{-90,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{292,145}}</string>
        <key>sourceSize</key>
        <string>{292,145}</string>
      </dict>
      <key>monster_1044_0_4_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1474,0},{292,145}}</string>
        <key>offset</key>
        <string>{-90,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{292,145}}</string>
        <key>sourceSize</key>
        <string>{292,145}</string>
      </dict>
      <key>monster_1044_0_4_2_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1768,0},{292,145}}</string>
        <key>offset</key>
        <string>{-90,47}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{292,145}}</string>
        <key>sourceSize</key>
        <string>{292,145}</string>
      </dict>
      <key>monster_1044_0_4_2_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{298,147},{292,145}}</string>
        <key>offset</key>
        <string>{-90,47}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{292,145}}</string>
        <key>sourceSize</key>
        <string>{292,145}</string>
      </dict>
      <key>monster_1044_0_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{479,1717},{186,250}}</string>
        <key>offset</key>
        <string>{-61,217}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{186,250}}</string>
        <key>sourceSize</key>
        <string>{186,250}</string>
      </dict>
      <key>monster_1044_0_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{298,825},{278,202}}</string>
        <key>offset</key>
        <string>{-160,188}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{278,202}}</string>
        <key>sourceSize</key>
        <string>{278,202}</string>
      </dict>
      <key>monster_1044_0_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1433,749},{257,202}}</string>
        <key>offset</key>
        <string>{-149,167}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{257,202}}</string>
        <key>sourceSize</key>
        <string>{257,202}</string>
      </dict>
      <key>monster_1044_0_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1063,1882},{243,154}}</string>
        <key>offset</key>
        <string>{-62,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{243,154}}</string>
        <key>sourceSize</key>
        <string>{243,154}</string>
      </dict>
      <key>monster_1044_0_4_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1308,1882},{243,154}}</string>
        <key>offset</key>
        <string>{-62,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{243,154}}</string>
        <key>sourceSize</key>
        <string>{243,154}</string>
      </dict>
      <key>monster_1044_0_4_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1553,1882},{243,154}}</string>
        <key>offset</key>
        <string>{-62,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{243,154}}</string>
        <key>sourceSize</key>
        <string>{243,154}</string>
      </dict>
      <key>monster_1044_0_4_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1798,1882},{243,154}}</string>
        <key>offset</key>
        <string>{-62,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{243,154}}</string>
        <key>sourceSize</key>
        <string>{243,154}</string>
      </dict>
      <key>monster_1044_0_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{605,1450},{250,207}}</string>
        <key>offset</key>
        <string>{-90,211}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{250,207}}</string>
        <key>sourceSize</key>
        <string>{250,207}</string>
      </dict>
      <key>monster_1044_0_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{847,1005},{254,184}}</string>
        <key>offset</key>
        <string>{-138,163}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{254,184}}</string>
        <key>sourceSize</key>
        <string>{254,184}</string>
      </dict>
      <key>monster_1044_0_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1692,862},{252,184}}</string>
        <key>offset</key>
        <string>{-135,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{252,184}}</string>
        <key>sourceSize</key>
        <string>{252,184}</string>
      </dict>
      <key>monster_1044_0_4_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1398,953},{252,184}}</string>
        <key>offset</key>
        <string>{-135,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{252,184}}</string>
        <key>sourceSize</key>
        <string>{252,184}</string>
      </dict>
      <key>monster_1044_0_4_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1103,1138},{252,184}}</string>
        <key>offset</key>
        <string>{-135,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{252,184}}</string>
        <key>sourceSize</key>
        <string>{252,184}</string>
      </dict>
      <key>monster_1044_0_4_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{822,1191},{252,184}}</string>
        <key>offset</key>
        <string>{-135,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{252,184}}</string>
        <key>sourceSize</key>
        <string>{252,184}</string>
      </dict>
      <key>monster_1044_0_4_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{567,1264},{252,184}}</string>
        <key>offset</key>
        <string>{-135,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{252,184}}</string>
        <key>sourceSize</key>
        <string>{252,184}</string>
      </dict>
      <key>monster_1044_0_4_4_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{298,1279},{252,184}}</string>
        <key>offset</key>
        <string>{-135,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{252,184}}</string>
        <key>sourceSize</key>
        <string>{252,184}</string>
      </dict>
      <key>monster_1044_0_4_4_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{170,1465},{252,184}}</string>
        <key>offset</key>
        <string>{-135,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{252,184}}</string>
        <key>sourceSize</key>
        <string>{252,184}</string>
      </dict>
      <key>monster_1044_0_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{298,1029},{267,248}}</string>
        <key>offset</key>
        <string>{-87,229}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{267,248}}</string>
        <key>sourceSize</key>
        <string>{267,248}</string>
      </dict>
      <key>monster_1044_0_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{298,627},{283,196}}</string>
        <key>offset</key>
        <string>{-110,159}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{283,196}}</string>
        <key>sourceSize</key>
        <string>{283,196}</string>
      </dict>
      <key>monster_1044_0_4_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{298,470},{287,155}}</string>
        <key>offset</key>
        <string>{-137,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{287,155}}</string>
        <key>sourceSize</key>
        <string>{287,155}</string>
      </dict>
      <key>monster_1044_0_4_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{876,323},{287,155}}</string>
        <key>offset</key>
        <string>{-137,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{287,155}}</string>
        <key>sourceSize</key>
        <string>{287,155}</string>
      </dict>
      <key>monster_1044_0_4_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1165,323},{287,155}}</string>
        <key>offset</key>
        <string>{-137,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{287,155}}</string>
        <key>sourceSize</key>
        <string>{287,155}</string>
      </dict>
      <key>monster_1044_0_4_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1454,323},{287,155}}</string>
        <key>offset</key>
        <string>{-137,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{287,155}}</string>
        <key>sourceSize</key>
        <string>{287,155}</string>
      </dict>
      <key>monster_1044_0_4_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1743,470},{287,155}}</string>
        <key>offset</key>
        <string>{-137,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{287,155}}</string>
        <key>sourceSize</key>
        <string>{287,155}</string>
      </dict>
      <key>monster_1044_0_4_5_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{876,480},{287,155}}</string>
        <key>offset</key>
        <string>{-137,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{287,155}}</string>
        <key>sourceSize</key>
        <string>{287,155}</string>
      </dict>
      <key>monster_1044_0_4_5_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{587,499},{287,155}}</string>
        <key>offset</key>
        <string>{-137,46}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{287,155}}</string>
        <key>sourceSize</key>
        <string>{287,155}</string>
      </dict>
      <key>monster_1044_0_4_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{298,1719},{179,252}}</string>
        <key>offset</key>
        <string>{-92,218}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{179,252}}</string>
        <key>sourceSize</key>
        <string>{179,252}</string>
      </dict>
      <key>monster_1044_0_4_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1728,627},{233,260}}</string>
        <key>offset</key>
        <string>{-62,226}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{233,260}}</string>
        <key>sourceSize</key>
        <string>{233,260}</string>
      </dict>
      <key>monster_1044_0_4_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{296,168}}</string>
        <key>offset</key>
        <string>{-157,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{296,168}}</string>
        <key>sourceSize</key>
        <string>{296,168}</string>
      </dict>
      <key>monster_1044_0_4_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,298},{296,168}}</string>
        <key>offset</key>
        <string>{-157,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{296,168}}</string>
        <key>sourceSize</key>
        <string>{296,168}</string>
      </dict>
      <key>monster_1044_0_4_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,596},{296,168}}</string>
        <key>offset</key>
        <string>{-157,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{296,168}}</string>
        <key>sourceSize</key>
        <string>{296,168}</string>
      </dict>
      <key>monster_1044_0_4_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,894},{296,168}}</string>
        <key>offset</key>
        <string>{-157,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{296,168}}</string>
        <key>sourceSize</key>
        <string>{296,168}</string>
      </dict>
      <key>monster_1044_0_4_6_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1192},{296,168}}</string>
        <key>offset</key>
        <string>{-157,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{296,168}}</string>
        <key>sourceSize</key>
        <string>{296,168}</string>
      </dict>
      <key>monster_1044_0_4_6_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1490},{296,168}}</string>
        <key>offset</key>
        <string>{-157,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{296,168}}</string>
        <key>sourceSize</key>
        <string>{296,168}</string>
      </dict>
      <key>monster_1044_0_4_6_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1788},{296,168}}</string>
        <key>offset</key>
        <string>{-157,86}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{296,168}}</string>
        <key>sourceSize</key>
        <string>{296,168}</string>
      </dict>
      <key>monster_1044_0_4_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{866,817},{186,272}}</string>
        <key>offset</key>
        <string>{-77,234}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{186,272}}</string>
        <key>sourceSize</key>
        <string>{186,272}</string>
      </dict>
      <key>monster_1044_0_4_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1449,480},{277,267}}</string>
        <key>offset</key>
        <string>{-70,224}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{277,267}}</string>
        <key>sourceSize</key>
        <string>{277,267}</string>
      </dict>
      <key>monster_1044_0_4_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1140,892},{256,244}}</string>
        <key>offset</key>
        <string>{-61,156}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{256,244}}</string>
        <key>sourceSize</key>
        <string>{256,244}</string>
      </dict>
      <key>monster_1044_0_4_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{667,1702},{250,196}}</string>
        <key>offset</key>
        <string>{-137,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{250,196}}</string>
        <key>sourceSize</key>
        <string>{250,196}</string>
      </dict>
      <key>monster_1044_0_4_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{814,1450},{250,196}}</string>
        <key>offset</key>
        <string>{-137,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{250,196}}</string>
        <key>sourceSize</key>
        <string>{250,196}</string>
      </dict>
      <key>monster_1044_0_4_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{865,1702},{250,196}}</string>
        <key>offset</key>
        <string>{-137,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{250,196}}</string>
        <key>sourceSize</key>
        <string>{250,196}</string>
      </dict>
      <key>monster_1044_0_4_7_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1012,1377},{250,196}}</string>
        <key>offset</key>
        <string>{-137,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{250,196}}</string>
        <key>sourceSize</key>
        <string>{250,196}</string>
      </dict>
      <key>monster_1044_0_4_7_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1652,1048},{250,196}}</string>
        <key>offset</key>
        <string>{-137,86}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{250,196}}</string>
        <key>sourceSize</key>
        <string>{250,196}</string>
      </dict>
      <key>monster_1044_0_4_7_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1357,1139},{250,196}}</string>
        <key>offset</key>
        <string>{-137,86}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{250,196}}</string>
        <key>sourceSize</key>
        <string>{250,196}</string>
      </dict>
      <key>monster_1044_0_4_7_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1063,1629},{250,196}}</string>
        <key>offset</key>
        <string>{-137,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{250,196}}</string>
        <key>sourceSize</key>
        <string>{250,196}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_1044_0_4_0.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_1044_0_4_0.png</string>
    </dict>
  </dict>
</plist>