<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_20034_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1021},{214,242}}</string>
        <key>offset</key>
        <string>{-133,198}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{214,242}}</string>
        <key>sourceSize</key>
        <string>{214,242}</string>
      </dict>
      <key>monster_20034_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1104,339},{195,340}}</string>
        <key>offset</key>
        <string>{-99,296}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{195,340}}</string>
        <key>sourceSize</key>
        <string>{195,340}</string>
      </dict>
      <key>monster_20034_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{740,974},{292,362}}</string>
        <key>offset</key>
        <string>{-88,318}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{292,362}}</string>
        <key>sourceSize</key>
        <string>{292,362}</string>
      </dict>
      <key>monster_20034_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{414,0},{312,388}}</string>
        <key>offset</key>
        <string>{-194,324}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{312,388}}</string>
        <key>sourceSize</key>
        <string>{312,388}</string>
      </dict>
      <key>monster_20034_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{373,517},{371,455}}</string>
        <key>offset</key>
        <string>{-201,292}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{371,455}}</string>
        <key>sourceSize</key>
        <string>{371,455}</string>
      </dict>
      <key>monster_20034_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{728,0},{326,381}}</string>
        <key>offset</key>
        <string>{-196,213}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{326,381}}</string>
        <key>sourceSize</key>
        <string>{326,381}</string>
      </dict>
      <key>monster_20034_0_2_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1104,0},{341,337}}</string>
        <key>offset</key>
        <string>{-187,144}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{341,337}}</string>
        <key>sourceSize</key>
        <string>{341,337}</string>
      </dict>
      <key>monster_20034_0_2_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1104,981},{195,202}}</string>
        <key>offset</key>
        <string>{-72,160}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{195,202}}</string>
        <key>sourceSize</key>
        <string>{195,202}</string>
      </dict>
      <key>monster_20034_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{414,390},{110,275}}</string>
        <key>offset</key>
        <string>{-33,198}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,275}}</string>
        <key>sourceSize</key>
        <string>{110,275}</string>
      </dict>
      <key>monster_20034_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1104,816},{163,337}}</string>
        <key>offset</key>
        <string>{-48,298}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,337}}</string>
        <key>sourceSize</key>
        <string>{163,337}</string>
      </dict>
      <key>monster_20034_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{373,974},{259,365}}</string>
        <key>offset</key>
        <string>{-50,326}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{259,365}}</string>
        <key>sourceSize</key>
        <string>{259,365}</string>
      </dict>
      <key>monster_20034_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{746,383},{321,347}}</string>
        <key>offset</key>
        <string>{-77,308}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{321,347}}</string>
        <key>sourceSize</key>
        <string>{321,347}</string>
      </dict>
      <key>monster_20034_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{515,412}}</string>
        <key>offset</key>
        <string>{-255,292}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{515,412}}</string>
        <key>sourceSize</key>
        <string>{515,412}</string>
      </dict>
      <key>monster_20034_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,517},{502,371}}</string>
        <key>offset</key>
        <string>{-236,247}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{502,371}}</string>
        <key>sourceSize</key>
        <string>{502,371}</string>
      </dict>
      <key>monster_20034_0_2_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1104,536},{339,278}}</string>
        <key>offset</key>
        <string>{-251,154}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{339,278}}</string>
        <key>sourceSize</key>
        <string>{339,278}</string>
      </dict>
      <key>monster_20034_0_2_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{746,706},{211,202}}</string>
        <key>offset</key>
        <string>{-87,164}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{211,202}}</string>
        <key>sourceSize</key>
        <string>{211,202}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_20034_0_2_2.png</string>
      <key>size</key>
      <string>{1450,1280}</string>
      <key>textureFileName</key>
      <string>monster_20034_0_2_2.png</string>
    </dict>
  </dict>
</plist>