<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_20075_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{306,0},{470,295}}</string>
        <key>offset</key>
        <string>{-282,228}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{470,295}}</string>
        <key>sourceSize</key>
        <string>{470,295}</string>
      </dict>
      <key>monster_20075_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{849,879},{360,282}}</string>
        <key>offset</key>
        <string>{-159,215}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{360,282}}</string>
        <key>sourceSize</key>
        <string>{360,282}</string>
      </dict>
      <key>monster_20075_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{849,287},{401,285}}</string>
        <key>offset</key>
        <string>{-200,225}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{401,285}}</string>
        <key>sourceSize</key>
        <string>{401,285}</string>
      </dict>
      <key>monster_20075_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{555,914},{358,292}}</string>
        <key>offset</key>
        <string>{-122,261}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{358,292}}</string>
        <key>sourceSize</key>
        <string>{358,292}</string>
      </dict>
      <key>monster_20075_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{849,574},{393,303}}</string>
        <key>offset</key>
        <string>{-201,272}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{393,303}}</string>
        <key>sourceSize</key>
        <string>{393,303}</string>
      </dict>
      <key>monster_20075_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,478},{475,279}}</string>
        <key>offset</key>
        <string>{-302,226}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{475,279}}</string>
        <key>sourceSize</key>
        <string>{475,279}</string>
      </dict>
      <key>monster_20075_0_2_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{476,304}}</string>
        <key>offset</key>
        <string>{-311,213}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{476,304}}</string>
        <key>sourceSize</key>
        <string>{476,304}</string>
      </dict>
      <key>monster_20075_0_2_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{281,478},{471,272}}</string>
        <key>offset</key>
        <string>{-307,202}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{471,272}}</string>
        <key>sourceSize</key>
        <string>{471,272}</string>
      </dict>
      <key>monster_20075_0_2_5_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{849,0},{405,285}}</string>
        <key>offset</key>
        <string>{-235,217}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{405,285}}</string>
        <key>sourceSize</key>
        <string>{405,285}</string>
      </dict>
      <key>monster_20075_0_2_5_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{555,472},{440,292}}</string>
        <key>offset</key>
        <string>{-265,225}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{440,292}}</string>
        <key>sourceSize</key>
        <string>{440,292}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_20075_0_2_5.png</string>
      <key>size</key>
      <string>{1280,1311}</string>
      <key>textureFileName</key>
      <string>monster_20075_0_2_5.png</string>
    </dict>
  </dict>
</plist>