<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_20058_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,740},{367,324}}</string>
        <key>offset</key>
        <string>{-163,179}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{367,324}}</string>
        <key>sourceSize</key>
        <string>{367,324}</string>
      </dict>
      <key>monster_20058_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{368,318}}</string>
        <key>offset</key>
        <string>{-165,172}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{368,318}}</string>
        <key>sourceSize</key>
        <string>{368,318}</string>
      </dict>
      <key>monster_20058_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1109},{366,315}}</string>
        <key>offset</key>
        <string>{-166,169}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{366,315}}</string>
        <key>sourceSize</key>
        <string>{366,315}</string>
      </dict>
      <key>monster_20058_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{318,370},{367,319}}</string>
        <key>offset</key>
        <string>{-168,172}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{367,319}}</string>
        <key>sourceSize</key>
        <string>{367,319}</string>
      </dict>
      <key>monster_20058_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{320,0},{367,330}}</string>
        <key>offset</key>
        <string>{-169,183}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{367,330}}</string>
        <key>sourceSize</key>
        <string>{367,330}</string>
      </dict>
      <key>monster_20058_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{326,739},{367,331}}</string>
        <key>offset</key>
        <string>{-169,184}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{367,331}}</string>
        <key>sourceSize</key>
        <string>{367,331}</string>
      </dict>
      <key>monster_20058_0_2_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{639,369},{367,325}}</string>
        <key>offset</key>
        <string>{-169,178}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{367,325}}</string>
        <key>sourceSize</key>
        <string>{367,325}</string>
      </dict>
      <key>monster_20058_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{652,0},{367,330}}</string>
        <key>offset</key>
        <string>{-164,185}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{367,330}}</string>
        <key>sourceSize</key>
        <string>{367,330}</string>
      </dict>
      <key>monster_20058_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,370},{368,316}}</string>
        <key>offset</key>
        <string>{-163,170}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{368,316}}</string>
        <key>sourceSize</key>
        <string>{368,316}</string>
      </dict>
      <key>monster_20058_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{368,1108},{366,305}}</string>
        <key>offset</key>
        <string>{-160,159}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{366,305}}</string>
        <key>sourceSize</key>
        <string>{366,305}</string>
      </dict>
      <key>monster_20058_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{659,738},{367,320}}</string>
        <key>offset</key>
        <string>{-159,173}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{367,320}}</string>
        <key>sourceSize</key>
        <string>{367,320}</string>
      </dict>
      <key>monster_20058_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{966,369},{367,325}}</string>
        <key>offset</key>
        <string>{-158,178}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{367,325}}</string>
        <key>sourceSize</key>
        <string>{367,325}</string>
      </dict>
      <key>monster_20058_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{984,0},{367,342}}</string>
        <key>offset</key>
        <string>{-158,195}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{367,342}}</string>
        <key>sourceSize</key>
        <string>{367,342}</string>
      </dict>
      <key>monster_20058_0_2_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{981,738},{367,312}}</string>
        <key>offset</key>
        <string>{-158,165}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{367,312}}</string>
        <key>sourceSize</key>
        <string>{367,312}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_20058_0_2_2.png</string>
      <key>size</key>
      <string>{1536,1437}</string>
      <key>textureFileName</key>
      <string>monster_20058_0_2_2.png</string>
    </dict>
  </dict>
</plist>