<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_40008_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,878},{435,227}}</string>
        <key>offset</key>
        <string>{-190,139}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{435,227}}</string>
        <key>sourceSize</key>
        <string>{435,227}</string>
      </dict>
      <key>monster_40008_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{946,1296},{416,223}}</string>
        <key>offset</key>
        <string>{-179,137}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{416,223}}</string>
        <key>sourceSize</key>
        <string>{416,223}</string>
      </dict>
      <key>monster_40008_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1173,0},{418,221}}</string>
        <key>offset</key>
        <string>{-180,135}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{418,221}}</string>
        <key>sourceSize</key>
        <string>{418,221}</string>
      </dict>
      <key>monster_40008_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{437,225}}</string>
        <key>offset</key>
        <string>{-191,138}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{437,225}}</string>
        <key>sourceSize</key>
        <string>{437,225}</string>
      </dict>
      <key>monster_40008_0_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1751},{431,237}}</string>
        <key>offset</key>
        <string>{-326,147}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{431,237}}</string>
        <key>sourceSize</key>
        <string>{431,237}</string>
      </dict>
      <key>monster_40008_0_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{941,0},{427,230}}</string>
        <key>offset</key>
        <string>{-320,147}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{427,230}}</string>
        <key>sourceSize</key>
        <string>{427,230}</string>
      </dict>
      <key>monster_40008_0_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{717,1305},{427,227}}</string>
        <key>offset</key>
        <string>{-321,146}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{427,227}}</string>
        <key>sourceSize</key>
        <string>{427,227}</string>
      </dict>
      <key>monster_40008_0_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{467,0},{433,236}}</string>
        <key>offset</key>
        <string>{-328,147}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{433,236}}</string>
        <key>sourceSize</key>
        <string>{433,236}</string>
      </dict>
      <key>monster_40008_0_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1171,1276},{394,205}}</string>
        <key>offset</key>
        <string>{-261,165}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{394,205}}</string>
        <key>sourceSize</key>
        <string>{394,205}</string>
      </dict>
      <key>monster_40008_0_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1632,0},{400,204}}</string>
        <key>offset</key>
        <string>{-263,165}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{400,204}}</string>
        <key>sourceSize</key>
        <string>{400,204}</string>
      </dict>
      <key>monster_40008_0_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1216,420},{401,208}}</string>
        <key>offset</key>
        <string>{-266,167}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{401,208}}</string>
        <key>sourceSize</key>
        <string>{401,208}</string>
      </dict>
      <key>monster_40008_0_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1230,823},{394,205}}</string>
        <key>offset</key>
        <string>{-262,166}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{394,205}}</string>
        <key>sourceSize</key>
        <string>{394,205}</string>
      </dict>
      <key>monster_40008_0_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{227,0},{434,238}}</string>
        <key>offset</key>
        <string>{-335,186}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{434,238}}</string>
        <key>sourceSize</key>
        <string>{434,238}</string>
      </dict>
      <key>monster_40008_0_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{242,1312},{431,238}}</string>
        <key>offset</key>
        <string>{-329,186}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{431,238}}</string>
        <key>sourceSize</key>
        <string>{431,238}</string>
      </dict>
      <key>monster_40008_0_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{433,1745},{431,240}}</string>
        <key>offset</key>
        <string>{-330,188}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{431,240}}</string>
        <key>sourceSize</key>
        <string>{431,240}</string>
      </dict>
      <key>monster_40008_0_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1315},{434,240}}</string>
        <key>offset</key>
        <string>{-335,188}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{434,240}}</string>
        <key>sourceSize</key>
        <string>{434,240}</string>
      </dict>
      <key>monster_40008_0_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{222,439},{435,219}}</string>
        <key>offset</key>
        <string>{-199,168}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{435,219}}</string>
        <key>sourceSize</key>
        <string>{435,219}</string>
      </dict>
      <key>monster_40008_0_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1004,858},{416,224}}</string>
        <key>offset</key>
        <string>{-191,173}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{416,224}}</string>
        <key>sourceSize</key>
        <string>{416,224}</string>
      </dict>
      <key>monster_40008_0_0_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{866,1734},{418,226}}</string>
        <key>offset</key>
        <string>{-192,175}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{418,226}}</string>
        <key>sourceSize</key>
        <string>{418,226}</string>
      </dict>
      <key>monster_40008_0_0_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,439},{437,220}}</string>
        <key>offset</key>
        <string>{-200,169}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{437,220}}</string>
        <key>sourceSize</key>
        <string>{437,220}</string>
      </dict>
      <key>monster_40008_0_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{482,1312},{431,233}}</string>
        <key>offset</key>
        <string>{-59,194}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{431,233}}</string>
        <key>sourceSize</key>
        <string>{431,233}</string>
      </dict>
      <key>monster_40008_0_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{767,867},{427,235}}</string>
        <key>offset</key>
        <string>{-61,196}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{427,235}}</string>
        <key>sourceSize</key>
        <string>{427,235}</string>
      </dict>
      <key>monster_40008_0_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{976,429},{427,238}}</string>
        <key>offset</key>
        <string>{-60,199}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{427,238}}</string>
        <key>sourceSize</key>
        <string>{427,238}</string>
      </dict>
      <key>monster_40008_0_0_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{705,0},{432,234}}</string>
        <key>offset</key>
        <string>{-59,195}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{432,234}}</string>
        <key>sourceSize</key>
        <string>{432,234}</string>
      </dict>
      <key>monster_40008_0_0_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1286,1672},{394,243}}</string>
        <key>offset</key>
        <string>{-87,181}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{394,243}}</string>
        <key>sourceSize</key>
        <string>{394,243}</string>
      </dict>
      <key>monster_40008_0_0_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1632,206},{400,235}}</string>
        <key>offset</key>
        <string>{-91,179}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{400,235}}</string>
        <key>sourceSize</key>
        <string>{400,235}</string>
      </dict>
      <key>monster_40008_0_0_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1396,0},{401,234}}</string>
        <key>offset</key>
        <string>{-89,179}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{401,234}}</string>
        <key>sourceSize</key>
        <string>{401,234}</string>
      </dict>
      <key>monster_40008_0_0_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1378,1219},{394,242}}</string>
        <key>offset</key>
        <string>{-86,180}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{394,242}}</string>
        <key>sourceSize</key>
        <string>{394,242}</string>
      </dict>
      <key>monster_40008_0_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{229,876},{434,270}}</string>
        <key>offset</key>
        <string>{-53,157}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{434,270}}</string>
        <key>sourceSize</key>
        <string>{434,270}</string>
      </dict>
      <key>monster_40008_0_0_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{501,872},{431,264}}</string>
        <key>offset</key>
        <string>{-56,156}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{431,264}}</string>
        <key>sourceSize</key>
        <string>{431,264}</string>
      </dict>
      <key>monster_40008_0_0_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{713,434},{431,261}}</string>
        <key>offset</key>
        <string>{-55,153}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{431,261}}</string>
        <key>sourceSize</key>
        <string>{431,261}</string>
      </dict>
      <key>monster_40008_0_0_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{443,436},{434,268}}</string>
        <key>offset</key>
        <string>{-53,156}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{434,268}}</string>
        <key>sourceSize</key>
        <string>{434,268}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_40008_0_0.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_40008_0_0.png</string>
    </dict>
  </dict>
</plist>