<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_40080_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1709,1533},{251,330}}</string>
        <key>offset</key>
        <string>{-106,206}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{251,330}}</string>
        <key>sourceSize</key>
        <string>{251,330}</string>
      </dict>
      <key>monster_40080_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1483,264},{261,344}}</string>
        <key>offset</key>
        <string>{-115,216}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{261,344}}</string>
        <key>sourceSize</key>
        <string>{261,344}</string>
      </dict>
      <key>monster_40080_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{904,356},{299,348}}</string>
        <key>offset</key>
        <string>{-122,218}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{299,348}}</string>
        <key>sourceSize</key>
        <string>{299,348}</string>
      </dict>
      <key>monster_40080_0_2_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{770,733},{332,349}}</string>
        <key>offset</key>
        <string>{-125,217}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{332,349}}</string>
        <key>sourceSize</key>
        <string>{332,349}</string>
      </dict>
      <key>monster_40080_0_2_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1139,0},{348,342}}</string>
        <key>offset</key>
        <string>{-124,210}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{348,342}}</string>
        <key>sourceSize</key>
        <string>{348,342}</string>
      </dict>
      <key>monster_40080_0_2_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1714,1206},{325,332}}</string>
        <key>offset</key>
        <string>{-118,202}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{325,332}}</string>
        <key>sourceSize</key>
        <string>{325,332}</string>
      </dict>
      <key>monster_40080_0_2_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1061,1386},{313,331}}</string>
        <key>offset</key>
        <string>{-111,204}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{313,331}}</string>
        <key>sourceSize</key>
        <string>{313,331}</string>
      </dict>
      <key>monster_40080_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{309,390},{374,304}}</string>
        <key>offset</key>
        <string>{-151,203}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{374,304}}</string>
        <key>sourceSize</key>
        <string>{374,304}</string>
      </dict>
      <key>monster_40080_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,403},{399,307}}</string>
        <key>offset</key>
        <string>{-158,207}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{399,307}}</string>
        <key>sourceSize</key>
        <string>{399,307}</string>
      </dict>
      <key>monster_40080_0_2_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{401,299}}</string>
        <key>offset</key>
        <string>{-160,199}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{401,299}}</string>
        <key>sourceSize</key>
        <string>{401,299}</string>
      </dict>
      <key>monster_40080_0_2_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{301,0},{388,279}}</string>
        <key>offset</key>
        <string>{-160,179}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{388,279}}</string>
        <key>sourceSize</key>
        <string>{388,279}</string>
      </dict>
      <key>monster_40080_0_2_1_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,804},{385,267}}</string>
        <key>offset</key>
        <string>{-154,169}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{385,267}}</string>
        <key>sourceSize</key>
        <string>{385,267}</string>
      </dict>
      <key>monster_40080_0_2_1_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{498,766},{366,270}}</string>
        <key>offset</key>
        <string>{-146,170}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{366,270}}</string>
        <key>sourceSize</key>
        <string>{366,270}</string>
      </dict>
      <key>monster_40080_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1381,841},{339,297}}</string>
        <key>offset</key>
        <string>{-134,211}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{339,297}}</string>
        <key>sourceSize</key>
        <string>{339,297}</string>
      </dict>
      <key>monster_40080_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{860,0},{354,277}}</string>
        <key>offset</key>
        <string>{-139,191}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{354,277}}</string>
        <key>sourceSize</key>
        <string>{354,277}</string>
      </dict>
      <key>monster_40080_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{582,0},{370,276}}</string>
        <key>offset</key>
        <string>{-143,187}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{370,276}}</string>
        <key>sourceSize</key>
        <string>{370,276}</string>
      </dict>
      <key>monster_40080_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{232,1191},{377,267}}</string>
        <key>offset</key>
        <string>{-146,179}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{377,267}}</string>
        <key>sourceSize</key>
        <string>{377,267}</string>
      </dict>
      <key>monster_40080_0_2_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1573},{379,241}}</string>
        <key>offset</key>
        <string>{-149,152}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{379,241}}</string>
        <key>sourceSize</key>
        <string>{379,241}</string>
      </dict>
      <key>monster_40080_0_2_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{269,804},{375,227}}</string>
        <key>offset</key>
        <string>{-149,137}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{375,227}}</string>
        <key>sourceSize</key>
        <string>{375,227}</string>
      </dict>
      <key>monster_40080_0_2_2_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1191},{380,230}}</string>
        <key>offset</key>
        <string>{-146,141}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{380,230}}</string>
        <key>sourceSize</key>
        <string>{380,230}</string>
      </dict>
      <key>monster_40080_0_2_2_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{243,1570},{354,237}}</string>
        <key>offset</key>
        <string>{-142,148}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{354,237}}</string>
        <key>sourceSize</key>
        <string>{354,237}</string>
      </dict>
      <key>monster_40080_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1722,870},{334,295}}</string>
        <key>offset</key>
        <string>{-103,197}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{334,295}}</string>
        <key>sourceSize</key>
        <string>{334,295}</string>
      </dict>
      <key>monster_40080_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1379,1140},{333,281}}</string>
        <key>offset</key>
        <string>{-103,184}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{333,281}}</string>
        <key>sourceSize</key>
        <string>{333,281}</string>
      </dict>
      <key>monster_40080_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1376,1423},{331,247}}</string>
        <key>offset</key>
        <string>{-105,150}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{331,247}}</string>
        <key>sourceSize</key>
        <string>{331,247}</string>
      </dict>
      <key>monster_40080_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1708,1786},{329,244}}</string>
        <key>offset</key>
        <string>{-107,142}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{329,244}}</string>
        <key>sourceSize</key>
        <string>{329,244}</string>
      </dict>
      <key>monster_40080_0_2_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1376,1672},{330,247}}</string>
        <key>offset</key>
        <string>{-107,143}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{330,247}}</string>
        <key>sourceSize</key>
        <string>{330,247}</string>
      </dict>
      <key>monster_40080_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1205,350},{343,236}}</string>
        <key>offset</key>
        <string>{-87,146}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{343,236}}</string>
        <key>sourceSize</key>
        <string>{343,236}</string>
      </dict>
      <key>monster_40080_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{764,1489},{348,240}}</string>
        <key>offset</key>
        <string>{-130,136}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{348,240}}</string>
        <key>sourceSize</key>
        <string>{348,240}</string>
      </dict>
      <key>monster_40080_0_2_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1788,527},{341,250}}</string>
        <key>offset</key>
        <string>{-125,146}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{341,250}}</string>
        <key>sourceSize</key>
        <string>{341,250}</string>
      </dict>
      <key>monster_40080_0_2_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1483,0},{346,262}}</string>
        <key>offset</key>
        <string>{-126,160}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{346,262}}</string>
        <key>sourceSize</key>
        <string>{346,262}</string>
      </dict>
      <key>monster_40080_0_2_5_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1104,706},{340,275}}</string>
        <key>offset</key>
        <string>{-130,174}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{340,275}}</string>
        <key>sourceSize</key>
        <string>{340,275}</string>
      </dict>
      <key>monster_40080_0_2_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1006,1719},{330,308}}</string>
        <key>offset</key>
        <string>{-129,200}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{330,308}}</string>
        <key>sourceSize</key>
        <string>{330,308}</string>
      </dict>
      <key>monster_40080_0_2_6_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1443,527},{343,312}}</string>
        <key>offset</key>
        <string>{-143,205}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{343,312}}</string>
        <key>sourceSize</key>
        <string>{343,312}</string>
      </dict>
      <key>monster_40080_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{501,1134},{280,353}}</string>
        <key>offset</key>
        <string>{-111,219}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{280,353}}</string>
        <key>sourceSize</key>
        <string>{280,353}</string>
      </dict>
      <key>monster_40080_0_2_7_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{615,372},{287,359}}</string>
        <key>offset</key>
        <string>{-117,223}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{287,359}}</string>
        <key>sourceSize</key>
        <string>{287,359}</string>
      </dict>
      <key>monster_40080_0_2_7_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{482,1570},{280,354}}</string>
        <key>offset</key>
        <string>{-111,219}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{280,354}}</string>
        <key>sourceSize</key>
        <string>{280,354}</string>
      </dict>
      <key>monster_40080_0_2_7_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{783,1084},{276,347}}</string>
        <key>offset</key>
        <string>{-106,217}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{276,347}}</string>
        <key>sourceSize</key>
        <string>{276,347}</string>
      </dict>
      <key>monster_40080_0_2_7_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1104,1048},{273,336}}</string>
        <key>offset</key>
        <string>{-104,209}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{273,336}}</string>
        <key>sourceSize</key>
        <string>{273,336}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_40080_0_2_0.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_40080_0_2_0.png</string>
    </dict>
  </dict>
</plist>