<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_40098_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{576,440}}</string>
        <key>offset</key>
        <string>{-302,283}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{576,440}}</string>
        <key>sourceSize</key>
        <string>{576,440}</string>
      </dict>
      <key>monster_40098_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{544,1133},{456,555}}</string>
        <key>offset</key>
        <string>{-108,374}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{456,555}}</string>
        <key>sourceSize</key>
        <string>{456,555}</string>
      </dict>
      <key>monster_40098_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{444,569},{431,562}}</string>
        <key>offset</key>
        <string>{-108,382}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{431,562}}</string>
        <key>sourceSize</key>
        <string>{431,562}</string>
      </dict>
      <key>monster_40098_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1559,825},{361,550}}</string>
        <key>offset</key>
        <string>{-109,383}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{361,550}}</string>
        <key>sourceSize</key>
        <string>{361,550}</string>
      </dict>
      <key>monster_40098_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1002,825},{555,468}}</string>
        <key>offset</key>
        <string>{-308,345}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{555,468}}</string>
        <key>sourceSize</key>
        <string>{555,468}</string>
      </dict>
      <key>monster_40098_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{848,0},{561,398}}</string>
        <key>offset</key>
        <string>{-209,245}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{561,398}}</string>
        <key>sourceSize</key>
        <string>{561,398}</string>
      </dict>
      <key>monster_40098_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{442,0},{567,404}}</string>
        <key>offset</key>
        <string>{-210,270}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{567,404}}</string>
        <key>sourceSize</key>
        <string>{567,404}</string>
      </dict>
      <key>monster_40098_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1148},{542,565}}</string>
        <key>offset</key>
        <string>{-143,447}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{542,565}}</string>
        <key>sourceSize</key>
        <string>{542,565}</string>
      </dict>
      <key>monster_40098_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,578},{442,568}}</string>
        <key>offset</key>
        <string>{-196,414}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{442,568}}</string>
        <key>sourceSize</key>
        <string>{442,568}</string>
      </dict>
      <key>monster_40098_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1002,1295},{549,419}}</string>
        <key>offset</key>
        <string>{-114,258}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{549,419}}</string>
        <key>sourceSize</key>
        <string>{549,419}</string>
      </dict>
      <key>monster_40098_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1248,0},{426,560}}</string>
        <key>offset</key>
        <string>{-190,434}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{426,560}}</string>
        <key>sourceSize</key>
        <string>{426,560}</string>
      </dict>
      <key>monster_40098_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1553,1377},{452,541}}</string>
        <key>offset</key>
        <string>{-162,410}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{452,541}}</string>
        <key>sourceSize</key>
        <string>{452,541}</string>
      </dict>
      <key>monster_40098_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1248,428},{556,395}}</string>
        <key>offset</key>
        <string>{-160,251}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{556,395}}</string>
        <key>sourceSize</key>
        <string>{556,395}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_40098_0_2_0.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_40098_0_2_0.png</string>
    </dict>
  </dict>
</plist>