<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_1064_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1034,1218},{293,256}}</string>
        <key>offset</key>
        <string>{-95,181}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{293,256}}</string>
        <key>sourceSize</key>
        <string>{293,256}</string>
      </dict>
      <key>monster_1064_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{779,304},{191,300}}</string>
        <key>offset</key>
        <string>{-105,208}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{191,300}}</string>
        <key>sourceSize</key>
        <string>{191,300}</string>
      </dict>
      <key>monster_1064_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{341,1757},{326,252}}</string>
        <key>offset</key>
        <string>{-217,180}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{326,252}}</string>
        <key>sourceSize</key>
        <string>{326,252}</string>
      </dict>
      <key>monster_1064_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,755},{340,257}}</string>
        <key>offset</key>
        <string>{-216,185}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{340,257}}</string>
        <key>sourceSize</key>
        <string>{340,257}</string>
      </dict>
      <key>monster_1064_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1114,902},{290,258}}</string>
        <key>offset</key>
        <string>{-173,186}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{290,258}}</string>
        <key>sourceSize</key>
        <string>{290,258}</string>
      </dict>
      <key>monster_1064_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1243,1787},{270,257}}</string>
        <key>offset</key>
        <string>{-106,185}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{270,257}}</string>
        <key>sourceSize</key>
        <string>{270,257}</string>
      </dict>
      <key>monster_1064_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1515,1736},{246,264}}</string>
        <key>offset</key>
        <string>{-101,214}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{246,264}}</string>
        <key>sourceSize</key>
        <string>{246,264}</string>
      </dict>
      <key>monster_1064_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1197,302},{254,297}}</string>
        <key>offset</key>
        <string>{-92,247}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{254,297}}</string>
        <key>sourceSize</key>
        <string>{254,297}</string>
      </dict>
      <key>monster_1064_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1292,1194},{236,269}}</string>
        <key>offset</key>
        <string>{-86,219}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{236,269}}</string>
        <key>sourceSize</key>
        <string>{236,269}</string>
      </dict>
      <key>monster_1064_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1763,1338},{245,263}}</string>
        <key>offset</key>
        <string>{-73,213}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{245,263}}</string>
        <key>sourceSize</key>
        <string>{245,263}</string>
      </dict>
      <key>monster_1064_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1706,568},{278,259}}</string>
        <key>offset</key>
        <string>{-75,209}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{278,259}}</string>
        <key>sourceSize</key>
        <string>{278,259}</string>
      </dict>
      <key>monster_1064_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{983,1724},{308,258}}</string>
        <key>offset</key>
        <string>{-120,177}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{308,258}}</string>
        <key>sourceSize</key>
        <string>{308,258}</string>
      </dict>
      <key>monster_1064_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,397},{356,258}}</string>
        <key>offset</key>
        <string>{-209,177}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{356,258}}</string>
        <key>sourceSize</key>
        <string>{356,258}</string>
      </dict>
      <key>monster_1064_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{669,1752},{286,312}}</string>
        <key>offset</key>
        <string>{-101,232}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{286,312}}</string>
        <key>sourceSize</key>
        <string>{286,312}</string>
      </dict>
      <key>monster_1064_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1722,0},{282,283}}</string>
        <key>offset</key>
        <string>{-103,202}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{282,283}}</string>
        <key>sourceSize</key>
        <string>{282,283}</string>
      </dict>
      <key>monster_1064_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{712,0},{302,253}}</string>
        <key>offset</key>
        <string>{-109,172}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{302,253}}</string>
        <key>sourceSize</key>
        <string>{302,253}</string>
      </dict>
      <key>monster_1064_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{453,0},{304,257}}</string>
        <key>offset</key>
        <string>{-113,176}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{304,257}}</string>
        <key>sourceSize</key>
        <string>{304,257}</string>
      </dict>
      <key>monster_1064_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1439},{339,250}}</string>
        <key>offset</key>
        <string>{-204,181}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{339,250}}</string>
        <key>sourceSize</key>
        <string>{339,250}</string>
      </dict>
      <key>monster_1064_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{252,1097},{305,329}}</string>
        <key>offset</key>
        <string>{-181,260}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{305,329}}</string>
        <key>sourceSize</key>
        <string>{305,329}</string>
      </dict>
      <key>monster_1064_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{967,0},{300,244}}</string>
        <key>offset</key>
        <string>{-64,175}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{300,244}}</string>
        <key>sourceSize</key>
        <string>{300,244}</string>
      </dict>
      <key>monster_1064_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{972,302},{298,223}}</string>
        <key>offset</key>
        <string>{-75,154}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{298,223}}</string>
        <key>sourceSize</key>
        <string>{298,223}</string>
      </dict>
      <key>monster_1064_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{488,1428},{322,256}}</string>
        <key>offset</key>
        <string>{-85,148}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{322,256}}</string>
        <key>sourceSize</key>
        <string>{322,256}</string>
      </dict>
      <key>monster_1064_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1453,299},{286,251}}</string>
        <key>offset</key>
        <string>{-83,163}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{286,251}}</string>
        <key>sourceSize</key>
        <string>{286,251}</string>
      </dict>
      <key>monster_1064_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{817,916},{295,300}}</string>
        <key>offset</key>
        <string>{-178,211}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{295,300}}</string>
        <key>sourceSize</key>
        <string>{295,300}</string>
      </dict>
      <key>monster_1064_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{191,395}}</string>
        <key>offset</key>
        <string>{-65,306}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{191,395}}</string>
        <key>sourceSize</key>
        <string>{191,395}</string>
      </dict>
      <key>monster_1064_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{252,1428},{327,234}}</string>
        <key>offset</key>
        <string>{-89,126}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{327,234}}</string>
        <key>sourceSize</key>
        <string>{327,234}</string>
      </dict>
      <key>monster_1064_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1097},{340,250}}</string>
        <key>offset</key>
        <string>{-103,131}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{340,250}}</string>
        <key>sourceSize</key>
        <string>{340,250}</string>
      </dict>
      <key>monster_1064_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1292,601},{290,269}}</string>
        <key>offset</key>
        <string>{-97,134}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{290,269}}</string>
        <key>sourceSize</key>
        <string>{290,269}</string>
      </dict>
      <key>monster_1064_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1243,1513},{272,246}}</string>
        <key>offset</key>
        <string>{-145,157}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{272,246}}</string>
        <key>sourceSize</key>
        <string>{272,246}</string>
      </dict>
      <key>monster_1064_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1780},{339,250}}</string>
        <key>offset</key>
        <string>{-73,176}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{339,250}}</string>
        <key>sourceSize</key>
        <string>{339,250}</string>
      </dict>
      <key>monster_1064_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{259,755},{305,329}}</string>
        <key>offset</key>
        <string>{-62,255}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{305,329}}</string>
        <key>sourceSize</key>
        <string>{305,329}</string>
      </dict>
      <key>monster_1064_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{821,606},{300,244}}</string>
        <key>offset</key>
        <string>{-174,170}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{300,244}}</string>
        <key>sourceSize</key>
        <string>{300,244}</string>
      </dict>
      <key>monster_1064_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1067,602},{298,223}}</string>
        <key>offset</key>
        <string>{-161,149}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{298,223}}</string>
        <key>sourceSize</key>
        <string>{298,223}</string>
      </dict>
      <key>monster_1064_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{559,1086},{322,256}}</string>
        <key>offset</key>
        <string>{-175,143}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{322,256}}</string>
        <key>sourceSize</key>
        <string>{322,256}</string>
      </dict>
      <key>monster_1064_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1469,0},{286,251}}</string>
        <key>offset</key>
        <string>{-141,158}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{286,251}}</string>
        <key>sourceSize</key>
        <string>{286,251}</string>
      </dict>
      <key>monster_1064_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{260,358},{308,258}}</string>
        <key>offset</key>
        <string>{-153,176}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{308,258}}</string>
        <key>sourceSize</key>
        <string>{308,258}</string>
      </dict>
      <key>monster_1064_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{193,0},{356,258}}</string>
        <key>offset</key>
        <string>{-112,176}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{356,258}}</string>
        <key>sourceSize</key>
        <string>{356,258}</string>
      </dict>
      <key>monster_1064_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{746,1410},{286,312}}</string>
        <key>offset</key>
        <string>{-150,231}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{286,312}}</string>
        <key>sourceSize</key>
        <string>{286,312}</string>
      </dict>
      <key>monster_1064_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1722,284},{282,283}}</string>
        <key>offset</key>
        <string>{-144,201}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{282,283}}</string>
        <key>sourceSize</key>
        <string>{282,283}</string>
      </dict>
      <key>monster_1064_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{566,612},{302,253}}</string>
        <key>offset</key>
        <string>{-158,171}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{302,253}}</string>
        <key>sourceSize</key>
        <string>{302,253}</string>
      </dict>
      <key>monster_1064_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{520,306},{304,257}}</string>
        <key>offset</key>
        <string>{-156,175}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{304,257}}</string>
        <key>sourceSize</key>
        <string>{304,257}</string>
      </dict>
      <key>monster_1064_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1763,1090},{246,264}}</string>
        <key>offset</key>
        <string>{-80,211}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{246,264}}</string>
        <key>sourceSize</key>
        <string>{246,264}</string>
      </dict>
      <key>monster_1064_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1213,0},{254,297}}</string>
        <key>offset</key>
        <string>{-97,244}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{254,297}}</string>
        <key>sourceSize</key>
        <string>{254,297}</string>
      </dict>
      <key>monster_1064_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1491,1465},{236,269}}</string>
        <key>offset</key>
        <string>{-85,216}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{236,269}}</string>
        <key>sourceSize</key>
        <string>{236,269}</string>
      </dict>
      <key>monster_1064_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1763,1585},{245,263}}</string>
        <key>offset</key>
        <string>{-107,210}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{245,263}}</string>
        <key>sourceSize</key>
        <string>{245,263}</string>
      </dict>
      <key>monster_1064_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1563,829},{278,259}}</string>
        <key>offset</key>
        <string>{-138,206}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{278,259}}</string>
        <key>sourceSize</key>
        <string>{278,259}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_1064_0_2_0.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_1064_0_2_0.png</string>
    </dict>
  </dict>
</plist>