<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_20059_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{579,510},{237,255}}</string>
        <key>offset</key>
        <string>{-46,113}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{237,255}}</string>
        <key>sourceSize</key>
        <string>{237,255}</string>
      </dict>
      <key>monster_20059_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{388,749},{232,253}}</string>
        <key>offset</key>
        <string>{-46,113}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{232,253}}</string>
        <key>sourceSize</key>
        <string>{232,253}</string>
      </dict>
      <key>monster_20059_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{836,510},{236,243}}</string>
        <key>offset</key>
        <string>{-46,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{236,243}}</string>
        <key>sourceSize</key>
        <string>{236,243}</string>
      </dict>
      <key>monster_20059_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{622,749},{239,247}}</string>
        <key>offset</key>
        <string>{-46,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{239,247}}</string>
        <key>sourceSize</key>
        <string>{239,247}</string>
      </dict>
      <key>monster_20059_0_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{137,318}}</string>
        <key>offset</key>
        <string>{-59,119}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,318}}</string>
        <key>sourceSize</key>
        <string>{137,318}</string>
      </dict>
      <key>monster_20059_0_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{320,0},{132,316}}</string>
        <key>offset</key>
        <string>{-55,120}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,316}}</string>
        <key>sourceSize</key>
        <string>{132,316}</string>
      </dict>
      <key>monster_20059_0_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{320,134},{140,310}}</string>
        <key>offset</key>
        <string>{-63,121}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,310}}</string>
        <key>sourceSize</key>
        <string>{140,310}</string>
      </dict>
      <key>monster_20059_0_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{638,0},{144,313}}</string>
        <key>offset</key>
        <string>{-68,120}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,313}}</string>
        <key>sourceSize</key>
        <string>{144,313}</string>
      </dict>
      <key>monster_20059_0_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,139},{206,291}}</string>
        <key>offset</key>
        <string>{-113,130}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{206,291}}</string>
        <key>sourceSize</key>
        <string>{206,291}</string>
      </dict>
      <key>monster_20059_0_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,347},{202,289}}</string>
        <key>offset</key>
        <string>{-108,129}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{202,289}}</string>
        <key>sourceSize</key>
        <string>{202,289}</string>
      </dict>
      <key>monster_20059_0_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{586,315},{193,289}}</string>
        <key>offset</key>
        <string>{-100,129}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{193,289}}</string>
        <key>sourceSize</key>
        <string>{193,289}</string>
      </dict>
      <key>monster_20059_0_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{293,276},{196,291}}</string>
        <key>offset</key>
        <string>{-106,130}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,291}}</string>
        <key>sourceSize</key>
        <string>{196,291}</string>
      </dict>
      <key>monster_20059_0_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,551},{285,189}}</string>
        <key>offset</key>
        <string>{-175,133}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{285,189}}</string>
        <key>sourceSize</key>
        <string>{285,189}</string>
      </dict>
      <key>monster_20059_0_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{291,474},{286,190}}</string>
        <key>offset</key>
        <string>{-170,132}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{286,190}}</string>
        <key>sourceSize</key>
        <string>{286,190}</string>
      </dict>
      <key>monster_20059_0_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{192,742},{278,194}}</string>
        <key>offset</key>
        <string>{-169,134}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{278,194}}</string>
        <key>sourceSize</key>
        <string>{278,194}</string>
      </dict>
      <key>monster_20059_0_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,742},{280,190}}</string>
        <key>offset</key>
        <string>{-173,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{280,190}}</string>
        <key>sourceSize</key>
        <string>{280,190}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_20059_0_0_0.png</string>
      <key>size</key>
      <string>{1132,1024}</string>
      <key>textureFileName</key>
      <string>monster_20059_0_0_0.png</string>
    </dict>
  </dict>
</plist>