<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_20030_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{177,677},{218,194}}</string>
        <key>offset</key>
        <string>{-75,148}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{218,194}}</string>
        <key>sourceSize</key>
        <string>{218,194}</string>
      </dict>
      <key>monster_20030_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{367,897},{211,181}}</string>
        <key>offset</key>
        <string>{-70,153}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{211,181}}</string>
        <key>sourceSize</key>
        <string>{211,181}</string>
      </dict>
      <key>monster_20030_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1096,1033},{198,183}}</string>
        <key>offset</key>
        <string>{-75,153}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{198,183}}</string>
        <key>sourceSize</key>
        <string>{198,183}</string>
      </dict>
      <key>monster_20030_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{903,625},{203,203}}</string>
        <key>offset</key>
        <string>{-80,163}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{203,203}}</string>
        <key>sourceSize</key>
        <string>{203,203}</string>
      </dict>
      <key>monster_20030_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{192,454},{218,218}}</string>
        <key>offset</key>
        <string>{-85,173}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{218,218}}</string>
        <key>sourceSize</key>
        <string>{218,218}</string>
      </dict>
      <key>monster_20030_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{195,0},{221,183}}</string>
        <key>offset</key>
        <string>{-80,158}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{221,183}}</string>
        <key>sourceSize</key>
        <string>{221,183}</string>
      </dict>
      <key>monster_20030_0_1_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,228},{224,199}}</string>
        <key>offset</key>
        <string>{-79,168}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{224,199}}</string>
        <key>sourceSize</key>
        <string>{224,199}</string>
      </dict>
      <key>monster_20030_0_1_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{226,193}}</string>
        <key>offset</key>
        <string>{-75,153}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{226,193}}</string>
        <key>sourceSize</key>
        <string>{226,193}</string>
      </dict>
      <key>monster_20030_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{712,865},{179,205}}</string>
        <key>offset</key>
        <string>{-63,168}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{179,205}}</string>
        <key>sourceSize</key>
        <string>{179,205}</string>
      </dict>
      <key>monster_20030_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1008,1454},{171,187}}</string>
        <key>offset</key>
        <string>{-65,168}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{171,187}}</string>
        <key>sourceSize</key>
        <string>{171,187}</string>
      </dict>
      <key>monster_20030_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{732,637},{169,205}}</string>
        <key>offset</key>
        <string>{-60,173}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{169,205}}</string>
        <key>sourceSize</key>
        <string>{169,205}</string>
      </dict>
      <key>monster_20030_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1336},{152,213}}</string>
        <key>offset</key>
        <string>{-44,173}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,213}}</string>
        <key>sourceSize</key>
        <string>{152,213}</string>
      </dict>
      <key>monster_20030_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{557,219},{156,207}}</string>
        <key>offset</key>
        <string>{-50,168}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,207}}</string>
        <key>sourceSize</key>
        <string>{156,207}</string>
      </dict>
      <key>monster_20030_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1399,1442},{185,191}}</string>
        <key>offset</key>
        <string>{-65,173}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{185,191}}</string>
        <key>sourceSize</key>
        <string>{185,191}</string>
      </dict>
      <key>monster_20030_0_1_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{755,418},{195,205}}</string>
        <key>offset</key>
        <string>{-65,178}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{195,205}}</string>
        <key>sourceSize</key>
        <string>{195,205}</string>
      </dict>
      <key>monster_20030_0_1_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{562,0},{196,207}}</string>
        <key>offset</key>
        <string>{-65,173}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,207}}</string>
        <key>sourceSize</key>
        <string>{196,207}</string>
      </dict>
      <key>monster_20030_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{360,1112},{154,212}}</string>
        <key>offset</key>
        <string>{-45,193}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,212}}</string>
        <key>sourceSize</key>
        <string>{154,212}</string>
      </dict>
      <key>monster_20030_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1399,1286},{154,196}}</string>
        <key>offset</key>
        <string>{-40,168}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,196}}</string>
        <key>sourceSize</key>
        <string>{154,196}</string>
      </dict>
      <key>monster_20030_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{840,1279},{166,201}}</string>
        <key>offset</key>
        <string>{-44,168}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{166,201}}</string>
        <key>sourceSize</key>
        <string>{166,201}</string>
      </dict>
      <key>monster_20030_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,865},{160,206}}</string>
        <key>offset</key>
        <string>{-41,173}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,206}}</string>
        <key>sourceSize</key>
        <string>{160,206}</string>
      </dict>
      <key>monster_20030_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1058,207},{158,202}}</string>
        <key>offset</key>
        <string>{-45,178}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{158,202}}</string>
        <key>sourceSize</key>
        <string>{158,202}</string>
      </dict>
      <key>monster_20030_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1281,1130},{154,197}}</string>
        <key>offset</key>
        <string>{-52,178}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,197}}</string>
        <key>sourceSize</key>
        <string>{154,197}</string>
      </dict>
      <key>monster_20030_0_1_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{952,416},{160,203}}</string>
        <key>offset</key>
        <string>{-53,180}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,203}}</string>
        <key>sourceSize</key>
        <string>{160,203}</string>
      </dict>
      <key>monster_20030_0_1_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{373,674},{160,211}}</string>
        <key>offset</key>
        <string>{-47,188}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,211}}</string>
        <key>sourceSize</key>
        <string>{160,211}</string>
      </dict>
      <key>monster_20030_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{535,656},{195,207}}</string>
        <key>offset</key>
        <string>{-64,188}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{195,207}}</string>
        <key>sourceSize</key>
        <string>{195,207}</string>
      </dict>
      <key>monster_20030_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{430,1326},{209,203}}</string>
        <key>offset</key>
        <string>{-65,168}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{209,203}}</string>
        <key>sourceSize</key>
        <string>{209,203}</string>
      </dict>
      <key>monster_20030_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{168,1120},{213,190}}</string>
        <key>offset</key>
        <string>{-60,158}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{213,190}}</string>
        <key>sourceSize</key>
        <string>{213,190}</string>
      </dict>
      <key>monster_20030_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{201,223},{218,171}}</string>
        <key>offset</key>
        <string>{-60,148}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{218,171}}</string>
        <key>sourceSize</key>
        <string>{218,171}</string>
      </dict>
      <key>monster_20030_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{879,209},{205,177}}</string>
        <key>offset</key>
        <string>{-60,158}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{205,177}}</string>
        <key>sourceSize</key>
        <string>{205,177}</string>
      </dict>
      <key>monster_20030_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1201,1286},{196,197}}</string>
        <key>offset</key>
        <string>{-66,168}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,197}}</string>
        <key>sourceSize</key>
        <string>{196,197}</string>
      </dict>
      <key>monster_20030_0_1_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1218,204},{189,199}}</string>
        <key>offset</key>
        <string>{-63,174}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{189,199}}</string>
        <key>sourceSize</key>
        <string>{189,199}</string>
      </dict>
      <key>monster_20030_0_1_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1278,0},{169,199}}</string>
        <key>offset</key>
        <string>{-50,181}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{169,199}}</string>
        <key>sourceSize</key>
        <string>{169,199}</string>
      </dict>
      <key>monster_20030_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{380,0},{217,180}}</string>
        <key>offset</key>
        <string>{-74,163}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{217,180}}</string>
        <key>sourceSize</key>
        <string>{217,180}</string>
      </dict>
      <key>monster_20030_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{516,1110},{205,209}}</string>
        <key>offset</key>
        <string>{-65,173}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{205,209}}</string>
        <key>sourceSize</key>
        <string>{205,209}</string>
      </dict>
      <key>monster_20030_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{893,844},{204,181}}</string>
        <key>offset</key>
        <string>{-67,153}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{204,181}}</string>
        <key>sourceSize</key>
        <string>{204,181}</string>
      </dict>
      <key>monster_20030_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1306,405},{199,172}}</string>
        <key>offset</key>
        <string>{-55,153}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{199,172}}</string>
        <key>sourceSize</key>
        <string>{199,172}</string>
      </dict>
      <key>monster_20030_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{374,223},{218,181}}</string>
        <key>offset</key>
        <string>{-65,158}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{218,181}}</string>
        <key>sourceSize</key>
        <string>{218,181}</string>
      </dict>
      <key>monster_20030_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,454},{221,190}}</string>
        <key>offset</key>
        <string>{-70,153}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{221,190}}</string>
        <key>sourceSize</key>
        <string>{221,190}</string>
      </dict>
      <key>monster_20030_0_1_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,899},{219,183}}</string>
        <key>offset</key>
        <string>{-70,153}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{219,183}}</string>
        <key>sourceSize</key>
        <string>{219,183}</string>
      </dict>
      <key>monster_20030_0_1_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,677},{220,175}}</string>
        <key>offset</key>
        <string>{-75,157}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{220,175}}</string>
        <key>sourceSize</key>
        <string>{220,175}</string>
      </dict>
      <key>monster_20030_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{577,428},{176,207}}</string>
        <key>offset</key>
        <string>{-50,188}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,207}}</string>
        <key>sourceSize</key>
        <string>{176,207}</string>
      </dict>
      <key>monster_20030_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1281,930},{198,198}}</string>
        <key>offset</key>
        <string>{-65,163}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{198,198}}</string>
        <key>sourceSize</key>
        <string>{198,198}</string>
      </dict>
      <key>monster_20030_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{185,897},{213,180}}</string>
        <key>offset</key>
        <string>{-80,148}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{213,180}}</string>
        <key>sourceSize</key>
        <string>{213,180}</string>
      </dict>
      <key>monster_20030_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1120},{214,166}}</string>
        <key>offset</key>
        <string>{-85,143}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{214,166}}</string>
        <key>sourceSize</key>
        <string>{214,166}</string>
      </dict>
      <key>monster_20030_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1507,558},{193,177}}</string>
        <key>offset</key>
        <string>{-75,158}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{193,177}}</string>
        <key>sourceSize</key>
        <string>{193,177}</string>
      </dict>
      <key>monster_20030_0_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1409,201},{196,197}}</string>
        <key>offset</key>
        <string>{-70,168}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,197}}</string>
        <key>sourceSize</key>
        <string>{196,197}</string>
      </dict>
      <key>monster_20030_0_1_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1306,579},{183,199}}</string>
        <key>offset</key>
        <string>{-55,174}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{183,199}}</string>
        <key>sourceSize</key>
        <string>{183,199}</string>
      </dict>
      <key>monster_20030_0_1_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1270,764},{164,199}}</string>
        <key>offset</key>
        <string>{-50,181}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{164,199}}</string>
        <key>sourceSize</key>
        <string>{164,199}</string>
      </dict>
      <key>monster_20030_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{715,209},{162,207}}</string>
        <key>offset</key>
        <string>{-52,188}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{162,207}}</string>
        <key>sourceSize</key>
        <string>{162,207}</string>
      </dict>
      <key>monster_20030_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1507,400},{156,196}}</string>
        <key>offset</key>
        <string>{-45,168}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,196}}</string>
        <key>sourceSize</key>
        <string>{156,196}</string>
      </dict>
      <key>monster_20030_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{930,1050},{164,201}}</string>
        <key>offset</key>
        <string>{-50,168}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{164,201}}</string>
        <key>sourceSize</key>
        <string>{164,201}</string>
      </dict>
      <key>monster_20030_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1076,830},{163,201}}</string>
        <key>offset</key>
        <string>{-52,168}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,201}}</string>
        <key>sourceSize</key>
        <string>{163,201}</string>
      </dict>
      <key>monster_20030_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1120,0},{156,202}}</string>
        <key>offset</key>
        <string>{-53,178}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,202}}</string>
        <key>sourceSize</key>
        <string>{156,202}</string>
      </dict>
      <key>monster_20030_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1449,0},{156,197}}</string>
        <key>offset</key>
        <string>{-47,178}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,197}}</string>
        <key>sourceSize</key>
        <string>{156,197}</string>
      </dict>
      <key>monster_20030_0_1_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1108,621},{160,201}}</string>
        <key>offset</key>
        <string>{-48,178}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,201}}</string>
        <key>sourceSize</key>
        <string>{160,201}</string>
      </dict>
      <key>monster_20030_0_1_6_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{412,443},{163,211}}</string>
        <key>offset</key>
        <string>{-53,188}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,211}}</string>
        <key>sourceSize</key>
        <string>{163,211}</string>
      </dict>
      <key>monster_20030_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1114,411},{190,200}}</string>
        <key>offset</key>
        <string>{-60,163}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{190,200}}</string>
        <key>sourceSize</key>
        <string>{190,200}</string>
      </dict>
      <key>monster_20030_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1471,764},{163,187}}</string>
        <key>offset</key>
        <string>{-45,168}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,187}}</string>
        <key>sourceSize</key>
        <string>{163,187}</string>
      </dict>
      <key>monster_20030_0_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{940,0},{178,205}}</string>
        <key>offset</key>
        <string>{-55,173}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{178,205}}</string>
        <key>sourceSize</key>
        <string>{178,205}</string>
      </dict>
      <key>monster_20030_0_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{215,1335},{168,213}}</string>
        <key>offset</key>
        <string>{-55,173}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{168,213}}</string>
        <key>sourceSize</key>
        <string>{168,213}</string>
      </dict>
      <key>monster_20030_0_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{760,0},{178,207}}</string>
        <key>offset</key>
        <string>{-46,168}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{178,207}}</string>
        <key>sourceSize</key>
        <string>{178,207}</string>
      </dict>
      <key>monster_20030_0_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1008,1253},{199,191}}</string>
        <key>offset</key>
        <string>{-55,173}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{199,191}}</string>
        <key>sourceSize</key>
        <string>{199,191}</string>
      </dict>
      <key>monster_20030_0_1_7_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{723,1072},{205,205}}</string>
        <key>offset</key>
        <string>{-60,178}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{205,205}}</string>
        <key>sourceSize</key>
        <string>{205,205}</string>
      </dict>
      <key>monster_20030_0_1_7_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{641,1321},{208,197}}</string>
        <key>offset</key>
        <string>{-65,163}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{208,197}}</string>
        <key>sourceSize</key>
        <string>{208,197}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_20030_0_1.png</string>
      <key>size</key>
      <string>{1712,1634}</string>
      <key>textureFileName</key>
      <string>monster_20030_0_1.png</string>
    </dict>
  </dict>
</plist>