<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_20043_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1420,1208},{317,313}}</string>
        <key>offset</key>
        <string>{-83,193}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{317,313}}</string>
        <key>sourceSize</key>
        <string>{317,313}</string>
      </dict>
      <key>monster_20043_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1084,1128},{334,309}}</string>
        <key>offset</key>
        <string>{-94,189}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{334,309}}</string>
        <key>sourceSize</key>
        <string>{334,309}</string>
      </dict>
      <key>monster_20043_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1434,577},{345,313}}</string>
        <key>offset</key>
        <string>{-116,195}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{345,313}}</string>
        <key>sourceSize</key>
        <string>{345,313}</string>
      </dict>
      <key>monster_20043_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1429,892},{337,314}}</string>
        <key>offset</key>
        <string>{-134,194}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{337,314}}</string>
        <key>sourceSize</key>
        <string>{337,314}</string>
      </dict>
      <key>monster_20043_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1438,264},{348,311}}</string>
        <key>offset</key>
        <string>{-141,190}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{348,311}}</string>
        <key>sourceSize</key>
        <string>{348,311}</string>
      </dict>
      <key>monster_20043_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1084,813},{343,313}}</string>
        <key>offset</key>
        <string>{-117,195}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{343,313}}</string>
        <key>sourceSize</key>
        <string>{343,313}</string>
      </dict>
      <key>monster_20043_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1084,0},{352,283}}</string>
        <key>offset</key>
        <string>{-126,195}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{352,283}}</string>
        <key>sourceSize</key>
        <string>{352,283}</string>
      </dict>
      <key>monster_20043_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{790,1110},{355,292}}</string>
        <key>offset</key>
        <string>{-110,194}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{355,292}}</string>
        <key>sourceSize</key>
        <string>{355,292}</string>
      </dict>
      <key>monster_20043_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{518,376},{368,297}}</string>
        <key>offset</key>
        <string>{-102,199}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{368,297}}</string>
        <key>sourceSize</key>
        <string>{368,297}</string>
      </dict>
      <key>monster_20043_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,1243},{388,288}}</string>
        <key>offset</key>
        <string>{-116,194}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{388,288}}</string>
        <key>sourceSize</key>
        <string>{388,288}</string>
      </dict>
      <key>monster_20043_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{251,852},{389,281}}</string>
        <key>offset</key>
        <string>{-129,194}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{389,281}}</string>
        <key>sourceSize</key>
        <string>{389,281}</string>
      </dict>
      <key>monster_20043_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{498,0},{374,279}}</string>
        <key>offset</key>
        <string>{-130,199}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{374,279}}</string>
        <key>sourceSize</key>
        <string>{374,279}</string>
      </dict>
      <key>monster_20043_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{431,251}}</string>
        <key>offset</key>
        <string>{-158,183}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{431,251}}</string>
        <key>sourceSize</key>
        <string>{431,251}</string>
      </dict>
      <key>monster_20043_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,433},{417,262}}</string>
        <key>offset</key>
        <string>{-161,184}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{417,262}}</string>
        <key>sourceSize</key>
        <string>{417,262}</string>
      </dict>
      <key>monster_20043_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,415},{385,252}}</string>
        <key>offset</key>
        <string>{-155,195}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{385,252}}</string>
        <key>sourceSize</key>
        <string>{385,252}</string>
      </dict>
      <key>monster_20043_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,852},{412,249}}</string>
        <key>offset</key>
        <string>{-158,194}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{412,249}}</string>
        <key>sourceSize</key>
        <string>{412,249}</string>
      </dict>
      <key>monster_20043_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1266},{398,243}}</string>
        <key>offset</key>
        <string>{-162,189}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{398,243}}</string>
        <key>sourceSize</key>
        <string>{398,243}</string>
      </dict>
      <key>monster_20043_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{253,0},{413,243}}</string>
        <key>offset</key>
        <string>{-156,190}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{413,243}}</string>
        <key>sourceSize</key>
        <string>{413,243}</string>
      </dict>
      <key>monster_20043_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1084,285},{348,270}}</string>
        <key>offset</key>
        <string>{-98,190}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{348,270}}</string>
        <key>sourceSize</key>
        <string>{348,270}</string>
      </dict>
      <key>monster_20043_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{779,0},{364,289}}</string>
        <key>offset</key>
        <string>{-118,191}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{364,289}}</string>
        <key>sourceSize</key>
        <string>{364,289}</string>
      </dict>
      <key>monster_20043_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{534,746},{362,281}}</string>
        <key>offset</key>
        <string>{-118,191}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{362,281}}</string>
        <key>sourceSize</key>
        <string>{362,281}</string>
      </dict>
      <key>monster_20043_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{817,557},{340,259}}</string>
        <key>offset</key>
        <string>{-107,188}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{340,259}}</string>
        <key>sourceSize</key>
        <string>{340,259}</string>
      </dict>
      <key>monster_20043_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1084,557},{348,254}}</string>
        <key>offset</key>
        <string>{-101,186}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{348,254}}</string>
        <key>sourceSize</key>
        <string>{348,254}</string>
      </dict>
      <key>monster_20043_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1438,0},{352,262}}</string>
        <key>offset</key>
        <string>{-92,188}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{352,262}}</string>
        <key>sourceSize</key>
        <string>{352,262}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_20043_0_1_0.png</string>
      <key>size</key>
      <string>{1792,1536}</string>
      <key>textureFileName</key>
      <string>monster_20043_0_1_0.png</string>
    </dict>
  </dict>
</plist>