<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_40069_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1587,990},{210,196}}</string>
        <key>offset</key>
        <string>{-55,142}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{210,196}}</string>
        <key>sourceSize</key>
        <string>{210,196}</string>
      </dict>
      <key>monster_40069_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{979,934},{251,286}}</string>
        <key>offset</key>
        <string>{-63,236}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{251,286}}</string>
        <key>sourceSize</key>
        <string>{251,286}</string>
      </dict>
      <key>monster_40069_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1263,0},{270,283}}</string>
        <key>offset</key>
        <string>{-73,241}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{270,283}}</string>
        <key>sourceSize</key>
        <string>{270,283}</string>
      </dict>
      <key>monster_40069_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{746,1414},{308,206}}</string>
        <key>offset</key>
        <string>{-73,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{308,206}}</string>
        <key>sourceSize</key>
        <string>{308,206}</string>
      </dict>
      <key>monster_40069_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{758,332},{300,193}}</string>
        <key>offset</key>
        <string>{-195,144}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{300,193}}</string>
        <key>sourceSize</key>
        <string>{300,193}</string>
      </dict>
      <key>monster_40069_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,398},{355,190}}</string>
        <key>offset</key>
        <string>{-184,136}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{355,190}}</string>
        <key>sourceSize</key>
        <string>{355,190}</string>
      </dict>
      <key>monster_40069_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1173,1222},{280,223}}</string>
        <key>offset</key>
        <string>{-70,158}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{280,223}}</string>
        <key>sourceSize</key>
        <string>{280,223}</string>
      </dict>
      <key>monster_40069_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,755},{355,283}}</string>
        <key>offset</key>
        <string>{-83,205}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{355,283}}</string>
        <key>sourceSize</key>
        <string>{355,283}</string>
      </dict>
      <key>monster_40069_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{473,354},{334,283}}</string>
        <key>offset</key>
        <string>{-62,241}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{334,283}}</string>
        <key>sourceSize</key>
        <string>{334,283}</string>
      </dict>
      <key>monster_40069_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1112},{350,216}}</string>
        <key>offset</key>
        <string>{-169,149}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{350,216}}</string>
        <key>sourceSize</key>
        <string>{350,216}</string>
      </dict>
      <key>monster_40069_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1849,735},{192,240}}</string>
        <key>offset</key>
        <string>{-52,189}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{192,240}}</string>
        <key>sourceSize</key>
        <string>{192,240}</string>
      </dict>
      <key>monster_40069_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1232,888},{277,194}}</string>
        <key>offset</key>
        <string>{-97,130}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{277,194}}</string>
        <key>sourceSize</key>
        <string>{277,194}</string>
      </dict>
      <key>monster_40069_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{761,996},{299,216}}</string>
        <key>offset</key>
        <string>{-92,168}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{299,216}}</string>
        <key>sourceSize</key>
        <string>{299,216}</string>
      </dict>
      <key>monster_40069_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1464},{350,255}}</string>
        <key>offset</key>
        <string>{-73,168}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{350,255}}</string>
        <key>sourceSize</key>
        <string>{350,255}</string>
      </dict>
      <key>monster_40069_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{878,1724},{307,263}}</string>
        <key>offset</key>
        <string>{-30,226}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{307,263}}</string>
        <key>sourceSize</key>
        <string>{307,263}</string>
      </dict>
      <key>monster_40069_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{257,1460},{320,261}}</string>
        <key>offset</key>
        <string>{-163,221}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{320,261}}</string>
        <key>sourceSize</key>
        <string>{320,261}</string>
      </dict>
      <key>monster_40069_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1816},{315,201}}</string>
        <key>offset</key>
        <string>{-39,156}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{315,201}}</string>
        <key>sourceSize</key>
        <string>{315,201}</string>
      </dict>
      <key>monster_40069_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1849,977},{211,194}}</string>
        <key>offset</key>
        <string>{-42,140}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{211,194}}</string>
        <key>sourceSize</key>
        <string>{211,194}</string>
      </dict>
      <key>monster_40069_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{986,0},{293,275}}</string>
        <key>offset</key>
        <string>{-138,171}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{293,275}}</string>
        <key>sourceSize</key>
        <string>{293,275}</string>
      </dict>
      <key>monster_40069_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{772,0},{300,212}}</string>
        <key>offset</key>
        <string>{-111,167}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{300,212}}</string>
        <key>sourceSize</key>
        <string>{300,212}</string>
      </dict>
      <key>monster_40069_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{953,302},{296,216}}</string>
        <key>offset</key>
        <string>{-82,180}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{296,216}}</string>
        <key>sourceSize</key>
        <string>{296,216}</string>
      </dict>
      <key>monster_40069_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1756,0},{229,273}}</string>
        <key>offset</key>
        <string>{-86,241}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{229,273}}</string>
        <key>sourceSize</key>
        <string>{229,273}</string>
      </dict>
      <key>monster_40069_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{459,755},{339,174}}</string>
        <key>offset</key>
        <string>{-41,131}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{339,174}}</string>
        <key>sourceSize</key>
        <string>{339,174}</string>
      </dict>
      <key>monster_40069_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1143,1590},{281,178}}</string>
        <key>offset</key>
        <string>{-41,129}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{281,178}}</string>
        <key>sourceSize</key>
        <string>{281,178}</string>
      </dict>
      <key>monster_40069_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1331,581},{245,277}}</string>
        <key>offset</key>
        <string>{-91,163}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{245,277}}</string>
        <key>sourceSize</key>
        <string>{245,277}</string>
      </dict>
      <key>monster_40069_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1535,0},{276,219}}</string>
        <key>offset</key>
        <string>{-123,158}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{276,219}}</string>
        <key>sourceSize</key>
        <string>{276,219}</string>
      </dict>
      <key>monster_40069_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1564,1774},{253,200}}</string>
        <key>offset</key>
        <string>{-99,165}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{253,200}}</string>
        <key>sourceSize</key>
        <string>{253,200}</string>
      </dict>
      <key>monster_40069_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{192,398},{355,279}}</string>
        <key>offset</key>
        <string>{-122,241}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{355,279}}</string>
        <key>sourceSize</key>
        <string>{355,279}</string>
      </dict>
      <key>monster_40069_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1323,1504},{262,268}}</string>
        <key>offset</key>
        <string>{-21,118}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{262,268}}</string>
        <key>sourceSize</key>
        <string>{262,268}</string>
      </dict>
      <key>monster_40069_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{954,1297},{291,217}}</string>
        <key>offset</key>
        <string>{-61,126}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{291,217}}</string>
        <key>sourceSize</key>
        <string>{291,217}</string>
      </dict>
      <key>monster_40069_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1578,735},{269,253}}</string>
        <key>offset</key>
        <string>{-125,170}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{269,253}}</string>
        <key>sourceSize</key>
        <string>{269,253}</string>
      </dict>
      <key>monster_40069_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{846,634},{298,209}}</string>
        <key>offset</key>
        <string>{-147,164}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{298,209}}</string>
        <key>sourceSize</key>
        <string>{298,209}</string>
      </dict>
      <key>monster_40069_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1323,1774},{254,239}}</string>
        <key>offset</key>
        <string>{-118,195}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{254,239}}</string>
        <key>sourceSize</key>
        <string>{254,239}</string>
      </dict>
      <key>monster_40069_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{396,276}}</string>
        <key>offset</key>
        <string>{-97,227}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{396,276}}</string>
        <key>sourceSize</key>
        <string>{396,276}</string>
      </dict>
      <key>monster_40069_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{520,1414},{224,312}}</string>
        <key>offset</key>
        <string>{-79,116}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{224,312}}</string>
        <key>sourceSize</key>
        <string>{224,312}</string>
      </dict>
      <key>monster_40069_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1756,231},{238,273}}</string>
        <key>offset</key>
        <string>{-94,125}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{238,273}}</string>
        <key>sourceSize</key>
        <string>{238,273}</string>
      </dict>
      <key>monster_40069_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{278,0},{352,206}}</string>
        <key>offset</key>
        <string>{-152,165}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{352,206}}</string>
        <key>sourceSize</key>
        <string>{352,206}</string>
      </dict>
      <key>monster_40069_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{635,690},{304,209}}</string>
        <key>offset</key>
        <string>{-174,167}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{304,209}}</string>
        <key>sourceSize</key>
        <string>{304,209}</string>
      </dict>
      <key>monster_40069_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1171,295},{260,284}}</string>
        <key>offset</key>
        <string>{-138,241}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{260,284}}</string>
        <key>sourceSize</key>
        <string>{260,284}</string>
      </dict>
      <key>monster_40069_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{486,0},{330,284}}</string>
        <key>offset</key>
        <string>{-60,209}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{330,284}}</string>
        <key>sourceSize</key>
        <string>{330,284}</string>
      </dict>
      <key>monster_40069_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,1112},{346,273}}</string>
        <key>offset</key>
        <string>{-221,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{346,273}}</string>
        <key>sourceSize</key>
        <string>{346,273}</string>
      </dict>
      <key>monster_40069_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1433,285},{246,277}}</string>
        <key>offset</key>
        <string>{-113,117}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{246,277}}</string>
        <key>sourceSize</key>
        <string>{246,277}</string>
      </dict>
      <key>monster_40069_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{317,1782},{315,207}}</string>
        <key>offset</key>
        <string>{-104,154}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{315,207}}</string>
        <key>sourceSize</key>
        <string>{315,207}</string>
      </dict>
      <key>monster_40069_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{493,1096},{316,266}}</string>
        <key>offset</key>
        <string>{-127,217}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{316,266}}</string>
        <key>sourceSize</key>
        <string>{316,266}</string>
      </dict>
      <key>monster_40069_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1057,600},{272,286}}</string>
        <key>offset</key>
        <string>{-91,241}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{272,286}}</string>
        <key>sourceSize</key>
        <string>{272,286}</string>
      </dict>
      <key>monster_40069_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1681,471},{262,270}}</string>
        <key>offset</key>
        <string>{-53,193}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{262,270}}</string>
        <key>sourceSize</key>
        <string>{262,270}</string>
      </dict>
      <key>monster_40069_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{285,755},{341,172}}</string>
        <key>offset</key>
        <string>{-233,107}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{341,172}}</string>
        <key>sourceSize</key>
        <string>{341,172}</string>
      </dict>
      <key>monster_40069_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{634,1728},{312,242}}</string>
        <key>offset</key>
        <string>{-182,138}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{312,242}}</string>
        <key>sourceSize</key>
        <string>{312,242}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_40069_0_2.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_40069_0_2.png</string>
    </dict>
  </dict>
</plist>