<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_20064_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{514,275},{49,99}}</string>
        <key>offset</key>
        <string>{-3,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{49,99}}</string>
        <key>sourceSize</key>
        <string>{49,99}</string>
      </dict>
      <key>monster_20064_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{616,0},{49,87}}</string>
        <key>offset</key>
        <string>{-2,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{49,87}}</string>
        <key>sourceSize</key>
        <string>{49,87}</string>
      </dict>
      <key>monster_20064_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{597,468},{57,88}}</string>
        <key>offset</key>
        <string>{-1,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,88}}</string>
        <key>sourceSize</key>
        <string>{57,88}</string>
      </dict>
      <key>monster_20064_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,625},{55,86}}</string>
        <key>offset</key>
        <string>{-1,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,86}}</string>
        <key>sourceSize</key>
        <string>{55,86}</string>
      </dict>
      <key>monster_20064_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{329,561},{48,98}}</string>
        <key>offset</key>
        <string>{-2,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,98}}</string>
        <key>sourceSize</key>
        <string>{48,98}</string>
      </dict>
      <key>monster_20064_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{384,113},{48,107}}</string>
        <key>offset</key>
        <string>{-2,77}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,107}}</string>
        <key>sourceSize</key>
        <string>{48,107}</string>
      </dict>
      <key>monster_20064_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{235,0},{111,88}}</string>
        <key>offset</key>
        <string>{-9,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,88}}</string>
        <key>sourceSize</key>
        <string>{111,88}</string>
      </dict>
      <key>monster_20064_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{175,368},{111,84}}</string>
        <key>offset</key>
        <string>{-8,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,84}}</string>
        <key>sourceSize</key>
        <string>{111,84}</string>
      </dict>
      <key>monster_20064_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{509,0},{105,86}}</string>
        <key>offset</key>
        <string>{-2,59}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,86}}</string>
        <key>sourceSize</key>
        <string>{105,86}</string>
      </dict>
      <key>monster_20064_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{261,344},{108,84}}</string>
        <key>offset</key>
        <string>{-4,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,84}}</string>
        <key>sourceSize</key>
        <string>{108,84}</string>
      </dict>
      <key>monster_20064_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,533},{112,89}}</string>
        <key>offset</key>
        <string>{-9,59}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,89}}</string>
        <key>sourceSize</key>
        <string>{112,89}</string>
      </dict>
      <key>monster_20064_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{229,231},{111,89}}</string>
        <key>offset</key>
        <string>{-10,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,89}}</string>
        <key>sourceSize</key>
        <string>{111,89}</string>
      </dict>
      <key>monster_20064_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,277},{130,84}}</string>
        <key>offset</key>
        <string>{-8,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,84}}</string>
        <key>sourceSize</key>
        <string>{130,84}</string>
      </dict>
      <key>monster_20064_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,541},{122,82}}</string>
        <key>offset</key>
        <string>{-4,59}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{122,82}}</string>
        <key>sourceSize</key>
        <string>{122,82}</string>
      </dict>
      <key>monster_20064_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{416,222},{104,96}}</string>
        <key>offset</key>
        <string>{2,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,96}}</string>
        <key>sourceSize</key>
        <string>{104,96}</string>
      </dict>
      <key>monster_20064_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{415,0},{106,92}}</string>
        <key>offset</key>
        <string>{4,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,92}}</string>
        <key>sourceSize</key>
        <string>{106,92}</string>
      </dict>
      <key>monster_20064_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,409},{130,85}}</string>
        <key>offset</key>
        <string>{-8,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,85}}</string>
        <key>sourceSize</key>
        <string>{130,85}</string>
      </dict>
      <key>monster_20064_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,139},{136,85}}</string>
        <key>offset</key>
        <string>{-11,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,85}}</string>
        <key>sourceSize</key>
        <string>{136,85}</string>
      </dict>
      <key>monster_20064_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{429,542},{78,92}}</string>
        <key>offset</key>
        <string>{7,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,92}}</string>
        <key>sourceSize</key>
        <string>{78,92}</string>
      </dict>
      <key>monster_20064_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{434,108},{70,101}}</string>
        <key>offset</key>
        <string>{8,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{70,101}}</string>
        <key>sourceSize</key>
        <string>{70,101}</string>
      </dict>
      <key>monster_20064_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{87,133},{55,118}}</string>
        <key>offset</key>
        <string>{5,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,118}}</string>
        <key>sourceSize</key>
        <string>{55,118}</string>
      </dict>
      <key>monster_20064_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,0},{59,115}}</string>
        <key>offset</key>
        <string>{6,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,115}}</string>
        <key>sourceSize</key>
        <string>{59,115}</string>
      </dict>
      <key>monster_20064_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{433,328},{77,97}}</string>
        <key>offset</key>
        <string>{7,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,97}}</string>
        <key>sourceSize</key>
        <string>{77,97}</string>
      </dict>
      <key>monster_20064_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{509,520},{86,89}}</string>
        <key>offset</key>
        <string>{5,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,89}}</string>
        <key>sourceSize</key>
        <string>{86,89}</string>
      </dict>
      <key>monster_20064_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{514,326},{49,99}}</string>
        <key>offset</key>
        <string>{3,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{49,99}}</string>
        <key>sourceSize</key>
        <string>{49,99}</string>
      </dict>
      <key>monster_20064_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{509,88},{48,105}}</string>
        <key>offset</key>
        <string>{3,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,105}}</string>
        <key>sourceSize</key>
        <string>{48,105}</string>
      </dict>
      <key>monster_20064_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,133},{57,116}}</string>
        <key>offset</key>
        <string>{-7,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,116}}</string>
        <key>sourceSize</key>
        <string>{57,116}</string>
      </dict>
      <key>monster_20064_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,251},{55,115}}</string>
        <key>offset</key>
        <string>{-5,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,115}}</string>
        <key>sourceSize</key>
        <string>{55,115}</string>
      </dict>
      <key>monster_20064_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{514,225},{48,103}}</string>
        <key>offset</key>
        <string>{3,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,103}}</string>
        <key>sourceSize</key>
        <string>{48,103}</string>
      </dict>
      <key>monster_20064_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{425,443},{48,97}}</string>
        <key>offset</key>
        <string>{3,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{48,97}}</string>
        <key>sourceSize</key>
        <string>{48,97}</string>
      </dict>
      <key>monster_20064_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{292,113},{111,90}}</string>
        <key>offset</key>
        <string>{-53,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,90}}</string>
        <key>sourceSize</key>
        <string>{111,90}</string>
      </dict>
      <key>monster_20064_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{325,0},{111,88}}</string>
        <key>offset</key>
        <string>{-54,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,88}}</string>
        <key>sourceSize</key>
        <string>{111,88}</string>
      </dict>
      <key>monster_20064_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{329,454},{105,94}}</string>
        <key>offset</key>
        <string>{-54,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,94}}</string>
        <key>sourceSize</key>
        <string>{105,94}</string>
      </dict>
      <key>monster_20064_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{320,226},{108,94}}</string>
        <key>offset</key>
        <string>{-55,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,94}}</string>
        <key>sourceSize</key>
        <string>{108,94}</string>
      </dict>
      <key>monster_20064_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{203,117},{112,87}}</string>
        <key>offset</key>
        <string>{-54,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,87}}</string>
        <key>sourceSize</key>
        <string>{112,87}</string>
      </dict>
      <key>monster_20064_0_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{238,481},{110,89}}</string>
        <key>offset</key>
        <string>{-51,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,89}}</string>
        <key>sourceSize</key>
        <string>{110,89}</string>
      </dict>
      <key>monster_20064_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{86,0},{131,86}}</string>
        <key>offset</key>
        <string>{-73,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,86}}</string>
        <key>sourceSize</key>
        <string>{131,86}</string>
      </dict>
      <key>monster_20064_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{87,409},{122,86}}</string>
        <key>offset</key>
        <string>{-69,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{122,86}}</string>
        <key>sourceSize</key>
        <string>{122,86}</string>
      </dict>
      <key>monster_20064_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{514,138},{104,85}}</string>
        <key>offset</key>
        <string>{-57,59}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,85}}</string>
        <key>sourceSize</key>
        <string>{104,85}</string>
      </dict>
      <key>monster_20064_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{347,336},{105,84}}</string>
        <key>offset</key>
        <string>{-60,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,84}}</string>
        <key>sourceSize</key>
        <string>{105,84}</string>
      </dict>
      <key>monster_20064_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{86,277},{130,84}}</string>
        <key>offset</key>
        <string>{-73,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,84}}</string>
        <key>sourceSize</key>
        <string>{130,84}</string>
      </dict>
      <key>monster_20064_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{137,84}}</string>
        <key>offset</key>
        <string>{-76,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,84}}</string>
        <key>sourceSize</key>
        <string>{137,84}</string>
      </dict>
      <key>monster_20064_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{238,593},{78,87}}</string>
        <key>offset</key>
        <string>{-36,62}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,87}}</string>
        <key>sourceSize</key>
        <string>{78,87}</string>
      </dict>
      <key>monster_20064_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{509,611},{69,86}}</string>
        <key>offset</key>
        <string>{-28,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{69,86}}</string>
        <key>sourceSize</key>
        <string>{69,86}</string>
      </dict>
      <key>monster_20064_0_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{562,377},{55,89}}</string>
        <key>offset</key>
        <string>{-11,59}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,89}}</string>
        <key>sourceSize</key>
        <string>{55,89}</string>
      </dict>
      <key>monster_20064_0_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{597,558},{59,87}}</string>
        <key>offset</key>
        <string>{-16,59}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,87}}</string>
        <key>sourceSize</key>
        <string>{59,87}</string>
      </dict>
      <key>monster_20064_0_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{615,275},{77,85}}</string>
        <key>offset</key>
        <string>{-35,59}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{77,85}}</string>
        <key>sourceSize</key>
        <string>{77,85}</string>
      </dict>
      <key>monster_20064_0_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{475,427},{85,91}}</string>
        <key>offset</key>
        <string>{-41,64}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{85,91}}</string>
        <key>sourceSize</key>
        <string>{85,91}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_20064_0_1.png</string>
      <key>size</key>
      <string>{695,683}</string>
      <key>textureFileName</key>
      <string>monster_20064_0_1.png</string>
    </dict>
  </dict>
</plist>