<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_40004_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{654,1065},{248,340}}</string>
        <key>offset</key>
        <string>{-85,232}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{248,340}}</string>
        <key>sourceSize</key>
        <string>{248,340}</string>
      </dict>
      <key>monster_40004_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{634,720},{221,343}}</string>
        <key>offset</key>
        <string>{-66,238}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{221,343}}</string>
        <key>sourceSize</key>
        <string>{221,343}</string>
      </dict>
      <key>monster_40004_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{449,1121},{203,345}}</string>
        <key>offset</key>
        <string>{-57,244}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{203,345}}</string>
        <key>sourceSize</key>
        <string>{203,345}</string>
      </dict>
      <key>monster_40004_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{434,369},{205,349}}</string>
        <key>offset</key>
        <string>{-60,250}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{205,349}}</string>
        <key>sourceSize</key>
        <string>{205,349}</string>
      </dict>
      <key>monster_40004_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{641,348},{236,343}}</string>
        <key>offset</key>
        <string>{-79,245}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{236,343}}</string>
        <key>sourceSize</key>
        <string>{236,343}</string>
      </dict>
      <key>monster_40004_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{857,693},{246,340}}</string>
        <key>offset</key>
        <string>{-84,235}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{246,340}}</string>
        <key>sourceSize</key>
        <string>{246,340}</string>
      </dict>
      <key>monster_40004_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{409,759},{223,360}}</string>
        <key>offset</key>
        <string>{-69,232}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{223,360}}</string>
        <key>sourceSize</key>
        <string>{223,360}</string>
      </dict>
      <key>monster_40004_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{197,768},{210,375}}</string>
        <key>offset</key>
        <string>{-61,250}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{210,375}}</string>
        <key>sourceSize</key>
        <string>{210,375}</string>
      </dict>
      <key>monster_40004_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{205,382}}</string>
        <key>offset</key>
        <string>{-67,263}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{205,382}}</string>
        <key>sourceSize</key>
        <string>{205,382}</string>
      </dict>
      <key>monster_40004_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,768},{195,380}}</string>
        <key>offset</key>
        <string>{-62,264}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{195,380}}</string>
        <key>sourceSize</key>
        <string>{195,380}</string>
      </dict>
      <key>monster_40004_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{418,0},{215,367}}</string>
        <key>offset</key>
        <string>{-73,250}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{215,367}}</string>
        <key>sourceSize</key>
        <string>{215,367}</string>
      </dict>
      <key>monster_40004_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{215,1528},{223,362}}</string>
        <key>offset</key>
        <string>{-71,236}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{223,362}}</string>
        <key>sourceSize</key>
        <string>{223,362}</string>
      </dict>
      <key>monster_40004_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{231,1145},{216,362}}</string>
        <key>offset</key>
        <string>{-76,244}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{216,362}}</string>
        <key>sourceSize</key>
        <string>{216,362}</string>
      </dict>
      <key>monster_40004_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1150},{229,376}}</string>
        <key>offset</key>
        <string>{-76,259}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{229,376}}</string>
        <key>sourceSize</key>
        <string>{229,376}</string>
      </dict>
      <key>monster_40004_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,384},{229,382}}</string>
        <key>offset</key>
        <string>{-79,272}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{229,382}}</string>
        <key>sourceSize</key>
        <string>{229,382}</string>
      </dict>
      <key>monster_40004_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{207,0},{209,382}}</string>
        <key>offset</key>
        <string>{-76,276}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{209,382}}</string>
        <key>sourceSize</key>
        <string>{209,382}</string>
      </dict>
      <key>monster_40004_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{231,384},{201,373}}</string>
        <key>offset</key>
        <string>{-75,265}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{201,373}}</string>
        <key>sourceSize</key>
        <string>{201,373}</string>
      </dict>
      <key>monster_40004_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1528},{213,365}}</string>
        <key>offset</key>
        <string>{-76,249}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{213,365}}</string>
        <key>sourceSize</key>
        <string>{213,365}</string>
      </dict>
      <key>monster_40004_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{947,1372},{270,319}}</string>
        <key>offset</key>
        <string>{-142,236}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{270,319}}</string>
        <key>sourceSize</key>
        <string>{270,319}</string>
      </dict>
      <key>monster_40004_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{679,1407},{266,336}}</string>
        <key>offset</key>
        <string>{-127,251}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{266,336}}</string>
        <key>sourceSize</key>
        <string>{266,336}</string>
      </dict>
      <key>monster_40004_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{635,0},{242,346}}</string>
        <key>offset</key>
        <string>{-120,266}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{242,346}}</string>
        <key>sourceSize</key>
        <string>{242,346}</string>
      </dict>
      <key>monster_40004_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{440,1509},{237,346}}</string>
        <key>offset</key>
        <string>{-123,271}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{237,346}}</string>
        <key>sourceSize</key>
        <string>{237,346}</string>
      </dict>
      <key>monster_40004_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{904,1035},{253,335}}</string>
        <key>offset</key>
        <string>{-133,260}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{253,335}}</string>
        <key>sourceSize</key>
        <string>{253,335}</string>
      </dict>
      <key>monster_40004_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{679,1745},{264,323}}</string>
        <key>offset</key>
        <string>{-140,242}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{264,323}}</string>
        <key>sourceSize</key>
        <string>{264,323}</string>
      </dict>
      <key>monster_40004_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1219,1386},{248,256}}</string>
        <key>offset</key>
        <string>{-109,212}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{248,256}}</string>
        <key>sourceSize</key>
        <string>{248,256}</string>
      </dict>
      <key>monster_40004_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1651,0},{221,280}}</string>
        <key>offset</key>
        <string>{-101,231}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{221,280}}</string>
        <key>sourceSize</key>
        <string>{221,280}</string>
      </dict>
      <key>monster_40004_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1148,299},{203,295}}</string>
        <key>offset</key>
        <string>{-92,249}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{203,295}}</string>
        <key>sourceSize</key>
        <string>{203,295}</string>
      </dict>
      <key>monster_40004_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1353,299},{205,295}}</string>
        <key>offset</key>
        <string>{-91,254}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{205,295}}</string>
        <key>sourceSize</key>
        <string>{205,295}</string>
      </dict>
      <key>monster_40004_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1651,223},{236,277}}</string>
        <key>offset</key>
        <string>{-103,239}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{236,277}}</string>
        <key>sourceSize</key>
        <string>{236,277}</string>
      </dict>
      <key>monster_40004_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1594,681},{246,262}}</string>
        <key>offset</key>
        <string>{-108,219}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{246,262}}</string>
        <key>sourceSize</key>
        <string>{246,262}</string>
      </dict>
      <key>monster_40004_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1469,1390},{223,229}}</string>
        <key>offset</key>
        <string>{-100,195}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{223,229}}</string>
        <key>sourceSize</key>
        <string>{223,229}</string>
      </dict>
      <key>monster_40004_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1243,1644},{209,239}}</string>
        <key>offset</key>
        <string>{-95,210}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{209,239}}</string>
        <key>sourceSize</key>
        <string>{209,239}</string>
      </dict>
      <key>monster_40004_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1377,1126},{205,258}}</string>
        <key>offset</key>
        <string>{-84,230}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{205,258}}</string>
        <key>sourceSize</key>
        <string>{205,258}</string>
      </dict>
      <key>monster_40004_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1848,929},{195,256}}</string>
        <key>offset</key>
        <string>{-79,233}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{195,256}}</string>
        <key>sourceSize</key>
        <string>{195,256}</string>
      </dict>
      <key>monster_40004_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1454,1644},{215,235}}</string>
        <key>offset</key>
        <string>{-88,214}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{215,235}}</string>
        <key>sourceSize</key>
        <string>{215,235}</string>
      </dict>
      <key>monster_40004_0_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1694,1390},{223,228}}</string>
        <key>offset</key>
        <string>{-98,196}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{223,228}}</string>
        <key>sourceSize</key>
        <string>{223,228}</string>
      </dict>
      <key>monster_40004_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1594,461},{218,264}}</string>
        <key>offset</key>
        <string>{-86,207}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{218,264}}</string>
        <key>sourceSize</key>
        <string>{218,264}</string>
      </dict>
      <key>monster_40004_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1584,1159},{229,256}}</string>
        <key>offset</key>
        <string>{-99,216}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{229,256}}</string>
        <key>sourceSize</key>
        <string>{229,256}</string>
      </dict>
      <key>monster_40004_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1586,929},{228,260}}</string>
        <key>offset</key>
        <string>{-96,224}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{228,260}}</string>
        <key>sourceSize</key>
        <string>{228,260}</string>
      </dict>
      <key>monster_40004_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1377,863},{207,261}}</string>
        <key>offset</key>
        <string>{-79,228}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{207,261}}</string>
        <key>sourceSize</key>
        <string>{207,261}</string>
      </dict>
      <key>monster_40004_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1371,596},{221,265}}</string>
        <key>offset</key>
        <string>{-72,220}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{221,265}}</string>
        <key>sourceSize</key>
        <string>{221,265}</string>
      </dict>
      <key>monster_40004_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1159,905},{216,266}}</string>
        <key>offset</key>
        <string>{-83,210}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{216,266}}</string>
        <key>sourceSize</key>
        <string>{216,266}</string>
      </dict>
      <key>monster_40004_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1378,0},{271,295}}</string>
        <key>offset</key>
        <string>{-75,223}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{271,295}}</string>
        <key>sourceSize</key>
        <string>{271,295}</string>
      </dict>
      <key>monster_40004_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{879,306},{267,299}}</string>
        <key>offset</key>
        <string>{-86,230}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{267,299}}</string>
        <key>sourceSize</key>
        <string>{267,299}</string>
      </dict>
      <key>monster_40004_0_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{879,0},{242,304}}</string>
        <key>offset</key>
        <string>{-68,237}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{242,304}}</string>
        <key>sourceSize</key>
        <string>{242,304}</string>
      </dict>
      <key>monster_40004_0_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1004,1693},{237,306}}</string>
        <key>offset</key>
        <string>{-60,242}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{237,306}}</string>
        <key>sourceSize</key>
        <string>{237,306}</string>
      </dict>
      <key>monster_40004_0_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1123,0},{253,297}}</string>
        <key>offset</key>
        <string>{-66,236}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{253,297}}</string>
        <key>sourceSize</key>
        <string>{253,297}</string>
      </dict>
      <key>monster_40004_0_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1105,607},{264,296}}</string>
        <key>offset</key>
        <string>{-70,226}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{264,296}}</string>
        <key>sourceSize</key>
        <string>{264,296}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_40004_0_1.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_40004_0_1.png</string>
    </dict>
  </dict>
</plist>