<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_40043_0_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{701,933},{195,297}}</string>
        <key>offset</key>
        <string>{-77,133}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{195,297}}</string>
        <key>sourceSize</key>
        <string>{195,297}</string>
      </dict>
      <key>monster_40043_0_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,357},{351,260}}</string>
        <key>offset</key>
        <string>{-102,117}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{351,260}}</string>
        <key>sourceSize</key>
        <string>{351,260}</string>
      </dict>
      <key>monster_40043_0_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1122,1445},{284,185}}</string>
        <key>offset</key>
        <string>{-162,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{284,185}}</string>
        <key>sourceSize</key>
        <string>{284,185}</string>
      </dict>
      <key>monster_40043_0_4_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1181,1731},{284,185}}</string>
        <key>offset</key>
        <string>{-162,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{284,185}}</string>
        <key>sourceSize</key>
        <string>{284,185}</string>
      </dict>
      <key>monster_40043_0_4_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1309,1445},{284,185}}</string>
        <key>offset</key>
        <string>{-162,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{284,185}}</string>
        <key>sourceSize</key>
        <string>{284,185}</string>
      </dict>
      <key>monster_40043_0_4_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1368,1731},{284,185}}</string>
        <key>offset</key>
        <string>{-162,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{284,185}}</string>
        <key>sourceSize</key>
        <string>{284,185}</string>
      </dict>
      <key>monster_40043_0_4_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1555,0},{284,185}}</string>
        <key>offset</key>
        <string>{-162,59}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{284,185}}</string>
        <key>sourceSize</key>
        <string>{284,185}</string>
      </dict>
      <key>monster_40043_0_4_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1841,0},{284,185}}</string>
        <key>offset</key>
        <string>{-162,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{284,185}}</string>
        <key>sourceSize</key>
        <string>{284,185}</string>
      </dict>
      <key>monster_40043_0_4_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1555,187},{284,185}}</string>
        <key>offset</key>
        <string>{-162,59}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{284,185}}</string>
        <key>sourceSize</key>
        <string>{284,185}</string>
      </dict>
      <key>monster_40043_0_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{355,260}}</string>
        <key>offset</key>
        <string>{-150,147}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{355,260}}</string>
        <key>sourceSize</key>
        <string>{355,260}</string>
      </dict>
      <key>monster_40043_0_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1652,659},{281,266}}</string>
        <key>offset</key>
        <string>{-189,187}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{281,266}}</string>
        <key>sourceSize</key>
        <string>{281,266}</string>
      </dict>
      <key>monster_40043_0_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{437,624},{309,197}}</string>
        <key>offset</key>
        <string>{-200,137}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{309,197}}</string>
        <key>sourceSize</key>
        <string>{309,197}</string>
      </dict>
      <key>monster_40043_0_4_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{502,935},{309,197}}</string>
        <key>offset</key>
        <string>{-200,137}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{309,197}}</string>
        <key>sourceSize</key>
        <string>{309,197}</string>
      </dict>
      <key>monster_40043_0_4_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{606,1246},{309,197}}</string>
        <key>offset</key>
        <string>{-200,137}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{309,197}}</string>
        <key>sourceSize</key>
        <string>{309,197}</string>
      </dict>
      <key>monster_40043_0_4_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{693,1557},{309,197}}</string>
        <key>offset</key>
        <string>{-200,137}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{309,197}}</string>
        <key>sourceSize</key>
        <string>{309,197}</string>
      </dict>
      <key>monster_40043_0_4_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{466,0},{309,197}}</string>
        <key>offset</key>
        <string>{-200,137}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{309,197}}</string>
        <key>sourceSize</key>
        <string>{309,197}</string>
      </dict>
      <key>monster_40043_0_4_2_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{466,311},{309,197}}</string>
        <key>offset</key>
        <string>{-200,137}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{309,197}}</string>
        <key>sourceSize</key>
        <string>{309,197}</string>
      </dict>
      <key>monster_40043_0_4_2_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{636,622},{309,197}}</string>
        <key>offset</key>
        <string>{-200,137}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{309,197}}</string>
        <key>sourceSize</key>
        <string>{309,197}</string>
      </dict>
      <key>monster_40043_0_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1720},{283,314}}</string>
        <key>offset</key>
        <string>{-158,190}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{283,314}}</string>
        <key>sourceSize</key>
        <string>{283,314}</string>
      </dict>
      <key>monster_40043_0_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{205,710},{327,230}}</string>
        <key>offset</key>
        <string>{-130,159}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{327,230}}</string>
        <key>sourceSize</key>
        <string>{327,230}</string>
      </dict>
      <key>monster_40043_0_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1652,927},{196,266}}</string>
        <key>offset</key>
        <string>{-102,198}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,266}}</string>
        <key>sourceSize</key>
        <string>{196,266}</string>
      </dict>
      <key>monster_40043_0_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{892,1524},{228,287}}</string>
        <key>offset</key>
        <string>{-87,206}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{228,287}}</string>
        <key>sourceSize</key>
        <string>{228,287}</string>
      </dict>
      <key>monster_40043_0_4_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{892,1813},{228,287}}</string>
        <key>offset</key>
        <string>{-87,206}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{228,287}}</string>
        <key>sourceSize</key>
        <string>{228,287}</string>
      </dict>
      <key>monster_40043_0_4_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{665,0},{228,287}}</string>
        <key>offset</key>
        <string>{-87,206}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{228,287}}</string>
        <key>sourceSize</key>
        <string>{228,287}</string>
      </dict>
      <key>monster_40043_0_4_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{665,289},{228,287}}</string>
        <key>offset</key>
        <string>{-87,206}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{228,287}}</string>
        <key>sourceSize</key>
        <string>{228,287}</string>
      </dict>
      <key>monster_40043_0_4_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{835,578},{228,287}}</string>
        <key>offset</key>
        <string>{-87,206}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{228,287}}</string>
        <key>sourceSize</key>
        <string>{228,287}</string>
      </dict>
      <key>monster_40043_0_4_3_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{898,867},{228,287}}</string>
        <key>offset</key>
        <string>{-87,206}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{228,287}}</string>
        <key>sourceSize</key>
        <string>{228,287}</string>
      </dict>
      <key>monster_40043_0_4_3_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1089,1156},{228,287}}</string>
        <key>offset</key>
        <string>{-87,206}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{228,287}}</string>
        <key>sourceSize</key>
        <string>{228,287}</string>
      </dict>
      <key>monster_40043_0_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1496,1331},{264,185}}</string>
        <key>offset</key>
        <string>{-125,147}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{264,185}}</string>
        <key>sourceSize</key>
        <string>{264,185}</string>
      </dict>
      <key>monster_40043_0_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,710},{350,203}}</string>
        <key>offset</key>
        <string>{-202,195}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{350,203}}</string>
        <key>sourceSize</key>
        <string>{350,203}</string>
      </dict>
      <key>monster_40043_0_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{895,187},{284,260}}</string>
        <key>offset</key>
        <string>{-76,182}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{284,260}}</string>
        <key>sourceSize</key>
        <string>{284,260}</string>
      </dict>
      <key>monster_40043_0_4_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1065,473},{284,260}}</string>
        <key>offset</key>
        <string>{-76,182}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{284,260}}</string>
        <key>sourceSize</key>
        <string>{284,260}</string>
      </dict>
      <key>monster_40043_0_4_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1128,759},{284,260}}</string>
        <key>offset</key>
        <string>{-76,182}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{284,260}}</string>
        <key>sourceSize</key>
        <string>{284,260}</string>
      </dict>
      <key>monster_40043_0_4_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1327,374},{284,260}}</string>
        <key>offset</key>
        <string>{-76,182}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{284,260}}</string>
        <key>sourceSize</key>
        <string>{284,260}</string>
      </dict>
      <key>monster_40043_0_4_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1157,0},{284,260}}</string>
        <key>offset</key>
        <string>{-76,182}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{284,260}}</string>
        <key>sourceSize</key>
        <string>{284,260}</string>
      </dict>
      <key>monster_40043_0_4_4_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1319,1045},{284,260}}</string>
        <key>offset</key>
        <string>{-76,182}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{284,260}}</string>
        <key>sourceSize</key>
        <string>{284,260}</string>
      </dict>
      <key>monster_40043_0_4_4_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1390,660},{284,260}}</string>
        <key>offset</key>
        <string>{-76,182}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{284,260}}</string>
        <key>sourceSize</key>
        <string>{284,260}</string>
      </dict>
      <key>monster_40043_0_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1683,1125},{243,222}}</string>
        <key>offset</key>
        <string>{-107,148}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{243,222}}</string>
        <key>sourceSize</key>
        <string>{243,222}</string>
      </dict>
      <key>monster_40043_0_4_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{805,1232},{282,290}}</string>
        <key>offset</key>
        <string>{-47,213}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{282,290}}</string>
        <key>sourceSize</key>
        <string>{282,290}</string>
      </dict>
      <key>monster_40043_0_4_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,1392},{310,202}}</string>
        <key>offset</key>
        <string>{-63,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{310,202}}</string>
        <key>sourceSize</key>
        <string>{310,202}</string>
      </dict>
      <key>monster_40043_0_4_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{285,1704},{310,202}}</string>
        <key>offset</key>
        <string>{-63,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{310,202}}</string>
        <key>sourceSize</key>
        <string>{310,202}</string>
      </dict>
      <key>monster_40043_0_4_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{298,1039},{310,202}}</string>
        <key>offset</key>
        <string>{-63,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{310,202}}</string>
        <key>sourceSize</key>
        <string>{310,202}</string>
      </dict>
      <key>monster_40043_0_4_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{402,1351},{310,202}}</string>
        <key>offset</key>
        <string>{-63,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{310,202}}</string>
        <key>sourceSize</key>
        <string>{310,202}</string>
      </dict>
      <key>monster_40043_0_4_6_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{489,1663},{310,202}}</string>
        <key>offset</key>
        <string>{-63,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{310,202}}</string>
        <key>sourceSize</key>
        <string>{310,202}</string>
      </dict>
      <key>monster_40043_0_4_6_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{262,0},{310,202}}</string>
        <key>offset</key>
        <string>{-63,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{310,202}}</string>
        <key>sourceSize</key>
        <string>{310,202}</string>
      </dict>
      <key>monster_40043_0_4_6_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{262,312},{310,202}}</string>
        <key>offset</key>
        <string>{-63,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{310,202}}</string>
        <key>sourceSize</key>
        <string>{310,202}</string>
      </dict>
      <key>monster_40043_0_4_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1589,374},{283,279}}</string>
        <key>offset</key>
        <string>{-79,147}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{283,279}}</string>
        <key>sourceSize</key>
        <string>{283,279}</string>
      </dict>
      <key>monster_40043_0_4_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1062},{328,296}}</string>
        <key>offset</key>
        <string>{-151,205}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{328,296}}</string>
        <key>sourceSize</key>
        <string>{328,296}</string>
      </dict>
      <key>monster_40043_0_4_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1392},{196,326}}</string>
        <key>offset</key>
        <string>{-48,202}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,326}}</string>
        <key>sourceSize</key>
        <string>{196,326}</string>
      </dict>
      <key>monster_40043_0_4_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1683,1349},{228,230}}</string>
        <key>offset</key>
        <string>{-95,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{228,230}}</string>
        <key>sourceSize</key>
        <string>{228,230}</string>
      </dict>
      <key>monster_40043_0_4_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1683,1579},{228,230}}</string>
        <key>offset</key>
        <string>{-95,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{228,230}}</string>
        <key>sourceSize</key>
        <string>{228,230}</string>
      </dict>
      <key>monster_40043_0_4_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1555,1809},{228,230}}</string>
        <key>offset</key>
        <string>{-95,88}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{228,230}}</string>
        <key>sourceSize</key>
        <string>{228,230}</string>
      </dict>
      <key>monster_40043_0_4_7_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1785,1809},{228,230}}</string>
        <key>offset</key>
        <string>{-95,88}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{228,230}}</string>
        <key>sourceSize</key>
        <string>{228,230}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_40043_0_4_0.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_40043_0_4_0.png</string>
    </dict>
  </dict>
</plist>