<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_40049_0_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{576,0},{422,280}}</string>
        <key>offset</key>
        <string>{-181,227}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{422,280}}</string>
        <key>sourceSize</key>
        <string>{422,280}</string>
      </dict>
      <key>monster_40049_0_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{291,0},{424,283}}</string>
        <key>offset</key>
        <string>{-186,229}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{424,283}}</string>
        <key>sourceSize</key>
        <string>{424,283}</string>
      </dict>
      <key>monster_40049_0_0_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{432,289}}</string>
        <key>offset</key>
        <string>{-186,223}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{432,289}}</string>
        <key>sourceSize</key>
        <string>{432,289}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_40049_0_0_1.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>monster_40049_0_0_1.png</string>
    </dict>
  </dict>
</plist>