<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_20033_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,465},{224,380}}</string>
        <key>offset</key>
        <string>{-86,237}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{224,380}}</string>
        <key>sourceSize</key>
        <string>{224,380}</string>
      </dict>
      <key>monster_20033_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{760,781},{286,326}}</string>
        <key>offset</key>
        <string>{-122,216}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{286,326}}</string>
        <key>sourceSize</key>
        <string>{286,326}</string>
      </dict>
      <key>monster_20033_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{995,0},{281,326}}</string>
        <key>offset</key>
        <string>{-185,272}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{281,326}}</string>
        <key>sourceSize</key>
        <string>{281,326}</string>
      </dict>
      <key>monster_20033_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{456,781},{302,360}}</string>
        <key>offset</key>
        <string>{-185,306}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{302,360}}</string>
        <key>sourceSize</key>
        <string>{302,360}</string>
      </dict>
      <key>monster_20033_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{463,503}}</string>
        <key>offset</key>
        <string>{-42,442}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{463,503}}</string>
        <key>sourceSize</key>
        <string>{463,503}</string>
      </dict>
      <key>monster_20033_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,781},{472,454}}</string>
        <key>offset</key>
        <string>{-34,391}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{472,454}}</string>
        <key>sourceSize</key>
        <string>{472,454}</string>
      </dict>
      <key>monster_20033_0_2_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{505,0},{488,397}}</string>
        <key>offset</key>
        <string>{-30,336}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{488,397}}</string>
        <key>sourceSize</key>
        <string>{488,397}</string>
      </dict>
      <key>monster_20033_0_2_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{505,399},{486,380}}</string>
        <key>offset</key>
        <string>{-28,322}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{486,380}}</string>
        <key>sourceSize</key>
        <string>{486,380}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_20033_0_2_1.png</string>
      <key>size</key>
      <string>{1307,1280}</string>
      <key>textureFileName</key>
      <string>monster_20033_0_2_1.png</string>
    </dict>
  </dict>
</plist>