<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_20035_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,435},{423,276}}</string>
        <key>offset</key>
        <string>{-175,225}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{423,276}}</string>
        <key>sourceSize</key>
        <string>{423,276}</string>
      </dict>
      <key>monster_20035_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{576,701},{396,275}}</string>
        <key>offset</key>
        <string>{-173,220}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{396,275}}</string>
        <key>sourceSize</key>
        <string>{396,275}</string>
      </dict>
      <key>monster_20035_0_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{816,0},{390,271}}</string>
        <key>offset</key>
        <string>{-174,210}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{390,271}}</string>
        <key>sourceSize</key>
        <string>{390,271}</string>
      </dict>
      <key>monster_20035_0_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{548,0},{413,266}}</string>
        <key>offset</key>
        <string>{-175,210}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{413,266}}</string>
        <key>sourceSize</key>
        <string>{413,266}</string>
      </dict>
      <key>monster_20035_0_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{272,0},{418,274}}</string>
        <key>offset</key>
        <string>{-175,219}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{418,274}}</string>
        <key>sourceSize</key>
        <string>{418,274}</string>
      </dict>
      <key>monster_20035_0_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{433,270}}</string>
        <key>offset</key>
        <string>{-175,219}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{433,270}}</string>
        <key>sourceSize</key>
        <string>{433,270}</string>
      </dict>
      <key>monster_20035_0_1_7_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{278,420},{414,296}}</string>
        <key>offset</key>
        <string>{-176,240}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{414,296}}</string>
        <key>sourceSize</key>
        <string>{414,296}</string>
      </dict>
      <key>monster_20035_0_1_7_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{576,415},{401,284}}</string>
        <key>offset</key>
        <string>{-174,236}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{401,284}}</string>
        <key>sourceSize</key>
        <string>{401,284}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_20035_0_1_7.png</string>
      <key>size</key>
      <string>{1219,1033}</string>
      <key>textureFileName</key>
      <string>monster_20035_0_1_7.png</string>
    </dict>
  </dict>
</plist>