<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_40007_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{552,1679},{268,366}}</string>
        <key>offset</key>
        <string>{-146,247}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{268,366}}</string>
        <key>sourceSize</key>
        <string>{268,366}</string>
      </dict>
      <key>monster_40007_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1796},{226,361}}</string>
        <key>offset</key>
        <string>{-107,253}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{226,361}}</string>
        <key>sourceSize</key>
        <string>{226,361}</string>
      </dict>
      <key>monster_40007_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{822,1679},{300,362}}</string>
        <key>offset</key>
        <string>{-148,236}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{300,362}}</string>
        <key>sourceSize</key>
        <string>{300,362}</string>
      </dict>
      <key>monster_40007_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{262,1418},{288,375}}</string>
        <key>offset</key>
        <string>{-146,261}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{288,375}}</string>
        <key>sourceSize</key>
        <string>{288,375}</string>
      </dict>
      <key>monster_40007_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,1118},{291,381}}</string>
        <key>offset</key>
        <string>{-135,254}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{291,381}}</string>
        <key>sourceSize</key>
        <string>{291,381}</string>
      </dict>
      <key>monster_40007_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{406,496},{309,400}}</string>
        <key>offset</key>
        <string>{-174,285}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{309,400}}</string>
        <key>sourceSize</key>
        <string>{309,400}</string>
      </dict>
      <key>monster_40007_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1418},{260,376}}</string>
        <key>offset</key>
        <string>{-106,253}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{260,376}}</string>
        <key>sourceSize</key>
        <string>{260,376}</string>
      </dict>
      <key>monster_40007_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{414,228},{266,406}}</string>
        <key>offset</key>
        <string>{-121,295}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{266,406}}</string>
        <key>sourceSize</key>
        <string>{266,406}</string>
      </dict>
      <key>monster_40007_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,592},{269,396}}</string>
        <key>offset</key>
        <string>{-75,279}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{269,396}}</string>
        <key>sourceSize</key>
        <string>{269,396}</string>
      </dict>
      <key>monster_40007_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{414,0},{226,410}}</string>
        <key>offset</key>
        <string>{-71,305}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{226,410}}</string>
        <key>sourceSize</key>
        <string>{226,410}</string>
      </dict>
      <key>monster_40007_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,289},{301,404}}</string>
        <key>offset</key>
        <string>{-105,292}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{301,404}}</string>
        <key>sourceSize</key>
        <string>{301,404}</string>
      </dict>
      <key>monster_40007_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{287,412}}</string>
        <key>offset</key>
        <string>{-94,312}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{287,412}}</string>
        <key>sourceSize</key>
        <string>{287,412}</string>
      </dict>
      <key>monster_40007_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,863},{291,394}}</string>
        <key>offset</key>
        <string>{-108,283}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{291,394}}</string>
        <key>sourceSize</key>
        <string>{291,394}</string>
      </dict>
      <key>monster_40007_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{398,807},{309,395}}</string>
        <key>offset</key>
        <string>{-87,295}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{309,395}}</string>
        <key>sourceSize</key>
        <string>{309,395}</string>
      </dict>
      <key>monster_40007_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1156},{260,380}}</string>
        <key>offset</key>
        <string>{-106,264}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{260,380}}</string>
        <key>sourceSize</key>
        <string>{260,380}</string>
      </dict>
      <key>monster_40007_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{552,1411},{266,375}}</string>
        <key>offset</key>
        <string>{-97,271}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{266,375}}</string>
        <key>sourceSize</key>
        <string>{266,375}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_40007_0_7.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_40007_0_7.png</string>
    </dict>
  </dict>
</plist>