<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_40096_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1697,868},{346,391}}</string>
        <key>offset</key>
        <string>{-132,285}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{346,391}}</string>
        <key>sourceSize</key>
        <string>{346,391}</string>
      </dict>
      <key>monster_40096_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1703,0},{338,385}}</string>
        <key>offset</key>
        <string>{-133,283}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{338,385}}</string>
        <key>sourceSize</key>
        <string>{338,385}</string>
      </dict>
      <key>monster_40096_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1697,1261},{343,380}}</string>
        <key>offset</key>
        <string>{-135,281}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{343,380}}</string>
        <key>sourceSize</key>
        <string>{343,380}</string>
      </dict>
      <key>monster_40096_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1697,1643},{344,379}}</string>
        <key>offset</key>
        <string>{-143,280}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{344,379}}</string>
        <key>sourceSize</key>
        <string>{344,379}</string>
      </dict>
      <key>monster_40096_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1284,1325},{411,418}}</string>
        <key>offset</key>
        <string>{-170,353}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{411,418}}</string>
        <key>sourceSize</key>
        <string>{411,418}</string>
      </dict>
      <key>monster_40096_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{455,462},{449,432}}</string>
        <key>offset</key>
        <string>{-173,317}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{449,432}}</string>
        <key>sourceSize</key>
        <string>{449,432}</string>
      </dict>
      <key>monster_40096_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,986},{467,454}}</string>
        <key>offset</key>
        <string>{-172,326}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{467,454}}</string>
        <key>sourceSize</key>
        <string>{467,454}</string>
      </dict>
      <key>monster_40096_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{453,491}}</string>
        <key>offset</key>
        <string>{-167,341}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{453,491}}</string>
        <key>sourceSize</key>
        <string>{453,491}</string>
      </dict>
      <key>monster_40096_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{456,913},{394,444}}</string>
        <key>offset</key>
        <string>{-171,342}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{394,444}}</string>
        <key>sourceSize</key>
        <string>{394,444}</string>
      </dict>
      <key>monster_40096_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{874,1359},{426,408}}</string>
        <key>offset</key>
        <string>{-184,310}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{426,408}}</string>
        <key>sourceSize</key>
        <string>{426,408}</string>
      </dict>
      <key>monster_40096_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{852,913},{428,444}}</string>
        <key>offset</key>
        <string>{-189,315}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{428,444}}</string>
        <key>sourceSize</key>
        <string>{428,444}</string>
      </dict>
      <key>monster_40096_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{456,1455},{416,460}}</string>
        <key>offset</key>
        <string>{-188,324}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{416,460}}</string>
        <key>sourceSize</key>
        <string>{416,460}</string>
      </dict>
      <key>monster_40096_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1319,446},{420,390}}</string>
        <key>offset</key>
        <string>{-180,295}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{420,390}}</string>
        <key>sourceSize</key>
        <string>{420,390}</string>
      </dict>
      <key>monster_40096_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1282,897},{426,408}}</string>
        <key>offset</key>
        <string>{-182,310}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{426,408}}</string>
        <key>sourceSize</key>
        <string>{426,408}</string>
      </dict>
      <key>monster_40096_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{889,451},{428,444}}</string>
        <key>offset</key>
        <string>{-179,315}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{428,444}}</string>
        <key>sourceSize</key>
        <string>{428,444}</string>
      </dict>
      <key>monster_40096_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{455,0},{416,460}}</string>
        <key>offset</key>
        <string>{-168,324}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{416,460}}</string>
        <key>sourceSize</key>
        <string>{416,460}</string>
      </dict>
      <key>monster_40096_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{873,0},{449,432}}</string>
        <key>offset</key>
        <string>{-217,317}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{449,432}}</string>
        <key>sourceSize</key>
        <string>{449,432}</string>
      </dict>
      <key>monster_40096_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1455},{467,454}}</string>
        <key>offset</key>
        <string>{-236,326}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{467,454}}</string>
        <key>sourceSize</key>
        <string>{467,454}</string>
      </dict>
      <key>monster_40096_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,493},{453,491}}</string>
        <key>offset</key>
        <string>{-227,341}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{453,491}}</string>
        <key>sourceSize</key>
        <string>{453,491}</string>
      </dict>
      <key>monster_40096_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1307,0},{394,444}}</string>
        <key>offset</key>
        <string>{-164,342}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{394,444}}</string>
        <key>sourceSize</key>
        <string>{394,444}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_40096_0_1_0.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_40096_0_1_0.png</string>
    </dict>
  </dict>
</plist>