<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_40006_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{293,0},{213,326}}</string>
        <key>offset</key>
        <string>{-93,230}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{213,326}}</string>
        <key>sourceSize</key>
        <string>{213,326}</string>
      </dict>
      <key>monster_40006_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{291,408}}</string>
        <key>offset</key>
        <string>{-137,293}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{291,408}}</string>
        <key>sourceSize</key>
        <string>{291,408}</string>
      </dict>
      <key>monster_40006_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,610},{276,302}}</string>
        <key>offset</key>
        <string>{-122,162}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{276,302}}</string>
        <key>sourceSize</key>
        <string>{276,302}</string>
      </dict>
      <key>monster_40006_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{566,610},{243,249}}</string>
        <key>offset</key>
        <string>{-123,141}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{243,249}}</string>
        <key>sourceSize</key>
        <string>{243,249}</string>
      </dict>
      <key>monster_40006_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{508,0},{213,305}}</string>
        <key>offset</key>
        <string>{-74,125}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{213,305}}</string>
        <key>sourceSize</key>
        <string>{213,305}</string>
      </dict>
      <key>monster_40006_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{293,328},{235,277}}</string>
        <key>offset</key>
        <string>{-101,105}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{235,277}}</string>
        <key>sourceSize</key>
        <string>{235,277}</string>
      </dict>
      <key>monster_40006_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{278,610},{286,302}}</string>
        <key>offset</key>
        <string>{-103,219}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{286,302}}</string>
        <key>sourceSize</key>
        <string>{286,302}</string>
      </dict>
      <key>monster_40006_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{723,0},{253,303}}</string>
        <key>offset</key>
        <string>{-38,201}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{253,303}}</string>
        <key>sourceSize</key>
        <string>{253,303}</string>
      </dict>
      <key>monster_40006_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{723,305},{282,303}}</string>
        <key>offset</key>
        <string>{-95,188}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{282,303}}</string>
        <key>sourceSize</key>
        <string>{282,303}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_40006_0_2_1.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>monster_40006_0_2_1.png</string>
    </dict>
  </dict>
</plist>