<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_40087_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1540,1065},{369,397}}</string>
        <key>offset</key>
        <string>{-165,288}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{369,397}}</string>
        <key>sourceSize</key>
        <string>{369,397}</string>
      </dict>
      <key>monster_40087_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1540,1436},{367,396}}</string>
        <key>offset</key>
        <string>{-169,284}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{367,396}}</string>
        <key>sourceSize</key>
        <string>{367,396}</string>
      </dict>
      <key>monster_40087_0_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1172,0},{332,423}}</string>
        <key>offset</key>
        <string>{-131,341}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{332,423}}</string>
        <key>sourceSize</key>
        <string>{332,423}</string>
      </dict>
      <key>monster_40087_0_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{831,872},{334,424}}</string>
        <key>offset</key>
        <string>{-131,342}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{334,424}}</string>
        <key>sourceSize</key>
        <string>{334,424}</string>
      </dict>
      <key>monster_40087_0_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{851,1711},{335,399}}</string>
        <key>offset</key>
        <string>{-132,314}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{335,399}}</string>
        <key>sourceSize</key>
        <string>{335,399}</string>
      </dict>
      <key>monster_40087_0_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{411,438},{331,432}}</string>
        <key>offset</key>
        <string>{-124,336}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{331,432}}</string>
        <key>sourceSize</key>
        <string>{331,432}</string>
      </dict>
      <key>monster_40087_0_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,890},{437,421}}</string>
        <key>offset</key>
        <string>{-155,297}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{437,421}}</string>
        <key>sourceSize</key>
        <string>{437,421}</string>
      </dict>
      <key>monster_40087_0_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{423,1329},{436,426}}</string>
        <key>offset</key>
        <string>{-157,313}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{436,426}}</string>
        <key>sourceSize</key>
        <string>{436,426}</string>
      </dict>
      <key>monster_40087_0_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{409,443}}</string>
        <key>offset</key>
        <string>{-168,327}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{409,443}}</string>
        <key>sourceSize</key>
        <string>{409,443}</string>
      </dict>
      <key>monster_40087_0_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{423,872},{406,432}}</string>
        <key>offset</key>
        <string>{-173,316}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{406,432}}</string>
        <key>sourceSize</key>
        <string>{406,432}</string>
      </dict>
      <key>monster_40087_0_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1506,334},{355,422}}</string>
        <key>offset</key>
        <string>{-120,324}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{355,422}}</string>
        <key>sourceSize</key>
        <string>{355,422}</string>
      </dict>
      <key>monster_40087_0_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{851,1298},{350,411}}</string>
        <key>offset</key>
        <string>{-114,312}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{350,411}}</string>
        <key>sourceSize</key>
        <string>{350,411}</string>
      </dict>
      <key>monster_40087_0_0_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1488,691},{372,415}}</string>
        <key>offset</key>
        <string>{-127,318}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{372,415}}</string>
        <key>sourceSize</key>
        <string>{372,415}</string>
      </dict>
      <key>monster_40087_0_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,445},{409,443}}</string>
        <key>offset</key>
        <string>{-181,327}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{409,443}}</string>
        <key>sourceSize</key>
        <string>{409,443}</string>
      </dict>
      <key>monster_40087_0_0_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{744,438},{406,432}}</string>
        <key>offset</key>
        <string>{-173,316}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{406,432}}</string>
        <key>sourceSize</key>
        <string>{406,432}</string>
      </dict>
      <key>monster_40087_0_0_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1329},{437,421}}</string>
        <key>offset</key>
        <string>{-223,297}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{437,421}}</string>
        <key>sourceSize</key>
        <string>{437,421}</string>
      </dict>
      <key>monster_40087_0_0_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{411,0},{436,426}}</string>
        <key>offset</key>
        <string>{-220,313}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{436,426}}</string>
        <key>sourceSize</key>
        <string>{436,426}</string>
      </dict>
      <key>monster_40087_0_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1506,0},{332,423}}</string>
        <key>offset</key>
        <string>{-139,341}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{332,423}}</string>
        <key>sourceSize</key>
        <string>{332,423}</string>
      </dict>
      <key>monster_40087_0_0_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1152,434},{334,424}}</string>
        <key>offset</key>
        <string>{-141,342}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{334,424}}</string>
        <key>sourceSize</key>
        <string>{334,424}</string>
      </dict>
      <key>monster_40087_0_0_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1203,1065},{335,399}}</string>
        <key>offset</key>
        <string>{-141,314}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{335,399}}</string>
        <key>sourceSize</key>
        <string>{335,399}</string>
      </dict>
      <key>monster_40087_0_0_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{839,0},{331,432}}</string>
        <key>offset</key>
        <string>{-145,336}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{331,432}}</string>
        <key>sourceSize</key>
        <string>{331,432}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_40087_0_0_0.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_40087_0_0_0.png</string>
    </dict>
  </dict>
</plist>