<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_1060_0_4_3_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{450,326}}</string>
        <key>offset</key>
        <string>{-315,187}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{450,326}}</string>
        <key>sourceSize</key>
        <string>{450,326}</string>
      </dict>
      <key>monster_1060_0_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,452},{450,326}}</string>
        <key>offset</key>
        <string>{-286,187}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{450,326}}</string>
        <key>sourceSize</key>
        <string>{450,326}</string>
      </dict>
      <key>monster_1060_0_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,904},{450,326}}</string>
        <key>offset</key>
        <string>{-286,187}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{450,326}}</string>
        <key>sourceSize</key>
        <string>{450,326}</string>
      </dict>
      <key>monster_1060_0_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1356},{450,326}}</string>
        <key>offset</key>
        <string>{-286,187}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{450,326}}</string>
        <key>sourceSize</key>
        <string>{450,326}</string>
      </dict>
      <key>monster_1060_0_4_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{328,1356},{450,326}}</string>
        <key>offset</key>
        <string>{-286,187}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{450,326}}</string>
        <key>sourceSize</key>
        <string>{450,326}</string>
      </dict>
      <key>monster_1060_0_4_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{328,0},{450,326}}</string>
        <key>offset</key>
        <string>{-286,187}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{450,326}}</string>
        <key>sourceSize</key>
        <string>{450,326}</string>
      </dict>
      <key>monster_1060_0_4_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{328,452},{450,326}}</string>
        <key>offset</key>
        <string>{-286,187}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{450,326}}</string>
        <key>sourceSize</key>
        <string>{450,326}</string>
      </dict>
      <key>monster_1060_0_4_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{328,904},{450,326}}</string>
        <key>offset</key>
        <string>{-286,187}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{450,326}}</string>
        <key>sourceSize</key>
        <string>{450,326}</string>
      </dict>
      <key>monster_1060_0_4_4_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{656,904},{450,326}}</string>
        <key>offset</key>
        <string>{-286,187}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{450,326}}</string>
        <key>sourceSize</key>
        <string>{450,326}</string>
      </dict>
      <key>monster_1060_0_4_4_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{656,1356},{450,326}}</string>
        <key>offset</key>
        <string>{-286,187}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{450,326}}</string>
        <key>sourceSize</key>
        <string>{450,326}</string>
      </dict>
      <key>monster_1060_0_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{984,1356},{450,326}}</string>
        <key>offset</key>
        <string>{-219,187}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{450,326}}</string>
        <key>sourceSize</key>
        <string>{450,326}</string>
      </dict>
      <key>monster_1060_0_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1312,0},{450,326}}</string>
        <key>offset</key>
        <string>{-219,187}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{450,326}}</string>
        <key>sourceSize</key>
        <string>{450,326}</string>
      </dict>
      <key>monster_1060_0_4_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{984,0},{450,326}}</string>
        <key>offset</key>
        <string>{-219,187}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{450,326}}</string>
        <key>sourceSize</key>
        <string>{450,326}</string>
      </dict>
      <key>monster_1060_0_4_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{656,0},{450,326}}</string>
        <key>offset</key>
        <string>{-219,187}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{450,326}}</string>
        <key>sourceSize</key>
        <string>{450,326}</string>
      </dict>
      <key>monster_1060_0_4_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{656,452},{450,326}}</string>
        <key>offset</key>
        <string>{-219,187}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{450,326}}</string>
        <key>sourceSize</key>
        <string>{450,326}</string>
      </dict>
      <key>monster_1060_0_4_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{984,452},{450,326}}</string>
        <key>offset</key>
        <string>{-219,187}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{450,326}}</string>
        <key>sourceSize</key>
        <string>{450,326}</string>
      </dict>
      <key>monster_1060_0_4_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{984,904},{450,326}}</string>
        <key>offset</key>
        <string>{-219,187}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{450,326}}</string>
        <key>sourceSize</key>
        <string>{450,326}</string>
      </dict>
      <key>monster_1060_0_4_5_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1312,904},{450,326}}</string>
        <key>offset</key>
        <string>{-219,187}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{450,326}}</string>
        <key>sourceSize</key>
        <string>{450,326}</string>
      </dict>
      <key>monster_1060_0_4_5_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1640,328},{450,326}}</string>
        <key>offset</key>
        <string>{-219,187}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{450,326}}</string>
        <key>sourceSize</key>
        <string>{450,326}</string>
      </dict>
      <key>monster_1060_0_4_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1312,328},{450,326}}</string>
        <key>offset</key>
        <string>{-205,187}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{450,326}}</string>
        <key>sourceSize</key>
        <string>{450,326}</string>
      </dict>
      <key>monster_1060_0_4_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1640,780},{450,326}}</string>
        <key>offset</key>
        <string>{-205,187}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{450,326}}</string>
        <key>sourceSize</key>
        <string>{450,326}</string>
      </dict>
      <key>monster_1060_0_4_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1640,1232},{450,326}}</string>
        <key>offset</key>
        <string>{-205,187}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{450,326}}</string>
        <key>sourceSize</key>
        <string>{450,326}</string>
      </dict>
      <key>monster_1060_0_4_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1312,1356},{450,326}}</string>
        <key>offset</key>
        <string>{-205,187}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{450,326}}</string>
        <key>sourceSize</key>
        <string>{450,326}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_1060_0_4_2.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_1060_0_4_2.png</string>
    </dict>
  </dict>
</plist>