<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_40051_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{701,433},{412,365}}</string>
        <key>offset</key>
        <string>{-96,268}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{412,365}}</string>
        <key>sourceSize</key>
        <string>{412,365}</string>
      </dict>
      <key>monster_40051_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{721,0},{394,370}}</string>
        <key>offset</key>
        <string>{-93,260}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{394,370}}</string>
        <key>sourceSize</key>
        <string>{394,370}</string>
      </dict>
      <key>monster_40051_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1574},{503,357}}</string>
        <key>offset</key>
        <string>{-161,278}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{503,357}}</string>
        <key>sourceSize</key>
        <string>{503,357}</string>
      </dict>
      <key>monster_40051_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1065},{507,355}}</string>
        <key>offset</key>
        <string>{-152,273}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{507,355}}</string>
        <key>sourceSize</key>
        <string>{507,355}</string>
      </dict>
      <key>monster_40051_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{538,397}}</string>
        <key>offset</key>
        <string>{-185,263}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{538,397}}</string>
        <key>sourceSize</key>
        <string>{538,397}</string>
      </dict>
      <key>monster_40051_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,540},{523,384}}</string>
        <key>offset</key>
        <string>{-182,257}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{523,384}}</string>
        <key>sourceSize</key>
        <string>{523,384}</string>
      </dict>
      <key>monster_40051_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{984,847},{321,380}}</string>
        <key>offset</key>
        <string>{-142,230}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{321,380}}</string>
        <key>sourceSize</key>
        <string>{321,380}</string>
      </dict>
      <key>monster_40051_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1068,396},{322,367}}</string>
        <key>offset</key>
        <string>{-140,224}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{322,367}}</string>
        <key>sourceSize</key>
        <string>{322,367}</string>
      </dict>
      <key>monster_40051_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{662,985},{413,320}}</string>
        <key>offset</key>
        <string>{-262,218}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{413,320}}</string>
        <key>sourceSize</key>
        <string>{413,320}</string>
      </dict>
      <key>monster_40051_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{815,1400},{387,292}}</string>
        <key>offset</key>
        <string>{-236,216}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{387,292}}</string>
        <key>sourceSize</key>
        <string>{387,292}</string>
      </dict>
      <key>monster_40051_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{505,1557},{482,308}}</string>
        <key>offset</key>
        <string>{-305,241}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{482,308}}</string>
        <key>sourceSize</key>
        <string>{482,308}</string>
      </dict>
      <key>monster_40051_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{357,1065},{490,303}}</string>
        <key>offset</key>
        <string>{-314,236}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{490,303}}</string>
        <key>sourceSize</key>
        <string>{490,303}</string>
      </dict>
      <key>monster_40051_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{399,0},{431,320}}</string>
        <key>offset</key>
        <string>{-192,266}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{431,320}}</string>
        <key>sourceSize</key>
        <string>{431,320}</string>
      </dict>
      <key>monster_40051_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{386,540},{443,313}}</string>
        <key>offset</key>
        <string>{-207,259}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{443,313}}</string>
        <key>sourceSize</key>
        <string>{443,313}</string>
      </dict>
      <key>monster_40051_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1413,0},{319,348}}</string>
        <key>offset</key>
        <string>{-124,279}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{319,348}}</string>
        <key>sourceSize</key>
        <string>{319,348}</string>
      </dict>
      <key>monster_40051_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1093,0},{318,356}}</string>
        <key>offset</key>
        <string>{-125,274}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{318,356}}</string>
        <key>sourceSize</key>
        <string>{318,356}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_40051_0_7.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_40051_0_7.png</string>
    </dict>
  </dict>
</plist>