<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_40099_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{956,1881},{161,112}}</string>
        <key>offset</key>
        <string>{-225,36}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,112}}</string>
        <key>sourceSize</key>
        <string>{161,112}</string>
      </dict>
      <key>monster_40099_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{454,535},{478,297}}</string>
        <key>offset</key>
        <string>{-236,188}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{478,297}}</string>
        <key>sourceSize</key>
        <string>{478,297}</string>
      </dict>
      <key>monster_40099_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1136},{516,404}}</string>
        <key>offset</key>
        <string>{-252,215}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{516,404}}</string>
        <key>sourceSize</key>
        <string>{516,404}</string>
      </dict>
      <key>monster_40099_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{427,0},{533,410}}</string>
        <key>offset</key>
        <string>{-267,224}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{533,410}}</string>
        <key>sourceSize</key>
        <string>{533,410}</string>
      </dict>
      <key>monster_40099_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{568,425}}</string>
        <key>offset</key>
        <string>{-267,230}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{568,425}}</string>
        <key>sourceSize</key>
        <string>{568,425}</string>
      </dict>
      <key>monster_40099_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,570},{564,452}}</string>
        <key>offset</key>
        <string>{-267,231}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{564,452}}</string>
        <key>sourceSize</key>
        <string>{564,452}</string>
      </dict>
      <key>monster_40099_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{454,1015},{112,85}}</string>
        <key>offset</key>
        <string>{-188,46}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{112,85}}</string>
        <key>sourceSize</key>
        <string>{112,85}</string>
      </dict>
      <key>monster_40099_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{839,0},{428,295}}</string>
        <key>offset</key>
        <string>{-200,198}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{428,295}}</string>
        <key>sourceSize</key>
        <string>{428,295}</string>
      </dict>
      <key>monster_40099_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{753,535},{444,384}}</string>
        <key>offset</key>
        <string>{-200,232}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{444,384}}</string>
        <key>sourceSize</key>
        <string>{444,384}</string>
      </dict>
      <key>monster_40099_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{502,1618},{452,397}}</string>
        <key>offset</key>
        <string>{-211,237}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{452,397}}</string>
        <key>sourceSize</key>
        <string>{452,397}</string>
      </dict>
      <key>monster_40099_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{406,1136},{480,389}}</string>
        <key>offset</key>
        <string>{-236,229}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{480,389}}</string>
        <key>sourceSize</key>
        <string>{480,389}</string>
      </dict>
      <key>monster_40099_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1654},{500,380}}</string>
        <key>offset</key>
        <string>{-258,220}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{500,380}}</string>
        <key>sourceSize</key>
        <string>{500,380}</string>
      </dict>
      <key>monster_40099_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{797,1209},{216,224}}</string>
        <key>offset</key>
        <string>{-92,139}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{216,224}}</string>
        <key>sourceSize</key>
        <string>{216,224}</string>
      </dict>
      <key>monster_40099_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{956,1435},{216,223}}</string>
        <key>offset</key>
        <string>{-92,138}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{216,223}}</string>
        <key>sourceSize</key>
        <string>{216,223}</string>
      </dict>
      <key>monster_40099_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{797,981},{216,226}}</string>
        <key>offset</key>
        <string>{-92,141}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{216,226}}</string>
        <key>sourceSize</key>
        <string>{216,226}</string>
      </dict>
      <key>monster_40099_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1136,0},{216,230}}</string>
        <key>offset</key>
        <string>{-92,145}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{216,230}}</string>
        <key>sourceSize</key>
        <string>{216,230}</string>
      </dict>
      <key>monster_40099_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1136,232},{216,230}}</string>
        <key>offset</key>
        <string>{-92,145}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{216,230}}</string>
        <key>sourceSize</key>
        <string>{216,230}</string>
      </dict>
      <key>monster_40099_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{956,1660},{216,219}}</string>
        <key>offset</key>
        <string>{-93,138}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{216,219}}</string>
        <key>sourceSize</key>
        <string>{216,219}</string>
      </dict>
      <key>monster_40099_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1174,1660},{216,176}}</string>
        <key>offset</key>
        <string>{-93,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{216,176}}</string>
        <key>sourceSize</key>
        <string>{216,176}</string>
      </dict>
      <key>monster_40099_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,2044},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>monster_40099_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{3,2044},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>monster_40099_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{6,2044},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>monster_40099_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{9,2044},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
      <key>monster_40099_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{12,2044},{1,1}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{1,1}}</string>
        <key>sourceSize</key>
        <string>{1,1}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_40099_0_1.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_40099_0_1.png</string>
    </dict>
  </dict>
</plist>