<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_40055_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{659,415},{476,313}}</string>
        <key>offset</key>
        <string>{-67,265}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{476,313}}</string>
        <key>sourceSize</key>
        <string>{476,313}</string>
      </dict>
      <key>monster_40055_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{682,1655},{598,365}}</string>
        <key>offset</key>
        <string>{-312,294}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{598,365}}</string>
        <key>sourceSize</key>
        <string>{598,365}</string>
      </dict>
      <key>monster_40055_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{699,242}}</string>
        <key>offset</key>
        <string>{-179,171}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{699,242}}</string>
        <key>sourceSize</key>
        <string>{699,242}</string>
      </dict>
      <key>monster_40055_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1655},{680,251}}</string>
        <key>offset</key>
        <string>{-190,180}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{680,251}}</string>
        <key>sourceSize</key>
        <string>{680,251}</string>
      </dict>
      <key>monster_40055_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1243,1281},{363,493}}</string>
        <key>offset</key>
        <string>{-144,399}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{363,493}}</string>
        <key>sourceSize</key>
        <string>{363,493}</string>
      </dict>
      <key>monster_40055_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{963,765},{514,468}}</string>
        <key>offset</key>
        <string>{-273,374}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{514,468}}</string>
        <key>sourceSize</key>
        <string>{514,468}</string>
      </dict>
      <key>monster_40055_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{683,0},{638,413}}</string>
        <key>offset</key>
        <string>{-265,164}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{638,413}}</string>
        <key>sourceSize</key>
        <string>{638,413}</string>
      </dict>
      <key>monster_40055_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1323,367},{583,396}}</string>
        <key>offset</key>
        <string>{-223,157}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{583,396}}</string>
        <key>sourceSize</key>
        <string>{583,396}</string>
      </dict>
      <key>monster_40055_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1759,1235},{206,472}}</string>
        <key>offset</key>
        <string>{-44,390}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{206,472}}</string>
        <key>sourceSize</key>
        <string>{206,472}</string>
      </dict>
      <key>monster_40055_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{642,765},{319,562}}</string>
        <key>offset</key>
        <string>{-88,237}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{319,562}}</string>
        <key>sourceSize</key>
        <string>{319,562}</string>
      </dict>
      <key>monster_40055_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{683,1329},{277,558}}</string>
        <key>offset</key>
        <string>{-90,248}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{277,558}}</string>
        <key>sourceSize</key>
        <string>{277,558}</string>
      </dict>
      <key>monster_40055_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1433,765},{514,468}}</string>
        <key>offset</key>
        <string>{-183,374}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{514,468}}</string>
        <key>sourceSize</key>
        <string>{514,468}</string>
      </dict>
      <key>monster_40055_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,0},{638,413}}</string>
        <key>offset</key>
        <string>{-315,164}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{638,413}}</string>
        <key>sourceSize</key>
        <string>{638,413}</string>
      </dict>
      <key>monster_40055_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,765},{583,396}}</string>
        <key>offset</key>
        <string>{-302,157}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{583,396}}</string>
        <key>sourceSize</key>
        <string>{583,396}</string>
      </dict>
      <key>monster_40055_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1323,0},{598,365}}</string>
        <key>offset</key>
        <string>{-238,294}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{598,365}}</string>
        <key>sourceSize</key>
        <string>{598,365}</string>
      </dict>
      <key>monster_40055_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,701},{699,242}}</string>
        <key>offset</key>
        <string>{-472,171}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{699,242}}</string>
        <key>sourceSize</key>
        <string>{699,242}</string>
      </dict>
      <key>monster_40055_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1402},{681,251}}</string>
        <key>offset</key>
        <string>{-442,180}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{681,251}}</string>
        <key>sourceSize</key>
        <string>{681,251}</string>
      </dict>
      <key>monster_40055_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1282,1646},{475,313}}</string>
        <key>offset</key>
        <string>{-360,265}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{475,313}}</string>
        <key>sourceSize</key>
        <string>{475,313}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_40055_0_2_0.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_40055_0_2_0.png</string>
    </dict>
  </dict>
</plist>