<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_1069_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{937,493},{217,180}}</string>
        <key>offset</key>
        <string>{-53,126}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{217,180}}</string>
        <key>sourceSize</key>
        <string>{217,180}</string>
      </dict>
      <key>monster_1069_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{637,0},{273,289}}</string>
        <key>offset</key>
        <string>{-97,161}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{273,289}}</string>
        <key>sourceSize</key>
        <string>{273,289}</string>
      </dict>
      <key>monster_1069_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{710,681},{257,201}}</string>
        <key>offset</key>
        <string>{-59,136}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{257,201}}</string>
        <key>sourceSize</key>
        <string>{257,201}</string>
      </dict>
      <key>monster_1069_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,702},{318,261}}</string>
        <key>offset</key>
        <string>{-129,156}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{318,261}}</string>
        <key>sourceSize</key>
        <string>{318,261}</string>
      </dict>
      <key>monster_1069_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{263,681},{308,211}}</string>
        <key>offset</key>
        <string>{-126,146}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{308,211}}</string>
        <key>sourceSize</key>
        <string>{308,211}</string>
      </dict>
      <key>monster_1069_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,361},{339,189}}</string>
        <key>offset</key>
        <string>{-170,151}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{339,189}}</string>
        <key>sourceSize</key>
        <string>{339,189}</string>
      </dict>
      <key>monster_1069_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{389,304},{298,268}}</string>
        <key>offset</key>
        <string>{-142,163}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{298,268}}</string>
        <key>sourceSize</key>
        <string>{298,268}</string>
      </dict>
      <key>monster_1069_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{659,291},{276,220}}</string>
        <key>offset</key>
        <string>{-134,165}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{276,220}}</string>
        <key>sourceSize</key>
        <string>{276,220}</string>
      </dict>
      <key>monster_1069_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{476,681},{232,262}}</string>
        <key>offset</key>
        <string>{-80,163}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{232,262}}</string>
        <key>sourceSize</key>
        <string>{232,262}</string>
      </dict>
      <key>monster_1069_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{912,0},{249,212}}</string>
        <key>offset</key>
        <string>{-79,171}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{249,212}}</string>
        <key>sourceSize</key>
        <string>{249,212}</string>
      </dict>
      <key>monster_1069_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{197,0},{302,224}}</string>
        <key>offset</key>
        <string>{-125,159}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{302,224}}</string>
        <key>sourceSize</key>
        <string>{302,224}</string>
      </dict>
      <key>monster_1069_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{423,0},{294,212}}</string>
        <key>offset</key>
        <string>{-98,166}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{294,212}}</string>
        <key>sourceSize</key>
        <string>{294,212}</string>
      </dict>
      <key>monster_1069_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{359,195}}</string>
        <key>offset</key>
        <string>{-135,146}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{359,195}}</string>
        <key>sourceSize</key>
        <string>{359,195}</string>
      </dict>
      <key>monster_1069_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{191,361},{318,196}}</string>
        <key>offset</key>
        <string>{-89,155}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{318,196}}</string>
        <key>sourceSize</key>
        <string>{318,196}</string>
      </dict>
      <key>monster_1069_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{659,513},{270,166}}</string>
        <key>offset</key>
        <string>{-68,126}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{270,166}}</string>
        <key>sourceSize</key>
        <string>{270,166}</string>
      </dict>
      <key>monster_1069_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{937,251},{231,240}}</string>
        <key>offset</key>
        <string>{-51,162}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{231,240}}</string>
        <key>sourceSize</key>
        <string>{231,240}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_1069_0_7.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>monster_1069_0_7.png</string>
    </dict>
  </dict>
</plist>