<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_20081_0_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{412,375}}</string>
        <key>offset</key>
        <string>{-194,261}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{412,375}}</string>
        <key>sourceSize</key>
        <string>{412,375}</string>
      </dict>
      <key>monster_20081_0_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,414},{410,373}}</string>
        <key>offset</key>
        <string>{-190,259}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{410,373}}</string>
        <key>sourceSize</key>
        <string>{410,373}</string>
      </dict>
      <key>monster_20081_0_0_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{377,0},{401,372}}</string>
        <key>offset</key>
        <string>{-187,258}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{401,372}}</string>
        <key>sourceSize</key>
        <string>{401,372}</string>
      </dict>
      <key>monster_20081_0_0_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{375,414},{403,373}}</string>
        <key>offset</key>
        <string>{-191,259}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{403,373}}</string>
        <key>sourceSize</key>
        <string>{403,373}</string>
      </dict>
      <key>monster_20081_0_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{751,0},{380,364}}</string>
        <key>offset</key>
        <string>{-134,258}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{380,364}}</string>
        <key>sourceSize</key>
        <string>{380,364}</string>
      </dict>
      <key>monster_20081_0_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,826},{377,368}}</string>
        <key>offset</key>
        <string>{-138,255}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{377,368}}</string>
        <key>sourceSize</key>
        <string>{377,368}</string>
      </dict>
      <key>monster_20081_0_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{370,826},{376,371}}</string>
        <key>offset</key>
        <string>{-140,253}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{376,371}}</string>
        <key>sourceSize</key>
        <string>{376,371}</string>
      </dict>
      <key>monster_20081_0_0_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{751,366},{379,369}}</string>
        <key>offset</key>
        <string>{-139,255}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{379,369}}</string>
        <key>sourceSize</key>
        <string>{379,369}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_20081_0_0_2.png</string>
      <key>size</key>
      <string>{1280,1208}</string>
      <key>textureFileName</key>
      <string>monster_20081_0_0_2.png</string>
    </dict>
  </dict>
</plist>