<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_40063_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,831},{412,302}}</string>
        <key>offset</key>
        <string>{-160,231}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{412,302}}</string>
        <key>sourceSize</key>
        <string>{412,302}</string>
      </dict>
      <key>monster_40063_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{305,0},{410,274}}</string>
        <key>offset</key>
        <string>{-158,213}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{410,274}}</string>
        <key>sourceSize</key>
        <string>{410,274}</string>
      </dict>
      <key>monster_40063_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{304,1238},{400,262}}</string>
        <key>offset</key>
        <string>{-139,212}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{400,262}}</string>
        <key>sourceSize</key>
        <string>{400,262}</string>
      </dict>
      <key>monster_40063_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{908,0},{388,260}}</string>
        <key>offset</key>
        <string>{-131,193}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{388,260}}</string>
        <key>sourceSize</key>
        <string>{388,260}</string>
      </dict>
      <key>monster_40063_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{964,1599},{383,293}}</string>
        <key>offset</key>
        <string>{-140,219}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{383,293}}</string>
        <key>sourceSize</key>
        <string>{383,293}</string>
      </dict>
      <key>monster_40063_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1124,1184},{382,312}}</string>
        <key>offset</key>
        <string>{-142,241}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{382,312}}</string>
        <key>sourceSize</key>
        <string>{382,312}</string>
      </dict>
      <key>monster_40063_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1245},{410,302}}</string>
        <key>offset</key>
        <string>{-179,241}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{410,302}}</string>
        <key>sourceSize</key>
        <string>{410,302}</string>
      </dict>
      <key>monster_40063_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{581,0},{401,325}}</string>
        <key>offset</key>
        <string>{-172,241}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{401,325}}</string>
        <key>sourceSize</key>
        <string>{401,325}</string>
      </dict>
      <key>monster_40063_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{304,829},{407,311}}</string>
        <key>offset</key>
        <string>{-181,241}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{407,311}}</string>
        <key>sourceSize</key>
        <string>{407,311}</string>
      </dict>
      <key>monster_40063_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{214,416},{411,292}}</string>
        <key>offset</key>
        <string>{-181,226}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{411,292}}</string>
        <key>sourceSize</key>
        <string>{411,292}</string>
      </dict>
      <key>monster_40063_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1540,1706},{282,324}}</string>
        <key>offset</key>
        <string>{-79,241}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{282,324}}</string>
        <key>sourceSize</key>
        <string>{282,324}</string>
      </dict>
      <key>monster_40063_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1756,1036},{334,287}}</string>
        <key>offset</key>
        <string>{-122,225}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{334,287}}</string>
        <key>sourceSize</key>
        <string>{334,287}</string>
      </dict>
      <key>monster_40063_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1756,1372},{332,289}}</string>
        <key>offset</key>
        <string>{-111,231}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{332,289}}</string>
        <key>sourceSize</key>
        <string>{332,289}</string>
      </dict>
      <key>monster_40063_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1438,1161},{343,316}}</string>
        <key>offset</key>
        <string>{-113,241}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{343,316}}</string>
        <key>sourceSize</key>
        <string>{343,316}</string>
      </dict>
      <key>monster_40063_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{777,403},{389,280}}</string>
        <key>offset</key>
        <string>{-164,205}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{389,280}}</string>
        <key>sourceSize</key>
        <string>{389,280}</string>
      </dict>
      <key>monster_40063_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1232,777},{382,273}}</string>
        <key>offset</key>
        <string>{-158,232}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{382,273}}</string>
        <key>sourceSize</key>
        <string>{382,273}</string>
      </dict>
      <key>monster_40063_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{414,303}}</string>
        <key>offset</key>
        <string>{-157,215}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{414,303}}</string>
        <key>sourceSize</key>
        <string>{414,303}</string>
      </dict>
      <key>monster_40063_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1657},{410,265}}</string>
        <key>offset</key>
        <string>{-154,206}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{410,265}}</string>
        <key>sourceSize</key>
        <string>{410,265}</string>
      </dict>
      <key>monster_40063_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{508,412},{403,267}}</string>
        <key>offset</key>
        <string>{-145,189}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{403,267}}</string>
        <key>sourceSize</key>
        <string>{403,267}</string>
      </dict>
      <key>monster_40063_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{412,1640},{393,290}}</string>
        <key>offset</key>
        <string>{-136,198}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{393,290}}</string>
        <key>sourceSize</key>
        <string>{393,290}</string>
      </dict>
      <key>monster_40063_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,416},{413,212}}</string>
        <key>offset</key>
        <string>{-147,170}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{413,212}}</string>
        <key>sourceSize</key>
        <string>{413,212}</string>
      </dict>
      <key>monster_40063_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1483,0},{377,289}}</string>
        <key>offset</key>
        <string>{-128,213}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{377,289}}</string>
        <key>sourceSize</key>
        <string>{377,289}</string>
      </dict>
      <key>monster_40063_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1259,1568},{351,279}}</string>
        <key>offset</key>
        <string>{-122,240}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{351,279}}</string>
        <key>sourceSize</key>
        <string>{351,279}</string>
      </dict>
      <key>monster_40063_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1059,390},{385,273}}</string>
        <key>offset</key>
        <string>{-125,222}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{385,273}}</string>
        <key>sourceSize</key>
        <string>{385,273}</string>
      </dict>
      <key>monster_40063_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{704,1632},{390,258}}</string>
        <key>offset</key>
        <string>{-119,189}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{390,258}}</string>
        <key>sourceSize</key>
        <string>{390,258}</string>
      </dict>
      <key>monster_40063_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{838,1209},{388,284}}</string>
        <key>offset</key>
        <string>{-117,213}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{388,284}}</string>
        <key>sourceSize</key>
        <string>{388,284}</string>
      </dict>
      <key>monster_40063_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{568,1238},{392,268}}</string>
        <key>offset</key>
        <string>{-124,223}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{392,268}}</string>
        <key>sourceSize</key>
        <string>{392,268}</string>
      </dict>
      <key>monster_40063_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1170,0},{385,311}}</string>
        <key>offset</key>
        <string>{-113,241}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{385,311}}</string>
        <key>sourceSize</key>
        <string>{385,311}</string>
      </dict>
      <key>monster_40063_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1637,697},{366,337}}</string>
        <key>offset</key>
        <string>{-108,241}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{366,337}}</string>
        <key>sourceSize</key>
        <string>{366,337}</string>
      </dict>
      <key>monster_40063_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1637,379},{367,316}}</string>
        <key>offset</key>
        <string>{-110,241}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{367,316}}</string>
        <key>sourceSize</key>
        <string>{367,316}</string>
      </dict>
      <key>monster_40063_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1334,387},{379,301}}</string>
        <key>offset</key>
        <string>{-119,230}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{379,301}}</string>
        <key>sourceSize</key>
        <string>{379,301}</string>
      </dict>
      <key>monster_40063_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{617,817},{390,304}}</string>
        <key>offset</key>
        <string>{-118,241}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{390,304}}</string>
        <key>sourceSize</key>
        <string>{390,304}</string>
      </dict>
      <key>monster_40063_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{923,794},{388,307}}</string>
        <key>offset</key>
        <string>{-112,241}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{388,307}}</string>
        <key>sourceSize</key>
        <string>{388,307}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_40063_0_2_0.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_40063_0_2_0.png</string>
    </dict>
  </dict>
</plist>