<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_20052_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{328,210},{161,183}}</string>
        <key>offset</key>
        <string>{-47,139}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,183}}</string>
        <key>sourceSize</key>
        <string>{161,183}</string>
      </dict>
      <key>monster_20052_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{328,395},{172,159}}</string>
        <key>offset</key>
        <string>{-46,115}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{172,159}}</string>
        <key>sourceSize</key>
        <string>{172,159}</string>
      </dict>
      <key>monster_20052_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{328,0},{208,172}}</string>
        <key>offset</key>
        <string>{-43,118}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{208,172}}</string>
        <key>sourceSize</key>
        <string>{208,172}</string>
      </dict>
      <key>monster_20052_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,488},{222,171}}</string>
        <key>offset</key>
        <string>{-40,117}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{222,171}}</string>
        <key>sourceSize</key>
        <string>{222,171}</string>
      </dict>
      <key>monster_20052_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{249,163}}</string>
        <key>offset</key>
        <string>{-71,106}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{249,163}}</string>
        <key>sourceSize</key>
        <string>{249,163}</string>
      </dict>
      <key>monster_20052_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{165,0},{220,161}}</string>
        <key>offset</key>
        <string>{-58,104}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{220,161}}</string>
        <key>sourceSize</key>
        <string>{220,161}</string>
      </dict>
      <key>monster_20052_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{510,508},{166,166}}</string>
        <key>offset</key>
        <string>{-46,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{166,166}}</string>
        <key>sourceSize</key>
        <string>{166,166}</string>
      </dict>
      <key>monster_20052_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{173,569},{172,162}}</string>
        <key>offset</key>
        <string>{-42,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{172,162}}</string>
        <key>sourceSize</key>
        <string>{172,162}</string>
      </dict>
      <key>monster_20052_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{678,486},{156,156}}</string>
        <key>offset</key>
        <string>{-47,100}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,156}}</string>
        <key>sourceSize</key>
        <string>{156,156}</string>
      </dict>
      <key>monster_20052_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{678,332},{157,152}}</string>
        <key>offset</key>
        <string>{-46,96}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{157,152}}</string>
        <key>sourceSize</key>
        <string>{157,152}</string>
      </dict>
      <key>monster_20052_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{502,165},{189,165}}</string>
        <key>offset</key>
        <string>{-65,101}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{189,165}}</string>
        <key>sourceSize</key>
        <string>{189,165}</string>
      </dict>
      <key>monster_20052_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{502,0},{207,163}}</string>
        <key>offset</key>
        <string>{-94,99}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{207,163}}</string>
        <key>sourceSize</key>
        <string>{207,163}</string>
      </dict>
      <key>monster_20052_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,251},{235,162}}</string>
        <key>offset</key>
        <string>{-91,105}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{235,162}}</string>
        <key>sourceSize</key>
        <string>{235,162}</string>
      </dict>
      <key>monster_20052_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,251},{221,162}}</string>
        <key>offset</key>
        <string>{-92,105}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{221,162}}</string>
        <key>sourceSize</key>
        <string>{221,162}</string>
      </dict>
      <key>monster_20052_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{491,332},{174,180}}</string>
        <key>offset</key>
        <string>{-57,126}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{174,180}}</string>
        <key>sourceSize</key>
        <string>{174,180}</string>
      </dict>
      <key>monster_20052_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{337,569},{172,171}}</string>
        <key>offset</key>
        <string>{-59,117}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{172,171}}</string>
        <key>sourceSize</key>
        <string>{172,171}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_20052_0_7.png</string>
      <key>size</key>
      <string>{846,768}</string>
      <key>textureFileName</key>
      <string>monster_20052_0_7.png</string>
    </dict>
  </dict>
</plist>