<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_40070_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{911,287},{267,260}}</string>
        <key>offset</key>
        <string>{-81,201}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{267,260}}</string>
        <key>sourceSize</key>
        <string>{267,260}</string>
      </dict>
      <key>monster_40070_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{703,594},{268,249}}</string>
        <key>offset</key>
        <string>{-103,176}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{268,249}}</string>
        <key>sourceSize</key>
        <string>{268,249}</string>
      </dict>
      <key>monster_40070_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{669,898},{271,237}}</string>
        <key>offset</key>
        <string>{-120,200}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{271,237}}</string>
        <key>sourceSize</key>
        <string>{271,237}</string>
      </dict>
      <key>monster_40070_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{205,648},{303,258}}</string>
        <key>offset</key>
        <string>{-85,223}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{303,258}}</string>
        <key>sourceSize</key>
        <string>{303,258}</string>
      </dict>
      <key>monster_40070_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{714,0},{285,260}}</string>
        <key>offset</key>
        <string>{-80,227}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{285,260}}</string>
        <key>sourceSize</key>
        <string>{285,260}</string>
      </dict>
      <key>monster_40070_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{783,1439},{265,228}}</string>
        <key>offset</key>
        <string>{-57,191}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{265,228}}</string>
        <key>sourceSize</key>
        <string>{265,228}</string>
      </dict>
      <key>monster_40070_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1073,1131},{258,246}}</string>
        <key>offset</key>
        <string>{-54,199}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{258,246}}</string>
        <key>sourceSize</key>
        <string>{258,246}</string>
      </dict>
      <key>monster_40070_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1275},{295,239}}</string>
        <key>offset</key>
        <string>{-134,192}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{295,239}}</string>
        <key>sourceSize</key>
        <string>{295,239}</string>
      </dict>
      <key>monster_40070_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{890,1171},{181,265}}</string>
        <key>offset</key>
        <string>{-62,212}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{181,265}}</string>
        <key>sourceSize</key>
        <string>{181,265}</string>
      </dict>
      <key>monster_40070_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{414,303},{299,244}}</string>
        <key>offset</key>
        <string>{-62,194}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{299,244}}</string>
        <key>sourceSize</key>
        <string>{299,244}</string>
      </dict>
      <key>monster_40070_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1572},{294,254}}</string>
        <key>offset</key>
        <string>{-62,204}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{294,254}}</string>
        <key>sourceSize</key>
        <string>{294,254}</string>
      </dict>
      <key>monster_40070_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1013,1438},{259,227}}</string>
        <key>offset</key>
        <string>{-92,178}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{259,227}}</string>
        <key>sourceSize</key>
        <string>{259,227}</string>
      </dict>
      <key>monster_40070_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,966},{307,226}}</string>
        <key>offset</key>
        <string>{-117,188}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{307,226}}</string>
        <key>sourceSize</key>
        <string>{307,226}</string>
      </dict>
      <key>monster_40070_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{465,604},{292,236}}</string>
        <key>offset</key>
        <string>{-111,200}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{292,236}}</string>
        <key>sourceSize</key>
        <string>{292,236}</string>
      </dict>
      <key>monster_40070_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{908,864},{265,245}}</string>
        <key>offset</key>
        <string>{-86,206}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{265,245}}</string>
        <key>sourceSize</key>
        <string>{265,245}</string>
      </dict>
      <key>monster_40070_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1155,823},{258,240}}</string>
        <key>offset</key>
        <string>{-60,156}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{258,240}}</string>
        <key>sourceSize</key>
        <string>{258,240}</string>
      </dict>
      <key>monster_40070_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{976,0},{266,247}}</string>
        <key>offset</key>
        <string>{-61,165}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{266,247}}</string>
        <key>sourceSize</key>
        <string>{266,247}</string>
      </dict>
      <key>monster_40070_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1242,1391},{190,253}}</string>
        <key>offset</key>
        <string>{-60,172}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{190,253}}</string>
        <key>sourceSize</key>
        <string>{190,253}</string>
      </dict>
      <key>monster_40070_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{226,327},{301,186}}</string>
        <key>offset</key>
        <string>{-108,156}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{301,186}}</string>
        <key>sourceSize</key>
        <string>{301,186}</string>
      </dict>
      <key>monster_40070_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1178,532},{226,258}}</string>
        <key>offset</key>
        <string>{-65,225}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{226,258}}</string>
        <key>sourceSize</key>
        <string>{226,258}</string>
      </dict>
      <key>monster_40070_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,648},{316,203}}</string>
        <key>offset</key>
        <string>{-108,173}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{316,203}}</string>
        <key>sourceSize</key>
        <string>{316,203}</string>
      </dict>
      <key>monster_40070_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1429,0},{224,244}}</string>
        <key>offset</key>
        <string>{-56,161}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{224,244}}</string>
        <key>sourceSize</key>
        <string>{224,244}</string>
      </dict>
      <key>monster_40070_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1417,263},{196,247}}</string>
        <key>offset</key>
        <string>{-49,165}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,247}}</string>
        <key>sourceSize</key>
        <string>{196,247}</string>
      </dict>
      <key>monster_40070_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1051,1699},{215,256}}</string>
        <key>offset</key>
        <string>{-84,185}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{215,256}}</string>
        <key>sourceSize</key>
        <string>{215,256}</string>
      </dict>
      <key>monster_40070_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1321,1083},{253,242}}</string>
        <key>offset</key>
        <string>{-99,197}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{253,242}}</string>
        <key>sourceSize</key>
        <string>{253,242}</string>
      </dict>
      <key>monster_40070_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{256,1545},{274,257}}</string>
        <key>offset</key>
        <string>{-72,210}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{274,257}}</string>
        <key>sourceSize</key>
        <string>{274,257}</string>
      </dict>
      <key>monster_40070_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1615,246},{240,237}}</string>
        <key>offset</key>
        <string>{-54,193}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{240,237}}</string>
        <key>sourceSize</key>
        <string>{240,237}</string>
      </dict>
      <key>monster_40070_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{256,1821},{271,217}}</string>
        <key>offset</key>
        <string>{-124,168}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{271,217}}</string>
        <key>sourceSize</key>
        <string>{271,217}</string>
      </dict>
      <key>monster_40070_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1173,268},{262,242}}</string>
        <key>offset</key>
        <string>{-117,167}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{262,242}}</string>
        <key>sourceSize</key>
        <string>{262,242}</string>
      </dict>
      <key>monster_40070_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{241,1250},{293,224}}</string>
        <key>offset</key>
        <string>{-135,180}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{293,224}}</string>
        <key>sourceSize</key>
        <string>{293,224}</string>
      </dict>
      <key>monster_40070_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{515,1524},{271,266}}</string>
        <key>offset</key>
        <string>{-113,218}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{271,266}}</string>
        <key>sourceSize</key>
        <string>{271,266}</string>
      </dict>
      <key>monster_40070_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{263,0},{301,230}}</string>
        <key>offset</key>
        <string>{-85,184}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{301,230}}</string>
        <key>sourceSize</key>
        <string>{301,230}</string>
      </dict>
      <key>monster_40070_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{727,1171},{161,266}}</string>
        <key>offset</key>
        <string>{-26,201}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,266}}</string>
        <key>sourceSize</key>
        <string>{161,266}</string>
      </dict>
      <key>monster_40070_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{495,0},{299,217}}</string>
        <key>offset</key>
        <string>{-145,170}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{299,217}}</string>
        <key>sourceSize</key>
        <string>{299,217}</string>
      </dict>
      <key>monster_40070_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{434,953},{293,233}}</string>
        <key>offset</key>
        <string>{-144,159}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{293,233}}</string>
        <key>sourceSize</key>
        <string>{293,233}</string>
      </dict>
      <key>monster_40070_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{529,1797},{269,231}}</string>
        <key>offset</key>
        <string>{-97,184}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{269,231}}</string>
        <key>sourceSize</key>
        <string>{269,231}</string>
      </dict>
      <key>monster_40070_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{325,261}}</string>
        <key>offset</key>
        <string>{-121,226}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{325,261}}</string>
        <key>sourceSize</key>
        <string>{325,261}</string>
      </dict>
      <key>monster_40070_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{228,953},{295,204}}</string>
        <key>offset</key>
        <string>{-91,141}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{295,204}}</string>
        <key>sourceSize</key>
        <string>{295,204}</string>
      </dict>
      <key>monster_40070_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{467,1248},{274,258}}</string>
        <key>offset</key>
        <string>{-87,193}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{274,258}}</string>
        <key>sourceSize</key>
        <string>{274,258}</string>
      </dict>
      <key>monster_40070_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{954,556},{265,222}}</string>
        <key>offset</key>
        <string>{-118,186}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{265,222}}</string>
        <key>sourceSize</key>
        <string>{265,222}</string>
      </dict>
      <key>monster_40070_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1225,0},{261,202}}</string>
        <key>offset</key>
        <string>{-123,165}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{261,202}}</string>
        <key>sourceSize</key>
        <string>{261,202}</string>
      </dict>
      <key>monster_40070_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1406,532},{200,251}}</string>
        <key>offset</key>
        <string>{-63,215}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{200,251}}</string>
        <key>sourceSize</key>
        <string>{200,251}</string>
      </dict>
      <key>monster_40070_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{660,301},{291,249}}</string>
        <key>offset</key>
        <string>{-97,216}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{291,249}}</string>
        <key>sourceSize</key>
        <string>{291,249}</string>
      </dict>
      <key>monster_40070_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1832,488},{210,238}}</string>
        <key>offset</key>
        <string>{-70,152}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{210,238}}</string>
        <key>sourceSize</key>
        <string>{210,238}</string>
      </dict>
      <key>monster_40070_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,327},{319,224}}</string>
        <key>offset</key>
        <string>{-138,190}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{319,224}}</string>
        <key>sourceSize</key>
        <string>{319,224}</string>
      </dict>
      <key>monster_40070_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1397,792},{222,253}}</string>
        <key>offset</key>
        <string>{-86,231}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{222,253}}</string>
        <key>sourceSize</key>
        <string>{222,253}</string>
      </dict>
      <key>monster_40070_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1608,512},{222,243}}</string>
        <key>offset</key>
        <string>{-97,221}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{222,243}}</string>
        <key>sourceSize</key>
        <string>{222,243}</string>
      </dict>
      <key>monster_40070_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,1706},{249,261}}</string>
        <key>offset</key>
        <string>{-58,218}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{249,261}}</string>
        <key>sourceSize</key>
        <string>{249,261}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_40070_0_2.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_40070_0_2.png</string>
    </dict>
  </dict>
</plist>