<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_20059_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{321,0},{262,203}}</string>
        <key>offset</key>
        <string>{-122,163}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{262,203}}</string>
        <key>sourceSize</key>
        <string>{262,203}</string>
      </dict>
      <key>monster_20059_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,293},{280,180}}</string>
        <key>offset</key>
        <string>{-167,135}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{280,180}}</string>
        <key>sourceSize</key>
        <string>{280,180}</string>
      </dict>
      <key>monster_20059_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{540,205},{169,208}}</string>
        <key>offset</key>
        <string>{9,141}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{169,208}}</string>
        <key>sourceSize</key>
        <string>{169,208}</string>
      </dict>
      <key>monster_20059_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{182,369},{168,216}}</string>
        <key>offset</key>
        <string>{-47,148}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{168,216}}</string>
        <key>sourceSize</key>
        <string>{168,216}</string>
      </dict>
      <key>monster_20059_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{321,205},{217,162}}</string>
        <key>offset</key>
        <string>{-15,90}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{217,162}}</string>
        <key>sourceSize</key>
        <string>{217,162}</string>
      </dict>
      <key>monster_20059_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{352,369},{181,209}}</string>
        <key>offset</key>
        <string>{-21,136}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{181,209}}</string>
        <key>sourceSize</key>
        <string>{181,209}</string>
      </dict>
      <key>monster_20059_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{291,137}}</string>
        <key>offset</key>
        <string>{-48,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{291,137}}</string>
        <key>sourceSize</key>
        <string>{291,137}</string>
      </dict>
      <key>monster_20059_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{139,0},{272,180}}</string>
        <key>offset</key>
        <string>{-40,105}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{272,180}}</string>
        <key>sourceSize</key>
        <string>{272,180}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_20059_0_7_1.png</string>
      <key>size</key>
      <string>{724,640}</string>
      <key>textureFileName</key>
      <string>monster_20059_0_7_1.png</string>
    </dict>
  </dict>
</plist>