<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_20030_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{409,0},{201,156}}</string>
        <key>offset</key>
        <string>{-84,121}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{201,156}}</string>
        <key>sourceSize</key>
        <string>{201,156}</string>
      </dict>
      <key>monster_20030_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,435},{209,159}}</string>
        <key>offset</key>
        <string>{-85,124}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{209,159}}</string>
        <key>sourceSize</key>
        <string>{209,159}</string>
      </dict>
      <key>monster_20030_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{160,646},{192,171}}</string>
        <key>offset</key>
        <string>{-96,135}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{192,171}}</string>
        <key>sourceSize</key>
        <string>{192,171}</string>
      </dict>
      <key>monster_20030_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{499,636},{186,174}}</string>
        <key>offset</key>
        <string>{-90,138}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{186,174}}</string>
        <key>sourceSize</key>
        <string>{186,174}</string>
      </dict>
      <key>monster_20030_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{575,199},{161,197}}</string>
        <key>offset</key>
        <string>{-65,158}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,197}}</string>
        <key>sourceSize</key>
        <string>{161,197}</string>
      </dict>
      <key>monster_20030_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{575,398},{162,197}}</string>
        <key>offset</key>
        <string>{-65,158}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{162,197}}</string>
        <key>sourceSize</key>
        <string>{162,197}</string>
      </dict>
      <key>monster_20030_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{567,0},{199,197}}</string>
        <key>offset</key>
        <string>{-95,161}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{199,197}}</string>
        <key>sourceSize</key>
        <string>{199,197}</string>
      </dict>
      <key>monster_20030_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{210,0},{205,197}}</string>
        <key>offset</key>
        <string>{-93,161}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{205,197}}</string>
        <key>sourceSize</key>
        <string>{205,197}</string>
      </dict>
      <key>monster_20030_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,221},{212,206}}</string>
        <key>offset</key>
        <string>{-60,171}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{212,206}}</string>
        <key>sourceSize</key>
        <string>{212,206}</string>
      </dict>
      <key>monster_20030_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{219,208}}</string>
        <key>offset</key>
        <string>{-65,173}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{219,208}}</string>
        <key>sourceSize</key>
        <string>{219,208}</string>
      </dict>
      <key>monster_20030_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{332,429},{205,194}}</string>
        <key>offset</key>
        <string>{-50,158}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{205,194}}</string>
        <key>sourceSize</key>
        <string>{205,194}</string>
      </dict>
      <key>monster_20030_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{379,207},{203,194}}</string>
        <key>offset</key>
        <string>{-50,158}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{203,194}}</string>
        <key>sourceSize</key>
        <string>{203,194}</string>
      </dict>
      <key>monster_20030_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{333,636},{164,192}}</string>
        <key>offset</key>
        <string>{-41,153}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{164,192}}</string>
        <key>sourceSize</key>
        <string>{164,192}</string>
      </dict>
      <key>monster_20030_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,646},{158,197}}</string>
        <key>offset</key>
        <string>{-41,158}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{158,197}}</string>
        <key>sourceSize</key>
        <string>{158,197}</string>
      </dict>
      <key>monster_20030_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{161,435},{207,169}}</string>
        <key>offset</key>
        <string>{-48,133}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{207,169}}</string>
        <key>sourceSize</key>
        <string>{207,169}</string>
      </dict>
      <key>monster_20030_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,221},{206,169}}</string>
        <key>offset</key>
        <string>{-48,133}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{206,169}}</string>
        <key>sourceSize</key>
        <string>{206,169}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_20030_0_7.png</string>
      <key>size</key>
      <string>{847,866}</string>
      <key>textureFileName</key>
      <string>monster_20030_0_7.png</string>
    </dict>
  </dict>
</plist>