<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_40000_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1115,1691},{198,310}}</string>
        <key>offset</key>
        <string>{-53,269}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{198,310}}</string>
        <key>sourceSize</key>
        <string>{198,310}</string>
      </dict>
      <key>monster_40000_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1358,0},{197,313}}</string>
        <key>offset</key>
        <string>{-53,272}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{197,313}}</string>
        <key>sourceSize</key>
        <string>{197,313}</string>
      </dict>
      <key>monster_40000_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,1769},{197,313}}</string>
        <key>offset</key>
        <string>{-52,272}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{197,313}}</string>
        <key>sourceSize</key>
        <string>{197,313}</string>
      </dict>
      <key>monster_40000_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1111,999},{198,310}}</string>
        <key>offset</key>
        <string>{-52,269}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{198,310}}</string>
        <key>sourceSize</key>
        <string>{198,310}</string>
      </dict>
      <key>monster_40000_0_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{887,352},{311,328}}</string>
        <key>offset</key>
        <string>{-149,277}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{311,328}}</string>
        <key>sourceSize</key>
        <string>{311,328}</string>
      </dict>
      <key>monster_40000_0_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{719,1437},{312,330}}</string>
        <key>offset</key>
        <string>{-149,280}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{312,330}}</string>
        <key>sourceSize</key>
        <string>{312,330}</string>
      </dict>
      <key>monster_40000_0_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{739,725},{312,330}}</string>
        <key>offset</key>
        <string>{-149,280}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{312,330}}</string>
        <key>sourceSize</key>
        <string>{312,330}</string>
      </dict>
      <key>monster_40000_0_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1044,0},{312,327}}</string>
        <key>offset</key>
        <string>{-150,276}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{312,327}}</string>
        <key>sourceSize</key>
        <string>{312,327}</string>
      </dict>
      <key>monster_40000_0_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{167,1106},{258,360}}</string>
        <key>offset</key>
        <string>{-157,284}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{258,360}}</string>
        <key>sourceSize</key>
        <string>{258,360}</string>
      </dict>
      <key>monster_40000_0_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1475},{257,361}}</string>
        <key>offset</key>
        <string>{-155,286}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{257,361}}</string>
        <key>sourceSize</key>
        <string>{257,361}</string>
      </dict>
      <key>monster_40000_0_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,370},{258,367}}</string>
        <key>offset</key>
        <string>{-156,292}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{258,367}}</string>
        <key>sourceSize</key>
        <string>{258,367}</string>
      </dict>
      <key>monster_40000_0_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{166,739},{258,365}}</string>
        <key>offset</key>
        <string>{-158,290}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{258,365}}</string>
        <key>sourceSize</key>
        <string>{258,365}</string>
      </dict>
      <key>monster_40000_0_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,739},{164,366}}</string>
        <key>offset</key>
        <string>{-59,299}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{164,366}}</string>
        <key>sourceSize</key>
        <string>{164,366}</string>
      </dict>
      <key>monster_40000_0_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{165,0},{162,367}}</string>
        <key>offset</key>
        <string>{-57,300}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{162,367}}</string>
        <key>sourceSize</key>
        <string>{162,367}</string>
      </dict>
      <key>monster_40000_0_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{163,368}}</string>
        <key>offset</key>
        <string>{-58,302}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,368}}</string>
        <key>sourceSize</key>
        <string>{163,368}</string>
      </dict>
      <key>monster_40000_0_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1107},{165,366}}</string>
        <key>offset</key>
        <string>{-60,300}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{165,366}}</string>
        <key>sourceSize</key>
        <string>{165,366}</string>
      </dict>
      <key>monster_40000_0_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{259,1468},{198,348}}</string>
        <key>offset</key>
        <string>{-89,296}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{198,348}}</string>
        <key>sourceSize</key>
        <string>{198,348}</string>
      </dict>
      <key>monster_40000_0_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{642,0},{198,353}}</string>
        <key>offset</key>
        <string>{-89,301}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{198,353}}</string>
        <key>sourceSize</key>
        <string>{198,353}</string>
      </dict>
      <key>monster_40000_0_0_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1838},{197,351}}</string>
        <key>offset</key>
        <string>{-89,299}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{197,351}}</string>
        <key>sourceSize</key>
        <string>{197,351}</string>
      </dict>
      <key>monster_40000_0_0_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{842,0},{200,350}}</string>
        <key>offset</key>
        <string>{-90,298}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{200,350}}</string>
        <key>sourceSize</key>
        <string>{200,350}</string>
      </dict>
      <key>monster_40000_0_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{574,364},{311,359}}</string>
        <key>offset</key>
        <string>{-106,301}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{311,359}}</string>
        <key>sourceSize</key>
        <string>{311,359}</string>
      </dict>
      <key>monster_40000_0_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{426,733},{311,360}}</string>
        <key>offset</key>
        <string>{-107,302}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{311,360}}</string>
        <key>sourceSize</key>
        <string>{311,360}</string>
      </dict>
      <key>monster_40000_0_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{260,369},{312,362}}</string>
        <key>offset</key>
        <string>{-107,304}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{312,362}}</string>
        <key>sourceSize</key>
        <string>{312,362}</string>
      </dict>
      <key>monster_40000_0_0_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{329,0},{311,362}}</string>
        <key>offset</key>
        <string>{-106,304}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{311,362}}</string>
        <key>sourceSize</key>
        <string>{311,362}</string>
      </dict>
      <key>monster_40000_0_0_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{459,1783},{258,339}}</string>
        <key>offset</key>
        <string>{-45,294}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{258,339}}</string>
        <key>sourceSize</key>
        <string>{258,339}</string>
      </dict>
      <key>monster_40000_0_0_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{459,1441},{258,340}}</string>
        <key>offset</key>
        <string>{-47,295}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{258,340}}</string>
        <key>sourceSize</key>
        <string>{258,340}</string>
      </dict>
      <key>monster_40000_0_0_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{427,1095},{257,344}}</string>
        <key>offset</key>
        <string>{-45,299}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{257,344}}</string>
        <key>sourceSize</key>
        <string>{257,344}</string>
      </dict>
      <key>monster_40000_0_0_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{686,1095},{258,340}}</string>
        <key>offset</key>
        <string>{-44,295}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{258,340}}</string>
        <key>sourceSize</key>
        <string>{258,340}</string>
      </dict>
      <key>monster_40000_0_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1033,1376},{164,313}}</string>
        <key>offset</key>
        <string>{-49,281}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{164,313}}</string>
        <key>sourceSize</key>
        <string>{164,313}</string>
      </dict>
      <key>monster_40000_0_0_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1053,682},{162,315}}</string>
        <key>offset</key>
        <string>{-49,283}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{162,315}}</string>
        <key>sourceSize</key>
        <string>{162,315}</string>
      </dict>
      <key>monster_40000_0_0_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{946,1057},{163,317}}</string>
        <key>offset</key>
        <string>{-49,285}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,317}}</string>
        <key>sourceSize</key>
        <string>{163,317}</string>
      </dict>
      <key>monster_40000_0_0_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1200,329},{165,314}}</string>
        <key>offset</key>
        <string>{-49,282}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{165,314}}</string>
        <key>sourceSize</key>
        <string>{165,314}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_40000_0_0.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_40000_0_0.png</string>
    </dict>
  </dict>
</plist>