<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_40056_0_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{482,241},{311,221}}</string>
        <key>offset</key>
        <string>{-70,172}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{311,221}}</string>
        <key>sourceSize</key>
        <string>{311,221}</string>
      </dict>
      <key>monster_40056_0_4_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{965,0},{236,228}}</string>
        <key>offset</key>
        <string>{-212,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{236,228}}</string>
        <key>sourceSize</key>
        <string>{236,228}</string>
      </dict>
      <key>monster_40056_0_4_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{986,558},{236,228}}</string>
        <key>offset</key>
        <string>{-212,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{236,228}}</string>
        <key>sourceSize</key>
        <string>{236,228}</string>
      </dict>
      <key>monster_40056_0_4_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1018,238},{236,228}}</string>
        <key>offset</key>
        <string>{-212,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{236,228}}</string>
        <key>sourceSize</key>
        <string>{236,228}</string>
      </dict>
      <key>monster_40056_0_4_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1195,0},{236,228}}</string>
        <key>offset</key>
        <string>{-212,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{236,228}}</string>
        <key>sourceSize</key>
        <string>{236,228}</string>
      </dict>
      <key>monster_40056_0_4_1_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1216,476},{236,228}}</string>
        <key>offset</key>
        <string>{-212,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{236,228}}</string>
        <key>sourceSize</key>
        <string>{236,228}</string>
      </dict>
      <key>monster_40056_0_4_1_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1248,238},{236,228}}</string>
        <key>offset</key>
        <string>{-212,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{236,228}}</string>
        <key>sourceSize</key>
        <string>{236,228}</string>
      </dict>
      <key>monster_40056_0_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1425,0},{232,227}}</string>
        <key>offset</key>
        <string>{-61,199}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{232,227}}</string>
        <key>sourceSize</key>
        <string>{232,227}</string>
      </dict>
      <key>monster_40056_0_4_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{360,239}}</string>
        <key>offset</key>
        <string>{-233,217}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{360,239}}</string>
        <key>sourceSize</key>
        <string>{360,239}</string>
      </dict>
      <key>monster_40056_0_4_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,362},{360,239}}</string>
        <key>offset</key>
        <string>{-233,217}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{360,239}}</string>
        <key>sourceSize</key>
        <string>{360,239}</string>
      </dict>
      <key>monster_40056_0_4_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,724},{360,239}}</string>
        <key>offset</key>
        <string>{-233,217}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{360,239}}</string>
        <key>sourceSize</key>
        <string>{360,239}</string>
      </dict>
      <key>monster_40056_0_4_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{362,0},{360,239}}</string>
        <key>offset</key>
        <string>{-233,217}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{360,239}}</string>
        <key>sourceSize</key>
        <string>{360,239}</string>
      </dict>
      <key>monster_40056_0_4_3_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{724,0},{360,239}}</string>
        <key>offset</key>
        <string>{-233,217}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{360,239}}</string>
        <key>sourceSize</key>
        <string>{360,239}</string>
      </dict>
      <key>monster_40056_0_4_3_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{241,362},{360,239}}</string>
        <key>offset</key>
        <string>{-233,217}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{360,239}}</string>
        <key>sourceSize</key>
        <string>{360,239}</string>
      </dict>
      <key>monster_40056_0_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{362,724},{316,263}}</string>
        <key>offset</key>
        <string>{-144,147}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{316,263}}</string>
        <key>sourceSize</key>
        <string>{316,263}</string>
      </dict>
      <key>monster_40056_0_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{705,362},{311,194}}</string>
        <key>offset</key>
        <string>{-123,159}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{311,194}}</string>
        <key>sourceSize</key>
        <string>{311,194}</string>
      </dict>
      <key>monster_40056_0_4_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{680,558},{304,271}}</string>
        <key>offset</key>
        <string>{-22,241}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{304,271}}</string>
        <key>sourceSize</key>
        <string>{304,271}</string>
      </dict>
      <key>monster_40056_0_4_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{680,831},{283,184}}</string>
        <key>offset</key>
        <string>{-130,130}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{283,184}}</string>
        <key>sourceSize</key>
        <string>{283,184}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_40056_0_4_1.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>monster_40056_0_4_1.png</string>
    </dict>
  </dict>
</plist>