<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_1026_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{467,566},{119,107}}</string>
        <key>offset</key>
        <string>{-24,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,107}}</string>
        <key>sourceSize</key>
        <string>{119,107}</string>
      </dict>
      <key>monster_1026_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,663},{136,129}}</string>
        <key>offset</key>
        <string>{-7,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,129}}</string>
        <key>sourceSize</key>
        <string>{136,129}</string>
      </dict>
      <key>monster_1026_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{793,0},{106,101}}</string>
        <key>offset</key>
        <string>{-28,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,101}}</string>
        <key>sourceSize</key>
        <string>{106,101}</string>
      </dict>
      <key>monster_1026_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{160,0},{156,104}}</string>
        <key>offset</key>
        <string>{-76,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,104}}</string>
        <key>sourceSize</key>
        <string>{156,104}</string>
      </dict>
      <key>monster_1026_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{496,277},{123,102}}</string>
        <key>offset</key>
        <string>{-32,66}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,102}}</string>
        <key>sourceSize</key>
        <string>{123,102}</string>
      </dict>
      <key>monster_1026_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{544,402},{119,107}}</string>
        <key>offset</key>
        <string>{-24,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,107}}</string>
        <key>sourceSize</key>
        <string>{119,107}</string>
      </dict>
      <key>monster_1026_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{506,129},{122,99}}</string>
        <key>offset</key>
        <string>{-8,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{122,99}}</string>
        <key>sourceSize</key>
        <string>{122,99}</string>
      </dict>
      <key>monster_1026_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{119,510},{151,113}}</string>
        <key>offset</key>
        <string>{-3,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,113}}</string>
        <key>sourceSize</key>
        <string>{151,113}</string>
      </dict>
      <key>monster_1026_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{266,0},{144,105}}</string>
        <key>offset</key>
        <string>{-10,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,105}}</string>
        <key>sourceSize</key>
        <string>{144,105}</string>
      </dict>
      <key>monster_1026_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,820},{143,102}}</string>
        <key>offset</key>
        <string>{-37,68}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,102}}</string>
        <key>sourceSize</key>
        <string>{143,102}</string>
      </dict>
      <key>monster_1026_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{234,493},{134,97}}</string>
        <key>offset</key>
        <string>{-5,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,97}}</string>
        <key>sourceSize</key>
        <string>{134,97}</string>
      </dict>
      <key>monster_1026_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{578,0},{122,99}}</string>
        <key>offset</key>
        <string>{-8,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{122,99}}</string>
        <key>sourceSize</key>
        <string>{122,99}</string>
      </dict>
      <key>monster_1026_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,687},{111,105}}</string>
        <key>offset</key>
        <string>{2,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,105}}</string>
        <key>sourceSize</key>
        <string>{111,105}</string>
      </dict>
      <key>monster_1026_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,666},{152,124}}</string>
        <key>offset</key>
        <string>{-8,79}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,124}}</string>
        <key>sourceSize</key>
        <string>{152,124}</string>
      </dict>
      <key>monster_1026_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{159,341},{150,113}}</string>
        <key>offset</key>
        <string>{15,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,113}}</string>
        <key>sourceSize</key>
        <string>{150,113}</string>
      </dict>
      <key>monster_1026_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{653,372},{110,105}}</string>
        <key>offset</key>
        <string>{13,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{110,105}}</string>
        <key>sourceSize</key>
        <string>{110,105}</string>
      </dict>
      <key>monster_1026_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{346,801},{126,97}}</string>
        <key>offset</key>
        <string>{7,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,97}}</string>
        <key>sourceSize</key>
        <string>{126,97}</string>
      </dict>
      <key>monster_1026_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{576,523},{111,105}}</string>
        <key>offset</key>
        <string>{2,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,105}}</string>
        <key>sourceSize</key>
        <string>{111,105}</string>
      </dict>
      <key>monster_1026_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{607,124},{114,112}}</string>
        <key>offset</key>
        <string>{-6,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,112}}</string>
        <key>sourceSize</key>
        <string>{114,112}</string>
      </dict>
      <key>monster_1026_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{104,820},{123,141}}</string>
        <key>offset</key>
        <string>{-27,90}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,141}}</string>
        <key>sourceSize</key>
        <string>{123,141}</string>
      </dict>
      <key>monster_1026_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{371,309},{123,129}}</string>
        <key>offset</key>
        <string>{16,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,129}}</string>
        <key>sourceSize</key>
        <string>{123,129}</string>
      </dict>
      <key>monster_1026_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,253},{117,102}}</string>
        <key>offset</key>
        <string>{15,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,102}}</string>
        <key>sourceSize</key>
        <string>{117,102}</string>
      </dict>
      <key>monster_1026_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{229,930},{91,102}}</string>
        <key>offset</key>
        <string>{16,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{91,102}}</string>
        <key>sourceSize</key>
        <string>{91,102}</string>
      </dict>
      <key>monster_1026_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{679,0},{114,112}}</string>
        <key>offset</key>
        <string>{-6,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,112}}</string>
        <key>sourceSize</key>
        <string>{114,112}</string>
      </dict>
      <key>monster_1026_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{807,316},{98,100}}</string>
        <key>offset</key>
        <string>{-15,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,100}}</string>
        <key>sourceSize</key>
        <string>{98,100}</string>
      </dict>
      <key>monster_1026_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,510},{117,154}}</string>
        <key>offset</key>
        <string>{-45,106}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,154}}</string>
        <key>sourceSize</key>
        <string>{117,154}</string>
      </dict>
      <key>monster_1026_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{373,0},{109,144}}</string>
        <key>offset</key>
        <string>{-10,36}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,144}}</string>
        <key>sourceSize</key>
        <string>{109,144}</string>
      </dict>
      <key>monster_1026_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{274,309},{134,95}}</string>
        <key>offset</key>
        <string>{-10,38}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,95}}</string>
        <key>sourceSize</key>
        <string>{134,95}</string>
      </dict>
      <key>monster_1026_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{896,0},{106,102}}</string>
        <key>offset</key>
        <string>{-14,32}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,102}}</string>
        <key>sourceSize</key>
        <string>{106,102}</string>
      </dict>
      <key>monster_1026_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{909,316},{98,100}}</string>
        <key>offset</key>
        <string>{-15,42}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{98,100}}</string>
        <key>sourceSize</key>
        <string>{98,100}</string>
      </dict>
      <key>monster_1026_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{896,104},{104,106}}</string>
        <key>offset</key>
        <string>{-46,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,106}}</string>
        <key>sourceSize</key>
        <string>{104,106}</string>
      </dict>
      <key>monster_1026_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,347},{161,157}}</string>
        <key>offset</key>
        <string>{-64,118}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,157}}</string>
        <key>sourceSize</key>
        <string>{161,157}</string>
      </dict>
      <key>monster_1026_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{265,158},{149,139}}</string>
        <key>offset</key>
        <string>{-74,35}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{149,139}}</string>
        <key>sourceSize</key>
        <string>{149,139}</string>
      </dict>
      <key>monster_1026_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{445,826},{109,114}}</string>
        <key>offset</key>
        <string>{-24,31}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,114}}</string>
        <key>sourceSize</key>
        <string>{109,114}</string>
      </dict>
      <key>monster_1026_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{484,0},{127,92}}</string>
        <key>offset</key>
        <string>{-64,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,92}}</string>
        <key>sourceSize</key>
        <string>{127,92}</string>
      </dict>
      <key>monster_1026_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{824,210},{104,106}}</string>
        <key>offset</key>
        <string>{-46,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,106}}</string>
        <key>sourceSize</key>
        <string>{104,106}</string>
      </dict>
      <key>monster_1026_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{704,240},{101,107}}</string>
        <key>offset</key>
        <string>{-42,62}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,107}}</string>
        <key>sourceSize</key>
        <string>{101,107}</string>
      </dict>
      <key>monster_1026_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{180,158}}</string>
        <key>offset</key>
        <string>{-69,118}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,158}}</string>
        <key>sourceSize</key>
        <string>{180,158}</string>
      </dict>
      <key>monster_1026_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{147,182},{157,116}}</string>
        <key>offset</key>
        <string>{-111,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{157,116}}</string>
        <key>sourceSize</key>
        <string>{157,116}</string>
      </dict>
      <key>monster_1026_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{333,445},{97,131}}</string>
        <key>offset</key>
        <string>{-50,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,131}}</string>
        <key>sourceSize</key>
        <string>{97,131}</string>
      </dict>
      <key>monster_1026_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{406,146},{129,98}}</string>
        <key>offset</key>
        <string>{-83,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,98}}</string>
        <key>sourceSize</key>
        <string>{129,98}</string>
      </dict>
      <key>monster_1026_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{721,116},{101,107}}</string>
        <key>offset</key>
        <string>{-42,62}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,107}}</string>
        <key>sourceSize</key>
        <string>{101,107}</string>
      </dict>
      <key>monster_1026_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{355,578},{124,110}}</string>
        <key>offset</key>
        <string>{-43,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,110}}</string>
        <key>sourceSize</key>
        <string>{124,110}</string>
      </dict>
      <key>monster_1026_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,182},{163,145}}</string>
        <key>offset</key>
        <string>{-35,107}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,145}}</string>
        <key>sourceSize</key>
        <string>{163,145}</string>
      </dict>
      <key>monster_1026_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{126,663},{137,96}}</string>
        <key>offset</key>
        <string>{-91,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,96}}</string>
        <key>sourceSize</key>
        <string>{137,96}</string>
      </dict>
      <key>monster_1026_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{229,801},{127,115}}</string>
        <key>offset</key>
        <string>{-82,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,115}}</string>
        <key>sourceSize</key>
        <string>{127,115}</string>
      </dict>
      <key>monster_1026_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{445,704},{120,103}}</string>
        <key>offset</key>
        <string>{-58,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,103}}</string>
        <key>sourceSize</key>
        <string>{120,103}</string>
      </dict>
      <key>monster_1026_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{432,440},{124,110}}</string>
        <key>offset</key>
        <string>{-43,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,110}}</string>
        <key>sourceSize</key>
        <string>{124,110}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_1026_0_2.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>monster_1026_0_2.png</string>
    </dict>
  </dict>
</plist>