<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_40074_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{542,0},{190,238}}</string>
        <key>offset</key>
        <string>{-58,126}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{190,238}}</string>
        <key>sourceSize</key>
        <string>{190,238}</string>
      </dict>
      <key>monster_40074_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{734,0},{200,232}}</string>
        <key>offset</key>
        <string>{-63,123}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{200,232}}</string>
        <key>sourceSize</key>
        <string>{200,232}</string>
      </dict>
      <key>monster_40074_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{984,463},{205,220}}</string>
        <key>offset</key>
        <string>{-66,118}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{205,220}}</string>
        <key>sourceSize</key>
        <string>{205,220}</string>
      </dict>
      <key>monster_40074_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{839,234},{200,227}}</string>
        <key>offset</key>
        <string>{-63,121}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{200,227}}</string>
        <key>sourceSize</key>
        <string>{200,227}</string>
      </dict>
      <key>monster_40074_0_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{153,0},{264,188}}</string>
        <key>offset</key>
        <string>{-113,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{264,188}}</string>
        <key>sourceSize</key>
        <string>{264,188}</string>
      </dict>
      <key>monster_40074_0_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{343,0},{249,197}}</string>
        <key>offset</key>
        <string>{-96,116}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{249,197}}</string>
        <key>sourceSize</key>
        <string>{249,197}</string>
      </dict>
      <key>monster_40074_0_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{510,767},{243,196}}</string>
        <key>offset</key>
        <string>{-89,119}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{243,196}}</string>
        <key>sourceSize</key>
        <string>{243,196}</string>
      </dict>
      <key>monster_40074_0_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{311,266},{253,188}}</string>
        <key>offset</key>
        <string>{-103,115}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{253,188}}</string>
        <key>sourceSize</key>
        <string>{253,188}</string>
      </dict>
      <key>monster_40074_0_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{273,151}}</string>
        <key>offset</key>
        <string>{-134,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{273,151}}</string>
        <key>sourceSize</key>
        <string>{273,151}</string>
      </dict>
      <key>monster_40074_0_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,275},{268,153}}</string>
        <key>offset</key>
        <string>{-128,105}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{268,153}}</string>
        <key>sourceSize</key>
        <string>{268,153}</string>
      </dict>
      <key>monster_40074_0_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{155,266},{256,154}}</string>
        <key>offset</key>
        <string>{-119,107}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{256,154}}</string>
        <key>sourceSize</key>
        <string>{256,154}</string>
      </dict>
      <key>monster_40074_0_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,545},{263,153}}</string>
        <key>offset</key>
        <string>{-125,105}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{263,153}}</string>
        <key>sourceSize</key>
        <string>{263,153}</string>
      </dict>
      <key>monster_40074_0_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1051,685},{214,140}}</string>
        <key>offset</key>
        <string>{-75,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{214,140}}</string>
        <key>sourceSize</key>
        <string>{214,140}</string>
      </dict>
      <key>monster_40074_0_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{708,733},{229,139}}</string>
        <key>offset</key>
        <string>{-85,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{229,139}}</string>
        <key>sourceSize</key>
        <string>{229,139}</string>
      </dict>
      <key>monster_40074_0_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{936,0},{225,138}}</string>
        <key>offset</key>
        <string>{-79,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{225,138}}</string>
        <key>sourceSize</key>
        <string>{225,138}</string>
      </dict>
      <key>monster_40074_0_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1191,449},{214,141}}</string>
        <key>offset</key>
        <string>{-72,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{214,141}}</string>
        <key>sourceSize</key>
        <string>{214,141}</string>
      </dict>
      <key>monster_40074_0_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1193,855},{177,137}}</string>
        <key>offset</key>
        <string>{-67,95}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{177,137}}</string>
        <key>sourceSize</key>
        <string>{177,137}</string>
      </dict>
      <key>monster_40074_0_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1290,0},{188,135}}</string>
        <key>offset</key>
        <string>{-72,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{188,135}}</string>
        <key>sourceSize</key>
        <string>{188,135}</string>
      </dict>
      <key>monster_40074_0_0_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1258,220},{194,137}}</string>
        <key>offset</key>
        <string>{-74,93}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{194,137}}</string>
        <key>sourceSize</key>
        <string>{194,137}</string>
      </dict>
      <key>monster_40074_0_0_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1193,665},{188,138}}</string>
        <key>offset</key>
        <string>{-72,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{188,138}}</string>
        <key>sourceSize</key>
        <string>{188,138}</string>
      </dict>
      <key>monster_40074_0_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,810},{257,147}}</string>
        <key>offset</key>
        <string>{-92,98}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{257,147}}</string>
        <key>sourceSize</key>
        <string>{257,147}</string>
      </dict>
      <key>monster_40074_0_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{490,521},{244,144}}</string>
        <key>offset</key>
        <string>{-95,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{244,144}}</string>
        <key>sourceSize</key>
        <string>{244,144}</string>
      </dict>
      <key>monster_40074_0_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{636,494},{237,145}}</string>
        <key>offset</key>
        <string>{-95,97}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{237,145}}</string>
        <key>sourceSize</key>
        <string>{237,145}</string>
      </dict>
      <key>monster_40074_0_0_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{259,780},{249,145}}</string>
        <key>offset</key>
        <string>{-93,98}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{249,145}}</string>
        <key>sourceSize</key>
        <string>{249,145}</string>
      </dict>
      <key>monster_40074_0_0_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{155,524},{254,165}}</string>
        <key>offset</key>
        <string>{-76,109}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{254,165}}</string>
        <key>sourceSize</key>
        <string>{254,165}</string>
      </dict>
      <key>monster_40074_0_0_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{322,521},{247,166}}</string>
        <key>offset</key>
        <string>{-74,110}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{247,166}}</string>
        <key>sourceSize</key>
        <string>{247,166}</string>
      </dict>
      <key>monster_40074_0_0_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{670,240},{237,167}}</string>
        <key>offset</key>
        <string>{-70,110}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{237,167}}</string>
        <key>sourceSize</key>
        <string>{237,167}</string>
      </dict>
      <key>monster_40074_0_0_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{501,251},{241,167}}</string>
        <key>offset</key>
        <string>{-72,110}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{241,167}}</string>
        <key>sourceSize</key>
        <string>{241,167}</string>
      </dict>
      <key>monster_40074_0_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{783,479},{199,228}}</string>
        <key>offset</key>
        <string>{-81,132}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{199,228}}</string>
        <key>sourceSize</key>
        <string>{199,228}</string>
      </dict>
      <key>monster_40074_0_0_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1041,227},{215,220}}</string>
        <key>offset</key>
        <string>{-87,135}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{215,220}}</string>
        <key>sourceSize</key>
        <string>{215,220}</string>
      </dict>
      <key>monster_40074_0_0_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1076,0},{212,218}}</string>
        <key>offset</key>
        <string>{-90,135}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{212,218}}</string>
        <key>sourceSize</key>
        <string>{212,218}</string>
      </dict>
      <key>monster_40074_0_0_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{849,709},{200,225}}</string>
        <key>offset</key>
        <string>{-85,134}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{200,225}}</string>
        <key>sourceSize</key>
        <string>{200,225}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_40074_0_0.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>monster_40074_0_0.png</string>
    </dict>
  </dict>
</plist>