<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_1046_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{629,1497},{357,365}}</string>
        <key>offset</key>
        <string>{-151,219}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{357,365}}</string>
        <key>sourceSize</key>
        <string>{357,365}</string>
      </dict>
      <key>monster_1046_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,1128},{355,367}}</string>
        <key>offset</key>
        <string>{-151,219}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{355,367}}</string>
        <key>sourceSize</key>
        <string>{355,367}</string>
      </dict>
      <key>monster_1046_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{536,0},{356,368}}</string>
        <key>offset</key>
        <string>{-151,219}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{356,368}}</string>
        <key>sourceSize</key>
        <string>{356,368}</string>
      </dict>
      <key>monster_1046_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{861,739},{357,366}}</string>
        <key>offset</key>
        <string>{-151,217}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{357,366}}</string>
        <key>sourceSize</key>
        <string>{357,366}</string>
      </dict>
      <key>monster_1046_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{884,370},{358,366}}</string>
        <key>offset</key>
        <string>{-150,218}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{358,366}}</string>
        <key>sourceSize</key>
        <string>{358,366}</string>
      </dict>
      <key>monster_1046_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{266,1507},{361,368}}</string>
        <key>offset</key>
        <string>{-152,220}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{361,368}}</string>
        <key>sourceSize</key>
        <string>{361,368}</string>
      </dict>
      <key>monster_1046_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1244,368},{347,363}}</string>
        <key>offset</key>
        <string>{-147,220}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{347,363}}</string>
        <key>sourceSize</key>
        <string>{347,363}</string>
      </dict>
      <key>monster_1046_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{907,1107},{349,364}}</string>
        <key>offset</key>
        <string>{-148,220}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{349,364}}</string>
        <key>sourceSize</key>
        <string>{349,364}</string>
      </dict>
      <key>monster_1046_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{894,0},{350,366}}</string>
        <key>offset</key>
        <string>{-148,221}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{350,366}}</string>
        <key>sourceSize</key>
        <string>{350,366}</string>
      </dict>
      <key>monster_1046_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1246,0},{346,362}}</string>
        <key>offset</key>
        <string>{-145,218}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{346,362}}</string>
        <key>sourceSize</key>
        <string>{346,362}</string>
      </dict>
      <key>monster_1046_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1594,0},{346,362}}</string>
        <key>offset</key>
        <string>{-146,218}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{346,362}}</string>
        <key>sourceSize</key>
        <string>{346,362}</string>
      </dict>
      <key>monster_1046_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1220,738},{348,364}}</string>
        <key>offset</key>
        <string>{-148,220}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{348,364}}</string>
        <key>sourceSize</key>
        <string>{348,364}</string>
      </dict>
      <key>monster_1046_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{293,377},{369,292}}</string>
        <key>offset</key>
        <string>{-159,210}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{369,292}}</string>
        <key>sourceSize</key>
        <string>{369,292}</string>
      </dict>
      <key>monster_1046_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{257,1132},{373,291}}</string>
        <key>offset</key>
        <string>{-161,209}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{373,291}}</string>
        <key>sourceSize</key>
        <string>{373,291}</string>
      </dict>
      <key>monster_1046_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,378},{375,291}}</string>
        <key>offset</key>
        <string>{-162,209}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{375,291}}</string>
        <key>sourceSize</key>
        <string>{375,291}</string>
      </dict>
      <key>monster_1046_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{275,755},{371,290}}</string>
        <key>offset</key>
        <string>{-161,208}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{371,290}}</string>
        <key>sourceSize</key>
        <string>{371,290}</string>
      </dict>
      <key>monster_1046_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{567,748},{367,292}}</string>
        <key>offset</key>
        <string>{-160,209}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{367,292}}</string>
        <key>sourceSize</key>
        <string>{367,292}</string>
      </dict>
      <key>monster_1046_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{587,370},{367,295}}</string>
        <key>offset</key>
        <string>{-160,212}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{367,295}}</string>
        <key>sourceSize</key>
        <string>{367,295}</string>
      </dict>
      <key>monster_1046_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1624,1628},{296,318}}</string>
        <key>offset</key>
        <string>{-77,208}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{296,318}}</string>
        <key>sourceSize</key>
        <string>{296,318}</string>
      </dict>
      <key>monster_1046_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1622,1307},{281,319}}</string>
        <key>offset</key>
        <string>{-64,211}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{281,319}}</string>
        <key>sourceSize</key>
        <string>{281,319}</string>
      </dict>
      <key>monster_1046_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{267,0},{267,375}}</string>
        <key>offset</key>
        <string>{-55,217}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{267,375}}</string>
        <key>sourceSize</key>
        <string>{267,375}</string>
      </dict>
      <key>monster_1046_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,755},{273,375}}</string>
        <key>offset</key>
        <string>{-60,217}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{273,375}}</string>
        <key>sourceSize</key>
        <string>{273,375}</string>
      </dict>
      <key>monster_1046_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{265,376}}</string>
        <key>offset</key>
        <string>{-57,219}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{265,376}}</string>
        <key>sourceSize</key>
        <string>{265,376}</string>
      </dict>
      <key>monster_1046_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1132},{255,375}}</string>
        <key>offset</key>
        <string>{-46,218}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{255,375}}</string>
        <key>sourceSize</key>
        <string>{255,375}</string>
      </dict>
      <key>monster_1046_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1509},{264,375}}</string>
        <key>offset</key>
        <string>{-51,220}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{264,375}}</string>
        <key>sourceSize</key>
        <string>{264,375}</string>
      </dict>
      <key>monster_1046_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1304,1666},{318,356}}</string>
        <key>offset</key>
        <string>{-99,214}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{318,356}}</string>
        <key>sourceSize</key>
        <string>{318,356}</string>
      </dict>
      <key>monster_1046_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1570,987},{318,359}}</string>
        <key>offset</key>
        <string>{-98,216}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{318,359}}</string>
        <key>sourceSize</key>
        <string>{318,359}</string>
      </dict>
      <key>monster_1046_0_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1594,348},{317,362}}</string>
        <key>offset</key>
        <string>{-96,218}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{317,362}}</string>
        <key>sourceSize</key>
        <string>{317,362}</string>
      </dict>
      <key>monster_1046_0_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1593,667},{318,360}}</string>
        <key>offset</key>
        <string>{-97,217}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{318,360}}</string>
        <key>sourceSize</key>
        <string>{318,360}</string>
      </dict>
      <key>monster_1046_0_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{988,1473},{314,358}}</string>
        <key>offset</key>
        <string>{-96,216}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{314,358}}</string>
        <key>sourceSize</key>
        <string>{314,358}</string>
      </dict>
      <key>monster_1046_0_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1304,1307},{316,357}}</string>
        <key>offset</key>
        <string>{-97,216}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{316,357}}</string>
        <key>sourceSize</key>
        <string>{316,357}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_1046_0_1_0.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_1046_0_1_0.png</string>
    </dict>
  </dict>
</plist>