<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_20050_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1262,1406},{180,252}}</string>
        <key>offset</key>
        <string>{-32,207}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,252}}</string>
        <key>sourceSize</key>
        <string>{180,252}</string>
      </dict>
      <key>monster_20050_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1519},{123,251}}</string>
        <key>offset</key>
        <string>{-31,206}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,251}}</string>
        <key>sourceSize</key>
        <string>{123,251}</string>
      </dict>
      <key>monster_20050_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1444,1406},{252,240}}</string>
        <key>offset</key>
        <string>{-119,195}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{252,240}}</string>
        <key>sourceSize</key>
        <string>{252,240}</string>
      </dict>
      <key>monster_20050_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{503,1513},{179,248}}</string>
        <key>offset</key>
        <string>{-71,199}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{179,248}}</string>
        <key>sourceSize</key>
        <string>{179,248}</string>
      </dict>
      <key>monster_20050_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{768,385},{269,377}}</string>
        <key>offset</key>
        <string>{-43,332}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{269,377}}</string>
        <key>sourceSize</key>
        <string>{269,377}</string>
      </dict>
      <key>monster_20050_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1039,379},{345,375}}</string>
        <key>offset</key>
        <string>{-126,330}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{345,375}}</string>
        <key>sourceSize</key>
        <string>{345,375}</string>
      </dict>
      <key>monster_20050_0_2_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{804,764},{348,376}}</string>
        <key>offset</key>
        <string>{-129,331}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{348,376}}</string>
        <key>sourceSize</key>
        <string>{348,376}</string>
      </dict>
      <key>monster_20050_0_2_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1230,0},{366,372}}</string>
        <key>offset</key>
        <string>{-157,327}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{366,372}}</string>
        <key>sourceSize</key>
        <string>{366,372}</string>
      </dict>
      <key>monster_20050_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1262,1149},{205,255}}</string>
        <key>offset</key>
        <string>{-58,206}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{205,255}}</string>
        <key>sourceSize</key>
        <string>{205,255}</string>
      </dict>
      <key>monster_20050_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1469,1149},{234,254}}</string>
        <key>offset</key>
        <string>{-123,205}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{234,254}}</string>
        <key>sourceSize</key>
        <string>{234,254}</string>
      </dict>
      <key>monster_20050_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1396,660},{280,253}}</string>
        <key>offset</key>
        <string>{-181,204}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{280,253}}</string>
        <key>sourceSize</key>
        <string>{280,253}</string>
      </dict>
      <key>monster_20050_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{253,1519},{248,249}}</string>
        <key>offset</key>
        <string>{-73,200}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{248,249}}</string>
        <key>sourceSize</key>
        <string>{248,249}</string>
      </dict>
      <key>monster_20050_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{258,0},{428,261}}</string>
        <key>offset</key>
        <string>{-65,212}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{428,261}}</string>
        <key>sourceSize</key>
        <string>{428,261}</string>
      </dict>
      <key>monster_20050_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{255,897},{411,261}}</string>
        <key>offset</key>
        <string>{-50,212}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{411,261}}</string>
        <key>sourceSize</key>
        <string>{411,261}</string>
      </dict>
      <key>monster_20050_0_2_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{273,430},{409,256}}</string>
        <key>offset</key>
        <string>{-48,207}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{409,256}}</string>
        <key>sourceSize</key>
        <string>{409,256}</string>
      </dict>
      <key>monster_20050_0_2_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,897},{417,253}}</string>
        <key>offset</key>
        <string>{-61,204}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{417,253}}</string>
        <key>sourceSize</key>
        <string>{417,253}</string>
      </dict>
      <key>monster_20050_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1640,307},{148,276}}</string>
        <key>offset</key>
        <string>{-71,203}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,276}}</string>
        <key>sourceSize</key>
        <string>{148,276}</string>
      </dict>
      <key>monster_20050_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1386,374},{284,252}}</string>
        <key>offset</key>
        <string>{-197,202}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{284,252}}</string>
        <key>sourceSize</key>
        <string>{284,252}</string>
      </dict>
      <key>monster_20050_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1316},{201,315}}</string>
        <key>offset</key>
        <string>{-118,265}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{201,315}}</string>
        <key>sourceSize</key>
        <string>{201,315}</string>
      </dict>
      <key>monster_20050_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1154,756},{302,240}}</string>
        <key>offset</key>
        <string>{-140,190}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{302,240}}</string>
        <key>sourceSize</key>
        <string>{302,240}</string>
      </dict>
      <key>monster_20050_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{755,0},{383,236}}</string>
        <key>offset</key>
        <string>{-38,186}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{383,236}}</string>
        <key>sourceSize</key>
        <string>{383,236}</string>
      </dict>
      <key>monster_20050_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{993,0},{377,235}}</string>
        <key>offset</key>
        <string>{-35,185}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{377,235}}</string>
        <key>sourceSize</key>
        <string>{377,235}</string>
      </dict>
      <key>monster_20050_0_2_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{531,410},{397,235}}</string>
        <key>offset</key>
        <string>{-53,185}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{397,235}}</string>
        <key>sourceSize</key>
        <string>{397,235}</string>
      </dict>
      <key>monster_20050_0_2_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{521,0},{408,232}}</string>
        <key>offset</key>
        <string>{-70,182}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{408,232}}</string>
        <key>sourceSize</key>
        <string>{408,232}</string>
      </dict>
      <key>monster_20050_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1598,0},{140,305}}</string>
        <key>offset</key>
        <string>{-68,230}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,305}}</string>
        <key>sourceSize</key>
        <string>{140,305}</string>
      </dict>
      <key>monster_20050_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1041,1142},{219,307}}</string>
        <key>offset</key>
        <string>{-143,262}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{219,307}}</string>
        <key>sourceSize</key>
        <string>{219,307}</string>
      </dict>
      <key>monster_20050_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{903,1142},{136,339}}</string>
        <key>offset</key>
        <string>{-54,294}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,339}}</string>
        <key>sourceSize</key>
        <string>{136,339}</string>
      </dict>
      <key>monster_20050_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1396,915},{232,270}}</string>
        <key>offset</key>
        <string>{-123,208}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{232,270}}</string>
        <key>sourceSize</key>
        <string>{232,270}</string>
      </dict>
      <key>monster_20050_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{518,841},{405,284}}</string>
        <key>offset</key>
        <string>{-192,226}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{405,284}}</string>
        <key>sourceSize</key>
        <string>{405,284}</string>
      </dict>
      <key>monster_20050_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,451},{444,271}}</string>
        <key>offset</key>
        <string>{-189,215}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{444,271}}</string>
        <key>sourceSize</key>
        <string>{444,271}</string>
      </dict>
      <key>monster_20050_0_2_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{518,1248},{383,263}}</string>
        <key>offset</key>
        <string>{-190,215}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{383,263}}</string>
        <key>sourceSize</key>
        <string>{383,263}</string>
      </dict>
      <key>monster_20050_0_2_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{449,256}}</string>
        <key>offset</key>
        <string>{-184,211}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{449,256}}</string>
        <key>sourceSize</key>
        <string>{449,256}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_20050_0_2_0.png</string>
      <key>size</key>
      <string>{1792,1786}</string>
      <key>textureFileName</key>
      <string>monster_20050_0_2_0.png</string>
    </dict>
  </dict>
</plist>