<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_40042_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{851,776},{162,146}}</string>
        <key>offset</key>
        <string>{-64,124}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{162,146}}</string>
        <key>sourceSize</key>
        <string>{162,146}</string>
      </dict>
      <key>monster_40042_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{851,924},{162,144}}</string>
        <key>offset</key>
        <string>{-58,123}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{162,144}}</string>
        <key>sourceSize</key>
        <string>{162,144}</string>
      </dict>
      <key>monster_40042_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{546,154},{174,144}}</string>
        <key>offset</key>
        <string>{-59,126}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{174,144}}</string>
        <key>sourceSize</key>
        <string>{174,144}</string>
      </dict>
      <key>monster_40042_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,412},{176,148}}</string>
        <key>offset</key>
        <string>{-56,126}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,148}}</string>
        <key>sourceSize</key>
        <string>{176,148}</string>
      </dict>
      <key>monster_40042_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{360,291},{174,147}}</string>
        <key>offset</key>
        <string>{-60,128}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{174,147}}</string>
        <key>sourceSize</key>
        <string>{174,147}</string>
      </dict>
      <key>monster_40042_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{875,472},{167,146}}</string>
        <key>offset</key>
        <string>{-63,128}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,146}}</string>
        <key>sourceSize</key>
        <string>{167,146}</string>
      </dict>
      <key>monster_40042_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{672,1102},{136,154}}</string>
        <key>offset</key>
        <string>{-55,140}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,154}}</string>
        <key>sourceSize</key>
        <string>{136,154}</string>
      </dict>
      <key>monster_40042_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{510,914},{141,162}}</string>
        <key>offset</key>
        <string>{-61,141}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,162}}</string>
        <key>sourceSize</key>
        <string>{141,162}</string>
      </dict>
      <key>monster_40042_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{347,750},{152,168}}</string>
        <key>offset</key>
        <string>{-66,141}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,168}}</string>
        <key>sourceSize</key>
        <string>{152,168}</string>
      </dict>
      <key>monster_40042_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{697,621},{153,166}}</string>
        <key>offset</key>
        <string>{-69,134}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,166}}</string>
        <key>sourceSize</key>
        <string>{153,166}</string>
      </dict>
      <key>monster_40042_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{703,472},{147,170}}</string>
        <key>offset</key>
        <string>{-67,143}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,170}}</string>
        <key>sourceSize</key>
        <string>{147,170}</string>
      </dict>
      <key>monster_40042_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{166,1216},{143,159}}</string>
        <key>offset</key>
        <string>{-61,147}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,159}}</string>
        <key>sourceSize</key>
        <string>{143,159}</string>
      </dict>
      <key>monster_40042_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{178,419},{144,174}}</string>
        <key>offset</key>
        <string>{-53,141}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,174}}</string>
        <key>sourceSize</key>
        <string>{144,174}</string>
      </dict>
      <key>monster_40042_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{377,0},{140,181}}</string>
        <key>offset</key>
        <string>{-48,145}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,181}}</string>
        <key>sourceSize</key>
        <string>{140,181}</string>
      </dict>
      <key>monster_40042_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{189,0},{137,186}}</string>
        <key>offset</key>
        <string>{-45,150}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,186}}</string>
        <key>sourceSize</key>
        <string>{137,186}</string>
      </dict>
      <key>monster_40042_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,137},{131,183}}</string>
        <key>offset</key>
        <string>{-39,147}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,183}}</string>
        <key>sourceSize</key>
        <string>{131,183}</string>
      </dict>
      <key>monster_40042_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{135,187}}</string>
        <key>offset</key>
        <string>{-44,151}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,187}}</string>
        <key>sourceSize</key>
        <string>{135,187}</string>
      </dict>
      <key>monster_40042_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{185,139},{140,179}}</string>
        <key>offset</key>
        <string>{-48,150}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,179}}</string>
        <key>sourceSize</key>
        <string>{140,179}</string>
      </dict>
      <key>monster_40042_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{722,155},{161,173}}</string>
        <key>offset</key>
        <string>{-77,129}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,173}}</string>
        <key>sourceSize</key>
        <string>{161,173}</string>
      </dict>
      <key>monster_40042_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{536,300},{162,173}}</string>
        <key>offset</key>
        <string>{-80,134}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{162,173}}</string>
        <key>sourceSize</key>
        <string>{162,173}</string>
      </dict>
      <key>monster_40042_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{354,440},{160,173}}</string>
        <key>offset</key>
        <string>{-75,140}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,173}}</string>
        <key>sourceSize</key>
        <string>{160,173}</string>
      </dict>
      <key>monster_40042_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{173,896},{153,168}}</string>
        <key>offset</key>
        <string>{-69,140}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,168}}</string>
        <key>sourceSize</key>
        <string>{153,168}</string>
      </dict>
      <key>monster_40042_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{740,0},{153,175}}</string>
        <key>offset</key>
        <string>{-74,141}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,175}}</string>
        <key>sourceSize</key>
        <string>{153,175}</string>
      </dict>
      <key>monster_40042_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{176,565},{164,173}}</string>
        <key>offset</key>
        <string>{-78,138}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{164,173}}</string>
        <key>sourceSize</key>
        <string>{164,173}</string>
      </dict>
      <key>monster_40042_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{343,904},{160,165}}</string>
        <key>offset</key>
        <string>{-49,125}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,165}}</string>
        <key>sourceSize</key>
        <string>{160,165}</string>
      </dict>
      <key>monster_40042_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{510,1057},{160,156}}</string>
        <key>offset</key>
        <string>{-55,126}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,156}}</string>
        <key>sourceSize</key>
        <string>{160,156}</string>
      </dict>
      <key>monster_40042_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{525,610},{170,158}}</string>
        <key>offset</key>
        <string>{-64,129}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,158}}</string>
        <key>sourceSize</key>
        <string>{170,158}</string>
      </dict>
      <key>monster_40042_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,704},{172,169}}</string>
        <key>offset</key>
        <string>{-69,127}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{172,169}}</string>
        <key>sourceSize</key>
        <string>{172,169}</string>
      </dict>
      <key>monster_40042_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,731},{171,163}}</string>
        <key>offset</key>
        <string>{-64,131}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{171,163}}</string>
        <key>sourceSize</key>
        <string>{171,163}</string>
      </dict>
      <key>monster_40042_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1146},{164,160}}</string>
        <key>offset</key>
        <string>{-54,132}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{164,160}}</string>
        <key>sourceSize</key>
        <string>{164,160}</string>
      </dict>
      <key>monster_40042_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1308},{138,159}}</string>
        <key>offset</key>
        <string>{-34,131}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,159}}</string>
        <key>sourceSize</key>
        <string>{138,159}</string>
      </dict>
      <key>monster_40042_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{517,770},{142,166}}</string>
        <key>offset</key>
        <string>{-32,133}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,166}}</string>
        <key>sourceSize</key>
        <string>{142,166}</string>
      </dict>
      <key>monster_40042_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{711,318},{152,172}}</string>
        <key>offset</key>
        <string>{-38,136}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,172}}</string>
        <key>sourceSize</key>
        <string>{152,172}</string>
      </dict>
      <key>monster_40042_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{560,0},{152,178}}</string>
        <key>offset</key>
        <string>{-36,131}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,178}}</string>
        <key>sourceSize</key>
        <string>{152,178}</string>
      </dict>
      <key>monster_40042_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{366,142},{147,178}}</string>
        <key>offset</key>
        <string>{-32,138}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,178}}</string>
        <key>sourceSize</key>
        <string>{147,178}</string>
      </dict>
      <key>monster_40042_0_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{529,464},{144,172}}</string>
        <key>offset</key>
        <string>{-35,139}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,172}}</string>
        <key>sourceSize</key>
        <string>{144,172}</string>
      </dict>
      <key>monster_40042_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{351,602},{146,172}}</string>
        <key>offset</key>
        <string>{-44,136}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,172}}</string>
        <key>sourceSize</key>
        <string>{146,172}</string>
      </dict>
      <key>monster_40042_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,562},{140,174}}</string>
        <key>offset</key>
        <string>{-44,138}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,174}}</string>
        <key>sourceSize</key>
        <string>{140,174}</string>
      </dict>
      <key>monster_40042_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1008},{136,167}}</string>
        <key>offset</key>
        <string>{-44,139}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,167}}</string>
        <key>sourceSize</key>
        <string>{136,167}</string>
      </dict>
      <key>monster_40042_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,875},{131,171}}</string>
        <key>offset</key>
        <string>{-44,136}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,171}}</string>
        <key>sourceSize</key>
        <string>{131,171}</string>
      </dict>
      <key>monster_40042_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{181,281},{136,177}}</string>
        <key>offset</key>
        <string>{-44,141}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,177}}</string>
        <key>sourceSize</key>
        <string>{136,177}</string>
      </dict>
      <key>monster_40042_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,270},{140,179}}</string>
        <key>offset</key>
        <string>{-44,143}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,179}}</string>
        <key>sourceSize</key>
        <string>{140,179}</string>
      </dict>
      <key>monster_40042_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{685,776},{164,161}}</string>
        <key>offset</key>
        <string>{-36,129}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{164,161}}</string>
        <key>sourceSize</key>
        <string>{164,161}</string>
      </dict>
      <key>monster_40042_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{674,939},{162,161}}</string>
        <key>offset</key>
        <string>{-33,133}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{162,161}}</string>
        <key>sourceSize</key>
        <string>{162,161}</string>
      </dict>
      <key>monster_40042_0_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{336,1066},{160,149}}</string>
        <key>offset</key>
        <string>{-36,138}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,149}}</string>
        <key>sourceSize</key>
        <string>{160,149}</string>
      </dict>
      <key>monster_40042_0_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{498,1215},{153,151}}</string>
        <key>offset</key>
        <string>{-35,136}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,151}}</string>
        <key>sourceSize</key>
        <string>{153,151}</string>
      </dict>
      <key>monster_40042_0_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{838,1070},{152,158}}</string>
        <key>offset</key>
        <string>{-29,139}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,158}}</string>
        <key>sourceSize</key>
        <string>{152,158}</string>
      </dict>
      <key>monster_40042_0_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{169,1051},{165,163}}</string>
        <key>offset</key>
        <string>{-38,138}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{165,163}}</string>
        <key>sourceSize</key>
        <string>{165,163}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_40042_0_1.png</string>
      <key>size</key>
      <string>{1024,2048}</string>
      <key>textureFileName</key>
      <string>monster_40042_0_1.png</string>
    </dict>
  </dict>
</plist>