<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_20057_0_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{395,1185},{288,300}}</string>
        <key>offset</key>
        <string>{-159,198}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{288,300}}</string>
        <key>sourceSize</key>
        <string>{288,300}</string>
      </dict>
      <key>monster_20057_0_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{975,1185},{286,299}}</string>
        <key>offset</key>
        <string>{-155,191}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{286,299}}</string>
        <key>sourceSize</key>
        <string>{286,299}</string>
      </dict>
      <key>monster_20057_0_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{393,229}}</string>
        <key>offset</key>
        <string>{-208,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{393,229}}</string>
        <key>sourceSize</key>
        <string>{393,229}</string>
      </dict>
      <key>monster_20057_0_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,395},{393,229}}</string>
        <key>offset</key>
        <string>{-208,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{393,229}}</string>
        <key>sourceSize</key>
        <string>{393,229}</string>
      </dict>
      <key>monster_20057_0_4_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,790},{393,229}}</string>
        <key>offset</key>
        <string>{-208,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{393,229}}</string>
        <key>sourceSize</key>
        <string>{393,229}</string>
      </dict>
      <key>monster_20057_0_4_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{231,790},{393,229}}</string>
        <key>offset</key>
        <string>{-208,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{393,229}}</string>
        <key>sourceSize</key>
        <string>{393,229}</string>
      </dict>
      <key>monster_20057_0_4_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{231,0},{393,229}}</string>
        <key>offset</key>
        <string>{-208,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{393,229}}</string>
        <key>sourceSize</key>
        <string>{393,229}</string>
      </dict>
      <key>monster_20057_0_4_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{231,395},{393,229}}</string>
        <key>offset</key>
        <string>{-208,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{393,229}}</string>
        <key>sourceSize</key>
        <string>{393,229}</string>
      </dict>
      <key>monster_20057_0_4_2_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,395},{393,229}}</string>
        <key>offset</key>
        <string>{-208,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{393,229}}</string>
        <key>sourceSize</key>
        <string>{393,229}</string>
      </dict>
      <key>monster_20057_0_4_2_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,0},{393,229}}</string>
        <key>offset</key>
        <string>{-208,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{393,229}}</string>
        <key>sourceSize</key>
        <string>{393,229}</string>
      </dict>
      <key>monster_20057_0_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{685,1185},{288,300}}</string>
        <key>offset</key>
        <string>{-153,194}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{288,300}}</string>
        <key>sourceSize</key>
        <string>{288,300}</string>
      </dict>
      <key>monster_20057_0_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1155,0},{286,299}}</string>
        <key>offset</key>
        <string>{-149,187}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{286,299}}</string>
        <key>sourceSize</key>
        <string>{286,299}</string>
      </dict>
      <key>monster_20057_0_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{693,0},{393,229}}</string>
        <key>offset</key>
        <string>{-202,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{393,229}}</string>
        <key>sourceSize</key>
        <string>{393,229}</string>
      </dict>
      <key>monster_20057_0_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,790},{393,229}}</string>
        <key>offset</key>
        <string>{-202,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{393,229}}</string>
        <key>sourceSize</key>
        <string>{393,229}</string>
      </dict>
      <key>monster_20057_0_4_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{693,790},{393,229}}</string>
        <key>offset</key>
        <string>{-202,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{393,229}}</string>
        <key>sourceSize</key>
        <string>{393,229}</string>
      </dict>
      <key>monster_20057_0_4_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{693,395},{393,229}}</string>
        <key>offset</key>
        <string>{-202,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{393,229}}</string>
        <key>sourceSize</key>
        <string>{393,229}</string>
      </dict>
      <key>monster_20057_0_4_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{924,395},{393,229}}</string>
        <key>offset</key>
        <string>{-202,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{393,229}}</string>
        <key>sourceSize</key>
        <string>{393,229}</string>
      </dict>
      <key>monster_20057_0_4_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{924,0},{393,229}}</string>
        <key>offset</key>
        <string>{-202,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{393,229}}</string>
        <key>sourceSize</key>
        <string>{393,229}</string>
      </dict>
      <key>monster_20057_0_4_3_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{924,790},{393,229}}</string>
        <key>offset</key>
        <string>{-202,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{393,229}}</string>
        <key>sourceSize</key>
        <string>{393,229}</string>
      </dict>
      <key>monster_20057_0_4_3_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1185},{393,229}}</string>
        <key>offset</key>
        <string>{-202,88}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{393,229}}</string>
        <key>sourceSize</key>
        <string>{393,229}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_20057_0_4_1.png</string>
      <key>size</key>
      <string>{1536,1508}</string>
      <key>textureFileName</key>
      <string>monster_20057_0_4_1.png</string>
    </dict>
  </dict>
</plist>