<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_1000_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{364,514},{291,358}}</string>
        <key>offset</key>
        <string>{-58,313}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{291,358}}</string>
        <key>sourceSize</key>
        <string>{291,358}</string>
      </dict>
      <key>monster_1000_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,368},{300,362}}</string>
        <key>offset</key>
        <string>{-69,317}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{300,362}}</string>
        <key>sourceSize</key>
        <string>{300,362}</string>
      </dict>
      <key>monster_1000_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{325,965},{258,312}}</string>
        <key>offset</key>
        <string>{-20,265}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{258,312}}</string>
        <key>sourceSize</key>
        <string>{258,312}</string>
      </dict>
      <key>monster_1000_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{664,852},{285,320}}</string>
        <key>offset</key>
        <string>{-29,273}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{285,320}}</string>
        <key>sourceSize</key>
        <string>{285,320}</string>
      </dict>
      <key>monster_1000_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{336,807},{156,326}}</string>
        <key>offset</key>
        <string>{-23,276}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,326}}</string>
        <key>sourceSize</key>
        <string>{156,326}</string>
      </dict>
      <key>monster_1000_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1211},{208,306}}</string>
        <key>offset</key>
        <string>{-34,256}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{208,306}}</string>
        <key>sourceSize</key>
        <string>{208,306}</string>
      </dict>
      <key>monster_1000_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,957},{252,323}}</string>
        <key>offset</key>
        <string>{-107,282}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{252,323}}</string>
        <key>sourceSize</key>
        <string>{252,323}</string>
      </dict>
      <key>monster_1000_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{308,1225},{199,284}}</string>
        <key>offset</key>
        <string>{-67,243}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{199,284}}</string>
        <key>sourceSize</key>
        <string>{199,284}</string>
      </dict>
      <key>monster_1000_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{724,514},{291,336}}</string>
        <key>offset</key>
        <string>{-177,281}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{291,336}}</string>
        <key>sourceSize</key>
        <string>{291,336}</string>
      </dict>
      <key>monster_1000_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{639,1139},{300,289}}</string>
        <key>offset</key>
        <string>{-175,233}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{300,289}}</string>
        <key>sourceSize</key>
        <string>{300,289}</string>
      </dict>
      <key>monster_1000_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{384,254},{258,373}}</string>
        <key>offset</key>
        <string>{-182,309}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{258,373}}</string>
        <key>sourceSize</key>
        <string>{258,373}</string>
      </dict>
      <key>monster_1000_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,670},{285,334}}</string>
        <key>offset</key>
        <string>{-200,270}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{285,334}}</string>
        <key>sourceSize</key>
        <string>{285,334}</string>
      </dict>
      <key>monster_1000_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{156,414}}</string>
        <key>offset</key>
        <string>{-77,364}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,414}}</string>
        <key>sourceSize</key>
        <string>{156,414}</string>
      </dict>
      <key>monster_1000_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,158},{208,382}}</string>
        <key>offset</key>
        <string>{-118,332}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{208,382}}</string>
        <key>sourceSize</key>
        <string>{208,382}</string>
      </dict>
      <key>monster_1000_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{416,0},{252,402}}</string>
        <key>offset</key>
        <string>{-89,369}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{252,402}}</string>
        <key>sourceSize</key>
        <string>{252,402}</string>
      </dict>
      <key>monster_1000_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{820,0},{199,389}}</string>
        <key>offset</key>
        <string>{-76,357}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{199,389}}</string>
        <key>sourceSize</key>
        <string>{199,389}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_1000_0_7.png</string>
      <key>size</key>
      <string>{1024,2048}</string>
      <key>textureFileName</key>
      <string>monster_1000_0_7.png</string>
    </dict>
  </dict>
</plist>