<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_20022_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{718,895},{272,209}}</string>
        <key>offset</key>
        <string>{-77,168}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{272,209}}</string>
        <key>sourceSize</key>
        <string>{272,209}</string>
      </dict>
      <key>monster_20022_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{431,348},{311,209}}</string>
        <key>offset</key>
        <string>{-95,168}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{311,209}}</string>
        <key>sourceSize</key>
        <string>{311,209}</string>
      </dict>
      <key>monster_20022_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{921,577},{270,270}}</string>
        <key>offset</key>
        <string>{-116,212}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{270,270}}</string>
        <key>sourceSize</key>
        <string>{270,270}</string>
      </dict>
      <key>monster_20022_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{217,678},{312,260}}</string>
        <key>offset</key>
        <string>{-120,202}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{312,260}}</string>
        <key>sourceSize</key>
        <string>{312,260}</string>
      </dict>
      <key>monster_20022_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1098},{316,249}}</string>
        <key>offset</key>
        <string>{-113,191}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{316,249}}</string>
        <key>sourceSize</key>
        <string>{316,249}</string>
      </dict>
      <key>monster_20022_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{191,0},{346,240}}</string>
        <key>offset</key>
        <string>{-162,152}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{346,240}}</string>
        <key>sourceSize</key>
        <string>{346,240}</string>
      </dict>
      <key>monster_20022_0_2_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1435,1045},{186,222}}</string>
        <key>offset</key>
        <string>{-33,162}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{186,222}}</string>
        <key>sourceSize</key>
        <string>{186,222}</string>
      </dict>
      <key>monster_20022_0_2_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1450,816},{177,217}}</string>
        <key>offset</key>
        <string>{-19,155}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{177,217}}</string>
        <key>sourceSize</key>
        <string>{177,217}</string>
      </dict>
      <key>monster_20022_0_2_4_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1435,1269},{184,222}}</string>
        <key>offset</key>
        <string>{-19,160}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{184,222}}</string>
        <key>sourceSize</key>
        <string>{184,222}</string>
      </dict>
      <key>monster_20022_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1178,1270},{242,226}}</string>
        <key>offset</key>
        <string>{-55,186}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{242,226}}</string>
        <key>sourceSize</key>
        <string>{242,226}</string>
      </dict>
      <key>monster_20022_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{663,0},{289,206}}</string>
        <key>offset</key>
        <string>{-128,166}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{289,206}}</string>
        <key>sourceSize</key>
        <string>{289,206}</string>
      </dict>
      <key>monster_20022_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1193,816},{227,255}}</string>
        <key>offset</key>
        <string>{-72,212}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{227,255}}</string>
        <key>sourceSize</key>
        <string>{227,255}</string>
      </dict>
      <key>monster_20022_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1307,0},{220,263}}</string>
        <key>offset</key>
        <string>{-82,220}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{220,263}}</string>
        <key>sourceSize</key>
        <string>{220,263}</string>
      </dict>
      <key>monster_20022_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{193,348},{328,236}}</string>
        <key>offset</key>
        <string>{-187,193}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{328,236}}</string>
        <key>sourceSize</key>
        <string>{328,236}</string>
      </dict>
      <key>monster_20022_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{702,609},{217,284}}</string>
        <key>offset</key>
        <string>{-52,169}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{217,284}}</string>
        <key>sourceSize</key>
        <string>{217,284}</string>
      </dict>
      <key>monster_20022_0_2_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{509,963},{299,207}}</string>
        <key>offset</key>
        <string>{-105,164}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{299,207}}</string>
        <key>sourceSize</key>
        <string>{299,207}</string>
      </dict>
      <key>monster_20022_0_2_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{842,1339},{183,210}}</string>
        <key>offset</key>
        <string>{-63,166}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{183,210}}</string>
        <key>sourceSize</key>
        <string>{183,210}</string>
      </dict>
      <key>monster_20022_0_2_5_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1416},{172,212}}</string>
        <key>offset</key>
        <string>{-63,169}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{172,212}}</string>
        <key>sourceSize</key>
        <string>{172,212}</string>
      </dict>
      <key>monster_20022_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,765},{331,215}}</string>
        <key>offset</key>
        <string>{-152,170}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{331,215}}</string>
        <key>sourceSize</key>
        <string>{331,215}</string>
      </dict>
      <key>monster_20022_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1291,271},{266,234}}</string>
        <key>offset</key>
        <string>{-75,189}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{266,234}}</string>
        <key>sourceSize</key>
        <string>{266,234}</string>
      </dict>
      <key>monster_20022_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{929,1100},{247,237}}</string>
        <key>offset</key>
        <string>{-68,190}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{247,237}}</string>
        <key>sourceSize</key>
        <string>{247,237}</string>
      </dict>
      <key>monster_20022_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{929,849},{249,254}}</string>
        <key>offset</key>
        <string>{-68,206}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{249,254}}</string>
        <key>sourceSize</key>
        <string>{249,254}</string>
      </dict>
      <key>monster_20022_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{251,992},{306,256}}</string>
        <key>offset</key>
        <string>{-123,208}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{306,256}}</string>
        <key>sourceSize</key>
        <string>{306,256}</string>
      </dict>
      <key>monster_20022_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1193,550},{267,264}}</string>
        <key>offset</key>
        <string>{-116,167}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{267,264}}</string>
        <key>sourceSize</key>
        <string>{267,264}</string>
      </dict>
      <key>monster_20022_0_2_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{554,1264},{286,209}}</string>
        <key>offset</key>
        <string>{-65,157}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{286,209}}</string>
        <key>sourceSize</key>
        <string>{286,209}</string>
      </dict>
      <key>monster_20022_0_2_6_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{642,313},{294,205}}</string>
        <key>offset</key>
        <string>{-86,157}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{294,205}}</string>
        <key>sourceSize</key>
        <string>{294,205}</string>
      </dict>
      <key>monster_20022_0_2_6_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{251,1300},{301,209}}</string>
        <key>offset</key>
        <string>{-98,161}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{301,209}}</string>
        <key>sourceSize</key>
        <string>{301,209}</string>
      </dict>
      <key>monster_20022_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{383,189}}</string>
        <key>offset</key>
        <string>{-170,144}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{383,189}}</string>
        <key>sourceSize</key>
        <string>{383,189}</string>
      </dict>
      <key>monster_20022_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1185,1045},{248,223}}</string>
        <key>offset</key>
        <string>{-68,178}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{248,223}}</string>
        <key>sourceSize</key>
        <string>{248,223}</string>
      </dict>
      <key>monster_20022_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1081,279},{269,208}}</string>
        <key>offset</key>
        <string>{-97,161}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{269,208}}</string>
        <key>sourceSize</key>
        <string>{269,208}</string>
      </dict>
      <key>monster_20022_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{479,661},{300,221}}</string>
        <key>offset</key>
        <string>{-98,172}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{300,221}}</string>
        <key>sourceSize</key>
        <string>{300,221}</string>
      </dict>
      <key>monster_20022_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{871,0},{245,277}}</string>
        <key>offset</key>
        <string>{-76,228}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{245,277}}</string>
        <key>sourceSize</key>
        <string>{245,277}</string>
      </dict>
      <key>monster_20022_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,385},{378,191}}</string>
        <key>offset</key>
        <string>{-188,142}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{378,191}}</string>
        <key>sourceSize</key>
        <string>{378,191}</string>
      </dict>
      <key>monster_20022_0_2_7_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1118,0},{187,269}}</string>
        <key>offset</key>
        <string>{-24,170}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{187,269}}</string>
        <key>sourceSize</key>
        <string>{187,269}</string>
      </dict>
      <key>monster_20022_0_2_7_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{849,291},{284,230}}</string>
        <key>offset</key>
        <string>{-57,173}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{284,230}}</string>
        <key>sourceSize</key>
        <string>{284,230}</string>
      </dict>
      <key>monster_20022_0_2_7_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{433,0},{311,228}}</string>
        <key>offset</key>
        <string>{-80,171}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{311,228}}</string>
        <key>sourceSize</key>
        <string>{311,228}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_20022_0_2_1.png</string>
      <key>size</key>
      <string>{1629,1642}</string>
      <key>textureFileName</key>
      <string>monster_20022_0_2_1.png</string>
    </dict>
  </dict>
</plist>