<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_20057_0_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{395,1185},{288,300}}</string>
        <key>offset</key>
        <string>{-157,198}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{288,300}}</string>
        <key>sourceSize</key>
        <string>{288,300}</string>
      </dict>
      <key>monster_20057_0_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{975,1185},{286,299}}</string>
        <key>offset</key>
        <string>{-153,191}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{286,299}}</string>
        <key>sourceSize</key>
        <string>{286,299}</string>
      </dict>
      <key>monster_20057_0_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{393,229}}</string>
        <key>offset</key>
        <string>{-206,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{393,229}}</string>
        <key>sourceSize</key>
        <string>{393,229}</string>
      </dict>
      <key>monster_20057_0_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,395},{393,229}}</string>
        <key>offset</key>
        <string>{-206,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{393,229}}</string>
        <key>sourceSize</key>
        <string>{393,229}</string>
      </dict>
      <key>monster_20057_0_4_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,790},{393,229}}</string>
        <key>offset</key>
        <string>{-206,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{393,229}}</string>
        <key>sourceSize</key>
        <string>{393,229}</string>
      </dict>
      <key>monster_20057_0_4_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{231,790},{393,229}}</string>
        <key>offset</key>
        <string>{-206,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{393,229}}</string>
        <key>sourceSize</key>
        <string>{393,229}</string>
      </dict>
      <key>monster_20057_0_4_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{231,0},{393,229}}</string>
        <key>offset</key>
        <string>{-206,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{393,229}}</string>
        <key>sourceSize</key>
        <string>{393,229}</string>
      </dict>
      <key>monster_20057_0_4_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{231,395},{393,229}}</string>
        <key>offset</key>
        <string>{-206,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{393,229}}</string>
        <key>sourceSize</key>
        <string>{393,229}</string>
      </dict>
      <key>monster_20057_0_4_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,395},{393,229}}</string>
        <key>offset</key>
        <string>{-206,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{393,229}}</string>
        <key>sourceSize</key>
        <string>{393,229}</string>
      </dict>
      <key>monster_20057_0_4_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,0},{393,229}}</string>
        <key>offset</key>
        <string>{-206,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{393,229}}</string>
        <key>sourceSize</key>
        <string>{393,229}</string>
      </dict>
      <key>monster_20057_0_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{685,1185},{288,300}}</string>
        <key>offset</key>
        <string>{-154,197}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{288,300}}</string>
        <key>sourceSize</key>
        <string>{288,300}</string>
      </dict>
      <key>monster_20057_0_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1155,0},{286,299}}</string>
        <key>offset</key>
        <string>{-150,190}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{286,299}}</string>
        <key>sourceSize</key>
        <string>{286,299}</string>
      </dict>
      <key>monster_20057_0_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{693,0},{393,229}}</string>
        <key>offset</key>
        <string>{-203,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{393,229}}</string>
        <key>sourceSize</key>
        <string>{393,229}</string>
      </dict>
      <key>monster_20057_0_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,790},{393,229}}</string>
        <key>offset</key>
        <string>{-203,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{393,229}}</string>
        <key>sourceSize</key>
        <string>{393,229}</string>
      </dict>
      <key>monster_20057_0_4_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{693,790},{393,229}}</string>
        <key>offset</key>
        <string>{-203,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{393,229}}</string>
        <key>sourceSize</key>
        <string>{393,229}</string>
      </dict>
      <key>monster_20057_0_4_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{693,395},{393,229}}</string>
        <key>offset</key>
        <string>{-203,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{393,229}}</string>
        <key>sourceSize</key>
        <string>{393,229}</string>
      </dict>
      <key>monster_20057_0_4_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{924,395},{393,229}}</string>
        <key>offset</key>
        <string>{-203,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{393,229}}</string>
        <key>sourceSize</key>
        <string>{393,229}</string>
      </dict>
      <key>monster_20057_0_4_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{924,0},{393,229}}</string>
        <key>offset</key>
        <string>{-203,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{393,229}}</string>
        <key>sourceSize</key>
        <string>{393,229}</string>
      </dict>
      <key>monster_20057_0_4_1_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{924,790},{393,229}}</string>
        <key>offset</key>
        <string>{-203,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{393,229}}</string>
        <key>sourceSize</key>
        <string>{393,229}</string>
      </dict>
      <key>monster_20057_0_4_1_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1185},{393,229}}</string>
        <key>offset</key>
        <string>{-203,91}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{393,229}}</string>
        <key>sourceSize</key>
        <string>{393,229}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_20057_0_4_0.png</string>
      <key>size</key>
      <string>{1536,1508}</string>
      <key>textureFileName</key>
      <string>monster_20057_0_4_0.png</string>
    </dict>
  </dict>
</plist>