<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_20077_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{598,1215},{287,318}}</string>
        <key>offset</key>
        <string>{-93,232}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{287,318}}</string>
        <key>sourceSize</key>
        <string>{287,318}</string>
      </dict>
      <key>monster_20077_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{887,1215},{317,315}}</string>
        <key>offset</key>
        <string>{-181,243}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{317,315}}</string>
        <key>sourceSize</key>
        <string>{317,315}</string>
      </dict>
      <key>monster_20077_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{598,898},{378,315}}</string>
        <key>offset</key>
        <string>{-253,258}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{378,315}}</string>
        <key>sourceSize</key>
        <string>{378,315}</string>
      </dict>
      <key>monster_20077_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{512,0},{313,473}}</string>
        <key>offset</key>
        <string>{-234,416}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{313,473}}</string>
        <key>sourceSize</key>
        <string>{313,473}</string>
      </dict>
      <key>monster_20077_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1002,794},{375,381}}</string>
        <key>offset</key>
        <string>{-196,324}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{375,381}}</string>
        <key>sourceSize</key>
        <string>{375,381}</string>
      </dict>
      <key>monster_20077_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{510,277}}</string>
        <key>offset</key>
        <string>{-88,206}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{510,277}}</string>
        <key>sourceSize</key>
        <string>{510,277}</string>
      </dict>
      <key>monster_20077_0_2_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,985},{466,266}}</string>
        <key>offset</key>
        <string>{-93,209}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{466,266}}</string>
        <key>sourceSize</key>
        <string>{466,266}</string>
      </dict>
      <key>monster_20077_0_2_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{315,499},{484,276}}</string>
        <key>offset</key>
        <string>{-102,218}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{484,276}}</string>
        <key>sourceSize</key>
        <string>{484,276}</string>
      </dict>
      <key>monster_20077_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1204,1171},{258,312}}</string>
        <key>offset</key>
        <string>{-140,224}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{258,312}}</string>
        <key>sourceSize</key>
        <string>{258,312}</string>
      </dict>
      <key>monster_20077_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1151,0},{395,274}}</string>
        <key>offset</key>
        <string>{-261,239}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{395,274}}</string>
        <key>sourceSize</key>
        <string>{395,274}</string>
      </dict>
      <key>monster_20077_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1151,397},{395,342}}</string>
        <key>offset</key>
        <string>{-318,308}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{395,342}}</string>
        <key>sourceSize</key>
        <string>{395,342}</string>
      </dict>
      <key>monster_20077_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{279,0},{231,497}}</string>
        <key>offset</key>
        <string>{-161,463}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{231,497}}</string>
        <key>sourceSize</key>
        <string>{231,497}</string>
      </dict>
      <key>monster_20077_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{593,475},{421,407}}</string>
        <key>offset</key>
        <string>{-260,366}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{421,407}}</string>
        <key>sourceSize</key>
        <string>{421,407}</string>
      </dict>
      <key>monster_20077_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1012},{496,328}}</string>
        <key>offset</key>
        <string>{-138,207}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{496,328}}</string>
        <key>sourceSize</key>
        <string>{496,328}</string>
      </dict>
      <key>monster_20077_0_2_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,512},{498,313}}</string>
        <key>offset</key>
        <string>{-173,200}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{498,313}}</string>
        <key>sourceSize</key>
        <string>{498,313}</string>
      </dict>
      <key>monster_20077_0_2_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{827,0},{416,322}}</string>
        <key>offset</key>
        <string>{-88,211}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{416,322}}</string>
        <key>sourceSize</key>
        <string>{416,322}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_20077_0_2_1.png</string>
      <key>size</key>
      <string>{1536,1536}</string>
      <key>textureFileName</key>
      <string>monster_20077_0_2_1.png</string>
    </dict>
  </dict>
</plist>