<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_20050_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{139,307},{180,285}}</string>
        <key>offset</key>
        <string>{-88,235}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,285}}</string>
        <key>sourceSize</key>
        <string>{180,285}</string>
      </dict>
      <key>monster_20050_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{142,0},{182,284}}</string>
        <key>offset</key>
        <string>{-87,234}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{182,284}}</string>
        <key>sourceSize</key>
        <string>{182,284}</string>
      </dict>
      <key>monster_20050_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{140,305}}</string>
        <key>offset</key>
        <string>{-22,230}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,305}}</string>
        <key>sourceSize</key>
        <string>{140,305}</string>
      </dict>
      <key>monster_20050_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,307},{137,304}}</string>
        <key>offset</key>
        <string>{-22,229}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,304}}</string>
        <key>sourceSize</key>
        <string>{137,304}</string>
      </dict>
      <key>monster_20050_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{326,0},{148,277}}</string>
        <key>offset</key>
        <string>{-24,204}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,277}}</string>
        <key>sourceSize</key>
        <string>{148,277}</string>
      </dict>
      <key>monster_20050_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{326,150},{149,277}}</string>
        <key>offset</key>
        <string>{-25,204}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{149,277}}</string>
        <key>sourceSize</key>
        <string>{149,277}</string>
      </dict>
      <key>monster_20050_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{321,301},{205,255}}</string>
        <key>offset</key>
        <string>{-92,206}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{205,255}}</string>
        <key>sourceSize</key>
        <string>{205,255}</string>
      </dict>
      <key>monster_20050_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{321,508},{205,255}}</string>
        <key>offset</key>
        <string>{-92,206}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{205,255}}</string>
        <key>sourceSize</key>
        <string>{205,255}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_20050_0_7_1.png</string>
      <key>size</key>
      <string>{742,767}</string>
      <key>textureFileName</key>
      <string>monster_20050_0_7_1.png</string>
    </dict>
  </dict>
</plist>