<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_40043_0_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1556,743},{265,366}}</string>
        <key>offset</key>
        <string>{-93,241}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{265,366}}</string>
        <key>sourceSize</key>
        <string>{265,366}</string>
      </dict>
      <key>monster_40043_0_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1486,0},{244,368}}</string>
        <key>offset</key>
        <string>{-90,241}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{244,368}}</string>
        <key>sourceSize</key>
        <string>{244,368}</string>
      </dict>
      <key>monster_40043_0_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{237,426},{399,237}}</string>
        <key>offset</key>
        <string>{-168,141}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{399,237}}</string>
        <key>sourceSize</key>
        <string>{399,237}</string>
      </dict>
      <key>monster_40043_0_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,851},{387,156}}</string>
        <key>offset</key>
        <string>{-233,67}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{387,156}}</string>
        <key>sourceSize</key>
        <string>{387,156}</string>
      </dict>
      <key>monster_40043_0_4_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{442,0},{387,156}}</string>
        <key>offset</key>
        <string>{-233,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{387,156}}</string>
        <key>sourceSize</key>
        <string>{387,156}</string>
      </dict>
      <key>monster_40043_0_4_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{389,827},{387,156}}</string>
        <key>offset</key>
        <string>{-233,67}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{387,156}}</string>
        <key>sourceSize</key>
        <string>{387,156}</string>
      </dict>
      <key>monster_40043_0_4_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{476,389},{387,156}}</string>
        <key>offset</key>
        <string>{-233,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{387,156}}</string>
        <key>sourceSize</key>
        <string>{387,156}</string>
      </dict>
      <key>monster_40043_0_4_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,0},{387,156}}</string>
        <key>offset</key>
        <string>{-233,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{387,156}}</string>
        <key>sourceSize</key>
        <string>{387,156}</string>
      </dict>
      <key>monster_40043_0_4_1_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{634,389},{387,156}}</string>
        <key>offset</key>
        <string>{-233,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{387,156}}</string>
        <key>sourceSize</key>
        <string>{387,156}</string>
      </dict>
      <key>monster_40043_0_4_1_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{758,0},{387,156}}</string>
        <key>offset</key>
        <string>{-233,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{387,156}}</string>
        <key>sourceSize</key>
        <string>{387,156}</string>
      </dict>
      <key>monster_40043_0_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{424,237}}</string>
        <key>offset</key>
        <string>{-200,176}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{424,237}}</string>
        <key>sourceSize</key>
        <string>{424,237}</string>
      </dict>
      <key>monster_40043_0_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1362,372},{369,297}}</string>
        <key>offset</key>
        <string>{-152,172}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{369,297}}</string>
        <key>sourceSize</key>
        <string>{369,297}</string>
      </dict>
      <key>monster_40043_0_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1732,0},{208,330}}</string>
        <key>offset</key>
        <string>{-81,194}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{208,330}}</string>
        <key>sourceSize</key>
        <string>{208,330}</string>
      </dict>
      <key>monster_40043_0_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1661,370},{356,267}}</string>
        <key>offset</key>
        <string>{-159,194}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{356,267}}</string>
        <key>sourceSize</key>
        <string>{356,267}</string>
      </dict>
      <key>monster_40043_0_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{239,0},{399,201}}</string>
        <key>offset</key>
        <string>{-185,159}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{399,201}}</string>
        <key>sourceSize</key>
        <string>{399,201}</string>
      </dict>
      <key>monster_40043_0_4_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{778,778},{387,188}}</string>
        <key>offset</key>
        <string>{-108,80}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{387,188}}</string>
        <key>sourceSize</key>
        <string>{387,188}</string>
      </dict>
      <key>monster_40043_0_4_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{792,389},{387,188}}</string>
        <key>offset</key>
        <string>{-108,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{387,188}}</string>
        <key>sourceSize</key>
        <string>{387,188}</string>
      </dict>
      <key>monster_40043_0_4_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{916,0},{387,188}}</string>
        <key>offset</key>
        <string>{-108,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{387,188}}</string>
        <key>sourceSize</key>
        <string>{387,188}</string>
      </dict>
      <key>monster_40043_0_4_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{982,389},{387,188}}</string>
        <key>offset</key>
        <string>{-108,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{387,188}}</string>
        <key>sourceSize</key>
        <string>{387,188}</string>
      </dict>
      <key>monster_40043_0_4_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1106,0},{387,188}}</string>
        <key>offset</key>
        <string>{-108,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{387,188}}</string>
        <key>sourceSize</key>
        <string>{387,188}</string>
      </dict>
      <key>monster_40043_0_4_5_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1167,778},{387,188}}</string>
        <key>offset</key>
        <string>{-108,80}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{387,188}}</string>
        <key>sourceSize</key>
        <string>{387,188}</string>
      </dict>
      <key>monster_40043_0_4_5_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1172,389},{387,188}}</string>
        <key>offset</key>
        <string>{-108,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{387,188}}</string>
        <key>sourceSize</key>
        <string>{387,188}</string>
      </dict>
      <key>monster_40043_0_4_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,426},{423,235}}</string>
        <key>offset</key>
        <string>{-177,175}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{423,235}}</string>
        <key>sourceSize</key>
        <string>{423,235}</string>
      </dict>
      <key>monster_40043_0_4_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1296,0},{370,188}}</string>
        <key>offset</key>
        <string>{-171,130}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{370,188}}</string>
        <key>sourceSize</key>
        <string>{370,188}</string>
      </dict>
      <key>monster_40043_0_4_7_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{778,968},{228,230}}</string>
        <key>offset</key>
        <string>{-95,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{228,230}}</string>
        <key>sourceSize</key>
        <string>{228,230}</string>
      </dict>
      <key>monster_40043_0_4_7_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{389,985},{228,230}}</string>
        <key>offset</key>
        <string>{-95,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{228,230}}</string>
        <key>sourceSize</key>
        <string>{228,230}</string>
      </dict>
      <key>monster_40043_0_4_7_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1009},{228,230}}</string>
        <key>offset</key>
        <string>{-95,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{228,230}}</string>
        <key>sourceSize</key>
        <string>{228,230}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_40043_0_4_1.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_40043_0_4_1.png</string>
    </dict>
  </dict>
</plist>