<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_20079_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{630,0},{201,242}}</string>
        <key>offset</key>
        <string>{-84,155}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{201,242}}</string>
        <key>sourceSize</key>
        <string>{201,242}</string>
      </dict>
      <key>monster_20079_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{528,757},{212,241}}</string>
        <key>offset</key>
        <string>{-84,134}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{212,241}}</string>
        <key>sourceSize</key>
        <string>{212,241}</string>
      </dict>
      <key>monster_20079_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{297,562},{247,229}}</string>
        <key>offset</key>
        <string>{-97,166}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{247,229}}</string>
        <key>sourceSize</key>
        <string>{247,229}</string>
      </dict>
      <key>monster_20079_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{742,757},{241,218}}</string>
        <key>offset</key>
        <string>{-107,130}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{241,218}}</string>
        <key>sourceSize</key>
        <string>{241,218}</string>
      </dict>
      <key>monster_20079_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{302,216}}</string>
        <key>offset</key>
        <string>{-155,168}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{302,216}}</string>
        <key>sourceSize</key>
        <string>{302,216}</string>
      </dict>
      <key>monster_20079_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{218,0},{295,185}}</string>
        <key>offset</key>
        <string>{-190,142}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{295,185}}</string>
        <key>sourceSize</key>
        <string>{295,185}</string>
      </dict>
      <key>monster_20079_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{528,513},{242,229}}</string>
        <key>offset</key>
        <string>{-110,161}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{242,229}}</string>
        <key>sourceSize</key>
        <string>{242,229}</string>
      </dict>
      <key>monster_20079_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{220,297},{263,232}}</string>
        <key>offset</key>
        <string>{-153,173}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{263,232}}</string>
        <key>sourceSize</key>
        <string>{263,232}</string>
      </dict>
      <key>monster_20079_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,842},{201,200}}</string>
        <key>offset</key>
        <string>{-75,148}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{201,200}}</string>
        <key>sourceSize</key>
        <string>{201,200}</string>
      </dict>
      <key>monster_20079_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{297,811},{213,237}}</string>
        <key>offset</key>
        <string>{-87,194}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{213,237}}</string>
        <key>sourceSize</key>
        <string>{213,237}</string>
      </dict>
      <key>monster_20079_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{454,265},{246,185}}</string>
        <key>offset</key>
        <string>{-108,138}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{246,185}}</string>
        <key>sourceSize</key>
        <string>{246,185}</string>
      </dict>
      <key>monster_20079_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{759,244},{241,242}}</string>
        <key>offset</key>
        <string>{-92,195}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{241,242}}</string>
        <key>sourceSize</key>
        <string>{241,242}</string>
      </dict>
      <key>monster_20079_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,304},{302,218}}</string>
        <key>offset</key>
        <string>{-105,163}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{302,218}}</string>
        <key>sourceSize</key>
        <string>{302,218}</string>
      </dict>
      <key>monster_20079_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,608},{295,232}}</string>
        <key>offset</key>
        <string>{-63,177}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{295,232}}</string>
        <key>sourceSize</key>
        <string>{295,232}</string>
      </dict>
      <key>monster_20079_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{759,487},{242,227}}</string>
        <key>offset</key>
        <string>{-90,171}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{242,227}}</string>
        <key>sourceSize</key>
        <string>{242,227}</string>
      </dict>
      <key>monster_20079_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{405,0},{263,223}}</string>
        <key>offset</key>
        <string>{-68,159}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{263,223}}</string>
        <key>sourceSize</key>
        <string>{263,223}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_20079_0_7.png</string>
      <key>size</key>
      <string>{1024,1134}</string>
      <key>textureFileName</key>
      <string>monster_20079_0_7.png</string>
    </dict>
  </dict>
</plist>