<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_20064_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{293,265},{87,94}}</string>
        <key>offset</key>
        <string>{-1,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,94}}</string>
        <key>sourceSize</key>
        <string>{87,94}</string>
      </dict>
      <key>monster_20064_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{270,93},{82,100}}</string>
        <key>offset</key>
        <string>{0,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,100}}</string>
        <key>sourceSize</key>
        <string>{82,100}</string>
      </dict>
      <key>monster_20064_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,120},{117,87}}</string>
        <key>offset</key>
        <string>{3,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,87}}</string>
        <key>sourceSize</key>
        <string>{117,87}</string>
      </dict>
      <key>monster_20064_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{89,120},{115,93}}</string>
        <key>offset</key>
        <string>{6,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,93}}</string>
        <key>sourceSize</key>
        <string>{115,93}</string>
      </dict>
      <key>monster_20064_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{184,0},{101,84}}</string>
        <key>offset</key>
        <string>{-2,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,84}}</string>
        <key>sourceSize</key>
        <string>{101,84}</string>
      </dict>
      <key>monster_20064_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{92,0},{102,90}}</string>
        <key>offset</key>
        <string>{3,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,90}}</string>
        <key>sourceSize</key>
        <string>{102,90}</string>
      </dict>
      <key>monster_20064_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{184,103},{57,100}}</string>
        <key>offset</key>
        <string>{0,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,100}}</string>
        <key>sourceSize</key>
        <string>{57,100}</string>
      </dict>
      <key>monster_20064_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{92,307},{58,99}}</string>
        <key>offset</key>
        <string>{2,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,99}}</string>
        <key>sourceSize</key>
        <string>{58,99}</string>
      </dict>
      <key>monster_20064_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{382,0},{88,91}}</string>
        <key>offset</key>
        <string>{-37,60}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{88,91}}</string>
        <key>sourceSize</key>
        <string>{88,91}</string>
      </dict>
      <key>monster_20064_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{345,177},{82,90}}</string>
        <key>offset</key>
        <string>{-33,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,90}}</string>
        <key>sourceSize</key>
        <string>{82,90}</string>
      </dict>
      <key>monster_20064_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{118,90}}</string>
        <key>offset</key>
        <string>{-71,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,90}}</string>
        <key>sourceSize</key>
        <string>{118,90}</string>
      </dict>
      <key>monster_20064_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,239},{116,90}}</string>
        <key>offset</key>
        <string>{-72,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,90}}</string>
        <key>sourceSize</key>
        <string>{116,90}</string>
      </dict>
      <key>monster_20064_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{243,177},{100,86}}</string>
        <key>offset</key>
        <string>{-49,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,86}}</string>
        <key>sourceSize</key>
        <string>{100,86}</string>
      </dict>
      <key>monster_20064_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{270,0},{101,91}}</string>
        <key>offset</key>
        <string>{-55,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{101,91}}</string>
        <key>sourceSize</key>
        <string>{101,91}</string>
      </dict>
      <key>monster_20064_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{193,307},{58,98}}</string>
        <key>offset</key>
        <string>{-8,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,98}}</string>
        <key>sourceSize</key>
        <string>{58,98}</string>
      </dict>
      <key>monster_20064_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{184,205},{57,100}}</string>
        <key>offset</key>
        <string>{-10,73}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,100}}</string>
        <key>sourceSize</key>
        <string>{57,100}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_20064_0_7.png</string>
      <key>size</key>
      <string>{472,429}</string>
      <key>textureFileName</key>
      <string>monster_20064_0_7.png</string>
    </dict>
  </dict>
</plist>