<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_1060_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{241,968},{299,392}}</string>
        <key>offset</key>
        <string>{-128,226}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{299,392}}</string>
        <key>sourceSize</key>
        <string>{299,392}</string>
      </dict>
      <key>monster_1060_0_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1208,0},{613,355}}</string>
        <key>offset</key>
        <string>{-433,219}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{613,355}}</string>
        <key>sourceSize</key>
        <string>{613,355}</string>
      </dict>
      <key>monster_1060_0_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{660,304}}</string>
        <key>offset</key>
        <string>{-474,167}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{660,304}}</string>
        <key>sourceSize</key>
        <string>{660,304}</string>
      </dict>
      <key>monster_1060_0_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{306,0},{652,294}}</string>
        <key>offset</key>
        <string>{-472,170}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{652,294}}</string>
        <key>sourceSize</key>
        <string>{652,294}</string>
      </dict>
      <key>monster_1060_0_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{662,654},{632,308}}</string>
        <key>offset</key>
        <string>{-455,179}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{632,308}}</string>
        <key>sourceSize</key>
        <string>{632,308}</string>
      </dict>
      <key>monster_1060_0_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1565,0},{347,538}}</string>
        <key>offset</key>
        <string>{-193,389}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{347,538}}</string>
        <key>sourceSize</key>
        <string>{347,538}</string>
      </dict>
      <key>monster_1060_0_0_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1416},{239,444}}</string>
        <key>offset</key>
        <string>{-91,332}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{239,444}}</string>
        <key>sourceSize</key>
        <string>{239,444}</string>
      </dict>
      <key>monster_1060_0_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{662,964},{450,458}}</string>
        <key>offset</key>
        <string>{-131,299}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{450,458}}</string>
        <key>sourceSize</key>
        <string>{450,458}</string>
      </dict>
      <key>monster_1060_0_0_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1296,615},{613,355}}</string>
        <key>offset</key>
        <string>{-138,219}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{613,355}}</string>
        <key>sourceSize</key>
        <string>{613,355}</string>
      </dict>
      <key>monster_1060_0_0_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,662},{660,304}}</string>
        <key>offset</key>
        <string>{-144,167}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{660,304}}</string>
        <key>sourceSize</key>
        <string>{660,304}</string>
      </dict>
      <key>monster_1060_0_0_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{602,0},{652,294}}</string>
        <key>offset</key>
        <string>{-138,170}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{652,294}}</string>
        <key>sourceSize</key>
        <string>{652,294}</string>
      </dict>
      <key>monster_1060_0_0_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{898,0},{632,308}}</string>
        <key>offset</key>
        <string>{-135,179}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{632,308}}</string>
        <key>sourceSize</key>
        <string>{632,308}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_1060_0_0_1.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_1060_0_0_1.png</string>
    </dict>
  </dict>
</plist>