<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_20053_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{632,0},{166,159}}</string>
        <key>offset</key>
        <string>{-36,124}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{166,159}}</string>
        <key>sourceSize</key>
        <string>{166,159}</string>
      </dict>
      <key>monster_20053_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{158,521},{175,147}}</string>
        <key>offset</key>
        <string>{-40,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{175,147}}</string>
        <key>sourceSize</key>
        <string>{175,147}</string>
      </dict>
      <key>monster_20053_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{560,161},{151,164}}</string>
        <key>offset</key>
        <string>{-19,130}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,164}}</string>
        <key>sourceSize</key>
        <string>{151,164}</string>
      </dict>
      <key>monster_20053_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{632,327},{149,164}}</string>
        <key>offset</key>
        <string>{-42,130}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{149,164}}</string>
        <key>sourceSize</key>
        <string>{149,164}</string>
      </dict>
      <key>monster_20053_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{459,496},{155,168}}</string>
        <key>offset</key>
        <string>{-21,126}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,168}}</string>
        <key>sourceSize</key>
        <string>{155,168}</string>
      </dict>
      <key>monster_20053_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{371,173},{155,178}}</string>
        <key>offset</key>
        <string>{-48,136}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,178}}</string>
        <key>sourceSize</key>
        <string>{155,178}</string>
      </dict>
      <key>monster_20053_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{182,325},{166,178}}</string>
        <key>offset</key>
        <string>{-27,125}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{166,178}}</string>
        <key>sourceSize</key>
        <string>{166,178}</string>
      </dict>
      <key>monster_20053_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{169,186}}</string>
        <key>offset</key>
        <string>{-45,133}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{169,186}}</string>
        <key>sourceSize</key>
        <string>{169,186}</string>
      </dict>
      <key>monster_20053_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{459,330},{164,171}}</string>
        <key>offset</key>
        <string>{-37,120}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{164,171}}</string>
        <key>sourceSize</key>
        <string>{164,171}</string>
      </dict>
      <key>monster_20053_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{188,0},{168,186}}</string>
        <key>offset</key>
        <string>{-36,135}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{168,186}}</string>
        <key>sourceSize</key>
        <string>{168,186}</string>
      </dict>
      <key>monster_20053_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{188,170},{153,181}}</string>
        <key>offset</key>
        <string>{-41,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,181}}</string>
        <key>sourceSize</key>
        <string>{153,181}</string>
      </dict>
      <key>monster_20053_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{376,0},{171,182}}</string>
        <key>offset</key>
        <string>{-31,133}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{171,182}}</string>
        <key>sourceSize</key>
        <string>{171,182}</string>
      </dict>
      <key>monster_20053_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{307,493},{150,172}}</string>
        <key>offset</key>
        <string>{-31,127}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,172}}</string>
        <key>sourceSize</key>
        <string>{150,172}</string>
      </dict>
      <key>monster_20053_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,343},{176,178}}</string>
        <key>offset</key>
        <string>{-22,133}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,178}}</string>
        <key>sourceSize</key>
        <string>{176,178}</string>
      </dict>
      <key>monster_20053_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,171},{180,170}}</string>
        <key>offset</key>
        <string>{-49,132}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,170}}</string>
        <key>sourceSize</key>
        <string>{180,170}</string>
      </dict>
      <key>monster_20053_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,521},{176,156}}</string>
        <key>offset</key>
        <string>{-36,118}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,156}}</string>
        <key>sourceSize</key>
        <string>{176,156}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_20053_0_7.png</string>
      <key>size</key>
      <string>{806,768}</string>
      <key>textureFileName</key>
      <string>monster_20053_0_7.png</string>
    </dict>
  </dict>
</plist>