<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_20081_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1036,384},{380,374}}</string>
        <key>offset</key>
        <string>{-194,260}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{380,374}}</string>
        <key>sourceSize</key>
        <string>{380,374}</string>
      </dict>
      <key>monster_20081_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{421,0},{259,423}}</string>
        <key>offset</key>
        <string>{-53,327}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{259,423}}</string>
        <key>sourceSize</key>
        <string>{259,423}</string>
      </dict>
      <key>monster_20081_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{228,504}}</string>
        <key>offset</key>
        <string>{-54,408}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{228,504}}</string>
        <key>sourceSize</key>
        <string>{228,504}</string>
      </dict>
      <key>monster_20081_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{230,0},{189,438}}</string>
        <key>offset</key>
        <string>{-73,193}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{189,438}}</string>
        <key>sourceSize</key>
        <string>{189,438}</string>
      </dict>
      <key>monster_20081_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1036,0},{174,382}}</string>
        <key>offset</key>
        <string>{-58,129}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{174,382}}</string>
        <key>sourceSize</key>
        <string>{174,382}</string>
      </dict>
      <key>monster_20081_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{752,822},{174,397}}</string>
        <key>offset</key>
        <string>{-58,137}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{174,397}}</string>
        <key>sourceSize</key>
        <string>{174,397}</string>
      </dict>
      <key>monster_20081_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1036,760},{380,363}}</string>
        <key>offset</key>
        <string>{-134,257}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{380,363}}</string>
        <key>sourceSize</key>
        <string>{380,363}</string>
      </dict>
      <key>monster_20081_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{333,869},{417,354}}</string>
        <key>offset</key>
        <string>{-113,275}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{417,354}}</string>
        <key>sourceSize</key>
        <string>{417,354}</string>
      </dict>
      <key>monster_20081_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,506},{331,463}}</string>
        <key>offset</key>
        <string>{-147,384}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{331,463}}</string>
        <key>sourceSize</key>
        <string>{331,463}</string>
      </dict>
      <key>monster_20081_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{686,422},{348,398}}</string>
        <key>offset</key>
        <string>{-227,200}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{348,398}}</string>
        <key>sourceSize</key>
        <string>{348,398}</string>
      </dict>
      <key>monster_20081_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{682,0},{420,338}}</string>
        <key>offset</key>
        <string>{-253,134}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{420,338}}</string>
        <key>sourceSize</key>
        <string>{420,338}</string>
      </dict>
      <key>monster_20081_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{333,440},{427,351}}</string>
        <key>offset</key>
        <string>{-245,141}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{427,351}}</string>
        <key>sourceSize</key>
        <string>{427,351}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_20081_0_2_2.png</string>
      <key>size</key>
      <string>{1470,1280}</string>
      <key>textureFileName</key>
      <string>monster_20081_0_2_2.png</string>
    </dict>
  </dict>
</plist>