<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_1076_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{264,291}}</string>
        <key>offset</key>
        <string>{-63,264}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{264,291}}</string>
        <key>sourceSize</key>
        <string>{264,291}</string>
      </dict>
      <key>monster_1076_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{266,0},{263,236}}</string>
        <key>offset</key>
        <string>{-48,196}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{263,236}}</string>
        <key>sourceSize</key>
        <string>{263,236}</string>
      </dict>
      <key>monster_1076_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,293},{275,197}}</string>
        <key>offset</key>
        <string>{-68,157}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{275,197}}</string>
        <key>sourceSize</key>
        <string>{275,197}</string>
      </dict>
      <key>monster_1076_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{277,265},{263,225}}</string>
        <key>offset</key>
        <string>{-115,185}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{263,225}}</string>
        <key>sourceSize</key>
        <string>{263,225}</string>
      </dict>
      <key>monster_1076_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{753,0},{220,249}}</string>
        <key>offset</key>
        <string>{-53,196}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{220,249}}</string>
        <key>sourceSize</key>
        <string>{220,249}</string>
      </dict>
      <key>monster_1076_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{542,257},{251,233}}</string>
        <key>offset</key>
        <string>{-103,200}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{251,233}}</string>
        <key>sourceSize</key>
        <string>{251,233}</string>
      </dict>
      <key>monster_1076_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{504,0},{255,247}}</string>
        <key>offset</key>
        <string>{-76,204}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{255,247}}</string>
        <key>sourceSize</key>
        <string>{255,247}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_1076_0_2_1.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>monster_1076_0_2_1.png</string>
    </dict>
  </dict>
</plist>