<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_1007_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{571,251},{270,266}}</string>
        <key>offset</key>
        <string>{-114,202}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{270,266}}</string>
        <key>sourceSize</key>
        <string>{270,266}</string>
      </dict>
      <key>monster_1007_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,519},{268,270}}</string>
        <key>offset</key>
        <string>{-143,206}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{268,270}}</string>
        <key>sourceSize</key>
        <string>{268,270}</string>
      </dict>
      <key>monster_1007_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{830,776},{244,252}}</string>
        <key>offset</key>
        <string>{-160,221}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{244,252}}</string>
        <key>sourceSize</key>
        <string>{244,252}</string>
      </dict>
      <key>monster_1007_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{303,275},{270,255}}</string>
        <key>offset</key>
        <string>{-108,230}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{270,255}}</string>
        <key>sourceSize</key>
        <string>{270,255}</string>
      </dict>
      <key>monster_1007_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{560,519},{268,264}}</string>
        <key>offset</key>
        <string>{-77,157}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{268,264}}</string>
        <key>sourceSize</key>
        <string>{268,264}</string>
      </dict>
      <key>monster_1007_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{301,404}}</string>
        <key>offset</key>
        <string>{-105,292}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{301,404}}</string>
        <key>sourceSize</key>
        <string>{301,404}</string>
      </dict>
      <key>monster_1007_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{830,519},{255,241}}</string>
        <key>offset</key>
        <string>{-149,145}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{255,241}}</string>
        <key>sourceSize</key>
        <string>{255,241}</string>
      </dict>
      <key>monster_1007_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{571,0},{249,272}}</string>
        <key>offset</key>
        <string>{-122,170}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{249,272}}</string>
        <key>sourceSize</key>
        <string>{249,272}</string>
      </dict>
      <key>monster_1007_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{538,785},{236,254}}</string>
        <key>offset</key>
        <string>{-17,226}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{236,254}}</string>
        <key>sourceSize</key>
        <string>{236,254}</string>
      </dict>
      <key>monster_1007_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{270,547},{244,266}}</string>
        <key>offset</key>
        <string>{-36,213}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{244,266}}</string>
        <key>sourceSize</key>
        <string>{244,266}</string>
      </dict>
      <key>monster_1007_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{303,0},{266,273}}</string>
        <key>offset</key>
        <string>{-147,201}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{266,273}}</string>
        <key>sourceSize</key>
        <string>{266,273}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_1007_0_2_1.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>monster_1007_0_2_1.png</string>
    </dict>
  </dict>
</plist>