<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_40017_0_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{539,631},{119,110}}</string>
        <key>offset</key>
        <string>{-48,52}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,110}}</string>
        <key>sourceSize</key>
        <string>{119,110}</string>
      </dict>
      <key>monster_40017_0_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{410,650},{118,101}}</string>
        <key>offset</key>
        <string>{-61,35}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,101}}</string>
        <key>sourceSize</key>
        <string>{118,101}</string>
      </dict>
      <key>monster_40017_0_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{939,361},{123,83}}</string>
        <key>offset</key>
        <string>{-66,2}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{123,83}}</string>
        <key>sourceSize</key>
        <string>{123,83}</string>
      </dict>
      <key>monster_40017_0_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{802,550},{120,86}}</string>
        <key>offset</key>
        <string>{-62,3}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,86}}</string>
        <key>sourceSize</key>
        <string>{120,86}</string>
      </dict>
      <key>monster_40017_0_4_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{813,265},{126,94}}</string>
        <key>offset</key>
        <string>{-65,5}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,94}}</string>
        <key>sourceSize</key>
        <string>{126,94}</string>
      </dict>
      <key>monster_40017_0_4_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{684,345},{126,94}}</string>
        <key>offset</key>
        <string>{-65,5}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,94}}</string>
        <key>sourceSize</key>
        <string>{126,94}</string>
      </dict>
      <key>monster_40017_0_4_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{548,435},{126,94}}</string>
        <key>offset</key>
        <string>{-65,5}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,94}}</string>
        <key>sourceSize</key>
        <string>{126,94}</string>
      </dict>
      <key>monster_40017_0_4_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{414,454},{126,94}}</string>
        <key>offset</key>
        <string>{-65,5}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,94}}</string>
        <key>sourceSize</key>
        <string>{126,94}</string>
      </dict>
      <key>monster_40017_0_4_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{285,510},{126,94}}</string>
        <key>offset</key>
        <string>{-65,5}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,94}}</string>
        <key>sourceSize</key>
        <string>{126,94}</string>
      </dict>
      <key>monster_40017_0_4_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,526},{126,94}}</string>
        <key>offset</key>
        <string>{-65,5}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{126,94}}</string>
        <key>sourceSize</key>
        <string>{126,94}</string>
      </dict>
      <key>monster_40017_0_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{907,729},{113,90}}</string>
        <key>offset</key>
        <string>{-41,45}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{113,90}}</string>
        <key>sourceSize</key>
        <string>{113,90}</string>
      </dict>
      <key>monster_40017_0_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{924,609},{118,84}}</string>
        <key>offset</key>
        <string>{-66,37}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,84}}</string>
        <key>sourceSize</key>
        <string>{118,84}</string>
      </dict>
      <key>monster_40017_0_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{812,361},{125,91}}</string>
        <key>offset</key>
        <string>{-77,29}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,91}}</string>
        <key>sourceSize</key>
        <string>{125,91}</string>
      </dict>
      <key>monster_40017_0_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{836,93},{132,88}}</string>
        <key>offset</key>
        <string>{-82,23}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,88}}</string>
        <key>sourceSize</key>
        <string>{132,88}</string>
      </dict>
      <key>monster_40017_0_4_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,876},{136,76}}</string>
        <key>offset</key>
        <string>{-84,14}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,76}}</string>
        <key>sourceSize</key>
        <string>{136,76}</string>
      </dict>
      <key>monster_40017_0_4_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{78,876},{136,76}}</string>
        <key>offset</key>
        <string>{-84,14}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,76}}</string>
        <key>sourceSize</key>
        <string>{136,76}</string>
      </dict>
      <key>monster_40017_0_4_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,0},{136,76}}</string>
        <key>offset</key>
        <string>{-84,14}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,76}}</string>
        <key>sourceSize</key>
        <string>{136,76}</string>
      </dict>
      <key>monster_40017_0_4_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{294,0},{136,76}}</string>
        <key>offset</key>
        <string>{-84,14}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,76}}</string>
        <key>sourceSize</key>
        <string>{136,76}</string>
      </dict>
      <key>monster_40017_0_4_1_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{432,0},{136,76}}</string>
        <key>offset</key>
        <string>{-84,14}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,76}}</string>
        <key>sourceSize</key>
        <string>{136,76}</string>
      </dict>
      <key>monster_40017_0_4_1_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{570,0},{136,76}}</string>
        <key>offset</key>
        <string>{-84,14}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,76}}</string>
        <key>sourceSize</key>
        <string>{136,76}</string>
      </dict>
      <key>monster_40017_0_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{959,913},{82,103}}</string>
        <key>offset</key>
        <string>{-26,57}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,103}}</string>
        <key>sourceSize</key>
        <string>{82,103}</string>
      </dict>
      <key>monster_40017_0_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1043,913},{100,99}}</string>
        <key>offset</key>
        <string>{-45,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,99}}</string>
        <key>sourceSize</key>
        <string>{100,99}</string>
      </dict>
      <key>monster_40017_0_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{676,441},{124,87}}</string>
        <key>offset</key>
        <string>{-67,42}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,87}}</string>
        <key>sourceSize</key>
        <string>{124,87}</string>
      </dict>
      <key>monster_40017_0_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{290,328},{127,89}}</string>
        <key>offset</key>
        <string>{-68,35}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,89}}</string>
        <key>sourceSize</key>
        <string>{127,89}</string>
      </dict>
      <key>monster_40017_0_4_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,171},{132,80}}</string>
        <key>offset</key>
        <string>{-69,27}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,80}}</string>
        <key>sourceSize</key>
        <string>{132,80}</string>
      </dict>
      <key>monster_40017_0_4_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{290,171},{132,80}}</string>
        <key>offset</key>
        <string>{-69,27}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,80}}</string>
        <key>sourceSize</key>
        <string>{132,80}</string>
      </dict>
      <key>monster_40017_0_4_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{424,171},{132,80}}</string>
        <key>offset</key>
        <string>{-69,27}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,80}}</string>
        <key>sourceSize</key>
        <string>{132,80}</string>
      </dict>
      <key>monster_40017_0_4_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{558,171},{132,80}}</string>
        <key>offset</key>
        <string>{-69,27}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,80}}</string>
        <key>sourceSize</key>
        <string>{132,80}</string>
      </dict>
      <key>monster_40017_0_4_2_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{692,172},{132,80}}</string>
        <key>offset</key>
        <string>{-69,27}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,80}}</string>
        <key>sourceSize</key>
        <string>{132,80}</string>
      </dict>
      <key>monster_40017_0_4_2_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{826,183},{132,80}}</string>
        <key>offset</key>
        <string>{-69,27}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,80}}</string>
        <key>sourceSize</key>
        <string>{132,80}</string>
      </dict>
      <key>monster_40017_0_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{992,821},{90,103}}</string>
        <key>offset</key>
        <string>{-21,65}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,103}}</string>
        <key>sourceSize</key>
        <string>{90,103}</string>
      </dict>
      <key>monster_40017_0_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{886,821},{90,104}}</string>
        <key>offset</key>
        <string>{-9,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,104}}</string>
        <key>sourceSize</key>
        <string>{90,104}</string>
      </dict>
      <key>monster_40017_0_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{790,638},{115,104}}</string>
        <key>offset</key>
        <string>{-22,66}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,104}}</string>
        <key>sourceSize</key>
        <string>{115,104}</string>
      </dict>
      <key>monster_40017_0_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{404,849},{109,104}}</string>
        <key>offset</key>
        <string>{-22,62}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,104}}</string>
        <key>sourceSize</key>
        <string>{109,104}</string>
      </dict>
      <key>monster_40017_0_4_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{660,732},{111,94}}</string>
        <key>offset</key>
        <string>{-21,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,94}}</string>
        <key>sourceSize</key>
        <string>{111,94}</string>
      </dict>
      <key>monster_40017_0_4_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{530,743},{111,94}}</string>
        <key>offset</key>
        <string>{-21,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,94}}</string>
        <key>sourceSize</key>
        <string>{111,94}</string>
      </dict>
      <key>monster_40017_0_4_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{410,753},{111,94}}</string>
        <key>offset</key>
        <string>{-21,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,94}}</string>
        <key>sourceSize</key>
        <string>{111,94}</string>
      </dict>
      <key>monster_40017_0_4_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{291,792},{111,94}}</string>
        <key>offset</key>
        <string>{-21,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,94}}</string>
        <key>sourceSize</key>
        <string>{111,94}</string>
      </dict>
      <key>monster_40017_0_4_3_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{773,744},{111,94}}</string>
        <key>offset</key>
        <string>{-21,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,94}}</string>
        <key>sourceSize</key>
        <string>{111,94}</string>
      </dict>
      <key>monster_40017_0_4_3_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{643,828},{111,94}}</string>
        <key>offset</key>
        <string>{-21,54}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{111,94}}</string>
        <key>sourceSize</key>
        <string>{111,94}</string>
      </dict>
      <key>monster_40017_0_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{853,913},{104,104}}</string>
        <key>offset</key>
        <string>{-10,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,104}}</string>
        <key>sourceSize</key>
        <string>{104,104}</string>
      </dict>
      <key>monster_40017_0_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{668,630},{120,100}}</string>
        <key>offset</key>
        <string>{-9,59}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,100}}</string>
        <key>sourceSize</key>
        <string>{120,100}</string>
      </dict>
      <key>monster_40017_0_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,722},{121,99}}</string>
        <key>offset</key>
        <string>{-9,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,99}}</string>
        <key>sourceSize</key>
        <string>{121,99}</string>
      </dict>
      <key>monster_40017_0_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{802,454},{124,94}}</string>
        <key>offset</key>
        <string>{-10,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,94}}</string>
        <key>sourceSize</key>
        <string>{124,94}</string>
      </dict>
      <key>monster_40017_0_4_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{676,530},{124,98}}</string>
        <key>offset</key>
        <string>{-13,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,98}}</string>
        <key>sourceSize</key>
        <string>{124,98}</string>
      </dict>
      <key>monster_40017_0_4_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{542,531},{124,98}}</string>
        <key>offset</key>
        <string>{-13,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,98}}</string>
        <key>sourceSize</key>
        <string>{124,98}</string>
      </dict>
      <key>monster_40017_0_4_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{413,550},{124,98}}</string>
        <key>offset</key>
        <string>{-13,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,98}}</string>
        <key>sourceSize</key>
        <string>{124,98}</string>
      </dict>
      <key>monster_40017_0_4_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{284,606},{124,98}}</string>
        <key>offset</key>
        <string>{-13,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,98}}</string>
        <key>sourceSize</key>
        <string>{124,98}</string>
      </dict>
      <key>monster_40017_0_4_4_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,622},{124,98}}</string>
        <key>offset</key>
        <string>{-13,50}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,98}}</string>
        <key>sourceSize</key>
        <string>{124,98}</string>
      </dict>
      <key>monster_40017_0_4_4_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{90,722},{124,98}}</string>
        <key>offset</key>
        <string>{-13,50}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,98}}</string>
        <key>sourceSize</key>
        <string>{124,98}</string>
      </dict>
      <key>monster_40017_0_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{523,839},{106,111}}</string>
        <key>offset</key>
        <string>{-9,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,111}}</string>
        <key>sourceSize</key>
        <string>{106,111}</string>
      </dict>
      <key>monster_40017_0_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{291,706},{117,84}}</string>
        <key>offset</key>
        <string>{1,31}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,84}}</string>
        <key>sourceSize</key>
        <string>{117,84}</string>
      </dict>
      <key>monster_40017_0_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{290,253},{131,73}}</string>
        <key>offset</key>
        <string>{0,22}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,73}}</string>
        <key>sourceSize</key>
        <string>{131,73}</string>
      </dict>
      <key>monster_40017_0_4_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{708,0},{134,77}}</string>
        <key>offset</key>
        <string>{-2,16}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,77}}</string>
        <key>sourceSize</key>
        <string>{134,77}</string>
      </dict>
      <key>monster_40017_0_4_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{844,0},{134,91}}</string>
        <key>offset</key>
        <string>{-4,17}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,91}}</string>
        <key>sourceSize</key>
        <string>{134,91}</string>
      </dict>
      <key>monster_40017_0_4_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,78},{134,91}}</string>
        <key>offset</key>
        <string>{-4,17}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,91}}</string>
        <key>sourceSize</key>
        <string>{134,91}</string>
      </dict>
      <key>monster_40017_0_4_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{292,78},{134,91}}</string>
        <key>offset</key>
        <string>{-4,17}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,91}}</string>
        <key>sourceSize</key>
        <string>{134,91}</string>
      </dict>
      <key>monster_40017_0_4_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{428,78},{134,91}}</string>
        <key>offset</key>
        <string>{-4,17}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,91}}</string>
        <key>sourceSize</key>
        <string>{134,91}</string>
      </dict>
      <key>monster_40017_0_4_5_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{564,78},{134,91}}</string>
        <key>offset</key>
        <string>{-4,17}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,91}}</string>
        <key>sourceSize</key>
        <string>{134,91}</string>
      </dict>
      <key>monster_40017_0_4_5_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,79},{134,91}}</string>
        <key>offset</key>
        <string>{-4,17}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,91}}</string>
        <key>sourceSize</key>
        <string>{134,91}</string>
      </dict>
      <key>monster_40017_0_4_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,848},{99,123}}</string>
        <key>offset</key>
        <string>{-11,49}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,123}}</string>
        <key>sourceSize</key>
        <string>{99,123}</string>
      </dict>
      <key>monster_40017_0_4_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{745,924},{106,90}}</string>
        <key>offset</key>
        <string>{-12,28}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,90}}</string>
        <key>sourceSize</key>
        <string>{106,90}</string>
      </dict>
      <key>monster_40017_0_4_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,341},{127,92}}</string>
        <key>offset</key>
        <string>{-12,13}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,92}}</string>
        <key>sourceSize</key>
        <string>{127,92}</string>
      </dict>
      <key>monster_40017_0_4_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,253},{132,86}}</string>
        <key>offset</key>
        <string>{-16,7}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,86}}</string>
        <key>sourceSize</key>
        <string>{132,86}</string>
      </dict>
      <key>monster_40017_0_4_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{144,88}}</string>
        <key>offset</key>
        <string>{-27,11}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,88}}</string>
        <key>sourceSize</key>
        <string>{144,88}</string>
      </dict>
      <key>monster_40017_0_4_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,146},{144,88}}</string>
        <key>offset</key>
        <string>{-27,11}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,88}}</string>
        <key>sourceSize</key>
        <string>{144,88}</string>
      </dict>
      <key>monster_40017_0_4_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,292},{144,88}}</string>
        <key>offset</key>
        <string>{-27,11}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,88}}</string>
        <key>sourceSize</key>
        <string>{144,88}</string>
      </dict>
      <key>monster_40017_0_4_6_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,438},{144,88}}</string>
        <key>offset</key>
        <string>{-27,11}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,88}}</string>
        <key>sourceSize</key>
        <string>{144,88}</string>
      </dict>
      <key>monster_40017_0_4_6_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,584},{144,88}}</string>
        <key>offset</key>
        <string>{-27,11}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,88}}</string>
        <key>sourceSize</key>
        <string>{144,88}</string>
      </dict>
      <key>monster_40017_0_4_6_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,730},{144,88}}</string>
        <key>offset</key>
        <string>{-27,11}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,88}}</string>
        <key>sourceSize</key>
        <string>{144,88}</string>
      </dict>
      <key>monster_40017_0_4_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{423,253},{108,130}}</string>
        <key>offset</key>
        <string>{-32,54}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,130}}</string>
        <key>sourceSize</key>
        <string>{108,130}</string>
      </dict>
      <key>monster_40017_0_4_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{636,924},{86,107}}</string>
        <key>offset</key>
        <string>{-29,31}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{86,107}}</string>
        <key>sourceSize</key>
        <string>{86,107}</string>
      </dict>
      <key>monster_40017_0_4_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{257,888},{106,86}}</string>
        <key>offset</key>
        <string>{-36,-5}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,86}}</string>
        <key>sourceSize</key>
        <string>{106,86}</string>
      </dict>
      <key>monster_40017_0_4_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{928,486},{121,87}}</string>
        <key>offset</key>
        <string>{-51,-3}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,87}}</string>
        <key>sourceSize</key>
        <string>{121,87}</string>
      </dict>
      <key>monster_40017_0_4_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{555,253},{127,89}}</string>
        <key>offset</key>
        <string>{-57,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,89}}</string>
        <key>sourceSize</key>
        <string>{127,89}</string>
      </dict>
      <key>monster_40017_0_4_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{684,254},{127,89}}</string>
        <key>offset</key>
        <string>{-57,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,89}}</string>
        <key>sourceSize</key>
        <string>{127,89}</string>
      </dict>
      <key>monster_40017_0_4_7_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{555,344},{127,89}}</string>
        <key>offset</key>
        <string>{-57,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,89}}</string>
        <key>sourceSize</key>
        <string>{127,89}</string>
      </dict>
      <key>monster_40017_0_4_7_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{419,363},{127,89}}</string>
        <key>offset</key>
        <string>{-57,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,89}}</string>
        <key>sourceSize</key>
        <string>{127,89}</string>
      </dict>
      <key>monster_40017_0_4_7_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{285,419},{127,89}}</string>
        <key>offset</key>
        <string>{-57,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,89}}</string>
        <key>sourceSize</key>
        <string>{127,89}</string>
      </dict>
      <key>monster_40017_0_4_7_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,435},{127,89}}</string>
        <key>offset</key>
        <string>{-57,-2}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,89}}</string>
        <key>sourceSize</key>
        <string>{127,89}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_40017_0_4.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>monster_40017_0_4.png</string>
    </dict>
  </dict>
</plist>