<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_1089_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1454,0},{262,313}}</string>
        <key>offset</key>
        <string>{-105,191}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{262,313}}</string>
        <key>sourceSize</key>
        <string>{262,313}</string>
      </dict>
      <key>monster_1089_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{923,1687},{287,319}}</string>
        <key>offset</key>
        <string>{-142,200}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{287,319}}</string>
        <key>sourceSize</key>
        <string>{287,319}</string>
      </dict>
      <key>monster_1089_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1718,0},{245,313}}</string>
        <key>offset</key>
        <string>{-100,192}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{245,313}}</string>
        <key>sourceSize</key>
        <string>{245,313}</string>
      </dict>
      <key>monster_1089_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{785,341},{251,330}}</string>
        <key>offset</key>
        <string>{-106,206}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{251,330}}</string>
        <key>sourceSize</key>
        <string>{251,330}</string>
      </dict>
      <key>monster_1089_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{306,773},{261,344}}</string>
        <key>offset</key>
        <string>{-115,216}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{261,344}}</string>
        <key>sourceSize</key>
        <string>{261,344}</string>
      </dict>
      <key>monster_1089_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1511},{299,348}}</string>
        <key>offset</key>
        <string>{-122,218}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{299,348}}</string>
        <key>sourceSize</key>
        <string>{299,348}</string>
      </dict>
      <key>monster_1089_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1212,1683},{303,310}}</string>
        <key>offset</key>
        <string>{-139,211}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{303,310}}</string>
        <key>sourceSize</key>
        <string>{303,310}</string>
      </dict>
      <key>monster_1089_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1090,1002},{294,316}}</string>
        <key>offset</key>
        <string>{-133,219}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{294,316}}</string>
        <key>sourceSize</key>
        <string>{294,316}</string>
      </dict>
      <key>monster_1089_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1132,660},{293,314}}</string>
        <key>offset</key>
        <string>{-134,217}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{293,314}}</string>
        <key>sourceSize</key>
        <string>{293,314}</string>
      </dict>
      <key>monster_1089_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{818,673},{327,312}}</string>
        <key>offset</key>
        <string>{-141,213}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{327,312}}</string>
        <key>sourceSize</key>
        <string>{327,312}</string>
      </dict>
      <key>monster_1089_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,780},{374,304}}</string>
        <key>offset</key>
        <string>{-151,203}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{374,304}}</string>
        <key>sourceSize</key>
        <string>{374,304}</string>
      </dict>
      <key>monster_1089_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{399,307}}</string>
        <key>offset</key>
        <string>{-158,207}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{399,307}}</string>
        <key>sourceSize</key>
        <string>{399,307}</string>
      </dict>
      <key>monster_1089_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1076,1364},{317,308}}</string>
        <key>offset</key>
        <string>{-137,222}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{317,308}}</string>
        <key>sourceSize</key>
        <string>{317,308}</string>
      </dict>
      <key>monster_1089_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1133,0},{319,324}}</string>
        <key>offset</key>
        <string>{-132,237}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{319,324}}</string>
        <key>sourceSize</key>
        <string>{319,324}</string>
      </dict>
      <key>monster_1089_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{588,0},{339,297}}</string>
        <key>offset</key>
        <string>{-134,211}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{339,297}}</string>
        <key>sourceSize</key>
        <string>{339,297}</string>
      </dict>
      <key>monster_1089_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{309,0},{354,277}}</string>
        <key>offset</key>
        <string>{-139,191}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{354,277}}</string>
        <key>sourceSize</key>
        <string>{354,277}</string>
      </dict>
      <key>monster_1089_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{269,401},{370,276}}</string>
        <key>offset</key>
        <string>{-143,187}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{370,276}}</string>
        <key>sourceSize</key>
        <string>{370,276}</string>
      </dict>
      <key>monster_1089_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,401},{377,267}}</string>
        <key>offset</key>
        <string>{-146,179}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{377,267}}</string>
        <key>sourceSize</key>
        <string>{377,267}</string>
      </dict>
      <key>monster_1089_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1324,326},{314,287}}</string>
        <key>offset</key>
        <string>{-104,187}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{314,287}}</string>
        <key>sourceSize</key>
        <string>{314,287}</string>
      </dict>
      <key>monster_1089_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{301,1506},{334,295}}</string>
        <key>offset</key>
        <string>{-103,197}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{334,295}}</string>
        <key>sourceSize</key>
        <string>{334,295}</string>
      </dict>
      <key>monster_1089_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{524,1119},{333,281}}</string>
        <key>offset</key>
        <string>{-103,184}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{333,281}}</string>
        <key>sourceSize</key>
        <string>{333,281}</string>
      </dict>
      <key>monster_1089_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{569,701},{331,247}}</string>
        <key>offset</key>
        <string>{-105,150}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{331,247}}</string>
        <key>sourceSize</key>
        <string>{331,247}</string>
      </dict>
      <key>monster_1089_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{836,1364},{321,238}}</string>
        <key>offset</key>
        <string>{-105,138}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{321,238}}</string>
        <key>sourceSize</key>
        <string>{321,238}</string>
      </dict>
      <key>monster_1089_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{887,0},{329,244}}</string>
        <key>offset</key>
        <string>{-107,142}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{329,244}}</string>
        <key>sourceSize</key>
        <string>{329,244}</string>
      </dict>
      <key>monster_1089_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1613,519},{308,259}}</string>
        <key>offset</key>
        <string>{-88,168}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{308,259}}</string>
        <key>sourceSize</key>
        <string>{308,259}</string>
      </dict>
      <key>monster_1089_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{547,356},{343,236}}</string>
        <key>offset</key>
        <string>{-87,146}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{343,236}}</string>
        <key>sourceSize</key>
        <string>{343,236}</string>
      </dict>
      <key>monster_1089_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1629,1511},{300,230}}</string>
        <key>offset</key>
        <string>{-87,139}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{300,230}}</string>
        <key>sourceSize</key>
        <string>{300,230}</string>
      </dict>
      <key>monster_1089_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1629,1246},{301,263}}</string>
        <key>offset</key>
        <string>{-105,164}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{301,263}}</string>
        <key>sourceSize</key>
        <string>{301,263}</string>
      </dict>
      <key>monster_1089_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1517,1015},{305,229}}</string>
        <key>offset</key>
        <string>{-104,131}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{305,229}}</string>
        <key>sourceSize</key>
        <string>{305,229}</string>
      </dict>
      <key>monster_1089_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1517,780},{307,233}}</string>
        <key>offset</key>
        <string>{-104,133}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{307,233}}</string>
        <key>sourceSize</key>
        <string>{307,233}</string>
      </dict>
      <key>monster_1089_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{598,1454},{329,236}}</string>
        <key>offset</key>
        <string>{-121,133}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{329,236}}</string>
        <key>sourceSize</key>
        <string>{329,236}</string>
      </dict>
      <key>monster_1089_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{282,1156},{348,240}}</string>
        <key>offset</key>
        <string>{-130,136}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{348,240}}</string>
        <key>sourceSize</key>
        <string>{348,240}</string>
      </dict>
      <key>monster_1089_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1386,1246},{302,241}}</string>
        <key>offset</key>
        <string>{-106,142}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{302,241}}</string>
        <key>sourceSize</key>
        <string>{302,241}</string>
      </dict>
      <key>monster_1089_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{598,1785},{323,260}}</string>
        <key>offset</key>
        <string>{-124,153}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{323,260}}</string>
        <key>sourceSize</key>
        <string>{323,260}</string>
      </dict>
      <key>monster_1089_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{807,1034},{328,281}}</string>
        <key>offset</key>
        <string>{-130,172}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{328,281}}</string>
        <key>sourceSize</key>
        <string>{328,281}</string>
      </dict>
      <key>monster_1089_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1718,247},{270,313}}</string>
        <key>offset</key>
        <string>{-103,193}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{270,313}}</string>
        <key>sourceSize</key>
        <string>{270,313}</string>
      </dict>
      <key>monster_1089_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1517,1743},{299,271}}</string>
        <key>offset</key>
        <string>{-130,154}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{299,271}}</string>
        <key>sourceSize</key>
        <string>{299,271}</string>
      </dict>
      <key>monster_1089_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1038,331},{284,327}}</string>
        <key>offset</key>
        <string>{-115,197}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{284,327}}</string>
        <key>sourceSize</key>
        <string>{284,327}</string>
      </dict>
      <key>monster_1089_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1156},{280,353}}</string>
        <key>offset</key>
        <string>{-111,219}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{280,353}}</string>
        <key>sourceSize</key>
        <string>{280,353}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_1089_0_2_0.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_1089_0_2_0.png</string>
    </dict>
  </dict>
</plist>