<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_20026_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{846,1278},{227,193}}</string>
        <key>offset</key>
        <string>{-69,115}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{227,193}}</string>
        <key>sourceSize</key>
        <string>{227,193}</string>
      </dict>
      <key>monster_20026_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1041,1282},{226,192}}</string>
        <key>offset</key>
        <string>{-71,121}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{226,192}}</string>
        <key>sourceSize</key>
        <string>{226,192}</string>
      </dict>
      <key>monster_20026_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1443,867},{225,197}}</string>
        <key>offset</key>
        <string>{-72,121}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{225,197}}</string>
        <key>sourceSize</key>
        <string>{225,197}</string>
      </dict>
      <key>monster_20026_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1365,434},{225,202}}</string>
        <key>offset</key>
        <string>{-71,120}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{225,202}}</string>
        <key>sourceSize</key>
        <string>{225,202}</string>
      </dict>
      <key>monster_20026_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{846,1048},{228,181}}</string>
        <key>offset</key>
        <string>{-70,115}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{228,181}}</string>
        <key>sourceSize</key>
        <string>{228,181}</string>
      </dict>
      <key>monster_20026_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1029,868},{227,183}}</string>
        <key>offset</key>
        <string>{-67,110}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{227,183}}</string>
        <key>sourceSize</key>
        <string>{227,183}</string>
      </dict>
      <key>monster_20026_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{342,893},{276,191}}</string>
        <key>offset</key>
        <string>{-133,117}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{276,191}}</string>
        <key>sourceSize</key>
        <string>{276,191}</string>
      </dict>
      <key>monster_20026_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{479,1171},{274,178}}</string>
        <key>offset</key>
        <string>{-130,118}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{274,178}}</string>
        <key>sourceSize</key>
        <string>{274,178}</string>
      </dict>
      <key>monster_20026_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{944,249},{240,169}}</string>
        <key>offset</key>
        <string>{-96,116}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{240,169}}</string>
        <key>sourceSize</key>
        <string>{240,169}</string>
      </dict>
      <key>monster_20026_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{659,1385},{223,179}}</string>
        <key>offset</key>
        <string>{-79,118}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{223,179}}</string>
        <key>sourceSize</key>
        <string>{223,179}</string>
      </dict>
      <key>monster_20026_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1459,1094},{221,174}}</string>
        <key>offset</key>
        <string>{-78,118}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{221,174}}</string>
        <key>sourceSize</key>
        <string>{221,174}</string>
      </dict>
      <key>monster_20026_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{709,555},{247,185}}</string>
        <key>offset</key>
        <string>{-106,114}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{247,185}}</string>
        <key>sourceSize</key>
        <string>{247,185}</string>
      </dict>
      <key>monster_20026_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,626},{310,171}}</string>
        <key>offset</key>
        <string>{-179,154}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{310,171}}</string>
        <key>sourceSize</key>
        <string>{310,171}</string>
      </dict>
      <key>monster_20026_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{305,1179},{282,172}}</string>
        <key>offset</key>
        <string>{-151,154}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{282,172}}</string>
        <key>sourceSize</key>
        <string>{282,172}</string>
      </dict>
      <key>monster_20026_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1250},{303,165}}</string>
        <key>offset</key>
        <string>{-172,151}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{303,165}}</string>
        <key>sourceSize</key>
        <string>{303,165}</string>
      </dict>
      <key>monster_20026_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{311,170}}</string>
        <key>offset</key>
        <string>{-180,153}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{311,170}}</string>
        <key>sourceSize</key>
        <string>{311,170}</string>
      </dict>
      <key>monster_20026_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{173,609},{283,167}}</string>
        <key>offset</key>
        <string>{-152,154}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{283,167}}</string>
        <key>sourceSize</key>
        <string>{283,167}</string>
      </dict>
      <key>monster_20026_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,305},{302,169}}</string>
        <key>offset</key>
        <string>{-171,151}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{302,169}}</string>
        <key>sourceSize</key>
        <string>{302,169}</string>
      </dict>
      <key>monster_20026_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1417},{224,215}}</string>
        <key>offset</key>
        <string>{-81,167}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{224,215}}</string>
        <key>sourceSize</key>
        <string>{224,215}</string>
      </dict>
      <key>monster_20026_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1214,868},{227,205}}</string>
        <key>offset</key>
        <string>{-83,165}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{227,205}}</string>
        <key>sourceSize</key>
        <string>{227,205}</string>
      </dict>
      <key>monster_20026_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{745,277},{247,197}}</string>
        <key>offset</key>
        <string>{-103,158}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{247,197}}</string>
        <key>sourceSize</key>
        <string>{247,197}</string>
      </dict>
      <key>monster_20026_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{530,278},{275,213}}</string>
        <key>offset</key>
        <string>{-131,151}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{275,213}}</string>
        <key>sourceSize</key>
        <string>{275,213}</string>
      </dict>
      <key>monster_20026_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{343,304},{276,185}}</string>
        <key>offset</key>
        <string>{-132,140}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{276,185}}</string>
        <key>sourceSize</key>
        <string>{276,185}</string>
      </dict>
      <key>monster_20026_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1282,229},{238,203}}</string>
        <key>offset</key>
        <string>{-97,148}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{238,203}}</string>
        <key>sourceSize</key>
        <string>{238,203}</string>
      </dict>
      <key>monster_20026_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1282,0},{227,239}}</string>
        <key>offset</key>
        <string>{-84,184}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{227,239}}</string>
        <key>sourceSize</key>
        <string>{227,239}</string>
      </dict>
      <key>monster_20026_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1235,1282},{226,222}}</string>
        <key>offset</key>
        <string>{-81,172}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{226,222}}</string>
        <key>sourceSize</key>
        <string>{226,222}</string>
      </dict>
      <key>monster_20026_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1363,639},{224,226}}</string>
        <key>offset</key>
        <string>{-79,176}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{224,226}}</string>
        <key>sourceSize</key>
        <string>{224,226}</string>
      </dict>
      <key>monster_20026_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{715,804},{226,242}}</string>
        <key>offset</key>
        <string>{-81,187}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{226,242}}</string>
        <key>sourceSize</key>
        <string>{226,242}</string>
      </dict>
      <key>monster_20026_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1125,639},{227,236}}</string>
        <key>offset</key>
        <string>{-84,181}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{227,236}}</string>
        <key>sourceSize</key>
        <string>{227,236}</string>
      </dict>
      <key>monster_20026_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{896,526},{227,242}}</string>
        <key>offset</key>
        <string>{-87,182}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{227,242}}</string>
        <key>sourceSize</key>
        <string>{227,242}</string>
      </dict>
      <key>monster_20026_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{217,1510},{224,215}}</string>
        <key>offset</key>
        <string>{-83,167}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{224,215}}</string>
        <key>sourceSize</key>
        <string>{224,215}</string>
      </dict>
      <key>monster_20026_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1214,1075},{227,205}}</string>
        <key>offset</key>
        <string>{-84,165}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{227,205}}</string>
        <key>sourceSize</key>
        <string>{227,205}</string>
      </dict>
      <key>monster_20026_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{912,0},{247,197}}</string>
        <key>offset</key>
        <string>{-84,158}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{247,197}}</string>
        <key>sourceSize</key>
        <string>{247,197}</string>
      </dict>
      <key>monster_20026_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{697,0},{275,213}}</string>
        <key>offset</key>
        <string>{-84,151}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{275,213}}</string>
        <key>sourceSize</key>
        <string>{275,213}</string>
      </dict>
      <key>monster_20026_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{510,0},{276,185}}</string>
        <key>offset</key>
        <string>{-84,140}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{276,185}}</string>
        <key>sourceSize</key>
        <string>{276,185}</string>
      </dict>
      <key>monster_20026_0_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1125,434},{238,203}}</string>
        <key>offset</key>
        <string>{-81,148}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{238,203}}</string>
        <key>sourceSize</key>
        <string>{238,203}</string>
      </dict>
      <key>monster_20026_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,938},{310,171}}</string>
        <key>offset</key>
        <string>{-71,154}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{310,171}}</string>
        <key>sourceSize</key>
        <string>{310,171}</string>
      </dict>
      <key>monster_20026_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{342,609},{282,172}}</string>
        <key>offset</key>
        <string>{-71,154}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{282,172}}</string>
        <key>sourceSize</key>
        <string>{282,172}</string>
      </dict>
      <key>monster_20026_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,0},{303,165}}</string>
        <key>offset</key>
        <string>{-71,151}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{303,165}}</string>
        <key>sourceSize</key>
        <string>{303,165}</string>
      </dict>
      <key>monster_20026_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,313},{311,170}}</string>
        <key>offset</key>
        <string>{-71,153}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{311,170}}</string>
        <key>sourceSize</key>
        <string>{311,170}</string>
      </dict>
      <key>monster_20026_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{173,894},{283,167}}</string>
        <key>offset</key>
        <string>{-71,154}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{283,167}}</string>
        <key>sourceSize</key>
        <string>{283,167}</string>
      </dict>
      <key>monster_20026_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{339,0},{302,169}}</string>
        <key>offset</key>
        <string>{-71,151}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{302,169}}</string>
        <key>sourceSize</key>
        <string>{302,169}</string>
      </dict>
      <key>monster_20026_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{516,582},{276,191}}</string>
        <key>offset</key>
        <string>{-83,117}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{276,191}}</string>
        <key>sourceSize</key>
        <string>{276,191}</string>
      </dict>
      <key>monster_20026_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{535,860},{274,178}}</string>
        <key>offset</key>
        <string>{-84,118}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{274,178}}</string>
        <key>sourceSize</key>
        <string>{274,178}</string>
      </dict>
      <key>monster_20026_0_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1111,0},{240,169}}</string>
        <key>offset</key>
        <string>{-84,116}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{240,169}}</string>
        <key>sourceSize</key>
        <string>{240,169}</string>
      </dict>
      <key>monster_20026_0_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{434,1463},{223,179}}</string>
        <key>offset</key>
        <string>{-84,118}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{223,179}}</string>
        <key>sourceSize</key>
        <string>{223,179}</string>
      </dict>
      <key>monster_20026_0_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1459,1317},{221,174}}</string>
        <key>offset</key>
        <string>{-83,118}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{221,174}}</string>
        <key>sourceSize</key>
        <string>{221,174}</string>
      </dict>
      <key>monster_20026_0_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{659,1136},{247,185}}</string>
        <key>offset</key>
        <string>{-81,114}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{247,185}}</string>
        <key>sourceSize</key>
        <string>{247,185}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_20026_0_1.png</string>
      <key>size</key>
      <string>{1648,1750}</string>
      <key>textureFileName</key>
      <string>monster_20026_0_1.png</string>
    </dict>
  </dict>
</plist>