<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_20081_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{466,412}}</string>
        <key>offset</key>
        <string>{-198,186}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{466,412}}</string>
        <key>sourceSize</key>
        <string>{466,412}</string>
      </dict>
      <key>monster_20081_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,468},{406,397}}</string>
        <key>offset</key>
        <string>{-185,186}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{406,397}}</string>
        <key>sourceSize</key>
        <string>{406,397}</string>
      </dict>
      <key>monster_20081_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{414,397},{411,384}}</string>
        <key>offset</key>
        <string>{-269,220}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{411,384}}</string>
        <key>sourceSize</key>
        <string>{411,384}</string>
      </dict>
      <key>monster_20081_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{414,0},{395,416}}</string>
        <key>offset</key>
        <string>{-265,215}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{395,416}}</string>
        <key>sourceSize</key>
        <string>{395,416}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_20081_0_7_0.png</string>
      <key>size</key>
      <string>{896,960}</string>
      <key>textureFileName</key>
      <string>monster_20081_0_7_0.png</string>
    </dict>
  </dict>
</plist>