<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_40008_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{472,0},{435,227}}</string>
        <key>offset</key>
        <string>{-190,139}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{435,227}}</string>
        <key>sourceSize</key>
        <string>{435,227}</string>
      </dict>
      <key>monster_40008_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{452,230}}</string>
        <key>offset</key>
        <string>{-200,129}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{452,230}}</string>
        <key>sourceSize</key>
        <string>{452,230}</string>
      </dict>
      <key>monster_40008_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{933,436},{431,237}}</string>
        <key>offset</key>
        <string>{-326,147}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{431,237}}</string>
        <key>sourceSize</key>
        <string>{431,237}</string>
      </dict>
      <key>monster_40008_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{227,454},{448,243}}</string>
        <key>offset</key>
        <string>{-340,141}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{448,243}}</string>
        <key>sourceSize</key>
        <string>{448,243}</string>
      </dict>
      <key>monster_40008_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1667,402},{394,205}}</string>
        <key>offset</key>
        <string>{-261,165}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{394,205}}</string>
        <key>sourceSize</key>
        <string>{394,205}</string>
      </dict>
      <key>monster_40008_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1451,0},{400,214}}</string>
        <key>offset</key>
        <string>{-277,166}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{400,214}}</string>
        <key>sourceSize</key>
        <string>{400,214}</string>
      </dict>
      <key>monster_40008_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{693,437},{434,238}}</string>
        <key>offset</key>
        <string>{-335,186}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{434,238}}</string>
        <key>sourceSize</key>
        <string>{434,238}</string>
      </dict>
      <key>monster_40008_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1208,0},{430,241}}</string>
        <key>offset</key>
        <string>{-350,189}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{430,241}}</string>
        <key>sourceSize</key>
        <string>{430,241}</string>
      </dict>
      <key>monster_40008_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{472,437},{435,219}}</string>
        <key>offset</key>
        <string>{-199,168}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{435,219}}</string>
        <key>sourceSize</key>
        <string>{435,219}</string>
      </dict>
      <key>monster_40008_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,454},{452,225}}</string>
        <key>offset</key>
        <string>{-206,174}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{452,225}}</string>
        <key>sourceSize</key>
        <string>{452,225}</string>
      </dict>
      <key>monster_40008_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{973,0},{431,233}}</string>
        <key>offset</key>
        <string>{-59,194}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{431,233}}</string>
        <key>sourceSize</key>
        <string>{431,233}</string>
      </dict>
      <key>monster_40008_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{232,0},{448,238}}</string>
        <key>offset</key>
        <string>{-62,199}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{448,238}}</string>
        <key>sourceSize</key>
        <string>{448,238}</string>
      </dict>
      <key>monster_40008_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1454,798},{394,243}}</string>
        <key>offset</key>
        <string>{-87,181}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{394,243}}</string>
        <key>sourceSize</key>
        <string>{394,243}</string>
      </dict>
      <key>monster_40008_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1667,0},{400,262}}</string>
        <key>offset</key>
        <string>{-77,186}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{400,262}}</string>
        <key>sourceSize</key>
        <string>{400,262}</string>
      </dict>
      <key>monster_40008_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{701,0},{434,270}}</string>
        <key>offset</key>
        <string>{-53,157}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{434,270}}</string>
        <key>sourceSize</key>
        <string>{434,270}</string>
      </dict>
      <key>monster_40008_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1172,433},{431,280}}</string>
        <key>offset</key>
        <string>{-35,152}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{431,280}}</string>
        <key>sourceSize</key>
        <string>{431,280}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_40008_0_7.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_40008_0_7.png</string>
    </dict>
  </dict>
</plist>