<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_1070_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{702,0},{271,219}}</string>
        <key>offset</key>
        <string>{-116,167}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{271,219}}</string>
        <key>sourceSize</key>
        <string>{271,219}</string>
      </dict>
      <key>monster_1070_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{499,739},{262,153}}</string>
        <key>offset</key>
        <string>{-128,108}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{262,153}}</string>
        <key>sourceSize</key>
        <string>{262,153}</string>
      </dict>
      <key>monster_1070_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{911,739},{195,256}}</string>
        <key>offset</key>
        <string>{-61,192}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{195,256}}</string>
        <key>sourceSize</key>
        <string>{195,256}</string>
      </dict>
      <key>monster_1070_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{975,0},{227,204}}</string>
        <key>offset</key>
        <string>{-124,142}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{227,204}}</string>
        <key>sourceSize</key>
        <string>{227,204}</string>
      </dict>
      <key>monster_1070_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{447,0},{277,253}}</string>
        <key>offset</key>
        <string>{-106,211}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{277,253}}</string>
        <key>sourceSize</key>
        <string>{277,253}</string>
      </dict>
      <key>monster_1070_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{702,221},{271,258}}</string>
        <key>offset</key>
        <string>{-123,200}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{271,258}}</string>
        <key>sourceSize</key>
        <string>{271,258}</string>
      </dict>
      <key>monster_1070_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{304,240}}</string>
        <key>offset</key>
        <string>{-107,203}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{304,240}}</string>
        <key>sourceSize</key>
        <string>{304,240}</string>
      </dict>
      <key>monster_1070_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,600},{289,264}}</string>
        <key>offset</key>
        <string>{-120,229}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{289,264}}</string>
        <key>sourceSize</key>
        <string>{289,264}</string>
      </dict>
      <key>monster_1070_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{685,481},{265,256}}</string>
        <key>offset</key>
        <string>{-73,212}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{265,256}}</string>
        <key>sourceSize</key>
        <string>{265,256}</string>
      </dict>
      <key>monster_1070_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{231,306},{283,266}}</string>
        <key>offset</key>
        <string>{-68,228}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{283,266}}</string>
        <key>sourceSize</key>
        <string>{283,266}</string>
      </dict>
      <key>monster_1070_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{266,739},{231,264}}</string>
        <key>offset</key>
        <string>{-66,207}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{231,264}}</string>
        <key>sourceSize</key>
        <string>{231,264}</string>
      </dict>
      <key>monster_1070_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{654,739},{255,259}}</string>
        <key>offset</key>
        <string>{-45,200}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{255,259}}</string>
        <key>sourceSize</key>
        <string>{255,259}</string>
      </dict>
      <key>monster_1070_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,306},{292,229}}</string>
        <key>offset</key>
        <string>{-94,181}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{292,229}}</string>
        <key>sourceSize</key>
        <string>{292,229}</string>
      </dict>
      <key>monster_1070_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{242,0},{283,203}}</string>
        <key>offset</key>
        <string>{-65,142}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{283,203}}</string>
        <key>sourceSize</key>
        <string>{283,203}</string>
      </dict>
      <key>monster_1070_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{499,279},{268,184}}</string>
        <key>offset</key>
        <string>{-103,153}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{268,184}}</string>
        <key>sourceSize</key>
        <string>{268,184}</string>
      </dict>
      <key>monster_1070_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{952,481},{254,137}}</string>
        <key>offset</key>
        <string>{-81,95}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{254,137}}</string>
        <key>sourceSize</key>
        <string>{254,137}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_1070_0_7.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>monster_1070_0_7.png</string>
    </dict>
  </dict>
</plist>