<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_1066_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{701,189},{196,177}}</string>
        <key>offset</key>
        <string>{-51,134}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,177}}</string>
        <key>sourceSize</key>
        <string>{196,177}</string>
      </dict>
      <key>monster_1066_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{348,0},{151,215}}</string>
        <key>offset</key>
        <string>{-25,122}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,215}}</string>
        <key>sourceSize</key>
        <string>{151,215}</string>
      </dict>
      <key>monster_1066_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{382,717},{212,172}}</string>
        <key>offset</key>
        <string>{-57,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{212,172}}</string>
        <key>sourceSize</key>
        <string>{212,172}</string>
      </dict>
      <key>monster_1066_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{206,494},{221,186}}</string>
        <key>offset</key>
        <string>{-79,110}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{221,186}}</string>
        <key>sourceSize</key>
        <string>{221,186}</string>
      </dict>
      <key>monster_1066_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{166,266},{226,175}}</string>
        <key>offset</key>
        <string>{-72,130}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{226,175}}</string>
        <key>sourceSize</key>
        <string>{226,175}</string>
      </dict>
      <key>monster_1066_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{264,165}}</string>
        <key>offset</key>
        <string>{-124,116}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{264,165}}</string>
        <key>sourceSize</key>
        <string>{264,165}</string>
      </dict>
      <key>monster_1066_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,717},{213,172}}</string>
        <key>offset</key>
        <string>{-71,129}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{213,172}}</string>
        <key>sourceSize</key>
        <string>{213,172}</string>
      </dict>
      <key>monster_1066_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{501,0},{215,198}}</string>
        <key>offset</key>
        <string>{-94,169}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{215,198}}</string>
        <key>sourceSize</key>
        <string>{215,198}</string>
      </dict>
      <key>monster_1066_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{527,217},{206,168}}</string>
        <key>offset</key>
        <string>{-58,129}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{206,168}}</string>
        <key>sourceSize</key>
        <string>{206,168}</string>
      </dict>
      <key>monster_1066_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,770},{232,206}}</string>
        <key>offset</key>
        <string>{-60,183}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{232,206}}</string>
        <key>sourceSize</key>
        <string>{232,206}</string>
      </dict>
      <key>monster_1066_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{394,446},{211,172}}</string>
        <key>offset</key>
        <string>{-49,125}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{211,172}}</string>
        <key>sourceSize</key>
        <string>{211,172}</string>
      </dict>
      <key>monster_1066_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,530},{238,204}}</string>
        <key>offset</key>
        <string>{-10,170}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{238,204}}</string>
        <key>sourceSize</key>
        <string>{238,204}</string>
      </dict>
      <key>monster_1066_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{167,0},{224,179}}</string>
        <key>offset</key>
        <string>{-41,134}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{224,179}}</string>
        <key>sourceSize</key>
        <string>{224,179}</string>
      </dict>
      <key>monster_1066_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,266},{262,164}}</string>
        <key>offset</key>
        <string>{-23,122}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{262,164}}</string>
        <key>sourceSize</key>
        <string>{262,164}</string>
      </dict>
      <key>monster_1066_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{343,226},{218,182}}</string>
        <key>offset</key>
        <string>{-54,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{218,182}}</string>
        <key>sourceSize</key>
        <string>{218,182}</string>
      </dict>
      <key>monster_1066_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{701,0},{199,187}}</string>
        <key>offset</key>
        <string>{-10,119}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{199,187}}</string>
        <key>sourceSize</key>
        <string>{199,187}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_1066_0_7.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>monster_1066_0_7.png</string>
    </dict>
  </dict>
</plist>