<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_20060_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{430,407},{137,132}}</string>
        <key>offset</key>
        <string>{-35,76}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,132}}</string>
        <key>sourceSize</key>
        <string>{137,132}</string>
      </dict>
      <key>monster_20060_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{141,629},{138,132}}</string>
        <key>offset</key>
        <string>{-37,77}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,132}}</string>
        <key>sourceSize</key>
        <string>{138,132}</string>
      </dict>
      <key>monster_20060_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,399},{140,134}}</string>
        <key>offset</key>
        <string>{-38,79}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,134}}</string>
        <key>sourceSize</key>
        <string>{140,134}</string>
      </dict>
      <key>monster_20060_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{289,380},{139,136}}</string>
        <key>offset</key>
        <string>{-35,80}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,136}}</string>
        <key>sourceSize</key>
        <string>{139,136}</string>
      </dict>
      <key>monster_20060_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{421,541},{137,136}}</string>
        <key>offset</key>
        <string>{-33,78}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,136}}</string>
        <key>sourceSize</key>
        <string>{137,136}</string>
      </dict>
      <key>monster_20060_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{560,542},{136,133}}</string>
        <key>offset</key>
        <string>{-33,76}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,133}}</string>
        <key>sourceSize</key>
        <string>{136,133}</string>
      </dict>
      <key>monster_20060_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{137,145}}</string>
        <key>offset</key>
        <string>{-42,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,145}}</string>
        <key>sourceSize</key>
        <string>{137,145}</string>
      </dict>
      <key>monster_20060_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{147,0},{140,144}}</string>
        <key>offset</key>
        <string>{-45,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,144}}</string>
        <key>sourceSize</key>
        <string>{140,144}</string>
      </dict>
      <key>monster_20060_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,139},{141,144}}</string>
        <key>offset</key>
        <string>{-44,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,144}}</string>
        <key>sourceSize</key>
        <string>{141,144}</string>
      </dict>
      <key>monster_20060_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{293,0},{140,144}}</string>
        <key>offset</key>
        <string>{-43,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,144}}</string>
        <key>sourceSize</key>
        <string>{140,144}</string>
      </dict>
      <key>monster_20060_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{439,0},{138,144}}</string>
        <key>offset</key>
        <string>{-41,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,144}}</string>
        <key>sourceSize</key>
        <string>{138,144}</string>
      </dict>
      <key>monster_20060_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{439,140},{136,144}}</string>
        <key>offset</key>
        <string>{-40,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,144}}</string>
        <key>sourceSize</key>
        <string>{136,144}</string>
      </dict>
      <key>monster_20060_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,282},{115,143}}</string>
        <key>offset</key>
        <string>{-34,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,143}}</string>
        <key>sourceSize</key>
        <string>{115,143}</string>
      </dict>
      <key>monster_20060_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{146,142},{114,144}}</string>
        <key>offset</key>
        <string>{-32,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{114,144}}</string>
        <key>sourceSize</key>
        <string>{114,144}</string>
      </dict>
      <key>monster_20060_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{292,142},{115,144}}</string>
        <key>offset</key>
        <string>{-32,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{115,144}}</string>
        <key>sourceSize</key>
        <string>{115,144}</string>
      </dict>
      <key>monster_20060_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{146,258},{118,144}}</string>
        <key>offset</key>
        <string>{-35,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,144}}</string>
        <key>sourceSize</key>
        <string>{118,144}</string>
      </dict>
      <key>monster_20060_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{292,259},{119,142}}</string>
        <key>offset</key>
        <string>{-38,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,142}}</string>
        <key>sourceSize</key>
        <string>{119,142}</string>
      </dict>
      <key>monster_20060_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{145,378},{118,142}}</string>
        <key>offset</key>
        <string>{-37,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,142}}</string>
        <key>sourceSize</key>
        <string>{118,142}</string>
      </dict>
      <key>monster_20060_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{142,498},{139,129}}</string>
        <key>offset</key>
        <string>{-45,74}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,129}}</string>
        <key>sourceSize</key>
        <string>{139,129}</string>
      </dict>
      <key>monster_20060_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{436,278},{140,127}}</string>
        <key>offset</key>
        <string>{-45,73}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{140,127}}</string>
        <key>sourceSize</key>
        <string>{140,127}</string>
      </dict>
      <key>monster_20060_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,535},{139,126}}</string>
        <key>offset</key>
        <string>{-42,73}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,126}}</string>
        <key>sourceSize</key>
        <string>{139,126}</string>
      </dict>
      <key>monster_20060_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{281,629},{138,128}}</string>
        <key>offset</key>
        <string>{-40,75}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,128}}</string>
        <key>sourceSize</key>
        <string>{138,128}</string>
      </dict>
      <key>monster_20060_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{585,0},{136,133}}</string>
        <key>offset</key>
        <string>{-39,77}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,133}}</string>
        <key>sourceSize</key>
        <string>{136,133}</string>
      </dict>
      <key>monster_20060_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{569,407},{137,133}}</string>
        <key>offset</key>
        <string>{-41,76}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,133}}</string>
        <key>sourceSize</key>
        <string>{137,133}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_20060_0_1_0.png</string>
      <key>size</key>
      <string>{776,768}</string>
      <key>textureFileName</key>
      <string>monster_20060_0_1_0.png</string>
    </dict>
  </dict>
</plist>