<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_1067_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1356,0},{193,187}}</string>
        <key>offset</key>
        <string>{-46,134}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{193,187}}</string>
        <key>sourceSize</key>
        <string>{193,187}</string>
      </dict>
      <key>monster_1067_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1265,616},{190,158}}</string>
        <key>offset</key>
        <string>{-92,113}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{190,158}}</string>
        <key>sourceSize</key>
        <string>{190,158}</string>
      </dict>
      <key>monster_1067_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1495,387},{183,184}}</string>
        <key>offset</key>
        <string>{-57,155}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{183,184}}</string>
        <key>sourceSize</key>
        <string>{183,184}</string>
      </dict>
      <key>monster_1067_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,258},{188,252}}</string>
        <key>offset</key>
        <string>{-40,224}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{188,252}}</string>
        <key>sourceSize</key>
        <string>{188,252}</string>
      </dict>
      <key>monster_1067_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1425,597},{182,186}}</string>
        <key>offset</key>
        <string>{-71,146}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{182,186}}</string>
        <key>sourceSize</key>
        <string>{182,186}</string>
      </dict>
      <key>monster_1067_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1340,405},{153,190}}</string>
        <key>offset</key>
        <string>{-26,138}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,190}}</string>
        <key>sourceSize</key>
        <string>{153,190}</string>
      </dict>
      <key>monster_1067_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1078,835},{199,179}}</string>
        <key>offset</key>
        <string>{-74,131}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{199,179}}</string>
        <key>sourceSize</key>
        <string>{199,179}</string>
      </dict>
      <key>monster_1067_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{360,728},{223,155}}</string>
        <key>offset</key>
        <string>{-117,104}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{223,155}}</string>
        <key>sourceSize</key>
        <string>{223,155}</string>
      </dict>
      <key>monster_1067_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1445,785},{172,180}}</string>
        <key>offset</key>
        <string>{-59,153}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{172,180}}</string>
        <key>sourceSize</key>
        <string>{172,180}</string>
      </dict>
      <key>monster_1067_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,512},{219,242}}</string>
        <key>offset</key>
        <string>{-33,204}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{219,242}}</string>
        <key>sourceSize</key>
        <string>{219,242}</string>
      </dict>
      <key>monster_1067_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1602,189},{174,184}}</string>
        <key>offset</key>
        <string>{-34,134}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{174,184}}</string>
        <key>sourceSize</key>
        <string>{174,184}</string>
      </dict>
      <key>monster_1067_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{692,219},{214,190}}</string>
        <key>offset</key>
        <string>{-48,130}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{214,190}}</string>
        <key>sourceSize</key>
        <string>{214,190}</string>
      </dict>
      <key>monster_1067_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{913,649},{207,163}}</string>
        <key>offset</key>
        <string>{-74,118}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{207,163}}</string>
        <key>sourceSize</key>
        <string>{207,163}</string>
      </dict>
      <key>monster_1067_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1545,0},{172,187}}</string>
        <key>offset</key>
        <string>{-79,141}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{172,187}}</string>
        <key>sourceSize</key>
        <string>{172,187}</string>
      </dict>
      <key>monster_1067_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1084,210},{202,176}}</string>
        <key>offset</key>
        <string>{-73,153}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{202,176}}</string>
        <key>sourceSize</key>
        <string>{202,176}</string>
      </dict>
      <key>monster_1067_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{546,452},{215,199}}</string>
        <key>offset</key>
        <string>{-30,165}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{215,199}}</string>
        <key>sourceSize</key>
        <string>{215,199}</string>
      </dict>
      <key>monster_1067_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{163,0},{247,156}}</string>
        <key>offset</key>
        <string>{-57,110}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{247,156}}</string>
        <key>sourceSize</key>
        <string>{247,156}</string>
      </dict>
      <key>monster_1067_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{387,471},{222,157}}</string>
        <key>offset</key>
        <string>{-69,111}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{222,157}}</string>
        <key>sourceSize</key>
        <string>{222,157}</string>
      </dict>
      <key>monster_1067_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1879,0},{171,165}}</string>
        <key>offset</key>
        <string>{-62,126}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{171,165}}</string>
        <key>sourceSize</key>
        <string>{171,165}</string>
      </dict>
      <key>monster_1067_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1209,0},{145,202}}</string>
        <key>offset</key>
        <string>{-37,163}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,202}}</string>
        <key>sourceSize</key>
        <string>{145,202}</string>
      </dict>
      <key>monster_1067_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{957,426},{181,204}}</string>
        <key>offset</key>
        <string>{-30,188}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{181,204}}</string>
        <key>sourceSize</key>
        <string>{181,204}</string>
      </dict>
      <key>monster_1067_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1279,808},{187,164}}</string>
        <key>offset</key>
        <string>{-52,137}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{187,164}}</string>
        <key>sourceSize</key>
        <string>{187,164}</string>
      </dict>
      <key>monster_1067_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,249},{242,135}}</string>
        <key>offset</key>
        <string>{-59,96}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{242,135}}</string>
        <key>sourceSize</key>
        <string>{242,135}</string>
      </dict>
      <key>monster_1067_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1680,375},{176,169}}</string>
        <key>offset</key>
        <string>{-68,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,169}}</string>
        <key>sourceSize</key>
        <string>{176,169}</string>
      </dict>
      <key>monster_1067_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{845,0},{159,214}}</string>
        <key>offset</key>
        <string>{-55,156}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,214}}</string>
        <key>sourceSize</key>
        <string>{159,214}</string>
      </dict>
      <key>monster_1067_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{517,695},{206,216}}</string>
        <key>offset</key>
        <string>{-25,158}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{206,216}}</string>
        <key>sourceSize</key>
        <string>{206,216}</string>
      </dict>
      <key>monster_1067_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,756},{163,234}}</string>
        <key>offset</key>
        <string>{-33,199}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,234}}</string>
        <key>sourceSize</key>
        <string>{163,234}</string>
      </dict>
      <key>monster_1067_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1719,0},{158,181}}</string>
        <key>offset</key>
        <string>{-47,135}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{158,181}}</string>
        <key>sourceSize</key>
        <string>{158,181}</string>
      </dict>
      <key>monster_1067_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1609,573},{177,175}}</string>
        <key>offset</key>
        <string>{-58,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{177,175}}</string>
        <key>sourceSize</key>
        <string>{177,175}</string>
      </dict>
      <key>monster_1067_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1851,360},{141,171}}</string>
        <key>offset</key>
        <string>{-52,90}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,171}}</string>
        <key>sourceSize</key>
        <string>{141,171}</string>
      </dict>
      <key>monster_1067_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{165,756},{193,233}}</string>
        <key>offset</key>
        <string>{-52,177}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{193,233}}</string>
        <key>sourceSize</key>
        <string>{193,233}</string>
      </dict>
      <key>monster_1067_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{725,669},{214,186}}</string>
        <key>offset</key>
        <string>{-29,130}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{214,186}}</string>
        <key>sourceSize</key>
        <string>{214,186}</string>
      </dict>
      <key>monster_1067_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{497,228},{193,222}}</string>
        <key>offset</key>
        <string>{-19,189}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{193,222}}</string>
        <key>sourceSize</key>
        <string>{193,222}</string>
      </dict>
      <key>monster_1067_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1078,632},{185,201}}</string>
        <key>offset</key>
        <string>{-83,157}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{185,201}}</string>
        <key>sourceSize</key>
        <string>{185,201}</string>
      </dict>
      <key>monster_1067_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1778,183},{171,175}}</string>
        <key>offset</key>
        <string>{-61,82}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{171,175}}</string>
        <key>sourceSize</key>
        <string>{171,175}</string>
      </dict>
      <key>monster_1067_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{677,0},{217,166}}</string>
        <key>offset</key>
        <string>{-99,110}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{217,166}}</string>
        <key>sourceSize</key>
        <string>{217,166}</string>
      </dict>
      <key>monster_1067_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{474,0},{201,226}}</string>
        <key>offset</key>
        <string>{-53,175}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{201,226}}</string>
        <key>sourceSize</key>
        <string>{201,226}</string>
      </dict>
      <key>monster_1067_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1262,204},{199,187}}</string>
        <key>offset</key>
        <string>{-48,107}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{199,187}}</string>
        <key>sourceSize</key>
        <string>{199,187}</string>
      </dict>
      <key>monster_1067_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{747,435},{212,208}}</string>
        <key>offset</key>
        <string>{-43,184}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{212,208}}</string>
        <key>sourceSize</key>
        <string>{212,208}</string>
      </dict>
      <key>monster_1067_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{884,216},{198,208}}</string>
        <key>offset</key>
        <string>{-99,186}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{198,208}}</string>
        <key>sourceSize</key>
        <string>{198,208}</string>
      </dict>
      <key>monster_1067_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{321,0},{236,151}}</string>
        <key>offset</key>
        <string>{-116,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{236,151}}</string>
        <key>sourceSize</key>
        <string>{236,151}</string>
      </dict>
      <key>monster_1067_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{221,493},{233,164}}</string>
        <key>offset</key>
        <string>{-105,130}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{233,164}}</string>
        <key>sourceSize</key>
        <string>{233,164}</string>
      </dict>
      <key>monster_1067_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1006,0},{201,208}}</string>
        <key>offset</key>
        <string>{-41,150}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{201,208}}</string>
        <key>sourceSize</key>
        <string>{201,208}</string>
      </dict>
      <key>monster_1067_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1451,195},{149,190}}</string>
        <key>offset</key>
        <string>{-52,111}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{149,190}}</string>
        <key>sourceSize</key>
        <string>{149,190}</string>
      </dict>
      <key>monster_1067_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1140,414},{198,200}}</string>
        <key>offset</key>
        <string>{-63,169}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{198,200}}</string>
        <key>sourceSize</key>
        <string>{198,200}</string>
      </dict>
      <key>monster_1067_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{327,238},{168,231}}</string>
        <key>offset</key>
        <string>{-49,214}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{168,231}}</string>
        <key>sourceSize</key>
        <string>{168,231}</string>
      </dict>
      <key>monster_1067_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{256,161}}</string>
        <key>offset</key>
        <string>{-133,133}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{256,161}}</string>
        <key>sourceSize</key>
        <string>{256,161}</string>
      </dict>
      <key>monster_1067_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1851,503},{167,171}}</string>
        <key>offset</key>
        <string>{-42,139}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,171}}</string>
        <key>sourceSize</key>
        <string>{167,171}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_1067_0_2.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>monster_1067_0_2.png</string>
    </dict>
  </dict>
</plist>