<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_1050_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{610,0},{358,310}}</string>
        <key>offset</key>
        <string>{-104,243}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{358,310}}</string>
        <key>sourceSize</key>
        <string>{358,310}</string>
      </dict>
      <key>monster_1050_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1574,657},{333,309}}</string>
        <key>offset</key>
        <string>{-114,259}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{333,309}}</string>
        <key>sourceSize</key>
        <string>{333,309}</string>
      </dict>
      <key>monster_1050_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{324,1458},{352,316}}</string>
        <key>offset</key>
        <string>{-116,257}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{352,316}}</string>
        <key>sourceSize</key>
        <string>{352,316}</string>
      </dict>
      <key>monster_1050_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{902,1102},{349,300}}</string>
        <key>offset</key>
        <string>{-96,248}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{349,300}}</string>
        <key>sourceSize</key>
        <string>{349,300}</string>
      </dict>
      <key>monster_1050_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1146},{372,307}}</string>
        <key>offset</key>
        <string>{-100,264}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{372,307}}</string>
        <key>sourceSize</key>
        <string>{372,307}</string>
      </dict>
      <key>monster_1050_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{308,748},{353,308}}</string>
        <key>offset</key>
        <string>{-87,262}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{353,308}}</string>
        <key>sourceSize</key>
        <string>{353,308}</string>
      </dict>
      <key>monster_1050_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{949,353},{346,321}}</string>
        <key>offset</key>
        <string>{-150,258}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{346,321}}</string>
        <key>sourceSize</key>
        <string>{346,321}</string>
      </dict>
      <key>monster_1050_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1552,0},{342,326}}</string>
        <key>offset</key>
        <string>{-115,261}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{342,326}}</string>
        <key>sourceSize</key>
        <string>{342,326}</string>
      </dict>
      <key>monster_1050_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1520},{363,322}}</string>
        <key>offset</key>
        <string>{-113,259}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{363,322}}</string>
        <key>sourceSize</key>
        <string>{363,322}</string>
      </dict>
      <key>monster_1050_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,384},{379,306}}</string>
        <key>offset</key>
        <string>{-118,243}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{379,306}}</string>
        <key>sourceSize</key>
        <string>{379,306}</string>
      </dict>
      <key>monster_1050_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{308,384},{362,323}}</string>
        <key>offset</key>
        <string>{-116,275}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{362,323}}</string>
        <key>sourceSize</key>
        <string>{362,323}</string>
      </dict>
      <key>monster_1050_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1204,1064},{339,320}}</string>
        <key>offset</key>
        <string>{-125,275}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{339,320}}</string>
        <key>sourceSize</key>
        <string>{339,320}</string>
      </dict>
      <key>monster_1050_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{958,1453},{340,309}}</string>
        <key>offset</key>
        <string>{-142,235}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{340,309}}</string>
        <key>sourceSize</key>
        <string>{340,309}</string>
      </dict>
      <key>monster_1050_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1222,0},{328,344}}</string>
        <key>offset</key>
        <string>{-140,261}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{328,344}}</string>
        <key>sourceSize</key>
        <string>{328,344}</string>
      </dict>
      <key>monster_1050_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1552,328},{327,341}}</string>
        <key>offset</key>
        <string>{-128,265}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{327,341}}</string>
        <key>sourceSize</key>
        <string>{327,341}</string>
      </dict>
      <key>monster_1050_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1257,701},{335,315}}</string>
        <key>offset</key>
        <string>{-130,263}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{335,315}}</string>
        <key>sourceSize</key>
        <string>{335,315}</string>
      </dict>
      <key>monster_1050_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{309,0},{359,299}}</string>
        <key>offset</key>
        <string>{-155,228}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{359,299}}</string>
        <key>sourceSize</key>
        <string>{359,299}</string>
      </dict>
      <key>monster_1050_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1269,1552},{322,327}}</string>
        <key>offset</key>
        <string>{-134,254}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{322,327}}</string>
        <key>sourceSize</key>
        <string>{322,327}</string>
      </dict>
      <key>monster_1050_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1593,1552},{305,326}}</string>
        <key>offset</key>
        <string>{-111,253}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{305,326}}</string>
        <key>sourceSize</key>
        <string>{305,326}</string>
      </dict>
      <key>monster_1050_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1526,1257},{332,293}}</string>
        <key>offset</key>
        <string>{-120,243}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{332,293}}</string>
        <key>sourceSize</key>
        <string>{332,293}</string>
      </dict>
      <key>monster_1050_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{613,1103},{352,287}}</string>
        <key>offset</key>
        <string>{-137,239}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{352,287}}</string>
        <key>sourceSize</key>
        <string>{352,287}</string>
      </dict>
      <key>monster_1050_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1574,968},{333,287}}</string>
        <key>offset</key>
        <string>{-169,233}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{333,287}}</string>
        <key>sourceSize</key>
        <string>{333,287}</string>
      </dict>
      <key>monster_1050_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,765},{379,306}}</string>
        <key>offset</key>
        <string>{-179,247}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{379,306}}</string>
        <key>sourceSize</key>
        <string>{379,306}</string>
      </dict>
      <key>monster_1050_0_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{309,1103},{353,302}}</string>
        <key>offset</key>
        <string>{-173,249}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{353,302}}</string>
        <key>sourceSize</key>
        <string>{353,302}</string>
      </dict>
      <key>monster_1050_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{922,0},{351,298}}</string>
        <key>offset</key>
        <string>{-130,235}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{351,298}}</string>
        <key>sourceSize</key>
        <string>{351,298}</string>
      </dict>
      <key>monster_1050_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{618,748},{352,318}}</string>
        <key>offset</key>
        <string>{-156,271}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{352,318}}</string>
        <key>sourceSize</key>
        <string>{352,318}</string>
      </dict>
      <key>monster_1050_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{642,1457},{351,314}}</string>
        <key>offset</key>
        <string>{-182,268}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{351,314}}</string>
        <key>sourceSize</key>
        <string>{351,314}</string>
      </dict>
      <key>monster_1050_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{382,307}}</string>
        <key>offset</key>
        <string>{-202,244}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{382,307}}</string>
        <key>sourceSize</key>
        <string>{382,307}</string>
      </dict>
      <key>monster_1050_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{938,714},{348,317}}</string>
        <key>offset</key>
        <string>{-188,254}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{348,317}}</string>
        <key>sourceSize</key>
        <string>{348,317}</string>
      </dict>
      <key>monster_1050_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{633,360},{352,314}}</string>
        <key>offset</key>
        <string>{-161,251}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{352,314}}</string>
        <key>sourceSize</key>
        <string>{352,314}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_1050_0_1_0.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_1050_0_1_0.png</string>
    </dict>
  </dict>
</plist>