<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_20077_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1156,1419},{255,298}}</string>
        <key>offset</key>
        <string>{-135,226}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{255,298}}</string>
        <key>sourceSize</key>
        <string>{255,298}</string>
      </dict>
      <key>monster_20077_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1156,1116},{336,301}}</string>
        <key>offset</key>
        <string>{-232,256}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{336,301}}</string>
        <key>sourceSize</key>
        <string>{336,301}</string>
      </dict>
      <key>monster_20077_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{866,1116},{288,408}}</string>
        <key>offset</key>
        <string>{-217,375}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{288,408}}</string>
        <key>sourceSize</key>
        <string>{288,408}</string>
      </dict>
      <key>monster_20077_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{368,0},{334,490}}</string>
        <key>offset</key>
        <string>{-120,469}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{334,490}}</string>
        <key>sourceSize</key>
        <string>{334,490}</string>
      </dict>
      <key>monster_20077_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{480,956},{384,439}}</string>
        <key>offset</key>
        <string>{-274,382}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{384,439}}</string>
        <key>sourceSize</key>
        <string>{384,439}</string>
      </dict>
      <key>monster_20077_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{556,366}}</string>
        <key>offset</key>
        <string>{-291,197}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{556,366}}</string>
        <key>sourceSize</key>
        <string>{556,366}</string>
      </dict>
      <key>monster_20077_0_2_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{379,492},{462,332}}</string>
        <key>offset</key>
        <string>{-244,191}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{462,332}}</string>
        <key>sourceSize</key>
        <string>{462,332}</string>
      </dict>
      <key>monster_20077_0_2_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{704,0},{456,335}}</string>
        <key>offset</key>
        <string>{-249,202}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{456,335}}</string>
        <key>sourceSize</key>
        <string>{456,335}</string>
      </dict>
      <key>monster_20077_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1456,1419},{230,298}}</string>
        <key>offset</key>
        <string>{-124,237}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{230,298}}</string>
        <key>sourceSize</key>
        <string>{230,298}</string>
      </dict>
      <key>monster_20077_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1428,770},{208,316}}</string>
        <key>offset</key>
        <string>{-87,265}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{208,316}}</string>
        <key>sourceSize</key>
        <string>{208,316}</string>
      </dict>
      <key>monster_20077_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{713,458},{282,430}}</string>
        <key>offset</key>
        <string>{-97,391}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{282,430}}</string>
        <key>sourceSize</key>
        <string>{282,430}</string>
      </dict>
      <key>monster_20077_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1041,0},{412,453}}</string>
        <key>offset</key>
        <string>{-110,428}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{412,453}}</string>
        <key>sourceSize</key>
        <string>{412,453}</string>
      </dict>
      <key>monster_20077_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{997,770},{344,429}}</string>
        <key>offset</key>
        <string>{-154,368}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{344,429}}</string>
        <key>sourceSize</key>
        <string>{344,429}</string>
      </dict>
      <key>monster_20077_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,558},{527,377}}</string>
        <key>offset</key>
        <string>{-376,221}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{527,377}}</string>
        <key>sourceSize</key>
        <string>{527,377}</string>
      </dict>
      <key>monster_20077_0_2_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1087},{478,381}}</string>
        <key>offset</key>
        <string>{-325,237}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{478,381}}</string>
        <key>sourceSize</key>
        <string>{478,381}</string>
      </dict>
      <key>monster_20077_0_2_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1041,414},{453,354}}</string>
        <key>offset</key>
        <string>{-312,209}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{453,354}}</string>
        <key>sourceSize</key>
        <string>{453,354}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_20077_0_2_2.png</string>
      <key>size</key>
      <string>{1767,1685}</string>
      <key>textureFileName</key>
      <string>monster_20077_0_2_2.png</string>
    </dict>
  </dict>
</plist>