<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_20043_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1315,1258},{253,276}}</string>
        <key>offset</key>
        <string>{-115,123}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{253,276}}</string>
        <key>sourceSize</key>
        <string>{253,276}</string>
      </dict>
      <key>monster_20043_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1001,1160},{312,370}}</string>
        <key>offset</key>
        <string>{-100,202}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{312,370}}</string>
        <key>sourceSize</key>
        <string>{312,370}</string>
      </dict>
      <key>monster_20043_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{762,397},{220,384}}</string>
        <key>offset</key>
        <string>{-82,195}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{220,384}}</string>
        <key>sourceSize</key>
        <string>{220,384}</string>
      </dict>
      <key>monster_20043_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1449,0},{321,335}}</string>
        <key>offset</key>
        <string>{-116,130}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{321,335}}</string>
        <key>sourceSize</key>
        <string>{321,335}</string>
      </dict>
      <key>monster_20043_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1360},{297,296}}</string>
        <key>offset</key>
        <string>{-148,121}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{297,296}}</string>
        <key>sourceSize</key>
        <string>{297,296}</string>
      </dict>
      <key>monster_20043_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1315,959},{297,298}}</string>
        <key>offset</key>
        <string>{-151,142}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{297,298}}</string>
        <key>sourceSize</key>
        <string>{297,298}</string>
      </dict>
      <key>monster_20043_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{984,385},{358,264}}</string>
        <key>offset</key>
        <string>{-157,131}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{358,264}}</string>
        <key>sourceSize</key>
        <string>{358,264}</string>
      </dict>
      <key>monster_20043_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{498,0},{395,317}}</string>
        <key>offset</key>
        <string>{-151,174}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{395,317}}</string>
        <key>sourceSize</key>
        <string>{395,317}</string>
      </dict>
      <key>monster_20043_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{817,0},{383,340}}</string>
        <key>offset</key>
        <string>{-155,182}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{383,340}}</string>
        <key>sourceSize</key>
        <string>{383,340}</string>
      </dict>
      <key>monster_20043_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1159,0},{352,288}}</string>
        <key>offset</key>
        <string>{-175,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{352,288}}</string>
        <key>sourceSize</key>
        <string>{352,288}</string>
      </dict>
      <key>monster_20043_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,466},{452,233}}</string>
        <key>offset</key>
        <string>{-166,100}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{452,233}}</string>
        <key>sourceSize</key>
        <string>{452,233}</string>
      </dict>
      <key>monster_20043_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{242,0},{425,254}}</string>
        <key>offset</key>
        <string>{-165,124}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{425,254}}</string>
        <key>sourceSize</key>
        <string>{425,254}</string>
      </dict>
      <key>monster_20043_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{616,1218},{383,241}}</string>
        <key>offset</key>
        <string>{-166,107}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{383,241}}</string>
        <key>sourceSize</key>
        <string>{383,241}</string>
      </dict>
      <key>monster_20043_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{354,900},{424,260}}</string>
        <key>offset</key>
        <string>{-173,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{424,260}}</string>
        <key>sourceSize</key>
        <string>{424,260}</string>
      </dict>
      <key>monster_20043_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,920},{438,352}}</string>
        <key>offset</key>
        <string>{-177,214}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{438,352}}</string>
        <key>sourceSize</key>
        <string>{438,352}</string>
      </dict>
      <key>monster_20043_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{485,427},{402,275}}</string>
        <key>offset</key>
        <string>{-173,138}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{402,275}}</string>
        <key>sourceSize</key>
        <string>{402,275}</string>
      </dict>
      <key>monster_20043_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{464,240}}</string>
        <key>offset</key>
        <string>{-141,106}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{464,240}}</string>
        <key>sourceSize</key>
        <string>{464,240}</string>
      </dict>
      <key>monster_20043_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{235,466},{432,248}}</string>
        <key>offset</key>
        <string>{-152,116}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{432,248}}</string>
        <key>sourceSize</key>
        <string>{432,248}</string>
      </dict>
      <key>monster_20043_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1488,642},{315,249}}</string>
        <key>offset</key>
        <string>{-83,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{315,249}}</string>
        <key>sourceSize</key>
        <string>{315,249}</string>
      </dict>
      <key>monster_20043_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1250,354},{350,236}}</string>
        <key>offset</key>
        <string>{-101,111}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{350,236}}</string>
        <key>sourceSize</key>
        <string>{350,236}</string>
      </dict>
      <key>monster_20043_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{616,831},{335,385}}</string>
        <key>offset</key>
        <string>{-123,264}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{335,385}}</string>
        <key>sourceSize</key>
        <string>{335,385}</string>
      </dict>
      <key>monster_20043_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{953,783},{375,310}}</string>
        <key>offset</key>
        <string>{-165,189}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{375,310}}</string>
        <key>sourceSize</key>
        <string>{375,310}</string>
      </dict>
      <key>monster_20043_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1488,323},{292,317}}</string>
        <key>offset</key>
        <string>{-54,99}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{292,317}}</string>
        <key>sourceSize</key>
        <string>{292,317}</string>
      </dict>
      <key>monster_20043_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{354,1326},{290,250}}</string>
        <key>offset</key>
        <string>{-55,80}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{290,250}}</string>
        <key>sourceSize</key>
        <string>{290,250}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_20043_0_2_0.png</string>
      <key>size</key>
      <string>{1792,1684}</string>
      <key>textureFileName</key>
      <string>monster_20043_0_2_0.png</string>
    </dict>
  </dict>
</plist>