<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_20055_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{497,777},{185,163}}</string>
        <key>offset</key>
        <string>{-39,86}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{185,163}}</string>
        <key>sourceSize</key>
        <string>{185,163}</string>
      </dict>
      <key>monster_20055_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1094,720},{184,172}}</string>
        <key>offset</key>
        <string>{-37,105}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{184,172}}</string>
        <key>sourceSize</key>
        <string>{184,172}</string>
      </dict>
      <key>monster_20055_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{815,0},{223,173}}</string>
        <key>offset</key>
        <string>{-88,122}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{223,173}}</string>
        <key>sourceSize</key>
        <string>{223,173}</string>
      </dict>
      <key>monster_20055_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{881,436},{207,183}}</string>
        <key>offset</key>
        <string>{-60,134}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{207,183}}</string>
        <key>sourceSize</key>
        <string>{207,183}</string>
      </dict>
      <key>monster_20055_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{688,718},{210,175}}</string>
        <key>offset</key>
        <string>{-60,129}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{210,175}}</string>
        <key>sourceSize</key>
        <string>{210,175}</string>
      </dict>
      <key>monster_20055_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{654,259},{239,167}}</string>
        <key>offset</key>
        <string>{-83,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{239,167}}</string>
        <key>sourceSize</key>
        <string>{239,167}</string>
      </dict>
      <key>monster_20055_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{823,225},{209,139}}</string>
        <key>offset</key>
        <string>{-67,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{209,139}}</string>
        <key>sourceSize</key>
        <string>{209,139}</string>
      </dict>
      <key>monster_20055_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1066,371},{207,165}}</string>
        <key>offset</key>
        <string>{-64,88}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{207,165}}</string>
        <key>sourceSize</key>
        <string>{207,165}</string>
      </dict>
      <key>monster_20055_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{688,500},{216,191}}</string>
        <key>offset</key>
        <string>{-73,119}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{216,191}}</string>
        <key>sourceSize</key>
        <string>{216,191}</string>
      </dict>
      <key>monster_20055_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{464,271},{258,188}}</string>
        <key>offset</key>
        <string>{-54,123}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{258,188}}</string>
        <key>sourceSize</key>
        <string>{258,188}</string>
      </dict>
      <key>monster_20055_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{474,0},{257,182}}</string>
        <key>offset</key>
        <string>{-53,115}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{257,182}}</string>
        <key>sourceSize</key>
        <string>{257,182}</string>
      </dict>
      <key>monster_20055_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{497,531},{244,189}}</string>
        <key>offset</key>
        <string>{-16,122}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{244,189}}</string>
        <key>sourceSize</key>
        <string>{244,189}</string>
      </dict>
      <key>monster_20055_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{990,219},{221,150}}</string>
        <key>offset</key>
        <string>{-90,86}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{221,150}}</string>
        <key>sourceSize</key>
        <string>{221,150}</string>
      </dict>
      <key>monster_20055_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{658,0},{226,155}}</string>
        <key>offset</key>
        <string>{-82,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{226,155}}</string>
        <key>sourceSize</key>
        <string>{226,155}</string>
      </dict>
      <key>monster_20055_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1066,538},{180,206}}</string>
        <key>offset</key>
        <string>{-57,138}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,206}}</string>
        <key>sourceSize</key>
        <string>{180,206}</string>
      </dict>
      <key>monster_20055_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,300},{286,191}}</string>
        <key>offset</key>
        <string>{-64,105}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{286,191}}</string>
        <key>sourceSize</key>
        <string>{286,191}</string>
      </dict>
      <key>monster_20055_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{275,572},{262,220}}</string>
        <key>offset</key>
        <string>{-40,134}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{262,220}}</string>
        <key>sourceSize</key>
        <string>{262,220}</string>
      </dict>
      <key>monster_20055_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{248,0},{269,224}}</string>
        <key>offset</key>
        <string>{-28,123}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{269,224}}</string>
        <key>sourceSize</key>
        <string>{269,224}</string>
      </dict>
      <key>monster_20055_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{684,895},{169,169}}</string>
        <key>offset</key>
        <string>{-70,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{169,169}}</string>
        <key>sourceSize</key>
        <string>{169,169}</string>
      </dict>
      <key>monster_20055_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{900,720},{201,192}}</string>
        <key>offset</key>
        <string>{-84,119}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{201,192}}</string>
        <key>sourceSize</key>
        <string>{201,192}</string>
      </dict>
      <key>monster_20055_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{990,0},{222,217}}</string>
        <key>offset</key>
        <string>{-88,139}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{222,217}}</string>
        <key>sourceSize</key>
        <string>{222,217}</string>
      </dict>
      <key>monster_20055_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{193,300},{269,270}}</string>
        <key>offset</key>
        <string>{-72,129}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{269,270}}</string>
        <key>sourceSize</key>
        <string>{269,270}</string>
      </dict>
      <key>monster_20055_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,588},{274,273}}</string>
        <key>offset</key>
        <string>{-77,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{274,273}}</string>
        <key>sourceSize</key>
        <string>{274,273}</string>
      </dict>
      <key>monster_20055_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{298,246}}</string>
        <key>offset</key>
        <string>{-76,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{298,246}}</string>
        <key>sourceSize</key>
        <string>{298,246}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_20055_0_2_0.png</string>
      <key>size</key>
      <string>{1280,1076}</string>
      <key>textureFileName</key>
      <string>monster_20055_0_2_0.png</string>
    </dict>
  </dict>
</plist>