<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_20033_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{895,0},{316,290}}</string>
        <key>offset</key>
        <string>{-176,232}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{316,290}}</string>
        <key>sourceSize</key>
        <string>{316,290}</string>
      </dict>
      <key>monster_20033_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{484,991},{283,292}}</string>
        <key>offset</key>
        <string>{-128,233}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{283,292}}</string>
        <key>sourceSize</key>
        <string>{283,292}</string>
      </dict>
      <key>monster_20033_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{484,778},{211,354}}</string>
        <key>offset</key>
        <string>{-46,296}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{211,354}}</string>
        <key>sourceSize</key>
        <string>{211,354}</string>
      </dict>
      <key>monster_20033_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{285,778},{197,481}}</string>
        <key>offset</key>
        <string>{-49,427}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{197,481}}</string>
        <key>sourceSize</key>
        <string>{197,481}</string>
      </dict>
      <key>monster_20033_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{265,588}}</string>
        <key>offset</key>
        <string>{-124,237}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{265,588}}</string>
        <key>sourceSize</key>
        <string>{265,588}</string>
      </dict>
      <key>monster_20033_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,778},{283,497}}</string>
        <key>offset</key>
        <string>{-124,143}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{283,497}}</string>
        <key>sourceSize</key>
        <string>{283,497}</string>
      </dict>
      <key>monster_20033_0_2_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{586,267},{307,509}}</string>
        <key>offset</key>
        <string>{-128,143}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{307,509}}</string>
        <key>sourceSize</key>
        <string>{307,509}</string>
      </dict>
      <key>monster_20033_0_2_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,267},{476,584}}</string>
        <key>offset</key>
        <string>{-297,207}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{476,584}}</string>
        <key>sourceSize</key>
        <string>{476,584}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_20033_0_2_4.png</string>
      <key>size</key>
      <string>{1212,1280}</string>
      <key>textureFileName</key>
      <string>monster_20033_0_2_4.png</string>
    </dict>
  </dict>
</plist>