<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_40030_0_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1011,0},{107,111}}</string>
        <key>offset</key>
        <string>{-12,89}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,111}}</string>
        <key>sourceSize</key>
        <string>{107,111}</string>
      </dict>
      <key>monster_40030_0_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{546,614},{138,85}}</string>
        <key>offset</key>
        <string>{-38,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,85}}</string>
        <key>sourceSize</key>
        <string>{138,85}</string>
      </dict>
      <key>monster_40030_0_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{204,87}}</string>
        <key>offset</key>
        <string>{-50,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{204,87}}</string>
        <key>sourceSize</key>
        <string>{204,87}</string>
      </dict>
      <key>monster_40030_0_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{631,454},{138,112}}</string>
        <key>offset</key>
        <string>{-44,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,112}}</string>
        <key>sourceSize</key>
        <string>{138,112}</string>
      </dict>
      <key>monster_40030_0_4_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{696,294},{138,112}}</string>
        <key>offset</key>
        <string>{-44,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,112}}</string>
        <key>sourceSize</key>
        <string>{138,112}</string>
      </dict>
      <key>monster_40030_0_4_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{698,145},{138,112}}</string>
        <key>offset</key>
        <string>{-44,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,112}}</string>
        <key>sourceSize</key>
        <string>{138,112}</string>
      </dict>
      <key>monster_40030_0_4_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{699,0},{138,112}}</string>
        <key>offset</key>
        <string>{-44,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,112}}</string>
        <key>sourceSize</key>
        <string>{138,112}</string>
      </dict>
      <key>monster_40030_0_4_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{547,754},{138,112}}</string>
        <key>offset</key>
        <string>{-44,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,112}}</string>
        <key>sourceSize</key>
        <string>{138,112}</string>
      </dict>
      <key>monster_40030_0_4_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{581,894},{138,112}}</string>
        <key>offset</key>
        <string>{-44,85}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,112}}</string>
        <key>sourceSize</key>
        <string>{138,112}</string>
      </dict>
      <key>monster_40030_0_4_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{633,594},{138,112}}</string>
        <key>offset</key>
        <string>{-44,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,112}}</string>
        <key>sourceSize</key>
        <string>{138,112}</string>
      </dict>
      <key>monster_40030_0_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{721,874},{135,87}}</string>
        <key>offset</key>
        <string>{-9,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,87}}</string>
        <key>sourceSize</key>
        <string>{135,87}</string>
      </dict>
      <key>monster_40030_0_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1120,0},{97,86}}</string>
        <key>offset</key>
        <string>{-28,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,86}}</string>
        <key>sourceSize</key>
        <string>{97,86}</string>
      </dict>
      <key>monster_40030_0_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{163,167},{159,84}}</string>
        <key>offset</key>
        <string>{-31,59}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,84}}</string>
        <key>sourceSize</key>
        <string>{159,84}</string>
      </dict>
      <key>monster_40030_0_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{245,489},{158,87}}</string>
        <key>offset</key>
        <string>{1,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{158,87}}</string>
        <key>sourceSize</key>
        <string>{158,87}</string>
      </dict>
      <key>monster_40030_0_4_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{247,328},{158,87}}</string>
        <key>offset</key>
        <string>{1,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{158,87}}</string>
        <key>sourceSize</key>
        <string>{158,87}</string>
      </dict>
      <key>monster_40030_0_4_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{249,161},{158,87}}</string>
        <key>offset</key>
        <string>{1,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{158,87}}</string>
        <key>sourceSize</key>
        <string>{158,87}</string>
      </dict>
      <key>monster_40030_0_4_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{253,0},{158,87}}</string>
        <key>offset</key>
        <string>{1,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{158,87}}</string>
        <key>sourceSize</key>
        <string>{158,87}</string>
      </dict>
      <key>monster_40030_0_4_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{245,649},{158,87}}</string>
        <key>offset</key>
        <string>{1,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{158,87}}</string>
        <key>sourceSize</key>
        <string>{158,87}</string>
      </dict>
      <key>monster_40030_0_4_1_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{248,809},{158,87}}</string>
        <key>offset</key>
        <string>{1,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{158,87}}</string>
        <key>sourceSize</key>
        <string>{158,87}</string>
      </dict>
      <key>monster_40030_0_4_1_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{334,488},{158,87}}</string>
        <key>offset</key>
        <string>{1,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{158,87}}</string>
        <key>sourceSize</key>
        <string>{158,87}</string>
      </dict>
      <key>monster_40030_0_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1111,299},{116,98}}</string>
        <key>offset</key>
        <string>{-10,67}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,98}}</string>
        <key>sourceSize</key>
        <string>{116,98}</string>
      </dict>
      <key>monster_40030_0_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1010,118},{81,108}}</string>
        <key>offset</key>
        <string>{-26,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,108}}</string>
        <key>sourceSize</key>
        <string>{81,108}</string>
      </dict>
      <key>monster_40030_0_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{813,118},{62,121}}</string>
        <key>offset</key>
        <string>{0,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{62,121}}</string>
        <key>sourceSize</key>
        <string>{62,121}</string>
      </dict>
      <key>monster_40030_0_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{334,648},{158,74}}</string>
        <key>offset</key>
        <string>{9,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{158,74}}</string>
        <key>sourceSize</key>
        <string>{158,74}</string>
      </dict>
      <key>monster_40030_0_4_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{336,321},{158,74}}</string>
        <key>offset</key>
        <string>{9,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{158,74}}</string>
        <key>sourceSize</key>
        <string>{158,74}</string>
      </dict>
      <key>monster_40030_0_4_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{338,160},{158,74}}</string>
        <key>offset</key>
        <string>{9,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{158,74}}</string>
        <key>sourceSize</key>
        <string>{158,74}</string>
      </dict>
      <key>monster_40030_0_4_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{342,0},{158,74}}</string>
        <key>offset</key>
        <string>{9,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{158,74}}</string>
        <key>sourceSize</key>
        <string>{158,74}</string>
      </dict>
      <key>monster_40030_0_4_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{412,320},{158,74}}</string>
        <key>offset</key>
        <string>{9,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{158,74}}</string>
        <key>sourceSize</key>
        <string>{158,74}</string>
      </dict>
      <key>monster_40030_0_4_2_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{414,160},{158,74}}</string>
        <key>offset</key>
        <string>{9,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{158,74}}</string>
        <key>sourceSize</key>
        <string>{158,74}</string>
      </dict>
      <key>monster_40030_0_4_2_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{418,0},{158,74}}</string>
        <key>offset</key>
        <string>{9,34}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{158,74}}</string>
        <key>sourceSize</key>
        <string>{158,74}</string>
      </dict>
      <key>monster_40030_0_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1120,113},{73,108}}</string>
        <key>offset</key>
        <string>{-6,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{73,108}}</string>
        <key>sourceSize</key>
        <string>{73,108}</string>
      </dict>
      <key>monster_40030_0_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1006,437},{119,118}}</string>
        <key>offset</key>
        <string>{-31,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,118}}</string>
        <key>sourceSize</key>
        <string>{119,118}</string>
      </dict>
      <key>monster_40030_0_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{598,0},{143,99}}</string>
        <key>offset</key>
        <string>{-44,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,99}}</string>
        <key>sourceSize</key>
        <string>{143,99}</string>
      </dict>
      <key>monster_40030_0_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{879,315},{125,90}}</string>
        <key>offset</key>
        <string>{8,3}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,90}}</string>
        <key>sourceSize</key>
        <string>{125,90}</string>
      </dict>
      <key>monster_40030_0_4_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{879,407},{125,90}}</string>
        <key>offset</key>
        <string>{8,3}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,90}}</string>
        <key>sourceSize</key>
        <string>{125,90}</string>
      </dict>
      <key>monster_40030_0_4_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{879,499},{125,90}}</string>
        <key>offset</key>
        <string>{8,3}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,90}}</string>
        <key>sourceSize</key>
        <string>{125,90}</string>
      </dict>
      <key>monster_40030_0_4_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{782,569},{125,90}}</string>
        <key>offset</key>
        <string>{8,3}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,90}}</string>
        <key>sourceSize</key>
        <string>{125,90}</string>
      </dict>
      <key>monster_40030_0_4_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{874,591},{125,90}}</string>
        <key>offset</key>
        <string>{8,3}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,90}}</string>
        <key>sourceSize</key>
        <string>{125,90}</string>
      </dict>
      <key>monster_40030_0_4_3_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{874,683},{125,90}}</string>
        <key>offset</key>
        <string>{8,3}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,90}}</string>
        <key>sourceSize</key>
        <string>{125,90}</string>
      </dict>
      <key>monster_40030_0_4_3_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{782,696},{125,90}}</string>
        <key>offset</key>
        <string>{8,3}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,90}}</string>
        <key>sourceSize</key>
        <string>{125,90}</string>
      </dict>
      <key>monster_40030_0_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1128,188},{96,105}}</string>
        <key>offset</key>
        <string>{-22,71}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,105}}</string>
        <key>sourceSize</key>
        <string>{96,105}</string>
      </dict>
      <key>monster_40030_0_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{745,434},{132,133}}</string>
        <key>offset</key>
        <string>{-31,107}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,133}}</string>
        <key>sourceSize</key>
        <string>{132,133}</string>
      </dict>
      <key>monster_40030_0_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,206},{189,78}}</string>
        <key>offset</key>
        <string>{-85,52}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{189,78}}</string>
        <key>sourceSize</key>
        <string>{189,78}</string>
      </dict>
      <key>monster_40030_0_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{423,480},{145,102}}</string>
        <key>offset</key>
        <string>{-54,-1}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,102}}</string>
        <key>sourceSize</key>
        <string>{145,102}</string>
      </dict>
      <key>monster_40030_0_4_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{488,320},{145,102}}</string>
        <key>offset</key>
        <string>{-54,-1}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,102}}</string>
        <key>sourceSize</key>
        <string>{145,102}</string>
      </dict>
      <key>monster_40030_0_4_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{490,160},{145,102}}</string>
        <key>offset</key>
        <string>{-54,-1}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,102}}</string>
        <key>sourceSize</key>
        <string>{145,102}</string>
      </dict>
      <key>monster_40030_0_4_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{494,0},{145,102}}</string>
        <key>offset</key>
        <string>{-54,-1}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,102}}</string>
        <key>sourceSize</key>
        <string>{145,102}</string>
      </dict>
      <key>monster_40030_0_4_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{527,467},{145,102}}</string>
        <key>offset</key>
        <string>{-54,-1}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,102}}</string>
        <key>sourceSize</key>
        <string>{145,102}</string>
      </dict>
      <key>monster_40030_0_4_4_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{592,307},{145,102}}</string>
        <key>offset</key>
        <string>{-54,-1}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,102}}</string>
        <key>sourceSize</key>
        <string>{145,102}</string>
      </dict>
      <key>monster_40030_0_4_4_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{594,147},{145,102}}</string>
        <key>offset</key>
        <string>{-54,-1}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,102}}</string>
        <key>sourceSize</key>
        <string>{145,102}</string>
      </dict>
      <key>monster_40030_0_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{879,118},{129,96}}</string>
        <key>offset</key>
        <string>{-57,69}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,96}}</string>
        <key>sourceSize</key>
        <string>{129,96}</string>
      </dict>
      <key>monster_40030_0_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{440,797},{105,140}}</string>
        <key>offset</key>
        <string>{-18,113}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,140}}</string>
        <key>sourceSize</key>
        <string>{105,140}</string>
      </dict>
      <key>monster_40030_0_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{337,808},{154,101}}</string>
        <key>offset</key>
        <string>{-77,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,101}}</string>
        <key>sourceSize</key>
        <string>{154,101}</string>
      </dict>
      <key>monster_40030_0_4_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,397},{165,81}}</string>
        <key>offset</key>
        <string>{-120,-4}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{165,81}}</string>
        <key>sourceSize</key>
        <string>{165,81}</string>
      </dict>
      <key>monster_40030_0_4_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{80,206},{165,81}}</string>
        <key>offset</key>
        <string>{-120,-4}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{165,81}}</string>
        <key>sourceSize</key>
        <string>{165,81}</string>
      </dict>
      <key>monster_40030_0_4_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{89,0},{165,81}}</string>
        <key>offset</key>
        <string>{-120,-4}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{165,81}}</string>
        <key>sourceSize</key>
        <string>{165,81}</string>
      </dict>
      <key>monster_40030_0_4_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,564},{165,81}}</string>
        <key>offset</key>
        <string>{-120,-4}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{165,81}}</string>
        <key>sourceSize</key>
        <string>{165,81}</string>
      </dict>
      <key>monster_40030_0_4_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,731},{165,81}}</string>
        <key>offset</key>
        <string>{-120,-4}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{165,81}}</string>
        <key>sourceSize</key>
        <string>{165,81}</string>
      </dict>
      <key>monster_40030_0_4_5_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,898},{165,81}}</string>
        <key>offset</key>
        <string>{-120,-4}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{165,81}}</string>
        <key>sourceSize</key>
        <string>{165,81}</string>
      </dict>
      <key>monster_40030_0_4_5_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{83,373},{165,81}}</string>
        <key>offset</key>
        <string>{-120,-4}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{165,81}}</string>
        <key>sourceSize</key>
        <string>{165,81}</string>
      </dict>
      <key>monster_40030_0_4_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{879,216},{128,97}}</string>
        <key>offset</key>
        <string>{-54,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,97}}</string>
        <key>sourceSize</key>
        <string>{128,97}</string>
      </dict>
      <key>monster_40030_0_4_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{661,734},{119,138}}</string>
        <key>offset</key>
        <string>{-6,109}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{119,138}}</string>
        <key>sourceSize</key>
        <string>{119,138}</string>
      </dict>
      <key>monster_40030_0_4_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{440,939},{78,139}}</string>
        <key>offset</key>
        <string>{-15,110}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{78,139}}</string>
        <key>sourceSize</key>
        <string>{78,139}</string>
      </dict>
      <key>monster_40030_0_4_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,0},{159,79}}</string>
        <key>offset</key>
        <string>{-121,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,79}}</string>
        <key>sourceSize</key>
        <string>{159,79}</string>
      </dict>
      <key>monster_40030_0_4_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{83,540},{159,79}}</string>
        <key>offset</key>
        <string>{-121,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,79}}</string>
        <key>sourceSize</key>
        <string>{159,79}</string>
      </dict>
      <key>monster_40030_0_4_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{83,701},{159,79}}</string>
        <key>offset</key>
        <string>{-121,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,79}}</string>
        <key>sourceSize</key>
        <string>{159,79}</string>
      </dict>
      <key>monster_40030_0_4_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,701},{159,79}}</string>
        <key>offset</key>
        <string>{-121,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,79}}</string>
        <key>sourceSize</key>
        <string>{159,79}</string>
      </dict>
      <key>monster_40030_0_4_6_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,540},{159,79}}</string>
        <key>offset</key>
        <string>{-121,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,79}}</string>
        <key>sourceSize</key>
        <string>{159,79}</string>
      </dict>
      <key>monster_40030_0_4_6_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{167,862},{159,79}}</string>
        <key>offset</key>
        <string>{-121,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,79}}</string>
        <key>sourceSize</key>
        <string>{159,79}</string>
      </dict>
      <key>monster_40030_0_4_6_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{166,328},{159,79}}</string>
        <key>offset</key>
        <string>{-121,22}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,79}}</string>
        <key>sourceSize</key>
        <string>{159,79}</string>
      </dict>
      <key>monster_40030_0_4_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1009,216},{81,117}}</string>
        <key>offset</key>
        <string>{-7,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{81,117}}</string>
        <key>sourceSize</key>
        <string>{81,117}</string>
      </dict>
      <key>monster_40030_0_4_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{879,0},{130,116}}</string>
        <key>offset</key>
        <string>{-17,90}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,116}}</string>
        <key>sourceSize</key>
        <string>{130,116}</string>
      </dict>
      <key>monster_40030_0_4_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{410,648},{147,134}}</string>
        <key>offset</key>
        <string>{-30,109}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,134}}</string>
        <key>sourceSize</key>
        <string>{147,134}</string>
      </dict>
      <key>monster_40030_0_4_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{874,775},{120,103}}</string>
        <key>offset</key>
        <string>{-86,71}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,103}}</string>
        <key>sourceSize</key>
        <string>{120,103}</string>
      </dict>
      <key>monster_40030_0_4_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{810,880},{120,103}}</string>
        <key>offset</key>
        <string>{-86,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,103}}</string>
        <key>sourceSize</key>
        <string>{120,103}</string>
      </dict>
      <key>monster_40030_0_4_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{915,880},{120,103}}</string>
        <key>offset</key>
        <string>{-86,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,103}}</string>
        <key>sourceSize</key>
        <string>{120,103}</string>
      </dict>
      <key>monster_40030_0_4_7_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{996,775},{120,103}}</string>
        <key>offset</key>
        <string>{-86,71}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,103}}</string>
        <key>sourceSize</key>
        <string>{120,103}</string>
      </dict>
      <key>monster_40030_0_4_7_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1020,880},{120,103}}</string>
        <key>offset</key>
        <string>{-86,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,103}}</string>
        <key>sourceSize</key>
        <string>{120,103}</string>
      </dict>
      <key>monster_40030_0_4_7_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1001,591},{120,103}}</string>
        <key>offset</key>
        <string>{-86,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,103}}</string>
        <key>sourceSize</key>
        <string>{120,103}</string>
      </dict>
      <key>monster_40030_0_4_7_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1006,315},{120,103}}</string>
        <key>offset</key>
        <string>{-86,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{120,103}}</string>
        <key>sourceSize</key>
        <string>{120,103}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_40030_0_4.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>monster_40030_0_4.png</string>
    </dict>
  </dict>
</plist>