<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_20039_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{884,564},{353,432}}</string>
        <key>offset</key>
        <string>{-187,366}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{353,432}}</string>
        <key>sourceSize</key>
        <string>{353,432}</string>
      </dict>
      <key>monster_20039_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{931,0},{410,431}}</string>
        <key>offset</key>
        <string>{-248,352}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{410,431}}</string>
        <key>sourceSize</key>
        <string>{410,431}</string>
      </dict>
      <key>monster_20039_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{441,638},{628,441}}</string>
        <key>offset</key>
        <string>{-274,348}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{628,441}}</string>
        <key>sourceSize</key>
        <string>{628,441}</string>
      </dict>
      <key>monster_20039_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{636,449}}</string>
        <key>offset</key>
        <string>{-291,366}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{636,449}}</string>
        <key>sourceSize</key>
        <string>{636,449}</string>
      </dict>
      <key>monster_20039_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,638},{632,439}}</string>
        <key>offset</key>
        <string>{-293,368}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{632,439}}</string>
        <key>sourceSize</key>
        <string>{632,439}</string>
      </dict>
      <key>monster_20039_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{451,0},{562,478}}</string>
        <key>offset</key>
        <string>{-244,359}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{562,478}}</string>
        <key>sourceSize</key>
        <string>{562,478}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_20039_0_2_2.png</string>
      <key>size</key>
      <string>{1485,1280}</string>
      <key>textureFileName</key>
      <string>monster_20039_0_2_2.png</string>
    </dict>
  </dict>
</plist>