<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_40001_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,365},{212,359}}</string>
        <key>offset</key>
        <string>{-71,280}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{212,359}}</string>
        <key>sourceSize</key>
        <string>{212,359}</string>
      </dict>
      <key>monster_40001_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,726},{242,357}}</string>
        <key>offset</key>
        <string>{-95,275}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{242,357}}</string>
        <key>sourceSize</key>
        <string>{242,357}</string>
      </dict>
      <key>monster_40001_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{214,361},{255,354}}</string>
        <key>offset</key>
        <string>{-94,281}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{255,354}}</string>
        <key>sourceSize</key>
        <string>{255,354}</string>
      </dict>
      <key>monster_40001_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{530,690},{269,331}}</string>
        <key>offset</key>
        <string>{-84,281}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{269,331}}</string>
        <key>sourceSize</key>
        <string>{269,331}</string>
      </dict>
      <key>monster_40001_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1084,961},{287,307}}</string>
        <key>offset</key>
        <string>{-94,263}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{287,307}}</string>
        <key>sourceSize</key>
        <string>{287,307}</string>
      </dict>
      <key>monster_40001_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{672,334},{268,330}}</string>
        <key>offset</key>
        <string>{-91,278}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{268,330}}</string>
        <key>sourceSize</key>
        <string>{268,330}</string>
      </dict>
      <key>monster_40001_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{175,0},{204,359}}</string>
        <key>offset</key>
        <string>{-84,277}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{204,359}}</string>
        <key>sourceSize</key>
        <string>{204,359}</string>
      </dict>
      <key>monster_40001_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{381,0},{198,354}}</string>
        <key>offset</key>
        <string>{-86,270}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{198,354}}</string>
        <key>sourceSize</key>
        <string>{198,354}</string>
      </dict>
      <key>monster_40001_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{173,363}}</string>
        <key>offset</key>
        <string>{-64,282}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{173,363}}</string>
        <key>sourceSize</key>
        <string>{173,363}</string>
      </dict>
      <key>monster_40001_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1441},{227,352}}</string>
        <key>offset</key>
        <string>{-78,281}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{227,352}}</string>
        <key>sourceSize</key>
        <string>{227,352}</string>
      </dict>
      <key>monster_40001_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{229,1441},{266,341}}</string>
        <key>offset</key>
        <string>{-100,271}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{266,341}}</string>
        <key>sourceSize</key>
        <string>{266,341}</string>
      </dict>
      <key>monster_40001_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1085},{241,354}}</string>
        <key>offset</key>
        <string>{-95,283}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{241,354}}</string>
        <key>sourceSize</key>
        <string>{241,354}</string>
      </dict>
      <key>monster_40001_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1149,0},{306,314}}</string>
        <key>offset</key>
        <string>{-172,260}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{306,314}}</string>
        <key>sourceSize</key>
        <string>{306,314}</string>
      </dict>
      <key>monster_40001_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1062,649},{310,307}}</string>
        <key>offset</key>
        <string>{-185,252}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{310,307}}</string>
        <key>sourceSize</key>
        <string>{310,307}</string>
      </dict>
      <key>monster_40001_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{497,1714},{286,325}}</string>
        <key>offset</key>
        <string>{-167,268}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{286,325}}</string>
        <key>sourceSize</key>
        <string>{286,325}</string>
      </dict>
      <key>monster_40001_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1795},{232,337}}</string>
        <key>offset</key>
        <string>{-102,273}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{232,337}}</string>
        <key>sourceSize</key>
        <string>{232,337}</string>
      </dict>
      <key>monster_40001_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{471,356},{199,332}}</string>
        <key>offset</key>
        <string>{-83,262}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{199,332}}</string>
        <key>sourceSize</key>
        <string>{199,332}</string>
      </dict>
      <key>monster_40001_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{243,1085},{203,339}}</string>
        <key>offset</key>
        <string>{-91,273}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{203,339}}</string>
        <key>sourceSize</key>
        <string>{203,339}</string>
      </dict>
      <key>monster_40001_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1068,1348},{311,295}}</string>
        <key>offset</key>
        <string>{-183,242}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{311,295}}</string>
        <key>sourceSize</key>
        <string>{311,295}</string>
      </dict>
      <key>monster_40001_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{581,0},{332,284}}</string>
        <key>offset</key>
        <string>{-194,237}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{332,284}}</string>
        <key>sourceSize</key>
        <string>{332,284}</string>
      </dict>
      <key>monster_40001_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1371,628},{306,290}}</string>
        <key>offset</key>
        <string>{-189,250}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{306,290}}</string>
        <key>sourceSize</key>
        <string>{306,290}</string>
      </dict>
      <key>monster_40001_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1359,1661},{280,288}}</string>
        <key>offset</key>
        <string>{-159,253}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{280,288}}</string>
        <key>sourceSize</key>
        <string>{280,288}</string>
      </dict>
      <key>monster_40001_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1641,1017},{261,287}}</string>
        <key>offset</key>
        <string>{-148,242}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{261,287}}</string>
        <key>sourceSize</key>
        <string>{261,287}</string>
      </dict>
      <key>monster_40001_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1097,1661},{260,290}}</string>
        <key>offset</key>
        <string>{-146,252}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{260,290}}</string>
        <key>sourceSize</key>
        <string>{260,290}</string>
      </dict>
      <key>monster_40001_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1663,599},{212,292}}</string>
        <key>offset</key>
        <string>{-95,238}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{212,292}}</string>
        <key>sourceSize</key>
        <string>{212,292}</string>
      </dict>
      <key>monster_40001_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1641,1569},{242,286}}</string>
        <key>offset</key>
        <string>{-101,239}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{242,286}}</string>
        <key>sourceSize</key>
        <string>{242,286}</string>
      </dict>
      <key>monster_40001_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1365,1270},{269,288}}</string>
        <key>offset</key>
        <string>{-139,242}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{269,288}}</string>
        <key>sourceSize</key>
        <string>{269,288}</string>
      </dict>
      <key>monster_40001_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1636,1280},{287,277}}</string>
        <key>offset</key>
        <string>{-147,228}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{287,277}}</string>
        <key>sourceSize</key>
        <string>{287,277}</string>
      </dict>
      <key>monster_40001_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1663,813},{202,292}}</string>
        <key>offset</key>
        <string>{-74,251}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{202,292}}</string>
        <key>sourceSize</key>
        <string>{202,292}</string>
      </dict>
      <key>monster_40001_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1457,0},{198,308}}</string>
        <key>offset</key>
        <string>{-66,258}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{198,308}}</string>
        <key>sourceSize</key>
        <string>{198,308}</string>
      </dict>
      <key>monster_40001_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1485,310},{173,306}}</string>
        <key>offset</key>
        <string>{-63,264}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{173,306}}</string>
        <key>sourceSize</key>
        <string>{173,306}</string>
      </dict>
      <key>monster_40001_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1373,936},{231,292}}</string>
        <key>offset</key>
        <string>{-103,248}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{231,292}}</string>
        <key>sourceSize</key>
        <string>{231,292}</string>
      </dict>
      <key>monster_40001_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1176,316},{307,310}}</string>
        <key>offset</key>
        <string>{-89,271}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{307,310}}</string>
        <key>sourceSize</key>
        <string>{307,310}</string>
      </dict>
      <key>monster_40001_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{785,1714},{310,325}}</string>
        <key>offset</key>
        <string>{-79,274}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{310,325}}</string>
        <key>sourceSize</key>
        <string>{310,325}</string>
      </dict>
      <key>monster_40001_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,717},{284,333}}</string>
        <key>offset</key>
        <string>{-72,282}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{284,333}}</string>
        <key>sourceSize</key>
        <string>{284,333}</string>
      </dict>
      <key>monster_40001_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{942,331},{232,316}}</string>
        <key>offset</key>
        <string>{-84,267}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{232,316}}</string>
        <key>sourceSize</key>
        <string>{232,316}</string>
      </dict>
      <key>monster_40001_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1660,304},{197,293}}</string>
        <key>offset</key>
        <string>{-70,242}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{197,293}}</string>
        <key>sourceSize</key>
        <string>{197,293}</string>
      </dict>
      <key>monster_40001_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1657,0},{203,302}}</string>
        <key>offset</key>
        <string>{-66,255}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{203,302}}</string>
        <key>sourceSize</key>
        <string>{203,302}</string>
      </dict>
      <key>monster_40001_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{771,1023},{311,323}}</string>
        <key>offset</key>
        <string>{-82,276}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{311,323}}</string>
        <key>sourceSize</key>
        <string>{311,323}</string>
      </dict>
      <key>monster_40001_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{448,1052},{332,321}}</string>
        <key>offset</key>
        <string>{-92,275}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{332,321}}</string>
        <key>sourceSize</key>
        <string>{332,321}</string>
      </dict>
      <key>monster_40001_0_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{497,1386},{306,326}}</string>
        <key>offset</key>
        <string>{-71,288}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{306,326}}</string>
        <key>sourceSize</key>
        <string>{306,326}</string>
      </dict>
      <key>monster_40001_0_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{867,0},{280,329}}</string>
        <key>offset</key>
        <string>{-75,282}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{280,329}}</string>
        <key>sourceSize</key>
        <string>{280,329}</string>
      </dict>
      <key>monster_40001_0_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{805,1348},{261,312}}</string>
        <key>offset</key>
        <string>{-67,259}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{261,312}}</string>
        <key>sourceSize</key>
        <string>{261,312}</string>
      </dict>
      <key>monster_40001_0_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{801,666},{259,319}}</string>
        <key>offset</key>
        <string>{-67,269}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{259,319}}</string>
        <key>sourceSize</key>
        <string>{259,319}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_40001_0_1_0.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_40001_0_1_0.png</string>
    </dict>
  </dict>
</plist>