<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_20037_0_0_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{144,309}}</string>
        <key>offset</key>
        <string>{-23,242}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,309}}</string>
        <key>sourceSize</key>
        <string>{144,309}</string>
      </dict>
      <key>monster_20037_0_0_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,311},{144,308}}</string>
        <key>offset</key>
        <string>{-23,241}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,308}}</string>
        <key>sourceSize</key>
        <string>{144,308}</string>
      </dict>
      <key>monster_20037_0_0_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,621},{145,308}}</string>
        <key>offset</key>
        <string>{-24,241}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,308}}</string>
        <key>sourceSize</key>
        <string>{145,308}</string>
      </dict>
      <key>monster_20037_0_0_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{146,310},{146,307}}</string>
        <key>offset</key>
        <string>{-25,240}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,307}}</string>
        <key>sourceSize</key>
        <string>{146,307}</string>
      </dict>
      <key>monster_20037_0_0_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{293,0},{149,307}}</string>
        <key>offset</key>
        <string>{-26,240}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{149,307}}</string>
        <key>sourceSize</key>
        <string>{149,307}</string>
      </dict>
      <key>monster_20037_0_0_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{147,619},{147,307}}</string>
        <key>offset</key>
        <string>{-25,240}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,307}}</string>
        <key>sourceSize</key>
        <string>{147,307}</string>
      </dict>
      <key>monster_20037_0_0_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{294,309},{146,307}}</string>
        <key>offset</key>
        <string>{-25,240}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,307}}</string>
        <key>sourceSize</key>
        <string>{146,307}</string>
      </dict>
      <key>monster_20037_0_0_6_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{146,0},{145,308}}</string>
        <key>offset</key>
        <string>{-24,241}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,308}}</string>
        <key>sourceSize</key>
        <string>{145,308}</string>
      </dict>
      <key>monster_20037_0_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{702,0},{256,288}}</string>
        <key>offset</key>
        <string>{-90,220}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{256,288}}</string>
        <key>sourceSize</key>
        <string>{256,288}</string>
      </dict>
      <key>monster_20037_0_0_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{296,618},{256,293}}</string>
        <key>offset</key>
        <string>{-90,219}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{256,293}}</string>
        <key>sourceSize</key>
        <string>{256,293}</string>
      </dict>
      <key>monster_20037_0_0_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{442,309},{256,293}}</string>
        <key>offset</key>
        <string>{-90,219}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{256,293}}</string>
        <key>sourceSize</key>
        <string>{256,293}</string>
      </dict>
      <key>monster_20037_0_0_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{444,0},{256,289}}</string>
        <key>offset</key>
        <string>{-90,218}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{256,289}}</string>
        <key>sourceSize</key>
        <string>{256,289}</string>
      </dict>
      <key>monster_20037_0_0_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{702,258},{256,286}}</string>
        <key>offset</key>
        <string>{-90,218}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{256,286}}</string>
        <key>sourceSize</key>
        <string>{256,286}</string>
      </dict>
      <key>monster_20037_0_0_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{812,774},{256,283}}</string>
        <key>offset</key>
        <string>{-90,218}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{256,283}}</string>
        <key>sourceSize</key>
        <string>{256,283}</string>
      </dict>
      <key>monster_20037_0_0_7_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{554,774},{256,285}}</string>
        <key>offset</key>
        <string>{-90,219}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{256,285}}</string>
        <key>sourceSize</key>
        <string>{256,285}</string>
      </dict>
      <key>monster_20037_0_0_7_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{700,516},{256,286}}</string>
        <key>offset</key>
        <string>{-90,219}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{256,286}}</string>
        <key>sourceSize</key>
        <string>{256,286}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_20037_0_0_3.png</string>
      <key>size</key>
      <string>{1152,1166}</string>
      <key>textureFileName</key>
      <string>monster_20037_0_0_3.png</string>
    </dict>
  </dict>
</plist>