<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_40060_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1036,644},{258,489}}</string>
        <key>offset</key>
        <string>{-125,238}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{258,489}}</string>
        <key>sourceSize</key>
        <string>{258,489}</string>
      </dict>
      <key>monster_40060_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1036,1559},{247,465}}</string>
        <key>offset</key>
        <string>{-95,238}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{247,465}}</string>
        <key>sourceSize</key>
        <string>{247,465}</string>
      </dict>
      <key>monster_40060_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1527,762},{258,487}}</string>
        <key>offset</key>
        <string>{-107,234}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{258,487}}</string>
        <key>sourceSize</key>
        <string>{258,487}</string>
      </dict>
      <key>monster_40060_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{398,1040},{513,408}}</string>
        <key>offset</key>
        <string>{-334,242}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{513,408}}</string>
        <key>sourceSize</key>
        <string>{513,408}</string>
      </dict>
      <key>monster_40060_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1521,1022},{472,393}}</string>
        <key>offset</key>
        <string>{-310,236}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{472,393}}</string>
        <key>sourceSize</key>
        <string>{472,393}</string>
      </dict>
      <key>monster_40060_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,0},{518,410}}</string>
        <key>offset</key>
        <string>{-327,241}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{518,410}}</string>
        <key>sourceSize</key>
        <string>{518,410}</string>
      </dict>
      <key>monster_40060_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1104},{519,396}}</string>
        <key>offset</key>
        <string>{-325,273}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{519,396}}</string>
        <key>sourceSize</key>
        <string>{519,396}</string>
      </dict>
      <key>monster_40060_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{550,394}}</string>
        <key>offset</key>
        <string>{-359,273}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{550,394}}</string>
        <key>sourceSize</key>
        <string>{550,394}</string>
      </dict>
      <key>monster_40060_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1036,0},{511,393}}</string>
        <key>offset</key>
        <string>{-334,267}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{511,393}}</string>
        <key>sourceSize</key>
        <string>{511,393}</string>
      </dict>
      <key>monster_40060_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1285,1559},{464,451}}</string>
        <key>offset</key>
        <string>{-292,314}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{464,451}}</string>
        <key>sourceSize</key>
        <string>{464,451}</string>
      </dict>
      <key>monster_40060_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1036,904},{258,483}}</string>
        <key>offset</key>
        <string>{-58,359}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{258,483}}</string>
        <key>sourceSize</key>
        <string>{258,483}</string>
      </dict>
      <key>monster_40060_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1539,513},{247,490}}</string>
        <key>offset</key>
        <string>{-61,381}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{247,490}}</string>
        <key>sourceSize</key>
        <string>{247,490}</string>
      </dict>
      <key>monster_40060_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1036,395},{247,501}}</string>
        <key>offset</key>
        <string>{-77,382}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{247,501}}</string>
        <key>sourceSize</key>
        <string>{247,501}</string>
      </dict>
      <key>monster_40060_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1738,1417},{258,460}}</string>
        <key>offset</key>
        <string>{-77,357}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{258,460}}</string>
        <key>sourceSize</key>
        <string>{258,460}</string>
      </dict>
      <key>monster_40060_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1625},{519,396}}</string>
        <key>offset</key>
        <string>{-166,273}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{519,396}}</string>
        <key>sourceSize</key>
        <string>{519,396}</string>
      </dict>
      <key>monster_40060_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,552},{550,394}}</string>
        <key>offset</key>
        <string>{-163,273}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{550,394}}</string>
        <key>sourceSize</key>
        <string>{550,394}</string>
      </dict>
      <key>monster_40060_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1549,0},{511,393}}</string>
        <key>offset</key>
        <string>{-149,267}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{511,393}}</string>
        <key>sourceSize</key>
        <string>{511,393}</string>
      </dict>
      <key>monster_40060_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{521,1555},{513,408}}</string>
        <key>offset</key>
        <string>{-98,242}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{513,408}}</string>
        <key>sourceSize</key>
        <string>{513,408}</string>
      </dict>
      <key>monster_40060_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1036,1164},{472,393}}</string>
        <key>offset</key>
        <string>{-81,236}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{472,393}}</string>
        <key>sourceSize</key>
        <string>{472,393}</string>
      </dict>
      <key>monster_40060_0_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{396,520},{518,410}}</string>
        <key>offset</key>
        <string>{-110,241}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{518,410}}</string>
        <key>sourceSize</key>
        <string>{518,410}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_40060_0_1_1.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_40060_0_1_1.png</string>
    </dict>
  </dict>
</plist>