<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_20010_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{626,0},{413,345}}</string>
        <key>offset</key>
        <string>{-185,297}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{413,345}}</string>
        <key>sourceSize</key>
        <string>{413,345}</string>
      </dict>
      <key>monster_20010_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{421,281}}</string>
        <key>offset</key>
        <string>{-193,231}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{421,281}}</string>
        <key>sourceSize</key>
        <string>{421,281}</string>
      </dict>
      <key>monster_20010_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,423},{421,326}}</string>
        <key>offset</key>
        <string>{-193,270}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{421,326}}</string>
        <key>sourceSize</key>
        <string>{421,326}</string>
      </dict>
      <key>monster_20010_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{283,0},{421,341}}</string>
        <key>offset</key>
        <string>{-193,285}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{421,341}}</string>
        <key>sourceSize</key>
        <string>{421,341}</string>
      </dict>
      <key>monster_20010_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{626,415},{409,375}}</string>
        <key>offset</key>
        <string>{-181,315}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{409,375}}</string>
        <key>sourceSize</key>
        <string>{409,375}</string>
      </dict>
      <key>monster_20010_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,846},{409,377}}</string>
        <key>offset</key>
        <string>{-181,321}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{409,377}}</string>
        <key>sourceSize</key>
        <string>{409,377}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_20010_0_1_3.png</string>
      <key>size</key>
      <string>{1228,1272}</string>
      <key>textureFileName</key>
      <string>monster_20010_0_1_3.png</string>
    </dict>
  </dict>
</plist>