<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_40062_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1157,1584},{261,228}}</string>
        <key>offset</key>
        <string>{-61,147}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{261,228}}</string>
        <key>sourceSize</key>
        <string>{261,228}</string>
      </dict>
      <key>monster_40062_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{489,698},{272,305}}</string>
        <key>offset</key>
        <string>{-43,224}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{272,305}}</string>
        <key>sourceSize</key>
        <string>{272,305}</string>
      </dict>
      <key>monster_40062_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1487,898},{175,229}}</string>
        <key>offset</key>
        <string>{-33,147}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{175,229}}</string>
        <key>sourceSize</key>
        <string>{175,229}</string>
      </dict>
      <key>monster_40062_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1126,0},{213,280}}</string>
        <key>offset</key>
        <string>{-33,201}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{213,280}}</string>
        <key>sourceSize</key>
        <string>{213,280}</string>
      </dict>
      <key>monster_40062_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1271,854},{214,253}}</string>
        <key>offset</key>
        <string>{-32,203}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{214,253}}</string>
        <key>sourceSize</key>
        <string>{214,253}</string>
      </dict>
      <key>monster_40062_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1335,282},{263,279}}</string>
        <key>offset</key>
        <string>{-52,192}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{263,279}}</string>
        <key>sourceSize</key>
        <string>{263,279}</string>
      </dict>
      <key>monster_40062_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1811},{303,209}}</string>
        <key>offset</key>
        <string>{-89,156}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{303,209}}</string>
        <key>sourceSize</key>
        <string>{303,209}</string>
      </dict>
      <key>monster_40062_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{367,0},{327,290}}</string>
        <key>offset</key>
        <string>{-87,238}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{327,290}}</string>
        <key>sourceSize</key>
        <string>{327,290}</string>
      </dict>
      <key>monster_40062_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1741,654},{245,228}}</string>
        <key>offset</key>
        <string>{-117,171}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{245,228}}</string>
        <key>sourceSize</key>
        <string>{245,228}</string>
      </dict>
      <key>monster_40062_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{955,590},{283,259}}</string>
        <key>offset</key>
        <string>{-89,203}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{283,259}}</string>
        <key>sourceSize</key>
        <string>{283,259}</string>
      </dict>
      <key>monster_40062_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,778},{362,211}}</string>
        <key>offset</key>
        <string>{-58,171}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{362,211}}</string>
        <key>sourceSize</key>
        <string>{362,211}</string>
      </dict>
      <key>monster_40062_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1142},{347,259}}</string>
        <key>offset</key>
        <string>{-91,199}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{347,259}}</string>
        <key>sourceSize</key>
        <string>{347,259}</string>
      </dict>
      <key>monster_40062_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1491},{318,206}}</string>
        <key>offset</key>
        <string>{-112,155}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{318,206}}</string>
        <key>sourceSize</key>
        <string>{318,206}</string>
      </dict>
      <key>monster_40062_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{213,728},{347,274}}</string>
        <key>offset</key>
        <string>{-108,223}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{347,274}}</string>
        <key>sourceSize</key>
        <string>{347,274}</string>
      </dict>
      <key>monster_40062_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{844,301},{287,253}}</string>
        <key>offset</key>
        <string>{-159,202}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{287,253}}</string>
        <key>sourceSize</key>
        <string>{287,253}</string>
      </dict>
      <key>monster_40062_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{452,1687},{295,258}}</string>
        <key>offset</key>
        <string>{-93,207}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{295,258}}</string>
        <key>sourceSize</key>
        <string>{295,258}</string>
      </dict>
      <key>monster_40062_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{391,157}}</string>
        <key>offset</key>
        <string>{-85,106}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{391,157}}</string>
        <key>sourceSize</key>
        <string>{391,157}</string>
      </dict>
      <key>monster_40062_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{159,0},{362,206}}</string>
        <key>offset</key>
        <string>{-108,155}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{362,206}}</string>
        <key>sourceSize</key>
        <string>{362,206}</string>
      </dict>
      <key>monster_40062_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1769,231},{266,195}}</string>
        <key>offset</key>
        <string>{-68,146}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{266,195}}</string>
        <key>sourceSize</key>
        <string>{266,195}</string>
      </dict>
      <key>monster_40062_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{712,1687},{295,243}}</string>
        <key>offset</key>
        <string>{-64,194}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{295,243}}</string>
        <key>sourceSize</key>
        <string>{295,243}</string>
      </dict>
      <key>monster_40062_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{853,0},{287,271}}</string>
        <key>offset</key>
        <string>{-128,222}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{287,271}}</string>
        <key>sourceSize</key>
        <string>{287,271}</string>
      </dict>
      <key>monster_40062_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{919,1297},{283,285}}</string>
        <key>offset</key>
        <string>{-97,236}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{283,285}}</string>
        <key>sourceSize</key>
        <string>{283,285}</string>
      </dict>
      <key>monster_40062_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{957,1584},{265,198}}</string>
        <key>offset</key>
        <string>{-50,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{265,198}}</string>
        <key>sourceSize</key>
        <string>{265,198}</string>
      </dict>
      <key>monster_40062_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{763,631},{288,190}}</string>
        <key>offset</key>
        <string>{-66,141}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{288,190}}</string>
        <key>sourceSize</key>
        <string>{288,190}</string>
      </dict>
      <key>monster_40062_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1202,1847},{224,186}}</string>
        <key>offset</key>
        <string>{-67,150}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{224,186}}</string>
        <key>sourceSize</key>
        <string>{224,186}</string>
      </dict>
      <key>monster_40062_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1741,884},{233,203}}</string>
        <key>offset</key>
        <string>{-42,164}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{233,203}}</string>
        <key>sourceSize</key>
        <string>{233,203}</string>
      </dict>
      <key>monster_40062_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1099,289},{234,281}}</string>
        <key>offset</key>
        <string>{-32,237}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{234,281}}</string>
        <key>sourceSize</key>
        <string>{234,281}</string>
      </dict>
      <key>monster_40062_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1011,875},{258,280}}</string>
        <key>offset</key>
        <string>{-38,232}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{258,280}}</string>
        <key>sourceSize</key>
        <string>{258,280}</string>
      </dict>
      <key>monster_40062_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{957,1851},{182,243}}</string>
        <key>offset</key>
        <string>{-81,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{182,243}}</string>
        <key>sourceSize</key>
        <string>{182,243}</string>
      </dict>
      <key>monster_40062_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1487,1075},{196,184}}</string>
        <key>offset</key>
        <string>{-48,144}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,184}}</string>
        <key>sourceSize</key>
        <string>{196,184}</string>
      </dict>
      <key>monster_40062_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{530,1005},{291,194}}</string>
        <key>offset</key>
        <string>{-117,146}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{291,194}}</string>
        <key>sourceSize</key>
        <string>{291,194}</string>
      </dict>
      <key>monster_40062_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1487,654},{252,242}}</string>
        <key>offset</key>
        <string>{-81,194}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{252,242}}</string>
        <key>sourceSize</key>
        <string>{252,242}</string>
      </dict>
      <key>monster_40062_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{261,1077},{310,267}}</string>
        <key>offset</key>
        <string>{-29,219}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{310,267}}</string>
        <key>sourceSize</key>
        <string>{310,267}</string>
      </dict>
      <key>monster_40062_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{726,1005},{283,290}}</string>
        <key>offset</key>
        <string>{-34,240}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{283,290}}</string>
        <key>sourceSize</key>
        <string>{283,290}</string>
      </dict>
      <key>monster_40062_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{159,364},{362,187}}</string>
        <key>offset</key>
        <string>{-207,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{362,187}}</string>
        <key>sourceSize</key>
        <string>{362,187}</string>
      </dict>
      <key>monster_40062_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{659,0},{299,192}}</string>
        <key>offset</key>
        <string>{-134,141}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{299,192}}</string>
        <key>sourceSize</key>
        <string>{299,192}</string>
      </dict>
      <key>monster_40062_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1204,1157},{258,208}}</string>
        <key>offset</key>
        <string>{-87,157}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{258,208}}</string>
        <key>sourceSize</key>
        <string>{258,208}</string>
      </dict>
      <key>monster_40062_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1769,0},{229,268}}</string>
        <key>offset</key>
        <string>{-64,223}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{229,268}}</string>
        <key>sourceSize</key>
        <string>{229,268}</string>
      </dict>
      <key>monster_40062_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{348,364},{332,225}}</string>
        <key>offset</key>
        <string>{-42,189}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{332,225}}</string>
        <key>sourceSize</key>
        <string>{332,225}</string>
      </dict>
      <key>monster_40062_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,1491},{311,242}}</string>
        <key>offset</key>
        <string>{-55,210}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{311,242}}</string>
        <key>sourceSize</key>
        <string>{311,242}</string>
      </dict>
      <key>monster_40062_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,393},{383,157}}</string>
        <key>offset</key>
        <string>{-230,106}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{383,157}}</string>
        <key>sourceSize</key>
        <string>{383,157}</string>
      </dict>
      <key>monster_40062_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{713,1298},{291,204}}</string>
        <key>offset</key>
        <string>{-129,153}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{291,204}}</string>
        <key>sourceSize</key>
        <string>{291,204}</string>
      </dict>
      <key>monster_40062_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1341,0},{270,222}}</string>
        <key>offset</key>
        <string>{-112,163}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{270,222}}</string>
        <key>sourceSize</key>
        <string>{270,222}</string>
      </dict>
      <key>monster_40062_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{575,329},{267,300}}</string>
        <key>offset</key>
        <string>{-81,240}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{267,300}}</string>
        <key>sourceSize</key>
        <string>{267,300}</string>
      </dict>
      <key>monster_40062_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1600,428},{266,224}}</string>
        <key>offset</key>
        <string>{-53,162}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{266,224}}</string>
        <key>sourceSize</key>
        <string>{266,224}</string>
      </dict>
      <key>monster_40062_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{452,1389},{296,259}}</string>
        <key>offset</key>
        <string>{-63,198}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{296,259}}</string>
        <key>sourceSize</key>
        <string>{296,259}</string>
      </dict>
      <key>monster_40062_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1565,0},{269,202}}</string>
        <key>offset</key>
        <string>{-170,169}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{269,202}}</string>
        <key>sourceSize</key>
        <string>{269,202}</string>
      </dict>
      <key>monster_40062_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1216,572},{280,261}}</string>
        <key>offset</key>
        <string>{-133,195}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{280,261}}</string>
        <key>sourceSize</key>
        <string>{280,261}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_40062_0_2.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_40062_0_2.png</string>
    </dict>
  </dict>
</plist>