<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_1051_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{935,0},{548,315}}</string>
        <key>offset</key>
        <string>{-173,265}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{548,315}}</string>
        <key>sourceSize</key>
        <string>{548,315}</string>
      </dict>
      <key>monster_1051_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{912,588},{555,327}}</string>
        <key>offset</key>
        <string>{-170,273}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{555,327}}</string>
        <key>sourceSize</key>
        <string>{555,327}</string>
      </dict>
      <key>monster_1051_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1255,856},{492,335}}</string>
        <key>offset</key>
        <string>{-168,277}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{492,335}}</string>
        <key>sourceSize</key>
        <string>{492,335}</string>
      </dict>
      <key>monster_1051_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1213,1688},{537,347}}</string>
        <key>offset</key>
        <string>{-173,287}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{537,347}}</string>
        <key>sourceSize</key>
        <string>{537,347}</string>
      </dict>
      <key>monster_1051_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{603,599},{589,307}}</string>
        <key>offset</key>
        <string>{-212,244}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{589,307}}</string>
        <key>sourceSize</key>
        <string>{589,307}</string>
      </dict>
      <key>monster_1051_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{305,0},{597,330}}</string>
        <key>offset</key>
        <string>{-209,254}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{597,330}}</string>
        <key>sourceSize</key>
        <string>{597,330}</string>
      </dict>
      <key>monster_1051_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{326,1268},{596,329}}</string>
        <key>offset</key>
        <string>{-205,255}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{596,329}}</string>
        <key>sourceSize</key>
        <string>{596,329}</string>
      </dict>
      <key>monster_1051_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1305},{608,324}}</string>
        <key>offset</key>
        <string>{-209,252}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{608,324}}</string>
        <key>sourceSize</key>
        <string>{608,324}</string>
      </dict>
      <key>monster_1051_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{299,665},{601,302}}</string>
        <key>offset</key>
        <string>{-213,247}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{601,302}}</string>
        <key>sourceSize</key>
        <string>{601,302}</string>
      </dict>
      <key>monster_1051_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{663,303}}</string>
        <key>offset</key>
        <string>{-246,252}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{663,303}}</string>
        <key>sourceSize</key>
        <string>{663,303}</string>
      </dict>
      <key>monster_1051_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1252,0},{463,301}}</string>
        <key>offset</key>
        <string>{-190,209}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{463,301}}</string>
        <key>sourceSize</key>
        <string>{463,301}</string>
      </dict>
      <key>monster_1051_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1255,1193},{477,297}}</string>
        <key>offset</key>
        <string>{-175,217}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{477,297}}</string>
        <key>sourceSize</key>
        <string>{477,297}</string>
      </dict>
      <key>monster_1051_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{657,1749},{554,288}}</string>
        <key>offset</key>
        <string>{-357,222}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{554,288}}</string>
        <key>sourceSize</key>
        <string>{554,288}</string>
      </dict>
      <key>monster_1051_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1752,539},{531,291}}</string>
        <key>offset</key>
        <string>{-337,229}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{531,291}}</string>
        <key>sourceSize</key>
        <string>{531,291}</string>
      </dict>
      <key>monster_1051_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{961,1145},{541,292}}</string>
        <key>offset</key>
        <string>{-349,233}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{541,292}}</string>
        <key>sourceSize</key>
        <string>{541,292}</string>
      </dict>
      <key>monster_1051_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1752,1072},{528,288}}</string>
        <key>offset</key>
        <string>{-334,224}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{528,288}}</string>
        <key>sourceSize</key>
        <string>{528,288}</string>
      </dict>
      <key>monster_1051_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1752,0},{537,287}}</string>
        <key>offset</key>
        <string>{-340,216}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{537,287}}</string>
        <key>sourceSize</key>
        <string>{537,287}</string>
      </dict>
      <key>monster_1051_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{657,1190},{557,302}}</string>
        <key>offset</key>
        <string>{-290,245}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{557,302}}</string>
        <key>sourceSize</key>
        <string>{557,302}</string>
      </dict>
      <key>monster_1051_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1241,550},{508,304}}</string>
        <key>offset</key>
        <string>{-249,254}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{508,304}}</string>
        <key>sourceSize</key>
        <string>{508,304}</string>
      </dict>
      <key>monster_1051_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{637,0},{586,296}}</string>
        <key>offset</key>
        <string>{-320,236}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{586,296}}</string>
        <key>sourceSize</key>
        <string>{586,296}</string>
      </dict>
      <key>monster_1051_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,665},{638,297}}</string>
        <key>offset</key>
        <string>{-375,242}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{638,297}}</string>
        <key>sourceSize</key>
        <string>{638,297}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_1051_0_1_0.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_1051_0_1_0.png</string>
    </dict>
  </dict>
</plist>