<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_1052_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1184},{318,320}}</string>
        <key>offset</key>
        <string>{-76,249}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{318,320}}</string>
        <key>sourceSize</key>
        <string>{318,320}</string>
      </dict>
      <key>monster_1052_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1754},{283,289}}</string>
        <key>offset</key>
        <string>{-82,231}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{283,289}}</string>
        <key>sourceSize</key>
        <string>{283,289}</string>
      </dict>
      <key>monster_1052_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{315,370}}</string>
        <key>offset</key>
        <string>{-63,243}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{315,370}}</string>
        <key>sourceSize</key>
        <string>{315,370}</string>
      </dict>
      <key>monster_1052_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{675,981},{309,320}}</string>
        <key>offset</key>
        <string>{-78,228}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{309,320}}</string>
        <key>sourceSize</key>
        <string>{309,320}</string>
      </dict>
      <key>monster_1052_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{372,0},{301,370}}</string>
        <key>offset</key>
        <string>{-102,226}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{301,370}}</string>
        <key>sourceSize</key>
        <string>{301,370}</string>
      </dict>
      <key>monster_1052_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{343,879},{321,330}}</string>
        <key>offset</key>
        <string>{-105,225}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{321,330}}</string>
        <key>sourceSize</key>
        <string>{321,330}</string>
      </dict>
      <key>monster_1052_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{372,303},{282,365}}</string>
        <key>offset</key>
        <string>{-161,221}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{282,365}}</string>
        <key>sourceSize</key>
        <string>{282,365}</string>
      </dict>
      <key>monster_1052_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,317},{320,347}}</string>
        <key>offset</key>
        <string>{-146,224}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{320,347}}</string>
        <key>sourceSize</key>
        <string>{320,347}</string>
      </dict>
      <key>monster_1052_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{349,587},{290,346}}</string>
        <key>offset</key>
        <string>{-174,227}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{290,346}}</string>
        <key>sourceSize</key>
        <string>{290,346}</string>
      </dict>
      <key>monster_1052_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{739,303},{283,343}}</string>
        <key>offset</key>
        <string>{-161,220}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{283,343}}</string>
        <key>sourceSize</key>
        <string>{283,343}</string>
      </dict>
      <key>monster_1052_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,639},{271,341}}</string>
        <key>offset</key>
        <string>{-168,236}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{271,341}}</string>
        <key>sourceSize</key>
        <string>{271,341}</string>
      </dict>
      <key>monster_1052_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,912},{270,328}}</string>
        <key>offset</key>
        <string>{-153,228}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{270,328}}</string>
        <key>sourceSize</key>
        <string>{270,328}</string>
      </dict>
      <key>monster_1052_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{697,648},{253,331}}</string>
        <key>offset</key>
        <string>{-129,242}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{253,331}}</string>
        <key>sourceSize</key>
        <string>{253,331}</string>
      </dict>
      <key>monster_1052_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{322,1202},{273,318}}</string>
        <key>offset</key>
        <string>{-129,229}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{273,318}}</string>
        <key>sourceSize</key>
        <string>{273,318}</string>
      </dict>
      <key>monster_1052_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{322,1477},{275,304}}</string>
        <key>offset</key>
        <string>{-75,253}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{275,304}}</string>
        <key>sourceSize</key>
        <string>{275,304}</string>
      </dict>
      <key>monster_1052_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{642,1292},{282,310}}</string>
        <key>offset</key>
        <string>{-93,235}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{282,310}}</string>
        <key>sourceSize</key>
        <string>{282,310}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_1052_0_7.png</string>
      <key>size</key>
      <string>{1024,2048}</string>
      <key>textureFileName</key>
      <string>monster_1052_0_7.png</string>
    </dict>
  </dict>
</plist>