<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_20027_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1330,1418},{271,336}}</string>
        <key>offset</key>
        <string>{-137,273}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{271,336}}</string>
        <key>sourceSize</key>
        <string>{271,336}</string>
      </dict>
      <key>monster_20027_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1647,1146},{281,324}}</string>
        <key>offset</key>
        <string>{-167,259}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{281,324}}</string>
        <key>sourceSize</key>
        <string>{281,324}</string>
      </dict>
      <key>monster_20027_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{847,462},{325,415}}</string>
        <key>offset</key>
        <string>{-132,351}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{325,415}}</string>
        <key>sourceSize</key>
        <string>{325,415}</string>
      </dict>
      <key>monster_20027_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1167,0},{402,380}}</string>
        <key>offset</key>
        <string>{-161,298}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{402,380}}</string>
        <key>sourceSize</key>
        <string>{402,380}</string>
      </dict>
      <key>monster_20027_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{272,0},{491,360}}</string>
        <key>offset</key>
        <string>{-220,274}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{491,360}}</string>
        <key>sourceSize</key>
        <string>{491,360}</string>
      </dict>
      <key>monster_20027_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{299,1067},{484,356}}</string>
        <key>offset</key>
        <string>{-210,266}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{484,356}}</string>
        <key>sourceSize</key>
        <string>{484,356}</string>
      </dict>
      <key>monster_20027_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1558,344},{225,334}}</string>
        <key>offset</key>
        <string>{-104,276}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{225,334}}</string>
        <key>sourceSize</key>
        <string>{225,334}</string>
      </dict>
      <key>monster_20027_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1297,1146},{348,270}}</string>
        <key>offset</key>
        <string>{-84,218}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{348,270}}</string>
        <key>sourceSize</key>
        <string>{348,270}</string>
      </dict>
      <key>monster_20027_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{968,0},{197,414}}</string>
        <key>offset</key>
        <string>{-85,363}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{197,414}}</string>
        <key>sourceSize</key>
        <string>{197,414}</string>
      </dict>
      <key>monster_20027_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1297,799},{345,363}}</string>
        <key>offset</key>
        <string>{-171,304}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{345,363}}</string>
        <key>sourceSize</key>
        <string>{345,363}</string>
      </dict>
      <key>monster_20027_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{634,0},{460,332}}</string>
        <key>offset</key>
        <string>{-309,273}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{460,332}}</string>
        <key>sourceSize</key>
        <string>{460,332}</string>
      </dict>
      <key>monster_20027_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{563,493},{474,282}}</string>
        <key>offset</key>
        <string>{-329,222}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{474,282}}</string>
        <key>sourceSize</key>
        <string>{474,282}</string>
      </dict>
      <key>monster_20027_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1558,0},{203,342}}</string>
        <key>offset</key>
        <string>{-111,281}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{203,342}}</string>
        <key>sourceSize</key>
        <string>{203,342}</string>
      </dict>
      <key>monster_20027_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1621},{299,290}}</string>
        <key>offset</key>
        <string>{-86,234}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{299,290}}</string>
        <key>sourceSize</key>
        <string>{299,290}</string>
      </dict>
      <key>monster_20027_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1174,404},{393,382}}</string>
        <key>offset</key>
        <string>{-122,322}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{393,382}}</string>
        <key>sourceSize</key>
        <string>{393,382}</string>
      </dict>
      <key>monster_20027_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{974,879},{400,321}}</string>
        <key>offset</key>
        <string>{-184,259}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{400,321}}</string>
        <key>sourceSize</key>
        <string>{400,321}</string>
      </dict>
      <key>monster_20027_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1093},{526,297}}</string>
        <key>offset</key>
        <string>{-328,235}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{526,297}}</string>
        <key>sourceSize</key>
        <string>{526,297}</string>
      </dict>
      <key>monster_20027_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{265,551},{514,296}}</string>
        <key>offset</key>
        <string>{-328,230}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{514,296}}</string>
        <key>sourceSize</key>
        <string>{514,296}</string>
      </dict>
      <key>monster_20027_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1085,1418},{243,344}}</string>
        <key>offset</key>
        <string>{-140,288}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{243,344}}</string>
        <key>sourceSize</key>
        <string>{243,344}</string>
      </dict>
      <key>monster_20027_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1603,1472},{273,307}}</string>
        <key>offset</key>
        <string>{-92,247}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{273,307}}</string>
        <key>sourceSize</key>
        <string>{273,307}</string>
      </dict>
      <key>monster_20027_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{657,969},{451,315}}</string>
        <key>offset</key>
        <string>{-150,258}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{451,315}}</string>
        <key>sourceSize</key>
        <string>{451,315}</string>
      </dict>
      <key>monster_20027_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{657,1422},{426,309}}</string>
        <key>offset</key>
        <string>{-215,242}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{426,309}}</string>
        <key>sourceSize</key>
        <string>{426,309}</string>
      </dict>
      <key>monster_20027_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{549,270}}</string>
        <key>offset</key>
        <string>{-313,205}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{549,270}}</string>
        <key>sourceSize</key>
        <string>{549,270}</string>
      </dict>
      <key>monster_20027_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,551},{540,263}}</string>
        <key>offset</key>
        <string>{-298,200}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{540,263}}</string>
        <key>sourceSize</key>
        <string>{540,263}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_20027_0_2_1.png</string>
      <key>size</key>
      <string>{1932,1937}</string>
      <key>textureFileName</key>
      <string>monster_20027_0_2_1.png</string>
    </dict>
  </dict>
</plist>