<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_20073_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{800,715},{212,263}}</string>
        <key>offset</key>
        <string>{-72,177}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{212,263}}</string>
        <key>sourceSize</key>
        <string>{212,263}</string>
      </dict>
      <key>monster_20073_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{823,0},{197,262}}</string>
        <key>offset</key>
        <string>{-62,148}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{197,262}}</string>
        <key>sourceSize</key>
        <string>{197,262}</string>
      </dict>
      <key>monster_20073_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{582,0},{296,239}}</string>
        <key>offset</key>
        <string>{-160,189}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{296,239}}</string>
        <key>sourceSize</key>
        <string>{296,239}</string>
      </dict>
      <key>monster_20073_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{185,367},{307,234}}</string>
        <key>offset</key>
        <string>{-166,157}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{307,234}}</string>
        <key>sourceSize</key>
        <string>{307,234}</string>
      </dict>
      <key>monster_20073_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{179,0},{365,196}}</string>
        <key>offset</key>
        <string>{-208,166}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{365,196}}</string>
        <key>sourceSize</key>
        <string>{365,196}</string>
      </dict>
      <key>monster_20073_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{366,177}}</string>
        <key>offset</key>
        <string>{-224,147}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{366,177}}</string>
        <key>sourceSize</key>
        <string>{366,177}</string>
      </dict>
      <key>monster_20073_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{651,512},{280,201}}</string>
        <key>offset</key>
        <string>{-119,158}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{280,201}}</string>
        <key>sourceSize</key>
        <string>{280,201}</string>
      </dict>
      <key>monster_20073_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{377,0},{300,203}}</string>
        <key>offset</key>
        <string>{-137,162}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{300,203}}</string>
        <key>sourceSize</key>
        <string>{300,203}</string>
      </dict>
      <key>monster_20073_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,920},{212,221}}</string>
        <key>offset</key>
        <string>{-92,162}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{212,221}}</string>
        <key>sourceSize</key>
        <string>{212,221}</string>
      </dict>
      <key>monster_20073_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{933,512},{197,227}}</string>
        <key>offset</key>
        <string>{-87,171}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{197,227}}</string>
        <key>sourceSize</key>
        <string>{197,227}</string>
      </dict>
      <key>monster_20073_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{651,298},{296,212}}</string>
        <key>offset</key>
        <string>{-88,160}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{296,212}}</string>
        <key>sourceSize</key>
        <string>{296,212}</string>
      </dict>
      <key>monster_20073_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{367,676},{307,219}}</string>
        <key>offset</key>
        <string>{-93,168}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{307,219}}</string>
        <key>sourceSize</key>
        <string>{307,219}</string>
      </dict>
      <key>monster_20073_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,736},{365,182}}</string>
        <key>offset</key>
        <string>{-109,153}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{365,182}}</string>
        <key>sourceSize</key>
        <string>{365,182}</string>
      </dict>
      <key>monster_20073_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,368},{366,183}}</string>
        <key>offset</key>
        <string>{-94,154}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{366,183}}</string>
        <key>sourceSize</key>
        <string>{366,183}</string>
      </dict>
      <key>monster_20073_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{588,715},{280,210}}</string>
        <key>offset</key>
        <string>{-113,146}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{280,210}}</string>
        <key>sourceSize</key>
        <string>{280,210}</string>
      </dict>
      <key>monster_20073_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{421,302},{300,228}}</string>
        <key>offset</key>
        <string>{-115,140}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{300,228}}</string>
        <key>sourceSize</key>
        <string>{300,228}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_20073_0_7.png</string>
      <key>size</key>
      <string>{1220,1137}</string>
      <key>textureFileName</key>
      <string>monster_20073_0_7.png</string>
    </dict>
  </dict>
</plist>