<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_1097_0_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1200,1290},{238,195}}</string>
        <key>offset</key>
        <string>{-94,116}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{238,195}}</string>
        <key>sourceSize</key>
        <string>{238,195}</string>
      </dict>
      <key>monster_1097_0_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1440,1431},{286,201}}</string>
        <key>offset</key>
        <string>{-129,123}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{286,201}}</string>
        <key>sourceSize</key>
        <string>{286,201}</string>
      </dict>
      <key>monster_1097_0_4_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{720,921},{304,238}}</string>
        <key>offset</key>
        <string>{-125,154}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{304,238}}</string>
        <key>sourceSize</key>
        <string>{304,238}</string>
      </dict>
      <key>monster_1097_0_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{720,307},{238,195}}</string>
        <key>offset</key>
        <string>{-94,116}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{238,195}}</string>
        <key>sourceSize</key>
        <string>{238,195}</string>
      </dict>
      <key>monster_1097_0_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1440,960},{288,155}}</string>
        <key>offset</key>
        <string>{-117,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{288,155}}</string>
        <key>sourceSize</key>
        <string>{288,155}</string>
      </dict>
      <key>monster_1097_0_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{720,1842},{286,201}}</string>
        <key>offset</key>
        <string>{-129,123}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{286,201}}</string>
        <key>sourceSize</key>
        <string>{286,201}</string>
      </dict>
      <key>monster_1097_0_4_1_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{720,1227},{304,238}}</string>
        <key>offset</key>
        <string>{-125,154}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{304,238}}</string>
        <key>sourceSize</key>
        <string>{304,238}</string>
      </dict>
      <key>monster_1097_0_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1730,1075},{288,155}}</string>
        <key>offset</key>
        <string>{-117,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{288,155}}</string>
        <key>sourceSize</key>
        <string>{288,155}</string>
      </dict>
      <key>monster_1097_0_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1842},{286,201}}</string>
        <key>offset</key>
        <string>{-129,123}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{286,201}}</string>
        <key>sourceSize</key>
        <string>{286,201}</string>
      </dict>
      <key>monster_1097_0_4_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{305,238}}</string>
        <key>offset</key>
        <string>{-126,154}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{305,238}}</string>
        <key>sourceSize</key>
        <string>{305,238}</string>
      </dict>
      <key>monster_1097_0_4_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,307},{305,238}}</string>
        <key>offset</key>
        <string>{-126,154}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{305,238}}</string>
        <key>sourceSize</key>
        <string>{305,238}</string>
      </dict>
      <key>monster_1097_0_4_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,614},{305,238}}</string>
        <key>offset</key>
        <string>{-126,154}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{305,238}}</string>
        <key>sourceSize</key>
        <string>{305,238}</string>
      </dict>
      <key>monster_1097_0_4_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,921},{305,238}}</string>
        <key>offset</key>
        <string>{-126,154}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{305,238}}</string>
        <key>sourceSize</key>
        <string>{305,238}</string>
      </dict>
      <key>monster_1097_0_4_2_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1228},{305,238}}</string>
        <key>offset</key>
        <string>{-126,154}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{305,238}}</string>
        <key>sourceSize</key>
        <string>{305,238}</string>
      </dict>
      <key>monster_1097_0_4_2_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{960,1227},{304,238}}</string>
        <key>offset</key>
        <string>{-125,154}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{304,238}}</string>
        <key>sourceSize</key>
        <string>{304,238}</string>
      </dict>
      <key>monster_1097_0_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1728,1546},{238,195}}</string>
        <key>offset</key>
        <string>{-94,116}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{238,195}}</string>
        <key>sourceSize</key>
        <string>{238,195}</string>
      </dict>
      <key>monster_1097_0_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1440,1117},{288,155}}</string>
        <key>offset</key>
        <string>{-117,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{288,155}}</string>
        <key>sourceSize</key>
        <string>{288,155}</string>
      </dict>
      <key>monster_1097_0_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{288,1842},{286,201}}</string>
        <key>offset</key>
        <string>{-129,123}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{286,201}}</string>
        <key>sourceSize</key>
        <string>{286,201}</string>
      </dict>
      <key>monster_1097_0_4_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1535},{305,238}}</string>
        <key>offset</key>
        <string>{-126,154}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{305,238}}</string>
        <key>sourceSize</key>
        <string>{305,238}</string>
      </dict>
      <key>monster_1097_0_4_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,1535},{305,238}}</string>
        <key>offset</key>
        <string>{-126,154}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{305,238}}</string>
        <key>sourceSize</key>
        <string>{305,238}</string>
      </dict>
      <key>monster_1097_0_4_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,0},{305,238}}</string>
        <key>offset</key>
        <string>{-126,154}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{305,238}}</string>
        <key>sourceSize</key>
        <string>{305,238}</string>
      </dict>
      <key>monster_1097_0_4_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,307},{305,238}}</string>
        <key>offset</key>
        <string>{-126,154}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{305,238}}</string>
        <key>sourceSize</key>
        <string>{305,238}</string>
      </dict>
      <key>monster_1097_0_4_3_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,614},{305,238}}</string>
        <key>offset</key>
        <string>{-126,154}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{305,238}}</string>
        <key>sourceSize</key>
        <string>{305,238}</string>
      </dict>
      <key>monster_1097_0_4_3_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{960,1533},{304,238}}</string>
        <key>offset</key>
        <string>{-125,154}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{304,238}}</string>
        <key>sourceSize</key>
        <string>{304,238}</string>
      </dict>
      <key>monster_1097_0_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1730,1232},{288,155}}</string>
        <key>offset</key>
        <string>{-117,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{288,155}}</string>
        <key>sourceSize</key>
        <string>{288,155}</string>
      </dict>
      <key>monster_1097_0_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1008,1839},{286,201}}</string>
        <key>offset</key>
        <string>{-129,123}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{286,201}}</string>
        <key>sourceSize</key>
        <string>{286,201}</string>
      </dict>
      <key>monster_1097_0_4_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,921},{305,238}}</string>
        <key>offset</key>
        <string>{-126,154}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{305,238}}</string>
        <key>sourceSize</key>
        <string>{305,238}</string>
      </dict>
      <key>monster_1097_0_4_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{240,1228},{305,238}}</string>
        <key>offset</key>
        <string>{-126,154}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{305,238}}</string>
        <key>sourceSize</key>
        <string>{305,238}</string>
      </dict>
      <key>monster_1097_0_4_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{480,1228},{305,238}}</string>
        <key>offset</key>
        <string>{-126,154}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{305,238}}</string>
        <key>sourceSize</key>
        <string>{305,238}</string>
      </dict>
      <key>monster_1097_0_4_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{480,1535},{305,238}}</string>
        <key>offset</key>
        <string>{-126,154}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{305,238}}</string>
        <key>sourceSize</key>
        <string>{305,238}</string>
      </dict>
      <key>monster_1097_0_4_4_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{720,1535},{305,238}}</string>
        <key>offset</key>
        <string>{-126,154}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{305,238}}</string>
        <key>sourceSize</key>
        <string>{305,238}</string>
      </dict>
      <key>monster_1097_0_4_4_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1200,1533},{304,238}}</string>
        <key>offset</key>
        <string>{-125,154}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{304,238}}</string>
        <key>sourceSize</key>
        <string>{304,238}</string>
      </dict>
      <key>monster_1097_0_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{960,960},{239,195}}</string>
        <key>offset</key>
        <string>{-98,116}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{239,195}}</string>
        <key>sourceSize</key>
        <string>{239,195}</string>
      </dict>
      <key>monster_1097_0_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1440,1274},{288,155}}</string>
        <key>offset</key>
        <string>{-124,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{288,155}}</string>
        <key>sourceSize</key>
        <string>{288,155}</string>
      </dict>
      <key>monster_1097_0_4_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1296,1839},{286,201}}</string>
        <key>offset</key>
        <string>{-110,123}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{286,201}}</string>
        <key>sourceSize</key>
        <string>{286,201}</string>
      </dict>
      <key>monster_1097_0_4_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1440,0},{304,238}}</string>
        <key>offset</key>
        <string>{-131,154}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{304,238}}</string>
        <key>sourceSize</key>
        <string>{304,238}</string>
      </dict>
      <key>monster_1097_0_4_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1746,0},{304,238}}</string>
        <key>offset</key>
        <string>{-131,154}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{304,238}}</string>
        <key>sourceSize</key>
        <string>{304,238}</string>
      </dict>
      <key>monster_1097_0_4_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1440,240},{304,238}}</string>
        <key>offset</key>
        <string>{-131,154}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{304,238}}</string>
        <key>sourceSize</key>
        <string>{304,238}</string>
      </dict>
      <key>monster_1097_0_4_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1200,240},{304,238}}</string>
        <key>offset</key>
        <string>{-131,154}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{304,238}}</string>
        <key>sourceSize</key>
        <string>{304,238}</string>
      </dict>
      <key>monster_1097_0_4_5_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{960,240},{304,238}}</string>
        <key>offset</key>
        <string>{-131,154}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{304,238}}</string>
        <key>sourceSize</key>
        <string>{304,238}</string>
      </dict>
      <key>monster_1097_0_4_5_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{960,546},{304,238}}</string>
        <key>offset</key>
        <string>{-131,154}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{304,238}}</string>
        <key>sourceSize</key>
        <string>{304,238}</string>
      </dict>
      <key>monster_1097_0_4_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1157,852},{239,195}}</string>
        <key>offset</key>
        <string>{-88,116}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{239,195}}</string>
        <key>sourceSize</key>
        <string>{239,195}</string>
      </dict>
      <key>monster_1097_0_4_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1746,918},{289,155}}</string>
        <key>offset</key>
        <string>{-115,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{289,155}}</string>
        <key>sourceSize</key>
        <string>{289,155}</string>
      </dict>
      <key>monster_1097_0_4_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1440,1634},{286,201}}</string>
        <key>offset</key>
        <string>{-100,123}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{286,201}}</string>
        <key>sourceSize</key>
        <string>{286,201}</string>
      </dict>
      <key>monster_1097_0_4_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{960,0},{305,238}}</string>
        <key>offset</key>
        <string>{-122,154}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{305,238}}</string>
        <key>sourceSize</key>
        <string>{305,238}</string>
      </dict>
      <key>monster_1097_0_4_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{720,0},{305,238}}</string>
        <key>offset</key>
        <string>{-122,154}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{305,238}}</string>
        <key>sourceSize</key>
        <string>{305,238}</string>
      </dict>
      <key>monster_1097_0_4_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{480,0},{305,238}}</string>
        <key>offset</key>
        <string>{-122,154}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{305,238}}</string>
        <key>sourceSize</key>
        <string>{305,238}</string>
      </dict>
      <key>monster_1097_0_4_6_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{480,307},{305,238}}</string>
        <key>offset</key>
        <string>{-122,154}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{305,238}}</string>
        <key>sourceSize</key>
        <string>{305,238}</string>
      </dict>
      <key>monster_1097_0_4_6_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{480,614},{305,238}}</string>
        <key>offset</key>
        <string>{-122,154}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{305,238}}</string>
        <key>sourceSize</key>
        <string>{305,238}</string>
      </dict>
      <key>monster_1097_0_4_6_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{480,921},{305,238}}</string>
        <key>offset</key>
        <string>{-122,154}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{305,238}}</string>
        <key>sourceSize</key>
        <string>{305,238}</string>
      </dict>
      <key>monster_1097_0_4_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1200,1049},{239,195}}</string>
        <key>offset</key>
        <string>{-105,116}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{239,195}}</string>
        <key>sourceSize</key>
        <string>{239,195}</string>
      </dict>
      <key>monster_1097_0_4_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1730,1389},{288,155}}</string>
        <key>offset</key>
        <string>{-131,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{288,155}}</string>
        <key>sourceSize</key>
        <string>{288,155}</string>
      </dict>
      <key>monster_1097_0_4_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1584,1837},{286,201}}</string>
        <key>offset</key>
        <string>{-117,123}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{286,201}}</string>
        <key>sourceSize</key>
        <string>{286,201}</string>
      </dict>
      <key>monster_1097_0_4_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{720,546},{304,238}}</string>
        <key>offset</key>
        <string>{-138,154}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{304,238}}</string>
        <key>sourceSize</key>
        <string>{304,238}</string>
      </dict>
      <key>monster_1097_0_4_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1746,306},{304,238}}</string>
        <key>offset</key>
        <string>{-138,154}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{304,238}}</string>
        <key>sourceSize</key>
        <string>{304,238}</string>
      </dict>
      <key>monster_1097_0_4_7_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1440,480},{304,238}}</string>
        <key>offset</key>
        <string>{-138,154}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{304,238}}</string>
        <key>sourceSize</key>
        <string>{304,238}</string>
      </dict>
      <key>monster_1097_0_4_7_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1200,546},{304,238}}</string>
        <key>offset</key>
        <string>{-138,154}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{304,238}}</string>
        <key>sourceSize</key>
        <string>{304,238}</string>
      </dict>
      <key>monster_1097_0_4_7_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1746,612},{304,238}}</string>
        <key>offset</key>
        <string>{-138,154}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{304,238}}</string>
        <key>sourceSize</key>
        <string>{304,238}</string>
      </dict>
      <key>monster_1097_0_4_7_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1440,720},{304,238}}</string>
        <key>offset</key>
        <string>{-138,154}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{304,238}}</string>
        <key>sourceSize</key>
        <string>{304,238}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_1097_0_4_0.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_1097_0_4_0.png</string>
    </dict>
  </dict>
</plist>