<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_40035_0_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{881,711},{108,99}}</string>
        <key>offset</key>
        <string>{-18,64}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,99}}</string>
        <key>sourceSize</key>
        <string>{108,99}</string>
      </dict>
      <key>monster_40035_0_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{919,399},{118,100}}</string>
        <key>offset</key>
        <string>{-25,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,100}}</string>
        <key>sourceSize</key>
        <string>{118,100}</string>
      </dict>
      <key>monster_40035_0_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{171,0},{154,104}}</string>
        <key>offset</key>
        <string>{-35,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,104}}</string>
        <key>sourceSize</key>
        <string>{154,104}</string>
      </dict>
      <key>monster_40035_0_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{787,0},{132,107}}</string>
        <key>offset</key>
        <string>{-6,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,107}}</string>
        <key>sourceSize</key>
        <string>{132,107}</string>
      </dict>
      <key>monster_40035_0_4_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{896,0},{132,107}}</string>
        <key>offset</key>
        <string>{-6,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,107}}</string>
        <key>sourceSize</key>
        <string>{132,107}</string>
      </dict>
      <key>monster_40035_0_4_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{896,134},{132,107}}</string>
        <key>offset</key>
        <string>{-6,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,107}}</string>
        <key>sourceSize</key>
        <string>{132,107}</string>
      </dict>
      <key>monster_40035_0_4_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{810,281},{132,107}}</string>
        <key>offset</key>
        <string>{-6,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,107}}</string>
        <key>sourceSize</key>
        <string>{132,107}</string>
      </dict>
      <key>monster_40035_0_4_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{663,745},{132,107}}</string>
        <key>offset</key>
        <string>{-6,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,107}}</string>
        <key>sourceSize</key>
        <string>{132,107}</string>
      </dict>
      <key>monster_40035_0_4_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{667,879},{132,107}}</string>
        <key>offset</key>
        <string>{-6,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,107}}</string>
        <key>sourceSize</key>
        <string>{132,107}</string>
      </dict>
      <key>monster_40035_0_4_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{761,592},{132,107}}</string>
        <key>offset</key>
        <string>{-6,92}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,107}}</string>
        <key>sourceSize</key>
        <string>{132,107}</string>
      </dict>
      <key>monster_40035_0_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{875,910},{96,105}}</string>
        <key>offset</key>
        <string>{-2,68}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,105}}</string>
        <key>sourceSize</key>
        <string>{96,105}</string>
      </dict>
      <key>monster_40035_0_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{977,600},{95,103}}</string>
        <key>offset</key>
        <string>{-21,64}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{95,103}}</string>
        <key>sourceSize</key>
        <string>{95,103}</string>
      </dict>
      <key>monster_40035_0_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{870,600},{109,105}}</string>
        <key>offset</key>
        <string>{-3,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{109,105}}</string>
        <key>sourceSize</key>
        <string>{109,105}</string>
      </dict>
      <key>monster_40035_0_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{163,85}}</string>
        <key>offset</key>
        <string>{13,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,85}}</string>
        <key>sourceSize</key>
        <string>{163,85}</string>
      </dict>
      <key>monster_40035_0_4_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,165},{163,85}}</string>
        <key>offset</key>
        <string>{13,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,85}}</string>
        <key>sourceSize</key>
        <string>{163,85}</string>
      </dict>
      <key>monster_40035_0_4_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,330},{163,85}}</string>
        <key>offset</key>
        <string>{13,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,85}}</string>
        <key>sourceSize</key>
        <string>{163,85}</string>
      </dict>
      <key>monster_40035_0_4_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,495},{163,85}}</string>
        <key>offset</key>
        <string>{13,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,85}}</string>
        <key>sourceSize</key>
        <string>{163,85}</string>
      </dict>
      <key>monster_40035_0_4_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,660},{163,85}}</string>
        <key>offset</key>
        <string>{13,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,85}}</string>
        <key>sourceSize</key>
        <string>{163,85}</string>
      </dict>
      <key>monster_40035_0_4_1_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,825},{163,85}}</string>
        <key>offset</key>
        <string>{13,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,85}}</string>
        <key>sourceSize</key>
        <string>{163,85}</string>
      </dict>
      <key>monster_40035_0_4_1_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{87,825},{163,85}}</string>
        <key>offset</key>
        <string>{13,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,85}}</string>
        <key>sourceSize</key>
        <string>{163,85}</string>
      </dict>
      <key>monster_40035_0_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{973,910},{103,101}}</string>
        <key>offset</key>
        <string>{-22,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,101}}</string>
        <key>sourceSize</key>
        <string>{103,101}</string>
      </dict>
      <key>monster_40035_0_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{910,519},{79,112}}</string>
        <key>offset</key>
        <string>{-7,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{79,112}}</string>
        <key>sourceSize</key>
        <string>{79,112}</string>
      </dict>
      <key>monster_40035_0_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{812,415},{118,96}}</string>
        <key>offset</key>
        <string>{-9,70}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{118,96}}</string>
        <key>sourceSize</key>
        <string>{118,96}</string>
      </dict>
      <key>monster_40035_0_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{274,310},{151,97}}</string>
        <key>offset</key>
        <string>{23,17}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,97}}</string>
        <key>sourceSize</key>
        <string>{151,97}</string>
      </dict>
      <key>monster_40035_0_4_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{274,463},{151,97}}</string>
        <key>offset</key>
        <string>{23,17}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,97}}</string>
        <key>sourceSize</key>
        <string>{151,97}</string>
      </dict>
      <key>monster_40035_0_4_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{358,616},{151,97}}</string>
        <key>offset</key>
        <string>{23,17}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,97}}</string>
        <key>sourceSize</key>
        <string>{151,97}</string>
      </dict>
      <key>monster_40035_0_4_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{361,769},{151,97}}</string>
        <key>offset</key>
        <string>{23,17}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,97}}</string>
        <key>sourceSize</key>
        <string>{151,97}</string>
      </dict>
      <key>monster_40035_0_4_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{361,922},{151,97}}</string>
        <key>offset</key>
        <string>{23,17}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,97}}</string>
        <key>sourceSize</key>
        <string>{151,97}</string>
      </dict>
      <key>monster_40035_0_4_2_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{373,310},{151,97}}</string>
        <key>offset</key>
        <string>{23,17}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,97}}</string>
        <key>sourceSize</key>
        <string>{151,97}</string>
      </dict>
      <key>monster_40035_0_4_2_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{373,463},{151,97}}</string>
        <key>offset</key>
        <string>{23,17}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,97}}</string>
        <key>sourceSize</key>
        <string>{151,97}</string>
      </dict>
      <key>monster_40035_0_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{990,812},{103,94}}</string>
        <key>offset</key>
        <string>{-16,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,94}}</string>
        <key>sourceSize</key>
        <string>{103,94}</string>
      </dict>
      <key>monster_40035_0_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{881,812},{107,96}}</string>
        <key>offset</key>
        <string>{-22,63}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,96}}</string>
        <key>sourceSize</key>
        <string>{107,96}</string>
      </dict>
      <key>monster_40035_0_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{749,143},{136,70}}</string>
        <key>offset</key>
        <string>{-33,49}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,70}}</string>
        <key>sourceSize</key>
        <string>{136,70}</string>
      </dict>
      <key>monster_40035_0_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{171,156},{152,101}}</string>
        <key>offset</key>
        <string>{-20,-7}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,101}}</string>
        <key>sourceSize</key>
        <string>{152,101}</string>
      </dict>
      <key>monster_40035_0_4_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{171,310},{152,101}}</string>
        <key>offset</key>
        <string>{-20,-7}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,101}}</string>
        <key>sourceSize</key>
        <string>{152,101}</string>
      </dict>
      <key>monster_40035_0_4_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{171,464},{152,101}}</string>
        <key>offset</key>
        <string>{-20,-7}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,101}}</string>
        <key>sourceSize</key>
        <string>{152,101}</string>
      </dict>
      <key>monster_40035_0_4_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{255,618},{152,101}}</string>
        <key>offset</key>
        <string>{-20,-7}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,101}}</string>
        <key>sourceSize</key>
        <string>{152,101}</string>
      </dict>
      <key>monster_40035_0_4_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{258,772},{152,101}}</string>
        <key>offset</key>
        <string>{-20,-7}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,101}}</string>
        <key>sourceSize</key>
        <string>{152,101}</string>
      </dict>
      <key>monster_40035_0_4_3_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{274,156},{152,101}}</string>
        <key>offset</key>
        <string>{-20,-7}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,101}}</string>
        <key>sourceSize</key>
        <string>{152,101}</string>
      </dict>
      <key>monster_40035_0_4_3_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{277,0},{152,101}}</string>
        <key>offset</key>
        <string>{-20,-7}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,101}}</string>
        <key>sourceSize</key>
        <string>{152,101}</string>
      </dict>
      <key>monster_40035_0_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{258,926},{100,83}}</string>
        <key>offset</key>
        <string>{-22,56}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{100,83}}</string>
        <key>sourceSize</key>
        <string>{100,83}</string>
      </dict>
      <key>monster_40035_0_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{919,268},{129,89}}</string>
        <key>offset</key>
        <string>{-38,62}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,89}}</string>
        <key>sourceSize</key>
        <string>{129,89}</string>
      </dict>
      <key>monster_40035_0_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{743,296},{138,65}}</string>
        <key>offset</key>
        <string>{-52,40}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,65}}</string>
        <key>sourceSize</key>
        <string>{138,65}</string>
      </dict>
      <key>monster_40035_0_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{457,616},{151,99}}</string>
        <key>offset</key>
        <string>{-98,-12}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,99}}</string>
        <key>sourceSize</key>
        <string>{151,99}</string>
      </dict>
      <key>monster_40035_0_4_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{460,769},{151,99}}</string>
        <key>offset</key>
        <string>{-98,-12}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,99}}</string>
        <key>sourceSize</key>
        <string>{151,99}</string>
      </dict>
      <key>monster_40035_0_4_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{514,922},{151,99}}</string>
        <key>offset</key>
        <string>{-98,-12}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,99}}</string>
        <key>sourceSize</key>
        <string>{151,99}</string>
      </dict>
      <key>monster_40035_0_4_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{377,154},{151,99}}</string>
        <key>offset</key>
        <string>{-98,-12}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,99}}</string>
        <key>sourceSize</key>
        <string>{151,99}</string>
      </dict>
      <key>monster_40035_0_4_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{380,0},{151,99}}</string>
        <key>offset</key>
        <string>{-98,-12}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,99}}</string>
        <key>sourceSize</key>
        <string>{151,99}</string>
      </dict>
      <key>monster_40035_0_4_4_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{472,307},{151,99}}</string>
        <key>offset</key>
        <string>{-98,-12}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,99}}</string>
        <key>sourceSize</key>
        <string>{151,99}</string>
      </dict>
      <key>monster_40035_0_4_4_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{478,153},{151,99}}</string>
        <key>offset</key>
        <string>{-98,-12}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,99}}</string>
        <key>sourceSize</key>
        <string>{151,99}</string>
      </dict>
      <key>monster_40035_0_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{776,838},{106,97}}</string>
        <key>offset</key>
        <string>{-39,63}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,97}}</string>
        <key>sourceSize</key>
        <string>{106,97}</string>
      </dict>
      <key>monster_40035_0_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{991,705},{103,94}}</string>
        <key>offset</key>
        <string>{-28,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{103,94}}</string>
        <key>sourceSize</key>
        <string>{103,94}</string>
      </dict>
      <key>monster_40035_0_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1005,0},{97,88}}</string>
        <key>offset</key>
        <string>{-44,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,88}}</string>
        <key>sourceSize</key>
        <string>{97,88}</string>
      </dict>
      <key>monster_40035_0_4_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{87,0},{162,82}}</string>
        <key>offset</key>
        <string>{-128,-2}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{162,82}}</string>
        <key>sourceSize</key>
        <string>{162,82}</string>
      </dict>
      <key>monster_40035_0_4_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{87,164},{162,82}}</string>
        <key>offset</key>
        <string>{-128,-2}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{162,82}}</string>
        <key>sourceSize</key>
        <string>{162,82}</string>
      </dict>
      <key>monster_40035_0_4_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{87,328},{162,82}}</string>
        <key>offset</key>
        <string>{-128,-2}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{162,82}}</string>
        <key>sourceSize</key>
        <string>{162,82}</string>
      </dict>
      <key>monster_40035_0_4_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{87,492},{162,82}}</string>
        <key>offset</key>
        <string>{-128,-2}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{162,82}}</string>
        <key>sourceSize</key>
        <string>{162,82}</string>
      </dict>
      <key>monster_40035_0_4_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{87,656},{162,82}}</string>
        <key>offset</key>
        <string>{-128,-2}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{162,82}}</string>
        <key>sourceSize</key>
        <string>{162,82}</string>
      </dict>
      <key>monster_40035_0_4_5_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{171,656},{162,82}}</string>
        <key>offset</key>
        <string>{-128,-2}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{162,82}}</string>
        <key>sourceSize</key>
        <string>{162,82}</string>
      </dict>
      <key>monster_40035_0_4_5_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,820},{162,82}}</string>
        <key>offset</key>
        <string>{-128,-2}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{162,82}}</string>
        <key>sourceSize</key>
        <string>{162,82}</string>
      </dict>
      <key>monster_40035_0_4_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1076,908},{99,91}}</string>
        <key>offset</key>
        <string>{-23,61}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{99,91}}</string>
        <key>sourceSize</key>
        <string>{99,91}</string>
      </dict>
      <key>monster_40035_0_4_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1010,198},{82,89}}</string>
        <key>offset</key>
        <string>{-11,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{82,89}}</string>
        <key>sourceSize</key>
        <string>{82,89}</string>
      </dict>
      <key>monster_40035_0_4_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{772,726},{107,110}}</string>
        <key>offset</key>
        <string>{-36,82}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{107,110}}</string>
        <key>sourceSize</key>
        <string>{107,110}</string>
      </dict>
      <key>monster_40035_0_4_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{481,0},{151,66}}</string>
        <key>offset</key>
        <string>{-127,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,66}}</string>
        <key>sourceSize</key>
        <string>{151,66}</string>
      </dict>
      <key>monster_40035_0_4_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{549,0},{151,66}}</string>
        <key>offset</key>
        <string>{-127,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,66}}</string>
        <key>sourceSize</key>
        <string>{151,66}</string>
      </dict>
      <key>monster_40035_0_4_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{472,460},{151,66}}</string>
        <key>offset</key>
        <string>{-127,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,66}}</string>
        <key>sourceSize</key>
        <string>{151,66}</string>
      </dict>
      <key>monster_40035_0_4_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{540,460},{151,66}}</string>
        <key>offset</key>
        <string>{-127,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,66}}</string>
        <key>sourceSize</key>
        <string>{151,66}</string>
      </dict>
      <key>monster_40035_0_4_6_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{573,306},{151,66}}</string>
        <key>offset</key>
        <string>{-127,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,66}}</string>
        <key>sourceSize</key>
        <string>{151,66}</string>
      </dict>
      <key>monster_40035_0_4_6_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{579,153},{151,66}}</string>
        <key>offset</key>
        <string>{-127,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,66}}</string>
        <key>sourceSize</key>
        <string>{151,66}</string>
      </dict>
      <key>monster_40035_0_4_6_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{617,0},{151,66}}</string>
        <key>offset</key>
        <string>{-127,30}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,66}}</string>
        <key>sourceSize</key>
        <string>{151,66}</string>
      </dict>
      <key>monster_40035_0_4_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1095,0},{90,86}}</string>
        <key>offset</key>
        <string>{-15,64}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{90,86}}</string>
        <key>sourceSize</key>
        <string>{90,86}</string>
      </dict>
      <key>monster_40035_0_4_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1005,99},{97,92}}</string>
        <key>offset</key>
        <string>{-11,53}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,92}}</string>
        <key>sourceSize</key>
        <string>{97,92}</string>
      </dict>
      <key>monster_40035_0_4_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{558,613},{150,99}}</string>
        <key>offset</key>
        <string>{-37,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,99}}</string>
        <key>sourceSize</key>
        <string>{150,99}</string>
      </dict>
      <key>monster_40035_0_4_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{608,459},{141,100}}</string>
        <key>offset</key>
        <string>{-86,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,100}}</string>
        <key>sourceSize</key>
        <string>{141,100}</string>
      </dict>
      <key>monster_40035_0_4_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{641,306},{141,100}}</string>
        <key>offset</key>
        <string>{-86,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,100}}</string>
        <key>sourceSize</key>
        <string>{141,100}</string>
      </dict>
      <key>monster_40035_0_4_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{647,153},{141,100}}</string>
        <key>offset</key>
        <string>{-86,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,100}}</string>
        <key>sourceSize</key>
        <string>{141,100}</string>
      </dict>
      <key>monster_40035_0_4_7_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{685,0},{141,100}}</string>
        <key>offset</key>
        <string>{-86,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,100}}</string>
        <key>sourceSize</key>
        <string>{141,100}</string>
      </dict>
      <key>monster_40035_0_4_7_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{561,765},{141,100}}</string>
        <key>offset</key>
        <string>{-86,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,100}}</string>
        <key>sourceSize</key>
        <string>{141,100}</string>
      </dict>
      <key>monster_40035_0_4_7_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{659,602},{141,100}}</string>
        <key>offset</key>
        <string>{-86,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,100}}</string>
        <key>sourceSize</key>
        <string>{141,100}</string>
      </dict>
      <key>monster_40035_0_4_7_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{710,449},{141,100}}</string>
        <key>offset</key>
        <string>{-86,76}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,100}}</string>
        <key>sourceSize</key>
        <string>{141,100}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_40035_0_4.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>monster_40035_0_4.png</string>
    </dict>
  </dict>
</plist>