<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_40067_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{828,347},{149,170}}</string>
        <key>offset</key>
        <string>{-38,123}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{149,170}}</string>
        <key>sourceSize</key>
        <string>{149,170}</string>
      </dict>
      <key>monster_40067_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{677,176},{149,172}}</string>
        <key>offset</key>
        <string>{-38,124}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{149,172}}</string>
        <key>sourceSize</key>
        <string>{149,172}</string>
      </dict>
      <key>monster_40067_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{865,0},{149,171}}</string>
        <key>offset</key>
        <string>{-38,123}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{149,171}}</string>
        <key>sourceSize</key>
        <string>{149,171}</string>
      </dict>
      <key>monster_40067_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{963,811},{147,168}}</string>
        <key>offset</key>
        <string>{-37,123}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,168}}</string>
        <key>sourceSize</key>
        <string>{147,168}</string>
      </dict>
      <key>monster_40067_0_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{184,179}}</string>
        <key>offset</key>
        <string>{-50,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{184,179}}</string>
        <key>sourceSize</key>
        <string>{184,179}</string>
      </dict>
      <key>monster_40067_0_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,186},{184,180}}</string>
        <key>offset</key>
        <string>{-50,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{184,180}}</string>
        <key>sourceSize</key>
        <string>{184,180}</string>
      </dict>
      <key>monster_40067_0_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,742},{182,179}}</string>
        <key>offset</key>
        <string>{-48,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{182,179}}</string>
        <key>sourceSize</key>
        <string>{182,179}</string>
      </dict>
      <key>monster_40067_0_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{181,0},{183,177}}</string>
        <key>offset</key>
        <string>{-49,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{183,177}}</string>
        <key>sourceSize</key>
        <string>{183,177}</string>
      </dict>
      <key>monster_40067_0_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{799,498},{155,170}}</string>
        <key>offset</key>
        <string>{-45,140}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,170}}</string>
        <key>sourceSize</key>
        <string>{155,170}</string>
      </dict>
      <key>monster_40067_0_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{794,655},{154,170}}</string>
        <key>offset</key>
        <string>{-44,140}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,170}}</string>
        <key>sourceSize</key>
        <string>{154,170}</string>
      </dict>
      <key>monster_40067_0_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,811},{154,170}}</string>
        <key>offset</key>
        <string>{-44,140}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,170}}</string>
        <key>sourceSize</key>
        <string>{154,170}</string>
      </dict>
      <key>monster_40067_0_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{806,811},{155,170}}</string>
        <key>offset</key>
        <string>{-45,140}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,170}}</string>
        <key>sourceSize</key>
        <string>{155,170}</string>
      </dict>
      <key>monster_40067_0_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,372},{164,183}}</string>
        <key>offset</key>
        <string>{-58,141}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{164,183}}</string>
        <key>sourceSize</key>
        <string>{164,183}</string>
      </dict>
      <key>monster_40067_0_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,557},{165,183}}</string>
        <key>offset</key>
        <string>{-59,141}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{165,183}}</string>
        <key>sourceSize</key>
        <string>{165,183}</string>
      </dict>
      <key>monster_40067_0_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{166,372},{164,183}}</string>
        <key>offset</key>
        <string>{-58,141}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{164,183}}</string>
        <key>sourceSize</key>
        <string>{164,183}</string>
      </dict>
      <key>monster_40067_0_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{182,185},{163,183}}</string>
        <key>offset</key>
        <string>{-57,141}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,183}}</string>
        <key>sourceSize</key>
        <string>{163,183}</string>
      </dict>
      <key>monster_40067_0_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{522,178},{153,174}}</string>
        <key>offset</key>
        <string>{-34,135}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,174}}</string>
        <key>sourceSize</key>
        <string>{153,174}</string>
      </dict>
      <key>monster_40067_0_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{535,0},{154,174}}</string>
        <key>offset</key>
        <string>{-35,135}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,174}}</string>
        <key>sourceSize</key>
        <string>{154,174}</string>
      </dict>
      <key>monster_40067_0_0_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{495,728},{153,174}}</string>
        <key>offset</key>
        <string>{-34,135}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,174}}</string>
        <key>sourceSize</key>
        <string>{153,174}</string>
      </dict>
      <key>monster_40067_0_0_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{470,363},{153,175}}</string>
        <key>offset</key>
        <string>{-35,135}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,175}}</string>
        <key>sourceSize</key>
        <string>{153,175}</string>
      </dict>
      <key>monster_40067_0_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{347,185},{173,176}}</string>
        <key>offset</key>
        <string>{-68,141}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{173,176}}</string>
        <key>sourceSize</key>
        <string>{173,176}</string>
      </dict>
      <key>monster_40067_0_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{360,0},{173,176}}</string>
        <key>offset</key>
        <string>{-68,141}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{173,176}}</string>
        <key>sourceSize</key>
        <string>{173,176}</string>
      </dict>
      <key>monster_40067_0_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{320,738},{173,176}}</string>
        <key>offset</key>
        <string>{-68,141}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{173,176}}</string>
        <key>sourceSize</key>
        <string>{173,176}</string>
      </dict>
      <key>monster_40067_0_0_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{445,550},{173,176}}</string>
        <key>offset</key>
        <string>{-68,141}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{173,176}}</string>
        <key>sourceSize</key>
        <string>{173,176}</string>
      </dict>
      <key>monster_40067_0_0_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{620,540},{173,172}}</string>
        <key>offset</key>
        <string>{-62,140}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{173,172}}</string>
        <key>sourceSize</key>
        <string>{173,172}</string>
      </dict>
      <key>monster_40067_0_0_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{691,0},{172,172}}</string>
        <key>offset</key>
        <string>{-62,140}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{172,172}}</string>
        <key>sourceSize</key>
        <string>{172,172}</string>
      </dict>
      <key>monster_40067_0_0_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{625,354},{173,172}}</string>
        <key>offset</key>
        <string>{-62,140}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{173,172}}</string>
        <key>sourceSize</key>
        <string>{173,172}</string>
      </dict>
      <key>monster_40067_0_0_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{828,174},{172,171}}</string>
        <key>offset</key>
        <string>{-62,140}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{172,171}}</string>
        <key>sourceSize</key>
        <string>{172,171}</string>
      </dict>
      <key>monster_40067_0_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{306,557},{137,179}}</string>
        <key>offset</key>
        <string>{-18,132}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,179}}</string>
        <key>sourceSize</key>
        <string>{137,179}</string>
      </dict>
      <key>monster_40067_0_0_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{167,557},{137,180}}</string>
        <key>offset</key>
        <string>{-18,132}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,180}}</string>
        <key>sourceSize</key>
        <string>{137,180}</string>
      </dict>
      <key>monster_40067_0_0_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{181,739},{137,180}}</string>
        <key>offset</key>
        <string>{-18,132}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,180}}</string>
        <key>sourceSize</key>
        <string>{137,180}</string>
      </dict>
      <key>monster_40067_0_0_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{332,370},{136,178}}</string>
        <key>offset</key>
        <string>{-17,132}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{136,178}}</string>
        <key>sourceSize</key>
        <string>{136,178}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_40067_0_0.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>monster_40067_0_0.png</string>
    </dict>
  </dict>
</plist>