<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_40067_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{786,732},{157,178}}</string>
        <key>offset</key>
        <string>{-45,123}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{157,178}}</string>
        <key>sourceSize</key>
        <string>{157,178}</string>
      </dict>
      <key>monster_40067_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{682,368},{153,180}}</string>
        <key>offset</key>
        <string>{-40,124}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,180}}</string>
        <key>sourceSize</key>
        <string>{153,180}</string>
      </dict>
      <key>monster_40067_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1118,725},{151,176}}</string>
        <key>offset</key>
        <string>{-37,125}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,176}}</string>
        <key>sourceSize</key>
        <string>{151,176}</string>
      </dict>
      <key>monster_40067_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{187,0},{147,188}}</string>
        <key>offset</key>
        <string>{-33,135}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,188}}</string>
        <key>sourceSize</key>
        <string>{147,188}</string>
      </dict>
      <key>monster_40067_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{374,189},{149,186}}</string>
        <key>offset</key>
        <string>{-35,133}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{149,186}}</string>
        <key>sourceSize</key>
        <string>{149,186}</string>
      </dict>
      <key>monster_40067_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{866,550},{150,178}}</string>
        <key>offset</key>
        <string>{-37,125}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,178}}</string>
        <key>sourceSize</key>
        <string>{150,178}</string>
      </dict>
      <key>monster_40067_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{678,185},{181,180}}</string>
        <key>offset</key>
        <string>{-56,131}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{181,180}}</string>
        <key>sourceSize</key>
        <string>{181,180}</string>
      </dict>
      <key>monster_40067_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{183,437},{198,182}}</string>
        <key>offset</key>
        <string>{-59,133}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{198,182}}</string>
        <key>sourceSize</key>
        <string>{198,182}</string>
      </dict>
      <key>monster_40067_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,437},{210,181}}</string>
        <key>offset</key>
        <string>{-59,134}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{210,181}}</string>
        <key>sourceSize</key>
        <string>{210,181}</string>
      </dict>
      <key>monster_40067_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,223},{212,184}}</string>
        <key>offset</key>
        <string>{-58,131}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{212,184}}</string>
        <key>sourceSize</key>
        <string>{212,184}</string>
      </dict>
      <key>monster_40067_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{221,185}}</string>
        <key>offset</key>
        <string>{-62,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{221,185}}</string>
        <key>sourceSize</key>
        <string>{221,185}</string>
      </dict>
      <key>monster_40067_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{186,223},{198,186}}</string>
        <key>offset</key>
        <string>{-62,134}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{198,186}}</string>
        <key>sourceSize</key>
        <string>{198,186}</string>
      </dict>
      <key>monster_40067_0_1_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1650,0},{152,165}}</string>
        <key>offset</key>
        <string>{-56,138}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,165}}</string>
        <key>sourceSize</key>
        <string>{152,165}</string>
      </dict>
      <key>monster_40067_0_1_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1179,540},{176,165}}</string>
        <key>offset</key>
        <string>{-63,139}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,165}}</string>
        <key>sourceSize</key>
        <string>{176,165}</string>
      </dict>
      <key>monster_40067_0_1_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{523,620},{191,166}}</string>
        <key>offset</key>
        <string>{-52,141}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{191,166}}</string>
        <key>sourceSize</key>
        <string>{191,166}</string>
      </dict>
      <key>monster_40067_0_1_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,649},{207,172}}</string>
        <key>offset</key>
        <string>{-54,139}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{207,172}}</string>
        <key>sourceSize</key>
        <string>{207,172}</string>
      </dict>
      <key>monster_40067_0_1_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,649},{206,174}}</string>
        <key>offset</key>
        <string>{-57,140}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{206,174}}</string>
        <key>sourceSize</key>
        <string>{206,174}</string>
      </dict>
      <key>monster_40067_0_1_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1322,359},{176,169}}</string>
        <key>offset</key>
        <string>{-55,141}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,169}}</string>
        <key>sourceSize</key>
        <string>{176,169}</string>
      </dict>
      <key>monster_40067_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{483,0},{168,184}}</string>
        <key>offset</key>
        <string>{-61,139}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{168,184}}</string>
        <key>sourceSize</key>
        <string>{168,184}</string>
      </dict>
      <key>monster_40067_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{691,550},{173,180}}</string>
        <key>offset</key>
        <string>{-66,140}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{173,180}}</string>
        <key>sourceSize</key>
        <string>{173,180}</string>
      </dict>
      <key>monster_40067_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1493,356},{169,171}}</string>
        <key>offset</key>
        <string>{-63,141}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{169,171}}</string>
        <key>sourceSize</key>
        <string>{169,171}</string>
      </dict>
      <key>monster_40067_0_1_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1481,0},{167,173}}</string>
        <key>offset</key>
        <string>{-65,139}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,173}}</string>
        <key>sourceSize</key>
        <string>{167,173}</string>
      </dict>
      <key>monster_40067_0_1_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1351,179},{171,175}}</string>
        <key>offset</key>
        <string>{-68,140}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{171,175}}</string>
        <key>sourceSize</key>
        <string>{171,175}</string>
      </dict>
      <key>monster_40067_0_1_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{837,368},{175,180}}</string>
        <key>offset</key>
        <string>{-69,141}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{175,180}}</string>
        <key>sourceSize</key>
        <string>{175,180}</string>
      </dict>
      <key>monster_40067_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1014,365},{153,178}}</string>
        <key>offset</key>
        <string>{-35,133}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,178}}</string>
        <key>sourceSize</key>
        <string>{153,178}</string>
      </dict>
      <key>monster_40067_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1169,361},{151,177}}</string>
        <key>offset</key>
        <string>{-33,134}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,177}}</string>
        <key>sourceSize</key>
        <string>{151,177}</string>
      </dict>
      <key>monster_40067_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1524,175},{152,171}}</string>
        <key>offset</key>
        <string>{-33,135}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,171}}</string>
        <key>sourceSize</key>
        <string>{152,171}</string>
      </dict>
      <key>monster_40067_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1038,181},{152,178}}</string>
        <key>offset</key>
        <string>{-33,133}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{152,178}}</string>
        <key>sourceSize</key>
        <string>{152,178}</string>
      </dict>
      <key>monster_40067_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1192,180},{157,177}}</string>
        <key>offset</key>
        <string>{-38,134}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{157,177}}</string>
        <key>sourceSize</key>
        <string>{157,177}</string>
      </dict>
      <key>monster_40067_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1325,0},{154,177}}</string>
        <key>offset</key>
        <string>{-35,135}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,177}}</string>
        <key>sourceSize</key>
        <string>{154,177}</string>
      </dict>
      <key>monster_40067_0_1_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1271,718},{170,173}}</string>
        <key>offset</key>
        <string>{-66,139}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,173}}</string>
        <key>sourceSize</key>
        <string>{170,173}</string>
      </dict>
      <key>monster_40067_0_1_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{803,0},{181,175}}</string>
        <key>offset</key>
        <string>{-70,140}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{181,175}}</string>
        <key>sourceSize</key>
        <string>{181,175}</string>
      </dict>
      <key>monster_40067_0_1_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{860,183},{180,176}}</string>
        <key>offset</key>
        <string>{-69,141}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,176}}</string>
        <key>sourceSize</key>
        <string>{180,176}</string>
      </dict>
      <key>monster_40067_0_1_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1146,0},{177,178}}</string>
        <key>offset</key>
        <string>{-64,139}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{177,178}}</string>
        <key>sourceSize</key>
        <string>{177,178}</string>
      </dict>
      <key>monster_40067_0_1_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{604,813},{191,180}}</string>
        <key>offset</key>
        <string>{-72,140}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{191,180}}</string>
        <key>sourceSize</key>
        <string>{191,180}</string>
      </dict>
      <key>monster_40067_0_1_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{945,730},{178,171}}</string>
        <key>offset</key>
        <string>{-64,141}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{178,171}}</string>
        <key>sourceSize</key>
        <string>{178,171}</string>
      </dict>
      <key>monster_40067_0_1_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1346,537},{169,173}}</string>
        <key>offset</key>
        <string>{-48,139}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{169,173}}</string>
        <key>sourceSize</key>
        <string>{169,173}</string>
      </dict>
      <key>monster_40067_0_1_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{406,836},{196,173}}</string>
        <key>offset</key>
        <string>{-63,140}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,173}}</string>
        <key>sourceSize</key>
        <string>{196,173}</string>
      </dict>
      <key>monster_40067_0_1_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,637},{197,171}}</string>
        <key>offset</key>
        <string>{-77,140}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{197,171}}</string>
        <key>sourceSize</key>
        <string>{197,171}</string>
      </dict>
      <key>monster_40067_0_1_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,858},{201,161}}</string>
        <key>offset</key>
        <string>{-86,138}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{201,161}}</string>
        <key>sourceSize</key>
        <string>{201,161}</string>
      </dict>
      <key>monster_40067_0_1_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{203,857},{201,165}}</string>
        <key>offset</key>
        <string>{-84,139}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{201,165}}</string>
        <key>sourceSize</key>
        <string>{201,165}</string>
      </dict>
      <key>monster_40067_0_1_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{367,423},{195,166}}</string>
        <key>offset</key>
        <string>{-68,141}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{195,166}}</string>
        <key>sourceSize</key>
        <string>{195,166}</string>
      </dict>
      <key>monster_40067_0_1_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{525,186},{151,183}}</string>
        <key>offset</key>
        <string>{-33,131}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,183}}</string>
        <key>sourceSize</key>
        <string>{151,183}</string>
      </dict>
      <key>monster_40067_0_1_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{336,0},{145,187}}</string>
        <key>offset</key>
        <string>{-28,133}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,187}}</string>
        <key>sourceSize</key>
        <string>{145,187}</string>
      </dict>
      <key>monster_40067_0_1_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{653,0},{148,183}}</string>
        <key>offset</key>
        <string>{-31,133}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,183}}</string>
        <key>sourceSize</key>
        <string>{148,183}</string>
      </dict>
      <key>monster_40067_0_1_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{980,0},{164,179}}</string>
        <key>offset</key>
        <string>{-48,131}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{164,179}}</string>
        <key>sourceSize</key>
        <string>{164,179}</string>
      </dict>
      <key>monster_40067_0_1_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1018,545},{159,178}}</string>
        <key>offset</key>
        <string>{-37,132}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,178}}</string>
        <key>sourceSize</key>
        <string>{159,178}</string>
      </dict>
      <key>monster_40067_0_1_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{535,371},{145,182}}</string>
        <key>offset</key>
        <string>{-24,134}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,182}}</string>
        <key>sourceSize</key>
        <string>{145,182}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_40067_0_1.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>monster_40067_0_1.png</string>
    </dict>
  </dict>
</plist>