<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_20075_0_4_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{769,834},{352,318}}</string>
        <key>offset</key>
        <string>{-161,261}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{352,318}}</string>
        <key>sourceSize</key>
        <string>{352,318}</string>
      </dict>
      <key>monster_20075_0_4_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{398,834},{369,330}}</string>
        <key>offset</key>
        <string>{-130,239}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{369,330}}</string>
        <key>sourceSize</key>
        <string>{369,330}</string>
      </dict>
      <key>monster_20075_0_4_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1166},{335,328}}</string>
        <key>offset</key>
        <string>{-82,255}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{335,328}}</string>
        <key>sourceSize</key>
        <string>{335,328}</string>
      </dict>
      <key>monster_20075_0_4_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,834},{396,326}}</string>
        <key>offset</key>
        <string>{-157,259}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{396,326}}</string>
        <key>sourceSize</key>
        <string>{396,326}</string>
      </dict>
      <key>monster_20075_0_4_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{718,0},{401,294}}</string>
        <key>offset</key>
        <string>{-239,245}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{401,294}}</string>
        <key>sourceSize</key>
        <string>{401,294}</string>
      </dict>
      <key>monster_20075_0_4_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{604,584},{566,248}}</string>
        <key>offset</key>
        <string>{-362,132}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{566,248}}</string>
        <key>sourceSize</key>
        <string>{566,248}</string>
      </dict>
      <key>monster_20075_0_4_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{603,277}}</string>
        <key>offset</key>
        <string>{-390,175}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{603,277}}</string>
        <key>sourceSize</key>
        <string>{603,277}</string>
      </dict>
      <key>monster_20075_0_4_6_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{498,0},{582,218}}</string>
        <key>offset</key>
        <string>{-394,116}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{582,218}}</string>
        <key>sourceSize</key>
        <string>{582,218}</string>
      </dict>
      <key>monster_20075_0_4_6_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{279,0},{588,217}}</string>
        <key>offset</key>
        <string>{-413,115}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{588,217}}</string>
        <key>sourceSize</key>
        <string>{588,217}</string>
      </dict>
      <key>monster_20075_0_4_6_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,605},{602,214}}</string>
        <key>offset</key>
        <string>{-415,112}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{602,214}}</string>
        <key>sourceSize</key>
        <string>{602,214}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_20075_0_4_6.png</string>
      <key>size</key>
      <string>{1447,1515}</string>
      <key>textureFileName</key>
      <string>monster_20075_0_4_6.png</string>
    </dict>
  </dict>
</plist>