<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_1089_0_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{579,1253},{294,306}}</string>
        <key>offset</key>
        <string>{-110,179}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{294,306}}</string>
        <key>sourceSize</key>
        <string>{294,306}</string>
      </dict>
      <key>monster_1089_0_4_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1257},{301,311}}</string>
        <key>offset</key>
        <string>{-112,185}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{301,311}}</string>
        <key>sourceSize</key>
        <string>{301,311}</string>
      </dict>
      <key>monster_1089_0_4_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,315},{282,312}}</string>
        <key>offset</key>
        <string>{-111,186}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{282,312}}</string>
        <key>sourceSize</key>
        <string>{282,312}</string>
      </dict>
      <key>monster_1089_0_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{542,942},{309,289}}</string>
        <key>offset</key>
        <string>{-145,192}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{309,289}}</string>
        <key>sourceSize</key>
        <string>{309,289}</string>
      </dict>
      <key>monster_1089_0_4_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,629},{312,307}}</string>
        <key>offset</key>
        <string>{-147,209}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{312,307}}</string>
        <key>sourceSize</key>
        <string>{312,307}</string>
      </dict>
      <key>monster_1089_0_4_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{789,0},{307,310}}</string>
        <key>offset</key>
        <string>{-144,213}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{307,310}}</string>
        <key>sourceSize</key>
        <string>{307,310}</string>
      </dict>
      <key>monster_1089_0_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1394,0},{296,296}}</string>
        <key>offset</key>
        <string>{-141,208}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{296,296}}</string>
        <key>sourceSize</key>
        <string>{296,296}</string>
      </dict>
      <key>monster_1089_0_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1692,0},{296,286}}</string>
        <key>offset</key>
        <string>{-141,198}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{296,286}}</string>
        <key>sourceSize</key>
        <string>{296,286}</string>
      </dict>
      <key>monster_1089_0_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{602,627},{309,283}}</string>
        <key>offset</key>
        <string>{-141,196}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{309,283}}</string>
        <key>sourceSize</key>
        <string>{309,283}</string>
      </dict>
      <key>monster_1089_0_4_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1330,1528},{285,288}}</string>
        <key>offset</key>
        <string>{-141,202}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{285,288}}</string>
        <key>sourceSize</key>
        <string>{285,288}</string>
      </dict>
      <key>monster_1089_0_4_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{256,943},{284,311}}</string>
        <key>offset</key>
        <string>{-140,223}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{284,311}}</string>
        <key>sourceSize</key>
        <string>{284,311}</string>
      </dict>
      <key>monster_1089_0_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{875,1246},{263,298}}</string>
        <key>offset</key>
        <string>{-105,198}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{263,298}}</string>
        <key>sourceSize</key>
        <string>{263,298}</string>
      </dict>
      <key>monster_1089_0_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1378,1232},{279,287}}</string>
        <key>offset</key>
        <string>{-105,189}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{279,287}}</string>
        <key>sourceSize</key>
        <string>{279,287}</string>
      </dict>
      <key>monster_1089_0_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1707,552},{281,281}}</string>
        <key>offset</key>
        <string>{-104,182}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{281,281}}</string>
        <key>sourceSize</key>
        <string>{281,281}</string>
      </dict>
      <key>monster_1089_0_4_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1098,0},{299,294}}</string>
        <key>offset</key>
        <string>{-104,193}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{299,294}}</string>
        <key>sourceSize</key>
        <string>{299,294}</string>
      </dict>
      <key>monster_1089_0_4_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1121,932},{264,298}}</string>
        <key>offset</key>
        <string>{-105,198}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{264,298}}</string>
        <key>sourceSize</key>
        <string>{264,298}</string>
      </dict>
      <key>monster_1089_0_4_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1570},{271,310}}</string>
        <key>offset</key>
        <string>{-105,209}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{271,310}}</string>
        <key>sourceSize</key>
        <string>{271,310}</string>
      </dict>
      <key>monster_1089_0_4_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1707,835},{275,281}}</string>
        <key>offset</key>
        <string>{-89,190}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{275,281}}</string>
        <key>sourceSize</key>
        <string>{275,281}</string>
      </dict>
      <key>monster_1089_0_4_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1433,600},{272,283}}</string>
        <key>offset</key>
        <string>{-89,193}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{272,283}}</string>
        <key>sourceSize</key>
        <string>{272,283}</string>
      </dict>
      <key>monster_1089_0_4_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1671,1112},{261,278}}</string>
        <key>offset</key>
        <string>{-88,188}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{261,278}}</string>
        <key>sourceSize</key>
        <string>{261,278}</string>
      </dict>
      <key>monster_1089_0_4_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1140,1232},{294,236}}</string>
        <key>offset</key>
        <string>{-87,145}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{294,236}}</string>
        <key>sourceSize</key>
        <string>{294,236}</string>
      </dict>
      <key>monster_1089_0_4_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{577,1568},{308,227}}</string>
        <key>offset</key>
        <string>{-87,136}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{308,227}}</string>
        <key>sourceSize</key>
        <string>{308,227}</string>
      </dict>
      <key>monster_1089_0_4_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1692,288},{296,262}}</string>
        <key>offset</key>
        <string>{-87,171}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{296,262}}</string>
        <key>sourceSize</key>
        <string>{296,262}</string>
      </dict>
      <key>monster_1089_0_4_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1175,617},{256,298}}</string>
        <key>offset</key>
        <string>{-88,207}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{256,298}}</string>
        <key>sourceSize</key>
        <string>{256,298}</string>
      </dict>
      <key>monster_1089_0_4_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1068,1546},{260,295}}</string>
        <key>offset</key>
        <string>{-88,204}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{260,295}}</string>
        <key>sourceSize</key>
        <string>{260,295}</string>
      </dict>
      <key>monster_1089_0_4_4_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1455,298},{271,230}}</string>
        <key>offset</key>
        <string>{-88,138}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{271,230}}</string>
        <key>sourceSize</key>
        <string>{271,230}</string>
      </dict>
      <key>monster_1089_0_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{309,629},{311,291}}</string>
        <key>offset</key>
        <string>{-106,193}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{311,291}}</string>
        <key>sourceSize</key>
        <string>{311,291}</string>
      </dict>
      <key>monster_1089_0_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{273,1570},{310,302}}</string>
        <key>offset</key>
        <string>{-105,203}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{310,302}}</string>
        <key>sourceSize</key>
        <string>{310,302}</string>
      </dict>
      <key>monster_1089_0_4_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{284,315},{312,305}}</string>
        <key>offset</key>
        <string>{-105,206}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{312,305}}</string>
        <key>sourceSize</key>
        <string>{312,305}</string>
      </dict>
      <key>monster_1089_0_4_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{301,0},{312,233}}</string>
        <key>offset</key>
        <string>{-107,133}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{312,233}}</string>
        <key>sourceSize</key>
        <string>{312,233}</string>
      </dict>
      <key>monster_1089_0_4_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{303,1256},{310,274}}</string>
        <key>offset</key>
        <string>{-107,174}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{310,274}}</string>
        <key>sourceSize</key>
        <string>{310,274}</string>
      </dict>
      <key>monster_1089_0_4_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{591,314},{311,302}}</string>
        <key>offset</key>
        <string>{-107,201}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{311,302}}</string>
        <key>sourceSize</key>
        <string>{311,302}</string>
      </dict>
      <key>monster_1089_0_4_5_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{536,0},{312,251}}</string>
        <key>offset</key>
        <string>{-108,150}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{312,251}}</string>
        <key>sourceSize</key>
        <string>{312,251}</string>
      </dict>
      <key>monster_1089_0_4_5_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,943},{312,254}}</string>
        <key>offset</key>
        <string>{-108,133}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{312,254}}</string>
        <key>sourceSize</key>
        <string>{312,254}</string>
      </dict>
      <key>monster_1089_0_4_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{833,938},{286,306}}</string>
        <key>offset</key>
        <string>{-92,204}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{286,306}}</string>
        <key>sourceSize</key>
        <string>{286,306}</string>
      </dict>
      <key>monster_1089_0_4_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{887,627},{286,303}}</string>
        <key>offset</key>
        <string>{-91,198}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{286,303}}</string>
        <key>sourceSize</key>
        <string>{286,303}</string>
      </dict>
      <key>monster_1089_0_4_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{806,1561},{299,260}}</string>
        <key>offset</key>
        <string>{-104,155}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{299,260}}</string>
        <key>sourceSize</key>
        <string>{299,260}</string>
      </dict>
      <key>monster_1089_0_4_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1387,917},{286,282}}</string>
        <key>offset</key>
        <string>{-92,177}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{286,282}}</string>
        <key>sourceSize</key>
        <string>{286,282}</string>
      </dict>
      <key>monster_1089_0_4_6_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{895,312},{286,303}}</string>
        <key>offset</key>
        <string>{-92,203}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{286,303}}</string>
        <key>sourceSize</key>
        <string>{286,303}</string>
      </dict>
      <key>monster_1089_0_4_6_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1183,301},{297,270}}</string>
        <key>offset</key>
        <string>{-103,168}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{297,270}}</string>
        <key>sourceSize</key>
        <string>{297,270}</string>
      </dict>
      <key>monster_1089_0_4_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{299,313}}</string>
        <key>offset</key>
        <string>{-104,188}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{299,313}}</string>
        <key>sourceSize</key>
        <string>{299,313}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_1089_0_4_1.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_1089_0_4_1.png</string>
    </dict>
  </dict>
</plist>