<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_20075_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1059,403},{335,291}}</string>
        <key>offset</key>
        <string>{-151,217}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{335,291}}</string>
        <key>sourceSize</key>
        <string>{335,291}</string>
      </dict>
      <key>monster_20075_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{649,403},{408,295}}</string>
        <key>offset</key>
        <string>{-155,205}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{408,295}}</string>
        <key>sourceSize</key>
        <string>{408,295}</string>
      </dict>
      <key>monster_20075_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{341,0},{426,306}}</string>
        <key>offset</key>
        <string>{-162,244}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{426,306}}</string>
        <key>sourceSize</key>
        <string>{426,306}</string>
      </dict>
      <key>monster_20075_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{392,700},{388,330}}</string>
        <key>offset</key>
        <string>{-139,286}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{388,330}}</string>
        <key>sourceSize</key>
        <string>{388,330}</string>
      </dict>
      <key>monster_20075_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{724,700},{327,379}}</string>
        <key>offset</key>
        <string>{-150,335}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{327,379}}</string>
        <key>sourceSize</key>
        <string>{327,379}</string>
      </dict>
      <key>monster_20075_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{649,0},{401,415}}</string>
        <key>offset</key>
        <string>{-147,285}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{401,415}}</string>
        <key>sourceSize</key>
        <string>{401,415}</string>
      </dict>
      <key>monster_20075_0_2_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,499},{492,390}}</string>
        <key>offset</key>
        <string>{-238,256}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{492,390}}</string>
        <key>sourceSize</key>
        <string>{492,390}</string>
      </dict>
      <key>monster_20075_0_2_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{497,339}}</string>
        <key>offset</key>
        <string>{-231,216}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{497,339}}</string>
        <key>sourceSize</key>
        <string>{497,339}</string>
      </dict>
      <key>monster_20075_0_2_3_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1105,0},{343,290}}</string>
        <key>offset</key>
        <string>{-175,194}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{343,290}}</string>
        <key>sourceSize</key>
        <string>{343,290}</string>
      </dict>
      <key>monster_20075_0_2_3_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,993},{322,283}}</string>
        <key>offset</key>
        <string>{-144,204}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{322,283}}</string>
        <key>sourceSize</key>
        <string>{322,283}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_20075_0_2_3.png</string>
      <key>size</key>
      <string>{1451,1280}</string>
      <key>textureFileName</key>
      <string>monster_20075_0_2_3.png</string>
    </dict>
  </dict>
</plist>