<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_40049_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{942,1002},{198,316}}</string>
        <key>offset</key>
        <string>{-65,221}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{198,316}}</string>
        <key>sourceSize</key>
        <string>{198,316}</string>
      </dict>
      <key>monster_40049_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,454},{354,445}}</string>
        <key>offset</key>
        <string>{-157,269}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{354,445}}</string>
        <key>sourceSize</key>
        <string>{354,445}</string>
      </dict>
      <key>monster_40049_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{290,0},{288,424}}</string>
        <key>offset</key>
        <string>{-90,276}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{288,424}}</string>
        <key>sourceSize</key>
        <string>{288,424}</string>
      </dict>
      <key>monster_40049_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,901},{416,298}}</string>
        <key>offset</key>
        <string>{-185,217}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{416,298}}</string>
        <key>sourceSize</key>
        <string>{416,298}</string>
      </dict>
      <key>monster_40049_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1735},{285,400}}</string>
        <key>offset</key>
        <string>{-190,299}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{285,400}}</string>
        <key>sourceSize</key>
        <string>{285,400}</string>
      </dict>
      <key>monster_40049_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{285,1319},{400,341}}</string>
        <key>offset</key>
        <string>{-257,299}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{400,341}}</string>
        <key>sourceSize</key>
        <string>{400,341}</string>
      </dict>
      <key>monster_40049_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{917,371},{350,350}}</string>
        <key>offset</key>
        <string>{-282,290}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{350,350}}</string>
        <key>sourceSize</key>
        <string>{350,350}</string>
      </dict>
      <key>monster_40049_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{580,0},{344,369}}</string>
        <key>offset</key>
        <string>{-256,298}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{344,369}}</string>
        <key>sourceSize</key>
        <string>{344,369}</string>
      </dict>
      <key>monster_40049_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{640,371},{354,275}}</string>
        <key>offset</key>
        <string>{-179,231}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{354,275}}</string>
        <key>sourceSize</key>
        <string>{354,275}</string>
      </dict>
      <key>monster_40049_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1548,564},{319,335}}</string>
        <key>offset</key>
        <string>{-185,288}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{319,335}}</string>
        <key>sourceSize</key>
        <string>{319,335}</string>
      </dict>
      <key>monster_40049_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1269,346},{277,336}}</string>
        <key>offset</key>
        <string>{-203,318}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{277,336}}</string>
        <key>sourceSize</key>
        <string>{277,336}</string>
      </dict>
      <key>monster_40049_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1584,279},{283,340}}</string>
        <key>offset</key>
        <string>{-185,321}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{283,340}}</string>
        <key>sourceSize</key>
        <string>{283,340}</string>
      </dict>
      <key>monster_40049_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{903,1318},{190,278}}</string>
        <key>offset</key>
        <string>{-75,219}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{190,278}}</string>
        <key>sourceSize</key>
        <string>{190,278}</string>
      </dict>
      <key>monster_40049_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{623,1163},{153,317}}</string>
        <key>offset</key>
        <string>{-41,269}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{153,317}}</string>
        <key>sourceSize</key>
        <string>{153,317}</string>
      </dict>
      <key>monster_40049_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1885,564},{159,333}}</string>
        <key>offset</key>
        <string>{-41,314}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,333}}</string>
        <key>sourceSize</key>
        <string>{159,333}</string>
      </dict>
      <key>monster_40049_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1269,684},{159,325}}</string>
        <key>offset</key>
        <string>{-41,316}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{159,325}}</string>
        <key>sourceSize</key>
        <string>{159,325}</string>
      </dict>
      <key>monster_40049_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{288,452}}</string>
        <key>offset</key>
        <string>{-85,339}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{288,452}}</string>
        <key>sourceSize</key>
        <string>{288,452}</string>
      </dict>
      <key>monster_40049_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1319},{414,283}}</string>
        <key>offset</key>
        <string>{-199,228}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{414,283}}</string>
        <key>sourceSize</key>
        <string>{414,283}</string>
      </dict>
      <key>monster_40049_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{801,1634},{279,302}}</string>
        <key>offset</key>
        <string>{-59,267}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{279,302}}</string>
        <key>sourceSize</key>
        <string>{279,302}</string>
      </dict>
      <key>monster_40049_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{628,1318},{273,314}}</string>
        <key>offset</key>
        <string>{-35,297}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{273,314}}</string>
        <key>sourceSize</key>
        <string>{273,314}</string>
      </dict>
      <key>monster_40049_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{922,723},{277,318}}</string>
        <key>offset</key>
        <string>{-57,300}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{277,318}}</string>
        <key>sourceSize</key>
        <string>{277,318}</string>
      </dict>
      <key>monster_40049_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{402,1721},{397,312}}</string>
        <key>offset</key>
        <string>{-91,271}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{397,312}}</string>
        <key>sourceSize</key>
        <string>{397,312}</string>
      </dict>
      <key>monster_40049_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{926,0},{350,318}}</string>
        <key>offset</key>
        <string>{-18,259}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{350,318}}</string>
        <key>sourceSize</key>
        <string>{350,318}</string>
      </dict>
      <key>monster_40049_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1246,0},{344,336}}</string>
        <key>offset</key>
        <string>{-38,267}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{344,336}}</string>
        <key>sourceSize</key>
        <string>{344,336}</string>
      </dict>
      <key>monster_40049_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{623,805},{356,297}}</string>
        <key>offset</key>
        <string>{-117,227}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{356,297}}</string>
        <key>sourceSize</key>
        <string>{356,297}</string>
      </dict>
      <key>monster_40049_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,901},{321,378}}</string>
        <key>offset</key>
        <string>{-77,289}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{321,378}}</string>
        <key>sourceSize</key>
        <string>{321,378}</string>
      </dict>
      <key>monster_40049_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1584,0},{277,342}}</string>
        <key>offset</key>
        <string>{-14,229}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{277,342}}</string>
        <key>sourceSize</key>
        <string>{277,342}</string>
      </dict>
      <key>monster_40049_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{356,426},{282,377}}</string>
        <key>offset</key>
        <string>{-38,241}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{282,377}}</string>
        <key>sourceSize</key>
        <string>{282,377}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_40049_0_2_1.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_40049_0_2_1.png</string>
    </dict>
  </dict>
</plist>