<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_20051_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{973,607},{217,212}}</string>
        <key>offset</key>
        <string>{-69,137}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{217,212}}</string>
        <key>sourceSize</key>
        <string>{217,212}</string>
      </dict>
      <key>monster_20051_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{973,397},{218,208}}</string>
        <key>offset</key>
        <string>{-75,134}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{218,208}}</string>
        <key>sourceSize</key>
        <string>{218,208}</string>
      </dict>
      <key>monster_20051_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{899,1029},{212,203}}</string>
        <key>offset</key>
        <string>{-69,136}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{212,203}}</string>
        <key>sourceSize</key>
        <string>{212,203}</string>
      </dict>
      <key>monster_20051_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{953,821},{214,206}}</string>
        <key>offset</key>
        <string>{-65,138}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{214,206}}</string>
        <key>sourceSize</key>
        <string>{214,206}</string>
      </dict>
      <key>monster_20051_0_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1050},{256,198}}</string>
        <key>offset</key>
        <string>{-59,136}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{256,198}}</string>
        <key>sourceSize</key>
        <string>{256,198}</string>
      </dict>
      <key>monster_20051_0_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,268},{260,192}}</string>
        <key>offset</key>
        <string>{-65,134}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{260,192}}</string>
        <key>sourceSize</key>
        <string>{260,192}</string>
      </dict>
      <key>monster_20051_0_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,530},{258,191}}</string>
        <key>offset</key>
        <string>{-60,136}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{258,191}}</string>
        <key>sourceSize</key>
        <string>{258,191}</string>
      </dict>
      <key>monster_20051_0_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{193,530},{251,197}}</string>
        <key>offset</key>
        <string>{-50,138}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{251,197}}</string>
        <key>sourceSize</key>
        <string>{251,197}</string>
      </dict>
      <key>monster_20051_0_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{183,0},{260,181}}</string>
        <key>offset</key>
        <string>{-84,143}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{260,181}}</string>
        <key>sourceSize</key>
        <string>{260,181}</string>
      </dict>
      <key>monster_20051_0_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{266,181}}</string>
        <key>offset</key>
        <string>{-88,143}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{266,181}}</string>
        <key>sourceSize</key>
        <string>{266,181}</string>
      </dict>
      <key>monster_20051_0_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,790},{258,182}}</string>
        <key>offset</key>
        <string>{-83,144}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{258,182}}</string>
        <key>sourceSize</key>
        <string>{258,182}</string>
      </dict>
      <key>monster_20051_0_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{184,790},{256,183}}</string>
        <key>offset</key>
        <string>{-80,145}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{256,183}}</string>
        <key>sourceSize</key>
        <string>{256,183}</string>
      </dict>
      <key>monster_20051_0_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{194,262},{250,197}}</string>
        <key>offset</key>
        <string>{-60,151}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{250,197}}</string>
        <key>sourceSize</key>
        <string>{250,197}</string>
      </dict>
      <key>monster_20051_0_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{258,1048},{245,197}}</string>
        <key>offset</key>
        <string>{-56,151}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{245,197}}</string>
        <key>sourceSize</key>
        <string>{245,197}</string>
      </dict>
      <key>monster_20051_0_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{552,0},{239,198}}</string>
        <key>offset</key>
        <string>{-51,152}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{239,198}}</string>
        <key>sourceSize</key>
        <string>{239,198}</string>
      </dict>
      <key>monster_20051_0_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{505,1029},{242,197}}</string>
        <key>offset</key>
        <string>{-55,151}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{242,197}}</string>
        <key>sourceSize</key>
        <string>{242,197}</string>
      </dict>
      <key>monster_20051_0_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1169,1015},{192,191}}</string>
        <key>offset</key>
        <string>{-48,149}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{192,191}}</string>
        <key>sourceSize</key>
        <string>{192,191}</string>
      </dict>
      <key>monster_20051_0_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1169,821},{198,192}}</string>
        <key>offset</key>
        <string>{-48,150}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{198,192}}</string>
        <key>sourceSize</key>
        <string>{198,192}</string>
      </dict>
      <key>monster_20051_0_0_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1136,0},{192,192}}</string>
        <key>offset</key>
        <string>{-48,150}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{192,192}}</string>
        <key>sourceSize</key>
        <string>{192,192}</string>
      </dict>
      <key>monster_20051_0_0_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1136,194},{191,190}}</string>
        <key>offset</key>
        <string>{-47,148}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{191,190}}</string>
        <key>sourceSize</key>
        <string>{191,190}</string>
      </dict>
      <key>monster_20051_0_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{369,783},{244,185}}</string>
        <key>offset</key>
        <string>{-94,149}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{244,185}}</string>
        <key>sourceSize</key>
        <string>{244,185}</string>
      </dict>
      <key>monster_20051_0_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{392,514},{241,187}}</string>
        <key>offset</key>
        <string>{-93,151}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{241,187}}</string>
        <key>sourceSize</key>
        <string>{241,187}</string>
      </dict>
      <key>monster_20051_0_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{393,249},{241,186}}</string>
        <key>offset</key>
        <string>{-95,150}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{241,186}}</string>
        <key>sourceSize</key>
        <string>{241,186}</string>
      </dict>
      <key>monster_20051_0_0_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{366,0},{247,184}}</string>
        <key>offset</key>
        <string>{-98,148}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{247,184}}</string>
        <key>sourceSize</key>
        <string>{247,184}</string>
      </dict>
      <key>monster_20051_0_0_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{556,757},{237,193}}</string>
        <key>offset</key>
        <string>{-96,150}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{237,193}}</string>
        <key>sourceSize</key>
        <string>{237,193}</string>
      </dict>
      <key>monster_20051_0_0_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{704,996},{237,193}}</string>
        <key>offset</key>
        <string>{-96,150}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{237,193}}</string>
        <key>sourceSize</key>
        <string>{237,193}</string>
      </dict>
      <key>monster_20051_0_0_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{899,0},{235,194}}</string>
        <key>offset</key>
        <string>{-96,151}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{235,194}}</string>
        <key>sourceSize</key>
        <string>{235,194}</string>
      </dict>
      <key>monster_20051_0_0_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{778,447},{230,193}}</string>
        <key>offset</key>
        <string>{-95,150}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{230,193}}</string>
        <key>sourceSize</key>
        <string>{230,193}</string>
      </dict>
      <key>monster_20051_0_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{581,241},{234,204}}</string>
        <key>offset</key>
        <string>{-96,144}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{234,204}}</string>
        <key>sourceSize</key>
        <string>{234,204}</string>
      </dict>
      <key>monster_20051_0_0_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{751,683},{232,200}}</string>
        <key>offset</key>
        <string>{-96,142}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{232,200}}</string>
        <key>sourceSize</key>
        <string>{232,200}</string>
      </dict>
      <key>monster_20051_0_0_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{581,447},{234,195}}</string>
        <key>offset</key>
        <string>{-97,144}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{234,195}}</string>
        <key>sourceSize</key>
        <string>{234,195}</string>
      </dict>
      <key>monster_20051_0_0_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{899,196},{235,199}}</string>
        <key>offset</key>
        <string>{-96,145}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{235,199}}</string>
        <key>sourceSize</key>
        <string>{235,199}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_20051_0_0.png</string>
      <key>size</key>
      <string>{1379,1280}</string>
      <key>textureFileName</key>
      <string>monster_20051_0_0.png</string>
    </dict>
  </dict>
</plist>