<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_20044_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{338,335}}</string>
        <key>offset</key>
        <string>{-136,233}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{338,335}}</string>
        <key>sourceSize</key>
        <string>{338,335}</string>
      </dict>
      <key>monster_20044_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{337,0},{336,335}}</string>
        <key>offset</key>
        <string>{-134,231}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{336,335}}</string>
        <key>sourceSize</key>
        <string>{336,335}</string>
      </dict>
      <key>monster_20044_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,340},{289,321}}</string>
        <key>offset</key>
        <string>{-115,221}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{289,321}}</string>
        <key>sourceSize</key>
        <string>{289,321}</string>
      </dict>
      <key>monster_20044_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{291,340},{277,321}}</string>
        <key>offset</key>
        <string>{-115,221}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{277,321}}</string>
        <key>sourceSize</key>
        <string>{277,321}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_20044_0_7_2.png</string>
      <key>size</key>
      <string>{808,800}</string>
      <key>textureFileName</key>
      <string>monster_20044_0_7_2.png</string>
    </dict>
  </dict>
</plist>