<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_40037_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{311,655},{130,151}}</string>
        <key>offset</key>
        <string>{-43,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,151}}</string>
        <key>sourceSize</key>
        <string>{130,151}</string>
      </dict>
      <key>monster_40037_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,767},{130,150}}</string>
        <key>offset</key>
        <string>{-43,126}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,150}}</string>
        <key>sourceSize</key>
        <string>{130,150}</string>
      </dict>
      <key>monster_40037_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{155,757},{129,151}}</string>
        <key>offset</key>
        <string>{-42,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,151}}</string>
        <key>sourceSize</key>
        <string>{129,151}</string>
      </dict>
      <key>monster_40037_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{152,888},{128,150}}</string>
        <key>offset</key>
        <string>{-42,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,150}}</string>
        <key>sourceSize</key>
        <string>{128,150}</string>
      </dict>
      <key>monster_40037_0_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{315,548},{105,153}}</string>
        <key>offset</key>
        <string>{-32,123}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,153}}</string>
        <key>sourceSize</key>
        <string>{105,153}</string>
      </dict>
      <key>monster_40037_0_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,649},{106,153}}</string>
        <key>offset</key>
        <string>{-33,124}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,153}}</string>
        <key>sourceSize</key>
        <string>{106,153}</string>
      </dict>
      <key>monster_40037_0_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,663},{102,153}}</string>
        <key>offset</key>
        <string>{-32,124}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,153}}</string>
        <key>sourceSize</key>
        <string>{102,153}</string>
      </dict>
      <key>monster_40037_0_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,557},{104,154}}</string>
        <key>offset</key>
        <string>{-31,124}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,154}}</string>
        <key>sourceSize</key>
        <string>{104,154}</string>
      </dict>
      <key>monster_40037_0_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{337,0},{56,165}}</string>
        <key>offset</key>
        <string>{-5,129}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{56,165}}</string>
        <key>sourceSize</key>
        <string>{56,165}</string>
      </dict>
      <key>monster_40037_0_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{169,0},{59,166}}</string>
        <key>offset</key>
        <string>{-6,131}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,166}}</string>
        <key>sourceSize</key>
        <string>{59,166}</string>
      </dict>
      <key>monster_40037_0_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{337,58},{59,165}}</string>
        <key>offset</key>
        <string>{-6,129}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{59,165}}</string>
        <key>sourceSize</key>
        <string>{59,165}</string>
      </dict>
      <key>monster_40037_0_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{167,169},{54,163}}</string>
        <key>offset</key>
        <string>{-4,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{54,163}}</string>
        <key>sourceSize</key>
        <string>{54,163}</string>
      </dict>
      <key>monster_40037_0_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,179},{105,163}}</string>
        <key>offset</key>
        <string>{-32,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,163}}</string>
        <key>sourceSize</key>
        <string>{105,163}</string>
      </dict>
      <key>monster_40037_0_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{168,61},{106,165}}</string>
        <key>offset</key>
        <string>{-33,128}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,165}}</string>
        <key>sourceSize</key>
        <string>{106,165}</string>
      </dict>
      <key>monster_40037_0_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{335,119},{106,164}}</string>
        <key>offset</key>
        <string>{-34,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,164}}</string>
        <key>sourceSize</key>
        <string>{106,164}</string>
      </dict>
      <key>monster_40037_0_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,343},{104,160}}</string>
        <key>offset</key>
        <string>{-31,124}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,160}}</string>
        <key>sourceSize</key>
        <string>{104,160}</string>
      </dict>
      <key>monster_40037_0_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{464,655},{130,145}}</string>
        <key>offset</key>
        <string>{-43,116}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{130,145}}</string>
        <key>sourceSize</key>
        <string>{130,145}</string>
      </dict>
      <key>monster_40037_0_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{304,888},{131,146}}</string>
        <key>offset</key>
        <string>{-43,116}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,146}}</string>
        <key>sourceSize</key>
        <string>{131,146}</string>
      </dict>
      <key>monster_40037_0_0_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{452,787},{129,146}}</string>
        <key>offset</key>
        <string>{-43,116}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,146}}</string>
        <key>sourceSize</key>
        <string>{129,146}</string>
      </dict>
      <key>monster_40037_0_0_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{477,440},{128,144}}</string>
        <key>offset</key>
        <string>{-42,116}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,144}}</string>
        <key>sourceSize</key>
        <string>{128,144}</string>
      </dict>
      <key>monster_40037_0_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,227},{105,162}}</string>
        <key>offset</key>
        <string>{-28,126}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,162}}</string>
        <key>sourceSize</key>
        <string>{105,162}</string>
      </dict>
      <key>monster_40037_0_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{165,225},{105,163}}</string>
        <key>offset</key>
        <string>{-28,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,163}}</string>
        <key>sourceSize</key>
        <string>{105,163}</string>
      </dict>
      <key>monster_40037_0_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{165,332},{102,162}}</string>
        <key>offset</key>
        <string>{-26,126}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{102,162}}</string>
        <key>sourceSize</key>
        <string>{102,162}</string>
      </dict>
      <key>monster_40037_0_0_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{329,334},{104,160}}</string>
        <key>offset</key>
        <string>{-28,124}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,160}}</string>
        <key>sourceSize</key>
        <string>{104,160}</string>
      </dict>
      <key>monster_40037_0_0_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,120},{57,165}}</string>
        <key>offset</key>
        <string>{-7,129}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{57,165}}</string>
        <key>sourceSize</key>
        <string>{57,165}</string>
      </dict>
      <key>monster_40037_0_0_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{58,167}}</string>
        <key>offset</key>
        <string>{-8,130}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,167}}</string>
        <key>sourceSize</key>
        <string>{58,167}</string>
      </dict>
      <key>monster_40037_0_0_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,60},{58,166}}</string>
        <key>offset</key>
        <string>{-8,129}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{58,166}}</string>
        <key>sourceSize</key>
        <string>{58,166}</string>
      </dict>
      <key>monster_40037_0_0_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,286},{55,163}}</string>
        <key>offset</key>
        <string>{-6,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{55,163}}</string>
        <key>sourceSize</key>
        <string>{55,163}</string>
      </dict>
      <key>monster_40037_0_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{162,436},{105,156}}</string>
        <key>offset</key>
        <string>{-28,125}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,156}}</string>
        <key>sourceSize</key>
        <string>{105,156}</string>
      </dict>
      <key>monster_40037_0_0_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{320,440},{106,155}}</string>
        <key>offset</key>
        <string>{-29,124}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,155}}</string>
        <key>sourceSize</key>
        <string>{106,155}</string>
      </dict>
      <key>monster_40037_0_0_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,449},{106,156}}</string>
        <key>offset</key>
        <string>{-28,125}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,156}}</string>
        <key>sourceSize</key>
        <string>{106,156}</string>
      </dict>
      <key>monster_40037_0_0_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{158,543},{104,155}}</string>
        <key>offset</key>
        <string>{-28,125}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{104,155}}</string>
        <key>sourceSize</key>
        <string>{104,155}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_40037_0_0.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>monster_40037_0_0.png</string>
    </dict>
  </dict>
</plist>