<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_20059_0_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{358,260},{251,205}}</string>
        <key>offset</key>
        <string>{-121,151}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{251,205}}</string>
        <key>sourceSize</key>
        <string>{251,205}</string>
      </dict>
      <key>monster_20059_0_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{512,513},{247,209}}</string>
        <key>offset</key>
        <string>{-117,152}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{247,209}}</string>
        <key>sourceSize</key>
        <string>{247,209}</string>
      </dict>
      <key>monster_20059_0_0_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,524},{255,205}}</string>
        <key>offset</key>
        <string>{-122,153}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{255,205}}</string>
        <key>sourceSize</key>
        <string>{255,205}</string>
      </dict>
      <key>monster_20059_0_0_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,0},{258,205}}</string>
        <key>offset</key>
        <string>{-124,153}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{258,205}}</string>
        <key>sourceSize</key>
        <string>{258,205}</string>
      </dict>
      <key>monster_20059_0_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{723,0},{139,219}}</string>
        <key>offset</key>
        <string>{-1,149}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,219}}</string>
        <key>sourceSize</key>
        <string>{139,219}</string>
      </dict>
      <key>monster_20059_0_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{565,0},{139,218}}</string>
        <key>offset</key>
        <string>{0,148}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{139,218}}</string>
        <key>sourceSize</key>
        <string>{139,218}</string>
      </dict>
      <key>monster_20059_0_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{565,220},{148,218}}</string>
        <key>offset</key>
        <string>{-8,148}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,218}}</string>
        <key>sourceSize</key>
        <string>{148,218}</string>
      </dict>
      <key>monster_20059_0_0_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{723,221},{146,218}}</string>
        <key>offset</key>
        <string>{-6,148}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,218}}</string>
        <key>sourceSize</key>
        <string>{146,218}</string>
      </dict>
      <key>monster_20059_0_0_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,762},{195,196}}</string>
        <key>offset</key>
        <string>{-35,121}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{195,196}}</string>
        <key>sourceSize</key>
        <string>{195,196}</string>
      </dict>
      <key>monster_20059_0_0_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,762},{198,196}}</string>
        <key>offset</key>
        <string>{-39,121}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{198,196}}</string>
        <key>sourceSize</key>
        <string>{198,196}</string>
      </dict>
      <key>monster_20059_0_0_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{395,762},{191,195}}</string>
        <key>offset</key>
        <string>{-31,120}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{191,195}}</string>
        <key>sourceSize</key>
        <string>{191,195}</string>
      </dict>
      <key>monster_20059_0_0_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{588,762},{192,195}}</string>
        <key>offset</key>
        <string>{-31,120}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{192,195}}</string>
        <key>sourceSize</key>
        <string>{192,195}</string>
      </dict>
      <key>monster_20059_0_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,263},{259,175}}</string>
        <key>offset</key>
        <string>{-47,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{259,175}}</string>
        <key>sourceSize</key>
        <string>{259,175}</string>
      </dict>
      <key>monster_20059_0_0_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{261,172}}</string>
        <key>offset</key>
        <string>{-54,101}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{261,172}}</string>
        <key>sourceSize</key>
        <string>{261,172}</string>
      </dict>
      <key>monster_20059_0_0_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{257,517},{253,172}}</string>
        <key>offset</key>
        <string>{-49,98}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{253,172}}</string>
        <key>sourceSize</key>
        <string>{253,172}</string>
      </dict>
      <key>monster_20059_0_0_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{177,260},{255,179}}</string>
        <key>offset</key>
        <string>{-46,99}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{255,179}}</string>
        <key>sourceSize</key>
        <string>{255,179}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_20059_0_0_1.png</string>
      <key>size</key>
      <string>{896,964}</string>
      <key>textureFileName</key>
      <string>monster_20059_0_0_1.png</string>
    </dict>
  </dict>
</plist>