<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_1098_0_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1071,560},{554,450}}</string>
        <key>offset</key>
        <string>{-181,221}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{554,450}}</string>
        <key>sourceSize</key>
        <string>{554,450}</string>
      </dict>
      <key>monster_1098_0_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,569},{564,523}}</string>
        <key>offset</key>
        <string>{-206,262}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{564,523}}</string>
        <key>sourceSize</key>
        <string>{564,523}</string>
      </dict>
      <key>monster_1098_0_4_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1601,526},{517,445}}</string>
        <key>offset</key>
        <string>{-192,331}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{517,445}}</string>
        <key>sourceSize</key>
        <string>{517,445}</string>
      </dict>
      <key>monster_1098_0_4_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1542,0},{499,524}}</string>
        <key>offset</key>
        <string>{-134,369}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{499,524}}</string>
        <key>sourceSize</key>
        <string>{499,524}</string>
      </dict>
      <key>monster_1098_0_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{985,0},{558,555}}</string>
        <key>offset</key>
        <string>{-341,374}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{558,555}}</string>
        <key>sourceSize</key>
        <string>{558,555}</string>
      </dict>
      <key>monster_1098_0_4_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1614,1045},{423,466}}</string>
        <key>offset</key>
        <string>{-108,323}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{423,466}}</string>
        <key>sourceSize</key>
        <string>{423,466}</string>
      </dict>
      <key>monster_1098_0_4_2_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{1614,1513},{432,436}}</string>
        <key>offset</key>
        <string>{-108,298}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{432,436}}</string>
        <key>sourceSize</key>
        <string>{432,436}</string>
      </dict>
      <key>monster_1098_0_4_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{501,0},{564,482}}</string>
        <key>offset</key>
        <string>{-155,316}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{564,482}}</string>
        <key>sourceSize</key>
        <string>{564,482}</string>
      </dict>
      <key>monster_1098_0_4_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1060,1129},{556,539}}</string>
        <key>offset</key>
        <string>{-212,423}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{556,539}}</string>
        <key>sourceSize</key>
        <string>{556,539}</string>
      </dict>
      <key>monster_1098_0_4_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1060,1687},{552,349}}</string>
        <key>offset</key>
        <string>{-202,222}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{552,349}}</string>
        <key>sourceSize</key>
        <string>{552,349}</string>
      </dict>
      <key>monster_1098_0_4_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1700},{527,339}}</string>
        <key>offset</key>
        <string>{-192,214}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{527,339}}</string>
        <key>sourceSize</key>
        <string>{527,339}</string>
      </dict>
      <key>monster_1098_0_4_4_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{529,1698},{501,341}}</string>
        <key>offset</key>
        <string>{-183,207}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{501,341}}</string>
        <key>sourceSize</key>
        <string>{501,341}</string>
      </dict>
      <key>monster_1098_0_4_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{510,1135},{561,548}}</string>
        <key>offset</key>
        <string>{-162,430}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{561,548}}</string>
        <key>sourceSize</key>
        <string>{561,548}</string>
      </dict>
      <key>monster_1098_0_4_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{567,499}}</string>
        <key>offset</key>
        <string>{-168,381}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{567,499}}</string>
        <key>sourceSize</key>
        <string>{567,499}</string>
      </dict>
      <key>monster_1098_0_4_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1135},{563,508}}</string>
        <key>offset</key>
        <string>{-112,361}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{563,508}}</string>
        <key>sourceSize</key>
        <string>{563,508}</string>
      </dict>
      <key>monster_1098_0_4_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{525,566},{561,544}}</string>
        <key>offset</key>
        <string>{-112,329}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{561,544}}</string>
        <key>sourceSize</key>
        <string>{561,544}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_1098_0_4_3.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_1098_0_4_3.png</string>
    </dict>
  </dict>
</plist>