<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_20080_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{453,401},{436,372}}</string>
        <key>offset</key>
        <string>{-197,213}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{436,372}}</string>
        <key>sourceSize</key>
        <string>{436,372}</string>
      </dict>
      <key>monster_20080_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{453,0},{438,399}}</string>
        <key>offset</key>
        <string>{-199,220}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{438,399}}</string>
        <key>sourceSize</key>
        <string>{438,399}</string>
      </dict>
      <key>monster_20080_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,455},{451,397}}</string>
        <key>offset</key>
        <string>{-209,207}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{451,397}}</string>
        <key>sourceSize</key>
        <string>{451,397}</string>
      </dict>
      <key>monster_20080_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{453,382}}</string>
        <key>offset</key>
        <string>{-208,196}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{453,382}}</string>
        <key>sourceSize</key>
        <string>{453,382}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_20080_0_0_0.png</string>
      <key>size</key>
      <string>{896,896}</string>
      <key>textureFileName</key>
      <string>monster_20080_0_0_0.png</string>
    </dict>
  </dict>
</plist>