<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_20030_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1119,1310},{201,178}}</string>
        <key>offset</key>
        <string>{-90,138}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{201,178}}</string>
        <key>sourceSize</key>
        <string>{201,178}</string>
      </dict>
      <key>monster_20030_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1497,1155},{176,183}}</string>
        <key>offset</key>
        <string>{-85,143}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,183}}</string>
        <key>sourceSize</key>
        <string>{176,183}</string>
      </dict>
      <key>monster_20030_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1602,601},{166,191}}</string>
        <key>offset</key>
        <string>{-80,157}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{166,191}}</string>
        <key>sourceSize</key>
        <string>{166,191}</string>
      </dict>
      <key>monster_20030_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{566,1608},{164,177}}</string>
        <key>offset</key>
        <string>{-79,143}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{164,177}}</string>
        <key>sourceSize</key>
        <string>{164,177}</string>
      </dict>
      <key>monster_20030_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1602,794},{188,187}}</string>
        <key>offset</key>
        <string>{-84,148}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{188,187}}</string>
        <key>sourceSize</key>
        <string>{188,187}</string>
      </dict>
      <key>monster_20030_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1313,1479},{168,183}}</string>
        <key>offset</key>
        <string>{-80,143}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{168,183}}</string>
        <key>sourceSize</key>
        <string>{168,183}</string>
      </dict>
      <key>monster_20030_0_2_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1552,983},{170,184}}</string>
        <key>offset</key>
        <string>{-81,148}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,184}}</string>
        <key>sourceSize</key>
        <string>{170,184}</string>
      </dict>
      <key>monster_20030_0_2_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1327,412},{170,200}}</string>
        <key>offset</key>
        <string>{-80,168}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,200}}</string>
        <key>sourceSize</key>
        <string>{170,200}</string>
      </dict>
      <key>monster_20030_0_2_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{409,911},{172,215}}</string>
        <key>offset</key>
        <string>{-80,178}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{172,215}}</string>
        <key>sourceSize</key>
        <string>{172,215}</string>
      </dict>
      <key>monster_20030_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1154,643},{160,202}}</string>
        <key>offset</key>
        <string>{-65,163}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{160,202}}</string>
        <key>sourceSize</key>
        <string>{160,202}</string>
      </dict>
      <key>monster_20030_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1170,424},{155,202}}</string>
        <key>offset</key>
        <string>{-60,163}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,202}}</string>
        <key>sourceSize</key>
        <string>{155,202}</string>
      </dict>
      <key>monster_20030_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1156,1076},{155,201}}</string>
        <key>offset</key>
        <string>{-59,163}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{155,201}}</string>
        <key>sourceSize</key>
        <string>{155,201}</string>
      </dict>
      <key>monster_20030_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{351,1632},{150,213}}</string>
        <key>offset</key>
        <string>{-61,173}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{150,213}}</string>
        <key>sourceSize</key>
        <string>{150,213}</string>
      </dict>
      <key>monster_20030_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1313,1050},{182,196}}</string>
        <key>offset</key>
        <string>{-55,153}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{182,196}}</string>
        <key>sourceSize</key>
        <string>{182,196}</string>
      </dict>
      <key>monster_20030_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{994,643},{158,203}}</string>
        <key>offset</key>
        <string>{-51,158}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{158,203}}</string>
        <key>sourceSize</key>
        <string>{158,203}</string>
      </dict>
      <key>monster_20030_0_2_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1621,0},{156,193}}</string>
        <key>offset</key>
        <string>{-45,153}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,193}}</string>
        <key>sourceSize</key>
        <string>{156,193}</string>
      </dict>
      <key>monster_20030_0_2_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{1457,0},{161,199}}</string>
        <key>offset</key>
        <string>{-45,163}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,199}}</string>
        <key>sourceSize</key>
        <string>{161,199}</string>
      </dict>
      <key>monster_20030_0_2_1_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{769,1127},{196,212}}</string>
        <key>offset</key>
        <string>{-70,173}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,212}}</string>
        <key>sourceSize</key>
        <string>{196,212}</string>
      </dict>
      <key>monster_20030_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{163,1195},{205,217}}</string>
        <key>offset</key>
        <string>{-94,178}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{205,217}}</string>
        <key>sourceSize</key>
        <string>{205,217}</string>
      </dict>
      <key>monster_20030_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{209,954},{198,217}}</string>
        <key>offset</key>
        <string>{-93,178}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{198,217}}</string>
        <key>sourceSize</key>
        <string>{198,217}</string>
      </dict>
      <key>monster_20030_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{363,467},{223,217}}</string>
        <key>offset</key>
        <string>{-90,178}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{223,217}}</string>
        <key>sourceSize</key>
        <string>{223,217}</string>
      </dict>
      <key>monster_20030_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{433,229},{223,222}}</string>
        <key>offset</key>
        <string>{-75,183}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{223,222}}</string>
        <key>sourceSize</key>
        <string>{223,222}</string>
      </dict>
      <key>monster_20030_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{163,497},{198,228}}</string>
        <key>offset</key>
        <string>{-60,188}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{198,228}}</string>
        <key>sourceSize</key>
        <string>{198,228}</string>
      </dict>
      <key>monster_20030_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{799,658},{193,208}}</string>
        <key>offset</key>
        <string>{-55,168}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{193,208}}</string>
        <key>sourceSize</key>
        <string>{193,208}</string>
      </dict>
      <key>monster_20030_0_2_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{553,1391},{190,215}}</string>
        <key>offset</key>
        <string>{-40,177}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{190,215}}</string>
        <key>sourceSize</key>
        <string>{190,215}</string>
      </dict>
      <key>monster_20030_0_2_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{761,443},{209,213}}</string>
        <key>offset</key>
        <string>{-55,178}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{209,213}}</string>
        <key>sourceSize</key>
        <string>{209,213}</string>
      </dict>
      <key>monster_20030_0_2_2_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{207,237},{228,224}}</string>
        <key>offset</key>
        <string>{-70,188}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{228,224}}</string>
        <key>sourceSize</key>
        <string>{228,224}</string>
      </dict>
      <key>monster_20030_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,727},{225,201}}</string>
        <key>offset</key>
        <string>{-89,168}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{225,201}}</string>
        <key>sourceSize</key>
        <string>{225,201}</string>
      </dict>
      <key>monster_20030_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,733},{232,196}}</string>
        <key>offset</key>
        <string>{-85,163}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{232,196}}</string>
        <key>sourceSize</key>
        <string>{232,196}</string>
      </dict>
      <key>monster_20030_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{158,0},{235,200}}</string>
        <key>offset</key>
        <string>{-80,168}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{235,200}}</string>
        <key>sourceSize</key>
        <string>{235,200}</string>
      </dict>
      <key>monster_20030_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,250},{245,205}}</string>
        <key>offset</key>
        <string>{-77,173}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{245,205}}</string>
        <key>sourceSize</key>
        <string>{245,205}</string>
      </dict>
      <key>monster_20030_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{972,433},{208,196}}</string>
        <key>offset</key>
        <string>{-45,163}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{208,196}}</string>
        <key>sourceSize</key>
        <string>{208,196}</string>
      </dict>
      <key>monster_20030_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1053,215},{191,207}}</string>
        <key>offset</key>
        <string>{-35,173}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{191,207}}</string>
        <key>sourceSize</key>
        <string>{191,207}</string>
      </dict>
      <key>monster_20030_0_2_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1092,0},{200,206}}</string>
        <key>offset</key>
        <string>{-45,173}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{200,206}}</string>
        <key>sourceSize</key>
        <string>{200,206}</string>
      </dict>
      <key>monster_20030_0_2_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{692,0},{200,216}}</string>
        <key>offset</key>
        <string>{-45,183}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{200,216}}</string>
        <key>sourceSize</key>
        <string>{200,216}</string>
      </dict>
      <key>monster_20030_0_2_3_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,967},{207,226}}</string>
        <key>offset</key>
        <string>{-50,193}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{207,226}}</string>
        <key>sourceSize</key>
        <string>{207,226}</string>
      </dict>
      <key>monster_20030_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{745,1560},{212,198}}</string>
        <key>offset</key>
        <string>{-55,158}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{212,198}}</string>
        <key>sourceSize</key>
        <string>{212,198}</string>
      </dict>
      <key>monster_20030_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{967,1102},{187,206}}</string>
        <key>offset</key>
        <string>{-40,163}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{187,206}}</string>
        <key>sourceSize</key>
        <string>{187,206}</string>
      </dict>
      <key>monster_20030_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{956,1341},{161,211}}</string>
        <key>offset</key>
        <string>{-35,163}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,211}}</string>
        <key>sourceSize</key>
        <string>{161,211}</string>
      </dict>
      <key>monster_20030_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,1414},{151,216}}</string>
        <key>offset</key>
        <string>{-25,168}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,216}}</string>
        <key>sourceSize</key>
        <string>{151,216}</string>
      </dict>
      <key>monster_20030_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{518,0},{172,222}}</string>
        <key>offset</key>
        <string>{-30,173}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{172,222}}</string>
        <key>sourceSize</key>
        <string>{172,222}</string>
      </dict>
      <key>monster_20030_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{360,0},{156,227}}</string>
        <key>offset</key>
        <string>{-23,178}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,227}}</string>
        <key>sourceSize</key>
        <string>{156,227}</string>
      </dict>
      <key>monster_20030_0_2_4_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1195},{161,222}}</string>
        <key>offset</key>
        <string>{-30,173}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,222}}</string>
        <key>sourceSize</key>
        <string>{161,222}</string>
      </dict>
      <key>monster_20030_0_2_4_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,497},{161,234}}</string>
        <key>offset</key>
        <string>{-30,185}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,234}}</string>
        <key>sourceSize</key>
        <string>{161,234}</string>
      </dict>
      <key>monster_20030_0_2_4_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{156,248}}</string>
        <key>offset</key>
        <string>{-35,199}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{156,248}}</string>
        <key>sourceSize</key>
        <string>{156,248}</string>
      </dict>
      <key>monster_20030_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{855,218},{213,196}}</string>
        <key>offset</key>
        <string>{-55,163}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{213,196}}</string>
        <key>sourceSize</key>
        <string>{213,196}</string>
      </dict>
      <key>monster_20030_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{894,0},{213,196}}</string>
        <key>offset</key>
        <string>{-70,163}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{213,196}}</string>
        <key>sourceSize</key>
        <string>{213,196}</string>
      </dict>
      <key>monster_20030_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{351,1414},{216,200}}</string>
        <key>offset</key>
        <string>{-90,168}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{216,200}}</string>
        <key>sourceSize</key>
        <string>{216,200}</string>
      </dict>
      <key>monster_20030_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{786,889},{211,190}}</string>
        <key>offset</key>
        <string>{-105,158}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{211,190}}</string>
        <key>sourceSize</key>
        <string>{211,190}</string>
      </dict>
      <key>monster_20030_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1423,204},{200,196}}</string>
        <key>offset</key>
        <string>{-104,163}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{200,196}}</string>
        <key>sourceSize</key>
        <string>{200,196}</string>
      </dict>
      <key>monster_20030_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{978,868},{206,197}}</string>
        <key>offset</key>
        <string>{-105,163}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{206,197}}</string>
        <key>sourceSize</key>
        <string>{206,197}</string>
      </dict>
      <key>monster_20030_0_2_5_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{583,911},{214,201}}</string>
        <key>offset</key>
        <string>{-100,168}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{214,201}}</string>
        <key>sourceSize</key>
        <string>{214,201}</string>
      </dict>
      <key>monster_20030_0_2_5_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{586,673},{214,211}}</string>
        <key>offset</key>
        <string>{-95,178}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{214,211}}</string>
        <key>sourceSize</key>
        <string>{214,211}</string>
      </dict>
      <key>monster_20030_0_2_5_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{370,1173},{206,216}}</string>
        <key>offset</key>
        <string>{-95,183}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{206,216}}</string>
        <key>sourceSize</key>
        <string>{206,216}</string>
      </dict>
      <key>monster_20030_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{401,692},{183,217}}</string>
        <key>offset</key>
        <string>{-42,178}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{183,217}}</string>
        <key>sourceSize</key>
        <string>{183,217}</string>
      </dict>
      <key>monster_20030_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{582,454},{177,217}}</string>
        <key>offset</key>
        <string>{-36,178}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{177,217}}</string>
        <key>sourceSize</key>
        <string>{177,217}</string>
      </dict>
      <key>monster_20030_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{657,224},{196,217}}</string>
        <key>offset</key>
        <string>{-60,178}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,217}}</string>
        <key>sourceSize</key>
        <string>{196,217}</string>
      </dict>
      <key>monster_20030_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1419},{196,222}}</string>
        <key>offset</key>
        <string>{-75,183}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,222}}</string>
        <key>sourceSize</key>
        <string>{196,222}</string>
      </dict>
      <key>monster_20030_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1621,195},{165,193}}</string>
        <key>offset</key>
        <string>{-64,153}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{165,193}}</string>
        <key>sourceSize</key>
        <string>{165,193}</string>
      </dict>
      <key>monster_20030_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1125,1513},{186,198}}</string>
        <key>offset</key>
        <string>{-75,158}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{186,198}}</string>
        <key>sourceSize</key>
        <string>{186,198}</string>
      </dict>
      <key>monster_20030_0_2_6_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1177,847},{195,201}}</string>
        <key>offset</key>
        <string>{-80,163}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{195,201}}</string>
        <key>sourceSize</key>
        <string>{195,201}</string>
      </dict>
      <key>monster_20030_0_2_6_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{745,1345},{209,213}}</string>
        <key>offset</key>
        <string>{-84,178}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{209,213}}</string>
        <key>sourceSize</key>
        <string>{209,213}</string>
      </dict>
      <key>monster_20030_0_2_6_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{578,1128},{215,189}}</string>
        <key>offset</key>
        <string>{-77,153}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{215,189}}</string>
        <key>sourceSize</key>
        <string>{215,189}</string>
      </dict>
      <key>monster_20030_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1246,208},{175,202}}</string>
        <key>offset</key>
        <string>{-30,163}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{175,202}}</string>
        <key>sourceSize</key>
        <string>{175,202}</string>
      </dict>
      <key>monster_20030_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1294,0},{161,202}}</string>
        <key>offset</key>
        <string>{-30,163}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,202}}</string>
        <key>sourceSize</key>
        <string>{161,202}</string>
      </dict>
      <key>monster_20030_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1316,628},{151,201}}</string>
        <key>offset</key>
        <string>{-36,163}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,201}}</string>
        <key>sourceSize</key>
        <string>{151,201}</string>
      </dict>
      <key>monster_20030_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1469,614},{131,193}}</string>
        <key>offset</key>
        <string>{-21,153}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{131,193}}</string>
        <key>sourceSize</key>
        <string>{131,193}</string>
      </dict>
      <key>monster_20030_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1374,831},{176,196}}</string>
        <key>offset</key>
        <string>{-55,153}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,196}}</string>
        <key>sourceSize</key>
        <string>{176,196}</string>
      </dict>
      <key>monster_20030_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1299,1279},{174,198}}</string>
        <key>offset</key>
        <string>{-55,153}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{174,198}}</string>
        <key>sourceSize</key>
        <string>{174,198}</string>
      </dict>
      <key>monster_20030_0_2_7_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1499,406},{175,193}}</string>
        <key>offset</key>
        <string>{-55,153}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{175,193}}</string>
        <key>sourceSize</key>
        <string>{175,193}</string>
      </dict>
      <key>monster_20030_0_2_7_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1643},{147,199}}</string>
        <key>offset</key>
        <string>{-40,163}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,199}}</string>
        <key>sourceSize</key>
        <string>{147,199}</string>
      </dict>
      <key>monster_20030_0_2_7_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{945,1560},{178,212}}</string>
        <key>offset</key>
        <string>{-50,173}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{178,212}}</string>
        <key>sourceSize</key>
        <string>{178,212}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_20030_0_2.png</string>
      <key>size</key>
      <string>{1792,1792}</string>
      <key>textureFileName</key>
      <string>monster_20030_0_2.png</string>
    </dict>
  </dict>
</plist>