<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_40089_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1527,940},{475,433}}</string>
        <key>offset</key>
        <string>{-238,263}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{475,433}}</string>
        <key>sourceSize</key>
        <string>{475,433}</string>
      </dict>
      <key>monster_40089_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{410,1052},{514,506}}</string>
        <key>offset</key>
        <string>{-267,260}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{514,506}}</string>
        <key>sourceSize</key>
        <string>{514,506}</string>
      </dict>
      <key>monster_40089_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1527,1375},{472,452}}</string>
        <key>offset</key>
        <string>{-133,336}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{472,452}}</string>
        <key>sourceSize</key>
        <string>{472,452}</string>
      </dict>
      <key>monster_40089_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1527,467},{471,489}}</string>
        <key>offset</key>
        <string>{-171,350}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{471,489}}</string>
        <key>sourceSize</key>
        <string>{471,489}</string>
      </dict>
      <key>monster_40089_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{961,500},{447,468}}</string>
        <key>offset</key>
        <string>{-242,327}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{447,468}}</string>
        <key>sourceSize</key>
        <string>{447,468}</string>
      </dict>
      <key>monster_40089_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1576},{462,517}}</string>
        <key>offset</key>
        <string>{-132,363}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{462,517}}</string>
        <key>sourceSize</key>
        <string>{462,517}</string>
      </dict>
      <key>monster_40089_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,527},{523,461}}</string>
        <key>offset</key>
        <string>{-191,338}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{523,461}}</string>
        <key>sourceSize</key>
        <string>{523,461}</string>
      </dict>
      <key>monster_40089_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{480,0},{448,510}}</string>
        <key>offset</key>
        <string>{-175,387}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{448,510}}</string>
        <key>sourceSize</key>
        <string>{448,510}</string>
      </dict>
      <key>monster_40089_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1527,0},{493,465}}</string>
        <key>offset</key>
        <string>{-203,349}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{493,465}}</string>
        <key>sourceSize</key>
        <string>{493,465}</string>
      </dict>
      <key>monster_40089_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{525,478}}</string>
        <key>offset</key>
        <string>{-188,317}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{525,478}}</string>
        <key>sourceSize</key>
        <string>{525,478}</string>
      </dict>
      <key>monster_40089_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{930,0},{498,451}}</string>
        <key>offset</key>
        <string>{-124,333}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{498,451}}</string>
        <key>sourceSize</key>
        <string>{498,451}</string>
      </dict>
      <key>monster_40089_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{519,1568},{467,510}}</string>
        <key>offset</key>
        <string>{-121,392}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{467,510}}</string>
        <key>sourceSize</key>
        <string>{467,510}</string>
      </dict>
      <key>monster_40089_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1052},{522,408}}</string>
        <key>offset</key>
        <string>{-129,278}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{522,408}}</string>
        <key>sourceSize</key>
        <string>{522,408}</string>
      </dict>
      <key>monster_40089_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{463,527},{514,496}}</string>
        <key>offset</key>
        <string>{-176,377}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{514,496}}</string>
        <key>sourceSize</key>
        <string>{514,496}</string>
      </dict>
      <key>monster_40089_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1031,1553},{474,494}}</string>
        <key>offset</key>
        <string>{-120,375}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{474,494}}</string>
        <key>sourceSize</key>
        <string>{474,494}</string>
      </dict>
      <key>monster_40089_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{918,1043},{508,455}}</string>
        <key>offset</key>
        <string>{-143,229}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{508,455}}</string>
        <key>sourceSize</key>
        <string>{508,455}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_40089_0_2_2.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_40089_0_2_2.png</string>
    </dict>
  </dict>
</plist>