<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_20028_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,0},{207,264}}</string>
        <key>offset</key>
        <string>{-49,218}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{207,264}}</string>
        <key>sourceSize</key>
        <string>{207,264}</string>
      </dict>
      <key>monster_20028_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{334,266},{205,263}}</string>
        <key>offset</key>
        <string>{-49,216}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{205,263}}</string>
        <key>sourceSize</key>
        <string>{205,263}</string>
      </dict>
      <key>monster_20028_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{260,548},{203,264}}</string>
        <key>offset</key>
        <string>{-48,215}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{203,264}}</string>
        <key>sourceSize</key>
        <string>{203,264}</string>
      </dict>
      <key>monster_20028_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{127,281},{205,265}}</string>
        <key>offset</key>
        <string>{-48,217}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{205,265}}</string>
        <key>sourceSize</key>
        <string>{205,265}</string>
      </dict>
      <key>monster_20028_0_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{560,0},{219,262}}</string>
        <key>offset</key>
        <string>{-52,219}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{219,262}}</string>
        <key>sourceSize</key>
        <string>{219,262}</string>
      </dict>
      <key>monster_20028_0_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{541,360},{219,260}}</string>
        <key>offset</key>
        <string>{-52,218}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{219,260}}</string>
        <key>sourceSize</key>
        <string>{219,260}</string>
      </dict>
      <key>monster_20028_0_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{465,581},{219,260}}</string>
        <key>offset</key>
        <string>{-52,216}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{219,260}}</string>
        <key>sourceSize</key>
        <string>{219,260}</string>
      </dict>
      <key>monster_20028_0_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{339,0},{219,263}}</string>
        <key>offset</key>
        <string>{-52,218}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{219,263}}</string>
        <key>sourceSize</key>
        <string>{219,263}</string>
      </dict>
      <key>monster_20028_0_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{560,221},{137,261}}</string>
        <key>offset</key>
        <string>{-39,220}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,261}}</string>
        <key>sourceSize</key>
        <string>{137,261}</string>
      </dict>
      <key>monster_20028_0_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{686,581},{138,260}}</string>
        <key>offset</key>
        <string>{-40,218}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,260}}</string>
        <key>sourceSize</key>
        <string>{138,260}</string>
      </dict>
      <key>monster_20028_0_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{823,221},{141,260}}</string>
        <key>offset</key>
        <string>{-42,217}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{141,260}}</string>
        <key>sourceSize</key>
        <string>{141,260}</string>
      </dict>
      <key>monster_20028_0_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,843},{145,260}}</string>
        <key>offset</key>
        <string>{-46,218}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,260}}</string>
        <key>sourceSize</key>
        <string>{145,260}</string>
      </dict>
      <key>monster_20028_0_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,281},{125,278}}</string>
        <key>offset</key>
        <string>{-59,232}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{125,278}}</string>
        <key>sourceSize</key>
        <string>{125,278}</string>
      </dict>
      <key>monster_20028_0_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,561},{124,278}}</string>
        <key>offset</key>
        <string>{-59,230}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{124,278}}</string>
        <key>sourceSize</key>
        <string>{124,278}</string>
      </dict>
      <key>monster_20028_0_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{128,279}}</string>
        <key>offset</key>
        <string>{-59,229}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{128,279}}</string>
        <key>sourceSize</key>
        <string>{128,279}</string>
      </dict>
      <key>monster_20028_0_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{126,561},{132,278}}</string>
        <key>offset</key>
        <string>{-59,230}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{132,278}}</string>
        <key>sourceSize</key>
        <string>{132,278}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_20028_0_0_0.png</string>
      <key>size</key>
      <string>{1038,1026}</string>
      <key>textureFileName</key>
      <string>monster_20028_0_0_0.png</string>
    </dict>
  </dict>
</plist>