<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_20008_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{336,125},{117,117}}</string>
        <key>offset</key>
        <string>{-6,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,117}}</string>
        <key>sourceSize</key>
        <string>{117,117}</string>
      </dict>
      <key>monster_20008_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,0},{121,110}}</string>
        <key>offset</key>
        <string>{5,75}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,110}}</string>
        <key>sourceSize</key>
        <string>{121,110}</string>
      </dict>
      <key>monster_20008_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{222,0},{87,123}}</string>
        <key>offset</key>
        <string>{11,82}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,123}}</string>
        <key>sourceSize</key>
        <string>{87,123}</string>
      </dict>
      <key>monster_20008_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,282},{97,133}}</string>
        <key>offset</key>
        <string>{2,81}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,133}}</string>
        <key>sourceSize</key>
        <string>{97,133}</string>
      </dict>
      <key>monster_20008_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,418},{84,124}}</string>
        <key>offset</key>
        <string>{2,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,124}}</string>
        <key>sourceSize</key>
        <string>{84,124}</string>
      </dict>
      <key>monster_20008_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,146},{96,134}}</string>
        <key>offset</key>
        <string>{-10,85}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,134}}</string>
        <key>sourceSize</key>
        <string>{96,134}</string>
      </dict>
      <key>monster_20008_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{336,244},{106,110}}</string>
        <key>offset</key>
        <string>{-14,84}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,110}}</string>
        <key>sourceSize</key>
        <string>{106,110}</string>
      </dict>
      <key>monster_20008_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{197,281},{129,118}}</string>
        <key>offset</key>
        <string>{-37,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,118}}</string>
        <key>sourceSize</key>
        <string>{129,118}</string>
      </dict>
      <key>monster_20008_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{98,146},{116,133}}</string>
        <key>offset</key>
        <string>{-36,89}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{116,133}}</string>
        <key>sourceSize</key>
        <string>{116,133}</string>
      </dict>
      <key>monster_20008_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{121,144}}</string>
        <key>offset</key>
        <string>{-52,100}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,144}}</string>
        <key>sourceSize</key>
        <string>{121,144}</string>
      </dict>
      <key>monster_20008_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{317,352},{106,110}}</string>
        <key>offset</key>
        <string>{-32,84}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{106,110}}</string>
        <key>sourceSize</key>
        <string>{106,110}</string>
      </dict>
      <key>monster_20008_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{216,135},{129,118}}</string>
        <key>offset</key>
        <string>{-32,91}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{129,118}}</string>
        <key>sourceSize</key>
        <string>{129,118}</string>
      </dict>
      <key>monster_20008_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{126,417},{84,124}}</string>
        <key>offset</key>
        <string>{-26,83}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{84,124}}</string>
        <key>sourceSize</key>
        <string>{84,124}</string>
      </dict>
      <key>monster_20008_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,282},{96,134}}</string>
        <key>offset</key>
        <string>{-26,85}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{96,134}}</string>
        <key>sourceSize</key>
        <string>{96,134}</string>
      </dict>
      <key>monster_20008_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{311,0},{87,123}}</string>
        <key>offset</key>
        <string>{-38,82}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{87,123}}</string>
        <key>sourceSize</key>
        <string>{87,123}</string>
      </dict>
      <key>monster_20008_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{123,0},{97,133}}</string>
        <key>offset</key>
        <string>{-39,81}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{97,133}}</string>
        <key>sourceSize</key>
        <string>{97,133}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_20008_0_7.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>monster_20008_0_7.png</string>
    </dict>
  </dict>
</plist>