<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_1085_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{146,110}}</string>
        <key>offset</key>
        <string>{-22,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,110}}</string>
        <key>sourceSize</key>
        <string>{146,110}</string>
      </dict>
      <key>monster_1085_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{112,0},{138,101}}</string>
        <key>offset</key>
        <string>{-22,77}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,101}}</string>
        <key>sourceSize</key>
        <string>{138,101}</string>
      </dict>
      <key>monster_1085_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{105,296},{135,100}}</string>
        <key>offset</key>
        <string>{-21,71}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,100}}</string>
        <key>sourceSize</key>
        <string>{135,100}</string>
      </dict>
      <key>monster_1085_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{207,405},{121,104}}</string>
        <key>offset</key>
        <string>{-17,78}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,104}}</string>
        <key>sourceSize</key>
        <string>{121,104}</string>
      </dict>
      <key>monster_1085_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{317,214},{108,124}}</string>
        <key>offset</key>
        <string>{-14,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,124}}</string>
        <key>sourceSize</key>
        <string>{108,124}</string>
      </dict>
      <key>monster_1085_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{334,0},{93,127}}</string>
        <key>offset</key>
        <string>{0,81}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,127}}</string>
        <key>sourceSize</key>
        <string>{93,127}</string>
      </dict>
      <key>monster_1085_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{334,95},{117,126}}</string>
        <key>offset</key>
        <string>{-56,88}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,126}}</string>
        <key>sourceSize</key>
        <string>{117,126}</string>
      </dict>
      <key>monster_1085_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{462,95},{105,112}}</string>
        <key>offset</key>
        <string>{-29,73}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,112}}</string>
        <key>sourceSize</key>
        <string>{105,112}</string>
      </dict>
      <key>monster_1085_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,148},{146,118}}</string>
        <key>offset</key>
        <string>{-76,86}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,118}}</string>
        <key>sourceSize</key>
        <string>{146,118}</string>
      </dict>
      <key>monster_1085_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,296},{138,103}}</string>
        <key>offset</key>
        <string>{-68,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{138,103}}</string>
        <key>sourceSize</key>
        <string>{138,103}</string>
      </dict>
      <key>monster_1085_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{120,140},{135,119}}</string>
        <key>offset</key>
        <string>{-66,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,119}}</string>
        <key>sourceSize</key>
        <string>{135,119}</string>
      </dict>
      <key>monster_1085_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,324},{121,105}}</string>
        <key>offset</key>
        <string>{-56,73}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{121,105}}</string>
        <key>sourceSize</key>
        <string>{121,105}</string>
      </dict>
      <key>monster_1085_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{207,277},{108,126}}</string>
        <key>offset</key>
        <string>{-46,91}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{108,126}}</string>
        <key>sourceSize</key>
        <string>{108,126}</string>
      </dict>
      <key>monster_1085_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{443,214},{93,113}}</string>
        <key>offset</key>
        <string>{-45,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{93,113}}</string>
        <key>sourceSize</key>
        <string>{93,113}</string>
      </dict>
      <key>monster_1085_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{215,0},{117,133}}</string>
        <key>offset</key>
        <string>{-13,101}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{117,133}}</string>
        <key>sourceSize</key>
        <string>{117,133}</string>
      </dict>
      <key>monster_1085_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{453,309},{105,110}}</string>
        <key>offset</key>
        <string>{-28,78}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{105,110}}</string>
        <key>sourceSize</key>
        <string>{105,110}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_1085_0_7.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>monster_1085_0_7.png</string>
    </dict>
  </dict>
</plist>