<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_40073_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{175,0},{246,181}}</string>
        <key>offset</key>
        <string>{-58,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{246,181}}</string>
        <key>sourceSize</key>
        <string>{246,181}</string>
      </dict>
      <key>monster_40073_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,520},{241,184}}</string>
        <key>offset</key>
        <string>{-60,127}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{241,184}}</string>
        <key>sourceSize</key>
        <string>{241,184}</string>
      </dict>
      <key>monster_40073_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{265,173}}</string>
        <key>offset</key>
        <string>{-75,131}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{265,173}}</string>
        <key>sourceSize</key>
        <string>{265,173}</string>
      </dict>
      <key>monster_40073_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{180,763},{228,186}}</string>
        <key>offset</key>
        <string>{-45,136}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{228,186}}</string>
        <key>sourceSize</key>
        <string>{228,186}</string>
      </dict>
      <key>monster_40073_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{741,0},{183,193}}</string>
        <key>offset</key>
        <string>{-71,142}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{183,193}}</string>
        <key>sourceSize</key>
        <string>{183,193}</string>
      </dict>
      <key>monster_40073_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{358,0},{186,200}}</string>
        <key>offset</key>
        <string>{-73,140}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{186,200}}</string>
        <key>sourceSize</key>
        <string>{186,200}</string>
      </dict>
      <key>monster_40073_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{741,185},{190,193}}</string>
        <key>offset</key>
        <string>{-77,141}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{190,193}}</string>
        <key>sourceSize</key>
        <string>{190,193}</string>
      </dict>
      <key>monster_40073_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{525,202},{190,197}}</string>
        <key>offset</key>
        <string>{-76,138}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{190,197}}</string>
        <key>sourceSize</key>
        <string>{190,197}</string>
      </dict>
      <key>monster_40073_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{186,476},{224,165}}</string>
        <key>offset</key>
        <string>{-95,136}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{224,165}}</string>
        <key>sourceSize</key>
        <string>{224,165}</string>
      </dict>
      <key>monster_40073_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{182,248},{226,165}}</string>
        <key>offset</key>
        <string>{-98,136}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{226,165}}</string>
        <key>sourceSize</key>
        <string>{226,165}</string>
      </dict>
      <key>monster_40073_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,267},{251,180}}</string>
        <key>offset</key>
        <string>{-123,138}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{251,180}}</string>
        <key>sourceSize</key>
        <string>{251,180}</string>
      </dict>
      <key>monster_40073_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,763},{239,178}}</string>
        <key>offset</key>
        <string>{-122,136}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{239,178}}</string>
        <key>sourceSize</key>
        <string>{239,178}</string>
      </dict>
      <key>monster_40073_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{546,0},{194,193}}</string>
        <key>offset</key>
        <string>{-65,155}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{194,193}}</string>
        <key>sourceSize</key>
        <string>{194,193}</string>
      </dict>
      <key>monster_40073_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{353,463},{199,180}}</string>
        <key>offset</key>
        <string>{-66,142}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{199,180}}</string>
        <key>sourceSize</key>
        <string>{199,180}</string>
      </dict>
      <key>monster_40073_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{349,248},{174,213}}</string>
        <key>offset</key>
        <string>{-34,157}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{174,213}}</string>
        <key>sourceSize</key>
        <string>{174,213}</string>
      </dict>
      <key>monster_40073_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{717,377},{173,180}}</string>
        <key>offset</key>
        <string>{-35,150}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{173,180}}</string>
        <key>sourceSize</key>
        <string>{173,180}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_40073_0_7.png</string>
      <key>size</key>
      <string>{1024,1024}</string>
      <key>textureFileName</key>
      <string>monster_40073_0_7.png</string>
    </dict>
  </dict>
</plist>