<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_20058_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{646,0},{373,334}}</string>
        <key>offset</key>
        <string>{-169,189}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{373,334}}</string>
        <key>sourceSize</key>
        <string>{373,334}</string>
      </dict>
      <key>monster_20058_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{382,308}}</string>
        <key>offset</key>
        <string>{-179,162}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{382,308}}</string>
        <key>sourceSize</key>
        <string>{382,308}</string>
      </dict>
      <key>monster_20058_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,384},{382,310}}</string>
        <key>offset</key>
        <string>{-182,164}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{382,310}}</string>
        <key>sourceSize</key>
        <string>{382,310}</string>
      </dict>
      <key>monster_20058_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{310,0},{381,334}}</string>
        <key>offset</key>
        <string>{-182,187}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{381,334}}</string>
        <key>sourceSize</key>
        <string>{381,334}</string>
      </dict>
      <key>monster_20058_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,768},{380,345}}</string>
        <key>offset</key>
        <string>{-182,198}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{380,345}}</string>
        <key>sourceSize</key>
        <string>{380,345}</string>
      </dict>
      <key>monster_20058_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{312,383},{380,359}}</string>
        <key>offset</key>
        <string>{-182,212}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{380,359}}</string>
        <key>sourceSize</key>
        <string>{380,359}</string>
      </dict>
      <key>monster_20058_0_2_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{665,765},{367,323}}</string>
        <key>offset</key>
        <string>{-169,176}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{367,323}}</string>
        <key>sourceSize</key>
        <string>{367,323}</string>
      </dict>
      <key>monster_20058_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{673,375},{367,330}}</string>
        <key>offset</key>
        <string>{-163,185}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{367,330}}</string>
        <key>sourceSize</key>
        <string>{367,330}</string>
      </dict>
      <key>monster_20058_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{347,765},{368,316}}</string>
        <key>offset</key>
        <string>{-165,170}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{368,316}}</string>
        <key>sourceSize</key>
        <string>{368,316}</string>
      </dict>
      <key>monster_20058_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{665,1134},{366,305}}</string>
        <key>offset</key>
        <string>{-166,159}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{366,305}}</string>
        <key>sourceSize</key>
        <string>{366,305}</string>
      </dict>
      <key>monster_20058_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{982,0},{367,320}}</string>
        <key>offset</key>
        <string>{-168,173}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{367,320}}</string>
        <key>sourceSize</key>
        <string>{367,320}</string>
      </dict>
      <key>monster_20058_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1005,369},{367,325}}</string>
        <key>offset</key>
        <string>{-169,178}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{367,325}}</string>
        <key>sourceSize</key>
        <string>{367,325}</string>
      </dict>
      <key>monster_20058_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1005,696},{367,342}}</string>
        <key>offset</key>
        <string>{-169,195}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{367,342}}</string>
        <key>sourceSize</key>
        <string>{367,342}</string>
      </dict>
      <key>monster_20058_0_2_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{990,1040},{367,312}}</string>
        <key>offset</key>
        <string>{-169,165}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{367,312}}</string>
        <key>sourceSize</key>
        <string>{367,312}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_20058_0_2_1.png</string>
      <key>size</key>
      <string>{1536,1588}</string>
      <key>textureFileName</key>
      <string>monster_20058_0_2_1.png</string>
    </dict>
  </dict>
</plist>