<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_1071_0_7_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,644},{286,245}}</string>
        <key>offset</key>
        <string>{-81,155}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{286,245}}</string>
        <key>sourceSize</key>
        <string>{286,245}</string>
      </dict>
      <key>monster_1071_0_7_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{455,593},{271,251}}</string>
        <key>offset</key>
        <string>{-80,166}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{271,251}}</string>
        <key>sourceSize</key>
        <string>{271,251}</string>
      </dict>
      <key>monster_1071_0_7_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,324},{318,227}}</string>
        <key>offset</key>
        <string>{-91,166}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{318,227}}</string>
        <key>sourceSize</key>
        <string>{318,227}</string>
      </dict>
      <key>monster_1071_0_7_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{216,0},{303,219}}</string>
        <key>offset</key>
        <string>{-83,160}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{303,219}}</string>
        <key>sourceSize</key>
        <string>{303,219}</string>
      </dict>
      <key>monster_1071_0_7_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{322,214}}</string>
        <key>offset</key>
        <string>{-103,160}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{322,214}}</string>
        <key>sourceSize</key>
        <string>{322,214}</string>
      </dict>
      <key>monster_1071_0_7_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,644},{297,206}}</string>
        <key>offset</key>
        <string>{-93,155}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{297,206}}</string>
        <key>sourceSize</key>
        <string>{297,206}</string>
      </dict>
      <key>monster_1071_0_7_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{651,242},{273,207}}</string>
        <key>offset</key>
        <string>{-59,155}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{273,207}}</string>
        <key>sourceSize</key>
        <string>{273,207}</string>
      </dict>
      <key>monster_1071_0_7_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{708,646},{262,194}}</string>
        <key>offset</key>
        <string>{-52,145}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{262,194}}</string>
        <key>sourceSize</key>
        <string>{262,194}</string>
      </dict>
      <key>monster_1071_0_7_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1183,0},{220,186}}</string>
        <key>offset</key>
        <string>{-63,147}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{220,186}}</string>
        <key>sourceSize</key>
        <string>{220,186}</string>
      </dict>
      <key>monster_1071_0_7_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{972,646},{202,187}}</string>
        <key>offset</key>
        <string>{-45,151}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{202,187}}</string>
        <key>sourceSize</key>
        <string>{202,187}</string>
      </dict>
      <key>monster_1071_0_7_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{437,0},{281,212}}</string>
        <key>offset</key>
        <string>{-123,155}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{281,212}}</string>
        <key>sourceSize</key>
        <string>{281,212}</string>
      </dict>
      <key>monster_1071_0_7_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{708,451},{266,193}}</string>
        <key>offset</key>
        <string>{-107,145}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{266,193}}</string>
        <key>sourceSize</key>
        <string>{266,193}</string>
      </dict>
      <key>monster_1071_0_7_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{927,0},{254,213}}</string>
        <key>offset</key>
        <string>{-98,159}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{254,213}}</string>
        <key>sourceSize</key>
        <string>{254,213}</string>
      </dict>
      <key>monster_1071_0_7_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{926,242},{255,207}}</string>
        <key>offset</key>
        <string>{-96,156}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{255,207}}</string>
        <key>sourceSize</key>
        <string>{255,207}</string>
      </dict>
      <key>monster_1071_0_7_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{229,305},{286,240}}</string>
        <key>offset</key>
        <string>{-128,169}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{286,240}}</string>
        <key>sourceSize</key>
        <string>{286,240}</string>
      </dict>
      <key>monster_1071_0_7_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{651,0},{274,240}}</string>
        <key>offset</key>
        <string>{-116,172}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{274,240}}</string>
        <key>sourceSize</key>
        <string>{274,240}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_1071_0_7.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>monster_1071_0_7.png</string>
    </dict>
  </dict>
</plist>