<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_20075_0_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{849,235},{289,300}}</string>
        <key>offset</key>
        <string>{-108,222}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{289,300}}</string>
        <key>sourceSize</key>
        <string>{289,300}</string>
      </dict>
      <key>monster_20075_0_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{232,509},{363,301}}</string>
        <key>offset</key>
        <string>{-207,223}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{363,301}}</string>
        <key>sourceSize</key>
        <string>{363,301}</string>
      </dict>
      <key>monster_20075_0_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{849,526},{262,294}}</string>
        <key>offset</key>
        <string>{-146,243}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{262,294}}</string>
        <key>sourceSize</key>
        <string>{262,294}</string>
      </dict>
      <key>monster_20075_0_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{232,874},{286,283}}</string>
        <key>offset</key>
        <string>{-133,233}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{286,283}}</string>
        <key>sourceSize</key>
        <string>{286,283}</string>
      </dict>
      <key>monster_20075_0_4_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{535,509},{306,312}}</string>
        <key>offset</key>
        <string>{-95,239}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{306,312}}</string>
        <key>sourceSize</key>
        <string>{306,312}</string>
      </dict>
      <key>monster_20075_0_4_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{444,235},{379,272}}</string>
        <key>offset</key>
        <string>{-123,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{379,272}}</string>
        <key>sourceSize</key>
        <string>{379,272}</string>
      </dict>
      <key>monster_20075_0_4_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,483},{456,230}}</string>
        <key>offset</key>
        <string>{-140,113}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{456,230}}</string>
        <key>sourceSize</key>
        <string>{456,230}</string>
      </dict>
      <key>monster_20075_0_4_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{481,215}}</string>
        <key>offset</key>
        <string>{-121,56}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{481,215}}</string>
        <key>sourceSize</key>
        <string>{481,215}</string>
      </dict>
      <key>monster_20075_0_4_3_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{217,0},{437,225}}</string>
        <key>offset</key>
        <string>{-121,58}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{437,225}}</string>
        <key>sourceSize</key>
        <string>{437,225}</string>
      </dict>
      <key>monster_20075_0_4_3_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{444,0},{434,233}}</string>
        <key>offset</key>
        <string>{-121,52}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{434,233}}</string>
        <key>sourceSize</key>
        <string>{434,233}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_20075_0_4_3.png</string>
      <key>size</key>
      <string>{1168,1165}</string>
      <key>textureFileName</key>
      <string>monster_20075_0_4_3.png</string>
    </dict>
  </dict>
</plist>