<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_1056_0_0_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{209,375},{371,216}}</string>
        <key>offset</key>
        <string>{-163,146}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{371,216}}</string>
        <key>sourceSize</key>
        <string>{371,216}</string>
      </dict>
      <key>monster_1056_0_0_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1124},{370,215}}</string>
        <key>offset</key>
        <string>{-164,148}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{370,215}}</string>
        <key>sourceSize</key>
        <string>{370,215}</string>
      </dict>
      <key>monster_1056_0_0_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{206,1496},{367,216}}</string>
        <key>offset</key>
        <string>{-162,149}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{367,216}}</string>
        <key>sourceSize</key>
        <string>{367,216}</string>
      </dict>
      <key>monster_1056_0_0_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{373,212}}</string>
        <key>offset</key>
        <string>{-163,145}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{373,212}}</string>
        <key>sourceSize</key>
        <string>{373,212}</string>
      </dict>
      <key>monster_1056_0_0_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1047,651},{313,291}}</string>
        <key>offset</key>
        <string>{-177,171}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{313,291}}</string>
        <key>sourceSize</key>
        <string>{313,291}</string>
      </dict>
      <key>monster_1056_0_0_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{689,1366},{319,297}}</string>
        <key>offset</key>
        <string>{-185,172}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{319,297}}</string>
        <key>sourceSize</key>
        <string>{319,297}</string>
      </dict>
      <key>monster_1056_0_0_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1002,328},{321,307}}</string>
        <key>offset</key>
        <string>{-189,176}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{321,307}}</string>
        <key>sourceSize</key>
        <string>{321,307}</string>
      </dict>
      <key>monster_1056_0_0_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1311,322},{313,298}}</string>
        <key>offset</key>
        <string>{-177,174}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{313,298}}</string>
        <key>sourceSize</key>
        <string>{313,298}</string>
      </dict>
      <key>monster_1056_0_0_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{956,0},{263,326}}</string>
        <key>offset</key>
        <string>{-122,215}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{263,326}}</string>
        <key>sourceSize</key>
        <string>{263,326}</string>
      </dict>
      <key>monster_1056_0_0_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{424,1417},{263,325}}</string>
        <key>offset</key>
        <string>{-122,216}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{263,325}}</string>
        <key>sourceSize</key>
        <string>{263,325}</string>
      </dict>
      <key>monster_1056_0_0_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{424,1744},{263,325}}</string>
        <key>offset</key>
        <string>{-122,216}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{263,325}}</string>
        <key>sourceSize</key>
        <string>{263,325}</string>
      </dict>
      <key>monster_1056_0_0_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{428,0},{261,331}}</string>
        <key>offset</key>
        <string>{-121,215}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{261,331}}</string>
        <key>sourceSize</key>
        <string>{261,331}</string>
      </dict>
      <key>monster_1056_0_0_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{750,990},{316,265}}</string>
        <key>offset</key>
        <string>{-176,218}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{316,265}}</string>
        <key>sourceSize</key>
        <string>{316,265}</string>
      </dict>
      <key>monster_1056_0_0_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{482,1039},{325,266}}</string>
        <key>offset</key>
        <string>{-185,219}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{325,266}}</string>
        <key>sourceSize</key>
        <string>{325,266}</string>
      </dict>
      <key>monster_1056_0_0_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{480,707},{330,262}}</string>
        <key>offset</key>
        <string>{-190,215}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{330,262}}</string>
        <key>sourceSize</key>
        <string>{330,262}</string>
      </dict>
      <key>monster_1056_0_0_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{988,1308},{314,260}}</string>
        <key>offset</key>
        <string>{-174,213}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{314,260}}</string>
        <key>sourceSize</key>
        <string>{314,260}</string>
      </dict>
      <key>monster_1056_0_0_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,750},{372,215}}</string>
        <key>offset</key>
        <string>{-162,181}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{372,215}}</string>
        <key>sourceSize</key>
        <string>{372,215}</string>
      </dict>
      <key>monster_1056_0_0_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{214,0},{371,212}}</string>
        <key>offset</key>
        <string>{-160,178}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{371,212}}</string>
        <key>sourceSize</key>
        <string>{371,212}</string>
      </dict>
      <key>monster_1056_0_0_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1496},{368,204}}</string>
        <key>offset</key>
        <string>{-159,170}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{368,204}}</string>
        <key>sourceSize</key>
        <string>{368,204}</string>
      </dict>
      <key>monster_1056_0_0_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,375},{373,207}}</string>
        <key>offset</key>
        <string>{-163,173}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{373,207}}</string>
        <key>sourceSize</key>
        <string>{373,207}</string>
      </dict>
      <key>monster_1056_0_0_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1483,0},{313,262}}</string>
        <key>offset</key>
        <string>{-88,219}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{313,262}}</string>
        <key>sourceSize</key>
        <string>{313,262}</string>
      </dict>
      <key>monster_1056_0_0_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{751,1687},{318,264}}</string>
        <key>offset</key>
        <string>{-86,221}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{318,264}}</string>
        <key>sourceSize</key>
        <string>{318,264}</string>
      </dict>
      <key>monster_1056_0_0_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1221,0},{320,260}}</string>
        <key>offset</key>
        <string>{-84,217}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{320,260}}</string>
        <key>sourceSize</key>
        <string>{320,260}</string>
      </dict>
      <key>monster_1056_0_0_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1250,1306},{312,257}}</string>
        <key>offset</key>
        <string>{-88,214}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{312,257}}</string>
        <key>sourceSize</key>
        <string>{312,257}</string>
      </dict>
      <key>monster_1056_0_0_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{691,0},{263,331}}</string>
        <key>offset</key>
        <string>{-93,211}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{263,331}}</string>
        <key>sourceSize</key>
        <string>{263,331}</string>
      </dict>
      <key>monster_1056_0_0_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{217,1084},{263,331}}</string>
        <key>offset</key>
        <string>{-93,213}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{263,331}}</string>
        <key>sourceSize</key>
        <string>{263,331}</string>
      </dict>
      <key>monster_1056_0_0_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{427,373},{262,332}}</string>
        <key>offset</key>
        <string>{-92,214}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{262,332}}</string>
        <key>sourceSize</key>
        <string>{262,332}</string>
      </dict>
      <key>monster_1056_0_0_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{217,748},{261,334}}</string>
        <key>offset</key>
        <string>{-92,212}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{261,334}}</string>
        <key>sourceSize</key>
        <string>{261,334}</string>
      </dict>
      <key>monster_1056_0_0_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1017,990},{314,293}}</string>
        <key>offset</key>
        <string>{-92,165}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{314,293}}</string>
        <key>sourceSize</key>
        <string>{314,293}</string>
      </dict>
      <key>monster_1056_0_0_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{744,664},{324,301}}</string>
        <key>offset</key>
        <string>{-92,167}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{324,301}}</string>
        <key>sourceSize</key>
        <string>{324,301}</string>
      </dict>
      <key>monster_1056_0_0_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{691,333},{329,309}}</string>
        <key>offset</key>
        <string>{-92,173}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{329,309}}</string>
        <key>sourceSize</key>
        <string>{329,309}</string>
      </dict>
      <key>monster_1056_0_0_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1017,1624},{313,300}}</string>
        <key>offset</key>
        <string>{-92,170}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{313,300}}</string>
        <key>sourceSize</key>
        <string>{313,300}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_1056_0_0.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_1056_0_0.png</string>
    </dict>
  </dict>
</plist>