<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_20053_0_2_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,532},{165,154}}</string>
        <key>offset</key>
        <string>{-35,118}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{165,154}}</string>
        <key>sourceSize</key>
        <string>{165,154}</string>
      </dict>
      <key>monster_20053_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{554,945},{171,158}}</string>
        <key>offset</key>
        <string>{-31,122}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{171,158}}</string>
        <key>sourceSize</key>
        <string>{171,158}</string>
      </dict>
      <key>monster_20053_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{466,586},{179,162}}</string>
        <key>offset</key>
        <string>{-34,126}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{179,162}}</string>
        <key>sourceSize</key>
        <string>{179,162}</string>
      </dict>
      <key>monster_20053_0_2_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{230,160}}</string>
        <key>offset</key>
        <string>{-39,124}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{230,160}}</string>
        <key>sourceSize</key>
        <string>{230,160}</string>
      </dict>
      <key>monster_20053_0_2_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1137,168},{165,140}}</string>
        <key>offset</key>
        <string>{-31,104}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{165,140}}</string>
        <key>sourceSize</key>
        <string>{165,140}</string>
      </dict>
      <key>monster_20053_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1100},{196,149}}</string>
        <key>offset</key>
        <string>{-53,112}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{196,149}}</string>
        <key>sourceSize</key>
        <string>{196,149}</string>
      </dict>
      <key>monster_20053_0_2_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1106,338},{158,164}}</string>
        <key>offset</key>
        <string>{-18,129}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{158,164}}</string>
        <key>sourceSize</key>
        <string>{158,164}</string>
      </dict>
      <key>monster_20053_0_2_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1106,498},{151,163}}</string>
        <key>offset</key>
        <string>{-34,128}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{151,163}}</string>
        <key>sourceSize</key>
        <string>{151,163}</string>
      </dict>
      <key>monster_20053_0_2_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{872,0},{133,167}}</string>
        <key>offset</key>
        <string>{-20,132}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{133,167}}</string>
        <key>sourceSize</key>
        <string>{133,167}</string>
      </dict>
      <key>monster_20053_0_2_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{528,184},{180,166}}</string>
        <key>offset</key>
        <string>{-29,131}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,166}}</string>
        <key>sourceSize</key>
        <string>{180,166}</string>
      </dict>
      <key>monster_20053_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{696,182},{177,154}}</string>
        <key>offset</key>
        <string>{-39,119}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{177,154}}</string>
        <key>sourceSize</key>
        <string>{177,154}</string>
      </dict>
      <key>monster_20053_0_2_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{387,1008},{176,165}}</string>
        <key>offset</key>
        <string>{-37,130}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{176,165}}</string>
        <key>sourceSize</key>
        <string>{176,165}</string>
      </dict>
      <key>monster_20053_0_2_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{685,724},{163,170}}</string>
        <key>offset</key>
        <string>{-15,127}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{163,170}}</string>
        <key>sourceSize</key>
        <string>{163,170}</string>
      </dict>
      <key>monster_20053_0_2_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{695,0},{180,175}}</string>
        <key>offset</key>
        <string>{-36,132}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,175}}</string>
        <key>sourceSize</key>
        <string>{180,175}</string>
      </dict>
      <key>monster_20053_0_2_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{293,643},{181,171}}</string>
        <key>offset</key>
        <string>{-37,128}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{181,171}}</string>
        <key>sourceSize</key>
        <string>{181,171}</string>
      </dict>
      <key>monster_20053_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{988,169},{147,167}}</string>
        <key>offset</key>
        <string>{-13,124}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{147,167}}</string>
        <key>sourceSize</key>
        <string>{147,167}</string>
      </dict>
      <key>monster_20053_0_2_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{780,537},{169,168}}</string>
        <key>offset</key>
        <string>{-31,125}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{169,168}}</string>
        <key>sourceSize</key>
        <string>{169,168}</string>
      </dict>
      <key>monster_20053_0_2_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{699,361},{148,174}}</string>
        <key>offset</key>
        <string>{-24,131}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,174}}</string>
        <key>sourceSize</key>
        <string>{148,174}</string>
      </dict>
      <key>monster_20053_0_2_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1007,0},{166,164}}</string>
        <key>offset</key>
        <string>{-24,111}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{166,164}}</string>
        <key>sourceSize</key>
        <string>{166,164}</string>
      </dict>
      <key>monster_20053_0_2_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{356,403},{177,181}}</string>
        <key>offset</key>
        <string>{-42,128}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{177,181}}</string>
        <key>sourceSize</key>
        <string>{177,181}</string>
      </dict>
      <key>monster_20053_0_2_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{161,232},{212,174}}</string>
        <key>offset</key>
        <string>{-67,121}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{212,174}}</string>
        <key>sourceSize</key>
        <string>{212,174}</string>
      </dict>
      <key>monster_20053_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{199,888},{182,177}}</string>
        <key>offset</key>
        <string>{-53,124}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{182,177}}</string>
        <key>sourceSize</key>
        <string>{182,177}</string>
      </dict>
      <key>monster_20053_0_2_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{852,182},{134,168}}</string>
        <key>offset</key>
        <string>{-12,115}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{134,168}}</string>
        <key>sourceSize</key>
        <string>{134,168}</string>
      </dict>
      <key>monster_20053_0_2_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{849,361},{145,169}}</string>
        <key>offset</key>
        <string>{-9,116}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{145,169}}</string>
        <key>sourceSize</key>
        <string>{145,169}</string>
      </dict>
      <key>monster_20053_0_2_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1106,651},{158,162}}</string>
        <key>offset</key>
        <string>{-37,111}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{158,162}}</string>
        <key>sourceSize</key>
        <string>{158,162}</string>
      </dict>
      <key>monster_20053_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{349,0},{167,182}}</string>
        <key>offset</key>
        <string>{-42,131}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{167,182}}</string>
        <key>sourceSize</key>
        <string>{167,182}</string>
      </dict>
      <key>monster_20053_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{166,446},{188,195}}</string>
        <key>offset</key>
        <string>{-52,144}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{188,195}}</string>
        <key>sourceSize</key>
        <string>{188,195}</string>
      </dict>
      <key>monster_20053_0_2_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,232},{224,159}}</string>
        <key>offset</key>
        <string>{-92,108}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{224,159}}</string>
        <key>sourceSize</key>
        <string>{224,159}</string>
      </dict>
      <key>monster_20053_0_2_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{554,1118},{170,158}}</string>
        <key>offset</key>
        <string>{-44,105}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{170,158}}</string>
        <key>sourceSize</key>
        <string>{170,158}</string>
      </dict>
      <key>monster_20053_0_2_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{714,896},{166,163}}</string>
        <key>offset</key>
        <string>{-39,112}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{166,163}}</string>
        <key>sourceSize</key>
        <string>{166,163}</string>
      </dict>
      <key>monster_20053_0_2_5_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{541,767},{142,176}}</string>
        <key>offset</key>
        <string>{-46,127}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{142,176}}</string>
        <key>sourceSize</key>
        <string>{142,176}</string>
      </dict>
      <key>monster_20053_0_2_5_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{378,826},{161,180}}</string>
        <key>offset</key>
        <string>{-25,131}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{161,180}}</string>
        <key>sourceSize</key>
        <string>{161,180}</string>
      </dict>
      <key>monster_20053_0_2_5_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,681},{143,209}}</string>
        <key>offset</key>
        <string>{-27,160}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{143,209}}</string>
        <key>sourceSize</key>
        <string>{143,209}</string>
      </dict>
      <key>monster_20053_0_2_5_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{337,212},{189,189}}</string>
        <key>offset</key>
        <string>{-65,140}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{189,189}}</string>
        <key>sourceSize</key>
        <string>{189,189}</string>
      </dict>
      <key>monster_20053_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{850,708},{166,164}}</string>
        <key>offset</key>
        <string>{-59,109}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{166,164}}</string>
        <key>sourceSize</key>
        <string>{166,164}</string>
      </dict>
      <key>monster_20053_0_2_5_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{879,876},{154,156}}</string>
        <key>offset</key>
        <string>{-48,107}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{154,156}}</string>
        <key>sourceSize</key>
        <string>{154,156}</string>
      </dict>
      <key>monster_20053_0_2_6_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{630,546},{148,176}}</string>
        <key>offset</key>
        <string>{-49,131}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{148,176}}</string>
        <key>sourceSize</key>
        <string>{148,176}</string>
      </dict>
      <key>monster_20053_0_2_6_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{518,0},{182,175}}</string>
        <key>offset</key>
        <string>{-44,130}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{182,175}}</string>
        <key>sourceSize</key>
        <string>{182,175}</string>
      </dict>
      <key>monster_20053_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,892},{206,197}}</string>
        <key>offset</key>
        <string>{-52,152}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{206,197}}</string>
        <key>sourceSize</key>
        <string>{206,197}</string>
      </dict>
      <key>monster_20053_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{145,681},{146,205}}</string>
        <key>offset</key>
        <string>{-44,160}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{146,205}}</string>
        <key>sourceSize</key>
        <string>{146,205}</string>
      </dict>
      <key>monster_20053_0_2_6_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1035,811},{144,153}}</string>
        <key>offset</key>
        <string>{-53,108}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{144,153}}</string>
        <key>sourceSize</key>
        <string>{144,153}</string>
      </dict>
      <key>monster_20053_0_2_6_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{726,1064},{137,162}}</string>
        <key>offset</key>
        <string>{-37,117}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{137,162}}</string>
        <key>sourceSize</key>
        <string>{137,162}</string>
      </dict>
      <key>monster_20053_0_2_7_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{535,366},{178,162}}</string>
        <key>offset</key>
        <string>{-56,124}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{178,162}}</string>
        <key>sourceSize</key>
        <string>{178,162}</string>
      </dict>
      <key>monster_20053_0_2_7_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,1100},{187,161}}</string>
        <key>offset</key>
        <string>{-43,123}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{187,161}}</string>
        <key>sourceSize</key>
        <string>{187,161}</string>
      </dict>
      <key>monster_20053_0_2_7_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,458},{221,164}}</string>
        <key>offset</key>
        <string>{-46,126}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{221,164}}</string>
        <key>sourceSize</key>
        <string>{221,164}</string>
      </dict>
      <key>monster_20053_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{162,0},{210,185}}</string>
        <key>offset</key>
        <string>{-41,147}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{210,185}}</string>
        <key>sourceSize</key>
        <string>{210,185}</string>
      </dict>
      <key>monster_20053_0_2_7_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1035,957},{127,142}}</string>
        <key>offset</key>
        <string>{-37,104}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{127,142}}</string>
        <key>sourceSize</key>
        <string>{127,142}</string>
      </dict>
      <key>monster_20053_0_2_7_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{865,1064},{135,160}}</string>
        <key>offset</key>
        <string>{-29,122}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{135,160}}</string>
        <key>sourceSize</key>
        <string>{135,160}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_20053_0_2.png</string>
      <key>size</key>
      <string>{1280,1280}</string>
      <key>textureFileName</key>
      <string>monster_20053_0_2.png</string>
    </dict>
  </dict>
</plist>