<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_40093_0_1_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,434},{431,366}}</string>
        <key>offset</key>
        <string>{-216,207}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{431,366}}</string>
        <key>sourceSize</key>
        <string>{431,366}</string>
      </dict>
      <key>monster_40093_0_1_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{369,1300},{429,366}}</string>
        <key>offset</key>
        <string>{-214,207}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{429,366}}</string>
        <key>sourceSize</key>
        <string>{429,366}</string>
      </dict>
      <key>monster_40093_0_1_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{432,366}}</string>
        <key>offset</key>
        <string>{-217,207}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{432,366}}</string>
        <key>sourceSize</key>
        <string>{432,366}</string>
      </dict>
      <key>monster_40093_0_1_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,867},{431,368}}</string>
        <key>offset</key>
        <string>{-216,209}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{431,368}}</string>
        <key>sourceSize</key>
        <string>{431,368}</string>
      </dict>
      <key>monster_40093_0_1_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{368,0},{429,367}}</string>
        <key>offset</key>
        <string>{-214,208}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{429,367}}</string>
        <key>sourceSize</key>
        <string>{429,367}</string>
      </dict>
      <key>monster_40093_0_1_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1300},{430,367}}</string>
        <key>offset</key>
        <string>{-215,208}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{430,367}}</string>
        <key>sourceSize</key>
        <string>{430,367}</string>
      </dict>
      <key>monster_40093_0_1_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{368,431},{427,366}}</string>
        <key>offset</key>
        <string>{-216,226}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{427,366}}</string>
        <key>sourceSize</key>
        <string>{427,366}</string>
      </dict>
      <key>monster_40093_0_1_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1075,1199},{425,366}}</string>
        <key>offset</key>
        <string>{-214,226}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{425,366}}</string>
        <key>sourceSize</key>
        <string>{425,366}</string>
      </dict>
      <key>monster_40093_0_1_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{370,860},{427,366}}</string>
        <key>offset</key>
        <string>{-216,226}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{427,366}}</string>
        <key>sourceSize</key>
        <string>{427,366}</string>
      </dict>
      <key>monster_40093_0_1_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{736,431},{427,368}}</string>
        <key>offset</key>
        <string>{-216,228}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{427,368}}</string>
        <key>sourceSize</key>
        <string>{427,368}</string>
      </dict>
      <key>monster_40093_0_1_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1444,676},{426,367}}</string>
        <key>offset</key>
        <string>{-215,227}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{426,367}}</string>
        <key>sourceSize</key>
        <string>{426,367}</string>
      </dict>
      <key>monster_40093_0_1_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{737,0},{427,367}}</string>
        <key>offset</key>
        <string>{-216,227}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{427,367}}</string>
        <key>sourceSize</key>
        <string>{427,367}</string>
      </dict>
      <key>monster_40093_0_1_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1075,1626},{414,337}}</string>
        <key>offset</key>
        <string>{-217,237}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{414,337}}</string>
        <key>sourceSize</key>
        <string>{414,337}</string>
      </dict>
      <key>monster_40093_0_1_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{1414,1626},{414,336}}</string>
        <key>offset</key>
        <string>{-217,237}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{414,336}}</string>
        <key>sourceSize</key>
        <string>{414,336}</string>
      </dict>
      <key>monster_40093_0_1_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1443,1045},{414,336}}</string>
        <key>offset</key>
        <string>{-217,237}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{414,336}}</string>
        <key>sourceSize</key>
        <string>{414,336}</string>
      </dict>
      <key>monster_40093_0_1_4_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1106,0},{427,337}}</string>
        <key>offset</key>
        <string>{-217,237}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{427,337}}</string>
        <key>sourceSize</key>
        <string>{427,337}</string>
      </dict>
      <key>monster_40093_0_1_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{738,860},{426,337}}</string>
        <key>offset</key>
        <string>{-216,237}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{426,337}}</string>
        <key>sourceSize</key>
        <string>{426,337}</string>
      </dict>
      <key>monster_40093_0_1_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1445,0},{427,336}}</string>
        <key>offset</key>
        <string>{-217,237}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{427,336}}</string>
        <key>sourceSize</key>
        <string>{427,336}</string>
      </dict>
      <key>monster_40093_0_1_4_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1445,338},{427,336}}</string>
        <key>offset</key>
        <string>{-217,237}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{427,336}}</string>
        <key>sourceSize</key>
        <string>{427,336}</string>
      </dict>
      <key>monster_40093_0_1_4_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{737,1289},{426,336}}</string>
        <key>offset</key>
        <string>{-216,237}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{426,336}}</string>
        <key>sourceSize</key>
        <string>{426,336}</string>
      </dict>
      <key>monster_40093_0_1_4_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1106,429},{427,336}}</string>
        <key>offset</key>
        <string>{-217,237}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{427,336}}</string>
        <key>sourceSize</key>
        <string>{427,336}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_40093_0_1_0.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>monster_40093_0_1_0.png</string>
    </dict>
  </dict>
</plist>