<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_20059_0_4_0_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1200,1106},{228,209}}</string>
        <key>offset</key>
        <string>{-22,106}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{228,209}}</string>
        <key>sourceSize</key>
        <string>{228,209}</string>
      </dict>
      <key>monster_20059_0_4_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{710,1405},{199,201}}</string>
        <key>offset</key>
        <string>{-28,93}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{199,201}}</string>
        <key>sourceSize</key>
        <string>{199,201}</string>
      </dict>
      <key>monster_20059_0_4_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1424,1332},{194,205}}</string>
        <key>offset</key>
        <string>{-34,97}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{194,205}}</string>
        <key>sourceSize</key>
        <string>{194,205}</string>
      </dict>
      <key>monster_20059_0_4_0_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1193,0},{202,254}}</string>
        <key>offset</key>
        <string>{-32,146}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{202,254}}</string>
        <key>sourceSize</key>
        <string>{202,254}</string>
      </dict>
      <key>monster_20059_0_4_0_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1214,669},{242,225}}</string>
        <key>offset</key>
        <string>{-38,103}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{242,225}}</string>
        <key>sourceSize</key>
        <string>{242,225}</string>
      </dict>
      <key>monster_20059_0_4_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1193,204},{252,249}}</string>
        <key>offset</key>
        <string>{-51,65}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{252,249}}</string>
        <key>sourceSize</key>
        <string>{252,249}</string>
      </dict>
      <key>monster_20059_0_4_0_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,862},{244,275}}</string>
        <key>offset</key>
        <string>{-61,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{244,275}}</string>
        <key>sourceSize</key>
        <string>{244,275}</string>
      </dict>
      <key>monster_20059_0_4_0_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{710,1139},{254,264}}</string>
        <key>offset</key>
        <string>{-60,53}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{254,264}}</string>
        <key>sourceSize</key>
        <string>{254,264}</string>
      </dict>
      <key>monster_20059_0_4_0_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{397,582},{278,239}}</string>
        <key>offset</key>
        <string>{-70,39}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{278,239}}</string>
        <key>sourceSize</key>
        <string>{278,239}</string>
      </dict>
      <key>monster_20059_0_4_0_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{638,568},{272,235}}</string>
        <key>offset</key>
        <string>{-81,29}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{272,235}}</string>
        <key>sourceSize</key>
        <string>{272,235}</string>
      </dict>
      <key>monster_20059_0_4_1_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{504,1227},{279,204}}</string>
        <key>offset</key>
        <string>{-81,107}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{279,204}}</string>
        <key>sourceSize</key>
        <string>{279,204}</string>
      </dict>
      <key>monster_20059_0_4_1_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{334,0},{289,205}}</string>
        <key>offset</key>
        <string>{-95,102}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{289,205}}</string>
        <key>sourceSize</key>
        <string>{289,205}</string>
      </dict>
      <key>monster_20059_0_4_1_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{541,0},{288,208}}</string>
        <key>offset</key>
        <string>{-98,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{288,208}}</string>
        <key>sourceSize</key>
        <string>{288,208}</string>
      </dict>
      <key>monster_20059_0_4_1_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{353,291},{289,225}}</string>
        <key>offset</key>
        <string>{-100,108}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{289,225}}</string>
        <key>sourceSize</key>
        <string>{289,225}</string>
      </dict>
      <key>monster_20059_0_4_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1392,455},{205,198}}</string>
        <key>offset</key>
        <string>{-93,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{205,198}}</string>
        <key>sourceSize</key>
        <string>{205,198}</string>
      </dict>
      <key>monster_20059_0_4_1_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{1214,896},{208,231}}</string>
        <key>offset</key>
        <string>{-109,60}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{208,231}}</string>
        <key>sourceSize</key>
        <string>{208,231}</string>
      </dict>
      <key>monster_20059_0_4_1_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{751,0},{221,266}}</string>
        <key>offset</key>
        <string>{-120,61}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{221,266}}</string>
        <key>sourceSize</key>
        <string>{221,266}</string>
      </dict>
      <key>monster_20059_0_4_1_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,1250},{215,286}}</string>
        <key>offset</key>
        <string>{-116,69}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{215,286}}</string>
        <key>sourceSize</key>
        <string>{215,286}</string>
      </dict>
      <key>monster_20059_0_4_1_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{288,1232},{214,282}}</string>
        <key>offset</key>
        <string>{-115,58}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{214,282}}</string>
        <key>sourceSize</key>
        <string>{214,282}</string>
      </dict>
      <key>monster_20059_0_4_1_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1003,821},{209,246}}</string>
        <key>offset</key>
        <string>{-100,22}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{209,246}}</string>
        <key>sourceSize</key>
        <string>{209,246}</string>
      </dict>
      <key>monster_20059_0_4_2_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{346,944},{202,281}}</string>
        <key>offset</key>
        <string>{-93,130}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{202,281}}</string>
        <key>sourceSize</key>
        <string>{202,281}</string>
      </dict>
      <key>monster_20059_0_4_2_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{966,1107},{232,247}}</string>
        <key>offset</key>
        <string>{-107,127}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{232,247}}</string>
        <key>sourceSize</key>
        <string>{232,247}</string>
      </dict>
      <key>monster_20059_0_4_2_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{875,562},{257,220}}</string>
        <key>offset</key>
        <string>{-108,121}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{257,220}}</string>
        <key>sourceSize</key>
        <string>{257,220}</string>
      </dict>
      <key>monster_20059_0_4_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{956,268},{256,184}}</string>
        <key>offset</key>
        <string>{-101,108}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{256,184}}</string>
        <key>sourceSize</key>
        <string>{256,184}</string>
      </dict>
      <key>monster_20059_0_4_2_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1200,1317},{213,222}}</string>
        <key>offset</key>
        <string>{-118,126}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{213,222}}</string>
        <key>sourceSize</key>
        <string>{213,222}</string>
      </dict>
      <key>monster_20059_0_4_2_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,640},{303,180}}</string>
        <key>offset</key>
        <string>{-209,82}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{303,180}}</string>
        <key>sourceSize</key>
        <string>{303,180}</string>
      </dict>
      <key>monster_20059_0_4_2_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{322,167}}</string>
        <key>offset</key>
        <string>{-232,74}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{322,167}}</string>
        <key>sourceSize</key>
        <string>{322,167}</string>
      </dict>
      <key>monster_20059_0_4_2_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,324},{314,193}}</string>
        <key>offset</key>
        <string>{-227,85}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{314,193}}</string>
        <key>sourceSize</key>
        <string>{314,193}</string>
      </dict>
      <key>monster_20059_0_4_2_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{182,640},{302,213}}</string>
        <key>offset</key>
        <string>{-219,87}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{302,213}}</string>
        <key>sourceSize</key>
        <string>{302,213}</string>
      </dict>
      <key>monster_20059_0_4_2_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,945},{303,182}}</string>
        <key>offset</key>
        <string>{-221,57}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{303,182}}</string>
        <key>sourceSize</key>
        <string>{303,182}</string>
      </dict>
      <key>monster_20059_0_4_3_0000.png</key>
      <dict>
        <key>frame</key>
        <string>{{748,290},{206,270}}</string>
        <key>offset</key>
        <string>{-89,141}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{206,270}}</string>
        <key>sourceSize</key>
        <string>{206,270}</string>
      </dict>
      <key>monster_20059_0_4_3_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{796,842},{205,263}}</string>
        <key>offset</key>
        <string>{-89,140}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{205,263}}</string>
        <key>sourceSize</key>
        <string>{205,263}</string>
      </dict>
      <key>monster_20059_0_4_3_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1142,455},{212,248}}</string>
        <key>offset</key>
        <string>{-100,137}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{212,248}}</string>
        <key>sourceSize</key>
        <string>{212,248}</string>
      </dict>
      <key>monster_20059_0_4_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{966,1356},{202,197}}</string>
        <key>offset</key>
        <string>{-105,129}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{202,197}}</string>
        <key>sourceSize</key>
        <string>{202,197}</string>
      </dict>
      <key>monster_20059_0_4_3_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{1430,1106},{180,224}}</string>
        <key>offset</key>
        <string>{-97,173}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{180,224}}</string>
        <key>sourceSize</key>
        <string>{180,224}</string>
      </dict>
      <key>monster_20059_0_4_3_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{974,0},{255,217}}</string>
        <key>offset</key>
        <string>{-175,161}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{255,217}}</string>
        <key>sourceSize</key>
        <string>{255,217}</string>
      </dict>
      <key>monster_20059_0_4_3_0006.png</key>
      <dict>
        <key>frame</key>
        <string>{{580,290},{276,166}}</string>
        <key>offset</key>
        <string>{-194,113}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{276,166}}</string>
        <key>sourceSize</key>
        <string>{276,166}</string>
      </dict>
      <key>monster_20059_0_4_3_0007.png</key>
      <dict>
        <key>frame</key>
        <string>{{195,306},{294,156}}</string>
        <key>offset</key>
        <string>{-204,98}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{294,156}}</string>
        <key>sourceSize</key>
        <string>{294,156}</string>
      </dict>
      <key>monster_20059_0_4_3_0008.png</key>
      <dict>
        <key>frame</key>
        <string>{{169,0},{304,163}}</string>
        <key>offset</key>
        <string>{-212,94}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{304,163}}</string>
        <key>sourceSize</key>
        <string>{304,163}</string>
      </dict>
      <key>monster_20059_0_4_3_0009.png</key>
      <dict>
        <key>frame</key>
        <string>{{184,944},{286,160}}</string>
        <key>offset</key>
        <string>{-209,78}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{286,160}}</string>
        <key>sourceSize</key>
        <string>{286,160}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_20059_0_4_0.png</string>
      <key>size</key>
      <string>{1626,1647}</string>
      <key>textureFileName</key>
      <string>monster_20059_0_4_0.png</string>
    </dict>
  </dict>
</plist>