<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monster_40008_0_2_0_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{530,254}}</string>
        <key>offset</key>
        <string>{-246,128}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{530,254}}</string>
        <key>sourceSize</key>
        <string>{530,254}</string>
      </dict>
      <key>monster_40008_0_2_0_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{256,208},{463,258}}</string>
        <key>offset</key>
        <string>{-225,146}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{463,258}}</string>
        <key>sourceSize</key>
        <string>{463,258}</string>
      </dict>
      <key>monster_40008_0_2_0_0005.png</key>
      <dict>
        <key>frame</key>
        <string>{{721,465},{461,238}}</string>
        <key>offset</key>
        <string>{-134,150}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{461,238}}</string>
        <key>sourceSize</key>
        <string>{461,238}</string>
      </dict>
      <key>monster_40008_0_2_1_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,532},{484,217}}</string>
        <key>offset</key>
        <string>{-336,141}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{484,217}}</string>
        <key>sourceSize</key>
        <string>{484,217}</string>
      </dict>
      <key>monster_40008_0_2_2_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1237,386},{331,217}}</string>
        <key>offset</key>
        <string>{-221,181}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{331,217}}</string>
        <key>sourceSize</key>
        <string>{331,217}</string>
      </dict>
      <key>monster_40008_0_2_3_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{448,468},{384,239}}</string>
        <key>offset</key>
        <string>{-257,210}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{384,239}}</string>
        <key>sourceSize</key>
        <string>{384,239}</string>
      </dict>
      <key>monster_40008_0_2_4_0001.png</key>
      <dict>
        <key>frame</key>
        <string>{{256,0},{530,206}}</string>
        <key>offset</key>
        <string>{-238,161}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{530,206}}</string>
        <key>sourceSize</key>
        <string>{530,206}</string>
      </dict>
      <key>monster_40008_0_2_4_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{788,0},{463,193}}</string>
        <key>offset</key>
        <string>{-192,158}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{463,193}}</string>
        <key>sourceSize</key>
        <string>{463,193}</string>
      </dict>
      <key>monster_40008_0_2_5_0004.png</key>
      <dict>
        <key>frame</key>
        <string>{{219,532},{484,227}}</string>
        <key>offset</key>
        <string>{-102,186}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{484,227}}</string>
        <key>sourceSize</key>
        <string>{484,227}</string>
      </dict>
      <key>monster_40008_0_2_6_0002.png</key>
      <dict>
        <key>frame</key>
        <string>{{961,465},{393,274}}</string>
        <key>offset</key>
        <string>{-85,158}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{393,274}}</string>
        <key>sourceSize</key>
        <string>{393,274}</string>
      </dict>
      <key>monster_40008_0_2_6_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{1237,719},{331,279}}</string>
        <key>offset</key>
        <string>{-64,169}</string>
        <key>rotated</key>
        <false />
        <key>sourceColorRect</key>
        <string>{{0,0},{331,279}}</string>
        <key>sourceSize</key>
        <string>{331,279}</string>
      </dict>
      <key>monster_40008_0_2_7_0003.png</key>
      <dict>
        <key>frame</key>
        <string>{{983,0},{384,297}}</string>
        <key>offset</key>
        <string>{-81,156}</string>
        <key>rotated</key>
        <true />
        <key>sourceColorRect</key>
        <string>{{0,0},{384,297}}</string>
        <key>sourceSize</key>
        <string>{384,297}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monster_40008_0_2_1.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>monster_40008_0_2_1.png</string>
    </dict>
  </dict>
</plist>